{{ form_start(form_phone, { 'attr': {
    'class': 'phone-search-dropdown',
    'data-phones': phones|json_encode|raw,
    'autocomplete': 'off'
}}) }}
    <div class="row">
        <div class="form-group col-sm-4">
            {{ form_widget(form_phone.make, {
              'attr': {
                'class': 'form-control phone-search-dropdown__make'
            }}) }}
        </div>
        <div class="form-group col-sm-4">
            {{ form_widget(form_phone.model, {
              'attr': {
                'class': 'form-control phone-search-dropdown__model',
                'disabled': 'disabled'
            }}) }}
        </div>
        <div class="form-group col-sm-4">
            {{ form_widget(form_phone.memory, {
                'attr': {
                    'class': 'form-control phone-search-dropdown__memory',
                    'disabled': 'disabled'
            }}) }}
        </div>
    </div>
    <div class="form-group mt-4">
        {{ form_widget(form_phone.next, {
          'label': 'Show my prices',
          'attr': {
            'class': 'btn btn-outline-white btn-lg phone-search-dropdown__button',
            'disabled': 'disabled'
        }}) }}
    </div>
{{ form_end(form_phone) }}
