<div class="cardbox cardbox-100 p-4 p-lg-5 pb-lg-0 ðŸ†">
    <div class="mb-3 h3 text-primary fit">Cheap, Fast &amp; Easy</div>
    <ul class="list-unstyled icn-fa-list mb-4">
        <li class="mb-2">
            <i class="far fa-check fa-lg fa-fw text-success"></i>
            Low price and excess from &pound;50
        </li>
        <li class="mb-2">
            <i class="far fa-check fa-lg fa-fw text-success"></i>
            Fast replace and repair service
        </li>
        <li class="mb-2">
            <i class="far fa-check fa-lg fa-fw text-success"></i>
            Easy cashback scheme
        </li>
    </ul>
    {{ form_start(form_phone, { 'attr': {
        'data-toggle': 'validator',
        'class': 'phone-search-dropdown-card validate-form',
        'data-client-validation': form_client_validation,
        'data-phones': phones|json_encode|raw,
        'autocomplete': 'off'
    }}) }}
        <div class="form-group">
            {{ form_widget(form_phone.make, {
              'attr': {
                'class': 'form-control phone-search-dropdown-card__select phone-search-option-make'
            }}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form_phone.model, {
              'attr': {
                'class': 'form-control phone-search-dropdown-card__select phone-search-option-model',
                'disabled': 'disabled'
            }}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form_phone.memory, {
                'attr': {
                    'class': 'form-control phone-search-dropdown-card__select  phone-search-option-memory',
                    'disabled': 'disabled'
            }}) }}
        </div>
        <div class="form-group">
            <input type="email"
                   class="form-control phone-search-dropdown-card__text phone-search-email"
                   placeholder="Email (optional)"
                   disabled="disabled"
                   name="launch_phone[email]">
        </div>
        <div class="form-group">
            {{ form_widget(form_phone.next, {
              'label': 'Get my quote',
              'attr': {
                'class': 'btn btn-secondary btn-block phone-search-button',
                'disabled': 'disabled'
            }}) }}
        </div>
        <input type="hidden" name="token" value="{{ csrf_token('quote') }}"/>
    {{ form_end(form_phone) }}
</div>
