{{ form_start(form_phone, { 'attr': {
    'class': 'phone-search-dropdown',
    'data-phones': phones|json_encode|raw,
    'autocomplete': 'off'
}}) }}
    <div class="d-lg-flex align-items-center flex-wrap h1">
        <span class="mb-2 text-white mr-2">My mobile phone is <br class="d-inline d-sm-none"> <span id="a-rule">a</span></span>
        {{ form_widget(form_phone.make, {
          'attr': {
            'class': 'mb-2 mr-2 phone-search-dropdown__select phone-search-dropdown__make sub'
        }}) }}
        {{ form_widget(form_phone.model, {
          'attr': {
            'class': 'mb-2 mr-2 phone-search-dropdown__select phone-search-dropdown__model sub',
            'disabled': 'disabled'
        }}) }}
        <div class="phone-search-dropdown__break d-none d-lg-block"></div>
        <span class="text-white mr-2"><br class="d-inline d-sm-none"> that has</span>
        {{ form_widget(form_phone.memory, {
            'attr': {
                'class': 'mb-2 mr-2 phone-search-dropdown__select phone-search-dropdown__memory sub',
                'disabled': 'disabled'
        }}) }}
        <span class="mb-2 text-white d-block d-sm-inline">storage</span>
    </div>
    <div class="form-group mt-5">
        {{ form_widget(form_phone.next, {
          'label': 'Show my price',
          'attr': {
            'class': 'btn btn-outline-white btn-block-xs btn-lg phone-search-dropdown__button',
            'disabled': 'disabled'
        }}) }}
        <small class="form-text five-g-warning text-white hideme mt-4">Please double check your phone is the 5G version</small>
    </div>
    <input type="hidden" name="token" value="{{ csrf_token('quote') }}"/>
{{ form_end(form_phone) }}
