{{ form_start(form_phone, { 'attr': {
    'class': 'phone-search-dropdown',
    'data-phones': phones|json_encode|raw,
    'autocomplete': 'off'
}}) }}
    <div class="d-lg-flex align-items-center flex-wrap">
        <span class="h1 text-white">My mobile phone is an</span>
        {{ form_widget(form_phone.make, {
          'attr': {
            'class': 'form-control-lg ml-3 phone-search-dropdown__make'
        }}) }}
        {{ form_widget(form_phone.model, {
          'attr': {
            'class': 'form-control-lg ml-3 phone-search-dropdown__model',
            'disabled': 'disabled'
        }}) }}
        <div class="phone-search-dropdown__break"></div>
        <span class="h1 text-white">that has</span>
        {{ form_widget(form_phone.memory, {
            'attr': {
                'class': 'form-control-lg ml-3 mx-lg-3 phone-search-dropdown__memory',
                'disabled': 'disabled'
        }}) }}
        <span class="h1 text-white">storage</span>
    </div>
    <div class="form-group mt-5">
        {{ form_widget(form_phone.next, {
          'label': 'Show my prices',
          'attr': {
            'class': 'btn btn-outline-white phone-search-dropdown__button',
            'disabled': 'disabled'
        }}) }}
    </div>
{{ form_end(form_phone) }}
