<div class="cardbox cardbox-100 p-4 p-lg-5 pb-lg-0 ðŸ†">
    <div class="mb-3 h4 text-primary fit">
        Fair, Fast &amp; Easy ðŸ‡¬ðŸ‡§
    </div>
    <ul class="list-unstyled icn-fa-list mb-4">
        <li class="mb-2">
            <i class="far fa-check fa-lg fa-fw text-success"></i>
            24-72h repair or replace service
        </li>
        <li class="mb-2">
            <i class="far fa-check fa-lg fa-fw text-success"></i>
            Up to 80% no claims cashback
        </li>
        <li class="mb-2">
            <i class="far fa-check fa-lg fa-fw text-success"></i>
            Low price and excess from {{ lowest_excess }}
        </li>
    </ul>
    {{ form_start(form_phone, { 'attr': {
        'data-toggle': 'validator',
        'class': 'phone-search-dropdown-card validate-form',
        'data-client-validation': form_client_validation,
        'data-phones': phones|json_encode|raw,
        'autocomplete': 'off'
    }}) }}
        <div class="form-group">
            {{ form_widget(form_phone.make, {
              'attr': {
                'class': 'form-control phone-search-dropdown-card__select phone-search-option-make'
            }}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form_phone.model, {
              'attr': {
                'class': 'form-control phone-search-dropdown-card__select phone-search-option-model',
                'disabled': 'disabled'
            }}) }}
            <small class="form-text five-g-warning hideme">Please double check your phone is the 5G version</small>
        </div>
        <div class="form-group">
            {{ form_widget(form_phone.memory, {
                'attr': {
                    'class': 'form-control phone-search-dropdown-card__select  phone-search-option-memory',
                    'disabled': 'disabled'
            }}) }}
        </div>
        <div class="form-group">
            <input type="email"
                   class="form-control phone-search-dropdown-card__text phone-search-email"
                   placeholder="Enter Email for Quote"
                   disabled="disabled"
                   name="launch_phone[email]">
        </div>
        <div class="form-group">
            {{ form_widget(form_phone.next, {
              'label': 'Get my quote',
              'attr': {
                'class': 'btn btn-success btn-block phone-search-button'
            }}) }}
        </div>
    {{ form_end(form_phone) }}
</div>
