{# Any changes to error pages should also be reflected in the varnish error page - cdn files + varnish vcl file #}
{% extends '::base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'error-page' %}

{% block title %}so-sure - Server Error{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/error.css') }}">
{% endblock %}

{% block body %}
    <section class="exception d-flex align-items-center text-center">
        <div class="container">
            <img class="logo" src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_broken-phone.png" alt="Unhappy so-sure" width="200px" class="d-block" />
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <h1 class="text-white">Access Denied</h1>
                <h2 class="text-white">Impersonating a User</h2>
                <p class="text-white">
                  You're current impersonating <strong>{{ app.user.email }}</strong> <a href="{{ path('homepage', {'_impersonate': '_exit'}) }}">Logout?</a>
                </p>
            {% else %}
                <h1 class="text-white">Access Denied</h1>
                <p class="text-white">Looks like you're trying to view something you're not currently allowed to view. Maybe you're not logged in?  Or logged in with the wrong account?</p>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/error.js') }}"></script>
{% endblock %}
