{% if app.user is not null and app.user %}
    <li class="nav-item d-none {{ menu_breakpoint }} pr-xl-4">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_home') }}" class="nav-link user-link">Admin</a>
        {% elseif is_granted('ROLE_EMPLOYEE') %}
            <a href="{{ path('admin_home') }}" class="nav-link user-link">Admin</a>
        {% elseif is_granted('ROLE_CLAIMS') %}
            <a href="{{ path('claims_home') }}" class="nav-link user-link">Claims</a>
        {% endif %}
    </li>
    <li class="nav-item d-none {{ menu_breakpoint }} pr-xl-4">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_policies') }}" class="nav-link user-link">Policies</a>
        {% elseif is_granted('ROLE_EMPLOYEE') %}
            <a href="{{ path('admin_policies') }}" class="nav-link user-link">Policies</a>
        {% endif %}
    </li>
    <li class="nav-item d-none {{ menu_breakpoint }} pr-xl-4">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_phones') }}" class="nav-link user-link">Phones</a>
        {% elseif is_granted('ROLE_EMPLOYEE') %}
            <a href="{{ path('admin_phones') }}" class="nav-link user-link">Phones</a>
        {% endif %}
    </li>
    <li class="nav-item d-none {{ menu_breakpoint }} pr-xl-4">
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <a href="{{ path('homepage', {'_impersonate': '_exit'}) }}" class="nav-link user-link">Exit <u>{{ app.user.email }}</u></a>
        {% else %}
            <a href="{{ path('fos_user_security_logout') }}" class="nav-link user-link">Log out</i></a>
        {% endif %}
    </li>
{% endif %}
{# Mobile Login - this shows inside the navigation only #}
<li class="nav-item d-none-xxs {{ menu_show }} pr-xl-4">
    {% if app.user is not null and app.user %}
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <a href="{{ path('homepage', {'_impersonate': '_exit'}) }}"
               class="btn btn-outline-deep-sky-blue-d btn-sm show-in-nav btn-swap hideme"
               title="{{ app.user.email }}"
               ><i class="fas fa-user fa-fw"></i>
                Exit User</a>
        {% else %}
            <a href="{{ path('fos_user_security_logout') }}"
               class="btn btn-outline-deep-sky-blue-d btn-sm show-in-nav btn-swap hideme">
               <i class="fas fa-user fa-fw"></i> Log out</i></a>
        {% endif %}
    {% else %}
        <a href="{{ path('fos_user_security_login') }}"
           class="btn btn-outline-deep-sky-blue-d btn-sm show-in-nav btn-swap hideme"><i class="fas fa-user fa-fw"></i> Customer login</a>
    {% endif %}
</li>
