{# Set menu vars #}
{% set navbar_classes = 'navbar-so-sure fixed-top' %}
{% set navbar_container_classes = 'container-large d-flex justify-content-between align-items-center' %}
{% if full_width is defined and full_width == true %}
    {% set navbar_classes = 'navbar-so-sure-quote fixed-top' %}
    {% set navbar_container_classes = '' %}
{% endif %}
{% if admin_mode is defined and admin_mode == true %}
    {% set navbar_container_classes = 'd-flex justify-content-between align-items-center w-100' %}
{% endif %}
{% if onboarding_mode is defined and onboarding_mode == true %}
    {% set navbar_classes = 'navbar-so-sure' %}
    {% set navbar_container_classes = 'd-flex justify-content-between align-items-center w-100' %}
{% endif %}
{% set menu_breakpoint = 'd-xl-block' %}
{% set menu_show = 'd-xl-none' %}

{# Main Navbar #}
<nav id="main_nav" class="navbar {{ navbar_classes }}">
    <div class="{{ navbar_container_classes }}">
        <a href="{{ url('homepage') }}" class="navbar-brand">
            <div class="navbar-brand__logo"></div>
            <span class="sr-only">so-sure</span>
        </a>
        {# Nav Types #}
        <ul class="nav navbar-nav flex-row align-items-center">
            {% if admin_mode is defined and admin_mode == true %}
                {% include '::navigation/admin.html.twig' %}
                <li class="nav-item d-flex align-items-center {{ menu_show }}">
                    <button id="nav_toggle" class="hamburger hamburger--spring-r hamburger--collapse show-in-nav" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </li>
            {% elseif login_mode is defined and login_mode == true %}
                {# NOTHING #}
            {% elseif user_mode is defined and user_mode == true %}
                {% include '::navigation/user.html.twig' %}
                <li class="nav-item d-flex align-items-center {{ menu_show }}">
                    <button id="nav_toggle" class="hamburger hamburger--spring-r hamburger--collapse show-in-nav" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </li>
            {% elseif onboarding_mode is defined and onboarding_mode == true %}
                {% include '::navigation/onboarding.html.twig' %}
            {% else %}
                {% include '::navigation/standard.html.twig' %}
                <li class="nav-item {{ menu_show }}">
                    <button id="nav_toggle" class="hamburger hamburger--spring-r hamburger--collapse show-in-nav" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </li>
            {% endif %}
        </ul>
        {% if user_mode is defined and user_mode == true %}
            {% include '::navigation/userDropdown.html.twig' %}
        {% endif %}
    </div>

    {# Get a Quote #}
    {% if include_get_a_quote is defined and include_get_a_quote == true %}
        {% include 'AppBundle::Search/getQuote.html.twig' %}
    {% endif %}

    {# Mobile Menu #}
    {% if user_mode is defined and user_mode == true %}
        {% include '::navigation/menuUser.html.twig' %}
    {% else %}
        {% include '::navigation/menu.html.twig' %}
    {% endif %}
</nav>


