{# Set menu vars and experiments #}
{% set navbar_class = 'navbar-so-sure fixed-top' %}
{% if quote_mode is defined and quote_mode == true %}
    {% set navbar_class = 'navbar-so-sure-quote fixed-top' %}
{% endif %}
{% if onboarding_mode is defined and onboarding_mode == true %}
    {% set navbar_class = 'navbar-so-sure' %}
{% endif %}
{% set menu_breakpoint = 'd-xl-block' %}
{% set menu_show = 'd-xl-none' %}

<nav id="main-nav" class="navbar {{ navbar_class }} {% if admin_mode is defined and admin_mode == true or quote_mode is defined and quote_mode == true or onboarding_mode is defined and onboarding_mode == true %}justify-content-between flex-nowrap flex-row{% endif %}">

    {# Navs - Look to depricate modes ASAP #}
    {% if admin_mode is defined and admin_mode == true %}
        {# Logo #}
        <a href="/" class="navbar-brand show-in-nav show-in-quote">
            <div class="navbar-brand__logo"></div>
            <span class="sr-only">so-sure</span>
        </a>
        {% include '::navigation/admin.html.twig' %}
    {% elseif quote_mode is defined and quote_mode == true %}
        {# Logo #}
        <a href="/" class="navbar-brand show-in-nav show-in-quote">
            <div class="navbar-brand__logo"></div>
            <span class="sr-only">so-sure</span>
        </a>
    {% elseif funnel_mode is defined and funnel_mode == true %}
        <div class="container-large d-flex justify-content-between align-items-center">
            {# Logo #}
            <a href="/" class="navbar-brand show-in-nav show-in-quote">
                <div class="navbar-brand__logo"></div>
                <span class="sr-only">so-sure</span>
            </a>
        </div>
    {% elseif instore_mode is defined and instore_mode == true %}
        <div class="container-large d-flex justify-content-between align-items-center">
            {# Logo #}
            <a href="{{ app.request.uri }}" class="navbar-brand show-in-nav show-in-quote">
                <div class="navbar-brand__logo"></div>
                <span class="sr-only">so-sure</span>
            </a>
        </div>
    {% elseif onboarding_mode is defined and onboarding_mode == true %}
        {# Logo #}
        <a href="/" class="navbar-brand show-in-nav show-in-quote">
            <div class="navbar-brand__logo"></div>
            <span class="sr-only">so-sure</span>
        </a>
        {% include '::navigation/onboarding.html.twig' %}
    {% else %}
        <div class="{% if split_mode is defined and split_mode %}w-100{% else %}container-large{% endif %} d-flex justify-content-between align-items-center">
            {# Logo #}
            <a href="/" class="navbar-brand show-in-nav show-in-quote">
                <div class="navbar-brand__logo"></div>
                <span class="sr-only">so-sure</span>
            </a>
            {# Navs #}
            <ul class="nav navbar-nav flex-row align-items-center">
                <li class="nav-item dropdown d-none {{ menu_breakpoint }} pr-xl-4">
                    <a href="{{ path('phone_insurance') }}"
                       class="nav-link dropdown-toggle"
                       id="phone_insurance_nav"
                       role="button"
                       {# data-toggle="dropdown" #}
                       aria-haspopup="true"
                       aria-expanded="false">Phone Insurance <i class="far fa-sm text-columbia-blue-f fa-chevron-down ml-2"></i></a>
                    <div class="dropdown-menu dropdown-menu-nav" aria-labelledby="phone_insurance_nav">
                        <a class="dropdown-item dropdown-item-nav h6 mb-0"
                           href="{{ path('phone_insurance_make', {'make': 'apple'}) }}">
                            <img src="{{ cdn_url }}/images/rebrand/phones/apple/so-sure_half-iphone-x-img.png" alt="so-sure - iPhone insurance" width="50px" class="mr-4">
                            <span>
                                iPhone <br>
                                <small class="sub text-zaffre">Insurance</small>
                            </span>
                        </a>
                        <a class="dropdown-item dropdown-item-nav h6 mb-0"
                           href="{{ path('phone_insurance_make', {'make': 'samsung'}) }}">
                            <img src="{{ cdn_url }}/images/rebrand/phones/samsung/so-sure_half-galaxy-s9-img.png" alt="so-sure - Samsung insurance" width="50px" class="mr-4">
                            <span>
                                Samsung <br>
                                <small class="sub text-zaffre">Insurance</small>
                            </span>
                        </a>
                        <a class="dropdown-item dropdown-item-nav h6 mb-0"
                           href="{{ path('phone_insurance_make', {'make': 'lg'}) }}">
                            <img src="{{ cdn_url }}/images/rebrand/phones/lg/so-sure_half-k30-img.png" alt="so-sure - LG insurance" width="50px" class="mr-4">
                            <span>
                                LG <br>
                                <small class="sub text-zaffre">Insurance</small>
                            </span>
                        </a>
                        <a class="dropdown-item dropdown-item-nav h6 mb-0"
                           href="{{ path('phone_insurance_make', {'make': 'google'}) }}">
                            <img src="{{ cdn_url }}/images/rebrand/phones/google/so-sure_half-pixel-3-img.png" alt="so-sure - Google Pixel insurance" width="50px" class="mr-4">
                            <span>
                                Google Pixel <br>
                                <small class="sub text-zaffre">Insurance</small>
                            </span>
                        </a>
                        <a class="dropdown-item dropdown-item-nav h6 mb-0"
                           href="{{ path('phone_insurance_make', {'make': 'huawei'}) }}">
                            <img src="{{ cdn_url }}/images/rebrand/phones/huawei/so-sure_half-mate-20-pro-img.png" alt="so-sure - Huawei insurance" width="50px" class="mr-4">
                            <span>
                                Huawei <br>
                                <small class="sub text-zaffre">Insurance</small>
                            </span>
                        </a>
                        <a class="dropdown-item dropdown-item-nav h6 mb-0"
                           href="{{ path('phone_insurance_make', {'make': 'sony'}) }}">
                            <img src="{{ cdn_url }}/images/rebrand/phones/sony/so-sure_half-xperia-10-plus-img.png" alt="so-sure - Sony insurance" width="50px" class="mr-4">
                            <span>
                                Sony <br>
                                <small class="sub text-zaffre">Insurance</small>
                            </span>
                        </a>
                        <a class="dropdown-item dropdown-item-nav h6 mb-0"
                           href="{{ path('phone_insurance') }}#other_manufacturers">
                           <img src="{{ cdn_url }}/images/rebrand/phones/generic/so-sure_half-phone.png" alt="so-sure - Phone insurance" width="50px" class="mr-4">
                            <span>
                                View all
                            </span>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown d-none {{ menu_breakpoint }} pr-xl-4">
                    <a href="#"
                       class="nav-link dropdown-toggle"
                       id="why_so_sure_nav"
                       role="button"
                       {# data-toggle="dropdown" #}
                       aria-haspopup="true"
                       aria-expanded="false">Why so-sure? <i class="far fa-sm text-columbia-blue-f fa-chevron-down ml-2"></i></a>
                    <div class="dropdown-menu dropdown-menu-nav" aria-labelledby="why_so_sure_nav">
                        <a class="dropdown-item dropdown-item-nav h6 mb-0"
                           href="{{ path('social_insurance') }}">
                            <img src="{{ cdn_url }}/images/rebrand/nav-icons/so-sure_nav_icon_social_insurance.png" alt="so-sure - Social insurance" width="50px" class="mr-4">
                            <span>
                                Social insurance 🤔<br>
                                <small class="sub text-zaffre">What is social insurance?</small>
                            </span>
                        </a>
                        <a class="dropdown-item dropdown-item-nav h6 mb-0"
                           href="{{ path('comparison') }}">
                            <img src="{{ cdn_url }}/images/rebrand/nav-icons/so-sure_nav_icon_compare_cover.png" alt="so-sure - Compare cover" width="50px" class="mr-4">
                            <span>
                                Compare cover 😎<br>
                                <small class="sub text-zaffre">Why we're better than the rest!</small>
                            </span>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown d-none {{ menu_breakpoint }} pr-xl-4">
                    <a href="#"
                       class="nav-link dropdown-toggle"
                       id="about_us_nav"
                       role="button"
                       {# data-toggle="dropdown" #}
                       aria-haspopup="true"
                       aria-expanded="false">About us <i class="far fa-sm text-columbia-blue-f fa-chevron-down ml-2"></i></a>
                    <div class="dropdown-menu dropdown-menu-nav" aria-labelledby="about_us_nav">
                        <a class="dropdown-item dropdown-item-nav h6 mb-0"
                           href="{{ path('faq') }}">
                            <img src="{{ cdn_url }}/images/rebrand/nav-icons/so-sure_nav_icon_faqs.png" alt="so-sure - FAQs" width="50px" class="mr-4">
                            <span>
                                FAQs 🤓<br>
                                <small class="sub text-zaffre">We all need a little extra info</small>
                            </span>
                        </a>
                        <a class="dropdown-item dropdown-item-nav h6 mb-0"
                           href="{{ path('about_how_to_contact_so_sure') }}">
                            <img src="{{ cdn_url }}/images/rebrand/nav-icons/so-sure_nav_icon_contact_us.png" alt="so-sure - Contact us" width="50px" class="mr-4">
                            <span>
                                Contact us 💬<br>
                                <small class="sub text-zaffre">We are always happy to talk</small>
                            </span>
                        </a>
                        <a class="dropdown-item dropdown-item-nav h6 mb-0"
                           href="{{ path('blog_index') }}">
                            <img src="{{ cdn_url }}/images/rebrand/nav-icons/so-sure_nav_icon_reviews.png" alt="so-sure - Blog" width="50px" class="mr-4">
                            <span>
                                Blog 📚<br>
                                <small class="sub text-zaffre">Insurance and bits</small>
                            </span>
                        </a>
                        <a class="dropdown-item dropdown-item-nav h6 mb-0"
                           href="{{ path('careers') }}">
                            <img src="{{ cdn_url }}/images/rebrand/nav-icons/so-sure_nav_icon_careers.png" alt="so-sure - Careers" width="50px" class="mr-4">
                            <span>
                                Careers 👩‍💻<br>
                                <small class="sub text-zaffre">Fancy working with us?</small>
                            </span>
                        </a>
                    </div>
                </li>
                {% if hide_login is not defined %}
                    <li class="nav-item d-none {{ menu_breakpoint }} pr-xl-4">
                        <a href="{{ path('claim') }}"
                           class="nav-link {{ app.request.get('_route') == 'claim' ? 'nav-active' }}">
                            Make a Claim
                        </a>
                    </li>
                {% endif %}
                {% if hide_quote_btn is not defined %}
                    {% if user_mode is not defined %}
                        <li class="nav-item pr-xl-4">
                            {% if app.user is not null and app.user %}
                                {% if not app.user.hasPolicy and app.user.hasPartialPolicy %}
                                    <a href="{{ path('purchase') }}"
                                       class="btn btn-sm py-1 btn-white btn-swap"
                                       title="Resume insuring your {{ app.user.policies|first.phone }}">
                                       Resume <span class="ml-1 badge badge-success">{{ app.user.getPartialPolicies|length }}</span>
                                    </a>
                                {% else %}
                                    <a id="quote_btn" href="#" class="btn btn-sm py-1 btn-white get-a-quote disabled btn-shadow btn-swap">Get a Quote</a>
                                {% endif %}
                            {% else %}
                                <a id="quote_btn" href="#" class="btn btn-sm py-1 btn-white get-a-quote disabled btn-shadow btn-swap">Get a Quote</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endif %}
                {# Mobile Login #}
                {% if hide_login is not defined %}
                    <li class="nav-item d-none-xxs {{ menu_show }} pr-xl-4">
                        {% if app.user is not null and app.user %}
                            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <a href="{{ path('homepage', {'_impersonate': '_exit'}) }}"
                                   class="btn btn-outline-white btn-sm show-in-nav btn-swap hideme"
                                   title="{{ app.user.email }}"
                                   ><i class="fas fa-user fa-fw"></i>
                                    Exit User</a>
                            {% else %}
                                <a href="{{ path('fos_user_security_logout') }}"
                                   class="btn btn-outline-white btn-sm show-in-nav btn-swap hideme">
                                   <i class="fas fa-user fa-fw"></i> Log out</i></a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}"
                               class="btn btn-outline-white btn-sm show-in-nav btn-swap hideme"><i class="fas fa-user fa-fw"></i> Customer login</a>
                        {% endif %}
                    </li>
                {% endif %}
                {# End Mobile Login #}
                {# If Logged in #}
                {% if app.user is not null and app.user %}
                    <li class="nav-item d-none {{ menu_breakpoint }} pr-xl-4">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin_home') }}" class="nav-link user-link">Admin</a>
                        {% elseif is_granted('ROLE_EMPLOYEE') %}
                            <a href="{{ path('admin_home') }}" class="nav-link user-link">Admin</a>
                        {% elseif is_granted('ROLE_CLAIMS') %}
                            <a href="{{ path('claims_home') }}" class="nav-link user-link">Claims</a>
                        {% else %}
                            <a href="{{ path('user_home') }}" class="nav-link user-link">Your account</a>
                        {% endif %}
                    </li>
                {% endif %}
                {# End if Logged in #}
                {# Desktop Login #}
                {% if hide_login is not defined %}
                    <li class="nav-item d-none {{ menu_breakpoint }}">
                        {% if app.user is not null and app.user %}
                            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <a href="{{ path('homepage', {'_impersonate': '_exit'}) }}" class="nav-link user-link">Exit <u>{{ app.user.email|truncate(10)~'.'  }}</u></a>
                            {% else %}
                                <a href="{{ path('fos_user_security_logout') }}" class="nav-link user-link">Log out</i></a>
                            {% endif %}
                        {% else %}
                                <a href="{{ path('fos_user_security_login') }}"
                                   class="btn btn-outline-columbia-blue-f btn-sm">Customer login <i class="far fa-arrow-right fa-fw ml-2"></i></a>
                        {% endif %}
                    </li>
                {% endif %}
                {# End Desktop Login #}
                <li class="nav-item {{ menu_show }}">
                    <button id="nav_toggle" class="hamburger hamburger--spring-r hamburger--collapse show-in-nav" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </li>
            </ul>
        </div>
    {% endif %}

    {# Get a quote #}
    {# TODO: If not needed this should not be show, hopefully including here makes sense #}
    {% if exclude_remote_scripts is not defined or not exclude_remote_scripts %}
        {% if user_mode is not defined %}
            {% include 'AppBundle::Search/getQuote.html.twig' %}
        {% endif %}
    {% endif %}

    {# User Nav #}
    {% if user_mode is defined and user_mode == true %}
        {% include '::navigation/user.html.twig' %}
    {% endif %}

    {# Mobile Menu #}
    {% include '::navigation/menu.html.twig' %}
</nav>
