<div id="menu" class="menu {{ menu_show }}">
    <ul class="list-unstyled menu__links text-md-center">
        {% if policy is defined and policy %}
            <li>
                <a href="{{ path('user_policy', {'policyId': policy.id}) }}" class="h5">
                    Dashboard
                </a>
            </li>
            {% if policy.displayRenewal %}
                <li>
                    <a href="{{ path('user_renew_policy', {'id': policy.id }) }}" class="h5">
                        Renew <i class="fas fa-circle fa-fw text-success ml-2"></i></span>
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('user_invite_policy', {'id': policy.id }) }}" class="h5">
                    Invites
                </a>
            </li>
            <li>
                <a href="{{ path('user_claim_policy', {'policyId': policy.id}) }}" class="h5">
                    Claims
                </a>
            </li>
            <li>
                <a href="{{ path('user_payment_details_policy', {'policyId': policy.id}) }}" class="h5">
                    Payments
                </a>
            </li>
            <li>
                <a href="{{ path('user_policy_list_policy', {'policyId': policy.id}) }}" class="h5">
                    My Phones
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('user_home') }}" class="h5">
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{{ path('user_invite') }}" class="h5">
                    Invites
                </a>
            </li>
            <li>
                <a href="{{ path('user_claim') }}" class="h5">
                    Claims
                </a>
            </li>
            <li>
                <a href="{{ path('user_payment_details') }}" class="h5">
                    Payments
                </a>
            </li>
            <li>
                <a href="{{ path('user_policy_list') }}" class="h5">
                    My Phones
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('about_how_to_contact_so_sure') }}" class="h5">
                Contact us
            </a>
        </li>
        <li>
            <a href="{{ path('user_settings_policy') }}" class="h5">
                Your settings
            </a>
        </li>
    </ul>
</div>
