<div id="menu" class="menu d-flex flex-column {{ menu_show }}">
    <ul class="list-unstyled align-self-stretch text-md-center menu__links">
        <li>
            <a href="{{ path('phone_insurance') }}" class="h5">
                Phone insurance 📱
            </a>
        </li>
        <li>
            <a href="{{ path('social_insurance') }}" class="h5">
                Social insurance 🤔
            </a>
        </li>
        <li>
            <a href="{{ path('comparison') }}" class="h5">
                Compare cover 😎
            </a>
        </li>
        <li>
            <a href="{{ path('faq') }}" class="h5">
                FAQs 🤓
            </a>
        </li>
        <li>
            <a href="{{ path('about_how_to_contact_so_sure') }}" class="h5">
                Contact us 💬
            </a>
        </li>
        <li>
            <a href="{{ path('user_claim') }}" class="h5">
                Make a Claim 😢
            </a>
        </li>
        <li>
            <a href="{{ path('blog_index') }}" class="h5">
                Blog 📚
            </a>
        </li>
    </ul>
    <div class="px-5 py-4 text-md-center align-self-stretch menu__buttons">
        {% if app.user is not null and app.user %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_home') }}" class="btn btn-primary btn-block-xs">Admin</a>
            {% elseif is_granted('ROLE_EMPLOYEE') %}
                <a href="{{ path('admin_home') }}" class="btn btn-primary btn-block-xs">Admin</a>
            {% elseif is_granted('ROLE_CLAIMS') %}
                <a href="{{ path('claims_home') }}" class="btn btn-primary btn-block-xs">Claims</a>
            {% else %}
                <a href="{{ path('user_home') }}" class="btn btn-primary btn-block-xs">Your account</a>
            {% endif %}
        {% else %}
            <a href="#" class="btn btn-primary btn-blue-gradient btn-block-xs get-a-quote disabled">Get a Quote</a>
        {% endif %}
    </div>
</div>
