<div id="menu" class="menu {{ menu_show }}">
    <ul class="list-unstyled menu__links text-md-center">
        {% if app.user is not null and app.user %}
            <li>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_home') }}" class="h5">Admin</a>
                {% elseif is_granted('ROLE_EMPLOYEE') %}
                    <a href="{{ path('admin_home') }}" class="h5">Admin</a>
                {% elseif is_granted('ROLE_CLAIMS') %}
                    <a href="{{ path('claims_home') }}" class="h5">Claims</a>
                {% else %}
                    <a href="{{ path('user_home') }}" class="h5">Dashboard</a>
                {% endif %}
            </li>
         {% endif %}
        <li>
            <a href="{{ path('phone_insurance') }}"
               title="Mobile Phone Insurance"
               class="h5">Phone insurance</a>
            <ul class="list-unstyled menu__links">
                <li class="mb-2">
                    <a class="h5"
                       title="iPhone Insurance"
                       href="{{ path('phone_insurance_make', {'make': 'apple'}) }}"><span class="sub">iPhone</span></a>
                </li>
                <li class="mb-2">
                    <a class="h5"
                       title="Samsung Phone Insurance"
                       href="{{ path('phone_insurance_make', {'make': 'samsung'}) }}"><span class="sub">Samsung</span></a>
                </li>
                <li class="mb-2">
                    <a class="h5"
                       title="LG Phone Insurance"
                       href="{{ path('phone_insurance_make', {'make': 'lg'}) }}"><span class="sub">LG</span></a>
                </li>
                <li class="mb-2">
                    <a class="h5"
                       title="Google Pixel Insurance"
                       href="{{ path('phone_insurance_make', {'make': 'google'}) }}"><span class="sub">Google Pixel</span></a>
                </li>
                <li class="mb-2">
                    <a class="h5"
                       title="Huawei Phone Insurance"
                       href="{{ path('phone_insurance_make', {'make': 'huawei'}) }}"><span class="sub">Huawei</span></a>
                </li>
                <li class="md-2">
                    <a class="h5"
                       title="Sony Phone Insurance"
                       href="{{ path('phone_insurance_make', {'make': 'sony'}) }}"><span class="sub">Sony</span></a>
                </li>
                <li>
                    <a class="h5"
                       title="Second Hand"
                       href="{{ path('phone_insurance_second_hand') }}"><span class="sub">Second Hand</span></a>
                </li>
                <li>
                    <a class="h5"
                       title="Second Hand"
                       href="{{ path('phone_insurance_refurbished') }}"><span class="sub">Refurbished</span></a>
                </li>
                <li>
                    <a class="h5"
                       title="View all"
                       href="{{ path('phone_insurance') }}#other_manufacturers"><span class="sub">View all</span></a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ path('company_phone_insurance') }}" class="h5">
                Company Phones
            </a>
        </li>
        <li>
            <a href="{{ path('social_insurance') }}" class="h5">
                Social insurance
            </a>
        </li>
        <li>
            <a href="{{ path('comparison') }}" class="h5">
                Compare cover
            </a>
        </li>
        <li>
            <a href="{{ path('faq') }}" class="h5">
                FAQs
            </a>
        </li>
        <li>
            <a href="{{ path('about_how_to_contact_so_sure') }}" class="h5">
                Contact us
            </a>
        </li>
        <li>
            <a href="{{ path('claim') }}" class="h5">
                Make a Claim
            </a>
        </li>
        <li>
            <a href="{{ path('blog_index') }}" class="h5">
                Blog
            </a>
        </li>
    </ul>
</div>
