<ul class="nav navbar-nav flex-row align-items-center">
    <li class="nav-item pr-xl-4">
        <a id="quote_btn" href="#" class="btn btn-sm py-1 btn-outline-deep-sky-blue-d get-a-quote disabled btn-shadow btn-swap">Get a Quote</a>
    </li>
    {# Mobile Login #}
    {% if hide_login is not defined %}
        <li class="nav-item d-none-xxs {{ menu_show }} pr-xl-4">
            {% if app.user is not null and app.user %}
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <a href="{{ path('homepage', {'_impersonate': '_exit'}) }}"
                       class="btn btn-outline-white btn-sm show-in-nav btn-swap hideme"
                       title="{{ app.user.email }}"
                       ><i class="fas fa-user fa-fw"></i>
                        Exit User</a>
                {% else %}
                    <a href="{{ path('fos_user_security_logout') }}"
                       class="btn btn-outline-white btn-sm show-in-nav btn-swap hideme">
                       <i class="fas fa-user fa-fw"></i> Log out</i></a>
                {% endif %}
            {% else %}
                <a href="{{ path('fos_user_security_login') }}"
                   class="btn btn-outline-white btn-sm show-in-nav btn-swap hideme"><i class="fas fa-user fa-fw"></i> Customer login</a>
            {% endif %}
        </li>
    {% endif %}
    {# End Mobile Login #}
    {# If Logged in #}
    {% if app.user is not null and app.user %}
        <li class="nav-item d-none {{ menu_breakpoint }} pr-xl-4">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_home') }}" class="nav-link user-link">Admin</a>
            {% elseif is_granted('ROLE_EMPLOYEE') %}
                <a href="{{ path('admin_home') }}" class="nav-link user-link">Admin</a>
            {% elseif is_granted('ROLE_CLAIMS') %}
                <a href="{{ path('claims_home') }}" class="nav-link user-link">Claims</a>
            {% else %}
                <a href="{{ path('user_home') }}" class="nav-link user-link">Your account</a>
            {% endif %}
        </li>
    {% endif %}
    {# End if Logged in #}
    {# Desktop Login #}
    {% if hide_login is not defined %}
        <li class="nav-item d-none {{ menu_breakpoint }}">
            {% if app.user is not null and app.user %}
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <a href="{{ path('homepage', {'_impersonate': '_exit'}) }}" class="nav-link user-link">Exit <u>{{ app.user.email|truncate(10)~'.'  }}</u></a>
                {% else %}
                    <a href="{{ path('fos_user_security_logout') }}" class="nav-link user-link">Log out</i></a>
                {% endif %}
            {% else %}
                    <a href="{{ path('fos_user_security_login') }}"
                       class="nav-link user-link">Customer login <i class="far fa-arrow-right fa-fw ml-2"></i></a>
            {% endif %}
        </li>
    {% endif %}
    {# End Desktop Login #}
    <li class="nav-item {{ menu_show }}">
        <button id="nav_toggle" class="hamburger hamburger--spring-r hamburger--collapse show-in-nav" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </li>
</ul>
