<li class="nav-item dropdown d-none {{ menu_breakpoint }} pr-xl-4">
    <a href="#"
       class="nav-link dropdown-toggle"
       id="phone_insurance_nav"
       role="button"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">Phone Insurance <i class="far fa-sm text-columbia-blue-f fa-chevron-down ml-2"></i></a>
    <div class="dropdown-menu dropdown-menu-nav" aria-labelledby="phone_insurance_nav">
        <a class="dropdown-item dropdown-item-nav h6 mb-0"
           href="{{ path('phone_insurance') }}">
            <span>
                Mobile Phone <br>
                <small class="sub text-zaffre">Insurance</small>
            </span>
        </a>
        <a class="dropdown-item dropdown-item-nav h6 mb-0"
           href="{{ path('phone_insurance_make', {'make': 'apple'}) }}">
            <span>
                iPhone <br>
                <small class="sub text-zaffre">Insurance</small>
            </span>
        </a>
        <a class="dropdown-item dropdown-item-nav h6 mb-0"
           href="{{ path('phone_insurance_make', {'make': 'samsung'}) }}">
            <span>
                Samsung <br>
                <small class="sub text-zaffre">Insurance</small>
            </span>
        </a>
        <a class="dropdown-item dropdown-item-nav h6 mb-0"
           href="{{ path('phone_insurance_make', {'make': 'lg'}) }}">
            <span>
                LG <br>
                <small class="sub text-zaffre">Insurance</small>
            </span>
        </a>
        <a class="dropdown-item dropdown-item-nav h6 mb-0"
           href="{{ path('phone_insurance_make', {'make': 'google'}) }}">
            <span>
                Google Pixel <br>
                <small class="sub text-zaffre">Insurance</small>
            </span>
        </a>
        <a class="dropdown-item dropdown-item-nav h6 mb-0"
           href="{{ path('phone_insurance_make', {'make': 'huawei'}) }}">
            <span>
                Huawei <br>
                <small class="sub text-zaffre">Insurance</small>
            </span>
        </a>
        <a class="dropdown-item dropdown-item-nav h6 mb-0"
           href="{{ path('phone_insurance_make', {'make': 'sony'}) }}">
            <span>
                Sony <br>
                <small class="sub text-zaffre">Insurance</small>
            </span>
        </a>
        <a class="dropdown-item dropdown-item-nav h6 mb-0"
           href="{{ path('phone_insurance_second_hand') }}">
            <span>
                Second Hand <br>
                <small class="sub text-zaffre">Insurance</small>
            </span>
        </a>
        <a class="dropdown-item dropdown-item-nav h6 mb-0"
           href="{{ path('phone_insurance_refurbished') }}">
            <span>
                Refurbished <br>
                <small class="sub text-zaffre">Insurance</small>
            </span>
        </a>
        <a class="dropdown-item dropdown-item-nav h6 mb-0"
           href="{{ path('phone_insurance') }}#other_manufacturers">
            <span>
                View all
            </span>
        </a>
    </div>
</li>
<li class="nav-item dropdown d-none {{ menu_breakpoint }} pr-xl-4">
    <a href="#"
       class="nav-link dropdown-toggle"
       id="about_us_nav"
       role="button"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">About us <i class="far fa-sm text-columbia-blue-f fa-chevron-down ml-2"></i></a>
    <div class="dropdown-menu dropdown-menu-nav" aria-labelledby="about_us_nav">
        <a class="dropdown-item dropdown-item-nav h6 mb-0"
           href="{{ path('social_insurance') }}">
            <span>
                Social insurance 🤔<br>
                <small class="sub text-zaffre">What is social insurance?</small>
            </span>
        </a>
        <a class="dropdown-item dropdown-item-nav h6 mb-0"
           href="{{ path('comparison') }}">
            <span>
                Compare cover 😎<br>
                <small class="sub text-zaffre">Why we're better than the rest!</small>
            </span>
        </a>
        <a class="dropdown-item dropdown-item-nav h6 mb-0"
           href="{{ path('faq') }}">
            <span>
                FAQs 🤓<br>
                <small class="sub text-zaffre">We all need a little extra info</small>
            </span>
        </a>
        <a class="dropdown-item dropdown-item-nav h6 mb-0"
           href="{{ path('about_how_to_contact_so_sure') }}">
            <span>
                Contact us 💬<br>
                <small class="sub text-zaffre">We are always happy to talk</small>
            </span>
        </a>
        <a class="dropdown-item dropdown-item-nav h6 mb-0"
           href="{{ path('blog_index') }}">
            <span>
                Blog 📚<br>
                <small class="sub text-zaffre">Insurance and bits</small>
            </span>
        </a>
        <a class="dropdown-item dropdown-item-nav h6 mb-0"
           href="{{ path('careers') }}">
            <span>
                Careers 👩‍💻<br>
                <small class="sub text-zaffre">Fancy working with us?</small>
            </span>
        </a>
    </div>
</li>
<li class="nav-item dropdown d-none {{ menu_breakpoint }} pr-xl-4">
    <a href="{{ path('company_phone_insurance') }}"
       class="nav-link {{ app.request.get('_route') == 'company_phone_insurance' ? 'nav-active' }}">
        Company Phones
    </a>
</li>
<li class="nav-item d-none {{ menu_breakpoint }} pr-xl-4">
    <a href="{{ path('claim') }}"
       class="nav-link {{ app.request.get('_route') == 'claim' ? 'nav-active' }}">
        Make a Claim
    </a>
</li>
{# Mobile Login - this shows inside the navigation only #}
<li class="nav-item d-none-xxs {{ menu_show }} pr-xl-4">
    {% if app.user is not null and app.user %}
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <a href="{{ path('admin_home', {'_impersonate': '_exit'}) }}"
               class="btn btn-outline-deep-sky-blue-d btn-sm show-in-nav btn-swap hideme"
               title="{{ app.user.email }}"
               ><i class="fas fa-user fa-fw"></i>
                Exit User</a>
        {% else %}
            <a href="{{ path('fos_user_security_logout') }}"
               class="btn btn-outline-deep-sky-blue-d btn-sm show-in-nav btn-swap hideme">
               <i class="fas fa-user fa-fw"></i> Log out</i></a>
        {% endif %}
    {% else %}
        <a href="{{ path('fos_user_security_login') }}"
           class="btn btn-outline-deep-sky-blue-d btn-sm show-in-nav btn-swap hideme"><i class="fas fa-user fa-fw"></i> Customer login</a>
    {% endif %}
</li>
{# If Logged in #}
{% if app.user is not null and app.user %}
    <li class="nav-item d-none {{ menu_breakpoint }} pr-xl-4">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_home') }}" class="nav-link user-link">Admin</a>
        {% elseif is_granted('ROLE_EMPLOYEE') %}
            <a href="{{ path('admin_home') }}" class="nav-link user-link">Admin</a>
        {% elseif is_granted('ROLE_CLAIMS') %}
            <a href="{{ path('claims_home') }}" class="nav-link user-link">Claims</a>
        {% else %}
            <a href="{{ path('user_home') }}" class="nav-link user-link">Dashboard</a>
        {% endif %}
    </li>
{% endif %}
{# Desktop Login #}
<li class="nav-item d-none {{ menu_breakpoint }}">
    {% if app.user is not null and app.user %}
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <a href="{{ path('admin_home', {'_impersonate': '_exit'}) }}" class="nav-link user-link">Exit <u>{{ app.user.email|truncate(10)~'.'  }}</u></a>
        {% else %}
            <a href="{{ path('fos_user_security_logout') }}" class="nav-link user-link">Log out</i></a>
        {% endif %}
    {% else %}
        <a href="{{ path('fos_user_security_login') }}"
           class="nav-link user-link">Customer login <i class="far fa-arrow-right fa-fw"></i></a>
    {% endif %}
</li>
