Name: {{ data.policy.user.name }}
<br>
Policy Number: <a href="{{ url('claims_policy', {'id': data.policy.id }) }}">{{ data.policy.policyNumber }}</a>
<br>
Email: {{ data.policy.user.email }}
<br>
Contact #: {{ data.phoneToReach }}
<br>
Best time to reach: {{ data.timeToReach }}
<br>
Type of claim: {{ data.type }}
<br>
When did it occur: {{ data.incidentDate|date('d M Y') }} {{ data.incidentTime }}
<br>
Where did it occur: {{ data.location }}
<br>
Story: {{ data.description }}
<br>
Signature: {{ data.signature }}
<br>
Expected attachments:
{% if data.needProofOfUsage %} - Proof of usage{% endif %}
{% if data.needProofOfBarring %} - Proof of barring{% endif%}
{% if data.needProofOfPurchase %} - Proof of purchase{% endif%}
{% if data.needProofOfLoss %} - Proof of loss{% endif%}
{% if data.needPictureOfPhone %} - Picture of phone{% endif%}.
<br>
