{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Your claim with so-sure.{% endblock %}
{% block body %}
	{{ macros.start_table() }}
	<h1>
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	</h1>
	<div style="font-size: 14px; text-align: left;">
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	   <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
        Hi {{ data.policy.user.name }},<br><br>
        Thank you for submitting your claim.
        <br><br>
        Unless you requested otherwise, our claims team will contact you as soon as possible during business hours.
        <br><br>
        Should you not hear from us in a timely manner (3 business hours), there may have been difficulities in reaching you and we would encourage you to contact our claims team on <a href="tel:0113-320-9722">{{ support_number }}</a>.
        <br><br>
        We’re here if you have any further questions and will process your claim as fast as we can.
        <br><br>
        You can access your claim to review it and upload additional documents by requesting a login <a href="{{ url('claim_login') }}">here</a>.
        <br><br>
        Thanks,
        <br><br>
        The so-sure team
           </span>
	   </div>
	</div>
	{{ macros.end_table() }}
{% endblock %}
