{% set logo_image = 'unhappy' %}
{% extends 'base.html.twig' %}
{% import "macros.html" as macros %}
{% block title %}Your friend, {{ claim.policy.user.name }}, has made a claim.{% endblock %}
{% block body %}
	{{ macros.start_table }}
	<h1>
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	</h1>
	<div style="font-size: 14px; text-align: left;">
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	   <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif"><em>Sad news</em> - your friend,&nbsp;</span><strong>{{ claim.policy.user.name }}</strong>,<span style="font-family:arial,helvetica neue,helvetica,sans-serif"> has made a claim and your&nbsp;Reward Pot has been reduced.</span><br>
		  <br>
		  {% if policy.potValue > 0 %}<em>Good news</em> – Your helped your friend get their phone back <strong>and</strong> you still have £{{ policy.potValue }} left! {% else %}<br>
		  <br>
		  <em>Good news</em> – you helped your friend get their phone back! Instant <a href="http://www.urbandictionary.com/define.php?term=Karma%20Points" target="_blank"><span style="color:#3399ff">karma points</span></a>!{% endif %}
	   </div>
	</div>
	{{ macros.end_table }}
	{{ macros.email_button_table(branch_pot_url, "View your Reward Pot", "View your Reward Pot")}}
{% endblock %}
