{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Your link to proceed with your claim.{% endblock %}
{% block body %}
	{{ macros.start_table() }}
	<h1>
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	</h1>
	<div style="font-size: 14px; text-align: left;">
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	   <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
        Hi {{ username }},<br><br>
        Please visit the following link to proceed with your claim: <a href="{{ tokenUrl }}">{{ tokenUrl }}</a>.
        <br><br>
        Note that the link will only be valid for {{ tokenValid }} minutes.
        <br><br>
        Thanks for using so-sure.
	   </div>
	</div>
	{{ macros.end_table() }}
{% endblock %}
