{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Your link to review your claim.{% endblock %}
{% block body %}
	{{ macros.start_table() }}
	<h1>
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	</h1>
	<div style="font-size: 14px; text-align: left;">
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	   <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
        Hi {{ username }},<br><br>
		Great, let's get you logged in to review your claim....
        <br><br>
		Just click on the link below. Simples!
        <br><br>
        {{ macros.email_button_table(tokenUrl, "GO TO MY CLAIM", "GO TO MY CLAIM")}}
        <br>
		Please note this link will expire in 2 hours, you can re-reactivate the link by clicking <a href="{{ url('claim_login') }}">here</a>.
        <br><br>
		If you have any questions regarding your claim please contact the claims team on <a href="tel:0113-320-9722">{{ support_number }}</a>.
		<br><br>
		Thanks<br>
		The so-sure team
		   </span>
	   </div>
	</div>
	{{ macros.end_table() }}
{% endblock %}
