<section id="cred" class="cred">
    <div class="container-large py-4 d-lg-flex align-items-center justify-content-between">
        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar_trustpilot.png" alt="Trustpilot" class="lozad">
        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar_sky.png" alt="Sky TV" class="lozad">
        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar_theguardian.png" alt="The Guardian" class="lozad">
        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar_ft.png" alt="The Financial Times" class="lozad">
        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar_insurancetimes.png" alt="Insurance Times" class="lozad">
    </div>
</section>
