<section id="cred" class="cred">
    <div class="container-large py-4 d-lg-flex align-items-center justify-content-between">
        <img src="{{ cdn_url }}/images/onexone.png" 
             data-src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar_sky.png" 
             alt="Sky TV" 
             class="lozad">
        <img src="{{ cdn_url }}/images/onexone.png" 
             data-src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar_theguardian.png" 
             alt="The Guardian" 
             class="lozad">
        <img src="{{ cdn_url }}/images/onexone.png" 
             data-src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar_ft.png" 
             alt="The Financial Times" 
             class="lozad">
        <img src="{{ cdn_url }}/images/onexone.png" 
             data-src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar_insurancetimes.png" 
             alt="Insurance Times" 
             class="lozad">
        <div class="trustpilot-widget mt-4 mt-lg-0" 
             data-locale="en-GB" 
             data-template-id="5613c9cde69ddc09340c6beb" 
             data-businessunit-id="588f81d20000ff00059bc1e1" 
             data-style-height="80%" 
             data-style-width="100%" 
             data-theme="light">
            <a href="https://uk.trustpilot.com/review/wearesosure.com" target="_blank" rel="noopener">Trustpilot</a>
        </div>     
    </div>
</section>
