{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}pic-sure failed to validate your phone{% endblock %}
{% block body %}
	{{ macros.start_table() }}
		<h1>
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		</h1>
		<div style="font-size: 14px; text-align: left;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				Unfortunately, your phone did not pass the pic-sure validation process.
				<br><br>
                Your excess for policy {{ policy.policyNumber }} is:
                <br>
                    • Accidental Damage: £{{ policy.premium.excess.damage }}
                <br>
                    • Breakdown: £{{ policy.premium.excess.warranty }}
                <br>
                    • Theft: £{{ policy.premium.excess.theft }}
                <br>
                    • Loss: £{{ policy.premium.excess.loss }}
				<br><br>
			    If you have any questions, please don't hesitate to <a href="mailto:support@wearesosure.com?subject=I%20have%20a%20question" target="_blank"><span style="color:#3399ff">contact us</span></a>.
		   </div>
		</div>
	{{ macros.end_table() }}
{% endblock %}
