<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <style>
            body: {
                width: 100%;
            }
            table { width: 100%; border-collapse: separate; border-spacing:1em; }
            .table-striped > tbody > tr:nth-child(2n+1) {
                background-color: #f9f9f9;
            }
        </style>
    </head>
    <body>
        <p>&nbsp;</p>

        <table>
          <tr>
            <td width="400px;">
                <img src="{{ cdn_url }}/images/logo/full-logo-dark.png" width="250px" />
            </td>
            <td>
                <b>Date:</b> {{ invoice.date | date('d M Y') }}<br />
                <b>Invoice Number:</b> {{ invoice.invoiceNumber }} {% if regenerate %} (Revised){% endif %}
            </td>
          </tr>
          <tr>
            <td>
                <b>To:</b><br />
                {{ invoice.name }}<br />
                {{ invoice.address.stringImplode('<br />')|raw }}
            </td>
          </tr>
        </table>
        <p>&nbsp;</p>

        <table class="table-striped">
          <tr>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        {% for line in invoice.invoiceItems %}
            <tr>
                <td style="width: 55%">{{ line.description }}</td>
                <td style="width: 15%; text-align: right">£{{ line.unitPrice }}</td>
                <td style="width: 15%; text-align: right">{{ line.quantity }}</td>
                <td style="width: 15%; text-align: right">£{{ line.total }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td style="text-align: right">£{{ invoice.total }}</td>
        </tr>
        </table>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <p>Please deposit via BACS to: so-sure Limited, Lloyds Sort Code: 30-65-41 Account Number: 36288368</p>
        <p>so-sure Limited is registed in England & Wales, Company Number 09365669, and our registered address is {{ business_address|replace({'\n':','}) }}</p>
    </body>
</html>
