{% set font = "font-size: 8pt;" %}
{% set header_column = "width: 48%; height: 187mm; page-break-inside:avoid;"%}
{% set standard_column = "margin-top: 15mm; width: 48%; height: 187mm; page-break-inside:avoid;"%}
{% set final_column = "width: 48%; height: 170mm;"%}
{% set initial_column_one_margins = "float: left; margin-right: 5mm;" ~ header_column %}
{% set initial_column_two_margins = "float: right;" ~ header_column %}
{% set column_one_margins = "float: left; margin-right: 5mm; page-break-before:always;" ~ standard_column %}
{% set column_two_margins = "float: right;" ~ standard_column %}
{% set final_column_one_margins = "float: left; margin-right: 5mm;" ~ final_column %}
{% set final_column_two_margins = "float: right;" ~ final_column %}
{% set table = "border-collapse: collapse;"~font %}
{% set table_padding = "5" %}
{% set initial_margins = "margin-bottom: -5px" %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <style type="text/css">
        p {display: block;}
    </style>
</head>
<body style="{{ font }}">
  <div style="page-break-inside:avoid;">
    <div style="text-align: center;">
          <img style="margin-top: 3mm" src="{{ cdn_url }}/images/logo/so-sure_logo-full-blue.png" width="160mm" />
    </div>
    <div style="{{ initial_column_one_margins }}">
      <h3 style="{{ initial_margins }}">
          Terms and conditions of your so-sure mobile phone insurance
      </h3>
      <h4 style="{{ initial_margins }}">
          Introduction
      </h4>
      <p style="{{ font }}">
          This is your mobile phone insurance policy which details what you need to know.  Please read this carefully to make sure this policy is right for you. If you have any questions then call or email us (contact details on page 6).
          This policy is arranged, sold and administered by so-sure Limited and underwritten by Salva Kindlustuse AS (SALVA).  References to ‘we/us/our' relates to SALVA.
      </p>
      <p>
          The benefits, conditions and exclusions of this policy apply to the individual, family, or employee member who owns the mobile phone.
      </p>
      <h4 style="{{ initial_margins }}">
          Your Requirements
      </h4>
      <p>
          By purchasing insurance you have come to your own decision as to whether this product meets your particular needs for insuring your mobile. You have decided to proceed with the insurance cover provided by us at the cost and terms indicated on a non-advised sales basis, which means that no advice on the suitability of this insurance has been given by so-sure.
      </p>
      <h4 style="{{ initial_margins }}">
          Status disclosure
      </h4>
      <p>
          so-sure Limited is a company registered in England and Wales (registration company number 9365669), FCA registration number 744729 and registered address, 10 Finsbury Square, London EC2A 1AF. so-sure Limited is an appointed representative of {{ broker_name }} which is authorised and regulated by the Financial Conduct Authority under registration number 308657. SALVA is authorised by the Financial Conduct Authority as an insurer under registration number 622523 with registered office Pärnu road 16, 10141 Tallinn, Estonia. SALVA is not protected under the Financial Services Compensation Scheme.
      </p>
      <h4 style="{{ initial_margins }}">
          Important information
      </h4>
      <ol type="i">
          <li>
              <h4 style="{{ initial_margins }}">
                  Disclosure of important information
              </h4>
              <p style="{{ initial_margins }}">
                  We rely on the information you provide to us either online, over the phone or in writing to make decisions about your insurance and any claim. If you do not answer accurately and completely any questions we ask, this might invalidate your insurance and/or we might reject your claim.
              </p>
          </li>
          <li>
              <h4 style="{{ initial_margins }}">
                  Policy Compliance
              </h4>
              <p style="{{ initial_margins }}">
                  You are required to comply with all policy terms and conditions throughout the period of your insurance. Failure to do so may invalidate your policy.
              </p>
          </li>
          <li>
              <h4 style="{{ initial_margins }}">
                  Making changes to your insurance policy
              </h4>
              <p style="{{ initial_margins }}">
                  If you no longer have your mobile phone, or you want to make changes to the mobile phone you have insured or your personal information please contact us immediately so we can ensure our records are up to date and your cover remains in place.
              </p>
          </li>
      </ol>
    </div>
  </div>
  <div style="{{ initial_column_two_margins }}">


    <h3 style="{{ initial_margins }}">
        Summary of your so-sure mobile phone insurance cover
    </h3>
    <h4 style="{{ initial_margins }}">
        Benefits
    </h4>
    <p>
        If you do claim, we believe in providing you with exceptional service:
    </p>
    <ul>
        <li>
            Our call centre to register a claim is open 24 hrs day, 365 days a year on <strong>0113 320 9722</strong>
        </li>
        <li>
            Once a claim is validated, we aim to have a replacement mobile phone delivered to you in the UK the next working day
        </li>
    </ul>
    <p>
        And if neither you nor your connections make a claim, you could get up to 80% of the money you have paid us a premium back at the end of the policy.
    </p>
    <h4 style="{{ initial_margins }}">
        What are you covered for ?
    </h4>
    <p>
        Replacing or repairing your registered mobile phone in the event of:
    </p>
    <ul>
        <li>
            Theft of mobile phone
        </li>
        <li>
            Accidental Damage to mobile phone
        </li>
        <li>
            Breakdown (including faults) of mobile phone
        </li>
        <li>
            Loss of mobile phone
        </li>
        <li>
            Up to £1,000 of unauthorised network changes related to approved Loss or Theft claim, as long as your network was notified within 24hrs of Loss or Theft
        </li>
        <li>
            Accessory claims (up to £100 including VAT) related to approved Loss or Theft claim
        </li>
    </ul>
    <p>
        <i>The replacement of your mobile phone may be from refurbished stock.</i>
    </p>
    <h4 style="{{ initial_margins }}">
        What aren't you covered for?
    </h4>
    <ul>
        <li>
            Excess: You need to pay a contribution every time you make a successful claim, the amount of your excess will depend on the type of claim you are making, and must be paid before your claim is settled.
        </li>
        <li>
            More than two claims for Loss and/or Theft in any policy year.
        </li>
        <li>
            Theft, Loss, Accidental Damage or Breakdown where you have knowingly put your mobile phone at risk and/or you have not taken care of it.
        </li>
    </ul>
    <p>
        <i>For further details on all of the above, please refer to the full Policy Document.</i>
    </p>
    <p>&nbsp;</p>
  </div>

  <div style="{{ column_one_margins }}">
    <h3>
        The Policy Document
    </h3>
    <h4>
        Who is this cover designed for?
    </h4>
    <ol type="i">
        <li>
            People who don't have their mobile insured elsewhere or wish to cover them separately, and who want to cover the costs of repair or replacement should an insurance event take place
        </li>
        <li>
            Careful people – Having insurance doesn't mean you can take needless risks with your mobile phone
        </li>
        <li>
            People who are UK residents and at least 18 years of age
        </li>
        <li>
            People who have purchased a mobile phone in the last 36 months
        </li>
    </ol>
    <h4>
        Basic definitions
    </h4>
    <p>
        The following defines the terms that are used throughout this document:
    </p>
    <table style="{{ table }}" cellpadding="{{ table_padding }}">
        <tr>
            <td valign="top">
                Loss:
            </td>
            <td>
                The mobile phone has been accidentally left behind by you and you are permanently deprived of its use and unable to locate the mobile phone.
            </td>
        </tr>
        <tr>
            <td valign="top">
                Theft:
            </td>
            <td>
                The physical removal of the mobile phone without the consent of the owner and with the intention of depriving the owner of it permanently.
            </td>
        </tr>
        <tr>
            <td valign="top">
                Accidental Damage:
            </td>
            <td>
                Physical harm that impairs the normal function of your mobile phone.
            </td>
        </tr>
        <tr>
            <td valign="top">
                Breakdown:
            </td>
            <td>
                Sudden failure of the mobile phone attributable to a defect within the mobile phone preventing normal function of your mobile phone.
            </td>
        </tr>
        <tr>
            <td valign="top">
                Excess:
            </td>
            <td>
                A contribution payable by you every time you make a successful claim, as shown on your policy schedule.
            </td>
        </tr>
        <tr>
            <td valign="top">
               Accessories:
            </td>
            <td>
                Include but not limited to, chargers, protective cases, stands, headphones, memory cards, carrying cases, speakers and data cables.
            </td>
        </tr>
        <tr>
            <td valign="top">
                Replacement:
            </td>
            <td>
                Where we replace the mobile phone the replacement may be a remanufactured (not brand new) mobile phone. We will attempt to replace your mobile phone with the same model, colour and memory but we can't guarantee to do this or replace any limited or special edition mobile phones. If we cannot do this you will be given a choice of models with an equivalent specification. Where we send you a replacement or repaired item, this will only be sent to a UK address.
            </td>
        </tr>
        <tr>
            <td valign="top">
                Reward Pot:
            </td>
            <td>
                Premium rebate (incl IPT) from the no claims bonus arising from you and your connections (who form your Group) not claiming during your policy year. The Reward Pot rules and mechanics are defined in the Reward Pot section below.
            </td>
        </tr>
    </table>

  </div>
  <div style="{{ column_two_margins }}">
    <p>
        ‘Taking reasonable care' of your mobile phone:
    </p>
    <ul>
        <li>
            Not knowingly leaving your mobile phone somewhere it is likely to be lost, stolen or Accidental Damaged. If in doubt for Loss or Theft, ask yourself <u>“would I leave a pile of £400 in cash there and expect to find it when I return?”</u>
        </li>
        <li>
            If you need to leave your mobile phone somewhere then we expect you to lock it away out of sight if at all possible. If you cannot lock it away then you must leave it with someone you trust or concealed out of sight in a safe place.
        </li>
        <li>
            Making reasonable enquiries to find your mobile phone if you think you have lost it.
        </li>
        <li>
            Not intentionally damaging your mobile phone.
        </li>
    </ul>
    <h4>
        What you are covered for
    </h4>
    <h4>
        Insurance cover for the mobile phone detailed on your policy schedule which must be owned by you or a family member, or in the case of a business owned by the business issued to and used by its employee(s).
    </h4>
    <table border="1" style="{{ table }}" cellpadding="{{ table_padding }}">
        <tr>
            <th>
                Risks you are covered for
            </th>
            <th>
                Benefits you receive
            </th>
        </tr>
        <tr>
            <td>
                • Theft
                <br />
                •  Loss
            </td>
            <td>
                  Replacement.
            </td>
        </tr>
        <tr>
            <td>
                • Accidental Damage
                <br />
                •  Breakdown (including faults)
            </td>
            <td>
                Repair the mobile phone (where possible) or provide a Replacement mobile phone.
            </td>
        </tr>
        <tr>
            <td valign="top">
                Accessories (up to £100 value)
            </td>
            <td>
                Replacement of  any Accessories that were accidentally lost, stolen or Accidentally Damaged at the same time as your mobile phone or if we replace your mobile phone with a different make or model and can no longer use your existing Accessories.
                <br />
                A claim under this section is subject to your Loss or Theft claim for your mobile phone being approved.
            </td>
        </tr>
    </table>

  </div>
  <div style="{{ column_one_margins }}">
    <table border="1" style="{{ table }}" cellpadding="{{ table_padding }}">
        <tr>
            <td valign="top">
                Unauthorised network charges (calls, texts, data) as a result of someone else using your mobile phone without consent
            </td>
            <td>
                If your mobile phone has been used without your consent after it has been lost or stolen, we will pay those charges incurred for 24 hours from the time of Loss or Theft.
                <br />
                Conditions of cover:
                <ol type="i">
                    <li>
                        your notification to your network within 24 hours of the Theft/Loss
                    </li>
                    <li>
                        your Loss or Theft claim for your mobile phone is approved
                    </li>
                    <li>
                        SIM card registration to you or your family member, or to the business or an employee for these charges to be covered.
                    </li>
                    <li>
                        you supplying the copy of an itemised bill
                    </li>
                </ol>
                Example, if your mobile phone was stolen at 8am Tuesday and you discovered it missing at 11am on Wednesday; you would be covered for charges made between 8am Tuesday and 11am Thursday.
            </td>
        </tr>
    </table>

    <h4>
        What you are NOT covered for
    </h4>
    <table border="1" style="{{ table }}" cellpadding="{{ table_padding }}">
        <tr>
            <th>
                Summary
            </th>
            <th>
               Description
            </th>
        </tr>
        <tr>
            <td valign="top">
                Any mobile phone not registered on your policy
            </td>
            <td>
                This policy only covers the mobile phones detailed on your policy schedule. If you want to insure an additional mobile phone you then need to take out additional insurance to cover the item. It is important to check your policy schedule regularly and advise us of any changes and/or update in your make, model or IMEI of mobile phone.
            </td>
        </tr>
        <tr>
            <td valign="top">
                Any incident outside the period of insurance
            </td>
            <td>
                This insurance policy is active for the period shown on your policy schedule. Any incident which would result in you needing to make a claim that happens outside this date (including before) is not covered.
                <br />
                We may ask for evidence or contact the network directly in order to verify the mobile phone usage is consistent with the claim incident date. If we are unable to validate the mobile phone was used and the usage was consistent with the claim, then we may decline your claim.
            </td>
        </tr>
        <tr>
            <td valign="top">
                Breakdown covered by the manufacturer's warranty
            </td>
            <td>
                This policy does not provide cover for problems with your mobile phone that are covered by the manufacturer warranty. If your mobile phone does develop a fault whilst still under warranty you should follow the warranty returns process as specified by the manufacturer.
            </td>
        </tr>
    </table>

  </div>
  <div style="{{ column_two_margins }}">

    <table border="1" style="{{ table }}" cellpadding="{{ table_padding }}">
        <tr>
            <td valign="top">
                Excess
            </td>
            <td>
            If you have provided pictures to clearly show that your phone is in good condition with no cracked screen (might be done through the app) before claiming, the Excess is:
            <br>
                • Accidental Damage: £50
                <br />
                • Breakdown: £50
                <br />
                • Theft: £70
                <br />
                • Loss: £70
            <br>
            If you have not provided pictures to clearly show that your phone is in good condition with no cracked screen (might be done through the app) before claiming, then the Excess is £150.
            </td>
        </tr>
        <tr>
            <td valign="top">
                More than 2 Loss and/or Theft claims in a policy year for each insured item
            </td>
            <td>
                There is a limit of 2 successful claims for Loss and/or Theft in your policy year. There is no limitation on claims for Accidental Damage or Breakdown.
            </td>
        </tr>
        <tr>
            <td valign="top">
                Loss, Theft, Accidental Damage or Breakdown as a result of you not Taking Reasonable Care of your mobile phone
            </td>
            <td>
                We know how important your mobile phone is to you and we expect that you will take care of your mobile phone.  If you don't take care of your mobile phone then we may not pay your claim.
                <br />
                We will always take into account where you are and what you are doing when we assess whether you have taken care of your mobile phone.  If we believe you have not taken reasonable care of your mobile phone, and have knowingly taken a risk with it, we may decline your claim.
                <br />
                If you knowingly leave your mobile phone somewhere you can't see it but others can, we may decline your claim, for example:
                <br />
                •  in a cafe or pub you leave your mobile phone on the table when you go to the bar to pick up your drink instead of taking it with you
                <br />
                •  leaving your mobile phone on display in your car
                <br />
                •  leaving your mobile phone in the care of someone you don't know well
                <br />
                •  if you are at the gym and you leave your mobile phone on a bench in the changing rooms rather than taking it with you or locking it in a locker
                <br />
                All of these examples increase the risk of your mobile phone being lost, stolen or damaged and may result in your claim being declined.  These examples are only to help you understand what's covered and are not the only scenarios a claim could be rejected.
            </td>
        </tr>
        <tr>
            <td valign="top">
                Mobile phones which were not to manufacturer standards at the time of purchase
            </td>
            <td>
                We can insure mobile phones which are functioning as intended by the manufacturer at the time of purchase and at the time of taking out this policy. Any Accidental Damage or default of the mobile phone prior to you taking out this policy or purchasing the mobile phone is not covered by this policy.
            </td>
        </tr>
    </table>
  </div>
  <div style="{{ column_one_margins }}">

    <table border="1" style="{{ table }}" cellpadding="{{ table_padding }}">
        <tr>
            <td valign="top">
                Cosmetic Accidental Damage
            </td>
            <td>
                We only cover Accidental Damage if it stops the normal functioning of your mobile phone. We know scratches, dents, deterioration and scrapes to your mobile phone aren't nice but we are here to fix your mobile phone when it isn't working, so if it still functions as you would expect then we will not repair or replace it. For example, a scratched screen would not be covered but a cracked screen would be covered.
            </td>
        </tr>
        <tr>
            <td valign="top">
                Unauthorised repairs
            </td>
            <td>
                Making sure that your mobile phone is repaired to a high standard enables us to continue to provide this insurance cover. We want your mobile phone to continue functioning properly so we only use our approved repairers.
                <br />
                We also want the ability for us to assess the Accidental Damage to your mobile phone in order to best decide whether to repair or replace the mobile phone.
                <br />
                <strong>If you have your mobile phone repaired without our authorisation or by anyone other than our approved repairers, then we may not pay your claim.</strong>
            </td>
        </tr>
        <tr>
            <td valign="top">
                Contents of your mobile phone
            </td>
            <td>
                We only cover the mobile phone; this policy <strong>does not cover the contents stored on the mobile phone.</strong>  This means that any pictures, software, downloads, apps, music or any other content is not covered by this policy so make sure you back it up regularly. There are many ways to back-up the contents of your mobile phone and download them back onto your Replacement mobile phone if you were to claim.
            </td>
        </tr>
        <tr>
            <td valign="top">
                Individual Accessories
            </td>
            <td>
                  Accessories which are not lost, stolen or Accidental Damaged at the same time as the mobile phone are not covered by this policy.
            </td>
        </tr>
        <tr>
            <td valign="top">
                Other Losses
            </td>
            <td>
                Any cost or loss that can't be resolved by the repair or replacement of your mobile phone. We don't cover any loss of profit, opportunity, subscription fees, line rental, goodwill or similar losses.
            </td>
        </tr>
        <tr>
            <td valign="top">
                Modifications
            </td>
            <td>
                If your mobile phone has been modified in any way <strong>we will only replace the mobile phone, we do not cover the modifications that have been made.</strong> Modifications are anything that changes the way your mobile phone looks or operates from the original specifications.  This includes things like adding gems, precious metals or making software changes such as unlocking your mobile phone from a network.
            </td>
        </tr>
        <tr>
            <td valign="top">
                Long term stay abroad
            </td>
            <td>
                We only cover for leisure or work trips abroad which have a maximum duration of 90 days from departure date.
            </td>
    </tr>
    </table>

  </div>
  <div style="{{ column_two_margins }}">

    <table border="1" style="{{ table }}" cellpadding="{{ table_padding }}">
        <tr>
            <td valign="top">
                Unsuccessful previous claims
            </td>
            <td>
                A claim previously unsuccessful under this policy would not be covered.
            </td>
        </tr>
        <tr>
            <td valign="top">
                Terrorism or cyber attacks
            </td>
            <td>
                Any Accidental Damage, Accidental Loss or Theft as a consequence of war, invasion, act of foreign enemy, hostilities, civil war, cyber-attack, nuclear radiation, terrorism, rebellion, revolution or military or usurped power is not covered by this policy.
            </td>
        </tr>
    </table>

    <h4>
        Reward Pot
    </h4>
    <p>
        Our concept is built on small scale mutualisation of risk between you and your friends and contacts (“Connections”) (and collectively “Group”). You will not be paid introductory fees. But if the performance of your Group produces good results together, then we will “reward” you by making premium rebates to you as set put below.
    </p>
    <p>
        Your Group can be as small or large as you want but your Reward Pot is limited to 80% of the premium shown on your policy schedule (the Reward Pot Limit). For each member of your Group who joins within 60 days of the start date of your policy, £10 is put into your Reward Pot, up to the Reward Pot Limit but this is reduced to £2 if one of your Group members makes a claim within your first 60 days of your policy start. For each member of your Group that joins after 60 days from the start of your policy, £2 is put into your Reward Pot, up to the Reward Pot Limit. Each of your Group members also has a Reward Pot associated to their Connections, which operates in the same way as yours (so money will also be added to their Reward Pot when you connect to them).
    </p>
    <p>
        Example of your Reward Pot value, if your insurance premium is £60 and your Group members join in the first 60 days:
    </p>

    <table border="1" style="{{ table }}" cellpadding="{{ table_padding }}">
        <tr>
            <th>
                Number of Group Members
            </td>
            <th>
                Reward Pot Value
            </th>
            <th>
                % of insurance premium
            </th>
        </tr>
        <tr>
            <td>
                0
            </td>
            <td>
                £0
            </td>
            <td>
                0%
            </td>
        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                £10
            </td>
            <td>
                17%
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                £20
            </td>
            <td>
                33%
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                £30
            </td>
            <td>
                50%
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                £40
            </td>
            <td>
                67%
            </td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                £48
            </td>
            <td>
                80%
            </td>
        </tr>
    </table>
  </div>
  <div style="{{ column_one_margins }}">


    <p>
        Reward Pot value when there are claims in your Group
    </p>
    <ul>
        <li>
            If you claim, your Reward Pot value is turned to £0 (zero pounds), regardless of Group Members.
        </li>
        <li>
            If your Reward Pot is worth less than £40 and one of your Group claims, your Reward Pot is reduced to £0 (zero pounds).
        </li>
        <li>
            If your Reward Pot is worth £40 or more and one of your Group claims, your Reward Pot is reduced to £10 (ten pounds).
        </li>
    </ul>

    <p>
        For every policy renewal, you can choose to keep the same Group or change it. Hence, at the beginning of your Policy Period you will have the opportunity to either a) re-connect with your existing Group members, b) change your Group Members had in the prior year, or c) add more connections to your Group (up until your Reward Pot is worth 80% of your insurance premium).
    </p>
    <p>
        If your Group do not claim during your year of insurance, the Reward Pot is paid out to you. If you renew your policy with us for another year, your Reward Pot can either be
    </p>
    <ol type="i">
        <li>
            applied as a credit to reduce your following year's premium payment(s); or
        </li>
        <li>
            rebated to you as a lump sum payment.
        </li>
    </ol>
    <p>
        If you do not wish to renew your policy, we will pay you out in full the value of your Reward Pot as a lump sum payment.
    </p>
    <p>
        Lump sum payments are made within 45 days of your policy ending as long as none of your Group has submitted a claim for an incident that took place before the end of your policy term. For example, if your policy ends on 3rd March and your Reward Pot was worth £48 and none of your Group submits a claim by 31st March, we will payout £48 to you by the 17th April.
    </p>
    <p>
        Circumstances in which your Reward Pot will not be paid out to you:
    </p>
    <ul>
        <li>
            you filed a claim which has been approved
        </li>
        <li>
            your policy has been cancelled within the last 12 months
        </li>
        <li>
            one of your Group files a claim relating to a Loss, Accidental Damage, Theft or Breakdown which took place during the Period of Insurance relating to your Reward Pot
        </li>
        <li>
            if we have paid out a claim for you.
        </li>
    </ul>

  </div>
  <div style="{{ column_two_margins }}">

    <p>
        If your policy is amended after you upgrade your mobile phone to a more expensive mobile phone mid-way through the Period of Insurance, you must tell us and we will amend your premium to reflect the mobile phone insured and adjust your Reward Pot and Reward Pot Limit accordingly. The first new Member admitted to your Group after the upgrade will be rewarded to you as if they had joined in the first 60 days of the Period of Insurance.
    </p>
    <p>
        If one of your Group's mobile phone is no longer insured by so-sure part way through your annual policy, we will allow you to replace that connection at the same value within the 30 days following your connection leaving the service.
    </p>
    {% if policy.promoCode == 'launch' or policy.promoCode == 'launch-free-nov' %}
        <p>
            As your policy has a promotion code "{{ policy.promoCode|upper }}", so-sure is offering you in the first year of you being insured by so-sure:
        </p>
        <ol type="i">
            <li>
                when a connection is eligible for a £10 contribution to your Reward Pot, we will contribute £15 to your Reward Pot instead of £10, and
            </li>
            <li>
                the maximum value of your Reward Pot is 100% of the value of the price of your mobile phone insurance with so-sure.
            </li>
        </ol>
    {% endif %}
    {% if policy.promoCode == 'free-nov' or policy.promoCode == 'launch-free-nov' or policy.promoCode == 'free-dec-2016' %}
        <p>
            As your policy has a promotion code "{{ policy.promoCode|upper }}", so-sure is offering you a free month of coverage:
        </p>
        <ol type="i">
            <li>
                 In the case of monthly payments, so-sure will refund your first month's payment back to your card within 45 days of purchase.
            </li>
            <li>
                In the case of an annual (12 months) payment, so-sure will refund your first month (1/12th of annual payment) to the nearest penny, back to your card within 45 days of purchase.
            </li>
        </ol>
    {% endif %}
    {% if policy.promoCode|length > 0 %}
        <p>
            This offer cannot be used if another offer applies. All other terms and conditions apply.
        </p>
    {% endif %}

    <p>
        All payments assume that no deduction is required by way of taxation. If we are obliged by law to make such deduction, then the Reward Pot payments shall be reduced accordingly.
    </p>
    <h4>
        Claims Process
    </h4>
    <p>
        The actions you will need to take on Loss, Theft, Breakdown or Accidental Damage to your mobile phone are explained in
    </p>
    <ul>
        <li>
            Section A: your mobile phone has been stolen or lost
        </li>
        <li>
            Section B: your mobile phone has been Accidental Damaged or broken down
        </li>
    </ul>
  </div>
  <div style="{{ column_one_margins }}">
    <p>
        Our customer services team is available on 0113 320 9722, 24 hours a day, 365 days a year to take down all the details so that our claim validation team can start processing the claim. The claim validation team works 8am to 5pm Monday to Friday.
    </p>
    <h4>
        <u>Section A: Steps when your mobile phone has been stolen or lost </u>
    </h4>
    <ol>
        <li>
            <strong>Network:</strong> tell your network provider as soon as you can
            <br />
            <strong>It is important to contact your network to block your mobile phone and SIM card as soon as possible if your mobile phone is lost or stolen. We may ask for evidence of this to support any claim for the Loss or Theft of your mobile phone.</strong> This must be done within 7 days of Loss or Theft, but if you wish to claim for any unauthorised network charges you will need to report the Theft/Loss to your network provider within 24 hours of the Theft/Loss.         </li>
        <li>
            <strong>Police:</strong> report it to the Police within 7 days
            <br />
            <strong>You must report any Loss or Theft of your mobile phone to the Police, and obtain a crime or loss reference number. The claims team will ask you for the crime reference number when you lodge your claim.</strong> This must be done within 7 days of Loss or Theft.
            <br />
            If you have difficulty reporting your incident to the Police please contact us and we can help to guide you.
        </li>
        <li>
            <strong>Last place:</strong> Report any Loss/Theft to the place you believe it has been lost or stolen from
            <br />
            You never know: they might have kept it aside for you. So <strong>we expect you to report your mobile phone as lost or stolen to the place you think it has been lost or stolen from.</strong>
            <br />
            We may ask you to provide the details of where your mobile phone was lost or stolen from and actions you have taken to try to recover it
        </li>
        <li>
            <strong>so-sure:</strong> Report your claim to us as soon as you can and within 28 days
            <br />
            For details on how to contact us and know what happens next, please go to Section C.
        </li>
    </ol>
    <h4>
        <u>Section B: Steps when you are claiming for Accidental Damage or Breakdown  </u>
    </h4>
    <p>
        When your claim is for Accidental Damage or Breakdown and you want to claim on your insurance, <strong>you need to report your claim to so-sure as soon as you can but in any event within 28 days.</strong> Take Reasonable Care of your mobile phone after the Accidental Damage or Breakdown occurred to ensure your claim can be fulfilled.
    </p>
    <p>
        For details on how to contact us and know what happens next, please go to Section C.
    </p>
  </div>
  <div style="{{ column_two_margins }}">
    <h4>
        <u>Section C: Contacting us and the claims procedure </u>
    </h4>
    <h5>
        <u>Contacting us to report your claim</u>
    </h5>
    <p>
        You can log your claim online, by telephone, by email or in writing, so <strong>tell us about a claim as soon as you can.  We expect you to tell us about any claim as soon as possible and within 28 days of discovery of the Theft, Accidental Damage, Loss or Breakdown. </strong>
    </p>
    <p>
        If you don't do this we will still consider your claim, however it makes it difficult for us to investigate your claim or recover (for Loss/Theft) or stop any further Accidental Damage to (for Accidental Damage) your mobile phone.
    </p>
    <p>
        You can contact us regarding claims or updating your policy details in the following ways:
    </p>
    <ul>
        <li>
            Registering and logging in to your online account portal at <a href="https://www.wearesosure.com">www.wearesosure.com</a> and submitting your claim or;
        </li>
        <li>
            Call our claims handling on 0113 320 9722
        </li>
        <li>
            Email our claims handling team at <a href="mailto:new-claim@wearesosure.com">new-claim@wearesosure.com</a>
        </li>
        <li>
            Writing to us at so-sure, P.O Box 2801, Stoke-On-Trent, Staffordshire, ST4 9DN
        </li>
    </ul>
    <p>
        If you have any questions regarding your Reward Pot or any other aspect of your policy, please get in contact with our Customer Support team by email at <a href="mailto:support@wearesosure.com">support@wearesosure.com</a> or through our website's Help Centre at <a href="https://www.wearesosure.com">www.wearesosure.com</a>
    </p>
    <h5>
        <u>What happens once you have reported your claim</u>
    </h5>
    <p>
        When you have reported the claim to us, we will do the following:
    </p>
    <ul>
        <li>
            Walk you through the simple claims process and tell you what information and documents you will need to provide for us to assess your claim.
        </li>
        <li>
            Advise you how much Excess you need to pay, and how you can pay it. You will need to pay your Excess for every accepted claim before the claim is settled.
        </li>
        <li>
            Once your claim is validated, aim to either repair your mobile phone within a few days or send you a replacement within one working day.
        </li>
        <li>
            We do understand that every claim is different and we will make every effort to take this into consideration.
        </li>
    </ul>
  </div>
  <div style="{{ column_one_margins }}">
    <p>
        What you need to know about the claims process
    </p>
    <ul>
        <li>
            We need to know that the mobile phone you are claiming for is yours or a family member's (or owned by the business if this is a business policy):
            <br />
            •  You will need to be able to tell us the make and model of your mobile phone.
            <br />
            •  We may ask to see something that tells us that the items you are claiming for belong to you and confirms the make, model or IMEI number and memory size (where relevant) of your mobile phone.
            <br />
            <strong>If you purchase the policy through our app, we can assess this ourselves. However, if our app is not downloaded (might not be available for your mobile phone), you might need to provide proof of ownership.</strong>
            <br />
            Proof of ownership could include a till receipt or documentation from any online purchase, or from your network provider. If you don't have any proof of ownership we may decline your claim if we have reason to believe that your mobile phone might have been stolen before you owned it.
        </li>
        <li>
            If the IMEI number on the mobile phone has been tampered with we will decline your claim.
        </li>
        <li>
            Repairs by authorised repairer may be made using readily available parts, or we may provide refurbished products which may contain parts, which are of similar or equivalent specification, and which may include unbranded parts.
        </li>
        <li>
            We may require that you to pay any of the outstanding annual premium prior to settling any claim.
        </li>
        <li>
            This policy is provided in addition to any manufacturer's warranty that applies to your mobile phone (“applicable manufacturer's warranty”). In the case of Breakdown covered by the manufacturer's warranty, you should first claim on that warranty.
        </li>
        <li>
            Nothing in this policy is intended to affect your rights under the applicable manufacturer's warranty or your statutory rights. If any repairs authorised by us under this policy invalidate the applicable manufacturer's warranty, we will repair or replace your mobile phone, as necessary, in accordance with the terms of the applicable manufacturer's warranty for the unexpired period of the applicable manufacturer's warranty.
        </li>
    </ul>
  </div>
  <div style="{{ column_two_margins }}">
    <ul>
        <li>
            When we replace the mobile phone, the replacement may be a reconditioned (not brand new) mobile phone.
        </li>
        <li>
            If we are unable to replace your mobile phone with the same make and model, we will contact you to discuss an alternative claim settlement.
        </li>
        <li>
            If any lost, stolen or damaged items are recovered after the claim is approved, they shall become the property of the insurer and must be returned to us immediately.  Accidental Damaged mobile phones, parts and materials replaced by us shall become the property of the insurer.
        </li>
        <li>
            At so-sure we treat our customers fairly and with respect so that we can handle valid claims promptly. This is a required process from our insurers and necessarily you must provide us with all information. Failure to do so will slow down the handling of your claim and could invalidate your policy. Please deal with our personnel with full respect at all times.
        </li>
    </ul>
    <h4>
        What if your claim is rejected?
    </h4>
    <p>
        If you're not happy with the claims decision, we want to hear from you as soon as possible.  Please follow the complaints process described in the section ‘Making an enquiry or complaint' below.
    </p>
    <p>
        If your claim for a lost or stolen mobile phone has been rejected then insurance cover for that mobile phone will cease. No further insurance premiums will be collected and your policy will be cancelled.
    </p>
    <h4>
        Fraud
    </h4>
    <p>
        We do not tolerate any aspect of fraudulent activity. We work closely and share data with other insurers, law enforcement agencies and airtime providers to identify fraud and support prosecution where the appropriate evidence exists. Our fraud team works tirelessly to prevent and detect fraud. We, and other organisations, may access and use the information recorded by fraud prevention agencies, from both the UK and from other countries. It is important that when applying for insurance, or submitting a claim you or anyone acting on your behalf must take reasonable care to answer all questions honestly and to the best of your knowledge. Failure to do so may affect the validity of your policy or the payment of your claim.
    </p>
  </div>
  <div style="{{ column_one_margins }}">
    <p>
        If false or inaccurate information is provided and fraud is identified then we will:
    </p>
    <ul>
        <li>
            Not honour the claim and we will cancel your policy. If an Excess has been paid this will not be returned, this is not a penalty, this is to cover our administration costs.
        </li>
        <li>
            Report you to the relevant authorities and take legal action, if necessary, to recover any money already paid to you under this insurance policy.
        </li>
        <li>
            Put the details of the fraudulent claim onto a register of claims through which insurers share information to prevent fraudulent claims. A list of participants is available on request.
        </li>
        <li>
            Pass the details to fraud prevention agencies. Law enforcement agencies may access and use this information. Other organisations may also access and use this information to prevent fraud and money laundering, for example, when -
            <ul>
                <li>
                    Checking details on applications for credit and credit related accounts or facilities
                </li>
                <li>
                    Managing credit and credit related accounts or facilities
                </li>
                <li>
                    Recovering debt
                </li>
                <li>
                    Checking details on proposals and claims for all types of insurance
                </li>
                <li>
                    Checking details of job applicants and employees
                </li>
            </ul>
        </li>
    </ul>
    <p>
        <strong>Please contact us at 0113 320 9722 if you want to receive details of the relevant fraud prevention agencies.</strong>
    </p>
    <h4>
        Price of your insurance
    </h4>
    <p>
        The premium due for this insurance policy is detailed within your policy schedule.
    </p>
    <h4>
        Duration of this Policy (Period of Insurance)
    </h4>
    <p>
        This policy shall run for a period of one year, between the start date and expiry date shown on your policy schedule (inclusive), unless any of the following happen:
    </p>
    <ul>
        <li>
            You cancel the insurance
        </li>
        <li>
            You fail to pay any monthly instalment of your annual premium
        </li>
        <li>
            We cancel the insurance
        </li>
    </ul>
  </div>
  <div style="{{ column_two_margins }}">
    <h4>
        Cancelling your insurance
    </h4>
    <p>
        If you elect to cancel your insurance within the 14 days after your policy start date, you will be entitled to receive a full refund, providing no claim has been made.
    </p>
    <p>
        At all other time during your period of insurance you can cancel by giving us 30 days written notice. We will be entitled to collect premium from you for this 30 day period. If you pay by instalment this will mean we will collect one further monthly payment from you. If you pay an annual premium this will mean we will return any unexpired period to you.  If a claim has been made by you we will not return any premium and you must still pay us the remaining annual premium. If you do wish to exercise your right to cancel your policy, you can do so at any time by contacting us by email <a href="support@wearesosure.com">support@wearesosure.com</a> or in writing at so-sure, P.O Box 2801, Stoke-On-Trent ST4 9DN.
    </p>
    <p>
        We can cancel the insurance without notice if you do not pay the monthly premium when due, if you make a claim which we believe to be fraudulent or you have breached any of your policy terms and/or conditions.
    </p>
    <h4>
        Making an enquiry or complaint
    </h4>
    <p>
        We will always try to be fair and reasonable. If you believe we have not provided you with a satisfactory level of service, please tell us so that we can do our best to resolve the problem. The easiest way to contact us is to call us on 0113 320 9722. We will do everything possible to ensure that your query is dealt with promptly. Alternatively, you can email complaints@wearesosure.com or write to: Quality Assurance Manager, Davies Group Limited, P.O Box 2801, Stoke-On-Trent, Staffordshire, ST4 9DN. Please quote your mobile phone number in any correspondence.
    </p>
    <p>
        Davies Group Limited handle all queries and complaints.
    </p>
    <p>
        If you are not happy with our decision you can, within 6 months of our final decision, refer your complaint for an independent assessment to: The Financial Ombudsman Service, Exchange Tower, Harbour Exchange, LONDON, E14 9SR. Telephone: 0800 023 4567 / 0300 123 9123, Email: complaint.info@financial-ombudsman.org.uk Web: financial-ombudsman.org.uk Nothing in these terms, including referral to the Financial Ombudsman Service, affects your statutory rights.
    </p>
    <h4>
        Choice of law
    </h4>
    <p>
        English law applies to this policy. All communication with you will be in English.
    </p>
  </div>
  <div style="{{ final_column_one_margins }}">
    <h4>
        If we need to change the terms of the policy
    </h4>
    <p>
        In the event that the insurer needs to change the terms, we will give you 30 days' notice in writing to your last known address, or via email where you have provided us with a valid email address.  This will only be for valid reasons such as due to changes in the law or decisions of the Financial Ombudsman Service, to meet regulatory requirements, industry guidance or codes of practice, to proportionately reflect other legitimate cost increases or reductions associated with providing the cover, or where we choose to change the level of cover.
    </p>
    <h4>
        Data Protection: How we handle your personal information.
    </h4>
    <p>
        We comply with the Data Protection Act 1998. As such, we are committed to preserving the privacy of our customers. Please read the following privacy policy in conjunction to those on our website, and if applicable, the apps downloaded, to understand how we will use and protect the information that you provide to us. If you are purchasing the policy on behalf of another person (family member or employee), you will secure the consent of that person to share their personal data with us in accordance to our terms and conditions.
    </p>
    <p>
        By purchasing this insurance from us you consent to the collection and use of your information under the terms of this privacy policy for the purposes of effecting and administering this insurance policy. The information you provide will be used by us to supply you with the services for which you have registered and we may use the information to contact you to obtain your views on our services and to let you know about important changes to the services which we offer.
    </p>
    <p>
        The information you provide to us about you and the mobile phone will be shared with the insurer and the authorised agents of the insurer. If you make a claim that has been approved, the fact that the claim has been approved will be shared with your connections in view to evaluate their reward pot value, however, the details of your claim will not be shared with your connections. In order to prevent fraud we may share information with other insurers and fraud prevention agencies where this had been detected.
    </p>
    <p>
        We may contact you by post, mobile phone, text  or e-mail. You will only be contacted by the methods you have asked to be contacted by. Your information will not be used or disclosed other than in accordance with this privacy policy, or without your permission, unless required by law. If you would prefer us not to contact you to obtain your views and/or you change your mind in the future and would like us to stop contacting you for this purpose, please write to: Support, so-sure Limited, 10 Finsbury Square, London EC2A 1AF.
    </p>
  </div>
  <div style="{{ final_column_two_margins }}">
    <p>
        The details of mobile phones reported lost or stolen will be submitted, where applicable, to mobile phone databases to prevent further use. We may co-operate with the Police and any other relevant authorities or organisations in connection with any misuse or suspected misuse of the services provided by us or other telecommunications services provided by any member of our group of companies. If necessary, we may divulge information about you for this purpose. You have a right to ask for a copy of the data held about you and you may ask us to make any necessary changes to ensure that it is accurate and kept up-to-date. If you wish to do this, please contact Customer Support on support@wearesosure.com
    </p>
    <p>
        We are entitled by law to charge you a fee of £10.00 to meet our costs in providing you with details of the information we hold about you. We employ security measures to protect your information from access by unauthorised persons and against unlawful use, accidental loss, destruction and damage. We will retain your information for a reasonable period or as long as the law requires. Any changes to our privacy policy will be notified to you in the appropriate way. All comments, queries and requests relating to our use of your information are welcomed and should be addressed as specified above.
    </p>
    <p>
        If we transfer your information to a person, office, branch, organisation, service provider or agent in another country, we will make sure that they agree to apply the same levels of protection as we are required to apply to information held in the UK and to use your information only for the purposes that we have permitted. You confirm that you consent to transfers of your data outside the EEA for the purposes described in this policy.
    </p>
  </div>
</body>
</html>
