{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'promo' %}

{% block title %}so-sure - {{ use_code }}{% endblock %}

{# Set Meta #}
{% block meta %}
    <meta name="description" content="Mobile Insurance that's Simply Better, 24-72 hour replace or repair, Low excess from just £50 - New, secondhand & refurbished phones, Up to 80% money back"/>
{% endblock %}
{% set og_title = 'Sign up and save' %}
{% set og_description = 'Hey, insure your mobile phone with so-sure. Here\'s a code to get XXXX cashback if you dont\'t claim' %}
{% set og_image = cdn_url ~ '/images/rebrand/og/so-sure_og-image-1.png' %}
{% set robots_noindex = true %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/promo.css') }}">
{% endblock %}

{% block nav %}{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container container-xtra">
            {% if scode is defined and scode and scode.user %}
                <h1>CODE FOUND!</h1>
                <ul>
                    <li>{{ scode.code }}</li>
                    <li>{{ scode.user.firstName }}</li>
                    <li>{{ scode.user.lastName }}</li>
                    <li>{{ scode.user }}</li>
                    <li>&pound;{{ scode.reward.defaultValue|number_format(0, '.', ',') }}</li>
                </ul>
            {% else %}
                <h1>CODE NOT FOUND!</h1>
            {% endif %}
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/promo.js') }}"></script>
{% endblock %}
