{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'promo' %}
{% set robots_noindex = true %}
{% set include_get_a_quote = true %}

{% block title %}SO-SURE | Insurance That’s a Win-Win!{% endblock %}

{% block cssPage %}
    {{ encore_entry_link_tags('promo') }}
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container-large">
            <div class="row">
                <div class="col-sm-8 offset-sm-2 col-xl-6 offset-xl-0 order-xl-2">
                    {% if amazon_voucher is defined and amazon_voucher is not null %}
                        <h1 class="text-white mb-3">Protect your phone <span class="text-deep-sky-blue-d">and get a £15 Amazon voucher 💰</span></h1>
                    {% else %}
                        <h1 class="text-white">Mobile Phone Insurance</h1>
                        <div class="h2 text-white fit mb-3">
                            <span class="sub text-deep-sky-blue-d">
                                Get money back if I don't claim? Yes Please!
                            </span>
                        </div>
                    {% endif %}
                    <ul class="list-unstyled icn-fa-list mb-4">
                        <li class="mb-3 lead text-white">
                            <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                            {% if amazon_voucher is defined and amazon_voucher is not null %}
                                Instant quote, speedy sign-up
                            {% else %}
                                Instant quote
                            {% endif %}
                        </li>
                        <li class="mb-3 lead text-white">
                            <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                            {% if amazon_voucher is defined and amazon_voucher is not null %}
                                Up to 80% no claim cashback
                            {% else %}
                                Covered in minutes
                            {% endif %}
                        </li>
                        <li class="lead text-white">
                            <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                            {% if amazon_voucher is defined and amazon_voucher is not null %}
                                Use code <strong>{{ scode.code }}</strong> at the checkout 😎
                            {% else %}
                                Get an extra &pound;{{ scode.reward.defaultValue|number_format(0, '.', ',') }} cash back with the code <strong>{{ scode.code }}</strong>
                            {% endif %}
                        </li>
                    </ul>
                    <a href="#"
                       class="btn btn-success mb-4 get-a-quote disabled btn-block-xs mr-sm-2">
                       Get a quote
                    </a>
                    <p><small><a href="#terms_and_conditions" data-toggle="modal" data-target="#page_terms" class="terms-link text-white">Term &amp; Conditions</a></small></p>
                    {% if partner_logo is defined and partner_logo %}
                        <p class="text-white d-md-inline mr-md-2"><small>In partnership with:</small></p>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/partnerships/{{ partner_logo }}" alt="{{ custom }}"
                             title="so-sure in partnership with {{ custom }}"
                             width="{{ partner_logo_width }}"
                             class="lozad">
                    {% endif %}
                </div>
                <div class="col-sm-8 offset-sm-2 col-xl-6 offset-xl-0 order-xl-1">
                    <div class="hero-image">
                        <picture class="lozad">
                            {% if amazon_voucher is defined and amazon_voucher is not null %}
                                <source srcset="{{ cdn_url }}/images/rebrand/hero-images/so-sure_hero_image_desktop_large_amazon.png" media="(min-width: 1200px)">
                                <source srcset="{{ cdn_url }}/images/rebrand/hero-images/so-sure_hero_image_desktop_amazon.png" media="(min-width: 992px) and (max-width: 1199px)">
                                <source srcset="{{ cdn_url }}/images/rebrand/hero-images/so-sure_hero_image_mobile_amazon.png" media="(min-width: 320px) and (max-width: 991px)">
                            {% else %}
                                <source srcset="{{ cdn_url }}/images/rebrand/hero-images/so-sure_hero_image_desktop_large_invite.png" media="(min-width: 1200px)">
                                <source srcset="{{ cdn_url }}/images/rebrand/hero-images/so-sure_hero_image_desktop_invite.png" media="(min-width: 992px) and (max-width: 1199px)">
                                <source srcset="{{ cdn_url }}/images/rebrand/hero-images/so-sure_hero_image_mobile_invite.png" media="(min-width: 320px) and (max-width: 991px)">
                            {% endif %}
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Cred #}
    {% include 'AppBundle::Default/CommonSections/_cred.html.twig' %}

    {# Page Modals #}
    <div class="modal fade"
         id="page_terms"
         tabindex="-1" role="dialog"
         aria-labelledby="page_terms"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Terms &amp; Conditions
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {% if scode is defined and scode and scode.reward %}
                        <p>{{ scode.reward.termsAndConditions|raw }}</p>
                        {% if not custom %}
                            <p>Code expires: <strong>{{ scode.reward.expiryDate|date('d/m/Y') }}</strong></p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsPage %}
    {{ encore_entry_script_tags('promo') }}
{% endblock %}
