{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'promo' %}

{% block title %}
    {% if scode is defined and scode and scode.user %}
        so-sure - Get &pound;{{ scode.reward.defaultValue|number_format(0, '.', ',') }} in your reward pot
    {% else %}
        so-sure - Promo code {{ use_code }} not found!
    {% endif %}
{% endblock %}

{# Set Meta #}
{% block meta %}
    <meta name="description" content="Mobile Insurance that's Simply Better, 24-72 hour replace or repair, Low excess from just £50 - New, secondhand & refurbished phones, Up to 80% money back"/>
{% endblock %}

{% if scode is defined and scode and scode.user and scode.reward %}
    {% set og_title = 'Sign up and save' %}
    {% set og_description = 'Hey, insure your mobile phone with so-sure. Here\'s a code to get £'~scode.reward.defaultValue|number_format(0, '.',',')~' cashback if you don\'t claim' %}
    {% set og_image = cdn_url ~ '/images/rebrand/og/so-sure_og-image-1.png' %}
{% else %}
    {% set og_title = 'Sign up and save' %}
    {% set og_description = 'Hey, insure your mobile phone with so-sure. Here\'s a code to get cash back if you dont\'t claim' %}
    {% set og_image = cdn_url ~ '/images/rebrand/og/so-sure_og-image-1.png' %}
{% endif %}

{% set robots_noindex = true %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/promo.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container container-xtra">
            <div class="row">
                <div class="col-lg-7">
                    {% if scode is defined and scode and scode.reward %}
                        <div class="hero__intro">
                            <h1 class="mb-4 text-white">Mobile Insurance <br><span class="sub text-columbia-blue-e">Get money back if I don't claim? <br> Yes Please!</span></h1>
                            <div class="hero__step mb-4">
                                <span><div class="hero__number d-flex justify-content-center align-items-center h4 text-primary mr-3">1</div></span>
                                <div class="h4 text-white">Instant quote</div>
                            </div>
                            <div class="hero__step mb-4">
                                <span><div class="hero__number d-flex justify-content-center align-items-center h4 text-primary mr-3">2</div></span>
                                <div class="h4 text-white">Covered in minutes</div>
                            </div>
                            <div class="hero__step mb-5">
                                <span><div class="hero__number d-flex justify-content-center align-items-center h4 text-primary mr-3">3</div></span>
                                <div class="h4 text-white">Get an extra &pound;{{ scode.reward.defaultValue|number_format(0, '.', ',') }} cash back with the code <span class="promo-code">{{ scode.code }}</span></div>
                            </div>
                        </div>
                        <div class="hero__controls">
                            <p class="mb-4"><a href="#" class="btn btn-success btn-block-xs mr-sm-2 get-a-quote disabled">🥳 Instant quote</a></p>
                            <p class="text-center text-md-left">
                                <small>
                                    <a href="#terms_and_conditions"
                                       data-toggle="modal"
                                       data-target="#page_terms"
                                       class="terms-link text-white">
                                       <u>Term &amp; Conditions</u></a>
                                </small>
                            </p>
                        </div>
                    {% else %}
                        <h1 class="my-5 text-white fit">Promotion not found 😕 <br><span class="sub text-columbia-blue-e">however still want excellent cover?</span></h1>
                        <ul class="list-unstyled icn-fa-list mb-5">
                            <li class="mb-3 h5 text-white">
                                <i class="far fa-check fa-lg fa-fw text-columbia-blue-e"></i>
                                24-72 hour replace or repair
                            </li>
                            <li class="mb-3 h5 text-white">
                                <i class="far fa-check fa-lg fa-fw text-columbia-blue-e"></i>
                                Low excess from just &pound;50
                            </li>
                            <li class="mb-3 h5 text-white">
                                <i class="far fa-check fa-lg fa-fw text-columbia-blue-e"></i>
                                Up to 80% money back
                            </li>
                            <li class="h5 text-white">
                                <i class="far fa-check fa-lg fa-fw text-columbia-blue-e"></i>
                                New, secondhand &amp; refurbished phones
                            </li>
                        </ul>
                        <p><a href="#" class="btn btn-success btn-block-xs mr-sm-2 get-a-quote disabled">Get a Quote</a></p>
                    {% endif %}
                </div>
            </div>
            <div class="hero__illustration-mobile d-block d-lg-none text-center">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/rewardpot/so-sure_hero-illustration-reward-pot-mobile.png" alt="so-sure - social insurance" class="img-fluid lozad opacity-75">
            </div>
        </div>
        <div class="hero__illustration-desktop d-none d-lg-block">
            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/rewardpot/so-sure_hero-illustration-reward-pot-desktop.png" alt="so-sure - social insurance" class="img-fluid lozad">
        </div>
    </section>

    {# Cred #}
    {% include 'AppBundle::Default/CommonSections/_cred.html.twig' %}

    {# Reviews #}
    {% include 'AppBundle::Default/CommonSections/_reviews.html.twig' %}

    {# Page Modals #}
    <div class="modal fade"
         id="page_terms"
         tabindex="-1" role="dialog"
         aria-labelledby="page_terms"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Terms &amp; Conditions
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {% if scode is defined and scode and scode.reward %}
                        <p>{{ scode.reward.termsAndConditions|raw }}</p>
                        <p>Code expires: <strong>{{ scode.reward.expiryDate|date("m/d/Y") }}</strong></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/promo.js') }}"></script>
{% endblock %}
