{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'promo' %}
{% set robots_noindex = true %}
{% set include_get_a_quote = true %}

{% block title %}
    {% if scode is defined and scode and scode.user and not custom %}
        Get &pound;{{ scode.reward.defaultValue|number_format(0, '.', ',') }} in your reward pot | SO-SURE
    {% elseif scode is defined and scode and scode.user and custom %}
        Mobile Insurance that's simply better | SO-SURE
    {% else %}
        Promo code {{ use_code }} not found! | SO-SURE
    {% endif %}
{% endblock %}

{# Set Meta #}
{% block meta %}
    <meta name="description" content="Mobile Insurance that's Simply Better, 24-72 hour replace or repair, Low excess from just {{ lowest_excess }} - New, second hand & refurbished phones, Up to 80% money back"/>
{% endblock %}

{% if scode is defined and scode and scode.user and scode.reward and not custom %}
    {% set og_title = 'Get £' ~ scode.reward.defaultValue|number_format(0, '.', ',') ~ ' in your reward pot' %}
    {% set og_description = 'Hey, use this special code to insure your mobile phone with SO-SURE. And get £'~scode.reward.defaultValue|number_format(0, '.',',')~' cashback if you don\'t claim' %}
    {% set og_image = cdn_url ~ '/images/rebrand/og/so-sure_og-image-1.png' %}
{% else %}
    {% set og_title = 'Sign up and save' %}
    {% set og_description = 'Hey, insure your mobile phone with SO-SURE. Here\'s a special code to get a reward or cash back if you don\'t claim' %}
    {% set og_image = cdn_url ~ '/images/rebrand/og/so-sure_og-image-1.png' %}
{% endif %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/promo.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">

        {% if not custom %}
            {# Toasts #}
            {% include 'AppBundle::Components/_trustpilotToasts.html.twig' with {'toast_position': 'toast-bottom-right' } %}
        {% endif %}

        <div class="container-large">
            <div class="row">
                <div class="col-lg-7">
                    {% if scode is defined and scode and scode.reward %}
                        <div class="hero__intro">
                            {% if custom == 'amazon' %}
                                <h1 class="mb-4 h2 text-white">Protect your phone <br><span class="sub text-columbia-blue-e">and get a &pound;{{ scode.code|replace({'AMAZON': ''}) }} Amazon voucher 💰</span></h1>
                                <div class="hero__step mb-4">
                                    <span><div class="hero__number d-flex justify-content-center align-items-center h4 text-primary mr-3">1</div></span>
                                    <div class="h4 text-white">Instant quote, speedy sign-up</div>
                                </div>
                                <div class="hero__step mb-4">
                                    <span><div class="hero__number d-flex justify-content-center align-items-center h4 text-primary mr-3">2</div></span>
                                    <div class="h4 text-white">Low cost, up to 80% cashback</div>
                                </div>
                                <div class="hero__step mb-5">
                                    <span><div class="hero__number d-flex justify-content-center align-items-center h4 text-primary mr-3">3</div></span>
                                    <div class="h4 text-white">Use code <span class="promo-code">{{ scode.code }}</span> at checkout 😎</div>
                                </div>
                            {% elseif custom == 'uswitch' %}
                                <h1 class="mb-4 h2 text-white">Protect your phone <br><span class="sub text-columbia-blue-e">and get a &pound;{{ amazon_voucher }} Amazon voucher 💰</span></h1>
                                <ul class="list-unstyled icn-fa-list mb-5 hero-usps">
                                    <li class="mb-4 text-white">
                                        <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                                        Instant quote, speedy sign-up
                                    </li>
                                    <li class="mb-4 text-white">
                                        <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                                        Low cost, up to 80% cashback
                                    </li>
                                    <li class="text-white">
                                        <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                                        Use code <span class="promo-code">{{ scode.code }}</span> at checkout 😎
                                    </li>
                                </ul>
                            {% elseif custom == 'pizzaexpress' %}
                                <h1 class="mb-4 h2 text-white">Insure your mobile <br><span class="sub text-columbia-blue-e">and get a &pound;15 Pizza Express voucher 🍕</span></h1>
                                <div class="hero__step mb-4">
                                    <span><div class="hero__number d-flex justify-content-center align-items-center h4 text-primary mr-3">1</div></span>
                                    <div class="h4 text-white">Instant quote</div>
                                </div>
                                <div class="hero__step mb-4">
                                    <span><div class="hero__number d-flex justify-content-center align-items-center h4 text-primary mr-3">2</div></span>
                                    <div class="h4 text-white">Covered in minutes</div>
                                </div>
                                <div class="hero__step mb-5">
                                    <span><div class="hero__number d-flex justify-content-center align-items-center h4 text-primary mr-3">3</div></span>
                                    <div class="h4 text-white">Use code <span class="promo-code">{{ scode.code }}</span> to claim your voucher 😎</div>
                                </div>
                            {% elseif custom == 'xiaomi' %}
                                <h1 class="mb-4 text-white fit">Mobile Phone Insurance <br><span class="sub text-columbia-blue-e">in partnership with Xiaomi</h1>
                                <div class="hero__step mb-4">
                                    <span><div class="hero__number d-flex justify-content-center align-items-center h4 text-primary mr-3">1</div></span>
                                    <div class="h4 text-white">Instant quote</div>
                                </div>
                                <div class="hero__step mb-4">
                                    <span><div class="hero__number d-flex justify-content-center align-items-center h4 text-primary mr-3">2</div></span>
                                    <div class="h4 text-white">Covered in minutes</div>
                                </div>
                                <div class="hero__step mb-5">
                                    <span><div class="hero__number d-flex justify-content-center align-items-center h4 text-primary mr-3">3</div></span>
                                    <div class="h4 text-white">Get an extra &pound;{{ scode.reward.defaultValue|number_format(0, '.', ',') }} cash back with the code <span class="promo-code">{{ scode.code }}</span></div>
                                </div>
                            {% elseif custom == 'hotukdeals' %}
                                <h1 class="mb-4 h2 text-white">Protect your phone <br><span class="sub text-columbia-blue-e">and get a &pound;{{ amazon_voucher }} Amazon voucher 💰</span></h1>
                                <ul class="list-unstyled icn-fa-list mb-5 hero-usps">
                                    <li class="mb-4 text-white">
                                        <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                                        Instant quote, speedy sign-up
                                    </li>
                                    <li class="mb-4 text-white">
                                        <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                                        Up to 80% no claim cashback
                                    </li>
                                    <li class="text-white">
                                        <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                                        Use code <span class="promo-code">{{ scode.code }}</span> at checkout 😎
                                    </li>
                                </ul>
                            {% else %}
                                {% if use_code == 'THEHUB15' %}
                                    <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/promo/so-sure_the_hub.png" alt="The Hub" class="img-fluid lozad mb-2" width="400px">
                                    <h1 class="mb-4 text-white fit">Mobile Phone <br class="d-md-none"> Insurance with so-sure</h1>
                                {% elseif use_code == 'GOODBUY5' %}
                                    <span class="mr-2 mb-2 mb-md-0 text-deep-sky-blue-d">Recommended by</span> <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/promo/so-sure_goodbuytech.png" alt="The Hub" class="img-fluid lozad mb-2" width="200px">
                                    <h1 class="mb-4 text-white fit">Mobile Phone Insurance <br class="d-md-none"> with so-sure</h1>
                                {% else %}
                                    <h1 class="mb-4 text-white fit">Mobile Phone Insurance <br><span class="sub text-columbia-blue-e">Get money back if I don't claim? <br class="d-md-none"> Yes Please!</span></h1>
                                {% endif %}
                                <div class="hero__step mb-4">
                                    <span><div class="hero__number d-flex justify-content-center align-items-center h4 text-primary mr-3">1</div></span>
                                    <div class="h4 text-white">Instant quote</div>
                                </div>
                                <div class="hero__step mb-4">
                                    <span><div class="hero__number d-flex justify-content-center align-items-center h4 text-primary mr-3">2</div></span>
                                    <div class="h4 text-white">Covered in minutes</div>
                                </div>
                                <div class="hero__step mb-5">
                                    <span><div class="hero__number d-flex justify-content-center align-items-center h4 text-primary mr-3">3</div></span>
                                    <div class="h4 text-white">Get an extra &pound;{{ scode.reward.defaultValue|number_format(0, '.', ',') }} cash back with the code <span class="promo-code">{{ scode.code }}</span></div>
                                </div>
                             {% endif %}
                        </div>
                        <div class="hero__controls">
                            <div class="mb-4"><a href="#" class="btn btn-success btn-block-xs mr-sm-2 get-a-quote disabled">Quote me</a></div>
                            {% if custom == 'uswitch' or custom == 'hotukdeals' %}
                                <div class="partner-logo text-center d-md-flex align-items-md-center mb-4">
                                    <div class="text-white mb-2 mb-md-0 mr-md-2">In partnership with:</div>
                                    {% if custom == 'uswitch' %}
                                            <img src="{{ cdn_url }}/images/onexone.png"
                                                data-src="{{ cdn_url }}/images/rebrand/partnerships/so-sure_uswitch-logo.svg" alt="uswitch"
                                                title="so-sure in partnership with uswitch"
                                                width="200px"
                                                class="lozad">
                                    {% elseif custom == 'hotukdeals' %}
                                            <img src="{{ cdn_url }}/images/onexone.png"
                                                    data-src="{{ cdn_url }}/images/rebrand/partnerships/so-sure_hotukdeals-logo.svg" alt="hotukdeals"
                                                    title="so-sure in partnership with hotukdeals"
                                                    width="200px"
                                                    class="lozad">
                                    {% endif %}
                                </div>
                            {% endif %}
                            <p class="text-center text-md-left">
                                <small>
                                    <a href="#terms_and_conditions"
                                       data-toggle="modal"
                                       data-target="#page_terms"
                                       class="terms-link text-white">
                                       <u>Term &amp; Conditions</u></a>
                                </small>
                            </p>
                        </div>
                    {% else %}
                    {# if promotion has ended #}
                        <h1 class="my-5 text-white fit">Sorry, this promotion has ended 😕 ...but,<br><span class="sub text-columbia-blue-e">it’s not too late to insure your beloved phone!</span></h1>
                        <ul class="list-unstyled icn-fa-list mb-5">
                            <li class="mb-3 h5 text-white">
                                <i class="far fa-check fa-lg fa-fw text-columbia-blue-e"></i>
                                24-72 hour replace or repair
                            </li>
                            <li class="mb-3 h5 text-white">
                                <i class="far fa-check fa-lg fa-fw text-columbia-blue-e"></i>
                                Low excess from just {{ lowest_excess }}
                            </li>
                            <li class="mb-3 h5 text-white">
                                <i class="far fa-check fa-lg fa-fw text-columbia-blue-e"></i>
                                Up to 80% money back
                            </li>
                            <li class="h5 text-white">
                                <i class="far fa-check fa-lg fa-fw text-columbia-blue-e"></i>
                                New, second hand &amp; refurbished phones
                            </li>
                        </ul>
                        <p><a href="#" class="btn btn-success btn-block-xs mr-sm-2 get-a-quote disabled">Get a Quote</a></p>
                    {% endif %}
                </div>
            </div>
            <div class="hero__illustration-mobile d-block d-lg-none text-center">
                {% if custom == 'amazon' or custom == 'uswitch' or custom == 'hotukdeals' %}
                    <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/promo/so-sure_hero-illustration-amazon-promo-mobile.png" alt="so-sure - social insurance" class="img-fluid lozad opacity-75">
                {% elseif custom == 'pizzaexpress' %}
                    <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/promo/so-sure_hero-illustration-pizzaexpress-promo-mobile.png" alt="so-sure - social insurance" class="img-fluid lozad opacity-75">
                {% elseif custom == 'xiaomi' %}
                    <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/promo/so-sure_hero-illustration-reward-pot-mobile-xiaomi.png" alt="so-sure - social insurance" class="img-fluid lozad opacity-75">
                {% else %}
                    <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/rewardpot/so-sure_hero-illustration-reward-pot-mobile.png" alt="so-sure - social insurance" class="img-fluid lozad opacity-75">
                {% endif %}
            </div>
        </div>
        <div class="hero__illustration-desktop d-none d-lg-block">
            {% if custom == 'amazon' or custom == 'uswitch' or custom == 'hotukdeals' %}
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/promo/so-sure_hero-illustration-amazon-promo-desktop.png" alt="so-sure - social insurance" class="img-fluid lozad">
            {% elseif custom == 'pizzaexpress' %}
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/promo/so-sure_hero-illustration-pizzaexpress-promo-desktop.png" alt="so-sure - social insurance" class="img-fluid lozad">
            {% elseif custom == 'xiaomi' %}
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/promo/so-sure_hero-illustration-reward-pot-desktop-xiaomi.png" alt="so-sure - social insurance" class="img-fluid lozad">
            {% else %}
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/rewardpot/so-sure_hero-illustration-reward-pot-desktop.png" alt="so-sure - social insurance" class="img-fluid lozad">
            {% endif %}
        </div>
    </section>

    {# Cred #}
    {% include 'AppBundle::Default/CommonSections/_cred.html.twig' %}

    {# Page Modals #}
    <div class="modal fade"
         id="page_terms"
         tabindex="-1" role="dialog"
         aria-labelledby="page_terms"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Terms &amp; Conditions
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {% if scode is defined and scode and scode.reward %}
                        <p>{{ scode.reward.termsAndConditions|raw }}</p>
                        {% if not custom %}
                            <p>Code expires: <strong>{{ scode.reward.expiryDate|date('d/m/Y') }}</strong></p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {# <div class="modal fade"
         id="page_terms_hotukdeals"
         tabindex="-1" role="dialog"
         aria-labelledby="page_terms_hotukdeals"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Terms &amp; Conditions
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>The purchase of “SO-SURE Mobile Phone Insurance ' must take place while being logged in at PepperBonus through the provided referral link.</li>
                        <li>The offer is NOT valid for upgrading or renewing existing So-Sure contracts.</li>
                        <li>Only valid for purchases fully completed online before 22:00 on 30/11/2020.</li>
                        <li>Purchases completed via SO-SURE's phone line, online chat do not qualify for the reward.</li>
                        <li>The plan must not be revoked, cancelled or altered before the reward is available.</li>
                        <li>The offer cannot be combined with any other offer, cashback, reward or discount code.</li>
                        <li>A maximum of one qualified purchase per PepperBonus account will be rewarded.</li>
                        <li>PepperBonus is the sole contact for all questions regarding the £20 Amazon.co.uk eGift voucher.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> #}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/promo.js') }}"></script>
{% endblock %}
