{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'promo' %}
{% set robots_noindex = true %}
{% set include_get_a_quote = true %}

{% block title %}SO-SURE | Insurance That’s a Win-Win!{% endblock %}

{% block cssPage %}
    {{ encore_entry_link_tags('promo') }}
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container-large">
            <div class="row">
                <div class="col-sm-8 offset-sm-2 col-xl-6 offset-xl-0 order-xl-2">
                    {% if amazon_voucher is defined and amazon_voucher is not null %}
                        <h1 class="text-white mb-3 mt-xl-5">Protect your phone <span class="text-deep-sky-blue-d">and get an Amazon voucher 💰</span></h1>
                    {% else %}
                        <h1 class="text-white mt-xl-5 fit">Mobile Phone Insurance</h1>
                        <div class="h2 text-white fit mb-3">
                            <span class="sub text-deep-sky-blue-d">
                                from just £{{ lowest_premium|number_format(2, '.', ',') }} per month
                            </span>
                        </div>
                    {% endif %}
                    <ul class="list-unstyled icn-fa-list mb-4">
                        <li class="mb-3 lead text-white">
                            <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                            {% if amazon_voucher is defined and amazon_voucher is not null %}
                                Instant quote, speedy sign-up
                            {% else %}
                                Instant quote
                            {% endif %}
                        </li>
                        <li class="mb-3 lead text-white">
                            <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                            {% if amazon_voucher is defined and amazon_voucher is not null %}
                                Up to 80% no claim cashback
                            {% else %}
                                Covered in minutes
                            {% endif %}
                        </li>
                        <li class="lead text-white">
                            <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                            {% if amazon_voucher is defined and amazon_voucher is not null %}
                                Use code <strong>{{ scode.code }}</strong> at the checkout 😎
                            {% else %}
                                Get an extra &pound;{{ scode.reward.defaultValue|number_format(0, '.', ',') }} cash back with the code <strong>{{ scode.code }}</strong>
                            {% endif %}
                        </li>
                    </ul>
                    <a href="#"
                       class="btn btn-success mb-4 get-a-quote disabled btn-block-xs mr-sm-2">
                       Get a quote
                    </a>
                    <p><small><a href="#terms_and_conditions" data-toggle="modal" data-target="#page_terms" class="terms-link text-white">Term &amp; Conditions</a></small></p>
                    {% if partner_logo is defined and partner_logo %}
                        <p class="text-white d-md-inline mr-md-2"><small>In partnership with:</small></p>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/partnerships/{{ partner_logo }}" alt="{{ custom }}"
                             title="so-sure in partnership with {{ custom }}"
                             width="{{ partner_logo_width }}"
                             class="lozad">
                    {% endif %}
                </div>
                <div class="col-sm-8 offset-sm-2 col-xl-6 offset-xl-0 order-xl-1">
                    <div class="hero-image">
                        <picture class="lozad">
                            {# {% if amazon_voucher is defined and amazon_voucher is not null %}
                                <source srcset="{{ cdn_url }}/images/rebrand/hero-images/so-sure_hero_image_desktop_large_amazon.png" media="(min-width: 1200px)">
                                <source srcset="{{ cdn_url }}/images/rebrand/hero-images/so-sure_hero_image_desktop_amazon.png" media="(min-width: 992px) and (max-width: 1199px)">
                                <source srcset="{{ cdn_url }}/images/rebrand/hero-images/so-sure_hero_image_mobile_amazon.png" media="(min-width: 320px) and (max-width: 991px)">
                            {% else %}
                                <source srcset="{{ cdn_url }}/images/rebrand/hero-images/so-sure_hero_image_desktop_large_invite.png" media="(min-width: 1200px)">
                                <source srcset="{{ cdn_url }}/images/rebrand/hero-images/so-sure_hero_image_desktop_invite.png" media="(min-width: 992px) and (max-width: 1199px)">
                                <source srcset="{{ cdn_url }}/images/rebrand/hero-images/so-sure_hero_image_mobile_invite.png" media="(min-width: 320px) and (max-width: 991px)">
                            {% endif %} #}
                            <source srcset="{{ cdn_url }}/images/rebrand/hero-images/so-sure_hero_image_desktop_xmas.png" media="(min-width: 992px)">
                            <source srcset="{{ cdn_url }}/images/rebrand/hero-images/so-sure_hero_image_mobile_xmas.png" media="(min-width: 320px) and (max-width: 991px)">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Cred #}
    {% include 'AppBundle::Default/CommonSections/_cred.html.twig' %}

    <section class="cover">
        <div class="container-large py-5">
            <div class="row px-md-5 pt-5">
                <div class="col-md-7">
                    <h3 class="h2 my-4"><span class="text-primary">Welcome to peace of mind - </span><br class="d-none d-lg-inline">What's included in your policy</h3>
                    <p class="lead">You get fully comprehensive cover. And we don’t try and wangle out of things with small print – what you see is what you get.</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ cdn_url }}/images/onexone.png"
                            data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_hand_holding_phone_stars.jpg"
                            alt="Hand holding mobile phone"
                            class="lozad img-fluid">
                </div>
            </div>
            <hr class="mt-0 mb-5 mb-md-3">
            <div class="row p-md-5">
                <div class="col-md-6">
                    <h4 class="h3 mb-4">What's covered 👍</h4>
                    <ul class="list-unstyled icn-fa-list">
                        <li class="mb-3">
                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                            Theft and loss as standard
                        </li>
                        <li class="mb-3">
                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                            Accidental damage, including water damage and cracked screens
                        </li>
                        <li class="mb-3">
                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                            New, <a href="{{ path('phone_insurance_second_hand') }}">used</a> or <a href="{{ path('phone_insurance_refurbished') }}">refurbished</a> phones up to 3 yrs old
                        </li>
                        <li class="mb-3">
                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                            Accessories up to the value of &pound;100 including VAT
                        </li>
                        <li class="mb-3">
                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                            Unauthorised network charges up to &pound;1000
                        </li>
                        <li class="mb-3">
                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                            Out of warranty breakdown
                        </li>
                        <li class="mb-5 mb-md-3">
                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                            90 days global travel
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4 class="h3 mb-4">What's not covered 👎</h4>
                    <ul class="list-unstyled icn-fa-list">
                        <li class="mb-3">
                            <i class="far fa-times fa-lg fa-fw text-danger"></i>
                            Any existing claims before you bought our insurance
                        </li>
                        <li class="mb-3">
                            <i class="far fa-times fa-lg fa-fw text-danger"></i>
                            More than 2 claims for Loss and/or Theft in any policy year
                        </li>
                        <li class="mb-3">
                            <i class="far fa-times fa-lg fa-fw text-danger"></i>
                            Claims where you’ve knowingly put your mobile phone at risk
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="comparison">
        <div class="container-large py-5">
            <h3 class="h2 pt-5 text-center">Premium cover 💎</h3>
            {% include 'AppBundle::Default/_comparisonTable.html.twig' %}
        </div>
    </section>

    {# Page Modals #}
    <div class="modal fade"
         id="page_terms"
         tabindex="-1" role="dialog"
         aria-labelledby="page_terms"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Terms &amp; Conditions
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {% if scode is defined and scode and scode.reward %}
                        <p>{{ scode.reward.termsAndConditions|raw }}</p>
                        {% if not custom %}
                            <p>Code expires: <strong>{{ scode.reward.expiryDate|date('d/m/Y') }}</strong></p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsPage %}
    {{ encore_entry_script_tags('promo') }}
{% endblock %}
