<div class="knowledge-base__mobile d-xl-none">
    <div class="expanding-cardbox expanding-cardbox-white mb-3">
        <div class="expanding-cardbox__body">
            <h2 class="h5 expanding-cardbox__title text-primary d-flex align-items-center mb-0">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_clip_clipped.svg"
                     alt="Clipboard"
                     width="55px"
                     class="lozad mr-3">
                <span class="fit">What is and <br class="d-md-none"> isn't covered</span> <i class="fas fa-arrow-circle-down fa-lg"></i>
            </h2>
            <div class="expanding-cardbox__expand">
                <div class="pt-4">
                    <h3>What's covered 👍</h3>
                    <p class="mb-4">Fully comprehensive cover for your device and we don’t hide behind small print... ✍️</p>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_whats_cover.png"
                         alt="Phone cover"
                         class="lozad rounded img-fluid mb-4">
                    <ul class="list-unstyled icn-fa-list">
                        <li class="mb-3">
                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                            Theft &amp; loss as standard
                        </li>
                        <li class="mb-3">
                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                            Accidental Damage - including water damage &amp; cracked screens
                        </li>
                        <li class="mb-3">
                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                            New, Second hand &amp; refurbished devices up to 3 yrs old
                        </li>
                        <li class="mb-3">
                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                            Accessories up to the value of &pound;100 inc VAT
                        </li>
                        <li class="mb-3">
                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                            Unauthorised Network charges up to the value of &pound;1000
                        </li>
                        <li class="mb-3">
                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                            Out of warranty breakdown
                        </li>
                        <li class="mb-3">
                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                            90 days global travel
                        </li>
                    </ul>
                    <hr class="hr-blue my-4">
                    <h3 class="mb-4">What's not covered 👎</h3>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_whats_not_cover.png"
                         alt="Phone cover"
                         class="lozad rounded img-fluid mb-4">
                    <ul class="list-unstyled icn-fa-list">
                        <li class="mb-3">
                            <i class="far fa-times fa-lg fa-fw text-danger"></i>
                            Any existing claims before you bought our insurance
                        </li>
                        <li class="mb-3">
                            <i class="far fa-times fa-lg fa-fw text-danger"></i>
                            More than 2 claims for Loss and/or Theft in any policy year
                        </li>
                        <li class="mb-3">
                            <i class="far fa-times fa-lg fa-fw text-danger"></i>
                            Claims where you’ve knowingly put your mobile phone at risk
                        </li>
                    </ul>
                    <hr class="hr-blue my-4">
                    <h3 class="mb-4">
                        Did you know?
                        <span class="ml-2">
                            <a href="#"
                               data-toggle="modal"
                               data-target="#did_you_know_modal"
                               role="button">
                                <i class="fal fa-info-circle fa-sm"></i>
                            </a>
                        </span>
                    </h3>
                    <ul class="list-unstyled emoji-list">
                        <li class="mb-4">
                            <span class="h3">👮‍♀️</span>
                            <div class="sub">1,222 mobile handsets are stolen every day in the UK!</div>
                        </li>
                        <li class="mb-4">
                            <span class="h3">😱</span>
                            <div class="sub">1 in 4 UK smartphone owners have broken their screen in the last 2 yrs</div>
                        </li>
                        <li class="mb-4">
                            <span class="h3">💰</span>
                            <div class="sub">It can cost &pound;250-&pound;300 to repair top-end smartphone screens</div>
                        </li>
                    </ul>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_did_you_know.gif "
                         alt="Phone cover"
                         class="lozad rounded img-fluid mb-4"
                         width="100%">
                </div>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-white mb-3">
        <div class="expanding-cardbox__body">
            <h2 class="h5 expanding-cardbox__title text-primary d-flex align-items-center mb-0">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_device_clipped.svg"
                     alt="Mobile phone"
                     width="55px"
                     class="lozad mr-3">
                <span class="fit">Why insure <br class="d-md-none"> with so-sure</span> <i class="fas fa-arrow-circle-down fa-lg"></i>
            </h2>
            <div class="expanding-cardbox__expand">
                <div class="pt-4">
                    <h3>Premium cover 💎</h3>
                    <p class="mb-4">Protect your device with comprehensive cover that’s up to 40% cheaper than mobile networks…</p>
                    {% include 'AppBundle::Default/_comparisonTable.html.twig' %}
                    <hr class="hr-blue my-4">
                    <h3 class="mb-4">Amazing benefits 🤩</h3>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_speedy_claims.png"
                         alt="Phone being held"
                         class="lozad rounded img-fluid mb-2">
                    <h4 class="text-primary mb-2">Speedy, hassle-free claims</h4>
                    <p class="mb-4">Use our easy online portal to start your claim, anywhere. Once approved, we aim to repair or replace your phone within 24-72 hours...</p>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_save_excess.png"
                         alt="Phone mirror selfie"
                         class="lozad rounded img-fluid mb-2">
                    <h4 class="text-primary mb-2">Save up to &pound;100 on your excess</h4>
                    <p class="mb-4">Validate your phone with our app and pay lower excess if you claim…  And no proof of purchase needed if you’ve lost that receipt!</p>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot.png"
                         alt="Reward jar money"
                         class="lozad rounded img-fluid mb-2">
                    <h4 class="text-primary mb-2">Rewards if you’re careful</h4>
                    <p>Join careful friends or family and get &pound;10 in your reward pot for each connection. You could see up to 80% of your money back if none of you claim!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-white mb-3">
        <div class="expanding-cardbox__body">
            <h2 class="h5 expanding-cardbox__title text-primary d-flex align-items-center mb-0">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reduce_excess_clip.svg"
                     alt="Phone excess"
                     width="55px"
                     class="lozad mr-3">
                <span class="fit">How to reduce <br class="d-md-none"> your excess</span> <i class="fas fa-arrow-circle-down fa-lg"></i>
            </h2>
            <div class="expanding-cardbox__expand">
                <div class="pt-4">
                    <h3>Take a phone selfie 📱</h3>
                    <p class="mb-4">Validate your device with a phone selfie and save up to &pound;100 on the excess if you need to claim.</p>
                    <hr class="hr-blue my-4">
                    <h3>How does it work? 🤷</h3>
                    <p class="mb-4">Once you have bought your policy it less than 30 secs to prove your device is in good working order and the screen isn't cracked using our app… </p>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_save_excess.png"
                         alt="Phone mirror selfie"
                         class="lozad rounded img-fluid mb-2">
                    <h4 class="text-primary mb-2">Grab your phone and a mirror</h4>
                    <p class="mb-4">Check your phone and mirror are clean and be careful not to obstruct the screen with your fingers...</p>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_phone_selfie.png"
                         alt="Phone mirror selfie"
                         class="lozad rounded img-fluid mb-2">
                    <h4 class="text-primary mb-2">Take your selfie</h4>
                    <p class="mb-4">Hold the phone 10-20cm away from the mirror once the QR code is found your phone will vibrate!</p>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_speedy_claims.png"
                         alt="Phone being held"
                         class="lozad rounded img-fluid mb-2">
                    <h4 class="text-primary mb-2">Review your photo</h4>
                    <p class="mb-4">Check your entire phone screen is visible and the image is clear. When you’re happy, confirm and that’s it!</p>
                    <hr class="hr-blue my-4">
                    <h3>What is excess? 🤔</h3>
                    <p>Excess is the amount you pay if you have to claim. It’s a way of you taking on a small portion of the risk.</p>
                    <p>Every phone insurance company requires you to pay excess as it helps prevent fraud…</p>
                    <hr class="hr-blue my-4">
                    <h3>Why is your excess so low? 🤷</h3>
                    <p>We are the only mobile phone insurer with clever anti-fraud tech that helps weed out those pesky fraudsters!</p>
                    <p class="mb-4">This saves us paying out on dodgy claims… and means we can pass the savings back to the good guys...</p>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_excess.gif"
                         alt="Thats you"
                         class="lozad rounded img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-white mb-3">
        <div class="expanding-cardbox__body">
            <h2 class="h5 expanding-cardbox__title text-primary d-flex align-items-center mb-0">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_pound_clip.svg"
                     alt="Pound coin"
                     width="55px"
                     class=" lozad mr-3">
                <span class="fit">How to earn up <br class="d-md-none"> to 80% cashback</span> <i class="fas fa-arrow-circle-down fa-lg"></i>
            </h2>
            <div class="expanding-cardbox__expand">
                <div class="pt-4">
                    <h3>Build your Reward Pot 💰</h3>
                    <p class="mb-4">Validate your device with a phone selfie and save up to &pound;100 on the excess if you need to claim.</p>
                    <a href="#"
                       class="watch-video"
                       data-event="watch-video-knowledge-base"
                       data-toggle="modal"
                       data-target="#sosure-video-modal"
                       data-src="https://www.youtube.com/embed/2AjD09ZQhQ4">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_pot_video_link.png"
                             alt="Reward pot video"
                             class="lozad rounded img-fluid mb-2">
                    </a>
                    <hr class="hr-blue my-4">
                    <h3 class="mb-4">How does it work?  🤷</h3>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_invite_friends.png"
                         alt="Phones and friends"
                         class="lozad rounded img-fluid mb-2">
                    <h4 class="text-primary mb-2">Invite friends via the app</h4>
                    <p class="mb-4">Once you have insured your device with us, you can start inviting straight away by email, text or your favourite social media apps.</p>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_connect_with_friends.png"
                         alt="Phones and friends"
                         class="lozad rounded img-fluid mb-2">
                    <h4 class="text-primary mb-2">Connect to people you trust</h4>
                    <p class="mb-4">You can only claim your Reward Pot at the end of the year if neither you or your connections have claimed.</p>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_speedy_claims.png"
                         alt="Phones and friends"
                         class="lozad rounded img-fluid mb-2">
                    <h4 class="text-primary mb-2">Look after your phone</h4>
                    <p class="mb-4">Easy as that, don't break or lose your phone, or make any claims in the policy year.</p>
                    <hr class="hr-blue my-4">
                    {# TODO: Calculator #}
                    <h3 class="mb-4">How do I get my cash? 💰</h3>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot.png"
                         alt="Reward jar money"
                         class="lozad rounded img-fluid mb-2">
                    <p>We’ll pay the value of your Reward Pot at the end of the policy year straight into your bank account.</p>
                    <p class="mb-4">Or you can use your cash to lower your premium by up to 80%  if you renew your cover with us next year!</p>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot.gif "
                         alt="Thats you"
                         class="lozad rounded img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="knowledge-base__desktop d-none d-xl-block">
    <div class="tabbed-cardbox-alt">
        <ul class="nav nav-tabs justify-content-start"
            id="knowledge_tabs"
            role="tablist">
            <li class="nav-item">
                <a class="nav-link tab-link active"
                   id="cover_tab"
                   data-toggle="tab"
                   href="#cover"
                   role="tab"
                   aria-controls="home"
                   aria-selected="true">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_clip_clipped.svg"
                         alt="Clipboard"
                         width="44px"
                         class="lozad d-none d-xl-inline mr-2">
                    What is and <br> isn't covered
                    <i class="fas fa-arrow-circle-down tab-indicator fa-lg"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-link"
                   id="why_tab"
                   data-toggle="tab"
                   href="#why"
                   role="tab"
                   aria-controls="why"
                   aria-selected="false">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_device_clipped.svg"
                         alt="Mobile phone"
                         width="44px"
                         class="lozad d-none d-xl-inline mr-2">
                    Why insure <br> with so-sure
                   <i class="fas fa-arrow-circle-right tab-indicator fa-lg"></i>
               </a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-link"
                   id="excess_tab"
                   data-toggle="tab"
                   href="#excess"
                   role="tab"
                   aria-controls="excess"
                   aria-selected="false">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reduce_excess_clip.svg"
                         alt="Phone excess"
                         width="44px"
                         class="lozad d-none d-xl-inline mr-2">
                   How to reduce <br> your excess
                   <i class="fas fa-arrow-circle-right tab-indicator fa-lg"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-link"
                   id="cashback_tab"
                   data-toggle="tab"
                   href="#cashback"
                   role="tab"
                   aria-controls="cashback"
                   aria-selected="false">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_pound_clip.svg"
                         alt="Pound coin"
                         width="44px"
                         class="lozad d-none d-xl-inline mr-2">
                   Earn up to <br> 80% cashback
                   <i class="fas fa-arrow-circle-right tab-indicator fa-lg"></i>
               </a>
            </li>
        </ul>
        <div class="tab-content" id="knowledge_tabs_content">
            <div class="tab-pane fade show active"
               id="cover"
               role="tabpanel"
               aria-labelledby="cover-tab">
                <div class="row">
                    <div class="col">
                        <h2 class="h3">What's covered 👍</h2>
                        <ul class="list-unstyled icn-fa-list">
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                Theft &amp; loss as standard
                            </li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                Accidental Damage - including water damage &amp; cracked screens
                            </li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                New, Second hand &amp; refurbished devices up to 3 yrs old
                            </li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                Accessories up to the value of &pound;100 inc VAT
                            </li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                Unauthorised Network charges up to the value of &pound;1000
                            </li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                Out of warranty breakdown
                            </li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                90 days global travel
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h2 class="h3 mb-4">What's not covered 👎</h2>
                        <ul class="list-unstyled icn-fa-list">
                            <li class="mb-3">
                                <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                Any existing claims before you bought our insurance
                            </li>
                            <li class="mb-3">
                                <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                More than 2 claims for Loss and/or Theft in any policy year
                            </li>
                            <li class="mb-3">
                                <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                Claims where you’ve knowingly put your mobile phone at risk
                            </li>
                        </ul>
                    </div>
                </div>
                <hr class="hr-blue my-5">
                <div class="row">
                    <div class="col">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_did_you_know.gif "
                             alt="Phone cover"
                             class="lozad rounded img-fluid mb-4"
                             width="100%">
                    </div>
                    <div class="col">
                        <h2 class="h3 mb-4">
                            Did you know?
                            <span class="ml-2">
                                <a href="#"
                                   data-toggle="modal"
                                   data-target="#did_you_know_modal"
                                   role="button">
                                    <i class="fal fa-info-circle fa-sm"></i>
                                </a>
                            </span>
                        </h2>
                        <ul class="list-unstyled emoji-list">
                            <li class="mb-4">
                                <span class="h3">👮‍♀️</span>
                                <div class="sub">1,222 mobile handsets are stolen every day in the UK!</div>
                            </li>
                            <li class="mb-4">
                                <span class="h3">😱</span>
                                <div class="sub">1 in 4 UK smartphone owners have broken their screen in the last 2 yrs</div>
                            </li>
                            <li class="mb-4">
                                <span class="h3">💰</span>
                                <div class="sub">It can cost &pound;250-&pound;300 to repair top-end smartphone screens</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade"
               id="why"
               role="tabpanel"
               aria-labelledby="why_tab">
                <h2 class="h3">Premium cover 💎</h2>
                <p class="mb-4">Protect your device with comprehensive cover that’s up to 40% cheaper than mobile networks…</p>
                {% include 'AppBundle::Default/_comparisonTable.html.twig' %}
                <hr class="hr-blue my-5">
                <h2 class="h3 mb-4">Amazing benefits 🤩</h2>
                <div class="row mb-4">
                    <div class="col">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_speedy_claims.png"
                             alt="Phone being held"
                             class="lozad rounded img-fluid mb-2">
                    </div>
                    <div class="col">
                        <h3 class="h4 text-primary mb-2">Speedy, hassle-free claims</h3>
                        <p class="mb-4">Use our easy online portal to start your claim, anywhere. Once approved, we aim to repair or replace your phone within 24-72 hours...</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_save_excess.png"
                             alt="Phone mirror selfie"
                             class="lozad rounded img-fluid mb-2">
                    </div>
                    <div class="col">
                        <h3 class="h4 text-primary mb-2">Save up to &pound;100 on your excess</h3>
                        <p class="mb-4">Validate your phone with our app and pay lower excess if you claim…  And no proof of purchase needed if you’ve lost that receipt!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot.png"
                             alt="Reward jar money"
                             class="lozad rounded img-fluid mb-2">
                    </div>
                    <div class="col">
                        <h3 class="h4 text-primary mb-2">Rewards if you’re careful</h3>
                        <p>Join careful friends or family and get &pound;10 in your reward pot for each connection. You could see up to 80% of your money back if none of you claim!</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade"
               id="excess"
               role="tabpanel"
               aria-labelledby="excess_tab">
                <h2 class="h3">Take a phone selfie 📱</h2>
                <p class="mb-4">Validate your device with a phone selfie and save up to &pound;100 on the excess if you need to claim.</p>
                <hr class="hr-blue my-5">
                <h2 class="h3">How does it work? 🤷</h2>
                <p class="mb-4">Once you have bought your policy it less than 30 secs to prove your device is in good working order and the screen isn't cracked using our app… </p>
                <div class="row mb-4">
                    <div class="col">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_save_excess.png"
                             alt="Phone mirror selfie"
                             class="lozad rounded img-fluid mb-2">
                    </div>
                    <div class="col">
                        <h3 class="h4 text-primary mb-2">Grab your phone and a mirror</h3>
                        <p class="mb-4">Check your phone and mirror are clean and be careful not to obstruct the screen with your fingers...</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_phone_selfie.png"
                             alt="Phone mirror selfie"
                             class="lozad rounded img-fluid mb-2">
                    </div>
                    <div class="col">
                        <h3 class="h4 text-primary mb-2">Take your selfie</h3>
                        <p class="mb-4">Hold the phone 10-20cm away from the mirror once the QR code is found your phone will vibrate!</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_speedy_claims.png"
                             alt="Phone being held"
                             class="lozad rounded img-fluid mb-2">
                    </div>
                    <div class="col">
                        <h3 class="h4 text-primary mb-2">Review your photo</h3>
                        <p class="mb-4">Check your entire phone screen is visible and the image is clear. When you’re happy, confirm and that’s it!</p>
                    </div>
                </div>
                <hr class="hr-blue my-5">
                <h2 class="h3">What is excess? 🤔</h2>
                <p>Excess is the amount you pay if you have to claim. It’s a way of you taking on a small portion of the risk.</p>
                <p>Every phone insurance company requires you to pay excess as it helps prevent fraud…</p>
                <hr class="hr-blue my-5">
                <div class="row">
                    <div class="col">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_excess.gif"
                             alt="Thats you"
                             class="lozad rounded img-fluid">
                    </div>
                    <div class="col">
                        <h2 class="h3">Why is your excess so low? 🤷</h2>
                        <p>We are the only mobile phone insurer with clever anti-fraud tech that helps weed out those pesky fraudsters!</p>
                        <p class="mb-4">This saves us paying out on dodgy claims… and means we can pass the savings back to the good guys...</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade"
               id="cashback"
               role="tabpanel"
               aria-labelledby="cashback_tab">
                <h2 class="h3">Build your Reward Pot 💰</h2>
                <p class="mb-4">Validate your device with a phone selfie and save up to &pound;100 on the excess if you need to claim.</p>
                <hr class="hr-blue my-5">
                <h2 class="h3 mb-4">How does it work?  🤷</h2>
                <div class="row mb-4">
                    <div class="col">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_invite_friends.png"
                             alt="Phones and friends"
                             class="lozad rounded img-fluid mb-2">
                    </div>
                    <div class="col">
                        <h3 class="h4 text-primary mb-2">Invite friends via the app</h3>
                        <p class="mb-4">Once you have insured your device with us, you can start inviting straight away by email, text or your favourite social media apps.</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_connect_with_friends.png"
                             alt="Phones and friends"
                             class="lozad rounded img-fluid mb-2">
                    </div>
                    <div class="col">
                        <h3 class="h4 text-primary mb-2">Connect to people you trust</h3>
                        <p class="mb-4">You can only claim your Reward Pot at the end of the year if neither you or your connections have claimed.</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_speedy_claims.png"
                             alt="Phones and friends"
                             class="lozad rounded img-fluid mb-2">
                    </div>
                    <div class="col">
                        <h3 class="h4 text-primary mb-2">Look after your phone</h3>
                        <p class="mb-4">Easy as that, don't break or lose your phone, or make any claims in the policy year.</p>
                    </div>
                </div>
                <hr class="hr-blue my-5">
                {# TODO: Calculator #}
                <h2 class="h3 mb-4">How do I get my cash? 💰</h2>
                <div class="row">
                    <div class="col">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot.gif "
                             alt="Thats you"
                             class="lozad rounded img-fluid">
                    </div>
                    <div class="col">
                        <p>We’ll pay the value of your Reward Pot at the end of the policy year straight into your bank account.</p>
                        <p class="mb-4">Or you can use your cash to lower your premium by up to 80%  if you renew your cover with us next year!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
