<div class="knowledge-base__mobile d-xl-none py-5">
    <div class="expanding-cardbox expanding-cardbox-white mb-3">
        <div class="expanding-cardbox__body">
            <h2 class="h5 expanding-cardbox__title d-flex align-items-center mb-0 track-data"
                data-event="what-is-covered-tab-mb"
                data-event-location="{{ app.request.uri }}"
                data-event-once="">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_clip_tab.svg"
                     alt="Clipboard"
                     width="55px"
                     class="lozad mr-3">
                <span class="">What is and <br class="d-md-none"> isn't covered</span> <i class="fas fa-arrow-circle-down fa-lg"></i>
            </h2>
            <div class="expanding-cardbox__expand">
                <h3 class="my-4"><span class="text-primary">The higest level of cover - </span><br class="d-none d-lg-inline">What's included in your policy</h3>
                <p class="mb-4">Fully comprehensive cover for your phone and we don't hide behind small print ✍️ We replace and repair hundreds of customer phones every month, here's a look at what's covered.</p>
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_hand_holding_phone_stars.jpg"
                     alt="Hand holding mobile phone"
                     class="lozad img-fluid">
                <hr class="mt-0 mb-5">
                <h4 class="mb-4">What's covered 👍</h4>
                <ul class="list-unstyled icn-fa-list">
                    <li class="mb-3">
                        <i class="far fa-check fa-lg fa-fw text-success"></i>
                        Theft &amp; loss as standard
                    </li>
                    <li class="mb-3">
                        <i class="far fa-check fa-lg fa-fw text-success"></i>
                        Accidental Damage - including water damage &amp; cracked screens
                    </li>
                    <li class="mb-3">
                        <i class="far fa-check fa-lg fa-fw text-success"></i>
                        New, <a href="{{ path('phone_insurance_second_hand') }}">Second hand</a> &amp; <a href="{{ path('phone_insurance_refurbished') }}">refurbished</a> devices up to 3 yrs old
                    </li>
                    <li class="mb-3">
                        <i class="far fa-check fa-lg fa-fw text-success"></i>
                        Accessories up to the value of &pound;100 inc VAT
                    </li>
                    <li class="mb-3">
                        <i class="far fa-check fa-lg fa-fw text-success"></i>
                        Unauthorised Network charges up to the value of &pound;1000
                    </li>
                    <li class="mb-3">
                        <i class="far fa-check fa-lg fa-fw text-success"></i>
                        Out of warranty breakdown
                    </li>
                    <li class="mb-4">
                        <i class="far fa-check fa-lg fa-fw text-success"></i>
                        90 days global travel
                    </li>
                </ul>
                <h4 class="mb-4">What's not covered 👎</h4>
                <ul class="list-unstyled icn-fa-list">
                    <li class="mb-3">
                        <i class="far fa-times fa-lg fa-fw text-danger"></i>
                        Any existing claims before you bought our insurance
                    </li>
                    <li class="mb-3">
                        <i class="far fa-times fa-lg fa-fw text-danger"></i>
                        More than 2 claims for Loss and/or Theft in any policy year
                    </li>
                    <li class="mb-4">
                        <i class="far fa-times fa-lg fa-fw text-danger"></i>
                        Claims where you’ve knowingly put your mobile phone at risk
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-white mb-3">
        <div class="expanding-cardbox__body">
            <h2 class="h5 expanding-cardbox__title d-flex align-items-center mb-0 track-data"
                data-event="why-insure-tab-mb"
                data-event-location="{{ app.request.uri }}"
                data-event-once="">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_device_tab.svg"
                     alt="Mobile phone"
                     width="55px"
                     class="lozad mr-3">
                <span class="">Why insure <br class="d-md-none"> with so-sure</span> <i class="fas fa-arrow-circle-down fa-lg"></i>
            </h2>
            <div class="expanding-cardbox__expand">
                <h3 class="my-4"><span class="text-primary">What makes so-sure</span> <br class="d-none d-lg-inline">better than the rest?</h3>
                <p class="mb-4">Protect your device with comprehensive cover that’s up to 40% cheaper than mobile networks. Unlike other insurers, we're less focused on profit, and more focused on giving customers value.</p>
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_group_of_phones_large.jpg"
                     alt="Group of mobile phones"
                     class="lozad img-fluid">
                <hr class="mt-0 mb-5">
                {% include 'AppBundle::Default/_comparisonTable.html.twig' %}
                <h3 class="text-center">Amazing benefits 🤩</h3>
                <div class="card box-shadow mr-5 mb-5 w-100">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_benefits_one.jpg"
                         class="lozad card-img-top"
                         alt="Phone being held">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Speedy, <br> hassle-free claims</h4>
                        <p class="card-text">Use our easy online portal to start your claim, anywhere. Once approved, we aim to repair or replace your phone within 24-72 hours...</p>
                    </div>
                </div>
                <div class="card box-shadow mr-5 mb-5 w-100">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_benefits_two.jpg"
                         class="lozad card-img-top"
                         alt="Phone mirror selfie">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Save up to &pound;100 <br> on your excess</h4>
                        <p class="card-text">Validate your phone with our app and pay lower excess if  you claim... And no proof of purchase needed if you’ve lost that receipt!</p>
                    </div>
                </div>
                <div class="card box-shadow mb-5 w-100">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_benefits_three.jpg"
                         class="lozad card-img-top"
                         alt="Reward jar money">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Rewards <br> if you’re careful</h4>
                        <p class="card-text">Join careful friends or family and get &pound;10 in your reward pot for each connection. You could see up to 80% of your money back if none of you claim!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-white mb-3">
        <div class="expanding-cardbox__body">
            <h2 class="h5 expanding-cardbox__title d-flex align-items-center mb-0 track-data"
                data-event="reduce-excess-tab-mb"
                data-event-location="{{ app.request.uri }}"
                data-event-once="">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reduce_excess_tab.svg"
                     alt="Phone excess"
                     width="55px"
                     class="lozad mr-3">
                <span class="">How to reduce <br class="d-md-none"> your excess</span> <i class="fas fa-arrow-circle-down fa-lg"></i>
            </h2>
            <div class="expanding-cardbox__expand">
                <h3 class="my-4"><span class="text-primary">Take a phone selfie 📱</span><br class="d-none d-lg-inline">and reduce your excess </h3>
                <p class="mb-4">Validate your device with a phone selfie and <strong>save up to &pound;100</strong> on the excess if you need to claim. Once you have bought your policy it will take less than 30 secs to prove your device is in good working order.</p>
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_phone_selfie_large.jpg"
                     alt="Phone selfie mirror"
                     class="lozad img-fluid">
                <hr class="mt-0 mb-5">
                <h3 class="text-center mb-4">How does it work? 🤷</h3>
                <div class="card box-shadow mr-5 mb-5 w-100">
                    <div class="card-number"><span class="h4 mb-0">1</span></div>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_excess_one.jpg"
                         class="lozad card-img-top"
                         alt="Phone mirror selfie">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Grab your phone <br> and a mirror</h4>
                        <p class="card-text">Check your phone and mirror are clean and be careful not to obstruct the screen with your fingers...</p>
                    </div>
                </div>
                <div class="card box-shadow mr-5 mb-5 w-100">
                    <div class="card-number"><span class="h4 mb-0">2</span></div>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_excess_two.jpg"
                         class="lozad card-img-top"
                         alt="Phone mirror selfie">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Take your selfie</h4>
                        <p class="card-text">Hold the phone 10-20cm away from the mirror once the QR code is found your phone will vibrate!</p>
                    </div>
                </div>
                <div class="card box-shadow mb-5 w-100">
                    <div class="card-number"><span class="h4 mb-0">3</span></div>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_excess_three.jpg"
                         class="lozad card-img-top"
                         alt="Phone being held by woman">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Review your photo</h4>
                        <p class="card-text">Check your entire phone screen is visible and the image is clear. When you’re happy, confirm and that’s it!</p>
                    </div>
                </div>
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_happy_group.jpg"
                     alt="Happy group of people"
                     class="lozad img-fluid rounded mb-4">
                <h4 class="h5 text-primary">What is excess? 🤔</h3>
                <p class="mb-5">Excess is the amount you pay if you have to claim. It’s a way of you taking on a small portion of the risk. Every phone insurance company requires you to pay excess as it helps prevent fraud...</p>
                <h4 class="h5 text-primary">Why is your excess so low? 🤷</h4>
                <p class="mb-4">We are the only mobile phone insurer with clever anti-fraud tech that helps weed out those pesky fraudsters!This saves us paying out on dodgy claims... and means we can pass the savings back to the good guys...</p>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-white">
        <div class="expanding-cardbox__body">
            <h2 class="h5 expanding-cardbox__title d-flex align-items-center mb-0 track-data"
                data-event="earn-cashback-tab-mb"
                data-event-location="{{ app.request.uri }}"
                data-event-once="">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_pound_tab.svg"
                     alt="Pound coin"
                     width="55px"
                     class=" lozad mr-3">
                <span class="">How to earn up <br class="d-md-none"> to 80% cashback</span> <i class="fas fa-arrow-circle-down fa-lg"></i>
            </h2>
            <div class="expanding-cardbox__expand">
                <h3 class="my-4"><span class="text-primary">Build your Reward Pot 💰</span><br class="d-none d-lg-inline">and earn up to 80% cashback </h3>
                <p class="mb-4">By joining forces with your most careful friends and family, you could see <strong>up to 80%</strong> of your insurance premium reimbursed to you every year. Yes, really!</p>
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot_and_connections.jpg"
                     alt="Connections and money pot"
                     class="lozad img-fluid">
                <hr class="mt-0 mb-5">
                <h3 class="mb-4 text-center">How does it work? 🤷</h3>
                <div class="card box-shadow mr-5 mb-5 w-100">
                    <div class="card-number"><span class="h4 mb-0">1</span></div>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot_one.jpg"
                         class="lozad card-img-top"
                         alt="Polaroid of friends">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Invite friends via the app</h4>
                        <p class="card-text">Once you have insured your device with us, you can start inviting straight away by email, text or your favourite social media apps.</p>
                    </div>
                </div>
                <div class="card box-shadow mr-5 mb-5 w-100">
                    <div class="card-number"><span class="h4 mb-0">2</span></div>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot_two.jpg"
                         class="lozad card-img-top"
                         alt="Phone connection app">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Connect to people <br> you trust</h4>
                        <p class="card-text">You can only claim your Reward Pot at the end of the year if neither you or your connections have claimed.</p>
                    </div>
                </div>
                <div class="card box-shadow mb-5 w-100">
                    <div class="card-number"><span class="h4 mb-0">3</span></div>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot_three.jpg"
                         class="lozad card-img-top"
                         alt="Woman taking selfie">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Look after your phone</h5>
                        <p class="card-text">Easy as that, don't break or lose your phone, or make any claims in the policy year.</p>
                    </div>
                </div>
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_phone_happy_money.jpg"
                     alt="Phone in hand money"
                     class="lozad img-fluid mb-4 rounded">
                <h4 class="h5 text-primary">How do I get my cash? 💰</h3>
                <p class="mb-5">We'll pay the value of your Reward Pot at the end of the policy year straight into your bank account. Or you can use your cash to lower your premium by up to 80% if you renew your cover with us next year!</p>
            </div>
        </div>
    </div>
    <div class="cardbox cardbox-100 mt-3">
        <div class="cardbox__body">
            <h2 class="text-center my-4">Did you know?</h2>
            <div class="d-flex justify-content-start align-items-center mb-4">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_dyk_stolen.jpg"
                     alt="Lost phone"
                     width="145px"
                     class="lozad mr-2">
                <div>
                    <div class="h1 text-primary mb-2">1,222</div>
                    <div class="h6">Mobile handsets are stolen every day in the UK! 👮‍♀️</div>
                </div>
            </div>
            <div class="d-flex justify-content-start align-items-center mb-4">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_dyk_broken.jpg"
                     alt="Broken phone"
                     width="145px"
                     class="lozad mr-2">
                <div>
                    <div class="h1 text-primary mb-2">1 in 4</div>
                    <div class="h6">UK owners have broken their screen in the last 2 years 😱</div>
                </div>
            </div>
            <div class="d-flex justify-content-start align-items-center mb-4">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_dyk_screen.jpg"
                     alt="Broken phone screen"
                     width="145px"
                     class="lozad mr-2">
                <div>
                    <div class="h1 text-primary mb-2">&pound;300!</div>
                    <div class="h6">It can cost &pound;250-&pound;300 to repair  top-end phones 💰</div>
                </div>
            </div>
            {% if no_cta is not defined %}
                <div class="text-center mb-4">
                    {% if phone is defined and phone %}
                        <a href="#" class="btn btn-success btn-block-xs mr-sm-2 get-a-quote disabled">Get covered for <br> &pound;{{ prices['monthly'].monthlyPremiumPrice }}</a>
                    {% else %}
                        <a href="#" class="btn btn-success btn-block-xs mr-sm-2 get-a-quote disabled">Get covered from only <br> &pound;3.49 a month</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="knowledge-base__desktop d-none d-xl-block pb-5">
    <div class="tabbed-cardbox-alt mb-5">
        <ul class="nav nav-tabs"
            id="knowledge_tabs"
            role="tablist">
            <li class="nav-item">
                <a class="nav-link tab-link track-data"
                   id="cover_tab"
                   data-toggle="tab"
                   href="#cover"
                   role="tab"
                   aria-controls="home"
                   aria-selected="false"
                   data-event="what-is-covered-tab-dt"
                   data-event-location="{{ app.request.uri }}"
                   data-event-once="">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_clip_tab.svg"
                         alt="Clipboard"
                         width="44px"
                         class="lozad d-none d-xl-inline mr-2">
                    What is and <br> isn't covered
                    <i class="fas fa-arrow-circle-down tab-indicator fa-lg"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-link track-data"
                   id="why_tab"
                   data-toggle="tab"
                   href="#why"
                   role="tab"
                   aria-controls="why"
                   aria-selected="false"
                   data-event="why-insure-tab-dt"
                   data-event-location="{{ app.request.uri }}"
                   data-event-once="">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_device_tab.svg"
                         alt="Mobile phone"
                         width="44px"
                         class="lozad d-none d-xl-inline mr-2">
                    Why insure <br> with so-sure
                   <i class="fas fa-arrow-circle-up tab-indicator fa-lg"></i>
               </a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-link track-data"
                   id="excess_tab"
                   data-toggle="tab"
                   href="#excess"
                   role="tab"
                   aria-controls="excess"
                   aria-selected="false"
                   data-event="reduce-excess-tab-dt"
                   data-event-location="{{ app.request.uri }}"
                   data-event-once="">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reduce_excess_tab.svg"
                         alt="Phone excess"
                         width="44px"
                         class="lozad d-none d-xl-inline mr-2">
                   How to reduce <br> your excess
                   <i class="fas fa-arrow-circle-up tab-indicator fa-lg"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-link active track-data"
                   id="cashback_tab"
                   data-toggle="tab"
                   href="#cashback"
                   role="tab"
                   aria-controls="cashback"
                   aria-selected="true"
                   data-event="earn-cashback-tab-dt"
                   data-event-location="{{ app.request.uri }}"
                   data-event-once="">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_pound_tab.svg"
                         alt="Pound coin"
                         width="44px"
                         class="lozad d-none d-xl-inline mr-2">
                   Earn up to <br> 80% cashback
                   <i class="fas fa-arrow-circle-up tab-indicator fa-lg"></i>
               </a>
            </li>
        </ul>
        <div class="tab-content" id="knowledge_tabs_content">
            <div class="tab-pane fade"
               id="cover"
               role="tabpanel"
               aria-labelledby="cover-tab">
                <div class="row px-5 pt-5">
                    <div class="col-7">
                        <h3 class="h2 my-4"><span class="text-primary">The higest level of cover - </span><br class="d-none d-lg-inline">What's included in your policy</h3>
                        <p class="lead">Fully comprehensive cover for your phone and we don't hide behind small print ✍️ We replace and repair hundreds of customer phones every month, here's a look at what's covered.</p>
                    </div>
                    <div class="col-5">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_hand_holding_phone_stars.jpg"
                             alt="Hand holding mobile phone"
                             class="lozad img-fluid">
                    </div>
                </div>
                <hr class="mt-0">
                <div class="row p-5">
                    <div class="col">
                        <h4 class="h3 mb-4">What's covered 👍</h4>
                        <ul class="list-unstyled icn-fa-list">
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                Theft &amp; loss as standard
                            </li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                Accidental Damage - including water damage &amp; cracked screens
                            </li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                New, <a href="{{ path('phone_insurance_second_hand') }}">Second hand</a> &amp; <a href="{{ path('phone_insurance_refurbished') }}">refurbished</a> devices up to 3 yrs old
                            </li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                Accessories up to the value of &pound;100 inc VAT
                            </li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                Unauthorised Network charges up to the value of &pound;1000
                            </li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                Out of warranty breakdown
                            </li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                90 days global travel
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h4 class="h3 mb-4">What's not covered 👎</h4>
                        <ul class="list-unstyled icn-fa-list">
                            <li class="mb-3">
                                <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                Any existing claims before you bought our insurance
                            </li>
                            <li class="mb-3">
                                <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                More than 2 claims for Loss and/or Theft in any policy year
                            </li>
                            <li class="mb-3">
                                <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                Claims where you’ve knowingly put your mobile phone at risk
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade"
               id="why"
               role="tabpanel"
               aria-labelledby="why_tab">
                <div class="row px-5 pt-5">
                    <div class="col-7">
                        <h3 class="h2 my-4"><span class="text-primary">What makes so-sure</span><br class="d-none d-lg-inline">better than the rest?</h3>
                        <p class="lead">Protect your device with comprehensive cover that’s up to 40% cheaper than mobile networks. Unlike other insurers, we're less focused on profit, and more focused on giving customers value.</p>
                    </div>
                    <div class="col-5">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_group_of_phones_large.jpg"
                             alt="Group of mobile phones"
                             class="lozad img-fluid">
                    </div>
                </div>
                <hr class="mt-0 mb-4">
                <h3 class="h2 pt-5 text-center">Premium cover 💎</h3>
                {% include 'AppBundle::Default/_comparisonTable.html.twig' %}
                <hr class="mb-4">
                <h3 class="h2 pt-5 text-center">Amazing benefits 🤩</h3>
                <div class="d-flex justify-content-between p-5">
                    <div class="card box-shadow mr-5 mb-4 w-100">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_benefits_one.jpg"
                             class="lozad card-img-top"
                             alt="Phone being held">
                        <div class="card-body py-4 text-center">
                            <h4 class="h5 text-primary card-title">Speedy, <br> hassle-free claims</h4>
                            <p class="card-text">Use our easy online portal to start your claim, anywhere. Once approved, we aim to repair or replace your phone within 24-72 hours...</p>
                        </div>
                    </div>
                    <div class="card box-shadow mr-5 mb-4 w-100">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_benefits_two.jpg"
                             class="lozad card-img-top"
                             alt="Phone mirror selfie">
                        <div class="card-body py-4 text-center">
                            <h4 class="h5 text-primary card-title">Save up to &pound;100 <br> on your excess</h4>
                            <p class="card-text">Validate your phone with our app and pay lower excess if  you claim... And no proof of purchase needed if you’ve lost that receipt!</p>
                        </div>
                    </div>
                    <div class="card box-shadow mb-4 w-100">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_benefits_three.jpg"
                             class="lozad card-img-top"
                             alt="Reward jar money">
                        <div class="card-body py-4 text-center">
                            <h4 class="h5 text-primary card-title">Rewards <br> if you’re careful</h4>
                            <p class="card-text">Join careful friends or family and get &pound;10 in your reward pot for each connection. You could see up to 80% of your money back if none of you claim!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade"
               id="excess"
               role="tabpanel"
               aria-labelledby="excess_tab">
                <div class="row px-5 pt-5">
                    <div class="col-7">
                        <h3 class="h2 my-4"><span class="text-primary">Take a phone selfie 📱</span><br class="d-none d-lg-inline">and reduce your excess </h3>
                        <p class="lead">Validate your device with a phone selfie and <strong>save up to &pound;100</strong> on the excess if you need to claim. Once you have bought your policy it will take less than 30 secs to prove your device is in good working order.</p>
                    </div>
                    <div class="col-5">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_phone_selfie_large.jpg"
                             alt="Phone selfie mirror"
                             class="lozad img-fluid">
                    </div>
                </div>
                <hr class="mt-0 mb-4">
                <h3 class="h2 pt-5 text-center">How does it work? 🤷</h3>
                <div class="d-flex justify-content-between p-5">
                    <div class="card box-shadow mr-5 mb-4 w-100">
                        <div class="card-number"><span class="h4 mb-0">1</span></div>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_excess_one.jpg"
                             class="lozad card-img-top"
                             alt="Phone mirror selfie">
                        <div class="card-body py-4 text-center">
                            <h4 class="h5 text-primary card-title">Grab your phone <br> and a mirror</h4>
                            <p class="card-text">Check your phone and mirror are clean and be careful not to obstruct the screen with your fingers...</p>
                        </div>
                    </div>
                    <div class="card box-shadow mr-5 mb-4 w-100">
                        <div class="card-number"><span class="h4 mb-0">2</span></div>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_excess_two.jpg"
                             class="lozad card-img-top"
                             alt="Phone mirror selfie">
                        <div class="card-body py-4 text-center">
                            <h4 class="h5 text-primary card-title">Take your selfie</h4>
                            <p class="card-text">Hold the phone 10-20cm away from the mirror once the QR code is found your phone will vibrate!</p>
                        </div>
                    </div>
                    <div class="card box-shadow mb-4 w-100">
                        <div class="card-number"><span class="h4 mb-0">3</span></div>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_excess_three.jpg"
                             class="lozad card-img-top"
                             alt="Phone being held by woman">
                        <div class="card-body py-4 text-center">
                            <h4 class="h5 text-primary card-title">Review your photo</h4>
                            <p class="card-text">Check your entire phone screen is visible and the image is clear. When you’re happy, confirm and that’s it!</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row px-5 pt-5">
                    <div class="col-6">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_happy_group.jpg"
                             alt="Happy group of people"
                             class="lozad img-fluid rounded">
                    </div>
                    <div class="col-5 offset-1">
                        <h4 class="h5 text-primary">What is excess? 🤔</h3>
                        <p class="mb-5">Excess is the amount you pay if you have to claim. It’s a way of you taking on a small portion of the risk. Every phone insurance company requires you to pay excess as it helps prevent fraud...</p>
                        <h4 class="h5 text-primary">Why is your excess so low? 🤷</h4>
                        <p class="mb-4">We are the only mobile phone insurer with clever anti-fraud tech that helps weed out those pesky fraudsters!This saves us paying out on dodgy claims... and means we can pass the savings back to the good guys...</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show active"
               id="cashback"
               role="tabpanel"
               aria-labelledby="cashback_tab">
                <div class="row px-5 pt-5">
                    <div class="col-7">
                        <h3 class="h2 my-4"><span class="text-primary">Build your Reward Pot 💰</span><br class="d-none d-lg-inline">and earn up to 80% cashback </h3>
                        <p class="lead">By joining forces with your most careful friends and family, you could see <strong>up to 80%</strong> of your insurance premium reimbursed to you every year. Yes, really!</p>
                    </div>
                    <div class="col-5">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot_and_connections.jpg"
                             alt="Connections and money pot"
                             class="lozad img-fluid">
                    </div>
                </div>
                <hr class="mt-0 mb-4">
                <h3 class="h2 pt-5 text-center">How does it work? 🤷</h3>
                <div class="d-flex justify-content-between p-5">
                    <div class="card box-shadow mr-5 mb-4 w-100">
                        <div class="card-number"><span class="h4 mb-0">1</span></div>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot_one.jpg"
                             class="lozad card-img-top"
                             alt="Polaroid of friends">
                        <div class="card-body py-4 text-center">
                            <h4 class="h5 text-primary card-title">Invite friends via the app</h4>
                            <p class="card-text">Once you have insured your device with us, you can start inviting straight away by email, text or your favourite social media apps.</p>
                        </div>
                    </div>
                    <div class="card box-shadow mr-5 mb-4 w-100">
                        <div class="card-number"><span class="h4 mb-0">2</span></div>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot_two.jpg"
                             class="lozad card-img-top"
                             alt="Phone connection app">
                        <div class="card-body py-4 text-center">
                            <h4 class="h5 text-primary card-title">Connect to people <br> you trust</h4>
                            <p class="card-text">You can only claim your Reward Pot at the end of the year if neither you or your connections have claimed.</p>
                        </div>
                    </div>
                    <div class="card box-shadow mb-4 w-100">
                        <div class="card-number"><span class="h4 mb-0">3</span></div>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot_three.jpg"
                             class="lozad card-img-top"
                             alt="Woman taking selfie">
                        <div class="card-body py-4 text-center">
                            <h4 class="h5 text-primary card-title">Look after your phone</h5>
                            <p class="card-text">Easy as that, don't break or lose your phone, or make any claims in the policy year.</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row px-5 pt-5">
                    <div class="col-6">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_phone_happy_money.jpg"
                             alt="Phone in hand money"
                             class="lozad img-fluid rounded">
                    </div>
                    <div class="col-5 offset-1">
                        <h4 class="h5 text-primary">How do I get my cash? 💰</h3>
                        <p class="mb-5">We'll pay the value of your Reward Pot at the end of the policy year straight into your bank account. Or you can use your cash to lower your premium by up to 80% if you renew your cover with us next year!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cardbox cardbox-100">
        <div class="cardbox__body">
            <h2 class="text-center my-4">Did you know?</h2>
            <div class="d-flex justify-content-between align-items-center px-4">
                <div class="d-flex justify-content-start align-items-center mr-2">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_dyk_stolen.jpg"
                         alt="Lost phone"
                         width="145px"
                         class="lozad mr-2">
                    <div>
                        <div class="h1 text-primary mb-2">1,222</div>
                        <div class="h6">Mobile handsets are stolen every day in the UK! 👮‍♀️</div>
                    </div>
                </div>
                <div class="d-flex justify-content-start align-items-center mr-2">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_dyk_broken.jpg"
                         alt="Broken phone"
                         width="145px"
                         class="lozad mr-2">
                    <div>
                        <div class="h1 text-primary mb-2">1 in 4</div>
                        <div class="h6">UK owners have broken their screen in the last 2 years 😱</div>
                    </div>
                </div>
                <div class="d-flex justify-content-start align-items-center mr-2">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_dyk_screen.jpg"
                         alt="Broken phone screen"
                         width="145px"
                         class="lozad mr-2">
                    <div>
                        <div class="h1 text-primary mb-2">&pound;300!</div>
                        <div class="h6">It can cost &pound;250-&pound;300 to repair top-end phones 💰</div>
                    </div>
                </div>
            </div>
            {% if no_cta is not defined %}
                <div class="text-center my-4">
                    {% if phone is defined and phone %}
                        <a href="#" class="btn btn-success btn-block-xs mr-sm-2 get-a-quote disabled">Get covered for &pound;{{ prices['monthly'].monthlyPremiumPrice }}</a>
                    {% else %}
                        <a href="#" class="btn btn-success btn-block-xs mr-sm-2 get-a-quote disabled">Get covered from only &pound;3.49 a month</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
