<div class="knowledge-base__mobile d-xl-none py-5">
    <div class="expanding-cardbox expanding-cardbox-white mb-3">
        <div class="expanding-cardbox__body">
            <h2 class="h5 expanding-cardbox__title d-flex align-items-center mb-0 track-data"
                data-event="earn-cashback-tab-mb"
                data-event-location="{{ app.request.uri }}"
                data-event-once="">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_pound_tab.svg"
                     alt="Pound coin"
                     width="55px"
                     class=" lozad mr-3">
                <span class="">How to earn <br class="d-md-none">cashback</span> <i class="fas fa-arrow-circle-down fa-lg"></i>
            </h2>
            <div class="expanding-cardbox__expand">
                <h3 class="my-4">Collect up to 80% cashback 💰</h3>
                <p class="mb-4">Connect with friends who are also SO-SURE customers and if none of you claim, you all get money back. £10 per friend, up to 80% of your premium for Mobile insurance and up to 40% for Contents insurance. Not just once either, but every single year. Another win-win.</p>
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot_and_connections.jpg"
                     alt="Connections and money pot"
                     class="lozad img-fluid">
                <hr class="mt-0 mb-5">
                <h3 class="mb-4 text-center">How does it work? 🤷</h3>
                <div class="card box-shadow mr-5 mb-5 w-100">
                    <div class="card-num"><span class="h4 mb-0">1</span></div>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot_one.jpg"
                         class="lozad card-img-top"
                         alt="Polaroid of friends">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Tell your friends</h4>
                        <p class="card-text">Invite friends to SO-SURE straight from our app with a few taps of your finger.</p>
                    </div>
                </div>
                <div class="card box-shadow mr-5 mb-5 w-100">
                    <div class="card-num"><span class="h4 mb-0">2</span></div>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot_two.jpg"
                         class="lozad card-img-top"
                         alt="Phone connection app">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Join forces</h4>
                        <p class="card-text">Connect to friends in the app and watch your Reward Pot grow.</p>
                    </div>
                </div>
                <div class="card box-shadow mb-5 w-100">
                    <div class="card-num"><span class="h4 mb-0">3</span></div>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot_three.jpg"
                         class="lozad card-img-top"
                         alt="Woman taking selfie">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Win together 💰</h5>
                        <p class="card-text">If none of you make a claim that year, you all get cashback.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-white mb-3">
        <div class="expanding-cardbox__body">
            <h2 class="h5 expanding-cardbox__title d-flex align-items-center mb-0 track-data"
                data-event="reduce-excess-tab-mb"
                data-event-location="{{ app.request.uri }}"
                data-event-once="">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reduce_excess_tab.svg"
                     alt="Phone excess"
                     width="55px"
                     class="lozad mr-3">
                <span class="">Reduce <br class="d-md-none">your excess</span> <i class="fas fa-arrow-circle-down fa-lg"></i>
            </h2>
            <div class="expanding-cardbox__expand">
                <h3 class="my-4"><span class="text-primary">Slash your excess</span><br class="d-none d-lg-inline"> and reduce paperwork! 📄</h3>
                <p class="mb-4">Open the SO-SURE app and use our clever tech to validate your insured item(s). This will reduce your excess by up to £100 and provide you an easier and faster claim experience.</p>
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_excess.gif"
                     alt="Phone selfie mirror"
                     class="lozad img-fluid">
                <hr class="mt-0 mb-5">
                <h3 class="text-center mb-4">How does it work?</h3>
                <div class="card box-shadow mr-5 mb-5 w-100">
                    <div class="card-num"><span class="h4 mb-0">1</span></div>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_excess_two.jpg"
                         class="lozad card-img-top"
                         alt="Phone mirror selfie">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Open our app</h4>
                        <p class="card-text">All our products have clever tech to help you lower your excess.</p>
                    </div>
                </div>
                <div class="card box-shadow mr-5 mb-5 w-100">
                    <div class="card-num"><span class="h4 mb-0">2</span></div>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_excess_three.jpg"
                         class="lozad card-img-top"
                         alt="Phone mirror selfie">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Hit submit</h4>
                        <p class="card-text">When you’re done, hit submit and we’ll check it’s ok.</p>
                    </div>
                </div>
                <div class="card box-shadow mb-5 w-100">
                    <div class="card-num"><span class="h4 mb-0">3</span></div>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_excess_four.jpg"
                         class="lozad card-img-top"
                         alt="Phone being held by woman">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Enjoy 👍</h4>
                        <p class="card-text">In no time at all, your excess is reduced. Easy as that.</p>
                    </div>
                </div>
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_happy_group.jpg"
                     alt="Happy group of people"
                     class="lozad img-fluid rounded mb-4">
                <h4 class="h5 text-primary">What is excess? 🤔</h3>
                <p class="mb-5">Excess is the amount you pay if you have to claim. It’s a way of you taking on a small portion of the risk. Every insurance company requires you to pay excess as it helps prevent fraud...</p>
                <h4 class="h5 text-primary">How can your excess be so low? 🤩</h4>
                <p class="mb-4">We are the only insurer with clever anti-fraud tech that helps weed out fraud. We don’t have to pay out on dodgy claims, so you can get a much lower excess. Win-win for the win...</p>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-white">
        <div class="expanding-cardbox__body">
            <h2 class="h5 expanding-cardbox__title d-flex align-items-center mb-0 track-data"
                data-event="claims-tab-mb"
                data-event-location="{{ app.request.uri }}"
                data-event-once="">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_claims_device_tab.svg"
                     alt="Damaged Phone"
                     width="55px"
                     class="lozad mr-3">
                <span class="">Our hassle-free <br class="d-md-none">claims process</span> <i class="fas fa-arrow-circle-down fa-lg"></i>
            </h2>
            <div class="expanding-cardbox__expand">
                <h3 class="mb-4 text-center">Need to claim, here's what happens</h3>
                <div class="card box-shadow mr-5 mb-5 w-100">
                    <div class="card-num"><span class="h4 mb-0">1</span></div>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_claims_one.jpg"
                         class="lozad card-img-top"
                         alt="Polaroid of friends">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Launch your claim online</h4>
                        <p class="card-text">Claiming with so-sure is easy, fast and pain-free. Get started using our online claims portal or our app.</p>
                    </div>
                </div>
                <div class="card box-shadow mr-5 mb-5 w-100">
                    <div class="card-num"><span class="h4 mb-0">2</span></div>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_claims_two.jpg"
                         class="lozad card-img-top"
                         alt="Phone connection app">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Review Claim</h4>
                        <p class="card-text">Our UK based claims team will review your claim and reach out with a request for any further details or documents.</p>
                    </div>
                </div>
                <div class="card box-shadow mb-5 w-100">
                    <div class="card-num"><span class="h4 mb-0">3</span></div>
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_claims_three.jpg"
                         class="lozad card-img-top"
                         alt="Woman taking selfie">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Approve Claim</h5>
                        <p class="card-text">Once approved, we take your excess payment over the phone and aim to get your issue sorted within 24-72 hours.</p>
                    </div>
                </div>
                <a href="{{ path('claim') }}" class="btn btn-success btn-block-xs mt-3">Find out more</a>
            </div>
        </div>
    </div>
</div>
<div class="knowledge-base__desktop d-none d-xl-block">
    <div class="tabbed-cardbox-alt">
        <ul class="nav nav-tabs nav-tabs-home"
            id="knowledge_tabs"
            role="tablist">
            <li class="nav-item">
                <a class="nav-link tab-link active track-data"
                   id="cashback_tab"
                   data-toggle="tab"
                   href="#cashback"
                   role="tab"
                   aria-controls="cashback"
                   aria-selected="true"
                   data-event="earn-cashback-tab-dt"
                   data-event-location="{{ app.request.uri }}"
                   data-event-once="">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_pound_tab.svg"
                         alt="Pound coin"
                         width="32px"
                         class="lozad d-none d-xl-inline mr-2">
                   How to earn <br>cashback
               </a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-link track-data"
                   id="excess_tab"
                   data-toggle="tab"
                   href="#excess"
                   role="tab"
                   aria-controls="excess"
                   aria-selected="false"
                   data-event="reduce-excess-tab-dt"
                   data-event-location="{{ app.request.uri }}"
                   data-event-once="">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reduce_excess_tab.svg"
                         alt="Phone excess"
                         width="32px"
                         class="lozad d-none d-xl-inline mr-2">
                   Reduce <br>your excess
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-link track-data"
                   id="claims_tab"
                   data-toggle="tab"
                   href="#claims"
                   role="tab"
                   aria-controls="claims"
                   aria-selected="false"
                   data-event="claims-tab-dt"
                   data-event-location="{{ app.request.uri }}"
                   data-event-once="">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_claims_device_tab.svg"
                         alt="Damaged Phone"
                         width="32px"
                         class="lozad d-none d-xl-inline mr-2">
                   Our hassle-free <br>claims process
                </a>
            </li>
        </ul>
        <div class="tab-content" id="knowledge_tabs_content">
            <div class="tab-pane fade show active"
               id="cashback"
               role="tabpanel"
               aria-labelledby="cashback_tab">
                <div class="row px-5 pt-5">
                    <div class="col-7">
                        <h3 class="h2 my-4">Collect up to 80% cashback 💰</h3>
                        <p class="lead">Connect with friends who are also SO-SURE customers and if none of you claim, you all get money back. £10 per friend, up to 80% of your premium for Mobile insurance and up to 40% for Contents insurance. Not just once either, but every single year. Another win-win.</p>
                    </div>
                    <div class="col-5">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot_and_connections.jpg"
                             alt="Connections and money pot"
                             class="lozad img-fluid">
                    </div>
                </div>
                <hr class="mt-0 mb-4">
                <h3 class="h2 pt-5 text-center">How does it work? 🤷</h3>
                <div class="d-flex justify-content-between p-5">
                    <div class="card box-shadow mr-5 mb-4 w-100">
                        <div class="card-num"><span class="h4 mb-0">1</span></div>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot_one.jpg"
                             class="lozad card-img-top"
                             alt="Polaroid of friends">
                        <div class="card-body py-4 text-center">
                            <h4 class="h5 text-primary card-title">Tell your friends</h4>
                            <p class="card-text">Invite friends to SO-SURE straight from our app with a few taps of your finger.</p>
                        </div>
                    </div>
                    <div class="card box-shadow mr-5 mb-4 w-100">
                        <div class="card-num"><span class="h4 mb-0">2</span></div>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot_two.jpg"
                             class="lozad card-img-top"
                             alt="Phone connection app">
                        <div class="card-body py-4 text-center">
                            <h4 class="h5 text-primary card-title">Join forces</h4>
                            <p class="card-text">Connect to friends in the app and watch your Reward Pot grow.</p>
                        </div>
                    </div>
                    <div class="card box-shadow mb-4 w-100">
                        <div class="card-num"><span class="h4 mb-0">3</span></div>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_reward_pot_three.jpg"
                             class="lozad card-img-top"
                             alt="Woman taking selfie">
                        <div class="card-body py-4 text-center">
                            <h4 class="h5 text-primary card-title">Win together 💰</h5>
                            <p class="card-text">If none of you make a claim that year, you all get cashback.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade"
               id="excess"
               role="tabpanel"
               aria-labelledby="excess_tab">
                <div class="row px-5 pt-5">
                    <div class="col-7">
                        <h3 class="h2 my-4">Slash your excess<br class="d-none d-lg-inline"> and reduce paperwork! 📄</h3>
                        <p class="lead">Open the SO-SURE app and use our clever tech to validate your insured item(s). This will reduce your excess by up to £100 and provide you an easier and faster claim experience. </p>
                    </div>
                    <div class="col-5">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_excess.gif"
                             alt="Phone selfie mirror"
                             class="lozad img-fluid">
                    </div>
                </div>
                <hr class="mt-0 mb-4">
                <h3 class="h2 pt-5 text-center">How does it work?</h3>
                <div class="d-flex justify-content-between p-5">
                    <div class="card box-shadow mr-5 mb-4 w-100">
                        <div class="card-num"><span class="h4 mb-0">1</span></div>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_excess_two.jpg"
                             class="lozad card-img-top"
                             alt="Phone mirror selfie">
                        <div class="card-body py-4 text-center">
                            <h4 class="h5 text-primary card-title">Open our app</h4>
                            <p class="card-text">All our products have clever tech to help you lower your excess.</p>
                        </div>
                    </div>
                    <div class="card box-shadow mr-5 mb-4 w-100">
                        <div class="card-num"><span class="h4 mb-0">2</span></div>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_excess_three.jpg"
                             class="lozad card-img-top"
                             alt="Phone mirror selfie">
                        <div class="card-body py-4 text-center">
                            <h4 class="h5 text-primary card-title">Hit submit</h4>
                            <p class="card-text">When you’re done, hit submit and we’ll check it’s ok.</p>
                        </div>
                    </div>
                    <div class="card box-shadow mb-4 w-100">
                        <div class="card-num"><span class="h4 mb-0">3</span></div>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_excess_four.jpg"
                             class="lozad card-img-top"
                             alt="Phone being held by woman">
                        <div class="card-body py-4 text-center">
                            <h4 class="h5 text-primary card-title">Enjoy 👍</h4>
                            <p class="card-text">In no time at all, your excess is reduced. Easy as that.</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row px-5 pt-5">
                    <div class="col-6">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_happy_group.jpg"
                             alt="Happy group of people"
                             class="lozad img-fluid rounded">
                    </div>
                    <div class="col-5 offset-1">
                        <h4 class="h5 text-primary">What is excess? 🤔</h3>
                        <p class="mb-5">Excess is the amount you pay if you have to claim. It’s a way of you taking on a small portion of the risk. Every insurance company requires you to pay excess as it helps prevent fraud...</p>
                        <h4 class="h5 text-primary">How can your excess be so low? 🤩</h4>
                        <p class="mb-4">We are the only insurer with clever anti-fraud tech that helps weed out fraud. We don’t have to pay out on dodgy claims, so you can get a much lower excess. Win-win for the win...</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade"
               id="claims"
               role="tabpanel"
               aria-labelledby="claims_tab">
                <h3 class="h2 pt-5 text-center">Need to claim, here's what happens</h3>
                <div class="d-flex justify-content-between p-5">
                    <div class="card box-shadow mr-5 mb-4 w-100">
                        <div class="card-num"><span class="h4 mb-0">1</span></div>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_claims_one.jpg"
                             class="lozad card-img-top"
                             alt="Polaroid of friends">
                        <div class="card-body py-4 text-center">
                            <h4 class="h5 text-primary card-title">Launch your claim online</h4>
                            <p class="card-text">Claiming with so-sure is easy, fast and pain-free. Get started using our online claims portal or our app.</p>
                        </div>
                    </div>
                    <div class="card box-shadow mr-5 mb-4 w-100">
                        <div class="card-num"><span class="h4 mb-0">2</span></div>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_claims_two.jpg"
                             class="lozad card-img-top"
                             alt="Phone connection app">
                        <div class="card-body py-4 text-center">
                            <h4 class="h5 text-primary card-title">Review Claim</h4>
                            <p class="card-text">Our UK based claims team will review your claim and reach out with a request for any further details or documents.</p>
                        </div>
                    </div>
                    <div class="card box-shadow mb-4 w-100">
                        <div class="card-num"><span class="h4 mb-0">3</span></div>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_claims_three.jpg"
                             class="lozad card-img-top"
                             alt="Woman taking selfie">
                        <div class="card-body py-4 text-center">
                            <h4 class="h5 text-primary card-title">Approve Claim</h5>
                            <p class="card-text">Once approved, we take your excess payment over the phone and aim to get your issue sorted within 24-72 hours.</p>
                        </div>
                    </div>
                </div>
                <div class="text-center"><a href="{{ path('claim') }}" class="btn btn-success btn-block-xs mt-3">Find out more</a></div>
            </div>
        </div>
    </div>
</div>