<div class="toast toast-1 {{ toast_position }}"
     role="alert"
     data-autohide="true"
     data-delay="5000">
    <div class="toast-body">
        <div class="toast-review d-flex align-items-start"
             vocab="https://schema.org/"
             typeof="Review">
            <span property="itemReviewed"
                  typeof="Thing">
                <meta property="name" content="so-sure mobile insurance">
            </span>
            <span property="publisher" typeof="Organization">
                <meta property="name" content="Trustpilot">
            </span>
            <span class="review__rating"
                  property="reviewRating"
                  typeof="Rating">
                <meta property="ratingValue" content="5">
                <meta property="bestRating" content="5">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer" class="lozad toast-review-img mr-3" width="50px">
            </span>
            <div class="toast-review-text">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/toasts/so-sure_toast_trustpilot_rating_5.svg" class="lozad" width="90px">
                <div class="h6 mt-2 mb-1"
                    property="author"
                    typeof="Person">
                    <span property="name">Lisa</span>
                </div>
                <spam property="description">Really good after putting on details of everything I needed got a email validate my phone condition really clever after doing that if your phone is perfect your excess drops</spam>
            </div>
        </div>
    </div>
</div>

<div class="toast toast-2 {{ toast_position }}"
     role="alert"
     data-autohide="true"
     data-delay="5000">
    <div class="toast-body">
        <div class="toast-review d-flex align-items-start"
             vocab="https://schema.org/"
             typeof="Review">
            <span property="itemReviewed"
                  typeof="Thing">
                <meta property="name" content="so-sure mobile insurance">
            </span>
            <span property="publisher" typeof="Organization">
                <meta property="name" content="Trustpilot">
            </span>
            <span class="review__rating"
                  property="reviewRating"
                  typeof="Rating">
                <meta property="ratingValue" content="5">
                <meta property="bestRating" content="5">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer" class="lozad toast-review-img mr-3" width="50px">
            </span>
            <div class="toast-review-text">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/toasts/so-sure_toast_trustpilot_rating_5.svg" class="lozad" width="90px">
                <div class="h6 mt-2 mb-1"
                    property="author"
                    typeof="Person">
                    <span property="name">Kirsten Campbell</span>
                </div>
                <spam property="description">A very helpful insurance company, which is usually a contradiction in terms, but not with So-Sure. The staff have gone over and above to walk me through the app and save me money. I high recommended So-Sure for peace of mind.</spam>
            </div>
        </div>
    </div>
</div>

<div class="toast toast-3 {{ toast_position }}"
     role="alert"
     data-autohide="true"
     data-delay="5000">
    <div class="toast-body">
        <div class="toast-review d-flex align-items-start"
             vocab="https://schema.org/"
             typeof="Review">
            <span property="itemReviewed"
                  typeof="Thing">
                <meta property="name" content="so-sure mobile insurance">
            </span>
            <span property="publisher" typeof="Organization">
                <meta property="name" content="Trustpilot">
            </span>
            <span class="review__rating"
                  property="reviewRating"
                  typeof="Rating">
                <meta property="ratingValue" content="5">
                <meta property="bestRating" content="5">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-male-gravatar.png" alt="so-sure customer" class="lozad toast-review-img mr-3" width="50px">
            </span>
            <div class="toast-review-text">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/toasts/so-sure_toast_trustpilot_rating_5.svg" class="lozad" width="90px">
                <div class="h6 mt-2 mb-1"
                    property="author"
                    typeof="Person">
                    <span property="name">Steve</span>
                </div>
                <spam property="description">Great coverage, simple to use and for less money than the competitors it gives me some piece of mind in case something happens to my new iPhone. A good investment, period.</spam>
            </div>
        </div>
    </div>
</div>

<div class="toast toast-4 {{ toast_position }}"
     role="alert"
     data-autohide="true"
     data-delay="5000">
    <div class="toast-body">
        <div class="toast-review d-flex align-items-start"
             vocab="https://schema.org/"
             typeof="Review">
            <span property="itemReviewed"
                  typeof="Thing">
                <meta property="name" content="so-sure mobile insurance">
            </span>
            <span property="publisher" typeof="Organization">
                <meta property="name" content="Trustpilot">
            </span>
            <span class="review__rating"
                  property="reviewRating"
                  typeof="Rating">
                <meta property="ratingValue" content="5">
                <meta property="bestRating" content="5">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer" class="lozad toast-review-img mr-3" width="50px">
            </span>
            <div class="toast-review-text">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/toasts/so-sure_toast_trustpilot_rating_5.svg" class="lozad" width="90px">
                <div class="h6 mt-2 mb-1"
                    property="author"
                    typeof="Person">
                    <span property="name">Lewis Dene Jones</span>
                </div>
                <spam property="description">Such an easy and simple process to follow and my insurance cover was setup in less that 5 minutes!</spam>
            </div>
        </div>
    </div>
</div>

<div class="toast toast-5 {{ toast_position }}"
     role="alert"
     data-autohide="false"
     data-delay="5000">
    <button type="button"
            class="toast-button text-pale-cornflower-blue track-data close"
            data-dismiss="toast"
            aria-label="Close"
            data-event="clicked-trustpilot-toast">
        <span aria-hidden="true">×</span>
    </button>
    <div class="toast-body">
        <div class="toast-review d-flex align-items-start"
             vocab="https://schema.org/"
             typeof="Review">
            <span property="itemReviewed"
                  typeof="Thing">
                <meta property="name" content="so-sure mobile insurance">
            </span>
            <span property="publisher" typeof="Organization">
                <meta property="name" content="Trustpilot">
            </span>
            <span class="review__rating"
                  property="reviewRating"
                  typeof="Rating">
                <meta property="ratingValue" content="5">
                <meta property="bestRating" content="5">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer" class="lozad toast-review-img mr-3" width="50px">
            </span>
            <div class="toast-review-text">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/toasts/so-sure_toast_trustpilot_rating_5.svg" class="lozad" width="90px">
                <div class="h6 mt-2 mb-1"
                    property="author"
                    typeof="Person">
                    <span property="name">Liz</span>
                </div>
                <spam property="description">Great customer support on live chat, Kitti was very helpful so will insure my phone with them. Hope it will be the same if I have to claim in the future</spam>
            </div>
        </div>
    </div>
</div>


