<div class="reviews-mobile d-md-none"
     vocab="https://schema.org/"
     typeof="Review">
    <span property="itemReviewed" typeof="Organization">
        <meta property="name" content="so-sure insurance">
    </span>
    <hr class="mb-0">
    <div class="reviews-mobile-controls">
        <a href="#" class="reviews-mobile-controls-prev disabled">
            <i class="fas fa-arrow-left fa-lg"></i>
        </a>
        <a href="#" class="reviews-mobile-controls-next">
            <i class="fas fa-arrow-right fa-lg"></i>
        </a>
    </div>
    <div class="reviews-mobile-container">
        <div class="reviews-mobile-item active"
            property="publisher"
            typeof="Organization">
            <meta property="name" content="Trustpilot">
            <span property="reviewRating"
                    typeof="Rating">
                <meta property="ratingValue" content="5">
                <meta property="bestRating" content="5">
                <img src="{{ cdn_url }}/images/onexone.png"
                        data-src="{{ cdn_url }}/images/rebrand/trustpilot/Trustpilot_ratings_5star-RGB.svg" alt="Trustpilot 5 Star"
                        class="mr-3"
                        width="140px">
            </span>
            <p class="my-4" property="description">
                <small>I had great confidence in the application and initial set up with so-sure and using the app to verify and validate the insurance was really easy and quick.</small>
            </p>
            <div class="reviews-author"
                    property="author"
                    typeof="Person">
                <img src="{{ cdn_url }}/images/onexone.png"
                        data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer"
                        class="mr-3"
                        width="44px">
                <span>
                    <span class="h6 text-dark" property="name">Sarah</span> <br>
                    <i class="fad fa-check-circle text-success"></i> <small>Verified</small>
                </span>
            </div>
        </div>
        <div class="reviews-mobile-item"
            property="publisher"
            typeof="Organization">
            <meta property="name" content="Trustpilot">
            <span property="reviewRating"
                typeof="Rating">
                <meta property="ratingValue" content="5">
                <meta property="bestRating" content="5">
                <img src="{{ cdn_url }}/images/onexone.png"
                    data-src="{{ cdn_url }}/images/rebrand/trustpilot/Trustpilot_ratings_5star-RGB.svg" alt="Trustpilot 5 Star"
                    class="mr-3"
                    width="140px">
            </span>
            <p class="my-4" property="description">
                <small>An insurance company with clear and easy to understand details of the cover offered with a quick and efficient application process.</small>
            </p>
            <div class="reviews-author"
                property="author"
                typeof="Person">
                <img src="{{ cdn_url }}/images/onexone.png"
                    data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-male-gravatar.png" alt="so-sure customer"
                    class="mr-3"
                    width="44px">
                <span>
                    <span class="h6 text-dark" property="name">Maurice Horton</span> <br>
                    <i class="fad fa-check-circle text-success"></i> <small>Verified</small>
                </span>
            </div>
        </div>
        <div class="reviews-mobile-item"
            property="publisher"
            typeof="Organization">
            <meta property="name" content="Trustpilot">
            <span property="reviewRating"
                typeof="Rating">
                <meta property="ratingValue" content="5">
                <meta property="bestRating" content="5">
                <img src="{{ cdn_url }}/images/onexone.png"
                    data-src="{{ cdn_url }}/images/rebrand/trustpilot/Trustpilot_ratings_5star-RGB.svg" alt="Trustpilot 5 Star"
                    class="mr-3"
                    width="140px">
            </span>
            <p class="my-4" property="description">
                <small>So sure was super easy to buy, the terms were very clear and the fact that there is an app for it was just the cherry on top... so sure is simple, easy and great for anyone!</small>
            </p>
            <div class="reviews-author"
                property="author"
                typeof="Person">
                <img src="{{ cdn_url }}/images/onexone.png"
                    data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer"
                    class="mr-3"
                    width="44px">
                <span>
                    <span class="h6 text-dark" property="name">Gabbi</span> <br>
                    <i class="fad fa-check-circle text-success"></i> <small>Verified</small>
                </span>
            </div>
        </div>
        <div class="reviews-mobile-item"
            property="publisher"
            typeof="Organization">
            <meta property="name" content="Trustpilot">
            <span property="reviewRating"
                typeof="Rating">
                <meta property="ratingValue" content="5">
                <meta property="bestRating" content="5">
                <img src="{{ cdn_url }}/images/onexone.png"
                    data-src="{{ cdn_url }}/images/rebrand/trustpilot/Trustpilot_ratings_5star-RGB.svg" alt="Trustpilot 5 Star"
                    class="mr-3"
                    width="140px">
            </span>
            <p class="my-4" property="description">
                <small>This was super easy to use and I was accepted for the cheaper excess within a few hours 👌 definitely recommend.</small>
            </p>
            <div class="reviews-author"
                property="author"
                typeof="Person">
                <img src="{{ cdn_url }}/images/onexone.png"
                    data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer"
                    class="mr-3"
                    width="44px">
                <span>
                    <span class="h6 text-dark" property="name">Nikki</span> <br>
                    <i class="fad fa-check-circle text-success"></i> <small>Verified</small>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="reviews-desktop row d-none d-md-flex"
     vocab="https://schema.org/"
     typeof="Review">
    <span property="itemReviewed" typeof="Organization">
        <meta property="name" content="so-sure insurance">
    </span>
    <div class="col-md-6 col-xl-3">
        <div class="reviews-item"
             property="publisher"
             typeof="Organization">
            <meta property="name" content="Trustpilot">
            <span property="reviewRating"
                  typeof="Rating">
                <meta property="ratingValue" content="5">
                <meta property="bestRating" content="5">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/trustpilot/Trustpilot_ratings_5star-RGB.svg" alt="Trustpilot 5 Star"
                     class="mr-3"
                     width="140px">
            </span>
            <p class="my-4" property="description">
                <small>I had great confidence in the application and initial set up with so-sure and using the app to verify and validate the insurance was really easy and quick.</small>
            </p>
            <div class="reviews-author"
                 property="author"
                 typeof="Person">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer"
                     class="mr-3"
                     width="44px">
                <span>
                    <span class="h6 text-dark" property="name">Sarah</span> <br>
                    <i class="fad fa-check-circle text-success"></i> <small>Verified</small>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="reviews-item"
             property="publisher"
             typeof="Organization">
            <meta property="name" content="Trustpilot">
            <span property="reviewRating"
                  typeof="Rating">
                <meta property="ratingValue" content="5">
                <meta property="bestRating" content="5">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/trustpilot/Trustpilot_ratings_5star-RGB.svg" alt="Trustpilot 5 Star"
                     class="mr-3"
                     width="140px">
            </span>
            <p class="my-4" property="description">
                <small>An insurance company with clear and easy to understand details of the cover offered with a quick and efficient application process.</small>
            </p>
            <div class="reviews-author"
                 property="author"
                 typeof="Person">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-male-gravatar.png" alt="so-sure customer"
                     class="mr-3"
                     width="44px">
                <span>
                    <span class="h6 text-dark" property="name">Maurice Horton</span> <br>
                    <i class="fad fa-check-circle text-success"></i> <small>Verified</small>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="reviews-item"
             property="publisher"
             typeof="Organization">
            <meta property="name" content="Trustpilot">
            <span property="reviewRating"
                  typeof="Rating">
                <meta property="ratingValue" content="5">
                <meta property="bestRating" content="5">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/trustpilot/Trustpilot_ratings_5star-RGB.svg" alt="Trustpilot 5 Star"
                     class="mr-3"
                     width="140px">
            </span>
            <p class="my-4" property="description">
                <small>So sure was super easy to buy, the terms were very clear and the fact that there is an app for it was just the cherry on top... so sure is simple, easy and great for anyone!</small>
            </p>
            <div class="reviews-author"
                 property="author"
                 typeof="Person">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer"
                     class="mr-3"
                     width="44px">
                <span>
                    <span class="h6 text-dark" property="name">Gabbi</span> <br>
                    <i class="fad fa-check-circle text-success"></i> <small>Verified</small>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="reviews-item"
             property="publisher"
             typeof="Organization">
            <meta property="name" content="Trustpilot">
            <span property="reviewRating"
                  typeof="Rating">
                <meta property="ratingValue" content="5">
                <meta property="bestRating" content="5">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/trustpilot/Trustpilot_ratings_5star-RGB.svg" alt="Trustpilot 5 Star"
                     class="mr-3"
                     width="140px">
            </span>
            <p class="my-4" property="description">
                <small>This was super easy to use and I was accepted for the cheaper excess within a few hours 👌 definitely recommend.</small>
            </p>
            <div class="reviews-author"
                 property="author"
                 typeof="Person">
                <img src="{{ cdn_url }}/images/onexone.png"
                     data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer"
                     class="mr-3"
                     width="44px">
                <span>
                    <span class="h6 text-dark" property="name">Nikki</span> <br>
                    <i class="fad fa-check-circle text-success"></i> <small>Verified</small>
                </span>
            </div>
        </div>
    </div>
</div>