<div class="toast toast-1 toast-bottom-right"
     role="alert"
     data-autohide="true"
     data-delay="5000">
{#     <button type="button" class="toast-button text-pale-cornflower-blue close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button> #}
    <div class="toast-body">
        <div class="toast-review d-flex align-items-start"
             vocab="https://schema.org/"
             typeof="Review">
            <span property="itemReviewed"
                  typeof="Thing">
                <meta property="name" content="so-sure mobile insurance">
            </span>
            <span property="publisher" typeof="Organization">
                <meta property="name" content="Trustpilot">
            </span>
            <span class="review__rating"
                  property="reviewRating"
                  typeof="Rating">
                <meta property="ratingValue" content="5">
                <meta property="bestRating" content="5">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-male-gravatar.png" alt="so-sure customer" class="lozad toast-review-img mr-3" width="50px">
            </span>
            <div class="toast-review-text">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/toasts/so-sure_toast_trustpilot_rating_5.svg" class="lozad" width="90px">
                <h6 class="mt-2 mb-1"
                    property="author"
                    typeof="Person">
                    <span property="name">Tristan</span>
                </h6>
                <spam property="description">Simple sign up process and positive customer service experience.</spam>
            </div>
        </div>
    </div>
</div>

<div class="toast toast-2 toast-bottom-right"
     role="alert"
     data-autohide="true"
     data-delay="5000">
{#     <button type="button" class="toast-button text-pale-cornflower-blue close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button> #}
    <div class="toast-body">
        <div class="toast-review d-flex align-items-start"
             vocab="https://schema.org/"
             typeof="Review">
            <span property="itemReviewed"
                  typeof="Thing">
                <meta property="name" content="so-sure mobile insurance">
            </span>
            <span property="publisher" typeof="Organization">
                <meta property="name" content="Trustpilot">
            </span>
            <span class="review__rating"
                  property="reviewRating"
                  typeof="Rating">
                <meta property="ratingValue" content="4">
                <meta property="bestRating" content="5">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer" class="lozad toast-review-img mr-3" width="50px">
            </span>
            <div class="toast-review-text">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/toasts/so-sure_toast_trustpilot_rating_4.svg" class="lozad" width="90px">
                <h6 class="mt-2 mb-1"
                    property="author"
                    typeof="Person">
                    <span property="name">Sarah Woodward</span>
                </h6>
                <spam property="description">Easy to purchase and upload details for discount on excess. Pleased so far, the truth will be if I ever need to make a claim</spam>
            </div>
        </div>
    </div>
</div>

<div class="toast toast-3 toast-bottom-left"
     role="alert"
     data-autohide="true"
     data-delay="5000">
{#     <button type="button" class="toast-button text-pale-cornflower-blue close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button> #}
    <div class="toast-body">
        <div class="toast-review d-flex align-items-start"
             vocab="https://schema.org/"
             typeof="Review">
            <span property="itemReviewed"
                  typeof="Thing">
                <meta property="name" content="so-sure mobile insurance">
            </span>
            <span property="publisher" typeof="Organization">
                <meta property="name" content="Trustpilot">
            </span>
            <span class="review__rating"
                  property="reviewRating"
                  typeof="Rating">
                <meta property="ratingValue" content="5">
                <meta property="bestRating" content="5">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer" class="lozad toast-review-img mr-3" width="50px">
            </span>
            <div class="toast-review-text">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/toasts/so-sure_toast_trustpilot_rating_5.svg" class="lozad" width="90px">
                <h6 class="mt-2 mb-1"
                    property="author"
                    typeof="Person">
                    <span property="name">Jan Brook</span>
                </h6>
                <spam property="description">Mobile cover for peace of mind - Clear and easy to set up. Great value 100% recommended</spam>
            </div>
        </div>
    </div>
</div>

<div class="toast toast-4 toast-bottom-right"
     role="alert"
     data-autohide="true"
     data-delay="5000">
{#     <button type="button" class="toast-button text-pale-cornflower-blue close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button> #}
    <div class="toast-body">
        <div class="toast-review d-flex align-items-start"
             vocab="https://schema.org/"
             typeof="Review">
            <span property="itemReviewed"
                  typeof="Thing">
                <meta property="name" content="so-sure mobile insurance">
            </span>
            <span property="publisher" typeof="Organization">
                <meta property="name" content="Trustpilot">
            </span>
            <span class="review__rating"
                  property="reviewRating"
                  typeof="Rating">
                <meta property="ratingValue" content="5">
                <meta property="bestRating" content="5">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-male-gravatar.png" alt="so-sure customer" class="lozad toast-review-img mr-3" width="50px">
            </span>
            <div class="toast-review-text">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/toasts/so-sure_toast_trustpilot_rating_5.svg" class="lozad" width="90px">
                <h6 class="mt-2 mb-1"
                    property="author"
                    typeof="Person">
                    <span property="name">Michal Wojdak</span>
                </h6>
                <spam property="description">Great :) - Great customer service</spam>
            </div>
        </div>
    </div>
</div>

<div class="toast toast-5 toast-bottom-right"
     role="alert"
     data-autohide="false"
     data-delay="5000">
    <button type="button"
            class="toast-button text-pale-cornflower-blue track-data close"
            data-dismiss="toast"
            aria-label="Close"
            data-event="clicked-trustpilot-toast">
        <span aria-hidden="true">×</span>
    </button>
    <div class="toast-body">
        <div class="toast-review d-flex align-items-start"
             vocab="https://schema.org/"
             typeof="Review">
            <span property="itemReviewed"
                  typeof="Thing">
                <meta property="name" content="so-sure mobile insurance">
            </span>
            <span property="publisher" typeof="Organization">
                <meta property="name" content="Trustpilot">
            </span>
            <span class="review__rating"
                  property="reviewRating"
                  typeof="Rating">
                <meta property="ratingValue" content="4">
                <meta property="bestRating" content="5">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-male-gravatar.png" alt="so-sure customer" class="lozad toast-review-img mr-3" width="50px">
            </span>
            <div class="toast-review-text">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/toasts/so-sure_toast_trustpilot_rating_4.svg" class="lozad" width="90px">
                <h6 class="mt-2 mb-1"
                    property="author"
                    typeof="Person">
                    <span property="name">Menay</span>
                </h6>
                <spam property="description">Really good service would recommend it to everyone. Straight forward &amp; easy big thumbs up!</spam>
            </div>
        </div>
    </div>
</div>


