<div class="row">
    <div class="col-md-6">
        <h3 class="d-flex align-items-center justify-content-between">
            Bacs Files Summary by date
        </h3>
        <table class="table table-striped mb-5">
            <thead class="thead-light">
            <tr>
                <th>Day of Month</th>
                <th>Input File</th>
                <th>Arudd</th>
                <th>DDIC</th>
                <td></td>
                <th>Bacs Subtotal</th>
                <th>Bank Account</th>
                <td></td>
                <th>Diff</th>
                <th>Cumulative Diff</th>
            </tr>
            </thead>
            <tbody>
            {% set cumulative = 0 %}
            {% for day,ymd in dates.ymd %}
                {% set input_total = 0 %}
                {% set files = [] %}
                {% for file in bacsInputFiles if file.metadata['serial-number'] is defined and file.metadata['processing-date']  is defined %}
                    {% set received_date = next_business_day_historical(file.metadata['processing-date']) %}
                    {% if received_date|date('m') == dates.month and received_date|date('d') == day %}
                        {% set amount = null %}
                        {% if file.metadata['debit-accepted-value'] is defined and file.metadata['debit-accepted-value'] > 0 %}
                            {% set amount = file.metadata['debit-accepted-value'] %}
                        {% elseif file.metadata['credit-accepted-value'] is defined and file.metadata['credit-accepted-value'] > 0 %}
                            {% set amount = 0 - file.metadata['credit-accepted-value'] %}
                        {% endif %}
                        {% if file.metadata['debit-rejected-value'] is defined and file.metadata['debit-rejected-value'] > 0 %}
                            {% set amount = amount + file.metadata['debit-rejected-value'] %}
                        {% elseif file.metadata['credit-rejected-value'] is defined and file.metadata['credit-rejected-value'] > 0 %}
                            {% set amount = amount - file.metadata['credit-rejected-value'] %}
                        {% endif %}
                        {% set input_total = input_total + amount %}
                        {% set files = files|merge([file.metadata['serial-number']]) %}
                    {% endif %}
                {% endfor %}

                {% set arudd_total = 0 %}
                {% for file in bacsAruddFiles if file.metadata['processing-date'] is defined and file.metadata['amounts'] is defined %}
                    {% set received_date = next_business_day_historical(file.metadata['processing-date']) %}

                    {% if received_date|date('m') == dates.month and received_date|date('d') == day  %}
                        {% for ref,amount in file.metadata['amounts'] %}
                            {% set amount = 0 - amount %}
                            {% set arudd_total = arudd_total + amount %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                {% set ddic_total = 0 %}
                {% for file in bacsDdicFiles if file.metadata['refund-date'] is defined and file.metadata['refund-details'] is defined %}
                    {% set received_date = day(file.metadata['refund-date']) %}
                    {% if received_date|date('m') == dates.month  and received_date|date('d') == day  %}
                        {% for ref,amount in file.metadata['refund-details'] %}
                            {% set amount = 0 - amount %}
                            {% set ddic_total = ddic_total + amount %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                {% set subtotal = input_total + arudd_total + ddic_total %}
                {% set diff = null %}
                {% set lloyds_day = null %}
                {% if lloyds.dailyBacs[ymd] is defined %}
                    {% set lloyds_day = lloyds.dailyBacs[ymd]  %}
                    {% set diff = subtotal - lloyds.dailyBacs[ymd]  %}
                    {% set cumulative = cumulative + diff %}
                {% endif %}
                {% if equal_to_two_dp(diff, 0) %}
                    {% set color = 'table-success' %}
                {% else %}
                    {% set color = 'table-warning' %}
                {% endif %}
                <tr class="{{ color }}">
                    <td>{{ day }}</td>
                    <td>{{ input_total|number_format(2, '.', ',') }}</td>
                    <td>{{ arudd_total|number_format(2, '.', ',') }}</td>
                    <td>{{ ddic_total|number_format(2, '.', ',') }}</td>
                    <td></td>
                    <td>{{ subtotal|number_format(2, '.', ',') }}</td>
                    <td>{{ lloyds_day |number_format(2, '.', ',')  }}</td>
                    <td></td>
                    <td><strong>{{ diff|number_format(2, '.', ',') }}</strong></td>
                    <td>{{ cumulative|number_format(2, '.', ',')  }}</td>
                </tr>
            {% endfor %}
            <tr class="table-info">
            </tr>
            </tbody>
        </table>
    </div>


</div>
