<div class="row">
    <div class="col-md-6">
        <h3>Transaction Date</h3>
        {% set sosureTotal = 0 %}
        {% set cashflowsTotal = 0 %}
        {% for day,ymd in dates.ymd %}
            {% if sosure['dailyJudoShiftedTransaction'][day] is defined %}
                {% set sosureTotal = sosureTotal + sosure['dailyJudoShiftedTransaction'][day] %}
            {% endif %}
            {% if cashflows['dailyTransaction'][ymd] is defined %}
                {% set cashflowsTotal = cashflowsTotal + cashflows['dailyTransaction'][ymd] %}
            {% endif %}
        {% endfor %}
        <table class="table table-striped mb-5">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>so-sure  (adj TZ)</th>
                    <th>Cashflows</th>
                    <th>Diff</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Month</td>
                    {% if equal_to_two_dp(sosure['monthlyJudoShiftedTransaction'].total, sosureTotal) %}
                        {% set color = 'table-success' %}
                    {% else %}
                        {% set color = 'table-danger' %}
                    {% endif %}
                    <td class="{{ color }}">
                        &pound;{{ sosure['monthlyJudoShiftedTransaction'].total|number_format(2, '.', ',') }}
                    </td>
                    {% if equal_to_two_dp(cashflows['monthlyTransaction'], cashflowsTotal) %}
                        {% set color = 'table-success' %}
                    {% else %}
                        {% set color = 'table-danger' %}
                    {% endif %}
                    <td class="{{ color }}">
                        &pound;{{ cashflows['monthlyTransaction']|number_format(2, '.', ',') }}
                    </td>
                    <td>&pound;{{ (sosure['monthlyJudoShiftedTransaction'].total - cashflows['monthlyTransaction'])|number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td></td>
                    <td>&pound;{{ cashflows['yearlyTransaction']|number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <td>All time</td>
                    <td></td>
                    <td>&pound;{{ cashflows['allTransaction']|number_format(2, '.', ',') }}</td>
                </tr>
            </tbody>
        </table>
        <h3>Transaction Date</h3>
        <table class="table table-striped mb-5">
            <thead class="thead-light">
                <tr>
                    <th>Day of Month</th>
                    <th>so-sure (adj TZ)</th>
                    <th>Cashflows</th>
                    <th>Diff</th>
                    <th>Cumulative Diff</th>
                </tr>
            </thead>
            <tbody>
                {% set cumulative = 0 %}
                {% for day,ymd in dates.ymd %}
                    {% set color = '' %}
                    {% if sosure['dailyJudoShiftedTransaction'][day] is defined and cashflows['dailyTransaction'][ymd] is defined  %}
                        {% if equal_to_two_dp(sosure['dailyJudoShiftedTransaction'][day], cashflows['dailyTransaction'][ymd]) %}
                            {% set color = 'table-success' %}
                        {% else %}
                            {% set color = 'table-danger' %}
                        {% endif %}
                    {% endif %}
                    <tr class='{{ color }}'>
                        <td>{{ day }}</td>
                        <td>{% if sosure['dailyJudoShiftedTransaction'][day] is defined %}
                                &pound;{{ sosure['dailyJudoShiftedTransaction'][day]|number_format(2, '.', ',') }}
                            {% else %}-
                            {% endif %}
                        </td>
                        <td>{% if cashflows['dailyTransaction'][ymd] is defined %}
                                &pound;{{ cashflows['dailyTransaction'][ymd]|number_format(2, '.', ',') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{% if sosure['dailyJudoShiftedTransaction'][day] is defined and cashflows['dailyTransaction'][ymd] is defined %}
                                {% set diff = sosure['dailyJudoShiftedTransaction'][day] - cashflows['dailyTransaction'][ymd] %}
                                {% set cumulative = cumulative + diff %}
                                &pound;{{ diff|number_format(2, '.', ',') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{% if sosure['dailyJudoShiftedTransaction'][day] is defined and cashflows['dailyTransaction'][ymd] is defined %}
                                &pound;{{ cumulative|number_format(2, '.', ',') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr class="table-info">
                    <td>SubTotal</td>
                    <td>
                        &pound;{{ sosureTotal|number_format(2, '.', ',') }}
                    </td>
                    <td>
                        &pound;{{ cashflowsTotal|number_format(2, '.', ',') }}
                    </td>
                    <td>
                        &pound;{{ (sosureTotal - cashflowsTotal)|number_format(2, '.', ',') }}
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Processing Date</h3>
        <table class="table table-striped mb-5">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Cashflows</th>
                    <th>Lloyds</th>
                    <th>Diff</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Month</td>
                    <td>&pound;{{ cashflows['monthlyProcessed']|number_format(2, '.', ',') }}</td>
                    <td>&pound;{{ lloyds['monthlyProcessed']|number_format(2, '.', ',') }}</td>
                    <td>&pound;{{ (cashflows['monthlyTransaction'] - lloyds['monthlyProcessed'])|number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td>&pound;{{ cashflows['yearlyProcessed']|number_format(2, '.', ',') }}</td>
                    <td>&pound;{{ lloyds['yearlyProcessed']|number_format(2, '.', ',') }}</td>
                    <td>&pound;{{ (cashflows['yearlyProcessed'] - lloyds['yearlyProcessed'])|number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <td>All time</td>
                    <td>&pound;{{ cashflows['allProcessed']|number_format(2, '.', ',') }}</td>
                    <td>&pound;{{ lloyds['allProcessed']|number_format(2, '.', ',') }}</td>
                    <td>&pound;{{ (cashflows['allProcessed'] - lloyds['allProcessed'])|number_format(2, '.', ',') }}</td>
                </tr>
            </tbody>
        </table>
       <h2>Processing Date</h2>
        <table class="table table-striped mb-5">
            <thead class="thead-light">
                <tr>
                    <th>Day of Month</th>
                    <th>Cashflows</th>
                    <th>Lloyds</th>
                    <th>Diff</th>
                    <th>Cumulative Diff</th>
                </tr>
            </thead>
            <tbody>
                {% set cumulative = 0 %}
                {% for day,ymd in dates.ymd %}
                    {% set color = '' %}
                    {% if cashflows['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined  %}
                        {% if equal_to_two_dp(cashflows['dailyProcessed'][ymd], lloyds['dailyProcessed'][ymd]) %}
                            {% set color = 'table-success' %}
                        {% else %}
                            {% set color = 'table-danger' %}
                        {% endif %}
                    {% endif %}
                    <tr class='{{ color }}'>
                        <td>{{ day }}</td>
                        <td>{% if cashflows['dailyProcessed'][ymd] is defined %}&pound;{{ cashflows['dailyProcessed'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                        <td>{% if lloyds['dailyProcessed'][ymd] is defined %}&pound;{{ lloyds['dailyProcessed'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                        <td>{% if cashflows['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined %}
                                {% set diff = cashflows['dailyProcessed'][ymd] - lloyds['dailyProcessed'][ymd] %}
                                {% set cumulative = cumulative + diff %}
                                &pound;{{ diff|number_format(2, '.', ',') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{% if cashflows['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined %}
                                &pound;{{ cumulative|number_format(2, '.', ',') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% for day,ymd in dates.next_ymd %}
                    {% set color = '' %}
                    {% if cashflows['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined  %}
                        {% if equal_to_two_dp(cashflows['dailyProcessed'][ymd], lloyds['dailyProcessed'][ymd]) %}
                            {% set color = 'table-success' %}
                        {% else %}
                            {% set color = 'table-danger' %}
                        {% endif %}
                    {% endif %}
                    <tr class='{{ color }}'>
                        <td>{{ day }}</td>
                        <td>{% if cashflows['dailyProcessed'][ymd] is defined %}&pound;{{ cashflows['dailyProcessed'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                        <td>{% if lloyds['dailyProcessed'][ymd] is defined %}&pound;{{ lloyds['dailyProcessed'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                        <td>{% if cashflows['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined %}
                                {% set diff = cashflows['dailyProcessed'][ymd] - lloyds['dailyProcessed'][ymd] %}
                                {% set cumulative = cumulative + diff %}
                                &pound;{{ diff|number_format(2, '.', ',') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{% if cashflows['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined %}
                                &pound;{{ cumulative|number_format(2, '.', ',') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
