{% if judo is defined %}
<div class="row">
    <div class="col-md-6">
        <h3>Transaction Date</h3>
        {% set sosureTotal = 0 %}
        {% set judoTotal = 0 %}
        {% for day,ymd in dates.ymd %}
            {% if sosure['dailyJudoTransaction'][day] is defined %}
                {% set sosureTotal = sosureTotal + sosure['dailyJudoTransaction'][day] %}
            {% endif %}
            {% if judo['dailyTransaction'][ymd] is defined %}
                {% set judoTotal = judoTotal + judo['dailyTransaction'][ymd] %}
            {% endif %}
        {% endfor %}
        <table class="table table-striped mb-5">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>so-sure</th>
                    <th>Judo</th>
                    <th>Diff</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Month</td>
                    {% set color = '' %}
                    {% if equal_to_two_dp(sosure['monthlyJudoTransaction'].total, sosureTotal) %}
                        {% set color = 'table-success' %}
                    {% else %}
                        {% set color = 'table-danger' %}
                    {% endif %}
                    <td class="{{ color }}">
                        &pound;{{ sosure['monthlyJudoTransaction'].total|number_format(2, '.', ',') }}
                    </td>
                    {% if equal_to_two_dp(judo['monthlyTransaction'], judoTotal) %}
                        {% set color = 'table-success' %}
                    {% else %}
                        {% set color = 'table-danger' %}
                    {% endif %}
                    <td class="{{ color }}">
                        &pound;{{ judo['monthlyTransaction']|number_format(2, '.', ',') }}
                    </td>
                    <td>
                        &pound;{{ (sosure['monthlyJudoTransaction'].total - judo['monthlyTransaction'])|number_format(2, '.', ',') }}
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 class="d-flex align-items-center justify-content-between">
            Transaction Date
            <button type="button" class="btn btn-outline-primary btn-square btn-sm" data-toggle="modal" data-target="#payments_modal"
            > Payment Details</button>
        </h3>
        <table class="table table-striped mb-5">
            <thead class="thead-light">
                <tr>
                    <th>Day of Month</th>
                    <th>so-sure</th>
                    <th>Judo</th>
                    <th>Diff</th>
                    <th>Cumulative Diff</th>
                </tr>
            </thead>
            {% set cumulative = 0 %}
            {% for day,ymd in dates.ymd %}
                {% set color = '' %}
                {% if sosure['dailyJudoTransaction'][day] is defined and judo['dailyTransaction'][ymd] is defined  %}
                    {% if equal_to_two_dp(sosure['dailyJudoTransaction'][day], judo['dailyTransaction'][ymd]) %}
                        {% set color = 'table-success' %}
                    {% else %}
                        {% set color = 'table-danger' %}
                    {% endif %}
                {% endif %}
                <tr class='{{ color }}'>
                    <td>{{ day }}</td>
                    <td>{% if sosure['dailyJudoTransaction'][day] is defined %}
                            &pound;{{ sosure['dailyJudoTransaction'][day]|number_format(2, '.', ',') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{% if judo['dailyTransaction'][ymd] is defined %}
                            &pound;{{ judo['dailyTransaction'][ymd]|number_format(2, '.', ',') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{% if sosure['dailyJudoTransaction'][day] is defined and judo['dailyTransaction'][ymd] is defined %}
                            {% set diff = sosure['dailyJudoTransaction'][day] - judo['dailyTransaction'][ymd] %}
                            {% set cumulative = cumulative + diff %}
                            &pound;{{ diff|number_format(2, '.', ',') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{% if sosure['dailyJudoTransaction'][day] is defined and judo['dailyTransaction'][ymd] is defined %}
                            &pound;{{ cumulative|number_format(2, '.', ',') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr class="table-info">
                <td>SubTotal</td>
                <td>
                    &pound;{{ sosureTotal|number_format(2, '.', ',') }}
                </td>
                <td>
                    &pound;{{ judoTotal|number_format(2, '.', ',') }}
                </td>
                <td>
                    &pound;{{ (sosureTotal - judoTotal)|number_format(2, '.', ',') }}
                </td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Reconciliation</h3>
        <table class="table table-striped mb-5">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Reconciliation</th>
                    <th>Judo</th>
                    <th>Diff</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Month</td>
                    <td>&pound;{{ reconciliation['monthlyTransaction']|number_format(2, '.', ',') }}</td>
                    <td>&pound;{{ judo['monthlyTransaction']|number_format(2, '.', ',') }}</td>
                    <td>&pound;{{ (sosure['monthlyJudoTransaction'].total - judo['monthlyTransaction'])|number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td>&pound;{{ reconciliation['yearlyTransaction']|number_format(2, '.', ',') }}</td>
                    <td>&pound;{{ judo['yearlyTransaction']|number_format(2, '.', ',') }}</td>
                    <td>&pound;{{ (reconciliation['yearlyTransaction'] - judo['yearlyTransaction'])|number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <td>All time</td>
                    <td>&pound;{{ reconciliation['allTransaction']|number_format(2, '.', ',') }}</td>
                    <td>&pound;{{ judo['allTransaction']|number_format(2, '.', ',') }}</td>
                    <td>&pound;{{ (reconciliation['allTransaction'] - judo['allTransaction'])|number_format(2, '.', ',') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endif %}