<div class="row">
    <div class="col-md-6">
        <h3>Processing Date</h3>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>Barclays</th>
                <th>Lloyds</th>
                <th>Diff</th>
            </tr>
            <tr>
                <td>Month</td>
                <td>£{{ barclays['monthlyProcessed']|number_format(2, '.', ',') }}</td>
                <td>£{{ lloyds['monthlyProcessed']|number_format(2, '.', ',') }}</td>
                <td>£{{ (barclays['monthlyProcessed'] - lloyds['monthlyProcessed'])|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <td>Year</td>
                <td>£{{ barclays['yearlyProcessed']|number_format(2, '.', ',') }}</td>
                <td>£{{ lloyds['yearlyProcessed']|number_format(2, '.', ',') }}</td>
                <td>£{{ (barclays['yearlyProcessed'] - lloyds['yearlyProcessed'])|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <td>All time</td>
                <td>£{{ barclays['allProcessed']|number_format(2, '.', ',') }}</td>
                <td>£{{ lloyds['allProcessed']|number_format(2, '.', ',') }}</td>
                <td>£{{ (barclays['allProcessed'] - lloyds['allProcessed'])|number_format(2, '.', ',') }}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Received Date</h3>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>Lloyds</th>
            </tr>
            <tr>
                <td>Month)</td>
                <td>£{{ lloyds['monthlyReceived']|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <td>Year</td>
                <td>£{{ lloyds['yearlyReceived']|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <td>All time</td>
                <td>£{{ lloyds['allReceived']|number_format(2, '.', ',') }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Processing Date</h2>
        <table class="table table-striped">
            <tr>
                <th>Day of Month</th>
                <th>Barclays</th>
                <th>Lloyds</th>
                <th>Diff</th>
                <th>Cumulative Diff</th>
            </tr>
            {% set cumulative = 0 %}
            {% for day in 1..days_in_month %}
                {% if month < 10 and day < 10 %}
                    {% set ymd = year ~ "0" ~ month ~ "0" ~ day %}
                {% elseif day < 10 %}
                    {% set ymd = year ~ month ~ "0" ~ day %}
                {% elseif month < 10 %}
                    {% set ymd = year ~ "0" ~ month ~ day %}
                {% else %}
                    {% set ymd = year ~ month ~ day %}
                {% endif %}
                {% set color = '' %}
                {% if barclays['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined  %}
                    {% if equal_to_two_dp(barclays['dailyProcessed'][ymd], lloyds['dailyProcessed'][ymd]) %}
                        {% set color = 'success' %}
                    {% else %}
                        {% set color = 'danger' %}
                    {% endif %}
                {% endif %}
                <tr class='{{ color }}'>
                    <td>{{ day }}</td>
                    <td>{% if barclays['dailyProcessed'][ymd] is defined %}£{{ barclays['dailyProcessed'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                    <td>{% if lloyds['dailyProcessed'][ymd] is defined %}£{{ lloyds['dailyProcessed'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                    <td>{% if barclays['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined %}
                            {% set diff = barclays['dailyProcessed'][ymd] - lloyds['dailyProcessed'][ymd] %}
                            {% set cumulative = cumulative + diff %}
                            £{{ diff|number_format(2, '.', ',') }}
                        {% elseif barclays['dailyProcessed'][ymd] is defined %}
                            {% set diff = barclays['dailyProcessed'][ymd] %}
                            {% set cumulative = cumulative + diff %}
                            £{{ diff|number_format(2, '.', ',') }}
                        {% elseif lloyds['dailyProcessed'][ymd] is defined %}
                            {% set diff = 0 - lloyds['dailyProcessed'][ymd] %}
                            {% set cumulative = cumulative + diff %}
                            £{{ diff|number_format(2, '.', ',') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{% if barclays['dailyProcessed'][ymd] is defined or lloyds['dailyProcessed'][ymd] is defined %}
                            £{{ cumulative|number_format(2, '.', ',') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% for next_month_day in 1..3 %}
                {% if month == 12 %}
                    {% set ymd = (year + 1) ~ "01" ~ "0" ~ next_month_day %}
                {% elseif month >= 9 %}
                    {% set ymd = year ~ (month + 1) ~ "0" ~ next_month_day %}
                {% else %}
                    {% set ymd = year ~ "0" ~  (month + 1) ~ "0" ~ next_month_day %}
                {% endif %}
                {% set color = '' %}
                {% if barclays['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined  %}
                    {% if equal_to_two_dp(barclays['dailyProcessed'][ymd], lloyds['dailyProcessed'][ymd]) %}
                        {% set color = 'success' %}
                    {% else %}
                        {% set color = 'danger' %}
                    {% endif %}
                {% endif %}
                <tr class='{{ color }}'>
                    <td>{{ next_month_day }}</td>
                    <td>{% if barclays['dailyProcessed'][ymd] is defined %}£{{ barclays['dailyProcessed'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                    <td>{% if lloyds['dailyProcessed'][ymd] is defined %}£{{ lloyds['dailyProcessed'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                    <td>{% if barclays['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined %}
                            {% set diff = barclays['dailyProcessed'][ymd] - lloyds['dailyProcessed'][ymd] %}
                            {% set cumulative = cumulative + diff %}
                            £{{ diff|number_format(2, '.', ',') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{% if barclays['dailyProcessed'][ymd] is defined or lloyds['dailyProcessed'][ymd] is defined %}
                            £{{ cumulative|number_format(2, '.', ',') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6">
        <h2>Received Date</h2>
        <table class="table table-striped">
            <tr>
                <th>Day of Month</th>
                <th>Lloyds</th>
            </tr>
            {% for day in 1..days_in_month %}
                {% if month < 10 and day < 10 %}
                    {% set ymd = year ~ "0" ~ month ~ "0" ~ day %}
                {% elseif day < 10 %}
                    {% set ymd = year ~ month ~ "0" ~ day %}
                {% elseif month < 10 %}
                    {% set ymd = year ~ "0" ~ month ~ day %}
                {% else %}
                    {% set ymd = year ~ month ~ day %}
                {% endif %}
                <tr>
                    <td>{{ day }}</td>
                    <td>{% if lloyds['dailyReceived'][ymd] is defined %}£{{ lloyds['dailyReceived'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                </tr>
            {% endfor %}
            {% for next_month_day in 1..5 %}
                {% if month == 12 %}
                    {% set ymd = (year + 1) ~ "01" ~ "0" ~ next_month_day %}
                {% elseif month >= 9 %}
                    {% set ymd = year ~ (month + 1) ~ "0" ~ next_month_day %}
                {% else %}
                    {% set ymd = year ~ "0" ~  (month + 1) ~ "0" ~ next_month_day %}
                {% endif %}
                <tr>
                    <td>{{ next_month_day }}</td>
                    <td>{% if lloyds['dailyReceived'][ymd] is defined %}£{{ lloyds['dailyReceived'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>