<div class="row">
    <div class="col-md-6">
        <h3>Transaction Date</h3>
        {% set sosureTotal = 0 %}
        {% set sosureShiftedTotal = 0 %}
        {% set salvaTotal = 0 %}
        {% for day,ymd in dates.ymd %}
            {% if sosure['dailyTransaction'][day] is defined %}
                {% set sosureTotal = sosureTotal + sosure['dailyTransaction'][day] %}
            {% endif %}
            {% if sosure['dailyShiftedTransaction'][day] is defined %}
                {% set sosureShiftedTotal = sosureShiftedTotal + sosure['dailyShiftedTransaction'][day] %}
            {% endif %}
            {% if salva['dailyTransaction'][ymd] is defined %}
                {% set salvaTotal = salvaTotal + salva['dailyTransaction'][ymd] %}
            {% endif %}
        {% endfor %}
        <table class="table table-striped mb-5">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>so-sure</th>
                    <th>Salva</th>
                    <th>Diff</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Month</td>
                    {% set color = '' %}
                    {% if equal_to_two_dp(sosure['monthlyTransaction'].total, sosureTotal) %}
                        {% set color = 'table-success' %}
                    {% else %}
                        {% set color = 'table-danger' %}
                    {% endif %}
                    <td class="{{ color }}">
                        &pound;{{ sosure['monthlyTransaction'].total|number_format(2, '.', ',') }}
                    </td>
                    {% if equal_to_two_dp(salva['monthlyTransaction'], salvaTotal) %}
                        {% set color = 'table-success' %}
                    {% else %}
                        {% set color = 'table-danger' %}
                    {% endif %}
                    <td class="{{ color }}">
                        &pound;{{ salva['monthlyTransaction']|number_format(2, '.', ',') }}
                    </td>
                    <td>
                        &pound;{{ (sosure['monthlyTransaction'].total - salva['monthlyTransaction'])|number_format(2, '.', ',') }}
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 class="d-flex align-items-center justify-content-between">
            Transaction Date
            <button type="button" class="btn btn-outline-primary btn-square btn-sm" data-toggle="modal" data-target="#payments_modal"
            > Payment Details</button>
        </h3>
        <table class="table table-striped mb-5">
            <thead class="thead-light">
                <tr>
                    <th>Day of Month</th>
                    <th>so-sure (tz)</th>
                    <th>so-sure</th>
                    <th>Salva</th>
                    <th>Diff</th>
                    <th>Cumulative Diff</th>
                </tr>
            </thead>
            <tbody>
                {% set cumulative = 0 %}
                {% for day,ymd in dates.ymd %}
                    {% set color = '' %}
                    {% if sosure['dailyTransaction'][day] is defined and salva['dailyTransaction'][ymd] is defined  %}
                        {% if equal_to_two_dp(sosure['dailyTransaction'][day], salva['dailyTransaction'][ymd]) %}
                            {% set color = 'table-success' %}
                        {% else %}
                            {% set color = 'table-danger' %}
                        {% endif %}
                    {% endif %}
                    <tr class='{{ color }}'>
                        <td>{{ day }}</td>
                        <td>{% if sosure['dailyShiftedTransaction'][day] is defined %}
                                &pound;{{ sosure['dailyShiftedTransaction'][day]|number_format(2, '.', ',') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{% if sosure['dailyTransaction'][day] is defined %}
                                &pound;{{ sosure['dailyTransaction'][day]|number_format(2, '.', ',') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{% if salva['dailyTransaction'][ymd] is defined %}
                                &pound;{{ salva['dailyTransaction'][ymd]|number_format(2, '.', ',') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{% if sosure['dailyTransaction'][day] is defined and salva['dailyTransaction'][ymd] is defined %}
                                {% set diff = sosure['dailyTransaction'][day] - salva['dailyTransaction'][ymd] %}
                                {% set cumulative = cumulative + diff %}
                                &pound;{{ diff|number_format(2, '.', ',') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{% if sosure['dailyTransaction'][day] is defined and salva['dailyTransaction'][ymd] is defined %}
                                &pound;{{ cumulative|number_format(2, '.', ',') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr class="table-info">
                    <td>SubTotal</td>
                    <td>
                        &pound;{{ sosureShiftedTotal|number_format(2, '.', ',') }}
                    </td>
                    <td>
                        &pound;{{ sosureTotal|number_format(2, '.', ',') }}
                    </td>
                    <td>
                        &pound;{{ salvaTotal|number_format(2, '.', ',') }}
                    </td>
                    <td>
                        &pound;{{ (sosureTotal - salvaTotal)|number_format(2, '.', ',') }}
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
