<div class="row">
    <div class="col-md-6">
        <h3>Transaction Date</h3>
        {% set sosureTotal = 0 %}
        {% set sosureShiftedTotal = 0 %}
        {% set salvaTotal = 0 %}
        {% for day in 1..days_in_month %}
            {% if month < 10 and day < 10 %}
                {% set ymd = year ~ "0" ~ month ~ "0" ~ day %}
            {% elseif day < 10 %}
                {% set ymd = year ~ month ~ "0" ~ day %}
            {% elseif month < 10 %}
                {% set ymd = year ~ "0" ~ month ~ day %}
            {% else %}
                {% set ymd = year ~ month ~ day %}
            {% endif %}
            {% if sosure['dailyTransaction'][day] is defined %}
                {% set sosureTotal = sosureTotal + sosure['dailyTransaction'][day] %}
            {% endif %}
            {% if sosure['dailyShiftedTransaction'][day] is defined %}
                {% set sosureShiftedTotal = sosureShiftedTotal + sosure['dailyShiftedTransaction'][day] %}
            {% endif %}
            {% if salva['dailyTransaction'][ymd] is defined %}
                {% set salvaTotal = salvaTotal + salva['dailyTransaction'][ymd] %}
            {% endif %}
        {% endfor %}
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>so-sure</th>
                <th>Salva</th>
                <th>Diff</th>
            </tr>
            <tr>
                <td>Month</td>
                {% set color = '' %}
                {% if equal_to_two_dp(sosure['monthlyTransaction'].total, sosureTotal) %}
                    {% set color = 'success' %}
                {% else %}
                    {% set color = 'danger' %}
                {% endif %}
                <td class="{{ color }}">
                    £{{ sosure['monthlyTransaction'].total|number_format(2, '.', ',') }}
                </td>
                {% if equal_to_two_dp(salva['monthlyTransaction'], salvaTotal) %}
                    {% set color = 'success' %}
                {% else %}
                    {% set color = 'danger' %}
                {% endif %}
                <td class="{{ color }}">
                    £{{ salva['monthlyTransaction']|number_format(2, '.', ',') }}
                </td>
                <td>
                    £{{ (sosure['monthlyTransaction'].total - salva['monthlyTransaction'])|number_format(2, '.', ',') }}
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Transaction Date

            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#paymentsModal"
            > Payment Details</button>
        </h2>
        <table class="table table-striped">
            <tr>
                <th>Day of Month</th>
                <th>so-sure (tz)</th>
                <th>so-sure</th>
                <th>Salva</th>
                <th>Diff</th>
                <th>Cumulative Diff</th>
            </tr>
            {% set cumulative = 0 %}
            {% for day in 1..days_in_month %}
                {% if month < 10 and day < 10 %}
                    {% set ymd = year ~ "0" ~ month ~ "0" ~ day %}
                {% elseif day < 10 %}
                    {% set ymd = year ~ month ~ "0" ~ day %}
                {% elseif month < 10 %}
                    {% set ymd = year ~ "0" ~ month ~ day %}
                {% else %}
                    {% set ymd = year ~ month ~ day %}
                {% endif %}
                {% set color = '' %}
                {% if sosure['dailyTransaction'][day] is defined and salva['dailyTransaction'][ymd] is defined  %}
                    {% if equal_to_two_dp(sosure['dailyTransaction'][day], salva['dailyTransaction'][ymd]) %}
                        {% set color = 'success' %}
                    {% else %}
                        {% set color = 'danger' %}
                    {% endif %}
                {% endif %}
                <tr class='{{ color }}'>
                    <td>{{ day }}</td>
                    <td>{% if sosure['dailyShiftedTransaction'][day] is defined %}
                            £{{ sosure['dailyShiftedTransaction'][day]|number_format(2, '.', ',') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{% if sosure['dailyTransaction'][day] is defined %}
                            £{{ sosure['dailyTransaction'][day]|number_format(2, '.', ',') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{% if salva['dailyTransaction'][ymd] is defined %}
                            £{{ salva['dailyTransaction'][ymd]|number_format(2, '.', ',') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{% if sosure['dailyTransaction'][day] is defined and salva['dailyTransaction'][ymd] is defined %}
                            {% set diff = sosure['dailyTransaction'][day] - salva['dailyTransaction'][ymd] %}
                            {% set cumulative = cumulative + diff %}
                            £{{ diff|number_format(2, '.', ',') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{% if sosure['dailyTransaction'][day] is defined and salva['dailyTransaction'][ymd] is defined %}
                            £{{ cumulative|number_format(2, '.', ',') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr class="background-light-grey">
                <td>SubTotal</td>
                <td>
                    £{{ sosureShiftedTotal|number_format(2, '.', ',') }}
                </td>
                <td>
                    £{{ sosureTotal|number_format(2, '.', ',') }}
                </td>
                <td>
                    £{{ salvaTotal|number_format(2, '.', ',') }}
                </td>
                <td>
                    £{{ (sosureTotal - salvaTotal)|number_format(2, '.', ',') }}
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
