<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
        <meta name="referrer" content="origin" />

        <title>{% block title %}so-sure{% endblock %}</title>

        {% block meta %}{% endblock %}

        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">

        {% if include_emoji is defined and include_emoji == 1 %}
            <script src="https://twemoji.maxcdn.com/2/twemoji.min.js?2.2.3"></script>
        {% endif %}

        <link rel="stylesheet" href="{{ asset('css-js/global.css') }}">
        <link rel="stylesheet" href="{{ asset('css-js/admin.css') }}">

        {% block cssPage %}{% endblock %}

        {% include '::meta_rebrand.html.twig' %}


        {% block remotestylesheets %}{% endblock %}
        {% block metaend %}{% endblock %}
    </head>
    <body class="d-flex flex-column {% if body_class is defined %}{{ body_class }}{% endif %}">

        {% block nav %}
            {# TODO: Switch to user area nav when made #}
            {% if hide_nav is not defined or not hide_nav %}
                {% include '::navigation/main.html.twig' with {'admin_mode': true } %}
            {% endif %}
        {% endblock %}

        {% include '::flash_rebrand.html.twig' %}

        {% include '::dev_bar_rebrand.html.twig' %}

        <main id="content" class="w-100 flex-grow-1">
            {% block body %}{% endblock %}
        </main>

        {% block footer %}{% endblock %}

        {% include '::footer_data.html.twig' %}

        <script src="{{ asset('css-js/runtime.js') }}"></script>
        <script src="{{ asset('css-js/vendor.js') }}"></script>
        <script src="{{ asset('css-js/global.js') }}"></script>
        <script src="{{ asset('css-js/admin.js') }}"></script>

        {% block javascriptsPage %}{% endblock %}
    </body>
</html>
