<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}so-sure{% endblock %}</title>

        {# Meta #}
        {% block meta %}{% endblock %}
        {% include '::header.html.twig' %}

        {# Stylesheets #}
        {% block stylesheets %}
            {% stylesheets output='css/*.css'
                '@AppBundle/Resources/public/sass/adminNew.scss'
            %}<link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}

        {% block remotestylesheets %}{% endblock %}
        {% block metaend %}{% endblock %}
    </head>
    <body>

        {# Dev Bar #}
        {% if environment != 'prod' %}
            <nav class="navbar navbar-fixed-bottom" style="background-color:#EFEFEF;height:40px;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <ul class="navbar-brand list-inline">
                            <li><strong class="text-red">{{ environment }}</strong></li>
                            <li><a href="{{ path('ops_pages') }}"><i class="fa fa-wrench fa-lg"></i></a></li>
                            <li><a href="{{ path('quote_make_model_memory', {'make':'Apple','model':'iPhone 7','memory':128}) }}"><i class="fa fa-mobile fa-lg" title="Quick Quote"></i></a></li>
                            {% if distraction_free is defined and distraction_free == 1 and app.user is not null and app.user %}
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <li><a href="{{ path('homepage', {'_impersonate': '_exit'}) }}">Exit <strong>{{ app.user.email }}</strong></a></li>
                                {% else %}
                                    <li><a href="{{ path('fos_user_security_logout') }}">Logout <strong>{{ app.user.email }}</strong></a></li>
                                {% endif %}
                            {% endif %}
                        </ul>

                    </div>
                </div>
            </nav>
        {% endif %}

        {# Navigation #}
        {% block nav %}
            {% include '::nav.html.twig' %}
        {% endblock %}

        {# Flash Messages #}
        {% include '::flash_messages.html.twig' %}

        {# Page Content #}
        {% block body %}{% endblock %}
        {# End Page Content #}

        {# Footer #}
        {% block footer %}{% endblock %}

        {# If using CDN else load locally #}
        {% if use_cdn %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        {% else %}
            <script src="/components/jquery/jquery.min.js"></script>
            <script src="/components/bootstrap/bootstrap.js"></script>
        {% endif %}

        {# Javascript #}
        {% block javascripts %}
            {% javascripts
            '@AppBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
