<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}so-sure{% endblock %}</title>

        {# Meta #}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
        <meta name="referrer" content="origin" />

        {% block meta %}{% endblock %}
        {% include '::meta_rebrand.html.twig' %}

        {% if include_emoji is defined and include_emoji == 1 %}
            <script src="https://twemoji.maxcdn.com/2/twemoji.min.js?2.2.3"></script>
        {% endif %}

        {# Stylesheets #}
        {# NOTE: Whilst we are transitioning use two different main stylesheets #}
        {% block stylesheets %}
            {% if new_stylesheet is defined and new_stylesheet == 1 %}
                {% stylesheets output='css/*.css'
                    '@AppBundle/Resources/public/sass/mainNew.scss'
                %}<link rel="stylesheet" href="{{ asset_url }}">
                {% endstylesheets %}
            {% else %}
                {% stylesheets output='css/*.css'
                    '@AppBundle/Resources/public/sass/main.scss'
                %}<link rel="stylesheet" href="{{ asset_url }}">
                {% endstylesheets %}
            {% endif %}
        {% endblock %}

        {% block remotestylesheets %}{% endblock %}
        {% block metaend %}{% endblock %}
    </head>
    <body
        {% if distraction_free is defined and distraction_free == 1 %}
            class="distraction-free"
        {% endif %}
        {% if scrollspy is defined and scrollspy == 1 %}
            data-spy="scroll"
            data-target="{% if scrollspyID is defined  %}{{ scrollspyID }}{% endif %}"
        {% endif %}>

        {# Google Tag Manager Data Layer #}

        {# Intercom #}
        <script>
            {% if intercom_enabled is not defined %}
                {% set intercom_enabled = true %}
            {% endif %}
            {% if app is not null and app.session.isStarted %}
                {% set session_referral = app.session.get('referral') %}
                {% set session_scode = app.session.get('scode') %}
                {% set session_quote_url = app.session.get('quote_url') %}
            {% else %}
                {% set session_referral = '' %}
                {% set session_scode = '' %}
                {% set session_quote_url = '' %}
            {% endif %}
            dataLayer = [{
                {% if (app is not defined or app is null) or
                    ( (app.user is not defined or app.user is null or not app.user) or
                      (app.session.isStarted and is_granted('ROLE_PREVIOUS_ADMIN'))
                    )
                %}
                    'branch': {
                        'banner': true,
                        'referral': '{{ session_referral }}',
                        'scode': '{{ session_scode }}'
                    },
                    'user': {
                        'id': undefined,
                    },
                    'intercom': {
                        'user_id': null,
                        'user_hash': null,
                        'email': null,
                        'name':  null,
                        'created_at': null,
                        'quote_url': '{{ session_quote_url }}',
                        'enabled': {% if intercom_enabled %}true{% else %}false{% endif %}
                    }
                {% else %}
                    'branch': {
                        'banner': false,
                        'referral': '{{ session_referral }}',
                        'scode': '{{ session_scode }}'
                    },
                    'user': {
                        'id': '{{ app.user.id }}'
                    },
                    'intercom': {
                        'user_id': '{{ app.user.id }}',
                        'user_hash': '{{ intercom(app.user) }}',
                        'email': '{{ app.user.email }}',
                        'name': '{{ app.user.name }}',
                        'created_at': '{{ app.user.created|date('U') }}',
                        'quote_url': '{{ session_quote_url }}',
                        'enabled': {% if intercom_enabled %}true{% else %}false{% endif %}
                    }
                {% endif %}
                ,'has_visited_welcome_page': {% if has_visited_welcome_page is not defined or not has_visited_welcome_page %}false{% else %}true{% endif %}
                {% block gtm_data %}{% endblock %}
            }];
        </script>

        {% if exclude_remote_scripts is not defined or not exclude_remote_scripts %}

            {# Google Tag Manager #}
            {# NOTE: This code is modifed from the original to pass in environment tags #}
            <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KGBBJQ{{ ga_tag_manager_env|raw }}"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl+'{{ ga_tag_manager_env|raw }}';f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KGBBJQ');</script>
            {# End Google Tag Manager #}

        {% endif %}

        {# Dev Bar #}
        {% include '::dev_bar.html.twig' %}

        {# Navigation #}
        {# NOTE: Whilst we are transitioning use two different main stylesheets #}
        {% block nav %}
            {% if new_stylesheet is defined and new_stylesheet == 1 %}
                {% include '::nav_new.html.twig' %}
            {% else %}
                {% include '::nav.html.twig' %}
            {% endif %}
        {% endblock %}

        {# Flash Messages #}
        {% include '::flash_messages.html.twig' %}

        {# Page Content #}
        {% block body %}{% endblock %}
        {# End Page Content #}

        {# Footer #}
        {% include '::footer.html.twig' %}

        {# If using CDN else load locally #}
        {% if use_cdn %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% else %}
            <script src="/components/jquery/jquery.min.js"></script>
            <script src="/components/bootstrap-sass/bootstrap.js"></script>
            <script src="/components/bootstrap-sass/tab.js"></script>
            <script src="/components/bootstrap-sass/tooltip.js"></script>
        {% endif %}

        {# Javascript #}
        {% block javascripts %}
            {% if hide_cookie_warning is defined and hide_cookie_warning %}
                {% javascripts
                '../app/Resources/public/js/rollbar.js'
                '@AppBundle/Resources/public/js/*' %}
                <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% else %}
                {% javascripts
                 '../app/Resources/public/js/rollbar.js'
                'components/cookieconsent/cookieconsent.min.js'
                '@AppBundle/Resources/public/js/*' %}
                <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endif %}
            {% if environment != 'prod' %}
                {% javascripts
                '@AppBundle/Resources/public/js/Dev/*' %}
                <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endif %}
        {% endblock %}
    </body>
</html>
