<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}So-Sure{% endblock %}</title>
        {% block meta %}{% endblock %}

        {% include '::header.html.twig' %}

        {% block stylesheets %}
            {% stylesheets output='css/*'
               '../app/Resources/public/css/bootstrap.min.css'
               '../app/Resources/public/css/all.css'
               '../app/Resources/public/css/footer.css'
               %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        {% if not hide_nav is defined or hide_nav != 1 %}
            {% include '::nav.html.twig' %}
        {% endif %}

        {% if app.session.isStarted %}
            {% if app.session.flashBag.peekAll|length > 0 %}
                <div class="container text-center">
                {% for flash_message in app.session.flashBag.get('success') %}
                    <div class="bg-success"><h4>{{ flash_message }}</h4></div>
                {% endfor %}
                {% for flash_message in app.session.flashBag.get('warning') %}
                    <div class="bg-warning"><h4>{{ flash_message }}</h4></div>
                {% endfor %}
                {% for flash_message in app.session.flashBag.get('error') %}
                    <div class="bg-error"><h4>{{ flash_message }}</h4></div>
                {% endfor %}
                </div>
            {% endif %}
        {% endif %}

        {% block body %}{% endblock %}

        {% include '::footer.html.twig' %}

        <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//cdn.optimizely.com/js/4833800075.js"></script>
        <script src="https://cdn.smooch.io/smooch.min.js"></script>
        {% block javascripts %}
            {% javascripts
                '@AppBundle/Resources/public/js/*'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        <!-- Site JS -->
        <script src="/js/site.js"></script>
    </body>
</html>
