<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
        <meta name="referrer" content="origin" />

        <title>{% block title %}so-sure{% endblock %}</title>

        {% block meta %}{% endblock %}

        {# Preload Fonts #}
        <link rel="preload" href="{{ cdn_url }}/fonts/gordita-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="{{ cdn_url }}/fonts/gordita-bold-webfont.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="{{ cdn_url }}/fonts/gordita-medium-webfont.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="{{ cdn_url }}/fonts/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="{{ cdn_url }}/fonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="{{ cdn_url }}/fonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="{{ cdn_url }}/fonts/fa-duotone-900.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="stylesheet" href="{{ asset('css-js/global.css') }}">

        {% block cssPage %}{% endblock %}
    </head>
    <body class="d-flex flex-column {% if body_class is defined %}{{ body_class }}{% endif %}">

        {% include '::flash_rebrand.html.twig' %}

        <main id="content" class="w-100 flex-grow-1">
            {% block body %}{% endblock %}
        </main>

        {% include '::footer_data.html.twig' %}

        <script src="{{ asset('css-js/runtime.js') }}"></script>
        <script src="{{ asset('css-js/vendor.js') }}"></script>
        <script src="{{ asset('css-js/global.js') }}"></script>

        {% block javascriptsPage %}{% endblock %}
    </body>
</html>
