<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}so-sure{% endblock %}
        </title>
        {% block meta %}{% endblock %}

        {% include '::header.html.twig' %}

        {% block stylesheets %}
            {% stylesheets output = 'css/*'
            '../app/Resources/public/css/bootstrap.min.css'
            '../app/Resources/public/css/all.css'
            '../app/Resources/public/css/footer.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <!-- Google Tag Manager Data Layer -->
        <script>
            dataLayer = [{
                'branch': {
                    'banner': {% if app.user is null or not app.user %}true{% else %}false{% endif %},
                    'referral': '{% if app is not null and app.session.isStarted %}{{ app.session.get('referral') }}{% endif %}',
                    'scode': '{% if app is not null and app.session.isStarted %}{{ app.session.get('scode') }}{% endif %}'
                }
            }];
        </script>

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KGBBJQ{{ ga_tag_manager_env|raw }}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl+'{{ ga_tag_manager_env|raw }}';f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KGBBJQ');</script>
        <!-- End Google Tag Manager -->

        {% if not hide_nav is defined or hide_nav != 1 %}
            {% include '::nav.html.twig' %}
        {% endif %}

        {% if app.session.isStarted %}
            {% if app.session.flashBag.peekAll | length > 0 %}
                <div class="container text-center">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="bg-success flash">
                            <h4>{{ flash_message|raw }}</h4>
                        </div>
                    {% endfor %}
                    {% for flash_message in app.session.flashBag.get('warning') %}
                        <div class="bg-warning flash">
                            <h4>{{ flash_message|raw }}</h4>
                        </div>
                    {% endfor %}
                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="bg-danger flash">
                            <h4>{{ flash_message|raw }}</h4>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}

        {% block body %}{% endblock %}

        {% include '::footer.html.twig' %}

        {% if use_cdn %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        {% else %}
            <script src="/components/jquery/jquery.min.js"></script>
            <script src="/components/bootstrap/bootstrap.js"></script>
        {% endif %}

        {% block javascripts %}
            {% javascripts
            '@AppBundle/Resources/public/js/*'
 %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
