<!doctype html>
<html lang="en" {% if itemscope is defined and itemscope %}itemscope{% endif %} {% if itemtype is defined and itemtype %}itemtype="{{ itemtype }}"{% endif %}>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="referrer" content="origin" />
        {% if robots_noindex is defined and robots_noindex %}
            <meta name="robots" content="noindex" />
        {% endif %}
        {% include '::meta_rebrand.html.twig' %}
        <title>{% block title %}so-sure{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css-js/global.css') }}">
        {% block cssPage %}{% endblock %}
        {% block meta %}{% endblock %}
        {% block pixel %}{% endblock %}
        {% block schema %}{% endblock %}
        {% if environment == 'prod' %}
            {% if hide_cookie_warning is not defined or not hide_cookie_warning %}
                <script type="text/javascript" async>
                var _iub = _iub || [];
                _iub.csConfiguration = {"lang":"en","siteId":505658,"cookiePolicyId":7804419,"cookiePolicyUrl":"https://www.iubenda.com/privacy-policy/7805295/cookie-policy", "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center","acceptButtonColor":"#3fc67d","acceptButtonCaptionColor":"#ffffff","customizeButtonColor":"#2593f3","customizeButtonCaptionColor":"#ffffff","textColor":"#081a9a","backgroundColor":"#f5f7f9","backgroundOverlay":true }};
                </script><script type="text/javascript" src="https://cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
            {% endif %}
        {% endif %}
        <script>
            var dataLayer = window.dataLayer = window.dataLayer || [];

            {% if intercom_enabled is not defined %}
                {% set intercom_enabled = true %}
            {% endif %}
            {% if app is not null and app.session.isStarted %}
                {% set session_referral = app.session.get('referral') %}
                {% set session_scode = app.session.get('scode') %}
                {% set session_quote_url = app.session.get('quote_url') %}
            {% else %}
                {% set session_referral = '' %}
                {% set session_scode = '' %}
                {% set session_quote_url = '' %}
            {% endif %}

            dataLayer.push({
                {% if (app is not defined or app is null) or
                    ( (app.user is not defined or app.user is null or not app.user) or
                      (app.session.isStarted and is_granted('ROLE_PREVIOUS_ADMIN'))
                    )
                %}
                    'branch': {
                        'banner': true,
                        'referral': '{{ session_referral }}',
                        'scode': '{{ session_scode }}'
                    },
                    'user': {
                        'id': undefined,
                    },
                    'intercom': {
                        'user_id': null,
                        'user_hash': null,
                        'email': null,
                        'name':  null,
                        'created_at': null,
                        'quote_url': '{{ session_quote_url }}',
                        'enabled': {% if intercom_enabled %}true{% else %}false{% endif %}
                    }
                {% else %}
                    'branch': {
                        'banner': false,
                        'referral': '{{ session_referral }}',
                        'scode': '{{ session_scode }}'
                    },
                    'user': {
                        'id': '{{ app.user.id }}'
                    },
                    {% if not app.user.getCreatedPolicies() %}
                        'intercom': {
                            'user_id': null,
                            'user_hash': null,
                            'email': null,
                            'name': null,
                            'created_at': null,
                            'quote_url': '{{ session_quote_url }}',
                            'enabled': {% if intercom_enabled %}true{% else %}false{% endif %}
                        }
                    {% else %}
                        'intercom': {
                            'user_id': '{{ app.user.id }}',
                            'user_hash': '{{ intercom(app.user) }}',
                            'email': '{{ app.user.email }}',
                            'name': '{{ app.user.name }}',
                            'created_at': '{{ app.user.created|date('U') }}',
                            'quote_url': '{{ session_quote_url }}',
                            'enabled': {% if intercom_enabled %}true{% else %}false{% endif %}
                        }
                    {% endif %}
                {% endif %}
                ,'has_visited_welcome_page': {% if has_visited_welcome_page is not defined or not has_visited_welcome_page %}false{% else %}true{% endif %}
                {% block gtm_data %}{% endblock %}
            });
        </script>
        {% if exclude_remote_scripts is not defined or not exclude_remote_scripts %}
            <script async>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl+'{{ ga_tag_manager_env|raw }}';f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KGBBJQ');</script>
        {% endif %}
        {% block remotestylesheets %}{% endblock %}
        {% block metaend %}{% endblock %}
    </head>
    <body class="d-flex flex-column {% if body_class is defined %}{{ body_class }}{% endif %}">
        {% if exclude_remote_scripts is not defined or not exclude_remote_scripts %}
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGBBJQ{{ ga_tag_manager_env|raw }}"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        {% endif %}
        {% block nav %}
            {% if hide_nav is not defined or not hide_nav %}
                {% include '::navigation/main.html.twig' %}
            {% endif %}
        {% endblock %}
        {% include '::flash_rebrand.html.twig' %}
        {% if hide_devbar is not defined or not hide_devbar %}
            {% include '::dev_bar_rebrand.html.twig' %}
        {% endif %}
        <main id="content" class="w-100 flex-grow-1">
            {% block body %}{% endblock %}
        </main>
        {% block footer %}
            {% if hide_footer is not defined or not hide_footer %}
                {% if small_footer is defined and small_footer %}
                    {% include '::footer_slim.html.twig' %}
                {% else %}
                    {% include '::footer_rebrand.html.twig' %}
                {% endif %}
            {% endif %}
        {% endblock %}
        {% include '::footer_data.html.twig' %}
        <script src="{{ asset('css-js/runtime.js') }}" async></script>
        <script src="{{ asset('css-js/vendor.js') }}" async></script>
        <script src="{{ asset('css-js/global.js') }}" async></script>
        {% block javascriptsPage %}{% endblock %}
        <script async type="text/javascript" src="https://widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js"></script>
        {% if environment != 'prod' %}
            <script src="{{ asset('css-js/dev.js') }}" async></script>
        {% endif %}
    </body>
</html>
