{% import "::macros.html.twig" as macros %}

{# {% if app.request.get('_route') != 'homepage'  %}

    {% include 'AppBundle::Default/press.html.twig' %}

{% endif %} #}

<footer class="footer">
    <div class="container">

        <div class="row footer--top text-center">
            <div class="col-md-12">
                <div class="so-sure-logo so-sure-logo-light"></div>
                <ul class="list-inline">
                    <li><a href="{{ path('about_home') }}">About us</a></li>
                    <li></li>
                    <li><a href="{{ path('careers') }}">Careers</a></li>
                    <li></li>
                    <li><li><a href="{{ path('faq') }}">FAQ</a></li></li>
                    <li></li>
                    <li><a href="{{ path('claim') }}">Make a claim</a></li>
                    <li></li>
                    <li><a href="{{ path('about_how_to_contact_so_sure') }}">Contact us</a></li>
                    <li></li>
                    <li><a href="{{ path('mobile_phone_insurance_for_your_company') }}">Company phones</a></li><br><br>
                    <li><a href="https://twitter.com/wearesosure" class="icon-twitter"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.facebook.com/wearesosure" class="icon-facebook"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                    <br><br>
                </ul>
                <ul class="list-inline">
                    <li>
                        <a class="ga-outbound-click" data-clicklabel="iTunes" href="{{ apple_download('footer') }}" target="_blank" rel="noopener noreferrer"><img src="{{ cdn_url }}/images/icons/app-store-original.svg" alt="Download so-sure on the App Store" />
                        </a>
                    </li>
                    <li>
                        <a class="ga-outbound-click" data-clicklabel="PlayStore" href="{{ google_download('footer') }}" target="_blank" rel="noopener noreferrer"><img src="{{ cdn_url }}/images/icons/google-play-original.svg" alt="Get so-sure on Google Play" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="row footer-bottom">
            <div class="col-md-9">
                <ul class="list-inline">
                    <li>&copy; 2016-{{ "now"|date('Y') }} <a href="/">so-sure Limited</a></li>
                    <li>|</li>
                    <li><a href="{{ path('terms') }}">Terms</a></li>
                    <li>|</li>
                    <li><a href="{{ path('privacy') }}">Privacy</a></li>
                    <li>|</li>
                    <li><a href="https://www.iubenda.com/privacy-policy/7805295/cookie-policy">Cookie Policy</a></li>
                    <li>|</li>
                    <li><a href="{{ path('sitemap') }}">Sitemap</a></li>
                </ul>
                <p><small>We are a company registered in England &amp; Wales (No. 09365669) and our registered address is: <address class="text-white"><strong>so-sure Limited</strong>, Martin House, 5 Martin Lane, London EC4R 0DP</address></small></p>
                <p><small>so-sure Limited is an appointed representative of AFL Insurance Brokers Limited which is authorised and regulated by the Financial Conduct Authority. Our firm's Registration Number is <a href="https://register.fca.org.uk/ShPo_FirmDetailsPage?id=001b000003MOOUGAA5" target="_blank" rel="noopener noreferrer" style="text-decoration: underline !important;">744729</a>.  We are permitted to arrange, deal as an agent of insurers and clients, and assist in claims handling.</small></p>
            </div>
            <div class="col-md-3 text-center">
                <p><a href="https://mixpanel.com/f/partner" rel="nofollow"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a></p>
            </div>
        </div>

    </div>
</footer>

{% include '::footer_data.html.twig' %}
