{# Global settings #}
<div id="ss-root" data-fb-id="{{ fb_appid }}"
     data-fb-redirect="{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}"
     {% if use_pca is defined %}data-pca-key="{{ pca_webkey }}"{% endif %}
     data-device-category="{{ device_category() }}"
     data-device-os="{{ device_os() }}"
     data-rollbar-client-token="{{ rollbar_client_access_token }}"
     data-environment="{{ environment }}"
></div>
