{% import "::macros.html.twig" as macros %}

<footer class="footer fixed-bottom">
    <div class="container-large">
        <div class="row">
            <div class="col-lg-3">
                <div class="d-flex d-lg-block justify-content-between align-items-center mb-5">
                    <img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-dark.svg" width="140px" class="mb-lg-5" alt="so-sure">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-4">
                            <a href="https://www.facebook.com/wearesosure" rel="noopener noreferrer" target="_blank" class="text-deep-sky-blue-b text-hover-white"><i class="fab fa-facebook-square fa-2x"></i><span class="sr-only">so-sure on Facebook</span></a>
                        </li>
                        <li class="list-inline-item mr-4">
                            <a href="https://twitter.com/wearesosure" rel="noopener noreferrer" target="_blank" class="text-deep-sky-blue-b text-hover-white"><i class="fab fa-twitter fa-2x"></i><span class="sr-only">so-sure on Twitter</span></a>
                        </li>
                    </ul>                    
                </div>
            </div>
            <div class="col-lg-3">
                <div class="trustpilot-widget d-sm-none d-lg-block" 
                        data-locale="en-GB" 
                        data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="588f81d20000ff00059bc1e1" 
                        data-style-height="150px" 
                        data-style-width="100%" 
                        data-theme="dark">
                    <a href="https://uk.trustpilot.com/review/wearesosure.com" target="_blank" rel="noopener">Trustpilot</a>
                </div>                  
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-6 col-lg-3 offset-lg-3">
                        <ul class="list-unstyled footer__links mb-5 mb-lg-0">
                            <li class="h5 text-deep-sky-blue-b mb-3">Claims</li>
                            <li class="mb-2"><a href="{{ path('claim') }}" class="text-white">Make a Claim</a></li>
                            <li class="mb-2"><a href="{{ path('about_how_to_contact_so_sure') }}" class="text-white">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3">
                        <ul class="list-unstyled footer__links mb-5 mb-lg-0">
                            <li class="h5 text-deep-sky-blue-b mb-3">Address</li>
                            <li class="text-white mb-2">
                                <address>
                                    so-sure Ltd<br>
                                    {{ business_address|nl2br }}
                                </address>
                            </li>

                        </ul>
                    </div>
                    <div class="col-6 col-lg-3">
                        <ul class="list-unstyled footer__links">
                            <li class="h5 text-deep-sky-blue-b mb-3">Company</li>
                            <li class="mb-2">
                                <a href="{{ path('company_phone_insurance') }}"
                                   class="text-white track-data"
                                   target="_blank"
                                   rel="noopener noreferrer"
                                   data-event="user-download-sample-policy-doc-footer"
                                   data-event-url="{{ cdn_url }}/files/so-sure_sample_policy_doc_v{{ policy_doc_version }}.pdf">Our Policy Document</a>
                            </li>
                            <li class="mb-2"><a href="{{ path('company_phone_insurance') }}" class="text-white">Company Phones</a></li>
                            <li class="mb-2"><a href="{{ path('faq') }}" class="text-white">FAQ</a></li>
                            <li class="mb-2"><a href="{{ path('blog_index') }}" class="text-white">Blog</a></li>
                            <li class="mb-2"><a href="{{ path('careers') }}" class="text-white">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3 d-block d-lg-none">
                        <ul class="list-unstyled footer__links">
                            <li class="h5 text-deep-sky-blue-b mb-3">Legal</li>
                            <li class="mb-2"><a href="{{ path('privacy') }}" class="text-white">Privacy policy</a></li>
                            <li class="mb-2"><a href="{{ path('terms') }}" class="text-white">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="d-block d-lg-none border-white opacity-50 my-5">
        <div class="row">
            <div class="col-lg-10">
                <ul class="list-inline footer__links mt-lg-5">
                    <li class="list-inline-item text-white">&copy; so-sure. All rights reserved</li>
                    <li class="list-inline-item text-white d-none d-lg-inline-block">|</li>
                    <li class="list-inline-item d-none d-lg-inline-block"><a href="{{ path('privacy') }}" class="text-white">Privacy policy</a></li>
                    <li class="list-inline-item text-white d-none d-lg-inline-block">|</li>
                    <li class="list-inline-item d-none d-lg-inline-block"><a href="{{ path('terms') }}" class="text-white">Terms &amp; Conditions</a></li>
                    <li class="list-inline-item text-white d-none d-lg-inline-block">|</li>
                    <li class="list-inline-item d-none d-lg-inline-block"><a href="{{ path('sitemap') }}" class="text-white">Sitemap</a></li>
                </ul>
                <p class="text-white opacity-50"><small>so-sure Limited is an appointed representative of {{ broker_name }} which is authorised and regulated by the Financial Conduct Authority with Registration Number 311810. Our FCA Registration Number is 744729. We are permitted to arrange, deal as an agent of insurers and clients, and assist in claims handling.</small></p>
            </div>
        </div>
    </div>
</footer>
