{# Primary Page Layout
-----------------------------------------------------------------------------#}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand" href="/">
                {% if white_logo is defined %}
                    <div class="so-sure-logo so-sure-logo-light"></div>
                {% else %}
                    <div class="so-sure-logo so-sure-logo-blue-flat"></div>
                {% endif %}

            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if app.request.get('_route') == 'company_phone_insurance' %}
                    <li><a href="{{ path('homepage') }}">Personal phones</a></li>
                {% else %}
                    <li><a href="{{ path('company_phone_insurance') }}">Company phones</a></li>
                {% endif %}
                <li><a href="{{ path('faq') }}">FAQ</a></li>
                {% if app.user is not null and app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin_home') }}"><i class="fa fa-home"></i> Admin</a></li>
                    {% elseif is_granted('ROLE_EMPLOYEE') %}
                        <li><a href="{{ path('admin_home') }}"><i class="fa fa-home"></i> Admin</a></li>
                    {% elseif is_granted('ROLE_CLAIMS') %}
                        <li><a href="{{ path('claims_home') }}"><i class="fa fa-home"></i> Claims</a></li>
                    {% else %}
                        <li class=""><a href="{{ path('user_home') }}">Your Account</a></li>
                    {% endif %}

                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li><a href="{{ path('homepage', {'_impersonate': '_exit'}) }}">Exit <strong>{{ app.user.email }}</strong></a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
