<nav class="navbar fixed-top justify-content-between flex-nowrap flex-row pl-lg-5">
    <a href="/" class="navbar-brand float-left">LOGO</a>
    <ul class="nav navbar-nav flex-row align-items-center">
        <li class="nav-item d-none d-lg-block pr-lg-5">
            <a href="#" class="nav-link">About</a>
        </li>
        <li class="nav-item d-none d-lg-block pr-lg-5">
            <a href="#" class="nav-link">Company phones</a>
        </li>
        <li class="nav-item d-none d-lg-block pr-lg-5">
            <a href="#" class="nav-link">FAQs</a>
        </li>
        <li class="nav-item d-none d-lg-block pr-lg-5">
            <a href="#" class="nav-link">Blog</a>
        </li>
        <li class="nav-item d-none d-lg-block pr-lg-5">
            <a href="#" class="nav-link">Contact</a>
        </li>
        {% if app.user is not null and app.user %}
            <li class="nav-item d-none d-lg-block pr-lg-5">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_home') }}" class="nav-link text-primary">Admin <i class="fas fa-users-cog fa-sm"></i></a>
                {% elseif is_granted('ROLE_EMPLOYEE') %}
                    <a href="{{ path('admin_home') }}" class="nav-link text-primary">Admin <i class="fas fa-user-tie fa-sm"></i></a>
                {% elseif is_granted('ROLE_CLAIMS') %}
                    <a href="{{ path('claims_home') }}" class="nav-link text-primary">Claims <i class="fas fa-user-shield fa-sm"></i></a>
                {% else %}
                    <a href="{{ path('user_home') }}" class="nav-link text-primary">Your account <i class="fas fa-user-circle fa-sm"></i></a>
                {% endif %}
            </li>
        {% else %}
            <li class="nav-item pr-lg-5">
                <a href="#" class="btn btn-primary btn-sm">Get a Quote</a>
            </li>
        {% endif %}
        <li class="nav-item d-none d-lg-block pr-lg-5">
            {% if app.user is not null and app.user %}
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <a href="{{ path('homepage', {'_impersonate': '_exit'}) }}" class="nav-link text-primary">Exit <u>{{ app.user.email }}</u></a>
                {% else %}
                    <a href="{{ path('fos_user_security_logout') }}" class="nav-link text-primary">Log out</i></a>
                {% endif %}
            {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="nav-link text-primary">Log in <i class="fas fa-arrow-right fa-sm ml-2"></i></a>
            {% endif %}
        </li>
        <li class="nav-item d-lg-none">
            <button id="nav_toggle" class="hamburger hamburger--spring-r hamburger--collapse" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </li>
    </ul>
    <div id="menu" class="menu d-flex d-lg-none pt-5">
        <ul class="list-unstyled mt-4 mx-auto justify-content-center menu__links">
            <li class="my-4">
                {% if app.user is not null and app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_home') }}" class="">Admin <i class="fas fa-users-cog fa-sm"></i></a>
                    {% elseif is_granted('ROLE_EMPLOYEE') %}
                        <a href="{{ path('admin_home') }}" class="">Admin <i class="fas fa-user-tie fa-sm"></i></a>
                    {% elseif is_granted('ROLE_CLAIMS') %}
                        <a href="{{ path('claims_home') }}" class="">Claims <i class="fas fa-user-shield fa-sm"></i></a>
                    {% else %}
                        <a href="{{ path('user_home') }}" class="">Your account <i class="fas fa-user-circle fa-sm"></i></a>
                    {% endif %}
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <a href="{{ path('homepage', {'_impersonate': '_exit'}) }}" class="">Exit <u>{{ app.user.email }}</u></a>
                    {% else %}
                        <a href="{{ path('fos_user_security_logout') }}" class="">Log out</i></a>
                    {% endif %}
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}" class="">Log in <i class="fas fa-arrow-right fa-sm ml-2"></i></a>
                {% endif %}
            </li>
            <li class="my-4">
                <a href="{{ path('about_home') }}">About</a>
            </li>
            <li class="my-4">
                <a href="{{ path('claim') }}">Making a claim</a>
            </li>
            <li class="my-4">
                <a href="{{ path('faq') }}#social-insurance-and-reward-pot">Reward Pot</a>
            </li>
            <li class="my-4">
                <a href="{{ path('faq') }}#top-questions">pic-sure</a>
            </li>
            <li class="my-4">
                <a href="{{ path('faq') }}">FAQs</a>
            </li>
            <li class="my-4">
                <a href="{{ path('mobile_phone_insurance_for_your_company') }}">Company phones</a>
            </li>
            <li class="my-4">
                <a href="{{ path('about_how_to_contact_so_sure') }}">Contact Us</a>
            </li>
            <li class="mt-4 mb-5">
                <a href="{{ path('blog') }}">Blog</a>
            </li>
            <li class="text-center pb-5">
                <a href="https://www.facebook.com/wearesosure" rel="noopener" target="_blank" class="d-inline mx-2"><i class="fab fa-facebook fa-2x"></i><span class="sr-only">so-sure on Facebook</span></a>
                <a href="https://twitter.com/wearesosure" rel="noopener" target="_blank" class="d-inline mx-2"><i class="fab fa-twitter fa-2x"></i><span class="sr-only">so-sure on Twitter</span></a>
            </li>
        </ul>
    </div>
</nav>
