<nav class="navbar fixed-top justify-content-between flex-nowrap flex-row pl-lg-5">
    <a href="/" class="navbar-brand show-in-nav show-in-quote">
        <div class="navbar-brand__logo {% if quote_mode is defined and quote_mode == 1 %}navbar-brand__logo-white-light{% endif %}"></div>
    </a>
    {% if quote_mode is defined and quote_mode == 1 %}
        {# Hide the nav #}
    {% else %}
        <ul class="nav navbar-nav flex-row align-items-center">
            <li class="nav-item dropdown d-none d-xl-block pr-xl-5">
                <a href="#"
                   id="why_dropdown"
                   class="nav-link dropdown-toggle"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false"
                   role="button">
                   Why so-sure? <i class="fas fa-chevron-down ml-2 text-blue2"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="why_dropdown">
                    <a class="dropdown-item h6" href="#">
                        Action
                        <small>Some test text</small>
                    </a>
                    <a class="dropdown-item h6" href="#">
                        Action
                        <small>Some test text</small>
                    </a>
                    <a class="dropdown-item h6" href="#">
                        Action
                        <small>Some test text</small>
                    </a>
                </div>
                {# TODO: Style dropdowns #}
            </li>
            <li class="nav-item d-none d-xl-block pr-xl-5">
                <a href="{{ path('claim') }}" class="nav-link">Make a claim</a>
            </li>
            <li class="nav-item d-none d-xl-block pr-xl-5">
                <a href="{{ path('faq') }}" class="nav-link">FAQs</a>
            </li>
            <li class="nav-item d-none d-xl-block pr-xl-5">
                <a href="https://blog.wearesosure.com" class="nav-link">Blog</a>
            </li>
            <li class="nav-item d-none d-xl-block pr-xl-5">
                <a href="{{ path('about_how_to_contact_so_sure') }}" class="nav-link">Contact</a>
            </li>
            {% if app.user is not null and app.user %}
                <li class="nav-item d-none d-xl-block pr-xl-5">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_home') }}" class="nav-link text-primary">Admin</a>
                    {% elseif is_granted('ROLE_EMPLOYEE') %}
                        <a href="{{ path('admin_home') }}" class="nav-link text-primary">Admin</a>
                    {% elseif is_granted('ROLE_CLAIMS') %}
                        <a href="{{ path('claims_home') }}" class="nav-link text-primary">Claims</a>
                    {% else %}
                        <a href="{{ path('user_home') }}" class="nav-link text-primary">Your account</a>
                    {% endif %}
                </li>
            {% else %}
                <li class="nav-item d-none-xxs pr-xl-5">
                    <a id="quote_btn" href="#" class="btn btn-primary btn-sm show-in-nav get-a-quote">Get a Quote</a>
                </li>
            {% endif %}
            <li class="nav-item d-none d-xl-block pr-xl-5">
                {% if app.user is not null and app.user %}
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <a href="{{ path('homepage', {'_impersonate': '_exit'}) }}" class="nav-link text-primary">Exit <u>{{ app.user.email }}</u></a>
                    {% else %}
                        <a href="{{ path('fos_user_security_logout') }}" class="nav-link text-primary">Log out</i></a>
                    {% endif %}
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}" class="nav-link text-primary">Customer log in <i class="fas fa-arrow-right fa-sm ml-2"></i></a>
                {% endif %}
            </li>
            <li class="nav-item d-xl-none">
                <button id="nav_toggle" class="hamburger hamburger--spring-r hamburger--collapse" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </li>
        </ul>
    {% endif %}
    <div id="menu" class="menu d-flex flex-column d-lg-none">
        <ul class="list-unstyled align-self-stretch menu__links">
            {% if app.user is not null and app.user %}
                <li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_home') }}" class="h5">Admin</a>
                    {% elseif is_granted('ROLE_EMPLOYEE') %}
                        <a href="{{ path('admin_home') }}" class="h5">Admin</a>
                    {% elseif is_granted('ROLE_CLAIMS') %}
                        <a href="{{ path('claims_home') }}" class="h5">Claims</a>
                    {% else %}
                        <a href="{{ path('user_home') }}" class="h5">Your account</a>
                    {% endif %}
                </li>
            {% endif %}
            <li>
                <a href="#" class="h5">Why so-sure?</a>
            </li>
            <li>
                <a href="{{ path('claim') }}" class="h5">Make a claim</a>
            </li>
            <li>
                <a href="{{ path('faq') }}" class="h5">FAQs</a>
            </li>
            <li>
                <a href="https://blog.wearesosure.com" class="h5">Blog</a>
            </li>
            <li>
                <a href="{{ path('about_how_to_contact_so_sure') }}" class="h5">Contact</a>
            </li>
        </ul>
        <div class="p-5 align-self-stretch menu__buttons">
            <a href="#" class="btn btn-primary btn-shadow btn-gradient btn-block mb-3 get-a-quote">Get insured</a>
            <a href="#" class="btn btn-outline-white btn-block"><i class="far fa-play-circle fa-lg"></i> Watch our Video</a>
            <div class="menu__user-button text-center">
                {% if app.user is not null and app.user %}
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <a href="{{ path('homepage', {'_impersonate': '_exit'}) }}" class="d-block h5 m-0"><i class="fas fa-arrow-left fa-sm ml-2"></i> Exit <u>{{ app.user.email }}</u></a>
                    {% else %}
                        <a href="{{ path('fos_user_security_logout') }}" class="d-block h5 m-0"><i class="fas fa-arrow-left fa-sm ml-2"></i> Log out</i></a>
                    {% endif %}
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}" class="d-block h5 m-0">Customer log in <i class="fas fa-arrow-right fa-sm ml-2"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    {# Include - Get Quote #}
    {% include 'AppBundle::Default/getQuote.html.twig' %}
</nav>
