{# Primary Page Layout
-----------------------------------------------------------------------------#}
<nav class="navbar navbar-default nav-new {% if distraction_free is defined and distraction_free == 1 %}{# Not fixed #}{% else %}navbar-fixed-top{% endif %}">
    <div class="container-fluid">
        <div class="navbar-header">
            {% if distraction_free is defined and distraction_free == 1 %}
                {# Show nothing #}
            {% else %}
                <button class="hamburger hamburger--spring-r hamburger--collapse navbar-toggle"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            {% endif %}
            {% if search_type is defined and search_type == 'dropdown-search' %}
                <span class="hidden-md hidden-lg pull-right"><a href="#" class="btn btn-blue-hollow scroll-to navbar-btn-alt" data-scroll-to-anchor="#dropdown-search" data-scroll-to-adjust="40">Get a quote</a></span>
            {% endif %}
            <a class="navbar-brand" href="/">
                <div class="so-sure-logo so-sure-logo-blue-flat"></div>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if distraction_free is defined and distraction_free == 1 %}
                {# Do nothing #}
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('user_claim') }}">Make a Claim</a></li>
                    <li><a href="{{ path('faq') }}">FAQ</a></li>
                    <li><a href="https://blog.wearesosure.com">Blog</a></li>
                    {% if app.user is not null and app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('admin_home') }}"><i class="fa fa-home"></i> Admin</a></li>
                        {% elseif is_granted('ROLE_EMPLOYEE') %}
                            <li><a href="{{ path('admin_home') }}"><i class="fa fa-home"></i> Admin</a></li>
                        {% elseif is_granted('ROLE_CLAIMS') %}
                            <li><a href="{{ path('claims_home') }}"><i class="fa fa-home"></i> Claims</a></li>
                        {% else %}
                            <li class=""><a href="{{ path('user_home') }}">Your Account</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <li>
                                <span><a href="{{ path('homepage', {'_impersonate': '_exit'}) }}" class="btn navbar-btn">Exit <strong>{{ app.user.email }}</strong></a></span>
                            </li>
                        {% else %}
                            <li>
                                <span><a href="{{ path('fos_user_security_logout') }}" class="btn navbar-btn">Logout</a></span>
                            </li>
                        {% endif %}
                    {% else %}
                        <li>
                            <span><a href="{{ path('fos_user_security_login') }}" class="btn navbar-btn"> Customer log in</a></span>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
