<nav id="main-nav"
     class="navbar
     {% if quote_mode is defined and quote_mode == true %}
        navbar-so-sure-quote
    {% else %}
        navbar-so-sure
    {% endif %}
    {% if onboarding_mode is defined and onboarding_mode == true %}
    {% else %}
        fixed-top
    {% endif %}
        justify-content-between flex-nowrap flex-row pl-lg-5">
    <a href="/" class="navbar-brand show-in-nav show-in-quote">
        <div class="navbar-brand__logo"></div>
        <span class="sr-only">so-sure</span>
    </a>

    {% if quote_mode is defined and quote_mode == true %}
        {# Hide the nav #}
    {% elseif onboarding_mode is defined and onboarding_mode == true %}
        {# TODO: Kind dont want to show them that they are logged in just push them to their account if they click it - redirect? #}
        <ul class="nav navbar-nav flex-row align-items-center">
            <li class="nav-item d-none d-xl-block pr-xl-5">
                <a href="{{ path('fos_user_security_login') }}"
                   class="nav-link user-link">
                   Customer log in <i class="far fa-arrow-right fa-sm ml-2"></i>
                </a>
            </li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav flex-row align-items-center">
            <li class="nav-item d-none d-xl-block pr-xl-5">
                <a href="{{ path('claim') }}"
                   class="nav-link {{ app.request.get('_route') == 'claim' ? 'nav-active' }}">
                    Make a Claim
                </a>
            </li>
            <li class="nav-item d-none d-xl-block pr-xl-5">
                <a href="{{ path('faq') }}"
                   class="nav-link {{ app.request.get('_route') == 'faq' ? 'nav-active' }}">
                   FAQs
                </a>
            </li>
            <li class="nav-item d-none d-xl-block pr-xl-5">
                <a href="https://blog.wearesosure.com" target="_blank" rel="noopener noreferrer" class="nav-link">Blog</a>
            </li>
            {% if app.user is not null and app.user %}
                <li class="nav-item d-none d-xl-block pr-xl-5">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_home') }}" class="nav-link user-link">Admin</a>
                    {% elseif is_granted('ROLE_EMPLOYEE') %}
                        <a href="{{ path('admin_home') }}" class="nav-link user-link">Admin</a>
                    {% elseif is_granted('ROLE_CLAIMS') %}
                        <a href="{{ path('claims_home') }}" class="nav-link user-link">Claims</a>
                    {% else %}
                        <a href="{{ path('user_home') }}" class="nav-link user-link">Your account</a>
                    {% endif %}
                </li>
            {% else %}
                <li class="nav-item d-none-xxs pr-xl-5">
                    <a id="quote_btn" href="#" class="btn btn-sm py-1 btn-white show-in-nav get-a-quote btn-shadow">Get a Quote</a>
                </li>
            {% endif %}
            <li class="nav-item d-none d-xl-block pr-xl-5">
                {% if app.user is not null and app.user %}
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <a href="{{ path('homepage', {'_impersonate': '_exit'}) }}" class="nav-link user-link">Exit <u>{{ app.user.email }}</u></a>
                    {% else %}
                        <a href="{{ path('fos_user_security_logout') }}" class="nav-link user-link">Log out</i></a>
                    {% endif %}
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}"
                       class="btn btn-outline-columbia-blue-f btn-sm">Customer log in <i class="far fa-arrow-right fa-sm ml-2"></i></a>
                {% endif %}
            </li>
            <li class="nav-item d-xl-none">
                <button id="nav_toggle" class="hamburger hamburger--spring-r hamburger--collapse" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </li>
        </ul>
    {% endif %}
    <div id="menu" class="menu d-flex flex-column d-xl-none">
        <ul class="list-unstyled align-self-stretch menu__links">
            {% if app.user is not null and app.user %}
                <li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_home') }}" class="h5">Admin</a>
                    {% elseif is_granted('ROLE_EMPLOYEE') %}
                        <a href="{{ path('admin_home') }}" class="h5">Admin</a>
                    {% elseif is_granted('ROLE_CLAIMS') %}
                        <a href="{{ path('claims_home') }}" class="h5">Claims</a>
                    {% else %}
                        <a href="{{ path('user_home') }}" class="h5">Your account</a>
                    {% endif %}
                </li>
            {% endif %}
            <li>
                <a href="{{ path('claim') }}" class="h5">Make a Claim</a>
            </li>
            <li>
                <a href="{{ path('faq') }}" class="h5">FAQs</a>
            </li>
            <li>
                <a href="https://blog.wearesosure.com" class="h5">Blog</a>
            </li>
            <li>
                <a href="{{ path('about_how_to_contact_so_sure') }}" class="h5">Contact</a>
            </li>
        </ul>
        <div class="p-5 align-self-stretch menu__buttons">
            <a href="#" class="btn btn-primary btn-block mb-3 get-a-quote">Get insured</a>
            <a href="#"
               class="btn btn-outline-white watch-video btn-block"
               data-event="watch-video-mobile-menu"
               data-toggle="modal"
               data-target="#sosure-video-modal"
               data-src="https://www.youtube.com/embed/QEskwqsNgrQ">
                <i class="far fa-play-circle fa-lg opacity-50 mr-1"></i>
                Watch our Video
            </a>
            <div class="menu__user-button text-center">
                {% if app.user is not null and app.user %}
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <a href="{{ path('homepage', {'_impersonate': '_exit'}) }}" class="d-block h5 m-0"><i class="far fa-arrow-left fa-sm ml-2"></i> Exit <u>{{ app.user.email }}</u></a>
                    {% else %}
                        <a href="{{ path('fos_user_security_logout') }}" class="d-block h5 m-0"><i class="far fa-arrow-left fa-sm ml-2"></i> Log out</i></a>
                    {% endif %}
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}" class="d-block h5 m-0">Customer log in <i class="far fa-arrow-right fa-sm ml-2"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    {# 2fa auth will cause sub requests to fail. in theory below should work, but we're running a old version of the bundle #}
    {# need to upgrade to php7.1 before upgrade is allowed #}
    {# if not is_granted('IS_AUTHENTICATED_2FA_IN_PROGRESS')  #}
    {% if exclude_remote_scripts is not defined or not exclude_remote_scripts %}
        {# Include - Get Quote #}
        {% include 'AppBundle::Search/getQuote.html.twig' %}
    {%  endif %}
</nav>
