<nav class="navbar nav-new navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/?nav=1">
                <div class="so-sure-logo so-sure-logo-blue-flat"></div>
            </a>
            <button class="hamburger hamburger--spring-r hamburger--collapse navbar-toggle"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            {% if app.user is not null and app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_home') }}?nav=1" role="button" class="btn btn-default navbar-btn pull-right hidden-xs hidden-sm">Admin</a>
                {% elseif is_granted('ROLE_EMPLOYEE') %}
                    <a href="{{ path('admin_home') }}?nav=1" role="button" class="btn btn-default navbar-btn pull-right hidden-xs hidden-sm">Admin</a>
                {% elseif is_granted('ROLE_CLAIMS') %}
                    <a href="{{ path('claims_home') }}?nav=1" role="button" class="btn btn-default navbar-btn pull-right hidden-xs hidden-sm">Claims</a>
                {% else %}
                    <a href="{{ path('user_home') }}?nav=1" role="button" class="btn btn-default navbar-btn pull-right hidden-xs hidden-sm">Your Account</a>
                {% endif %}
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <a href="{{ path('homepage', {'_impersonate': '_exit'}) }}?nav=1" role="button" class="btn btn-default navbar-btn pull-right hidden-xs hidden-sm" title="Logged in as {{ app.user.email }}">Logout</strong></a>
                {% else %}
                    <a href="{{ path('fos_user_security_logout') }}?nav=1" role="button" class="btn btn-default navbar-btn pull-right hidden-xs hidden-sm">Logout</a>
                {% endif %}
            {% else %}
                <a href="{{ path('fos_user_security_login') }}?nav=1" role="button" class="btn btn-default navbar-btn pull-right hidden-xs hidden-sm">Login</a>
            {% endif %}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if app.user is not null and app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="hidden-md hidden-lg"><span><a href="{{ path('admin_home') }}?nav=1" class="btn btn-white-hollow"><i class="fa fa-home"></i> Admin</a></span></li>
                    {% elseif is_granted('ROLE_EMPLOYEE') %}
                        <li class="hidden-md hidden-lg"><span><a href="{{ path('admin_home') }}?nav=1" class="btn btn-white-hollow"><i class="fa fa-home"></i> Admin</a></span></li>
                    {% elseif is_granted('ROLE_CLAIMS') %}
                        <li class="hidden-md hidden-lg"><span><a href="{{ path('claims_home') }}?nav=1" class="btn btn-white-hollow"><i class="fa fa-home"></i> Claims</a></span></li>
                    {% else %}
                        <li class="hidden-md hidden-lg">
                            <span><a href="{{ path('user_home') }}?nav=1" class="btn btn-white-hollow">Your Account</a></span>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li class="hidden-md hidden-lg">
                            <span><a href="{{ path('homepage', {'_impersonate': '_exit'}) }}&nav=1" class="btn btn-white-hollow" title="Logged in as {{ app.user.email }}">Logout</a></span>
                        </li>
                    {% else %}
                        <li class="hidden-md hidden-lg">
                            <span><a href="{{ path('fos_user_security_logout') }}?nav=1" class="btn btn-white-hollow">Logout</a></span>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="hidden-md hidden-lg">
                        <span><a href="{{ path('fos_user_security_login') }}?nav=1" class="btn btn-white-hollow">Login</a></span>
                    </li>
                {% endif %}
                {# Link to personal or company insurance #}
                {% if app.request.get('_route') == 'company_phone_insurance' %}
                    <li><a href="{{ path('homepage') }}?nav=1">Personal phones</a></li>
                {% else %}
                    <li><a href="{{ path('company_phone_insurance') }}?nav=1">Company phones</a></li>
                {% endif %}
                <li><a href="{{ path('claim') }}?nav=1">Make a claim</a></li>
                <li><a href="{{ path('faq') }}?nav=1#social-insurance-and-reward-pot">Reward Pot</a></li>
                <li><a href="{{ path('faq') }}?nav=1#top-questions">How much is excess?</a></li>
                <li><a href="{{ path('faq') }}?nav=1#top-questions">pic-sure</a></li>
                <li><a href="{{ path('faq') }}?nav=1">FAQ</a></li>
                <li><a href="{{ path('about_how_to_contact_so_sure') }}?nav=1">Contact us</a></li>
                <li><a href="https://blog.wearesosure.com?nav=1">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>
