{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
	{{ macros.start_table() }}
		<h1>
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		</h1>
		<div style="font-size: 14px; text-align: left;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: center;"><font face="arial, helvetica neue, helvetica, sans-serif">
           <h2>{{ title }}</h2>
		   <hr>
           <h3>Last received daily export: {% if latestFile %}{{ latestFile.created|date('d M Y H:i', 'Europe/London') }}{% else %}Unknown{%endif%}</h3>
           <h3>Last successful daily export: {% if successFile %}{{ successFile.created|date('d M Y H:i', 'Europe/London') }}{% else %}Unknown{%endif%}</h3>

		   {% if highDemandPhones is defined %}
		   <div style="font-size: 14px; text-align: left; margin-top: 30px;"><font face="arial, helvetica neue, helvetica, sans-serif">
			   <h3>High Demand Phones</h3>
	 		   <hr>
	 		   {% if highDemandPhones|length == 0 %}
					<h4>None</h4>
			   {% else %}
					{% for phone in highDemandPhones %}
						 <p>Phone: {{ phone.name }} (Released {{ phone.releaseDate|date('M Y') }})</p>
					{% endfor %}
	 		   {% endif %}
		   </div>
	 	   {% endif %}

		   {% if sosureActions|length > 0 %}
			   <div style="font-size: 14px; text-align: left; margin-top: 30px;"><font face="arial, helvetica neue, helvetica, sans-serif">
					   <h3>{{ sosureActions|length }} Actions for so-sure in last import</h3>
					   <hr>
					   {% for claimNumber,msgs in sosureActions %}
						   <p>Claim: {{ claimNumber }}</p>
						   <ul>
							   {% for msg in msgs %}
								   <li>{{ msg }}</li>
							   {% endfor %}
						   </ul>
					   {% endfor %}
			   </div>
		   {% endif %}

		   {% if errors|length > 0 %}
		   <div style="font-size: 14px; text-align: left; margin-top: 30px;"><font face="arial, helvetica neue, helvetica, sans-serif">
			   <h3>{{ errors|length }} Errors in last import</h3>
	 		   <hr>
				{% for claimNumber,msgs in errors %}
					 <p>Claim: {{ claimNumber }}</p>
						 <ul>
							 {% for msg in msgs %}
								 <li>{{ msg }}</li>
							 {% endfor %}
						 </ul>
				 {% endfor %}
		   </div>
		   {% endif %}

		   {% if fees|length > 0 %}
		   <div style="font-size: 14px; text-align: left; margin-top: 30px;"><font face="arial, helvetica neue, helvetica, sans-serif">
			   <h3>{{ fees|length }}Fee Errors in last import</h3>
	 		   <hr>
				{% for claimNumber,msgs in fees %}
					 <p>Claim: {{ claimNumber }}</p>
						 <ul>
							 {% for msg in msgs %}
								 <li>{{ msg }}</li>
							 {% endfor %}
						 </ul>
				 {% endfor %}
		   </div>
		   {% endif %}

		   {% if warnings|length > 0 %}
		   <div style="font-size: 14px; text-align: left; margin-top: 30px;"><font face="arial, helvetica neue, helvetica, sans-serif">
			   <h3>{{ warnings|length }}Warnings in last import</h3>
	 		   <hr>
			{% for claimNumber,msgs in warnings %}
				 <p>Claim: {{ claimNumber }}</p>
					 <ul>
						 {% for msg in msgs %}
							 <li>{{ msg }}</li>
						 {% endfor %}
					 </ul>
			 {% endfor %}
		   </div>
		   {% endif %}

		   <div style="font-size: 14px; text-align: left; margin-top: 30px;"><font face="arial, helvetica neue, helvetica, sans-serif">
			   <h3>{{ claims|length }}Outstanding claims</h3>
			   <hr>
			   {% for claim in claims %}
					<p>
						{# Use claims, so we can forward email to claims team - admins will be redirected #}
						<a href="{{ url('claims_policy', {'id': claim.policy.id}) }}">
						{{ claim.policy.policyNumber }}
						</a>
					</p>
					<ul style="text-align: left;">
						<li>Claim: {{ claim.number }}</li>
						<li>Recorded: {{ claim.recordedDate|date('d M Y H:i', 'Europe/London') }}</li>
						<li>Status: {{ claim.status }}</li>
						<li>Type: {{ claim.type }}</li>
					</ul>
			   {% endfor %}
		   </div>

		</div>
	{{ macros.end_table() }}
	{{ macros.email_button_table(url('admin_claims'), "View Claims", "View Claims")}}
{% endblock %}
