{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Verify Policy IMEI Update{% endblock %}
{% block body %}
	{{ macros.start_table() }}
		<h1>
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		</h1>
		<div style="font-size: 14px; text-align: left;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: center;"><font face="arial, helvetica neue, helvetica, sans-serif">
           <h2>Daily Claims Report</h2>
           <h3>Last received daily export: {% if latestFile %}{{ latestFile.created|date('d M Y H:i', 'Europe/London') }}{% else %}Unknown{%endif%}</h3>
           {% if claims|length == 0 %}
               <p>No outstanding claims</p>
           {% endif %}
           {% for claim in claims %}
                <p>
                    {# Use claims, so we can forward email to claims team - admins will be redirected #}
                    <a href="{{ url('claims_policy', {'id': claim.policy.id}) }}">
                    {{ claim.policy.policyNumber }}
                    </a> - {{ claim.recordedDate|date('d M Y H:i', 'Europe/London') }} - {{ claim.status }} / {{ claim.type }}</p>
           {% endfor %}
		   </div>
		</div>
	{{ macros.end_table() }}
	{{ macros.email_button_table(url('admin_claims'), "View Claims", "View Claims")}}
{% endblock %}
