{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Claim Number Update{% endblock %}
{% block body %}
	{{ macros.start_table() }}
		<h1>
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		</h1>
		<div style="font-size: 14px; text-align: left;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: center;"><font face="arial, helvetica neue, helvetica, sans-serif">
           Claim {{ claimNumber }} (Policy {{ policyNumber }}) was incorrectly entered into the so-sure system
		   as claim {{ claim.number }} (Policy {{ claim.policy.policyNumber }}).
           <br />
		   The claim number has been automatically updated to {{ claimNumber }}. Please verify that this
		   update is correct.
		   </div>
		</div>
	{{ macros.end_table() }}
	{{ macros.email_button_table(url('claims_policy', {'id': claim.policy.id}), "View Policy", "View Policy")}}
{% endblock %}
