<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
</head>
<body>
<p>Hello {{ policy.user.name }}</p>

<script type="application/json+trustpilot">
{
  "recipientName": "{{ policy.user.name }}",
  "recipientEmail": "{{ policy.user.email }}",
  "referenceId": "{{ policy.policyNumber }}",
  "templateId": "{{ template_id }}"
}
</script>
</body>
</html>
