{% set logo_image = 'unhappy' %}
{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Payment failure for {{ policy.policyNumber }}{% endblock %}
{% block body %}
	{{ macros.start_table() }}
		<h1>
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		</h1>
		<div style="font-size: 14px; text-align: center;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				Your monthly payment of £{{ policy.premium.monthlyPremiumPrice }} for your {{ policy.phone }} was declined.
				<br><br>
				   Please <a href="{{ branch_payment_details_url }}">login</a> to your account and request that your payment is rescheduled.
				<br><br>
                Your policy will be canceled in {{ policy.policyExpirationDateDays }} days if you fail to make payment.
				<br><br>
			    If you have any questions, please don't hesitate to <a href="mailto:support@wearesosure.com?subject=I%20have%20a%20question" target="_blank"><span style="color:#3399ff">contact us</span></a>.
				<br><br>
		   </div>
		</div>
	{{ macros.end_table() }}
    {{ macros.email_button_table(branch_payment_details_url, "Request payment rescheduling", "Request payment rescheduling")}}
{% endblock %}
