{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        '@AppBundle/Resources/public/sass/page/about.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}

<section id="contact-us" class="section-about-us">
    <div class="container">
        <div class="about-panel">
            <div class="about-panel--thumb about-panel--logo">
                <img src="{{ cdn_url }}/images/logo/so-sure-blue-smile.svg" alt="so-sure" width="100px" height="100px">
            </div>
            <h2 class="text-blue text-center">Contact us</h2>
            <p class="lead text-center">We are always happy to talk and can be found via</p>
            <ul class="link-list list-inline">
                <li><a href="#" id="contact-us-intercom"><img src="{{ cdn_url }}/images/about/so-sure_intercom-logo.svg" alt="Intercom" width="70px" height="70px"><span>Intercom</span></a></li>
                <li><a href="mailto:hello@wearesosure.com"><img src="{{ cdn_url }}/images/about/so-sure_email-logo.svg" alt="Email" width="70px" height="70px"><span>Email</span></a></li>
                <li><a href="https://www.facebook.com/wearesosure/" target="_blank"><img src="{{ cdn_url }}/images/about/so-sure_facebook-logo.svg" alt="Facebook" width="70px" height="70px"><span>Facebook</span></a></li>
                <li><a href="https://twitter.com/wearesosure" target="_blank"><img src="{{ cdn_url }}/images/about/so-sure_twitter-bird-logo.svg" alt="Twitter" width="70px" height="70px"><span>Twitter</span></a></li>
            </ul>
            <p class="lead text-center">However, if you have a more technical question see our <a href="{{ path('faq') }}">faq</a>.</p>
            <p class="lead text-center">Or drop us a note via the form below:</p>
            {{ form_start(contact_form, {'attr':{'id': 'contact-us-form', 'class':'contact-page-from'}}) }}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="sr-only">Name <span class="req">*</span></label>
                            {{ form_widget(contact_form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Name *'}}) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="sr-only">Email <span class="req">*</span></label>
                            {{ form_widget(contact_form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email *'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="sr-only">Phone Number we can reach you on <span class="req">*</span></label>
                            {{ form_widget(contact_form.phone, { 'attr': {'class': 'form-control', 'placeholder': 'Phone Number we can reach you on *'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="sr-only">Your message:<span class="req">*</span></label>
                            {{ form_widget(contact_form.message, { 'attr': {'class': 'form-control', 'rows': '15', 'placeholder': 'Your message *'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="form-group">
                            {{ form_widget(contact_form.submit, { 'label': 'Contact us', 'attr': {'class': 'btn btn-blue btn-lg'}}) }}
                        </div>
                    </div>
                </div>
            {{ form_end(contact_form) }}
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/jquery-validation/jquery.validate.min.js'
    '@AppBundle/Resources/public/js/Default/jqueryValidatorMethods.js'
    '@AppBundle/Resources/public/js/About/index.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
