{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}

{% block title %}so-sure - about us
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        '@AppBundle/Resources/public/sass/page/about.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}

<ul class="secondary-nav hidden-xs hidden-sm list-inline"
    data-sticky-nav-offset=".section--big-text">
    <li><a href="#our-story"
           class="scroll-to"
           data-scroll-to-anchor="#our-story">
           Our story</a></li>
    <li><a href="#our-mission"
           class="scroll-to"
           data-scroll-to-anchor="#our-mission">
           Our mission</a></li>
    <li><a href="#our-team"
           class="scroll-to"
           data-scroll-to-anchor="#our-team">
           Our team</a></li>
    <li><a href="#our-partners"
           class="scroll-to"
           data-scroll-to-anchor="#our-partners">
           Our partners</a></li>
    <li><a href="#our-location"
           class="scroll-to"
           data-scroll-to-anchor="#our-location">
           Our location</a></li>
</ul>

<section id="our-intro" class="section-about-us section--big-text">
    <div class="container">
        <div class="big-text text-center">
            Hello, we’re <span class="text-blue">so-sure</span>, the revolutionary mobile phone insurance provider. Started back in 2015, we’re committed to bringing trust and care back into the world of insurance.
        </div>
    </div>
    {# Curve #}
    <svg class="curved-background hidden-xs" viewBox="0 0 500 150" preserveAspectRatio="xMinYMin meet">
        <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#f6f7fb;"></path>
    </svg>
    {# End Curve #}
</section>

<section id="our-story" class="section-about-us section--our-story">
    <div class="container">
        <div class="about-panel">
            <div class="about-panel--thumb">
                <img src="{{ cdn_url }}/images/about/team/dylan_bio.jpg" alt="" class="img-circle" width="100px" height="100px">
            </div>
            <h2 class="text-blue text-center">Our story</h2>
            <p>Sadly, good customer experiences are a dying breed in the insurance world which is why our founder, Dylan Bourguignon, who spent the past 10 years working from inside the insurance world as a private equity investor, decided to start his own version of a good insurance company.</p>
            <p>Dylan saw how untrustworthy the insurance industry really was and created the first truly customer-centric insurance company - one that is less focused on profits and more on creating an all-round value: rewarding customers when they don’t claim and pay out while providing exceptional service when they do.</p>
        </div>
    </div>
</section>

<section class="section-about-us">
    <div class="container">
        <div class="big-text text-center">
            We’re here to revolutionise Insurance
        </div>
    </div>
</section>

<section id="our-mission" class="section-about-us section--our-mission">
    <div class="container">
        <div class="about-panel">
            <h2 class="text-blue text-center">Our mission</h2>
            <p>Having each other's backs should be a no brainer - the power of many will always beat the power of one. That’s why we created something that looks after you when bad stuff happens but still rewards you when you’re being careful. Finally, insurance that’s actually worth it.</p>
            <p>Insurance used to be great. In fact, it all started in an East London coffee shop (seriously). Ship owners would meet up at Lloyd's coffee house on Tower Street where they would place wagers on which vessels would return from their voyage. These guys knew they had each other's backs which meant they could get on with the things that really matter, like traversing the high seas.</p>
            <p>What initially started as a bit of fun then spread out to other industries as people began to realise just how vital insurance was.</p>
            <p>However, somewhere along the way insurance changed - companies started to care less about the customer and more about profits. We’re here to change that and think that we can bring back the trust and value in insurance.</p>
        </div>
    </div>
</section>

<section id="our-team" class="section-about-us section--our-team">
    <div class="container">
        <h2 class="text-blue text-center">Our team</h2>
            <div class="about-panel--transparent">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ cdn_url }}/images/about/team/dylan_bio.jpg" alt="" class="img-circle" width="100px" height="100px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Dylan <span>/ CEO</span></h4>
                                <p>Like Nick Fury in The Avengers, it was his master plan that... <br>
                                <a href="#"
                                   data-toggle="modal"
                                   data-target="#team-member-info-modal"
                                   data-team-member="Dylan Bourguignon"
                                   data-team-member-bio="Dylan is the CEO of so-sure and like Nick Fury in The Avengers, it was his master plan that got us all together. Outside of revolutionising the insurance industry, Dylan likes outdoor sports such as skiing and sailing also, being French, he enjoys great food and wine.">read more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ cdn_url }}/images/about/team/patrick_bio_.jpg" alt="" class="img-circle" width="100px" height="100px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Patrick <span>/ Lead Developer</span></h4>
                                <p>Dreams of one day of finishing up his cycling trip to Singapore... <br>
                                <a href="#"
                                   data-toggle="modal"
                                   data-target="#team-member-info-modal"
                                   data-team-member="Patrick McAndrew"
                                   data-team-member-bio="Patrick is our Lead Developer and dreams of one day of finishing up his cycling trip to Singapore. When he’s not slaloming between cars on his daily commute, he tries to keep up with the latest tech trends and saves a bit of time to beat Julien &amp; Ted at table tennis.  Previously, Patrick has worked for several startups and and tries to forget that his career started in the previous century.">read more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ cdn_url }}/images/about/team/fiona_bio.jpg" alt="" class="img-circle" width="100px" height="100px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Fiona <span>/ Head of Marketing</span></h4>
                                <p>Fiona is a marketer originally from Glasgow and loves...<br>
                                <a href="#"
                                   data-toggle="modal"
                                   data-target="#team-member-info-modal"
                                   data-team-member="Fiona Grindlay-Kuzian"
                                   data-team-member-bio="Fiona is a marketer originally from Glasgow and loves adventure and extreme sports. Before joining so-sure, Fiona spent over 12 years in the marketing arena within tech from Fortune 500's to disruptive start-ups.">read more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ cdn_url }}/images/about/team/sam_bio.jpg" alt="" class="img-circle" width="100px" height="100px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Sam <span>/ Digital Marketing Manager</span></h4>
                                <p>Self-proclaimed so-sure table tennis champion and proud... <br>
                                <a href="#"
                                   data-toggle="modal"
                                   data-target="#team-member-info-modal"
                                   data-team-member="Sam Luscombe"
                                   data-team-member-bio="Self-proclaimed so-sure table tennis champion and proud but accent-losing Northerner. Sam spent 3 years in a leading digital agency before making the switch to the fast-paced world of startups and spends weekends following the (mis)fortunes of Bradford City and offroad motorbiking.">read more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ cdn_url }}/images/about/team/nick_bio.jpg" alt="" class="img-circle" width="100px" height="100px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Nick <span>/ Front End Developer</span></h4>
                                <p>An Artist who discovered his creative side could be put to... <br>
                                <a href="#"
                                   data-toggle="modal"
                                   data-target="#team-member-info-modal"
                                   data-team-member="Nick Waller"
                                   data-team-member-bio="Nick is our Front-End Developer and Designer. Originally an Artist who discovered his creative side could be put to good use on the web. A keen adventurer who is just as comfortable on a mountain as he is with command line. Nick enjoys many outdoor activities like snowboarding, mountain biking and climbing to name a few.">read more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ cdn_url }}/images/about/team/jules_bio.jpg" alt="" class="img-circle" width="100px" height="100px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Julien <span>/ App Developer</span></h4>
                                <p>From Reims who is inspired by buying vinyl, watching films... <br>
                                <a href="#"
                                   data-toggle="modal"
                                   data-target="#team-member-info-modal"
                                   data-team-member="Julien Champagne"
                                   data-team-member-bio="Julien is an iOS Developer from Reims who is inspired by buying vinyl, watching films and table football. Before he joined so-sure, Julien spent 10 years working with various agencies in Manchester.">read more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ cdn_url }}/images/about/team/kitti_bio.jpg" alt="" class="img-circle" width="100px" height="100px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Kitti <span>/ Customer Experience Manager</span></h4>
                                <p>With over 6 years experience in luxury fashion and now taking...<br>
                                <a href="#"
                                   data-toggle="modal"
                                   data-target="#team-member-info-modal"
                                   data-team-member="Kitti"
                                   data-team-member-bio="With over 6 years experience in luxury fashion and now taking her first dip into the startup world she hopes to shake up our customer experience for the better. Out of work she's a keen amateur photographer with an eye for detail, she loves to travel and has a massive soft spot for dogs.">read more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{# Curve #}
<div class="curved-background-own background-white hidden-xs hidden-sm">
    <svg class="" viewBox="0 0 500 150" preserveAspectRatio="xMinYMin meet">
        <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#D6EBFF;"></path>
    </svg>
</div>
{# End Curve #}

<section id="our-partners" class="section-about-us section--our-partners background-white">

    <div class="container">
        <div class="about-panel--transparent">
            <h2 class="text-center text-blue">Our partners</h2>
            <ul class="list-inline text-center">
                <li><img src="{{ cdn_url }}/images/about/so-sure_500-startups.png" alt="500 Startups"></li>
                <li><img src="{{ cdn_url }}/images/about/so-sure_7pc.png" alt="7pc Ventures"></li>
                <li><img src="{{ cdn_url }}/images/about/so-sure_munich-re.png" alt="Munich RE"></li>
                <li><img src="{{ cdn_url }}/images/about/so-sure_salva.png" alt="Salva"></li>
            </ul>
            <p>We’re fortunate enough to be backed by the great people at 500 Startups and 7pc Ventures. Based in London and San Francisco, these two investors have backed fantastic companies such as Borrow My Doggy, Udemy, and Oculus.</p>
            <p>In terms of underwriting we’re supported by both Munich Re and Salva, which means that your insurance policy is safe and secure. so-sure, Munich Re and Salva are all fully regulated by the FCA. </p>
            <p>Munich Re have backed a small group of exciting insurance technology startups such as Wrisk, Trov, Bought by Many and ourselves. With Munich Re’s backing, we’re able to deliver our customer first insurance model to the wider public.</p>
        </div>
    </div>
</section>

<section id="our-location" class="section-about-us section--our-location">
    <div class="container">
        <div class="about-panel">
            <h2 class="text-center text-blue">Our location</h2>
            <div class="row">
                <div class="col-sm-6">
                    <p>Like most disruptive tech companies, so-sure is situated right next to the Old St roundabout. This means we’re directly in the heart of London’s burgeoning startup scene while simultaneously being a few minutes walk from the historical insurance capital of the world. </p>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2482.427166969824!2d-0.08916730838312302!3d51.5237245233236!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x62e5f03026fcf426!2sso-sure!5e0!3m2!1sen!2suk!4v1499851584574" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{# Page Modals #}
<div class="modal modal-middle fade"
     id="team-member-info-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="So-Sure Team"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title text-center"></h3>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    {# <img src="" alt="" class="img-responsive team-member-img-modal"> #}
                </p>
                <p class="bio"></p>
            </div>
        </div>
    </div>
</div>
{# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/About/index.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
