{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/About/index.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        '@AppBundle/Resources/public/sass/page/about.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <section class="about-section section--pad">
        <div class="container">

            <h1>The Team</h1>

            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#"
                            data-toggle="modal"
                            data-target="#team-member-info-modal" data-team-member="Dylan"
                            data-team-member-img="{{ cdn_url }}/images/about/team/dylan_bio.jpg"
                            data-team-member-bio="Dylan is the CEO of so-sure and like Nick Fury in The Avengers, it was his master plan that got us all together. Outside of revolutionising the insurance industry, Dylan likes outdoor sports such as skiing and sailing also, being French, he enjoys great food and wine.">
                            <img src="{{ cdn_url }}/images/about/team/dylan_bio.jpg" alt="Dylan">
                            <div class="caption text-center">
                                <h3>Dylan</h3>
                                <h4>CEO</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#"
                            data-toggle="modal"
                            data-target="#team-member-info-modal" data-team-member="Patrick"
                            data-team-member-img="{{ cdn_url }}/images/about/team/patrick_bio_.jpg"
                            data-team-member-bio="Patrick is our Lead Developer and dreams of one day of finishing up his cycling trip to Singapore. When he’s not slaloming between cars on his daily commute, he tries to keep up with the latest tech trends and saves a bit of time to beat Julien &amp; Ted at table tennis.  Previously, Patrick has worked for several startups and and tries to forget that his career started in the previous century.">
                            <img src="{{ cdn_url }}/images/about/team/patrick_bio_.jpg" alt="Patrick">
                            <div class="caption text-center">
                                <h3>Patrick</h3>
                                <h4>Lead Developer</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#"
                            data-toggle="modal"
                            data-target="#team-member-info-modal" data-team-member="George"
                            data-team-member-img="{{ cdn_url }}/images/about/team/george_bio.jpg"
                            data-team-member-bio="George is our Marketing Executive and likes to spend his free time cooking food, going to Arsenal games and ordering Ubers. When he isn’t being ferried around by a Toyota Prius, he enjoys watching videos of Zinedine Zidane and/or Ray Parlour.">
                            <img src="{{ cdn_url }}/images/about/team/george_bio.jpg" alt="George">
                            <div class="caption text-center">
                                <h3>George</h3>
                                <h4>Marketing Executive</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#"
                            data-toggle="modal"
                            data-target="#team-member-info-modal" data-team-member="Ted"
                            data-team-member-img="{{ cdn_url }}/images/about/team/ted_bio.jpg"
                            data-team-member-bio="Ted is our Android Developer. Aside from being a dab hand with coding, he also fancies himself as a bit of a table tennis don. He plans on going pro next year. As well as being a wizard with the paddle, Ted loves eating lunch and is the go-to man for Finsbury Square food recommendations.">
                            <img src="{{ cdn_url }}/images/about/team/ted_bio.jpg" alt="Ted">
                            <div class="caption text-center">
                                <h3>Ted</h3>
                                <h4>Android Developer</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#"data-toggle="modal"
                            data-target="#team-member-info-modal" data-team-member="Julien"
                            data-team-member-img="{{ cdn_url }}/images/about/team/jules_bio.jpg"
                            data-team-member-bio="Julien is an iOS Developer from Reims who is inspired by buying vinyl, watching films and table football. Before he joined so-sure, Julien spent 10 years working with various agencies in Manchester.">
                            <img src="{{ cdn_url }}/images/about/team/jules_bio.jpg" alt="Julien">
                            <div class="caption text-center">
                                <h3>Julien</h3>
                                <h4>iOS Developer</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#"
                            data-toggle="modal"
                            data-target="#team-member-info-modal" data-team-member="Nick"
                            data-team-member-img="{{ cdn_url }}/images/about/team/nick_bio.jpg"
                            data-team-member-bio="Nick is our Front-End Developer and Designer. Originally an Artist who discovered his creative side could be put to good use on the web. A keen adventurer who is just as comfortable on a mountain as he is with command line. Nick enjoys many outdoor activities like snowboarding, mountain biking and climbing to name a few.">
                            <img src="{{ cdn_url }}/images/about/team/nick_bio.jpg" alt="Nick">
                            <div class="caption text-center">
                                <h3>Nick</h3>
                                <h4>Front-End Developer</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#"
                            data-toggle="modal"
                            data-target="#team-member-info-modal" data-team-member="Vish"
                            data-team-member-img="{{ cdn_url }}/images/about/team/vish_bio.jpg"
                            data-team-member-bio="Vish is our head of marketing and our full time PPC nerd! He has worked in digital marketing for over 10 years and when he’s not driving growth for so-sure, he can be found working out at Barry’s Bootcamp. He’s a gadget geek and has a little pug called Bea!">
                            <img src="{{ cdn_url }}/images/about/team/vish_bio.jpg" alt="Vish">
                            <div class="caption text-center">
                                <h3>Vish</h3>
                                <h4>Head of Marketing</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}

    <div class="modal fade"
         id="team-member-info-modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="So-Sure Team"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title text-center"></h3>
                </div>
                <div class="modal-body">
                    <p class="text-center">
                        <img src="" alt="" class="img-responsive team-member-img-modal">
                    </p>
                    <p class="bio"></p>
                </div>
            </div>
        </div>
    </div>

    {# End Page Modals #}
{% endblock %}
