{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/vimeo-player-js/player.min.js'
        '@AppBundle/Resources/public/js/Default/modalVideo.js'
    %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        '@AppBundle/Resources/public/sass/page/about.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
<section class="about-section section--pad">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-title">What is Social Insurance?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            	<p>Social Insurance (or so-sure for short) is a new way of looking after your possessions <strong>by allowing you to connect you with people that you love and trust</strong>.</p>
				<p>After all, the collective is always stronger than the individual! so-sure gives you the opportunity to get together with your friends and provided you're careful, collect a juicy reward at the end.</p>
                <h3>Reward Pot</h3>
                <p>If no-one in your group claims, you could get up to 80% of your premium back at the end of the year, every year. The more people you connect with (who don't claim), the <strong>more money you get back</strong>.</p>
                <p>There's no hidden small print to trip you up or flaming hoops to jump through – just download our mobile app and you'll be covered in seconds.</p>
                <h3>Better insurance</h3>
                <p>Had an accident? Lost your phone? Give our UK-based claims team a call 365, 24/7 and once your claim has been approved, we will aim to get you a replacement phone the next working day!</p>
                <p>Many insurers have been getting away with treating their customers poorly for years. We think that it's about time there was a better, easier and cheaper service. That time is now.</p>
                <p>Watch the video below in order to find out more about how <strong>Social Insurance</strong> works:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

                <div class="explainer-video-thumb">
                    <a class="explainer-video-view-thumb" data-toggle="modal" data-target="#modal-fullscreen">
                        <img src="{{ cdn_url }}/images/home/explainer-video/explainer-video-frame-2.png" class="img-responsive">
                    </a>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            	<p class="go-back"><a href="{{ path('about_home') }}" class="btn btn-primary-hollow"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Go back</a></p>
            </div>
        </div>
    </div>
</section>

{% include 'AppBundle::Default/modalVideo.html.twig' %}

{% endblock %}
