{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@AppBundle/Resources/public/css/About/index.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-title">What personal information do you capture?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><strong>Biographical data provided via our Facebook app (after you give Facebook your consent to share this information with us):</strong></p>
                <ul>
                    <li>Name;</li>
                    <li>Email address;</li>
                    <li>Age range.</li>
                </ul>
                <p><strong>Information submitted by you via forms on our website:</strong></p>
                <ul>
                    <li>Telephone number (optional);</li>
                    <li>Post code;</li>
                    <li>Phone make, model, storage capacity, IMEI number, and value;</li>
                    <li>Claim data if you suffer a loss.</li>
                </ul>
                <p><strong>With regard to each of your visits to our site we may automatically collect the following information:</strong></p>
                <ul>
                    <li>Technical information, including the Internet protocol (IP) address used to connect your computer to the Internet, your login information, browser type;</li>
                    <li>Information about your visit, including the full Uniform Resource Locators (URL); page response times, length of visit to certain pages, page interaction information (such as scrolling and clicks).</li>
                    <li>This information is not shared with third parties and is used only within this Company on a need-to-know basis. Any individually identifiable information related to this data will never be used in any way different to that stated above without your explicit permission.</li>
                </ul>
                <p><i>Want to know what we do with your personal data? <a href="{{ path('about_what_do_you_do_with_my_personal_information') }}">Read this</a>.</i></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            	<p class="go-back"><a href="{{ path('about_home') }}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Go back</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
