{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}{{ policy.debtCollector|capitalize }} has now been authorised to chase your debt to so-sure{% endblock %}
{% block body %}
    {{ macros.start_table() }}
    <h1>
        <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
    </h1>
    <div style="font-size: 14px; text-align: left;">
        <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
        <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
                Dear {{ policy.user.name }},
                <br><br>
                We requested that a 3rd party company ({{ policy.debtCollector|capitalize }}) start proceedings
                to collect the outstanding funds that you owe so-sure for policy {{ policy.policyNumber }}.
                <br><br>
                Your phone {{ policy.phone }} was insured and you received
                a replacement phone on {{ policy.getApprovedClaims(true, true)[0].replacementReceivedDate|date }}.
                <br><br>
                As per so-sure terms & conditions, the remainder of the policy must be paid for in full.
                <br><br>
                Your current debt for the amount of £{{ policy.getRemainderOfPolicyPrice|number_format(2, '.', ',') }}
                was due on {{ policy.end | date }}
                <br><br>
                You can make online payment at:  {{ url('purchase_remainder_policy', {'id': policy.Id }) }}
        </div>
    </div>
    {{ macros.end_table() }}
{% endblock %}
