	{% set logo_image = 'unhappy' %}
{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Payment failure for {{ policy.policyNumber }}{% endblock %}
{% block body %}
	{{ macros.start_table() }}
		<h1>
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		</h1>
		<div style="font-size: 14px; text-align: center;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				Your monthly payment of £{{ policy.premium.monthlyPremiumPrice }} for your {{ policy.phone }} was declined.
				{% if next %}
				<br><br>
				We will attempt to process the payment again{% if policy.user.paymentMethod.cardType is defined %}, using your {{ policy.user.paymentMethod.cardType }} card ending in {{ policy.user.paymentMethod.cardLastFour }}{% endif %}, on {{ next | date('d M Y H:i', 'Europe/London') }}.
			    {% endif %}
				<br><br>
                Your policy will be canceled in {{ policy.policyExpirationDateDays }} days if you fail to make payment.
				<br><br>
				To avoid cancellation, simply <a href="{{ branch_pot_url }}">open our app</a> and follow the steps on screen, alternatively talk to us <a href="{{ contact_us_url }}">here</a> Monday to Thursday 9am-5pm and Friday 9am-4pm.
				<br><br>
				As you have had an approved claim, and received a replacement phone on {{ policy.getApprovedClaims(true, true)[0].replacementReceivedDate|date }}, as per the so-sure terms and conditions you are liable for the remainder of the policy year.  Should you fail to make payments on your policy, it will be cancelled and you will be billed for the remainder of your policy premium of £{{ policy.getRemainderOfPolicyPrice|number_format(2, '.', ',') }}.  In the unfortunate case that you should you fail to make this payment, we will take legal action.
				<br><br>
			    If you have any questions, please don't hesitate to <a href="mailto:support@wearesosure.com?subject=I%20have%20a%20question" target="_blank"><span style="color:#3399ff">contact us</span></a>.
				<br><br>
		   </div>
		</div>
	{{ macros.end_table() }}
	{{ macros.email_button_table(branch_payment_details_url, "Change your payment method", "Change your payment method")}}
	{{ macros.email_button_table(branch_billing_date_url, "Change your payment date", "Change your payment date")}}
{% endblock %}
