{% extends 'AppBundle:Email:base.txt.twig' %}
{% block body %}
Payment failure for {{ policy.policyNumber }}

**
------------------------------------------------------------
Your monthly payment of £{{ policy.premium.monthlyPremiumPrice }} was declined.
{% if next %}
We will attempt to process the payment again, using your {{ policy.user.paymentMethod.cardType }} card ending in {{ policy.user.paymentMethod.cardLastFour }}, on {{ next|date }}.
{% endif %}

If your payment details are no longer valid, you can update them by <a href="{{ branch_pot_url }}">opening the app</a> and following the steps on screen.

Please note that we will cancel any policy that is 30 days past due, so please ensure that your payment details are correct as soon as possible.
{% endblock body %}
