{% extends 'AppBundle:Email:base.txt.twig' %}
{% block body %}
Your policy will be cancelled in {{ policy.policyExpirationDateDays }} days.

**
------------------------------------------------------------
Your monthly payment of £{{ policy.premium.monthlyPremiumPrice }} was declined.

Your policy will be cancelled in {{ policy.policyExpirationDateDays }} days if you fail to make payment.

As a reminder, if you fail to make a payment, you will be billed for the remainder of your policy premium
of £{{ policy.getRemainderOfPolicyPrice|number_format(2, '.', ',') }}.

To avoid cancellation, simply <a href="{{ branch_pot_url }}">open the app</a> and follow the steps on screen.
{% endblock body %}
