{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Welcome {{ policy.user.name }}!{% endblock %}
{% block body %}
	{{ macros.start_table() }}
		<h1>
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		</h1>
		<div style="font-size: 14px; text-align: left;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
			   Welcome to the so-sure family!<br><br>
			   You've made a very smart decision. Never again will you have to worry about dropping your phone and seeing that cracked screen, or it being stolen by some pesky thief!<br><br>
			   Starting now, you can also be on your way to receive 80% of your money back at the end of your policy year when you connect with friends or family and none of you claim.
				<br><br>
				You can start by sharing this unique URL to your friends.  Simply copy it, and send it via What's App, Email or even your favourite social channels.  What you waiting for?
				<br><br>
				   <a href="{{ url('scode', {code: policy.getStandardSCode.code}) }}">{{ url('scode', {code: policy.getStandardSCode.code}) }}</a>
				<br><br>
			   Now enough about us, here's your policy details:<br><br>
			   Your policy is for a <strong>{{ policy.phone }}</strong> and runs from <strong>{{ policy.start | date('d M Y H:i', 'Europe/London') }}</strong> to <strong>{{ policy.end | date('d M Y H:i', 'Europe/London') }}</strong>.<br><br>
			   Cover includes: Loss, Theft, Accidental Damage, Out of Warranty Breakdown, Accessories, Global Travel<br><br>
			   Attached is a copy of all your key documents, including your policy terms for reference. If you have any questions, please don't hesitate to contact us.<br><br>
				<br><br><br>
			   </span>
		   </div>
		</div>
		{% if policy.policyTerms.isPicSureEnabled and policy.picSureStatus != 'preapproved' %}
		<div style="font-size: 14px; text-align: left;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
			   Your excess is currently £{{ policy.premium.excess.damage }}, however, you can easily reduce this amount to £{{ policy.premium.picSureExcess.damage }} (£{{ policy.premium.picSureExcess.loss }} for Theft/Loss) by validating your phone with pic-sure.
			   {% if policy.phone.isITunes %}
			   <a href="{{ url('download_apple', {'medium': 'pic-sure-welcome-email'}) }}">Download our iOS App</a>, login, and complete the pic-sure validation process.
			   {% elseif policy.phone.isGooglePlay %}
			   <a href="{{ url('download_google', {'medium': 'pic-sure-welcome-email'}) }}">Download our Android App</a>, login, and complete the pic-sure validation process.
			   {% else %}
					Just email a picture of your phone's screen in the mirror to <a href="support@wearesosure.com">support@wearesosure.com</a> and we'll get started on that process.
	 		   {% endif %}
			   <br><br><br>
			   </span>
		   </div>
		</div>
	    {% endif %}
	    {% if policy.phone.newHighDemand %}
		<div style="font-size: 14px; text-align: left;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				As you have a shiny new model, we wanted to let you know your next day replacement or repair may be an older model,
				   just for a few days until we get the new model to you (this is an unusual occurrence that's out of our control
				   and due to market shortages).
			   <br><br>
			   </span>
		   </div>
		</div>
	    {% endif %}

		<div style="font-size: 14px; text-align: left;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
		<table border="1" cellpadding="20" cellspacing="0" height="100%" width="100%" id="cancelPolicy">
    <tr>
        <td align="center" valign="top">
			   <b><a href="{{ url('purchase_cancel', {'id': policy.id }) }}">Cancel your policy now</a> if your phone already has a cracked screen.</b>

			   <br><br>

			   We take fraud very seriously and do prosecute. When you purchased your policy, you confirmed that your phone was in full working condition and without a cracked screen. If you failed to disclose the state of your phone accurately, we may exercise our right to cancel the policy and will report any instance of fraud to the police.

			   <br><br>
			   If you think you might have purchased your policy by mistake, you can <a href="{{ url('purchase_cancel', {'id': policy.id }) }}">cancel your policy <b>today</b></a> and we will fully refund your premium. If you are in any doubt, please email us at <a href="mailto:info@wearesosure.com?subject=Query from {{ policy.policyNumber }}">info@wearesosure.com.</a>
		</td>
	</tr>
		</table>
			   </span>
		   </div>
		</div>
	{{ macros.end_table() }}
{% endblock %}
