
Welcome to so-sure 🎉

{% if policy.policyTerms.isPicSureRequired %}
Almost there! Your policy details are below, however your policy will NOT commence until you have verified the condition of phone with our app. Click the link below to install the app and follow the instructions.

{% if policy.phone.isITunes %}
Download the app: {{ url('download_apple', {'medium': 'pic-sure-required-welcome-email'}) }}
{% elseif policy.phone.isGooglePlay %}
Download the app: {{ url('download_google', {'medium': 'pic-sure-required-welcome-email'}) }}
{% endif %}

{% else %}
Nice to have you on board {{ policy.user.firstName }} 🥳

Your phone is now covered and the policy details are below.
{% if feature_enabled('referral') %}

Now for the exciting bits 😀

Get a month free each time one of your friends signs up with your sharing code. On top of that, you also get &pound;10 in your No Claims Reward Pot each time you connect with friends on so-sure.

Download the app or log in to start earning rewards now!

{% if policy.phone.isITunes %}
Download the app: {{ url('download_apple', {'medium': 'pic-sure-required-welcome-email'}) }}
{% elseif policy.phone.isGooglePlay %}
Download the app: {{ url('download_google', {'medium': 'pic-sure-required-welcome-email'}) }}
{% endif %}

Or login here: {{ url('user_home', {'id': policy.id }) }}
{% else %}
Now for the fun bits 😀 share the love and earn up to &pound;{{ policy.maxPot|number_format(2, '.', ',') }} cashback if you don't claim.

Head to your dashboard to start earning rewards: {{ url('user_home', {'id': policy.id }) }}

Katie Booth so-sure customer 😎
"This insurance is your peace of mind when you spend so much on technology these days it’s better to insure them"
{% endif %}
{% endif %}

Important boring bits:

- Your policy is for a {{ policy.phone }}
- Policy starts: {{ policy.start | date('d M Y', 'Europe/London') }}
- Policy ends: {{ policy.end | date('d M Y H:i', 'Europe/London') }}

{% if policy.phone.newHighDemand %}
Note: As you have a shiny new model, we wanted to let you know your next day replacement or repair may be an older model, just for a few days until we get the new model to you - this is an unusual occurrence that's out of our control and due to market shortages.
{% endif %}

Cover includes: Loss, Theft, Accidental Damage, Out of Warranty Breakdown, Accessories, Global Travel 😍.

Attached is a copy of all your key documents, including your policy terms for reference. If you have any questions please don't hesitate to contact us.

{% if policy.policyTerms.isPicSureRequired %}
Don't forget to download the app and verify the condition of your phone to start your policy.
{% elseif policy.policyTerms.isPicSureEnabled and policy.picSureStatus != 'preapproved' %}
Your excess is currently &pound;{{ policy.premium.excess.damage }} (&pound;{{ policy.premium.excess.loss }} for Theft/Loss), you can easily reduce this amount to &pound;{{ policy.premium.picSureExcess.damage }} (&pound;{{ policy.premium.picSureExcess.loss }} for Theft/Loss) by validating your phone with our app.
{% if policy.phone.isITunes %}
Download our iOS App, login, and complete the validation process.
{{ url('download_apple', {'medium': 'pic-sure-welcome-email'}) }}
{% elseif policy.phone.isGooglePlay %}
Download our Android App</a>, login, and complete the validation process.
{{ url('download_google', {'medium': 'pic-sure-welcome-email'}) }}
{% else %}
Just email a picture of your phone's screen in the mirror to support@wearesosure.com and we'll get started on that process.
{% endif %}
{% endif %}

If your phone is already broken 👮
On a serious note, if your phone was already damaged before you purchased this policy, you should cancel it now or risk prosecution.

Find out why this is no joke: {{ url('faq') }}

Cancel: {{ url('purchase_cancel', {'id': policy.id }) }}

If you are in any doubt, please email us at info@wearesosure.com.

============================================================
** (http://www.twitter.com/wearesosure)
** (https://www.facebook.com/wearesosure)
** (http://wearesosure.com)
** (http://blog.wearesosure.com)
** (mailto:hello@wearesosure.com)

Copyright {{ 'now'|date('Y') }} so-sure Limited, All rights reserved.

{% if unsubscribe_url is defined %}{{ unsubscribe_url }}{% endif %}

Our mailing address is:
so-sure, Relay Builiding, 114 Whitechapel High Street, London, E1 7PT, UK
