{% extends 'AppBundle:Email:base.txt.twig' %}
{% block body %}
Welcome {{ policy.user.name }}.

**
------------------------------------------------------------
Thank you for joining so-sure.  We're excited to have you onboard.

Your policy is for {{ policy.phone }} and runs from {{ policy.start | date('d M Y H:i', 'Europe/London') }} to {{ policy.end | date('d M Y H:i', 'Europe/London') }}.

We've also attached a copy of all your key documents, including your policy terms for reference. If you have any questions, please don't hesitate to contact us (support@wearesosure.com).

{% if policy.policyTerms.isPicSureEnabled %}
Your excess is currently £150, however, you can easily reduce this amount to £50 (£70 for Theft/Loss) by validating your phone with pic-sure.
{% if policy.phone.isITunes %}
Download our iOS App, login, and complete the pic-sure validation process.
{{ url('download_apple', {'medium': 'pic-sure-welcome-email'}) }}

{% elseif policy.phone.isGooglePlay %}
Download our Android App</a>, login, and complete the pic-sure validation process.
{{ url('download_google', {'medium': 'pic-sure-welcome-email'}) }}

{% else %}
Just email a picture of your phone's screen in the mirror to support@wearesosure.com and we'll get started on that process.

{% endif %}
{% endif %}
{% if policy.phone.newHighDemand %}
Your {{ policy.phone }} has recently been released. Sadly this means that there is a market shortage of parts/phones available over the coming few weeks. Hence, we might be delayed in providing you a next day replacement or repair. As we know you can't live without a phone, if we can't fulfil your claim promptly, we will loan you an older model phone until we are able to get a replacement device to you.

{% endif %}
Cancel your policy now if your phone already has a cracked screen.

We take fraud very seriously and do prosecute. When you purchased your policy, you confirmed that your phone was in full working condition and without a cracked screen. If you failed to disclose the state of your phone accurately, we may exercise our right to cancel the policy and will report any instance of fraud to the police.

If you think you might have purchased your policy by mistake, please go to the following url today to cancel your policy and receive a full refund of your premium.

{{ url('purchase_cancel', {'id': policy.id }) }}

If you are in any doubt, please email us at info@wearesosure.com.
{% endblock body %}
