{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Your so-sure insurance renewal.{% endblock %}
{% block body %}
	{{ macros.start_table() }}
		<h1>
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		</h1>
		<div style="font-size: 14px; text-align: left;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				Dear {{ policy.user.name }},
				<br><br>
			   Your SO-SURE policy {{ policy.policyNumber }} is due to expire on {{ policy.end | date('d M Y', 'Europe/London') }}. Please find your quotation for next year's cover below. We will automatically renew your policy unless you contact us before your renewal date.
			   <br><br>
			   {% if policy.nextPolicy.premium.monthlyPremiumPrice < policy.premium.monthlyPremiumPrice %}
	 			   We have great news! Your monthly premium has decreased from £{{ policy.premium.monthlyPremiumPrice|number_format(2, '.', ',') }} to £{{ policy.nextPolicy.premium.monthlyPremiumPrice|number_format(2, '.', ',') }} per month!
	 			   <br><br>			   
	 			   So for only 
					{% spaceless %}
					<strong style="color: #3399ff;font-weight: bold;font-family:arial,helvetica neue,helvetica,sans-serif">
					£{{ policy.nextPolicy.premium.monthlyPremiumPrice|number_format(2, '.', ',') }} per month</strong>,
	 			    {% endspaceless %}
					your phone can remain protected from loss, theft, accidental damage & out of warranty breakdown.
               {% elseif equal_to_two_dp(policy.nextPolicy.premium.monthlyPremiumPrice, policy.premium.monthlyPremiumPrice) %}
				   We have great news! Your monthly premium has remained the same and is currently £{{ policy.nextPolicy.premium.monthlyPremiumPrice|number_format(2, '.', ',') }} per month!
				   <br><br>
	 			   So for only
					{% spaceless %}
					   <strong style="color: #3399ff;font-weight: bold;font-family:arial,helvetica neue,helvetica,sans-serif">
					£{{ policy.nextPolicy.premium.monthlyPremiumPrice|number_format(2, '.', ',') }} per month</strong>,
                   {% endspaceless %}
					your phone can remain protected from loss, theft, accidental damage & out of warranty breakdown.
			   {% else %}
	 			   For only
					{% spaceless %}
					<strong style="color: #3399ff;font-weight: bold;font-family:arial,helvetica neue,helvetica,sans-serif">
					£{{ policy.nextPolicy.premium.monthlyPremiumPrice|number_format(2, '.', ',') }} per month</strong>,
	 			    {% endspaceless %}
					your phone can remain protected from loss, theft, accidental damage & out of warranty breakdown.
					<br><br>
					By way of comparison, your premium last year was £{{ policy.premium.monthlyPremiumPrice|number_format(2, '.', ',') }} per month.
			   {% endif %}
			   {% if policy.potValue > 0 %}
			   <br><br>
			   Your Reward Pot is worth £{{ policy.potValue|number_format(2, '.', ',') }}. Provided that neither you nor your connections claim, you can either get this paid out to you or you can reduce your monthly payments for your premium to only £{{ policy.nextPolicy.premium.getAdjustedStandardMonthlyPremiumPrice(policy.potValue)|number_format(2, '.', ',') }} per month.
			   {% endif %}
			   <br><br>			   
			   {% if policy.potValue > 0 %}
			   If you prefer a different arrangement (lump sum payment or policy termination) click <a href="{{ renew_url }}">here</a>. Otherwise, we will renew your policy and use your Reward Pot to reduce your premium for the coming year, starting on {{ start_date | date('d M Y', 'Europe/London') }}. Once your policy is renewed, we will send you a confirmation email along with your new policy documents.
			   {% else %}
			   If you prefer a different arrangement (lump sum payment or policy termination) click <a href="{{ renew_url }}">here</a>. Otherwise, we will renew your policy for the coming year, starting on {{ start_date | date('d M Y', 'Europe/London') }}. Once your policy is renewed, we will send you a confirmation email along with your new policy documents.
			   {% endif %}
			   <br><br>
               If you have any questions, please don't hesitate to
				<a href="mailto:support@wearesosure.com?subject=I%20have%20a%20question" target="_blank"><span style="color:#3399ff">contact us</span></a>.
				<br><br><br>
		   </div>
		</div>
	{{ macros.end_table() }}
{% endblock %}
