{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Your policy is renewed.{% endblock %}
{% block body %}
	{{ macros.start_table() }}
		<h1>
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		</h1>
		<div style="font-size: 14px; text-align: left;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				Thank you for trusting so-sure to provide you with amazing cover for loss, theft, accidental damage, and breakdown.<br><br>
                As a reminder your policy is for a <strong>{{ policy.phone }}</strong> and runs from <strong>{{ policy.start | date('d M Y H:i', 'Europe/London') }}</strong> to <strong>{{ policy.end | date('d M Y H:i', 'Europe/London') }}</strong>.<br><br>
                We've also attached a copy of all your key documents, including your policy terms for reference. If you have any questions, please don't hesitate to
				<a href="mailto:support@wearesosure.com?subject=I%20have%20a%20question" target="_blank"><span style="color:#3399ff">contact us</span></a>.
				<br><br><br>

		   </div>
		</div>
	{{ macros.end_table() }}
{% endblock %}
