{% set logo_image='smile' %}
{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Happy Wednesday, {{ policy.user.firstname }}!{% endblock %}
{% block body %}
	{{ macros.start_table() }}
		<h1>
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		</h1>
		<div style="font-size: 14px; text-align: left;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				Hello {{ policy.user.firstname }},
		   </span></div>
			 <br />
			 <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				We hope that you’re having a good week. Remember, if you have any questions, thoughts or feedback then you can always get in <a href="mailto:hello@wearesosure.com">touch</a>.<br />
		   </span></div>
			 <br />
			 <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				It's been a busy week for us, but we're very happy with of our new <a href="https://www.youtube.com/watch?v=5OxUNbxqOXk">video that explains how Social Insurance works</a>. We've found really useful in helping our friends and family understand how they can get money back with so-sure. We think you will too. <span style="font-weight: bold">Watch it, share it and let us know what you think!
			</span></div><br />
			 <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				Anyway, here’s what we’ve been up to recently:
		   </span></div>
			 <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				 <ul>
 				 	<li><span style="font-size:14px">Our founder, Dylan, was a bit of a hit at yesterday's big Digital Insurance World conference (if we do say so ourselves). You can catch-up with the day's events over on <a href="https://twitter.com/hashtag/wakeupinsurance?src=hash">Twitter.</span></li>
 					<li><span style="font-size:14px">We also wrote about what you could do with the <a href="https://blog.wearesosure.com/8-ways-that-you-can-spend-your-reward-pot-bonus-b81e995f2ae3#.rbi3mh5ul">money from your Reward Pot</a>. We think you'll be suprised how far that money could go!</span></li>
 				</ul>
		   </span></div>
			 <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				 On that point, we'd really like to know how you would spend your Reward Pot, so that we can make our experience just that little bit more awesome for you - just complete this <a href="https://george212.typeform.com/to/LRKy4i">two second survey</a> and we'll do the rest.
		   </span></div>
			 <br /><br />
			 <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top-width: 2px;border-top-style: solid;border-top-color: #EEEEEE;">
					<tbody>
						 <tr>
								<td>
									 <span></span>
								</td>
						 </tr>
					</tbody>
			 </table>
			 <br />
		   <div style="font-size: 16px; font-weight: bold; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				 <strong>Your Weekly Activity</strong><br />
		   </span></div>
			 <br />
			 <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				Your Reward Pot is currently worth:
		   </span></div>
		   <div style="font-size: 18px; font-weight: bold; text-align: center; color: #3399FF;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				£{{ policy.potValue|number_format(2, '.', ',') }}<br /><br />
		   </span></div>
			 <br />
			 <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				You can still connect to:
		   </span></div>
			 <div style="font-size: 18px; text-align: center; color: #3399ff;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
			{{ policy.remainingConnections }} friends<br /><br />
		   </span></div>
		  <br />
		</div>
		{{ macros.email_button_table(branch_share_url, 'Invite more friends', 'Invite more friends') }}
		<br />
		<div style="font-size: 14px; font-weight: bold; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
		 On a computer? Just open up your so-sure app to invite more people.<br /><br />
	 </span></div>
		{% if policy.sentInvitations|length > 0 %}
		<table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top-width: 2px;border-top-style: solid;border-top-color: #EEEEEE;">
			 <tbody>
					<tr>
						 <td>
								<span></span>
						 </td>
					</tr>
			 </tbody>
		</table>
		  <div style="font-size: 14px; text-align: left;">
			 <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
			 <div style="font-size: 16px; font-weight: bold; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				  Your Invitations
			 </span></div>
		     <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
			   You haven't heard from these friends in a while, why not give them a nudge!<br /><br />
			 </span></div>
			 {% for invitation in policy.sentInvitations %}
	 		     <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
	 			   <a href="{{ branch_share_url }}" style="color: #3399ff;">{{ invitation.inviteeName }}</a><br />
	 			 </span></div>
		     {% endfor %}
		  </div>
	 	  {{ macros.email_button_table(branch_share_url, 'View existing invites', 'View existing invites') }}
		  <br />
			<div style="font-size: 14px; font-weight: bold; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
			 On a computer? Just open up your so-sure app to invite more people.<br /><br />
		 </span></div>
	    {% endif %}
			<table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top-width: 2px;border-top-style: solid;border-top-color: #EEEEEE;">
				 <tbody>
						<tr>
							 <td>
									<span></span>
							 </td>
						</tr>
				 </tbody>
			</table>
			<br />
	{{ macros.end_table() }}
{% endblock %}
