{% set logo_image='smile' %}
{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Happy Wednesday, {{ policy.user.firstname }}!{% endblock %}
{% block body %}
	{{ macros.start_table() }}
		<h1>
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		</h1>
		<div style="font-size: 14px; text-align: left;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				Hello {{ policy.user.firstname }},
		   </span></div>
			 <br />
			 <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				We hope that you are having a great week and had an even better Halloween. Losing your phone can be a fairly spooky experience so it’s good to know that we’ve got you covered if something frightful were to happen!
		   </span></div>
				<br />
			 <div style="font-size: 14px; font-style: italic; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
			   Remember, so-sure covers you for loss, theft, breakdown and accidental damage.
		   </span></div>
			 <br />
			 <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				We hope you are well on your way to maxing out your Reward Pot. If you have any troubles you can get in touch with us <a href="https://help.wearesosure.com/hc/en-us/sections/201886665-How-to-Contact-Us">here</a>
				and if you need ideas on what to do with your Reward Pot we recently wrote about how to make the most of it. Read the guide <a href="https://blog.wearesosure.com/8-ways-that-you-can-spend-your-reward-pot-bonus-b81e995f2ae3#.dtfwk57j9">here</a>.
			</span></div><br />
			 <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				We’ve been crazy busy this week adding new features and furthering the quest for better and cheaper insurance. It’s a long process but with your support we’ll get there! 
		   </span></div>
			 <br /><br />
			 <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top-width: 2px;border-top-style: solid;border-top-color: #EEEEEE;">
					<tbody>
						 <tr>
								<td>
									 <span></span>
								</td>
						 </tr>
					</tbody>
			 </table>
			 <br />
		   <div style="font-size: 16px; font-weight: bold; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				 <strong>Your Weekly Activity</strong><br />
		   </span></div>
			 <br />
			 <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				Your Reward Pot is currently worth:
		   </span></div>
		   <div style="font-size: 18px; font-weight: bold; text-align: center; color: #3399FF;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				£{{ policy.potValue|number_format(2, '.', ',') }}<br /><br />
		   </span></div>
			 <br />
			 <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				You can still connect to:
		   </span></div>
			 <div style="font-size: 18px; text-align: center; color: #3399ff;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
			{{ policy.remainingConnections }} friends<br /><br />
		   </span></div>
		  <br />
		</div>
		{{ macros.email_button_table(branch_share_url, 'Invite more friends', 'Invite more friends') }}
		<br />
		<div style="font-size: 14px; font-weight: bold; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
		 On a computer? Just open up your so-sure app to invite more people.<br /><br />
	 </span></div>
		{% if policy.sentInvitations|length > 0 %}
		<table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top-width: 2px;border-top-style: solid;border-top-color: #EEEEEE;">
			 <tbody>
					<tr>
						 <td>
								<span></span>
						 </td>
					</tr>
			 </tbody>
		</table>
		  <div style="font-size: 14px; text-align: left;">
			 <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
			 <div style="font-size: 16px; font-weight: bold; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				  Your Invitations
			 </span></div>
		     <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
			   You haven't heard from these friends in a while, why not give them a nudge!<br /><br />
			 </span></div>
			 {% for invitation in policy.sentInvitations %}
	 		     <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
	 			   <a href="{{ branch_share_url }}" style="color: #3399ff;">{{ invitation.inviteeName }}</a><br />
	 			 </span></div>
		     {% endfor %}
		  </div>
	 	  {{ macros.email_button_table(branch_share_url, 'View existing invites', 'View existing invites') }}
		  <br />
			<div style="font-size: 14px; font-weight: bold; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
			 On a computer? Just open up your so-sure app to invite more people.<br /><br />
		 </span></div>
	    {% endif %}
			<table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top-width: 2px;border-top-style: solid;border-top-color: #EEEEEE;">
				 <tbody>
						<tr>
							 <td>
									<span></span>
							 </td>
						</tr>
				 </tbody>
			</table>
			<br />
	{{ macros.end_table() }}
{% endblock %}
