{{ form_start(purchase_form, {'attr': {'data-toggle': 'validator', 'class': 'validate-form', 'data-client-validation': form_client_validation, 'autocomplete': 'off' }}) }}

    <h4 class="text-blue2 mb-3">How would you like to pay?</h4>

    <div class="form-group {% if form_errors(purchase_form.amount) %}has-error{% endif %}">
        <div class="radio-btn-original">
            {{ form_label(purchase_form.amount, 'Payment options') }}
            {{ form_widget(purchase_form.amount) }}
        </div>
        <div class="radio-btn-group d-flex flex-wrap">
            {% if app.user.allowedMonthlyPayments %}
            <div class="radio-btn mr-3 {% if purchase_form.vars.value.amount == phone.currentPhonePrice.monthlyPremiumPrice %}radio-btn-active{% endif %}" data-value="{{ phone.currentPhonePrice.monthlyPremiumPrice|number_format(2, '.', ',') }}">
                <div class="radio-btn__content">
                    <h6 class="radio-btn__title mb-0">Yearly</h6>
                    <div class="radio-btn__price"><small>(&pound;{{ phone.currentPhonePrice.monthlyPremiumPrice(app.user.additionalPremium)|number_format(2, '.', ',') }})</small></div>
                </div>
            </div>
            {% endif %}
            {% if app.user.allowedYearlyPayments %}
            <div class="radio-btn {% if purchase_form.vars.value.amount == phone.currentPhonePrice.yearlyPremiumPrice(app.user.additionalPremium) %}radio-btn-active{% endif %}" data-value="{{ phone.currentPhonePrice.yearlyPremiumPrice|number_format(2, '.', ',') }}">
                <div class="radio-btn__content">
                    <h6 class="radio-btn__title mb-0">Monthly</h6>
                    <div class="radio-btn__price"><small>(&pound;{{ phone.currentPhonePrice.monthlyPremiumPrice(app.user.additionalPremium)|number_format(2, '.', ',') }})</small></div>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="with-errors">{{ form_errors(purchase_form.amount) }}</div>
    </div>

    <div class="form-group {% if form_errors(purchase_form.imei) %}has-error{% endif %}">
        {{ form_label(purchase_form.imei, 'IMEI Number:') }}
        {{ form_widget(purchase_form.imei, {'attr':{'class':'form-control imei', 'placeholder':'IMEI Number', 'data-hj-suppress' : ''}}) }}
        <small class="form-text samsung-imei">Numbers only please (no / required)</small>
        <small class="form-text">Dial <strong>*#06#</strong> on your phone keypad to display your IMEI number.</small>
        <small class="form-text">{{ form_errors(purchase_form.imei) }}</small>
    </div>

    {% if purchase_form.serialNumber is defined %}
        <div class="form-group {% if form_errors(purchase_form.serialNumber) %}has-error{% endif %}">
            {{ form_label(purchase_form.serialNumber, 'Serial Number:') }}
            {{ form_widget(purchase_form.serialNumber, {'attr':{'class':'form-control',  'pattern': '[a-zA-Z0-9]{5,32}', 'title': 'Enter a valid serial number', 'placeholder':'Serial Number', 'data-hj-suppress' : ''}}) }}
            <small class="form-text"><i class="fa fa-question-circle"></i> Need help?</small>
            <small class="form-text">{{ form_errors(purchase_form.serialNumber) }}</small>
        </div>
    {% endif %}

    <div class="d-none">
        {{ form_widget(purchase_form.fileValid, {'attr': {'style':'display:none'}}) }}
        {{ form_widget(purchase_form.file, {'attr': {'style':'display:none'}}) }}
    </div>

{#     <p>Before you continue</p>
    <p>Please confirm that the following are correct:</p>
    <ol>
        <li>My phone is in full working condition and my screen is not cracked.</li>
        <li>I am a resident of the United Kingdom.</li>
        <li>I have read &amp; understood the <a class="policy-doc-toggle" href="#policy-doc" data-toggle="modal" data-target="#policy-modal" id="policy-modal-trigger">so-sure policy document</a>.</li>
    </ol> #}

    <div class="form-group">
        <p><small>Please be advised that if you confirm that the above is true and we later discover that it isn’t, your claim might get denied.</small></p>
        {{ form_widget(purchase_form.agreed, {'label': ' I confirm the above is correct', 'value': 'checked'}) }}
    </div>

    <div class="form-row">
        <div class="col">
            {% if app.request.get('_route') == "purchase_step_policy_id" %}
            <a href="{{ path('user_home') }}"
               class="btn btn-outline-grey">
                <span class="sr-only">back</span>
                <i class="fas fa-arrow-left"></i></a>
            </a>
            {% else %}
            <a href="{{ path('purchase_step_personal') }}"
               class="btn btn-outline-grey">
                <span class="sr-only">back</span>
                <i class="fas fa-arrow-left"></i></a>
            </a>
            {% endif %}
        </div>
        <div class="col">
            {% if app.user.hasValidPaymentMethod and app.user.hasJudoPaymentMethod %}
                {{ form_widget(purchase_form.existing, {'label': 'Pay with card on file', 'attr': {'class': 'btn btn-success'}}) }}
                {{ form_widget(purchase_form.next, {'label': 'Pay with a new card', 'attr': {'class': 'btn btn-success'}}) }}
            {% else %}
                {% if purchase_form.existing is defined %}
                    {% do purchase_form.existing.setRendered %}
                {% endif %}
                {{ form_widget(purchase_form.next, {'label': 'I agree, proceed to payment', 'attr': {'class': 'btn btn-success'}}) }}
            {% endif %}
        </div>
    </div>

{#     {% if payment_provider == 'judo' %}
        <div class="form-group mt-5 text-center">
            <small class="text-grey">Powered by</small> <br>
            <img src="{{ cdn_url }}/images/purchase/judo_pay_logo.svg" alt="Judo Pay" title="Powered by - Judo Pay" width="70px">
        </div>
    {% endif %} #}

{{ form_end(purchase_form) }}
