{{ form_start(purchase_form, {'attr': {
    'data-toggle': 'validator',
    'class': 'validate-form form-400',
    'data-client-validation': form_client_validation,
    'autocomplete': 'off'
}}) }}

    {% include 'AppBundle::Purchase/_purchaseStepsRebrand.html.twig' %}

    {% if purchase_form.vars.value.amount == phone.currentMonthlyPhonePrice.monthlyPremiumPrice %}
        {% set premium = 'monthly' %}
    {% else %}
        {% set premium = 'yearly' %}
    {% endif %}

    {% set withoutDiscount = phone.currentMonthlyPhonePrice.monthlyPremiumPrice(app.user.additionalPremium)|number_format(2, '.', ',') * 12 %}

    <div class="form-group payment-options {% if form_errors(purchase_form.amount) %}has-error{% endif %}">
        <h4 class="payment-options__title text-dodger-blue mb-4">How would you like to pay?</h4>
        <div class="radio-btn-original">
            {{ form_label(purchase_form.amount, 'Payment options') }}
            {{ form_widget(purchase_form.amount) }}
        </div>
        <div class="radio-btn-group">
            <div class="row">
                {% if app.user.allowedMonthly %}
                    <div class="col-6">
                        <div class="radio-btn {% if purchase_form.vars.value.amount == phone.currentMonthlyPhonePrice.monthlyPremiumPrice %}radio-btn-active{% endif %}"
                            data-value="{{ phone.currentMonthlyPhonePrice.monthlyPremiumPrice|number_format(2, '.', ',') }}" data-premium-type="month" data-premium-param="monthly">
                            <div class="radio-btn__content">
                                <h6 class="radio-btn__title mb-0">Monthly</h6>
                                <div class="radio-btn__price">&pound;{{ phone.currentMonthlyPhonePrice.monthlyPremiumPrice(app.user.additionalPremium)|number_format(2, '.', ',') }}</div>
                                {# <small>(1 year = &pound;{{ withoutDiscount }})</small> #}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if app.user.allowedYearly %}
                    <div class="col-6">
                        <div class="radio-btn {% if purchase_form.vars.value.amount ==
                            phone.currentYearlyPhonePrice.yearlyPremiumPrice(app.user.additionalPremium) %}radio-btn-active{% endif %}" data-value="{{ phone.currentYearlyPhonePrice.yearlyPremiumPrice|number_format(2, '.', ',') }}" data-premium-type="year" data-premium-param="yearly">
                            <div class="radio-btn__content">
                                <h6 class="radio-btn__title mb-0">Yearly</h6>
                                <div class="radio-btn__price discount-price">&pound;{{ withoutDiscount }}</div>
                                <small>&pound;{{ phone.currentYearlyPhonePrice.yearlyPremiumPrice(app.user.additionalPremium)|number_format(2, '.', ',') }}</small>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="with-errors">{{ form_errors(purchase_form.amount) }}</div>
    </div>
    {{ form_widget(purchase_form.next, {
        'label': 'Continue',
        'attr': {
            'class': 'btn btn-success btn-block-xs',
            'hidden': 'hidden'
    }}) }}
{{ form_end(purchase_form) }}

<p class="text-center my-4">Get one month free when you pay yearly 🤑</p>

<div class="mb-4">
    <form class="payment-form"
          method="POST"
          data-public-key="{{ checkoutApiKey(policy) }}"
          data-customer-email="{{ app.user.email }}"
          data-value="{{ convert_to_pennies(purchase_form.amount.vars.value) }}"
          data-currency="GBP"
          data-csrf="{{ csrf_token('checkout') }}"
          data-payment-mode="cards"
          data-card-form-mode="cardTokenisation"
          data-debug-mode="{% if environment != 'prod' %}true{% else %}false{% endif %}"
          data-url="{{ url('purchase_checkout', {'id': policy.id, 'pennies': convert_to_pennies(purchase_form.amount.vars.value), 'premium': premium }) }}"
          data-redirect-url="
          {% if instore is not null and instore == true %}
            {{ path('user_instore', {id: policy.id}) }}
          {% elseif validation_required is not null and validation_required is not null %}
            {{ path('user_validation_required', {id: policy.id}) }}
          {% else %}
            {{ path('user_welcome', {id: policy.id}) }}
          {% endif %}"
          data-title="Pay now"
          data-subtitle="Please enter your card details">
    </form>
    <div class="form-group text-md-right">
        {% block to_card_form %}
            {{ form_start(to_card_form, {'attr':{'class':'form-400'}}) }}
                {{ form_widget(to_card_form.submit, {
                    'label': 'Pay Now',
                    'attr': {
                        'class': 'btn btn-success btn-block-xs btn-card-pay'
                }}) }}
            {{ form_end(to_card_form) }}
        {% endblock to_card_form %}
    </div>
    <div class="form-group text-center mt-5">
        <small class="text-grey">Payments powered by</small><br>
        <img src="{{ cdn_url }}/images/rebrand/misc/so-sure_checkout-logo.png" alt="Checkout" title="Powered by - Checkout" width="125px" class="mt-2">
    </div>
</div>
