{{ form_start(purchase_form, {'attr': {
    'data-toggle': 'validator',
    'class': 'validate-form form-400',
    'data-client-validation': form_client_validation,
    'autocomplete': 'off'
}}) }}

    {% include 'AppBundle::Purchase/_purchaseStepsRebrand.html.twig' %}

    {# Set text for pic-sure required policies #}
    {# TODO: Copy for Xiaomi or use this method to adjust fields #}
    {% set excessText = 'I understand the standard excess is only reduced when validated with the so-sure app' %}
    {% if validation_required is not null %}
        {% set excessText = 'I understand my policy will NOT commence until you have verified the condition of phone with our app' %}
    {% endif %}

    <h2 class="text-dodger-blue text-center">Pledge of Honesty</h2>
    <h6 class="text-center mb-4">Before you continue to payment...</h6>

    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_contract.png" alt="so-sure - contract" width="200px" class="mx-auto d-block">

    <div class="form-group">
        <small class="form-text text-center"><a href="{{ cdn_url }}/files/so-sure_sample_policy_doc_v14.pdf" target="_blank" rel="noopener noreferrer"><u>Read our full policy document here</u></a></small>
    </div>

    <div class="pledge-items">
        <div class="form-group">
            {{ form_widget(purchase_form.agreedDamage, {
                'label': 'My phone is in working condition & the screen is not cracked',
                'attr': {'class':'custom-control-input'}}
            ) }}
            <div class="with-errors">{{ form_errors(purchase_form.agreedDamage) }}</div>
        </div>
        <div class="form-group">
            {{ form_widget(purchase_form.agreedAgeLocation, {
                'label': 'I am a resident of the United Kingdom and over the age of 18',
                'attr': {'class':'custom-control-input'}}
            ) }}
            <div class="with-errors">{{ form_errors(purchase_form.agreedAgeLocation) }}</div>
        </div>
        <div class="form-group">
            {{ form_widget(purchase_form.agreedExcess, {
                'label': excessText,
                'attr': {'class':'custom-control-input'}}
            ) }}
            <div class="with-errors">{{ form_errors(purchase_form.agreedAgeLocation) }}</div>
        </div>
        <div class="form-group">
            {{ form_widget(purchase_form.agreedTerms, {
                'label': 'I have read & understood the so-sure policy document',
                'attr': {'class':'custom-control-input'}}
            ) }}
            <div class="with-errors">{{ form_errors(purchase_form.agreedTerms) }}</div>
        </div>
    </div>

    <div class="form-group text-md-right mt-5">
        {{ form_widget(purchase_form.next, {
            'label': 'I swear I\'ll be honest!',
            'fa': 'far fa-long-arrow-right fa-lg ml-2',
            'right': true,
            'attr': {
                'class': 'btn btn-success btn-block-xs'
        }}) }}
    </div>
{{ form_end(purchase_form) }}
