{{ form_start(purchase_form, {'attr': {
    'data-toggle': 'validator',
    'class': 'validate-form p-3 pt-4 p-lg-5',
    'data-client-validation': form_client_validation,
    'autocomplete': 'off'
}}) }}

    {# Title #}
    <div class="h2 text-center text-primary fit mb-4 mb-lg-1">More about your phone 📱</div>
    <p class="d-none d-lg-block text-center mb-4">Fill in some details below and we’ll have you covered in no time</p>

    {# Contents #}
    <div class="row">
        <div class="{% if purchase_form.serialNumber is defined %}col-lg{% else %}col-sm-6 offset-sm-3{% endif %}">
            <div class="form-group">
                {{ form_label(purchase_form.imei, 'IMEI Number', { 'label_attr': {'class': 'sr-only'} }) }}
                <label for="purchase_form[imei]">
                    IMEI Number
                    <span class="ml-2 text-dodger-blue">
                        <a href="#"
                           data-toggle="modal"
                           data-target="#policy_imei_number"
                           data-img="{{ cdn_url }}/images/rebrand/icns/so-sure_happy-icn-min.svg"
                           role="button">
                            <i class="fal fa-info-circle"></i>
                        </a>
                    </span>
                </label>
                {{ form_widget(purchase_form.imei, {'attr':{
                    'class':'form-control imei',
                    'placeholder':'IMEI Number',
                    'data-hj-suppress' : '',
                    'data-make': phone.make
                }}) }}
                {% if device_category() == 'Mobile' %}
                    {% if phone.make == 'Apple' %}
                        <small class="form-text">Copy this from your iPhone settings: General &gt; About</small>
                    {% else %}
                        <small class="form-text">Dial <strong>*#06#</strong> on your phone to display your IMEI number.</small>
                        {% if phone.make == 'Samsung' %}
                            <small class="form-text samsung-imei">Numbers only please (no / required)</small>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if phone.make == 'Apple' %}
                        <small class="form-text">Go to iTunes/iCloud: copy and paste</small>
                    {% else %}
                        <small class="form-text">Dial <strong>*#06#</strong> on your phone to display your IMEI number.</small>
                        {% if phone.make == 'Samsung' %}
                            <small class="form-text samsung-imei">Numbers only please (no / required)</small>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <div class="with-errors">{{ form_errors(purchase_form.imei) }}</div>
            </div>
        </div>
        {% if purchase_form.serialNumber is defined %}
            <div class="col-lg">
                <div class="form-group {% if form_errors(purchase_form.serialNumber) %}has-error{% endif %}">
                    {{ form_label(purchase_form.serialNumber, 'Serial Number', { 'label_attr': {'class': 'sr-only'} }) }}
                    <label for="purchase_form[serialNumber]">
                        Serial Number
                        <span class="ml-2 text-dodger-blue">
                            <a href="#"
                               data-toggle="modal"
                               data-target="#policy_serial_number"
                               data-img="{{ cdn_url }}/images/rebrand/icns/so-sure_happy-icn-min.svg"
                               role="button">
                                <i class="fal fa-info-circle"></i>
                            </a>
                        </span>
                    </label>
                    {{ form_widget(purchase_form.serialNumber, {'attr':{
                        'class':'form-control imei',
                        'pattern': '[a-zA-Z0-9]{5,32}',
                        'title': 'Enter a valid serial number',
                        'placeholder':'Serial Number',
                        'data-hj-suppress' : ''
                    }}) }}
                    {% if device_category() == 'Mobile' %}
                        <small class="form-text">Copy this from your iPhone settings: General &gt; About</small>
                    {% else %}
                        <small class="form-text">Go to iTunes/iCloud: copy and paste</small>
                    {% endif %}
                    <div class="with-errors">{{ form_errors(purchase_form.serialNumber) }}</div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="form-group mt-4">
                {{ form_widget(purchase_form.next, {
                    'label': 'Continue',
                    'attr': {
                        'class': 'btn btn-success btn-block'
                }}) }}
            </div>
        </div>
    </div>

{{ form_end(purchase_form) }}
