{{ form_start(purchase_form, {'attr': {
    'data-toggle': 'validator',
    'class': 'validate-form form-400',
    'data-client-validation': form_client_validation,
    'autocomplete': 'off'
}}) }}
    {% include 'AppBundle::Purchase/_purchaseStepsRebrand.html.twig' %}
    <h2 class="text-dodger-blue text-center">Phone Details</h2>
    <p class="text-center mb-4">Please make sure that these are accurate as we will need these to identify your phone and reduce your excess.</p>
    <div class="form-group {% if form_errors(purchase_form.imei) %}has-error{% endif %}">
        {{ form_label(purchase_form.imei, 'IMEI Number', { 'label_attr': {'class': 'sr-only'} }) }}
        <label for="purchase_form[imei]">
            IMEI Number
            <span class="ml-2 text-dodger-blue">
                <a href="#"
                   data-toggle="modal"
                   data-target="#policy_imei_number"
                   data-img="{{ cdn_url }}/images/rebrand/icns/so-sure_happy-icn-min.svg"
                   role="button">
                    <i class="fal fa-info-circle"></i>
                </a>
            </span>
        </label>
        {{ form_widget(purchase_form.imei, {'attr':{'class':'form-control imei', 'placeholder':'IMEI Number', 'data-hj-suppress' : '', 'data-make': phone.make}}) }}
        {% if phone.make == 'Apple' %}
            <small class="form-text">
                <span class="d-inline-block mb-1">How to get your IMEI number:</span>
                <ul class="pl-4">
                    <li class="mb-1">From your iPhone's settings: General &gt; About.</li>
                    <li class="mb-1">Or dial <strong>*#06#</strong> on your phone to display your IMEI number.</li>
                    {% if device_category() == 'Desktop' %}<li class="mb-1">Or go to iTunes/iCloud: copy and paste.</li>{% endif %}
                </ul>
            </small>
        {% else %}
            <small class="form-text">
                <span class="d-inline-block mb-1">How to get your IMEI number:</span>
                <ul class="pl-4">
                    <li class="mb-1">From your phone's settings.</li>
                    <li class="mb-1">or dial <strong>*#06#</strong> on your phone to display your IMEI number.</li>
                </ul>
            </small>
            {% if phone.make == 'Samsung' %}
                <small class="form-text samsung-imei">Numbers only please (no / required)</small>
            {% endif %}
        {% endif %}
        <div class="with-errors">{{ form_errors(purchase_form.imei) }}</div>
    </div>
    {% if purchase_form.serialNumber is defined %}
        <div class="form-group {% if form_errors(purchase_form.serialNumber) %}has-error{% endif %}">
            {{ form_label(purchase_form.serialNumber, 'Serial Number', { 'label_attr': {'class': 'sr-only'} }) }}
            <label for="purchase_form[serialNumber]">
                Serial Number
                <span class="ml-2 text-dodger-blue">
                    <a href="#"
                       data-toggle="modal"
                       data-target="#policy_serial_number"
                       data-img="{{ cdn_url }}/images/rebrand/icns/so-sure_happy-icn-min.svg"
                       role="button">
                        <i class="fal fa-info-circle"></i>
                    </a>
                </span>
            </label>
            {{ form_widget(purchase_form.serialNumber, {'attr':{
                'class':'form-control',
                'pattern': '[a-zA-Z0-9]{5,32}',
                'title': 'Enter a valid serial number',
                'placeholder':'Serial Number',
                'data-hj-suppress' : ''
            }}) }}
            <small class="form-text">
                <span class="d-inline-block mb-1">How to get your iPhone's serial number:</span>
                <ul class="pl-4">
                    <li class="mb-1">From your iPhone's settings: General &gt; About.</li>
                    {% if device_category() == 'Desktop' %}<li class="mb-1">Or go to iTunes/iCloud: copy and paste.</li>{% endif %}
                </ul>
            </small>
            <div class="with-errors">{{ form_errors(purchase_form.serialNumber) }}</div>
        </div>
    {% endif %}
    <div class="form-group text-md-center mt-5">
        {{ form_widget(purchase_form.next, {
            'label': 'Continue',
            'fa': 'far fa-long-arrow-right fa-lg ml-2',
            'right': true,
            'attr': {
                'class': 'btn btn-success btn-block-xs'
        }}) }}
    </div>
{{ form_end(purchase_form) }}
