{{ form_start(bacs_form, {'attr': {
    'data-toggle': 'validator',
    'class': 'validate-form form-400',
    'data-client-validation': form_client_validation,
    'autocomplete': 'off'
}}) }}

    {% include 'AppBundle::Purchase/_purchaseStepsRebrand.html.twig' %}

    <h4 class="text-dodger-blue">
        Pay via Direct Debit
        {% if to_judo_form is defined %}
            <span class="sub h5">(Recommended)</span>
        {% endif %}
    </h4>

    {% if to_judo_form is defined %}
        <p class="mb-4">
            <smalll class="text-zaffre">
                💳 Prefer to pay by card?
                {% block to_judo_form %}
                    {{ form_start(to_judo_form) }}
                    {{ form_widget(to_judo_form.submit, {'label': 'Click here', 'attr': {'class': 'btn-simple-link'}}) }}
                    {{ form_end(to_judo_form) }}
                {% endblock to_judo_form %}
            </smalll>
        </p>
    {% endif %}

    <div class="form-group {% if form_errors(bacs_form.accountName) %}has-error{% endif %}">
        {{ form_label(bacs_form.accountName, 'Name on account') }}
        {{ form_widget(bacs_form.accountName, {'attr': {'placeholder': 'Enter full name', 'class': 'form-control', 'data-hj-suppress': ''}}) }}
        {{ form_widget(bacs_form.validateName) }}
        {% if form_errors(bacs_form.accountName) %}
            <div class="with-errors">{{ form_errors(bacs_form.accountName) }}</div>
        {% else %}
            <small class="form-text">The bank account must be in the policy holder's name "{{ app.user.name }}"</small>
        {% endif %}
    </div>

    <div class="form-group {% if form_errors(bacs_form.sortCode) %}has-error{% endif %}">
        {{ form_label(bacs_form.sortCode, 'Sort code') }}
        {{ form_widget(bacs_form.sortCode, {'attr': {'placeholder': 'e.g. 02-02-02', 'class': 'form-control sort-code', 'maxlength': 6, 'data-hj-suppress': ''}}) }}
        <div class="with-errors">{{ form_errors(bacs_form.sortCode) }}</div>
    </div>

    <div class="form-group {% if form_errors(bacs_form.validateSortCode) %}has-error{% endif %}">
        {{ form_label(bacs_form.validateSortCode, 'Confirm sort code', { 'label_attr': {'class': 'sr-only'} }) }}
        <label for="bacs_form[sortCode]" class="text-grey">
            Confirm sort code
            <span class="ml-2 text-dodger-blue">
                <a href="#"
                   data-toggle="modal"
                   data-target="#bank_details_modal"
                   role="button">
                    <i class="fal fa-info-circle"></i>
                </a>
            </span>
        </label>
        {{ form_widget(bacs_form.validateSortCode, {'attr': {'placeholder': '👆', 'class': 'form-control sort-code', 'maxlength': 6, 'data-hj-suppress': ''}}) }}
        <div class="with-errors">{{ form_errors(bacs_form.validateSortCode) }}</div>
    </div>

    <div class="form-group {% if form_errors(bacs_form.accountNumber) %}has-error{% endif %}">
        {{ form_label(bacs_form.sortCode, 'Account number') }}
        {{ form_widget(bacs_form.accountNumber, {'attr': {'placeholder': 'e.g. 83748596', 'class': 'form-control', 'maxlength': 8, 'data-hj-suppress': ''}}) }}
        <div class="with-errors">{{ form_errors(bacs_form.accountNumber) }}</div>
    </div>

    <div class="form-group {% if form_errors(bacs_form.validateAccountNumber) %}has-error{% endif %}">
        {{ form_label(bacs_form.validateAccountNumber, 'Confirm account number', { 'label_attr': {'class': 'sr-only'} }) }}
        <label for="bacs_form[accountNumber]" class="text-secondary">
            Confirm account number
            <span class="ml-2 text-dodger-blue">
                <a href="#"
                   data-toggle="modal"
                   data-target="#bank_details_modal"
                   role="button">
                    <i class="fal fa-info-circle"></i>
                </a>
            </span>
        </label>
        {{ form_widget(bacs_form.validateAccountNumber, {'attr': {'placeholder': '👆', 'class': 'form-control', 'maxlength': 8, 'data-hj-suppress': ''}}) }}
        <div class="with-errors">{{ form_errors(bacs_form.validateAccountNumber) }}</div>
    </div>

    <div class="form-group">
        {{ form_widget(bacs_form.soleSignature, {
             'label': 'I am the sole signature on the account',
            'attr': {'class':'custom-control-input'}}
        ) }}
        <div class="with-errors">{{ form_errors(bacs_form.soleSignature) }}</div>
    </div>

    <div class="form-group my-5">
        <div class="form-row">
            <div class="col-3">
                <a href="{{ path('purchase_step_payment_id', {'id': policy.id}) }}" class="btn btn-outline-grey btn-circle d-flex justify-content-center align-items-center cancel">
                    <span class="sr-only">back</span>
                    <i class="far fa-arrow-left"></i>
                </a>
            </div>
            <div class="col-9 text-right">
                {{ form_widget(bacs_form.save, {
                    'label': 'Continue',
                    'fa': 'far fa-long-arrow-right fa-lg ml-2',
                    'right': true,
                    'attr': {
                        'class': 'btn btn-success btn-green-gradient btn-block-xs'
                }}) }}
            </div>
        </div>
    </div>

    <div class="form-group d-flex align-items-center">
        <img src="{{ cdn_url }}/images/rebrand/misc/so-sure_direct-debit-logo.svg" alt="Direct Debit" width="100px">
        <small class="form-text mb-2 ml-2">
            Payments protected by the <a href="#" data-toggle="modal" data-target="#direct_debit_guarantee"><u>Direct Debit Guarantee</u></a>.
            so-sure Ltd, Martin House, 5 Martin Lane, London EC4R 0DP<br>
            <a href="mailto:support@wearesosure.com">support@wearesosure.com</a>
        </small>
    </div>

{{ form_end(bacs_form) }}


<div id="so-sure-loader" class="loader">
    <div class="loader__inner d-flex align-items-center flex-column justify-content-center">
        <img src="{{ cdn_url }}/images/rebrand/misc/so-sure_loader.svg" alt="loading...">
        <small class="text-grey">Payments powered by</small><br>
        <img src="{{ cdn_url }}/images/purchase/judo_pay_logo.svg" alt="Judo Pay" title="Powered by - Judo Pay" width="80px">
    </div>
</div>

{% include 'AppBundle::Purchase/_directDebitModal.html.twig' %}
