{{ form_start(purchase_form, {'attr': {
    'data-toggle': 'validator',
    'class': 'validate-form form-400',
    'data-client-validation': form_client_validation,
    'autocomplete': 'off'
}}) }}

    {% include 'AppBundle::Purchase/_purchaseStepsRebrand.html.twig' %}

    <div class="form-step">

        <div class="form-group {% if form_errors(purchase_form.firstName) %}has-error{% endif %}">
            {{ form_label(purchase_form.firstName, 'First Name', { 'label_attr': {'class': ''} }) }}
            {{ form_widget(purchase_form.firstName, {'attr':{'class':'form-control', 'placeholder': 'Enter your first name', 'data-hj-suppress' : ''}}) }}
            <div class="with-errors">{{ form_errors(purchase_form.firstName) }}</div>
        </div>

        <div class="form-group {% if form_errors(purchase_form.lastName) %}has-error{% endif %}">
            {{ form_label(purchase_form.lastName, 'Last Name', { 'label_attr': {'class': ''} }) }}
            {{ form_widget(purchase_form.lastName, {'attr':{'class':'form-control', 'placeholder': 'Enter your last name', 'data-hj-suppress' : ''}}) }}
            <div class="with-errors">{{ form_errors(purchase_form.lastName) }}</div>
        </div>

        <div class="form-group {% if form_errors(purchase_form.email) %}has-error{% endif %}">
            {{ form_label(purchase_form.email, 'Email', { 'label_attr': {'class': ''} }) }}
            {{ form_widget(purchase_form.email, {'attr':{'class':'form-control', 'placeholder': 'Enter email', 'data-hj-suppress' : ''}}) }}
            <div class="with-errors">{{ form_errors(purchase_form.email) }}</div>
        </div>

        <div id="step--one-controls"
             class="form-group form-controls {% if showDOB %}step--hide{% endif %}">

            <h6 class="text-grey my-4">
                or login via social networks
                {% if feature_enabled('starling') and starling %}
                    &amp; partners
                {% endif %}
            </h6>

            {# Social Logins #}
            <div class="form-group">
                <a href="#"
                   formnovalidate="formnovalidate"
                   class="btn btn-facebook facebook_login"
                   {% if app.user %}disabled{% endif %}>
                    <i class="fab fa-facebook fa-lg"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}"
                   class="btn btn-google"
                   formnovalidate="formnovalidate"
                   {% if app.user %}disabled{% endif %}>
                    <i class="fab fa-google fa-lg"></i>
                    <span class="sr-only">Google</span>
                </a>
                {% if feature_enabled('starling') and starling %}
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}"
                   class="btn btn-starling"
                   formnovalidate="formnovalidate"
                   {% if app.user %}disabled{% endif %}>
                    <img src="{{ cdn_url }}/images/StarlingMarkIcon.png" class="mx-1" height="15px">
                    <span class="sr-only">Starling</span>
                </a>
                {% endif %}
            </div>


            <div class="form-group text-md-right mt-5">
                <a href="#"
                   id="step--validate"
                   class="btn btn-success btn-green-gradient btn-block-xs"
                   data-csrf="{{ lead_csrf }}"
                   data-lead="{{ path('lead', {'source': 'purchase-flow'}) }}">
                   Continue <i class="far fa-long-arrow-right fa-lg ml-2"></i>
                </a>
            </div>
        </div>

    </div>

    <div class="form-step {% if not showDOB %}step--hide{% endif %}">

        <div class="form-group {% if form_errors(purchase_form.birthday) %}has-error{% endif %}">
            {{ form_label(purchase_form.birthday, 'Date of Birth', { 'label_attr': {'class': ''} }) }}
            {{ form_widget(purchase_form.birthday, {'attr':{'class': 'birthday form-control dob', 'placeholder': 'Enter DD/MM/YYYY', 'data-hj-suppress' : ''}}) }}
            <div class="with-errors">{{ form_errors(purchase_form.birthday) }}</div>
        </div>

        <div class="form-group {% if form_errors(purchase_form.mobileNumber) %}has-error{% endif %}">
            {{ form_label(purchase_form.mobileNumber, 'Mobile Number', { 'label_attr': {'class': ''} }) }}
            {{ form_widget(purchase_form.mobileNumber, {'attr':{'class':'form-control', 'placeholder':'Enter mobile number', 'data-hj-suppress' : ''}}) }}
            <div class="mobile-err with-errors">{{ form_errors(purchase_form.mobileNumber) }}</div>
        </div>

        {% set showAddress = purchase_form.addressLine1.vars.data | length > 0 or purchase_form.postcode.vars.data | length > 0 %}
        <div class="address-search" style="{% if showAddress %}display: none;{% endif %}">
            <div class="form-group {% if is_postback %}has-error{% endif %}">
                <label class="">Billing Address</label>
                <input id="address-select" class="typeahead form-control" type="text" placeholder="Postcode (eg. 10, SW1A 2AA)" {% if not showAddress %} required="required" {% endif %} data-hj-suppress="">
                {% set display_error = false %}
                {% if is_postback and (form_errors(purchase_form.addressLine1)|length > 0 or
                    form_errors(purchase_form.city)|length > 0 or
                    form_errors(purchase_form.postcode)|length > 0) %}
                    {% set display_error = true %}
                {% endif %}
                <div id="select_address_errors" class="help-block with-errors" style="{% if not display_error %}display: none;{% endif %}">
                    <ul>
                        <li>Select an address from the dropdown after searching</li>
                    </ul>
                </div>
                <small class="form-text"><a id="address-manual" href="#">Enter address manually</small></a>
            </div>
{#
            <div id="display-address" style="margin-bottom: 20px" data-hj-suppress="">
                {% if purchase_form.vars.data.addressLine1|length > 0 %}{{ purchase_form.vars.data.addressLine1 }}<br>{% endif %}
                {% if purchase_form.vars.data.addressLine2|length > 0 %}{{ purchase_form.vars.data.addressLine2 }}<br>{% endif %}
                {% if purchase_form.vars.data.addressLine3|length > 0 %}{{ purchase_form.vars.data.addressLine3 }}<br>{% endif %}
                {% if purchase_form.vars.data.city|length > 0 %}{{ purchase_form.vars.data.city }}<br>{% endif %}
                {% if purchase_form.vars.data.postcode|length > 0 %}{{ purchase_form.vars.data.postcode }}{% endif %}
            </div> #}

            <div class="form-group text-md-right mt-5">
                {{ form_widget(purchase_form.next, {
                    'label': 'Continue',
                    'fa': 'far fa-long-arrow-right fa-lg ml-2',
                    'right': true,
                    'attr': {
                        'class': 'btn btn-success btn-green-gradient btn-block-xs'
                }}) }}
            </div>
        </div>

        <div class="address-show" style="{% if not showAddress %}display: none;{% endif %}">
            <div class="form-group form-group-fix address-show-error" style="display: none;">
                <label class="text-danger address-show-error-text error"></label>
            </div>
            <div class="form-group {% if showAddress and form_errors(purchase_form.addressLine1) %}has-error{% endif %}">
                {{ form_label(purchase_form.addressLine1, 'Billing Address Line 1', { 'label_attr': {'class': ''} }) }}
                {{ form_widget(purchase_form.addressLine1, {'attr':{'class':'form-control addressLine1', 'placeholder': 'Address Line 1', 'data-hj-suppress' : ''}}) }}
                {% if showAddress %}
                    <div class="with-errors">{{ form_errors(purchase_form.addressLine1) }}</div>
                {% endif %}
            </div>
            <div class="form-group {% if showAddress and form_errors(purchase_form.addressLine2) %}has-error{% endif %}">
                {{ form_label(purchase_form.addressLine2, 'Billing Address Line 2', { 'label_attr': {'class': ''} }) }}
                {{ form_widget(purchase_form.addressLine2, {'attr':{'class':'form-control addressLine2', 'placeholder': 'Address Line 2', 'data-hj-suppress' : ''}}) }}
                {% if showAddress %}
                    <div class="with-errors">{{ form_errors(purchase_form.addressLine2) }}</div>
                {% endif %}
            </div>
            <div class="form-group {% if showAddress and form_errors(purchase_form.addressLine3) %}has-error{% endif %}">
                {{ form_label(purchase_form.addressLine3, 'Billing Address Line 3', { 'label_attr': {'class': ''} }) }}
                {{ form_widget(purchase_form.addressLine3, {'attr':{'class':'form-control addressLine3', 'placeholder': 'Address Line 3', 'data-hj-suppress' : ''}}) }}
                {% if showAddress %}
                    <div class="with-errors">{{ form_errors(purchase_form.addressLine3) }}</div>
                {% endif %}
            </div>
            <div class="form-group {% if showAddress and form_errors(purchase_form.city) %}has-error{% endif %}">
                {{ form_label(purchase_form.city, 'Billing Address City', { 'label_attr': {'class': ''} }) }}
                {{ form_widget(purchase_form.city, {'attr':{'class':'form-control city', 'placeholder': 'City', 'data-hj-suppress' : ''}}) }}
                {% if showAddress %}
                    <div class="with-errors">{{ form_errors(purchase_form.city) }}</div>
                {% endif %}
            </div>
            <div class="form-group {% if showAddress and form_errors(purchase_form.postcode) %}has-error{% endif %}">
                {{ form_label(purchase_form.postcode, 'Billing Address Postcode', { 'label_attr': {'class': ''} }) }}
                {{ form_widget(purchase_form.postcode, {'attr':{'class':'form-control postcode', 'placeholder': 'Postcode', 'data-hj-suppress' : ''}}) }}
                {% if showAddress %}
                    <div class="with-errors">{{ form_errors(purchase_form.postcode) }}</div>
                {% endif %}
            </div>
            <div class="form-group text-md-right mt-5">
                {{ form_widget(purchase_form.manual_next, {
                    'label': 'Continue',
                    'fa': 'far fa-long-arrow-right fa-lg ml-2',
                    'right': true,
                    'attr': {
                        'class': 'btn btn-success btn-green-gradient btn-block-xs'
                }}) }}
            </div>
        </div>
    </div>

{{ form_end(purchase_form) }}
