{% set opt_in_copy = 'Yes please, I\'d like to receive offers or promotions' %}
{{ form_start(purchase_form, {'attr': {
    'data-toggle': 'validator',
    'class': 'validate-form form-400',
    'data-client-validation': form_client_validation,
    'autocomplete': 'off'
}}) }}
    {% include 'AppBundle::Purchase/_purchaseStepsRebrand.html.twig' %}
    <h2 class="text-dodger-blue text-center">Pledge of Honesty</h2>
    <p class="text-center mb-4">Before you continue to payment.</p>
    <div class="pledge-items">
        <div class="form-group">
            {{ form_widget(purchase_form.agreedDamage, {
                'label': 'My phone is in working condition & the screen is not cracked',
                'attr': {'class':'custom-control-input'}}
            ) }}
            <div class="with-errors">{{ form_errors(purchase_form.agreedDamage) }}</div>
        </div>
        <div class="form-group">
            {{ form_widget(purchase_form.agreedAgeLocation, {
                'label': 'I am a resident of the United Kingdom & over the age of 18',
                'attr': {'class':'custom-control-input'}}
            ) }}
            <div class="with-errors">{{ form_errors(purchase_form.agreedAgeLocation) }}</div>
        </div>
        <div class="form-group">
            {{ form_widget(purchase_form.agreedExcess, {
                'label': 'I understand the standard excess is only reduced when validated with the so-sure app',
                'attr': {'class':'custom-control-input'}}
            ) }}
            <div class="with-errors">{{ form_errors(purchase_form.agreedAgeLocation) }}</div>
        </div>
        <div class="form-group">
            {{ form_widget(purchase_form.agreedTerms, {
                'label': 'I have read & understood the so-sure policy document',
                'attr': {'class':'custom-control-input'}}
            ) }}
            <div class="with-errors">{{ form_errors(purchase_form.agreedTerms) }}</div>
        </div>
        {% if show_opt_in != true %}
            <div class="form-group">
                {{ form_widget(purchase_form.userOptIn, {
                    'label': opt_in_copy,
                    'attr': {'class':'custom-control-input'}}
                ) }}
            </div>
        {% endif %}
    </div>
    <div class="form-group text-md-center mt-5">
        {{ form_widget(purchase_form.next, {
            'label': 'I swear I\'ll be honest!',
            'fa': 'far fa-long-arrow-right fa-lg ml-2',
            'right': true,
            'attr': {
                'class': 'btn btn-success btn-block-xs'
        }}) }}
    </div>
    <div class="form-group">
        <small class="form-text text-center">
            {% if validation_required is not null %}
                <a href="{{ cdn_url }}/files/so-sure_sample_policy_doc_v{{ policy.policyTerms.getVersionNumber }}.pdf" target="_blank" rel="noopener noreferrer"><u>Read our full policy document here</u></a>
            {% else %}
                <a href="{{ cdn_url }}/files/so-sure_sample_policy_doc_v{{ policy.policyTerms.getVersionNumber }}.pdf" target="_blank" rel="noopener noreferrer"><u>Read our full policy document here</u></a>
            {% endif %}
        </small>
    </div>
{{ form_end(purchase_form) }}
