{{ form_start(bacs_confirm_form) }}
    {% include 'AppBundle::Purchase/_purchaseStepsRebrand.html.twig' %}
    <h2 class="text-dodger-blue text-center">Your Direct Debit details</h2>
    <p class="text-center mb-4">Please double check your details. To make changes {{ form_widget(bacs_confirm_form.back, {'label': 'click here', 'attr': {'class': 'btn-simple-link'}}) }}.</p>
    <div class="form-group">
        <div class="form-row">
            <div class="col">
                <small class="text-grey">Name of account holder</small><br>
                <span class="h6">{{ bacs.accountName }}</span>
            </div>
            <div class="col">
                <small class="text-grey">Email</small><br>
                <span class="h6">{{  policy.user.email }}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col">
                <small class="text-grey">Sort code</small><br>
                <span class="h6">{{ bacs.getDisplayableSortCode }}</span>
            </div>
            <div class="col">
                <small class="text-grey">Account number</small><br>
                <span class="h6">{{ bacs.getAccountNumber }}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col">
                <small class="text-grey">Bank/Building society</small><br>
                <span class="h6">{{ bacs.bankName }}</span>
            </div>
            <div class="col">
                <small class="text-grey">Reference Number</small><br>
                <span class="h6">{{  bacs.reference }}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            {% if bacs.bankAddress %}
            <div class="col">
                <small class="text-grey">Bank/Building society address</small><br>
                <span class="h6">{{ bacs.bankAddress.stringImplode('<br>')|raw }}</span>
            </div>
            {% endif %}
            <div class="col">
                <small class="text-grey">Collection frequency:</small><br>
                <span class="h6">First collection: {{ bacs.getFirstPaymentDateForPolicy(policy)|date('d/m/y','Europe/London') }}</span><br>
                {% if bacs.annual %}
                    <small>(Collected on the {{ bacs.calculatedBillingDate|date('jS M','Europe/London') }} of each year thereafter)</small><br>
                {% else %}
                    <small class="form-text">Collected on the {{ bacs.calculatedBillingDate|date('jS','Europe/London') }} of each month thereafter</small><br>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="form-group text-md-center">
        {{ form_widget(bacs_confirm_form.save, {
            'label': 'Confirm details',
            'fa': 'far fa-check-square fa-lg ml-2',
            'right': true,
            'attr': {
                'class': 'btn btn-success btn-block-xs'
        }}) }}
    </div>    
    <div class="form-group text-center mt-4">
        <small class="form-text mb-2">
            Payments protected by the <a href="#" data-toggle="modal" data-target="#direct_debit_guarantee"><u>Direct Debit Guarantee</u></a>.
            so-sure Ltd, {{ business_address|replace({'\n':','}) }}<br>
            <a href="mailto:support@wearesosure.com">support@wearesosure.com</a>
        </small>    
        <img src="{{ cdn_url }}/images/rebrand/misc/so-sure_direct-debit-logo.svg" alt="Direct Debit" width="100px">
    </div>
{{ form_end(bacs_confirm_form) }}

{% include 'AppBundle::Purchase/_directDebitModal.html.twig' %}