{% extends 'base.html.twig' %}

{% block title %}so-sure - Better Phone Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Download our app now to see how much you could save."/>
    <meta name="keywords" content="mobile phone insurance, social insurance"/>
{% endblock %}

{% block body %}

    <section class="hero background-blue">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Was your phone damaged prior to purchase?</h1>
                </div>
            </div>

        </div>
    </section>

    <section class="article-content section--pad">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2>Before you go</h2>
                    <p>
                        <a href="#" class="btn btn-success btn-cancel-policy" data-reason="damaged">Please cancel my policy - damage</a>
                    </p>
                    <p>
                        <a href="#" class="btn btn-success btn-cancel-policy" data-reason="existing">Please cancel my policy - existing</a>
                    </p>
                </div>
            </div>

        </div>
        <div class="hidden">
            {{ form_start(cancel_form, {'attr': {'id': 'cancel_form'}}) }}
            {{ form_widget(cancel_form.reason) }}
            {{ form_widget(cancel_form.cancel) }}
            {{ form_end(cancel_form) }}   
        </div>

    </section>

</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/Purchase/cancel.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
