{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row-fluid">
        <div class="col-xs-12 col-md-8">
            <h2>{{ phone.make }} {{ phone.model }}</h2>
            <p>
                <a href="{{ path('purchase_item_debit')}}" class="btn btn-success">Purchase via Direct Debit</a>
                <a href="{{ path('purchase_judopay')}}" class="btn btn-success">Purchase via Credit Card</a>
            </p>
        </div>
        <div class="col-xs-12 col-md-4">
            <h2>
                Policy is £{{ phone.premiumPrice }}
            </h2>
            <h2>We cover you for</h2>
            <ul>
                <li>damage</li>
                <li>loss</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/Default/index.js'
    %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
