<div class="checkout-nav">
    <ul class="clearfix">
        <li class="{% if step == 1 %}step-active{% else %}step-inactive{% endif %}">
            {% if step == 1 %}
                <img src="{{ cdn_url }}/images/purchase/checkout-smile-step-1.svg" alt="Smile Step 1">
            {% else %}
                <img src="{{ cdn_url }}/images/purchase/checkout-smile-step-complete.svg" alt="Smile Step Complete">
            {% endif  %}
            <span class="h4 text-light-blue step-no">Step 1 of 3</span>
            <span class="h4 text-blue step-txt">Personal Details</span>
        </li>
        <li class="{% if step == 2 %}step-active{% else %}step-inactive{% endif %}">
            {% if step == 2 %}
                <img src="{{ cdn_url }}/images/purchase/checkout-smile-step-2.svg" alt="Smile Step 1">
            {% elseif step == 3 %}
                <img src="{{ cdn_url }}/images/purchase/checkout-smile-step-complete.svg" alt="Smile Step Complete">
            {% else %}
                <img src="{{ cdn_url }}/images/purchase/checkout-smile-step.svg" alt="Smile Step Inactive">
            {% endif  %}
            <span class="h4 text-light-blue step-no">Step 2 of 3</span>
            <span class="h4 text-blue step-txt">Policy Details</span>
        </li>
        <li class="{% if step == 3 %}step-active{% else %}step-inactive{% endif %}">
            {% if step == 3 %}
                <img src="{{ cdn_url }}/images/purchase/checkout-smile-step-3.svg" alt="Smile Step 1">
            {% else %}
                <img src="{{ cdn_url }}/images/purchase/checkout-smile-step.svg" alt="Smile Step Inactive">
            {% endif  %}
            <span class="h4 text-light-blue step-no">Step 3 of 3</span>
            <span class="h4 text-blue step-txt">Payment</span>
        </li>
    </ul>
</div>
