{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/css/Default/modal.css'    
    '@AppBundle/Resources/public/css/Purchase/purchase-nav.css'
    '@AppBundle/Resources/public/css/Purchase/checkout.css' %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/Default/index.js'
    '@AppBundle/Resources/public/js/Purchase/purchaseStep.js'
    '@AppBundle/Resources/public/js/Purchase/purchaseStepReview.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}
<section id="purchase-step-review" class="checkout">
    
    {% include 'AppBundle::Purchase/purchaseNav.html.twig' %}

    <div class="container">
        
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">   

                <div class="checkout--step-">

                    <h3>Review Policy</h3>
                    
                    <form data-action="{{ webpay_action }}" method="post" id="webpay-form" class="text-left">
                        
                        <p><strong>Before you pay, please confirm that the following is correct:</strong></p>
                        <ol>
                            <li>
                                My phone is in full working condition and my screen is not cracked</li>
                                <br>
                            <li>I am a resident of the United Kingdom</li>
                            <br>
                            <li>
                                I have read &amp; understood the so-sure
                                <a data-toggle="modal" data-target="#policy-modal" style="cursor: pointer;">policy document</a>
                            </li>                                
                        </ol>
                        <p>If you confirm that the above is correct and we later discover that it isn’t then you may later be denied your claim.</p>
                        <div class="form-group checkbox {% if is_postback %}has-error{% endif %}">
                            <label class="checkbox-terms">
                                <input type="checkbox" name="form_confirm" id="webpay-confirm">I confirm the above is correct</input>
                            </label>
                            {% if is_postback %}<div class="help-block with-errors">You must agree to the terms</div>{% endif %}                            
                        </div>
                        <p class="text-center"><small><i class="fa fa-info-circle"></i> <em>You will be redirected to Judo Pay to complete your purchase.</em></small></p>                        
                        <div class="form-group form-footer">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <a class="btn btn-subtle btn-rounded btn-hollow btn-block btn-hollow-subtle btn-arrow-left" href="{{ path('purchase_step_policy') }}">Back</a>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">   
                                    <input  id="Reference" name="Reference" type="hidden" value="{{ webpay_reference }}">
                                    <input type="submit" name="form_next" class="btn btn-success btn-rounded btn-block btn-arrow-right" value="PAY NOW">                                      
                                </div> 
                            </div>                                     
                        </div>                        
                    </form>
                </div>  

            </div>
        </div>

    </div>
</section>
    

<div class="modal modal-fullscreen fade" 
     id="policy-modal" 
     tabindex="-1" 
     role="dialog" 
     aria-labelledby="So-Sure Policy Terms" 
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
                <h3>So-Sure Policy Terms</h3>
            </div>
            <div class="modal-body modal-policy">
                {{ render(controller('AppBundle:ApiView:policyLatestTerms', {'policy_key': policy_key, 'maxPotValue':  phone.getCurrentPhonePrice.maxPot })) }}
            </div>
        </div>
    </div>
</div>  

{% endblock %}
