{% form_theme purchase_form 'AppBundle:Form:fields.html.twig' %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/css/Purchase/purchase-nav.css'
    '@AppBundle/Resources/public/css/Purchase/checkout.css'
    '@AppBundle/Resources/public/css/Default/modal.css'        
    'bundles/app/css/Default/selectPhoneMake.css' %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/Purchase/purchaseStep.js'
    '@AppBundle/Resources/public/js/Purchase/purchaseStepPhone.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}
<section id="purchase-step-phone" class="checkout">
    
    {% include 'AppBundle::Purchase/purchaseNav.html.twig' %}

    <div class="container">
        
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">        
                
                <div class="checkout--step">

                    <h3>Phone Details</h3>

                    {% if phone %}
                            {{ form_start(purchase_form, {'attr': {'data-toggle': 'validator', 'class': ''}}) }}
                                <div class="form-group">
                                    <label class="">Your Phone:</label>
                                    <div class="h3">
                                        <strong>
                                            {% if phone %}
                                                {{ phone.make }} {{ phone.model }} {%    if phone.memory %}
                                                        {{ phone.memory }}GB
                                                    {% endif %}
                                            {% endif %}
                                        </strong>
                                        <a href="#"   
                                           data-toggle="modal" 
                                           data-target="#phoneModal">
                                           <small class="text-blue">Edit</small>
                                        </a>
                                    </div>  
                                </div>   
                                <div class="form-group {% if form_errors(purchase_form.amount) %}has-error{% endif %}">
                                    {{ form_label(purchase_form.amount, 'Payment Options:', { 'label_attr': {'class': ''} }) }}
                                    {{ form_widget(purchase_form.amount) }}    
                                    <div class="help-block with-errors">{{ form_errors(purchase_form.amount) }}</div>             
                                </div>                                
                                <div class="form-group {% if form_errors(purchase_form.imei) %}has-error{% endif %}">
                                    {{ form_label(purchase_form.imei, 'IMEI Number:', { 'label_attr': {'class': ''} }) }}
                                    {{ form_widget(purchase_form.imei, {'attr':{'class':'form-control', 'placeholder':'', 'pattern':'[-/\\s]*([0-9][-/\\s]*){15,17}', 'title': 'Enter a valid 15 or 17 digit IMEI Number'}}) }}
                                    <p class="help-block text-left">
                                        <small>Dial *#06# to show your IMEI number.
                                        <a href="#" data-toggle="modal" data-target="{% if purchase_form.serialNumber is defined %}#appleModal{% else %}#nonAppleModal{% endif %}">more info</a>. 
                                        <br>Alternatively send us a screenshot of your IMEI below.</small>
                                    </p>
                                    <p class="text-center">
                                        <a href="#" class="btn btn-subtle btn-rounded btn-hollow btn-hollow-subtle btn-xs" onclick="sosuretrack('Clicked Upload Imei');Intercom('trackEvent', 'clicked upload imei');Intercom('showNewMessage', 'Hi, I want to take a screenshot of my IMEI number to send to you. Can you let me know what to do? 🙂')">
                                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                            SEND US A SCREENSHOT
                                        </a>
                                    </p>
                                    <div class="help-block with-errors">{{ form_errors(purchase_form.imei) }}</div>                     
                                </div>                     
                                {% if purchase_form.serialNumber is defined %}
                                    <div class="form-group {% if form_errors(purchase_form.serialNumber) %}has-error{% endif %}">
                                        {{ form_label(purchase_form.serialNumber, 'Serial Number:', { 'label_attr': {'class': ''} }) }}
                                        {{ form_widget(purchase_form.serialNumber, {'attr':{'class':'form-control',  'pattern': '[a-zA-Z0-9]{5,32}', 'title': 'Enter a valid serial number', 'placeholder':''}}) }}
                                        <p class="help-block text-left">
                                            <small>Go to Settings > General > About.
                                            <a href="#" data-toggle="modal" data-target="{% if purchase_form.serialNumber is defined %}#appleModal{% else %}#nonAppleModal{% endif %}">more info</a></small>    
                                        </p>
                                        <div class="help-block with-errors">{{ form_errors(purchase_form.serialNumber) }}</div>                               
                                    </div>
                                {% endif %}    
                                <div class="form-group form-footer">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <a class="btn btn-subtle btn-rounded btn-hollow btn-block btn-hollow-subtle btn-arrow-left" href="{{ path('purchase_step_personal') }}">BACK</a>                          
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            {{ form_widget(purchase_form.next, {'label': 'NEXT STEP', 'attr': {'class': 'btn btn-success btn-rounded btn-block btn-arrow-right'}}) }}  
                                        </div>
                                    </div>
                                </div>                                                                   
                            {{ form_end(purchase_form) }}
                    {% else %}
                            {{ form_start(purchase_no_phone_form, {'attr': {'data-toggle': 'validator', 'class': ''}}) }}
                                <div class="form-group">
                                    <label class="">Your Phone:</label>
                                        <button type="button" 
                                                class="btn btn-primary btn-rounded btn-hollow btn-block" 
                                                data-toggle="modal" 
                                                data-target="#phoneModal"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i> SELECT PHONE</button>

                                </div>
                                <div class="form-group form-footer">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <a class="btn btn-subtle btn-rounded btn-hollow btn-block btn-hollow-subtle btn-arrow-left" href="{{ path('purchase_step_personal') }}">Back</a>
                                        </div>
                                        <div class="col-sm-6 col-md-6">         
                                        </div> 
                                    </div>                                     
                                </div>
                            {{ form_end(purchase_no_phone_form) }}
                    {% endif %}
                </div>
          
            </div>
        </div>
                
    </div>
</section>  

<div class="modal modal-middle fade" id="nonAppleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">IMEI Number</h4>
            </div>
            <div class="modal-body">
                <p><strong>It's easy to find your IMEI number:</strong></p>
                <ul>
                    <li>
                        Just dial <a href="tel:*#06#">*#06#</a> on your mobile and your IMEI will immediately be displayed.  There is no cost to dial this number.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-middle fade" id="appleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">IMEI &amp; Serial Numbers</h4>
            </div>
            <div class="modal-body">
                <p><strong>It's easy to find your IMEI number:</strong></p>
                <ul>
                    <li>
                        It's easy to find your IMEI &amp; Serial Numbers.  Open the Settings app, and navigate to <strong>General</strong> > <strong>About</strong>.  The Serial Number is listed about halfway down the screen and the IMEI is a few rows below that.
                    </li>
                    <br>
                    <li>
                        You can also log into your iTunes account and find the IMEI &amp; Serial Numbers display on the phone information screen.
                    </li>
                </ul>                
            </div>
        </div>
    </div>
</div>

<div class="modal modal-middle fade" 
     id="phoneModal" 
     tabindex="-1" 
     role="dialog" 
     aria-labelledby="quoteModelLabel" 
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="text-center">Select Make &amp; Model</h3>
            </div>
            <div class="modal-body">
                {{ render(controller('AppBundle:Default:selectPhoneMake', {'type': modal_type})) }}
            </div>
        </div>
    </div>
</div>    

{% endblock %}
