{% form_theme purchase_form 'AppBundle:Form:fields.html.twig' %}
{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set distraction_free = 1 %}
{% set new_footer = 1 %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        'components/animate.css/animate.min.css'
        '@AppBundle/Resources/public/sass/page/checkoutNew.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}

{% include 'AppBundle::Default/loadingWidget.html.twig' with { 'class': ''} %}
<section id="purchase-step-review" class="checkout">

    {% include 'AppBundle::Purchase/purchaseNav.html.twig' %}

    {% if phone %}
        <div class="checkout--top">
            <div class="container-fluid">
                <h1>
                    <span class="title-top">Insurance for your</span>
                    <br class="visible-xs">
                    <div class="dropdown memory-dropdown-list title-phone text-nowrap">
                        <a href="#"
                           class="dropdown-toggle"
                           type="button"
                           id="memoryDropdownList"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="true">
                            <span class="title-phone text-blue text-nowrap">
                                {{ phone.make }} {{ phone.model }}
                                {% if phone.memory %}
                                    {{ phone.memory }}GB
                                {% endif %}
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu memory-dropdown"aria-labelledby="memoryDropdownList">
                            {% if phones | length > 1 %}
                                <li class="dropdown-header">Select alternate model</li>
                                {% for phone_mem in phones if phone_mem.id != phone.id %}
                                    <li>
                                        <a href="{{ path('quote_make_model_memory', {'make': phone_mem.makeCanonical, 'model': phone_mem.encodedModelCanonical, 'memory': phone_mem.memory}) }}" class=""> {{ phone.model }} - {{ phone_mem.memory }}GB</a>
                                    </li>
                                {% endfor %}
                                <li role="separator" class="divider"></li>
                            {% endif %}
                            <li><a href="#" data-toggle="modal" data-target="#quoteModal"> I have a different phone</a></li>
                        </ul>
                    </div>
                    <br>
                    {% if app.user.allowedMonthlyPayments %}
                        <span class="title-price">for just <span class="text-blue">£{{ phone.currentPhonePrice.monthlyPremiumPrice(app.user.additionalPremium)|number_format(2, '.', ',') }}</span> a month</span>
                    {% else %}
                        <span class="title-price">for just <span class="text-blue">£{{ phone.currentPhonePrice.yearlyPremiumPrice(app.user.additionalPremium)|number_format(2, '.', ',') }}</span> a year</span>
                    {% endif %}
                </h1>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                        <div class="speech-bubble animated fadeInLeft clearfix"><mark>Superb service with my first use of so-sure. I couldn't be happier with the way my claim was handled and I got my phone the next day 😁</mark> <br><small>Ben Allssop, London.</small></div>
                        <div class="payment-options">
                            <h3 class="text-center">How would you like to pay?</h3>
                            <div class="row">
                                {% if app.user.allowedYearlyPayments %}
                                <div class="{% if app.user.allowedMonthlyPayments and app.user.allowedYearlyPayments %}col-xs-6{% else %}col-xs-12{% endif %}">
                                    <div class="payment-options--btn
                                         {% if purchase_form.vars.value.amount == phone.currentPhonePrice.yearlyPremiumPrice(app.user.additionalPremium) %}
                                            payment-options--btn-selected
                                         {% endif %}"
                                         id="payment--yearly"
                                         data-value="{{ phone.currentPhonePrice.yearlyPremiumPrice|number_format(2, '.', ',') }}"
                                         data-help-block="You will be billed the full amount on your date of purchase.">
                                        <h4 class="h-light">Yearly</h4>
                                        <span class="h3">&pound;{{ phone.currentPhonePrice.yearlyPremiumPrice(app.user.additionalPremium)|number_format(2, '.', ',') }}</span>
                                    </div>
                                    {% if device_category() != 'Mobile' %}
                                        <p><small>You will be billed the full amount on your date of purchase.</small></p>
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% if app.user.allowedMonthlyPayments %}
                                <div class="{% if app.user.allowedMonthlyPayments and app.user.allowedYearlyPayments %}col-xs-6{% else %}col-xs-12{% endif %}">
                                    <div class="payment-options--btn
                                         {% if purchase_form.vars.value.amount == phone.currentPhonePrice.monthlyPremiumPrice %}
                                            payment-options--btn-selected
                                         {% endif %}"
                                         id="payment--monthly"
                                         data-value="{{ phone.currentPhonePrice.monthlyPremiumPrice|number_format(2, '.', ',') }}"
                                         data-help-block="You will be billed on the {{ billing_date|date('jS') }} of each month. If that’s inconvenient, you will be able to change your monthly billing day after purchase in your payment settings.">
                                        <h4 class="h-light">Monthly</h4>
                                        <span class="h3">&pound;{{ phone.currentPhonePrice.monthlyPremiumPrice(app.user.additionalPremium)|number_format(2, '.', ',') }}</span>
                                    </div>
                                    {% if device_category() != 'Mobile' %}
                                        <p><small>You will be billed on the {{ billing_date|date('jS') }}</strong> of each month. If that’s inconvenient, you will be able to change your monthly billing day after purchase in your payment settings.</small></p>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ form_start(purchase_form, {'attr': {'data-toggle': 'validator', 'class': 'validate-form', 'data-client-validation': form_client_validation, 'autocomplete': 'off' }}) }}

            <div class="checkout--step checkout--step-payment">
                <div class="form-group radio {% if form_errors(purchase_form.amount) %}has-error{% endif %}">
                    {{ form_label(purchase_form.amount, 'Payment Options:', { 'label_attr': {'class': 'sr-only'} }) }}
                    {{ form_widget(purchase_form.amount) }}
                    <div class="help-block with-errors sr-only">{{ form_errors(purchase_form.amount) }}</div>
                </div>

                <h3 class="text-center">Your device details</h3>

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                        <div class="form-group {% if form_errors(purchase_form.imei) %}has-error{% endif %} col-sm-6 {% if purchase_form.serialNumber is not defined %}col-sm-offset-3{% endif %}">
                            {{ form_label(purchase_form.imei, 'IMEI Number:', { 'label_attr': {'class': 'sr-only'} }) }}
                            {{ form_widget(purchase_form.imei, {'attr':{'class':'form-control imei', 'placeholder':'IMEI Number', 'data-hj-suppress' : ''}}) }}
                            <label class="samsung-imei">Numbers only please (no / required)</label>
                            <div class="help-block with-errors">{{ form_errors(purchase_form.imei) }}</div>
                            <div class="help-block">
                                Dial <strong>*#06#</strong> on your phone keypad to display your IMEI number.
                            </div>
                        </div>

                        {% if purchase_form.serialNumber is defined %}
                            <div class="form-group {% if form_errors(purchase_form.serialNumber) %}has-error{% endif %} {% if purchase_form.serialNumber is defined %}col-sm-6{% endif %}">
                                {{ form_label(purchase_form.serialNumber, 'Serial Number:', { 'label_attr': {'class': 'sr-only'} }) }}
                                {{ form_widget(purchase_form.serialNumber, {'attr':{'class':'form-control',  'pattern': '[a-zA-Z0-9]{5,32}', 'title': 'Enter a valid serial number', 'placeholder':'Serial Number', 'data-hj-suppress' : ''}}) }}
                                <div class="help-block with-errors">{{ form_errors(purchase_form.serialNumber) }}</div>
                                <div class="panel panel-default">
                                    <div class="panel-heading"
                                         id="moreSerial"
                                         role="button"
                                         data-toggle="collapse"
                                         href="#collapseSerial"
                                         aria-expanded="true"
                                         aria-controls="collapseSerial">
                                        <p class="panel-title">
                                            <i class="fa fa-question-circle"></i> Need help?
                                        </p>
                                    </div>
                                    <div id="collapseSerial" class="panel-collapse collapse" role="tabpanel" aria-labelledby="moreSerial">
                                        <div class="panel-body">
                                            <div class="help-block">
                                                To find your IMEI &amp; Serial Numbers open your phone Settings, navigate to General and view About. The Serial Number is listed about halfway down the screen and the IMEI is a few rows below that.
                                            </div>
                                            <div class="help-block">
                                                You can also log into your iTunes account and find the IMEI &amp; Serial Numbers display on the phone information screen.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="hidden">
                    {{ form_widget(purchase_form.fileValid) }}
                    {{ form_widget(purchase_form.file, {'attr': {'style':'display:none'}}) }}
                </div>
            </div>

            <div class="checkout--step-confirm">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                        <h3 class="text-center">Before you continue</h3>
                        <h4 class="h-light">Please confirm that the following are correct:</h4>
                        <ol>
                            <li class="h4 h-light">My phone is in full working condition and my screen is not cracked.</li>
                            <li class="h4 h-light">I am a resident of the United Kingdom.</li>
                            <li class="h4 h-light">I have read &amp; understood the <a class="policy-doc-toggle" href="#policy-doc" data-toggle="modal" data-target="#policy-modal" id="policy-modal-trigger">so-sure policy document</a>.</li>
                        </ol>

                        <div class="form-group">
                            <p><small>Please be advised that if you confirm that the above is true and we later discover that it isn’t, your claim might get denied.</small></p>
                            <div style="display:none;">{{ form_widget(purchase_form.agreed, {'label': ' I confirm the above is correct', 'value': 'checked'}) }}</div>
                        </div>

                        <div class="form-group"><br></div>

                        <div class="form-group form-group--center">
                            {% if app.user.hasValidPaymentMethod and app.user.hasJudoPaymentMethod %}
                                {{ form_widget(purchase_form.existing, {'label': 'Pay with card on file', 'attr': {'class': 'btn btn-green btn-block btn-pad'}}) }}
                                {{ form_widget(purchase_form.next, {'label': 'Pay with a new card', 'attr': {'class': 'btn btn-default btn-block btn-pad'}}) }}
                            {% else %}
                                {% if purchase_form.existing is defined %}
                                    {% do purchase_form.existing.setRendered %}
                                {% endif %}
                                {{ form_widget(purchase_form.next, {'label': 'I agree, proceed to payment', 'attr': {'class': 'btn btn-green btn-block btn-pad'}}) }}
                            {% endif %}
                        </div>

                        <div class="form-group form-group--center">
                            {% if app.request.get('_route') == "purchase_step_policy_id" %}
                            <a href="{{ path('user_home') }}"
                               class="btn btn-blue-hollow btn-block btn-pad">
                                Back
                            </a>
                            {% else %}
                            <a href="{{ path('purchase_step_personal') }}"
                               class="btn btn-blue-hollow btn-block btn-pad">
                                Back
                            </a>
                            {% endif %}
                        </div>
                        {% if payment_provider == 'judo' %}
                        <div class="form-group form-group--center text-center">
                            <small class="text-grey">Powered by</small> <br>
                            <img src="{{ cdn_url }}/images/purchase/judo_pay_logo.svg" alt="Judo Pay" title="Powered by - Judo Pay" width="70px">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        {{ form_end(purchase_form) }}

        <form action="{{ webpay_action }}" method="post" id="webpay-form">
            <input id="Reference" name="Reference" type="hidden" value="{{ webpay_reference }}">
        </form>
    {% else %}
        <div class="checkout--top">
            <div class="container">
                <h1 class="h2">
                    <span class="title-phone">Please select your phone to continue with your purchase.</span>
                </h1>
            </div>
        </div>
        <div class="checkout--step">
            <form>
                <a href="#"
                   class="btn btn-blue btn-block btn-pad"
                   data-toggle="modal"
                   data-target="#quoteModal">Select phone</a>
            </form>
        </div>
    {% endif %}
</section>

    {% include 'AppBundle::Default/loadingWidget.html.twig' %}

    {# Page Modals #}
    {% include 'AppBundle::Default/modalQuote.html.twig' with {'selectPhoneMakeType': 'purchase-change'} %}

    <div class="modal fade"
         id="appleModal"
         tabindex="-1"
         role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">IMEI &amp; Serial Numbers</h4>
                </div>
                <div class="modal-body">
                    <p><strong>It's easy to find your IMEI number:</strong></p>
                    <ul class="list-unstyled">
                        <li>
                            It's easy to find your IMEI &amp; Serial Numbers.  Open the Settings app, and navigate to <strong>General</strong> > <strong>About</strong>.  The Serial Number is listed about halfway down the screen and the IMEI is a few rows below that.
                        </li>
                        <br>
                        <li>
                            You can also log into your iTunes account and find the IMEI &amp; Serial Numbers display on the phone information screen.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="nonAppleModal"
         tabindex="-1"
         role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">IMEI Number</h4>
                </div>
                <div class="modal-body">
                    <p><strong>It's easy to find your IMEI number:</strong></p>
                    <ul class="list-unstyled">
                        <li>
                            Just dial <a href="tel:*#06#">*#06#</a> on your mobile and your IMEI will immediately be displayed.  There is no cost to dial this number.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-fullscreen fade"
         id="policy-modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="So-Sure Policy Terms"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-policy" data-url="{{ url('latest_policy_terms', {'policy_key': policy_key, 'maxPotValue':  phone.getCurrentPhonePrice.maxPot, 'include': true, 'noH1': true }) }}">
                    <div class="text-center" style="margin-bottom: 20px;">
                        <img src="{{ cdn_url }}/images/spinner.svg" alt="Loading...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/dot/doT.min.js'
    'components/moment/moment.min.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    'components/jquery-validation/jquery.validate.min.js'
    '@AppBundle/Resources/public/js/Default/jqueryValidatorMethods.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeSearch.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeDropdown.js'
    '@AppBundle/Resources/public/js/Purchase/purchaseStepPhoneNew.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
