{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set full_width = true %}
{% set login_mode = true %}
{% set robots_noindex = true %}
{% set intercom_enabled = false %}
{% if phone %}
    {% set body_class = 'purchase' %}
    {% set make_desc = phone.make %}
    {% if phone.make == 'Apple' %}
        {% set make_desc = '' %}
    {% endif %}
{% endif %}

{% block title %}Purchase | so-sure{% endblock %}

{% block meta %}{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/purchase.css') }}">
{% endblock %}

{% block gtm_data %}
    {% if phone %}
        ,
        'event': 'checkout',
        'ecommerce': {
            'checkout': {
                'actionField': {'step': 4},
                'products': [{
                    'id': '{{ phone.id }}',
                    'name': '{{ phone.make }} {{ phone.model }}',
                    'price': '{{ prices['monthly'].monthlyPremiumPrice()|number_format(2, '.', ',') }}',
                    'brand': '{{ phone.make }}',
                    'category': '{{ phone.make }}',
                    'variant': '{{ phone.memory }}GB',
                    'quantity': 1
                }]
            }
        }
    {% endif %}
{% endblock %}

{% block body %}

    <section class="qpw">
        <div class="d-lg-flex">
            {% if phone %}
                {# Main Content #}
                <div class="qpw__main__container">
                    <div class="qpw__main px-4 px-lg-5">
                        <div class="qpw__h5 h5 text-center text-lg-left text-white mb-4">Almost there, enter your payment details:</div>
                        <div class="d-flex justify-content-center justify-content-lg-start align-items-center justify-content-lg-start">
                            <h1 class="qpw__h1 text-columbia-blue-e fit">
                                <span class="sub">
                                    {{ make_desc }} {{ phone.model }}
                                    <small>({{ phone.memory }}GB)</small>
                                </span>
                            </h1>
                            <div class="qpw__alt__phones">
                                <a href="#mem_sizes"
                                   class="dropdown-toggle"
                                   id="dropdownMenuLink"
                                   data-toggle="collapse"
                                   role="button"
                                   aria-expanded="false"
                                   aria-controls="mem_sizes"
                                   title="Not the phone you're looking for?">
                                    <i class="far fa-chevron-down text-white fa-lg ml-3"></i>
                                </a>
                            </div>
                        </div>
                        <div class="collapse my-4 text-center text-lg-left" id="mem_sizes">
                            {% if phones | length > 1 %}
                                <ul class="list-inline">
                                    {% for phone_mem in phones %}
                                        {% if phone_mem.id != phone.id  %}
                                            <li class="list-inline-item">
                                                <a href="{{ path('quote_phone', {'type': 'purchase-change', 'id': phone_mem.id}) }}" class="btn btn-outline-white btn-sm" href="#">{{ phone_mem.memory }}GB</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <a class="text-white get-a-quote disabled" href="#">
                                <small>Not the phone you're looking for?</small>
                            </a>
                        </div>
                        <div class="qpw__h1 h1 text-center text-lg-left text-white">
                            <span class="sub">For only</span>
                            <span id="purchase_price">
                                {% if not app.user or app.user.allowedMonthly %}
                                    &pound;{{ phone.currentMonthlyPhonePrice.monthlyPremiumPrice|number_format(2, '.', ',') }} a month
                                {% elseif app.user.allowedYearly %}
                                    &pound;{{ phone.currentYearlyPhonePrice.yearlyPremiumPrice(app.user.additionalPremium)|number_format(2, '.', ',') }} a year
                                {% endif %}
                            </span>
                        </div>
                        <div class="text-white text-center text-lg-left h6 mb-4"><span class="sub">Get one month free when you pay yearly!</span></div>
                        {% if validation_required is not null %}
                            <p class="text-white text-center text-lg-left mb-lg-4">👋 You must use the so-sure app to validate your phone within 14 days or you will not be able to claim and the policy will be cancelled</p>
                        {% endif %}
                        <div class="qpw__h5 h5 d-block d-lg-none text-center">
                            <a href="#qpw-info-mobile"
                               id="qpw-info-btn"
                               class="text-white">
                                see full details <i class="fas fa-caret-down ml-2"></i>
                            </a>
                        </div>
                        <div class="qpw__footer d-none d-lg-block">
                            <div class="purchase__footer__text">
                                <h2 class="h4 text-columbia-blue-e">An amazing level of cover:</h2>
                                <ul class="list-unstyled icn-fa-list">
                                    <li class="text-white mb-2"><i class="far fa-check text-columbia-blue-e fa-lg"></i> 24-72 hour replacement or repair</li>
                                    <li class="text-white mb-2"><i class="far fa-check text-columbia-blue-e fa-lg"></i> Low excess from just &pound;50</li>
                                    <li class="text-white mb-2"><i class="far fa-check text-columbia-blue-e fa-lg"></i> Up to 80% money back</li>
                                    <li class="text-white"><i class="far fa-check text-columbia-blue-e fa-lg"></i> New, second hand &amp; refurbished phones</li>
                                </ul>
                            </div>
                            <div class="qpw__footer__cta">
                                <a href="#qpw-info"
                                   class="btn btn-outline-columbia-blue-e mt-2 toggle-text"
                                   data-toggle="collapse"
                                   data-target="#qpw-info"
                                   data-text-swap='hide full details <i class="fas fa-caret-up ml-2"></i>'
                                   role="button"
                                   aria-expanded="false"
                                   aria-controls="qpw-info">see full details
                                   <i class="fas fa-caret-down ml-2"></i>
                               </a>
                            </div>
                        </div>
                    </div>

                    <div id="qpw-info" class="qpw__info__container mt-4 collapse">
                        {% include 'AppBundle::PhoneInsurance/_seeFullDetails.html.twig' with {'instore': instore } %}
                    </div>
                </div>

                {# Curve Desktop #}
                <div class="qpw__curve">
                    <svg class="d-none d-lg-block" preserveAspectRatio="xMinYMin meet" viewBox="0 0 57 846" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-12.000000, 0.000000)" fill="#FFFFFF">
                                <path d="M69,0 L69,846 L68,846 C30.6666667,705 12,564 12,423 C12,282 31,141 69,0 Z" id="Rectangle-3"></path>
                            </g>
                        </g>
                    </svg>
                </div>

                {# Sub Content #}
                <div class="qpw__sub__container">
                    <div class="qpw__sub px-4 pb-4 pt-5 p-lg-5">
                        {% include 'AppBundle::Purchase/_formStepPayment.html.twig' %}
                    </div>
                </div>

                {# Mobile Info #}
                <div id="qpw-info" class="qpw__info__container__mobile d-block d-lg-none">
                    {% include 'AppBundle::PhoneInsurance/_seeFullDetails.html.twig' with {'instore': instore } %}
                </div>
            {% else %}
                <div class="purchase__details__container">
                    <div class="purchase__details p-4 p-lg-5 mt-5">
                        <h2 class="text-white h1 mb-5">Whoops, no phone selected... 😩</h2>
                        <a href="#"
                           class="btn btn-success btn-shadow btn-block-xs mb-5 get-a-quote disabled track-data"
                           data-event="no-phone-in-session">
                           Get a Quote</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

    {# Components #}
    {% include 'AppBundle::Components/_loadingScreen.html.twig' with { 'loading_term': 'Processing...' } %}

    {# Page Modals #}
    {% include 'AppBundle::PhoneInsurance/_policyInfoModals.html.twig' %}

{% endblock %}

{% block footer %}
    {# TODO: Fix footer #}
{% endblock %}
{% block javascriptsPage %}
    {% if environment == 'prod' %}
        <script src="https://cdn.checkout.com/js/checkout.js"></script>
    {% else %}
        <script src="https://cdn.checkout.com/sandbox/js/checkout.js"></script>
    {% endif %}
    <script src="{{ asset('css-js/purchase.js') }}"></script>
    <script src="{{ asset('css-js/purchase-payment.js') }}"></script>
{% endblock %}
