{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}

{% block body %}
    <section class="section--pad">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Pay the Remainder of Your Policy Premium</h1>
                    {% if webpay_action and webpay_reference and amount > 0 %}
                        <p class="lead text-center">Click below to pay for the remainder (£{{ amount|number_format(2, '.', ',') }}) of your {{ policy.policyNumber }} policy for your {{ policy.phone }}.</p>
                        <form action="{{ webpay_action }}"
                              method="post"
                              id="webpay-form"
                              class="text-center">
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <div class="form-group">
                                        <input  id="Reference" name="Reference" type="hidden" value="{{ webpay_reference }}">
                                        <input type="submit" class="btn btn-green btn-pad btn-block" value="Pay now">
                                    </div>
                                    {% if policy.displayRepurchase %}
                                        <div class="form-group">
                                            <a href="{{ path('user_repurchase_policy', {'id': policy.id }) }}" class="btn btn-blue btn-pad btn-block">Repurchase your policy</a>
                                        </div>
                                    {% endif %}
                            </div>
                        </form>
                    {% elseif amount == 0 %}
                        <h3 class="text-center">Your {{ policy.policyNumber }} policy for your {{ policy.phone }} has been fully paid.</h3>
                    {% endif %}
                </div>
            </div>
        </div>
        <section class="section--pad">&nbsp;</section>
    </section>
{% endblock %}
