{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/css/Purchase/purchase-nav.css'
    '@AppBundle/Resources/public/css/Purchase/checkout.css'    
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/Purchase/purchaseStepReview.js'
     %}
    %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}
<section class="payment-container vertical-align-wrap">
    <div class="vertical-align-middle">
        <div class="container checkout">

            {% include 'AppBundle::Purchase/purchaseNav.html.twig' %}
            
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

                    <div class="checkout--step">
                        <form data-action="{{ webpay_action }}" method="post" id="webpay-form" class="text-left">
                            
                            <p>Before you pay, please confirm that the following is correct:</p>
                            <ol>
                                <li>
                                    My phone is in full working condition and my screen is not cracked</li>
                                <li>I am a resident of the United Kingdom</li>
                                <li>
                                    I have read &amp; understood the so-sure
                                    <a data-toggle="modal" data-target="#policyModal" style="cursor: pointer;">policy document</a>
                                </li>                                
                            </ol>
                            <p>If you confirm that the above is correct and we later discover that it isn’t then you may later be denied your claim.</p>
                            <br>
                            <div class="form-group text-center checkbox {% if is_postback %}has-error{% endif %}">
                                <label>
                                    <input type="checkbox" id="webpay-confirm">I confirm the above is correct</input>
                                {% if is_postback %}<div class="help-block with-errors">You must agree to the terms</div>{% endif %}
                                </label>
                            </div>
                            <div class="form-group text-center">
                                <input  id="Reference" name="Reference" type="hidden" value="{{ webpay_reference }}">
                                <input type="submit" class="btn btn-primary btn-rounded" value="Proceed to payment">                                
                            </div>
                            
                        </form>
                    </div>  

                </div>
            </div>

        </div>
    </div>
</section>
    

<div class="modal modal-summary fade" id="summaryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Coverage Summary</h4>
            </div>
            <div class="modal-body">
                <h3>Your phone is covered for</h3>
                <p>If you take reasonable care of your phone and don't knowingly put it at risk, you are covered for:</p>
                <ul>
                    <li>Theft</li>
                    <li>Loss</li>
                    <li>Accidental Damage</li>
                    <li>Breakdown (incluing faults)</li>
                </ul>
                <p>In the event of theft or loss you are also covered for:</p>
                <ul>
                    <li>Accessories (up to £100 incl. VAT)</li>
                    <li>Unauthorised Usage (up to £1,000 incl. VAT)</li>
                </ul>
                <h3>Your phone is NOT covered for</h3>
                <p>Your excess - you need to pay a fee every time you make a successful claim. Damage and breakdown is £50. Loss and theft is £70.</p>
                <p>More than two theft or loss claims in any policy year.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-policy fade" id="policyModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Policy</h4>
            </div>
            <div class="modal-body">
                {{ render(controller('AppBundle:ApiView:policyLatestTerms', {'policy_key': policy_key, 'maxPotValue':  phone.getCurrentPhonePrice.maxPot })) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
