{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'components/bootstrap-daterangepicker/daterangepicker.css'
    '@AppBundle/Resources/public/css/Purchase/purchase-nav.css'
    '@AppBundle/Resources/public/css/Purchase/checkout.css'%}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/moment/moment.min.js'
    'components/bootstrap-daterangepicker/daterangepicker.js'
    '@AppBundle/Resources/public/js/Purchase/purchaseStepPersonal.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}
<section class="vertical-align-wrap">
    <div class="vertical-align-middle">
        <div class="container checkout">

            {% include 'AppBundle::Purchase/purchaseNav.html.twig' %}
            
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

                    <div class="checkout--step">
                
                        {{ form_start(purchase_form, {'attr': {'data-toggle': 'validator', 'class': 'form-horizontal'}}) }}
                        
                            <div class="form-group {% if form_errors(purchase_form.email) %}has-error{% endif %}">
                                 {{ form_label(purchase_form.email, 'Email', { 'label_attr': {'class': 'control-label col-sm-3'} }) }}
                                <div class="col-sm-8">
                                    {{ form_widget(purchase_form.email, {'attr':{'class':'form-control', 'placeholder': 'e.g. jane.smith@gmail.com'}}) }}
                                    <div class="help-block with-errors">{{ form_errors(purchase_form.email) }}</div>
                                </div>
                            </div>
                            <div class="form-group {% if form_errors(purchase_form.firstName) %}has-error{% endif %}">
                                 {{ form_label(purchase_form.name, 'Name', { 'label_attr': {'class': 'control-label col-sm-3'} }) }}
                                <div class="col-sm-8">
                                    {{ form_widget(purchase_form.name, {'attr':{'class':'form-control', 'placeholder': 'Full Name'}}) }}
                                    <div class="help-block with-errors">{{ form_errors(purchase_form.name) }}</div>
                                </div>                                 
                            </div>
                            <div class="form-group {% if form_errors(purchase_form.birthday) %}has-error{% endif %}">
                                {{ form_label(purchase_form.birthday, 'Date of Birth', { 'label_attr': {'class': 'control-label col-sm-3'} }) }}
                                <div class="col-sm-8">
                                    {{ form_widget(purchase_form.birthday, {'attr':{'class': 'form-control birthday-picker', 'placeholder':'DD/MM/YYYY', 'readonly':'readonly'}}) }}
                                    <div class="help-block with-errors">{{ form_errors(purchase_form.birthday) }}</div>
                                </div>                                
                            </div>
                            <div class="form-group {% if form_errors(purchase_form.mobileNumber) %}has-error{% endif %}">
                                {{ form_label(purchase_form.mobileNumber, 'Mobile No.', { 'label_attr': {'class': 'control-label col-sm-3'} }) }}
                                <div class="col-sm-8">
                                    {{ form_widget(purchase_form.mobileNumber, {'attr':{'class':'form-control', 'pattern':'00447[1-9][0-9]{8,8}|[+]447[1-9][0-9]{8,8}|07[1-9][0-9]{8,8}', 'title': 'Enter a valid UK Mobile Number', 'placeholder':'e.g. +447700 111 222'}}) }}
                                <div class="help-block with-errors">{{ form_errors(purchase_form.mobileNumber) }}</div>
                                </div>                                
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-center">
                                    {{ form_widget(purchase_form.email) }}
                                    {{ form_widget(purchase_form.firstName) }}
                                    {{ form_widget(purchase_form.lastName) }}
                                    {{ form_widget(purchase_form.next, {'label': 'Continue to Billing Details', 'attr': {'class': 'btn btn-primary btn-rounded'}}) }}
                                </div>                                
                            </div>
                 

                        {{ form_end(purchase_form) }}
                    </div>

                    <div class="text-break">
                        <div class="line"></div>OR<div class="line"></div>
                    </div>

                    {% include 'AppBundle::Purchase/purchaseDownload.html.twig' %}

                </div>
            </div>
        </div>
    </div>
</section>      
{% endblock %}
