{% form_theme purchase_form 'AppBundle:Form:fields.html.twig' %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/css/Purchase/purchase-nav.css'
    '@AppBundle/Resources/public/css/Purchase/checkout.css'
    'bundles/app/css/Default/selectPhoneMake.css' %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/Purchase/purchaseStepPhone.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}
<section class="payment-container vertical-align-wrap">
    <div class="vertical-align-middle">
        <div class="container checkout">

            {% include 'AppBundle::Purchase/purchaseNav.html.twig' %}
            
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

                    <div class="checkout--step">
                        {{ form_start(purchase_form, {'attr': {'data-toggle': 'validator', 'class': 'form-horizontal'}}) }}

                            <div class="form-group">
                                <label class="control-label col-sm-3">Your Phone</label>
                                <div class="col-sm-8 text-left">
                                    <span class="h4">
                                        <strong>
                                            {% if phone %}
                                                {{ phone.make }} {{ phone.model }} {%    if phone.memory %}
                                                        {{ phone.memory }}GB
                                                    {% endif %}
                                            {% endif %}
                                        </strong>
                                        {% if phone %}                         
                                            <button type="button" 
                                                    class="select-phone btn-link btn-xs" data-toggle="modal" 
                                                    data-target="#phoneModal">Edit</button>
                                        {% else %}
                                            <button type="button" 
                                                    class="select-phone btn-additional btn-xs" data-toggle="modal" 
                                                    data-target="#phoneModal">Select phone</button>
                                        {% endif %}
                                    </span>
                                </div>                                
                            </div>
                            <div class="form-group {% if form_errors(purchase_form.amount) %}has-error{% endif %}">
                                {{ form_label(purchase_form.amount, 'Payment Options', { 'label_attr': {'class': 'control-label col-sm-3'} }) }}
                                <div class="col-sm-8">
                                    {{ form_widget(purchase_form.amount) }}
                                    
                                    <div class="help-block with-errors">{{ form_errors(purchase_form.amount) }}</div>
                                </div>                                
                            </div>
                            <div class="form-group {% if form_errors(purchase_form.imei) %}has-error{% endif %}">
                                {{ form_label(purchase_form.imei, 'IMEI Number', { 'label_attr': {'class': 'control-label col-sm-3'} }) }}
                                <div class="col-sm-8">
                                    {{ form_widget(purchase_form.imei, {'attr':{'class':'form-control', 'placeholder':''}}) }}
                                    <p class="help-block text-left">
                                        <small>Dial *#06# to show your IMEI number </small>
                                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="{% if purchase_form.serialNumber is defined %}#appleModal{% else %}#nonAppleModal{% endif %}"><i class="fa fa-question"></i></button>
                                    </p>
                                    <div class="help-block with-errors">{{ form_errors(purchase_form.imei) }}</div>                                    
                                </div>                                
                            </div>
                            {% if purchase_form.serialNumber is defined %}
                                <div class="form-group {% if form_errors(purchase_form.serialNumber) %}has-error{% endif %}">
                                    {{ form_label(purchase_form.serialNumber, 'Serial Number', { 'label_attr': {'class': 'control-label col-sm-3'} }) }}
                                    <div class="col-sm-8">
                                        {{ form_widget(purchase_form.serialNumber, {'attr':{'class':'form-control',  'pattern': '[a-zA-Z0-9]{5,32}', 'title': 'Enter a valid serial number', 'placeholder':''}}) }}
                                        <p class="help-block text-left">
                                            <small>Go to Settings > General > About</small>
                                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="{% if purchase_form.serialNumber is defined %}#appleModal{% else %}#nonAppleModal{% endif %}"
                                          ><i class="fa fa-question"></i></button>
                                        </p>
                                        <div class="help-block with-errors">{{ form_errors(purchase_form.serialNumber) }}</div>
                                    </div>                                    
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-sm-12 text-center">
                                    {{ form_widget(purchase_form.next, {'label': 'Continue to Purchase', 'attr': {'class': 'btn btn-primary btn-rounded'}}) }}
                                </div>
                            </div>

                        {{ form_end(purchase_form) }}
                    </div>

              
                </div>
            </div>

        </div>
    </div>
</section>

<div class="modal fade" id="nonAppleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">IMEI Number</h4>
            </div>
            <div class="modal-body">
                <p>It's easy to find your IMEI numbr.  Just dial <a href="tel:*#06#">*#06#</a> on your mobile and your IMEI will immediately be displayed.  There is no cost to dial this number.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="appleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">IMEI &amp; Serial Numbers</h4>
            </div>
            <div class="modal-body">
                <p>It's easy to find your IMEI &amp; Serial Numbers.  Open the Settings app, and navigate to General > About.  The Serial Number is listed about halfway down the screen and the IMEI is a few rows below that.</p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="phoneModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Select your phone</h4>
            </div>
            <div class="modal-body">
                {{ render(controller('AppBundle:Default:selectPhoneMake', {'type': modal_type})) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
