{% form_theme purchase_form 'AppBundle:Form:fields.html.twig' %}
{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        'components/bootstrap-daterangepicker/daterangepicker.css'
        'components/intl-tel-input/intlTelInput.css'
        '@AppBundle/Resources/public/sass/page/checkoutNew.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/typeahead.js/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Purchase/purchaseStep.js'
    '@AppBundle/Resources/public/js/Purchase/purchaseStepPhone.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}
<section id="purchase-step-phone" class="checkout">

    {% include 'AppBundle::Purchase/purchaseNavNew.html.twig' %}

    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

                <div class="checkout--step">

                    <h3>Policy Details</h3>

                        {{ form_start(purchase_form, {'attr': {'data-toggle': 'validator', 'class': ''}}) }}
                            <div class="checkout--phone-indent">
                                <div class="form-group">
                                    <label class="">Your Phone:</label>
                                    <div class="h3">
                                        <strong>
                                            {% if phone %}
                                                {{ phone.make }} {{ phone.model }} {%    if phone.memory %}
                                                        {{ phone.memory }}GB
                                                    {% endif %}
                                            {% endif %}
                                        </strong>
                                        <a href="#"
                                           data-toggle="modal"
                                           data-target="#phoneModal">
                                           <small class="text-blue">Edit</small>
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group {% if form_errors(purchase_form.amount) %}has-error{% endif %}">
                                    {{ form_label(purchase_form.amount, 'Payment Options:', { 'label_attr': {'class': ''} }) }}
                                    {{ form_widget(purchase_form.amount) }}
                                    <div class="help-block with-errors">{{ form_errors(purchase_form.amount) }}</div>
                                </div>
                                <div class="form-group {% if form_errors(purchase_form.imei) %}has-error{% endif %}">
                                    {{ form_label(purchase_form.imei, 'IMEI Number:', { 'label_attr': {'class': ''} }) }}
                                        {{ form_widget(purchase_form.imei, {'attr':{'class':'form-control', 'placeholder':'', 'pattern':'[-/\\s]*([0-9][-/\\s]*){15,17}', 'title': 'Enter a valid 15 or 17 digit IMEI Number'}}) }}

                                        <p class="help-block text-left"><small>Dial *#06# to show your IMEI number.
                                            <a href="#" data-toggle="modal" data-target="{% if purchase_form.serialNumber is defined %}#appleModal{% else %}#nonAppleModal{% endif %}">more info</a>.
                                        </small></p>
                                        <p class="help-block"><small>Alternatively send us a screenshot of your IMEI below.</small></p>
                                        <a href="#" class="btn btn-primary-hollow btn-xs" onclick="sosuretrack('Clicked Upload Imei');Intercom('trackEvent', 'clicked upload imei');Intercom('showNewMessage', 'Hi, I want to take a screenshot of my IMEI number to send to you. Can you let me know what to do? 🙂')">
                                        <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                        SEND US A SCREENSHOT</a>
                                    <div class="help-block with-errors">{{ form_errors(purchase_form.imei) }}</div>
                                </div>
                                {% if purchase_form.serialNumber is defined %}
                                    <div class="form-group {% if form_errors(purchase_form.serialNumber) %}has-error{% endif %}">
                                        {{ form_label(purchase_form.serialNumber, 'Serial Number:', { 'label_attr': {'class': ''} }) }}
                                        {{ form_widget(purchase_form.serialNumber, {'attr':{'class':'form-control',  'pattern': '[a-zA-Z0-9]{5,32}', 'title': 'Enter a valid serial number', 'placeholder':''}}) }}
                                        <p class="help-block text-left">
                                            <small>Go to Settings > General > About.
                                            <a href="#" data-toggle="modal" data-target="{% if purchase_form.serialNumber is defined %}#appleModal{% else %}#nonAppleModal{% endif %}">more info</a></small>
                                        </p>
                                        <div class="help-block with-errors">{{ form_errors(purchase_form.serialNumber) }}</div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="review-terms">
                                <p><strong>Before you pay, please confirm that the following is correct:</strong></p>
                                <ol>
                                    <li>
                                        My phone is in full working condition and my screen is not cracked</li>
                                    <li>I am a resident of the United Kingdom</li>
                                    <li>
                                        I have read &amp; understood the so-sure
                                        <a data-toggle="modal" data-target="#policy-modal" style="cursor: pointer;">policy document</a>
                                    </li>
                                </ol>
                                <p>If you confirm that the above is correct and we later discover that it isn’t then you may later be denied your claim.</p>
                                <div class="form-group checkbox terms-checkbox text-center {% if is_postback %}has-error{% endif %}">
                                    {{ form_widget(purchase_form.agreed, {'label': 'I confirm the above is correct'}) }}
                                    <div class="help-block with-errors">{{ form_errors(purchase_form.agreed) }}</div>
                                </div>
                            </div>
                            {% if app.user.hasValidPaymentMethod %}
                                <div class="form-group form-footer">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <a class="btn btn-primary-hollow" href="{{ path('purchase_step_personal') }}">Back</a>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            {{ form_widget(purchase_form.existing, {'label': 'Pay with card on file', 'attr': {'class': 'btn btn-success   btn-block btn-arrow-right'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <p class="text-center"><small>
                                {{ form_widget(purchase_form.next, {'label': 'Pay with a new card', 'attr': {'class': 'btn btn-link btn-block btn-arrow-right'}}) }}
                                <i class="fa fa-info-circle"></i> <em>You will be redirected to Judo Pay to complete your purchase.</em></small></p>
                            {% else %}
                                <div class="form-group form-footer">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <a class="btn btn-primary-hollow" href="{{ path('purchase_step_personal') }}">Back</a>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            {{ form_widget(purchase_form.next, {'label': 'PAY NOW', 'attr': {'class': 'btn btn-success   btn-block btn-arrow-right'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <p class="text-center"><small><i class="fa fa-info-circle"></i> <em>You will be redirected to Judo Pay to complete your purchase.</em></small></p>
                            {% endif %}
                                <p class="text-center"><small>
                                    <img src="{{ cdn_url }}/images/payment/Visa.png" alt="Visa">
                                    <img src="{{ cdn_url }}/images/payment/MasterCard.png" alt="Mastercard">
                                    <img src="{{ cdn_url }}/images/payment/judo.png" alt="Judopay">
                                </small></p>
                        {{ form_end(purchase_form) }}
                    </div>
                    <form action="{{ webpay_action }}" method="post" id="webpay-form">
                        <input id="Reference" name="Reference" type="hidden" value="{{ webpay_reference }}">
                    </form>
                </div>
        </div>

    </div>
</section>

<div class="modal modal-middle fade" id="nonAppleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">IMEI Number</h4>
            </div>
            <div class="modal-body">
                <p><strong>It's easy to find your IMEI number:</strong></p>
                <ul>
                    <li>
                        Just dial <a href="tel:*#06#">*#06#</a> on your mobile and your IMEI will immediately be displayed.  There is no cost to dial this number.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-middle fade" id="appleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">IMEI &amp; Serial Numbers</h4>
            </div>
            <div class="modal-body">
                <p><strong>It's easy to find your IMEI number:</strong></p>
                <ul>
                    <li>
                        It's easy to find your IMEI &amp; Serial Numbers.  Open the Settings app, and navigate to <strong>General</strong> > <strong>About</strong>.  The Serial Number is listed about halfway down the screen and the IMEI is a few rows below that.
                    </li>
                    <br>
                    <li>
                        You can also log into your iTunes account and find the IMEI &amp; Serial Numbers display on the phone information screen.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-fullscreen fade"
     id="policy-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="So-Sure Policy Terms"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
                <h3>So-Sure Policy Terms</h3>
            </div>
            <div class="modal-body modal-policy">
                {{ render(controller('AppBundle:ApiView:policyLatestTerms', {'policy_key': policy_key, 'maxPotValue':  phone.getCurrentPhonePrice.maxPot })) }}
            </div>
        </div>
    </div>
</div>

<div class="modal modal-middle fade"
     id="phoneModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="quoteModelLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="text-center">Select Make &amp; Model</h3>
            </div>
            <div class="modal-body">
                {{ render(controller('AppBundle:Default:selectPhoneMake', {'type': 'purchase-select'})) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
