{% set use_pca = true %}

{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set distraction_free = 1 %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        'components/owl.carousel/owl.carousel.min.css'
        'components/owl.carousel/owl.theme.default.min.css'
        'components/bootstrap-daterangepicker/daterangepicker.css'
        'components/intl-tel-input/intlTelInput.css'
        '@AppBundle/Resources/public/sass/page/checkoutNew.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}

<section id="purchase-step-personal" class="checkout">

    {% include 'AppBundle::Purchase/purchaseNavNew.html.twig' %}

    <div class="checkout--top">
        <div class="container">
            <h1 class="h2">
                <span class="title-phone">No phone selected</span>
            </h1>
        </div>
    </div>
    <div class="checkout--step">
        {{ form_start(purchase_no_phone_form, {'attr': {'data-toggle': 'validator', 'class': '', 'novalidate':''}}) }}
            <a href="#"
               class="btn btn-blue btn-block btn-pad"
               data-toggle="modal"
               data-target="#quoteModel">Select phone</a>
        {{ form_end(purchase_no_phone_form) }}
    </div>

</section>

{# Page Modals #}

{% include 'AppBundle::Default/modalQuote.html.twig' %}

{# End Page Modals #}

{% endblock %}

{% block footer %}
<!-- Analytics -->
    <div id="fb-root"></div>
    <div id="ss-root" data-fb-id="{{ fb_appid }}"
       data-fb-redirect="{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}"
       {% if use_pca is defined %}data-pca-key="{{ pca_webkey }}"{% endif %}
       ></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/moment/moment.min.js'
    'components/bootstrap-daterangepicker/daterangepicker.js'
    'components/typeahead.js/typeahead.bundle.min.js'
    'components/owl.carousel/owl.carousel.min.js'
    'components/jquery-mask-plugin/jquery.mask.min.js'
    'components/fuse.js/fuse.min.js'
    'components/jquery-validation/jquery.validate.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js'
    '@AppBundle/Resources/public/js/Default/index.js'
    '@AppBundle/Resources/public/js/Purchase/purchaseStepNew.js'
    '@AppBundle/Resources/public/js/Purchase/purchaseStepAddressNew.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
