{% extends 'base_rebrand.html.twig' %}
{% form_theme purchase_form with ['AppBundle:Form:fields.html.twig', 'AppBundle:Form:submit.html.twig'] %}
{# Set vars #}
{% set quote_mode = true %}
{% if phone %}
    {% set body_class = 'purchase' %}
{% endif %}

{% block title %}
    {% if phone %}
        {{ phone.model }} Insurance - {{ phone.make }} - Welcome to Social Insurance
    {% else %}
        so-sure - Welcome to Social Insurance
    {% endif %}
{% endblock %}

{% block meta %}{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/purchase.css') }}">
{% endblock %}

{% block body %}

    <section class="qpw">
        <div class="d-lg-flex">
            {% if phone %}
                {# Main Content #}
                <div class="qpw__main__container">
                    <div class="qpw__main px-4 px-lg-5">
                        <div class="qpw__h5 h5 text-center text-lg-left text-white mb-4">Almost there, enter your payment details:</div>
                        <div class="d-flex justify-content-center justify-content-lg-start align-items-center justify-content-lg-start">
                            <h1 class="qpw__h1 text-columbia-blue-e fit">
                                <span class="sub">
                                    {{ phone.make }} {{ phone.model }}
                                    <small>({{ phone.memory }}GB)</small>
                                </span>
                            </h1>
                            <div class="qpw__alt__phones dropdown dropleft">
                                <a href="#"
                                   class="dropdown-toggle"
                                   id="dropdownMenuLink"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="far fa-chevron-down text-white fa-lg ml-3"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    {% if phones | length > 1 %}
                                        {% for phone_mem in phones %}
                                            {% if phone_mem.id != phone.id  %}
                                                <a href="{{ path('select_phone_make_search_type_id', {'type': 'purchase-change', 'id': phone_mem.id}) }}" class="dropdown-item h6" href="#">
                                                    {{ phone_mem.memory }}GB
                                                    <small>{{ phone.make }} {{ phone.model }}</small>
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <a class="dropdown-item h6 get-a-quote disabled" href="#">
                                        Start a new quote
                                        <small>Not the phone you're looking for?</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="qpw__h1 h1 text-center text-lg-left text-white mb-4">
                            <span class="sub">For only</span>
                            {% if not app.user or app.user.allowedMonthlyPayments %}
                                &pound;{{ phone.currentPhonePrice.monthlyPremiumPrice|number_format(2, '.', ',') }} a month
                            {% else %}
                                &pound;{{ phone.currentPhonePrice.yearlyPremiumPrice(app.user.additionalPremium)|number_format(2, '.', ',') }} a year
                            {% endif %}
                        </div>
                        <div class="qpw__h5 h5 d-block d-lg-none text-center">
                            <a href="#qpw-info-mobile"
                               id="qpw-info-btn"
                               class="text-white">
                                see full details <i class="fas fa-caret-down ml-2"></i>
                            </a>
                        </div>
                        <div class="qpw__footer d-none d-lg-block mt-5 pt-lg-5">
                            <div class="purchase__footer__text">
                                <h4 class="text-columbia-blue-e">An amazing level of cover:</h4>
                                <ul class="list-unstyled icn-fa-list">
                                    <li class="text-white mb-2"><i class="far fa-check text-columbia-blue-e fa-lg"></i> Cracked Screens, Theft, Loss and much more</li>
                                    <li class="text-white mb-2"><i class="far fa-check text-columbia-blue-e fa-lg"></i> Instant Cover and 24/7 live support</li><li class="text-white"><i class="far fa-check text-columbia-blue-e fa-lg"></i> 24-72 replacement phone once claim approved</li>
                                </ul>
                            </div>
                            <div class="qpw__footer__cta">
                                <a href="#qpw-info"
                                   class="btn btn-outline-columbia-blue-e mt-2 toggle-text"
                                   data-toggle="collapse"
                                   data-target="#qpw-info"
                                   data-text-swap='hide full details <i class="fas fa-caret-up ml-2"></i>'
                                   role="button"
                                   aria-expanded="false"
                                   aria-controls="qpw-info">see full details
                                   <i class="fas fa-caret-down ml-2"></i>
                               </a>
                            </div>
                        </div>
                    </div>

                    <div id="qpw-info" class="qpw__info__container mt-4 collapse">
                        {% include 'AppBundle::PhoneInsurance/_seeFullDetails.html.twig' %}
                    </div>

                    {# Curve Mobile #}
                    <svg class="d-block d-lg-none" preserveAspectRatio="xMinYMin meet" viewBox="0 0 750 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Artboard-Copy" fill="#FFFFFF" fill-rule="nonzero">
                                <g id="SVG-Layer" transform="translate(375.000000, 23.500000) scale(1, -1) translate(-375.000000, -23.500000) ">
                                    <g id="Page-1">
                                        <g id="Artboard">
                                            <path d="M374,0 C499.333333,0 624.666667,15.6666667 750,47 L0,47 C124,15.6666667 248.666667,8.69674703e-16 374,0 Z" id="Rectangle" transform="translate(375.000000, 23.500000) scale(-1, 1) rotate(-180.000000) translate(-375.000000, -23.500000) "></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>

                {# Curve Desktop #}
                <div class="qpw__curve">
                    <svg class="d-none d-lg-block" preserveAspectRatio="xMinYMin meet" viewBox="0 0 57 846" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-12.000000, 0.000000)" fill="#FFFFFF">
                                <path d="M69,0 L69,846 L68,846 C30.6666667,705 12,564 12,423 C12,282 31,141 69,0 Z" id="Rectangle-3"></path>
                            </g>
                        </g>
                    </svg>
                </div>

                {# Sub Content #}
                <div class="qpw__sub__container">
                    <div class="qpw__sub px-4 pb-4 pt-5 p-lg-5">
                        {% include 'AppBundle::Purchase/_formStepPayment.html.twig' %}
                    </div>
                </div>

                {# Mobile Info #}
                <div id="qpw-info" class="qpw__info__container__mobile d-block d-lg-none">
                    {% include 'AppBundle::PhoneInsurance/_seeFullDetails.html.twig' %}
                </div>
            {% else %}
                <div class="purchase__details__container">
                    <div class="purchase__details p-4 p-lg-5 mt-5">
                        <h2 class="text-white h1 mb-5">Whoops, no phone selected... 😩</h2>
                        <a href="#"
                           class="btn btn-success btn-shadow btn-block-xs mb-5 get-a-quote disabled track-data"
                           data-event="no-phone-in-session">
                           Get a Quote</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

    {# Page Modals #}
    {% include 'AppBundle::PhoneInsurance/_policyInfoModals.html.twig' %}

{% endblock %}

{% block footer %}
    {# TODO: Fix footer #}
{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/purchase.js') }}"></script>
    <script src="{{ asset('css-js/purchase-payment.js') }}"></script>
{% endblock %}
