{% set use_pca = true %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.css'
    '@AppBundle/Resources/public/css/Purchase/purchase.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/moment/moment.min.js'
        'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js'
        'components/typeahead.js/typeahead.bundle.min.js'
        '@AppBundle/Resources/public/js/Purchase/purchase.js' %}
    %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(purchase_form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Personal Details</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            {{ form_label(purchase_form.email, 'Email') }}
                        </div>
                        <div class="form-group col-sm-6 {% if form_errors(purchase_form.email) %}has-error{% endif %}">
                            {{ form_widget(purchase_form.email, {'attr':{'class':'form-control'}}) }}
                            {{ form_errors(purchase_form.email) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            {{ form_label(purchase_form.firstName, 'First Name') }}
                        </div>
                        <div class="form-group col-sm-6 {% if form_errors(purchase_form.firstName) %}has-error{% endif %}">
                            {{ form_widget(purchase_form.firstName, {'attr':{'class':'form-control'}}) }}
                            {{ form_errors(purchase_form.firstName) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            {{ form_label(purchase_form.lastName, 'Last Name') }}
                        </div>
                        <div class="form-group col-sm-6 {% if form_errors(purchase_form.lastName) %}has-error{% endif %}">
                            {{ form_widget(purchase_form.lastName, {'attr':{'class':'form-control'}}) }}
                            {{ form_errors(purchase_form.lastName) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            {{ form_label(purchase_form.mobileNumber, 'Mobile') }}
                        </div>
                        <div class="form-group col-sm-6 {% if form_errors(purchase_form.mobileNumber) %}has-error{% endif %}">
                            {{ form_widget(purchase_form.mobileNumber, {'attr':{'class':'form-control'}}) }}
                            {{ form_errors(purchase_form.mobileNumber) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            {{ form_label(purchase_form.birthday, 'Birthday') }}
                        </div>
                        <div class="form-group col-sm-6 {% if form_errors(purchase_form.birthday) %}has-error{% endif %}">
                            <div class='input-group date' id='birthday'>
                                {{ form_widget(purchase_form.birthday, {'attr':{'class': 'form-control'}}) }}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            {{ form_errors(purchase_form.birthday) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Device Details</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            Device
                        </div>
                        <div class="form-group col-sm-8">
                            {{ phone.make }} {{ phone.model }} {% if phone.memory %}{{ phone.memory }}GB{% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            Monthly Price
                        </div>
                        <div class="form-group col-sm-6">
                            £{{ phone.currentPhonePrice.monthlyPremiumPrice }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            {{ form_label(purchase_form.imei, 'Imei') }}
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="{% if purchase_form.serialNumber is defined %}#appleModal{% else %}#nonAppleModal{% endif %}"
                                            ><i class="fa fa-question"></i></button>
                        </div>
                        <div class="form-group col-sm-6 {% if form_errors(purchase_form.imei) %}has-error{% endif %}">
                            {{ form_widget(purchase_form.imei, {'attr':{'class':'form-control'}}) }}
                            {{ form_errors(purchase_form.imei) }}
                        </div>
                    </div>
                    {% if purchase_form.serialNumber is defined %}
                    <div class="row">
                        <div class="form-group col-sm-4">
                            {{ form_label(purchase_form.serialNumber, 'Serial Number') }}
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="{% if purchase_form.serialNumber is defined %}#appleModal{% else %}#nonAppleModal{% endif %}"
                                            ><i class="fa fa-question"></i></button>
                        </div>
                        <div class="form-group col-sm-6 {% if form_errors(purchase_form.serialNumber) %}has-error{% endif %}">
                            {{ form_widget(purchase_form.serialNumber, {'attr':{'class':'form-control'}}) }}
                            {{ form_errors(purchase_form.serialNumber) }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Billing Address</h4>
                </div>
                <div class="panel-body">
                    {% set showAddress = purchase_form.addressLine1.vars.data|length > 0 or purchase_form.postcode.vars.data|length > 0 %}
                    <div class="address-search" style="{% if showAddress %}display: none;{% endif %}">
                        <div class="row">
                            <div class="form-group col-sm-6 col-sm-offset-3">
                                <input class="typeahead" type="text" placeholder="Start typing your address or postcode">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6 col-sm-offset-3">
                                <button class="btn btn-link address-manual">I prefer to manually type in my address</button>
                            </div>
                        </div>
                    </div>
                    <div class="address-show" style="{% if not showAddress %}display: none;{% endif %}">
                        <div class="row address-show-error" style="display: none;">
                            <div class="form-group col-sm-12">
                                <span class="text-danger address-show-error-text"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                {{ form_label(purchase_form.addressLine1, 'Line 1') }}
                            </div>
                            <div class="form-group col-sm-6 {% if form_errors(purchase_form.addressLine1) %}has-error{% endif %}">
                                {{ form_widget(purchase_form.addressLine1, {'attr':{'class':'form-control addressLine1'}}) }}
                                {{ form_errors(purchase_form.addressLine1) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                {{ form_label(purchase_form.addressLine2, 'Line 2') }}
                            </div>
                            <div class="form-group col-sm-6 {% if form_errors(purchase_form.addressLine2) %}has-error{% endif %}">
                                {{ form_widget(purchase_form.addressLine2, {'attr':{'class':'form-control addressLine2'}}) }}
                                {{ form_errors(purchase_form.addressLine2) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                {{ form_label(purchase_form.addressLine3, 'Line 3') }}
                            </div>
                            <div class="form-group col-sm-6 {% if form_errors(purchase_form.addressLine3) %}has-error{% endif %}">
                                {{ form_widget(purchase_form.addressLine3, {'attr':{'class':'form-control addressLine3'}}) }}
                                {{ form_errors(purchase_form.addressLine3) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                {{ form_label(purchase_form.city, 'City') }}
                            </div>
                            <div class="form-group col-sm-6 {% if form_errors(purchase_form.city) %}has-error{% endif %}">
                                {{ form_widget(purchase_form.city, {'attr':{'class':'form-control city'}}) }}
                                {{ form_errors(purchase_form.city) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                {{ form_label(purchase_form.postcode, 'Postcode') }}
                            </div>
                            <div class="form-group col-sm-6 {% if form_errors(purchase_form.postcode) %}has-error{% endif %}">
                                {{ form_widget(purchase_form.postcode, {'attr':{'class':'form-control postcode'}}) }}
                                {{ form_errors(purchase_form.postcode) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Purchase</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-12 text-center">
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#summaryModal"
                                            ><i class="fa fa-file-o"></i> Policy Summary</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 text-center">
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#policyModal"
                                            ><i class="fa fa-file-text-o"></i> Policy Document</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 text-center">
                            {{ form_widget(purchase_form.submit, {'label': 'Proceed to payment', 'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(purchase_form) }}

    {% if webpay_action is defined and webpay_reference is defined %}
    <div class="modal-confirm-wrapper">
    <div class="modal modal-confirm" id="purchaseModal" tabindex="-1" role="dialog" style="display: block;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Confirm Purchase</h4>
          </div>
          <div class="modal-body">
            <strong>I confirm that:</strong>
            <ul>
                <li>My phone is in full working condition</li>
                <li>My screen is not cracked and is in full working order</li>
                <li>I am a resident of the United Kingdom</li>
                <li>I have read & understood the so-sure policy document</li>
            </ul>
            <div class="row text-center" style="margin-top: 20px">
                <form action="{{ webpay_action }}" method="post">
                    <input  id="Reference" name="Reference" type="hidden" value="{{ webpay_reference }}">
                    <input type="submit" class="btn btn-success" value="Confirm and proceed to payment">
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="modal modal-summary fade" id="summaryModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Coverage Summary</h4>
          </div>
          <div class="modal-body">
            <h3>Your phone is covered for</h3>
            <p>If you take reasonable care of your phone and don't knowingly put it at risk, you are covered for:</p>
            <ul>
                <li>Theft</li>
                <li>Loss</li>
                <li>Accidental Damage</li>
                <li>Breakdown (incluing faults)</li>
            </ul>
            <p>In the event of theft or loss you are also covered for:</p>
            <ul>
                <li>Accessories (up to £100 incl. VAT)</li>
                <li>Unauthorised Usage (up to £1,000 incl. VAT)</li>
            </ul>
            <h3>Your phone is NOT covered for</h3>
            <p>Your excess - you need to pay a fee every time you make a successful claim. Damage and breakdown is £50. Loss and theft is £70.</p>
            <p>More than two theft or loss claims in any policy year.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-policy fade" id="policyModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Policy</h4>
          </div>
          <div class="modal-body">
            {{ render(controller('AppBundle:ApiView:policyLatestTerms', {'policy_key': policy_key, 'maxPotValue': phone.getCurrentPhonePrice.maxPot })) }}
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="nonAppleModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">IMEI</h4>
          </div>
          <div class="modal-body">
            It's easy to find your IMEI.  Just dial <a href="tel:*#06#">*#06#</a> on your mobile and your IMEI will immediately be displayed.  There is no cost to dial this number.
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="appleModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">IMEI & Serial Number</h4>
          </div>
          <div class="modal-body">
            It's easy to find your IMEI & Serial Number.  Open the Settings App, and navigate to General / About.  The Serial Number is listed about halfway down the screen and the IMEI is a few rows below that.
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
