{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'components/bootstrap-daterangepicker/daterangepicker.css'
    '@AppBundle/Resources/public/css/Purchase/purchase-nav.css'
    '@AppBundle/Resources/public/css/Purchase/checkout.css'%}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/moment/moment.min.js'
    'components/bootstrap-daterangepicker/daterangepicker.js'
    '@AppBundle/Resources/public/js/Purchase/purchaseStepPersonal.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}
<section id="purchase-step-personal" class="checkout">
    
    {% include 'AppBundle::Purchase/purchaseNav.html.twig' %}

    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

                <h3>Personal Details</h3>

                <div class="checkout--step">
                    {{ form_start(purchase_form, {'attr': {'data-toggle': 'validator', 'class': ''}}) }}
                    
                        <div class="form-group {% if form_errors(purchase_form.email) %}has-error{% endif %}">
                            {{ form_label(purchase_form.email, 'Email:', { 'label_attr': {'class': ''} }) }}
                            {{ form_widget(purchase_form.email, {'attr':{'class':'form-control', 'placeholder': 'e.g. jane.smith@gmail.com'}}) }}
                            <div class="help-block with-errors">{{ form_errors(purchase_form.email) }}</div>
                        </div>
                        <div class="form-group {% if form_errors(purchase_form.firstName) %}has-error{% endif %}">
                            {{ form_label(purchase_form.name, 'Name:', { 'label_attr': {'class': ''} }) }}
                            {{ form_widget(purchase_form.name, {'attr':{'class':'form-control', 'placeholder': 'Full Name'}}) }}
                            <div class="help-block with-errors">{{ form_errors(purchase_form.name) }}</div>                  
                        </div>
                        <div class="form-group {% if form_errors(purchase_form.birthday) %}has-error{% endif %} text-left">
                            {{ form_label(purchase_form.birthday, 'Date of Birth:', { 'label_attr': {'class': ''} }) }}
                            {{ form_widget(purchase_form.birthday, {'attr':{'class': 'birthday'}}) }} 
                            <div class="help-block with-errors">{{ form_errors(purchase_form.birthday) }}</div>              
                        </div>
                        <div class="form-group {% if form_errors(purchase_form.mobileNumber) %}has-error{% endif %}">
                            {{ form_label(purchase_form.mobileNumber, 'Mobile Number:', { 'label_attr': {'class': ''} }) }}
                            {{ form_widget(purchase_form.mobileNumber, {'attr':{'class':'form-control', 'pattern':'(0044|[+]44|0)[\\s]*7[\\s]*[1-9]([\\s]*([0-9][\\s]*){8})', 'title': 'Enter a valid UK Mobile Number', 'placeholder':'e.g. +447700 111 222'}}) }}
                        <div class="help-block with-errors">{{ form_errors(purchase_form.mobileNumber) }}</div>      
                        </div>
                        <div class="form-group text-center">
                            {{ form_widget(purchase_form.email) }}
                            {{ form_widget(purchase_form.firstName) }}
                            {{ form_widget(purchase_form.lastName) }}
                            {{ form_widget(purchase_form.next, {'label': 'Continue to Billing Details', 'attr': {'class': 'btn btn-success btn-rounded'}}) }}          
                        </div>
             

                    {{ form_end(purchase_form) }}
                </div>
            </div>
        </div>
    </div>
</section>      
{% endblock %}
