{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set use_pca = true %}
{% set body_class = 'quote' %}
{% set quote_mode = 1 %}

{% set showAddress = purchase_form.addressLine1.vars.data | length > 0 or purchase_form.postcode.vars.data | length > 0 %}
{% set showDOB = purchase_form.name.vars.data | length > 0 and purchase_form.email.vars.data | length > 0 %}
{% set starling = false %}

{% if app is not null and app.session.isStarted and app.session.get('partner') == 'starling' %}
    {% set starling = true %}
{% endif %}

{% block title %}
    {% if phone %}
        {{ phone.model }} Insurance - {{ phone.make }} - Welcome to Social Insurance
    {% else %}
        so-sure - Welcome to Social Insurance
    {% endif %}
{% endblock %}

{% block meta %}{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/purchase.css') }}">
{% endblock %}

{% block body %}

    <section class="purchase">
        <div class="d-lg-flex">

            {% if phone %}
                <div class="purchase__details__container">
                    <div class="purchase__details px-4 pb-4 px-lg-5 pb-lg-0">
                        <div class="purchase__h5 text-white mb-4 h5 d-none d-lg-block">Here’s your quote details, Insure your:</div>
                        <div class="d-flex justify-content-center align-items-center justify-content-lg-start">
                            <h1 class="purchase__h1 text-blue1b mb-2">
                                <span class="sub">
                                    {{ phone.make }} {{ phone.model }}
                                    <small>({{ phone.memory }}GB)</small>
                                </span>
                            </h1>
                            <div class="purchase__alt__phones dropdown dropleft">
                                <a href="#"
                                   class="dropdown-toggle"
                                   id="dropdownMenuLink"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="far fa-chevron-down text-white fa-lg ml-3"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    {% if phones | length > 1 %}
                                        {% for phone_mem in phones %}
                                            {% if phone_mem.id != phone.id  %}
                                                <a href="{{ path('select_phone_make_search_type_id', {'type': 'purchase-change', 'id': phone_mem.id}) }}" class="dropdown-item h6" href="#">
                                                    {{ phone_mem.memory }}GB
                                                    <small>{{ phone.make }} {{ phone.model }}</small>
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <a class="dropdown-item h6 get-a-quote" href="#">
                                        Start a new quote
                                        <small>Not the phone you're looking for?</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="purchase__h1 text-white text-center text-lg-left h1">
                            <span class="sub">For only</span>
                            {% if not app.user or app.user.allowedMonthlyPayments %}
                                &pound;{{ phone.currentPhonePrice.monthlyPremiumPrice|number_format(2, '.', ',') }} a month
                            {% else %}
                                &pound;{{ phone.currentPhonePrice.yearlyPremiumPrice(app.user.additionalPremium)|number_format(2, '.', ',') }} a year
                            {% endif %}
                        </div>
                        <div class="purchase__footer d-none d-lg-flex justify-content-lg-between mt-5">
                            <div class="purchase__footer__text">
                                <h4 class="text-blue1">An amazing level of cover:</h4>
                                <ul class="list-unstyled icn-fa-list">
                                    <li class="text-white mb-2"><i class="far fa-check text-blue1 fa-lg"></i> Cracked Screens, Theft, Loss and much more</li>
                                    <li class="text-white mb-2"><i class="far fa-check text-blue1 fa-lg"></i> Instant Cover and 24/7 live support</li><li class="text-white"><i class="far fa-check text-blue1 fa-lg"></i> 24-72 replacement phone once claim approved</li>
                                </ul>
                            </div>
                            <div class="purchase__footer__cta">
                                <a href="#purchase_info"
                                   class="btn btn-outline-blue1 mt-2 toggle-text"
                                   data-toggle="collapse"
                                   data-text-swap='Hide full details <i class="fas fa-caret-up ml-2"></i>'
                                   role="button"
                                   aria-expanded="false"
                                   aria-controls="purchase_info">See full details
                                   <i class="fas fa-caret-down ml-2"></i>
                               </a>
                            </div>
                        </div>
                    </div>
                    <div id="purchase_info" class="purchase__info__container collapse">
                        {% include 'AppBundle::PhoneInsurance/_seeFullDetails.html.twig' %}
                    </div>
                </div>

                {# TODO: Curve #}

                <div class="purchase__form__container p-4 py-lg-5">
                    {% include 'AppBundle::Purchase/_purchaseStepsRebrand.html.twig' %}
                    {% include 'AppBundle::Purchase/_currentStepPersonalAddress.html.twig' %}
                </div>
            {% else %}
                {# No phone #}
            {% endif %}
        </div>
    </section>

    {# Page Modals #}
    <div class="modal fade"
         id="purchase_policy_name"
         tabindex="-1" role="dialog"
         aria-labelledby="purchase_policy_name"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Policy Holder’s Full Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body text-center text-sm-left">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_policy-lg-icn.svg" alt="so-sure - Policy" class="mb-4" width="120px">
                        </div>
                        <div class="col-sm-8">
                            Policy holders must be over 18 years old, a UK resident, and be the main user of the mobile phone. The mobile phone must also have been purchased within the UK.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/purchase.js') }}"></script>
{% endblock %}
