{# 24-72 hour replace/repair #}
<div class="modal fade"
     id="policy_24_72_hours"
     tabindex="-1" role="dialog"
     aria-labelledby="policy_24_72_hours"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">24-72 hour replace/repair</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center text-sm-left">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="so-sure - Policy" width="120px" class="mx-auto mb-4">
                    </div>
                    <div class="col-sm-8">
                        We understand it's stressful to be without your phone, that’s why we aim to get you back up and running quickly after your claim is approved. While we aim for 24-72 hours, some repairs may take a little longer
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# Comprehensive cover #}
<div class="modal fade"
     id="policy_comprehensive"
     tabindex="-1" role="dialog"
     aria-labelledby="policy_comprehensive"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Included as standard</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center text-sm-left">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="so-sure - Policy" width="120px" class="mx-auto mb-4">
                    </div>
                    <div class="col-sm-8">
                        Did you know that most insurers do not cover loss as standard and will charge you an extra &pound;1-3 per month
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# Up to 80% cashback every year #}
<div class="modal fade"
     id="policy_cashback"
     tabindex="-1" role="dialog"
     aria-labelledby="policy_cashback"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Up to 80% cashback every year</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center text-sm-left">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_wallet-cashback.png" alt="so-sure - Policy" width="120px" class="mx-auto mb-4">
                    </div>
                    <div class="col-sm-8">
                        We reward our careful customers. If you and your connections don't make a claim we return up to 80% of your premium back at the end of every policy year
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# Excess from £50 #}
<div class="modal fade"
     id="policy_excess_50"
     tabindex="-1" role="dialog"
     aria-labelledby="policy_excess_50"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excess from £50</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center text-sm-left">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-qr.png" alt="so-sure - Policy" width="120px" class="mx-auto mb-4">
                    </div>
                    <div class="col-sm-8">
                        We are the only company to offer up to &pound;100 off your excess if you can prove your phone is not damaged using our app. It's as simple as taking a selfie of your phone!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# No Proof of Purchase #}
<div class="modal fade"
     id="policy_pop"
     tabindex="-1" role="dialog"
     aria-labelledby="policy_pop"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">No Proof of Purchase</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center text-sm-left">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-qr.png" alt="so-sure - Policy" width="120px" class="mx-auto mb-4">
                    </div>
                    <div class="col-sm-8">
                        If you validate your phone is good working condition using our app (prior to your claim), you do not need proof of purchase. If you don't do this, you may need to provide proof of purchase when making a claim
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# Policy Holder’s Full Name #}
<div class="modal fade"
     id="policy_name"
     tabindex="-1" role="dialog"
     aria-labelledby="policy_name"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Policy Holder’s Full Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center text-sm-left">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_contract.png" alt="so-sure - Policy" width="120px" class="mx-auto mb-4">
                    </div>
                    <div class="col-sm-8">
                        Policy holders must be over 18 years old, a UK resident, and be the main user of the mobile phone. The mobile phone must also have been purchased within the UK.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# IMEI Number #}
<div class="modal fade"
     id="policy_imei_number"
     tabindex="-1" role="dialog"
     aria-labelledby="policy_imei_number"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">IMEI Number</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center text-sm-left">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_holding-phone.png" alt="so-sure - Policy" class="mb-4 mx-auto mb-4" width="120px">
                    </div>
                    <div class="col-sm-8 offset-sm-1">
                        Unlike other insurers we ask for this now, so if your phone is lost or stolen you dont have the additional hassle of finding this information. If your phone has more than one IMEI number (dual sim phones) just provide us with the first number shown.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# Serial Number #}
<div class="modal fade"
     id="policy_serial_number"
     tabindex="-1" role="dialog"
     aria-labelledby="policy_serial_number"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Serial Number</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center text-sm-left">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_holding-phone.png" alt="so-sure - Policy" class="mb-4 mx-auto" width="120px">
                    </div>
                    <div class="col-sm-8 offset-sm-1">
                        Unlike other insurers we ask for this now, so if your phone is lost or stolen you dont have the additional hassle of finding this information.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# Bank details #}
<div class="modal fade"
     id="bank_details_modal"
     tabindex="-1" role="dialog"
     aria-labelledby="bank_details_modal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Bank Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center text-sm-left">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_claims-team.png" alt="so-sure - team" class="mb-4 mx-auto" width="120px">
                    </div>
                    <div class="col-sm-8 offset-sm-1">
                        <h5 class="text-zaffre mb-4">Why do we ask you to enter your bank details twice? 🤷🏻‍♀️</h5>
                        <p class="mb-4">If your payment fails, you will be in danger of losing cover for your mobile phone and could face issues making a successful claim.</p>
                        <p>So, that’s why we ask you to enter your Sort Code and Account Number twice… to make double sure they are correct! 👍</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

