<div class="policy__info mx-4 mx-lg-5 py-4">
    <div class="h1 text-blue1 mb-5">Full Cover Details</div>
    <h4 class="text-blue1 mb-4">What's covered:</h4>
    <ul class="list-unstyled icn-fa-list">
        <li class="text-white mb-3"><i class="far fa-check text-blue1 fa-lg"></i> Loss</li>
        <li class="text-white mb-3"><i class="far fa-check text-blue1 fa-lg"></i> Accidental Damage, including water damage &amp; cracked screens</li>
        <li class="text-white mb-3"><i class="far fa-check text-blue1 fa-lg"></i> 90 days global travel</li>
        <li class="text-white mb-3"><i class="far fa-check text-blue1 fa-lg"></i> Out of warranty breakdown</li>
        <li class="text-white mb-3"><i class="far fa-check text-blue1 fa-lg"></i> Unauthorised network charges up the value of &pound;1000 (inc VAT)</li>
        <li class="text-white mb-3"><i class="far fa-check text-blue1 fa-lg"></i> Accessories up to the value of £100 (inc VAT) for theft of loss claims</li>
        <li class="text-white mb-5"><i class="far fa-check text-blue1 fa-lg"></i> Cover for phones up to 3 years old, including second hand and refurbished devices</li>
    </ul>
    <h4 class="text-blue1 my-4">What's not covered:</h4>
    <ul class="list-unstyled icn-fa-list">
        <li class="text-white mb-3"><i class="far fa-times text-blue1 fa-lg"></i> Theft, Loss, Accidental Damage or Breakdown where you have knowingly put your phone at risk</li>
        <li class="text-white mb-3"><i class="far fa-times text-blue1 fa-lg"></i> 3+ claims for Loss and/or Theft in any policy year</li>
    </ul>
</div>
<div class="policy__info mx-4 mx-lg-5 py-4">
    <h4 class="text-blue1 mb-4">Here’s how we compare to competitors:</h4>
    <table width="100%" class="table-comparison table-comparison-carousel mb-5 d-table d-sm-none">
        <thead>
            <tr>
                <th width="50%" class="wh">
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_app-icn.svg" width="65px" alt="so-sure" class="mt-2">
                </th>
                <th width="50%"
                    class="b4 td-swap"
                    data-one='<img src="{{ cdn_url }}/images/rebrand/competitors/so-sure_love-it-cover-it.svg" alt="love it cover it" width="120px">'
                    data-two='<img src="{{ cdn_url }}/images/rebrand/competitors/so-sure_gadget-cover.svg" alt="gadget cover" width="120px">'>
                    <a href="#" class="td-prev-btn"><i class="fal fa-angle-left fa-3x text-blue1"></i></a>
                    <span>
                        <img src="{{ cdn_url }}/images/rebrand/competitors/so-sure_protect-your-bubble.svg" alt="protect your bubble" width="120px">
                    </span>
                    <a href="#" class="td-next-btn"><i class="fal fa-angle-right fa-3x text-blue1"></i></a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-30 bb1" colspan="2" align="center">
                    <strong>Time to Repair/replace</strong>
                </td>
            </tr>
            <tr>
                <td class="b2a">
                    <strong>24 - 72</strong> <div>hours</div>
{#                     <a href="#"
                       class="td-info-btn"
                       data-toggle="modal"
                       data-target="#table_24_72_hours"
                       role="button">
                        <i class="fal fa-info-circle fa-lg"></i>
                    </a> #}
                </td>
                <td class="b2 td-swap"
                    data-one='<strong>3+</strong> <div>work days</div>'
                    data-two='<strong>2 - 7</strong> <div>work days</div>'>
                    <strong>2 - 5</strong> <div>work days</div>
                </td>
            </tr>
            <tr>
                <td class="td-30 bb1" colspan="2" align="center">
                    <strong>Broken phone excess</strong>
                </td>
            </tr>
            <tr>
                <td class="b2a">
                    from <strong>&pound;50</strong>
  {#                   <a href="#"
                       class="td-info-btn"
                       data-toggle="modal"
                       data-target="#table_excess_50"
                       role="button">
                        <i class="fal fa-info-circle fa-lg"></i>
                    </a> #}
                </td>
                <td class="b2 td-swap"
                    data-one='<strong>&pound;80</strong>'
                    data-two='<strong>&pound;75</strong>'>
                    <strong>&pound;90</strong>
                </td>
            </tr>
            <tr>
                <td class="td-30 bb1" colspan="2" align="center">
                    <strong>Loss, Theft &amp; Damage Cover</strong>
                </td>
            </tr>
            <tr>
                <td class="b2a">
                    <i class="far fa-check fa-2x"></i>
                </td>
                <td class="b2 td-swap"
                    data-one='+ <strong>&pound;2</strong> Damage'
                    data-two='+ <strong>&pound;2</strong> Loss'>
                    + <strong>&pound;1.50</strong> Loss
                </td>
            </tr>
            <tr>
                <td class="td-30 bb1" colspan="2" align="center">
                    <strong>Proof of purchase required?</strong>
                </td>
            </tr>
            <tr>
                <td class="b2a">
                    <strong>No</strong>
{#                     <a href="#"
                       class="td-info-btn"
                       data-toggle="modal"
                       data-target="#table_pop"
                       role="button">
                        <i class="fal fa-info-circle fa-lg"></i>
                    </a> #}
                </td>
                <td class="b2 td-swap"
                    data-one='<strong>Yes</strong>'
                    data-two='<strong>Yes</strong>'>
                    <strong>Yes</strong>
                </td>
            </tr>
            <tr>
                <td class="td-30 bb1" colspan="2" align="center">
                    <strong>Age of phones insured</strong>
                </td>
            </tr>
            <tr>
                <td class="b2a">
                    <strong>&lt; 3</strong> Years
                </td>
                <td class="b2 td-swap"
                    data-one='<strong>&lt; 3</strong> Years'
                    data-two='<strong>&lt; 18</strong> Months'>
                    <strong>&lt; 6</strong> Months
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table-comparison mb-5 d-none d-sm-block">
        <thead>
            <tr>
                <th width="24%" class="b2 h5 text-left bs-r">Features</th>
                <th width="19%" class="wh"><img src="{{ cdn_url }}/images/rebrand/icns/so-sure_app-icn.svg" width="65px" alt="so-sure" class="mt-2"></th>
                <th width="19%" class="b4 bs-l"><img src="{{ cdn_url }}/images/rebrand/competitors/so-sure_protect-your-bubble.svg" alt="protect your bubble" class="img-fluid"></th>
                <th width="19%" class="b4"><img src="{{ cdn_url }}/images/rebrand/competitors/so-sure_love-it-cover-it.svg" alt="love it cover it" class="img-fluid"></th>
                <th width="19%" class="b4"><img src="{{ cdn_url }}/images/rebrand/competitors/so-sure_gadget-cover.svg" alt="gadget cover" class="img-fluid"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bb1 text-left bs-r"><strong>Time to Repair/replace</strong></td>
                <td class="b2">
                    <strong>24 - 72</strong> <div>hours</div>
                    <a href="#"
                       class="td-info-btn"
                       data-toggle="modal"
                       data-target="#table_24_72_hours"
                       role="button">
                        <i class="fal fa-info-circle fa-lg"></i>
                    </a>
                </td>
                <td class="b2 bs-l"><strong>2 - 5</strong> <div>work days</div></td>
                <td class="b2"><strong>3+</strong> <div>work days</div></td>
                <td class="b2"><strong>2 - 7</strong> <div>work days</div></td>
            </tr>
            <tr>
                <td class="wh text-left bs-r"><strong>Broken phone excess</strong></td>
                <td class="b2a">
                    from <strong>&pound;50</strong>
                    <a href="#"
                       class="td-info-btn"
                       data-toggle="modal"
                       data-target="#table_excess_50"
                       role="button">
                        <i class="fal fa-info-circle fa-lg"></i>
                    </a>
                </td>
                <td class="b2a bs-l"><strong>&pound;90</strong></td>
                <td class="b2a"><strong>&pound;80</strong></td>
                <td class="b2a"><strong>&pound;75</strong></td>
            </tr>
            <tr>
                <td class="bb1 text-left bs-r"><strong>Loss, Theft &amp; Damage Cover</strong></td>
                <td class="b2"><i class="far fa-check fa-2x"></i></td>
                <td class="b2 bs-l">+ <strong>&pound;1.50</strong> Loss</td>
                <td class="b2">+ <strong>&pound;2</strong> Damage</td>
                <td class="b2">+ <strong>&pound;2</strong> Loss</td>
            </tr>
            <tr>
                <td class="wh text-left bs-r"><strong>Proof of purchase required?</strong></td>
                <td class="b2a">
                    <strong>No</strong>
                    <a href="#"
                       class="td-info-btn"
                       data-toggle="modal"
                       data-target="#table_pop"
                       role="button">
                        <i class="fal fa-info-circle fa-lg"></i>
                    </a>
                </td>
                <td class="b2a bs-l"><strong>Yes</strong></td>
                <td class="b2a"><strong>Yes</strong></td>
                <td class="b2a"><strong>Yes</strong></td>
            </tr>
            <tr>
                <td class="bb1 text-left bs-r"><strong>Age of phones insured</strong></td>
                <td class="b2"><strong>&lt; 3</strong> Years</td>
                <td class="b2 bs-l"><strong>&lt; 6</strong> Months</td>
                <td class="b2"><strong>&lt; 3</strong> Years</td>
                <td class="b2"><strong>&lt; 18</strong> Months</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="policy__info mx-4 mx-lg-5 py-4">
    <h4 class="text-blue1 mb-4">Here’s how we compare to other insurers:</h4>
    <div class="d-xl-flex justify-content-lg-center">
        <table class="table-list mx-auto mb-5 table-list__insurers">
            <thead>
                <tr>
                    <th class="table-list__header h4 text-white">Traditional Insurers</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-dark text-white">4-18 days wait on average*</span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-dark text-white">Cover starts after 14 days</span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-dark text-white">Only phones purchased within  30 days are covered</span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-dark text-white">You'll need to have a law degree  to understand the terms</span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4 border-fix">
                        <span class="table-list__icn table-list__icn-dark text-white">Unnecessarily expensive</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-list mx-auto mb-5 table-list__so-sure">
            <thead>
                <tr>
                    <th class="table-list__header h4 text-white blue-gradient-ld"><img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-light.svg" width="130px"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-happy"><strong>24-72 hour replace/repair once claim approved</strong></span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-happy"><strong>Immediate cover</strong></span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-happy"><strong>Refurbished and second-hand devices up to 3 years old covered</strong></span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-happy"><strong>Plain English Terms &amp; Conditions</strong></span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-happy"><strong>We’re up to 40% cheaper</strong></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="text-blue1"><small>*FCA report Dec 2015</small></p>
</div>
<div class="policy__info mx-4 mx-lg-5 py-4 text-center text-lg-left">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-qr.png" alt="so-sure - super quick cover" width="180px">
        </div>
        <div class="col-md-8">
            <h4 class="my-4 text-blue1">Excess</h4>
            <p class="mb-5 text-white">Our excess is as low as &pound;50 for accidental damage and &pound;70 for loss and theft when you validate your phone with our app. If you don't validate your phone with our app the excess is &pound;150</p>
            <a href="{{ path('faq') }}#the-so-sure-app-and-pic-sure" target="_blank" class="btn btn-outline-white mb-4">Find out more</a>
        </div>
    </div>
</div>
<div class="policy__info mx-4 mx-lg-5 py-4 text-center text-lg-left">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_wallet-cashback.png" alt="so-sure - Up to 40% cheaper" class="mb-4" width="180px">
        </div>
        <div class="col-md-8 text-white">
            <h4 class="my-4 text-blue1">Cashback and Social Insurance</h4>
            <p>Get up to 80% cashback every year when you and your friends don’t claim.</p>
                <h5 class="text-blue1">How?</h5>
            <p class="mb-5">Connect to friends/family and each receive up to £10 in your individual Reward Pots. At the end of the year, when you and your connections haven’t claimed, your Reward Pot is paid out to you</p>
            {# <a href="#" class="btn btn-outline-blue1 mr-lg-2"><i class="far fa-play-circle fa-lg"></i> Watch video</a> #}
            <a href="{{ path('faq') }}#social-insurance-and-reward-pot" target="_blank" class="btn btn-outline-white mb-4">Find out more</a>
        </div>
    </div>
</div>
<div class="policy__info mx-4 mx-lg-5 py-4">
    <h4 class="text-blue1 mb-4">Top FAQ's</h4>
    <div class="expanding-cardbox expanding-cardbox-alt mb-4">
        <div class="expanding-cardbox__body">
            <h5 class="expanding-cardbox__title text-white mb-0">
                Why should I use you? <i class="far fa-chevron-down text-white fa-lg"></i>
            </h5>
            <div class="expanding-cardbox__expand text-white mt-4">
                <p>Unlike other insurers, we're less focused on profit, and more focused on giving customers value.  Our mission is to make insurance better and cheaper for honest people,  and that's why we've developed clever anti-fraud tech that makes your life easier. Plus we're the only insurer that gives you <a href="{{ path('faq') }}#social-insurance-and-reward-pot" class="text-white">money back</a>.</p>
                <ul class="mb-0">
                    <li>Instant cover from purchase</li>
                    <li>24-72 hour replacement once your claim is approved</li>
                    <li>Hassle-Free Claims</li>
                    <li>Low excess from just &pound;50 when validated with our anti-fraud technology. If not validated then excess is &pound;150</li>
                    <li>Insure mobiles up to 3 years old</li>
                    <li>No proof of purchase required upfront, or at all when you use our anti-fraud technology</li>
                    <li>Rewards when you and your connections don't claim - up to 80% of your premium back</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-alt mb-4">
        <div class="expanding-cardbox__body">
            <h5 class="expanding-cardbox__title text-white mb-0">
                How much is excess? <i class="far fa-chevron-down text-white fa-lg"></i>
            </h5>
            <div class="expanding-cardbox__expand text-white mt-4">
                <p>Our excess is as low as &pound;50 for accidental damage and &pound;70 for loss and theft when you validate your phone with our anti-fraud technology.</p>
                <p class="mb-0"><strong>If you don't validate your phone with pic-sure the excess is &pound;150</strong>.</p>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-alt mb-4">
        <div class="expanding-cardbox__body">
            <h5 class="expanding-cardbox__title text-white mb-0">
                I bought a used phone/my friend gave me an older phone can I still insure it? <i class="far fa-chevron-down text-white fa-lg"></i>
            </h5>
            <div class="expanding-cardbox__expand text-white mt-4">
                <p class="mb-0">Yes we are able to insure second-hand phones provided they are in full working condition, without any damage, and less than 3 years old.</p>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-alt mb-4">
        <div class="expanding-cardbox__body">
            <h5 class="expanding-cardbox__title text-white mb-0">
                Can I insure a mobile phone I bought from eBay or another auction site? <i class="far fa-chevron-down text-white fa-lg"></i>
            </h5>
            <div class="expanding-cardbox__expand text-white mt-4">
                <p>Yes, you can take out insurance on a second hand phone.</p>
                <p class="mb-0">The phone bought needs to have orginally been sold into the UK market prior your purchase (eg we don't insure models sold in China).</p>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-alt mb-4">
        <div class="expanding-cardbox__body">
            <h5 class="expanding-cardbox__title text-white mb-0">
                If I pay annually do I get a discount? <i class="far fa-chevron-down text-white fa-lg"></i>
            </h5>
            <div class="expanding-cardbox__expand text-white mt-4">
                <p class="mb-0">Our Reward Pot allow us to give you the best possible pricing, so sorry we do not provide annual discounts.</p>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-alt mb-4">
        <div class="expanding-cardbox__body">
            <h5 class="expanding-cardbox__title text-white mb-0">
                Is there an age limit on the mobile phone I want to insure? <i class="far fa-chevron-down text-white fa-lg"></i>
            </h5>
            <div class="expanding-cardbox__expand text-white mt-4">
                <p class="mb-0">The phone you want to insure must be <strong>less than 3 years old</strong> from when your policy begins.</p>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-alt mb-4">
        <div class="expanding-cardbox__body">
            <h5 class="expanding-cardbox__title text-white mb-0">
                What is an IMEI number and how do I find out the IMEI of my mobile phone? <i class="far fa-chevron-down text-white fa-lg"></i>
            </h5>
            <div class="expanding-cardbox__expand text-white mt-4">
                <p>The IMEI (International Mobile Equipment Identification) number of your mobile phone is a unique identification code that is specific to your mobile phone.  If you change your mobile phone, it is important that you call us so we can update your policy with the correct details.</p>
                <h4>For iOS (Apple) users:</h4>
                <p>Unfortunately, as we need your serial number on iOS you can’t just dial a number (although dialing the same number as above will reveal your IMEI number).</p>
                <p>As such you can find both numbers by going to <strong>Settings &gt; General &gt; About</strong>.</p>
                <p>If you’re using our app (or if requested by support), you can take a screenshot by pressing the <strong>Sleep/Wake</strong> and <strong>Home</strong> buttons at the same time until you see the screen flash quickly.</p>
                <h4>For Android users:</h4>
                <p>The easiest way to find your phone’s IMEI number if you’re on an Android device is to simply dial <strong>*#06#</strong>.</p>
                <p>If you’re still having trouble, then you should be able to find it in <strong>Settings &gt; About phone &gt; Status &gt; IMEI information</strong>.</p>
                <p>Your serial number will be on the Status screen.</p>
                <p class="mb-0">If requested by support, you can take a screenshot on most Android phones by holding the volume down and the power buttons for 1-2 seconds. The screen should flash and the photo can be found in your photos app.</p>
            </div>
        </div>
    </div>
</div>
<div class="policy__info mx-4 mx-lg-5 py-4">
    <div class="row text-center text-lg-left">
        <div class="col-md-3">
            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="so-sure - Simple Terms &amp; Conditions" width="180px">
        </div>
        <div class="col-md-8 text-white">
            <h4 class="my-4 text-blue1">About the {{ phone.make }} {{ phone.model }}</h4>
            <ul class="list-inline">
                <li class="list-inline-item"><strong class="h5">Camera</strong>: {{ phone.camera }} MP</li>
                <li class="list-inline-item text-blue1">|</li>
                <li class="list-inline-item"><strong class="h5">Size</strong>: {{ phone.getScreenPhysicalInch }}</li>
                <li class="list-inline-item text-blue1">|</li>
                <li class="list-inline-item"><strong class="h5">Screen Resolution</strong>: {{ phone.getScreenResolution }}</li>
                <li class="list-inline-item text-blue1">|</li>
                <li class="list-inline-item"><strong class="h5">RAM</strong>: {{ phone.getRamDisplay }}</li>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade"
     id="table_24_72_hours"
     tabindex="-1" role="dialog"
     aria-labelledby="table_24_72_hours"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">24-72 hour replace/repair</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center text-sm-left">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="so-sure - Policy" width="120px">
                    </div>
                    <div class="col-sm-8">
                        Some repairs can take longer (eg water damage) but we will be as fast as possible once your claim approved
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"
     id="table_excess_50"
     tabindex="-1" role="dialog"
     aria-labelledby="table_excess_50"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excess from £50</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center text-sm-left">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="so-sure - Policy" width="120px">
                    </div>
                    <div class="col-sm-8">
                        Some repairs can take longer (eg water damage) but we will be as fast as possible once your claim approved
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"
     id="table_pop"
     tabindex="-1" role="dialog"
     aria-labelledby="table_pop"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">No Proof of Purchase</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center text-sm-left">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="so-sure - Policy" width="120px">
                    </div>
                    <div class="col-sm-8">
                        Some repairs can take longer (eg water damage) but we will be as fast as possible once your claim approved
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
