{% if phone is defined %}
    {% set device = phone %}
{% else %}
    {% set device = policy.phone %}
{% endif %}

<div class="policy__info mx-4 mx-lg-5 py-5">
    {% if body_class is defined and body_class != 'quote' %}
        <div class="h1 text-white">{{ device.make }} {{ device.model }} <span class="sub">({{ device.memory }}GB)</span></div>
    {% endif %}
    <div class="h1 text-columbia-blue-e mb-5">Full Cover Details</div>
    <h4 class="text-columbia-blue-e mb-4">What's covered:</h4>
    <ul class="list-unstyled icn-fa-list mb-0">
        <li class="text-white mb-3"><i class="far fa-check text-columbia-blue-e fa-lg"></i> Loss &amp; Theft</li>
        <li class="text-white mb-3"><i class="far fa-check text-columbia-blue-e fa-lg"></i> Accidental Damage, including water damage &amp; cracked screens</li>
        <li class="text-white mb-3"><i class="far fa-check text-columbia-blue-e fa-lg"></i> 90 days global travel</li>
        <li class="text-white mb-3"><i class="far fa-check text-columbia-blue-e fa-lg"></i> Out of warranty breakdown</li>
        <li class="text-white mb-3"><i class="far fa-check text-columbia-blue-e fa-lg"></i> Unauthorised network charges up the value of &pound;1000 (inc VAT)</li>
        <li class="text-white mb-3"><i class="far fa-check text-columbia-blue-e fa-lg"></i> Accessories up to the value of £100 (inc VAT) for theft or loss claims</li>
        <li class="text-white mb-5"><i class="far fa-check text-columbia-blue-e fa-lg"></i> Cover for phones up to 3 years old, including second hand and refurbished devices</li>
    </ul>
    <h4 class="text-columbia-blue-e my-4">What's not covered:</h4>
    <ul class="list-unstyled icn-fa-list mb-0">
        <li class="text-white mb-3"><i class="far fa-times text-columbia-blue-e fa-lg"></i> Theft, Loss, Accidental Damage or Breakdown where you have knowingly put your phone at risk</li>
        <li class="text-white mb-5"><i class="far fa-times text-columbia-blue-e fa-lg"></i> 3+ claims for Loss and/or Theft in any policy year</li>
    </ul>
    <h4 class="text-columbia-blue-e my-4">Insurance Product Information Document:</h4>
    <ul class="list-unstyled icn-fa-list mb-0">
        <li class="text-white mb-3"><i class="fal fa-info-circle text-columbia-blue-e fa-lg"></i> The insurance product information document (IPID) is a simple, standardised document that you can use to compare policies with other insurers in the UK and EU.</li>
        <li class="text-white mb-5">
            <i class="fal fa-file-download text-columbia-blue-e fa-lg"></i>
            <a href="{{ cdn_url }}/files/IPID_so-sure_030918.pdf"
               target="_blank"
               rel="noopener noreferrer"
               class="sosure-track text-white"
               data-event="user-download-ipid"
               data-event-url="{{ cdn_url }}/files/IPID_so-sure_030918.pdf"><u>Download a copy of our IPID</u></a>
        </li>
    </ul>
</div>
{# <div class="policy__info mx-4 mx-lg-5 py-5">
    <h4 class="text-columbia-blue-e mb-4">Here’s how we compare to competitors:</h4>
    <table width="100%" class="table-comparison table-comparison-carousel dark-table d-table d-sm-none">
        <thead>
            <tr>
                <th width="50%" class="wh">
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_app-icn.svg" width="65px" alt="so-sure" class="mt-2">
                </th>
                <th width="50%" class="b4">
                    <a href="#" class="td-prev-btn"><i class="fal fa-angle-left fa-3x text-columbia-blue-e"></i></a>
                    <div class="td-container">
                        <span class="td-swap td-active">
                            Protect Your Bubble
                        </span>
                        <span class="td-swap">
                            Gadget <br> Cover
                        </span>
                        <span class="td-swap">
                            Loveit<br>coverit <br>.co.uk
                        </span>
                    </div>
                    <a href="#" class="td-next-btn"><i class="fal fa-angle-right fa-3x text-columbia-blue-e"></i></a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-30 bb1" colspan="2" align="center">
                    <strong>Time to repair / replace after approval</strong>
                </td>
            </tr>
            <tr>
                <td class="b2a">
                    <strong>24 - 72</strong> <div>hours</div>
                </td>
                <td class="b2">
                    <div class="td-container">
                        <span class="td-swap td-active">
                            <strong>1 - 5</strong> days <div>depending on stock</div>
                        </span>
                        <span class="td-swap">
                            <strong>5 - 7</strong> <div>working days</div>
                        </span>
                        <span class="td-swap">
                            <strong>1 - 5</strong> <div>working days</div>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-30 bb1" colspan="2" align="center">
                    <strong>Up to 80% Cashback at end of policy year</strong>
                </td>
            </tr>
            <tr>
                <td class="b2a">
                    <i class="far fa-check fa-2x"></i>
                </td>
                <td class="b2">
                    <div class="td-container">
                        <span class="td-swap td-active">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-30 bb1" colspan="2" align="center">
                    <strong>Loss, Theft &amp; Accidental Damage included as standard</strong>
                </td>
            </tr>
            <tr>
                <td class="b2a">
                    <i class="far fa-check fa-2x"></i>
                </td>
                <td class="b2">
                    <div class="td-container">
                        <span class="td-swap td-active">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-30 bb1" colspan="2" align="center">
                    <strong>Insure second hand phones</strong>
                </td>
            </tr>
            <tr>
                <td class="b2a">
                    <i class="far fa-check fa-2x"></i>
                </td>
                <td class="b2">
                    <div class="td-container">
                        <span class="td-swap td-active">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-30 bb1" colspan="2" align="center">
                    <strong>Cover for phones purchased up to</strong>
                </td>
            </tr>
            <tr>
                <td class="b2a">
                    <strong>3 years</strong> <div>from purchase</div>
                </td>
                <td class="b2">
                    <div class="td-container">
                    <span class="td-swap td-active">
                        <strong>6 months</strong> <div>from purchase</div>
                    </span>
                    <span class="td-swap">
                        <strong>18 months</strong> <div>from purchase</div>
                    </span>
                    <span class="td-swap">
                        <strong>3 years</strong> <div>from purchase</div>
                    </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-30 bb1" colspan="2" align="center">
                    <strong>Save up to £100 off your excess</strong>
                </td>
            </tr>
            <tr>
                <td class="b2a">
                    <i class="far fa-check fa-2x"></i>
                </td>
                <td class="b2">
                    <div class="td-container">
                        <span class="td-swap td-active">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                           <i class="far fa-times fa-2x"></i>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-30 bb1" colspan="2" align="center">
                    <strong>Trustpilot rating</strong>
                </td>
            </tr>
            <tr>
                <td class="b2a">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </td>
                <td class="b2">
                    <div class="td-container">
                        <span class="td-swap td-active">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="td-swap">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="td-swap">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table-comparison dark-table d-none d-sm-block">
        <thead>
            <tr>
                <th width="24%" class="b2 text-left bs-r"><span class="h5">Features</span></th>
                <th width="19%" class="wh"><img src="{{ cdn_url }}/images/rebrand/icns/so-sure_app-icn.svg" width="65px" alt="so-sure" class="mt-2"></th>
                <th width="19%" class="b4 bs-l">Protect Your Bubble</th>
                <th width="19%" class="b4">Gadget <br> Cover</th>
                <th width="19%" class="b4">Loveit <br> coverIt.co.uk</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bb1 text-left bs-r"><strong>Time to repair / replace after approval</strong></td>
                <td class="b2">
                    <strong>24 - 72</strong> <div>hours</div>
                </td>
                <td class="b2 bs-l"><strong>1 - 5</strong> days <div>depending on stock</div></td>
                <td class="b2"><strong>5 - 7</strong> <div>working days</div></td>
                <td class="b2"><strong>1 - 5</strong> <div>working days</div></td>
            </tr>
            <tr>
                <td class="wh text-left bs-r"><strong>Up to 80% Cashback at end of policy year</strong></td>
                <td class="b2a">
                    <i class="far fa-check fa-2x"></i>
                    <a href="#"
                       class="td-info-btn"
                       data-toggle="modal"
                       data-target="#policy_cashback"
                       role="button">
                        <i class="fal fa-info-circle fa-lg"></i>
                    </a>
                </td>
                <td class="b2a bs-l"><i class="far fa-times fa-2x"></i></td>
                <td class="b2a"><i class="far fa-times fa-2x"></i></td>
                <td class="b2a"><i class="far fa-times fa-2x"></i></td>
            </tr>
            <tr>
                <td class="bb1 text-left bs-r">
                    <strong>Loss, Theft &amp; Accidental Damage</strong> <br> <small>included as standard</small>
                </td>
                <td class="b2">
                    <i class="far fa-check fa-2x"></i>
                    <a href="#"
                       class="td-info-btn"
                       data-toggle="modal"
                       data-target="#policy_comprehensive"
                       role="button">
                        <i class="fal fa-info-circle fa-lg"></i>
                    </a>
                </td>
                <td class="b2 bs-l"><i class="far fa-times fa-2x"></i></td>
                <td class="b2"><i class="far fa-times fa-2x"></i></td>
                <td class="b2"><i class="far fa-times fa-2x"></i></td>
            </tr>
            <tr>
                <td class="wh text-left bs-r"><strong>Insure second hand phones</strong></td>
                <td class="b2a">
                    <i class="far fa-check fa-2x"></i>
                </td>
                <td class="b2a bs-l"><i class="far fa-times fa-2x"></i></td>
                <td class="b2a"><i class="far fa-times fa-2x"></i></td>
                <td class="b2a"><i class="far fa-times fa-2x"></i></td>
            </tr>
            <tr>
                <td class="bb1 text-left bs-r"><strong>Cover for phones purchased up to</strong></td>
                <td class="b2"><strong>3 years</strong> <div>from purchase</div></td>
                <td class="b2 bs-l"><strong>6 months</strong> <div>from purchase</div></td>
                <td class="b2"><strong>18 months</strong> <div>from purchase</div></td>
                <td class="b2"><strong>3 years</strong> <div>from purchase</div></td>
            </tr>
            <tr>
                <td class="wh text-left bs-r"><strong>Save up to £100 off your excess</strong></td>
                <td class="b2a">
                    <i class="far fa-check fa-2x"></i>
                    <a href="#"
                       class="td-info-btn"
                       data-toggle="modal"
                       data-target="#policy_excess_50"
                       role="button">
                        <i class="fal fa-info-circle fa-lg"></i>
                    </a>
                </td>
                <td class="b2a bs-l"><i class="far fa-times fa-2x"></i></td>
                <td class="b2a"><i class="far fa-times fa-2x"></i></td>
                <td class="b2a"><i class="far fa-times fa-2x"></i></td>
            </tr>
            <tr>
                <td class="bb1 text-left bs-r"><strong>Trustpilot rating</strong></td>
                <td class="b2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </td>
                <td class="b2 bs-l">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </td>
                <td class="b2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </td>
                <td class="b2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="text-columbia-blue-e mb-0 mt-5"><small>*Information checked on September 1st 2018</small></p>
</div> #}
<div class="policy__info mx-4 mx-lg-5 py-5">
    <h4 class="text-columbia-blue-e mb-4">Here’s how we compare to other insurers:</h4>
    <div class="d-xl-flex justify-content-lg-center">
        <table class="table-list mx-auto table-list__insurers mb-5">
            <thead>
                <tr>
                    <th class="table-list__header h4 text-white">Traditional Insurers</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-dark text-white">4-18 days wait on average*</span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-dark text-white">Cover starts after 14 days</span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-dark text-white">Only phones purchased within 30 days are covered</span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-dark text-white">You'll need to have a law degree to understand the terms</span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4 border-fix">
                        <span class="table-list__icn table-list__icn-dark text-white">Unnecessarily expensive</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-list mx-auto table-list__so-sure">
            <thead>
                <tr>
                    <th class="table-list__header h4 text-white blue-gradient"><img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-light.svg" width="130px"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-happy"><strong>24-72 hour replace/repair once claim approved</strong></span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-happy"><strong>Immediate cover</strong></span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-happy"><strong>Refurbished and second-hand devices up to 3 years old covered</strong></span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-happy"><strong>Plain English Terms &amp; Conditions</strong></span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-happy"><strong>We’re up to 40% cheaper</strong></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="text-columbia-blue-e mb-0 mt-1"><small>*FCA report Dec 2015</small></p>
</div>
<div class="policy__info mx-4 mx-lg-5 py-5 text-center text-lg-left">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-qr.png" alt="so-sure - super quick cover" width="180px">
        </div>
        <div class="col-md-8">
            <h4 class="my-4 text-columbia-blue-e">Excess</h4>
            <p class="mb-5 text-white">Our excess is as low as &pound;50 for accidental damage and &pound;70 for loss and theft when you validate your phone with our app. If you don't validate your phone with our app the excess is &pound;150</p>
            <a href="{{ path('faq') }}#the-so-sure-app-and-pic-sure" target="_blank" class="btn btn-outline-white">Find out more</a>
        </div>
    </div>
</div>
<div class="policy__info mx-4 mx-lg-5 py-5 text-center text-lg-left">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_wallet-cashback.png" alt="so-sure - Up to 40% cheaper" class="mb-4" width="180px">
        </div>
        <div class="col-md-8 text-white">
            <h4 class="my-4 text-columbia-blue-e">Cashback and Social Insurance</h4>
            <p>Get up to 80% cashback every year when you and your friends don’t claim.</p>
                <h5 class="text-columbia-blue-e">How?</h5>
            <p class="mb-5">Connect to friends/family and each receive up to £10 in your individual Reward Pots. At the end of the year, when you and your connections haven’t claimed, your Reward Pot is paid out to you</p>
            {# <a href="#" class="btn btn-outline-columbia-blue-e mr-lg-2"><i class="far fa-play-circle fa-lg"></i> Watch video</a> #}
            <a href="{{ path('faq') }}#social-insurance-and-reward-pot" target="_blank" class="btn btn-outline-white">Find out more</a>
        </div>
    </div>
</div>
<div class="policy__info mx-4 mx-lg-5 py-5">
    <h4 class="text-columbia-blue-e mb-4">Top FAQ's</h4>
    <div class="expanding-cardbox expanding-cardbox-alt mb-4">
        <div class="expanding-cardbox__body">
            <h5 class="expanding-cardbox__title text-white mb-0">
                Why should I use you? <i class="far fa-chevron-down text-white fa-lg"></i>
            </h5>
            <div class="expanding-cardbox__expand text-white mt-4">
                <p>Unlike other insurers, we're less focused on profit, and more focused on giving customers value.  Our mission is to make insurance better and cheaper for honest people,  and that's why we've developed clever anti-fraud tech that makes your life easier. Plus we're the only insurer that gives you <a href="{{ path('faq') }}#social-insurance-and-reward-pot" class="text-white">money back</a>.</p>
                <ul class="mb-0">
                    <li>Instant cover from purchase</li>
                    <li>24-72 hour replacement once your claim is approved</li>
                    <li>Hassle-Free Claims</li>
                    <li>Low excess from just &pound;50 when validated with our anti-fraud technology. If not validated then excess is &pound;150</li>
                    <li>Insure mobiles up to 3 years old</li>
                    <li>No proof of purchase required upfront, or at all when you use our anti-fraud technology</li>
                    <li>Rewards when you and your connections don't claim - up to 80% of your premium back</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-alt mb-4">
        <div class="expanding-cardbox__body">
            <h5 class="expanding-cardbox__title text-white mb-0">
                How much is excess? <i class="far fa-chevron-down text-white fa-lg"></i>
            </h5>
            <div class="expanding-cardbox__expand text-white mt-4">
                <p>Our excess is as low as &pound;50 for accidental damage and &pound;70 for loss and theft when you validate your phone with our anti-fraud technology.</p>
                <p class="mb-0"><strong>If you don't validate your phone with pic-sure the excess is &pound;150</strong>.</p>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-alt mb-4">
        <div class="expanding-cardbox__body">
            <h5 class="expanding-cardbox__title text-white mb-0">
                I bought a used phone/my friend gave me an older phone can I still insure it? <i class="far fa-chevron-down text-white fa-lg"></i>
            </h5>
            <div class="expanding-cardbox__expand text-white mt-4">
                <p class="mb-0">Yes we are able to insure second-hand phones provided they are in full working condition, without any damage, and less than 3 years old.</p>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-alt mb-4">
        <div class="expanding-cardbox__body">
            <h5 class="expanding-cardbox__title text-white mb-0">
                Can I insure a mobile phone I bought from eBay or another auction site? <i class="far fa-chevron-down text-white fa-lg"></i>
            </h5>
            <div class="expanding-cardbox__expand text-white mt-4">
                <p>Yes, you can take out insurance on a second hand phone.</p>
                <p class="mb-0">The phone bought needs to have orginally been sold into the UK market prior your purchase (eg we don't insure models sold in China).</p>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-alt mb-4">
        <div class="expanding-cardbox__body">
            <h5 class="expanding-cardbox__title text-white mb-0">
                If I pay annually do I get a discount? <i class="far fa-chevron-down text-white fa-lg"></i>
            </h5>
            <div class="expanding-cardbox__expand text-white mt-4">
                <p class="mb-0">Our Reward Pot allow us to give you the best possible pricing, so sorry we do not provide annual discounts.</p>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-alt mb-4">
        <div class="expanding-cardbox__body">
            <h5 class="expanding-cardbox__title text-white mb-0">
                Is there an age limit on the mobile phone I want to insure? <i class="far fa-chevron-down text-white fa-lg"></i>
            </h5>
            <div class="expanding-cardbox__expand text-white mt-4">
                <p class="mb-0">The phone you want to insure must be <strong>less than 3 years old</strong> from when your policy begins.</p>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-alt mb-4">
        <div class="expanding-cardbox__body">
            <h5 class="expanding-cardbox__title text-white mb-0">
                What is an IMEI number and how do I find out the IMEI of my mobile phone? <i class="far fa-chevron-down text-white fa-lg"></i>
            </h5>
            <div class="expanding-cardbox__expand text-white mt-4">
                <p>The IMEI (International Mobile Equipment Identification) number of your mobile phone is a unique identification code that is specific to your mobile phone.  If you change your mobile phone, it is important that you call us so we can update your policy with the correct details.</p>
                <h4>For iOS (Apple) users:</h4>
                <p>Unfortunately, as we need your serial number on iOS you can’t just dial a number (although dialing the same number as above will reveal your IMEI number).</p>
                <p>As such you can find both numbers by going to <strong>Settings &gt; General &gt; About</strong>.</p>
                <p>If you’re using our app (or if requested by support), you can take a screenshot by pressing the <strong>Sleep/Wake</strong> and <strong>Home</strong> buttons at the same time until you see the screen flash quickly.</p>
                <h4>For Android users:</h4>
                <p>The easiest way to find your phone’s IMEI number if you’re on an Android device is to simply dial <strong>*#06#</strong>.</p>
                <p>If you’re still having trouble, then you should be able to find it in <strong>Settings &gt; About phone &gt; Status &gt; IMEI information</strong>.</p>
                <p>Your serial number will be on the Status screen.</p>
                <p class="mb-0">If requested by support, you can take a screenshot on most Android phones by holding the volume down and the power buttons for 1-2 seconds. The screen should flash and the photo can be found in your photos app.</p>
            </div>
        </div>
    </div>
</div>
<div class="policy__info mx-4 mx-lg-5 py-5">
    <div class="row text-center text-lg-left">
        <div class="col-md-3">
            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="so-sure - Simple Terms &amp; Conditions" width="180px">
        </div>
        <div class="col-md-8 text-white">
            <h4 class="my-4 text-columbia-blue-e">About the {{ device.make }} {{ device.model }}</h4>
            <ul class="list-inline mb-0">
                <li class="list-inline-item"><strong class="h5">Camera</strong>: {{ device.camera }} MP</li>
                <li class="list-inline-item text-columbia-blue-e">|</li>
                <li class="list-inline-item"><strong class="h5">Size</strong>: {{ device.getScreenPhysicalInch }}</li>
                <li class="list-inline-item text-columbia-blue-e">|</li>
                <li class="list-inline-item"><strong class="h5">Screen Resolution</strong>: {{ device.getScreenResolution }}</li>
                <li class="list-inline-item text-columbia-blue-e">|</li>
                <li class="list-inline-item"><strong class="h5">RAM</strong>: {{ device.getRamDisplay }}</li>
            </ul>
        </div>
    </div>
</div>
