<div class="policy__info mx-4 mx-lg-5 py-5">
    <div class="h1 text-white">{{ phone.make }} {{ phone.model }}
            <small>({{ phone.memory }}GB)</small></div>
    <div class="h1 text-blue1 mb-5">Full Cover Details</div>
    <h4 class="text-blue1 mb-4">What's covered:</h4>
    <ul class="list-unstyled icn-fa-list">
        <li class="text-white mb-3"><i class="far fa-check text-blue1 fa-lg"></i> Loss</li>
        <li class="text-white mb-3"><i class="far fa-check text-blue1 fa-lg"></i> Accidental Damage, including water damage &amp; cracked screens</li>
        <li class="text-white mb-3"><i class="far fa-check text-blue1 fa-lg"></i> 90 days global travel</li>
        <li class="text-white mb-3"><i class="far fa-check text-blue1 fa-lg"></i> Out of warranty breakdown</li>
        <li class="text-white mb-3"><i class="far fa-check text-blue1 fa-lg"></i> Unauthorised network charges up the value of &pound;1000 (inc VAT)</li>
        <li class="text-white mb-3"><i class="far fa-check text-blue1 fa-lg"></i> Accessories up to the value of £100 (inc VAT) for theft of loss claims</li>
        <li class="text-white mb-5"><i class="far fa-check text-blue1 fa-lg"></i> Cover for phones up to 3 years old, including second hand and refurbished devices</li>
    </ul>
    <h4 class="text-blue1 my-4">What's not covered:</h4>
    <ul class="list-unstyled icn-fa-list">
        <li class="text-white mb-3"><i class="far fa-times text-blue1 fa-lg"></i> Theft, Loss, Accidental Damage or Breakdown where you have knowingly put your phone at risk</li>
        <li class="text-white mb-3"><i class="far fa-times text-blue1 fa-lg"></i> 3+ claims for Loss and/or Theft in any policy year</li>
    </ul>
</div>
<div class="policy__info mx-4 mx-lg-5 py-5">
    <h4 class="text-blue1 mb-4">Here’s how we compare to competitors:</h4>
    {# TODO: Competitors table #}
</div>
<div class="policy__info mx-4 mx-lg-5 py-5">
    <h4 class="text-blue1 mb-4">Here’s how we compare to other insurers:</h4>
    <div class="d-xl-flex justify-content-lg-center">
        <table class="table-list mx-auto mb-5 table-list__insurers">
            <thead>
                <tr>
                    <th class="table-list__header h4 text-white">Traditional Insurers</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-dark text-white">4-18 days wait on average</span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-dark text-white">Cover starts after 14 days</span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-dark text-white">Only phones purchased within  30 days are covered</span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-dark text-white">You'll need to have a law degree  to understand the terms</span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4 border-fix">
                        <span class="table-list__icn table-list__icn-dark text-white">Unnecessarily expensive</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-list mx-auto mb-5 table-list__so-sure">
            <thead>
                <tr>
                    <th class="table-list__header h4 text-white blue-gradient-ld"><img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-light.svg" width="130px"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-happy"><strong>24-72 hour replacement once claim approved</strong></span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-happy"><strong>Immediate cover</strong></span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-happy"><strong>Refurbished and second-hand devices up to 3 years old covered</strong></span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-happy"><strong>Plain English Terms &amp; Conditions</strong></span>
                    </td>
                </tr>
                <tr>
                    <td class="py-3 px-4">
                        <span class="table-list__icn table-list__icn-happy"><strong>We’re up to 40% cheaper</strong></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="text-blue1"><small>*FCA report Dec 2015</small></p>
</div>
<div class="policy__info mx-4 mx-lg-5 py-5  text-center text-lg-left">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_pic-sure-lg-icn.svg" alt="so-sure - super quick cover" class="rounded-circle mb-4" width="150px">
        </div>
        <div class="col-md-8">
            <h4 class="mt-0 mb-4 text-blue1">Excess</h4>
            <p class="mb-5 text-white">Our excess is as low as &pound;50 for accidental damage and &pound;70 for loss and theft when you validate your phone with our app. If you don't validate your phone with our app the standard excess is &pound;150</p>
            {# <a href="#" class="btn btn-outline-blue1">Find out more</a> #}
        </div>
    </div>
</div>
<div class="policy__info mx-4 mx-lg-5 py-5 text-center text-lg-left">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_wallet-lg-icn.svg" alt="so-sure - Up to 40% cheaper" class="rounded-circle mb-4" width="150px">
        </div>
        <div class="col-md-8 text-white">
            <h4 class="mt-0 mb-4 text-blue1">Cashback and Social Insurance</h4>
            <p>Get up to 80% cashback every year when you and your friends don’t claim.</p>
                <h5 class="text-blue1">How?</h5>
            <p class="mb-5">Connect to friends/family and each receive up to £10 in your individual Reward Pots. At the end of the year, when you and your connections haven’t claimed, your Reward Pot is paid out to you</p>
            <a href="#" class="btn btn-outline-blue1 mr-lg-2"><i class="far fa-play-circle fa-lg"></i> Watch video</a>
            <a href="#" class="btn btn-outline-blue1">Find out more</a>
        </div>
    </div>
</div>
<div class="policy__info mx-4 mx-lg-5 py-5">
    <h4 class="text-blue1 mb-4">Top FAQ's</h4>
    <div class="expanding-cardbox expanding-cardbox-alt mb-4">
        <div class="expanding-cardbox__body">
            <h5 class="expanding-cardbox__title text-white mb-0">
                Here's how it works <i class="far fa-chevron-down text-white fa-lg"></i>
            </h5>
            <div class="expanding-cardbox__expand text-white mt-4">
                We reward our careful customers. If you and your connections don’t make a claim, we return up to 80% of your premium each year.
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-alt mb-4">
        <div class="expanding-cardbox__body">
            <h5 class="expanding-cardbox__title text-white mb-0">
                Here's how it works <i class="far fa-chevron-down text-white fa-lg"></i>
            </h5>
            <div class="expanding-cardbox__expand text-white mt-4">
                We reward our careful customers. If you and your connections don’t make a claim, we return up to 80% of your premium each year.
            </div>
        </div>
    </div>
</div>
<div class="policy__info mx-4 mx-lg-5 py-5">
    <div class="row text-center text-lg-left">
        <div class="col-md-3">
            <img src="http://via.placeholder.com/150x150" class="rounded-circle mb-3">
        </div>
        <div class="col-md-8 text-white">
            <h4 class="mt-0 mb-4 text-blue1">About the {{ phone.make }} {{ phone.model }}</h4>
            <ul class="list-inline">
                <li class="list-inline-item"><strong class="h5">Camera</strong>: {{ phone.camera }} MP</li>
                <li class="list-inline-item text-blue1">|</li>
                <li class="list-inline-item"><strong class="h5">Size</strong>: {{ phone.getScreenPhysicalInch }}</li>
                <li class="list-inline-item text-blue1">|</li>
                <li class="list-inline-item"><strong class="h5">Screen Resolution</strong>: {{ phone.getScreenResolution }}</li>
                <li class="list-inline-item text-blue1">|</li>
                <li class="list-inline-item"><strong class="h5">RAM</strong>: {{ phone.getRamDisplay }}</li>
            </ul>
        </div>
    </div>
</div>
