{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}

{% block title %}{{ phone.model }} Insurance - {{ phone.make }} - so-sure: Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="For a small monthly fee your phone is covered for theft, loss, accidental damage and unauthorised usage."/>
    <link rel="canonical" href="{{ url('quote_make_model', {'make': phone.makeCanonical, 'model': phone.encodedModelCanonical}) }}" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/homepage.scss'
    '@AppBundle/Resources/public/sass/page/adwordsLanding.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    {# Hero #}
    <section class="section--pad landing__hero">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <h1 class="h-nom">{{ phone.make }} {{ phone.model }}</h1>
                    <p class="lead">Insurance that’s simple, reliable and altogether better.</p>
                    <ul class="list-unstyled fa-list-bullet">
                        <li>
                            <i class="fa fa-check text-green" aria-hidden="true"></i>
                            Instant cover
                        </li>
                        <li>
                            <i class="fa fa-check text-green" aria-hidden="true"></i>
                            Replacement phone within the 72 hours
                        </li>
                        <li>
                            <i class="fa fa-check text-green" aria-hidden="true"></i>
                            Damage, Loss, Theft &amp; Breakdown
                        </li>
                        <li>
                            <i class="fa fa-check text-green" aria-hidden="true"></i>
                            Worldwide cover
                        </li>
                        <li>
                            <i class="fa fa-check text-green" aria-hidden="true"></i>
                            Low excess from just £50 when validated with pic-sure
                        </li>
                    </ul>
                    <div class="h1">&pound;{{ phone_price.monthlyPremiumPrice }}</div>
                </div>
                <div class="col-sm-5">
                    <img src="{{ phone.imageUrlWithFallback }}"
                         alt="so-sure - {{ phone.make|capitalize }} {{ phone.model }} insurance"
                         class="img-center">
                    {% if phones | length > 1 %}
                        <div class="btn-group text-center" role="group">
                            {% for phone_mem in phones %}
                                {# <a {% if phone_mem.id != phone.id  %}href="{{ path('quote_make_model_memory', {'make': phone_mem.makeCanonical, 'model': phone_mem.encodedModelCanonical, 'memory': phone_mem.memory}) }}"{% else %}disabled{% endif %} class="btn btn-xs{% if phone_mem.id == phone.id  %}btn-blue{% else %}btn-blue-hollow{% endif %}">{{ phone_mem.memory }}GB</a> #}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {# Press #}
    <section class="homepage__press">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="list-inline text-center">
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_defaqto.svg" alt="Defaqto" title="Defaqto" class="homepage__press_defaqto"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_trustpilot.svg" alt="TrustPilot" title="TrustPilot" class="homepage__press_trustpilot"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_money.svg" alt="Money.co.uk" title="Money.co.uk" class="homepage__press_money"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_go-compare.svg" alt="Go Compare" title="Go Compare" class="homepage__press_gocompare"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_theguardian.svg" alt="The Guardian" title="The Guardian" class="homepage__press_theguardian"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_financial-times.svg" alt="Financial Times" title="Financial Times" class="homepage__press_financialtimes"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}
    <div class="modal modal-fullscreen fade"
         id="policy-modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="So-Sure Policy Terms"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-policy" data-url="{{ url('latest_policy_terms', {'policy_key': policy_key, 'maxPotValue':  max_pot, 'include': true, 'noH1': true }) }}">
                    <div class="text-center" style="margin-bottom: 20px;">
                        <img src="{{ cdn_url }}/images/spinner.svg" alt="Loading..."><br>
                        <a href="#" id="reload-policy" class="btn btn-blue-hollow" style="display:none;"><i class="fa fa-refresh" aria-hidden="true"></i> reload</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'AppBundle::Default/modalQuote.html.twig' with {'selectPhoneMakeType': 'other_pages'} %}
    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/lozad/lozad.min.js'
    'components/dot/doT.min.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/images.js'
    'components/rangeslider.js/rangeslider.min.js'
    '@AppBundle/Resources/public/js/Default/sliderNew.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeSearch.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeDropdown.js'
    '@AppBundle/Resources/public/js/Default/quote.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
