{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}

{% block title %}{{ phone.model }} Insurance - {{ phone.make }} - so-sure: Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="For a small monthly fee your phone is covered for theft, loss, accidental damage and unauthorised usage."/>
    <link rel="canonical" href="{{ url('quote_make_model', {'make': phone.makeCanonical, 'model': phone.encodedModelCanonical}) }}" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/homepage.scss'
    '@AppBundle/Resources/public/sass/page/adwordsLanding.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    {# Hero #}
    <section class="landing__hero">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-sm-offset-0 col-md-7 col-md-offset-1">
                    <h1>{{ phone.make }} {{ phone.model }} <small class="sr-only">{{ phone.memory }}GB</small></h1>
                    <span class="h3 h-light">Insurance that’s simple, reliable and altogether better.</span>
                    <ul class="list-unstyled fa-list-bullet">
                        <li>
                            <i class="fa fa-check text-green" aria-hidden="true"></i>
                            Excess Just &pound;50
                        </li>
                        <li>
                            <i class="fa fa-check text-green" aria-hidden="true"></i>
                            Theft, Loss &amp; Damage Covered
                        </li>
                        <li>
                            <i class="fa fa-check text-green" aria-hidden="true"></i>
                            Be covered within 5 minutes
                        </li>
                        <li>
                            <i class="fa fa-check text-green" aria-hidden="true"></i>
                            Worldwide Coverage
                        </li>
                        <li>
                            <i class="fa fa-check text-green" aria-hidden="true"></i>
                            24-72 Hour Replacement
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-8 col-sm-push-4 text-center">
                            <span class="h1">&pound;{{ phone_price.monthlyPremiumPrice }} <small>per month</small></span>
                        </div>
                        <div class="col-sm-4 col-sm-pull-8">
                            {{ form_start(buy_form) }}
                                {{ form_widget(buy_form.buy_tablet, {'label': 'GET INSURED', 'attr': {'class': 'btn btn-ad-green btn-pad btn-block'}}) }}
                            {{ form_end(buy_form) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="phone-img">
                        <img src="{{ phone.imageUrlWithFallback }}"
                             alt="so-sure - {{ phone.make|capitalize }} {{ phone.model }} {{ phone.memory }}GB insurance"
                             class="img-center hidden-xs" width="130px">
                    </div>
                    {% if phones | length > 1 %}
                        <div class="text-center">
                            <div class="h5">Different storage size?</div>
                            <div class="btn-group btn-group-sm" role="group">
                                {% for phone_mem in phones %}
                                    {# <button type="button" class="btn btn-default">Left</button> #}
                                    <a {% if phone_mem.id != phone.id  %}href="{{ path('make_model_memory', {'make': phone_mem.makeCanonical, 'model': phone_mem.encodedModelCanonical, 'memory': phone_mem.memory}) }}"{% else %}readonly{% endif %} class="btn {% if phone_mem.id == phone.id  %}btn-ad-green{% else %}btn-ad-green-hollow{% endif %}">{{ phone_mem.memory }}GB</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {# Press #}
    <section class="landing__press">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="list-inline text-center">
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_defaqto.svg" alt="Defaqto" title="Defaqto" class="landing__press_defaqto"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_trustpilot.svg" alt="TrustPilot" title="TrustPilot" class="landing__press_trustpilot"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_yell.svg" alt="Yell" title="Yell" class="landing__press_trustpilot"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_money.svg" alt="Money.co.uk" title="Money.co.uk" class="homepage__press_money"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_go-compare.svg" alt="Go Compare" title="Go Compare" class="homepage__press_gocompare"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_theguardian.svg" alt="The Guardian" title="The Guardian" class="homepage__press_theguardian"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_financial-times.svg" alt="Financial Times" title="Financial Times" class="homepage__press_financialtimes"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}
    <div class="modal modal-fullscreen fade"
         id="policy-modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="So-Sure Policy Terms"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-policy" data-url="{{ url('latest_policy_terms', {'policy_key': policy_key, 'maxPotValue':  max_pot, 'include': true, 'noH1': true }) }}">
                    <div class="text-center" style="margin-bottom: 20px;">
                        <img src="{{ cdn_url }}/images/spinner.svg" alt="Loading..."><br>
                        <a href="#" id="reload-policy" class="btn btn-blue-hollow" style="display:none;"><i class="fa fa-refresh" aria-hidden="true"></i> reload</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'AppBundle::Default/modalQuote.html.twig' with {'selectPhoneMakeType': 'other_pages'} %}
    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/lozad/lozad.min.js'
    'components/dot/doT.min.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/images.js'
    'components/rangeslider.js/rangeslider.min.js'
    '@AppBundle/Resources/public/js/Default/sliderNew.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeSearch.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeDropdown.js'
    '@AppBundle/Resources/public/js/Default/quote.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
