{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'seo-cracked-screen' %}
{% set include_get_a_quote = true %}

{% block title %}Phone Insurance Cracked Screen | so-sure{% endblock %}
{% block meta %}
    <meta name="description" content="Mobile Insurance that's Simply Better, 24-72 hour replace or repair, Low excess from just {{ lowest_excess }} - New, second hand & refurbished phones, Up to 80% money back"/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/seo-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="intro py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="breadcrumbs">
                        <ul class="list-inline"
                            vocab="https://schema.org/"
                            typeof="BreadcrumbList">
                            <li class="list-inline-item"
                                property="itemListElement"
                                typeof="ListItem">
                                <a href="{{ path('homepage') }}"
                                   class="text-primary"
                                   property="item"
                                   typeof="WebPage">
                                   <span property="name">Home</span>
                                </a>
                                <meta property="position" content="1">
                            </li>
                            <li class="list-inline-item text-zaffre">
                                <i class="fal fa-angle-right text-zaffre"></i>
                            </li>
                            <li class="list-inline-item"
                                property="itemListElement"
                                typeof="ListItem">
                                <a href="{{ path('phone_insurance') }}"
                                   class="text-primary"
                                   property="item"
                                   typeof="WebPage">
                                   <span property="name">Phone Insurance</span>
                                </a>
                                <meta property="position" content="2">
                            </li>
                            <li class="list-inline-item text-zaffre">
                                <i class="fal fa-angle-right text-zaffre"></i>
                            </li>
                            <li class="list-inline-item text-zaffre"
                                property="itemListElement"
                                typeof="ListItem">
                                <span property="name">Cracked Screen</span>
                                <meta property="position" content="3">
                            </li>
                        </ul>
                    </div>
                    <h1 class="text-primary mb-4">Cracked Screen</h1>
                    <p>Smashing your screen really is rubbish. A smashed screen can leave your phone totally unusable (and we know how much your phone can mean to you). If your screen is broken, smashed or cracked to the point where you cannot use your phone anymore then so-sure will replace or repair it within one working day.</p>
                    <p class="mb-4">As we all know, a really common way for someone to crack the screen on their phone is by dropping it on hard ground. You can make sure that having to pick it up is the only inconvenience you’ll suffer by getting yourself a new trustworthy phone case. They also don’t have to be ugly - you can get some really cool ones now! Check out <a href="http://www.urbanoutfitters.com/urban/index.jsp" target="_blank" rel="noopener noreferrer">Urban Outfitters</a> or crawl <a href="https://www.depop.com/" target="_blank" rel="noopener noreferrer">Depop</a> for something decent.</p>
                    <a href="#"
                       class="btn btn-success btn-shadow btn-block-xs mb-5 get-a-quote disabled track-data"
                       data-event="seo-pages-cracked-screen">
                       Get a Quote</a>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}

{% endblock %}
