{% extends 'base.html.twig' %}

{# Set vars #}
{% set include_emoji = 1 %}

{% block meta %}
    <link rel="canonical" href="{{ url('insure_make_model', {'make': phone.make, 'model': phone.encodedModel}) }}" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@AppBundle/Resources/public/css/Default/homepage.css'
        '@AppBundle/Resources/public/css/Default/landingPage.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block nav %}
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><div class="so-sure-logo-light"></div></a>
                </div>
            </div>  
        </nav>    
    </header>
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="text-center text-white">Cheap {{ phone.make }} {{ phone.model }} Insurance </h1>
            <h2 class="text-center text-light-blue"><span class="text-nowrap">only £{{ phone_price.monthlyPremiumPrice }} per month</span> 😌</h2>
            <div class="row">
                
                <div class="col-md-4 step">
                    <div class="step-inner">
                        <h2 class="h1">1. Insure</h2>
                        <ul class="list-unstyled landing-list">
                            <li>Your phone will be covered straight away</li>
                            <li class="bullet">-</li>
                            <li>Next day replacement or repair</li>
                            <li class="bullet">-</li>
                            <li>Protection against loss, theft, accidental damage and breakdown</li>
                            <li class="bullet">-</li>
                            <li>24/7 call centre</li>
                            <li class="bullet">-</li>
                            <li>Money back when you don’t claim</li>                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 step step-blue">
                    <div class="step-inner">
                        <h2 class="h1">2. Refer</h2>
                        <ul class="list-unstyled landing-list">
                            <li>Refer someone and you’ll both get up to £10</li>
                            <li class="bullet">-</li>
                            <li>Refer up to 9 people and you’ll get a maximum of £{{ max_pot }}</li>
                            <li class="bullet">-</li>
                            <li>How many people you refer is up to you, you’ll still get up £10 for each connection you make</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 step">
                    <div class="step-inner">
                        <h2 class="h1">3. Save</h2>
                        <ul class="list-unstyled landing-list">
                            <li>Get rewarded with up to 80% of your premium when you and your friends don’t claim</li>
                            <li class="bullet">-</li>
                            <li>You can get this money back every year to spend as cash or put towards your insurance</li>
                            <li class="bullet">-</li>
                            <li>You’re saving money anyway as we’re 40% cheaper than traditional insurers</li>
                        </ul>
                        {{ form_start(buy_form_banner) }}
                            {{ form_widget(buy_form_banner.buy, {'label': '📲 Get Started', 'attr': {'class': 'btn btn-success btn-rounded btn-lg'}}) }}
                        {{ form_end(buy_form_banner)}}
                        <br>
                        <a href="#"><small>Full Terms &amp; Conditions</small></a>                        
                    </div>
                </div>                                                

            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    {# To overide base.html.twig #}
    <footer>
        <div class="container">
            <p><small>&copy; {{ "now"|date("Y") }} so-sure ltd. We are a company registered in England &amp; Wales (No. 09365669) and our registered address is Runway East, 10 Finsbury Square, London EC2A 1AF.</small></p>
        </div>
    </footer>
{% endblock %}