{% extends 'base.html.twig' %}

{# Set vars #}
{% set include_emoji = true %}

{% block meta %}
    <link rel="canonical" href="{{ url('insure_make_model', {'make': phone.make, 'model': phone.encodedModel}) }}" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        '@AppBundle/Resources/public/sass/page/landing.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block nav %}
    {# To overide base.html.twig #}
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><div class="so-sure-logo so-sure-logo-light"></div></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="text-center text-white">Cheap {{ phone }} Insurance </h1>
            <h2 class="text-center text-light-blue hidden-md hidden-lg"><span class="text-nowrap">only £{{ phone_price.monthlyPremiumPrice }} per month</span></h2>
            <div class="row steps--shadow">

                <div class="col-md-4 step">
                    <div class="step-inner">
                        <h2 class="h1"><span class="text-grey-blue">1</span> Insure 📱</h2>
                        <ul class="list-unstyled landing-list">
                            <li>24/7 live support with 24-72 hour replacement or repair once your claim is approved.</li>
                            <li>Get protected for loss, theft, accidental damage &amp; out of warranty breakdown.</li>
                            <li>You're covered from the moment you purchase your policy.</li>
                            <li>All this for:</li>
                        </ul>
                        <div class="h2">£{{ phone_price.monthlyPremiumPrice }} <small>per month</small></div>
                        <div class="visible-xs-block">
                            {{ form_start(buy_form_banner, { 'attr': {'class':'text-center'}}) }}
                                {{ form_widget(buy_form_banner.buy, {'label': ' Get it now', 'attr': {'class': 'btn btn-success  btn-block btn-lg'}}) }}
                                <a data-toggle="modal" data-target="#policy-modal" id="policy-modal-trigger" class="btn btn-link btn-xs">Full Terms &amp; Conditions</a>
                            {{ form_end(buy_form_banner)}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 step step-blue">
                    <div class="step-inner">
                        <h2 class="h1"><span class="text-light-blue">2</span> Refer 👪</h2>
                        <ul class="list-unstyled landing-list">
                            <li>Connect to friends/family and <strong class="text-white">each receive up to £10</strong> in your individual Reward Pots.</li>
                            <li>Connect up to <strong class="text-white">{{ max_connections }}</strong> people and you’ll get a maximum of <strong class="text-white">£{{ max_pot }}</strong> in your Reward Pot.</li>
                            <li>How many people you connect with is up to you, you’ll still get up £10 for each connection you make.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 step">
                    <div class="step-inner">
                        <h2 class="h1"><span class="text-grey-blue">3</span> Save 💰</h2>
                        <ul class="list-unstyled landing-list">
                            <li>Your reward pot is paid out to you at the end of your policy year when you and your friend's don't claim.</li>
                            <li>You choose how your reward pot is paid to you:
                            </li>
                        </ul>
                        <ul class="landing-list">
                            <li>Enjoy massive savings off your next year's policy, or</li>
                            <li>get cash back to spend how you want.</li>
                        </ul>
                        <ul class="list-unstyled landing-list">
                            <li>Every year you and your friends don’t claim, your reward pot is paid to you.</li>
                        </ul>
                        {{ form_start(buy_form, { 'attr': {'class':'text-center'}}) }}
                            {{ form_widget(buy_form.buy_tablet, {'label': ' Get it now', 'attr': {'class': 'btn btn-success  btn-block btn-lg'}}) }}
                            <a data-toggle="modal" data-target="#policy-modal" id="policy-modal-trigger" class="btn btn-link btn-xs">Full Terms &amp; Conditions</a>
                        {{ form_end(buy_form)}}
                    </div>
                </div>

            </div>
        </div>

        {% include 'AppBundle::Default/press.html.twig' %}

    </main>


    <div class="modal modal-fullscreen fade"
         id="policy-modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="So-Sure Policy Terms"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body modal-policy" data-url="{{ url('latest_policy_terms', {'policy_key': policy_key, 'maxPotValue':  max_pot, 'include': true, 'noH1': true }) }}">
                    <div class="text-center" style="margin-bottom: 20px;">
                        <img src="{{ cdn_url }}/images/spinner.svg" alt="Loading..."><br>
                        <a href="#" id="reload-policy" class="btn btn-blue-hollow" style="display:none;"><i class="fa fa-refresh" aria-hidden="true"></i> reload</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {# To overide base.html.twig #}
    <footer>
        <div class="container">
            <p><small>&copy; {{ "now"|date("Y") }} so-sure ltd. We are a company registered in England &amp; Wales (No. 09365669) and our registered address is {{ business_address|replace({'\n':','}) }}.</small></p>
            <p><small>so-sure is an appointed representative of AFL Insurance Brokers Limited which is authorised and regulated by the Financial Conduct Authority. Our firm's Registration Number is <a href="https://register.fca.org.uk/ShPo_FirmDetailsPage?id=001b000003MOOUGAA5">744729</a>. We are permitted to arrange, deal as an agent of insurers and clients, and assist in claims handling.</small></p>
        </div>
    </footer>
{% endblock %}
