{% extends 'base.html.twig' %}

{# Set vars #}
{% set include_emoji = 1 %}

{% block meta %}
    <link rel="canonical" href="{{ url('insure_make_model', {'make': phone.make, 'model': phone.encodedModel}) }}" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@AppBundle/Resources/public/css/Default/homepage.css'
        '@AppBundle/Resources/public/css/Default/landingPage.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block nav %}
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><div class="so-sure-logo-light"></div></a>
                </div>
            </div>  
        </nav>    
    </header>
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="text-center text-white">Cheap {{ phone.make }} {{ phone.model }} Insurance 
                <span class="text-nowrap">only £{{ phone_price.monthlyPremiumPrice }} per month</span> 😌</h1>
            <div class="row">
                
                <div class="col-sm-4 step">
                    <div class="step-inner">
                        <h2 class="h1">Join</h2>
                        <ul class="list-unstyled">
                            <li>List item</li>
                            <li>-</li>
                            <li>List item</li>
                            <li>-</li>
                            <li>List item</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 step step-blue">
                    <div class="step-inner">
                        <h2 class="h1">Refer</h2>
                        <ul class="list-unstyled">
                            <li>List item</li>
                            <li>-</li>
                            <li>List item</li>
                            <li>-</li>
                            <li>List item</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 step">
                    <div class="step-inner">
                        <h2 class="h1">Save</h2>
                        <ul class="list-unstyled">
                            <li>List item</li>
                            <li>-</li>
                            <li>List item</li>
                            <li>-</li>
                            <li>List item</li>
                        </ul>
                        {{ form_start(buy_form_banner) }}
                            {{ form_widget(buy_form_banner.buy, {'label': 'Get Started', 'attr': {'class': 'btn btn-success btn-rounded btn-lg'}}) }}
                        {{ form_end(buy_form_banner)}}                        
                    </div>
                </div>                                                

            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    {# To overide base.html.twig #}
    <footer>
        <div class="container">
            <p><small>&copy; {{ "now"|date("Y") }} so-sure ltd. We are a company registered in England &amp; Wales (No. 09365669) and our registered address is Runway East, 10 Finsbury Square, London EC2A 1AF.</small></p>
        </div>
    </footer>
{% endblock %}