{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}

{% block title %}so-sure - learn more{% endblock %}
{% block meta %}
    {# TODO #}
    {# <link rel="canonical" href="{{ url('quote_make_model', {'make': phone.make, 'model': phone.encodedModel}) }}" /> #}

    <meta property="og:video" content="{{ cdn_url }}/video/explainer-subtitle-640.mp4" />
    <meta property="og:video:secure_url" content="{{ cdn_url }}/video/explainer-subtitle-640.mp4" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="640" />
    <meta property="og:video:height" content="360" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle//Resources/public/sass/page/learnMore.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="section--pad section--arrow section--arrow__blue text-center learn-more--intro">
        <div class="container">
            <h1 class="text-white">Connections &amp; Cashback</h1>
            <p class="lead">Invite trusted friends, family, &amp; collegues to sign up and connect with you on so-sure. Once connected, save money on your premium when you and your connections don’t claim. Sounds simple enough, but how does that work? Let us show you:</p>
        </div>
    </section>

    <section class="section--pad section--arrow learn-more--slider">
        <div class="container">
            {% include 'AppBundle::Default/_rewardSlider.html.twig' with { show_title: true} %}
        </div>
    </section>

    <section class="section--pad section--arrow section--arrow__off-white learn-more--effective-monthly-premium">
        <div class="container">
            {% include 'AppBundle::Default/_effectiveMonthlyPremium.html.twig' %}
        </div>
    </section>

    <section class="section--pad section--arrow learn-more--how-to-get-cashback">
        <div class="container">
            {% include 'AppBundle::Default/_howToGetCashback.html.twig' %}
        </div>
    </section>

    <section class="section--pad learn-more--video">
        <div class="container">
            {% include 'AppBundle::Default/_explainerVideo.html.twig' %}
        </div>
    </section>

    <section class="section--pad learn-more--download">
        <div class="container">
            {% if phone.isITunes %}
                {% set set_type = 'apple' %}
            {% elseif phone.isGooglePlay %}
                {% set set_type = 'play' %}
            {% else %}
                {% set set_type = '' %}
            {% endif %}
            {% include 'AppBundle::Default/_appDownload.html.twig' with { type: set_type } %}
        </div>
    </section>

    {# Page Modals #}
    {% include 'AppBundle::Default/modalQuote.html.twig' with {'selectPhoneMakeType': 'learn-more', 'phoneId': phone.id} %}
    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/typeahead.js/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    'components/rangeslider.js/rangeslider.min.js'
    '@AppBundle/Resources/public/js/Default/index.js'
    '@AppBundle/Resources/public/js/Default/animations.js'
    '@AppBundle/Resources/public/js/Default/sliderNew.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js'
    '@AppBundle/Resources/public/js/Default/bannerSticky.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
