{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}
{% if make == "Samsung" %}
    {% set make_extra = 'Galaxy' %}
{% elseif make == "Apple" %}
    {% set make_extra = 'iPhone' %}
{% endif %}

{% block title %}so-sure - {{ make }} {{ make_extra }} Insurance
{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        'components/owl.carousel/owl.carousel.min.css'
        'components/owl.carousel/owl.theme.default.min.css'
        '@AppBundle/Resources/public/sass/page/phoneLandingNew.scss'
        '@AppBundle/Resources/public/sass/page/homepage.scss'
        'components/animate.css/animate.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{# {% block nav %}{% endblock %} #}

{% block body %}

    {# Hero #}
    <section class="homepage--hero homepage--hero-background">

        <h1 class="homepage--hero-h1">Mobile Phone Insurance <br class="hidden-xs"> How it Should Be</h1>

        <p class="lead">Providing exceptional experience when you claim, <br class="hidden-xs">and rewarding you and your friends when you don't</p>

        {# Phone Search #}
        {% set select_template = 'AppBundle:Default:selectPhoneMakeSearch' %}
        {% if phone is defined and phone %}
            {{ render(controller(select_template, {
                'type': 'homepage-sticky',
                'id': phone.id
            }|merge(app.request.query.all))) }}
        {% else %}
            {{ render(controller(select_template, {
                'type': 'homepage-sticky',
            }|merge(app.request.query.all))) }}
        {% endif %}
        {# End Phone Search #}

        <div id="hero-character_1"
             class="homepage--hero__character">
            <div class="homepage--hero__tooltip animated tada"
                 data-content="Accidental damage cover, including cracked screen and water damage"></div>
        </div>
        <div id="hero-character_2"
             class="homepage--hero__character">
            <div class="homepage--hero__tooltip"
                 data-content="Worldwide travel cover for trips not exceeding 90 days"></div>
        </div>
        <div id="hero-character_3_and_4"
             class="homepage--hero__character clearfix">
            <div class="left">
                <div class="homepage--hero__tooltip"
                 data-content="Refurbished and second-hand device cover, for phones up to 3 years old"></div>
            </div>
            <div class="right">
                <div class="homepage--hero__tooltip"
                 data-content="Out of warranty breakdown cover"></div>
            </div>
        </div>
        <div id="hero-character_5_and_6"
             class="homepage--hero__character clearfix">
            <div class="left">
                <div class="homepage--hero__tooltip"
                 data-content="Theft and Loss cover as standard"></div>
            </div>
            <div class="right">
                <div class="homepage--hero__tooltip"
                 data-content="Unauthorised network charges cover (up to £1000 inc. VAT)"></div>
            </div>
        </div>
        <div id="hero-character_7"
             class="homepage--hero__character">
            <div class="homepage--hero__tooltip homepage--hero__tooltip__reward"
                 data-content="24-72 hours phone replacement/repair once claim is approved or up to 80% of your money back when you and your friends don't claim"></div>
             </div>
        <div id="hero-character_8"
             class="homepage--hero__character">
            <div class="homepage--hero__tooltip"
                 data-content="Accessories cover (up to £100 inc. VAT) for theft and loss claim"></div>
        </div>
    </section>

    {# What is so-sure? #}
    <section class="section--pad homepage--what-is-so-sure">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h2 class="h1">What is so-sure?</h2>
                    <p class="lead">When insurance started in 17th century it was great: when you claimed you had customer red carpet treatment and when there were no claims, you got your money back.</p>
                    <p class="lead">This is why our founder, Dylan, who spent the past 10 years working from inside the insurance world as a private equity investor, decided to take insurance back to its roots, providing you with a modern-day insurance, how it should be.</p>
                    <p class="lead">Dylan redesigned insurance around the customer, which is why we get you back on your feet within 24-72 hours once your claim is approved (as opposed to 4-18 days by our competition), and why you can get up to 80% of your money back, every year, when you and your friends don't claim.</p>
                </div>
                <div class="col-md-5">
                    <div class="img-container">
                        <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/homepage/so-sure_what_is_so-sure_new_old.png"
                             alt="What is so-sure?"
                             class="img-responsive img-responsive--center so-sure_homepage-what-is-so-sure lozad">
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Press #}
    <section class="section--pad homepage--press">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h4>As Seen In</h4>
                    <ul class="list-inline press-list press-list--1">
                        <li class="press-img" title="The Guardian - Why Facebook and Microsoft say chatbots are the talk of the town"></li>
                        <li class="press-img" title="Financial Times - Innovation to watch: Friends based insurance"></li>
                        <li class="press-img" title="Insurance Post - so-sure to launch revolutionary social peer-to-peer mobile insurance app"></li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <h4>Awards</h4>
                    <ul class="list-inline press-list press-list--2">
                        <li class="press-img digital-top-50" title="Digital Top 50 Awards 2016 - B2C Start-up"></li>
                        <li class="press-img insurance-choice-awards" title="Insurance Choice Awards 2017 - ‘Best Insurance App' + 'Innovation of the Year' categories 2017"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {# Cover Details #}
    <section class="section--pad homepage--cover-details">
        <div class="container">
            <h2 class="h1">Cover Details</h2>
            <p class="lead">We give you peace of mind and cover you for:</p>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="cover-img lozad theft"
                                 data-background-image="{{ cdn_url }}/images/homepage/whats_covered_sprite_2x.png"></div>
                            <h4>Theft <br><small class="hidden-xs">&nbsp;</small></h4>
                        </div>
                         <div class="col-sm-6 col-md-4">
                            <div class="cover-img lozad loss"
                                 data-background-image="{{ cdn_url }}/images/homepage/whats_covered_sprite_2x.png"></div>
                            <h4>Loss <br><small class="hidden-xs">&nbsp;</small></h4>
                        </div>
                      <div class="col-sm-6 col-md-4">
                            <div class="cover-img lozad accidental-damage"
                                 data-background-image="{{ cdn_url }}/images/homepage/whats_covered_sprite_2x.png"></div>
                            <h4>Accidental Damage <br><small>Including cracked screen &amp; water damage </small></h4>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="cover-img lozad breakdown"
                                 data-background-image="{{ cdn_url }}/images/homepage/whats_covered_sprite_2x.png"></div>
                            <h4>Out of Warranty Breakdown <br><small class="hidden-xs">&nbsp;</small></h4>
                        </div>
                       <div class="col-sm-6 col-md-4">
                            <div class="cover-img lozad charges"
                                 data-background-image="{{ cdn_url }}/images/homepage/whats_covered_sprite_2x.png"></div>
                            <h4>Unauthorised Network Charges <br><small >Up to the value of £1000 inc. VAT</small></h4>
                        </div>
                          <div class="col-sm-6 col-md-4">
                            <div class="cover-img lozad accessories"
                                 data-background-image="{{ cdn_url }}/images/homepage/whats_covered_sprite_2x.png"></div>
                            <h4>Accessories <br><small>Up to the value of £100 inc. VAT for theft or loss claims</small></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Travel When Abroad #}
    <section class="homepage--when-you-travel">
        <div class="cloud cloud--top">
            <img src="{{ cdn_url }}/images/homepage/so-sure_cloud_top_expanded.svg"
                 alt="cloud top"
                 align="top">
        </div>
        <div class="container">
            <h2 class="h1">Including When You Travel Abroad</h2>
            <p class="lead">We have your back whilst you're on the road (as long as your trip does not exceed 90 days)</p>
            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                 data-src="{{ cdn_url }}/images/homepage/so-sure_airways.svg"
                 alt="so-sure - airways"
                 class="img-responsive img-responsive--center so-sure_airways lozad">
        </div>
        <div class="cloud cloud--bottom">
            <img src="{{ cdn_url }}/images/homepage/so-sure_cloud_bottom_expanded.svg"
                 alt="cloud bottom"
                 align="bottom">
        </div>
    </section>

    {# What we don't cover #}
    <section class="homepage--what-we-dont-cover">
        <div class="container">
            <h2 class="text-center h1">What We Don't Cover</h2>
            <ol class="ol--blue-counter">
                <li class="h4 h-light">Excess<br>
                    • pic-sure validated <i class="fa fa-question-circle" title="pic-sure is our free app-based process to prove your phone is in good working condition and your screen is not cracked"></i>: £70 for Theft/Loss and £50 for Accidental Damage/Breakdown.<br>
                    • otherwise: £150 for Theft/Loss/Accidental Damage/Breakdown
                </li>
                <li class="h4 h-light">Theft, Loss, Accidental Damage or Breakdown where you have knowingly put your phone at risk</li>
                <li class="h4 h-light">3+ claims for Loss and/or Theft in any policy year</li>
            </ol>
        </div>
    </section>

    <div class="curved-background curved-background__bg-blue hidden-xs">
        <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 2000 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" fill="#ffffff">
                    <path d="M0,0 L2000,0 L2000,139.921588 C1890.08746,181.703317 1753.08746,201.692115 1589,199.887983 C1424.91254,198.083852 1258.91254,174.763587 1091,129.927189 C918.666667,89.9495926 740,69.9607942 555,69.9607942 C370,69.9607942 185,113.269857 0,199.887983 L0,0 Z" id="Rectangle" transform="translate(1000.000000, 100.000000) scale(-1, 1) translate(-1000.000000, -100.000000) "></path>
                </g>
            </g>
        </svg>
    </div>

    {% include 'AppBundle::Default/_sectionRewardPot.html.twig' %}

    <div class="curved-background hidden-xs">
        <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 2000 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" fill="#d6ebff">
                    <path d="M0,0 L2000,0 L2000,139.921588 C1890.08746,181.703317 1753.08746,201.692115 1589,199.887983 C1424.91254,198.083852 1258.91254,174.763587 1091,129.927189 C918.666667,89.9495926 740,69.9607942 555,69.9607942 C370,69.9607942 185,113.269857 0,199.887983 L0,0 Z" id="Rectangle" transform="translate(1000.000000, 100.000000) scale(-1, 1) translate(-1000.000000, -100.000000) "></path>
                </g>
            </g>
        </svg>
    </div>

    {# Claims procss #}
    <section class="section--pad homepage--claims-process">
        <div class="container">
            <h2 class="h1">Our Claims Process is as <span class="text-nowrap">Easy as 1, 2, 3</span></h2>
            <p class="lead">When something bad happens to your phone:</p>
            <div class="row">
                <div class="col-md-4">
                    <span class="large-no large-no--arrow">1</span>
                    <h4 class="h3 h-light text-blue">Contact Claims Team</h4>
                    <p>These helpful people are here in the UK, available to answer your call 24-hrs a day, 7 days a week, 365 days a year when you have an issue with your phone. And if you need to start a claim, <a href="{{ path('claim') }}" class="text-nowrap">fill in the form here</a>.</p>
                </div>
                <div class="col-md-4">
                    <span class="large-no large-no--arrow">2</span>
                    <h4 class="h3 h-light text-blue">Review Claim</h4>
                    <p>Our goal is for the claims to be handled almost instantly. Approving a claim takes on average less than one hour to process during normal business hours.*</p>
                </div>
                <div class="col-md-4">
                    <span class="large-no">3</span>
                    <h4 class="h3 h-light text-blue">Approve Claim</h4>
                    <p>Once your claim is approved, we aim to have a replacement mobile phone delivered to you in the UK within 24-72 hours.</p>
                </div>
            </div>
            <p><small>* However in some cases, like theft, we may require additional information and documentation to fully review the incident and approve the claim. With your help, we aim to do this as soon as possible.</small></p>
        </div>
    </section>

    {% include 'AppBundle::Default/_sectionComparison.html.twig' %}

    {% include 'AppBundle::Default/_sectionFeedback.html.twig' %}


    <div class="curved-background curved-background__bg-blue hidden-xs">
        <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 2000 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" fill="#ffffff">
                    <path d="M0,0 L2000,0 L2000,139.921588 C1890.08746,181.703317 1753.08746,201.692115 1589,199.887983 C1424.91254,198.083852 1258.91254,174.763587 1091,129.927189 C918.666667,89.9495926 740,69.9607942 555,69.9607942 C370,69.9607942 185,113.269857 0,199.887983 L0,0 Z" id="Rectangle" transform="translate(1000.000000, 100.000000) scale(-1, 1) translate(-1000.000000, -100.000000) "></path>
                </g>
            </g>
        </svg>
    </div>

    <section class="section-landing section-landing--title background-lightest-blue">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">

                    <h1 class="">
                        {{ make|capitalize }} {{ make_extra }} Insurance
                    </h1>

                    <p class="lead">Select your model to get a quote</p>

                </div>
            </div>
        </div>
    </section>

    <section class="section--pad section-landing">
        <div class="container">

            <div class="owl-carousel owl-theme visible-xs">
                {% for phone in phones %}
                    <div class="item">
                        <div class="item-inner">
                            <img src="{{ phone.imageUrlWithFallback }}" alt="so-sure - {{ make|capitalize }} {{ phone.model }} insurance">
                            <h2 class="h5 text-center">{{ phone.model }}</h2>
                            {% for mem, url in phone.mem %}
                                <a href="{{ url }}" class="btn btn-blue btn-30">{{ mem }}GB</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="landing-phones hidden-xs">
                <div class="landing-panel">
                    <div class="row row-centered">
                        {% set first = true %}
                        {% for phone in phones %}

                            <div class="col-sm-4 col-md-4 col-centered">
                                {% if phone.mem|length <= 1 %}
                                    {% for mem, url in phone.mem %}
                                        <a href="{{ url }}">
                                            <div class="phone thumbnail">
                                                <div class="phone-hover">
                                                    <div class="phone-hover--inner">
                                                        <div class="one-btn">
                                                            <h4>Click for a quote</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <img src="{{ phone.imageUrlWithFallback }}" alt="so-sure - {{ make|capitalize }} {{ phone.model }} insurance" class="lazy">
                                                <div class="caption">
                                                    <h2 class="h4">{{ phone.model }}</h2>
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    <div class="phone thumbnail">
                                        <div class="phone-hover">
                                            <div class="phone-hover--inner">
                                                <div class="mem-btns">
                                                    <h4>Select for a quote</h4>
                                                    {% for mem, url in phone.mem %}
                                                        <a href="{{ url }}" class="btn btn-blue btn-block">{{ mem }}GB</a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <img src="{{ phone.imageUrlWithFallback }}" alt="so-sure - {{ make|capitalize }} {{ phone.model }} insurance" class="lazy">
                                        <div class="caption">
                                            <h2 class="h4">{{ phone.model }}</h2>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="text-center section--pad section-landing">
        <div class="container">
            <div class="landing-panel">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <img src="{{ cdn_url }}/images/library_benefits/so-sure_next-working-day.svg" width="150" height="150" alt="so-sure - 24-72 hour replacement or repair once your claim is approved">
                        <h4 class="h-light">24-72 hour replacement or repair once your claim is approved</h4>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <img src="{{ cdn_url }}/images/library_benefits/so-sure_connections.svg" width="150" height="150" alt="so-sure - Cash back when you and your friends don’t claim">
                        <h4 class="h-light">Cash back when you and your friends don’t claim</h4>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <img src="{{ cdn_url }}/images/library_benefits/so-sure_call-center-staff.svg" width="150" height="150" alt="so-sure - 24/7 Live Support">
                        <h4 class="h-light">24/7 Live Support</h4>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <img src="{{ cdn_url }}/images/library_benefits/so-sure_instant-cover.svg" width="150" height="150" alt="so-sure - Instant cover when you buy your policy">
                        <h4 class="h-light">Instant cover when you buy your policy</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section--pad">
        <div class="container">

           {% if make == "Samsung" %}
            <div class="landing-copy">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p>Samsung didn’t start getting serious about smartphones until they released the Samsung Galaxy S in 2010. While they had released earlier models - this was the first to really capture the imagination. The new phone used the Android operating system, had a top of the range processor and even a good quality camera.</p>
                        <p>The phone has a devoted following and there are often clashes between them and fans of the iPhone. The two companies have had a heated rivalry over the past few years and are certainly intertwined.</p>
                        <p>The Samsung Galaxy is a hugely reliable phone which offers you (nearly) all the features of the Apple iPhone. Synonymous with quality - Samsung always manufacture high-quality goods and the Galaxy series is no different.</p><br>
                    </div>
                </div>
            </div>
            {% endif %}

           {% if make == "Apple" %}
            <div class="landing-copy">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p>The first edition of the Apple iPhone was released in 2007. The brainchild of former Apple genius Steve Jobs, the phone was the result of years of top-secret work which all began when Jobs commissioned the incredibly evocative ‘Project Purple’. Steve’s idea was to create a device that combined the mobility of the phone with all the best parts of the computer and they did just that.</p>
                        <p>The iPhone has been massively popular since day one with over 800 million sold since 2007. While the mobile phone isn’t the world's most popular device (that title belongs to the Samsung Galaxy), it is certainly the most iconic - with most mobile apps and tech being almost synonymous with the ubiquitous iPhone.</p>
                        <p>The invention of the iPhone was a watershed moment in the history of mobile phones and is credited with ushering in a new era of mobile technology as well as introducing the potential of the smartphone to a worldwide audience. It’s easy to take it for granted now but prior to the iPhone, phones were well….just phones! These magical devices play such a huge part in our day-to-day lives and we simply couldn’t live without them (hence why we started with mobile phone insurance).</p><br>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="{{ cdn_url }}/images/library_phones/{{ make }}/{{ make }}-logo-so-sure.png"
                         width="170"
                         height="60"
                         alt="so-sure - {{ make|capitalize }} {{ make_extra }} Insurance">
                    <img src="{{ cdn_url }}/images/logo/so-sure_so-sure-full-logo-blue-flat.svg"
                         width="170"
                         height="60"
                         alt="so-sure - mobile phone insurance">
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}

    {% include 'AppBundle::Default/modalVideo.html.twig' %}
    {% include 'AppBundle::Default/modalQuote.html.twig' with {'selectPhoneMakeType': ''} %}

    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/lozad/lozad.min.js'
    'components/dot/doT.min.js'
    'components/vimeo-player-js/player.min.js'
    '@AppBundle/Resources/public/js/Default/modalVideo.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/images.js'
    'components/owl.carousel/owl.carousel.min.js'
    '@AppBundle/Resources/public/js/Default/makeInsurance.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeSearch.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeDropdown.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
