{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set make_extra = '' %}
{% if make == "Samsung" %}
    {% set make_extra = 'Galaxy' %}
{% endif %}

{% block title %}so-sure - Samsung Galaxy Insurance
{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Download our app now to see how much you could save."/>
    <meta name="keywords" content="mobile phone insurance, social insurance, samsung galaxy insurance"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        '@AppBundle/Resources/public/sass/page/phoneLanding.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{# {% block nav %}{% endblock %} #}

{% block body %}

    <section class="section--pad">
        <div class="container">

            <div class="landing-title text-center">
                <div class="row">
                    <div class="col-md-12">

                        <h1 class="text-blue">
                            {{ make|capitalize }} {{ make_extra }} Insurance
                        </h1>

                        <p class="lead hidden-xs">Select your model to get a quote</p>

                    </div>
                </div>
            </div>

            <div id="samsung-galaxy-carousel" class="carousel slide landing-phones  visible-xs" data-ride="carousel" data-interval="false">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% set first = true %}
                    {% for phone in phones %}

                    {% set img_url = phone.model|replace({' ': '-', '+': "-plus"})|lower %}

                    <div class="item {% if first %}active{% endif %}">
                        <div class="phone thumbnail">
                            <img src="{{ cdn_url }}/images/library_phones/{{ make }}/{{ img_url}}.png" alt="so-sure - {{ make|capitalize }} {{ phone.model }} insurance">
                            <div class="caption">
                                <h2 class="h4">{{ phone.model }}</h2>
                                <p class="visible-xs">Select your model to get a quote</p>
                                {% for mem, url in phone.mem %}
                                    <a href="{{ url }}" class="btn btn-blue">{{ mem }}GB</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% set first = false %}
                    {% endfor %}
                </div>

                <a class="left carousel-control" href="#samsung-galaxy-carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#samsung-galaxy-carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="landing-phones hidden-xs">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                        {% set first = true %}
                        {% for phone in phones %}

                            {# Probably a better way to do this? #}
                            {% set img_url = phone.model|replace({' ': '-', '+': "-plus"})|lower %}

                            <div class="col-sm-4 col-md-4">
                                {% if phone.mem|length <= 1 %}
                                    {% for mem, url in phone.mem %}
                                        <a href="{{ url }}">
                                            <div class="phone thumbnail">
                                                <div class="phone-hover">
                                                    <div class="phone-hover--inner">
                                                        <div class="one-btn">
                                                            <h4>Click for a quote</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <img src="{{ cdn_url }}/images/library_phones/{{ make }}/{{ img_url}}.png" alt="so-sure - {{ make|capitalize }} {{ phone.model }} insurance" class="lazy">
                                                <div class="caption">
                                                    <h2 class="h4">{{ phone.model }}</h2>
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    <div class="phone thumbnail">
                                        <div class="phone-hover">
                                            <div class="phone-hover--inner">
                                                <div class="mem-btns">
                                                    <h4>Select for a quote</h4>
                                                    {% for mem, url in phone.mem %}
                                                        <a href="{{ url }}" class="btn btn-blue btn-block">{{ mem }}GB</a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <img src="{{ cdn_url }}/images/library_phones/{{ make }}/{{ img_url}}.png" alt="so-sure - {{ make|capitalize }} {{ phone.model }} insurance" class="lazy">
                                        <div class="caption">
                                            <h2 class="h4">{{ phone.model }}</h2>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <p class="lead text-center">Can't find your phone? <a href="#" data-toggle="modal" data-target="#quote-model">Click here</a></p>

        </div>
    </section>

    <section class="">
        <div class="container">

           {% if make == "Samsung" %}
            <div class="landing-copy">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p>Samsung didn’t start getting serious about smartphones until they released the Samsung Galaxy S in 2010. While they had released earlier models - this was the first to really capture the imagination. The new phone used the Android operating system, had a top of the range processor and even a good quality camera.</p>
                        <p>The phone has a devoted following and there are often clashes between them and fans of the iPhone. The two companies have had a heated rivalry over the past few years and are certainly intertwined.</p>
                        <p>The Samsung Galaxy is a hugely reliable phone which offers you (nearly) all the features of the Apple iPhone. Synonymous with quality - Samsung always manufacture high-quality goods and the Galaxy series is no different.</p>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </section>

    <section class="section--pad text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    {# <hr> #}

                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <img src="{{ cdn_url }}/images/library_benefits/so-sure_next-working-day.svg" width="150" height="150" alt="so-sure - Next working day repair/replacement">
                            <h4 class="h-light">Next working day replacement or repair</h4>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <img src="{{ cdn_url }}/images/library_benefits/so-sure_connections.svg" width="150" height="150" alt="so-sure - Cash back when you and your friends don’t claim">
                            <h4 class="h-light">Cash back when you and your friends don’t claim</h4>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <img src="{{ cdn_url }}/images/library_benefits/so-sure_call-center-staff.svg" width="150" height="150" alt="so-sure - 24/7 Live Support">
                            <h4 class="h-light">24/7 Live Support</h4>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <img src="{{ cdn_url }}/images/library_benefits/so-sure_instant-cover.svg" width="150" height="150" alt="so-sure - Instant cover when you buy your policy">
                            <h4 class="h-light">Instant cover when you buy your policy</h4>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section class="section--pad text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <img src="{{ cdn_url }}/images/library_phones/{{ make }}/{{ make }}-logo-so-sure.png"
                         width="170"
                         height="60"
                         alt="so-sure - {{ make|capitalize }} {{ make_extra }} Insurance">
                    <img src="{{ cdn_url }}/images/logo/so-sure_so-sure-full-logo-blue-flat.svg"
                         width="170"
                         height="60"
                         alt="so-sure - mobile phone insurance">
                </div>
            </div>

        </div>
    </section>

    {# Page Modals #}

    <div class="modal fade"
         id="quote-model"
         tabindex="-1"
         role="dialog"
         aria-labelledby="quoteModelLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3 class="text-center">Select a different phone</h3>
                </div>
                <div class="modal-body text-center">
                    {{ render(controller('AppBundle:Default:selectPhoneMake')) }}
                </div>
            </div>
        </div>
    </div>

    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/jquery_lazyload/jquery.lazyload.js'
    'components/typeahead.js/typeahead.bundle.min.js'
    '@AppBundle/Resources/public/js/Default/index.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
