{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'phone-insurance-make-model' %}
{% if instore is not null %}
    {% set instore_mode = true %}
{% endif %}
{% if validation_required is not null %}
    {# Don't allow to be indexed if coming from agg #}
    {% set robots_noindex = true %}
{% endif %}

{# SEO Adjustments #}
{% set make_desc = phone.make %}
{% set with_phone = phone.model %}
{% set add_phone = '' %}
{% if phone.make == 'Apple' %}
    {% set make_desc = '' %}
    {% set with_phone = phone.model %}
{% endif %}
{% if phone.make == 'HP' %}
    {% set add_phone = ' Phone' %}
{% endif %}
{% if phone.make == 'Motorola' and phone.model == 'Moto G5' %}
    {% set make_desc = '' %}
{% endif %}
{% if phone.make == 'Sony' and phone.model == 'Xperia XZ Premium' %}
    {% set make_desc = '' %}
{% endif %}
{% set samsungModels = [
    'Galaxy Note10',
    'Galaxy Note10+',
    'Galaxy Note10+ 5G',
    'Galaxy S5 mini',
    'Galaxy S6 Edge',
    'Galaxy S6 Edge+',
    'Galaxy S7 Edge'
] %}
{% if phone.make == 'Samsung' %}
    {% if phone.model in samsungModels %}
        {% set make_desc = '' %}
    {% elseif phone.model in ['Galaxy Note 8'] %}
        {% set make_desc = '' %}
        {% set with_phone = 'Note 8' %}
    {% endif %}
{% endif %}

{% set canonical = url('phone_insurance_make_model', {'make': phone.makeCanonical, 'model': phone.encodedModelCanonical })  %}

{% block title %}{{ make_desc }} {{ with_phone }}{{ add_phone }} Insurance For &pound;{{ prices['monthly'].monthlyPremiumPrice }} Monthly | so-sure{% endblock %}

{% block meta %}
    <meta name="description" content="{{ make_desc }} {{ with_phone }}{{ add_phone }} Insurance from so-sure. 24-72 hour repair or replacement, low excess & up to 80% money back if you don't claim. This is {{ make_desc }} {{ with_phone }} Insurance that's simply better."/>
    <link rel="canonical" href="{{ canonical|url_decode }}" />
{% endblock %}
{% set og_title = make_desc ~ ' ' ~ with_phone ~ add_phone ~ ' Insurance For £' ~ prices['monthly'].monthlyPremiumPrice ~ ' Monthly | so-sure' %}
{% set og_url = canonical|url_decode %}
{% set og_description = make_desc ~ ' ' ~ with_phone ~ ' ' ~ add_phone ~ ' Insurance from so-sure. 24-72 hour repair or replacement, low excess & up to 80% money back if you don\'t claim. This is ' ~ make_desc ~ ' ' ~ with_phone ~ ' insurance that\'s simply better.' %}
{% set og_image_facebook = cdn_url ~ '/images/rebrand/og/so-sure_og-image-1.png' %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/phone-insurance.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container-large">
            <div class="row">
                <div class="col-lg-6 order-lg-2">
                    <div class="hero__intro">
                        <div class="breadcrumbs">
                            <ul class="list-inline"
                                vocab="https://schema.org/"
                                typeof="BreadcrumbList">
                                <li class="list-inline-item"
                                    property="itemListElement"
                                    typeof="ListItem">
                                    <a href="{{ path('homepage') }}"
                                       class="text-columbia-blue-e"
                                       property="item"
                                       typeof="WebPage">
                                       <span property="name">Home</span>
                                    </a>
                                    <meta property="position" content="1">
                                </li>
                                <li class="list-inline-item text-white">
                                    <i class="fal fa-angle-right text-white"></i>
                                </li>
                                <li class="list-inline-item"
                                    property="itemListElement"
                                    typeof="ListItem">
                                    <a href="{{ path('phone_insurance') }}"
                                       class="text-columbia-blue-e"
                                       property="item"
                                       typeof="WebPage">
                                       <span property="name">Phone Insurance</span>
                                    </a>
                                    <meta property="position" content="2">
                                </li>
                                <li class="list-inline-item text-white">
                                    <i class="fal fa-angle-right text-white"></i>
                                </li>
                                <li class="list-inline-item"
                                    property="itemListElement"
                                    typeof="ListItem">
                                    <a href="{{ path('phone_insurance_make', {'make': phone.makeCanonical}) }}"
                                       class="text-columbia-blue-e"
                                       property="item"
                                       typeof="WebPage">
                                       <span property="name">{{ phone.make }}</span>
                                    </a>
                                    <meta property="position" content="3">
                                </li>
                                <li class="list-inline-item text-white">
                                    <i class="fal fa-angle-right text-white"></i>
                                </li>
                                <li class="list-inline-item text-white"
                                    property="itemListElement"
                                    typeof="ListItem">
                                    <span property="name">{{ phone.model }} ({{ phone.memory }}GB)</span>
                                    <meta property="position" content="4">
                                </li>
                            </ul>
                        </div>
                        <h1 class="text-white h1b fit">
                            <a href="#mem_sizes"
                               class="text-white"
                               data-toggle="collapse"
                               role="button"
                               aria-expanded="false"
                               aria-controls="mem_sizes"
                               title="Not the phone you're looking for?">
                                {% if phone.model matches '/^\\d+$/' %}{{ phone.make }} {% endif %}{{ phone.model }} Insurance <br> <span class="sub text-deep-sky-blue-d">for just &pound;{{ prices['monthly'].monthlyPremiumPrice }} per month</span>
                            </a>
                        </h1>
                        <div class="text-white h5 mb-4"><span class="sub">Get one month free when you pay yearly!</span></div>
                        <div class="collapse mb-4" id="mem_sizes">
                            {% if phones | length > 1 %}
                                <ul class="list-inline">
                                    {% for phone_mem in phones %}
                                        {% if phone_mem.id != phone.id  %}
                                            <li class="list-inline-item">
                                                <a href="{{ path('quote_phone', {'type': 'purchase-change', 'id': phone_mem.id}) }}" class="btn btn-outline-white btn-sm" href="#">{{ phone_mem.memory }}GB</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <a class="text-white get-a-quote disabled" href="#">
                                <small>Not the phone you're looking for?</small>
                            </a>
                        </div>
                        {{ form_start(buy_form, {'attr': { 'class': 'my-5'}}) }}
                            {{ form_widget(buy_form.buy, {
                                'label': 'Get Started',
                                'attr': {
                                    'class': 'btn btn-success btn-block-xs btn-shadow mr-sm-2'
                            }}) }}
                            <a href="#"
                               class="btn btn-outline-white watch-video btn-block-xs"
                               data-event="watch-video-quote"
                               data-toggle="modal"
                               data-target="#sosure-video-modal"
                               data-src="https://www.youtube.com/embed/QEskwqsNgrQ">
                                <i class="far fa-play-circle fa-lg opacity-50 mr-1"></i>
                                Watch our Video
                            </a>
                        {{ form_end(buy_form) }}
                        {% if validation_required is not null %}
                            <p class="text-white">👋 You must use the so-sure app to validate your phone within 14 days or you will not be able to claim and the policy will be cancelled</p>
                        {% endif %}
                        <h2 class="h4 text-columbia-blue-e my-4">Insurance Product Information Document:</h2>
                        <ul class="list-unstyled icn-fa-list mb-0">
                            <li class="text-white mb-3"><i class="fal fa-info-circle text-columbia-blue-e fa-lg"></i> The insurance product information document (IPID) is a simple, standardised document that you can use to compare policies with other insurers in the UK and EU.</li>
                            <li class="text-white mb-5">
                                <i class="fal fa-file-download text-columbia-blue-e fa-lg"></i>
                                {% if validation_required is not null %}
                                    <a href="{{ cdn_url }}/files/IPID_so-sure_agg.pdf"
                                       target="_blank"
                                       rel="noopener noreferrer"
                                       class="track-data text-white"
                                       data-event="user-download-ipid-agg"
                                       data-event-url="{{ cdn_url }}/files/IPID_so-sure_agg.pdf"><u>Download a copy of our IPID</u></a>
                                {% else %}
                                    <a href="{{ cdn_url }}/files/IPID_so-sure_030918.pdf"
                                       target="_blank"
                                       rel="noopener noreferrer"
                                       class="track-data text-white"
                                       data-event="user-download-ipid"
                                       data-event-url="{{ cdn_url }}/files/IPID_so-sure_030918.pdf"><u>Download a copy of our IPID</u></a>
                                {% endif %}
                            </li>
                        </ul>
                        <h2 class="h4 text-columbia-blue-e my-4">Our Policy Document:</h2>
                        <ul class="list-unstyled icn-fa-list mb-0">
                            <li class="text-white mb-3"><i class="fal fa-info-circle text-columbia-blue-e fa-lg"></i> See our policy document for full details.</li>
                            <li class="text-white mb-5">
                                <i class="fal fa-file-download text-columbia-blue-e fa-lg"></i>
                                {% if validation_required is not null %}
                                    <a href="{{ cdn_url }}/files/so-sure_sample_policy_doc_v14_R.pdf"
                                       target="_blank"
                                       rel="noopener noreferrer"
                                       class="track-data text-white"
                                       data-event="user-download-sample-policy-doc-quote-agg"
                                       data-event-url="{{ cdn_url }}/files/so-sure_sample_policy_doc_v14_R.pdf"><u>Download a copy of our Policy Document</u></a>
                                {% else %}
                                    <a href="{{ cdn_url }}/files/so-sure_sample_policy_doc_v14.pdf"
                                       target="_blank"
                                       rel="noopener noreferrer"
                                       class="track-data text-white"
                                       data-event="user-download-sample-policy-doc-quote"
                                       data-event-url="{{ cdn_url }}/files/so-sure_sample_policy_doc_v14.pdf"><u>Download a copy of our Policy Document</u></a>
                                {% endif %}
                            </li>
                        </ul>
                        <h2 class="h4 my-4 text-columbia-blue-e">Excess</h2>
                        {% if validation_required is not null or instore is not null %}
                            <p class="mb-5 text-white">The excess for your {{ make_desc }} {{ phone.model }} is:</p>
                        {% else %}
                            <p class="mb-5 text-white">Reduce the excess for your {{ make_desc }} {{ phone.model }} by using our app to verify that it isn't already damaged prior to any claim.</p>
                        {% endif %}
                        <div class="table-responsive">
                            <table class="table table-bordered text-white">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="h6">Damage</th>
                                        <th class="h6">Loss</th>
                                        <th class="h6">Theft</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="h6">Excess</td>
                                        <td>&pound;{{ prices['monthly'].picsureexcess.damage }}</td>
                                        <td>&pound;{{ prices['monthly'].picsureexcess.loss }}</td>
                                        <td>&pound;{{ prices['monthly'].picsureexcess.theft }}</td>
                                    </tr>
                                    {% if instore is null %}
                                        {% if validation_required is null %}
                                            <tr>
                                                <td colspan="4">If you don't verify the condition of your phone your excess will be up to &pound;100 more expensive</td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                   <div class="hero__illustration hero__illustration-generic text-center">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/phones/generic/so-sure_hero-generic.png"
                             alt="{{ phone.make }} {{ phone.model }} {{ phone.memory }} - Phone Insurance"
                             class="lozad img-fluid hero-generic animated bounceInUp">
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Cred #}
    {% include 'AppBundle::Default/CommonSections/_cred.html.twig' %}

    <section class="video d-flex align-items-center justify-content-center">
        <a href="#"
           data-toggle="modal"
           data-target="#sosure-video-modal"
           data-src="https://www.youtube.com/embed/rF6zxVRT5Fc"
           class="watch-video video__play">
            <img src="{{ cdn_url }}/images/onexone.png"
                 data-src="{{ cdn_url }}/images/rebrand/invite/so-sure_invite_reward_video_play_shadow.svg"
                 alt="Play buttonn"
                 class="lozad"
                 width="120px"></a>
        <img src="{{ cdn_url }}/images/onexone.png"
             data-src="{{ cdn_url }}/images/rebrand/video/so-sure_video_background_woman_swoosh.png"
             alt="Woman polaroid swoosh"
             class="lozad video-img">
    </section>

    <section class="knowledge-base">
        <div class="container-large">
            {% include 'AppBundle::Components/_knowledgeBase.html.twig' %}
        </div>
    </section>

    {# Reviews #}
    {% include 'AppBundle::PhoneInsurance/CommonSections/_reviewsB.html.twig' %}

    <section class="banner py-5">
        <div class="container-large">
            <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
                <div class="mb-4 mb-lg-0 d-lg-flex align-items-lg-center">
                    <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_app-icn.svg" class="d-none d-lg-inline lozad" alt="so-sure App Icon">
                    <div class="banner__text text-center text-lg-left ml-lg-4">
                        <h4 class="text-white">Insure your phone in minutes</h4>
                        <p class="lead text-white">{{ make_desc }} {{ phone.model }} for just <strong>&pound;{{ prices['monthly'].monthlyPremiumPrice }}</strong> per month</p>
                    </div>
                </div>
                <div class="banner__controls text-center text-lg-left">
                    {{ form_start(buy_form_banner_two) }}
                        {{ form_widget(buy_form_banner_two.buy, {
                            'label': 'Get Started',
                            'attr': {
                                'class': 'btn btn-success btn-block-xs btn-shadow'
                        }}) }}
                    {{ form_end(buy_form_banner_two) }}
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}
    {% include 'AppBundle::PhoneInsurance/_policyInfoModals.html.twig' %}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/phone-insurance.js') }}"></script>
{% endblock %}
