{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'home' %}
{% set include_get_a_quote = true %}
{% set robots_noindex = is_noindex %}

{% block title %}Mobile Phone Insurance From &pound;{{ from_price|number_format(2) }} Monthly | SO-SURE{% endblock %}
{% block meta %}
    <meta name="description" content="Choose Phone Insurance from SO-SURE. 24-72 hour repair or replacement, low excess & up to 80% money back if you don't claim. We insure hundreds of different phone models. Find your best price today."/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}
{% set og_title = 'Mobile Phone Insurance From £' ~ from_price|number_format(2) ~ ' Monthly | SO-SURE' %}
{% set og_description = "Choose Phone Insurance from SO-SURE. 24-72 hour repair or replacement, low excess & up to 80% money back if you don't claim. We insure hundreds of different phone models. Find your best price today." %}
{% set og_image = cdn_url ~ '/images/rebrand/og/so-sure_og-image-1.png' %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/phone-insurance-homepage.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container-large">
            <div class="breadcrumbs">
                <ul class="list-inline"
                    vocab="https://schema.org/"
                    typeof="BreadcrumbList">
                    <li class="list-inline-item"
                        property="itemListElement"
                        typeof="ListItem">
                        <a href="{{ path('homepage') }}"
                            class="text-columbia-blue-e"
                            property="item"
                            typeof="WebPage">
                            <span property="name">Home</span>
                        </a>
                        <meta property="position" content="1">
                    </li>
                    <li class="list-inline-item text-white">
                        <i class="fal fa-angle-right text-white"></i>
                    </li>
                    <li class="list-inline-item text-white"
                        property="itemListElement"
                        typeof="ListItem">
                        <span property="name">Phone Insurance</span>
                        <meta property="position" content="2">
                    </li>
                </ul>
            </div>
            <h1 class="hero-heading fit">
                Mobile Phone Insurance<br class="d-md-none" />
                <span class="sub">from just &pound;{{ from_price|number_format(2) }} per month</span>
            </h1>
            <p class="hero-lead lead">Great value if you need us — Money back if you don’t!</p>
            <div class="row">
                <div class="col-sm-8 offset-sm-2 col-xl-5 offset-xl-1 order-xl-2">
                    {% if phone is defined and phone %}
                        {{ render(controller('AppBundle:Search:phoneSearchDropdownCard', {
                            'type': 'homepage',
                            'source': 'phone',
                            'id': phone.id }|merge(app.request.query.all)
                        )) }}
                    {% else %}
                        {{ render(controller('AppBundle:Search:phoneSearchDropdownCard', {
                            'type': 'homepage',
                            'source': 'phone' }|merge(app.request.query.all)
                        )) }}
                    {% endif %}
                </div>
                <div class="col-xl-6 order-xl-1">
                    <div class="hero-image">
                        <div class="hero-badge animated tada">
                            <div class="hero-badge-inner">
                                {{ free_months|capitalize }}<br>
                                <span class="h5 mb-0">FREE</span><br>
                                when you pay <br>
                                yearly
                            </div>
                        </div>
                        <img src="{{ cdn_url }}/images/onexone.png"
                        data-srcset="{{ cdn_url }}/images/rebrand/homepage/so-sure_hero_excited_girl_with_phone_mobile.png 768w, {{ cdn_url }}/images/rebrand/homepage/so-sure_hero_excited_girl_with_phone.png 992w"
                        alt=""
                        class="img-fluid lozad">
                        {% include 'AppBundle::Components/_trustpilotToasts.html.twig' with {'toast_position': 'toast-bottom-left', 'toast_css': 'd-none d-md-block' } %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Cred #}
    {% include 'AppBundle::Default/CommonSections/_cred.html.twig' %}

    {# Reviews #}
    {% include 'AppBundle::Components/_reviews.html.twig' %}

    <section class="video d-flex align-items-center justify-content-center">
        <a href="#"
           data-toggle="modal"
           data-target="#sosure-video-modal"
           data-src="https://www.youtube.com/embed/rF6zxVRT5Fc"
           class="watch-video video__play">
            <img src="{{ cdn_url }}/images/onexone.png"
                 data-src="{{ cdn_url }}/images/rebrand/invite/so-sure_invite_reward_video_play_shadow.svg"
                 alt="Play buttonn"
                 class="lozad"
                 width="120px"></a>
        <img src="{{ cdn_url }}/images/onexone.png"
             data-src="{{ cdn_url }}/images/rebrand/video/so-sure_video_background_woman_swoosh.png"
             alt="Woman polaroid swoosh"
             class="lozad video-img">
    </section>

    <section class="knowledge-base">
        <div class="container-large">
            {% include 'AppBundle::Components/_knowledgeBase.html.twig' %}
        </div>
    </section>

    {# Top Manufacturers #}
    {% include 'AppBundle::PhoneInsurance/CommonSections/_topManufacturers.html.twig' %}

    {# Top Models #}
    {% include 'AppBundle::PhoneInsurance/CommonSections/_topModels.html.twig' %}

    {# Mini FAQ #}
    {% include 'AppBundle::PhoneInsurance/CommonSections/_miniFaq.html.twig' %}

    {# Articles #}
    {% include 'AppBundle::PhoneInsurance/CommonSections/_articles.html.twig' %}

    <section class="banner py-5">
        <div class="container-large">
            <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
                <div class="mb-4 mb-lg-0 d-lg-flex align-items-lg-center">
                    <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_app-icn.svg" class="d-none d-lg-inline lozad" alt="so-sure App Icon">
                    <div class="banner__text text-center text-lg-left ml-lg-4">
                        <h2 class="h4 text-white">Peace of mind <br class="d-md-none">is a piece of cake</h2>
                        <p class="lead text-white">Cover your phone in minutes </p>
                    </div>
                </div>
                <div class="banner__controls text-center text-lg-left">
                    <a href="#"
                       class="btn btn-outline-white watch-video btn-block-xs mr-sm-2"
                       data-event="watch-video-index-bottom-banner"
                       data-toggle="modal"
                       data-target="#sosure-video-modal"
                       data-src="https://www.youtube.com/embed/QEskwqsNgrQ">
                        <i class="far fa-play-circle fa-lg opacity-50 mr-1"></i>
                        Show me more
                    </a>
                    <a href="#" class="btn btn-success btn-block-xs btn-shadow get-a-quote disabled">Quote me</a>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}
    {% include 'AppBundle::PhoneInsurance/_policyInfoModals.html.twig' %}
    {% include 'AppBundle::Default/_modalVideo.html.twig' %}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/phone-insurance-homepage.js') }}"></script>
{% endblock %}
