{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}

{% block title %}{{ phone.model }} Insurance - {{ phone.make }} - so-sure: Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="For a small monthly fee your phone is covered for theft, loss, accidental damage and unauthorised usage."/>
    <link rel="canonical" href="{{ url('quote_make_model', {'make': phone.makeCanonical, 'model': phone.encodedModelCanonical}) }}" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle//Resources/public/sass/page/homepage.scss'
    '@AppBundle//Resources/public/sass/page/quoteNewDesign.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="section--pad quote">
        <div class="container">
            <div class="row">

                {# Quote Left #}
                <div class="col-sm-5 col-md-4">
                    <div class="quote__left">
                        <div class="quote__box">
                            <h1 class="h3 text-center">
                                {% if coming_soon %}
                                    <span>Better cover for your</span>
                                {% else %}
                                    <span>Insurance for your</span>
                                {% endif %}
                                <span class="text-nowrap">{{ phone.make }} {{ phone.model }} <small>{{ phone.memory }}GB</small></small>
                            </h1>

                            {# Price #}
                            {% if coming_soon %}
                                <div class="quote__price">
                                    <strong class="text-dark-grey">ONLY</strong> <br>
                                    <span class="quote__price h1 text-blue">&pound;4.99 - &pound;9.99</span> <br>
                                    <strong class="text-dark-grey">PER MONTH</strong>
                                </div>
                            {% else %}
                                <div class="quote__price">
                                    <strong class="text-dark-grey">ONLY</strong> <br>
                                    <span class="h1 text-blue">&pound;{{ phone_price.monthlyPremiumPrice }}</span> <br>
                                    <strong class="text-dark-grey">PER MONTH</strong>
                                </div>
                            {% endif %}

                            {# Change Phone Size/make #}
                            {% if phones | length > 1 %}
                                <h5 class="h-light">Wrong size {{ phone.model }}?</h5>
                                <div class="btn-group" role="group">
                                    {% for phone_mem in phones %}
                                        <a {% if phone_mem.id != phone.id  %}href="{{ path('quote_make_model_memory', {'make': phone_mem.makeCanonical, 'model': phone_mem.encodedModelCanonical, 'memory': phone_mem.memory}) }}"{% else %}disabled{% endif %} class="btn {% if phone_mem.id == phone.id  %}btn-blue{% else %}btn-blue-hollow{% endif %}">{{ phone_mem.memory }}GB</a>
                                    {% endfor %}
                                </div>
                                <br>
                            {% endif %}
                            <a href="#" data-toggle="modal" data-target="#quoteModal"><u>I have a different phone</u></a>
                        </div>

                        {# Call to action #}
                        {% if not coming_soon %}
                            <div class="quote__cta text-center">
                                <div class="form-group">
                                    {{ form_start(buy_form) }}
                                        {{ form_widget(buy_form.buy_tablet, {'label': 'Get Started', 'attr': {'class': 'btn btn-green btn-block btn-pad btn-big-text'}}) }}
                                    {{ form_end(buy_form) }}
                                </div>
                                <a href="#"
                                   data-toggle="modal"
                                   data-target="#policy-modal"
                                   id="policy-modal-trigger"
                                   class="text-underline">
                                   <small>Full Terms &amp; Conditions</small></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {# End Quote Left #}

                {# Quote Right #}
                <div class="col-sm-7 col-md-8">
                    <div class="quote__right">
                        <div class="quote__box">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>What's covered</h3>
                                    <ul class="list-unstyled fa-list-bullet quote__box--list">
                                        <li>
                                            <i class="fa fa-check text-green" aria-hidden="true"></i>
                                            Theft
                                        </li>
                                        <li>
                                            <i class="fa fa-check text-green" aria-hidden="true"></i>
                                            Loss
                                        </li>
                                        <li>
                                            <i class="fa fa-check text-green" aria-hidden="true"></i>
                                            Accidental damage <br>
                                            <small>Including cracked screen &amp; water damage</small>
                                        </li>
                                        <li>
                                            <i class="fa fa-check text-green" aria-hidden="true"></i>
                                            Out of warranty breakdown
                                        </li>
                                        <li>
                                            <i class="fa fa-check text-green" aria-hidden="true"></i>
                                            Unauthorised network charges <br>
                                            <small>Up to the value of &pound;1000 inc. VAT</small>
                                        </li>
                                        <li>
                                            <i class="fa fa-check text-green" aria-hidden="true"></i>
                                            Worldwide cover
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h3>What we offer</h3>
                                    <ul class="list-unstyled fa-list-bullet quote__box--list">
                                        <li>
                                            <i class="fa fa-check text-blue" aria-hidden="true"></i>
                                           24-72 hours once your claim is approved
                                        </li>
                                        <li>
                                            <i class="fa fa-check text-blue" aria-hidden="true"></i>
                                            24/7 live support
                                        </li>
                                        <li>
                                            <i class="fa fa-check text-blue" aria-hidden="true"></i>
                                            We insure old phones <br>
                                            <small>Old &amp; refurbished up to 3 years old</small>
                                        </li>
                                        <li>
                                            <i class="fa fa-check text-blue" aria-hidden="true"></i>
                                            Instant cover when you purchase your policy
                                        </li>
                                        <li>
                                            <i class="fa fa-check text-blue" aria-hidden="true"></i>
                                            Up to 80% cashback every year <br>
                                            <small>With our awesome 'Reward Pot' <a href="#" data-scroll-to-anchor="#rewardpot" class="scroll-to"><u>find out more</u></a></small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        {# Call to action - mobile only #}
                        {% if not coming_soon %}
                        <div class="quote__cta text-center visible-xs">
                            <div class="form-group">
                                {{ form_start(buy_form_banner) }}
                                    {{ form_widget(buy_form_banner.buy, {'label': 'Get Started', 'attr': {'class': 'btn btn btn-green btn-block btn-pad btn-big-text'}}) }}
                                {{ form_end(buy_form_banner) }}
                            </div>
                            <a href="#"
                               data-toggle="modal"
                               data-target="#policy-modal"
                               id="policy-modal-trigger"
                               class="text-underline">
                               <small>Full Terms &amp; Conditions</small></a>
                        </div>
                        {% endif %}

                        {# pic-sure #}
                        <div class="quote__box">
                            <h3>Let's talk about excess</h3>
                            <p>Our excess is &pound;150. That's high, we know, but we're making sure that dishonest policyholders and fraudsters don't take advantage of us and our genuine customers.</p>
                            <p>And that's why, by validating your phone with pic-sure technology, which takes less than 30 seconds, you can easily take your excess down to:</p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th valign="top" width="50%" class="h4">Excess <u>with</u> pic-sure <i class="fa fa-check fa-lg text-green" aria-hidden="true"></i></th>
                                        <th valign="top" width="50%" class="h4">Excess <u>without</u> pic-sure <i class="fa fa-times fa-lg text-red" aria-hidden="true"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong class="h4">&pound;50</strong><br> <small>For Accidental damage, Breakdown</small></td>
                                        <td><strong class="h4">&pound;150</strong><br> <small>For Theft, Loss, Accidental damage, Breakdown</small></td>
                                    </tr>
                                    <tr>
                                        <td><strong class="h4">&pound;70</strong><br> <small>For Theft, Loss</small></td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        {# Reward pot #}
                        <div class="quote__box" id="rewardpot">
                            <h3>How Does the Reward Pot Work?</h3>

                            {# Slider #}
                            <div id="loading-overlay-init" class="loading-overlay" style="display:block;"></div>

                            {# Set the start friends amount #}
                            {% set start_friends = 0 %}

                            {% set start_friends_rounded = start_friends|round() %}

                            {# Set the amount of cashback #}
                            {% set start_value = start_friends_rounded  * connection_value %}

                            {# If greater than max pot, pot max is start value #}
                            {% if start_value > max_pot %}
                                {% set start_value = max_pot %}
                            {% endif %}

                            {# Start amount and work out monthly #}
                            {% set start_premium = annual_premium - start_value %}
                            {% set monthly_premium = start_premium / 12 %}

                            <p class="lead">If you and your friends take good care of your phones and don’t need to claim, we’ll give you up to 80% of your premium back at the end of your policy year, see how much you could save below using our handy slider:</p>

                            <h4 class="text-center text-blue">
                                Effective <u>monthly</u> cost after cashback: <br>
                                <small>(Cashback paid out end of policy year)</small>
                            </h4>

                            <div class="reward-slider">

                                <output for="range" class="rewardslider__output">
                                    <span id="premium" class="h3 text-white">&pound;{{ monthly_premium|number_format(2, '.', ',') }}</span><br>
                                    <small class="text-nowrap">per month</small>
                                </output>

                                <input type="range"
                                       id="reward-slider"
                                       autocomplete="off"
                                       min="0"
                                       max="{{ max_connections }}"
                                       value="{{ start_friends_rounded }}"
                                       data-maxpot="{{ max_pot }}"
                                       data-connection-value="{{ connection_value }}"
                                       data-premium="{{ annual_premium }}"
                                       data-monthly-premium="{{ monthly_premium }}">
                            </div>
                            <h4 class="text-blue text-center">Number of connections</h4>
                        </div>

                        {# Phone stats #}
                        <div class="quote__box">
                            <h3>About the {{ phone.make }} {{ phone.model }}</h3>
                            <ul class="list-unstyled quote__box--list">
                                <li>Camera: {{ phone.camera }} MP</li>
                                <li>Size: {{ phone.getScreenPhysicalInch }}"</li>
                                <li>Screen Resolution: {{ phone.getScreenResolution }}</li>
                                <li>RAM: {{ phone.getRamDisplay }}</li>
                            </ul>
                            {% if phone.funFacts|length > 0 %}
                                <p>{{ phone.funFacts|raw }}</p>
                            {% endif %}
                            {% if phone.description|length > 0 %}
                                <p>{{ phone.description|raw }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {# End Quote Right #}

            </div>
        </div>
    </section>

    {# Page Modals #}
    <div class="modal modal-fullscreen fade"
         id="policy-modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="So-Sure Policy Terms"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-policy" data-url="{{ url('latest_policy_terms', {'policy_key': policy_key, 'maxPotValue':  max_pot, 'include': true, 'noH1': true }) }}">
                    <div class="text-center" style="margin-bottom: 20px;">
                        <img src="{{ cdn_url }}/images/spinner.svg" alt="Loading..."><br>
                        <a href="#" id="reload-policy" class="btn btn-blue-hollow" style="display:none;"><i class="fa fa-refresh" aria-hidden="true"></i> reload</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'AppBundle::Default/modalQuote.html.twig' with {'selectPhoneMakeType': 'other_pages'} %}
    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/lozad/lozad.min.js'
    'components/dot/doT.min.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/images.js'
    'components/rangeslider.js/rangeslider.min.js'
    '@AppBundle/Resources/public/js/Default/sliderNew.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeSearch.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeDropdown.js'
    '@AppBundle/Resources/public/js/Default/quote.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
