{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'quote' %}
{% set quote_mode = 1 %}

{% block title %}{{ phone.model }} Insurance - {{ phone.make }} - Welcome to Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
    <meta name="description" content="For a small monthly fee your phone is covered for theft, loss, accidental damage and unauthorised usage."/>
    <link rel="canonical" href="{{ url('quote_make_model', {'make': phone.makeCanonical, 'model': phone.encodedModelCanonical}) }}" />
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/quotepage.css') }}">
{% endblock %}

{% block body %}

    <section class="qpw">
        <div class="d-lg-flex">

            <div class="qpw__main__container">
                <div class="qpw__main">

                </div>
            </div>

            <div class="qpw__curve">
                <svg class="d-block d-lg-none" preserveAspectRatio="xMinYMin meet" viewBox="0 0 750 117" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(0.000000, -32.000000)" fill="#FFFFFF">
                            <g id="---BG---" transform="translate(-4700.000000, -8443.000000)">
                                <path d="M4700,8515 C4824,8488.33333 4948.66667,8475 5074,8475 C5199.33333,8475 5324.66667,8488.33333 5450,8515 L5450,8592 L4700,8592 L4700,8515 Z" id="Rectangle"></path>
                            </g>
                        </g>
                    </g>
                </svg>
                <svg class="d-none d-lg-block" preserveAspectRatio="xMinYMin meet" viewBox="0 0 57 846" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-12.000000, 0.000000)" fill="#FFFFFF">
                            <path d="M69,0 L69,846 L68,846 C30.6666667,705 12,564 12,423 C12,282 31,141 69,0 Z" id="Rectangle-3"></path>
                        </g>
                    </g>
                </svg>
            </div>

            <div class="qpw__sub__container">

            </div>

        </div>
    </section>


    {# Page Modals #}
    <div class="modal fade"
         id="quote_page_modal_replace_repair"
         tabindex="-1" role="dialog"
         aria-labelledby="quote_page_modal_replace_repair"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">24-72 hour replace/repair</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body text-center text-sm-left">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="so-sure - Policy" width="120px">
                        </div>
                        <div class="col-sm-8">
                            Some repairs can take longer (eg water damage) but we will be as fast as possible once your claim approved
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade"
         id="quote_page_modal_cashback"
         tabindex="-1" role="dialog"
         aria-labelledby="quote_page_modal_cashback"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Up to 80% cashback every year </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body text-center text-sm-left">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_wallet-cashback.png" alt="so-sure - Policy" width="120px">
                        </div>
                        <div class="col-sm-8">
                            By joining forces with your most careful friends and family members, you could see 80% of your insurance premium reimbursed every year
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {# TODO: Fix footer #}
{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/quotepage.js') }}"></script>
{% endblock %}
