{% extends 'base.html.twig' %}

{# Set vars #}
{% set include_emoji = 1 %}
{% set white_logo = true %}

{% block title %}so-sure -
    {{ phone }}{% endblock %}
{% block meta %}
    <meta name="description" content="For a small monthly fee your phone is covered for theft, loss, accidental damage and unauthorised usage."/>
    <meta name="keywords" content="mobile insurance, phone insurance, mobile phone insurance, cheap mobile phone insurance, cheap phone insurance, cheap mobile insurance, better phone insurance, better mobile phone insurance"/>
    <link rel="canonical" href="{{ url('quote_make_model', {'make': phone.make, 'model': phone.encodedModel}) }}" />

    <meta property="og:video" content="https://cdn.so-sure.com/video/explainer-subtitle-640.mp4" />
    <meta property="og:video:secure_url" content="https://cdn.so-sure.com/video/explainer-subtitle-640.mp4" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="640" />
    <meta property="og:video:height" content="360" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/vimeo-player-js/player.min.js'
    'components/typeahead.js/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    'components/rangeslider.js/rangeslider.min.js'
    '@AppBundle/Resources/public/js/Default/modalVideo.js'
    '@AppBundle/Resources/public/js/Default/index.js'
    '@AppBundle/Resources/public/js/Default/slider.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js'
    '@AppBundle/Resources/public/js/Default/bannerSticky.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle//Resources/public/sass/page/quote.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section id="quote" class="quote-container">

        {% if coming_soon %}
        <h1 class="h2">Better cover for your <span class="text-white">{{ phone }} is coming soon!</span>
        </h1>
        {% else %}
        <h1 class="h2">
            Insurance for your
            <div class="dropdown memory-dropdown-list">
                <a href="#"
                   class="dropdown-toggle text-white"
                   type="button"
                   id="memoryDropdownList"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="true">
                    {{ phone }}
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>

                <ul class="dropdown-menu memory-dropdown" aria-labelledby="memoryDropdownList">
                    {% if phones | length > 1 %}
                        <li class="dropdown-header">Select alternate model</li>
                        {% for phone_mem in phones if phone_mem.id != phone.id %}
                            <li>
                                <a href="{{ path('quote_make_model_memory', {'make': phone_mem.make, 'model': phone_mem.encodedModel, 'memory': phone_mem.memory}) }}" class=""> {{ phone.model }} - {{ phone_mem.memory }}GB</a>
                            </li>
                        {% endfor %}
                        <li role="separator" class="divider"></li>
                    {% endif %}
                    <li><a href="#" data-toggle="modal" data-target="#quoteModal"> I have a different phone</a></li>
                </ul>
            </div>
        </h1>
        {% endif %}

        <div class="quote">

            <div class="row">
                <div class="col-md-12">
                    <div id="cover-price" class="quote-cost text-center">
                        {{ form_start(buy_form) }}
                        <div class="text-center h4">
                            {% if phone.initialPrice > 0 %}
                                If your phone is stolen/lost, replacing it costs <strong>£{{ phone.initialPrice }}</strong> 😧
                            {% endif %}
                            Get peace of mind for:</div>
                        <div class="row">
                            {% if coming_soon %}
                                <div class="col-sm-6">
                                    <div class="h1 price">
                                        Pricing coming soon!
                                        <strong>£4.99 - £9.99</strong>
                                        <small>per month (typical policy pricing)</small><br>
                                    </div>
                                    <span>£50 Excess (£70 for Theft &amp; Loss)</span>
                                </div>
                                <div class="col-sm-6">
                                    {{ form_widget(buy_form.buy_tablet, {'label': 'COMING SOON!', 'attr': {'class': 'btn btn-success  btn-block disabled'}}) }}
                                </div>
                            {% else %}
                                <div class="col-sm-6">
                                    <div class="h1 price">
                                        <strong>£{{ phone_price.monthlyPremiumPrice }}</strong>
                                        <small>per month</small><br>
                                    </div>
                                    <span>£50 Excess (£70 for Theft &amp; Loss)</span>
                                </div>
                                <div class="col-sm-6">
                                    {{ form_widget(buy_form.buy_tablet, {'label': 'Get Started', 'attr': {'class': 'btn btn-success btn-lg  btn-block'}}) }}
                                    <ul class="list-inline">
                                        <li>
                                            <small><a href="#" data-toggle="modal" data-target="#policy-modal" id="policy-modal-trigger">Full Terms &amp; Conditions</a></small>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        {{ form_end(buy_form) }}
                    </div>
                </div>
            </div>

            {% if feature_enabled('quote-lead') and phone.initialPrice > 0 %}
            <div class="row">
                <div class="col-md-12">
                    <div class="quote-card">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <h4><strong class="text-dark-grey">Guarantee this price for the next 7 days</strong></h4>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                {{ form_start(lead_form) }}
                                <div class="input-group {% if form_errors(lead_form.email) %}has-error{% endif %}">
                                    {{ form_label(lead_form.email, 'Your email:', { 'label_attr': {'class': 'sr-only'} }) }}
                                    {{ form_widget(lead_form.email, {'attr':{'class':'form-control', 'placeholder': 'Enter email to save quote'}}) }}
                                    <div class="help-block with-errors">{{ form_errors(lead_form.email) }}</div>
                                    <span class="input-group-btn">
                                        {{ form_widget(lead_form.save, {'label': 'Send', 'attr': {'class': 'btn btn-primary'}}) }}
                                    </span>
                                </div><!-- /input-group -->
                                {{ form_end(lead_form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="row">
               <div class="col-xs-12 col-sm-7 col-md-7">
                    <div class="quote-card">
                        {% if slider_test == 'slide-me' %}
                            <h3>What we offer</h3>
                        {% else %}
                            <h3>so-sure proudly offers</h3>
                        {% endif %}
                        <ul class="list-unstyled">
                            <li class="h4 text-underline"><i class="fa fa-plus-circle fa-lg text-blue" aria-hidden="true"></i>Next working day replacement or repair</li>
                            <li class="h4"><i class="fa fa-plus-circle fa-lg text-blue" aria-hidden="true"></i>24/7 live support</li>
                            {% if phone.monthAge > 36 %}
                                <li class="h4"><i class="fa fa-plus-circle fa-lg text-blue" aria-hidden="true"></i>Insure used phones (up to 3 years old)</li>
                            {% else %}
                                <li class="h4"><i class="fa fa-plus-circle fa-lg text-blue" aria-hidden="true"></i>Insure used phones</li>
                            {% endif %}
                            <li class="h4"><i class="fa fa-plus-circle fa-lg text-blue" aria-hidden="true"></i> Cover starts when you buy your policy</li>
                            <li class="h4">
                                <i class="fa fa-plus-circle fa-lg text-blue" aria-hidden="true"></i>
                                <span class="visible-xs-inline">
                                    <a id="cashback-link" href="#cashback-card"><span class="text-dark-grey text-underline">Up to 80% cashback every year</span></a>
                                </span>
                                <span class="hidden-xs">
                                    <span class="text-dark-grey text-underline">Up to 80% cashback every year</span>
                                </span>
                            </li>
                            <br>
                        </ul>
                        <h3>Our cover always includes</h3>
                        <ul class="list-unstyled">
                            <li class="h4">
                                <i class="fa fa-check-circle fa-lg text-green" aria-hidden="true"></i>
                                Loss
                                <i class="fa fa-info-circle"
                                   data-toggle="popover"
                                   data-placement="top"
                                   data-html="true"
                                   data-trigger="hover"
                                   data-content="In the event of theft or loss you are also covered for: <br>
                                   <ul>
                                     <li>Unauthorised network charges (up to £1,000 including VAT)</li>
                                     <li>Accessories (e.g. headphones - up to £100 including VAT)</li>
                                   </ul>"
                                   title="Theft &amp; Loss"></i>
                            </li>
                            <li class="h4">
                                <i class="fa fa-check-circle fa-lg text-green" aria-hidden="true"></i> Theft
                                <i class="fa fa-info-circle"
                                   data-toggle="popover"
                                   data-placement="top"
                                   data-html="true"
                                   data-trigger="hover"
                                   data-content="In the event of theft or loss you are also covered for: <br>
                                   <ul>
                                     <li>Unauthorised network charges (up to £1,000 including VAT)</li>
                                     <li>Accessories (e.g. headphones - up to £100 including VAT)</li>
                                   </ul>"
                                   title="Theft &amp; Loss"></i>
                            </li>
                            <li class="h4">
                                <i class="fa fa-check-circle fa-lg text-green" aria-hidden="true"></i> Accidental damage (e.g. cracked screen)
                                <i class="fa fa-info-circle"
                                   data-toggle="popover"
                                   data-placement="top"
                                   data-html="true"
                                   data-trigger="hover"
                                   data-content="<p>Including Water Damage</p>"
                                   title="Accidental damage"></i>
                            </li>
                            <li class="h4">
                                <i class="fa fa-check-circle fa-lg text-green" aria-hidden="true"></i> Out of warranty breakdown
                            </li>
                            <li class="h4">
                                <i class="fa fa-check-circle fa-lg text-green" aria-hidden="true"></i> Worldwide coverage
                                <i class="fa fa-info-circle"
                                   data-toggle="popover"
                                   data-placement="top"
                                   data-html="true"
                                   data-trigger="hover"
                                   data-content="<p>Valid for 90 days while you are traveling for leisure or business.</p>"
                                   title="Worldwide coverage"></i>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div id="cashback-card" class="quote-card">

                        <div id="loading-overlay-init" class="loading-overlay" style="display:block;"></div>

                        {% if coming_soon %}
                            <h3>Get cashback by connecting to friends</h3>
                            <p><i>(based on annual premium of £100)</i></p>
                        {% else %}
                            <h3>Get cashback by connecting to friends</h3>
                        {% endif %}

                        <div class="h4 text-grey-blue"><strong>No. of Friends connected</strong></div>

                        {% set start_friends = max_connections %}

                        {% set start_value = start_friends * connection_value %}

                        {% if start_value > max_pot %}

                            {% set start_value = max_pot %}

                        {% endif %}

                        {% set start_premium = annual_premium - start_value %}

                        <div class="reward-slider">
                            <input type="range"
                                   id="reward-slider"
                                   min="0"
                                   max="{{ max_connections }}"
                                   value="{{ start_friends }}"
                                   data-maxpot="{{ max_pot }}"
                                   data-connection-value="{{ connection_value }}"
                                   data-premium="{{ annual_premium }}"
                                   data-max-comparison="{{ comparision_max }}">
                        </div>

                        {% if slider_test == 'slide-me' %}
                        <div class="slide-me">
                            <img src="{{ cdn_url }}/images/quote-page/arrow-slide-me.svg" alt="">
                        </div>
                        {% endif %}

                        <div class="reward-total">
                            <div class="cashback-value">
                                <strong id="cashback">£{{ start_value }}</strong>
                                <strong id="cashback-with-claim"></strong>
                            </div>
                            <small id="cashback-text">Cashback if no one claims</small>
                        </div>

                        <div class="premium-and-claims">
                            <div id="loading-overlay-switch" class="loading-overlay"></div>

                            <div class="premium-table">
                                <div class="h4 text-grey-blue"><strong>Effective annual premium</strong></div>
                                <table width="100%">
                                    <tr>
                                        <td width="45%">
                                            <img src="../images/logo/so-sure-logo-dark.svg" alt="so-sure" width="80px">
                                        </td>
                                        <td width="33%">
                                            <div class="bar bar-us"><div></div></div>
                                        </td>
                                        <td width="22%" align="right">
                                            <strong>
                                                <small id="premium" class="premium-value text-blue">
                                                    £{{ start_premium|number_format(2, '.', ',') }}
                                                </small>
                                            </strong>
                                        </td>
                                    </tr>
                                    {% for name, value in comparision %}
                                    <tr>
                                        <td><small>{{ name }}</small></td>
                                        <td>
                                            <div class="bar"><div></div></div>
                                        </td>
                                        <td align="right">
                                            <strong><small class="premium-value">£{{ value|number_format(2, '.', ',') }}</small></strong>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>

                                {% if comparision | length > 0 %}
                                    <div class="text-right">
                                         <a href="#" data-toggle="modal" data-target="#calculation-details"><small><em class="text-underline text-dark-grey">Calculation details</em></small></a>
                                    </div>
                                {% endif %}

                                <div class="text-center h5">
                                    <a id="what-if" href="#" data-toggle-text="Return to annual premium"><strong class="text-underline">What happens when someone claims?</strong></a>
                                </div>
                            </div>

                            <div class="claim-options">
                                <div class="h4 text-blue"><strong>What if</strong></div>


                                <div class="list-group claim-options-list"
                                     data-cashback-target="#cashback-text">
                                    <button
                                        type="button"
                                        class="list-group-item active"
                                        data-claim-option="0"
                                        data-cashback-text="Cashback if no one claims">
                                        No claim
                                    </button>
                                    <button
                                        type="button"
                                        class="list-group-item"
                                        data-claim-option="1"
                                        data-cashback-text="Cashback if I make a claim">
                                        I make a claim
                                    </button>
                                    <button
                                        type="button"
                                        class="list-group-item"
                                        data-claim-option="2"
                                        data-cashback-text="Cashback if 1 claim in my network">
                                        1 claim in my network
                                    </button>
                                    <button
                                        type="button"
                                        class="list-group-item"
                                        data-claim-option="3"
                                        data-cashback-text="Cashback if 2+ claims in my network">
                                        2+ claims in my network
                                    </button>
                                </div>

                                <div class="text-center h5">
                                    <a id="what-if-return" href="#"><strong class="text-underline">Return to premium comparison</strong></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-primary-hollow btn-xs" href="#" data-toggle="modal" data-target="#modal-fullscreen">Video of how it works <i class="fa fa-play-circle" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    {% if slider_test != 'slide-me' %}
        {% include 'AppBundle::Default/press.html.twig' %}

        <section id="quote-banner"
                 class="banner-sticky banner-sticky-hide"
                 data-sticky-trigger="quote"
                 data-sticky-offset="200"
                 data-sticky-static="true"
                 >
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <h3><small>Device</small> <span>{{ phone }}</span></h3>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-2">
                        <h3><span>£{{ phone_price.monthlyPremiumPrice }}</span> <small>/month</small></h3>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-2">

                        {{ form_start(buy_form_banner) }}
                            {{ form_widget(buy_form_banner.buy, {'label': 'Get Started', 'attr': {'class': 'btn btn-success '}}) }}
                        {{ form_end(buy_form_banner)}}

                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% include 'AppBundle::Default/fasterClaims.html.twig' %}

    {% include 'AppBundle::Default/saveMoney.html.twig' %}

    {% include 'AppBundle::Default/faqs.html.twig' %}

    {% include 'AppBundle::Default/feedbackQuotes.html.twig' %}

    {% include 'AppBundle::Default/whySoSure.html.twig' %}

    <section class="phone-details">
        <div class="container">
            <h3>About the {{ phone.make }} {{ phone.model }}</h3>
            <ul class="list-inline">
                <li>Camera: {{ phone.camera }} MP</li>
                <li>Size: {{ phone.getScreenPhysicalInch }}"</li>
                <li>Screen Resolution: {{ phone.getScreenResolution }}</li>
                <li>RAM: {{ phone.getRamDisplay }}</li>
            </ul>
            {% if phone.funFacts|length > 0 %}
                <p>{{ phone.funFacts|raw }}</p>
            {% endif %}
            {% if phone.description|length > 0 %}
                <p>{{ phone.description|raw }}</p>
            {% endif %}
        </div>
    </section>

    {% if slider_test == 'slide-me' %}
        {% include 'AppBundle::Default/press.html.twig' %}
    {% endif %}

    {% include 'AppBundle::Default/partnership.html.twig' %}

    {# Page Modals #}

    {% include 'AppBundle::Default/modalVideo.html.twig' %}

    <div class="modal modal-fullscreen fade"
         id="policy-modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="So-Sure Policy Terms"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3>So-Sure Policy Terms</h3>
                </div>
                <div class="modal-body modal-policy">
                    {{ render(controller('AppBundle:ApiView:policyLatestTerms', {'policy_key': policy_key, 'maxPotValue':  max_pot })) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="calculation-details"
         tabindex="-1"
         role="dialog"
         aria-labelledby="Calculation Details"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3>Calculation Details</h3>
                </div>
                <div class="modal-body">
                    <p><strong>How we calculate this:</strong></p>
                    <p>Prices based on data available from competitor websites, last updated on 1 February 2017.  </p>
                    <p>Networks taken as an average of O2, Vodafone, and Three.</p>
                    <p>High Street is Car Phone Warehouse.</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'AppBundle::Default/modalQuote.html.twig' with {'selectPhoneMakeType': 'old-inline'} %}
    {# End Page Modals #}

{% endblock %}
