{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'quote' %}
{% set quote_mode = 1 %}
{% set intercom_enabled = false %}

{% block title %}{{ phone.model }} Insurance - {{ phone.make }} - Welcome to Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
    <meta name="description" content="For a small monthly fee your phone is covered for theft, loss, accidental damage and unauthorised usage."/>
    <link rel="canonical" href="{{ url('quote_make_model', {'make': phone.makeCanonical, 'model': phone.encodedModelCanonical}) }}" />
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/quotepage.css') }}">
{% endblock %}

{% block body %}

    <section class="qpw">
        <div class="d-lg-flex">

            {# Main Content #}
            <div class="qpw__main__container">
                <div class="qpw__main px-4 px-lg-5">
                    <div class="qpw__h5 h5 text-white mb-4">Here’s your quote details, Insure your:</div>
                    <div class="d-flex justify-content-start align-items-center justify-content-lg-start">
                        <h1 class="qpw__h1 text-blue1b">
                            <span class="sub">
                                {{ phone.make }} {{ phone.model }}
                                <small>({{ phone.memory }}GB)</small>
                            </span>
                        </h1>
                        <div class="qpw__alt__phones dropdown dropleft">
                            <a href="#"
                               class="dropdown-toggle"
                               id="dropdownMenuLink"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="far fa-chevron-down text-white fa-lg ml-3"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                {% if phones | length > 1 %}
                                    {% for phone_mem in phones %}
                                        {% if phone_mem.id != phone.id  %}
                                            <a href="{{ path('quote_make_model_memory', {'make': phone_mem.makeCanonical, 'model': phone_mem.encodedModelCanonical, 'memory': phone_mem.memory}) }}" class="dropdown-item h6" href="#">
                                                {{ phone_mem.memory }}GB
                                                <small>{{ phone.make }} {{ phone.model }}</small>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <a class="dropdown-item h6 get-a-quote" href="#">
                                    Start a new quote
                                    <small>Not the phone you're looking for?</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="qpw__h1 h1 text-white mb-4">
                        <span class="sub">For only</span>
                        &pound;{{ phone_price.monthlyPremiumPrice }} a month
                    </div>
                    {{ form_start(buy_form) }}
                        {{ form_widget(buy_form.buy_tablet, {
                            'label': 'Get Started',
                            'attr': {
                                'class': 'btn btn-success btn-gradient-green btn-shadow btn-lg btn-block-xs'
                            }})
                        }}
                    {{ form_end(buy_form) }}
                    <div class="qpw__footer d-none d-lg-block mt-5 pt-lg-5">
                        <h4 class="text-white">The higest level of cover!</h4>
                        <p class="text-blue1 lead">We offer the markets highest level of cover</p>
                    </div>
                </div>

                <div class="qpw__info__container d-none d-lg-block">
                    {% include 'AppBundle::PhoneInsurance/_seeFullDetails.html.twig' %}
                    <div class="py-3 px-4 mx-md-5 mb-5 rounded bg-blue2 d-lg-flex justify-content-lg-between align-items-lg-center">
                        <div class="text-center text-lg-left">
                            <h4 class="text-white">Let's get you covered</h4>
                            <p class="lead text-white mb-0">It'll only take a few minutes</p>
                        </div>
                        <a href="#" class="btn btn-success btn-gradient-green btn-shadow btn-block-xs mt-4 mt-lg-0" id="fix-get-insured">Get Started</a>
                    </div>
                </div>

                {# Curve Mobile #}
                <svg class="d-block d-lg-none" preserveAspectRatio="xMinYMin meet" viewBox="0 0 750 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Artboard-Copy" fill="#0068ED">
                            <path d="M0,0 L750,0 L750,47 C625,18.3333333 500,4 375,4 C250,4 125,18.3333333 0,47 L0,0 Z" id="Rectangle-2"></path>
                        </g>
                    </g>
                </svg>
            </div>

            {# Curve Desktop #}
            <div class="qpw__curve">
                <svg class="d-none d-lg-block" preserveAspectRatio="xMinYMin meet" viewBox="0 0 57 846" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-12.000000, 0.000000)" fill="#FFFFFF">
                            <path d="M69,0 L69,846 L68,846 C30.6666667,705 12,564 12,423 C12,282 31,141 69,0 Z" id="Rectangle-3"></path>
                        </g>
                    </g>
                </svg>
            </div>

            {# Sub Content #}
            <div class="qpw__sub__container">
                <div class="qpw__sub px-4 pb-4 pt-5 p-lg-5">

                    <h4 class="text-blue2 mb-4">Your cover includes:</h4>
                    <ul class="list-unstyled icn-list mb-5">
                        <li class="mb-4">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_accidental-damage-icn.svg" alt="so-sure - Accidental damage" width="30px" class="mr-2">
                            <strong class="text-blue4">Cracked screens</strong>
                        </li>
                        <li class="mb-4">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_theft-loss-icn.svg" alt="so-sure - Theft or loss" width="30px" class="mr-2">
                            <strong class="text-blue4">Theft or loss</strong>
                        </li>
                        <li class="mb-4">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_broken-phone-icn.svg" alt="so-sure - Water damage" width="30px" class="mr-2">
                            <strong class="text-blue4">Water damage</strong>
                        </li>
                        <li class="mb-4">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_travel-icn.svg" alt="so-sure - Travel Cover" width="30px" class="mr-2">
                            <strong class="text-blue4">International travel</strong>
                        </li>
                        <li class="mb-4">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_out-of-warranty-icn.svg" alt="so-sure - Out of Warranty Breakdown" width="30px" class="mr-2">
                            <strong class="text-blue4">Out-of-warranty breakdowns</strong>
                        </li>
                        <li class="mb-4">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_broken-phone-icn.svg" alt="so-sure - Broken headphone jack" width="30px" class="mr-2">
                            <strong class="text-blue4">Accessories</strong>
                        </li>
                    </ul>
                    <h4 class="text-blue2 my-4">We also offer:</h4>
                    <ul class="list-unstyled icn-list">
                        <li class="mb-4">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_happy-icn-min.svg" alt="so-sure - Accidental damage" width="30px" class="mr-2">
                            <strong class="text-blue4">
                                24-72 hour replace/repair <br> once claim approved
                                <span class="ml-2 text-blue2">
                                    <a href="#"
                                       data-toggle="modal"
                                       data-target="#quote_page_modal_replace_repair"
                                       role="button">
                                        <i class="fal fa-info-circle"></i>
                                    </a>
                                </span>
                            </strong>
                        </li>
                        <li class="mb-4">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_happy-icn-min.svg" alt="so-sure - Accidental damage" width="30px" class="mr-2">
                            <strong class="text-blue4">Instant cover after purchase</strong>
                        </li>
                        <li class="mb-4">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_happy-icn-min.svg" alt="so-sure - Accidental damage" width="30px" class="mr-2">
                            <strong class="text-blue4">
                                Up to 80% cashback every year
                                <span class="ml-2 text-blue2">
                                    <a href="#"
                                       data-toggle="modal"
                                       data-target="#quote_page_modal_cashback"
                                       role="button">
                                        <i class="fal fa-info-circle"></i>
                                    </a>
                                </span>
                            </strong>
                        </li>
                    </ul>
                    <div class="mt-5 d-none d-lg-block">
                        <a href="#" class="btn btn-success btn-gradient-green btn-shadow btn-block-xs btn-lg" id="fix-get-insured">Get Started <i class="far fa-arrow-right ml-2"></i></a>
                    </div>
                    <div class="mt-5 d-block d-lg-none">
                        <a href="#" class="btn btn-primary btn-gradient btn-shadow btn-block-xs"><span>See full policy</span> <i class="far fa-arrow-down ml-2"></i></a>
                    </div>
                </div>
            </div>

            <div class="qpw__info__container_mobile collapse">
                {% include 'AppBundle::PhoneInsurance/_seeFullDetails.html.twig' %}
                <div class="py-3 px-4 mx-2 mb-5 rounded bg-blue2 d-lg-flex justify-content-lg-between align-items-lg-center">
                    <div class="text-center text-lg-left">
                        <h4 class="text-white">Let's get you covered</h4>
                        <p class="lead text-white mb-0">It'll only take a few minutes</p>
                    </div>
                    <a href="#" class="btn btn-success btn-gradient-green btn-shadow btn-block-xs mt-4 mt-lg-0" id="fix-get-insured">Get Started</a>
                </div>
            </div>

        </div>
    </section>

    {# Page Modals #}
    <div class="modal fade"
         id="quote_page_modal_replace_repair"
         tabindex="-1" role="dialog"
         aria-labelledby="quote_page_modal_replace_repair"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">24-72 hour replace/repair</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body text-center text-sm-left">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="so-sure - Policy" width="120px">
                        </div>
                        <div class="col-sm-8">
                            Some repairs can take longer (eg water damage) but we will be as fast as possible once your claim approved
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade"
         id="quote_page_modal_cashback"
         tabindex="-1" role="dialog"
         aria-labelledby="quote_page_modal_cashback"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Up to 80% cashback every year </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body text-center text-sm-left">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_wallet-cashback.png" alt="so-sure - Policy" width="120px">
                        </div>
                        <div class="col-sm-8">
                            By joining forces with your most careful friends and family members, you could see 80% of your insurance premium reimbursed every year
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {# TODO: Fix footer #}
{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/quotepage.js') }}"></script>
{% endblock %}
