{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}

{% block title %}so-sure -
    {{ phone }}{% endblock %}
{% block meta %}
    <meta name="description" content="For a small monthly fee your phone is covered for theft, loss, accidental damage and unauthorised usage."/>
    <meta name="keywords" content="mobile insurance, phone insurance, mobile phone insurance, cheap mobile phone insurance, cheap phone insurance, cheap mobile insurance, better phone insurance, better mobile phone insurance"/>
    <link rel="canonical" href="{{ url('quote_make_model', {'make': phone.make, 'model': phone.encodedModel}) }}" />

    <meta property="og:video" content="https://cdn.so-sure.com/video/explainer-subtitle-640.mp4" />
    <meta property="og:video:secure_url" content="https://cdn.so-sure.com/video/explainer-subtitle-640.mp4" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="640" />
    <meta property="og:video:height" content="360" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle//Resources/public/sass/page/quoteSticky.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="section--pad quote">
        <div class="container">
            <h1 class="h2 text-center">
                {% if coming_soon %}
                    <span>Better cover for your</span>
                {% else %}
                    <span>Insurance for your</span>
                {% endif %}
                {{ phone.make }} {{ phone.model }} <small>{{ phone.memory }}GB</small>
            </h1>
            <div class="row">
                {# Quote Left #}
                <div class="col-sm-4">
                    <div class="quote__box quote__left">
                        Left
                    </div>
                </div>
                {# Quote Right #}
                <div class="col-sm-8">
                    <div class="quote__box quote__right">
                        Right
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="phone-details background-blue">
        <div class="container">
            <h3>About the {{ phone.make }} {{ phone.model }}</h3>
            <ul class="list-inline">
                <li>Camera: {{ phone.camera }} MP</li>
                <li>Size: {{ phone.getScreenPhysicalInch }}"</li>
                <li>Screen Resolution: {{ phone.getScreenResolution }}</li>
                <li>RAM: {{ phone.getRamDisplay }}</li>
            </ul>
            {% if phone.funFacts|length > 0 %}
                <p>{{ phone.funFacts|raw }}</p>
            {% endif %}
            {% if phone.description|length > 0 %}
                <p>{{ phone.description|raw }}</p>
            {% endif %}
        </div>
    </section>

    {# Page Modals #}
    <div class="modal modal-fullscreen fade"
         id="policy-modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="So-Sure Policy Terms"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3>So-Sure Policy Terms</h3>
                </div>
                <div class="modal-body modal-policy">
                    {{ render(controller('AppBundle:ApiView:policyLatestTerms', {'policy_key': policy_key, 'maxPotValue':  max_pot, 'include': true })) }}
                </div>
            </div>
        </div>
    </div>

    {% include 'AppBundle::Default/modalQuote.html.twig' with {'selectPhoneMakeType': 'other_pages'} %}
    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/dot/doT.min.js'
    'components/vimeo-player-js/player.min.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    'components/rangeslider.js/rangeslider.min.js'
    '@AppBundle/Resources/public/js/Default/modalVideo.js'
    '@AppBundle/Resources/public/js/Default/sliderNew.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js'
    '@AppBundle/Resources/public/js/Default/bannerSticky.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
