{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}

{% block title %}{{ phone.model }} Insurance - {{ phone.make }} - so-sure: Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="For a small monthly fee your phone is covered for theft, loss, accidental damage and unauthorised usage."/>
    <link rel="canonical" href="{{ url('quote_make_model', {'make': phone.makeCanonical, 'model': phone.encodedModelCanonical}) }}" />

    <meta property="og:video" content="https://cdn.so-sure.com/video/explainer-subtitle-640.mp4" />
    <meta property="og:video:secure_url" content="https://cdn.so-sure.com/video/explainer-subtitle-640.mp4" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="640" />
    <meta property="og:video:height" content="360" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle//Resources/public/sass/page/quote.scss'
    '@AppBundle//Resources/public/sass/page/homepage.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="section--pad quote">
        <div class="container">
            <div class="row">
                {# Quote Left #}
                <div class="col-md-8">
                    <div class="quote__left">
                            <h1 class="h2">
                                {% if coming_soon %}
                                    <span class="text-blue">Better cover for your</span>
                                {% else %}
                                    <span class="text-blue">Insurance for your</span>
                                {% endif %}
                                <div class="dropdown memory-dropdown-list">
                                    <a href="#"
                                       class="dropdown-toggle text-nowrap"
                                       type="button"
                                       id="memoryDropdownList"
                                       data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="true">
                                        {{ phone }}
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu memory-dropdown" aria-labelledby="memoryDropdownList">
                                        {% if phones | length > 1 %}
                                            <li class="dropdown-header">Select alternate model</li>
                                            {% for phone_mem in phones if phone_mem.id != phone.id %}
                                                <li>
                                                    <a href="{{ path('quote_make_model_memory', {'make': phone_mem.makeCanonical, 'model': phone_mem.encodedModelCanonical, 'memory': phone_mem.memory}) }}" class=""> {{ phone.model }} - {{ phone_mem.memory }}GB</a>
                                                </li>
                                            {% endfor %}
                                            <li role="separator" class="divider"></li>
                                        {% endif %}
                                        <li><a href="#" data-toggle="modal" data-target="#quoteModal"> I have a different phone</a></li>
                                    </ul>
                                </div>
                                <br>

                                {% if coming_soon %}
                                    {# if phone.isApple' and phone.model =='iPhone X'
                                        <span class="text-nowrap h2">is coming soon!</span>
                                        <p><a href="mailto:hello@wearesosure.com?subject=Let me know about the iPhone X 256GB Model" class="open-intercom">Tell me when</a> it's available.</p>
                                        <h4 class="text-blue" style="margin-top: 10px">IMPORTANT! <small>If you have the 256GB model, </small>DO NOT<small> purchase insurance for the iPhone X 64GB. We will not be able to cover you.</small></h4>
                                    #}
                                        <span class="text-nowrap h2">is coming soon!</span>
                                        <p><a href="mailto:hello@wearesosure.com" class="open-intercom">Tell me when</a> it's available.</p>
                                        <p class="h2">
                                            <strong>£4.99 - £9.99 per month</strong><br>
                                            <small>(typical policy pricing)</small>
                                        <p>
                                {% else %}
                                    <span class="text-nowrap h2">only £{{ phone_price.monthlyPremiumPrice }} per month</span>
                                {% endif %}
                            </h1>

                        <h4 class="text-blue" style="margin-top: 10px">Effective monthly premium after cashback:<br><small>(Cashback paid out end of policy year)</small></h4>

                        {# Slider #}
                        <div id="loading-overlay-init" class="loading-overlay" style="display:block;"></div>

                        {# Set the start friends amount #}
                        {% set start_friends = max_connections / 2 %}

                        {% set start_friends_rounded = start_friends|round() %}

                        {# Set the amount of cashback #}
                        {% set start_value = start_friends_rounded  * connection_value %}

                        {# If greater than max pot, pot max is start value #}
                        {% if start_value > max_pot %}
                            {% set start_value = max_pot %}
                        {% endif %}

                        {# Start amount and work out monthly #}
                        {% set start_premium = annual_premium - start_value %}
                        {% set monthly_premium = start_premium / 12 %}

                        <div class="reward-slider">

                            <div class="slide-me">
                                <img src="{{ cdn_url }}/images/quote-page/so-sure_arrow-slide-me.svg" alt="">
                            </div>

                            <output for="range" class="rewardslider__output">
                                <span id="premium" class="h3 text-white">£{{ monthly_premium|number_format(2, '.', ',') }}</span><br>
                                <small class="text-nowrap">per month</small>
                            </output>
                            <input type="range"
                                   id="reward-slider"
                                   autocomplete="off"
                                   min="0"
                                   max="{{ max_connections }}"
                                   value="{{ start_friends_rounded }}"
                                   data-maxpot="{{ max_pot }}"
                                   data-connection-value="{{ connection_value }}"
                                   data-premium="{{ annual_premium }}"
                                   data-monthly-premium="{{ monthly_premium }}">
                        </div>
                        <h4 class="text-blue">Number of connections</h4>
                        <p class="lead">Get cashback by connecting to friends. <br> Save money on your premium when you and your friends don't claim.</p>

                        {% if not coming_soon %}
                            {# CTA #}
                            <div class="quote__cta">
                                <div class="form-group">
                                    {{ form_start(buy_form) }}
                                        {{ form_widget(buy_form.buy_tablet, {'label': 'Get Started', 'attr': {'class': 'btn btn-green btn-block btn-pad btn-big-text'}}) }}
                                    {{ form_end(buy_form) }}
                                </div>
                                <a href="#"
                                   data-toggle="modal"
                                   data-target="#policy-modal"
                                   id="policy-modal-trigger"
                                   class="text-underline">
                                   <small>Full Terms &amp; Conditions</small></a>
                            </div>
                        {% endif %}

                        {# Save Quote #}
                        {% if feature_enabled('quote-lead') and coming_soon == false and phone.initialPrice > 0 %}
                            <h3>Guarantee this price for the next 7 days</h3>
                            {{ form_start(lead_form, {'attr': {'class': 'form-inline quote__save'}}) }}
                                {{ form_label(lead_form.email, 'Your email:', { 'label_attr': {'class': 'sr-only'} }) }}
                                {{ form_widget(lead_form.email, {'attr':{'class':'form-control', 'placeholder': 'Enter your email'}}) }}
                                {{ form_widget(lead_form.save, {'label': 'Save this quote', 'attr': {'class': 'btn btn-blue btn-pad'}}) }}
                            {{ form_end(lead_form) }}
                        {% endif %}
                    </div>
                </div>
                {# Quote Right #}
                <div class="col-md-4 quote__right">
                    <div class="quote__right">
                        <div class="row">
                            <div class="col-sm-6 col-md-12">
                                <h3>Our cover always includes</h3>
                                <ul class="list-unstyled fa-list-bullet">
                                    <li><i class="fa fa-check text-green" aria-hidden="true"></i> Theft</li>
                                    <li><i class="fa fa-check text-green" aria-hidden="true"></i> Loss</li>
                                    <li><i class="fa fa-check text-green" aria-hidden="true"></i> Out of warranty breakdown</li>
                                    <li><i class="fa fa-check text-green" aria-hidden="true"></i> Water damage</li>
                                    <li><i class="fa fa-check text-green" aria-hidden="true"></i> Cracked screen</li>
                                    <li><i class="fa fa-check text-green" aria-hidden="true"></i> Worldwide cover</li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-12">
                                <h3>What we offer</h3>
                                <ul class="list-unstyled fa-list-bullet">
                                    <li><i class="fa fa-check text-blue" aria-hidden="true"></i> 24-72 hour replacement or repair once your claim is approved</li>
                                    <li><i class="fa fa-check text-blue" aria-hidden="true"></i> 24/7 live support</li>
                                    <li><i class="fa fa-check text-blue" aria-hidden="true"></i> Insure used phones</li>
                                    <li><i class="fa fa-check text-blue" aria-hidden="true"></i> Instant cover when you purchase your policy</li>
                                    <li><i class="fa fa-check text-blue" aria-hidden="true"></i> Up to 80% cashback every year</li>
                                </ul>
                            </div>
                        </div>
                        {# CTA #}
                        <div class="quote__cta visible-xs text-center">
                            <div class="form-group">
                                {{ form_start(buy_form_banner) }}
                                    {{ form_widget(buy_form_banner.buy, {'label': 'Get Started', 'attr': {'class': 'btn btn btn-green btn-block btn-pad btn-big-text'}}) }}
                                {{ form_end(buy_form_banner) }}
                            </div>
                            <a href="#"
                               data-toggle="modal"
                               data-target="#policy-modal"
                               id="policy-modal-trigger"
                               class="text-underline">
                               <small>Full Terms &amp; Conditions</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'AppBundle::Default/_sectionComparison.html.twig' %}

    {% include 'AppBundle::Default/_sectionRewardPot.html.twig' %}

    <div class="curved-background hidden-xs">
        <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 2000 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" fill="#d6ebff">
                    <path d="M0,0 L2000,0 L2000,139.921588 C1890.08746,181.703317 1753.08746,201.692115 1589,199.887983 C1424.91254,198.083852 1258.91254,174.763587 1091,129.927189 C918.666667,89.9495926 740,69.9607942 555,69.9607942 C370,69.9607942 185,113.269857 0,199.887983 L0,0 Z" id="Rectangle" transform="translate(1000.000000, 100.000000) scale(-1, 1) translate(-1000.000000, -100.000000) "></path>
                </g>
            </g>
        </svg>
    </div>

    {% include 'AppBundle::Default/_sectionFeedback.html.twig' %}

    <section class="phone-details background-blue">
        <div class="container">
            <h3>About the {{ phone.make }} {{ phone.model }}</h3>
            <ul class="list-inline">
                <li>Camera: {{ phone.camera }} MP</li>
                <li>Size: {{ phone.getScreenPhysicalInch }}"</li>
                <li>Screen Resolution: {{ phone.getScreenResolution }}</li>
                <li>RAM: {{ phone.getRamDisplay }}</li>
            </ul>
            {% if phone.funFacts|length > 0 %}
                <p>{{ phone.funFacts|raw }}</p>
            {% endif %}
            {% if phone.description|length > 0 %}
                <p>{{ phone.description|raw }}</p>
            {% endif %}
        </div>
    </section>

    {% include 'AppBundle::Default/faqs.html.twig' %}

    <div class="modal modal-fullscreen fade"
         id="policy-modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="So-Sure Policy Terms"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-policy" data-url="{{ url('latest_policy_terms', {'policy_key': policy_key, 'maxPotValue':  max_pot, 'include': true, 'noH1': true }) }}">
                    <div class="text-center" style="margin-bottom: 20px;">
                        <img src="{{ cdn_url }}/images/spinner.svg" alt="Loading...">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="calculation-details"
         tabindex="-1"
         role="dialog"
         aria-labelledby="Calculation Details"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3>Calculation Details</h3>
                </div>
                <div class="modal-body">
                    <p><strong>How we calculate this:</strong></p>
                    <p>Prices based on data available from competitor websites, last updated on 1 February 2017.  </p>
                    <p>Networks taken as an average of O2, Vodafone, and Three.</p>
                    <p>High Street is Car Phone Warehouse.</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'AppBundle::Default/modalQuote.html.twig' with {'selectPhoneMakeType': 'other_pages'} %}
    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/lozad/lozad.min.js'
    'components/dot/doT.min.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/images.js'
    'components/rangeslider.js/rangeslider.min.js'
    '@AppBundle/Resources/public/js/Default/sliderNew.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeSearch.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeDropdown.js'
    '@AppBundle/Resources/public/js/Default/bannerSticky.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
