{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'phone-insurance-second-hand' %}
{% set include_get_a_quote = true %}
{% set max_width = '400px' %}
{% if device_category() == 'Desktop' %}
    {% set max_width = '' %}
{% endif %}


{% block title %}Second Hand Phone Insurance From &pound;{{ from_price|number_format(2) }} Monthly | so-sure{% endblock %}
{% block meta %}
    <meta name="description" content="Even with cheap second hand phones, insurance can bring peace of mind. Get second hand phone insurance with 24-72 hour repair or replacement & money back if you don't claim."/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}
{% set og_title = 'Second Hand Phone Insurance From £' ~ from_price|number_format(2) ~ ' Monthly | so-sure' %}
{% set og_description = "Even with cheap second hand phones, insurance can bring peace of mind. Get second hand phone insurance with 24-72 hour repair or replacement & money back if you don't claim." %}
{% set og_image = cdn_url ~ '/images/rebrand/phones/generic/so-sure_hero-second-hand.png' %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/phone-insurance.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container-large">
            <div class="row">
                <div class="col-lg-6 order-lg-2">
                    <div class="hero__intro">
                        <div class="breadcrumbs">
                        <ul class="list-inline text-center text-lg-left"
                            vocab="https://schema.org/"
                            typeof="BreadcrumbList">
                            <li class="list-inline-item"
                                property="itemListElement"
                                typeof="ListItem">
                                <a href="{{ path('homepage') }}"
                                   class="text-columbia-blue-e"
                                   property="item"
                                   typeof="WebPage">
                                   <span property="name">Home</span>
                                </a>
                                <meta property="position" content="1">
                            </li>
                            <li class="list-inline-item text-white">
                                <i class="fal fa-angle-right text-white"></i>
                            </li>
                            <li class="list-inline-item"
                                property="itemListElement"
                                typeof="ListItem">
                                <a href="{{ path('phone_insurance') }}"
                                   class="text-columbia-blue-e"
                                   property="item"
                                   typeof="WebPage">
                                   <span property="name">Phone Insurance</span>
                                </a>
                                <meta property="position" content="2">
                            </li>
                            <li class="list-inline-item text-white">
                                <i class="fal fa-angle-right text-white"></i>
                            </li>
                            <li class="list-inline-item text-white"
                                property="itemListElement"
                                typeof="ListItem">
                                <span property="name">Second Hand</span>
                                <meta property="position" content="3">
                            </li>
                        </ul>
                        </div>
                        <h1 class="text-white fit text-center text-lg-left">Second Hand Phone <br class="d-lg-none"> Insurance <br class="d-none d-lg-inline"> from just <br class="d-lg-none"> <span class="text-deep-sky-blue-d">&pound;{{ from_price|number_format(2) }} per month</span></h1>
                        <p class="my-4 text-white text-center text-lg-left">Insure your second hand phone with so-sure for the same price as a new model – and still get full coverage, and access to our social insurance reward pot 💸</p>
                    </div>
                    <div class="hero__controls text-center text-lg-left mb-5">
                        <a href="#" class="btn btn-success btn-block-xs mr-sm-2 get-a-quote disabled">Get a Quote</a>
                        <a href="#"
                           class="btn btn-outline-deep-sky-blue-d watch-video btn-block-xs"
                           data-event="watch-video-second-hand-hero"
                           data-toggle="modal"
                           data-target="#sosure-video-modal"
                           data-src="https://www.youtube.com/embed/QEskwqsNgrQ">
                            <i class="far fa-play-circle fa-lg opacity-50 mr-1"></i>
                            Watch our Video
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                   <div class="hero__illustration hero__illustration-second-hand text-center">
                         <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/phones/generic/so-sure_hero-second-hand.png" alt="Second Hand Phones" class="img-fluid lozad">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="second-hand pt-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-xl-7">
                    <h2 class="text-primary mb-4">Second hand phones are a perfect option</h2>
                    <p class="mb-4">It seems like there's a new flagship phone released every few months by one of the big brands – and people love to keep up with the latest technology. That means there's a lot of barely used second hand phones out there, as phone enthusiasts sell on handsets that are still in great condition to upgrade to the latest model.</p>
                    <p class="mb-5 mb-xl-0">These second hand phones are a perfect option if you're looking for a slightly cheaper handset, whether that's to replace a lost or stolen phone, or just to avoid a pricey contract. But even with their reduced price tag, you probably still want second hand phone insurance to keep your handset covered and keep you connected.</p>
                </div>
                <div class="col-xl-4 offset-xl-1 text-center">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/knowledge-base/so-sure_knowledge_base_hand_holding_phone_stars.png"
                         alt="Hand holding mobile phone"
                         class="lozad img-fluid max-400">
                </div>
            </div>
            <hr class="mt-0 mb-5">
            <div class="row">
                <div class="col-xl-7 offset-xl-1 order-xl-2">
                    <h2 class="h3 text-primary mb-4">Second hand phone insurance from so-sure</h2>
                    <p class="mb-4 mb-5">A lot of traditional insurers won't touch second hand mobile phones with a bargepole - 'Older' handsets are often seen as having a higher breakdown risk. But we're different. so-sure is one of the UK's only standalone gadget insurers offering phone insurance for second hand phones - and it's no different to insurance for new or refurbished handsets.</p>
                    <h3 class="h4 mb-3 mt-lg-5">As standard, we offer:</h3>
                    <div class="d-lg-flex">
                        <ul class="list-unstyled icn-fa-list mr-lg-3 flex-1">
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                24-72 hour repair or replacement
                            </li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                International travel cover
                            </li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                Low excess from {{ lowest_excess }}
                            </li>
                        </ul>
                        <ul class="list-unstyled icn-fa-list mb-lg-5 flex-1">
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                Up to 80% of your money back
                            </li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                Coverage for loss, theft, and accidental damage
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 order-xl-1">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/misc/so-sure_friends-we-are-different-polaroid.png"
                         alt="We're different polaroid so-sure"
                         class="lozad img-fluid max-300">
                </div>
            </div>
        </div>
    </section>

    <section class="game-change py-lg-5">
        <div class="container-large py-5">
            <h2 class="h3 text-primary mb-4">We've changed the game</h2>
            <p class="mb-5">We know how annoying it is to pay into insurance every month and never make a claim, so we've changed the game. Make use of our <a href="{{ path('social_insurance') }}">social insurance</a> feature by connecting with your friends and family members – if none of you make a claim during your policy term, you'll receive money back at the end of the year.</p>
            <hr class="d-none d-lg-block mb-5">
            <div class="row text-lg-left">
                <div class="col-lg d-lg-flex align-items-lg-center">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/rewardpot/so-sure_reward-pot-jar.png"
                         alt="so-sure reward pot jar"
                         class="lozad d-none d-lg-inline"
                         width="200px">
                    <div class="">
                        <h3 class="h4 mb-3">Earn Cashback!</h3>
                        <p class="mb-4">You'll get &pound;10 in your Reward Pot for every social insurance connection you make, up to a maximum of 80% of the value of your total policy.</p>
                    </div>
                </div>
                <div class="col-lg d-lg-flex align-items-lg-center">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/phones/generic/so-sure_phone-wink.png"
                         alt="Phone winking face"
                         class="lozad d-none d-lg-inline"
                         width="200px">
                    <div class="">
                        <h3 class="h4 mb-3">Available on all models</h3>
                        <p>Second hand phone insurance is available on all of the models we insure, and we don't care who you bought it from as long as it was originally sold in the UK.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="makes py-lg-5">
        <div class="container-large py-5">
            <h2 class="h3 mb-5 text-deep-sky-blue-d">Popular brands we cover</h2>
            <div class=" d-lg-flex align-items-center justify-content-lg-between">
                <a href="{{ path('phone_insurance_make', {'make': 'apple'}) }}"><img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/phones/manufacturer/so-sure_white_apple-logo.png" alt="Apple" class="m-1 m-lg-2 lozad"></a>
                <a href="{{ path('phone_insurance_make', {'make': 'samsung'}) }}"><img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/phones/manufacturer/so-sure_white_samsung-logo.png" alt="Samsung" class="m-1 m-lg-2 lozad"></a>
                <a href="{{ path('phone_insurance_make', {'make': 'google'}) }}"><img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/phones/manufacturer/so-sure_white_google-logo.png" alt="Google" class="m-1 m-lg-2 lozad"></a>
                <a href="{{ path('phone_insurance_make', {'make': 'htc'}) }}"><img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/phones/manufacturer/so-sure_white_htc-logo.png" alt="HTC" class="m-1 m-lg-2 lozad"></a>
                <a href="{{ path('phone_insurance_make', {'make': 'huawei'}) }}"><img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/phones/manufacturer/so-sure_white_huawei-logo.png" alt="Huawei" class="m-1 m-lg-2 lozad"></a>
            </div>
            <div class=" d-lg-flex align-items-center justify-content-lg-between">
                <a href="{{ path('phone_insurance_make', {'make': 'motorola'}) }}"><img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/phones/manufacturer/so-sure_white_motorola-logo.png" alt="motorola" class="m-1 m-lg-2 lozad"></a>
                <a href="{{ path('phone_insurance_make', {'make': 'nokia'}) }}"><img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/phones/manufacturer/so-sure_white_nokia-logo.png" alt="nokia" class="m-1 m-lg-2 lozad"></a>
                <a href="{{ path('phone_insurance_make', {'make': 'asus'}) }}"><img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/phones/manufacturer/so-sure_white_asus-logo.png" alt="Asus" class="m-1 m-lg-2 lozad"></a>
                <a href="{{ path('phone_insurance_make', {'make': 'sony'}) }}"><img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/phones/manufacturer/so-sure_white_sony-logo.png" alt="Sony" class="m-1 m-lg-2 lozad"></a>
            </div>
        </div>
    </section>

    <section class="second-hand py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-xl-7">
                    <h2 class="h3 text-primary mb-4">What happens when I need to make a claim?</h2>
                    <p class="mb-4">Claiming couldn't be easier. To speed up the process, if your phone has been stolen or lost, make sure you contact your network to block your phone, then request both proof of barring and proof of usage documents. Finally, you should get a crime reference number from your local police station, and report it online at <a href="https://www.reportmyloss.com/uk/register" class="text-nowrap" target="_blank" rel="noopener noreferrer"><u>Report My Loss</u></a>.</p>
                    <p class="mb-5">Then, simply fill out our <a href="{{ path('fos_user_security_login') }}">claims form</a> online and we'll do our best to repair or replace your phone within 24-72 hours.</p>
                </div>
                <div class="col-xl-5 text-center">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/claims/so-sure_claim-handler.png"
                         alt="so-sure claim handler"
                         class="lozad img-fluid max-400">
                </div>
            </div>
            <hr class="mt-0 mb-5">
            <div class="row">
                <div class="col-xl-7 offset-xl-1 order-xl-2">
                    <h2 class="h3 text-primary mb-4">What's the difference between second hand phones and refurbished phones?</h2>
                    <p class="mb-4">There's one main difference between second hand and refurbished phones. While both come under the umbrella of being 'used', refurbished phones have been tested and verified to ensure that they work properly, while second hand phones generally haven't.</p>
                    <p class="mb-4">Similarly, you'll be able to buy refurbished phones directly from the manufacturer or through your contract provider, but second hand phones are generally bought from online marketplaces such as eBay, Facebook Marketplace, or Gumtree.</p>
                    <p class="mb-4">When buying second hand phones online, you should be careful that the deal isn't too good to be true. Some people may try to sell lost or stolen phones or may provide false information about the phone's history. </p>
                    <p class="mb-4">To double check, make sure that you obtain proof of the IMEI number from the seller, and look it up beforehand using a free online IMEI checker. A phone's IMEI number can reveal a lot about it. If the phone was originally sold in the UK, then congrats – we can insure it here at so-sure.</p>
                </div>
                <div class="col-xl-4 order-xl-1">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/misc/so-sure_friends-whats-the-different-polaroid.png"
                         alt="We're different polaroid so-sure"
                         class="lozad img-fluid max-400">
                </div>
            </div>
        </div>
    </section>

    {# Top Models #}
    <section class="other-phones other-phones-gray py-lg-5" data-background-image="">
        <div class="container-large py-5">
            <h2 class="h3 mb-5 text-primary">Popular smartphones we cover</h2>
            <div class="row justify-content-center">
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="{{ path('phone_insurance_make_model', {'make': 'apple', 'model': 'iphone-x'}) }}">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/phones/apple/so-sure_half-iphone-x-img.png"
                             alt="Apple iPhone X Insurance from so-sure"
                             width="150px"
                             class="mb-3 lozad">
                        <h3 class="h6 mb-3">Apple iPhone X</h3>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="{{ path('phone_insurance_make_model', {'make': 'apple', 'model': 'iphone-8'}) }}">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/phones/apple/so-sure_half-iphone-8-img.png"
                             alt="Apple iPhone 8 Insurance from so-sure"
                             width="150px"
                             class="mb-3 lozad">
                        <h3 class="h6 mb-3">Apple iPhone 8</h3>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="{{ path('phone_insurance_make_model', {'make': 'apple', 'model': 'iphone-7'}) }}">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/phones/apple/so-sure_half-iphone-7-img.png"
                             alt="Apple iPhone 7 Insurance from so-sure"
                             width="150px"
                             class="mb-3 lozad">
                        <h3 class="h6 mb-3">Apple iPhone 7</h3>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="{{ path('phone_insurance_make_model', {'make': 'samsung', 'model': 'galaxy-s8'}) }}">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/phones/samsung/so-sure_half-galaxy-s8-img.png"
                             alt="Samsung S8 Insurance from so-sure"
                             width="150px"
                             class="mb-3 lozad">
                        <h3 class="h6 mb-3">Samsung S8</h3>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="{{ path('phone_insurance_make_model', {'make': 'samsung', 'model': 'galaxy-s9'}) }}">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/phones/samsung/so-sure_half-galaxy-s9-img.png"
                             alt="Samsung S9 Insurance from so-sure"
                             width="150px"
                             class="mb-3 lozad">
                        <h3 class="h6 mb-3">Samsung S9</h3>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="{{ path('phone_insurance_make_model', {'make': 'google', 'model': 'Pixel-3'}) }}">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/phones/google/so-sure_half-pixel-3-img.png"
                             alt="Google Pixel 3 Insurance from so-sure"
                             width="150px"
                             class="mb-3 lozad">
                        <h3 class="h6 mb-3">Pixel 3</h3>
                    </a>
                </div>
            </div>
        </div>
    </section>

    {# Banner #}
    {% include 'AppBundle::PhoneInsurance/CommonSections/_banner.html.twig' %}

    {# Page Modals #}
    {% include 'AppBundle::Default/_modalVideo.html.twig' %}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/phone-insurance.js') }}"></script>
{% endblock %}
