{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'seo-water-damage' %}
{% set include_get_a_quote = true %}

{% block title %}Phone Insurance Water Damage | so-sure{% endblock %}
{% block meta %}
    <meta name="description" content="Mobile Insurance that's Simply Better, 24-72 hour replace or repair, Low excess from just {{ lowest_excess }} - New, second hand & refurbished phones, Up to 80% money back"/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/seo-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="intro py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="breadcrumbs">
                        <ul class="list-inline"
                            vocab="https://schema.org/"
                            typeof="BreadcrumbList">
                            <li class="list-inline-item"
                                property="itemListElement"
                                typeof="ListItem">
                                <a href="{{ path('homepage') }}"
                                   class="text-primary"
                                   property="item"
                                   typeof="WebPage">
                                   <span property="name">Home</span>
                                </a>
                                <meta property="position" content="1">
                            </li>
                            <li class="list-inline-item text-zaffre">
                                <i class="fal fa-angle-right text-zaffre"></i>
                            </li>
                            <li class="list-inline-item"
                                property="itemListElement"
                                typeof="ListItem">
                                <a href="{{ path('phone_insurance') }}"
                                   class="text-primary"
                                   property="item"
                                   typeof="WebPage">
                                   <span property="name">Phone Insurance</span>
                                </a>
                                <meta property="position" content="2">
                            </li>
                            <li class="list-inline-item text-zaffre">
                                <i class="fal fa-angle-right text-zaffre"></i>
                            </li>
                            <li class="list-inline-item text-zaffre"
                                property="itemListElement"
                                typeof="ListItem">
                                <span property="name">Water Damage</span>
                                <meta property="position" content="3">
                            </li>
                        </ul>
                    </div>
                    <h1 class="text-primary mb-4">Water Damage</h1>
                    <p>One of the most common claims, water damage is when your phone has been submerged in water and has been left unusable as a result. It's a really common thing to do so don’t feel like a massive doofus if you do end up doing it. </p>
                    <p>However, if you do end up dunking your phone in a pint or the bath then don’t fear, because the infamous 'rice trick' can actually work. Our founder, Dylan even managed to revive his beloved phone via granular intervention!</p>
                    <p class="mb-4">Fortunately, so-sure covers you for water damage.</p>
                    <a href="#"
                       class="btn btn-success btn-shadow btn-block-xs mb-5 get-a-quote disabled track-data"
                       data-event="seo-pages-water-damage">
                       Get a Quote</a>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}

{% endblock %}
