{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'invite' %}
{% set robots_noindex = true %}
{% set small_footer = true %}
{% set include_get_a_quote = true %}

{# Set Meta #}
{% block title %}1 Month FREE Phone Insurance thanks to {{ invitation.inviter.firstname }} | so-sure{% endblock %}
{% block meta %}
    <meta name="description" content="Check out so-sure to get 1 month free phone insurance immediately + excellent perks: low priced premium and excess, 2nd hand phone insurance, up to 80% cash back, and much more!"/>
{% endblock %}

{% set og_title = '1 Month FREE Phone Insurance thanks to ' ~ invitation.inviter.firstname %}
{% set og_description = 'Check out so-sure to get 1 month free phone insurance immediately + excellent perks: low priced premium and excess, 2nd hand phone insurance, up to 80% cash back, and much more!' %}
{% set og_image = cdn_url ~ '/images/rebrand/og/so-sure_og-referral.jpg' %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/invite-competition.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container-large">
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="hero__illustration">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/homepage/so-sure_hero-polaroid-desktop.png" alt="so-sure - social insurance" class="img-fluid lozad">
                    </div>
                </div>
                <div class="col-lg-6">
                    {% if invitation.inviter is defined %}
                        <h1 class="text-white fit mb-4"><span class="sub text-deep-sky-blue-d">Get so-sure perks with</span> {{ invitation.inviter.firstname }}!</h1>
                        <ul class="list-unstyled icn-fa-list mb-4">
                            <li class="mb-3 text-white lead"> <i class="far fa-plus fa-lg fa-fw text-deep-sky-blue-d"></i>One month FREE thanks to {{ invitation.inviter.firstname }}, <br> just click "Get a quote" below!</li>
                            <li class="mb-3 text-white lead"> <i class="far fa-plus fa-lg fa-fw text-deep-sky-blue-d"></i>&pound;10 in your no claims reward pot</li>
                            <li class="text-white lead"> <i class="far fa-plus fa-lg fa-fw text-deep-sky-blue-d"></i>An extra {{ free_months }} FREE if you pay yearly</li>
                        </ul>
                        <p class="text-white mb-4">And that's on top of the game changing low price, easy as pie cover and lightning fast claims we offer! Yes, we're cheap, fast and easy. Don't tell your parents 😉</p>
                    {# {% else %} #}
                    {% endif %}
                    <div class="d-md-flex justify-content-md-center justify-content-xl-start flex-nowrap mb-4">
                        <a href="#"
                           class="btn btn-success btn-block-xs track-data get-a-quote disabled order-md-2"
                           data-event="email-invite-hero-quote-btn">
                           Get a Quote</a>
                    </div>
                    <p class="text-white">Is your phone already covered with so-sure? <a href="{{ path('fos_user_security_login') }}" class="text-white"><u>Login</u></a> to connect with {% if invitation.inviter is defined %}{{ invitation.inviter.firstname }}{% else %}others{% endif %} and claim your connection bonus.</p>
                </div>
            </div>
            <div class="hero__illustration d-block d-lg-none mt-4">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/homepage/so-sure_hero-polaroid-mobile.png" alt="so-sure - social insurance" class="img-fluid lozad">
            </div>
        </div>
    </section>

    {# Cred #}
    {% include 'AppBundle::Default/CommonSections/_cred.html.twig' %}

    <section class="how-it-works py-lg-5">
        <div class="container-large py-5">
            <h2 class="h3 mb-3 text-primary">How it works</h2>
            {% if invitation.inviter is defined %}
                <p class="mb-5 lead">We know <strong>{{ invitation.inviter.firstname }}</strong> referred you to us - so as a thank you, we'll give you a month off your phone insurance!<br class="d-none d-lg-inline"> We'll also give you an extra free {{ free_months }} if you pay annually.</p>
            {# {% else %} #}
            {% endif %}
            <div class="timeline d-lg-none mb-3">
                <div class="timeline-block timeline-block-complete">
                    <div class="timeline-point"><i class="far fa-check fa-lg fa-fw text-white"></i></div>
                    <div class="timeline-content">
                        <h3 class="h5 text-primary">Sign up and enter {{ invitation.inviter.firstname }}'s referral code at purchase</h3>
                    </div>
                </div>
                <div class="timeline-block timeline-block-complete">
                    <div class="timeline-point"><i class="far fa-check fa-lg fa-fw text-white"></i></div>
                    <div class="timeline-content">
                        <h3 class="h5 text-primary">Your second month will be completely free!</h3>
                    </div>
                </div>
                <div class="timeline-block timeline-block-complete">
                    <div class="timeline-point"><i class="far fa-check fa-lg fa-fw text-white"></i></div>
                    <div class="timeline-content">
                        <h3 class="h5 text-primary">If you pay annually, you’ll get another {{ free_months }} free!</h3>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block mb-5">
                <div class="row">
                    <div class="col-4 step">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_connect.png" alt="Connect app" width="180px" class="lozad mb-3">
                        <h3 class="h5 text-primary mb-2">Sign up and enter {{ invitation.inviter.firstname }}'s referral code at purchase</h3>
                    </div>
                    <div class="col-4 step">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_wallet-cashback.png" alt="Wallet" width="180px" class="lozad mb-3">
                        <h3 class="h5 text-primary mb-2">Your second month will be completely free!</h3>
                    </div>
                    <div class="col-4 step">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_friends-connect.png" alt="Friends having fun" width="180px" class="lozad mb-3">
                        <h3 class="h5 text-primary mb-2">If you pay annually, you’ll get another {{ free_months }} free!</h3>
                    </div>
                </div>
            </div>
            <div class="d-sm-flex justify-content-sm-center">
                <a href="#"
                   class="btn btn-success btn-block-xs track-data get-a-quote disabled order-md-2"
                   data-event="email-invite-timeline-quote-btn">
                   Get a Quote</a>
            </div>
        </div>
    </section>

    <section class="video d-flex align-items-center justify-content-center">
        <a href="#"
           data-toggle="modal"
           data-target="#sosure-video-modal"
           data-src="https://www.youtube.com/embed/rF6zxVRT5Fc"
           class="watch-video video__play">
            <img src="{{ cdn_url }}/images/onexone.png"
                 data-src="{{ cdn_url }}/images/rebrand/invite/so-sure_invite_reward_video_play_shadow.svg"
                 alt="Play buttonn"
                 class="lozad"
                 width="120px"></a>
        <img src="{{ cdn_url }}/images/onexone.png"
             data-src="{{ cdn_url }}/images/rebrand/video/so-sure_video_background_woman_swoosh.png"
             alt="Woman polaroid swoosh"
             class="lozad video-img">
    </section>

    <section id="knowledge_base" class="knowledge-base pb-lg-5">
        <div class="container pb-5">
            {% include 'AppBundle::Components/_knowledgeBase.html.twig' %}
        </div>
    </section>

    {# Reviews #}
    {% include 'AppBundle::PhoneInsurance/CommonSections/_reviewsB.html.twig' %}   

    <section class="banner py-5">
        <div class="container-large">
            <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
                <div class="mb-4 mb-lg-0 d-lg-flex align-items-lg-center">
                    <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_app-icn.svg" class="d-none d-lg-inline mt-lg-2 lozad" alt="so-sure App Icon">
                    <div class="banner__text text-center text-lg-left ml-lg-4">
                        <h2 class="h4 text-white mb-0">Want to know more about so-sure mobile insurance?</h2>
                    </div>
                </div>
                <div class="banner__controls text-center text-lg-left">
                    <a href="{{ path('homepage') }}" class="btn btn-success btn-block-xs">Find out more</a>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}
    <div class="modal fade"
         id="page_terms"
         tabindex="-1" role="dialog"
         aria-labelledby="page_terms"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Win a &pound;20 amazon voucher
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Terms and conditions</h5>
                    <p>Anyone with an active policy who shares their referral code and who hasn't made a claim in the first 15 days of taking out the policy will be automatically entered into the draw to win a &pound;20 Amazon voucher. Additional entries can be gained with each additional share of the code.</p>
                    <p>Participants without a so-sure policy are allowed to enter the draw by sharing their personal sharing link. The share page is linked to the email address provided to so-sure by each participant. Additional entries can be gained with each additional share of the code.</p>
                    <p>The number of entries each participant gets into the draw is equal to the number of unique views their share page receives.</p>
                    <p>The winner will be picked at random from the entries and will be contacted personally. The draw will take place within 14 days of the competition closing and the winner's name will be made available on request.</p>
                    <p>There is no cash or other alternative to the publicised prize.</p>
                    <p>The promotion is valid from 1st March 2020 until 31 March 2020. After this date, no further entries will be permitted. so-sure reserves the right to cancel or amend the promotion and these terms and conditions without notice and at any time. The promotion cannot be used in conjunction with any other promotional offer.</p>
                    <p>so-sure reserves the right to disqualify any users suspected of manipulating the outcome of the draw. so-sure's decision in all matters to do with the competition are final and no correspondence will be entered into.</p>
                    <p>This promotion is open to UK residents over the age of 18 only. so-sure employees and their close friends or relatives may not enter.</p>
                    <p>By sharing your referral code, you agree to these terms and conditions.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/invite-competition.js') }}"></script>
{% endblock %}
