{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}

{% block title %}so-sure - Join today and we'll reward you!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/homepage.scss'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{# Set Meta #}
{% set og_title = 'Sign up and save' %}
{% set og_description = 'Hey, I just insured my mobile phone with so-sure. They give you 80% of your cashback if we are connected and don\'t claim!' %}
{% set og_image = cdn_url ~ '/images/rebrand/og/so-sure_og-image-1.png' %}

{% block body %}

    <section class="invitation section--pad">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">
                        {% if invitation.inviter is defined %}
                            Insure your phone with {{invitation.inviter.name}}.
                        {% else %}
                            Insure your phone.
                        {% endif %}
                        <br>
                        <span class="h2">Get up to 80% of your money back.</span>
                    </h1>
                    <div class="text-center">
                        {# Phone Search #}
                        {% if device_category() == 'Mobile' %}
                            {{ render(controller('AppBundle:Default:selectPhoneMakeDropdown', app.request.query.all)) }}
                        {% else %}
                            {{ render(controller('AppBundle:Default:selectPhoneMakeSearch')) }}
                        {% endif %}
                        {# End Phone Search #}
                    </div>
                    {% if invitation %}
                        <br>
                        <div class="text-center">
                            {{ form_start(form) }}
                                {{ form_widget(form) }}
                            {{ form_end(form) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {% include 'AppBundle::Default/_sectionComparison.html.twig' %}

    {% include 'AppBundle::Default/_sectionRewardPot.html.twig' %}

    <div class="curved-background hidden-xs">
        <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 2000 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" fill="#d6ebff">
                    <path d="M0,0 L2000,0 L2000,139.921588 C1890.08746,181.703317 1753.08746,201.692115 1589,199.887983 C1424.91254,198.083852 1258.91254,174.763587 1091,129.927189 C918.666667,89.9495926 740,69.9607942 555,69.9607942 C370,69.9607942 185,113.269857 0,199.887983 L0,0 Z" id="Rectangle" transform="translate(1000.000000, 100.000000) scale(-1, 1) translate(-1000.000000, -100.000000) "></path>
                </g>
            </g>
        </svg>
    </div>

    {% include 'AppBundle::Default/_sectionFeedback.html.twig' %}

    {# Page Modals #}

    {% include 'AppBundle::Default/modalVideoOld.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/lozad/lozad.min.js'
    'components/dot/doT.min.js'
    '@AppBundle/Resources/public/js/Default/images.js'
    'components/vimeo-player-js/player.min.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeSearch.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeDropdown.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
