{% set include_emoji = 1 %}
{% extends 'base.html.twig' %}

{% block title %}so-sure - Join today and we'll reward you!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/css/Default/index.css'
    '@AppBundle/Resources/public/css/Default/selectPhoneMake.css'
    '@AppBundle/Resources/public/css/Default/modal.css'    
    '@AppBundle/Resources/public/css/Default/videoOverlay.css'      
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/vimeo-player-js/player.min.js'        
    '@AppBundle/Resources/public/js/Default/modalVideo.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}

    <section class="popular-devices">
        <div class="container">
            <div id="navchange"></div>
            <div class="row" id="welcome">
                <div class="col-md-12">
                    <h1 class="text-center">
                        {% if invitation.inviter is defined %}
                            Insure your phone with {{invitation.inviter.name}}.
                        {% else %}
                            Insure your phone.
                        {% endif %}
                        <br>
                        Get up to 80% of your money back.
                    </h1>
                </div>
                    <p class="lead text-center" id="hero-description">Introducing so-sure, a better kind of phone insurance that allows you to get up to 80% of your money back when you connect with those you trust &amp; none of you claim.</p>
            </div>
        </div>
        
        {{ render(controller('AppBundle:Default:selectPhoneMake')) }}

        {% if invitation %}
            <div class="text-break">
                <div class="line"></div>
                OR
                <div class="line"></div>
            </div>

            <div class="row">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        {% endif %}
    </section>

    {% include 'AppBundle::Default/howItWorksVideo.html.twig' %}

    <section class="download-now" id="download-now">
        <div class="container">
            <h2>The next bit is via the app</h2>
            <p class="lead text-center" id="hero-description">It makes sense, we are a mobile insurance provider after all!</p>
            <div class="row download-app">
                <div class="col-md-6 text-right">
                    <a class="ga-outbound-click" data-clicklabel="iTunes" href="{{ apple_download('quotepage') }}">
                        <img src="{{ cdn_url }}/images/icons/app-store-original.svg" alt="Download it on the App Store"></img>
                    </a>
                </div>
                <div class="col-md-6 text-left">
                    <a class="ga-outbound-click" data-clicklabel="PlayStore" href="{{ google_download('quotepage') }}">
                        <img src="{{ cdn_url }}/images/icons/google-play-original.svg" alt="Get it on Google Play"></img>
                    </a>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}
