<div class="blog-footer-cta">
    <div class="h5 mb-4">Get a quote for mobile phone insurance in seconds with so-sure</div>
    <div class="row mb-5">
        <div class="col-lg-4">
            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="so-sure - Simple Terms &amp; Conditions" width="100px" class="lozad">
            <div class="h6 text-primary">24-72 hour replace or repair</div>
        </div>
        <div class="col-lg-4">
            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_wallet-cashback.png" alt="so-sure - Up to 40% cheaper" width="100px" class="lozad">
            <div class="h6 text-primary">Up to 80% money back</div>
        </div>
        <div class="col-lg-4">
            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-qr.png" alt="so-sure - super quick cover" width="100px" class="lozad">
            <div class="h6 text-primary">Low excess from just &pound;50</div>
        </div>
    </div>
    <a href="#" class="btn btn-success get-a-quote">Get a quote now!</a>
</div>

