{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Claim {{ claim.number }} should be closed{% endblock %}
{% block body %}
	{{ macros.start_table() }}
		<h1>
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		</h1>
		<div style="font-size: 14px; text-align: left;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: center;"><font face="arial, helvetica neue, helvetica, sans-serif">
           Policy {{ claim.policy.policyNumber }} is now cancelled.
		   As there is an open claim (Claim {{ claim.number }}) on this policy, the claim should be closed.
		   If the claim has been approved in the meantime, please contact so-sure IMMEDIATELY.
		   </div>
		</div>
	{{ macros.end_table() }}
	{{ macros.email_button_table(url('claims_policy', {'id': claim.policy.id}), "View Policy", "View Policy")}}
{% endblock %}
