<h2>Indemnity Payments</h2>
{% if indemnity|length == 0 %}
<p>No payments present</p>
{% else %}

    <table class="table table-striped">
        <tr>
            <th width="10%">Status</th>
            <th width="20%">Policy</th>
            <th width="5%">Amount</th>
            <th width="15%">Date</th>
        </tr>

        {% for payment in indemnity if indemnity %}
            <tr>
                <td width="10%">
                    {{ payment.status }}
                    {% if payment.success %}
                        <i class="fa fa-check text-success"></i>
                    {% elseif payment.success is null %}
                        <i class="fa fa-question"></i>
                    {% else %}
                        <i class="fa fa-minus text-danger"></i>
                    {% endif %}
                </td>
                <td width="20%">
                    <a href="{{ path('admin_policy', {'id': payment.policy.id}) }}">{{ payment.policy.user.name }}</a>
                </td>
                <td width="5%">
                    £{{ payment.amount|number_format(2, '.', ',') }}
                </td>
                <td width="15%">
                    {% if payment.date %}
                        {{ payment.date|date('d M Y', 'Europe/London') }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {%  endfor %}
    </table>
{% endif %}
<hr />