{% extends 'admin_claims_base_rebrand.html.twig' %}
{# {% form_theme promotionForm with ['AppBundle:Form:fields.html.twig', 'AppBundle:Form:submit.html.twig'] %} #}

{# Set vars #}
{% set body_class = 'admin-accounts' %}

{% block title %}Accounts {{ month }} / {{ year }}{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
   {#  <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}"> #}
{% endblock %}

{% block body %}

    <section class="py-4 px-md-4">
        <div class="container-fluid">
            {# TODO: Heading area #}
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">Accounts {{ month }} / {{ year }}</h1>
            </div>
            {# TODO: Controls area #}
            <div class="card card-page-filter mb-5">
                <div class="card-body">
                    <form id="month_form"
                          class="form-inline"
                          method="GET"
                          autocomplete="off">
                        <div class="form-group">
                            <label class="mr-md-2">Choose date:</label>
                            <div class="input-group date mr-md-2"
                                 id="date_time_picker"
                                 data-target-input="nearest"
                                 data-url="{{ path('admin_accounts_helvetia') }}">
                                <input type="text"
                                       class="form-control datetimepicker-input"
                                       data-target="#date_time_picker"
                                       value="{{month}}-{{year}}" />
                                <div class="input-group-append"
                                     data-target="#date_time_picker"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fal fa-calendar fa-fw"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success mr-md-2">
                                <i class="fa fa-arrow-right fa-fw"></i>
                            </button>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-info mr-md-2" target="_blank" href="{{ path('admin_accounts_helvetia_print', {'year': year, 'month': month}) }}" rel="noopener noreferrer">
                                <i class="fa fa-print fa-fw"></i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>

            {% include 'AppBundle:Admin:adminAccountsHelvetiaData.html.twig' %}

            <h4>Files</h4>
            <div class="table-responsive-sm mb-5">
                    <table class="table table-striped">
                    {% for file in files %}
                        {% if file.fileType == 'HelvetiaPaymentFile' or file.fileType == 'HelvetiaPolicyFile' %}
                            <thead class="thead-light">
                                <tr><th colspan="3">{{ file.filename }} ~ {{ file.created| date }}</th></tr>
                            </thead>
                            <tbody>
                                {% for key, value in file.metadata %}
                                    <tr>
                                        <td width="5%"></td>
                                        <td width="70%">{{ key }}</td>
                                        <td>{{ value }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/accounts.js') }}"></script>
    <script src="{{ asset('css-js/datepicker-month.js') }}"></script>
{% endblock %}
