{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/moment/moment.min.js'
        'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js'
        '@AppBundle/Resources/public/js/Admin/accounts.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container" style="margin-bottom: 50px">

<div class="row">
    <div class="col-md-6">
        <h1>so-sure Accounts for {{ month }} / {{ year }}</h1>
    </div>
    <form id='accounts-form' method="POST">
    <div class="col-md-2">
        <div class="form-group" style="padding-top: 15px;">
            <div class='input-group date' id='accounts'>
                <input name="accounts" type='text' class="form-control" value="{{month}}-{{year}}" />
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group" style="padding-top: 15px;">
            <button class="btn btn-primary">View Accounts</button>
            &nbsp;
            <a target="_blank" href="{{ path('admin_accounts_print', {'year': year, 'month': month}) }}"><i class="fa fa-print"></i></a>
        </div>
    </div>
    </form>
</div>

{% include 'AppBundle:Admin:adminAccountsData.html.twig' %}

{{ form_start(judoForm) }}
<div class="row">
    <div class="col-md-7">
        <h2>Reconciliation Data</h2>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            {{ form_label(judoForm.file, 'File') }}
            {{ form_errors(judoForm.file) }}
            {{ form_widget(judoForm.file) }}
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            {{ form_widget(judoForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-success'}}) }}
        </div>
    </div>
</div>
{{ form_end(judoForm) }}

    {% for file in files %}
        {% if file.fileType == 'SalvaPaymentFile' or file.fileType == 'SalvaPolicyFile' or file.fileType == 'JudoFile' %}
        {% set filename = file.filename|split('.') %}
        {% set file_dates = filename[0]|split('-') %}
        {% set file_date = file_dates[file_dates|length - 1] %}
        <h3>{{ file.filename }} [From {{ file_date|date }}]</h3>
        <ul>
            {% for key, value in file.metadata %}
                <li>{{ key }}: {{ value }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endfor %}

</div>
{% endblock %}
