{% extends 'admin_claims_base.html.twig' %}

    {% block body %}
    <div class="container">
        <h2>so-sure Admin Users</h2>
    <div class="row-fluid">
        <div class="col-md-11">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>ROLE</th>
                        <th>MFA</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr class="{% if user.googleAuthenticatorSecret | length <= 0 %}danger{% endif %}">
                            <td><a href="{{ path('admin_admin_user', {id: user.id}) }}">{{ user.name }}</a></td>
                            <td><a href="{{ path('admin_admin_user', {id: user.id}) }}">{{ user.email }}</a></td>
                            <td>{{ user.roles|json_encode }}</td>
                            <td>{% if user.googleAuthenticatorSecret | length > 0 %}Yes{% else %}No{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
