{% extends 'admin_claims_base_rebrand.html.twig' %}
{% form_theme reconciliationForm with 'AppBundle:Form:fields.html.twig' %}
{% form_theme lloydsForm with 'AppBundle:Form:fields.html.twig' %}
{% form_theme checkoutForm with 'AppBundle:Form:fields.html.twig' %}

{# Set vars #}
{% set body_class = 'admin-banking' %}

{% block title %}so-sure - Banking {{ dates.month }} / {{ dates.year }}{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
   {#  <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}"> #}
{% endblock %}

{% block body %}

    <section class="py-4 px-md-4">
        <div class="container-fluid">
            {# TODO: Heading area #}
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">Banking {{ dates.month }} / {{ dates.year }}</h1>
            </div>
            {# TODO: Controls area #}
            <div class="card card-page-filter mb-5">
                <div class="card-body">
                    <form id="month_form"
                          class="form-inline"
                          method="GET"
                          autocomplete="off">
                        <div class="form-group">
                            <label class="mr-2">Choose date:</label>
                            <div class="input-group date mr-2"
                                 id="date_time_picker"
                                 data-target-input="nearest"
                                 data-url="{{ path('admin_banking') }}">
                                <input type="text"
                                       class="form-control datetimepicker-input"
                                       data-target="#date_time_picker"
                                       value="{{dates.month}}-{{dates.year}}" />
                                <div class="input-group-append"
                                     data-target="#date_time_picker"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fal fa-calendar fa-fw"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-square mr-2">
                                <i class="fa fa-arrow-right fa-fw"></i>
                            </button>
                        </div>
                        <div class="form-group">
                            <div class="dropdown mr-2">
                                <a class="btn btn-primary btn-square dropdown-toggle"
                                   href="#" role="button"
                                   id="upload_files_dropdown"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false"> Upload Files</a>
                                <div class="dropdown-menu"
                                     aria-labelledby="upload_files_dropdown">
                                    <a class="dropdown-item"
                                       href="#"
                                       data-toggle="modal"
                                       data-target="#checkout_modal">Checkout</a>
                                    <a class="dropdown-item"
                                       href="#"
                                       data-toggle="modal"
                                       data-target="#lloyds_modal">Lloyds</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mr-2">
                            <button type="button"
                                    class="btn {% if reconciliation.files|length > 0 %}btn-primary{% else %}btn-danger{% endif %} btn-square"
                                    data-toggle="modal"
                                    data-target="#reconciliation_modal">
                                Reconcile
                                {% if reconciliation.files|length > 0 %}
                                    <i class="far fa-check fa-fw"></i>
                                {% else %}
                                    <i class="fal fa-clock fa-fw"></i>
                                {% endif %}</button>
                        </div>
                    </form>
                </div>
            </div>

            <ul class="nav nav-tabs mb-5"
                id="banking_tabs"
                role="tablist">
                <li class="nav-item">
                    <a class="nav-link active"
                       id="salva_tab"
                       data-toggle="tab"
                       href="#salva_content"
                       role="tab"
                       aria-controls="salva_content"
                       aria-selected="true">Salva</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       id="checkout_tab"
                       data-toggle="tab"
                       href="#checkout_content"
                       role="tab"
                       aria-controls="checkout_content"
                       aria-selected="false">Checkout</a>
                </li>
                <li class="nav-item {% if bacsInputFiles is defined %}active{% endif %}">
                    <a class="nav-link"
                       id="bacs_tab"
                       data-toggle="tab"
                       href="#bacs_content"
                       role="tab"
                       aria-controls="bacs_content"
                       aria-selected="false">Bacs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       id="bacs_files_tab"
                       data-toggle="tab"
                       href="#bacs_files_content"
                       role="tab"
                       aria-controls="bacs_files_content"
                       aria-selected="false">Bacs Files</a>
                </li>
            </ul>
            <div class="tab-content" id="banking_tabs_content">
                <div class="tab-pane fade show active"
                     id="salva_content"
                     role="tabpanel"
                     aria-labelledby="salve_tab">
                    {% include 'AppBundle::Admin/adminBanking/salva.html.twig' %}
                </div>
                <div class="tab-pane fade"
                     id="checkout_content"
                     role="tabpanel"
                     aria-labelledby="checkout_tab">
                    {% include 'AppBundle::Admin/adminBanking/checkout.html.twig' %}
                </div>
                <div class="tab-pane fade"
                     id="bacs_content"
                     role="tabpanel"
                     aria-labelledby="bacs_tab">
                    {% include 'AppBundle::Admin/adminBanking/bacs.html.twig' %}
                </div>
                <div class="tab-pane fade"
                     id="bacs_files_content"
                     role="tabpanel"
                     aria-labelledby="bacs_files_tab">
                    {% include 'AppBundle::Admin/adminBanking/bacsFiles.html.twig' %}
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}

    <div class="modal fade"
         id="checkout_modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="checkout_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Checkout Upload</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(checkoutForm) }}
                    <div class="form-group">
                        {{ form_label(checkoutForm.file, 'File') }}
                        {{ form_widget(checkoutForm.file) }}
                        <div class="with-errors">{{ form_errors(checkoutForm.file) }}</div>
                    </div>
                    <div class="form-group mb-0">
                        {{ form_widget(checkoutForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-success btn-square'}}) }}
                    </div>
                    {{ form_end(checkoutForm) }}
                    <hr>
                    {% if checkout is defined %}
                        <h2>Files</h2>
                        {% if checkout.files|length == 0 %}
                            <p>No Files</p>
                        {% else %}
                            <table class="table table-striped">
                                {% for checkoutFile in checkout.files %}
                                    <tr>
                                        <td>
                                            <a href="{{ s3DownloadLink(checkoutFile.bucket, checkoutFile.key) }}">{{ checkoutFile.fileName }}</a>
                                        </td>
                                        <td>
                                            <i class="fal fa-plus-circle fa-fw" title="Created"></i>
                                            {{ checkoutFile.created|date() }}
                                            <br>
                                            <i class="fal fa-calendar fa-fw" title="Date"></i> {{ checkoutFile.date|date() }}
                                        </td>
                                        <td>
                                            {# TODO: Move into tab??? #}
                                            {{ checkoutFile.metadata|json_encode }}
                                        </td>
                                        <td>
                                            <button class="delete-file btn btn-danger btn-square"
                                                    data-delete-url="{{ path('admin_file_delete', {'id': checkoutFile.id }) }}">
                                                <i class="fal fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="lloyds_modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="lloyds_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lloyds Upload</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                   {{ form_start(lloydsForm) }}
                        <div class="form-group">
                            {{ form_label(lloydsForm.file, 'File') }}
                            {{ form_widget(lloydsForm.file) }}
                            <div class="with-errors">{{ form_errors(lloydsForm.file) }}</div>
                        </div>
                        <div class="form-group mb-0">
                            {{ form_widget(lloydsForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-success btn-square'}}) }}
                        </div>
                    {{ form_end(lloydsForm) }}
                    <hr>
                    {% if lloyds is defined %}
                        <h2>Files</h2>
                        {% if lloyds.files|length == 0 %}
                            <p>No Files</p>
                        {% else %}
                            <table class="table table-striped">
                                {% for lloydsFile in lloyds.files %}
                                    <tr>
                                        <td>
                                            <a href="{{ s3DownloadLink(lloydsFile.bucket, lloydsFile.key) }}">{{ lloydsFile.fileName }}</a>
                                        </td>
                                        <td>
                                            <i class="fal fa-plus-circle fa-fw" title="Created"></i>
                                            {{ lloydsFile.created|date() }}
                                            <br>
                                            <i class="fal fa-calendar fa-fw" title="Date"></i> {{ lloydsFile.date|date() }}
                                        </td>
                                        <td>
                                            {# TODO: Move into tab??? #}
                                            {{ lloydsFile.metadata|json_encode }}
                                        </td>
                                        <td>
                                            <button class="delete-file btn btn-danger btn-square"
                                                    data-delete-url="{{ path('admin_file_delete', {'id': lloydsFile.id }) }}">
                                                <i class="fal fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="reconciliation_modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="lloyds_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reconciliation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(reconciliationForm) }}
                        <div class="form-group">
                            {{ form_label(reconciliationForm.file, 'File') }}
                            {{ form_widget(reconciliationForm.file) }}
                            <div class="with-errors">{{ form_errors(reconciliationForm.file) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_label(reconciliationForm.monthlyTotal, 'Monthly Total') }}
                            {{ form_widget(reconciliationForm.monthlyTotal,  { 'attr': {'class': 'form-control' }}) }}
                            <div class="with-errors">{{ form_errors(reconciliationForm.monthlyTotal) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_label(reconciliationForm.notes, 'Notes') }}
                            {{ form_widget(reconciliationForm.notes, { 'attr': {'class': 'form-control', 'rows': '5', 'placeholder': 'Any details regarding the reconcilation'}}) }}
                            <div class="with-errors">{{ form_errors(reconciliationForm.notes) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_widget(reconciliationForm.upload, {'label': 'Reconcile', 'attr': {'class': 'btn btn-success btn-square'}}) }}
                        </div>
                    {{ form_end(reconciliationForm) }}
                    <hr>
                    <h2>Files</h2>
                    {% if reconciliation.files|length == 0 %}
                        <p>No Files</p>
                    {% else %}
                        <table class="table table-striped">
                            {% for reconcilationFile in reconciliation.files %}
                                <tr>
                                    <td>
                                        <a href="{{ s3DownloadLink(reconcilationFile.bucket, reconcilationFile.key) }}">{{ reconcilationFile.fileName }}</a>
                                    </td>
                                    <td>
                                        <p>&pound;{{ reconcilationFile.monthlyTotal|number_format(2, '.', ',') }}</p>
                                        <p>{{ reconcilationFile.notes }}</p>
                                        <p>{{ reconcilationFile.metadata|json_encode }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="payments_modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="payments_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Payments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="accordion" id="payments_accordion">
                        {% set day = 0 %}
                        {% set firstDay = true %}
                        {% for payment in sosure.payments %}
                            {% set newDay = false  %}
                            {% if payment.date|date('d', 'Europe/London') != day %}
                                {% set newDay = true  %}
                            {% endif %}
                            {% set day = payment.date|date('d', 'Europe/London') %}
                            {% if newDay %}
                                {% if not firstDay %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% set firstDay = false %}
                                <div class="card">
                                    <div class="card-header" id="heading_{{ day }}">
                                        <h2 class="mb-0 h6">
                                            <button class="btn-simple-link"
                                                    type="button"
                                                    data-toggle="collapse"
                                                    data-target="#collapse_{{ day }}"
                                                    aria-expanded="true" aria-controls="collapseOne">
                                                Day {{ day }}
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapse_{{ day }}"
                                         class="collapse"
                                         aria-labelledby="heading_{{ day }}"
                                         data-parent="#payments_accordion">
                                        <div class="card-body p-0">
                                            <table class="table table-striped mb-0">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                            {% endif %}
                                <tr>
                                    <td>{{ payment.date|date('d M Y H:i', 'Europe/London') }}</td>
                                    <td>&pound;{{ payment.amount|number_format(2, '.', ',') }}</td>
                                </tr>
                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/banking.js') }}"></script>
    <script src="{{ asset('css-js/datepicker-month.js') }}"></script>
{% endblock %}
