{% extends 'base.html.twig' %}
{% block body %}
<div class="container" style="margin-bottom: 50px">

{{ form_start(yearMonthForm) }}
<div class="row">
    <div class="col-md-7">
        <h1>so-sure Accounts for {{ month }} / {{ year }}</h1>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(yearMonthForm.month, 'Month') }}
            {{ form_errors(yearMonthForm.month) }}
            {{ form_widget(yearMonthForm.month) }}
        </div>                
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(yearMonthForm.year, 'Year') }}
            {{ form_errors(yearMonthForm.year) }}
            {{ form_widget(yearMonthForm.year) }}
        </div>                
    </div>
    <div class="col-md-1">
        <div class="form-group">
            {{ form_widget(yearMonthForm.submit, {'label': 'View Accounts', 'attr': {'class': 'btn btn-success'}}) }}
        </div>                
    </div>
</div>
{{ form_end(yearMonthForm) }}

<table class="table table-striped">
    <tr class="info">
        <td>Total for month</td>
        <td>£{{ total|number_format(2, '.', ',') }}</td>
    </tr>
    <tr>
        <td>Paid in</td>
        <td>£{{ received|number_format(2, '.', ',') }}</td>
    </tr>
    <tr>
        <td>Refunded</td>
        <td>£{{ refunded|number_format(2, '.', ',') }}</td>
    </tr>
    <tr>
        <td>Total Commissions (so-sure + Afl)</td>
        <td>£{{ totalCommission|number_format(2, '.', ',') }} ( {{ (100 * totalCommission / total) |number_format(1, '.', ',')}}% )</td>
    </tr>
    <tr class="success">
        <td>so-sure Commission</td>
        <td>£{{ coverholderCommission|number_format(2, '.', ',') }} ( {{ (100 * coverholderCommission / total) |number_format(1, '.', ',')}}% )</td>
    </tr>
    <tr class="danger">
        <td>Salva</td>
        <td>£{{ underwriterAmount|number_format(2, '.', ',') }} ( {{ (100 * underwriterAmount / total) |number_format(1, '.', ',')}}% )</td>
    </tr>
    <tr class="danger">
        <td>Afl Commission</td>
        <td>£{{ brokerCommission|number_format(2, '.', ',') }} ( {{ (100 * brokerCommission / total) |number_format(1, '.', ',')}}% )</td>
    </tr>
    <tr>
        <td>Number of Payments Received</td>
        <td>{{ numPayments }}</td>
    </tr>
    <tr>
        <td>Average Payment Amount</td>
        <td>£{{ avgPayment|number_format(2, '.', ',')  }}</td>
    </tr>
    <tr>
        <td>Number of Active Policies (as of end {{ month }} / {{ year }}) <br />
        * <i>May not be very accurate when viewed historically</i></td>
        <td>{{ activePolicies }}</td>
    </tr>
</table>
{{ form_start(judoForm) }}
<div class="row">
    <div class="col-md-7">
        <h2>Reconciliation Data</h2>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            {{ form_label(judoForm.file, 'File') }}
            {{ form_errors(judoForm.file) }}
            {{ form_widget(judoForm.file) }}
        </div>                
    </div>
    <div class="col-md-1">
        <div class="form-group">
            {{ form_widget(judoForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-success'}}) }}
        </div>                
    </div>
</div>
{{ form_end(yearMonthForm) }}

    {% for file in files %}
        {% set filename = file.filename|split('.') %}
        {% set file_dates = filename[0]|split('-') %}
        {% set file_date = file_dates[file_dates|length - 1] %}
        <h3>{{ file.filename }} [From {{ file_date|date }}]</h3>
        <ul>
            {% for key, value in file.metadata %}
                <li>{{ key }}: {{ value }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
    
</div>
{% endblock %}