{% set text_width = "75%" %}
<h4>Payments</h4>
<table class="table table-striped">
    <tr class="info">
        <td width="{{ text_width }}">Total for month</td>
        <td>£{{ paymentTotals.all.total|number_format(2, '.', ',') }}</td>
    </tr>
    <tr>
        <td>Paid in (cards)</td>
        <td>£{{ paymentTotals.judo.received|number_format(2, '.', ',') }}</td>
    </tr>
    <tr>
        <td>Paid in (bacs)</td>
        <td>£{{ paymentTotals.bacs.received|number_format(2, '.', ',') }}</td>
    </tr>
    <tr>
        <td>Paid in (so-sure)</td>
        <td>£{{ paymentTotals.sosure.received|number_format(2, '.', ',') }}</td>
    </tr>
    <tr>
        <td>Refunded (cards)</td>
        <td>£{{ paymentTotals.judo.refunded|number_format(2, '.', ',') }}</td>
    </tr>
    <tr>
        <td>Refunded (bacs)</td>
        <td>£{{ paymentTotals.bacs.refunded|number_format(2, '.', ',') }}</td>
    </tr>
    <tr>
        <td>Refunded (so-sure)</td>
        <td>£{{ paymentTotals.sosure.refunded|number_format(2, '.', ',') }}</td>
    </tr>
    <tr>
        <td>Total Commissions (so-sure + Afl)</td>
        <td>£{{ paymentTotals.all.totalCommission|number_format(2, '.', ',') }} ( {{ paymentTotals.all.totalCommissionPercent |number_format(1, '.', ',')}}% )</td>
    </tr>
    <tr class="success">
        <td>so-sure Commission</td>
        <td>£{{ paymentTotals.all.coverholderCommission|number_format(2, '.', ',') }} ( {{ paymentTotals.all.coverholderCommissionPercent |number_format(1, '.', ',')}}% )</td>
    </tr>
    <tr class="danger">
        <td>Salva</td>
        <td>£{{ paymentTotals.all.totalUnderwriter|number_format(2, '.', ',') }} ( {{ paymentTotals.all.totalUnderwriterPercent |number_format(1, '.', ',')}}% )</td>
    </tr>
    <tr class="danger">
        <td>Afl Commission</td>
        <td>£{{ paymentTotals.all.brokerCommission|number_format(2, '.', ',') }} ( {{ paymentTotals.all.brokerCommissionPercent |number_format(1, '.', ',')}}% )</td>
    </tr>
</table>
<h4>Reward Pot</h4>
<table class="table table-striped">
    <tr class="info">
        <td width="{{ text_width }}">Reward Pot Due To Customers</td>
        <td>£{{ paymentTotals.potReward.total|number_format(2, '.', ',') }} </td>
    </tr>
</table>
<h4>Rollup</h4>
<table class="table table-striped">
    <tr>
        <td width="{{ text_width }}">Number of Payments Received</td>
        <td>{{ paymentTotals.judo.numReceived }} Judo + {{ paymentTotals.bacs.numReceived }} Bacs</td>
    </tr>
    <tr>
        <td>Number of Refunds</td>
        <td>{{ paymentTotals.judo.numRefunded }} Judo + {{ paymentTotals.bacs.numRefunded }} Bacs</td>
    </tr>
    <tr>
        <td>Average Payment Amount</td>
        <td>{% if paymentTotals.all.avgPayment %}£{{ paymentTotals.all.avgPayment|number_format(2, '.', ',')  }}{% else %}n/a{% endif %}</td>
    </tr>
    <tr>
        <td>Number of Active Policies (as of end {{ month }} / {{ year }})</td>
        <td>{{ activePolicies }}</td>
    </tr>
</table>
