{% extends 'admin_claims_base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'admin-admin-users' %}

{% block title %}Admin Users - {{ user.name }}{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
   {#  <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}"> #}
{% endblock %}

{% block body %}

    <section class="py-4 px-md-4">
        <div class="container-fluid">
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">Admin Users - {{ user.name }}</h1>
            </div>
            {# Controls area #}
            <div class="card card-page-filter mb-5">
                <div class="card-body">
                    <a href="{{ path('admin_admin_users') }}" class="btn btn-success">Back to users</a>
                </div>
            </div>
            {# Content area #}
            <div class="table-responsive-sm mb-5">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <td><strong>{{ user.name }}</strong></td>
                        <td>{{ user.email }}</td>
                        <td align="center">
                            {% if user.googleAuthenticatorSecret | length > 0 %}
                                <strong class="mr-2">{{ user.googleAuthenticatorSecret }}</strong>
                                <img src="{{ mfa_image_url }}" />
                            {% endif %}
                        </td>
                        <td>
                            {% if user.googleAuthenticatorSecret | length > 0 %}
                                {{ form_start(disable_mfa_form) }}
                                {{ form_widget(disable_mfa_form.disable, {'label': 'Disable MFA', 'attr': {'class': 'btn btn-danger btn-sm'}}) }}
                                {{ form_end(disable_mfa_form) }}
                            {% else %}
                                {{ form_start(enable_mfa_form) }}
                                {{ form_widget(enable_mfa_form.enable, {'label': 'Enable MFA', 'attr': {'class': 'btn btn-success btn-sm'}}) }}
                                {{ form_end(enable_mfa_form) }}
                            {% endif %}
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}
    {# <script src="{{ asset('css-js/homepage.js') }}"></script> #}
{% endblock %}
