{% extends 'admin_claims_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/Admin/month.js'
        '@AppBundle/Resources/public/js/Admin/banking.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container" style="margin-bottom: 50px">

    <div class="row">
        <div class="col-md-4">
            <h1>Banking {{ dates.month }} / {{ dates.year }}</h1>
        </div>
        <form class="month-form form-inline" method="POST" autocomplete="off">
        <div class="col-md-3">
            <div class="form-group" style="padding-top: 15px;">
                <div class="input-group date month" data-url="{{ path('admin_banking') }}">
                    <input name="banking" type='text' class="form-control" value="{{dates.month}}-{{dates.year}}" />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-success"><i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group" style="padding-top: 15px;">
                <div class="btn-group">
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-info dropdown-toggle">
                            Upload Files <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-toggle="modal" data-target="#judoModal"
                                > Judo</a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#barclaysModal"
                                > Barclays</a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#barclaysStatementModal"
                                > Barclays Statement</a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#cashflowsModal"
                                > Cashflows</a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#lloydsModal"
                                > Lloyds</a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#reconciliationModal"
                    > Reconcile {% if reconciliation.files|length > 0 %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-clock-o text-warning"></i>{% endif %} </button>
                </div>
            </div>
        </div>
        </form>
    </div>

    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a data-toggle="tab" href="#salva">Salva</a></li>
        <li role="presentation"><a data-toggle="tab" href="#judo">Judo</a></li>
        <li role="presentation"><a data-toggle="tab" href="#barclays">Barclays</a></li>
        <li role="presentation"><a data-toggle="tab" href="#cashflows">Cashflows</a></li>
        <li role="presentation"><a data-toggle="tab" href="#bacs">Bacs</a></li>
        <li role="presentation"><a data-toggle="tab" href="#lloyds">Lloyds</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="salva">
            {% include 'AppBundle::Admin/adminBanking/salva.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="judo">
            {% include 'AppBundle::Admin/adminBanking/judo.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="barclays">
            {% include 'AppBundle::Admin/adminBanking/barclays.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="cashflows">
            {% include 'AppBundle::Admin/adminBanking/cashflows.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="lloyds">
            {% include 'AppBundle::Admin/adminBanking/lloyds.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="bacs">
            {% include 'AppBundle::Admin/adminBanking/bacs.html.twig' %}
        </div>
    </div>

    <div class="modal modal-middle modal-phone fade" id="judoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Judo Upload</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(judoForm) }}
                    <div class="form-group">
                        {{ form_label(judoForm.file, 'File') }}
                        {{ form_errors(judoForm.file) }}
                        {{ form_widget(judoForm.file) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(judoForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-success'}}) }}
                    </div>
                    {{ form_end(judoForm) }}
                    <hr>
                    <h2>Files</h2>
                    {% if judo.files|length == 0 %}<p>No files</p>{% endif %}
                    <table width="100%" class="table table-striped">
                        {% for judoFile in judo.files %}
                            <tr>
                                <td>
                                    <a href="{{ s3DownloadLink(judoFile.bucket, judoFile.key) }}">{{ judoFile.fileName }}</a>
                                    <br><i class="fa fa-plus-circle" title="Created"></i> {{ judoFile.created|date() }}
                                    <br><i class="fa fa-pencil" title="Date"></i> {{ judoFile.date|date() }}
                                </td>
                                <td style="word-break:break-all;">{{ judoFile.metadata|json_encode }}</td>
                                <td><button class="delete-file" data-delete-url="{{ path('admin_file_delete', {'id': judoFile.id }) }}">
                                        <i class="fa fa-trash text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-middle modal-phone fade" id="barclaysModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Barclays Transaction Upload</h4>
          </div>
          <div class="modal-body">
            {{ form_start(barclaysForm) }}
                <div class="form-group">
                    {{ form_label(barclaysForm.file, 'File') }}
                    {{ form_errors(barclaysForm.file) }}
                    {{ form_widget(barclaysForm.file) }}
                </div>
                <div class="form-group">
                    {{ form_widget(barclaysForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-success'}}) }}
                </div>
            {{ form_end(barclaysForm) }}
              <hr>
              <h2>Files</h2>
              {% if barclays.files|length == 0 %}<p>No files</p>{% endif %}
              <table width="100%" class="table table-striped">
                  {% for barclaysFile in barclays.files %}
                      <tr>
                          <td><a href="{{ s3DownloadLink(barclaysFile.bucket, barclaysFile.key) }}">{{ barclaysFile.fileName }}</a>
                              <br><i class="fa fa-plus-circle" title="Created"></i> {{ barclaysFile.created|date() }}
                              <br><i class="fa fa-pencil" title="Date"></i> {{ barclaysFile.date|date() }}
                          </td>
                          <td style="word-break:break-all;">{{ barclaysFile.metadata|json_encode }}</td>
                          <td><button class="delete-file" data-delete-url="{{ path('admin_file_delete', {'id': barclaysFile.id }) }}">
                                  <i class="fa fa-trash text-danger"></i>
                              </button>
                          </td>
                      </tr>
                  {% endfor %}
              </table>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-middle modal-phone fade" id="cashflowsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Cashflows Upload</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(cashflowsForm) }}
                    <div class="form-group">
                        {{ form_label(cashflowsForm.file, 'File') }}
                        {{ form_errors(cashflowsForm.file) }}
                        {{ form_widget(cashflowsForm.file) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(cashflowsForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-success'}}) }}
                    </div>
                    {{ form_end(cashflowsForm) }}
                    <hr>
                    <h2>Files</h2>
                    {% if cashflows.files|length == 0 %}<p>No files</p>{% endif %}
                    <table width="100%" class="table table-striped">
                        {% for cashflowsFile in cashflows.files %}
                            <tr>
                                <td><a href="{{ s3DownloadLink(cashflowsFile.bucket, cashflowsFile.key) }}">{{ cashflowsFile.fileName }}</a>
                                    <br><i class="fa fa-plus-circle" title="Created"></i> {{ cashflowsFile.created|date() }}
                                    <br><i class="fa fa-pencil" title="Date"></i> {{ cashflowsFile.date|date() }}
                                </td>
                                <td style="word-break:break-all;">{{ cashflowsFile.metadata|json_encode }}</td>
                                <td><button class="delete-file" data-delete-url="{{ path('admin_file_delete', {'id': cashflowsFile.id }) }}">
                                        <i class="fa fa-trash text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-middle modal-phone fade" id="barclaysStatementModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Barclays Statement Upload</h4>
          </div>
          <div class="modal-body">
            {{ form_start(barclaysStatementForm) }}
                <div class="form-group">
                    {{ form_label(barclaysStatementForm.file, 'File') }}
                    {{ form_errors(barclaysStatementForm.file) }}
                    {{ form_widget(barclaysStatementForm.file) }}
                </div>
                <div class="form-group">
                    {{ form_widget(barclaysStatementForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-success'}}) }}
                </div>
            {{ form_end(barclaysStatementForm) }}
              <hr>
              <h2>Files</h2>
              {% if barclaysStatementFiles|length == 0 %}<p>No files</p>{% endif %}
              <table width="100%" class="table table-striped">
                  {% for barclaysStatementFile in barclaysStatementFiles %}
                      <tr>
                          <td><a href="{{ s3DownloadLink(barclaysStatementFile.bucket, barclaysStatementFile.key) }}">{{ barclaysStatementFile.fileName }}</a>
                              <br><i class="fa fa-plus-circle" title="Created"></i> {{ barclaysStatementFile.created|date() }}
                              <br><i class="fa fa-pencil" title="Date"></i> {{ barclaysStatementFile.date|date() }}
                          </td>
                          <td style="word-break:break-all;">{{ barclaysStatementFile.metadata|json_encode }}</td>
                          <td><button class="delete-file" data-delete-url="{{ path('admin_file_delete', {'id': barclaysStatementFile.id }) }}">
                                  <i class="fa fa-trash text-danger"></i>
                              </button>
                          </td>
                      </tr>
                  {% endfor %}
              </table>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-middle modal-phone fade" id="lloydsModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Lloyds Upload</h4>
          </div>
          <div class="modal-body">
            {{ form_start(lloydsForm) }}
                <div class="form-group">
                    {{ form_label(lloydsForm.file, 'File') }}
                    {{ form_errors(lloydsForm.file) }}
                    {{ form_widget(lloydsForm.file) }}
                </div>
                <div class="form-group">
                    {{ form_widget(lloydsForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-success'}}) }}
                </div>
            {{ form_end(lloydsForm) }}
              <hr>
              <h2>Files</h2>
              {% if lloyds.files|length == 0 %}<p>No files</p>{% endif %}
              <table width="100%" class="table table-striped">
                  {% for lloydsFile in lloyds.files %}
                  <tr>
                      <td><a href="{{ s3DownloadLink(lloydsFile.bucket, lloydsFile.key) }}">{{ lloydsFile.fileName }}</a>
                          <br><i class="fa fa-plus-circle" title="Created"></i> {{ lloydsFile.created|date() }}
                          <br><i class="fa fa-pencil" title="Date"></i> {{ lloydsFile.date|date() }}
                      </td>
                      <td style="word-break:break-all;">{{ lloydsFile.metadata|json_encode }}</td>
                      <td><button class="delete-file" data-delete-url="{{ path('admin_file_delete', {'id': lloydsFile.id }) }}">
                              <i class="fa fa-trash text-danger"></i>
                          </button>
                      </td>
                  </tr>
                  {% endfor %}
              </table>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-middle modal-phone fade" id="reconciliationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Reconciliation</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(reconciliationForm) }}
                    <div class="form-group">
                        {{ form_label(reconciliationForm.file, 'File') }}
                        {{ form_errors(reconciliationForm.file) }}
                        {{ form_widget(reconciliationForm.file) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(reconciliationForm.monthlyTotal, 'Monthly Total') }}
                        {{ form_errors(reconciliationForm.monthlyTotal) }}
                        {{ form_widget(reconciliationForm.monthlyTotal) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(reconciliationForm.notes, 'Notes') }}
                        {{ form_errors(reconciliationForm.notes) }}
                        {{ form_widget(reconciliationForm.notes, { 'attr': {'class': 'form-control', 'rows': '5', 'placeholder': 'Any details regarding the reconcilation'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(reconciliationForm.upload, {'label': 'Reconcile', 'attr': {'class': 'btn btn-success'}}) }}
                    </div>
                    {{ form_end(reconciliationForm) }}
                    <hr>
                    <h2>Files</h2>
                    {% if reconciliation.files|length == 0 %}<p>No files</p>{% endif %}
                    <table width="100%" class="table table-striped">
                        {% for reconcilationFile in reconciliation.files %}
                            <tr>
                                <td><a href="{{ s3DownloadLink(reconcilationFile.bucket, reconcilationFile.key) }}">{{ reconcilationFile.fileName }}</a></td>
                                <td style="word-break:break-all;">
                                    <p>£{{ reconcilationFile.monthlyTotal|number_format(2, '.', ',') }}</p>
                                    <p>{{ reconcilationFile.notes }}</p>
                                    {{ reconcilationFile.metadata|json_encode }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-middle modal-phone fade" id="paymentsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Payments</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-group" id="payments-accordion" role="tablist" aria-multiselectable="true">
                        {% set day = 0 %}
                        {% set firstDay = true %}
                        {% for payment in sosure.payments %}
                            {% set newDay = false  %}
                            {% if payment.date|date('d', 'Europe/London') != day %}
                                {% set newDay = true  %}
                            {% endif %}
                            {% set day = payment.date|date('d', 'Europe/London') %}
                            {% if newDay %}
                                {% if not firstDay %}
                                        </table>
                                    </div>
                                </div>
                                {% endif %}
                                {% set firstDay = false %}
                                <div class="panel panel-default">
                                    <div class="panel-heading"
                                         id="payment{{ day }}"
                                         role="button"
                                         data-toggle="collapse"
                                         data-parent="#faq-accordion"
                                         href="#collapse{{ day }}"
                                         aria-expanded="true"
                                         aria-controls="collapse{{ day }}">
                                        <h4 class="panel-title">
                                            {{ day }}
                                        </h4>
                                    </div>
                                    <div id="collapse{{ day }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="payment{{ day }}">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Date</th>
                                            <th>Amount</th>
                                        </tr>
                            {% endif %}
                                <tr>
                                    <td>{{ payment.date|date('d M Y H:i', 'Europe/London') }}</td>
                                    <td>{{ payment.amount|number_format(2, '.', ',') }}</td>
                                </tr>
                        {% endfor %}
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
