{% extends 'admin_claims_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/Admin/month.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container" style="margin-bottom: 50px">

    <div class="row">
        <div class="col-md-4">
            <h1>Banking {{ month }} / {{ year }}</h1>
        </div>
        <form class="month-form form-inline" method="POST" autocomplete="off">
        <div class="col-md-3">
            <div class="form-group" style="padding-top: 15px;">
                <div class="input-group date month" data-url="{{ path('admin_banking') }}">
                    <input name="banking" type='text' class="form-control" value="{{month}}-{{year}}" />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-success"><i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group" style="padding-top: 15px;">
                <div class="btn-group">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#judoModal"
                    > Judo</button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#barclaysModal"
                        > Barclays</button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#barclaysStatementModal"
                        > B Stmt</button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#lloydsModal"
                        > Lloyds</button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#reconciliationModal"
                        > Reconcile {% if reconcilationFiles|length > 0 %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-clock-o text-warning"></i>{% endif %} </button>
                </div>
            </div>
        </div>
        </form>
    </div>

    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a data-toggle="tab" href="#salva">Salva</a></li>
        <li role="presentation"><a data-toggle="tab" href="#judo">Judo</a></li>
        <li role="presentation"><a data-toggle="tab" href="#barclays">Barclays</a></li>
        <li role="presentation"><a data-toggle="tab" href="#lloyds">Lloyds</a></li>
        <li role="presentation"><a data-toggle="tab" href="#bacs">Bacs</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="salva">
            <div class="row">
                <div class="col-md-6">
                    <h3>Transaction Date</h3>
                    {% set sosureTotal = 0 %}
                    {% set sosureShiftedTotal = 0 %}
                    {% set salvaTotal = 0 %}
                    {% for day in 1..days_in_month %}
                        {% if month < 10 and day < 10 %}
                            {% set ymd = year ~ "0" ~ month ~ "0" ~ day %}
                        {% elseif day < 10 %}
                            {% set ymd = year ~ month ~ "0" ~ day %}
                        {% elseif month < 10 %}
                            {% set ymd = year ~ "0" ~ month ~ day %}
                        {% else %}
                            {% set ymd = year ~ month ~ day %}
                        {% endif %}
                        {% if sosure['dailyTransaction'][day] is defined %}
                            {% set sosureTotal = sosureTotal + sosure['dailyTransaction'][day] %}
                        {% endif %}
                        {% if sosure['dailyShiftedTransaction'][day] is defined %}
                            {% set sosureShiftedTotal = sosureShiftedTotal + sosure['dailyShiftedTransaction'][day] %}
                        {% endif %}
                        {% if salva['dailyTransaction'][ymd] is defined %}
                            {% set salvaTotal = salvaTotal + salva['dailyTransaction'][ymd] %}
                        {% endif %}
                    {% endfor %}
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th>so-sure</th>
                            <th>Salva</th>
                            <th>Diff</th>
                        </tr>
                        <tr>
                            <td>Month</td>
                            {% set color = '' %}
                            {% if equal_to_two_dp(sosure['monthlyTransaction'].total, sosureTotal) %}
                                {% set color = 'success' %}
                            {% else %}
                                {% set color = 'danger' %}
                            {% endif %}
                            <td class="{{ color }}">
                                £{{ sosure['monthlyTransaction'].total|number_format(2, '.', ',') }}
                            </td>
                            {% if equal_to_two_dp(salva['monthlyTransaction'], salvaTotal) %}
                                {% set color = 'success' %}
                            {% else %}
                                {% set color = 'danger' %}
                            {% endif %}
                            <td class="{{ color }}">
                                £{{ salva['monthlyTransaction']|number_format(2, '.', ',') }}
                            </td>
                            <td>
                                £{{ (sosure['monthlyTransaction'].total - salva['monthlyTransaction'])|number_format(2, '.', ',') }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2>Transaction Date

                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#paymentsModal"
                        > Payment Details</button>
                    </h2>
                    <table class="table table-striped">
                        <tr>
                            <th>Day of Month</th>
                            <th>so-sure (tz)</th>
                            <th>so-sure</th>
                            <th>Salva</th>
                            <th>Diff</th>
                            <th>Cumulative Diff</th>
                        </tr>
                        {% set cumulative = 0 %}
                        {% for day in 1..days_in_month %}
                            {% if month < 10 and day < 10 %}
                                {% set ymd = year ~ "0" ~ month ~ "0" ~ day %}
                            {% elseif day < 10 %}
                                {% set ymd = year ~ month ~ "0" ~ day %}
                            {% elseif month < 10 %}
                                {% set ymd = year ~ "0" ~ month ~ day %}
                            {% else %}
                                {% set ymd = year ~ month ~ day %}
                            {% endif %}
                            {% set color = '' %}
                            {% if sosure['dailyTransaction'][day] is defined and salva['dailyTransaction'][ymd] is defined  %}
                                {% if equal_to_two_dp(sosure['dailyTransaction'][day], salva['dailyTransaction'][ymd]) %}
                                    {% set color = 'success' %}
                                {% else %}
                                    {% set color = 'danger' %}
                                {% endif %}
                            {% endif %}
                            <tr class='{{ color }}'>
                                <td>{{ day }}</td>
                                <td>{% if sosure['dailyShiftedTransaction'][day] is defined %}
                                        £{{ sosure['dailyShiftedTransaction'][day]|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{% if sosure['dailyTransaction'][day] is defined %}
                                        £{{ sosure['dailyTransaction'][day]|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{% if salva['dailyTransaction'][ymd] is defined %}
                                        £{{ salva['dailyTransaction'][ymd]|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{% if sosure['dailyTransaction'][day] is defined and salva['dailyTransaction'][ymd] is defined %}
                                        {% set diff = sosure['dailyTransaction'][day] - salva['dailyTransaction'][ymd] %}
                                        {% set cumulative = cumulative + diff %}
                                        £{{ diff|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{% if sosure['dailyTransaction'][day] is defined and salva['dailyTransaction'][ymd] is defined %}
                                        £{{ cumulative|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="background-light-grey">
                            <td>SubTotal</td>
                            <td>
                                £{{ sosureShiftedTotal|number_format(2, '.', ',') }}
                            </td>
                            <td>
                                £{{ sosureTotal|number_format(2, '.', ',') }}
                            </td>
                            <td>
                                £{{ salvaTotal|number_format(2, '.', ',') }}
                            </td>
                            <td>
                                £{{ (sosureTotal - salvaTotal)|number_format(2, '.', ',') }}
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="judo">
            <div class="row">
                <div class="col-md-6">
                    <h3>Transaction Date</h3>
                    {% set sosureTotal = 0 %}
                    {% set judoTotal = 0 %}
                    {% for day in 1..days_in_month %}
                        {% if month < 10 and day < 10 %}
                            {% set ymd = year ~ "0" ~ month ~ "0" ~ day %}
                        {% elseif day < 10 %}
                            {% set ymd = year ~ month ~ "0" ~ day %}
                        {% elseif month < 10 %}
                            {% set ymd = year ~ "0" ~ month ~ day %}
                        {% else %}
                            {% set ymd = year ~ month ~ day %}
                        {% endif %}
                        {% if sosure['dailyJudoTransaction'][day] is defined %}
                            {% set sosureTotal = sosureTotal + sosure['dailyJudoTransaction'][day] %}
                        {% endif %}
                        {% if judo['dailyTransaction'][ymd] is defined %}
                            {% set judoTotal = judoTotal + judo['dailyTransaction'][ymd] %}
                        {% endif %}
                    {% endfor %}
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th>so-sure</th>
                            <th>Judo</th>
                            <th>Diff</th>
                        </tr>
                        <tr>
                            <td>Month</td>
                            {% set color = '' %}
                            {% if equal_to_two_dp(sosure['monthlyJudoTransaction'].total, sosureTotal) %}
                                {% set color = 'success' %}
                            {% else %}
                                {% set color = 'danger' %}
                            {% endif %}
                            <td class="{{ color }}">
                                £{{ sosure['monthlyJudoTransaction'].total|number_format(2, '.', ',') }}
                            </td>
                            {% if equal_to_two_dp(judo['monthlyTransaction'], judoTotal) %}
                                {% set color = 'success' %}
                            {% else %}
                                {% set color = 'danger' %}
                            {% endif %}
                            <td class="{{ color }}">
                                £{{ judo['monthlyTransaction']|number_format(2, '.', ',') }}
                            </td>
                            <td>
                                £{{ (sosure['monthlyJudoTransaction'].total - judo['monthlyTransaction'])|number_format(2, '.', ',') }}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <h3>Reconciliation</h3>
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th>Reconciliation</th>
                            <th>Judo</th>
                            <th>Diff</th>
                        </tr>
                        <tr>
                            <td>Month</td>
                            <td>£{{ reconciliation['monthlyTransaction']|number_format(2, '.', ',') }}</td>
                            <td>£{{ judo['monthlyTransaction']|number_format(2, '.', ',') }}</td>
                            <td>£{{ (sosure['monthlyJudoTransaction'].total - judo['monthlyTransaction'])|number_format(2, '.', ',') }}</td>
                        </tr>
                        <tr>
                            <td>Year</td>
                            <td>£{{ reconciliation['yearlyTransaction']|number_format(2, '.', ',') }}</td>
                            <td>£{{ judo['yearlyTransaction']|number_format(2, '.', ',') }}</td>
                            <td>£{{ (reconciliation['yearlyTransaction'] - judo['yearlyTransaction'])|number_format(2, '.', ',') }}</td>
                        </tr>
                        <tr>
                            <td>All time</td>
                            <td>£{{ reconciliation['allTransaction']|number_format(2, '.', ',') }}</td>
                            <td>£{{ judo['allTransaction']|number_format(2, '.', ',') }}</td>
                            <td>£{{ (reconciliation['allTransaction'] - judo['allTransaction'])|number_format(2, '.', ',') }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2>Transaction Date

                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#paymentsModal"
                        > Payment Details</button>
                    </h2>
                    <table class="table table-striped">
                        <tr>
                            <th>Day of Month</th>
                            <th>so-sure</th>
                            <th>Judo</th>
                            <th>Diff</th>
                            <th>Cumulative Diff</th>
                        </tr>
                        {% set cumulative = 0 %}
                        {% for day in 1..days_in_month %}
                            {% if month < 10 and day < 10 %}
                                {% set ymd = year ~ "0" ~ month ~ "0" ~ day %}
                            {% elseif day < 10 %}
                                {% set ymd = year ~ month ~ "0" ~ day %}
                            {% elseif month < 10 %}
                                {% set ymd = year ~ "0" ~ month ~ day %}
                            {% else %}
                                {% set ymd = year ~ month ~ day %}
                            {% endif %}
                            {% set color = '' %}
                            {% if sosure['dailyJudoTransaction'][day] is defined and judo['dailyTransaction'][ymd] is defined  %}
                                {% if equal_to_two_dp(sosure['dailyJudoTransaction'][day], judo['dailyTransaction'][ymd]) %}
                                    {% set color = 'success' %}
                                {% else %}
                                    {% set color = 'danger' %}
                                {% endif %}
                            {% endif %}
                            <tr class='{{ color }}'>
                                <td>{{ day }}</td>
                                <td>{% if sosure['dailyJudoTransaction'][day] is defined %}
                                        £{{ sosure['dailyJudoTransaction'][day]|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{% if judo['dailyTransaction'][ymd] is defined %}
                                        £{{ judo['dailyTransaction'][ymd]|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{% if sosure['dailyJudoTransaction'][day] is defined and judo['dailyTransaction'][ymd] is defined %}
                                        {% set diff = sosure['dailyJudoTransaction'][day] - judo['dailyTransaction'][ymd] %}
                                        {% set cumulative = cumulative + diff %}
                                        £{{ diff|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{% if sosure['dailyJudoTransaction'][day] is defined and judo['dailyTransaction'][ymd] is defined %}
                                    £{{ cumulative|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="background-light-grey">
                            <td>SubTotal</td>
                            <td>
                                £{{ sosureTotal|number_format(2, '.', ',') }}
                            </td>
                            <td>
                                £{{ judoTotal|number_format(2, '.', ',') }}
                            </td>
                            <td>
                                    £{{ (sosureTotal - judoTotal)|number_format(2, '.', ',') }}
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="barclays">
            <div class="row">
                <div class="col-md-6">
                    <h3>Transaction Date</h3>
                    {% set sosureTotal = 0 %}
                    {% set barclaysTotal = 0 %}
                    {% for day in 1..days_in_month %}
                        {% if month < 10 and day < 10 %}
                            {% set ymd = year ~ "0" ~ month ~ "0" ~ day %}
                        {% elseif day < 10 %}
                            {% set ymd = year ~ month ~ "0" ~ day %}
                        {% elseif month < 10 %}
                            {% set ymd = year ~ "0" ~ month ~ day %}
                        {% else %}
                            {% set ymd = year ~ month ~ day %}
                        {% endif %}
                        {% if sosure['dailyJudoShiftedTransaction'][day] is defined %}
                            {% set sosureTotal = sosureTotal + sosure['dailyJudoShiftedTransaction'][day] %}
                        {% endif %}
                        {% if barclays['dailyTransaction'][ymd] is defined %}
                            {% set barclaysTotal = barclaysTotal + barclays['dailyTransaction'][ymd] %}
                        {% endif %}
                    {% endfor %}
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th>so-sure  (adj TZ)</th>
                            <th>Barclays</th>
                            <th>Diff</th>
                        </tr>
                        <tr>
                            <td>Month</td>
                            {% if equal_to_two_dp(sosure['monthlyJudoShiftedTransaction'].total, sosureTotal) %}
                                {% set color = 'success' %}
                            {% else %}
                                {% set color = 'danger' %}
                            {% endif %}
                            <td class="{{ color }}">
                                £{{ sosure['monthlyJudoShiftedTransaction'].total|number_format(2, '.', ',') }}
                            </td>
                            {% if equal_to_two_dp(barclays['monthlyTransaction'], barclaysTotal) %}
                                {% set color = 'success' %}
                            {% else %}
                                {% set color = 'danger' %}
                            {% endif %}
                            <td class="{{ color }}">
                                £{{ barclays['monthlyTransaction']|number_format(2, '.', ',') }}
                            </td>
                            <td>£{{ (sosure['monthlyJudoShiftedTransaction'].total - barclays['monthlyTransaction'])|number_format(2, '.', ',') }}</td>
                        </tr>
                        <tr>
                            <td>Year</td>
                            <td></td>
                            <td>£{{ barclays['yearlyTransaction']|number_format(2, '.', ',') }}</td>
                        </tr>
                        <tr>
                            <td>All time</td>
                            <td></td>
                            <td>£{{ barclays['allTransaction']|number_format(2, '.', ',') }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <h3>Processing Date</h3>
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th>Barclays</th>
                            <th>Lloyds</th>
                            <th>Diff</th>
                        </tr>
                        <tr>
                            <td>Month</td>
                            <td>£{{ barclays['monthlyProcessed']|number_format(2, '.', ',') }}</td>
                            <td>£{{ lloyds['monthlyProcessed']|number_format(2, '.', ',') }}</td>
                            <td>£{{ (barclays['monthlyTransaction'] - lloyds['monthlyProcessed'])|number_format(2, '.', ',') }}</td>
                        </tr>
                        <tr>
                            <td>Year</td>
                            <td>£{{ barclays['yearlyProcessed']|number_format(2, '.', ',') }}</td>
                            <td>£{{ lloyds['yearlyProcessed']|number_format(2, '.', ',') }}</td>
                            <td>£{{ (barclays['yearlyProcessed'] - lloyds['yearlyProcessed'])|number_format(2, '.', ',') }}</td>
                        </tr>
                        <tr>
                            <td>All time</td>
                            <td>£{{ barclays['allProcessed']|number_format(2, '.', ',') }}</td>
                            <td>£{{ lloyds['allProcessed']|number_format(2, '.', ',') }}</td>
                            <td>£{{ (barclays['allProcessed'] - lloyds['allProcessed'])|number_format(2, '.', ',') }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2>Transaction Date</h2>
                    <table class="table table-striped">
                        <tr>
                            <th>Day of Month</th>
                            <th>so-sure (adj TZ)</th>
                            <th>Barclays</th>
                            <th>Diff</th>
                            <th>Cumulative Diff</th>
                        </tr>
                        {% set cumulative = 0 %}
                        {% for day in 1..days_in_month %}
                            {% if month < 10 and day < 10 %}
                                {% set ymd = year ~ "0" ~ month ~ "0" ~ day %}
                            {% elseif day < 10 %}
                                {% set ymd = year ~ month ~ "0" ~ day %}
                            {% elseif month < 10 %}
                                {% set ymd = year ~ "0" ~ month ~ day %}
                            {% else %}
                                {% set ymd = year ~ month ~ day %}
                            {% endif %}
                            {% set color = '' %}
                            {% if sosure['dailyJudoShiftedTransaction'][day] is defined and barclays['dailyTransaction'][ymd] is defined  %}
                                {% if equal_to_two_dp(sosure['dailyJudoShiftedTransaction'][day], barclays['dailyTransaction'][ymd]) %}
                                    {% set color = 'success' %}
                                {% else %}
                                    {% set color = 'danger' %}
                                {% endif %}
                            {% endif %}
                            <tr class='{{ color }}'>
                                <td>{{ day }}</td>
                                <td>{% if sosure['dailyJudoShiftedTransaction'][day] is defined %}
                                        £{{ sosure['dailyJudoShiftedTransaction'][day]|number_format(2, '.', ',') }}
                                    {% else %}-
                                    {% endif %}
                                </td>
                                <td>{% if barclays['dailyTransaction'][ymd] is defined %}
                                        £{{ barclays['dailyTransaction'][ymd]|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{% if sosure['dailyJudoShiftedTransaction'][day] is defined and barclays['dailyTransaction'][ymd] is defined %}
                                        {% set diff = sosure['dailyJudoShiftedTransaction'][day] - barclays['dailyTransaction'][ymd] %}
                                        {% set cumulative = cumulative + diff %}
                                        £{{ diff|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{% if sosure['dailyJudoShiftedTransaction'][day] is defined and barclays['dailyTransaction'][ymd] is defined %}
                                        £{{ cumulative|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="background-light-grey">
                            <td>SubTotal</td>
                            <td>
                                £{{ sosureTotal|number_format(2, '.', ',') }}
                            </td>
                            <td>
                                £{{ barclaysTotal|number_format(2, '.', ',') }}
                            </td>
                            <td>
                                £{{ (sosureTotal - barclaysTotal)|number_format(2, '.', ',') }}
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <h2>Processing Date</h2>
                    <table class="table table-striped">
                        <tr>
                            <th>Day of Month</th>
                            <th>Barclays</th>
                            <th>Lloyds</th>
                            <th>Diff</th>
                            <th>Cumulative Diff</th>
                        </tr>
                        {% set cumulative = 0 %}
                        {% for day in 1..days_in_month %}
                            {% if month < 10 and day < 10 %}
                                {% set ymd = year ~ "0" ~ month ~ "0" ~ day %}
                            {% elseif day < 10 %}
                                {% set ymd = year ~ month ~ "0" ~ day %}
                            {% elseif month < 10 %}
                                {% set ymd = year ~ "0" ~ month ~ day %}
                            {% else %}
                                {% set ymd = year ~ month ~ day %}
                            {% endif %}
                            {% set color = '' %}
                            {% if barclays['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined  %}
                                {% if equal_to_two_dp(barclays['dailyProcessed'][ymd], lloyds['dailyProcessed'][ymd]) %}
                                    {% set color = 'success' %}
                                {% else %}
                                    {% set color = 'danger' %}
                                {% endif %}
                            {% endif %}
                            <tr class='{{ color }}'>
                                <td>{{ day }}</td>
                                <td>{% if barclays['dailyProcessed'][ymd] is defined %}£{{ barclays['dailyProcessed'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                                <td>{% if lloyds['dailyProcessed'][ymd] is defined %}£{{ lloyds['dailyProcessed'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                                <td>{% if barclays['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined %}
                                        {% set diff = barclays['dailyProcessed'][ymd] - lloyds['dailyProcessed'][ymd] %}
                                        {% set cumulative = cumulative + diff %}
                                        £{{ diff|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{% if barclays['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined %}
                                        £{{ cumulative|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for next_month_day in 1..3 %}
                            {% if month == 12 %}
                                {% set ymd = (year + 1) ~ "01" ~ "0" ~ next_month_day %}
                            {% elseif month >= 9 %}
                                {% set ymd = year ~ (month + 1) ~ "0" ~ next_month_day %}
                            {% else %}
                                {% set ymd = year ~ "0" ~  (month + 1) ~ "0" ~ next_month_day %}
                            {% endif %}
                            {% set color = '' %}
                            {% if barclays['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined  %}
                                {% if equal_to_two_dp(barclays['dailyProcessed'][ymd], lloyds['dailyProcessed'][ymd]) %}
                                    {% set color = 'success' %}
                                {% else %}
                                    {% set color = 'danger' %}
                                {% endif %}
                            {% endif %}
                            <tr class='{{ color }}'>
                                <td>{{ next_month_day }}</td>
                                <td>{% if barclays['dailyProcessed'][ymd] is defined %}£{{ barclays['dailyProcessed'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                                <td>{% if lloyds['dailyProcessed'][ymd] is defined %}£{{ lloyds['dailyProcessed'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                                <td>{% if barclays['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined %}
                                        {% set diff = barclays['dailyProcessed'][ymd] - lloyds['dailyProcessed'][ymd] %}
                                        {% set cumulative = cumulative + diff %}
                                        £{{ diff|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{% if barclays['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined %}
                                        £{{ cumulative|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="lloyds">
            <div class="row">
                <div class="col-md-6">
                    <h3>Processing Date</h3>
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th>Barclays</th>
                            <th>Lloyds</th>
                            <th>Diff</th>
                        </tr>
                        <tr>
                            <td>Month</td>
                            <td>£{{ barclays['monthlyProcessed']|number_format(2, '.', ',') }}</td>
                            <td>£{{ lloyds['monthlyProcessed']|number_format(2, '.', ',') }}</td>
                            <td>£{{ (barclays['monthlyProcessed'] - lloyds['monthlyProcessed'])|number_format(2, '.', ',') }}</td>
                        </tr>
                        <tr>
                            <td>Year</td>
                            <td>£{{ barclays['yearlyProcessed']|number_format(2, '.', ',') }}</td>
                            <td>£{{ lloyds['yearlyProcessed']|number_format(2, '.', ',') }}</td>
                            <td>£{{ (barclays['yearlyProcessed'] - lloyds['yearlyProcessed'])|number_format(2, '.', ',') }}</td>
                        </tr>
                        <tr>
                            <td>All time</td>
                            <td>£{{ barclays['allProcessed']|number_format(2, '.', ',') }}</td>
                            <td>£{{ lloyds['allProcessed']|number_format(2, '.', ',') }}</td>
                            <td>£{{ (barclays['allProcessed'] - lloyds['allProcessed'])|number_format(2, '.', ',') }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <h3>Received Date</h3>
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th>Lloyds</th>
                        </tr>
                        <tr>
                            <td>Month)</td>
                            <td>£{{ lloyds['monthlyReceived']|number_format(2, '.', ',') }}</td>
                        </tr>
                        <tr>
                            <td>Year</td>
                            <td>£{{ lloyds['yearlyReceived']|number_format(2, '.', ',') }}</td>
                        </tr>
                        <tr>
                            <td>All time</td>
                            <td>£{{ lloyds['allReceived']|number_format(2, '.', ',') }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2>Processing Date</h2>
                    <table class="table table-striped">
                        <tr>
                            <th>Day of Month</th>
                            <th>Barclays</th>
                            <th>Lloyds</th>
                            <th>Diff</th>
                            <th>Cumulative Diff</th>
                        </tr>
                        {% set cumulative = 0 %}
                        {% for day in 1..days_in_month %}
                            {% if month < 10 and day < 10 %}
                                {% set ymd = year ~ "0" ~ month ~ "0" ~ day %}
                            {% elseif day < 10 %}
                                {% set ymd = year ~ month ~ "0" ~ day %}
                            {% elseif month < 10 %}
                                {% set ymd = year ~ "0" ~ month ~ day %}
                            {% else %}
                                {% set ymd = year ~ month ~ day %}
                            {% endif %}
                            {% set color = '' %}
                            {% if barclays['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined  %}
                                {% if equal_to_two_dp(barclays['dailyProcessed'][ymd], lloyds['dailyProcessed'][ymd]) %}
                                    {% set color = 'success' %}
                                {% else %}
                                    {% set color = 'danger' %}
                                {% endif %}
                            {% endif %}
                            <tr class='{{ color }}'>
                                <td>{{ day }}</td>
                                <td>{% if barclays['dailyProcessed'][ymd] is defined %}£{{ barclays['dailyProcessed'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                                <td>{% if lloyds['dailyProcessed'][ymd] is defined %}£{{ lloyds['dailyProcessed'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                                <td>{% if barclays['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined %}
                                        {% set diff = barclays['dailyProcessed'][ymd] - lloyds['dailyProcessed'][ymd] %}
                                        {% set cumulative = cumulative + diff %}
                                        £{{ diff|number_format(2, '.', ',') }}
                                    {% elseif barclays['dailyProcessed'][ymd] is defined %}
                                        {% set diff = barclays['dailyProcessed'][ymd] %}
                                        {% set cumulative = cumulative + diff %}
                                        £{{ diff|number_format(2, '.', ',') }}
                                    {% elseif lloyds['dailyProcessed'][ymd] is defined %}
                                        {% set diff = 0 - lloyds['dailyProcessed'][ymd] %}
                                        {% set cumulative = cumulative + diff %}
                                        £{{ diff|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{% if barclays['dailyProcessed'][ymd] is defined or lloyds['dailyProcessed'][ymd] is defined %}
                                        £{{ cumulative|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for next_month_day in 1..3 %}
                            {% if month == 12 %}
                                {% set ymd = (year + 1) ~ "01" ~ "0" ~ next_month_day %}
                            {% elseif month >= 9 %}
                                {% set ymd = year ~ (month + 1) ~ "0" ~ next_month_day %}
                            {% else %}
                                {% set ymd = year ~ "0" ~  (month + 1) ~ "0" ~ next_month_day %}
                            {% endif %}
                            {% set color = '' %}
                            {% if barclays['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined  %}
                                {% if equal_to_two_dp(barclays['dailyProcessed'][ymd], lloyds['dailyProcessed'][ymd]) %}
                                    {% set color = 'success' %}
                                {% else %}
                                    {% set color = 'danger' %}
                                {% endif %}
                            {% endif %}
                            <tr class='{{ color }}'>
                                <td>{{ next_month_day }}</td>
                                <td>{% if barclays['dailyProcessed'][ymd] is defined %}£{{ barclays['dailyProcessed'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                                <td>{% if lloyds['dailyProcessed'][ymd] is defined %}£{{ lloyds['dailyProcessed'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                                <td>{% if barclays['dailyProcessed'][ymd] is defined and lloyds['dailyProcessed'][ymd] is defined %}
                                        {% set diff = barclays['dailyProcessed'][ymd] - lloyds['dailyProcessed'][ymd] %}
                                        {% set cumulative = cumulative + diff %}
                                        £{{ diff|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{% if barclays['dailyProcessed'][ymd] is defined or lloyds['dailyProcessed'][ymd] is defined %}
                                        £{{ cumulative|number_format(2, '.', ',') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-6">
                    <h2>Received Date</h2>
                    <table class="table table-striped">
                        <tr>
                            <th>Day of Month</th>
                            <th>Lloyds</th>
                        </tr>
                        {% for day in 1..days_in_month %}
                            {% if month < 10 and day < 10 %}
                                {% set ymd = year ~ "0" ~ month ~ "0" ~ day %}
                            {% elseif day < 10 %}
                                {% set ymd = year ~ month ~ "0" ~ day %}
                            {% elseif month < 10 %}
                                {% set ymd = year ~ "0" ~ month ~ day %}
                            {% else %}
                                {% set ymd = year ~ month ~ day %}
                            {% endif %}
                            <tr>
                                <td>{{ day }}</td>
                                <td>{% if lloyds['dailyReceived'][ymd] is defined %}£{{ lloyds['dailyReceived'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                            </tr>
                        {% endfor %}
                        {% for next_month_day in 1..5 %}
                            {% if month == 12 %}
                                {% set ymd = (year + 1) ~ "01" ~ "0" ~ next_month_day %}
                            {% elseif month >= 9 %}
                                {% set ymd = year ~ (month + 1) ~ "0" ~ next_month_day %}
                            {% else %}
                                {% set ymd = year ~ "0" ~  (month + 1) ~ "0" ~ next_month_day %}
                            {% endif %}
                            <tr>
                                <td>{{ next_month_day }}</td>
                                <td>{% if lloyds['dailyReceived'][ymd] is defined %}£{{ lloyds['dailyReceived'][ymd]|number_format(2, '.', ',') }}{% else %}-{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="bacs">
            <div class="row">
                <div class="col-md-6">
                    <h2>Bacs Input Files</h2>
                    <table class="table">
                        <tr>
                            <th>Serial Number</th>
                            <th>Amount</th>
                            <th>Processing Date</th>
                            <th>Expected Received Date</th>
                            <th>Lloyds</th>
                        </tr>
                        {% set inputTotal = 0 %}
                        {% for file in bacsInputFiles if file.metadata['serial-number'] is defined and file.metadata['processing-date']  is defined %}
                            {% set received_date = next_business_day_historical(file.metadata['processing-date']) %}
                            {% set amount = null %}
                            {% if file.metadata['debit-accepted-value'] is defined and file.metadata['debit-accepted-value'] > 0 %}
                                {% set amount = file.metadata['debit-accepted-value'] %}
                            {% elseif file.metadata['credit-accepted-value'] is defined and file.metadata['credit-accepted-value'] > 0 %}
                                {% set amount = 0 - file.metadata['credit-accepted-value'] %}
                            {% endif %}
                            {% if file.metadata['debit-rejected-value'] is defined and file.metadata['debit-rejected-value'] > 0 %}
                                {% set amount = amount + file.metadata['debit-rejected-value'] %}
                            {% elseif file.metadata['credit-rejected-value'] is defined and file.metadata['credit-rejected-value'] > 0 %}
                                {% set amount = amount - file.metadata['credit-rejected-value'] %}
                            {% endif %}

                            {% set foundFileInDate = false %}
                            {% for lloydsFile in lloydsFiles %}
                                {% for item in lloydsFile.getBacsTransactionsByType('bacs', received_date) %}
                                    {% if equal_to_two_dp(amount, item) %}
                                        {% set foundFileInDate = true %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {% set skip = false %}
                            {% if amount is null or received_date|date('m') != month %}
                                {% set skip = true %}
                            {% endif %}
                            {% if not skip and foundFileInDate %}
                                {% set inputTotal = inputTotal + amount %}
                            {% endif %}
                            <tr class="{% if skip %}hidden{% elseif foundFileInDate %}bg-success{% else %}bg-danger{% endif %}">
                                <td><span title="{{ file.key }}">{{ file.metadata['serial-number'] }}</span></td>
                                <td>{{ amount|default('-') }}</td>
                                <td>{{ file.metadata['processing-date'] }}</td>
                                <td>{{ received_date|date('Y-m-d') }}</td>
                                <td>
                                    {% if foundFileInDate %}<i class="fa fa-check"></i>{% else %}-{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-6">
                    {% set aruddTotal = 0 %}
                    {% for file in bacsAruddFiles if file.metadata['processing-date'] is defined and file.metadata['amounts'] is defined %}
                        {% set received_date = next_business_day_historical(file.metadata['processing-date']) %}

                        {% for ref,amount in file.metadata['amounts'] %}
                            {% set amount = 0 - amount %}
                            {% for lloydsFile in lloydsFiles %}
                                {% set foundFileInDate = false %}
                                {% for item in lloydsFile.getBacsTransactionsByType('bacs-arudd', received_date) %}
                                    {% if equal_to_two_dp(amount, item) %}
                                        {% set foundFileInDate = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if foundFileInDate %}
                                    {% set aruddTotal = aruddTotal + amount %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}

                    <h3>Overview</h3>
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th>Bacs Reporting</th>
                            <th>Lloyds</th>
                        </tr>
                        <tr>
                            <td>Input</td>
                            <td>{{ inputTotal|number_format(2, '.', ',') }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Arudd</td>
                            <td>{{ aruddTotal|number_format(2, '.', ',') }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>DDIC</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>{{ (inputTotal + aruddTotal)|number_format(2, '.', ',') }}</td>
                            <td>
                                {% if month < 10 %}
                                    {% set ym = year ~ "0" ~ month %}
                                {% else %}
                                    {% set ym = year ~ month %}
                                {% endif %}

                                {% set total = 0 %}
                                {% for file in lloydsFiles %}
                                    {% for date,amount in file.dailyBacs %}
                                        {% if date[:6] == ym %}
                                          {% set total = total + amount %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                {{ total|number_format(2, '.', ',') }}
                            </td>
                        </tr>
                    </table>

                    <h2>Bacs Arudd Files</h2>
                    <table class="table">
                        <tr>
                            <th>Reference</th>
                            <th>Amount</th>
                            <th>Processing Date</th>
                            <th>Expected Return Date</th>
                            <th>Lloyds</th>
                        </tr>
                        {% for file in bacsAruddFiles if file.metadata['processing-date'] is defined and file.metadata['amounts'] is defined %}
                            {% set received_date = next_business_day_historical(file.metadata['processing-date']) %}

                            {% for ref,amount in file.metadata['amounts'] %}
                                {% set amount = 0 - amount %}
                                {% set foundFileInDate = false %}
                                {% for lloydsFile in lloydsFiles %}
                                    {% set foundFileInDate = false %}
                                    {% for item in lloydsFile.getBacsTransactionsByType('bacs-arudd', received_date) %}
                                        {% if equal_to_two_dp(amount, item) %}
                                            {% set foundFileInDate = true %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                <tr class="{% if amount is null or received_date|date('m') != month %}hidden{% elseif foundFileInDate %}bg-success{% else %}bg-danger{% endif %}">
                                    <td><span title="{{ file.key }}">{{ ref }}</span></td>
                                    <td>{{ amount|default('-') }}</td>
                                    <td>{{ file.metadata['processing-date'] }}</td>
                                    <td>{{ received_date|date('Y-m-d') }}</td>
                                    <td>
                                        {% if foundFileInDate %}<i class="fa fa-check"></i>{% else %}-{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>

                    <h2>Bacs DDIC Files</h2>
                    <table class="table">
                        <tr>
                            <th>Reference</th>
                            <th>Amount</th>
                            <th>Processing Date</th>
                            <th>Expected Return Date</th>
                            <th>Lloyds</th>
                        </tr>
                        {% for file in bacsDdicFiles if file.metadata['processing-date'] is defined and file.metadata['amounts'] is defined %}
                            {% set received_date = next_business_day_historical(file.metadata['processing-date']) %}

                            {% for ref,amount in file.metadata['amounts'] %}
                                {% set amount = 0 - amount %}
                                {% set foundFileInDate = false %}
                                {% for lloydsFile in lloydsFiles %}
                                    {% for item in lloydsFile.getBacsTransactionsByType('bacs-arudd', received_date) %}
                                        {% if equal_to_two_dp(amount, item) %}
                                            {% set foundFileInDate = true %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                <tr class="{% if amount is null or received_date|date('m') != month %}hidden{% elseif foundFileInDate %}bg-success{% else %}bg-danger{% endif %}">
                                    <td><span title="{{ file.key }}">{{ ref }}</span></td>
                                    <td>{{ amount|default('-') }}</td>
                                    <td>{{ file.metadata['processing-date'] }}</td>
                                    <td>{{ received_date|date('Y-m-d') }}</td>
                                    <td>
                                        {% if foundFileInDate %}<i class="fa fa-check"></i>{% else %}-{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-middle modal-phone fade" id="judoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Judo Upload</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(judoForm) }}
                    <div class="form-group">
                        {{ form_label(judoForm.file, 'File') }}
                        {{ form_errors(judoForm.file) }}
                        {{ form_widget(judoForm.file) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(judoForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-success'}}) }}
                    </div>
                    {{ form_end(judoForm) }}
                    <hr>
                    <h2>Files</h2>
                    <table width="100%" class="table table-striped">
                        {% for judoFile in judoFiles %}
                            <tr>
                                <td><a href="{{ s3DownloadLink(judoFile.bucket, judoFile.key) }}">{{ judoFile.fileName }}</a></td>
                                <td style="word-break:break-all;">{{ judoFile.metadata|json_encode }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-middle modal-phone fade" id="barclaysModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Barclays Transaction Upload</h4>
          </div>
          <div class="modal-body">
            {{ form_start(barclaysForm) }}
                <div class="form-group">
                    {{ form_label(barclaysForm.file, 'File') }}
                    {{ form_errors(barclaysForm.file) }}
                    {{ form_widget(barclaysForm.file) }}
                </div>
                <div class="form-group">
                    {{ form_widget(barclaysForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-success'}}) }}
                </div>
            {{ form_end(barclaysForm) }}
              <hr>
              <h2>Files</h2>
              <table width="100%" class="table table-striped">
                  {% for barclaysFile in barclaysFiles %}
                      <tr>
                          <td><a href="{{ s3DownloadLink(barclaysFile.bucket, barclaysFile.key) }}">{{ barclaysFile.fileName }}</a></td>
                          <td style="word-break:break-all;">{{ barclaysFile.metadata|json_encode }}</td>
                      </tr>
                  {% endfor %}
              </table>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-middle modal-phone fade" id="barclaysStatementModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Barclays Statement Upload</h4>
          </div>
          <div class="modal-body">
            {{ form_start(barclaysStatementForm) }}
                <div class="form-group">
                    {{ form_label(barclaysStatementForm.file, 'File') }}
                    {{ form_errors(barclaysStatementForm.file) }}
                    {{ form_widget(barclaysStatementForm.file) }}
                </div>
                <div class="form-group">
                    {{ form_widget(barclaysStatementForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-success'}}) }}
                </div>
            {{ form_end(barclaysStatementForm) }}
              <hr>
              <h2>Files</h2>
              <table width="100%" class="table table-striped">
                  {% for barclaysStatementFile in barclaysStatementFiles %}
                      <tr>
                          <td><a href="{{ s3DownloadLink(barclaysStatementFile.bucket, barclaysStatementFile.key) }}">{{ barclaysStatementFile.fileName }}</a></td>
                          <td style="word-break:break-all;">{{ barclaysStatementFile.metadata|json_encode }}</td>
                      </tr>
                  {% endfor %}
              </table>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-middle modal-phone fade" id="lloydsModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Lloyds Upload</h4>
          </div>
          <div class="modal-body">
            {{ form_start(lloydsForm) }}
                <div class="form-group">
                    {{ form_label(lloydsForm.file, 'File') }}
                    {{ form_errors(lloydsForm.file) }}
                    {{ form_widget(lloydsForm.file) }}
                </div>
                <div class="form-group">
                    {{ form_widget(lloydsForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-success'}}) }}
                </div>
            {{ form_end(lloydsForm) }}
              <hr>
              <h2>Files</h2>
              <table width="100%" class="table table-striped">
                  {% for lloydsFile in lloydsFiles %}
                  <tr>
                      <td><a href="{{ s3DownloadLink(lloydsFile.bucket, lloydsFile.key) }}">{{ lloydsFile.fileName }}</a></td>
                      <td style="word-break:break-all;">{{ lloydsFile.metadata|json_encode }}</td>
                  </tr>
                  {% endfor %}
              </table>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-middle modal-phone fade" id="reconciliationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Reconciliation</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(reconciliationForm) }}
                    <div class="form-group">
                        {{ form_label(reconciliationForm.file, 'File') }}
                        {{ form_errors(reconciliationForm.file) }}
                        {{ form_widget(reconciliationForm.file) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(reconciliationForm.monthlyTotal, 'Monthly Total') }}
                        {{ form_errors(reconciliationForm.monthlyTotal) }}
                        {{ form_widget(reconciliationForm.monthlyTotal) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(reconciliationForm.notes, 'Notes') }}
                        {{ form_errors(reconciliationForm.notes) }}
                        {{ form_widget(reconciliationForm.notes, { 'attr': {'class': 'form-control', 'rows': '5', 'placeholder': 'Any details regarding the reconcilation'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(reconciliationForm.upload, {'label': 'Reconcile', 'attr': {'class': 'btn btn-success'}}) }}
                    </div>
                    {{ form_end(reconciliationForm) }}
                    <hr>
                    <h2>Files</h2>
                    <table width="100%" class="table table-striped">
                        {% for reconcilationFile in reconcilationFiles %}
                            <tr>
                                <td><a href="{{ s3DownloadLink(reconcilationFile.bucket, reconcilationFile.key) }}">{{ reconcilationFile.fileName }}</a></td>
                                <td style="word-break:break-all;">
                                    <p>£{{ reconcilationFile.monthlyTotal|number_format(2, '.', ',') }}</p>
                                    <p>{{ reconcilationFile.notes }}</p>
                                    {{ reconcilationFile.metadata|json_encode }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-middle modal-phone fade" id="paymentsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Payments</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-group" id="payments-accordion" role="tablist" aria-multiselectable="true">
                        {% set day = 0 %}
                        {% set firstDay = true %}
                        {% for payment in payments %}
                            {% set newDay = false  %}
                            {% if payment.date|date('d', 'Europe/London') != day %}
                                {% set newDay = true  %}
                            {% endif %}
                            {% set day = payment.date|date('d', 'Europe/London') %}
                            {% if newDay %}
                                {% if not firstDay %}
                                        </table>
                                    </div>
                                </div>
                                {% endif %}
                                {% set firstDay = false %}
                                <div class="panel panel-default">
                                    <div class="panel-heading"
                                         id="payment{{ day }}"
                                         role="button"
                                         data-toggle="collapse"
                                         data-parent="#faq-accordion"
                                         href="#collapse{{ day }}"
                                         aria-expanded="true"
                                         aria-controls="collapse{{ day }}">
                                        <h4 class="panel-title">
                                            {{ day }}
                                        </h4>
                                    </div>
                                    <div id="collapse{{ day }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="payment{{ day }}">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Date</th>
                                            <th>Amount</th>
                                        </tr>
                            {% endif %}
                                <tr>
                                    <td>{{ payment.date|date('d M Y H:i', 'Europe/London') }}</td>
                                    <td>{{ payment.amount|number_format(2, '.', ',') }}</td>
                                </tr>
                        {% endfor %}
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
