{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>User - {{ user.name }}</h2>
        </div>
        <div class="col-sm-4" style="margin-top: 20px">
            <i class="fa fa-warning" title="TODO: Edit name/mobile/email (only if policy not purchase!!)"></i>
        </div>
    </div>
            <table class="table table-striped">
                <tr>
                    <td>Id</td>
                    <td>{{ user.id }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ user.name }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ user.email }} </td>
                    <td>
                        {{ form_start(reset_form) }}
                        {{ form_widget(reset_form.reset, {'label': 'Sent reset email', 'attr': {'class': 'btn btn-danger'}}) }}
                    </td>
                </tr>
                <tr>
                    <td>Mobile</td>
                    <td>{{ user.mobileNumber }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Billing Address</td>
                    <td>{{ user.billingAddress }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>User Status</td>
                    <td>
                        {% if user.locked %}locked{% elseif user.enabled %}enabled{% else %}disabled{%endif %}
                    </td>
                    <td>
                        <i class="fa fa-warning" title="TODO: Enable/Disable/Lock"></i>                        
                    </td>
                </tr>
                <tr>
                    <td>Policies</td>
                    <td>
                        {% for policy in user.allPolicies %}
                            {% if policy.policyNumber|length > 0 %}
                                <a href="{{ path('admin_policy', {'id': policy.id }) }}">
                                    {{ policy.policyNumber }}
                                </a> ({{ policy.status }})
                            {% else %}
                                {{ policy.id }} (In progress)
                            {% endif %}
                        {% endfor %}
                        {% if user.policies|length == 0 %}
                            No policies
                        {% endif %}
                    </td>
                    <td>
                        {% if user.policies|length == 0 %}
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newPolicyModal"
                                ><i class="fa fa-plus"></i> Add partial policy</button>
                        {% endif %}
                    </td>
                </tr>
            </table>
</div>

    <div class="modal fade" id="newPolicyModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ form_start(policy_form) }}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Add Partial Policy</h4>
            <p>For cases where IMEI detection is failing</p>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="form-group col-sm-4">
                    {{ form_label(policy_form.phone, 'Phone') }}
                </div>
                <div class="form-group col-sm-4">
                    {{ form_errors(policy_form.phone) }}
                    {{ form_widget(policy_form.phone) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    {{ form_label(policy_form.imei, 'IMEI') }}
                </div>
                <div class="form-group col-sm-4">
                    {{ form_errors(policy_form.imei) }}
                    {{ form_widget(policy_form.imei) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    {{ form_label(policy_form.serialNumber, 'Serial Number') }}
                </div>
                <div class="form-group col-sm-4">
                    {{ form_errors(policy_form.serialNumber) }}
                    {{ form_widget(policy_form.serialNumber) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group text-center col-sm-12" style="padding-top: 10px;">
                    {{ form_widget(policy_form.add, {'label': 'Create Partial Policy', 'attr': {'class': 'btn btn-warning'}}) }}
                </div>
            </div>
          </div>
            {{ form_end(policy_form) }}
        </div>
      </div>
    </div>

{% endblock %}
