{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/moment/moment.min.js'
        'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js'
        '@AppBundle/Resources/public/js/Admin/report.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

    {% block body %}
    <div class="container">
        <h2>so-sure Reports</h2>
        <p>Excludes Policies: 
            {% for excluded_policy in excluded_policies %}
            <a href="{{ path('admin_policy', {'id': excluded_policy.id }) }}">{{ excluded_policy.policyNumber }}</a>
            {% endfor %}
            {% if excluded_policies|length == 0 %}n/a{% endif %}
        </p>
<div class="container">
    <form method="GET">
    <div class='col-md-4'>
        <div class="form-group">
            <div class='input-group date' id='report-start'>
                <input name="start" type='text' class="form-control" value="{{ start |date('d-m-Y H:i', 'Europe/London')}}" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-4'>
        <div class="form-group">
            <div class='input-group date' id='report-end'>
                <input name="end" type='text' class="form-control" value="{{ end |date('d-m-Y H:i', 'Europe/London')}}" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-4'>
        <button class="btn btn-primary">Run Report</button>
    </div>
    </form>
</div>


    <div class="row-fluid">
        <div class="col-md-11">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>New (in period)</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Policies</td>
                            <td>{{ data.newPolicies }}</td>
                            <td>{{ data.totalPolicies }}</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 30px">Policies (Direct)
        <i style="cursor: pointer" class="fa fa-warning" data-toggle="popover" data-placement="bottom" data-html="true"
           title="Data Validity" data-content="Data only populated after 22/9/16"></i>                                                        
                            </td>
                            <td>{{ data.newDirectPolicies }}</td>
                            <td>{{ data.totalDirectPolicies }}</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 30px">Policies (Invitation)
        <i style="cursor: pointer" class="fa fa-warning" data-toggle="popover" data-placement="bottom" data-html="true"
           title="Data Validity" data-content="Data only populated after 22/9/16"></i>                                                        
                            </td>
                            <td>{{ data.newInvitationPolicies }}</td>
                            <td>{{ data.totalInvitationPolicies }}</td>
                        </tr>
                            <td style="padding-left: 30px">Policies (SCode)
        <i style="cursor: pointer" class="fa fa-warning" data-toggle="popover" data-placement="bottom" data-html="true"
           title="Data Validity" data-content="Data only populated after 22/9/16"></i>                                                        
                            </td>
                            <td>{{ data.newSCodePolicies }}</td>
                            <td>{{ data.totalSCodePolicies }}</td>
                        </tr>
                        <tr>
                            <td>Connections</td>
                            <td>{{ new_connections }}
        <i style="cursor: pointer" class="fa fa-question-circle" data-toggle="popover" data-placement="bottom" data-html="true"
           title="Details" data-content="New connections made across all policies during period"></i>                            
                            </td>
                            <td>{{ total_connections }}</td>
                        </tr>
                        <tr>
                            <td>Invitations</td>
                            <td>{{ data.newInvitations }}
        <i style="cursor: pointer" class="fa fa-question-circle" data-toggle="popover" data-placement="bottom" data-html="true"
           title="Details" data-content="New invitation across all policies during period"></i>
                            </td>
                            <td>{{ data.totalInvitations }}</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 30px">Invitations (Direct)
        <i style="cursor: pointer" class="fa fa-warning" data-toggle="popover" data-placement="bottom" data-html="true"
           title="Data Validity" data-content="Data only populated after 22/9/16"></i>                                                        
                            </td>
                            <td>{{ data.newDirectInvitations }}</td>
                            <td>{{ data.totalDirectInvitations }}</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 30px">Invitations (Invitation)
        <i style="cursor: pointer" class="fa fa-warning" data-toggle="popover" data-placement="bottom" data-html="true"
           title="Data Validity" data-content="Data only populated after 22/9/16"></i>                                                        
                            </td>
                            <td>{{ data.newInvitationInvitations }}</td>
                            <td>{{ data.totalInvitationInvitations }}</td>
                        </tr>
                            <td style="padding-left: 30px">Invitations (SCode)
        <i style="cursor: pointer" class="fa fa-warning" data-toggle="popover" data-placement="bottom" data-html="true"
           title="Data Validity" data-content="Data only populated after 22/9/16"></i>                                                        
                            </td>
                            <td>{{ data.newSCodeInvitations }}</td>
                            <td>{{ data.totalSCodeInvitations }}</td>
                        </tr>
                        <tr>
                            <td>Avg # of Invitations per policy</td>
                            <td>{{ data.newAvgInvitations }}</td>
                            <td>{{ data.totalAvgInvitations }}</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 30px">Avg # of Invitations per policy (Direct)
        <i style="cursor: pointer" class="fa fa-warning" data-toggle="popover" data-placement="bottom" data-html="true"
           title="Data Validity" data-content="Data only populated after 22/9/16"></i>                                                        
                            </td>
                            <td>{{ data.newAvgDirectInvitations }}</td>
                            <td>{{ data.totalAvgDirectInvitations }}</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 30px">Avg # of Invitations per policy (Invitation)
        <i style="cursor: pointer" class="fa fa-warning" data-toggle="popover" data-placement="bottom" data-html="true"
           title="Data Validity" data-content="Data only populated after 22/9/16"></i>                                                        
                            </td>
                            <td>{{ data.newAvgInvitationInvitations }}</td>
                            <td>{{ data.totalAvgInvitationInvitations }}</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 30px">Avg # of Invitations per policy (SCode)
        <i style="cursor: pointer" class="fa fa-warning" data-toggle="popover" data-placement="bottom" data-html="true"
           title="Data Validity" data-content="Data only populated after 22/9/16"></i>                                                        
                            </td>
                            <td>{{ data.newAvgSCodeInvitations }}</td>
                            <td>{{ data.totalAvgSCodeInvitations }}</td>
                        </tr>
                        <tr>
                            <td><del>Avg hours to connect</del>
        <i style="cursor: pointer" class="fa fa-warning" data-toggle="popover" data-placement="bottom" data-html="true"
           title="Data Validity" data-content="Data only populated after 22/9/16"></i>                                                        
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>        
        </div>
    </div>
</div>
{% endblock %}
