{% extends 'admin_claims_base_rebrand.html.twig' %}
{% form_theme uploadCreditForm with ['AppBundle:Form:fields.html.twig'] %}
{% form_theme uploadDebitForm with ['AppBundle:Form:fields.html.twig'] %}
{% form_theme approvePaymentsForm with ['AppBundle:Form:fields.html.twig'] %}
{% form_theme uploadForm with ['AppBundle:Form:fields.html.twig'] %}

{# Set vars #}
{% set body_class = 'admin-bacs' %}

{% block title %}so-sure - Bacs{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
   {#  <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}"> #}
{% endblock %}

{% block body %}

    <section class="py-4 px-md-4">
        <div class="container-fluid">
            {# TODO: Heading area #}
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">Bacs {{ month }} / {{ year }}</h1>
            </div>
            {# TODO: Controls area #}
            <div class="card card-page-filter  mb-5">
                <div class="card-body">
                    <form id="month_form"
                          class="form-inline"
                          method="POST"
                          autocomplete="off">
                        <div class="form-group">
                            <label class="mr-2">Choose date:</label>
                            <div class="input-group date mr-2"
                                 id="date_time_picker"
                                 data-target-input="nearest"
                                 data-url="{{ path('admin_bacs') }}">
                                <input type="text"
                                       class="form-control datetimepicker-input"
                                       data-target="#date_time_picker"
                                       value="{{month}}-{{year}}" />
                                <div class="input-group-append"
                                     data-target="#date_time_picker"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fal fa-calendar fa-fw"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-square mr-2">
                                <i class="fa fa-arrow-right fa-fw"></i>
                            </button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning btn-square bacs-serial-edit mr-2"
                                    type="button"
                                    title="Current Sequence File"
                                    data-toggle="modal"
                                    data-target="#edit_sequence_serial_number_modal">
                                    Sequence ({{ currentSequence.seq }})</button>
                        </div>
                        <div class="form-group">
                            <button type="button"
                                    class="btn btn-primary btn-square mr-2"
                                    title="Actionable Mandates"
                                    data-toggle="modal"
                                    data-target="#mandates_modal">
                                    Mandates ({{ outstandingMandates }})</button>
                        </div>
                        <div class="form-group">
                            <button type="button"
                                    class="btn btn-primary btn-square mr-2"
                                    title="Bacs Credit"
                                    data-toggle="modal"
                                    data-target="#upload_credit_modal">
                                    Bacs Credit</button>
                        </div>
                        <div class="form-group">
                            <button type="button"
                                    class="btn btn-primary btn-square mr-2"
                                    title="Bacs Debit"
                                    data-toggle="modal"
                                    data-target="#upload_debit_modal">
                                    Bacs Debit</button>
                        </div>
                        <div class="form-group">
                            <button type="button"
                                    class="btn btn-primary btn-square mr-2"
                                    title="Bacs Debit"
                                    data-toggle="modal"
                                    data-target="#approve_payments_modal">
                                    Approve Payments</button>
                        </div>
                        <div class="form-group">
                            <button type="button"
                                    class="btn btn-primary btn-square mr-2"
                                    title="Upload Report"
                                    data-toggle="modal"
                                    data-target="#upload_modal">
                                    <i class="fas fa-file-upload fa-fw"></i> Upload Report</button>
                        </div>
                    </form>
                </div>
            </div>

            {% set dailyCount = 0 %}
            {% for file in files %}
                {% if not file.isActioned %}
                    {% set dailyCount = dailyCount + 1 %}
                {% endif %}
            {% endfor %}
            {% if payments is defined %}
                {% set paymentsCount = 0 %}
                {% for payment in payments if payment.serialNumber and payment.submittedDate %}
                    {% if payment.canAction('accept') %}
                        {% set paymentsCount = paymentsCount + 1 %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% set paymentsCount = '?' %}
            {% endif %}

            <ul class="nav nav-tabs mb-5"
                id="bacs_tabs"
                role="tablist">
                <li class="nav-item">
                    <a class="nav-link {% if not payments is defined and not input is defined %}active{% endif %}"
                       id="direct_debits_credits_tab"
                       {# data-toggle="tab" #}
                       {# href="#direct_debits_credits_content" #}
                       href="{{ path('admin_bacs_date', {'year': year, 'month': month}) }}"
                       role="tab"
                       aria-controls="direct_debits_credits_content"
                       aria-selected="{% if not payments is defined and not input is defined %}true{% else %}false{% endif %}">
                        Debits/Credits ({{ dailyCount }})
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if payments is defined %}active{% endif %}"
                       id="payments_tab"
                       {# data-toggle="tab" #}
                       {# href="#payments_content" #}
                       href="{{ path('admin_bacs_payments', {'year': year, 'month': month}) }}"
                       role="tab"
                       aria-controls="payments_content"
                       aria-selected="{% if payments is defined %}true{% else %}false{% endif %}">
                        Payments ({{ paymentsCount }})
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if input is defined %}active{% endif %}"
                       id="bacs_report_tab"
                       {# data-toggle="tab" #}
                       {# href="#bacs_report_content" #}
                       href="{{ path('admin_bacs_reports', {'year': year, 'month': month}) }}"
                       role="tab"
                       aria-controls="bacs_report_content"
                       aria-selected="{% if input is defined %}false{% else %}true{% endif %}">
                        Bacs Reports
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       id="reconciliation_debit_tab"
                       data-toggle="tab"
                       href="#reconciliation_debit_content"
                       data-url="{{ path('admin_bacs_date', {'year': year, 'month': month}) }}"
                       role="tab"
                       aria-controls="reconciliation_debit_content"
                       aria-selected="false">
                        Reconciliation Debit
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       id="reconciliation_credit_tab"
                       data-toggle="tab"
                       href="#reconciliation_credit_content"
                       data-url="{{ path('admin_bacs_date', {'year': year, 'month': month}) }}"
                       role="tab"
                       aria-controls="reconciliation_credit_content"
                       aria-selected="false">
                        Reconciliation Credit
                    </a>
                </li>
            </ul>

            <div class="tab-content" id="bacs_tabs_content">
                <div class="tab-pane fade {% if not payments is defined and not input is defined %}show active{% endif %}"
                     id="checkout_content"
                     role="tabpanel"
                     aria-labelledby="checkout_tab">
                    {% include 'AppBundle::Admin/bacs/dddc.html.twig' %}
                </div>
                <div class="tab-pane fade {% if payments is defined %}show active{% endif %}"
                     id="payments_content"
                     role="tabpanel"
                     aria-labelledby="payments_tab">
                    {% include 'AppBundle::Admin/bacs/payments.html.twig' %}
                    {% include 'AppBundle::Admin/bacs/indemnity.html.twig' %}
                </div>
                <div class="tab-pane fade {% if input is defined %}show active{% endif %}"
                     id="bacs_report_content"
                     role="tabpanel"
                     aria-labelledby="bacs_report_tab">
                    {% include 'AppBundle::Admin/bacs/reports.html.twig' %}
                </div>
                <div class="tab-pane fade"
                     id="reconciliation_debit_content"
                     role="tabpanel"
                     aria-labelledby="reconciliation_debit_tab">
                    {% include 'AppBundle::Admin/bacs/reconciliation_debit.html.twig' %}
                </div>
                <div class="tab-pane fade"
                     id="reconciliation_credit_content"
                     role="tabpanel"
                     aria-labelledby="reconciliation_credit_tab">
                    {% include 'AppBundle::Admin/bacs/reconciliation_credit.html.twig' %}
                </div>
            </div>

            {# TODO: Content area #}

        </div>
    </section>

    {# Page Modals #}
    <div class="modal fade"
         id="mandates_modal"
         tabindex="-1" role="dialog"
         aria-labelledby="mandates_modal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Approve Mandates</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(mandatesForm) }}
                        <div class="form-group">
                            {{ form_label(mandatesForm.serialNumber, 'Serial number') }}
                            {{ form_widget(mandatesForm.serialNumber, {'attr':{'class':'form-control'}}) }}
                            <div class="with-errors">{{ form_errors(mandatesForm.serialNumber) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_widget(mandatesForm.approve, {'label': 'Approve', 'attr': {'class': 'btn btn-success btn-square'}}) }}
                        </div>
                    {{ form_end(mandatesForm) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="edit_sequence_serial_number_modal"
         tabindex="-1" role="dialog"
         aria-labelledby="edit_sequence_serial_number_modal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Sequence Serial Number</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(sequenceForm) }}
                        <div class="form-group">
                            {{ form_widget(sequenceForm.seq, {'attr':{'class':'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(sequenceForm.update, {'attr': {'class': 'btn btn-success btn-square'}}) }}
                        </div>
                    {{ form_end(sequenceForm) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="upload_credit_modal"
         tabindex="-1" role="dialog"
         aria-labelledby="upload_credit_modal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Bacs Credit File Upload <small>(Refunds to Customers)</small></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(uploadCreditForm) }}
                        <div class="form-group">
                            {{ form_label(uploadCreditForm.file, 'File') }}
                            {{ form_widget(uploadCreditForm.file) }}
                            <div class="with-errors">{{ form_errors(uploadCreditForm.file) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_widget(uploadCreditForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-danger btn-square'}}) }}
                        </div>
                    {{ form_end(uploadCreditForm) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="upload_debit_modal"
         tabindex="-1" role="dialog"
         aria-labelledby="upload_debit_modal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Bacs Debit File Upload <small>(Payments from Customers) </small></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(uploadDebitForm) }}
                        <div class="form-group">
                            {{ form_label(uploadDebitForm.file, 'File') }}
                            {{ form_widget(uploadDebitForm.file) }}
                            <div class="with-errors">{{ form_errors(uploadCreditForm.file) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_widget(uploadDebitForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-danger btn-square'}}) }}
                        </div>
                    {{ form_end(uploadDebitForm) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="approve_payments_modal"
         tabindex="-1" role="dialog"
         aria-labelledby="approve_payments_modal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Approve all payments <small>(Reversed date <= today) </small></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(approvePaymentsForm) }}
                        <div class="form-group">
                            {{ form_widget(approvePaymentsForm.confirm, {
                                'label': 'ARUDD File(s) for today have been upload (or are not present)',
                                'attr': {'class':'custom-control-input'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(approvePaymentsForm.approve, {'label': 'Approve All Payments', 'attr': {'class': 'btn btn-success btn-square'}}) }}
                        </div>
                    {{ form_end(approvePaymentsForm) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="upload_modal"
         tabindex="-1" role="dialog"
         aria-labelledby="upload_modal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Bacs Report Upload</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(uploadForm) }}
                        <div class="form-group">
                            {{ form_label(uploadForm.file, 'File') }}
                            {{ form_widget(uploadForm.file) }}
                            <div class="with-errors">{{ form_errors(uploadForm.file) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_widget(uploadForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-success btn-square'}}) }}
                        </div>
                    {{ form_end(uploadForm) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/datepicker-month.js') }}"></script>
{% endblock %}
