{% extends 'admin_claims_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        'components/datatables.net-bs/dataTables.bootstrap.min.css'
        '@AppBundle/Resources/public/sass/page/admin.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/datatables.net/jquery.dataTables.min.js'
        'components/datatables.net-bs/dataTables.bootstrap.min.js'
        '@AppBundle/Resources/public/js/Admin/month.js'
        '@AppBundle/Resources/public/js/Admin/bacs.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container" style="margin-bottom: 50px">

    <div class="row">
        <div class="col-md-4">
            <h1>so-sure Bacs <br> {{ month }} / {{ year }}</h1>
        </div>
        <form class="month-form form-inline" method="POST" autocomplete="off">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group date month" data-url="{{ path('admin_bacs') }}">
                        <input name="bacs" type='text' class="form-control" value="{{month}}-{{year}}" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-success"><i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <div class="btn-group">
                        <button type="button"
                                class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            Page actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#uploadModal">Upload Report</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#approvePaymentsModal">Approve Payments</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#uploadDebitModal">Bacs Debit</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#uploadCreditModal">Bacs Credit</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('admin_bacs_payments', {'year': year, 'month': month}) }}#payments">Payments</a></li>
                            <li><a href="{{ path('admin_bacs_reports', {'year': year, 'month': month}) }}#reports">Bacs Report</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-warning bacs-serial-edit" type="button"
                            data-toggle="modal" data-target="#editSequenceSerialNumberModal">
                        <span title="Current Sequence File">{{ currentSequence.seq }}</span> <i class="fa fa-edit"></i>
                    </button>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#mandatesModal"
                        > Mandates <span class="badge" title="Actionable Mandates">{{ outstandingMandates }}</span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="claimPolicyItem" style="margin-top: 20px">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            {% set dailyCount = 0 %}
            {% for file in files %}
                {% if not file.isActioned %}
                    {% set dailyCount = dailyCount + 1 %}
                {% endif %}
            {% endfor %}
            {% if payments is defined %}
                {% set paymentsCount = 0 %}
                {% for payment in payments if payment.serialNumber and payment.submittedDate %}
                    {% if payment.canAction('accept') %}
                        {% set paymentsCount = paymentsCount + 1 %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% set paymentsCount = '?' %}
            {% endif %}

            <li role="presentation"
                class="{% if not payments is defined and not input is defined %}active{% endif %}">
                <a href="{{ path('admin_bacs_date', {'year': year, 'month': month}) }}#dddc"
                   role="tab"
                   data-toggle="tab"
                   aria-controls="dddc">
                    Debits/Credits
                    <span class="badge" title="Actionable Files">{{ dailyCount }}</span>
                </a>
            </li>
            <li role="presentation"
                class="{% if payments is defined %}active{% endif %}">
                <a href="{{ path('admin_bacs_payments', {'year': year, 'month': month}) }}#payments"
                   role="tab"
                   data-toggle="tab"
                   aria-controls="payments">
                    Payments
                    <span class="badge" title="Actionable Payments">{{ paymentsCount }}</span>
                </a>
            </li>
            <li role="presentation"
                class="{% if input is defined %}active{% endif %}">
                <a href="{{ path('admin_bacs_reports', {'year': year, 'month': month}) }}#reports"
                   role="tab"
                   data-toggle="tab"
                   aria-controls="reports">
                    Bacs Reports
                </a>
            </li>
            <li role="presentation">
                <a href="{{ path('admin_bacs_date', {'year': year, 'month': month}) }}#reconciliation-debit"
                   role="tab"
                   data-toggle="tab"
                   aria-controls="reconciliation-debit">
                    Reconciliation Debit
                </a>
            </li>
            <li role="presentation">
                <a href="{{ path('admin_bacs_date', {'year': year, 'month': month}) }}#reconciliation-credit"
                   role="tab"
                   data-toggle="tab"
                   aria-controls="reconciliation-credit">
                    Reconciliation Credit
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel"
                 class="tab-pane {% if not payments is defined and not input is defined %}active{% endif %}"
                 id="dddc">
                {% if files is defined %}
                    {% include 'AppBundle::Admin/bacs/dddc.html.twig' %}
                {% endif %}
            </div>
            <div role="tabpanel"
                 class="tab-pane {% if payments is defined %}active{% endif %}"
                 id="payments">
                {% if payments is defined %}
                    {% include 'AppBundle::Admin/bacs/indemnity.html.twig' %}
                    {% include 'AppBundle::Admin/bacs/payments.html.twig' %}
                {% else %}
                    <h4>Use temp link in page actions 👆</h4>
                {% endif %}
            </div>
            <div role="tabpanel"
                 class="tab-pane {% if input is defined %}active{% endif %}"
                 id="reports">
                {% if input is defined %}
                    {% include 'AppBundle::Admin/bacs/reports.html.twig' %}
                {% else %}
                    <h4>Use temp link in page actions 👆</h4>
                {% endif %}
            </div>
            <div role="tabpanel"
                 class="tab-pane"
                 id="reconciliation-debit">
                {% if files is defined %}
                    {% include 'AppBundle::Admin/bacs/reconciliation_debit.html.twig' %}
                {% endif %}
            </div>
            <div role="tabpanel"
                 class="tab-pane"
                 id="reconciliation-credit">
                {% if files is defined %}
                    {% include 'AppBundle::Admin/bacs/reconciliation_credit.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>


    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Bacs Report Upload</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(uploadForm) }}
                    <div class="form-group">
                        {{ form_label(uploadForm.file, 'File') }}
                        {{ form_errors(uploadForm.file) }}
                        {{ form_widget(uploadForm.file) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(uploadForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-success'}}) }}
                    </div>
                    {{ form_end(uploadForm) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="uploadDebitModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Bacs Debit (Payments from Customers) File Upload</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(uploadDebitForm) }}
                    <div class="form-group">
                        {{ form_label(uploadDebitForm.file, 'File') }}
                        {{ form_errors(uploadDebitForm.file) }}
                        {{ form_widget(uploadDebitForm.file) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(uploadDebitForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-danger'}}) }}
                    </div>
                    {{ form_end(uploadDebitForm) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="uploadCreditModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Bacs Credit (Refunds to Customers) File Upload</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(uploadCreditForm) }}
                    <div class="form-group">
                        {{ form_label(uploadCreditForm.file, 'File') }}
                        {{ form_errors(uploadCreditForm.file) }}
                        {{ form_widget(uploadCreditForm.file) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(uploadCreditForm.upload, {'label': 'Upload', 'attr': {'class': 'btn btn-danger'}}) }}
                    </div>
                    {{ form_end(uploadCreditForm) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mandatesModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Approve Mandates</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(mandatesForm) }}
                    <div class="form-group">
                        {{ form_label(mandatesForm.serialNumber, 'Serial number') }}
                        {{ form_errors(mandatesForm.serialNumber) }}
                        {{ form_widget(mandatesForm.serialNumber) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(mandatesForm.approve, {'label': 'Approve', 'attr': {'class': 'btn btn-success'}}) }}
                    </div>
                    {{ form_end(mandatesForm) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editSerialNumberModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit Serial Number</h4>
                </div>
                <div class="modal-body">
                    <form id="editSerialNumberForm" method="post">
                        <input type="text" id="editSerialNumber" name="serialNumber">
                        <input type="hidden" name="token" value="{{ csrf_token('default') }}" />
                        <button type="submit" class="btn btn-success">Update Serial Number</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editSequenceSerialNumberModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit Sequence Serial Number</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(sequenceForm) }}
                    {{ form_widget(sequenceForm.seq) }}
                    {{ form_widget(sequenceForm.update, {'attr': {'class': 'btn btn-success'}}) }}
                    {{ form_end(sequenceForm) }}
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="serialNumberModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 60%;">
            <div class="modal-content">
                <form id="phone-update-form" class="form-horizontal" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Loading</h4>
                    </div>
                    <div class="modal-body">
                        <div id="serial-details-wrapper">
                            {# <table id="serial-details" width="100%" cellspacing="0" class="table-striped"></table> #}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


<div class="modal fade" id="approvePaymentsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Approve all payments ( reversed date <= today ) </h4>
            </div>
            <div class="modal-body">
                {{ form_start(approvePaymentsForm) }}
                <div class="form-group">
                    <p>ARUDD File(s) for today have been upload (or are not present) {{ form_widget(approvePaymentsForm.confirm) }}</p>

                    {{ form_widget(approvePaymentsForm.approve, {'label': 'Approve All Payments', 'attr': {'class': 'btn btn-success'}}) }}
                </div>
                {{ form_end(approvePaymentsForm) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
