{% extends 'admin_claims_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/Admin/formMonth.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container" style="margin-bottom: 50px">

<div class="row">
    <h1 class="col-md-6">so-sure Charges for {{ month }} / {{ year }}</h1>
    <div class="col-md-6" style="padding-top:15px">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-inline col-md-4">
                {{ form_widget(form.type) }}
                {{ form_errors(form.type) }}
            </div>
            <div class="form-inline col-md-4">
                <div class='input-group date month'>
                    {{ form_widget(form.date) }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                {{ form_errors(form.date) }}
            </div>
            <div class="form-inline input-group-btn col-md-4">
                {{ form_row(form.build) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% if charges|length == 0 %}
    <div class="row-fluid">
        <h2>No charges found</h2>
    </div>
    {% else %}
    <h3>Summary</h3>
    <div class="row">
        <div class="col-md-11">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Total (ex VAT)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item, value in summary %}
                        <tr>
                            <td>{{ item }}</td>
                            <td>£{{ value|number_format(2, '.', ',') }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h3>Details</h3>
    <div class="row">
        <div class="col-md-11">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount (ex VAT)</th>
                        <th>Type</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for charge in charges %}
                        <tr>
                            <td>{{ charge.createdDate|date }}</td>
                            <td>£{{ charge.amount|number_format(2, '.', ',') }}</td>
                            <td>{{ charge.type }}</td>
                            <td>
                                {% if charge.user %}
                                    By <a href="{{ path('admin_user', {'id': charge.user.id }) }}">{{ charge.user.name }}</a>
                                {% endif %}
                                {% if charge.policy %}
                                    &nbsp;For <a href="{{ path('admin_policy', {'id': charge.policy.id })}}">{{ charge.policy.policyNumber }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
