{% extends 'admin_claims_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/Admin/month.js'
        '@AppBundle/Resources/public/js/Admin/charge.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container" style="margin-bottom: 50px">

<div class="row">
    <div class="col-md-6">
        <h1>so-sure Charges for {{ month }} / {{ year }}</h1>
    </div>

    <!-- Configuration Form -->
    <form id="reportForm" class="month-form form-inline" method="GET" autocomplete="off" hidden="hidden">
        <div class="col-md-6">
            <div class="form-group" style="padding-top: 15px;">
                <!-- Charge Types -->
                <div class="col-md-12">
                    Charge Type:
                    <select id="typeMenu" name="type" class="form-control">
                        <option name="all">All</option>
                        {% for type, typeName in types %}
                            <option {% if type == selectedType %} selected="selected" {% endif %} value="{{ type }}">
                                {{ typeName }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Affiliate Companies -->
                <div class="col-md-12">
                    Affiliate Company:
                    <select id="affiliateMenu" name="affiliate" class="form-control" {% if selectedType != "affiliate" %}disabled="disabled"{% endif %}>
                        <option name="all">All</option>
                        {% for affiliate in affiliates %}
                            <option {% if affiliate.name == selectedAffiliate %}selected="selected"{% endif %} value="{{ affiliate.name }}">
                                {{ affiliate.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>


                <!-- Report Month -->
                <div class="col-md-12">
                    Report Month:
                    <div class="input-group date month" data-url="{{ path('admin_charge') }}">
                        <input name="charge" type='text' class="form-control" value="{{month}}-{{year}}" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>


                <!-- running button -->
                <div class="col-md-12">
                    <div class="input-group">
                        <button class="btn btn-primary">Build Report</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
    {% if charges|length == 0 %}
    <div class="row-fluid">
        <h2>No charges found</h2>
    </div>
    {% else %}
    <h3>Summary</h3>
    <div class="row">
        <div class="col-md-11">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Total (ex VAT)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item, value in summary %}
                        <tr>
                            <td>{{ item }}</td>
                            <td>£{{ value|number_format(2, '.', ',') }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h3>Details</h3>
    <div class="row">
        <div class="col-md-11">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount (ex VAT)</th>
                        <th>Type</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for charge in charges %}
                        <tr>
                            <td>{{ charge.createdDate|date }}</td>
                            <td>£{{ charge.amount|number_format(2, '.', ',') }}</td>
                            <td>{{ charge.type }}</td>
                            <td>
                                {% if charge.user %}
                                    By <a href="{{ path('admin_user', {'id': charge.user.id }) }}">{{ charge.user.name }}</a>
                                {% endif %}
                                {% if charge.policy %}
                                    &nbsp;For <a href="{{ path('admin_policy', {'id': charge.policy.id })}}">{{ charge.policy.policyNumber }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
