{% extends 'admin_claims_base.html.twig' %}
{% form_theme bacs_form 'AppBundle:Form:fields.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/admin.scss'
    'components/viewerjs/viewer.min.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/clipboard/clipboard.min.js'
        '@AppBundle/Resources/public/js/tabs.js'
        'components/viewerjs/viewer.min.js'
        'components/jquery-viewer/jquery-viewer.min.js'
        '@AppBundle/Resources/public/js/Admin/claimsPolicy.js'
        '@AppBundle/Resources/public/js/Admin/confirmModal.js'
        '@AppBundle/Resources/public/js/Claims/phoneAlternativesModal.js'
        '@AppBundle/Resources/public/js/Claims/claimsModal.js'
        '@AppBundle/Resources/public/js/Claims/tabs.js'
        '@AppBundle/Resources/public/js/Claims/policy.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container"{% if policy.isEnded %}style="border:5px solid #ff6666;"{% endif %}>
    <h2>so-sure Admin - <a href="{{ path('admin_user', {'id': policy.user.id}) }}">{{policy.user.name }}</a> {% if policy.isEnded %} - {{ policy.status|upper }} POLICY{% endif %}</h2>
  {% if not policy.isEnded %}
        <div class="row">
            <div class="col-md-6">
                <div class="bg-warning col-md-12" style="border-radius: 10px; padding: 20px; margin-bottom: 20px;">
                    <h3 class="text-center">SUPPORT</h3>
                    <ul>
                        {% for warning in policy.supportWarnings %}
                            <li style="list-style: none">
                                <i class="fa fa-warning"></i>  {{ warning }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    {% if policy.claimsWarnings|length > 0 %}
            <div class="col-md-6">
                <div class="bg-warning col-md-12" style="border-radius: 10px; padding: 20px; margin-bottom: 20px;">
                    <h3 class="text-center">Claims Warnings</h3>
                    <ul>
                        {% for warning in policy.claimsWarnings %}
                            <li style="list-style: none">
                                <i class="fa fa-warning"></i>  {{ warning }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
{% endif %}
        </div>
    <div class="bg-danger text-center" style="border-radius: 10px; padding: 20px; margin-bottom: 20px;">
        {% if policy.isPolicy() %}
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Policy Cancellation</h3>
                {% if policy.hasSuspectedFraudulentClaim %}
                    <h3>WARNING! Claim was suspected as fradulent. Choose cancellation reason carefully.</h3>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>Scheduled Policy Cancellation</h4>
                <p>For User Requested Cancellation (given after 14 days of policy start date)</p>
                {{ form_start(pending_cancel_form, {'attr': {'class': 'form-inline', 'autocomplete': 'off'}}) }}
                <div class="form-group">
                    {{ form_label(pending_cancel_form.pendingCancellation, 'Policy Termination Date') }}
                    {{ form_errors(pending_cancel_form.pendingCancellation) }}
                    {{ form_widget(pending_cancel_form.pendingCancellation) }}
                </div>
                <div class="form-group">
                30 days from now is <strong>{{ suggested_cancellation_date|date('d M Y') }}</strong>
                or use <a href="https://www.timeanddate.com/date/dateadded.html?ad=30" target="_blank" rel="noopener noreferrer">online calculator</a>.
                </div>
                {{ form_widget(pending_cancel_form.clear, {'label': 'Abort cancellation', 'attr': {'class': 'btn btn-warning' }}) }}
                {{ form_widget(pending_cancel_form.cancel, {'label': 'Schedule cancellation', 'attr': {'class': 'btn btn-danger', 'placeholder': '30 days after notice' }}) }}
                {{ form_end(pending_cancel_form) }}
                <br>
                <b>This schedules the policy cancellation.
                </b>
            </div>
            <div class="col-md-6">
                <h4>Immediate Cancellation</h4>
                <p>Cooloff and others</p>
                {{ form_start(cancel_form, {'attr': {'class': 'form-inline'}}) }}
                <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {{ form_label(cancel_form.cancellationReason, 'Reason') }}
                        {{ form_errors(cancel_form.cancellationReason) }}
                        {{ form_widget(cancel_form.cancellationReason, { 'separator': '---Unlikely Reasons---', 'attr': {'class': 'cancellation-reason'} }) }}
                    </div>
                {% set no_claims_table = "<hr /><b>No Claims Cancellation/Refund Rules</b><br /><table>
                <tr>
                    <th width='15%'>Type</th>
                    <th width='15%'>Cancellation Date (m)</th>
                    <th width='15%'>Refund (m)</th>
                    <th width='15%'>Monthly Billing</th>
                    <th width='15%'>Cancellation Date (y)</th>
                    <th width='15%'>Refund (y)</th>
                </tr>
                <tr>
                    <td>Fraud (actual)</td>
                    <td>immediate</td>
                    <td>no further</td>
                    <td>none</td>
                    <td>immediate</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>Suspected Fraud</td>
                    <td>immediate</td>
                    <td>no further</td>
                    <td>none</td>
                    <td>immediate</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>Cooloff</td>
                    <td>immediate</td>
                    <td>no further</td>
                    <td>full</td>
                    <td>immediate</td>
                    <td>full</td>
                </tr>
                <tr>
                    <td>User Requested</td>
                    <td>30 days</td>
                    <td>1 more bill</td>
                    <td>daily prorated for final month (or bill partial month during 30 days)</td>
                    <td>30 days</td>
                    <td>Refund from the 30 days to end of year (prorated daily basis)</td>
                </tr>
                <tr>
                    <td>Dispossesion</td>
                    <td>immediate</td>
                    <td>no further</td>
                    <td>daily prorated for month</td>
                    <td>immediate</td>
                    <td>Refund from cancellation date to end of year (prorated daily basis)</td>
                </tr>
                <tr>
                    <td>Wreckage</td>
                    <td>immediate</td>
                    <td>no further</td>
                    <td>daily prorated for month</td>
                    <td>immediate</td>
                    <td>Refund from cancellation date to end of year (prorated daily basis)</td>
                </tr>
            </table>
            "%}
                {% set claims_table = "<hr /><b>1+ Claims Cancellation/Refund Rules</b><br /><table>
                <tr>
                    <th width='15%'>Type</th>
                    <th width='15%'>Cancellation Date (m)</th>
                    <th width='15%'>Refund (m)</th>
                    <th width='15%'>Monthly Billing</th>
                    <th width='15%'>Cancellation Date (y)</th>
                    <th width='15%'>Refund (y)</th>
                </tr>
                <tr>
                    <td>Fraud (actual)</td>
                    <td>immediate</td>
                    <td>continue billing (stop 2nd fail in a row)</td>
                    <td>none</td>
                    <td>immediate</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>Suspected Fraud</td>
                    <td>immediate</td>
                    <td>continue billing (stop 2nd fail in a row)</td>
                    <td>none</td>
                    <td>immediate</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>Cooloff</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                </tr>
                <tr>
                    <td>User Requested</td>
                    <td>30 days</td>
                    <td>continue billing (stop 2nd fail in a row)</td>
                    <td>none</td>
                    <td>30 days</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>Dispossesion</td>
                    <td>immediate</td>
                    <td>continue billing (stop 2nd fail in a row)</td>
                    <td>none</td>
                    <td>immediate</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>Wreckage</td>
                    <td>immediate</td>
                    <td>continue billing (stop 2nd fail in a row)</td>
                    <td>none</td>
                    <td>immediate</td>
                    <td>none</td>
                </tr>
            </table>
            "%}
                    <i style="cursor: pointer" class="fa fa-question-circle" data-toggle="popover" data-placement="bottom" data-html="true" title="Cancellation Reasons" data-content="
            <b>Cooloff</b>: only visible if within 14 days and no pending claims<br />
            <b>User Request</b>: any other user requested reason beyond cooloff. Note this immediately cancels the policy - you probably want the scheduled termination to the left!<br />
            <b>Unpaid</b>: only visible if status is unpaid, but should only be cancelled after 30 days<br />
            <b>Fraud (actual)</b>: should only be used in cases where it can be proven.<br />
            <b>Fraud (suspected)</b>: use with caution as likely to cause lawsuits.<br />
            <b>Dispossession</b>: only for cases where a phone has been lost but claim not approved<br />
            <b>Wreckage</b>: only for cases where a phone is damaged beyond use but claim not approved<br />
            {% if policy.hasMonetaryClaimed(true) %}{{ claims_table }}{% else %}{{ no_claims_table }}{% endif %}"></i>
                </div>
                </div>
                {% if cancel_form.force is defined %}
                <div class="row">
                    <div class="col-md-12">
                        {{ form_label(cancel_form.force, 'I wish to OVERRIDE the system (OPEN CLAIM - DO NOT DO NORMALLY)') }}<br>
                        {{ form_widget(cancel_form.force) }}<br>
                        In RARE circumstances, we may need to cancel a policy with a claim. Please check refund rules to ensure the impact of this is understood.
                    </div>
                </div>
                {% endif %}
                {% if cancel_form.fullRefund is defined %}
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title"><span title="Admin only"><i class="fa fa-lock"></i></span> Full Refund</h5>
                                </div>
                                <div class="panel-body">
                                    {{ form_label(cancel_form.fullRefund, 'Provide a full refund to the customer') }}<br>
                                    {{ form_widget(cancel_form.fullRefund) }}<br>
                                    <strong>RARE Circumstances ONLY</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        {{ form_widget(cancel_form.cancel, {'label': 'Cancel policy', 'attr': {'class': 'btn btn-danger confirm-cancel'}}) }}
                        {{ form_end(cancel_form) }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Policy Cancellation</h3>
                <h3>Policy cannot be cancelled (expired/invalid)</h3>
            </div>
        </div>
    {% endif %}
    </div>
  {% endif %}
    {% include 'AppBundle::Claims/claimsPolicyItem.html.twig' %}
</div>
{% endblock %}
