{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/moment/moment.min.js'
        'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js'
        '@AppBundle/Resources/public/js/tabs.js'
        '@AppBundle/Resources/public/js/Admin/claimsPolicy.js'
        '@AppBundle/Resources/public/js/Claims/phoneAlternativesModal.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}            
{% endblock %}

{% block body %}
<div class="container">
    <h2>so-sure Admin - <a href="{{ path('admin_user', {'id': policy.user.id}) }}">{{policy.user.name }}</a></h2>
    <div class="bg-danger text-right" style="border-radius: 10px; padding: 20px; margin-bottom: 20px;">
        <div class="row">
            <div class="col-md-6">
                {{ form_start(pending_cancel_form, {'attr': {'class': 'form-inline'}}) }}
                <div class="form-group">
                    {{ form_label(pending_cancel_form.pendingCancellation, 'Policy Termination Date') }}
                    {{ form_errors(pending_cancel_form.pendingCancellation) }}
                    {{ form_widget(pending_cancel_form.pendingCancellation) }}
                </div>
                {{ form_widget(pending_cancel_form.cancel, {'label': 'Schedule cancellation', 'attr': {'class': 'btn btn-danger confirm-cancel'}}) }}
                {{ form_end(pending_cancel_form) }}
                <br>
                <b>This does not actually cancel the policy, rather just flags the record for claims</b>
            </div>
            <div class="col-md-6">
                {{ form_start(cancel_form, {'attr': {'class': 'form-inline'}}) }}
                <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {{ form_label(cancel_form.cancellationReason, 'Reason') }}
                        {{ form_errors(cancel_form.cancellationReason) }}
                        {{ form_widget(cancel_form.cancellationReason, { 'separator': '---Unlikely Reasons---' }) }}
                    <i style="cursor: pointer" class="fa fa-question-circle" data-toggle="popover" data-placement="bottom" data-html="true" title="Cancellation Reasons" data-content="
            <b>Cooloff</b>: only visible if within 14 days and no pending claims<br />
            <b>User Request</b>: any other user requested reason beyond cooloff<br />
            <b>Unpaid</b>: only visible if status is unpaid, but should only be cancelled after 30 days<br />
            <b>Fraud (actual)</b>: should only be used in cases where it can be proven<br />
            <b>Fraud (suspected)</b>: use with caution as likely to cause lawsuits<br />
            <b>Dispossession</b>: only for cases where a phone has been lost but claim not approved<br />
            <b>Wreckage</b>: only for cases where a phone is damaged beyond use but claim not approved
            "></i>
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {{ form_label(cancel_form.skipNetworkEmail, 'Skip network cancellation email') }}
                        {{ form_errors(cancel_form.skipNetworkEmail) }}
                        {{ form_widget(cancel_form.skipNetworkEmail) }}
                        <i style="cursor: pointer" class="fa fa-warning" data-toggle="popover" data-placement="bottom" data-html="true" title="Cancellation Reasons" data-content="
                        Only do this if manually transferring policy"></i>
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                    {{ form_widget(cancel_form.cancel, {'label': 'Cancel policy', 'attr': {'class': 'btn btn-danger confirm-cancel'}}) }}
                    {{ form_end(cancel_form) }}
                </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                    <i>If cancellation list is empty, then most likely this is an open claim that must be resolved first.</i>                
                </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'AppBundle::Claims/claimsPolicyItem.html.twig' %}
</div>
{% endblock %}
