{% extends 'admin_claims_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/Admin/feature.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>so-sure Feature Flags</h2>
        </div>
    </div>

    {% if features|length == 0 %}
    <div class="row-fluid">
        <h2>No features are present in the db</h2>
    </div>
    {% else %}
    <div class="row-fluid">
        <div class="col-md-11">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Enabled</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for feature in features %}
                        <tr>
                            <td>{{ feature.name }}</td>
                            <td>{{ descriptions[feature.name] }}</td>
                            <td>
                                {% if feature.enabled %}
                                Enabled
                                <button title="Deactive Feature" type="button" class="btn btn-success feature-active" data-token="{{ csrf_token('default') }}"
                                        data-active="{{ path('admin_feature_flags_active', {'id': feature.id}) }}"><i class="fa fa-power-off"></i></button>
                                {% else %}
                                Disabled
                                <button title="Activate Feature" type="button" class="btn btn-danger feature-active" data-token="{{ csrf_token('default') }}"
                                        data-active="{{ path('admin_feature_flags_active', {'id': feature.id}) }}"><i class="fa fa-power-off"></i></button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
