{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="margin-bottom: 50px"  >
    <div class="row-fluid">
        <ul style="list-style: none">
            <li><h2><a href="{{ path('admin_users') }}">Users</a></h2></li>
            <li><h2><a href="{{ path('admin_phones') }}">Phones</a></h2></li>
            <li><h2><a href="{{ path('admin_claims') }}">Claims</a></h2></li>
            <li><h2><a href="{{ path('admin_accounts') }}">Accounts</a></h2></li>
            <li><h2><a href="{{ path('admin_banking') }}">Banking</a></h2></li>
        </ul>
    </div>
</div>
{% endblock %}
