{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <form>
    <div class="row-fluid">
        <div class="col-md-11">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Devices</th>
                        <th>Memory</th>
                        <th>Policy</th>
                        <th>Loss</th>
                        <th>Yearly Total</th>
                        <th>Max Pot</th>
                        <th>Max Connections</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for phone in phones %}
                        <tr>
                            <td>{{ phone.make }}</td>
                            <td>{{ phone.model }}</td>
                            <td><span title="{{ phone.devices|join(", ") }}">{{ phone.devices|length }}</span></td>
                            <td>{{ phone.memory }}</td>
                            <td>{{ phone.policyPrice }}</td>
                            <td>{{ phone.lossPrice }}</td>
                            <td>{{ phone.yearlyTotalPrice }}</td>
                            <td>{{ phone.maxPot }}</td>
                            <td>{{ phone.maxConnections }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#phoneModal"
                                    data-update="{{ path('admin_phone_edit', {'id': phone.id}) }}" data-phone="{{ phone.asEditArray()|json_encode }}">Edit</button>
                                <button type="button" class="btn btn-danger phone-delete" data-token="{{ token }}"
                                        data-delete="{{ path('admin_phone_delete', {'id': phone.id}) }}">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>        
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#phoneModal"
                data-update="{{ path('admin_phone_add') }}">Add new phone</button>
        </div>
    </div>
    </form>

<div class="modal fade" id="phoneModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form id="phone-update-form" method="post">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New phone</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="phone-make" class="control-label">Make:</label>
            <input type="text" class="form-control" id="phone-make" name="make">
          </div>
          <div class="form-group">
            <label for="phone-model" class="control-label">Model:</label>
            <input type="text" class="form-control" id="phone-model" name="model">
          </div>
          <div class="form-group">
            <label for="phone-devices" class="control-label">Devices:</label>
            <input type="text" class="form-control" id="phone-devices" name="devices">
          </div>
          <div class="form-group">
            <label for="phone-memory" class="control-label">Memory:</label>
            <input type="text" class="form-control" id="phone-memory" name="memory">
          </div>
          <div class="form-group">
            <label for="phone-policy" class="control-label">Policy:</label>
            <input type="text" class="form-control" id="phone-policy" name="policy">
          </div>
          <div class="form-group">
            <label for="phone-loss" class="control-label">Loss:</label>
            <input type="text" class="form-control" id="phone-loss" name="loss">
          </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" name="token" value="{{ token }}" />
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>
</div>
{% endblock %}

        {% block javascripts %}
             {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/Admin/phone.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}            
        {% endblock %}
