{% extends 'admin_claims_base_rebrand.html.twig' %}

{% set body_class = 'admin-policy-validation' %}

{% block title %}so-sure - Policy Validation{% endblock %}
{% block meta %}{% endblock %}

{% block body %}
    <section class="py-4 px-md-4">
        <div class="container-fluid">
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">Policy Validation</h1>
            </div>

            <div class="list-group">
                {% for policy in policies %}
                    <div class="list-group-item">
                        <div class="d-flex">
                            <a class="mr-auto align-self-center"
                               href="{{ path('admin_policy', {'id': policy.id}) }}">
                                {{ policy.policyNumber }}
                            </a>

                            <form id="delete-claim-form" method="POST">
                                <button name="delete-redis-policy"
                                        type="submit"
                                        class="btn btn-success delete-redis-policy">
                                    Remove from list
                                </button>

                                <input type="hidden" name="id" value="{{ policy.id }}"/>
                                <input type="hidden" name="token" value="{{ csrf_token('default') }}"/>
                            </form>
                        </div>

                        <div class="d-flex flex-wrap">
                            {% for validationError in policyValidationErrors[policy.id] %}
                                <span class="mr-auto w-50">{{ validationError|trim }}</span>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
