{% extends 'admin_claims_base_rebrand.html.twig' %}

{% set body_class = 'admin-policy-validation' %}

{% block title %}so-sure - Policy Validation{% endblock %}
{% block meta %}{% endblock %}

{% block body %}
    <section class="py-4 px-md-4">
        <div class="container-fluid">
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">
                    Policy Validation - {{ validation|length }}
                </h1>
            </div>
            {# TODO: Controls area #}
            <div class="card card-page-filter mb-5">
                <div class="card-body">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="toggle_flags">
                        <label class="custom-control-label" for="toggle_flags">Hide flagged <span id="flag_count"></span></label>
                    </div>
                </div>
            </div>
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead class="thead-light">
                    <tr>
                        <th></th>
                        <th>Policy</th>
                        <th>Current Status</th>
                        <th>Validation</th>
                        <th>Claims</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in validation %}
                            {% set validate = unserialise(item) %}
                            <tr>
                                <td>
                                    {% if validate.id in flags %}<i class="fas fa-flag text-danger flagged"></i>{% endif %}
                                </td>
                                <td>
                                    <a class="mr-auto align-self-center"
                                       href="{{ path('admin_policy', {'id': validate.id}) }}">
                                        {{ validate.policyNumber }}
                                    </a>
                                </td>
                                <td>
                                    {{ get_policy(validate.id).status }}
                                </td>
                                <td>
                                    <ul>
                                    {% for issue in validate.issues %}
                                        <li>{{ issue|trim }}</li>
                                    {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <i class="far {% if validate.countClaims > 0 %}fa-check text-danger{% else %}fa-times text-success{% endif %}">&nbsp;{{ validate.countClaims }}</i>
                                </td>
                                <td class="inline-strict">
                                    <form method="POST">
                                        <button name="flag-redis-policy"
                                                type="submit"
                                                class="btn {% if validate.id in flags %}btn-success{% else %}btn-secondary{% endif %} btn-sm flag-redis-policy mb-1"
                                                {% if validate.id in flags %}value="remove"{% endif %}>
                                                <i class="fas fa-flag"></i></button>
                                        <button name="delete-redis-policy"
                                                type="submit"
                                                class="btn btn-secondary btn-sm delete-redis-policy mb-1">
                                            <i class="fal fa-trash-alt"></i></button>
                                        <input type="hidden" name="id" value="{{ validate.id }}"/>
                                        <input type="hidden" name="token" value="{{ csrf_token('default') }}"/>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/policy-validations.js') }}"></script>
{% endblock %}
