{% extends 'admin_claims_base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'admin-policy-validation' %}

{% block title %}so-sure - Policy Validation{% endblock %}
{% block meta %}{% endblock %}

{% block body %}
    <section class="py-4 px-md-4">
        <div class="container-fluid">
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">Policy Validation</h1>
            </div>

            {% for policy in policies %}
                <div class="card">
                    <div class="card-header d-flex flex-row">
                        <a class="mr-auto align-self-center" href="{{ path('admin_policy', {'id': policy.id}) }}">{{ policy.policyNumber }}</a>

                        <form class="align-self-center" id="delete-claim-form" method="POST">
                            <button id="delete-claim" type="submit" class="btn btn-primary">
                                Remove from Redis
                            </button>

                            <input type="hidden" name="id" value="{{ policy.id }}"/>
                            <input type="hidden" name="token" value="{{ csrf_token('default') }}"/>
                        </form>
                    </div>

                    <div class="list-group">
                        {% for validationError in policyValidationErrors[policy.id] %}
                            <p class="list-group-item">{{ validationError|trim }}</p>
                        {% endfor %}
                    </div>
                </div>

                <hr>
            {% endfor %}
        </div>
    </section>
{% endblock %}
