{% extends 'admin_claims_base_rebrand.html.twig' %}

{% set body_class = 'admin-policy-validation' %}

{% block title %}so-sure - Policy Validation{% endblock %}
{% block meta %}{% endblock %}

{% block body %}
    <section class="py-4 px-md-4">
        <div class="container-fluid">
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">Policy Validation</h1>
            </div>

            <div class="table-responsive-sm mb-12">
                <table class="table table-striped">
                    <thead class="thead-light">
                    <tr>
                        <th>Policy</th>
                        <th>Validation</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in validation %}
                    {% set validate = unserialise(item) %}
                    <tr>
                        <td>
                            <a class="mr-auto align-self-center"
                               href="{{ path('admin_policy', {'id': validate.id}) }}">
                                {{ validate.policyNumber }}
                            </a>
                        </td>
                        <td>
                            <ul>
                            {% for issue in validate.issues %}
                                <li>{{ issue|trim }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <form method="POST">
                                <button name="delete-redis-policy"
                                        type="submit"
                                        class="btn btn-success delete-redis-policy">
                                    Remove from list
                                </button>

                                <input type="hidden" name="id" value="{{ validate.id }}"/>
                                <input type="hidden" name="token" value="{{ csrf_token('default') }}"/>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </section>
{% endblock %}
