{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <form>
    <div class="row-fluid">
        <div class="col-md-11">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.firstname }} {{ user.lastname }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>        
        </div>
    </div>
    </form>
    <div class="pagerfanta">
        {{ pagerfanta(pager, 'twitter_bootstrap3') }}
    </div>

</div>
{% endblock %}

        {% block javascripts %}
             {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/Admin/phone.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}            
        {% endblock %}
