<section class="articles py-lg-5">
    <div class="container-large py-5">
        <h2 class="h3 mb-5 text-primary text-center">Articles and insights you might be interested in</h2>
        <div class="row">
            <div class="col-lg-6">
                <article>
                    <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/blog/how-to-fix-cracked-phone-screen-1.jpg" alt="Cracked Phone Screen" class="img-fluid lozad mb-5">
                    <h3 class="h4 mb-4"><a href="{{ path('how_to_fix_cracked_phone_screen') }}">What To Do About A Cracked Phone Screen</a></h3>
                    <p>Smartphones are incredibly expensive these days, with some of the latest models costing over &pound;1000. Not only are they invaluable to our modern lives, but they’ve now become extensions of ourselves...</p>
                </article>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <ul class="list-unstyled simple-list">
                    <li>
                        <a href="{{ path('samsung_galaxy_tips_and_tricks') }}" class="simple-list-item d-flex align-items-center justify-content-between px-lg-2 py-4 pt-lg-0 pb-lg-4">
                            <div class="simple-list-text">
                                <h3 class="h6">Samsung Galaxy Tips &amp; Tricks</h3>
                                <p class="pr-md-3"><small>The Galaxy S smartphone series is Samsung’s flagship line, with 1-3 new models released every year since 2010. It has featured some hugely popular handsets in the past decade...</small></p>
                            </div>
                            <span class="d-none d-md-inline"><i class="far fa-arrow-right fa-lg fa-fw text-primary"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('why_is_my_phone_so_hot') }}" class="simple-list-item d-flex align-items-center justify-content-between px-lg-2 py-4">
                            <div class="simple-list-text">
                                <h3 class="h6">Why Is My Phone So Hot?</h3>
                                <p class="pr-md-3"><small>There are a wide range of possible causes for smartphones overheating. In this blog, we'll cover both iPhones and Android devices; helping you find the cause, fix it, and prevent it from happening again...</small></p>
                            </div>
                            <span class="d-none d-md-inline"><i class="far fa-arrow-right fa-lg fa-fw text-primary"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('new_iphone_se2_rumour_hub') }}" title="Blog: What to do if you break your phone screen" class="simple-list-item d-flex align-items-center justify-content-between px-lg-2 py-4">
                            <div class="simple-list-text">
                                <h3 class="h6">New iPhone SE2 Rumour Hub</h3>
                                <p class="pr-md-3"><small>Apple currently sells six iPhone models; however, the range lacks a smaller, budget handset for devotees of the 4in iPhone SE, which was discontinued in September 2018...</small></p>
                            </div>
                            <span class="d-none d-md-inline"><i class="far fa-arrow-right fa-lg fa-fw text-primary"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
