{# Cover #}
<section class="cover py-lg-5">
    <div class="container-large pt-lg-5">
        <div class="d-none d-lg-block">
            <h2 class="h3 mb-5 text-primary text-center">Comprehensive phone insurance that starts immediately</h2>
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-5">so-sure has made it its mission to raise the bar for the insurance industry, particularly in what concerns the mobile phone insurance. We’re having a different approach than most of the insurers out there and we believe we can do it much better.</p>
                </div>
                <div class="col-md-6">
                    <p class="mb-5">so-sure is disrupting the mobile phone insurance industry the same way some fintech companies disrupted the financial industry; first by offering a superior, more affordable and customer-oriented service when compared to what already existed on tha market, and then by coming up with a new business model, approach or technology.</p>
                </div>
            </div>
        </div>
        <div class="cover__illustration__mobile text-center d-block d-lg-none">
            <img src="{{ cdn_url }}/images/onexone.png"
                 data-src="{{ cdn_url }}/images/rebrand/homepage/so-sure_cover-illustration-mobile.png"
                 alt="so-sure - Phone Insurance what's covered"
                 width="300px"
                 class="lozad">
        </div>
        <div class="cover__desktop d-none d-lg-block">
            <div class="row">
                <div class="col-lg-4">
                    <ul class="list-unstyled text-right cover__list">
                        <li class="media">
                            <div class="media-body mb-5">
                                <h5 class="text-primary">International travel</h5>
                                90 days of globe trotting, from backpacking to business you're covered
                            </div>
                            <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_travel-icn.svg" alt="so-sure - Travel Cover" width="50px" class="ml-3 lozad">
                        </li>
                        <li class="media">
                            <div class="media-body mb-5">
                                <h5 class="text-primary">Out-of-warranty breakdowns</h5>
                                Phone breaks out of warranty, no worries you're covered
                            </div>
                            <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_out-of-warranty-icn.svg" alt="so-sure - Out of Warranty Breakdown" width="50px" class="ml-3 lozad">
                        </li>
                        <li class="media">
                            <div class="media-body mb-5">
                                <h5 class="text-primary">Phones up to three years old</h5>
                                We're one of the only insurers that covers phones up to 3 years old
                            </div>
                            <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_old-phones-icn.svg" alt="so-sure - Phone up to three years old" width="50px" class="ml-3 lozad">
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/homepage/so-sure_cover-illustration-desktop.png"
                         alt="so-sure - social insurance"
                         class="img-fluid lozad">
                </div>
                <div class="col-lg-4">
                    <ul class="list-unstyled cover__list">
                        <li class="media">
                            <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_accidental-damage-icn.svg" alt="so-sure - Accidental damage" width="50px" class="mr-3 lozad">
                            <div class="media-body mb-5">
                                <h5 class="text-primary">Accidental damage</h5>
                                Don't worry we can usually repair this device so its a good as new
                            </div>
                        </li>
                        <li class="media">
                            <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_theft-loss-icn.svg" alt="so-sure - Theft or loss" width="50px" class="mr-3 lozad">
                            <div class="media-body mb-5">
                                <h5 class="text-primary">Theft or loss</h5>
                                Phones been snatched, don't stress we've got your back
                            </div>
                        </li>
                        <li class="media">
                            <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_broken-phone-icn.svg" alt="so-sure - Broken headphone jack" width="50px" class="mr-3 lozad">
                            <div class="media-body">
                                <h5 class="text-primary">Accessories</h5>
                                No tunes, no problem. You're covered up to the value of &pound;100 inc. VAT
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <svg class="d-block d-lg-none" preserveAspectRatio="xMinYMin meet" viewBox="0 0 750 77" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(0.000000, -72.000000)" fill="#E0EFFD">
                <g transform="translate(-4700.000000, -8443.000000)">
                    <path d="M4700,8515 C4824,8551 4948.66667,8569 5074,8569 C5199.33333,8569 5324.66667,8551 5450,8515 L5450,8592 L4700,8592 L4700,8515 Z" id="Rectangle"></path>
                </g>
            </g>
        </g>
    </svg>
</section>
