<section class="cred">
    <div class="container container-xtra py-4 d-lg-flex align-items-center justify-content-between">
        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar-dark-trustpilot.png" alt="Trustpilot" class="lozad">
        {# <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar-dark-defaqto.png" alt="defaqto" class="lozad"> #}
        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar-dark-money.png" alt="Money" class="lozad">
        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar-dark-gocompare.png" alt="GoCompare" class="lozad">
        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar-dark-theguardian.png" alt="The Guardian" class="lozad">
        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar-dark-ft.png" alt="The Financial Times" class="lozad">
    </div>
</section>
