<section id="other_manufacturers" class="other-phones py-lg-5" data-background-image="">
    <div class="container-large py-5">
        <h2 class="h3 mb-5 text-primary">Other Manufacturers</h2>
        <div class="row">
            {# TODO: If current model show another #}
            <div class="col-6 col-md-4 col-lg-2">
                <a href="{{ path('phone_insurance_make', {'make': 'oneplus'}) }}">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/phones/oneplus/so-sure_half-7-pro-img.png"
                         alt="OnePlus"
                         width="150px"
                         class="mb-3 lozad">
                    <h3 class="h6 mb-3">OnePlus</h3>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="{{ path('phone_insurance_make', {'make': 'htc'}) }}">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/phones/htc/so-sure_half-u-ultra-img.png"
                         alt="HTC"
                         width="150px"
                         class="mb-3 lozad">
                    <h3 class="h6 mb-3">HTC</h3>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="{{ path('phone_insurance_make', {'make': 'motorola'}) }}">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/phones/motorola/so-sure_half-x4-img.png"
                         alt="Motorola"
                         width="150px"
                         class="mb-3 lozad">
                    <h3 class="h6 mb-3">Motorola</h3>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="{{ path('phone_insurance_make', {'make': 'nokia'}) }}">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/phones/nokia/so-sure_half-nokia-8-img.png"
                         alt="Nokia"
                         width="150px"
                         class="mb-3 lozad">
                    <h3 class="h6 mb-3">Nokia</h3>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="{{ path('phone_insurance_make', {'make': 'oppo'}) }}">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/phones/oppo/so-sure_half-reno-img.png"
                         alt="Oppo"
                         width="150px"
                         class="mb-3 lozad">
                    <h3 class="h6 mb-3">Oppo</h3>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="{{ path('phone_insurance_make', {'make': 'xiaomi'}) }}">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/phones/xiaomi/so-sure_half-mi-8-img.png"
                         alt="Xiaomi"
                         width="150px"
                         class="mb-3 lozad">
                    <h3 class="h6 mb-3">Xiaomi</h3>
                </a>
            </div>
        </div>
    </div>
</section>
