<section id="other_manufacturers" class="other-phones">
    <div class="container-large py-5">
        <h2 class="h3 mb-5 text-primary text-center">Other Manufacturers</h2>
        <div class="row">
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make', {'make': 'alcatel'}) }}">Alcatel</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make', {'make': 'asus'}) }}">Asus</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make', {'make': 'blackberry'}) }}">Blackberry</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make', {'make': 'cat'}) }}">Cat</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make', {'make': 'elephone'}) }}">Elephone</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make', {'make': 'htc'}) }}">HTC</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make', {'make': 'kodak'}) }}">Kodak</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make', {'make': 'motorola'}) }}">Motorola</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make', {'make': 'lg'}) }}">LG</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make', {'make': 'nokia'}) }}">Nokia</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make', {'make': 'oneplus'}) }}">OnePlus</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make', {'make': 'oppo'}) }}">Oppo</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make', {'make': 'razer'}) }}">Razer</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make', {'make': 'vodaphone'}) }}">Vodaphone</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make', {'make': 'wileyfox'}) }}">Wileyfox</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make', {'make': 'xiaomi'}) }}">Xiaomi</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
