<section class="other-phones py-lg-5" data-background-image="">
    <div class="container-large py-5">
        <h2 class="h3 mb-5 text-primary">Other popular smartphones we cover</h2>
        <div class="row">
            {# TODO: If current model show another #}
            <div class="col-6 col-md-4 col-lg-2">
                <a href="{{ path('quote_make_model_memory', {'make': 'apple', 'model': 'iphone x', 'memory': 64}) }}">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/phones/apple/so-sure_half-iphone-x-img.png"
                         alt="Apple iPhone X Insurance from so-sure"
                         width="150px"
                         class="mb-3 lozad">
                    <h6 class="mb-3">Apple iPhone X</h6>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="{{ path('quote_make_model_memory', {'make': 'apple', 'model': 'iphone 8', 'memory': 64}) }}">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/phones/apple/so-sure_half-iphone-8-img.png"
                         alt="Apple iPhone 8 Insurance from so-sure"
                         width="150px"
                         class="mb-3 lozad">
                    <h6 class="mb-3">Apple iPhone 8</h6>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="{{ path('quote_make_model_memory', {'make': 'apple', 'model': 'iphone 7', 'memory': 32}) }}">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/phones/apple/so-sure_half-iphone-7-img.png"
                         alt="Apple iPhone 7 Insurance from so-sure"
                         width="150px"
                         class="mb-3 lozad">
                    <h6 class="mb-3">Apple iPhone 7</h6>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="{{ path('quote_make_model_memory', {'make': 'samsung', 'model': 's8', 'memory': 64}) }}">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/phones/samsung/so-sure_half-galaxy-s8-img.png"
                         alt="Samsung S8 Insurance from so-sure"
                         width="150px"
                         class="mb-3 lozad">
                    <h6 class="mb-3">Samsung S8</h6>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="{{ path('quote_make_model_memory', {'make': 'samsung', 'model': 's9', 'memory': 64}) }}">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/phones/samsung/so-sure_half-galaxy-s9-img.png"
                         alt="Samsung S9 Insurance from so-sure"
                         width="150px"
                         class="mb-3 lozad">
                    <h6 class="mb-3">Samsung S9</h6>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="{{ path('quote_make_model_memory', {'make': 'google', 'model': 'Pixel 3', 'memory': 64}) }}">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/phones/google/so-sure_half-pixel-3-img.png"
                         alt="Google Pixel 3 Insurance from so-sure"
                         width="150px"
                         class="mb-3 lozad">
                    <h6 class="mb-3">Pixel 3</h6>
                </a>
            </div>
        </div>
    </div>
</section>
