{% if top_phones is not empty %}
    <section class="popular-phones bg-athens-gray py-lg-5 mb-lg-5">
        <div class="container-large py-5 mb-lg-5">
            <h2 class="h3 mb-5 text-primary">Popular Models</h2>
            <div class="row justify-content-center">
                {% for topPhone in top_phones %}
                    <div class="col-6 col-md-4 col-lg-3">
                        <a href="{{ path('phone_insurance_make_model', {'make': topPhone.makeCanonical, 'model': topPhone.encodedModelCanonical}) }}">
                            <img src="{{ cdn_url }}/images/onexone.png"
                                 data-src="{{ cdn_url }}/images/rebrand/phones/generic/so-sure_half-phone.png"
                                 alt="so-sure phone smiling"
                                 title="{{ topPhone.make}} {{ topPhone.model }} {{ topPhone.memory }}GB"
                                 width="150px"
                                 class="mb-3 lozad">
                            <h3 class="h6 mb-3">{{ topPhone.model}}</h3>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
