<section class="our-reviews py-lg-5">
    <svg class="" preserveAspectRatio="xMinYMin meet" viewBox="0 0 750 77" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(0.000000, -72.000000)" fill="#E0EFFD">
                <g transform="translate(-4700.000000, -8443.000000)">
                    <path d="M4700,8515 C4824,8551 4948.66667,8569 5074,8569 C5199.33333,8569 5324.66667,8551 5450,8515 L5450,8592 L4700,8592 L4700,8515 Z" id="Rectangle"></path>
                </g>
            </g>
        </g>
    </svg>
    <div class="py-5 pb-lg-5 pt-lg-0">
        <h2 class="h3 mb-4 text-primary">Don't just take our word for it!</h2>
        <p class="mb-4">Our customers love us – that's why thousands of customers have joined the so-sure family.</p>

        <div id="customer_reviews" class="mt-5 reviews">

            <div class="rewiew-slide">
                <div class="review"
                     vocab="https://schema.org/"
                     typeof="Review">
                    <div class="review__controls">
                        <div class="review__controls-prev">
                            <i class="far fa-arrow-left"></i>
                        </div>
                        <div class="review__controls-next">
                            <i class="far fa-arrow-right"></i>
                        </div>
                    </div>
                    <span property="itemReviewed"
                          typeof="Thing">
                        <meta property="name" content="so-sure insurance">
                    </span>
                    <div class="review__body p-lg-4">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-male-gravatar.png" alt="so-sure customer" class="lozad review__img mr-lg-4" width="70px">
                        <div>
                            <div class="h5 text-primary"
                                property="author"
                                typeof="Person">
                                <span property="name">D. Jones</span>
                            </div>
                            <p class="mb-0"
                               property="description">I have a nexus 6p and the screen is really big on these phones. I am glad I have insurance because of this... haven't had a claim but the website is good.</p>
                        </div>
                    </div>
                    <div class="review__footer px-4 py-3">
                        <span class="review__rating"
                              property="reviewRating"
                              typeof="Rating">
                            <meta property="ratingValue" content="5">
                            <meta property="bestRating" content="5">
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                        </span>
                        <span property="publisher" typeof="Organization">
                            <meta property="name" content="Trustpilot">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-trustpilot-logo.png" alt="Trustpilot" class="lozad" width="110px">
                        </span>
                    </div>
                </div>
            </div>

            <div class="rewiew-slide">
                <div class="review"
                     vocab="https://schema.org/"
                     typeof="Review">
                    <div class="review__controls">
                        <div class="review__controls-prev">
                            <i class="far fa-arrow-left"></i>
                        </div>
                        <div class="review__controls-next">
                            <i class="far fa-arrow-right"></i>
                        </div>
                    </div>
                    <span property="itemReviewed"
                          typeof="Thing">
                        <meta property="name" content="so-sure insurance">
                    </span>
                    <div class="review__body p-lg-4">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer" class="lozad review__img mr-lg-4" width="70px">
                        <div>
                            <div class="h5 text-primary"
                                property="author"
                                typeof="Person">
                                <span property="name">F. Smith</span>
                            </div>
                            <p class="mb-0"
                               property="description">My experience with so-sure has been excellent. It is very easy to set up. They explained everything from the beginning and there are no surprises. It was very straight forward. Would recommend!</p>
                        </div>
                    </div>
                    <div class="review__footer px-4 py-3">
                        <span class="review__rating"
                              property="reviewRating"
                              typeof="Rating">
                            <meta property="ratingValue" content="5">
                            <meta property="bestRating" content="5">
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                        </span>
                        <span property="publisher" typeof="Organization">
                            <meta property="name" content="Trustpilot">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-trustpilot-logo.png" alt="Trustpilot" class="lozad" width="110px">
                        </span>
                    </div>
                </div>
            </div>

            <div class="rewiew-slide">
                <div class="review"
                     vocab="https://schema.org/"
                     typeof="Review">
                    <div class="review__controls">
                        <div class="review__controls-prev">
                            <i class="far fa-arrow-left"></i>
                        </div>
                        <div class="review__controls-next">
                            <i class="far fa-arrow-right"></i>
                        </div>
                    </div>
                    <span property="itemReviewed"
                          typeof="Thing">
                        <meta property="name" content="so-sure insurance">
                    </span>
                    <div class="review__body p-lg-4">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer" class="lozad review__img mr-lg-4" width="70px">
                        <div>
                            <div class="h5 text-primary"
                                property="author"
                                typeof="Person">
                                <span property="name">P. Smith</span>
                            </div>
                            <p class="mb-0"
                               property="description">Only paid 50 quid excess for my iphone X which is fab, app is really easy to use and a lady called kitti was very helpful in the claim and getting me my new phone</p>
                        </div>
                    </div>
                    <div class="review__footer px-4 py-3">
                        <span class="review__rating"
                              property="reviewRating"
                              typeof="Rating">
                            <meta property="ratingValue" content="5">
                            <meta property="bestRating" content="5">
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                        </span>
                        <span property="publisher" typeof="Organization">
                            <meta property="name" content="Trustpilot">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-trustpilot-logo.png" alt="Trustpilot" class="lozad" width="110px">
                        </span>
                    </div>
                </div>
            </div>

            <div class="rewiew-slide">
                <div class="review"
                     vocab="https://schema.org/"
                     typeof="Review">
                    <div class="review__controls">
                        <div class="review__controls-prev">
                            <i class="far fa-arrow-left"></i>
                        </div>
                        <div class="review__controls-next">
                            <i class="far fa-arrow-right"></i>
                        </div>
                    </div>
                    <span property="itemReviewed"
                          typeof="Thing">
                        <meta property="name" content="so-sure insurance">
                    </span>
                    <div class="review__body p-lg-4">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer" class="lozad review__img mr-lg-4" width="70px">
                        <div>
                            <div class="h5 text-primary"
                                property="author"
                                typeof="Person">
                                <span property="name">Menay</span>
                            </div>
                            <p class="mb-0"
                               property="description">Really good service would recommend it to everyone. Straight forward &amp; easy big thumbs up!</p>
                        </div>
                    </div>
                    <div class="review__footer px-4 py-3">
                        <span class="review__rating"
                              property="reviewRating"
                              typeof="Rating">
                            <meta property="ratingValue" content="4">
                            <meta property="bestRating" content="5">
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                        </span>
                        <span property="publisher" typeof="Organization">
                            <meta property="name" content="Trustpilot">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-trustpilot-logo.png" alt="Trustpilot" class="lozad" width="110px">
                        </span>
                    </div>
                </div>
            </div>

            <div class="rewiew-slide">
                <div class="review"
                     vocab="https://schema.org/"
                     typeof="Review">
                    <div class="review__controls">
                        <div class="review__controls-prev">
                            <i class="far fa-arrow-left"></i>
                        </div>
                        <div class="review__controls-next">
                            <i class="far fa-arrow-right"></i>
                        </div>
                    </div>
                    <span property="itemReviewed"
                          typeof="Thing">
                        <meta property="name" content="so-sure insurance">
                    </span>
                    <div class="review__body p-lg-4">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer" class="lozad review__img mr-lg-4" width="70px">
                        <div>
                            <div class="h5 text-primary"
                                property="author"
                                typeof="Person">
                                <span property="name">M. Dignum</span>
                            </div>
                            <p class="mb-0"
                               property="description">Staff are very helpful and friendly and fast to reply back to you one happy customer thanks</p>
                        </div>
                    </div>
                    <div class="review__footer px-4 py-3">
                        <span class="review__rating"
                              property="reviewRating"
                              typeof="Rating">
                            <meta property="ratingValue" content="5">
                            <meta property="bestRating" content="5">
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                        </span>
                        <span property="publisher" typeof="Organization">
                            <meta property="name" content="Trustpilot">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-trustpilot-logo.png" alt="Trustpilot" class="lozad" width="110px">
                        </span>
                    </div>
                </div>
            </div>

            <div class="rewiew-slide">
                <div class="review"
                     vocab="https://schema.org/"
                     typeof="Review">
                    <div class="review__controls">
                        <div class="review__controls-prev">
                            <i class="far fa-arrow-left"></i>
                        </div>
                        <div class="review__controls-next">
                            <i class="far fa-arrow-right"></i>
                        </div>
                    </div>
                    <span property="itemReviewed"
                          typeof="Thing">
                        <meta property="name" content="so-sure insurance">
                    </span>
                    <div class="review__body p-lg-4">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer" class="lozad review__img mr-lg-4" width="70px">
                        <div>
                            <div class="h5 text-primary"
                                property="author"
                                typeof="Person">
                                <span property="name">Jack590000</span>
                            </div>
                            <p class="mb-0"
                               property="description">I don't think I could go back after experiencing the level of service here, they actually seem to care about the customer</p>
                        </div>
                    </div>
                    <div class="review__footer px-4 py-3">
                        <span class="review__rating"
                              property="reviewRating"
                              typeof="Rating">
                            <meta property="ratingValue" content="5">
                            <meta property="bestRating" content="5">
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                        </span>
                        <span property="publisher" typeof="Organization">
                            <meta property="name" content="Trustpilot">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-trustpilot-logo.png" alt="Trustpilot" class="lozad" width="110px">
                        </span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
