<section class="our-reviews py-lg-5">
    <div class="py-5">
        <h2 class="h3 mb-4 text-primary">Don't just take our word for it!</h2>
        <p class="mb-5">Our customers love us – that's why thousands of customers have joined the so-sure family.</p>
        <div id="customer_reviews" class="mt-5 reviews">
            <div class="rewiew-slide">
                <div class="review"
                     vocab="https://schema.org/"
                     typeof="Review">
                    <div class="review__controls">
                        <div class="review__controls-prev">
                            <i class="far fa-arrow-left"></i>
                        </div>
                        <div class="review__controls-next">
                            <i class="far fa-arrow-right"></i>
                        </div>
                    </div>
                    <span property="itemReviewed"
                          typeof="Organization">
                        <meta property="name" content="so-sure insurance">
                    </span>
                    <div class="review__body p-lg-4">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer" class="lozad review__img mr-lg-4" width="70px">
                        <div>
                            <div class="h5 text-primary"
                                property="author"
                                typeof="Person">
                                <span property="name">Amy Francis</span>
                            </div>
                            <p class="mb-0"
                               property="description">Haven't made a claim as yet but changing my policy over to a new phone following an upgrade just as easy as the initial set up and super friendly customer service!</p>
                        </div>
                    </div>
                    <div class="review__footer px-4 py-3">
                        <span class="review__rating"
                              property="reviewRating"
                              typeof="Rating">
                            <meta property="ratingValue" content="5">
                            <meta property="bestRating" content="5">
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                        </span>
                        <span property="publisher" typeof="Organization">
                            <meta property="name" content="Trustpilot">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-trustpilot-logo.png" alt="Trustpilot" class="lozad" width="110px">
                        </span>
                    </div>
                </div>
            </div>
            <div class="rewiew-slide">
                <div class="review"
                     vocab="https://schema.org/"
                     typeof="Review">
                    <div class="review__controls">
                        <div class="review__controls-prev">
                            <i class="far fa-arrow-left"></i>
                        </div>
                        <div class="review__controls-next">
                            <i class="far fa-arrow-right"></i>
                        </div>
                    </div>
                    <span property="itemReviewed"
                          typeof="Organization">
                        <meta property="name" content="so-sure insurance">
                    </span>
                    <div class="review__body p-lg-4">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-male-gravatar.png" alt="so-sure customer" class="lozad review__img mr-lg-4" width="70px">
                        <div>
                            <div class="h5 text-primary"
                                property="author"
                                typeof="Person">
                                <span property="name">Guillaume Piot</span>
                            </div>
                            <p class="mb-0"
                               property="description">I made a claim for my iPhone Face ID failing due to some light water damage. So sure have been very prompt to handle my claim and explain the process. They organised collection of the phone from my house and return a replacement phone within a week! I am very happy with the service and will recommend to anyone.</p>
                        </div>
                    </div>
                    <div class="review__footer px-4 py-3">
                        <span class="review__rating"
                              property="reviewRating"
                              typeof="Rating">
                            <meta property="ratingValue" content="5">
                            <meta property="bestRating" content="5">
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                        </span>
                        <span property="publisher" typeof="Organization">
                            <meta property="name" content="Trustpilot">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-trustpilot-logo.png" alt="Trustpilot" class="lozad" width="110px">
                        </span>
                    </div>
                </div>
            </div>
            <div class="rewiew-slide">
                <div class="review"
                     vocab="https://schema.org/"
                     typeof="Review">
                    <div class="review__controls">
                        <div class="review__controls-prev">
                            <i class="far fa-arrow-left"></i>
                        </div>
                        <div class="review__controls-next">
                            <i class="far fa-arrow-right"></i>
                        </div>
                    </div>
                    <span property="itemReviewed"
                          typeof="Organization">
                        <meta property="name" content="so-sure insurance">
                    </span>
                    <div class="review__body p-lg-4">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-male-gravatar.png" alt="so-sure customer" class="lozad review__img mr-lg-4" width="70px">
                        <div>
                            <div class="h5 text-primary"
                                property="author"
                                typeof="Person">
                                <span property="name">Richard Miller</span>
                            </div>
                            <p class="mb-0"
                               property="description">I found so-sure easy to use in arranging my gadget insurance and wouldn’t hesitate to recommend them. Their customer experience ratings were also reassuring in making my decision.</p>
                        </div>
                    </div>
                    <div class="review__footer px-4 py-3">
                        <span class="review__rating"
                              property="reviewRating"
                              typeof="Rating">
                            <meta property="ratingValue" content="5">
                            <meta property="bestRating" content="5">
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                        </span>
                        <span property="publisher" typeof="Organization">
                            <meta property="name" content="Trustpilot">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-trustpilot-logo.png" alt="Trustpilot" class="lozad" width="110px">
                        </span>
                    </div>
                </div>
            </div>
            <div class="rewiew-slide">
                <div class="review"
                     vocab="https://schema.org/"
                     typeof="Review">
                    <div class="review__controls">
                        <div class="review__controls-prev">
                            <i class="far fa-arrow-left"></i>
                        </div>
                        <div class="review__controls-next">
                            <i class="far fa-arrow-right"></i>
                        </div>
                    </div>
                    <span property="itemReviewed"
                          typeof="Organization">
                        <meta property="name" content="so-sure insurance">
                    </span>
                    <div class="review__body p-lg-4">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-male-gravatar.png" alt="so-sure customer" class="lozad review__img mr-lg-4" width="70px">
                        <div>
                            <div class="h5 text-primary"
                                property="author"
                                typeof="Person">
                                <span property="name">Nick H</span>
                            </div>
                            <p class="mb-0"
                               property="description">Simple to set up and good price. Excellent system to weed out the fraudsters which push up insurance prices for everyone else. Great app and overall, very happy with the cover.</p>
                        </div>
                    </div>
                    <div class="review__footer px-4 py-3">
                        <span class="review__rating"
                              property="reviewRating"
                              typeof="Rating">
                            <meta property="ratingValue" content="5">
                            <meta property="bestRating" content="5">
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                        </span>
                        <span property="publisher" typeof="Organization">
                            <meta property="name" content="Trustpilot">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-trustpilot-logo.png" alt="Trustpilot" class="lozad" width="110px">
                        </span>
                    </div>
                </div>
            </div>
            <div class="rewiew-slide">
                <div class="review"
                     vocab="https://schema.org/"
                     typeof="Review">
                    <div class="review__controls">
                        <div class="review__controls-prev">
                            <i class="far fa-arrow-left"></i>
                        </div>
                        <div class="review__controls-next">
                            <i class="far fa-arrow-right"></i>
                        </div>
                    </div>
                    <span property="itemReviewed"
                          typeof="Organization">
                        <meta property="name" content="so-sure insurance">
                    </span>
                    <div class="review__body p-lg-4">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-male-gravatar.png" alt="so-sure customer" class="lozad review__img mr-lg-4" width="70px">
                        <div>
                            <div class="h5 text-primary"
                                property="author"
                                typeof="Person">
                                <span property="name">RV</span>
                            </div>
                            <p class="mb-0"
                               property="description">The process was simple enough - I got my quote through a comparison site, checked out the details and took out my policy! There was an error on the comparison site but so-sure were great and matched the quote details - no questions asked! The validation of my phone screen was really easy too - took about 10 minutes to be verified! Now I can enjoy my new phone without any worries!</p>
                        </div>
                    </div>
                    <div class="review__footer px-4 py-3">
                        <span class="review__rating"
                              property="reviewRating"
                              typeof="Rating">
                            <meta property="ratingValue" content="5">
                            <meta property="bestRating" content="5">
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                        </span>
                        <span property="publisher" typeof="Organization">
                            <meta property="name" content="Trustpilot">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-trustpilot-logo.png" alt="Trustpilot" class="lozad" width="110px">
                        </span>
                    </div>
                </div>
            </div>
            <div class="rewiew-slide">
                <div class="review"
                     vocab="https://schema.org/"
                     typeof="Review">
                    <div class="review__controls">
                        <div class="review__controls-prev">
                            <i class="far fa-arrow-left"></i>
                        </div>
                        <div class="review__controls-next">
                            <i class="far fa-arrow-right"></i>
                        </div>
                    </div>
                    <span property="itemReviewed"
                          typeof="Organization">
                        <meta property="name" content="so-sure insurance">
                    </span>
                    <div class="review__body p-lg-4">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-male-gravatar.png" alt="so-sure customer" class="lozad review__img mr-lg-4" width="70px">
                        <div>
                            <div class="h5 text-primary"
                                property="author"
                                typeof="Person">
                                <span property="name">John</span>
                            </div>
                            <p class="mb-0"
                               property="description">Quick, easy and very competitive for such a highly defaqto rated insurer. Very pleased with the process and ease of getting the policy set up through Starling Bank</p>
                        </div>
                    </div>
                    <div class="review__footer px-4 py-3">
                        <span class="review__rating"
                              property="reviewRating"
                              typeof="Rating">
                            <meta property="ratingValue" content="5">
                            <meta property="bestRating" content="5">
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                        </span>
                        <span property="publisher" typeof="Organization">
                            <meta property="name" content="Trustpilot">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-trustpilot-logo.png" alt="Trustpilot" class="lozad" width="110px">
                        </span>
                    </div>
                </div>
            </div>
            <div class="rewiew-slide">
                <div class="review"
                     vocab="https://schema.org/"
                     typeof="Review">
                    <div class="review__controls">
                        <div class="review__controls-prev">
                            <i class="far fa-arrow-left"></i>
                        </div>
                        <div class="review__controls-next">
                            <i class="far fa-arrow-right"></i>
                        </div>
                    </div>
                    <span property="itemReviewed"
                          typeof="Organization">
                        <meta property="name" content="so-sure insurance">
                    </span>
                    <div class="review__body p-lg-4">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-male-gravatar.png" alt="so-sure customer" class="lozad review__img mr-lg-4" width="70px">
                        <div>
                            <div class="h5 text-primary"
                                property="author"
                                typeof="Person">
                                <span property="name">Nigel Charlette</span>
                            </div>
                            <p class="mb-0"
                               property="description">Really good company, love the incentives they offer for being a loyal customer hence the reason why I decided to do my mobile phone insurance through them. Would recommend</p>
                        </div>
                    </div>
                    <div class="review__footer px-4 py-3">
                        <span class="review__rating"
                              property="reviewRating"
                              typeof="Rating">
                            <meta property="ratingValue" content="5">
                            <meta property="bestRating" content="5">
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                        </span>
                        <span property="publisher" typeof="Organization">
                            <meta property="name" content="Trustpilot">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-trustpilot-logo.png" alt="Trustpilot" class="lozad" width="110px">
                        </span>
                    </div>
                </div>
            </div>
            <div class="rewiew-slide">
                <div class="review"
                     vocab="https://schema.org/"
                     typeof="Review">
                    <div class="review__controls">
                        <div class="review__controls-prev">
                            <i class="far fa-arrow-left"></i>
                        </div>
                        <div class="review__controls-next">
                            <i class="far fa-arrow-right"></i>
                        </div>
                    </div>
                    <span property="itemReviewed"
                          typeof="Organization">
                        <meta property="name" content="so-sure insurance">
                    </span>
                    <div class="review__body p-lg-4">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-female-gravatar.png" alt="so-sure customer" class="lozad review__img mr-lg-4" width="70px">
                        <div>
                            <div class="h5 text-primary"
                                property="author"
                                typeof="Person">
                                <span property="name">Toni Huntingford</span>
                            </div>
                            <p class="mb-0"
                               property="description">Very easy to choose which tariff suits you. You get discounted excess rates when you take a pic of the phone in working condition. You can also make money of you share there page with your friends. So happy with my cover and better yet it was really cheap too :)</p>
                        </div>
                    </div>
                    <div class="review__footer px-4 py-3">
                        <span class="review__rating"
                              property="reviewRating"
                              typeof="Rating">
                            <meta property="ratingValue" content="5">
                            <meta property="bestRating" content="5">
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                        </span>
                        <span property="publisher" typeof="Organization">
                            <meta property="name" content="Trustpilot">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/reviews/so-sure_reviews-trustpilot-logo.png" alt="Trustpilot" class="lozad" width="110px">
                        </span>
                    </div>
                </div>
            </div>                                                                                   
        </div>
    </div>
</section>
