<section class="other-phones other-phones-gray py-lg-5 mb-lg-5">
    <div class="container-large py-5 mb-lg-5">
        <h2 class="h3 mb-5 text-primary">Top Models</h2>
        <div class="row">
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'apple', 'model': 'iphone-11-pro-max'}) }}">iPhone 11 Pro Max</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'apple', 'model': 'iphone-11-pro'}) }}">iPhone 11 Pro</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'apple', 'model': 'iphone-11'}) }}">iPhone 11</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'apple', 'model': 'iphone-xs'}) }}">iPhone XS</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'apple', 'model': 'iphone-xr'}) }}">iPhone XR</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'apple', 'model': 'iphone-x'}) }}">iPhone X</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'apple', 'model': 'iphone-8'}) }}">iPhone 8</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'apple', 'model': 'iphone-8'}) }}">iPhone 7</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'oneplus', 'model': '7-pro'}) }}">OnePlus 7 Pro</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'oneplus', 'model': '7'}) }}">OnePlus 7 </a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'google', 'model': 'pixel-4-xl'}) }}">Pixel 4 XL</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'google', 'model': 'pixel-4'}) }}">Pixel 4</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'google', 'model': 'pixel-3-xl'}) }}">Pixel 3 XL</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'google', 'model': 'pixel-3'}) }}">Pixel 3</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'google', 'model': 'pixel-3-xl'}) }}">Pixel 3 XL</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'huawei', 'model': 'p30'}) }}">Huawei P30</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'huawei', 'model': 'p30-pro'}) }}">Huawei P30 Pro</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'samsung', 'model': 'galaxy-s20'}) }}">Samsung 20</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'samsung', 'model': 'galaxy-s10-plus'}) }}">Samsung S10+</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'samsung', 'model': 'galaxy-s10'}) }}">Samsung S10</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'samsung', 'model': 'galaxy-note10-plus'}) }}">Samsung Note10+</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'samsung', 'model': 'galaxy-note10'}) }}">Samsung Note10</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'samsung', 'model': 'galaxy-s9-plus'}) }}">Samsung S9+</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'samsung', 'model': 'galaxy-s9'}) }}">Samsung S9</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'samsung', 'model': 'galaxy-s8-plus'}) }}">Samsung S8+</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'samsung', 'model': 'galaxy-s8'}) }}">Samsung S8</a></li>
                    <li class="h5 mb-3"><a href="{{ path('phone_insurance_make_model', {'make': 'samsung', 'model': 'galaxy-s7'}) }}">Samsung S7</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
