{# Why Insure Continued #}
<section class="why-insure-continued py-lg-5" data-background-image="{{ cdn_url }}/images/rebrand/product/so-sure_reviews-image-alt-flipped.png">
    <div class="container-large py-5">
        <div class="row">
            <div class="col-lg-6">
                <img src="{{ cdn_url }}/images/rebrand/product/so-sure_reviews-image-alt-flipped.png" alt="so-sure - happy customers" class="d-lg-none img-fluid mb-4">
            </div>
            <div class="col-lg-6">
                <h2 class="h3 mb-4 text-primary">We focus on your needs, not your smartphone</h2>
                <p>We carefully observed what other mobile phone insurers were doing at the time when we started up, what were the processes involved and how easy or difficult it was for people like you to get comprehensive insurance for their handsets or to make a claim, and we decided we can do a lot better if we would focus on your needs instead of your phone. Of course, the phone is what the insurance would cover, just like it would with any other mobile phone insurance company in the UK, but the focus should be on your peace of mind that you don’t have to change your lifestyle to keep your smartphone covered, that your device would still be covered if you decide to save money and get it from the internet, second-hand, or that if you like to travel, up to 90 days of international traveling would be included.</p>
                <p>Focusing on the needs of our clients resulted in a service that was faster, superior, easier and a lot more affordable. This is what makes so-sure’s mobile phone insurance different.</p>
                <p><strong>Faster</strong> - the phone insurance cover starts as soon as we your contract starts and we aim to achieve a 24-72 hour replace or repair, once claim is approved;</p>
                <p><strong>Superior</strong> - comprehensive cover against the unexpected – <a href="{{ path('phone_insurance_theft') }}">theft</a>, <a href="{{ path('phone_insurance_loss') }}">loss</a> and accidental damage covered as a standard, that also applies for <a href="{{ path('phone_insurance_cracked_screen') }}">cracked screens</a>, <a href="{{ path('phone_insurance_water_damage') }}">water damage</a>, international traveling, phone accessories and even network charges that you haven’t authorised.</p>
                <p><strong>Easier</strong> - everything from getting your mobile phone insurance, to understanding what’s covered by the insurance and the terms and conditions, and to making a claim if you need to, is designed to be easy and straightforward. No legal jargon or complicated clauses.</p>
                <p><strong>Cheaper</strong> - you’ll probably be surprised to learn that we give you money back if you’ve been careful with your phone, but our <a href="{{ path('social_insurance') }}">social insurance</a> program does just that. You could get up to 80% of your insurance premiums back at the end of the policy year by joining forces with your most careful friends and family.</p>
                <a href="#" class="btn btn-success btn-block-xs mx-auto mb-5 get-a-quote disabled">Get a Quote</a>
            </div>
        </div>
    </div>
</section>
