{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}

<h1>Welcome back!</h1>

{# Account Kit Login #}
<div class="login-account-kit login-box" data-key="{{ fb_appid }}" data-csrf="{{ csrf_token('account-kit') }}" data-toggle="{% if app.request.clientIp == davies_ip %}1{% else %}0{% endif %}">
    <p>Please login below.</p>
    <div class="form-group">
        <input type="hidden" value="+44" id="country_code" class="form-control" />
    </div>
    <div class="form-group">
        <input placeholder="phone number" id="phone_number" class="form-control" />
    </div>
    <div class="form-group">
        <button onclick="smsLogin();" class="btn btn-success">Login via SMS</button>
    </div>
</div>

{# Email Login #}
<div class="login-email login-box" style="display: none;">
    <p>Please login below.</p>
    <form class="" action="{{ path("fos_user_security_check") }}#email" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        <div class="form-group">
            <input type="email" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Email Address" class="form-control" />
        </div>
        <div class="form-group">
            <input type="password" id="password" name="_password" required="required" placeholder="Password" class="form-control" />
        </div>
        {% if error %}
            <div class="error-text" style="padding-bottom: 10px;">Looks like the email address or password you’ve entered is incorrect. Please try again.</div>
        {% endif %}
        <div class="form-group">
            <label for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" {% if app.request.clientIp == davies_ip %}checked{% endif %} />
                Remember me
            </label>
        </div>
        <div class="form-group">
            <input type="submit" id="_submit" name="_submit" value="Login" class="btn btn-success"/>
        </div>
        <div class="form-group">
            <small><a href="{{ path('fos_user_resetting_request') }}">Forgot password?</a></small>
        </div>
    </form>
</div>

<div class="swap-login-wrapper form-group">
    <a href="#" id="swap-login" class="btn btn-primary-hollow">Prefer <span>email</span> login?</a>
</div>

<div class="form-group">
    <a href="#" onclick="fb_login();" class="btn btn-facebook"><i class="fa fa-facebook-official"></i> &nbsp;Login with Facebook</a>
</div>

<script src="https://sdk.accountkit.com/en_US/sdk.js"></script>

<form id="accountkit-form" method="post" action="{{ path('accountkit_login') }}">
    <input type="hidden" id="accountkit-code" name="code">
    <input type="hidden" id="accountkit-csrf" name="csrf">
</form>

{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '../app/Resources/public/js/login.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
