{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}

    {% if app.user is not null and app.user %}

        <h4 class="text-columbia-blue-e text-center mb-1">You're logged in as:</h4>
        <h1 class="text-white text-center mb-4">{{ app.user.name }}</h1>

        <div class="login__card">
            <div class="login__card__body">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_home') }}" class="btn btn-primary btn-block">Admin</a>
                {% elseif is_granted('ROLE_EMPLOYEE') %}
                    <a href="{{ path('admin_home') }}" class="btn btn-primary btn-block">Admin</a>
                {% elseif is_granted('ROLE_CLAIMS') %}
                    <a href="{{ path('claims_home') }}" class="btn btn-primary btn-block">Claims</a>
                {% else %}
                    <a href="{{ path('user_home') }}" class="btn btn-primary btn-block">Your Account</a>
                {% endif %}
                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-outline-primary btn-block">Logout</a>
            </div>
        </div>

    {% else %}

        <h4 class="text-columbia-blue-e text-center mb-1">Login to your account</h4>
        <h1 class="text-white text-center mb-4">Welcome Back 🎉</h1>

        <div class="login__card">
            <div class="login__card__body">

                {# Account Kit #}
                <div id="login-account-kit"
                     {% if default_login_method == 'email' %}style="display: none;"{% endif %}
                     class="login__account-kit"
                     data-key="{{ fb_appid }}"
                     data-csrf="{{ csrf_token('account-kit') }}"
                     data-toggle="{% if app.request.clientIp == davies_ip %}1{% else %}0{% endif %}">
                    <form id="login-account-kit-form"
                          method="post"
                          action="https://www.accountkit.com/v1.0/basic/dialog/sms_login/" autocomplete="off"
                          data-client-validation="{{ form_client_validation }}">
                        <input type="hidden" value="+44" id="country_code" class="form-control" />
                        <input type="hidden" name="app_id" value="{{ fb_appid }}">
                        <input type="hidden" name="redirect" value="{{ app.request.schemeAndHttpHost }}/login/check-accountkit">
                        <input type="hidden" name="state" value="{{ accountkit_state() }}">
                        <input type="hidden" name="fbAppEventsEnabled" value=true>
                        <input type="hidden" name="debug" value=false>
                        <div class="form-group">
                            <label for="phone_number">Mobile Number</label>
                            <div class="input-group" id="phone-number-holder">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fal fa-mobile-android fa-lg"></i></div>
                                </div>
                                <input placeholder="Enter Mobile Number" id="phone_number" name="phone_number" class="form-control" type="tel" />
                            </div>
                            {% if error %}
                                <label class="error mt-1">Sorry, we were unable to log you in. You can try again, or <a href="{{ path('about_how_to_contact_so_sure') }}">contact us</a> for help.</label>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <button id="sms-login-btn" class="btn btn-block btn-icon btn-success">Get Login Code <i class="far fa-arrow-right fa-fw ml-2"></i></button>
                        </div>
                    </form>
                    <form id="accountkit-form"
                          method="post"
                          action="{{ path('accountkit_login') }}"
                          autocomplete="off">
                        <input type="hidden" id="accountkit-code" name="code">
                        <input type="hidden" id="accountkit-csrf" name="csrf">
                    </form>
                </div>

                {# Email Login #}
                <div id="login-email"
                     class="login__email"
                     {% if default_login_method == 'accountkit' %}style="display: none;"{% endif %}>
                    <form id="login-email-form"
                          action="{{ path("fos_user_security_check") }}#email"
                          method="post"
                          autocomplete="off"
                          class="validate-form"
                          data-client-validation="{{ form_client_validation }}">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                        <div class="form-group">
                            <label for="_username">Email Address</label>
                            <input type="email" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Enter Email Address" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="_password">Password</label>
                            <input type="password" id="password" name="_password" required="required" placeholder="Enter Password" class="form-control" />
                            {% if error %}
                                <label class="error mt-1">
                                    {% if app.request.clientIp == davies_ip or app.request.clientIp in sosure_ips %}
                                        Looks like the email address or password you’ve entered is incorrect, or <strong>your password has expired</strong>. Please try again. You may want to <a href="{{ path('fos_user_resetting_request') }}">reset your password</a>.
                                    {% else %}
                                        Looks like the email address or password you’ve entered is incorrect. Please try again. You may want to <a href="{{ path('fos_user_resetting_request') }}">reset your password</a>.
                                    {% endif %}
                                </label>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" {% if app.request.clientIp == davies_ip %}checked{% endif %} class="custom-control-input" />
                                        <label class="custom-control-label" for="remember_me"><small>Remember me</small></label>
                                    </div>
                                </div>
                                <div class="col text-right">
                                    <a href="{{ path('fos_user_resetting_request') }}"><small>Forgot password?</small></a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="_submit" name="_submit" class="btn btn-block btn-icon btn-success">Login via Email <i class="far fa-arrow-right fa-fw ml-2"></i></button>
                        </div>
                    </form>
                </div>

                <div class="login__divider"><span class="h6 text-grey">or login with</span></div>

                {# Login with #}
                <div class="row">
                    <div class="col">
                        <a href="#" id="swap-login" class="btn btn-outline-primary btn-block"><span>Email</span></a>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock fos_user_content %}
