{% extends "FOSUserBundle::layout.html.twig" %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set distraction_free = 1 %}
{% set new_footer = 1 %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/login.scss'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block fos_user_content %}
    <div class="panel login__panel">
        <div class="panel-body">
            <h1 class="text-center h2">Login</h1>
            {# Email Login #}
            <div class="login-email"
                 style="{% if default_login_method == 'accountkit' %}display: none;{% endif %}">
                <form class="" action="{{ path("fos_user_security_check") }}#email" method="post" autocomplete="off">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    <div class="form-group">
                        <input type="email" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Email Address" class="form-control input-lg" />
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="_password" required="required" placeholder="Password" class="form-control input-lg" />
                    </div>
                    {% if error %}
                        <div class="error-text" style="padding-bottom: 10px;">
                            {% if app.request.clientIp == davies_ip or app.request.clientIp in sosure_ips %}
                                Looks like the email address or password you’ve entered is incorrect, or <strong>your password has expired</strong>. Please try again. You may want to <a href="{{ path('fos_user_resetting_request') }}">reset your password</a>.
                            {% else %}
                                Looks like the email address or password you’ve entered is incorrect. Please try again. You may want to <a href="{{ path('fos_user_resetting_request') }}">reset your password</a>.
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group text-left">
                                <label for="remember_me">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" {% if app.request.clientIp == davies_ip %}checked{% endif %} />
                                    Remember me
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group text-right">
                                <small><a class="btn btn-link btn-xs" href="{{ path('fos_user_resetting_request') }}">Forgot password?</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="_submit" name="_submit" value="Login" class="btn btn-green btn-pad btn-block"/>
                    </div>
                </form>
            </div>

            {# Account Kit #}
            <div id="login-account-kit"
                 class="login-account-kit"
                 style="{% if default_login_method == 'email' %}display: none;{% endif %}"
                 data-csrf="{{ csrf_token('account-kit') }}"
                 data-toggle="{% if app.request.clientIp == davies_ip %}1{% else %}0{% endif %}">
                Account Kit
            </div>
            <a href="#" id="swap-login" class="btn btn-link btn-xs">Prefer <span>{% if default_login_method == 'accountkit' %}email{% else %}mobile{% endif %}</span> login?</a>

            <div class="text-break text-grey">
                <div class="line"></div>OR<div class="line"></div>
            </div>

            {# Social Logins #}
            <div class="form-group">
                <a href="#" class="btn btn-facebook btn-facebook-login"><i class="fa fa-facebook-official fa-lg"></i> &nbsp;Continue with Facebook</a>
            </div>

            <div class="form-group">
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn-google-login">
                    <span class="sr-only">Sign in with Google</span>
                </a>
            </div>

            {% if feature_enabled('starling') %}
            <div class="form-group">
                <a class="btn btn-block btn-starling" href="/login/starling"><img src="{{ cdn_url }}/images/StarlingMarkIcon.png" height="20px"> &nbsp;Login with Starling</a>
            </div>
            {% endif %}

        </div>
    </div>

    <form id="accountkit-form" method="post" action="{{ path('accountkit_login') }}">
        <input type="hidden" id="accountkit-code" name="code">
        <input type="hidden" id="accountkit-csrf" name="csrf">
    </form>
{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/jquery-validation/jquery.validate.js'
        '../app/Resources/public/js/login.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="https://sdk.accountkit.com/en_US/sdk.js"></script>
{% endblock %}
