{% set logo_image = 'unhappy' %}
{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Your policy will be cancelled in {{ policy.policyExpirationDateDays }} days.{% endblock %}
{% block body %}
    {{ macros.start_table() }}
	<h1>
		<!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	</h1>
	<div style="font-size: 14px; text-align: left;">
		<!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		<div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
				Your monthly payment of £{{ policy.premium.monthlyPremiumPrice }} was declined.
                <br><br>
                Your policy will be cancelled in {{ policy.policyExpirationDateDays }} days if you fail to make payment.
				<br><br>
				To avoid cancellation, simply <a href="{{ branch_pot_url }}">open our app</a> and follow the steps on screen, alternatively talk to us <a href="{{ contact_us_url }}">here</a> Monday to Thursday 9am-5pm and Friday 9am-4pm.
				<br><br>
				As you have had an approved claim, and received a replacement phone on {{ policy.getApprovedClaims(true, true)[0].replacementReceivedDate|date }}, as per the so-sure terms and conditions you are liable for the remainder of the policy year.  Should you fail to make payments on your policy, it will be cancelled and you will be billed for the remainder of your policy premium of £{{ policy.getRemainderOfPolicyPrice|number_format(2, '.', ',') }}.  In the unfortunate case that you should you fail to make this payment, we will take legal action.
				<br><br>
			    If you have any questions, please don't hesitate to <a href="mailto:support@wearesosure.com?subject=I%20have%20a%20question" target="_blank"><span style="color:#3399ff">contact us</span></a>.
		</div>
	</div>
    {{ macros.end_table() }}
{% endblock %}

