{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set exclude_remote_scripts = true %}
{% set quote_mode = true %}
{% set body_class = 'login' %}
{% block meta %}
    <meta name="robots" content="noindex">
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/login.css') }}">
{% endblock %}

{% block body %}
    <div class="login  p-3 d-flex align-items-center">
        <div class="login__inner">

            {% block fos_user_content %}
            {% endblock fos_user_content %}

        </div>
        <span class="login__phone__background animated fadeInLeft lozad"
              data-background-image="{{ cdn_url }}/images/rebrand/login/so-sure_login-phone-smile.png"></span>
        <span class="login__money__background animated jackInTheBox lozad"
              data-background-image="{{ cdn_url }}/images/rebrand/login/so-sure_login-money.png"></span>
    </div>
{% endblock %}

{% block footer %}
    {# TODO: Fix footer #}
{% endblock %}

{% block javascriptsPage %}
    <script async src="https://sdk.accountkit.com/en_US/sdk.js"></script>
    <script src="{{ asset('css-js/login.js') }}"></script>
{% endblock %}
