{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'contents-insurance' %}
{% set robots_noindex = is_noindex %}

{% block title %}Contents Insurance | SO-SURE{% endblock %}
{% block meta %}
    <meta name="description" content="Add description..."/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/contents-insurance.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container-large">
            <div class="breadcrumbs">
                <ul class="list-inline"
                    vocab="https://schema.org/"
                    typeof="BreadcrumbList">
                    <li class="list-inline-item"
                        property="itemListElement"
                        typeof="ListItem">
                        <a href="{{ path('homepage') }}"
                           class="text-columbia-blue-e"
                           property="item"
                           typeof="WebPage">
                           <span property="name">Home</span>
                        </a>
                        <meta property="position" content="1">
                    </li>
                    <li class="list-inline-item text-white">
                        <i class="fal fa-angle-right text-white"></i>
                    </li>
                    <li class="list-inline-item text-white"
                        property="itemListElement"
                        typeof="ListItem">
                        <span property="name">Contents Insurance</span>
                        <meta property="position" content="2">
                    </li>
                </ul>
            </div>
            <h1 class="text-deep-sky-blue-d text-sm-center">
                Win-Win<br class="d-md-none">
                <span class="text-white">Contents Insurance</span>
            </h1>
            <p class="lead text-white text-sm-center">
                <strong>Amazing cover if you need us <br class="d-md-none">— Money back if you don’t!</strong>
            </p>
            <div class="row">
                <div class="col-md-8 offset-md-2 col-lg-5 offset-lg-5">
                    <p class="d-none d-md-block lead hero-p">Protect the stuff you love in your home. You can include accidental or pet damage, out of home cover and even work equipment.</p>
                    <div class="cardbox cardbox-100 mt-4">
                        <div class="cardbox__body">
                            <h2 class="h4 mb-3 text-primary text-nowrap fit">Fair, Fast, and Rewarding 🇬🇧</h2>
                            <ul class="list-unstyled icn-fa-list mb-4">
                                <li class="mb-2">
                                    <i class="far fa-check fa-lg fa-fw text-success"></i>
                                    Cover from £2.80/month and excess from £50
                                </li>
                                <li class="mb-2">
                                    <i class="far fa-check fa-lg fa-fw text-success"></i>
                                    Most claims resolved within 72hrs
                                </li>
                                <li>
                                    <i class="far fa-check fa-lg fa-fw text-success"></i>
                                    Up to 40% no claims cashback
                                </li>
                            </ul>
                            <a href="{{ home_contents_funnel }}" class="btn btn-success btn-block-xs">Get a quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Cred #}
    {% include 'AppBundle::Default/CommonSections/_cred.html.twig' %}

    <section class="vid-sure py-lg-5">
        <div class="container-large py-5">
            <h2 class="h3 text-primary mb-4">Point. Scan. Covered.</h2>
            <p class="mb-0">Goodbye, boring forms. Using cutting-edge image recognition and AI technology,<br class="d-none d-md-inline"> our app identifies the items you need to cover from theft, fire, or flood damage.</p>
        </div>
    </section>

    <section class="vid-sure-cont py-lg-5">
        <div class="container-large py-5">
            <h2 class="h3 text-white mb-4">See Our App In Action</h2>
            <p class="text-white mb-4">Effortlessly build your contents inventory with just a few taps.<br class="d-none d-md-inline"> Capture everything, from your fancy new laptop to the food in your freezer.</p>
            <div class="row">
                <div class="col-lg-4 d-none d-lg-block">
                    <ul class="list-unstyled text-right vid-sure-cont-list">
                        <li class="right">
                            <h3 class="h5 text-white">Ski equipment and gear</h3>
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_ski-icon.svg" alt="Ski equipment and gear icon" width="50px" class="ml-3 lozad">
                        </li>
                        <li class="right">
                            <h3 class="h5 text-white">Laptops, tablets, desktops</h3>
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_desktop-icon.svg" alt="Laptops, tablets, desktops icon" width="50px" class="ml-3 lozad">
                        </li>
                        <li class="right">
                            <h3 class="h5 text-white">Your sofa and armchairs</h3>
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_sofa-icon.svg" alt="Sofa icon" width="50px" class="ml-3 lozad">
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="vid-sure-video-tour">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_video-tour-frame.png"
                             class="vid-sure-video-tour-frame lozad">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_video-tour-framed.gif"
                             class="vid-sure-video-tour-video lozad">
                    </div>
                </div>
                <div class="col-lg-4 d-none d-lg-block">
                    <ul class="list-unstyled text-left vid-sure-cont-list">
                        <li class="left">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_bag-icon.svg" alt="Handbags icon" width="50px" class="mr-3 lozad">
                            <h3 class="h5 text-white">Your collection of handbags</h3>
                        </li>
                        </li>
                        <li class="left">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_food-icon.svg" alt="Food icon" width="50px" class="mr-3 lozad">
                            <h3 class="h5 text-white">The food inside your fridge</h3>
                        </li>
                        <li class="left">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_china-icon.svg" alt="China icon" width="50px" class="mr-3 lozad">
                            <h3 class="h5 text-white">Nan's china set</h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="home-contents py-lg-5">
        <div class="container-large py-5">
            <h2 class="h3 text-primary mb-4">Win-Win Contents Insurance</h2>
            <p class="mb-4">Quick and easy if you need us — money back if you don’t.</p>
            <div class="d-md-flex justify-content-between p-lg-5">
                <div class="card mr-5 mb-4 w-100">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_contents_one.jpg"
                         class="lozad card-img-top"
                         alt="Upfront agreed">
                    <div class="card-body py-4 text-center">
                        <h3 class="h5 text-primary card-title">Smart Savings</h3>
                        <p class="card-text">Peace of mind that won't break the bank. Enjoy a low monthly price and excess from only £50.</p>
                    </div>
                </div>
                <div class="card mr-5 mb-4 w-100">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_contents_three.jpg"
                         class="lozad card-img-top"
                         alt="Reward Pot">
                    <div class="card-body py-4 text-center">
                        <h3 class="h5 text-primary card-title">Super Fast Claims</h3>
                        <p class="card-text">No more waiting around. The majority of claims will be sorted within 72 hours.</p>
                    </div>
                </div>
                <div class="card mb-4 w-100">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_contents_two.jpg"
                         class="lozad card-img-top"
                         alt="Money Back">
                    <div class="card-body py-4 text-center">
                        <h3 class="h5 text-primary card-title">Up to 40% Money Back</h3>
                        <p class="card-text">Connect with friends and get rewarded every year when you and your connections don't claim.</p>
                    </div>
                </div>
            </div>
            <div class="cardbox no-box-shadow cardbox-100">
                <div class="cardbox__body p-lg-5">
                    <h3 class="text-primary mb-4">Who Is This For?</h3>
                    <p class="mb-4">SO-SURE’s contents insurance has been designed for renters, but it’s ideal for homeowners, too.</p>
                    <div class="row who-list">
                        <div class="col-md-4">
                            <div class="who-list-item">
                                <img src="{{ cdn_url }}/images/onexone.png"
                                data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_icon_sole-occupant.jpg" class="lozad" alt="Sole Occupants" width="150px">
                                <h4 class="h5 text-primary">Sole Occupants</h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="who-list-item">
                                <img src="{{ cdn_url }}/images/onexone.png"
                                data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_icon_house-sharers-adj.jpg" class="lozad" alt="House Sharers" width="150px">
                                <h4 class="h5 text-primary">House Sharers</h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="who-list-item">
                                <img src="{{ cdn_url }}/images/onexone.png"
                                data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_icon_families.jpg" class="lozad" alt="Families" width="150px">
                                <h4 class="h5 text-primary">Families</h4>
                            </div>
                        </div>
                    </div>
                    <hr class="my-5">
                    <div class="row text-left">
                        <div class="col-lg-6">
                            <h4 class="h3 mb-4">What's covered 👍</h4>
                            <ul class="list-unstyled icn-fa-list">
                                <li class="mb-3">
                                    <i class="far fa-check fa-lg fa-fw text-success"></i>
                                    <strong>Almost everything</strong> in your home, apart from a few specifics (check “What’s not covered”)
                                </li>
                                <li class="mb-3">
                                    <i class="far fa-check fa-lg fa-fw text-success"></i>
                                    <strong>Accidental Damage:</strong>  Drops, spills, scrapes and more; if it was an accident, we can cover it
                                </li>
                                <li class="mb-3">
                                    <i class="far fa-check fa-lg fa-fw text-success"></i>
                                    <strong>Out of home:</strong> For extra peace of mind, your stuff can be covered for when you’re out and about, too
                                </li>
                                <li class="mb-3">
                                    <i class="far fa-check fa-lg fa-fw text-success"></i>
                                    <strong>Business:</strong> WFH? Travelling to the office? We can protect the things you use for your business
                                </li>
                                <li class="mb-3">
                                    <i class="far fa-check fa-lg fa-fw text-success"></i>
                                    <strong>Outdoors:</strong> The contents of your garden or outdoor space (and the space itself) can also be covered
                                </li>
                                <li>
                                    <i class="far fa-check fa-lg fa-fw text-success"></i>
                                    <strong>Pet Damage:</strong> Got a clumsy four-legged friend or a suspiciously unruly fish? We can protect against damage caused by pets
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <h4 class="h3 mb-4">What's not covered 👎</h4>
                            <ul class="list-unstyled icn-fa-list">
                                <li class="mb-3">
                                    <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                    Mobile phones (<a href="{{ path('phone_insurance') }}">get covered here instead</a>)
                                </li>
                                <li class="mb-3">
                                    <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                    Money
                                </li>
                                <li class="mb-3">
                                    <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                    Powered vehicles
                                </li>
                                <li>
                                    <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                    Pets (coming soon!)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# <section class="sign-up-bottom py-lg-5">
        <div class="container-large py-5">
            {% if beta %}
                <h2 class="h3 text-white">Contents Insurance by SO-SURE: Beta access</h2>
                <p class="lead text-white mb-4"><strong>Get started below 👇</p>
                <a href="{{ home_contents_funnel }}" class="btn btn-success">Get a Quote</a>
            {% else %}
                <h2 class="h3 text-white">Contents Insurance by SO-SURE: Coming soon</h2>
                <p class="lead text-white mb-4"><strong>Get on the launch list + receive special offers </strong>👇</p>
                <form id="footer-form" class="validate-form"
                    data-toggle="validator"
                    data-client-validation="{{ form_client_validation }}"
                    data-csrf="{{ lead_csrf }}"
                    data-lead="{{ path('contents_lead', {'source': 'home-contents-buzz-footer'}) }}"
                    autocomplete="off">
                    <div class="custom-input-with-btn custom-input-with-btn-responsive">
                        <input type="email" name="hc-lead-email" class="hc-lead-email form-control form-control-white" placeholder="Enter email address..." />
                        <button type="submit" class="btn btn-success hc-lead-submit btn-block-xs btn-sm">Send Me Launch Offers</button>
                    </div>
                    <p class="hc-lead-feedback text-white"></p>
                </form>
            {% endif %}
        </div>
    </section> #}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/contents-insurance.js') }}"></script>
{% endblock %}
