{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'contents-insurance' %}
{% set robots_noindex = is_noindex %}

{% block title %}Contents Insurance | SO-SURE{% endblock %}
{% block meta %}
    <meta name="description" content="Low cost contents insurance with up to 40% no claims cashback and price freeze. Claims sorted in 72hrs covering almost all contents, accidental, fire, damage and theft."/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}
{% set og_title = 'Contents Insurance | SO-SURE' %}
{% set og_description = "Low cost contents insurance with up to 40% no claims cashback and price freeze. Claims sorted in 72hrs covering almost all contents, accidental, fire, damage and theft." %}
{% set og_image = cdn_url ~ '/images/rebrand/og/so-sure_og-image-1.png' %}

{% block cssPage %}
    {{ encore_entry_link_tags('contents-insurance') }}
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container-large">
            <div class="row">
                <div class="col-sm-8 offset-sm-2 col-xl-6 offset-xl-0 order-xl-2">
                    <h1 class="text-white mb-4">
                        Start your {{ greeting }} with <span class="text-deep-sky-blue-d">win-win! contents insurance</span>
                    </h1>
                    <p class="lead text-white mb-4">Protect the stuff you love at home. Get covered in minutes with our customisable policy.</p>
                    <ul class="list-unstyled icn-fa-list mb-4">
                        <li class="mb-3 text-white">
                            <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                            <strong>No</strong> price increase at renewal
                        </li>
                        <li class="mb-3 text-white">
                            <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                            <strong>No</strong> hidden admin or cancellation fees
                        </li>
                        <li class="text-white">
                            <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                            <strong>No</strong> horrible forms
                        </li>
                    </ul>
                    <a href="{{ home_contents_funnel }}{% if utms %}?{{ utms }}{% endif %}"
                       class="btn btn-success mb-5 mb-xl-0 btn-block-xs track-data"
                       data-event-url="{{ home_contents_funnel }}{% if utms %}?{{ utms }}{% endif %}"
                       data-event="get-a-quote"
                       data-event-type="click"
                       data-event-location="home-contents">
                       Get a quote
                    </a>
                    <div class="d-xl-flex align-items-xl-center">
                        <span class="text-white mr-xl-2">In partnership with:</span>
                        <img src="{{ cdn_url }}/images/onexone.png"
                            data-src="{{ cdn_url }}/images/rebrand/partnerships/so-sure_{{ partner }}_logo.svg" alt="{{ partner }} Logo"
                            title="{{ partner }}"
                            width="260px" class="lozad">
                    </div>
                </div>
                <div class="col-sm-8 offset-sm-2 col-xl-6 offset-xl-0 order-xl-1">
                    <div class="hero-image">
                        <picture class="lozad">
                            <source srcset="{{ cdn_url }}/images/rebrand/hero-images/so-sure_hero_image_desktop_large_contents.png" media="(min-width: 1200px)">
                            <source srcset="{{ cdn_url }}/images/rebrand/hero-images/so-sure_hero_image_desktop_contents.png" media="(min-width: 992px) and (max-width: 1199px)">
                            <source srcset="{{ cdn_url }}/images/rebrand/hero-images/so-sure_hero_image_mobile_contents.png" media="(min-width: 320px) and (max-width: 991px)">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Cred #}
    {% include 'AppBundle::Default/CommonSections/_cred.html.twig' %}

    <section class="home-contents pb-lg-5">
        <div class="container-large py-5">
            <div class="cardbox no-box-shadow cardbox-100">
                <div class="cardbox__body p-lg-5">
                    <h2 class="h3 text-primary text-center mb-5">Included in our standard cover</h2>
                    <div class="more-information-items">
                        <div class="more-information-item">
                            <img
                                src="{{ cdn_url }}/images/onexone.png"
                                data-src="{{ cdn_url }}/images/rebrand/home-contents/funnel/fire-and-smoke.svg"
                                alt="Fire and smoke"
                                class="more-information-item-icon lozad"
                                loading="lazy"
                            />
                            <span>Fire and smoke</span>
                        </div>
                        <div class="more-information-item">
                            <img
                                src="{{ cdn_url }}/images/onexone.png"
                                data-src="{{ cdn_url }}/images/rebrand/home-contents/funnel/theft-and-vandalism.svg"
                                alt="Theft and vandalism"
                                class="more-information-item-icon lozad"
                                loading="lazy"
                            />
                            <span>Theft and vandalism</span>
                        </div>
                        <div class="more-information-item">
                            <img
                                src="{{ cdn_url }}/images/onexone.png"
                                data-src="{{ cdn_url }}/images/rebrand/home-contents/funnel/storms-and-flood.svg"
                                alt="Storms and flood"
                                class="more-information-item-icon lozad"
                                loading="lazy"
                            />
                            <span>Storms and flood</span>
                        </div>
                        <div class="more-information-item">
                            <img
                                src="{{ cdn_url }}/images/onexone.png"
                                data-src="{{ cdn_url }}/images/rebrand/home-contents/funnel/property-rent.svg"
                                alt="Tenants liability"
                                class="more-information-item-icon lozad"
                                loading="lazy"
                            />
                            <span>Tenants liability</span>
                        </div>
                        <div class="more-information-item">
                            <img
                                src="{{ cdn_url }}/images/onexone.png"
                                data-src="{{ cdn_url }}/images/rebrand/home-contents/funnel/public-and-personal-liability.svg"
                                alt="Public and personal liability"
                                class="more-information-item-icon lozad"
                                loading="lazy"
                            />
                            <span>Public and personal liability</span>
                        </div>
                        <div class="more-information-item">
                            <img
                                src="{{ cdn_url }}/images/onexone.png"
                                data-src="{{ cdn_url }}/images/rebrand/home-contents/funnel/property-flat.svg"
                                alt="Alternative accomodation"
                                class="more-information-item-icon lozad"
                                loading="lazy"
                            />
                            <span>Alternative accomodation</span>
                        </div>
                        <div class="more-information-item">
                            <img
                                src="{{ cdn_url }}/images/onexone.png"
                                data-src="{{ cdn_url }}/images/rebrand/home-contents/funnel/items-in-gardens-and-shared-areas.svg"
                                alt="Items in gardens and shared areas"
                                class="more-information-item-icon lozad"
                                loading="lazy"
                            />
                            <span>Items in gardens and shared areas</span>
                        </div>
                        <div class="more-information-item">
                            <img
                                src="{{ cdn_url }}/images/onexone.png"
                                data-src="{{ cdn_url }}/images/rebrand/home-contents/funnel/freezer-goods.svg"
                                alt="Freezer goods"
                                class="more-information-item-icon lozad"
                                loading="lazy"
                            />
                            <span>Freezer goods</span>
                        </div>
                        <div class="more-information-item">
                            <img
                                src="{{ cdn_url }}/images/onexone.png"
                                data-src="{{ cdn_url }}/images/rebrand/home-contents/funnel/household-leaks.svg"
                                alt="Household leaks"
                                class="more-information-item-icon lozad"
                                loading="lazy"
                            />
                            <span>Household leaks</span>
                        </div>
                    </div>
                    <hr class="my-5" />
                    <div class="h4 text-zaffre text-center mb-5">Optional cover</div>
                    <div class="more-information-items">
                        <div class="more-information-item optional">
                            <img
                                src="{{ cdn_url }}/images/onexone.png"
                                data-src="{{ cdn_url }}/images/rebrand/home-contents/funnel/accidental-damage.svg"
                                alt="Accidental damage"
                                class="more-information-item-icon lozad"
                                loading="lazy"
                            />
                            <span>Accidental damage</span>
                        </div>
                        <div class="more-information-item optional">
                            <img
                                src="{{ cdn_url }}/images/onexone.png"
                                data-src="{{ cdn_url }}/images/rebrand/home-contents/funnel/out-of-home.svg"
                                alt="Out of home"
                                class="more-information-item-icon lozad"
                                loading="lazy"
                            />
                            <span>Out of home</span>
                        </div>
                        <div class="more-information-item optional">
                            <img
                                src="{{ cdn_url }}/images/onexone.png"
                                data-src="{{ cdn_url }}/images/rebrand/home-contents/funnel/pet-insurance.svg"
                                alt="Pet insurance"
                                class="more-information-item-icon lozad"
                                loading="lazy"
                            />
                            <span>Pet insurance</span>
                        </div>
                        <div class="more-information-item optional">
                            <img
                                src="{{ cdn_url }}/images/onexone.png"
                                data-src="{{ cdn_url }}/images/rebrand/home-contents/funnel/business-equipment.svg"
                                alt="Business equipment"
                                class="more-information-item-icon lozad"
                                loading="lazy"
                            />
                            <span>Business equipment</span>
                        </div>
                        <div class="more-information-item optional">
                            <img
                                src="{{ cdn_url }}/images/onexone.png"
                                data-src="{{ cdn_url }}/images/rebrand/home-contents/funnel/bicycles.svg"
                                alt="Bicycles"
                                class="more-information-item-iconlozad"
                                loading="lazy"
                            />
                            <span>Bicycles (coming soon)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="vid-sure py-lg-5">
        <div class="container-large py-5">
            <h2 class="h3 text-primary mb-4">Get covered in 3 simple steps</h2>
            <div class="row align-items-lg-center mb-3">
                <div class="col-lg-7">
                    <div class="timeline">
                        <div class="timeline-block timeline-block-white-blue">
                            <div class="timeline-point">1</div>
                            <div class="timeline-content">
                                <div class="h5 text-primary">Give us a few details</div>
                                <p>Tell us a bit about yourself, where you live and items you want to insure. We don’t waste your time with irrelevant questions and long forms so you can get insured in seconds.</p>
                            </div>
                        </div>
                        <div class="timeline-block timeline-block-white-blue">
                            <div class="timeline-point">2</div>
                            <div class="timeline-content">
                                <div class="h5 text-primary">Personalise your package</div>
                                <p>Completely configurable to your needs – don’t pay for what you don’t want!</p>
                            </div>
                        </div>
                        <div class="timeline-block timeline-block-white-blue">
                            <div class="timeline-point">3</div>
                            <div class="timeline-content">
                                <div class="h5 text-primary">That’s it. You’re covered</div>
                                <p>You can change your policy at no charge and cancel any time for free.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                    <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_website_phone_contents_large.png" alt="SO-SURE Home Contents Website" width="" class="img-fluid lozad">
                </div>
            </div>
            <a href="{{ home_contents_funnel }}{% if utms %}?{{ utms }}{% endif %}"
                class="btn btn-success btn-block-xs track-data"
                data-event-url="{{ home_contents_funnel }}{% if utms %}?{{ utms }}{% endif %}"
                data-event="get-a-quote"
                data-event-type="click"
                data-event-location="home-contents">
                Get a quote
            </a>
        </div>
    </section>

    {% include 'AppBundle::Components/_reviews.html.twig' %}

    <section class="home-contents-compare py-lg-5">
        <div class="container-large py-5">
            <h2 class="h3 text-primary mb-4">How do we compare?</h2>
            <div class="d-md-flex">
                <div class="cardbox cardbox-100 mb-4 mr-md-3 mr-lg-4">
                    <div class="cardbox__body text-left p-lg-5">
                        <h3 class="h4 mb-4">SO-SURE 👍</h3>
                        <ul class="list-unstyled icn-fa-list">
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                Renewal price freeze promise
                            </li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                No hidden fees or costs (including cancellation fees)
                            </li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                No sneaky compulsory excess - just pay what you choose
                            </li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                No extra charges for expensive items - price transparency
                            <li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                Configure your policy to your needs
                            <li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                Super fast and easy to set up so you get insured In minutes
                            <li>
                            <li class="mb-3">
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                Cashback if you don’t claim
                            <li>
                            <li>
                                <i class="far fa-check fa-lg fa-fw text-success"></i>
                                Claims resolved quickly and easily
                            <li>
                        </ul>
                    </div>
                </div>
                <div class="cardbox cardbox-100 mb-4">
                    <div class="cardbox__body text-left p-lg-5">
                        <h3 class="h4 mb-4">Traditional insurer* 👎</h3>
                        <ul class="list-unstyled icn-fa-list">
                            <li class="mb-3">
                                <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                Price increases every year, often more than 25%, even if you have never claim
                            </li>
                            <li class="mb-3">
                                <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                Cancellation fees are common and are often £30 or more, while changing something on your policy is often £10 or more
                            </li>
                            <li class="mb-3">
                                <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                Impose additional ‘compulsory excess’ above what you select and further excess for claims like escape of water (which can be a £400+ penalty)
                            </li>
                            <li class="mb-3">
                                <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                Extra charges as soon as you add your laptop or jewellery
                            </li>
                            <li class="mb-3">
                                <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                One size fits all policies that contain cover you don’t need
                            </li>
                            <li class="mb-3">
                                <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                Ask irrelevant questions or questions you don’t know how to answer
                            </li>
                            <li class="mb-3">
                                <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                Give you nothing if you don’t claim
                            </li>
                            <li>
                                <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                Do everything they can not to pay claims
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <p class="text-muted"><small>*Based on a sample of UK insurance providers; these may not apply for every insurer</small></p>
            <a href="{{ home_contents_funnel }}{% if utms %}?{{ utms }}{% endif %}"
                class="btn btn-success btn-block-xs track-data"
                data-event-url="{{ home_contents_funnel }}{% if utms %}?{{ utms }}{% endif %}"
                data-event="get-a-quote"
                data-event-type="click"
                data-event-location="home-contents">
                Get a quote
            </a>
        </div>
    </section>

    <section class="home-contents py-lg-5">
        <div class="container-large py-5">
            <h2 class="h3 text-primary mb-4">Win-Win Contents Insurance</h2>
            <p class="mb-4">Quick and easy if you need us — money back if you don’t.</p>
            <div class="d-md-flex justify-content-between px-lg-5 py-lg-2">
                <div class="card mr-5 mb-4 w-100">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_contents_one.jpg"
                         class="lozad card-img-top"
                         alt="Upfront agreed">
                    <div class="card-body py-4 text-center">
                        <h3 class="h5 text-primary card-title">Smart Savings</h3>
                        <p class="card-text">Peace of mind that won't break the bank. Enjoy a low monthly price and excess from only £50.</p>
                    </div>
                </div>
                <div class="card mr-5 mb-4 w-100">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_contents_three.jpg"
                         class="lozad card-img-top"
                         alt="Reward Pot">
                    <div class="card-body py-4 text-center">
                        <h3 class="h5 text-primary card-title">Super Fast Claims</h3>
                        <p class="card-text">No more waiting around. The majority of claims will be sorted within 72 hours.</p>
                    </div>
                </div>
                <div class="card mb-4 w-100">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_contents_two.jpg"
                         class="lozad card-img-top"
                         alt="Money Back">
                    <div class="card-body py-4 text-center">
                        <h3 class="h5 text-primary card-title">Up to 40% Money Back</h3>
                        <p class="card-text">Connect with friends and get rewarded every year when you and your connections don't claim.</p>
                    </div>
                </div>
            </div>
            <a href="{{ home_contents_funnel }}{% if utms %}?{{ utms }}{% endif %}"
               class="btn btn-success mb-5 btn-block-xs track-data"
               data-event-url="{{ home_contents_funnel }}{% if utms %}?{{ utms }}{% endif %}"
               data-event="get-a-quote"
               data-event-type="click"
               data-event-location="home-contents">
                Get a quote
            </a>
        </div>
    </section>

    <section class="vid-sure-cont py-lg-5">
        <div class="container-large py-5">
            <h2 class="h3 text-white mb-4">See Our App In Action</h2>
            <p class="text-white mb-4">Effortlessly build your contents inventory with just a few taps.<br class="d-none d-md-inline"> Capture everything, from your fancy new laptop to the food in your freezer.</p>
            <div class="row">
                <div class="col-lg-4 d-none d-lg-block">
                    <ul class="list-unstyled text-right vid-sure-cont-list">
                        <li class="right">
                            <h3 class="h5 text-white">Ski equipment and gear</h3>
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_ski-icon.svg" alt="Ski equipment and gear icon" width="50px" class="ml-3 lozad">
                        </li>
                        <li class="right">
                            <h3 class="h5 text-white">Laptops, tablets, desktops</h3>
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_desktop-icon.svg" alt="Laptops, tablets, desktops icon" width="50px" class="ml-3 lozad">
                        </li>
                        <li class="right">
                            <h3 class="h5 text-white">Your sofa and armchairs</h3>
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_sofa-icon.svg" alt="Sofa icon" width="50px" class="ml-3 lozad">
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="vid-sure-video-tour">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_video-tour-frame.png"
                             class="vid-sure-video-tour-frame lozad">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_video-tour-framed.gif"
                             class="vid-sure-video-tour-video lozad">
                    </div>
                </div>
                <div class="col-lg-4 d-none d-lg-block">
                    <ul class="list-unstyled text-left vid-sure-cont-list">
                        <li class="left">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_bag-icon.svg" alt="Handbags icon" width="50px" class="mr-3 lozad">
                            <h3 class="h5 text-white">Your collection of handbags</h3>
                        </li>
                        </li>
                        <li class="left">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_food-icon.svg" alt="Food icon" width="50px" class="mr-3 lozad">
                            <h3 class="h5 text-white">The food inside your fridge</h3>
                        </li>
                        <li class="left">
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/home-contents/so-sure_china-icon.svg" alt="China icon" width="50px" class="mr-3 lozad">
                            <h3 class="h5 text-white">Nan's china set</h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    {{ encore_entry_script_tags('contents-insurance') }}
{% endblock %}
