{% form_theme picsureml_edit_form 'AppBundle:Form:fields.html.twig' %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        '@AppBundle/Resources/public/sass/page/picsureML.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
    {% stylesheets
        'components/Jcrop/Jcrop.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/Jcrop/Jcrop.min.js'
        '@PicsureMLBundle/Resources/public/js/picsureml/picsure-ml-annotate.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container">
    <a href="{{ path('admin_picsure_ml') }}">Back to Picsure ML</a>
    <h3>Image: {{ image.imagePath }}</h3>

    <div class="row">
        <div class="col-md-8">
            <div class="content-right">
                <div id="crop-interface" class="picsure-image-edit">
                {% if image.bucket == "policy.so-sure.com" %}
                    <img id="annotate" src="{{ path('admin_picsure_ml_image_policy', {'file': image.imagePath }) }}">
                {% elseif image.bucket == "picsure.so-sure.com" %}
                    <img id="annotate" src="{{ path('admin_picsure_ml_image_picsure', {'file': image.imagePath }) }}">
                {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="content-left">
                <div class="text-right">
                    {{ form_start(picsureml_edit_form) }}
                    <div class="form-group">
                        {{ form_widget(picsureml_edit_form.previous, {'label': 'Previous', 'attr': {'class': 'btn btn-success'}}) }}
                        {{ form_widget(picsureml_edit_form.save, {'label': 'Save', 'attr': {'class': 'btn btn-success'}}) }}
                        {{ form_widget(picsureml_edit_form.next, {'label': 'Next', 'attr': {'class': 'btn btn-success'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(picsureml_edit_form.label, 'Label:') }}
                        {{ form_widget(picsureml_edit_form.label) }}
                        {{ form_errors(picsureml_edit_form.label) }}
                    </div>
                    <br>
                    <h4>Annotations:</h4>
                    <div class="form-group">
                        {{ form_label(picsureml_edit_form.x) }}
                        {{ form_errors(picsureml_edit_form.x) }}
                        {{ form_widget(picsureml_edit_form.x) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(picsureml_edit_form.y) }}
                        {{ form_errors(picsureml_edit_form.y) }}
                        {{ form_widget(picsureml_edit_form.y) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(picsureml_edit_form.width) }}
                        {{ form_errors(picsureml_edit_form.width) }}
                        {{ form_widget(picsureml_edit_form.width) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(picsureml_edit_form.height) }}
                        {{ form_errors(picsureml_edit_form.height) }}
                        {{ form_widget(picsureml_edit_form.height) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(picsureml_edit_form.clear, {'label': 'Clear', 'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                    <br>
                    <div class="form-group">
                        {{ form_label(picsureml_edit_form.versions, 'Versions:') }}
                        {{ form_widget(picsureml_edit_form.versions) }}
                        {{ form_errors(picsureml_edit_form.versions) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(picsureml_edit_form.forDetection, {'label': '&nbsp;use for detection'}) }}
                        {{ form_errors(picsureml_edit_form.forDetection) }}
                    </div>
                    {{ form_end(picsureml_edit_form) }}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}