{% extends 'admin_claims_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        '@AppBundle/Resources/public/sass/page/picsureML.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container">
    <h3>
        Picsure Machine Learning
        {% if version %}
            - Version {{ version }}
        {% endif %}
        {% if label %}
            - {{ label|capitalize }}
        {% endif %}
    </h3>
    <p><strong>{{ n_images }} Images</strong> ({{ n_none_images }} None - {{ n_undamaged_images }} Undamaged - {{ n_invalid_images }} Invalid - {{ n_damaged_images }} Damaged)</p>
    <div class="bg-info text-center" style="border-radius: 10px; padding: 20px 20px 12px 20px; margin-bottom: 20px;">
        {{ form_start(picsureml_search_form) }}
        <div class="row">
            <div class="col-md-6">
                <div id="picsureml_search_form_version">
                    {{ form_label(picsureml_search_form.version) }}
                    {{ form_widget(picsureml_search_form.version) }}
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newVersionModal"><i class="fa fa-plus"></i> New version</button>
                </div>
                <div>
                    {{ form_widget(picsureml_search_form.label) }}
                </div>
            </div>
            <div class="col-md-4">
                <div id="picsureml_search_form_images_per_page">
                    {{ form_label(picsureml_search_form.images_per_page) }}
                    {{ form_widget(picsureml_search_form.images_per_page) }}
                </div>
                <div id="picsureml_search_form_for_detection">
                    {{ form_label(picsureml_search_form.forDetection) }}
                    {{ form_widget(picsureml_search_form.forDetection) }}
                </div>
            </div>
            <div class="col-md-2">
                {{ form_widget(picsureml_search_form.search, {'attr':{'class':'btn btn-info'}}) }}
            </div>
        </div>
        {{ form_end(picsureml_search_form) }}
    </div>

    <p style="text-align: center;"></p>

    {# 
    <div class="container-action">
        <button title="Sync images" type="button" class="btn btn-success picsure-ml-sync" data-token="{{ csrf_token('default') }}" data-active="{{ path('admin_picsure_ml_sync') }}">Sync images</button>
        <button title="Generate annotations" type="button" class="btn btn-success picsure-ml-annotate" data-token="{{ csrf_token('default') }}" data-active="{{ path('admin_picsure_ml_annotate') }}">Generate annotations</button>
    </div>
     #}

{% if images|length == 0 %}
    <h4>No images</h4>
{% else %}
    <div class="row">
    {% for image in images %}
        <div class="col-md-3">
            <div class="picsure-image">
                <a href="{{ path('admin_picsure_ml_edit', {'id': image.id }) }}">
                    {% if image.bucket == "policy.so-sure.com" %}
                        <img src="{{ path('admin_picsure_ml_image_policy', {'file': image.imagePath }) }}">
                    {% elseif image.bucket == "picsure.so-sure.com" %}
                        <img src="{{ path('admin_picsure_ml_image_picsure', {'file': image.imagePath }) }}">
                    {% endif %}
                    {% if image.label == "undamaged" %}
                        <span class="label label-success">Undamaged</span>
                    {% elseif image.label == "invalid" %}
                        <span class="label label-warning">Invalid</span>
                    {% elseif image.label == "damaged" %}
                        <span class="label label-danger">Damaged</span>
                    {% else %}
                        <span class="label label-default">None</span>
                    {% endif %}
                    {% if image.forDetection %}
                        <span class="label label-info"><i class="fa fa-check"></i></span>
                    {% endif %}
                </a>                
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
</div>

<div class="modal fade" id="newVersionModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        {{ form_start(picsureml_newversion_form) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New version</h4>
        <p>Choose an existing version to create this version from an older one or select None to create an empty version.</p>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="form-group col-sm-4">
                {{ form_label(picsureml_newversion_form.version, 'Version') }}
            </div>
            <div class="form-group col-sm-4">
                {{ form_errors(picsureml_newversion_form.version) }}
                {{ form_widget(picsureml_newversion_form.version) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group text-center col-sm-12" style="padding-top: 10px;">
                {{ form_widget(picsureml_newversion_form.add, {'label': 'Create New Version', 'attr': {'class': 'btn btn-warning'}}) }}
            </div>
        </div>
      </div>
        {{ form_end(picsureml_newversion_form) }}
    </div>
  </div>
</div>

{% if images.count > 0 %}
<div class="pagerfanta text-center">
    {{ pagerfanta(pager, 'twitter_bootstrap3') }}
</div>
{% endif %}

{% endblock %}