{% extends 'admin_claims_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        '@AppBundle/Resources/public/sass/page/picsureML.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#
    {% javascripts
        '@PicsureMLBundle/Resources/public/js/picsureml/picsure-ml.js'
    %}
    #}
    {% javascripts %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container">
    <h3>Picsure Machine Learning</h3>
    {# 
    <div class="container-action">
        <button title="Sync images" type="button" class="btn btn-success picsure-ml-sync" data-token="{{ csrf_token('default') }}" data-active="{{ path('admin_picsure_ml_sync') }}">Sync images</button>
        <button title="Generate annotations" type="button" class="btn btn-success picsure-ml-annotate" data-token="{{ csrf_token('default') }}" data-active="{{ path('admin_picsure_ml_annotate') }}">Generate annotations</button>
    </div>
     #}

{% if images|length == 0 %}
    <h4>No images</h4>
{% else %}
    <div class="row">
    {% for image in images %}
        <div class="picsure-image col-md-3 col-md-offset-1">
            <a href="{{ path('admin_picsure_ml_edit', {'id': image.id }) }}">
                <img src="{{ path('admin_picsure_ml_image', {'file': image.path }) }}">
                {% if image.label == "undamaged" %}
                    <span class="label label-success">Undamaged</span>
                {% elseif image.label == "invalid" %}
                    <span class="label label-warning">Invalid</span>
                {% elseif image.label == "damaged" %}
                    <span class="label label-danger">Damaged</span>
                {% endif %}
            </a>
        </div>
    {% endfor %}
    </div>
{% endif %}
</div>

{% if images.count > 0 %}
<div class="pagerfanta text-center">
    {{ pagerfanta(pager, 'twitter_bootstrap3') }}
</div>
{% endif %}

{% endblock %}