{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Missing cashback{% endblock %}
{% block body %}
	{{ macros.start_table() }}
	<h1>
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	</h1>
	<div style="font-size: 14px; text-align: left;">
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	   <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
        {{ cashback.policy.user.name }} has £{{ cashback.amount|number_format(2, '.', ',') }} due, but hasn't entered their bank details (90 days).<br><br>
	   </div>
	</div>
	{{ macros.end_table() }}
	{{ macros.email_button_table(url('admin_policy', {'id': cashback.policy.id}), "View Policy", "View Policy")}}
{% endblock %}
