{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Your SO-SURE cashback.{% endblock %}
{% block body %}
	{{ macros.start_table() }}
	<h1>
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	</h1>
	<div style="font-size: 14px; text-align: left;">
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	   <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
        Hi {{ cashback.policy.user.name }},<br><br>
		We tried to send your so-sure cashback of £{{ cashback.amount|number_format(2,'.',',') }} to the account you gave us. Unfortunately, we were unable to do so.
		<br><br>
		Please login to your account using the link below and update your details so we can re-send the cashback to you.
		<br><br>
        Best,<br>
        SO-SURE Team
	   </div>
	</div>
	{{ macros.end_table() }}
	{{ macros.email_button_table(withdraw_url, "Update my cashback details", "Update my cashback details")}}
{% endblock %}
