{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Your SO-SURE cashback.{% endblock %}
{% block body %}
	{{ macros.start_table() }}
	<h1>
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	</h1>
	<div style="font-size: 14px; text-align: left;">
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	   <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
        Hi {{ cashback.policy.user.name }},<br><br>
		Since you and your connections have taken a good care of your phones, you have become eligible for a £{{ cashback.amount|number_format(2,'.',',') }} so-sure cashback.
		<br><br>
		In order to transfer your cashback to you, we need your bank details. Please login to your account to securely provide us with this information.
		<br><br>
		Thank you for using so-sure.
		<br><br>
        Best,<br>
        SO-SURE Team
	   </div>
	</div>
	{{ macros.end_table() }}
	{{ macros.email_button_table(withdraw_url, "Add my bank details", "Add my bank details")}}
{% endblock %}
