<h3 class="mb-4">Daily Files</h3>

{% if files is defined %}
    {% if files|length == 0 %}
        <p class="mb-5">No files present</p>
    {% else %}
        <div class="table-responsive-sm mb-5">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>File name</th>
                        <th>Details</th>
                        <th>Submitted to BACS</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                        <tr>
                            <td>
                                {{ file.key }}
                                <a href="{{ path('admin_bacs_file', {'id': file.id }) }}"
                                   target="_blank"
                                   rel="noopener noreferrer">
                                   <i class="fas fa-file-download fa-fw"></i></a>
                                <a href="#"
                                   data-toggle="modal"
                                   data-target="#serialNumberModal"
                                   data-serial="{{ file.serialNumber }}"
                                   data-details-url="{{ path('admin_bacs_serial_number_details', {'serial': file.serialNumber} ) }}">
                                    {{ file.serialNumber }}</a>
                                <small>(Generated: {{  file.date|date('d M Y H:i', 'Europe/London')  }})</small>
                            </td>
                            <td>
                                {{ file.metadata|json_encode }}
                            </td>
                            <td>
                                {% if file.isActioned %}
                                    {{ file.status }}
                                    {% if file.status == 'submitted' %}
                                        <i class="fas fa-check fa-fw text-success"></i><br>
                                        {{  file.submittedDate|date('d M Y H:i', 'Europe/London')  }}
                                    {% elseif file.status == 'cancelled' %}
                                        <i class="fas fa-minus fa-fw text-danger"></i>
                                    {% endif %}
                                {% else %}
                                    <button title="Mark as submitted"
                                            type="button"
                                            class="btn btn-success btn-square btn-sm mb-1 mr-md-2 bacs-submit"
                                            data-token="{{ csrf_token('default') }}"
                                            data-bacs-action-url="{{ path('admin_bacs_submit', {'id': file.id}) }}">
                                            <i class="fas fa-check fa-fw"></i></button>
                                    <button title="Mark as cancelled"
                                            type="button"
                                            class="btn btn-danger btn-square btn-sm mb-1 mr-md-2 bacs-cancel"
                                            data-token="{{ csrf_token('default') }}"
                                            data-bacs-action-url="{{ path('admin_bacs_cancel', {'id': file.id}) }}">
                                            <i class="far fa-power-off"></i></button>
                                {% endif %}
                            </td>
                            <td>
                                <button class="btn btn-primary btn-square btn-sm mb-1 mr-md-2 bacs-serial-edit"
                                        data-serial-number="{{ file.serialNumber }}"
                                        data-serial-number-url="{{ path('admin_bacs_update_serial_number', {'id': file.id }) }}"
                                        data-toggle="modal"
                                        data-target="#editSerialNumberModal">
                                    <i class="fal fa-edit fa-fw"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endif %}
