<h3 class="mb-4">Indemnity Payments</h3>

{% if payments is defined %}
    {% if indemnity|length == 0 %}
        <p class="mb-5">No files present</p>
    {% else %}
        <div class="table-responsive-sm mb-5">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Status</th>
                        <th>Policy</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in indemnity if indemnity %}
                        <tr>
                            <td>
                                {{ payment.status }}
                                {% if payment.success %}
                                    <i class="fas fa-check fa-fw text-success"></i>
                                {% elseif payment.success is null %}
                                    <i class="fas fa-question fa-fw text-primary"></i>
                                {% else %}
                                    <i class="fas fa-minus fa-fw text-danger"></i>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('admin_policy', {'id': payment.policy.id}) }}">{{ payment.policy.user.name }}</a>
                            </td>
                            <td>
                                &pound;{{ payment.amount|number_format(2, '.', ',') }}
                            </td>
                            <td>
                                {% if payment.date %}
                                    {{ payment.date|date('d M Y', 'Europe/London') }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                    {%  endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endif %}

<hr>
