<h3 class="mb-4">Bacs Reports</h3>

{% if input is defined %}
    <h4 class="mb-4">Input Files <small>(confirmation of debit/credit)</small></h4>
    {% if input|length == 0 %}
        <p class="mb-5">No files present</p>
    {% else %}
        <div class="table-responsive-sm mb-5">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>File name</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in input %}
                        <tr>
                            <td>
                                {{ file.key }}
                                <a href="{{ path('admin_bacs_file', {'id': file.id }) }}"
                                   target="_blank"
                                   rel="noopener noreferrer">
                                   <i class="fas fa-file-download fa-fw"></i></a>
                            </td>
                            <td>
                                {{ file.metadata|json_encode }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <h4 class="mb-4">Auddis <small>(Direct debit setups)</small></h4>
    {% if auddis|length == 0 %}
        <p class="mb-5">No files present</p>
    {% else %}
        <div class="table-responsive-sm mb-5">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>File name</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in auddis %}
                        <tr>
                            <td>
                                {{ file.key }}
                                <a href="{{ path('admin_bacs_file', {'id': file.id }) }}"
                                   target="_blank"
                                   rel="noopener noreferrer">
                                   <i class="fas fa-file-download fa-fw"></i></a>
                            </td>
                            <td>
                                {{ file.metadata|json_encode }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <h4 class="mb-4">Addacs <small>(Direct debit cancellations)</small></h4>
    {% if addacs|length == 0 %}
        <p class="mb-5">No files present</p>
    {% else %}
        <div class="table-responsive-sm mb-5">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>File name</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in addacs %}
                        <tr>
                            <td>
                                {{ file.key }}
                                <a href="{{ path('admin_bacs_file', {'id': file.id }) }}"
                                   target="_blank"
                                   rel="noopener noreferrer">
                                   <i class="fas fa-file-download fa-fw"></i></a>
                            </td>
                            <td>
                                {{ file.metadata|json_encode }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <h4 class="mb-4">Arudd <small>(Direct debit failures after submission)</small></h4>
    {% if arudds|length == 0 %}
        <p class="mb-5">No files present</p>
    {% else %}
        <div class="table-responsive-sm mb-5">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>File name</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in arudds %}
                        <tr>
                            <td>
                                {{ file.key }}
                                <a href="{{ path('admin_bacs_file', {'id': file.id }) }}"
                                   target="_blank"
                                   rel="noopener noreferrer">
                                   <i class="fas fa-file-download fa-fw"></i></a>
                            </td>
                            <td>
                                {{ file.metadata|json_encode }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <h4 class="mb-4">DDIC <small>(Direct debit indemnity claims)</small></h4>
    {% if ddic|length == 0 %}
        <p class="mb-5">No files present</p>
    {% else %}
        <div class="table-responsive-sm mb-5">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>File name</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in ddic %}
                        <tr>
                            <td>
                                {{ file.key }}
                                <a href="{{ path('admin_bacs_file', {'id': file.id }) }}"
                                   target="_blank"
                                   rel="noopener noreferrer">
                                   <i class="fas fa-file-download fa-fw"></i></a>
                            </td>
                            <td>
                                {{ file.metadata|json_encode }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <h4 class="mb-4">Withdrawl <small>(Direct debit immediate failures)</small></h4>
    {% if withdrawal|length == 0 %}
        <p class="mb-5">No files present</p>
    {% else %}
        <div class="table-responsive-sm mb-5">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>File name</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in withdrawal %}
                        <tr>
                            <td>
                                {{ file.key }}
                                <a href="{{ path('admin_bacs_file', {'id': file.id }) }}"
                                   target="_blank"
                                   rel="noopener noreferrer">
                                   <i class="fas fa-file-download fa-fw"></i></a>
                            </td>
                            <td>
                                {{ file.metadata|json_encode }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endif %}
