{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Important information about your Reward Pot cashback.{% endblock %}
{% block body %}
	{{ macros.start_table() }}
	<h1>
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	</h1>
	<div style="font-size: 14px; text-align: left;">
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	   <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
        Hi {{ policy.user.name }},<br><br>
		Your so-sure Reward Pot value has been updated as you or one of your connections have made a claim with us.
		<br><br>
		The claim has been successful and you’ve helped your connection replace their device, however, that means that your Reward Pot has been reduced to £{{  policy.getAdjustedRewardPotPaymentAmount|number_format(2,'.',',') }}. 
		<br><br>
		As you have used your Reward Pot to discount your renewal policy, there is now an outstanding amount of £{{ additional_amount|number_format(2,'.',',') }} due on your renwal policy, which we have billed to your card on file.
		<br><br>
		{% if policy.premiumPlan == 'monthly' %}
		 Additionally, as you are making monthly payments, we have adjusted your monthly bill to £{{ policy.premium.monthlyPremiumPrice|number_format(2, '.', ',') }} which is the standard premium for your {{ policy.phone }} without the reward pot discount.
		 <br><br>
		{% endif %}
        Changes in the Reward Pot values have been applied to all of the policyholders connected to this claimant.
		<br><br>
		If you have any further questions on this, please do not hesitate to contact us.
		<br><br>
        Best,<br>
        SO-SURE Team
	   </div>
	</div>
	{{ macros.end_table() }}
{% endblock %}
