{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'invite' %}
{% set robots_noindex = true %}
{% set small_footer = true %}

{% block title %}Win a &pound;200 amazon voucher! | so-sure{% endblock %}

{# Set Meta #}
{% set og_title = 'Win and save with so-sure!' %}
{% set og_description = "Hey, we could win £200 with mobile phone insurer so-sure. It’s super easy to enter!" %}
{% set og_image = cdn_url ~ '/images/rebrand/og/so-sure_og-image-1.png' %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/invite-competition.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="hero__illustration-desktop d-none d-xl-block">
            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/invite/so-sure_hand_holding_amazon_voucher_large.png" alt="Hand holding amazon voucher" class="lozad">
        </div>
        <div class="container-large">
            <div class="row">
                <div class="col-xl-6 offset-xl-6 text-center text-xl-left">
                    <h1 class="text-white fit mb-4">Win a &pound;200 amazon voucher</h1>
                    {% if scode is defined and scode and scode.policy %}
                        <p class="text-white lead"><strong>{{ scode.policy.user.firstname }}</strong> handpicked you for a chance to win a &pound;200 amazon voucher from <span class="text-nowrap">so-sure</span>. Don’t need mobile insurance right now? No problem, enter the draw anyway for a limited time only.</p>
                    {% elseif share_code is defined and share_code %}
                        <p class="text-white lead"><strong>Your friend</strong> handpicked you for a chance to win a &pound;200 amazon voucher from so-sure. Don’t need mobile insurance right now? No problem, enter the draw anyway for a limited time only.</p>
                    {% else %}
                        <p class="text-white lead"><strong>so-sure</strong> handpicked you for a chance to win a &pound;200 amazon voucher. Don’t need mobile insurance right now? No problem, enter the draw anyway for a limited time only.</p>
                    {% endif %}
                    <p class="mb-5"><a href="#"
                          class="text-white"
                          data-toggle="modal"
                          data-target="#page_terms"
                          role="button"><small><u>Terms &amp; Conditions</u></small></a></p>
                    <div class="d-md-flex justify-content-md-center justify-content-xl-start flex-nowrap">
                        <a href="#"
                           class="btn btn-success btn-block-xs track-data get-a-quote disabled order-md-2"
                           data-event="scode-hero-quote-btn{% if scode is defined and scode and scode.policy %}-{{ user_code }}{% elseif share_code is defined and share_code %}{{ share_code }}{% endif %}">
                           Get a Quote</a>
                        <a href="{{ path('enter_draw') }}"
                           class="btn btn-outline-deep-sky-blue-d btn-block-xs mr-md-3 order-md-1">
                            Enter Draw
                        </a>
                    </div>
                </div>
            </div>
            <div class="hero__illustration-mobile d-block d-xl-none pt-5">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/invite/so-sure_hand_holding_amazon_voucher_small.png" alt="Hand holding amazon voucher" class="lozad img-fluid">
            </div>
        </div>
    </section>

    <section class="how-it-works py-lg-5">
        <div class="container-large py-5">
            <h2 class="h3 mb-3 text-primary">How it works</h2>
            {% if scode is defined and scode and scode.policy %}
                <p class="mb-5 lead">As a friend of {{ scode.policy.user.firstname }} you have the chance to win a &pound;200 Amazon Voucher. <br class="d-none d-lg-inline"><strong>And</strong> we’re offering you a month free on your mobile insurance when you pay yearly.</p>
            {% elseif share_code is defined and share_code %}
                <p class="mb-5 lead">You have the chance to win a &pound;200 Amazon Voucher. <br class="d-none d-lg-inline"><strong>And</strong> we’re offering you a month free on your mobile insurance when you pay yearly.</p>
            {% else %}
                <p class="mb-5 lead">With so-sure you have the chance to win a &pound;200 Amazon Voucher. <br class="d-none d-lg-inline"><strong>And</strong> we’re offering you a month free on your mobile insurance when you pay yearly.</p>
            {% endif %}
            <div class="timeline d-lg-none mb-3">
                <div class="timeline-block timeline-block-complete">
                    <div class="timeline-point"><i class="far fa-check fa-lg fa-fw text-white"></i></div>
                    <div class="timeline-content">
                        <h3 class="h5 text-primary">Sign up with so-sure or take our quiz for a chance to win &pound;200</h3>
                    </div>
                </div>
                <div class="timeline-block timeline-block-complete">
                    <div class="timeline-point"><i class="far fa-check fa-lg fa-fw text-white"></i></div>
                    <div class="timeline-content">
                        <h3 class="h5 text-primary">Share your personal referral code to get more entries into the prize draw</h3>
                    </div>
                </div>
                <div class="timeline-block timeline-block-complete">
                    <div class="timeline-point"><i class="far fa-check fa-lg fa-fw text-white"></i></div>
                    <div class="timeline-content">
                        <h3 class="h5 text-primary">Once covered you can earn cash back when friends sign up and connect</h3>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block mb-5">
                <div class="row">
                    <div class="col-4 step">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_amazon-voucher.png" alt="Hand holding amazon voucher" width="180px" class="lozad mb-3">
                        <h3 class="h5 text-primary mb-2">Sign up with so-sure or take our quiz for a chance to win &pound;200</h3>
                    </div>
                    <div class="col-4 step">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="Happy Mobile Phone" width="180px" class="lozad mb-3">
                        <h3 class="h5 text-primary mb-2">Share your personal referral code to get more entries into the prize draw</h3>
                    </div>
                    <div class="col-4 step">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_friends-connect.png" alt="Friends having fun" width="180px" class="lozad mb-3">
                        <h3 class="h5 text-primary mb-2">Once covered you can earn cash back when friends sign up and connect</h3>
                    </div>
                </div>
            </div>
            <div class="d-sm-flex justify-content-sm-center">
                <a href="#"
                   class="btn btn-success btn-block-xs track-data get-a-quote disabled order-md-2"
                   data-event="scode-timeline-quote-btn{% if scode is defined and scode and scode.policy %}-{{ user_code }}{% endif %}">
                   Get a Quote</a>
                <a href="{{ path('enter_draw') }}"
                   class="btn btn-outline-primary btn-block-xs mr-md-3 order-md-1">
                    Enter Draw
                </a>
            </div>
        </div>
    </section>

    <section class="video d-flex align-items-center justify-content-center">
        <a href="#"
           data-toggle="modal"
           data-target="#sosure-video-modal"
           data-src="https://www.youtube.com/embed/rF6zxVRT5Fc"
           class="watch-video video__play">
            <img src="{{ cdn_url }}/images/onexone.png"
                 data-src="{{ cdn_url }}/images/rebrand/invite/so-sure_invite_reward_video_play_shadow.svg"
                 alt="Play buttonn"
                 class="lozad"
                 width="120px"></a>
        <img src="{{ cdn_url }}/images/onexone.png"
             data-src="{{ cdn_url }}/images/rebrand/video/so-sure_video_background_woman_swoosh.png"
             alt="Woman polaroid swoosh"
             class="lozad video-img">
    </section>

    <section id="knowledge_base" class="knowledge-base pb-lg-5">
        <div class="container pb-5">
            {% include 'AppBundle::Components/_knowledgeBase.html.twig' %}
        </div>
    </section>

    <section class="banner py-5">
        <div class="container-large">
            <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
                <div class="mb-4 mb-lg-0 d-lg-flex align-items-lg-center">
                    <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_app-icn.svg" class="d-none d-lg-inline mt-lg-2 lozad" alt="so-sure App Icon">
                    <div class="banner__text text-center text-lg-left ml-lg-4">
                        <h2 class="h4 text-white mb-0">Want to know more about so-sure mobile insurance?</h2>
                    </div>
                </div>
                <div class="banner__controls text-center text-lg-left">
                    <a href="{{ path('homepage') }}" class="btn btn-success btn-block-xs">Find out more</a>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}
    <div class="modal fade"
         id="page_terms"
         tabindex="-1" role="dialog"
         aria-labelledby="page_terms"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Win a &pound;200 amazon voucher
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Terms and conditions</h5>
                    <p>Anyone with an active policy who shares their referral code and who hasn't made a claim in the first 15 days of taking out the policy will be automatically entered into the draw to win a &pound;200 Amazon voucher. Additional entries can be gained with each additional share of the code.</p>
                    <p>Participants without a so-sure policy are allowed to enter the draw by sharing their personal sharing link. The share page is linked to the email address provided to so-sure by each participant. Additional entries can be gained with each additional share of the code.</p>
                    <p>The number of entries each participant gets into the draw is equal to the number of unique views their share page receives.</p>
                    <p>The winner will be picked at random from the entries and will be contacted personally. The draw will take place within 14 days of the competition closing and the winner's name will be made available on request.</p>
                    <p>There is no cash or other alternative to the publicised prize.</p>
                    <p>The promotion is valid from 31 January 2020 until 29 February 2020. After this date, no further entries will be permitted. so-sure reserves the right to cancel or amend the promotion and these terms and conditions without notice and at any time. The promotion cannot be used in conjunction with any other promotional offer.</p>
                    <p>so-sure reserves the right to disqualify any users suspected of manipulating the outcome of the draw. so-sure's decision in all matters to do with the competition are final and no correspondence will be entered into.</p>
                    <p>This promotion is open to UK residents over the age of 18 only. so-sure employees and their close friends or relatives may not enter.</p>
                    <p>By sharing your referral code, you agree to these terms and conditions.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/invite-competition.js') }}"></script>
{% endblock %}
