{% extends 'base.html.twig' %}

{# Set vars #}
{% set include_emoji = 1 %}
{% set white_logo = true %}

{% block title %}so-sure - Join today and we'll reward you!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/homepage.scss'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/vimeo-player-js/player.min.js'
    'components/typeahead.js/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/index.js'
    '@AppBundle/Resources/public/js/Default/modalVideo.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block meta %}
    <meta property="og:video" content="https://cdn.so-sure.com/video/explainer-subtitle-640.mp4" />
    <meta property="og:video:secure_url" content="https://cdn.so-sure.com/video/explainer-subtitle-640.mp4" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="640" />
    <meta property="og:video:height" content="360" />
{% endblock %}

{% block body %}

    <section id="scode" class="section--pad">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center text-white">
                        {% if scode is defined and scode and scode.policy %}
                            Insure your phone with {{scode.policy.user.name}}.
                        {% elseif scode is defined and scode and scode.reward %}
                            Insure your phone.
                            Signup and get a £{{ scode.reward.defaultValue|number_format(2, '.', ',') }} bonus added to your reward pot
                            from {{scode.reward.user.name}}.
                        {% else %}
                            Insure your phone.
                        {% endif %}
                        <br>
                        <span class="h2 text-white">Get up to 80% of your money back.</span>
                    </h1>
                    <p class="lead text-center text-white" id="hero-description">Introducing so-sure, a better kind of phone insurance that allows you to get up to 80% of your money back when you connect with those you trust &amp; none of you claim.</p>

                    <div class="text-center">{{ render(controller('AppBundle:Default:selectPhoneMake')) }}</div>

                </div>
            </div>
        </div>
    </section>

    {% include 'AppBundle::Default/press.html.twig' %}

    {% include 'AppBundle::Default/benefits.html.twig' %}

    {% include 'AppBundle::Default/howItWorksVideo.html.twig' %}

    {% include 'AppBundle::Default/feedbackQuotes.html.twig' %}


    <section class="press">
        <div class="container">
            <div class="col-sm-3 col-md-2 col-md-offset-3">
                <h4 class="footer-press--heading">
                    <strong><small>IN PARTNERSHIP WITH</small></strong>
                </h4>
            </div>
            <div class="col-sm-3 col-md-2">
                <img src="{{ cdn_url }}/images/munichre-logo.png" alt="Munich RE">
            </div>
            <div class="col-sm-3 col-md-2">
                <img src="{{ cdn_url }}/images/salva-logo.png" alt="Salva">
            </div>
        </div>
    </section>

    {# Page Modals #}

    {% include 'AppBundle::Default/modalVideo.html.twig' %}

    {% endblock %}
