{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/app/css/Default/claimHandling.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/tabs.js'
        '@AppBundle/Resources/public/js/Claims/phoneAlternativesModal.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container">
    <h2>{{policy.user.name }}'s Policy</h2>
    <div class="bg-warning" style="border-radius: 10px; padding: 20px; margin-bottom: 20px;">
        <p class="text-center"><strong>Run ClaimsCheck</strong></p>
        <p>
            ClaimsCheck should be run after the claim has been judged as valid as a final
            verification of the customer's actions as there is an assocated cost in running
            this check.
        </p>
        {{ form_start(formClaimsCheck) }}
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    {{ form_label(formClaimsCheck.claim, 'Claim to run against', {'label_attr': {'class': 'col-sm-4'}}) }}
                    {{ form_errors(formClaimsCheck.claim) }}
                    {{ form_widget(formClaimsCheck.claim, {'attr': {'class': 'col-sm-5'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    {{ form_label(formClaimsCheck.type, 'Type of claim', {'label_attr': {'class': 'col-sm-4'}}) }}
                    {{ form_errors(formClaimsCheck.type) }}
                    {{ form_widget(formClaimsCheck.type, {'attr': {'class': 'col-sm-4'}}) }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    {{ form_widget(formClaimsCheck.run, {'label': 'Run ClaimsCheck', 'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>
        </div>
        {{ form_end(formClaimsCheck) }}
    </div>
    <div class="bg-danger" style="border-radius: 10px; padding: 20px; margin-bottom: 20px;">
        <p class="text-center"><strong>Record Claim</strong></p>
        {{ form_start(formClaim) }}
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(formClaim.number, 'Claim Number', {'label_attr': {'class': 'col-sm-4'}}) }}
                            {{ form_errors(formClaim.number) }}
                            {{ form_widget(formClaim.number, {'attr': {'class': 'col-sm-3'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(formClaim.type, 'Claim Type', {'label_attr': {'class': 'col-sm-4'}}) }}
                            {{ form_errors(formClaim.type) }}
                            {{ form_widget(formClaim.type, {'attr': {'class': 'col-sm-3'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(formClaim.status, '', {'label_attr': {'class': 'col-sm-4'}}) }}
                            {{ form_errors(formClaim.status) }}
                            {{ form_widget(formClaim.status, {'attr': {'class': 'col-sm-3'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(formClaim.suspected_fraud, '', {'label_attr': {'class': 'col-sm-4'}}) }}
                            {{ form_errors(formClaim.suspected_fraud) }}
                            {{ form_widget(formClaim.suspected_fraud, {'attr': {'class': 'col-sm-3'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <i class="fa fa-question-circle" title="If the claim is declined/withdrawn and the phone is lost/stolen/or unusable"></i>
                            {{ form_label(formClaim.shouldCancelPolicy, '', {'label_attr': {'class': 'col-sm-4'}}) }}
                            {{ form_errors(formClaim.shouldCancelPolicy) }}
                            {{ form_widget(formClaim.shouldCancelPolicy, {'attr': {'class': 'col-sm-3'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5" style="border: solid 1px; border-radius: 5px;">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Optional Crime Ref Check</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(formClaim.force, '', {'label_attr': {'class': 'col-sm-4'}}) }}
                            {{ form_errors(formClaim.force) }}
                            {{ form_widget(formClaim.force, {'attr': {'class': 'col-sm-6'}}) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(formClaim.crime_ref, 'Crime Ref (Lost/Stolen)', {'label_attr': {'class': 'col-sm-4'}}) }}
                            {{ form_errors(formClaim.crime_ref) }}
                            {{ form_widget(formClaim.crime_ref, {'attr': {'class': 'col-sm-3'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 5px">
            <div class="col-md-8">
                <div class="form-group">
                    {{ form_label(formClaim.notes, '', {'label_attr': {'class': 'col-sm-2'}}) }}
                    {{ form_errors(formClaim.notes) }}
                    {{ form_widget(formClaim.notes, {'attr': {'class': 'col-sm-10'}}) }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    {{ form_widget(formClaim.record, {'label': 'Record claim', 'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>
        </div>
        {{ form_end(formClaim) }}
    </div>
    {% include 'AppBundle::Claims/claimsPolicyItem.html.twig' %}

</div>
{% endblock %}
