<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">Claim: {{ claim.number|default('N/A') }}</h4>

        <ul class="nav nav-pills" id="myTab" role="tablist">
            <li class="nav-item active">
                <a class="nav-link" id="general-tab" data-toggle="tab" href="#general" role="tab"
                   aria-controls="general"
                   aria-selected="true">General</a>
            </li>
            {% if claim.type == 'damage' %}
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#damage" role="tab"
                       aria-controls="damage"
                       aria-selected="false">Damage</a>
                </li>
            {% elseif claim.type == 'theft' or claim.type == 'loss' %}
                <li class="nav-item">
                    <a class="nav-link" id="theftloss-tab" data-toggle="tab" href="#theftloss" role="tab"
                       aria-controls="theftloss"
                       aria-selected="false">Theft/Loss</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab"
                   aria-controls="details"
                   aria-selected="false">Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="costs-tab" data-toggle="tab" href="#costs" role="tab"
                   aria-controls="amounts"
                   aria-selected="false">Costs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="update-tab" data-toggle="tab" href="#update" role="tab"
                   aria-controls="update"
                   aria-selected="false">Update</a>
            </li>
        </ul>
    </div>


    <div class="modal-body">
        <div class="tab-content" id="tab-content">
            <div class="tab-pane fade in active" id="general" role="tabpanel"
                 aria-labelledby="general-tab">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Policy</td>
                        <td>{{ claim.policyNumber|default('N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{ claim.type|default('') }}</td>
                    <tr>
                        <td>Status</td>

                        {% if claim.status == 'fnol' %}
                            <td class="text-warning" title="Claim not yet submitted to claims handler">
                                {{ claim.status|default('') }}
                                {{ claim.daviesStatus|default('') }}
                            </td>
                        {% else %}
                            <td>
                                {{ claim.status|default('') }}
                                {{ claim.daviesStatus|default('') }}
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Claim Handling Team</td>
                        <td>{{ claim.handlingTeam|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Number to reach</td>
                        <td>{{ claim.phoneToReach|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Time to reach</td>
                        <td>{{ claim.timeToReach|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Initial Suspicion</td>
                        <td>{{ claim.initialSuspicion|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Final Suspicion</td>
                        <td>{{ claim.finalSuspicion|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Incident Date</td>
                        <td>{{ (claim.incidentDate|date('d-m-Y'))|default('') }} at {{ claim.incidentTime|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Incident Location</td>
                        <td>{{ claim.location|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ claim.description|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Notes</td>
                        <td>{{ claim.notes|default('') }}</td>
                    </tr>
                </table>
            </div>

            {% if claim.type == 'damage' %}
                {% set documents = s3DownloadLinks(claimClass) %}
                <div class="tab-pane fade" id="damage" role="tabpanel" aria-labelledby="damage-tab">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td>Details</td>
                            {% if claim.typeDetails == 'other' %}
                                <td>{{ claim.typeDetailsOther|default('') }}</td>
                            {% else %}
                                <td>{{ claim.typeDetails|default('') }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Bought on</td>
                            <td>{{ claim.monthOfPurchase|default('') }} / {{ claim.yearOfPurchase|default('') }}</td>
                        </tr>
                        <tr>
                            <td>Condition</td>
                            <td>{{ claim.phoneStatus|default('') }}</td>
                        </tr>
                        <tr>
                            <td>Proof of usages</td>

                            {% if claim.needProofOfUsage %}

                                {% if documents %}

                                    {% if documents.proofOfUsages|length > 0 %}
                                        <td>
                                        {% for document in documents %}
                                            <p>
                                                {{ document.filename }}
                                                <img class="img-preview" src="{{ document.url }}"/>
                                                <a href="{{ document.url_download }}">
                                                    <i class="fa fa-download"></i>
                                                </a>
                                            </p>
                                        {% endfor %}
                                        </td>
                                    {% else %}
                                        <td>None uploaded yet</td>
                                    {% endif %}

                                {% endif %}

                            {% else %}
                                <td>Not Requested</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Pictures of phone</td>

                            {% if claim.needPictureOfPhone %}

                                {% if documents %}

                                    {% if documents.damagePictures|length > 0 %}
                                        <td>
                                            {% for document in documents %}
                                                <p>
                                                    {{ document.filename }}
                                                    <img class="img-preview" src="{{ document.url }}"/>
                                                    <a href="{{ document.url_download }}">
                                                        <i class="fa fa-download"></i>
                                                    </a>
                                                </p>
                                            {% endfor %}
                                        </td>
                                    {% else %}
                                        <td>None uploaded yet</td>
                                    {% endif %}

                                {% endif %}

                            {% else %}
                                <td>Not Requested</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Others</td>
                            {% if documents %}

                                {% if documents.others|length > 0 %}
                                    <td>
                                        {% for document in documents %}
                                            <p>
                                                {{ document.filename }}
                                                <img class="img-preview" src="{{ document.url }}"/>
                                                <a href="{{ document.url_download }}">
                                                    <i class="fa fa-download"></i>
                                                </a>
                                            </p>
                                        {% endfor %}
                                    </td>
                                {% else %}
                                    <td>None uploaded yet</td>
                                {% endif %}

                            {% endif %}
                        </tr>
                    </table>
                </div>
            {% elseif claim.type == 'theft' or claim.type == 'loss' %}
                {% set documents = s3DownloadLinks(claimClass) %}
                <div class="tab-pane fade" id="theftloss" role="tabpanel" aria-labelledby="theftloss-tab">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td>Contacted</td>
                            {% if claim.hasContacted %}
                                <td>{{ claim.contactedPlace }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Network</td>
                            <td>{{ claim.network|default('') }}</td>
                        </tr>
                        <tr>
                            <td>Blocked</td>
                            <td>{{ (claim.blockedDate|date('d-m-Y'))|default('') }}</td>
                        </tr>
                        <tr>
                            <td>Reported on</td>
                            <td>{{ (claim.reportedDate|date('d-m-Y'))|default('') }}</td>
                        </tr>
                        <tr>
                            <td>Reported to</td>
                            <td>{{ claim.reportType|default('') }}</td>
                        </tr>
                        <tr>
                            <td>Proof of usage</td>

                            {% if claim.needProofOfUsage %}

                                {% if documents %}

                                    {% if documents.proofOfUsages|length > 0 %}
                                        <td>
                                            {% for document in documents %}
                                                <p>
                                                    {{ document.filename }}
                                                    <img class="img-preview" src="{{ document.url }}"/>
                                                    <a href="{{ document.url_download }}">
                                                        <i class="fa fa-download"></i>
                                                    </a>
                                                </p>
                                            {% endfor %}
                                        </td>
                                    {% else %}
                                        <td>Not uploaded yet</td>
                                    {% endif %}

                                {% endif %}

                            {% else %}
                                <td>Not Requested</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Proof of barring</td>

                            {% if claim.needProofOfBarring %}

                                {% if documents %}

                                    {% if documents.proofOfBarrings|length > 0 %}
                                        <td>
                                            {% for document in documents %}
                                                <p>
                                                    {{ document.filename }}
                                                    <img class="img-preview" src="{{ document.url }}"/>
                                                    <a href="{{ document.url_download }}">
                                                        <i class="fa fa-download"></i>
                                                    </a>
                                                </p>
                                            {% endfor %}
                                        </td>
                                    {% else %}
                                        <td>Not uploaded yet</td>
                                    {% endif %}

                                {% endif %}

                            {% else %}
                                <td>Not Requested</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Proof of purchase</td>

                            {% if claim.needProofOfPurchase %}

                                {% if documents %}

                                    {% if documents.proofOfPurchases|length > 0 %}
                                        <td>
                                            {% for document in documents %}
                                                <p>
                                                    {{ document.filename }}
                                                    <img class="img-preview" src="{{ document.url }}"/>
                                                    <a href="{{ document.url_download }}">
                                                        <i class="fa fa-download"></i>
                                                    </a>
                                                </p>
                                            {% endfor %}
                                        </td>
                                    {% else %}
                                        <td>Not uploaded yet</td>
                                    {% endif %}

                                {% endif %}

                            {% else %}
                                <td>Not Requested</td>
                            {% endif %}
                        </tr>
                        {% if claim.type == "loss" %}
                        <tr>
                            <td>Proof of loss</td>

                            {% if claim.needProofOfLoss %}

                                {% if documents %}

                                    {% if documents.proofOfLosses|length > 0 %}
                                        <td>
                                            {% for document in documents %}
                                                <p>
                                                    {{ document.filename }}
                                                    <img class="img-preview" src="{{ document.url }}"/>
                                                    <a href="{{ document.url_download }}">
                                                        <i class="fa fa-download"></i>
                                                    </a>
                                                </p>
                                            {% endfor %}
                                        </td>
                                    {% else %}
                                        <td>Not uploaded yet</td>
                                    {% endif %}

                                {% endif %}

                            {% else %}
                                <td>Not Requested</td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Other</td>

                            {% if documents %}

                                {% if documents.others|length > 0 %}
                                    <td>
                                        {% for document in documents %}
                                            <p>
                                                {{ document.filename }}
                                                <img class="img-preview" src="{{ document.url }}"/>
                                                <a href="{{ document.url_download }}">
                                                    <i class="fa fa-download"></i>
                                                </a>
                                            </p>
                                        {% endfor %}
                                    </td>
                                {% else %}
                                    <td>None uploaded yet</td>
                                {% endif %}

                            {% endif %}
                        </tr>
                        <tr>
                            {% if claim.type == 'theft' %}
                                <td>Crime reference number</td>
                            {% else %}
                                <td>Police report</td>
                            {% endif %}

                            {% if claim.validCrimeRef %}
                                <td>{{ claim.crimeRef|default('') }} / {{ claim.force|default('') }}</td>
                            {% else %}
                                <td>
                                    <i class="fa fa-warning" title="Invalid crime reference"></i>
                                    {{ claim.crimeRef|default('') }} / {{ claim.force|default('') }}
                                </td>
                            {% endif %}
                        </tr>
                    </table>
                </div>
            {% endif %}

            <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Loss</td>
                        <td>{{ (claim.lossDate|date('d-m-Y'))|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Notification</td>
                        <td>{{ (claim.notificationDate|date('d-m-Y'))|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Recorded</td>
                        <td>{{ (claim.recordedDate|date('d-m-Y'))|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Submitted</td>
                        <td>{{ (claim.submittedDate|date('d-m-Y'))|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Approved</td>
                        <td>{{ (claim.approvedDate|date('d-m-Y'))|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Replacement Received</td>
                        <td>{{ (claim.replacementReceivedDate|date('d-m-Y'))|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Closed</td>
                        <td>{{ (claim.closedDate|date('d-m-Y'))|default('') }}</td>
                    </tr>
                </table>

                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Replacement IMEI</td>
                        {% if claim.validReplacementImei %}
                            <td>{{ claim.replacementImei|default('') }}</td>
                        {% else %}
                            <td>
                                <i class="fa fa-warning" title="Invalid IMEI Number (Luhn Failure)"></i>
                                <s>{{ claim.replacementImei|default('') }}</s>
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Replacement Phone Details
                        </td>
                        <td>{{ claim.replacementPhoneDetails|default('') }}</td>
                    </tr>
                    <tr>
                        <td>
                            Replacement phone
                        </td>
                        <td>{{ claim.force|default('') }}</td>

                        {% if phones is defined %}
                            <select disabled="disabled" name="replacement-phone" id="claims-detail-replacement-phone">
                                <option value="">-- Select a phone --</option>
                                {% for phone in phones %}
                                    <option value="{{ phone.id }}">{{ phone }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Insured phone</td>
                        <td>{{ claim.policyPhone|default('') }}</td>
                    </tr>
                </table>
            </div>

            <div class="tab-pane fade" id="costs" role="tabpanel" aria-labelledby="costs-tab">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Excess</td>
                        <td>{{ claim.excess|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Unauthorized Calls</td>
                        <td>{{ claim.unauthorizedCalls|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Accessories</td>
                        <td>{{ claim.accessories|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Phone Replacement Cost</td>
                        <td>{{ claim.phoneReplacementCost|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Transaction Fees</td>
                        <td>{{ claim.transactionFees|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Claim Handling Fees</td>
                        <td>{{ claim.claimHandlingFees|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Reserved</td>
                        <td>{{ claim.reservedValue|default('') }}</td>
                    </tr>
                    <tr>
                        <td>Total Incurred</td>
                        <td>{{ claim.totalIncurred|default('') }}</td>
                    </tr>
                </table>
            </div>

            <div class="tab-pane fade" id="update" role="tabpanel" aria-labelledby="update-tab">
                {{ form_start(form) }}
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Claim Number</td>
                        <td>{{ form_widget(form.number) }}</td>
                    </tr>

                    <tr>
                        <td>Type</td>
                        <td>{{ form_widget(form.type) }}</td>
                    </tr>

                    <tr>
                        <td>Replacement Phone</td>
                        <td>{{ form_widget(form.replacementPhone) }}</td>
                    </tr>

                    <tr>
                        <td>Approved Date</td>
                        <td>{{ form_widget(form.approvedDate) }}</td>
                    </tr>

                    <tr>
                        <td>Notes</td>
                        <td>{{ form_widget(form.notes) }}</td>
                    </tr>
                </table>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success">Save Changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</div>