<div id="claimPolicyItem">
    <div class="text-center" style="{% if policy.active %}background-color: {{ policy.riskColour }}; color: white;{% endif %} font-weight: bold; border-radius: 4px; margin-bottom: 20px; padding: 10px;">
      Risk: {{ policy.riskReason }} ({{ policy.risk|capitalize }} / <span style="{% if not policy.active %}color: {{policy.riskColour }}{% endif %}">{{ policy.getRiskColourText|capitalize }}</span>)
    </div>
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="active"><a href="#user">User</a></li>
      <li role="presentation"><a href="#policy">Policy</a></li>
      <li role="presentation"><a href="#claims">Claims <span class="badge" title="Number of claims">{{ (policy.claims|length + policy.linkedClaims|length) }}</span></a></li>
      <li role="presentation"><a href="#network">Network Claims <span class="badge" title="Number of network claims">{{ policy.networkClaims|length }}</span></a></li>
      <li role="presentation"><a href="#history">History</a></li>
      {% if is_granted('ROLE_EMPLOYEE') %}
        <li role="presentation"><a href="#admin">Admin</a></li>
      {% endif %}
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="policy">
            <div class="row">
                <div class="col-md-7">
                    <h2>
                        {% if policy.company %}
                            Company Policy
                        {% else %}
                            Standard Policy
                        {% endif %}
                    </h2>
                    <table class="table table-striped">
                        <tr>
                            <td>Policy Number</td>
                            <td>
                                {% if policy.policyNumber|length %}
                                    {{ policy.policyNumber }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                        </tr>
                        {% if policy.previousPolicy and policy.previousPolicy.policyNumber|length > 0 %}
                        <tr>
                            <td>Previous Policy Number</td>
                            <td>
                                <a href="{{ path(policy_route, {'id': policy.previousPolicy.id}) }}">{{ policy.previousPolicy.policyNumber }}</a>
                            </td>
                        </tr>
                        {% endif %}
                        {% if policy.nextPolicy and policy.nextPolicy.policyNumber|length > 0 %}
                        <tr>
                            <td>Next Policy Number</td>
                            <td>
                                    <a href="{{ path(policy_route, {'id': policy.nextPolicy.id}) }}">{{ policy.nextPolicy.policyNumber }}</a>
                            </td>
                        </tr>
                        {% endif %}
                        {% if policy.phone %}
                        <tr>
                            <td>Phone</td>
                            <td>{{ policy.phone }}&nbsp;
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#alternativeModal"
                                        data-query="{{ path('claims_phone_alternatives', {'id': policy.phone.id}) }}"
                                        data-phone="{{ policy.phone.toAlternativeArray()|json_encode }}"
                                        >Show Alternatives</button>

                            </td>
                        </tr>
                        <tr>
                            <td>Phone Warranty Status</td>
                            <td class="{% if policy.phone.underWarranty == 'likely'%}success{% elseif policy.phone.underWarranty == 'maybe'%}warning{% else %}danger{% endif %}">
                                Phone is {{ policy.phone.underWarranty }} under warranty. Warranty likely ends between {{ policy.phone.warrantyEarlist|date('M Y') }} and {{ policy.phone.warrantyLatest|date('M Y') }}.
                            </td>
                        </tr>
                        <tr>
                            <td>IMEI</td>
                            <td>{{ policy.imei }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                IMEI Circumvention
                            </td>
                            <td>
                                {% if policy.imeiCircumvention is null %}
                                    <span> Pre Anti-fraud check</span>
                                {% elseif policy.imeiCircumvention == true %}
                                    <span class="fa fa-exclamation-triangle"> Possible Fraud <span class="fa fa-exclamation-triangle"></span></span>
                                {% elseif policy.imeiCircumvention == false %}
                                    <span class="fa fa-thumbs-up"> No Fraud Detected <span class="fa fa-thumbs-up"></span></span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Policy Status</td>
                            <td>
                              {{ policy.status }} {% if not policy.isPolicy %}Pre-pending{% endif %}
                              {% if policy.cancelledReason %}
                                / {{ policy.cancelledReason }}
                              {% endif %}
                                {% if policy.getRequestedCancellationReason %}
                                    / {{ policy.getRequestedCancellationReason }}
                                {% endif %}
                            </td>
                        </tr>
                        {% if policy.isPolicy %}
                        <tr>
                            <td>Policy Dates</td>
                            <td>{{ policy.start | date('d M Y H:i', 'Europe/London') }} - {{ policy.end | date('d M Y H:i', 'Europe/London') }}</td>
                        </tr>
                        {% endif %}
                        {% if policy.isPolicy and policy.getFirstSuccessfulUserPaymentCredit %}
                        <tr>
                            <td>Policy Purchased via</td>
                            <td>
                                {{ policy.getFirstSuccessfulUserPaymentCredit.getSourceForClaims }}
                            </td>
                        </tr>
                        {% endif %}
                        {% if policy.isPolicy %}
                        <tr>
                            <td>Policy Payments</td>
                            <td>
                                {% if policy.premiumPlan == 'monthly' %}
                                Bill every month on <span title="{{ policy.billing|date('d M Y H:i', 'Europe/London') }}">{{ policy.billing|date('jS','Europe/London') }} @ {{ policy.billing|date('H:m','Europe/London') }}</span>.
                                {% endif %}
                                Paid £{{ policy.premiumPaid | number_format(2, '.', ',') }} of £{{ policy.premium.yearlyPremiumPrice| number_format(2, '.', ',') }}&nbsp;
                            (<span title="Successful payments credited to account">{{ policy.successfulPaymentCredits|length }} payment credited</span>
                            {% if policy.failedPaymentCredits|length > 0 %}
                            ; <i class="fa fa-warning">{{ policy.failedPaymentCredits|length }} failed charges
                            {% endif %}
                            )
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#paymentsModal"
                                            >Payments</button>

                            </td>
                        </tr>
                        {% endif %}
                        {% if policy.isPolicy %}
                        <tr>
                            <td>Policy Payment Status</td>
                            <td>
                                {% if policy.isPolicyPaidToDate %}
                                    <i class="fa fa-check text-success" title="Policy is paid to date"></i> Policy is paid to date
                                {% else %}
                                    <i class="fa fa-warning text-danger" title="Policy is NOT paid to date"></i>
                                    If still unpaid, policy will be cancelled on {{ policy.policyExpirationDate | date('d M Y H:i', 'Europe/London')}}
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if policy.isPolicy %}
                        <tr>
                            <td>Policy Installments</td>
                            <td>
                                {{ policy.premiumInstallmentCount }} installment(s) of £{{ policy.premiumInstallmentPrice| number_format(2, '.', ',') }}
                                {% if policy.hasPolicyDiscountPresent %}
                                    £{{ policy.premium.annualDiscount|number_format(2, '.', ',')}} discount applied for
                                    11 monthly payments of £{{ policy.premium.getAdjustedStandardMonthlyPremiumPrice|number_format(2, '.', ',')}}
                                    & 1 final monthly payment of £{{ policy.premium.getAdjustedFinalMonthlyPremiumPrice|number_format(2, '.', ',')}}
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if policy.hasCashback %}
                        <tr>
                            <td>Cashback</td>
                            <td>
                                £{{ policy.cashback.getDisplayableAmount| number_format(2, '.', ',') }} ({{policy.cashback.status}})
                            </td>
                        </tr>
                        {% endif %}
                        {% if policy.isPolicy and policy.payerOrUser.paymentMethod and
                            policy.payerOrUser.paymentMethod.getType == "judo" %}
                            <tr>
                                <td>Card</td>
                                <td class="{% if policy.payerOrUser.paymentMethod.isCardExpired %}danger{% endif %}">{{ policy.payerOrUser.paymentMethod }}</td>
                            </tr>
                        {% elseif policy.isPolicy and policy.payerOrUser.paymentMethod and
                            policy.payerOrUser.paymentMethod.getType == "bacs" %}
                            <tr>
                                <td>Bacs</td>
                                <td class="">
                                    {% if policy.payerOrUser.paymentMethod.bankAccount.isMandateInvalid %}
                                        <s>{{ policy.payerOrUser.paymentMethod }}</s>
                                    {% else %}
                                        {{ policy.payerOrUser.paymentMethod }}
                                    {% endif %}
                                    (Mandate: {{ policy.payerOrUser.paymentMethod.bankAccount.mandateStatus }})
                                    <br>
                                    Initial date: {{  policy.payerOrUser.paymentMethod.bankAccount.initialNotificationDate| date('d M Y')   }}
                                    <br>
                                    and then on the {{  policy.payerOrUser.paymentMethod.bankAccount.standardNotificationDate|date('jS')  }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if policy.payerOrUser.id != policy.user.id %}
                        <tr>
                            <td>Payer</td>
                            <td><a href="{{ path('admin_user', {'id': policy.payerOrUser.id }) }}">{{ policy.payerOrUser.name }}</a></td>
                        </tr>
                        {% endif %}
                        {% if is_granted('ROLE_EMPLOYEE')  %}
                        <tr>
                          <td>Policy Recipero Checks<br />
                            <strong>NOT CLAIMS RELATED</strong>
                          </td>
                          <td>
                            <ul>
                            {% for key, data in policy.checkmendCertsAsArray(false) if data['certId'] is defined %}
                                <li>
                                {% if data['certId'] == 'serial' or data['certId'] == 'register' %}
                                    <span title="{{ data['response']|json_encode }}" style="cursor: pointer;">{{ data['certId']|upper }}</span>
                                {% else %}
                                  <a href="https://www.checkmend.com/uk/verify/{{ data['certId'] }}" target="_blank" title="{{ data['response']|json_encode }}">{{ data['certId'] }}</a>
                                {% endif %}
                                (Ran on {{ key|date("F j, Y H:i", "Europe/London") }})</li>
                            {% endfor %}
                            {% if policy.checkmendCertsAsArray(false)|length == 0 %}
                              <li>Certs not present</li>
                            {% endif %}
                            </ul>
                          </td>
                        </tr>
                    {% endif %}
                        <tr>
                          <td>Recipero Checks (ClaimsCheck)
                            <i style="cursor: pointer" class="fa fa-clock-o" data-toggle="popover" data-placement="bottom" data-html="true"
                               title="Recipero Feed Timings" data-content="EE – On the hour, every hour<br />Vodafone – 9.30 am every day<br />O2 – 9.15am, 1.15pm, 5.15pm and 9.15pm<br />3 – 7.20am every day<br ><a href='https://en.wikipedia.org/wiki/List_of_United_Kingdom_mobile_virtual_network_operators' target='_blank'>MVNO's</a> should follow host network timings"></i>
                            <br /><strong>CLAIMS RELATED</strong>
                          </td>
                          <td>
                            <ul>
                            {% for key, data in policy.checkmendCertsAsArray(true) if data['certId'] is defined %}
                                <li>
                                    {# rnd hack to force page reload to adjust tabs #}
                                    Claim <a href="?rnd={{ random() }}#claim_{{ data['claimId'] }}">{{ data['claimNumber'] }}</a> against
                                {% if data['certId'] == 'serial' or data['certId'] == 'register' %}
                                    <span title="{{ data['response']|json_encode }}" style="cursor: pointer;">{{ data['certId']|upper }}</span>
                                {% else %}
                                  <a href="https://www.checkmend.com/uk/verify/{{ data['certId'] }}" target="_blank" title="{{ data['response']|json_encode }}">{{ data['certId'] }}</a>
                                {% endif %}
                                (Ran on {{ key|date("F j, Y H:i", "Europe/London") }})</li>
                            {% endfor %}
                            {% if policy.checkmendCertsAsArray(true)|length == 0 %}
                              <li>Certs not present</li>
                            {% endif %}
                            </ul>
                          </td>
                        </tr>
                        {% if is_granted('ROLE_EMPLOYEE')%}
                        <tr>
                            <td>
                                Manual Recipero Check
                            </td>
                            <td>
                                {{ form_start(receperio_form, {'attr': {'class': 'form-inline'}}) }}
                                {{ form_widget(receperio_form.rerun, {'label': 'Re-run check', 'attr': {'class': 'btn btn-danger confirm-imei-rerun'}}) }}
                                {{ form_end(receperio_form) }}
                              </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>
                                pic-sure Status
                            </td>
                            <td>
                                {% if policy.policyTerms.isPicSureEnabled %}
                                    {% if policy.picSureStatus %}{{ policy.picSureStatus }}{% else %}Not started{% endif %}
                                    {% if policy.getPicSureApprovedDate %}<br />Approved: {{ policy.getPicSureApprovedDate|date }}{% endif %}
                                {% else %}
                                    Non pic-sure policy
                                {% endif %}
                            </td>
                        </tr>
                        {% if policy.policyTerms.isPicSureEnabled %}
                        <tr>
                            <td>
                                pic-sure Locations
                            </td>
                            <td>
                                {% for location in policy.picsureLocations %}
                                    [{{ location.coordinates[1]}},{{ postcode.location.coordinates[0]}}] 
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                pic-sure Circumvention
                            </td>
                            <td>
                                {% if policy.picSureCircumvention is null %}
                                    <span> Pre Anti-fraud check</span>
                                {% elseif policy.picSureCircumvention == true %}
                                    <span class="fa fa-exclamation-triangle"> Possible Fraud (i.e. too many attempts to do pic-sure and imei upload was too long, check events in mixpanel) <span class="fa fa-exclamation-triangle"></span></span>
                                {% elseif policy.picSureCircumvention == false %}
                                    <span class="fa fa-thumbs-up"> No Fraud Detected <span class="fa fa-thumbs-up"></span></span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
                <div class="col-md-5">
                    <h2>Notes</h2>
                    {% for time,note in policy.notes %}
                        {% set note_decoded = note|json_decode() %}
                      <div class="row">
                        <b>{{ time|date }} by {{ note_decoded.name }}</b>
                      </div>
                      <div class="row">
                        {{ note_decoded.notes }}
                      </div>
                    {% endfor %}
                    <hr class="strong">
                    <div class="row">
                    {{ form_start(note_form)}}
                    {{ form_label(note_form.notes) }}
                    </div>
                    <div class="row">
                      <div class="form-group">
                        {{ form_widget(note_form.notes, {'attr': {'class': 'col-sm-12'}}) }}
                      </div>
                    </div>
                    <div class="row">
                        {{ form_widget(note_form.add, {'label': 'Add Note', 'attr': {'class': 'btn btn-success'}}) }}
                        {{ form_end(note_form) }}
                    </div>
                </div>
            </div>

                {% if policy.company %}
                <h3>Company</h3>
                <table class="table table-striped">
                    <tr>
                        <td>Name</td>
                        <td>{{ policy.company.name }}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{ policy.company.address }}</td>
                    </tr>
                    <tr>
                        <td>Policies</td>
                        <td>
                          <strong>{{ policy.company.policies|length }}</strong>&nbsp;:&nbsp;
                          {% for companyPolicy in policy.company.policies %}
                            <a href="{{ path(policy_route, {'id': companyPolicy.id }) }}">{{ companyPolicy.policyNumber }}</a>;
                          {% endfor %}
                        </td>
                    </tr>
                </table>
                {% endif %}

                {% if policy.isPolicy %}
                <h3>Pot</h3>
                <table class="table table-striped">
                    <tr>
                        <td>Invitations</td>
                        <td>{{ policy.invitations|length }}</td>
                    </tr>
                    <tr>
                        <td>Standard Connections</td>
                        <td>
                          <strong>{{ policy.standardConnections|length }}</strong>&nbsp;:&nbsp;
                          {% for connection in policy.standardConnections %}
                            <a href="{{ path(policy_route, {'id': connection.linkedPolicy.id }) }}">{{ connection.linkedUser.name }}</a>;
                          {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Reward Connections</td>
                        <td>
                          <strong>{{ policy.rewardConnections|length }}</strong>&nbsp;:&nbsp;
                          {% for connection in policy.rewardConnections %}
                            {{ connection.linkedUser.name }};
                          {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Current Pot Value</td>
                        <td>£{{ policy.potValue|number_format(2, '.', ',') }}</td>
                    </tr>
                    <tr>
                        <td>Current Pot Value</td>
                        <td>£{{ policy.potValue|number_format(2, '.', ',') }}</td>
                    </tr>
                </table>
                {% endif %}
                <h3>Anti Fraud Checks</h3>
                <table class="table table-striped">
                    <tr>
                        <td>Phone verified <i class="fa fa-info" title="User has logged into their account via a mobile phone - same make/model"></i></td>
                        <td>{% if policy.phoneVerified %}Yes{% elseif policy.phoneVerified is null %}Unknown{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Screen verified <i class="fa fa-info" title="User has sent in a photo which validates their screen was not damaged prior to policy taken out."></i></td>
                        <td>{% if policy.screenVerified %}Yes{% elseif policy.screenVerified is null %}Unknown{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Viewed phone damaged cancellation page</td>
                        <td>{% if policy.hasViewedCancellationPage %}{{ policy.getViewedCancellationPage|date }}{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <td>User Signup - Country of Ip</td>
                        <td>{{ fraud.signup_country }}</td>
                    </tr>
                    <tr>
                        <td>Other Users w/same signup ips</td>
                        <td>{{ fraud.duplicate_ip }}</td>
                    </tr>
                    <tr>
                        <td>Other Users w/same postcode</td>
                        <td>{% if fraud.duplicate_postcode %}{{ fraud.duplicate_postcode }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Other Users w/possibly same account details (for card: same last 4, type, exp date, for bacs: same details)</td>
                        <td>{{ fraud.duplicate_bank_accounts }}</td>
                    </tr>
                    <tr>
                        <td>IMEI belonged to different user</td>
                        <td>Not yet implemented</td>
                    </tr>
                    <tr>
                        <td>Network Cancellations</td>
                      <td>{{ fraud.network_cancellations }}</td>
                    </tr>
                </table>
                <h3>Files</h3>
                <table class="table table-striped">
                    {% for file in policy.policyFiles %}
                    <tr>
                        <td>{{ file.fileType }}</td>
                        <td><a href="{{ s3DownloadLink(file.bucket, file.key) }}">{{ file.fileName }}</a> (Generated {{ file.created|date }})</td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="claims">
            <h4>Claims</h4>
            {% if policy.claims|length > 0 %}
                <table class="table table-striped">
                    <tr>
                        <th>Date</th>
                        <th>Claims Number</th>
                        <th>Claims Type</th>
                        <th>Claims Status</th>
                        <th>Excess</th>
                        <th>Recipero Fees</th>
                        <th>Risk @ FNOL</th>
                        <th>CrimeRef</th>
                        <th>Flags</th>
                        <th>Notes</th>
                    </tr>
                    {% for claim in policy.claims %}
                    <tr>
                        <td style="width: 20%;">{{ claim.recordedDate|date }}</td>
                        <td style="width: 10%;" id="claim_{{ claim.id }}">
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#claimsModal"
                            data-claim='{{ claim.toModalArray|json_encode }}'>
                                {{ claim.number }}</button>
                        </td>
                        <td style="width: 10%;">{{ claim.type }}</td>
                        <td style="width: 10%;">{{ claim.status }}</td>
                        <td style="width: 10%;">£{{ claim.expectedExcess }}</td>
                        <td style="width: 10%;">£{{ claim.totalChargesWithVat|number_format(2, '.', ',') }}</td>
                        <td style="width: 10%;">{% if claim.fnolRisk %}{{ claim.fnolRisk }}{% else %}??{% endif %} / {% if claim.fnolRiskReason %}{{ claim.fnolRiskReason }}{% else %}??{% endif %}</td>
                        <td  style="width: 10%;" class="{% if claim.crimeRef|length > 0 %}{% if claim.validCrimeRef %}success{% elseif not claim.validCrimeRef %}danger{% endif %}{% endif %}">
                          {{ claim.crimeRef }}
                        </td>
                        <td style="width: 10%;" class="{% if claim.initialSuspicion or claim.finalSuspicion or claim.shouldCancelPolicy %}danger{% endif %}">
                            {% if claim.initialSuspicion %}Initial suspicion;{% endif %}
                            {% if claim.finalSuspicion %}Final suspicion;{% endif %}
                          {% if claim.shouldCancelPolicy %}Policy should be cancelled;{% endif %}
                        </td>
                        <td style="width: 20%;">{{ claim.notes }}
                            <button title="Edit notes" type="button" class="btn btn-primary"
                                    data-toggle="modal" data-target="#notesModal"
                                data-update="{{ path('claims_notes', {'id': claim.id}) }}"
                                data-notes="{{ claim.notes }}"><i class="fa fa-edit"></i></button>
                              {% if is_granted('ROLE_ADMIN') %}
                            <button title="Flags" type="button" class="btn btn-primary"
                                    data-toggle="modal" data-target="#flagsModal"
                                    data-flags="{{ claim.ignoreWarningFlags|json_encode }}"
                                    data-update="{{ path('admin_claim_flags', {'id': claim.id}) }}"
                            ><i class="fa fa-flag"></i></button>
                            <button title="Withdraw claim" type="button" class="btn btn-danger"
                                    data-toggle="modal" data-target="#withdrawModal"
                                    data-update="{{ path('admin_claim_withdraw', {'id': claim.id}) }}"
                            ><i class="fa fa-minus"></i></button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
            <h4>No claims</h4>
            {% endif %}
            <hr />
            <h4>Linked Claims (e.g. Policy Upgrade)</h4>
            {% if policy.linkedClaims|length > 0 %}
                <table class="table table-striped">
                    <tr>
                        <th>Date</th>
                        <th>Policy Number</th>
                        <th>Claims Number</th>
                        <th>Claims Type</th>
                        <th>Claims Status</th>
                        <th>Recipero Fees</th>
                        <th>Crime Ref</th>
                        <th>Flags</th>
                        <th>Notes</th>
                    </tr>
                    {% for claim in policy.linkedClaims %}
                    <tr>
                        <td style="width: 20%;">{{ claim.recordedDate|date }}</td>
                        <td style="width: 20%;"><a href="{{ path(policy_route, {'id':claim.policy.id}) }}">
                            {{ claim.policy.policyNumber }}
                        </a></td>
                        <td style="width: 10%;" id="claim_{{ claim.id }}">
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#claimsModal"
                            data-claim='{{ claim.toModalArray|json_encode }}'>
                                {{ claim.number }}</button>
                        </td>
                        <td style="width: 10%;">{{ claim.type }}</td>
                        <td style="width: 10%;">{{ claim.status }}</td>
                        <td style="width: 10%;">£{{ claim.totalChargesWithVat|number_format(2, '.', ',') }}</td>
                        <td  style="width: 10%;" class="{% if claim.crimeRef|length > 0 %}{% if claim.validCrimeRef %}success{% elseif not claim.validCrimeRef %}danger{% endif %}{% endif %}">
                          {{ claim.crimeRef }}
                        </td>
                        <td style="width: 10%;" class="{% if claim.initialSuspicion or claim.finalSuspicion or claim.shouldCancelPolicy %}danger{% endif %}">
                            {% if claim.initialSuspicion %}Initial Suspicion;{% endif %}
                          {% if claim.finalSuspicion %}Final Suspicion;{% endif %}
                          {% if claim.shouldCancelPolicy %}Policy should be cancelled;{% endif %}
                        </td>
                        <td style="width: 20%;">{{ claim.notes }}
                            <button title="Edit notes" type="button" class="btn btn-primary"
                                    data-toggle="modal" data-target="#notesModal"
                                data-update="{{ path('claims_notes', {'id': claim.id}) }}"
                                data-notes="{{ claim.notes }}"><i class="fa fa-edit"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
            <h4>No claims</h4>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="network">
            {% if policy.hasNetworkClaim %}
                <table class="table table-striped">
                    <tr>
                        <th>Date</th>
                        <th>Policy Number</th>
                        <th>Claims Number</th>
                        <th>Claims Type</th>
                        <th>Claims Status</th>
                        <th>Suspected Fraud</th>
                        <th>Notes</th>
                    </tr>
                    {% for claim in policy.networkClaims %}
                    <tr>
                        <td style="width: 20%;">{{ claim.recordedDate|date }}</td>
                        <td style="width: 10%;">{{ claim.number }}</td>
                        <td style="width: 10%;">{{ claim.type }}</td>
                        <td style="width: 10%;">{{ claim.status }}</td>
                        <td  style="width: 10%;" class="{% if claim.crimeRef|length > 0 %}{% if claim.validCrimeRef %}success{% elseif not claim.validCrimeRef %}danger{% endif %}{% endif %}">
                          {{ claim.crimeRef }}
                        </td>
                        <td style="width: 10%;" class="{% if claim.initialSuspicion or claim.finalSuspicion or claim.shouldCancelPolicy %}danger{% endif %}">
                            {% if claim.initialSuspicion %}Initial Suspicion;{% endif %}
                            {% if claim.finalSuspicion %}Final Suspicion;{% endif %}
                            {% if claim.shouldCancelPolicy %}Policy should be cancelled;{% endif %}
                        </td>
                        <td style="width: 30%;">{{ claim.notes }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
            <h4>No network claims</h4>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane active" id="user">
            <h2>Insured User</h2>
            <table class="table table-striped">
                <tr>
                    <td>User Id</td>
                    <td>{{ policy.user.id }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ policy.user.name }}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{ policy.user.gender }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ policy.user.email }}</td>
                </tr>
                <tr>
                    <td>Mobile</td>
                    <td>{{ policy.user.mobileNumber }}</td>
                </tr>
                <tr>
                    <td>Birthday</td>
                    <td>{{ policy.user.birthday | date('d M Y', 'Europe/London') }}</td>
                </tr>
                <tr>
                    <td>Billing Address</td>
                    <td>{{ policy.user.billingAddress }}</td>
                </tr>
                <tr>
                    <td>User Status</td>
                    <td>{% if policy.user.locked %}locked{% elseif policy.user.enabled %}enabled{% else %}disabled{%endif %}</td>
                </tr>
                <tr>
                    <td>Attribution</td>
                    <td>{{ policy.user.attribution }}</td>
                </tr>
                <tr>
                    <td>Latest Attribution</td>
                    <td>{{ policy.user.latestAttribution }}</td>
                </tr>
            </table>
            {% if policy.namedUser %}
            <h2>Additional Named User</h2>
            <table class="table table-striped">
                <tr>
                    <td>User Id</td>
                    <td>{{ policy.namedUser.id }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ policy.namedUser.name }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ policy.namedUser.email }}</td>
                </tr>
                <tr>
                    <td>Mobile</td>
                    <td>{{ policy.namedUser.mobileNumber }}</td>
                </tr>
            </table>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="history">
            {% if is_granted('ROLE_EMPLOYEE') %}
            <h3>Salva History</h3>
            <table>
                <tr>
                    <td>Salva Policy Numbers</td>
                    <td>
                        {% for key, value in policy.salvaPolicyNumbers %}
                            <ul>
                                {{ key }} - {{ value }}
                            </ul>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Salva Policy Results</td>
                    <td>
                        {% for key, value in policy.salvaPolicyResultsUnserialized %}
                            <ul>
                                {{ key }} - {{ value|json_encode }}
                            </ul>
                        {% endfor %}
                    </td>
                </tr>
            </table>
            {% endif %}
            <h3>User History</h3>
            <table>
            {% for item in user_history %}
              <tr>
                <td width="10%">{{ item.action }}</td>
                <td width="10%">{{ item.loggedAt|date }}</td>
                <td width="80%">
                  {% for key, value in item.data %}
                    {{ key }} => {{ value|json_encode }}<br />
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
            </table>
            {% if user_history|length == 0 %}
              <p>No history is present</p>
            {% endif %}
            <h3>Policy History</h3>
            <table>
            {% for item in policy_history %}
              <tr>
                <td width="10%">{{ item.action }}</td>
                <td width="10%">{{ item.loggedAt|date }}</td>
                <td width="80%">
                  {% for key, value in item.data %}
                    {{ key }} => {{ value|json_encode }}<br />
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
            </table>
            {% if policy_history|length == 0 %}
              <p>No history is present</p>
            {% endif %}
        </div>
      {% if is_granted('ROLE_EMPLOYEE') %}
        <div role="tabpanel" class="tab-pane" id="admin">
            <h3>Common Actions</h3>
            <table class="table table-striped">
                <tr>
                    <td>Billing day of month</td>
                    <td>
                        {% if policy.premiumPlan == 'monthly' %}
                            {{ form_start(billing_form, {'attr': {'class': 'form-inline'}}) }}
                            {{ form_widget(billing_form.day) }}
                            {{ form_widget(billing_form.update, {'label': 'Change billing date', 'attr': {'class': 'btn btn-danger confirm-usertoken-clear'}}) }}
                            {{ form_end(billing_form) }}
                            {% if not policy.isPolicyPaidToDate %}<strong>Policy must be paid to date before update is allowed</strong>{% endif %}
                        {% else %}
                            Policy either does not yet exist, or is an annual policy. Billing date change is not allowed.
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Regenerate Policy Terms & Schedule<br />(Name change, etc)
                    </td>
                    <td>
                        {{ form_start(regenerate_policy_schedule_form, {'attr': {'class': 'form-inline'}}) }}
                        {{ form_widget(regenerate_policy_schedule_form.regenerate, {'label': 'Regenerate', 'attr': {'class': 'btn btn-danger confirm-regenerate-schedule'}}) }}
                        {{ form_end(regenerate_policy_schedule_form) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Resend Policy Welcome Email
                    </td>
                    <td>
                        {{ form_start(resend_email_form, {'attr': {'class': 'form-inline'}}) }}
                        {{ form_widget(resend_email_form.resend, {'label': 'Resend Email', 'attr': {'class': 'btn btn-danger confirm-resend-email'}}) }}
                        {{ form_end(resend_email_form) }}
                      </td>
                </tr>
            </table>
            <h3>Photos</h3>
            <table class="table table-striped">
                <tr>
                    <td>Imei Screenshot Upload</td>
                    <td>
                        {{ form_start(imei_upload_form)}}
                        <div class="form-group">
                            {{ form_label(imei_upload_form.file, 'File') }}
                            {{ form_errors(imei_upload_form.file) }}
                            {{ form_widget(imei_upload_form.file) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(imei_upload_form.upload, {'attr': {'class': 'btn btn-success'}})}}<br>
                            <strong>Please verify that imei matches prior to uploading</strong>
                        </div>
                        {{ form_end(imei_upload_form)}}
                    </td>
                </tr>
                <tr>
                    <td>Screen Selfie Upload</td>
                    <td>
                        {{ form_start(screen_upload_form)}}
                        <div class="form-group">
                            {{ form_label(screen_upload_form.file, 'File') }}
                            {{ form_errors(screen_upload_form.file) }}
                            {{ form_widget(screen_upload_form.file) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(screen_upload_form.upload, {'attr': {'class': 'btn btn-success'}})}}<br>
                            <strong>Please verify that screen is not damaged and appears to match the phone type prior to uploading</strong>
                        </div>
                        {{ form_end(screen_upload_form)}}
                    </td>
                </tr>
                {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <td><i class="fa fa-lock" title="Admin only"></i> pic-sure</td>
                    <td>
                        {% if policy.policyTerms.isPicSureEnabled %}
                            Status: {% if policy.picSureStatus %}{{ policy.picSureStatus }}{% else %}Not started{% endif %}
                            {% if not policy.isPicSureValidated %}
                                {{ form_start(picsure_form)}}
                                {{ form_widget(picsure_form.approve, {'attr': {'class': 'btn btn-danger confirm-picsure'}})}}
                                {{ form_widget(picsure_form.preapprove, {'attr': {'class': 'btn btn-danger confirm-picsure'}})}}
                                {{ form_end(picsure_form)}}
                            {% endif %}
                        {% else %}
                            Non pic-sure policy
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            </table>
            <h3>Tokens</h3>
            <table class="table table-striped">
                <tr>
                    <td>Mobile User Token</td>
                    <td>
                        {% if policy.user.token %}
                            {% set len = policy.user.token|length %}
                            *******{{ policy.user.token|slice(len - 5, len - 1) }}
                        {% else %}
                            Not present
                        {% endif %}
                        {{ form_start(usertoken_form, {'attr': {'class': 'form-inline'}}) }}
                        {{ form_widget(usertoken_form.regenerate, {'label': 'Regenerate', 'attr': {'class': 'btn btn-danger confirm-usertoken-clear'}}) }}
                        {{ form_end(usertoken_form) }}
                        <strong>This will log the user out on their phone</strong>
                        <br>
                        <em>Warning: Android v1.4.4.3 and below will not logout properly. The user will see a generic error instead of being logged out</em>
                        <br>
                        Last Mobile Login:
                        {% if policy.user.latestMobileIdentityLog %}
                            {{ policy.user.latestMobileIdentityLog.date|date }}
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Facebook</td>
                    <td>
                      {% if policy.user.facebookId | length > 0 %}
                            <img src="https://graph.facebook.com/{{ policy.user.facebookId }}/picture" />
                            {{ policy.user.facebookId }}
                      {% else %}
                          Not present
                      {% endif %}
                      {{ form_start(facebook_form, {'attr': {'class': 'form-inline'}}) }}
                      {{ form_widget(facebook_form.clear, {'label': 'Clear', 'attr': {'class': 'btn btn-danger confirm-facebook-clear'}}) }}
                      {{ form_end(facebook_form) }}
                    </td>
                </tr>
            </table>
            <h3>Financial</h3>
            <table class="table table-striped">
                <tr>
                    <td>
                        Pay remainder of policy link
                    </td>
                    <td>
                        <div class="input-group">
                        <input name="remainder-link" id="remainder-link" readonly="readonly" type="text" class="form-control" value="{{ url('purchase_remainder_policy', {'id': policy.id })}}">
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-copy"
                                    data-clipboard-target="#remainder-link"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    >Copy</button>
                        </span>
                        </div>
                    </td>
                </tr>
                {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <td><i class="fa fa-lock" title="Admin only"></i> Debt Collection</td>
                    <td>
                        {% if policy.debtCollector %}
                            Debt Collector: {{ policy.debtCollector }}
                            <br>
                            Paid £{{ policy.premiumPaid | number_format(2, '.', ',') }} of £{{ policy.premium.yearlyPremiumPrice| number_format(2, '.', ',') }}
                        {% elseif policy.isCancelledAndPaymentOwed %}
                            {{ form_start(debt_form)}}
                            {{ form_widget(debt_form.debt, {'attr': {'class': 'btn btn-danger'}})}}
                            {{ form_end(debt_form)}}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-lock" title="Admin only"></i> Chargebacks</td>
                    <td>
                        {{ form_start(chargebacks_form, {'attr': {'class': 'form-inline'}}) }}
                        <div class="form-group">
                            {{ form_errors(chargebacks_form.chargeback) }}
                            {{ form_widget(chargebacks_form.chargeback) }}
                        </div>
                        {{ form_widget(chargebacks_form.add, {'Add': 'Update', 'attr': {'class': 'btn btn-danger confirm-chargeback'}}) }}
                        {{ form_end(chargebacks_form)}}
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-lock" title="Admin only"></i> Swap payment plan</td>
                    <td>
                        Currently: {{ policy.premiumPlan }}<br />
                        {% if policy.getPremiumPaid == 0 %}
                        {{ form_start(swap_payment_plan_form, {'attr': {'class': 'form-inline'}}) }}
                        {{ form_widget(swap_payment_plan_form.swap, {'Swap': 'Swap Payment Plan', 'attr': {'class': 'btn btn-danger confirm-swap-payment-plan'}}) }}
                        {{ form_end(swap_payment_plan_form)}}
                        {% else %}
                            Policy has already received payment - unable to swap.
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-lock" title="Admin only"></i> Pay Policy</td>
                    <td>
                        {% if not policy.user.paymentMethod %}
                            Missing payment method
                        {% elseif policy.user.paymentMethod.type != 'judo' %}
                            Non-Judo payment method
                        {% elseif not policy.user.hasValidDetails %}
                            Invalid user details (missing mobile number, address, or birthday)
                        {% elseif policy.status != null %}
                            Policy already has a status
                        {% else %}
                            {{ form_start(pay_policy_form, {'attr': {'class': 'form-inline'}}) }}
                            {{ form_widget(pay_policy_form.monthly, {'attr': {'class': 'btn btn-danger confirm-pay-policy'}}) }}
                            {{ form_widget(pay_policy_form.yearly, {'attr': {'class': 'btn btn-danger confirm-pay-policy'}}) }}
                            {{ form_end(pay_policy_form)}}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            </table>
            {% if is_granted('ROLE_ADMIN') %}
            <h3>Update Policy</h3>
            <table class="table table-striped">
                <tr>
                    <td><i class="fa fa-lock" title="Admin only"></i> Recipero Make/Model Check</td>
                    <td>{{ form_start(makemodel_form)}}
                        <span class="text-danger">
                        {{ form_errors(makemodel_form) }}
                        {{ form_errors(makemodel_form.imei) }}
                        {{ form_errors(makemodel_form.serialNumber) }}
                        </span>
                        {{ form_widget(makemodel_form.imei, {'attr': {'placeholder':'IMEI'}})}}
                        <br>-- or --<br>
                        {{ form_widget(makemodel_form.serialNumber, {'attr': {'placeholder':'Serial Number'}})}}
                        <br>
                        {{ form_widget(makemodel_form.check, {'attr': {'class': 'btn btn-info'}})}}
                        {{ form_end(makemodel_form)}}
                        <br>
                        £0.05 to run check
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-lock" title="Admin only"></i> Imei</td>
                    <td>
                      {{ form_start(imei_form, {'attr': {'class': 'form-inline'}}) }}
                      <div class="form-group">
                          {{ form_errors(imei_form.imei) }}
                          {{ form_widget(imei_form.imei) }}
                      </div>
                      {{ form_widget(imei_form.update, {'label': 'Update', 'attr': {'class': 'btn btn-danger confirm-imei-update'}}) }}
                      {{ form_end(imei_form) }}
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-lock" title="Admin only"></i> Phone</td>
                    <td>
                      {{ form_start(phone_form, {'attr': {'class': 'form-inline'}}) }}
                      <div class="form-group">
                          {{ form_errors(phone_form.phone) }}
                          {{ form_widget(phone_form.phone) }}
                      </div>
                      {{ form_widget(phone_form.next, {'label': 'Update', 'attr': {'class': 'btn btn-danger confirm-phone-update'}}) }}
                      {{ form_end(phone_form) }}
                    </td>
                </tr>
            </table>
            <h3>Company</h3>
            <table class="table table-striped">
                <tr>
                    <td><i class="fa fa-lock" title="Admin only"></i> Record BACS Payment</td>
                    <td>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#bacsModal"
                            >Record BACS Payment</button>
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-lock" title="Admin only"></i> Create Policy</td>
                    <td>Paid £{{ policy.premiumPaid | number_format(2, '.', ',') }} of £{{ policy.premium.yearlyPremiumPrice| number_format(2, '.', ',') }}
                    <br>(not necessarily bacs)<br>
                        {{ form_start(create_form)}}
                        {{ form_widget(create_form.create, {'attr': {'class': 'btn btn-danger'}})}}
                        {{ form_end(create_form)}}
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-lock" title="Admin only"></i> Connect Users</td>
                    <td>
                        {{ form_start(connect_form)}}
                        {{ form_widget(connect_form.email, {'attr': {'placeholder':'Email'}})}}
                        {{ form_widget(connect_form.connect, {'attr': {'class': 'btn btn-danger'}})}}<br>
                        <i>Email must exist and have a valid policy.</i>
                        {{ form_end(connect_form)}}
                    </td>
                </tr>
            </table>
            {% endif %}
        </div>
      {% endif %}
    </div>
    <div style="padding-bottom: 30px"></div>

    {% include 'AppBundle::Claims/phoneAlternativesModal.html.twig' %}

    <div class="modal fade" id="paymentsModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Payments</h4>
          </div>
          <div class="modal-body">

            <h4>Paid</h4>
            <table class="table table-striped">
              <tbody>
                  <tr>
                      <th>Type</th>
                      <th>Date</th>
                      <th>Amount</th>
                      <th>Status</th>
                  </tr>
                  {% for payment in policy.payments if payment.amount != 0 %}
                    <tr>
                        <td>
                            {% if payment.type == 'judo' %}
                                <i class="fa fa-credit-card" title="JudoPay"></i>
                            {% elseif payment.type == 'sosure' %}
                                <i class="fa fa-smile-o"" title="so-sure Credit/Debit"></i>
                            {% elseif payment.type == 'bacs' %}
                                <i class="fa fa-bank"" title="BACS"></i>
                            {% elseif payment.type == 'chargeback' %}
                                <i class="fa fa-reply"" title="Barclays Chargeback"></i>
                            {% elseif payment.type == 'potReward' %}
                                <i class="fa fa-gbp"" title="Pot Reward"></i>
                            {% elseif payment.type == 'sosurePotReward' %}
                                <i class="fa fa-gbp"" title="so-sure Pot Reward"></i>
                            {% else %}
                                <i class="fa fa-question" title="Type: {{ payment.type }}"></i>
                            {% endif %}
                            {% if payment.source == 'web' %}
                                <i class="fa fa-globe" title="Web Payment"></i>
                            {% elseif payment.source == 'mobile' %}
                                <i class="fa fa-mobile" title="Mobile Payment"></i>
                            {% elseif payment.source == 'token' %}
                                <i class="fa fa-gears" title="Token Payment"></i>
                            {% elseif payment.source == 'apple-pay' %}
                                <i class="fa fa-apple" title="Apple Payment"></i>
                            {% elseif payment.source == 'android-pay' %}
                                <i class="fa fa-android" title="Android Payment"></i>
                            {% elseif payment.source == 'sosure' %}
                                <i class="fa fa-exchange" title="so-sure Auto Payment (not scheduled)"></i>
                            {% elseif payment.source == 'system' %}
                                <i class="fa fa-exchange" title="so-sure Auto Payment (not scheduled)"></i>
                            {% elseif payment.source == 'admin' %}
                                <i class="fa fa-user-plus" title="so-sure Admin"></i>
                            {% elseif payment.source == 'bacs' %}
                                <i class="fa fa-bank" title="BACS"></i>
                            {% else %}
                                <i class="fa fa-question" title="Source: {{ payment.source }}"></i>
                            {% endif %}
                        </td>
                        <td>
                            {{ payment.date | date('d M Y H:i', 'Europe/London') }}
                        </td>
                        <td>
                            £{{ payment.amount | number_format(2, '.', ',') }}
                        </td>
                        <td>
                            {% if payment.isSuccess %}
                                <i class="fa fa-check text-success"></i>
                            {% elseif payment.isSuccess is null %}
                                <i class="fa clock-o text-warning" title="Pending payment result"></i>
                            {% else %}
                                <i class="fa fa-minus text-danger"></i>
                            {% endif %}
                            {%  if payment.status is defined and payment.status %}
                                ({{  payment.status }})
                            {% endif %}
                        </td>
                    </tr>
                  {% endfor %}
              </tbody>
            </table>
            <h4>Scheduled</h4>
            <table class="table table-striped">
              <tbody>
                  <tr>
                      <th>Type</th>
                      <th>Date</th>
                      <th>Amount</th>
                      <th>Status</th>
                  </tr>
                  {% for scheduledPayment in policy.scheduledPayments %}
                    <tr>
                        <td>
                            {% if scheduledPayment.type == 'scheduled' %}
                                <i class="fa fa-clock-o" title="Scheduled Payment"></i>
                            {% elseif scheduledPayment.type == 'rescheduled' %}
                                <i class="fa fa-refresh" title="Re-Scheduled Payment"></i>
                            {% else %}
                                {{ scheduledPayment.type }}
                            {% endif %}
                        </td>
                        <td>
                            {% if scheduledPayment.status == 'cancelled' %}<del>{% endif %}
                            {{ scheduledPayment.scheduled | date('d M Y H:i', 'Europe/London') }}
                            {% if scheduledPayment.status == 'cancelled' %}</del>{% endif %}
                        </td>
                        <td>
                            £{{ scheduledPayment.amount | number_format(2, '.', ',') }}
                        </td>
                        <td>
                            {{ scheduledPayment.status }}
                        </td>
                    </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

</div>

    <div class="modal fade" id="notesModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document" style="width: 60%;">
        <div class="modal-content">
        <form id="notes-update-form" class="form-horizontal" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Notes</h4>
          </div>
          <div class="modal-body">
            <textarea type="text" class="form-control" id="notes" name="notes" required="required"></textarea>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="token" value="{{ csrf_token('default') }}" />
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
        </div>
      </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="modal fade" id="flagsModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document" style="width: 60%;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Claim Ignore Flags</h4>
          </div>
            {{ form_start(formClaimFlags )}}
          <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {{ form_label(formClaimFlags.ignoreWarningFlags) }}
                        {{ form_errors(formClaimFlags.ignoreWarningFlags) }}
                        {{ form_widget(formClaimFlags.ignoreWarningFlags) }}
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
                {{ form_widget(formClaimFlags.update, {'label': 'Update Flags', 'attr': {'class': 'btn btn-success'}}) }}
          </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('flags') }}">
            {{ form_end(formClaimFlags )}}
        </div>
      </div>
    </div>
    {% endif %}

    {% include 'AppBundle::Claims/claimsModal.html.twig' with {'route': 'admin_policy', 'policyId': policy.id  } %}

    {% if is_granted('ROLE_ADMIN') %}
    <div class="modal fade" id="bacsModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document" style="width: 60%;">
        <div class="modal-content">
            {{ form_start(bacs_form )}}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Record Bacs Payment</h4>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {{ form_label(bacs_form.date) }}
                        {{ form_errors(bacs_form.date) }}
                        {{ form_widget(bacs_form.date) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(bacs_form.amount) }} (£{{ policy.premium.monthlyPremiumPrice| number_format(2, '.', ',') }} / £{{ policy.premium.yearlyPremiumPrice| number_format(2, '.', ',') }})
                        {{ form_errors(bacs_form.amount) }}
                        {{ form_widget(bacs_form.amount, {'attr': {'placeholder': 'Amount to credit policy'}}) }}
                        <strong>WARNING! - If not using a monthly or yearly amount, a manual addition to the bac payment commission in the database is required</strong>
                    </div>
                    <div class="form-group">
                        {{ form_label(bacs_form.reference) }}
                        {{ form_errors(bacs_form.reference) }}
                        {{ form_widget(bacs_form.reference) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(bacs_form.notes) }}
                        {{ form_errors(bacs_form.notes) }}
                        {{ form_widget(bacs_form.notes, {'attr': {'placeholder': 'Total amount of bacs transfer'}}) }}
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
                {{ form_widget(bacs_form.save, {'label': 'Save Payment', 'attr': {'class': 'btn btn-success'}}) }}
          </div>
            {{ form_end(bacs_form )}}
        </div>
      </div>
    </div>

    <div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document" style="width: 60%;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Withdraw Claim</h4>
          </div>
          <div class="modal-body">
            <h4>Claim should only be withdrawn if Davies has been contacted.</h4>
            <p>This is to allow for cancellation to occur.</p>
            <p><form id="withdraw-form" method="POST">
                <button type="submit" class="btn btn-danger">Withdraw claim</button>
                <input type="hidden" name="_token" value="{{ csrf_token('default') }}">
            </form></p>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    {% endif %}
