{% extends 'admin_claims_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/admin.scss'
    'components/viewerjs/viewer.min.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/clipboard/clipboard.min.js'
        '@AppBundle/Resources/public/js/tabs.js'
        'components/viewerjs/viewer.min.js'
        'components/jquery-viewer/jquery-viewer.min.js'
        '@AppBundle/Resources/public/js/Claims/phoneAlternativesModal.js'
        '@AppBundle/Resources/public/js/Claims/tabs.js'
        '@AppBundle/Resources/public/js/Claims/policy.js'
        '@AppBundle/Resources/public/js/Claims/claimsModal.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container"{% if not policy.isClaimable %}style="border:5px solid #ff6666;"{% endif %}>
    <h2>
        {% if is_granted('ROLE_EMPLOYEE') %}
            <a href="{{ path('admin_user', {'id': policy.user.id}) }}">{{policy.user.name }}</a>
        {% elseif is_granted('ROLE_CLAIMS') %}
            <a href="{{ path('claims_user', {'id': policy.user.id}) }}">{{policy.user.name }}</a>
        {% endif %}
        's Policy{% if policy.isEnded %} - {{ policy.status|upper }} POLICY{% endif %}</h2>
    {% if policy.claimsWarnings|length > 0 %}
    <div class="bg-danger" style="border-radius: 10px; padding: 20px; margin-bottom: 20px;">
        <h2 class="text-center">Caution - Any Items Below Must Be Considered/Handled Prior To Approval</h2>
        <ul>
            {% for warning in policy.claimsWarnings %}
                <li style="list-style: none">
                    <h3><i class="fa fa-warning"></i>  {{ warning }}</h3>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
  {% if policy.isClaimable %}
    <div class="bg-warning" style="border-radius: 10px; padding: 20px; margin-bottom: 20px;">
        <ul class="nav nav-tabs nav-justified">
          <li role="presentation" {% if not policy.hasOpenClaim or claim.type or app.user.handlingTeam == 'direct-group' %}class="active"{% endif %}><a href="#record">Record Claim {% if claim.type %}[from FNOL]{% endif %}</a></li>
          {% if app.user.handlingTeam != 'direct-group' %}
            <li role="presentation" {% if policy.hasOpenClaim and not claim.type %}class="active"{% endif %}><a href="#claimscheck">ClaimsCheck</a></li>
          {% endif %}
          <li role="presentation"><a href="#crimeref">Crime Ref Check</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane {% if not policy.hasOpenClaim or claim.type or app.user.handlingTeam == 'direct-group' %}active"{% endif %}" id="record">
                <p></p>
                <p class="text-center"><strong>Record Claim
                {% if claim.type %}
                    {% if is_granted('ROLE_EMPLOYEE') %}
                    [<button type="button" class="btn btn-link" data-route="{{ path('admin_claims_form_policy', {'id': claim.id}) }}" data-toggle="modal" data-target="#claimsModal">
                        {% if claim.number %}{{ claim.number }}{% else %}N/A{% endif %} FNOL Details
                    </button>]
                    {% elseif is_granted('ROLE_CLAIMS') %}
                    [<button type="button" class="btn btn-link" data-route="{{ path('claims_claims_form_policy', {'id': claim.id}) }}" data-toggle="modal" data-target="#claimsModal">
                        {% if claim.number %}{{ claim.number }}{% else %}N/A{% endif %} FNOL Details
                    </button>]
                    {% endif %}
                {% endif %}
                    </strong>
                </p>
                {{ form_start(formClaim) }}
                <div class="row">
                    <div class="col-md-8">
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_label(formClaim.number, 'Claim Number', {'label_attr': {'class': 'col-sm-6'}}) }}
                                    {{ form_errors(formClaim.number) }}
                                    {{ form_widget(formClaim.number, {'attr': {'class': 'col-sm-6'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_label(formClaim.type, 'Claim Type', {'label_attr': {'class': 'col-sm-6'}}) }}
                                    {{ form_errors(formClaim.type) }}
                                    {{ form_widget(formClaim.type, {'attr': {'class': 'col-sm-6'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <i class="col-sm-1 fa fa-question-circle" title="If the claim is declined/withdrawn and the phone is lost/stolen/or unusable"></i>
                                    {{ form_label(formClaim.shouldCancelPolicy, '', {'label_attr': {'class': 'col-sm-8'}}) }}
                                    {{ form_errors(formClaim.shouldCancelPolicy) }}
                                    {{ form_widget(formClaim.shouldCancelPolicy, {'attr': {'class': 'col-sm-2'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px">
                    <div class="col-md-8">
                        <div class="form-group">
                            {{ form_label(formClaim.notes, '', {'label_attr': {'class': 'col-sm-2'}}) }}
                            {{ form_errors(formClaim.notes) }}
                            {{ form_widget(formClaim.notes, {'attr': {'class': 'col-sm-10'}}) }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form_widget(formClaim.record, {'label': 'Record claim', 'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                    </div>
                </div>
                {{ form_end(formClaim) }}
            {% if policy.policyTerms.isRepairEnabled %}
                <hr>
                <h4>Damage claim? Policy terms allow for repair.</h4>
            {% endif %}
            </div>
            {% if app.user.handlingTeam != 'direct-group' %}
            <div role="tabpanel" class="tab-pane {% if policy.hasOpenClaim and not claim.type %}active"{% endif %}" id="claimscheck">
                <p></p>
                <p class="text-center"><strong>Run ClaimsCheck</strong></p>
                <p>
                    ClaimsCheck should be run after the claim has been judged as valid as a final
                    verification of the customer's actions as there is an assocated cost in running
                    this check.
                            <i style="cursor: pointer" class="fa fa-clock-o" data-toggle="popover" data-placement="bottom" data-html="true"
                               title="Recipero Feed Timings" data-content="EE – On the hour, every hour<br />Vodafone – 9.30 am every day<br />O2 – 9.15am, 1.15pm, 5.15pm and 9.15pm<br />3 – 7.20am every day<br ><a href='https://en.wikipedia.org/wiki/List_of_United_Kingdom_mobile_virtual_network_operators' target='_blank'>MVNO's</a> should follow host network timings"></i>
                </p>
                {{ form_start(formClaimsCheck) }}
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            {{ form_label(formClaimsCheck.claim, 'Claim to run against', {'label_attr': {'class': 'col-sm-4'}}) }}
                            {{ form_errors(formClaimsCheck.claim) }}
                            {{ form_widget(formClaimsCheck.claim, {'attr': {'class': 'col-sm-5'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            {{ form_label(formClaimsCheck.type, 'Type of claim', {'label_attr': {'class': 'col-sm-4'}}) }}
                            {{ form_errors(formClaimsCheck.type) }}
                            {{ form_widget(formClaimsCheck.type, {'attr': {'class': 'col-sm-4'}}) }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form_widget(formClaimsCheck.run, {'label': 'Run ClaimsCheck', 'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                    </div>
                </div>
                {{ form_end(formClaimsCheck) }}
                <hr>
                {% if policy.policyTerms.isRepairEnabled %}
                    <h4>Damage claim? Policy terms allow for repair.</h4>
                {% endif %}
                {#{% if oa %}#}
                    {#{% if oa.isLondon %}#}
                        {#<h4>Damage claim? User is in Greater London - consider using Trinity Maxwell. </h4>#}
                    {#{% elseif oa.isHomeCounty %}#}
                        {#<h4>Damage claim? User is in a Home County - ask if working in Central London and consider using Trinity Maxwell. </h4>#}
                    {#{% endif %}#}
                {#{% endif %}#}
            </div>
            {% endif %}
            <div role="tabpanel" class="tab-pane" id="crimeref">
                <p></p>
                <p class="text-center"><strong>Run Crime Ref Check</strong></p>
                <p>
                    Crime Ref check can be run at any time with no cost to validate
                    the format of a policy crime reference number.  The check
                    will be recorded agaist a claim for historical purposes.
                </p>
                {{ form_start(formCrimeRef) }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    {{ form_label(formCrimeRef.claim, 'Claim to run against', {'label_attr': {'class': 'col-sm-4'}}) }}
                                    {{ form_errors(formCrimeRef.claim) }}
                                    {{ form_widget(formCrimeRef.claim, {'attr': {'class': 'col-sm-5'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    {{ form_label(formCrimeRef.force, '', {'label_attr': {'class': 'col-sm-4'}}) }}
                                    {{ form_errors(formCrimeRef.force) }}
                                    {{ form_widget(formCrimeRef.force, {'attr': {'class': 'col-sm-5'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    {{ form_label(formCrimeRef.crime_ref, 'Crime Ref (Lost/Stolen)', {'label_attr': {'class': 'col-sm-4'}}) }}
                                    {{ form_errors(formCrimeRef.crime_ref) }}
                                    {{ form_widget(formCrimeRef.crime_ref, {'attr': {'class': 'col-sm-5'}}) }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_widget(formCrimeRef.run, {'label': 'Run Crime Ref Check', 'attr': {'class': 'btn btn-primary'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(formCrimeRef) }}
            </div>
        </div>
    </div>
  {% endif %}

  {% include 'AppBundle::Claims/claimsPolicyItem.html.twig' %}

</div>
{% endblock %}
