    <div class="modal fade" id="claimsModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document" style="width: 50%">
        <div class="modal-content">
        {% if policyId is defined and policyId %}
            <form id="phone-alternative-form" method="post" action="{{ path('admin_claims_update_claim_policy', {'route': route, 'policyId': policyId}) }}">
        {% else %}
            <form id="phone-alternative-form" method="post" action="{{ path('admin_claims_update_claim', {'route': route}) }}">
        {% endif %}
            <input type="hidden" name="id" id="claims-detail-id"></input>
            <input type="hidden" name="token" value="{{  csrf_token('default') }}"></input>
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Claim: Unknown</h4>
          </div>
          <div class="modal-body">
            <h3>General</h3>
            <table class="table table-striped">
                <tr>
                    <td>Policy</td>
                    <td id='claims-detail-policy'></td>
                </tr>
                <tr>
                    <td>Type
                    {% if claim_types is defined%}
                      <td>
                          <select disabled="disabled" name="claim-type" id="claims-detail-type">
                              {% for type in claim_types %}
                                  <option value="{{ type }}">{{ type }}</option>
                              {% endfor %}
                          </select>
                          {% if is_granted('ROLE_CUSTOMER_SERVICES') %}
                          <label>(change)</label>
                          <input type="checkbox" id="change-claim-type" name="change-claim-type"></td>
                          {% endif %}
                      </td>
                    {% endif %}

                <tr>
                    <td>Status</td>
                    <td id='claims-detail-status'></td>
                </tr>
                <tr>
                    <td>Number to reach</td>
                    <td id='claims-detail-number-to-reach'></td>
                </tr>
                <tr>
                    <td>Time to reach</td>
                    <td id='claims-detail-time-to-reach'></td>
                </tr>
                <tr>
                    <td>Davies Status</td>
                    <td id='claims-detail-davies-status'></td>
                </tr>
                <tr>
                    <td>Initial Suspicion</td>
                    <td id='claims-detail-initial-suspicion'></td>
                </tr>
                <tr>
                    <td>Final Suspicion</td>
                    <td id='claims-detail-final-suspicion'></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td id='claims-detail-description'></td>
                </tr>
                <tr>
                    <td>Notes</td>
                    <td id='claims-detail-notes'></td>
                </tr>
            </table>
            <div id='claims-damage'>
                <h3>Damage</h3>
                <table class="table table-striped">
                    <tr>
                        <td>Details</td>
                        <td id='claims-detail-type-details'></td>
                    </tr>
                    <tr>
                        <td>Bought on</td>
                        <td id='claims-detail-bought'></td>
                    </tr>
                    <tr>
                        <td>Condition</td>
                        <td id='claims-detail-phone-status'></td>
                    </tr>
                    <tr>
                        <td>Under warranty</td>
                        <td id='claims-detail-warranty'></td>
                    </tr>
                    <tr>
                        <td>Proof of usages</td>
                        <td id='claims-detail-damage-proof-usages'></td>
                    </tr>
                    <tr>
                        <td>Pictures of phone</td>
                        <td id='claims-detail-pictures-phone'></td>
                    </tr>
                </table>
            </div>
            <div id='claims-theftloss'>
                <h3>Theft/Lost</h3>
                <table class="table table-striped">
                    <tr>
                        <td>Contacted</td>
                        <td id='claims-detail-contacted'></td>
                    </tr>
                    <tr>
                        <td>Network</td>
                        <td id='claims-detail-network'></td>
                    </tr>
                    <tr>
                        <td>Blocked</td>
                        <td id='claims-detail-blocked'></td>
                    </tr>
                    <tr>
                        <td>Reported on</td>
                        <td id='claims-detail-reported'></td>
                    </tr>
                    <tr>
                        <td>Reported to</td>
                        <td id='claims-detail-reported-to'></td>
                    </tr>
                    <tr>
                        <td>Proof of usage</td>
                        <td id='claims-detail-theftloss-proof-usages'></td>
                    </tr>
                    <tr>
                        <td>Proof of barring</td>
                        <td id='claims-detail-proof-barrings'></td>
                    </tr>
                    <tr>
                        <td>Proof of purchase</td>
                        <td id='claims-detail-proof-purchases'></td>
                    </tr>
                    <tr>
                        <td>Crime reference number</td>
                        <td id='claims-detail-crime-reference'></td>
                    </tr>
                    <tr>
                        <td>Police report</td>
                        <td id='claims-detail-policy-report'></td>
                    </tr>
                </table>
            </div>
            <h3>Replacement Phone</h3>
            <table class="table table-striped">
                <tr>
                    <td>Replacement IMEI</td>
                    <td id='claims-detail-replacement-imei'></td>
                </tr>
                <tr>
                    <td>Replacement Phone Details
                    </td>
                    <td id='claims-detail-replacement-phone-details'>
                </tr>
                <tr>
                    <td>
                        Replacement phone
                    </td>
                    <td>
                        {% if phones is defined%}
                            <select disabled="disabled" name="replacement-phone" id="claims-detail-replacement-phone">
                                    <option value="">-- Select a phone --</option>
                                {% for phone in phones %}
                                    <option value="{{ phone.id }}">{{ phone }}</option>
                                {% endfor %}
                            </select>
                            {% if is_granted('ROLE_CUSTOMER_SERVICES') %}
                            <label>(change)</label>
                            <input type="checkbox" name='update-replacement-phone' id="update-replacement-phone"/>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Insured phone</td>
                    <td id='claims-detail-policy-phone'></td>
                </tr>
            </table>
            <h3>Dates</h3>
            <table class="table table-striped">
                <tr>
                    <td>Loss</td>
                    <td id='claims-detail-loss'></td>
                </tr>
                <tr>
                    <td>Notification</td>
                    <td id='claims-detail-notification'></td>
                </tr>
                <tr>
                    <td>Recorded</td>
                    <td id='claims-detail-recorded'></td>
                </tr>
                <tr>
                    <td>Submitted</td>
                    <td id='claims-detail-submitted'></td>
                </tr>
                <tr>
                    <td>Approved
                    </td>
                        <td>
                            <input type="text" name="approved-date" readonly="readonly" id="claims-detail-approved"/>
                            {% if is_granted('ROLE_CUSTOMER_SERVICES') %}
                            <label>(change)</label>
                            <input type="checkbox" id="change-approved-date" name="change-approved-date">
                            {% endif %}
                        </td>
                </tr>
                <tr>
                    <td>Replacement Received</td>
                    <td id='claims-detail-replacement'></td>
                </tr>
                <tr>
                    <td>Closed</td>
                    <td id='claims-detail-closed'></td>
                </tr>
            </table>
            <h3>Amounts</h3>
            <table class="table table-striped">
                <tr>
                    <td>Excess</td>
                    <td id='claims-detail-excess'></td>
                </tr>
                <tr>
                    <td>Unauthorized Calls</td>
                    <td id='claims-detail-unauthorized-calls'></td>
                </tr>
                <tr>
                    <td>Accessories</td>
                    <td id='claims-detail-accessories'></td>
                </tr>
                <tr>
                    <td>Phone Replacement Cost</td>
                    <td id='claims-detail-replacement-cost'></td>
                </tr>
                <tr>
                    <td>Transaction Fees</td>
                    <td id='claims-detail-transaction'></td>
                </tr>
                <tr>
                    <td>Claim Handling Fees</td>
                    <td id='claims-detail-handling'></td>
                </tr>
                <tr>
                    <td>Reserved</td>
                    <td id='claims-detail-reserved'></td>
                </tr>
                <tr>
                    <td>Incurred</td>
                    <td id='claims-detail-incurred'></td>
                </tr>
                {% if is_granted('ROLE_CUSTOMER_SERVICES') %}
                <tr id="update-button-row">
                    <td>
                        <button id="delete-button" id="delete-claim"  type="button" class="btn btn-danger">Delete Claim</button>
                    </td>
                    <td>
                        <button id="update-button" class="btn btn-success">Save Updates</button>
                    </td>
                </tr>
                {% endif %}
            </table>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn-xs btn-black-hollow" data-dismiss="modal">Close</button>
        </form>
            {% if is_granted('ROLE_CUSTOMER_SERVICES') %}
            <form id="delete-claim-form" method="POST" action="{{ path('admin_claims_delete_claim') }}">
                <input type="hidden" name="id" id="claims-detail-delete-id"></input>
                <input type="hidden" name="token" value="{{  csrf_token('default') }}"></input>
            </form>
            {% endif %}
        </div>

        </div>
      </div>
    </div>
