{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/Claims/tabs.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}            
{% endblock %}

{% block body %}
<div class="container">
    <h2>so-sure Claims - {{policy.user.name }}</h2>
    <div class="bg-danger" style="border-radius: 10px; padding: 20px; margin-bottom: 20px;">
        <p class="text-center"><strong>Record Claim</strong></p>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.number, 'Claim Number', {'label_attr': {'class': 'col-sm-4'}}) }}
                    {{ form_errors(form.number) }}
                    {{ form_widget(form.number, {'attr': {'class': 'col-sm-3'}}) }}
                </div>                
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.type, 'Claim Type', {'label_attr': {'class': 'col-sm-4'}}) }}
                    {{ form_errors(form.type) }}
                    {{ form_widget(form.type, {'attr': {'class': 'col-sm-3'}}) }}
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.suspected_fraud, '', {'label_attr': {'class': 'col-sm-4'}}) }}
                    {{ form_errors(form.suspected_fraud) }}
                    {{ form_widget(form.suspected_fraud, {'attr': {'class': 'col-sm-3'}}) }}
                </div>                
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_widget(form.record, {'label': 'Record claim', 'attr': {'class': 'btn btn-success'}}) }}
                </div>                
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="active"><a href="#policy">Policy</a></li>
      <li role="presentation"><a href="#claims">Claims <span class="badge" title="Number of claims">{{ policy.claims|length }}</span></a></li>
      <li role="presentation"><a href="#user">User</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="policy">
            {% if policy.isPolicy %}
                <table class="table table-striped">
                    <tr>
                        <td>Policy Number</td>
                        <td>{{ policy.policyNumber }}</td>
                    </tr>
                    <tr>
                        <td>Policy Status</td>
                        <td>{{ policy.status }}</td>
                    </tr>
                    <tr>
                        <td>Policy Dates</td>
                        <td>{{ policy.start|date }} - {{ policy.end|date }}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{ policy.phone }}</td>
                    </tr>
                    <tr>
                        <td>Risk</td>
                        <td>{{ policy.risk }}</td>
                    </tr>
                    <tr>
                        <td>Connections</td>
                        <td>{{ policy.connections|length }}</td>
                    </tr>
                    <tr>
                        <td>Pot Value</td>
                        <td>£{{ policy.potValue|number_format(2, '.', ',') }}</td>
                    </tr>
                </table>
            {% else %}
                <h4>No policy</h4>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="claims">
            {% if policy.claims|length > 0 %}
                <table class="table table-striped">
                    <tr>
                        <th>Date</th>
                        <th>Claims Number</th>
                        <th>Claims Type</th>
                        <th>Suspected Fraud</th>
                    </tr>
                    {% for claim in policy.claims %}
                    <tr>
                        <td>{{ claim.date|date }}</td>
                        <td>{{ claim.number }}</td>
                        <td>{{ claim.type }}</td>
                        <td>{{ claim.suspectedFraud }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
            <h4>No claims</h4>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="user">
            <table class="table table-striped">
                <tr>
                    <td>Name</td>
                    <td>{{ policy.user.name }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ policy.user.email }}</td>
                </tr>
                <tr>
                    <td>Mobile</td>
                    <td>{{ policy.user.mobileNumber }}</td>
                </tr>
                <tr>
                    <td>Billing Address</td>
                    <td>{{ policy.user.billingAddress }}</td>
                </tr>
                <tr>
                    <td>Signup Country</td>
                    <td>{{ policy.user.signupCountry }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
