{{ form_start(form) }}
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">Claim: {{ claim.number|default('N/A') }}</h4>

        <ul class="nav nav-pills" id="myTab" role="tablist">
            <li class="nav-item active">
                <a class="nav-link" id="general-tab" data-toggle="tab" href="#general" role="tab"
                   aria-controls="general"
                   aria-selected="true">General</a>
            </li>
            {% if claim.type == 'damage' %}
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#damage" role="tab"
                       aria-controls="damage"
                       aria-selected="false">Damage</a>
                </li>
            {% elseif claim.type == 'theft' or claim.type == 'loss' %}
                <li class="nav-item">
                    <a class="nav-link" id="theftloss-tab" data-toggle="tab" href="#theftloss" role="tab"
                       aria-controls="theftloss"
                       aria-selected="false">Theft/Loss</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab"
                   aria-controls="details"
                   aria-selected="false">Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="costs-tab" data-toggle="tab" href="#costs" role="tab"
                   aria-controls="amounts"
                   aria-selected="false">Costs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="update-tab" data-toggle="tab" href="#update" role="tab"
                   aria-controls="update"
                   aria-selected="false">Update</a>
            </li>
        </ul>
    </div>


    <div class="modal-body">
        <div class="container-fluid">
            <div class="tab-content" id="tab-content">
                <div class="tab-pane fade in active" id="general" role="tabpanel" aria-labelledby="general-tab">

                    <div class="row">
                        <div class="col-xs-6">
                            <label>Policy</label>
                            <p>{{ claim.policyNumber|default('N/A') }}</p>
                        </div>

                        <div class="col-xs-6">
                            <label>Type</label>
                            <p>{{ claim.type|default('N/A') }}</p>
                        </div>

                        <div class="col-xs-6">
                            <label>Status</label>
                            {% if claim.status == 'fnol' %}
                                <p class="text-warning" title="Claim not yet submitted to claims handler">
                                    {{ claim.status|default('N/A') }}
                                    {{ claim.daviesStatus|default('N/A') }}
                                </p>
                            {% else %}
                                <p>
                                    {{ claim.status|default('N/A') }}
                                    {{ claim.daviesStatus|default('N/A') }}
                                </p>
                            {% endif %}
                        </div>

                        <div class="col-xs-6">
                            <label>Claim Handling Team</label>
                            <p>{{ claim.handlingTeam|default('N/A') }}</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-xs-6">
                            <label>Number to reach</label>
                            <p>{{ claim.phoneToReach|default('N/A') }}</p>
                        </div>

                        <div class="col-xs-6">
                            <label>Time to reach</label>
                            <p>{{ claim.timeToReach|default('N/A') }}</p>
                        </div>

                        <div class="col-xs-6">
                            <label>Initial Suspicion</label>
                            <p>{{ claim.initialSuspicion|default('N/A') }}</p>
                        </div>

                        <div class="col-xs-6">
                            <label>Final Suspicion</label>
                            <p>{{ claim.finalSuspicion|default('N/A') }}</p>
                        </div>

                        <div class="col-xs-6">
                            <label>Incident Date</label>
                            <p>
                                {{ claim.incidentDate ? claim.incidentDate|date('d-m-Y') : 'N/A' }}
                                {{ claim.incidentTime|default('N/A') }}
                            </p>
                        </div>

                        <div class="col-xs-6">
                            <label>Incident Location</label>
                            <p>{{ claim.location|default('N/A') }}</p>
                        </div>

                        <div class="col-xs-6">
                            <label>Description</label>
                            <p>{{ claim.description|default('N/A') }}</p>
                        </div>

                        <div class="col-xs-6">
                            <label>Notes</label>
                            <p>{{ claim.notes|default('N/A') }}</p>
                        </div>
                    </div>
                </div>

                {% if claim.type == 'damage' %}
                    {% set documents = s3DownloadLinks(claimClass) %}
                    <div class="tab-pane fade" id="damage" role="tabpanel" aria-labelledby="damage-tab">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Details</label>
                                {% if claim.typeDetails == 'other' %}
                                    <p>{{ claim.typeDetailsOther|default('N/A') }}</td>
                                {% else %}
                                    <p>{{ claim.typeDetails|default('N/A') }}</p>
                                {% endif %}
                            </div>

                            <div class="col-xs-6">
                                <label>Bought on</label>
                                <p>
                                    {{ claim.monthOfPurchase|default('N/A') }}
                                    / {{ claim.yearOfPurchase|default('N/A') }}
                                </p>
                            </div>

                            <div class="col-xs-6">
                                <label>Condition</label>
                                <p>{{ claim.phoneStatus|default('N/A') }}</p>
                            </div>

                            <div class="col-xs-6">
                                <label>Condition</label>
                                <p>{{ claim.phoneStatus|default('N/A') }}</p>
                            </div>

                            <div class="col-xs-6">
                                <label>Condition</label>
                                <p>{{ claim.phoneStatus|default('N/A') }}</p>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-xs-12">
                                <label>Proof of Usages</label>
                                {% if claim.needProofOfUsage %}
                                    {% if documents %}
                                        {% if documents.proofOfUsages|length > 0 %}
                                            {% for document in documents %}
                                                <p>
                                                    {{ document.filename }}
                                                    <img class="img-preview" src="{{ document.url }}"/>
                                                    <a href="{{ document.url_download }}">
                                                        <i class="fa fa-download"></i>
                                                    </a>
                                                </p>
                                            {% endfor %}
                                        {% else %}
                                            <p>None uploaded yet</p>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <p>Not Requested</p>
                                {% endif %}
                            </div>

                            <div class="col-xs-12">
                                <label>Pictures of Phone</label>
                                {% if claim.needPictureOfPhone %}
                                    {% if documents %}
                                        {% if documents.damagePictures|length > 0 %}
                                            {% for document in documents %}
                                                <p>
                                                    {{ document.filename }}
                                                    <img class="img-preview" src="{{ document.url }}"/>
                                                    <a href="{{ document.url_download }}">
                                                        <i class="fa fa-download"></i>
                                                    </a>
                                                </p>
                                            {% endfor %}
                                        {% else %}
                                            <p>None uploaded yet</p>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <p>Not Requested</p>
                                {% endif %}
                            </div>

                            <div class="col-xs-12">
                                <label>Others</label>
                                {% if documents %}
                                    {% if documents.others|length > 0 %}
                                        {% for document in documents %}
                                            <p>
                                                {{ document.filename }}
                                                <img class="img-preview" src="{{ document.url }}"/>
                                                <a href="{{ document.url_download }}">
                                                    <i class="fa fa-download"></i>
                                                </a>
                                            </p>
                                        {% endfor %}
                                    {% else %}
                                        <p>None uploaded yet</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% elseif claim.type == 'theft' or claim.type == 'loss' %}
                    {% set documents = s3DownloadLinks(claimClass) %}
                    <div class="tab-pane fade" id="theftloss" role="tabpanel" aria-labelledby="theftloss-tab">

                        <div class="row">
                            <div class="col-xs-6">
                                <label>Contacted</label>
                                {% if claim.hasContacted %}
                                    <p>{{ claim.contactedPlace }}</p>
                                {% else %}
                                    <p>N/A</p>
                                {% endif %}
                            </div>

                            <div class="col-xs-6">
                                <label>Network</label>
                                <p>{{ claim.network|default('N/A') }}</p>
                            </div>

                            <div class="col-xs-6">
                                <label>Blocked</label>
                                <p>{{ claim.blockedDate ? claim.blockedDate|date('d-m-Y') : 'N/A' }}</p>
                            </div>

                            <div class="col-xs-6">
                                <label>Reported on</label>
                                <p>{{ claim.reportedDate ? claim.reportedDate|date('d-m-Y') : 'N/A' }}</p>
                            </div>

                            <div class="col-xs-6">
                                <label>Reported to</label>
                                <p>{{ claim.reportType|default('N/A') }}</p>
                            </div>

                            <div class="col-xs-6">
                                {% if claim.type == 'theft' %}
                                    <label>Crime reference number</label>
                                {% else %}
                                    <label>Police report</label>
                                {% endif %}

                                {% if claim.validCrimeRef %}
                                    <p>{{ claim.crimeRef|default('N/A') }} / {{ claim.force|default('N/A') }}</p>
                                {% else %}
                                    <p>
                                        <i class="fa fa-warning" title="Invalid crime reference"></i>
                                        {{ claim.crimeRef|default('N/A') }} / {{ claim.force|default('N/A') }}
                                    </p>
                                {% endif %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-xs-12">
                                <label>Proof of Usage</label>
                                {% if claim.needProofOfUsage %}
                                    {% if documents %}
                                        {% if documents.proofOfUsages|length > 0 %}
                                            {% for document in documents %}
                                                <p>
                                                    {{ document.filename }}
                                                    <img class="img-preview" src="{{ document.url }}"/>
                                                    <a href="{{ document.url_download }}">
                                                        <i class="fa fa-download"></i>
                                                    </a>
                                                </p>
                                            {% endfor %}
                                        {% else %}
                                            <p>None uploaded yet</p>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <p>Not Requested</p>
                                {% endif %}
                            </div>

                            <div class="col-xs-12">
                                <label>Proof of Barring</label>
                                {% if claim.needProofOfBarring %}
                                    {% if documents %}
                                        {% if documents.proofOfBarrings|length > 0 %}
                                            {% for document in documents %}
                                                <p>
                                                    {{ document.filename }}
                                                    <img class="img-preview" src="{{ document.url }}"/>
                                                    <a href="{{ document.url_download }}">
                                                        <i class="fa fa-download"></i>
                                                    </a>
                                                </p>
                                            {% endfor %}
                                        {% else %}
                                            <p>None uploaded yet</p>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <p>Not Requested</p>
                                {% endif %}
                            </div>

                            <div class="col-xs-12">
                                <label>Proof of Purchase</label>
                                {% if claim.needProofOfPurchase %}
                                    {% if documents %}
                                        {% if documents.proofOfPurchases|length > 0 %}
                                            {% for document in documents %}
                                                <p>
                                                    {{ document.filename }}
                                                    <img class="img-preview" src="{{ document.url }}"/>
                                                    <a href="{{ document.url_download }}">
                                                        <i class="fa fa-download"></i>
                                                    </a>
                                                </p>
                                            {% endfor %}
                                        {% else %}
                                            <p>None uploaded yet</p>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <p>Not Requested</p>
                                {% endif %}
                            </div>

                            {% if claim.type == "loss" %}
                                <div class="col-xs-12">
                                    <label>Proof of loss</label>
                                    {% if claim.needProofOfLoss %}
                                        {% if documents %}
                                            {% if documents.proofOfLosses|length > 0 %}
                                                {% for document in documents %}
                                                    <p>
                                                        {{ document.filename }}
                                                        <img class="img-preview" src="{{ document.url }}"/>
                                                        <a href="{{ document.url_download }}">
                                                            <i class="fa fa-download"></i>
                                                        </a>
                                                    </p>
                                                {% endfor %}
                                            {% else %}
                                                <p>Not uploaded yet</p>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        <p>Not Requested</p>
                                    {% endif %}
                                </div>
                            {% endif %}

                            <div class="col-xs-12">
                                <label>Others</label>
                                {% if documents %}
                                    {% if documents.others|length > 0 %}
                                        {% for document in documents %}
                                            <p>
                                                {{ document.filename }}
                                                <img class="img-preview" src="{{ document.url }}"/>
                                                <a href="{{ document.url_download }}">
                                                    <i class="fa fa-download"></i>
                                                </a>
                                            </p>
                                        {% endfor %}
                                    {% else %}
                                        <p>None uploaded yet</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Loss</label>
                            <p>{{ claim.lossDate ? claim.lossDate|date('d-m-Y') : 'N/A' }}</p>
                        </div>

                        <div class="col-xs-6">
                            <label>Notification</label>
                            <p>{{ claim.notificationDate ? claim.notificationDate|date('d-m-Y') : 'N/A' }}</p>
                        </div>

                        <div class="col-xs-6">
                            <label>Recorded</label>
                            <p>{{ claim.recordedDate ? claim.recordedDate|date('d-m-Y') : 'N/A' }}</p>
                        </div>

                        <div class="col-xs-6">
                            <label>Submitted</label>
                            <p>{{ claim.submittedDate ? claim.submittedDate|date('d-m-Y') : 'N/A' }}</p>
                        </div>

                        <div class="col-xs-6">
                            <label>Approved</label>
                            <p>{{ claim.approvedDate ? claim.approvedDate|date('d-m-Y') : 'N/A' }}</p>
                        </div>

                        <div class="col-xs-6">
                            <label>Replacement Recieved</label>
                            <p>{{ claim.replacementReceivedDate ? claim.replacementReceivedDate|date('d-m-Y') : 'N/A' }}</p>
                        </div>

                        <div class="col-xs-6">
                            <label>Closed</label>
                            <p>{{ claim.closedDate ? claim.closedDate|date('d-m-Y') : 'N/A' }}</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-xs-6">
                            <label>Replacement IMEI</label>
                            {% if claim.validReplacementImei %}
                                <p>{{ claim.replacementImei|default('N/A') }}</p>
                            {% else %}
                                <p>
                                    <i class="fa fa-warning" title="Invalid IMEI Number (Luhn Failure)"></i>
                                    <s>{{ claim.replacementImei|default('N/A') }}</s>
                                </p>
                            {% endif %}
                        </div>

                        <div class="col-xs-6">
                            <label>Replacement Phone Details</label>
                            <p>{{ claim.replacementPhoneDetails|default('N/A') }}</p>
                        </div>

                        <div class="col-xs-6">
                            <label>Insured Phone</label>
                            <p>{{ claim.policyPhone|default('N/A') }}</p>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="costs" role="tabpanel" aria-labelledby="costs-tab">
                    <table class="table .table-condensed">
                        <tr>
                            <td>Excess</td>
                            <td>{{ claim.excess|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Unauthorized Calls</td>
                            <td>{{ claim.unauthorizedCalls|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Accessories</td>
                            <td>{{ claim.accessories|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Phone Replacement Cost</td>
                            <td>{{ claim.phoneReplacementCost|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Transaction Fees</td>
                            <td>{{ claim.transactionFees|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Claim Handling Fees</td>
                            <td>{{ claim.claimHandlingFees|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Reserved</td>
                            <td>{{ claim.reservedValue|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <th>Total Incurred</th>
                            <th>{{ claim.totalIncurred|default('N/A') }}</th>
                        </tr>
                    </table>
                </div>

                <div class="tab-pane fade" id="update" role="tabpanel" aria-labelledby="update-tab">
                    <div class="form-group">
                        <label>Claim Number</label>
                        {{ form_widget(form.number, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        <label>Type</label>
                        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        <label>Replacement IMEI</label>
                        {{ form_widget(form.replacementImei, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        <label>Replacement Phone</label>
                        {{ form_widget(form.replacementPhone, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        <label>Approved Date</label>
                        <div class="form-inline">
                            {{ form_widget(form.approvedDate.day,{'attr': {'class': 'form-control'}}) }}
                            {{ form_widget(form.approvedDate.month,{'attr': {'class': 'form-control'}}) }}
                            {{ form_widget(form.approvedDate.year,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Notes</label>
                        {{ form_widget(form.notes, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        {{ form_widget(form.update, {'attr': {'class': 'btn btn-success'}}) }}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</div>
{{ form_end(form) }}