{% extends 'admin_claims_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/admin.scss'
        'components/viewerjs/viewer.min.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/viewerjs/viewer.min.js'
        'components/clipboard/clipboard.min.js'
        'components/jquery-viewer/jquery-viewer.min.js'
        '@AppBundle/Resources/public/js/Claims/claimsModal.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="bg-info" style="border-radius: 10px; padding: 10px;">
    <h4 class="text-center"><strong>Claims</strong></h4>
    {{ form_start(form, {'attr': {'class': 'form-inline'}})  }}
        <div class="row">
            <div class="form-group col-sm-4 text-center">
                <span class="align-top">
                    <i style="cursor: pointer" class="fa fa-question-circle" data-toggle="popover" data-placement="bottom" data-html="true" title="Status Explanations" data-content="
            <b>fnol</b>: claim was confirmed by the user, but they have NOT uploaded all documents to the system. Claim Handlers should NOT be processing unless specifically requested to.<br />
            <b>submitted</b>: claim was confirmed by the user and they have uploaded all documents to the system. Claim Handlers SHOULD be processing the claim.<br />
            <b>in-review</b>: claim has a claim number assigned and the claim is being reviewed by the claim handler.<br />
            <b>approved</b>: claim has been approved. Policy holder should be receiving a repair / replacement device.<br />
            <b>settled</b>: claim is approved, policy holder has their device repaired/replaced. All invoices are paid.<br />
            <b>withdrawl</b>: policy holder has decided not to proceed with their claim. NO replacement or repair has been authorised.<br />
            <b>declined</b>: claims handler has rejected the claim. NO replacement or repair has been authorised.<br />
            "></i>
                </span>
                {{ form_label(form.status, 'Status:', {'label_attr': {'class': 'align-top'}}) }}
                {{ form_errors(form.status) }}
                {{ form_widget(form.status, {'attr': {'class': 'claim-status', 'size': '8'}}) }}
                <br>
                <input type="button" id="claim_search_status-all"  name="Button" value="Select all statuses" class="btn-link" />
                <input type="button" id="claim_search_status-none" name="Button" value="Deselect all statuses" class="btn-link" />
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="form-group col-sm-5">
                        {{ form_label(form.number, 'Claim Number', {'label_attr': {'class': 'col-sm-6'}}) }}
                        {{ form_errors(form.number) }}
                        {{ form_widget(form.number, {'attr': {'class': 'col-sm-6 claim-status'}}) }}
                    </div>
                    <div class="form-group col-sm-5">
                        {{ form_label(form.id, 'Claim Id', {'label_attr': {'class': 'col-sm-5'}}) }}
                        {{ form_errors(form.id) }}
                        {{ form_widget(form.id, {'attr': {'class': 'col-sm-7 claim-status'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-5">
                        {% if is_granted('ROLE_EMPLOYEE') %}
                            {{ form_label(form.handlingTeam, 'Handling Team', {'label_attr': {'class': 'col-sm-6'}}) }}
                            {{ form_errors(form.handlingTeam) }}
                            {{ form_widget(form.handlingTeam, {'attr': {'class': 'col-sm-6'}}) }}
                        {% else %}
                            <div class="hidden">
                                {{ form_widget(form.handlingTeam) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                      <div class="col-sm-12 text-center">
                        {{ form_widget(form.search, {'label': 'Search', 'attr': {'class': 'btn btn-success'}}) }}
                      </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
  </div>
    {% if claims.count == 0 %}
    <div class="row-fluid">
        <h2>No claims found</h2>
    </div>
    {% else %}
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Claim Number</th>
                        <th>Policy</th>
                        <th>Type</th>
                        <th>Claim Status</th>
                        <th>Policy Status</th>
                        <th>Notification Date</th>
                        <th>Submitted Date</th>
                        <th>Approval Date</th>
                        <th>Replacement</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for claim in claims if claim.policy %}
                        <tr>
                            <td>
                                {% if is_granted('ROLE_EMPLOYEE') %}
                                <button type="button" class="btn btn-link" data-route="{{ path('admin_claims_form_claims', {'id': claim.id}) }}" data-toggle="modal" data-target="#claimsModal">
                                    {% if claim.number %}{{ claim.number }}{% else %}N/A{% endif %}
                                </button>
                                {% elseif is_granted('ROLE_CLAIMS') %}
                                <button type="button" class="btn btn-link" data-route="{{ path('claims_claims_form_claims', {'id': claim.id}) }}" data-toggle="modal" data-target="#claimsModal">
                                    {% if claim.number %}{{ claim.number }}{% else %}N/A{% endif %}
                                </button>
                                {% endif %}
                            </td>
                            <td>
                                {% if is_granted('ROLE_EMPLOYEE') %}
                                    <a href="{{ path('admin_policy', {id: claim.policy.id}) }}">{{ claim.policy.policyNumber }}</a>
                                {% elseif is_granted('ROLE_CLAIMS') %}
                                    <a href="{{ path('claims_policy', {id: claim.policy.id}) }}">{{ claim.policy.policyNumber }}</a>
                                {% endif %}
                            </td>
                            <td>{{ claim.type }}</td>
                            <td>{{ claim.status }}</td>
                            <td>{{ claim.policy.status }}</td>
                            <td>{{ claim.notificationDate|date('d-m-Y', 'Europe/London') }}</td>
                            <td>{{ claim.submissionDate|date('d-m-Y') }}</td>
                            <td class="{% if claim.approvedDate and claim.replacementReceivedDate and claim.approvedDate > claim.replacementReceivedDate %}danger{% endif %}">
                                {% if claim.approvedDate %}
                                    {{ claim.approvedDate|date('d-m-Y', 'Europe/London') }}</td>
                                {% else %}
                                    -
                                {% endif %}
                            <td>{% if claim.replacementReceivedDate %}
                                    {{ claim.replacementReceivedDate|date('d-m-Y', 'Europe/London') }}
                                {% else %}
                                    -
                                {% endif %}
                                {% if claim.replacementImei or claim.replacementReceivedDate %}
                                    {% if claim.replacementPhoneDetails %}
                                        {% if claim.replacementPhone%}<i class="fa fa-check" title="Davies: '{{ claim.replacementPhoneDetails }}' <==> so-sure: '{{ claim.replacementPhone }}'"></i>
                                        {% else %}<i class="fa fa-warning" title="{{ claim.replacementPhoneDetails }} recorded, but replacement phone not confirmed"></i>
                                        {% endif %}
                                    {% else %}
                                        <i class="fa fa-warning" title="IMEI has been updated, but no replacement phone details"></i>
                                    {% endif %}
                                {% endif %}
                                {% if claim.replacementPhone and claim.replacementPhone.id != claim.policy.phone.id %}
                                    <i class="fa fa-warning text-danger" title="Replacement phone does not match insured phone!"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    </form>

    {% if claims.count > 0 %}
    <div class="pagerfanta">
        {{ pagerfanta(pager, 'twitter_bootstrap3') }}
    </div>
    {% endif %}

</div>

{% include 'AppBundle::Claims/claimsModal.html.twig' %}


{% endblock %}
