<div id="claimPolicyItem">
    <div class="text-center" style="background-color: {{ policy.riskColour }}; color: white; font-weight: bold; border-radius: 4px; margin-bottom: 20px; padding: 10px;">
      Risk: {{ policy.riskReason }} ({{ policy.risk }})
    </div>
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="active"><a href="#policy">Policy</a></li>
      <li role="presentation"><a href="#claims">Claims <span class="badge" title="Number of claims">{{ policy.claims|length }}</span></a></li>
      <li role="presentation"><a href="#network">Network Claims <span class="badge" title="Number of network claims">{{ policy.networkClaims|length }}</span></a></li>
      <li role="presentation"><a href="#user">User</a></li>
      <li role="presentation"><a href="#history">History</a></li>
      {% if is_granted('ROLE_ADMIN') %}
        <li role="presentation"><a href="#admin">Admin</a></li>
      {% endif %}
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="policy">
            {% if policy.isPolicy %}
                <table class="table table-striped">
                    <tr>
                        <td>Policy Number</td>
                        <td>{{ policy.policyNumber }}</td>
                    </tr>
                    <tr>
                        <td>Policy Status</td>
                        <td>
                          {{ policy.status }}
                          {% if policy.cancelledReason %}
                            / {{ policy.cancelledReason }}
                          {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Policy Dates</td>
                        <td>{{ policy.start|date }} - {{ policy.end|date }}</td>
                    </tr>
                    <tr>
                        <td>Policy Payments</td>
                        <td>Paid £{{ policy.premiumPaid }} of £{{ policy.premium.yearlyPremiumPrice }}</td>
                    </tr>
                    <tr>
                        <td>Policy Installments</td>
                        <td>{{ policy.premiumInstallmentCount }} installment(s) of £{{ policy.premiumInstallmentPrice }}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{ policy.phone }}
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#alternativeModal"
                                    data-query="{{ path('claims_phone_alternatives', {'id': policy.phone.id}) }}"
                                    data-phone="{{ policy.phone.toAlternativeArray()|json_encode }}"
                                    >Show Alternatives</button>

                        </td>
                    </tr>
                    <tr>
                      <td>ClaimsCheck Cert Id</td>
                      <td>
                        {% for key, data in policy.checkmendCertsAsArray if data['certId'] is defined %}
                          <a href="https://www.checkmend.com/uk/verify/{{ data['certId'] }}" target="_blank" title="{{ data['response']|json_encode }}">{{ data['certId'] }}</a> ({{ key|date("F j, Y H:i", "Europe/London") }})<br />
                        {% endfor %}
                        {% if policy.checkmendCerts|length == 0 %}
                          Certs not present
                        {% endif %}
                      </td>
                    </tr>
                </table>
                <h3>Pot</h3>
                <table class="table table-striped">
                    <tr>
                        <td>Invitations</td>
                        <td>{{ policy.invitations|length }}</td>
                    </tr>
                    <tr>
                        <td>Connections</td>
                        <td>
                          <strong>{{ policy.connections|length }}</strong>&nbsp;:&nbsp;
                          {% for connection in policy.connections %}
                            <a href="{{ path(policy_route, {'id': connection.linkedPolicy.id }) }}">{{ connection.linkedUser.name }}</a>;
                          {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Pot Value</td>
                        <td>£{{ policy.potValue|number_format(2, '.', ',') }}</td>
                    </tr>
                </table>
                <h3>Anti Fraud Checks</h3>
                <table class="table table-striped">
                    <tr>
                        <td>User Signup - Country of Ip</td>
                        <td>{{ fraud.signup_country }}</td>
                    </tr>
                    <tr>
                        <td>Other Users w/same signup ips</td>
                        <td>{{ fraud.duplicate_ip }}</td>
                    </tr>
                    <tr>
                        <td>Other Users w/same postcode</td>
                        <td>{{ fraud.duplicate_postcode }}</td>
                    </tr>
                    <tr>
                        <td>Other Users w/possibly same card (same last 4, type, exp date)</td>
                        <td>{{ fraud.duplicate_bank_accounts }}</td>
                    </tr>
                    <tr>
                        <td>IMEI belonged to different user</td>
                        <td>Not yet implemented</td>
                    </tr>
                    <tr>
                        <td>Network Cancellations</td>
                      <td>{{ fraud.network_cancellations }}</td>
                    </tr>
                </table>
            {% else %}
                <h4>No policy</h4>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="claims">
            {% if policy.claims|length > 0 %}
                <table class="table table-striped">
                    <tr>
                        <th>Date</th>
                        <th>Claims Number</th>
                        <th>Claims Type</th>
                        <th>Claims Status</th>
                        <th>Crime Ref</th>
                        <th>Flags</th>
                        <th>Notes</th>
                    </tr>
                    {% for claim in policy.claims %}
                    <tr>
                        <td style="width: 20%;">{{ claim.recordedDate|date }}</td>
                        <td style="width: 10%;">{{ claim.number }}</td>
                        <td style="width: 10%;">{{ claim.type }}</td>
                        <td style="width: 10%;">{{ claim.status }}</td>
                        <td  style="width: 10%;" class="{% if claim.crimeRef|length > 0 %}{% if claim.validCrimeRef %}success{% elseif not claim.validCrimeRef %}danger{% endif %}{% endif %}">
                          {{ claim.crimeRef }}
                        </td>
                        <td style="width: 10%;" class="{% if claim.suspectedFraud or claim.shouldCancelPolicy %}danger{% endif %}">
                          {% if claim.suspectedFraud %}Suspected Fraud;{% endif %}
                          {% if claim.shouldCancelPolicy %}Policy should be cancelled;{% endif %}
                        </td>
                        <td style="width: 30%;">{{ claim.notes }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
            <h4>No claims</h4>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="network">
            {% if policy.hasNetworkClaim %}
                <table class="table table-striped">
                    <tr>
                        <th>Date</th>
                        <th>Policy Number</th>
                        <th>Claims Number</th>
                        <th>Claims Type</th>
                        <th>Claims Status</th>
                        <th>Suspected Fraud</th>
                        <th>Notes</th>
                    </tr>
                    {% for claim in policy.networkClaims %}
                    <tr>
                        <td style="width: 20%;">{{ claim.recordedDate|date }}</td>
                        <td style="width: 10%;">{{ claim.number }}</td>
                        <td style="width: 10%;">{{ claim.type }}</td>
                        <td style="width: 10%;">{{ claim.status }}</td>
                        <td  style="width: 10%;" class="{% if claim.crimeRef|length > 0 %}{% if claim.validCrimeRef %}success{% elseif not claim.validCrimeRef %}danger{% endif %}{% endif %}">
                          {{ claim.crimeRef }}
                        </td>
                        <td style="width: 10%;" class="{% if claim.suspectedFraud or claim.shouldCancelPolicy %}danger{% endif %}">
                          {% if claim.suspectedFraud %}Suspected Fraud;{% endif %}
                          {% if claim.shouldCancelPolicy %}Policy should be cancelled;{% endif %}
                        </td>
                        <td style="width: 30%;">{{ claim.notes }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
            <h4>No network claims</h4>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="user">
            <table class="table table-striped">
                <tr>
                    <td>Id</td>
                    <td>{{ policy.user.id }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ policy.user.name }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ policy.user.email }}</td>
                </tr>
                <tr>
                    <td>Mobile</td>
                    <td>{{ policy.user.mobileNumber }}</td>
                </tr>
                <tr>
                    <td>Billing Address</td>
                    <td>{{ policy.user.billingAddress }}</td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>{% if policy.user.locked %}locked{% elseif policy.user.enabled %}enabled{% else %}disabled{%endif %}</td>
                </tr>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="history">
            <h3>User History</h3>
            <table>
            {% for item in user_history %}
              <tr>
                <td width="10%">{{ item.action }}</td>
                <td width="10%">{{ item.loggedAt|date }}</td>
                <td width="80%">
                  {% for key, value in item.data %}
                    {{ key }} => {{ value|json_encode }}<br />
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
            </table>
            {% if user_history|length == 0 %}
              <p>No history is present</p>
            {% endif %}
            <h3>Policy History</h3>
            <table>
            {% for item in policy_history %}
              <tr>
                <td width="10%">{{ item.action }}</td>
                <td width="10%">{{ item.loggedAt|date }}</td>
                <td width="80%">
                  {% for key, value in item.data %}
                    {{ key }} => {{ value|json_encode }}<br />
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
            </table>
            {% if policy_history|length == 0 %}
              <p>No history is present</p>
            {% endif %}
        </div>
      {% if is_granted('ROLE_ADMIN') %}
        <div role="tabpanel" class="tab-pane" id="admin">
            <h3>Admin</h3>
            <table class="table table-striped">
                <tr>
                    <td>Imei</td>
                    <td>
                      {{ form_start(imei_form, {'attr': {'class': 'form-inline'}}) }}
                      <div class="form-group">
                          {{ form_errors(imei_form.imei) }}
                          {{ form_widget(imei_form.imei) }}
                      </div>
                      {{ form_widget(imei_form.update, {'label': 'Update', 'attr': {'class': 'btn btn-danger confirm-imei-update'}}) }}
                      {{ form_end(imei_form) }}
                    </td>
                </tr>
                <tr>
                    <td>Facebook</td>
                    <td>
                      {% if policy.user.facebookId | length > 0 %}
                            <img src="https://graph.facebook.com/{{ policy.user.facebookId }}/picture" />
                            {{ policy.user.facebookId }}
                      {% else %}
                          Not present
                      {% endif %}  
                      {{ form_start(facebook_form, {'attr': {'class': 'form-inline'}}) }}
                      {{ form_widget(facebook_form.clear, {'label': 'Clear', 'attr': {'class': 'btn btn-danger confirm-facebook-clear'}}) }}
                      {{ form_end(facebook_form) }}
                    </td>
                </tr>
            </table>
        </div>
      {% endif %}
    </div>
    <div style="padding-bottom: 30px"></div>

    {% include 'AppBundle::Claims/phoneAlternativesModal.html.twig' %}
</div>
