{% extends 'admin_claims_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/admin.scss'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/AdminEmployee/policies.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container" id="claim-handling">
    <h2>Search</h2>
    <p><em>Tip: Only one of these fields is required to perform a search.</em></p>
    {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
    <div class="bg-info" style="border-radius: 4px; padding: 20px;">
      <div class="row">
        <div class="form-group col-sm-2">
            {{ form_label(form.firstname, 'Firstname') }}
            {{ form_errors(form.firstname) }}
            {{ form_widget(form.firstname) }}
        </div>
        <div class="form-group col-sm-2">
            {{ form_label(form.lastname, 'Lastname') }}
            {{ form_errors(form.lastname) }}
            {{ form_widget(form.lastname) }}
        </div>
        <div class="form-group col-sm-4">
            {{ form_label(form.mobile, 'Mobile Number') }}
            {{ form_errors(form.mobile) }}
            {{ form_widget(form.mobile) }}
        </div>
        <div class="form-group col-sm-4">
            {{ form_label(form.email, 'Email') }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
            {{ form_label(form.postcode, 'Postcode') }}
            {{ form_errors(form.postcode) }}
            {{ form_widget(form.postcode) }}
        </div>
        <div class="form-group col-sm-4">
            {{ form_label(form.policy, 'Policy Number') }}
            {{ form_errors(form.policy) }}
            {{ form_widget(form.policy) }}
        </div>
        <div class="form-group col-sm-4">
            {{ form_label(form.status, 'Policy Status') }}
            {{ form_errors(form.status) }}
            {{ form_widget(form.status) }}
        </div>
      </div>
      {% if is_granted('ROLE_EMPLOYEE') %}
        <div class="row">
            <div class="form-group col-sm-4">
                {{ form_label(form.imei, 'IMEI') }}
                {{ form_errors(form.imei) }}
                {{ form_widget(form.imei) }}
            </div>
            <div class="form-group col-sm-4">
                {{ form_label(form.facebookId, 'Facebook Id') }}
                {{ form_errors(form.facebookId) }}
                {{ form_widget(form.facebookId) }}
            </div>
            <div class="form-group col-sm-4">
                {{ form_label(form.sosure, 'so-sure Users') }}
                {{ form_errors(form.sosure) }}
                {{ form_widget(form.sosure) }}
            </div>
            <div class="form-group col-sm-4">
                {{ form_label(form.serial, 'Serial Number') }}
                {{ form_errors(form.serial) }}
                {{ form_widget(form.serial) }}
            </div>
            <div class="form-group col-sm-4">
                {{ form_label(form.id, 'Policy Id') }}
                {{ form_errors(form.id) }}
                {{ form_widget(form.id) }}
            </div>
            <div class="form-group col-sm-4">
                {{ form_label(form.phone, 'Phone') }}
                {{ form_errors(form.phone) }}
                {{ form_widget(form.phone) }}
            </div>
            <div class="form-group col-sm-4">
                {{ form_label(form.paymentMethod, 'Payment Method') }}
                {{ form_errors(form.paymentMethod) }}
                {{ form_widget(form.paymentMethod) }}
            </div>
            <div class="form-group col-sm-4">
                {{ form_label(form.bacsReference, 'Bacs Reference') }}
                {{ form_errors(form.bacsReference) }}
                {{ form_widget(form.bacsReference) }}
            </div>
            <div class="form-group text-center col-sm-4">
                {{ form_label(form.invalid, 'Include Invalid Policies') }}
                {{ form_errors(form.invalid) }}
                {{ form_widget(form.invalid) }}
            </div>
        </div>
        {% else %}
            {% do form.imei.setRendered %}
            {% do form.facebookId.setRendered %}
            {% do form.sosure.setRendered %}
            {% do form.invalid.setRendered %}
            {% do form.serial.setRendered %}
            {% do form.id.setRendered %}
            {% do form.phone.setRendered %}
            {% do form.paymentMethod.setRendered %}
            {% do form.bacsReference.setRendered %}
        {% endif %}
        <div class="row">
            <div class="form-group text-center col-sm-12" style="padding-top: 10px;">
                {{ form_widget(form.search, {'label': 'Search', 'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>

    </div>
    {{ form_end(form) }}
    <div class="row-fluid">
        <div class="col-sm-6">
            <h2>{{ pager.nbResults }} Results</h2>
            <p>
                <em>Tip: Simply click on the policy number to view that person's details.</em>
            </p>
        </div>
        <div class="col-sm-6" class="pull-right" style="margin-top: 20px">
            {% if is_granted('ROLE_EMPLOYEE') and (status == 'call' or status == 'called') %}
                <form class="form-row" method='GET' action="{{ path('admin_policies_called_list') }}">
                    <div class="col-sm-9">
                        <select name="period">
                            {% for key, period in periods %}<option value="{{ period }}">{{ key }}</option>{% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3"><button class="btn btn-primary">Unpaid Calls Report</button></div>
                </form>
            {% endif %}
        </div>
    </div>
    {% if policies|length == 0 %}
    <div class="row-fluid">
        <h2>No policies found</h2>
    </div>
    {% else %}
        <form>
    <div class="row-fluid">
        <div class="col-md-12">
          <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Policy Number</th>
                        <th>Underwriter</th>
                        <th>Tier</th>
                        <th>Policy Status</th>
                        <th>Policy Age (days)</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Claims</th>
                        <th>Pot Value</th>
                        <th># Notes</th>
                        <th>Debt collector</th>
                        {% if is_granted('ROLE_EMPLOYEE') and status == 'call' %}
                        <th>Call</th>
                        {% endif %}
                        {#
                        <th>Facebook</th>
                        <th>User Status</th>
                        #}
                    </tr>
                    </thead>
                    <tbody>
                    {% for policy in policies if policy.user %}
                        <tr>
                            <td><a href="{{ path(policy_route, {id: policy.id}) }}">
                                {% if policy.policyNumber|length %}
                                    {{ policy.policyNumber }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </a></td>
                            <td>{{ policy.underwriterName }}</td>
                            <td>{{ policy.subvariantName }}</td>
                            <td>{{ policy.status }}
                                {% if policy.status == "cancelled" %} / {{ policy.cancelledReason }}{% endif %}
                                {% if status == 'call' or status == 'called' %}
                                    {# starting to impact on query time; for call for unpaid, its useful, but otherwise less important #}
                                    {% if policy.hasPolicyExpirationDate and policy.status == "unpaid" %} / {{ policy.policyExpirationDate | date('d M Y H:i', 'Europe/London') }}{% endif %}
                                {% endif %}
                            </td>
                            <td>{{ policy.age }} {% if policy.getPremiumPlan == 'yearly' %}<i class="fa fa-calendar" title="Yearly plan"></i>{% endif %}
                                {% if policy.nextPolicy %}<a href="{{ path(policy_route, {'id': policy.nextPolicy.id}) }}" title="Next policy"><i class="fa fa-arrow-right"></i> </a>{% endif %}
                            </td>
                            <td>{{ policy.user.firstname }} {{ policy.user.lastname }}</td>
                            <td>
                                {% if is_granted('ROLE_EMPLOYEE') %}
                                    <a href="{{ path('admin_user', {'id': policy.user.id }) }}">{{ policy.user.email }}</a>
                                {% elseif is_granted('ROLE_CLAIMS') %}
                                    <a href="{{ path('claims_user', {'id': policy.user.id }) }}">{{ policy.user.email }}</a>
                                {% else %}
                                    {{ policy.user.email }}
                                {% endif %}
                            </td>
                            <td>{{ policy.user.mobileNumber }}</td>
                            <td>
                                {{ policy.getClaimsText | raw}}
                            </td>
                            <td>£{{ policy.potValue }}</td>
                            <td style="background-color: {{ policy.getLatestNoteTimestampColour }}">{{ policy.notesList|length }}</td>
                            <td>{% if policy.debtCollector %}{{ policy.debtCollector }}{% else %}-{% endif %}</td>
                            {% if is_granted('ROLE_EMPLOYEE') and status == 'call' %}
                            <td><a href="#" data-toggle="modal" data-name="{{ policy.user.name }}" data-number="{{ policy.user.mobileNumber }}" data-policy-id="{{ policy.id }}" data-target="#callModal" class="btn btn-success">Call</a></td>
                            {% endif %}
                            {#
                            <td>{% if policy.user.facebookId | length > 0 %}Yes{% else %}No{% endif %}</td>
                            <td>{% if policy.user.locked %}locked{% elseif policy.user.enabled %}enabled{% else %}disabled{%endif %}</td>
                            #}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
      </div>
    </div>
        </form>
    {% endif %}

    {% if policies|length > 0 %}
    <div class="pagerfanta text-center">
        {{ pagerfanta(pager, 'twitter_bootstrap3') }}
    </div>
    {% endif %}
    <div style="padding-bottom: 50px"></div>

    {% if call_form is defined %}
    <div class="modal fade" id="callModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Record call</h4>
                </div>
                <div class="modal-body">
                    <h4>Name: <span id="call-form-name"></span></h4>
                    <h4>Number: <span id="call-form-number"></span></h4>
                    {{ form_start(call_form, {'attr': {'id': 'call-form', 'class': 'form'}})  }}
                    <div class="form-group">
                        {{ form_label(call_form.result, 'Call Result') }}
                        {{ form_errors(call_form.result) }}
                        {{ form_widget(call_form.result) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(call_form.voicemail, 'Left Voicemail') }}
                        {{ form_errors(call_form.voicemail) }}
                        {{ form_widget(call_form.voicemail) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(call_form.emailed, 'Emailed') }}
                        {{ form_errors(call_form.emailed) }}
                        {{ form_widget(call_form.emailed) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(call_form.sms, 'Sent SMS') }}
                        {{ form_errors(call_form.sms) }}
                        {{ form_widget(call_form.sms) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(call_form.notes, 'Additional Notes') }}
                        {{ form_errors(call_form.notes) }}
                        {{ form_widget(call_form.notes, { 'attr': {'class': 'form-control', 'rows': '3'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(call_form.policyId) }}
                        {{ form_widget(call_form.add, {'label': 'Record call', 'attr': {'class': 'btn btn-success'}})}}
                    </div>

                    {{ form_end(call_form) }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
