<div class="tabbed-cardbox" role="tablist">
    <ul class="nav nav-tabs"
        id="payments"
        role="tablist">
        <li class="nav-item">
            <a class="nav-link tab-link h6 mb-0 mr-2 active"
               id="payment_history_tab"
               data-toggle="tab"
               href="#payment_history"
               role="tab"
               aria-controls="payment_history"
               aria-selected="true">Payment History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link tab-link h6 mb-0"
               id="policy_premium_schedule_tab"
               data-toggle="tab"
               href="#policy_premium_schedule"
               role="tab"
               aria-controls="policy_premium_schedule"
               aria-selected="false">Premium Schedule</a>
        </li>
    </ul>
    <div class="tabbed-cardbox-info">
        <div class="tabbed-cardbox-info-item">
            {% if bacs_last_payment_in_progress %}
                <i class="fas fa-exclamation-triangle fa-lg fa-fw mr-2 text-warning"></i> <span>Payment pending</span>
            {% elseif policy.getCurrentInvoiceBalance >= 0 or equal_to_two_dp(0, policy.getCurrentInvoiceBalance) %}
                <i class="fas fa-check fa-lg fa-fw mr-2 text-success"></i> <span>Paid up to date</span>
            {% elseif not policy.hasPolicyOrUserBacsPaymentMethod %}
                <i class="fas fa-exclamation-square fa-lg fa-fw mr-2 text-danger"></i> <span>Payment overdue</span>
            {% elseif policy.hasPolicyOrUserBacsPaymentMethod %}
                <i class="fas fa-exclamation-triangle fa-lg fa-fw mr-2 text-warning"></i> <span>Payment pending</span>
            {% endif %}
        </div>
        <div class="tabbed-cardbox-info-item">
            Current balance: <span>&pound;{{ policy.getCurrentInvoiceBalance| number_format(2, '.', ',') }}</span>
        </div>
        <div class="tabbed-cardbox-info-item">
            Paid to date: <span>&pound;{{ policy.premiumPaid | number_format(2, '.', ',') }}</span>
        </div>
        <div class="tabbed-cardbox-info-item">
            Policy: <span>{{ policy.policyNumber }}</span>
        </div>
    </div>
    <div class="tab-content" id="payments_content">
        <div class="tab-pane active"
             id="payment_history"
             role="tabpanel"
             aria-labelledby="payment_history_tab">
            <table class="table table-striped table-sure mb-0" id="payment_history_table">
                <thead>
                    <tr>
                        <th>Date
                            <i class="fal fa-info-circle ml-2 text-primary fa-fw"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="This is the date you payment is due to be credited or debited to from your account. It is possible you will already see this payment on your bank or card statement, but it can take a couple of days for us to be notified."></i></small>
                        </th>
                        <th>Type</th>
                        <th class="text-right">Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% if policy.cashback %}
                    <tr>
                        <td>
                            -
                        </td>
                        <td class="h6">
                            <span class="text-success">Cashback</span>
                            <em class="sub"><small>{{ policy.cashback.getDisplayableStatus }}</small></em>
                        </td>
                        <td align="right">
                                <span class="text-success">
                                    &pound;{{ policy.cashback.getDisplayableAmount| number_format(2, '.', ',') }}
                                </span>
                        </td>
                        <td>
                            <i class="fal fa-info-circle ml-2 text-primary fa-fw"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="Cashback is not included in your current balance, nor in your paid to date"></i></small>
                        </td>
                    </tr>
                {% endif %}

                    {% set itemsHistory = 0 %}
                    {% set displayedTotal = 0 %}
                    {% for payment in policy.getSortedPayments if payment.isVisibleUserPayment %}
                        {% set itemsHistory = itemsHistory + 1 %}
                        {% if payment.type != 'bacs' or not payment.reversedBy or payment.status != 'pending' %}
                            {% set displayedTotal = displayedTotal + payment.amount %}
                        {% endif %}
                        <tr class="{% if payment.type == 'bacs' and payment.status == 'pending' %}table-warning{% endif %}">
                            <td>
                                <small>{{ payment.date | date('d/m/Y', 'Europe/London') }}</small>
                            </td>
                            <td class="h6">
                                {{ payment.userPaymentDisplay }}
                                <br>
                                <em class="sub"><small>
                                    {% if payment.type == 'bacs' and payment.status == 'pending' %}
                                        Pending
                                    {% elseif payment.details %}
                                        {{ payment.details }}
                                    {% endif %}
                                </small></em>
                            </td>
                            <td align="right">
                                {% if payment.type == 'bacs' and payment.reversedBy %}
                                    <del>
                                {% elseif payment.type == 'bacs' and payment.status == 'pending' %}
                                    <em>
                                {% elseif payment.type == 'policyDiscount' %}
                                    <span class="text-warning">
                                {% endif %}

                                {% if payment.amount >= 0 %}
                                    &pound;{{ payment.amount | number_format(2, '.', ',') }}
                                {% else %}
                                    &pound;{{ (0 - payment.amount) | number_format(2, '.', ',') }}
                                {% endif %}

                                {% if payment.type == 'policyDiscount' %}
                                    </span>
                                {% elseif payment.type == 'bacs' and payment.status == 'pending' %}
                                    </em>
                                {% elseif payment.type == 'bacs' and payment.reversedBy %}
                                    </del>
                                {% endif %}
                            </td>
                            <td>
                                {% if payment.amount < 0 %}
                                    <strong><small>CR</small></strong>
                                {% endif %}

                                {% if payment.type == 'bacs' and payment.reversedBy %}
                                    <i class="far fa-times fa-fw fa-lg text-danger"></i>
                                    <i class="fal fa-info-circle ml-2 text-primary fa-fw"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       title="Unpaid direct debit payment. This may have been caused by using an incorrect sort code/account number or not having suffient funds in your account. Depending on your bank, this may or may not appear on your bank statement and/or result in bank charges."></i></small>
                                {% elseif payment.type == 'bacs' and payment.status == 'pending' %}
                                    <i class="fal fa-clock fa-fw text-primary"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       title="Expected: {{ payment.getBacsReversedDate|date('d/m/Y', 'Europe/London') }}"></i>
                                {% elseif payment.type == 'policyDiscount' %}
                                    <i class="fal fa-info-circle ml-2 text-primary fa-fw"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       title="Your policy discount is applied across the annual policy and has reduced your payment(s) accordingly"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if not equal_to_two_dp(displayedTotal, policy.premiumPaid) %}
                        {% set itemsHistory = itemsHistory + 1 %}
                        <tr>
                            <td>
                                -
                            </td>
                            <td class="h6">
                                Other
                                <em class="sub"><small>Please contact us for more details</small></em>
                                <br>
                            </td>
                            <td align="right">
                                {% if (policy.premiumPaid - displayedTotal) >= 0 %}
                                    &pound;{{ (policy.premiumPaid - displayedTotal) | number_format(2, '.', ',') }}
                                {% else %}
                                    &pound;{{ (0 - (policy.premiumPaid - displayedTotal)) | number_format(2, '.', ',') }}
                                {% endif %}
                            </td>
                            <td>
                                {% if (policy.premiumPaid - displayedTotal) < 0 %}
                                    <strong><small>CR</small></strong>
                                {% endif %}
                            </td>
                        </tr>

                    {% endif %}
                    {% if itemsHistory == 0 %}
                        <tr>
                            <td colspan="4">Once you've made your first payment, it will be visible here.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane"
             id="policy_premium_schedule"
             role="tabpanel"
             aria-labelledby="policy_premium_schedule_tab">
            <table class="table table-striped table-sure mb-0">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th class="text-right">Amount</th>
                        <th></th>
                    </tr>
                </thead>
                {% set invoiceTotal = 0 %}
                {% for invoiceDate in policy.getInvoiceSchedule %}
                    {% set invoiceTotal = invoiceTotal + policy.getPremiumInstallmentPrice %}
                    <tr>
                        <td>{{ invoiceDate| date('d/m/Y', 'Europe/London') }}</td>
                        <td>
                            {% if policy.premiumPlan == 'monthly' %}
                                Monthly Premium
                            {% else %}
                                Annual Premium
                            {% endif %}
                        </td>
                        <td align="right">
                            &pound;{{ policy.getPremiumInstallmentPrice | number_format(2, '.', ',') }}
                        </td>
                        {% if invoiceDate|date('U') < 'now'|date('U') %}
                            <td align="center"><i class="far fa-check fa-fw fa-lg text-success"></i></td>
                        {% else %}
                            <td align="center"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% set invoiceRemaining = policy.getInvoiceAmountTotal - invoiceTotal  %}
                {% if  not equal_to_two_dp(0, invoiceRemaining) %}
                    <tr>
                        <td>{{ policy.end| date('d/m/Y', 'Europe/London') }}</td>
                        <td>
                            {% if invoiceRemaining >= 0 %}
                                Additional Premium
                            {% else %}
                                Premium Refund
                            {% endif %}
                        </td>
                        <td align="right">
                            {% if invoiceRemaining >= 0 %}
                                &pound;{{ invoiceRemaining | number_format(2, '.', ',') }}
                            {% else %}
                                &pound;{{ (0 - invoiceRemaining) | number_format(2, '.', ',') }}
                                <strong><small>CR</small></strong>
                            {% endif %}
                        </td>
                        {% if policy.end|date('U') < 'now'|date('U') %}
                            <td align="center"><i class="far fa-check fa-fw fa-lg text-success"></i></td>
                        {% else %}
                            <td align="center"></td>
                        {% endif %}
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>
