<section class="user-homepage--content section--pad">
    <div class="container">
        <h2>Please <span class="text-underline">double check</span> your details before confirming!</h2>
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-unstyled">
                    <li>
                        <small class="text-dark-grey">Name of account holder</small><br>
                        <span class="h3">{{ bacs.accountName }}</span>
                    </li>
                    <li>
                        <small class="text-dark-grey">Sort code</small><br>
                        <span class="h3">{{ bacs.getDisplayableSortCode }}</span>
                    </li>
                    <li>
                        <small class="text-dark-grey">Account number</small><br>
                        <span class="h3">{{ bacs.getDisplayableAccountNumber }}</span>
                    </li>
                    <li>
                        <small class="text-dark-grey">Bank/Building society</small><br>
                        <span class="h3">{{ bacs.bankName }}</span>
                    </li>
                    <li>
                        <small class="text-dark-grey">Bank/Building society address</small><br>
                        <span class="h3">
                            {% if bacs.bankAddress %}
                            {{ bacs.bankAddress.stringImplode('<br>')|raw }}
                            {% endif %}
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled">
                    <li>
                        <small class="text-dark-grey">Reference Number</small><br>
                        <span class="h3">XXX</span>
                    </li>
                    <li>
                        <small class="text-dark-grey">Collection frequency</small><br>
                        <span class="h3">First collection: XX</span><br>
                        <small class="text-dark-grey">(Collected on the XX of each month thereafter)</small><br>
                    </li>
                    <li>
                        <small class="text-dark-grey">Payment amount</small><br>
                        <span class="h3">£</span>
                    </li>
                </ul>
                <p>
                    I confirm that the above details are correct and payment to SO-SURE LIMITED will be first
                    collected on the XX. You will receive confirmation of this direct debit via email along
                    with any future notices.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_start(bacs_confirm_form) }}
                <div class="col-xs-6 form-group">
                    <a href="#tab-bacs-setup" class="btn btn-blue-hollow btn-block" data-toggle="tab">
                        Back
                    </a>
                </div>
                <div class="col-xs-6 form-group">
                    {{ form_widget(bacs_confirm_form.save, {'label': 'Confirm', 'attr': {'class': 'btn btn-green btn-block'}}) }}
                </div>

                {{ form_end(bacs_confirm_form) }}
                <p>Your payments are protected by the <a href="#" data-toggle="modal" data-target="#modal-dd">Direct Debit Guarantee</a></p>
            </div>
        </div>
    </div>
</section>
