<section class="user-homepage--content section--pad">
    <div class="container">
        <ul class="list-unstyled">
            <li>
                <small class="text-dark-grey">Name on account</small><br>
                <span class="h3">{{ bacs.accountName }}</span>
            </li>
            <li>
                <small class="text-dark-grey">Sort code</small><br>
                <span class="h3">{{ bacs.sortCode }}</span>
            </li>
            <li>
                <small class="text-dark-grey">Account number</small><br>
                <span class="h3">{{ bacs.getDisplayableAccountNumber }}</span>
            </li>
        </ul>
        {{ form_start(bacs_confirm_form) }}
            {{ form_widget(bacs_confirm_form.save, {'attr': {'class': 'btn btn-green'}}) }}
        {{ form_end(bacs_confirm_form) }}
        <p>Your payments are protected by the <a href="#" data-toggle="modal" data-target="#modal-dd">Direct Debit Guarantee</a></p>
    </div>
</section>
