<section class="user-homepage--content section--pad">
    <div class="container">
        <h2>Setup Direct Debit</h2>
        <div class="row">
                <div class="col-sm-6 col-md-4">
                {# TODO: Autocomplete off #}
                {{ form_start(bacs_form) }}
                    <div class="form-group {% if form_errors(bacs_form.accountName) %}has-error{% endif %}">
                        {{ form_widget(bacs_form.accountName, {'attr': {'placeholder': 'Name on account', 'class': 'form-control'}}) }}
                        <span class="help-block">The bank account must be in the policy holder's name {{ app.user.name }}</span>
                        <div class="help-block with-errors">{{ form_errors(bacs_form.accountName) }}</div>
                    </div>
                    <div class="form-group {% if form_errors(bacs_form.sortCode) %}has-error{% endif %}">
                        {{ form_widget(bacs_form.sortCode, {'attr': {'placeholder': 'Sort code', 'class': 'form-control sort-code', 'maxlength': 6}}) }}
                        <div class="help-block with-errors">{{ form_errors(bacs_form.sortCode) }}</div>
                    </div>
                    <div class="form-group {% if form_errors(bacs_form.accountNumber) %}has-error{% endif %}">
                        {{ form_widget(bacs_form.accountNumber, {'attr': {'placeholder': 'Account number', 'class': 'form-control', 'maxlength': 8}}) }}
                        <div class="help-block with-errors">{{ form_errors(bacs_form.accountNumber) }}</div>
                    </div>
                    <div class="form-group {% if form_errors(bacs_form.soleSignature) %}has-error{% endif %}">
                        {{ form_widget(bacs_form.soleSignature, {'attr': {'class': ''}}) }}
                        {{ form_label(bacs_form.soleSignature) }}
                        <div class="help-block with-errors">{{ form_errors(bacs_form.soleSignature) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <a href="{% if user.paymentMethod.type == "bacs" %}#tab-bacs{% else %}#tab-bacs-setup{% endif %}" class="btn btn-blue-hollow btn-block" data-toggle="tab">
                                Back
                            </a>
                        </div>
                        <div class="col-xs-6 form-group">
                            {{ form_widget(bacs_form.save, {'label': 'Continue', 'attr': {'class': 'btn btn-green btn-block'}}) }}
                        </div>
                    </div>
                    <p>Your payments are protected by the <a href="#" data-toggle="modal" data-target="#modal-dd">Direct Debit Guarantee</a></p>
                {{ form_end(bacs_form) }}
            </div>
        </div>
    </div>
</section>
