<section class="user-homepage--content section--pad">
    <div class="container">

        <h2><span class="sr-only">Setup Direct Debit</span><img src="{{ cdn_url }}/images/direct-debit-logo.svg" alt="Direct Debit"></h2>
        <p class="lead">Please <u>DOUBLE CHECK</u> your details before confirming!</p>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <ul class="list-unstyled bacs-list" data-hj-suppress="">
                    <li>
                        <small class="text-dark-grey">Name of account holder</small><br>
                        <span class="h4">{{ bacs.accountName }}</span>
                    </li>
                    <li>
                        <small class="text-dark-grey">Sort code</small><br>
                        <span class="h4">{{ bacs.getDisplayableSortCode }}</span>
                    </li>
                    <li>
                        <small class="text-dark-grey">Account number</small><br>
                        <span class="h4">{{ bacs.getAccountNumber }}</span>
                    </li>
                    <li>
                        <small class="text-dark-grey">Bank/Building society</small><br>
                        <span class="h4">{{ bacs.bankName }}</span>
                    </li>
                    <li>
                        <small class="text-dark-grey">Bank/Building society address</small><br>
                        <span class="h4">
                            {% if bacs.bankAddress %}
                            {{ bacs.bankAddress.stringImplode('<br>')|raw }}
                            {% endif %}
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4">
                <ul class="list-unstyled bacs-list" data-hj-suppress="">
                    <li>
                        <small class="text-dark-grey">Email</small><br>
                        <span class="h4">{{  user.email }}</span>
                    </li>
                    <li>
                        <small class="text-dark-grey">Reference Number</small><br>
                        <span class="h4">{{  bacs.reference }}</span>
                    </li>
                    <li>
                        <small class="text-dark-grey">Collection frequency</small><br>
                        <span class="h4">First collection: {{ bacs.getFirstPaymentDate(app.user)|date('d F','Europe/London') }}</span><br>
                        <small class="text-dark-grey">(Collected on the {{ policy.billing|date('jS','Europe/London') }} of each month thereafter)</small><br>
                    </li>
                    <li>
                        <small class="text-dark-grey">Payment amount</small><br>
                        <span class="h4">£{{ policy.getPremiumInstallmentPrice(true)|number_format(2, '.', ',') }}</span>
                    </li>
                </ul>
                <p>
                    I confirm that the above details are correct and payment to SO-SURE LIMITED will be first
                    collected on {{ bacs.getFirstPaymentDate(app.user)|date('d F','Europe/London') }}. You will receive confirmation of this direct debit along
                    with any future notices via <strong>email</strong>.
                </p>
            </div>
        </div>
        {{ form_start(bacs_confirm_form) }}
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    {{ form_widget(bacs_confirm_form.save, {'label': 'Confirm', 'attr': {'class': 'btn btn-green btn-block btn-pad'}}) }}
                </div>
                <div class="form-group">
                    <a href="#tab-bacs-setup" class="btn btn-blue-hollow btn-block btn-pad" data-toggle="tab">Back</a>
                    {% do bacs_confirm_form.back.setRendered %}
                </div>
                <p><small>Your payments are protected by the <a href="#" data-toggle="modal" data-target="#modal-dd" class="text-nowrap">Direct Debit Guarantee</a></small>.</p>
                <address>
                    <strong>SO-SURE Limited</strong><br>
                    Martin House, 5 Martin Lane, London EC4R 0DP<br>
                    +44 330 223 4948, <a href="mailto:hello@notouremail.com" class="mailto append-email">hello</a>
                </address>
                <img src="{{ cdn_url }}/images/direct-debit-logo.svg" alt="Direct Debit" width="100px">
            </div>
        </div>
        {{ form_end(bacs_confirm_form) }}
    </div>
</section>
