{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'user' %}
{# {% set user_mode = true %} #}

{% block title %}so-sure - Cancellation requested{% endblock %}
{% block meta %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/user.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/user-cancel.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container-large">
            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_broken-phone.png" class="img-center" alt="Broken phone logo" width="160px" />
            <h1 class="h2 mb-4">Cancel your policy</h1>
            <div class="cancel-text text-left">
                <p>Hi {{ policy.user.firstname }}, we have received your request and a member of the Policy Team will contact you within 1-2 working days so we can process the cancellation.</p>
                <p>If you require urgent assistance please contact us <a href="mailto:support@wearesosure.com" class="open-intercom">via intercom here</a> or email us at <a href="mailto:support@wearesosure.com">support@wearesosure.com</a>.</p>
            </div>
        </div>
    </section>

    {# Page Modal #}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/user-cancel.js') }}"></script>
{% endblock %}
