{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'user' %}
{# {% set user_mode = true %} #}

{% block title %}so-sure - Cancellation damage{% endblock %}
{% block meta %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/user.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/user-cancel.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container">
            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_broken-phone.png" class="img-center" alt="Broken phone logo" width="160px" />
            <h1 class="h2 mb-4">Already Broken/Damaged?</h1>
            {{ form_start(cancel_form, {'attr': {
                'data-toggle': 'validator',
                'class': 'validate-form',
                'data-client-validation': form_client_validation
            }}) }}
                <div class="cancel-text">
                    <p class="text-left">We understand mistakes happen, so if your phone is already damaged - the screen is cracked or the phone does not work you now have to cancel your policy. If your phone has cosmetic damage, like a few scratches, you can keep your policy and remain covered.</p>
                    <p class="mb-4 text-left">Please keep in mind that we take fraud seriously and do prosecute. If you purchased a policy knowing that your phone is damaged this is fraud. We can exercise our right to cancel a policy at anytime and report any instance of fraud to the police.</p>
                </div>
                <div class="hideme">
                    {{ form_widget(cancel_form.reason) }}
                    {{ form_widget(cancel_form.othertxt) }}
                </div>
                <div class="form-group mt-4">
                    <a href="{{ path('user_welcome_policy_id', {'id': policy.id}) }}" class="btn btn-primary mr-2">🥳 No, it's fine</a>
                    {{ form_widget(cancel_form.cancel,  {
                        'label': '😔 Cancel it\'s damaged',
                        'attr': {
                            'class': 'btn btn-white text-muted',
                            'data-event': ''
                    }}) }}
                </div>
            {{ form_end(cancel_form) }}
        </div>
    </section>

    {# Page Modal #}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/user-cancel.js') }}"></script>
{% endblock %}
