{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'user-cancel' %}
{% set robots_noindex = true %}
{% set user_mode = true %}
{% set small_footer = true %}

{% block title %}Cancel Your Policy | so-sure{% endblock %}
{% block meta %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/user.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/user-cancel.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container-large">
            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_broken-phone.png" class="img-center" alt="Broken phone logo" width="160px" />
            <h1 class="h2 mb-4">Cancel your policy</h1>
            <p>Please tell us why you'd like to cancel:</p>
            {{ form_start(cancel_form, {'attr': {
                'data-toggle': 'validator',
                'class': 'validate-form',
                'data-client-validation': form_client_validation
            }}) }}
                <div class="cancel-text">
                    <div class="form-group">
                        {{ form_widget(cancel_form.reason, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div id="reason_1" class="reason">
                        <p>We understand mistakes happen, so if your phone is already damaged (the screen is cracked or the phone does not work) you now have to cancel your policy. If your phone has cosmetic damage, like a few scratches, you can keep your policy and remain covered.</p>
                        <p class="mb-4">Please keep in mind that we take fraud seriously and do prosecute. If you purchased a policy knowing that your phone is damaged this is fraud. We can exercise our right to cancel a policy at anytime and report any instance of fraud to the police.</p>
                    </div>
                    <div id="reason_2" class="reason">
                        <p>You might have found a company offering ever so slightly cheaper cover than us, and we get that. We charge a little more because we offer a premium service to our customers. With us:</p>
                        <ul class="mb-4">
                            <li>24-72 hour replace or repair</li>
                            <li>Low excess from just {{ lowest_excess }}</li>
                            <li>Up to 80% money back</li>
                            <li>New, second hand &amp; refurbished phones</li>
                        </ul>
                    </div>
                    <div id="reason_3" class="reason">
                        <p>There are lots of insurance providers out there all promising the world, some may even be cheaper than us. We do charge a little extra, but that's because we give our customers the best service, an exceptional level of cover, and we give our customers up to 80% of their money back when they don't make a claim, see about our reward pot for more details - <a href="{{ path('social_insurance')}}" target="_blank" rel="noopener noreferrer">here</a>.</p>
                        <p>We recommend taking a good look at the terms and conditions before you switch and make sure the provider can offer 24-72 hour replacement once your claim is approved and covers you instantly for:</p>
                        <ul class="mb-4">
                            <li>Loss</li>
                            <li>Theft</li>
                            <li>Accidental damage</li>
                            <li>Breakdown out of warranty</li>
                            <li>Unauthorised Network Charges up to &pound;1000</li>
                            <li>Accessories up to &pound;100</li>
                            <li>And all of this includes worldwide travel cover</li>
                        </ul>
                    </div>
                    <div id="reason_4" class="reason">
                        <p class="mb-4">If you've discovered you're already covered by your bank, credit card or contents insurance make sure you've checked the details of the policy. We know that there's often fine-print that you may not be aware of.</p>
                    </div>
                    <div id="reason_5" class="reason">
                        <p>No problem, if in the future you decide to re-cover your phone, we will be happy to have you back!</p>
                        <p class="mb-4">Just a friendly reminder that should something happen to your phone especially if you have a new iPhone or Samsung device, the cost to replace your phone could be over &pound;1000.  A years piece of mind will cost you less than 25p a day.</p>
                    </div>
                    <div id="reason_6" class="reason">
                        <p class="mb-4">If you are having any technical difficulties with the app please either contact us <a href="mailto:support@wearesosure.com" class="open-intercom">via intercom here</a> or email us at <a href="mailto:support@wearesosure.com">support@wearesosure.com</a> and we’ll get back to you shortly.</p>
                    </div>
                    <div id="reason_7" class="reason">
                        <p class="mb-4">We're sorry you're having problems with pic-sure, lets see if we can help with these easy steps <a href="{{ path('faq') }}#mobile-phone-insurance-policy" target="_blank" rel="noopener noreferrer">here</a>.</p>
                    </div>
                    <div id="reason_8" class="reason">
                        <p>We appreciate that sometimes people have a change of heart. To help us improve, we'd love to know why you'd like to cancel.</p>
                    </div>
                    <div class="form-group">
                        {{ form_widget(cancel_form.othertxt, {'attr': {'class': 'form-control hideme', 'placeholder': 'Add your message...'}}) }}
                    </div>
                    <div class="form-group mt-4">
                        <a href="{{ path('homepage')}}" class="btn btn-primary mr-2">🥳 I want to stay</a>
                        {{ form_widget(cancel_form.cancel,  {
                            'label': '😔 Cancel',
                            'attr': {
                                'class': 'btn btn-white text-muted',
                                'data-event': ''
                        }}) }}
                    </div>
                </div>
            {{ form_end(cancel_form) }}
        </div>
    </section>

    {# Page Modal #}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/user-cancel.js') }}"></script>
{% endblock %}
