<h1 class="h2 mb-4">Payment details</h1>

<div class="row">
    {% if bacs_feature %}
        <div class="col-12 col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Your current payment method</h5>
                    <p class="card-text">
                        {% if not user.paymentMethod or user.paymentMethod.type == "judo" %}
                            Credit/Debit Card
                        {% elseif user.paymentMethod.type == "bacs" %}
                            Direct Debit
                        {% else %}
                            Unknown
                        {% endif %}
                    </p>
                    {% if not user.paymentMethod or user.paymentMethod.type == "judo" %}
                        <h6 class="card-title">Why not switch to Direct Debit?</h6>
                        <img src="{{ cdn_url }}/images/rebrand/misc/so-sure_direct-debit-logo.svg" alt="Direct Debit" width="140px" class="mx-auto mt-2 mb-3">
                        <p class="card-text">It helps avoid a lot of problems with Debit/Credit Card payments...</p>
                        <p class="card-text">...and only takes seconds to setup!</p>
                    {% endif %}
                    <a href="#"
                       data-tab-to="{% if user.paymentMethod and user.paymentMethod.type == "bacs" %}#payment_bacs_tab{% else %}#bacs_setup_tab{% endif %}"
                       class="btn {% if not user.paymentMethod or user.paymentMethod.type == "judo" %}btn-success{% else %}btn-outline-primary{% endif %} show-tab"
                       >
                        {% if not user.paymentMethod or user.paymentMethod.type == "judo" %}
                            Switch to Direct Debit
                        {% else %}
                            Back to Direct Debit
                        {% endif %}</a>
                    {% if policy.isDifferentPayer %}
                        <p class="card-text"><i class="fa fa-warning"></i> You are using multipay. Changing to direct debit will remove your multipay.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col-12 col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Your card</h5>
                <p class="card-text mb-4">
                    {% if policy and policy.isDifferentPayer %}
                        You are using multipay (via {{ policy.payer.name }}). Updating card details will remove your multipay.
                    {% elseif user.paymentMethod and user.paymentMethod.type == "judo" %}
                        {{ user.paymentMethod }}
                    {% else %}
                        Not setup
                    {% endif %}
                </p>
                {% if webpay_action and webpay_reference %}
                    <form action="{{ webpay_action }}" method="post" id="webpay-form">
                        <input  id="Reference" name="Reference" type="hidden" value="{{ webpay_reference }}">
                        <input type="submit" class="btn btn-outline-primary" value="Update your card details">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% if policy and policy.premiumPlan == 'monthly' and user.paymentMethod.type == "judo" %}
        <div class="col-12 col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Billing date</h5>
                    <p class="card-text mb-4">Monthly on the {{ policy.billing|date('jS','Europe/London') }} around {{ policy.billing|date('H','Europe/London') }}:00</p>
                    <a href="#"
                       class="card-link"
                       data-toggle="modal"
                       data-target="#billing_modal"><i class="fal fa-calendar fa-fw mr-2"></i> Change billing date</a>
                </div>
            </div>
        </div>
    {% endif %}
</div>
