{% extends 'base.html.twig' %}

{% set white_logo = true %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/user.scss'%}
    <link rel="stylesheet" href="{{ asset_url }}"> {% endstylesheets %}
{% endblock %}

{% block body %}
  {% include 'AppBundle:User:userNav.html.twig' %}

    <section class="user-homepage--content section--pad">
        <div class="container">

            <div class="row">
                  <div class="col-md-12">
                      <h2>Update your card details</h2>
                      <p>Your current card is: {{ user.paymentMethod }}</p>
                      {% if webpay_action and webpay_reference %}
                      <form action="{{ webpay_action }}" method="post" id="webpay-form">
                          <div class="row">
                              <div class="form-group col-sm-12">
                                  <input  id="Reference" name="Reference" type="hidden" value="{{ webpay_reference }}">
                                  <input type="submit" class="btn btn-primary " value="Update your card details">
                              </div>
                          </div>
                      </form>
                    {% elseif amount == 0 %}
                      <p>Your policy is paid to date.</p>
                    {% endif %}
                  </div>
            </div>
        </div>
  </section>
{% endblock %}
