{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}

{% block title %}so-sure - Make a claim
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/homepage.scss'
    '@AppBundle/Resources/public/sass/page/corporate.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{# {% block nav %}{% endblock %} #}

{% block body %}


    <section class="corporate-hero" id="hero-welcome">
        <div class="corporate-hero-inner">
            <h1 class="text-blue">Let's Get Started</h1>
            <p class="lead">Let us guide you through the process so we can get your claim approved and a replacement phone delivered to you as soon as possible.</p>
        </div>
    </section>

    <section id="claim-form-container" class="section-corporate section-corporate-form section-corporate-pad section-corporate-pad-both">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    {{ form_start(claim_form, {'attr': {'data-toggle': 'validator', 'class': 'validate-form', 'id':'claim-form', 'data-client-validation': form_client_validation }}) }}
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="form-group {% if form_errors(claim_form.signature) %}has-error{% endif %}">
                                    <label for="">I {{ username }} am providing below all accurate and truthful information. I understand that failure to do so will invalidate my claim and could lead to me being prosecuted. <span class="req">*</span></label>
                                    {{ form_widget(claim_form.signature, { 'attr': {'placeholder': 'Type in your full name', 'class': 'form-control'}}) }}
                                    <div class="help-block with-errors">{{ form_errors(claim_form.signature) }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group {% if form_errors(claim_form.name) %}has-error{% endif %}">
                                    <label for="">Fullname <span class="req">*</span></label>
                                    {{ form_widget(claim_form.name, { 'attr': {'class': 'form-control', 'placeholder': 'First name Last name'}}) }}
                                    <div class="help-block with-errors">{{ form_errors(claim_form.name) }}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group {% if form_errors(claim_form.email) %}has-error{% endif %}">
                                    <label for="">Email address <span class="req">*</span></label>
                                    {{ form_widget(claim_form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Same email as your account'}}) }}
                                    <div class="help-block with-errors">{{ form_errors(claim_form.email) }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group {% if form_errors(claim_form.phone) %}has-error{% endif %}">
                                    <label for="">Phone Number we can reach you on <span class="req">*</span></label>
                                    {{ form_widget(claim_form.phone, { 'attr': {'class': 'form-control', 'placeholder': 'Mobile or landline'}}) }}
                                    <div class="help-block with-errors">{{ form_errors(claim_form.phone) }}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group {% if form_errors(claim_form.timeToReach) %}has-error{% endif %}">
                                    <label for="">Best time to call you (UK business hours) <span class="req">*</span></label>
                                    {{ form_widget(claim_form.timeToReach, { 'attr': {'class': 'form-control', 'placeholder': ''}}) }}
                                    <div class="help-block with-errors">{{ form_errors(claim_form.timeToReach) }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group {% if form_errors(claim_form.policyNumber) %}has-error{% endif %}">
                                    <label for="">Policy Number <span class="req">*</span></label>
                                    {{ form_widget(claim_form.policyNumber, { 'attr': {'class': 'form-control', 'placeholder': 'e.g. Mob/2016/40000001'}}) }}
                                    <div class="help-block with-errors">{{ form_errors(claim_form.policyNumber) }}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group {% if form_errors(claim_form.type) %}has-error{% endif %}">
                                    <label for="">What happened to your phone? <span class="req">*</span></label>
                                    {{ form_widget(claim_form.type, { 'attr': {'class': 'form-control'}}) }}
                                    <div class="help-block with-errors">{{ form_errors(claim_form.type) }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group {% if form_errors(claim_form.when) %}has-error{% endif %}">
                                    <label for="">When it occur? <span class="req">*</span></label>
                                    {{ form_widget(claim_form.when, { 'attr': {'class': 'form-control', 'placeholder': 'Date (DD/MM/YYYY)'}}) }}
                                    <div class="help-block with-errors">{{ form_errors(claim_form.when) }}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group {% if form_errors(claim_form.time) %}has-error{% endif %}">
                                    <label for="">Around what time did it occur? <span class="req">*</span></label>
                                    {{ form_widget(claim_form.time, { 'attr': {'class': 'form-control', 'placeholder': 'As accurate as you be'}}) }}
                                    <div class="help-block with-errors">{{ form_errors(claim_form.time) }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group {% if form_errors(claim_form.where) %}has-error{% endif %}">
                                    <label for="">Where did it occur? <span class="req">*</span></label>
                                    {{ form_widget(claim_form.where, { 'attr': {'class': 'form-control', 'placeholder': ''}}) }}
                                    <div class="help-block with-errors">{{ form_errors(claim_form.where) }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group {% if form_errors(claim_form.message) %}has-error{% endif %}">
                                    <label for="">Please explain what occurred:<span class="req">*</span></label>
                                    {{ form_widget(claim_form.message, { 'attr': {'class': 'form-control', 'rows': '15'}}) }}
                                    <div class="help-block with-errors">{{ form_errors(claim_form.message) }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="form-group">
                                    {{ form_widget(claim_form.submit, { 'label': 'Make a claim', 'attr': {'class': 'btn btn-blue btn-lg'}}) }}
                                </div>
                            </div>
                        </div>
                    {{ form_end(claim_form) }}

                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}
    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/moment/moment.min.js'
    'components/jquery-mask-plugin/jquery.mask.min.js'
    'components/jquery-validation/jquery.validate.min.js'
    '@AppBundle/Resources/public/js/Default/jqueryValidatorMethods.js'
    '@AppBundle/Resources/public/js/Default/claim.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
