{% if claim.proofOfBarringFiles is defined %}
<div class="modal fade" id="baringModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="notes-update-form" class="form-horizontal" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Proof of Baring</h4>
                </div>
                <div class="modal-body">
                    {% if claim.proofOfBarringFiles|length == 0 %}
                        <p>No files are uploaded</p>
                    {% endif %}
                    {% for file in claim.proofOfBarringFiles %}
                        <p><a href="{{ s3DownloadLink(file.bucket, file.key) }}">{{ file.fileName }}</a> (Uploaded {{ file.created|date }})</p>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="token" value="{{ csrf_token('default') }}" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% if claim.proofOfUsageFiles is defined %}
<div class="modal fade" id="usageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="notes-update-form" class="form-horizontal" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Proof of Usage</h4>
                </div>
                <div class="modal-body">
                    {% if claim.proofOfUsageFiles|length == 0 %}
                        <p>No files are uploaded</p>
                    {% endif %}
                    {% for file in claim.proofOfUsageFiles %}
                        <p><a href="{{ s3DownloadLink(file.bucket, file.key) }}">{{ file.fileName }}</a> (Uploaded {{ file.created|date }})</p>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="token" value="{{ csrf_token('default') }}" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% if claim.proofOfPurchaseFiles is defined %}
<div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="notes-update-form" class="form-horizontal" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Proof of Purchase</h4>
                </div>
                <div class="modal-body">
                    {% if claim.proofOfPurchaseFiles|length == 0 %}
                        <p>No files are uploaded</p>
                    {% endif %}
                    {% for file in claim.proofOfPurchaseFiles %}
                        <p><a href="{{ s3DownloadLink(file.bucket, file.key) }}">{{ file.fileName }}</a> (Uploaded {{ file.created|date }})</p>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="token" value="{{ csrf_token('default') }}" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% if claim.proofOfLossFiles is defined %}
<div class="modal fade" id="lossModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="notes-update-form" class="form-horizontal" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Proof of Loss</h4>
                </div>
                <div class="modal-body">
                    {% if claim.proofOfLossFiles|length == 0 %}
                        <p>No files are uploaded</p>
                    {% endif %}
                    {% for file in claim.proofOfLossFiles %}
                        <p><a href="{{ s3DownloadLink(file.bucket, file.key) }}">{{ file.fileName }}</a> (Uploaded {{ file.created|date }})</p>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="token" value="{{ csrf_token('default') }}" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% if claim.damagePictureFiles is defined %}
<div class="modal fade" id="pictureModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="notes-update-form" class="form-horizontal" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Picture of Damage</h4>
                </div>
                <div class="modal-body">
                    {% if claim.damagePictureFiles|length == 0 %}
                        <p>No files are uploaded</p>
                    {% endif %}
                    {% for file in claim.damagePictureFiles %}
                        <p><a href="{{ s3DownloadLink(file.bucket, file.key) }}">{{ file.fileName }}</a> (Uploaded {{ file.created|date }})</p>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="token" value="{{ csrf_token('default') }}" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

