{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}
{% set distraction_free = 1 %}

{% block title %}so-sure - Make a claim
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    'components/animate.css/animate.min.css'
    '@AppBundle/Resources/public/sass/page/claim.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}


{# {% block nav %}{% endblock %} #}

{% block body %}

    <section id="claim-form-container" class="section--pad background-off-white">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                <p>Thank you for submitting your claim for {{ claim.type }} for your {{ phone }} with IMEI {{ claim.policy.imei }}. We will get in touch with you on the {{ claim.policy.user.mobileNumber }} {{ time }}.</p>

                <p class="text-center"><a href="{{ path('user_home') }}" class="btn btn-blue btn-pad ">Get back to your account</a></p>

                <p class="text-center"><a id="withdraw-claim" href="#" class="btn btn-green btn-pad " data-toggle="modal" data-target="#withdrawModal">Withdraw my claim</a></p>

                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}

    <div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document" style="width: 60%;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Withdraw Claim</h4>
          </div>
          <div class="modal-body">
            <h4>Are you sure you want to withdraw your claim?</h4>
            <p><a href="{{ path('withdraw_claimed_policy', {'policyId': claim.policy.id}) }}" class="btn btn-red btn-pad ">Withdraw my claim</a></p>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/moment/moment.min.js'
    'components/jquery-mask-plugin/jquery.mask.min.js'
    'components/jquery-validation/jquery.validate.min.js'
    '@AppBundle/Resources/public/js/Default/jqueryValidatorMethods.js'
    '@AppBundle/Resources/public/js/Default/claim.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
