{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'user' %}
{% set user_mode = true %}

{% block title %}so-sure - Make a claim - {{ app.user.firstname }}{% endblock %}


{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/user.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/user-claim.css') }}">
{% endblock %}

{% block body %}

    {% set remainderTotal = policy.premium.yearlyPremiumPrice| number_format(2, '.', ',') - policy.premiumPaid | number_format(2, '.', ',') %}

    <section class="hero">
        <div class="container-large">
            <h1 class="h2 mb-4">Make a claim 💔</h1>
            <div class="row">
                <div class="col-lg-5 order-lg-12">
                    <div class="alert-danger p-4 mb-4 rounded">
                        <h2 class="h3 text-danger mb-4">Warning loss/theft claims</h2>
                        <p>Please note that as your policy is less than a month old you are required to pay up the remainder of your policy on all loss or theft claims before the claim can be processed.</p>
                        <p>More information can be found in the T&amp;Cs in your policy documentation.</p>
                    </div>
                </div>
                <div class="col-lg-7 order-lg-1">
                    <p class="mb-4">In order to proceed with your loss/theft claim you must pay for the remainder of your policy year in full before being able to continue.</p>
                    <div class="h4 mb-3"><span class="sub">Paid to date:</span> &pound;{{ policy.premiumPaid | number_format(2, '.', ',') }}</div>
                    <div class="h4 mb-5"><span class="sub">Amount left to pay:</span> &pound;{{ remainderTotal }}</div>
                    <form class="payment-form" method="POST"
                          data-public-key="{{ checkout_public_key }}"
                          data-customer-email="{{ app.user.email }}"
                          data-value="{{ convert_to_pennies(amount) }}"
                          data-url="{{ url('purchase_checkout_claim', {'id': policy.id, 'pennies': convert_to_pennies(amount) }) }}"
                          data-csrf="{{ csrf_token('checkout') }}"
                          data-currency="GBP"
                          data-payment-mode="cards"
                          data-card-form-mode="cardTokenisation"
                          data-debug-mode="{% if environment != 'prod' %}true{% else %}false{% endif %}"
                          data-title="Pay now"
                          data-subtitle="Please enter your card details now">
                        <div class="form-group">
                            <input type="submit" class="btn btn-success btn-block-xs btn-card-pay" value="Pay remainder now">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    {# Components #}
    {% include 'AppBundle::Components/_loadingScreen.html.twig' with { 'loading_term': 'Processing...' } %}

    {# Page Modal #}

{% endblock %}

{% block javascriptsPage %}
    {% if environment == 'prod' %}
        <script src="https://cdn.checkout.com/js/checkout.js"></script>
    {% else %}
        <script src="https://cdn.checkout.com/sandbox/js/checkout.js"></script>
    {% endif %}
    <script src="{{ asset('css-js/purchase-remainder.js') }}"></script>
{% endblock %}
