{% if claim.proofOfBarringFiles is defined %}
    <div class="modal fade"
         id="baring_modal"
         tabindex="-1" role="dialog"
         aria-labelledby="baring_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Proof of Blacklisting</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {% if claim.proofOfBarringFiles|length == 0 %}
                        <p>No files are uploaded</p>
                    {% endif %}
                    {% for file in claim.proofOfBarringFiles %}
                        <p><a href="{{ s3DownloadLink(file.bucket, file.key) }}">{{ file.fileName }}</a> (Uploaded {{ file.created|date }})</p>
                    {% endfor %}
                    <input type="hidden" name="token" value="{{ csrf_token('default') }}" />
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if claim.proofOfUsageFiles is defined %}
    <div class="modal fade"
         id="usage_modal"
         tabindex="-1" role="dialog"
         aria-labelledby="usage_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Proof of Usage</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {% if claim.proofOfUsageFiles|length == 0 %}
                        <p>No files are uploaded</p>
                    {% endif %}
                    {% for file in claim.proofOfUsageFiles %}
                        <p><a href="{{ s3DownloadLink(file.bucket, file.key) }}">{{ file.fileName }}</a> (Uploaded {{ file.created|date }})</p>
                    {% endfor %}
                    <input type="hidden" name="token" value="{{ csrf_token('default') }}" />
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if claim.proofOfPurchaseFiles is defined %}
    <div class="modal fade"
         id="purchase_modal"
         tabindex="-1" role="dialog"
         aria-labelledby="purchase_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Proof of Purchase</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {% if claim.proofOfPurchaseFiles|length == 0 %}
                        <p>No files are uploaded</p>
                    {% endif %}
                    {% for file in claim.proofOfPurchaseFiles %}
                        <p><a href="{{ s3DownloadLink(file.bucket, file.key) }}">{{ file.fileName }}</a> (Uploaded {{ file.created|date }})</p>
                    {% endfor %}
                    <input type="hidden" name="token" value="{{ csrf_token('default') }}" />
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if claim.proofOfLossFiles is defined %}
    <div class="modal fade"
         id="loss_modal"
         tabindex="-1" role="dialog"
         aria-labelledby="loss_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Proof of Loss</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {% if claim.proofOfLossFiles|length == 0 %}
                        <p>No files are uploaded</p>
                    {% endif %}
                    {% for file in claim.proofOfLossFiles %}
                        <p><a href="{{ s3DownloadLink(file.bucket, file.key) }}">{{ file.fileName }}</a> (Uploaded {{ file.created|date }})</p>
                    {% endfor %}
                    <input type="hidden" name="token" value="{{ csrf_token('default') }}" />
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if claim.damagePictureFiles is defined %}
    <div class="modal fade"
         id="picture_modal"
         tabindex="-1" role="dialog"
         aria-labelledby="picture_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Picture of Damage</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {% if claim.damagePictureFiles|length == 0 %}
                        <p>No files are uploaded</p>
                    {% endif %}
                    {% for file in claim.damagePictureFiles %}
                        <p><a href="{{ s3DownloadLink(file.bucket, file.key) }}">{{ file.fileName }}</a> (Uploaded {{ file.created|date }})</p>
                    {% endfor %}
                    <input type="hidden" name="token" value="{{ csrf_token('default') }}" />
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if claim.otherFiles is defined %}
    <div class="modal fade"
         id="other_modal"
         tabindex="-1" role="dialog"
         aria-labelledby="other_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Other Files</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {% if claim.otherFiles|length == 0 %}
                        <p>No files are uploaded</p>
                    {% endif %}
                    {% for file in claim.otherFiles %}
                        <p><a href="{{ s3DownloadLink(file.bucket, file.key) }}">{{ file.fileName }}</a> (Uploaded {{ file.created|date }})</p>
                    {% endfor %}
                    <input type="hidden" name="token" value="{{ csrf_token('default') }}" />
                </div>
            </div>
        </div>
    </div>
{% endif %}
