{% extends 'base_rebrand.html.twig' %}
{% if current == 'claim-confirm' %}
    {% form_theme claim_confirm_form with ['AppBundle:Form:fields.html.twig', 'AppBundle:Form:submit.html.twig'] %}
{% endif %}

{# Set vars #}
{% set body_class = 'user' %}
{% set robots_noindex = true %}
{% set user_mode = true %}
{% set small_footer = true %}

{% block title %}Make a Claim | SO-SURE{% endblock %}

{% block cssPage %}
    {{ encore_entry_link_tags('user-claim') }}
{% endblock %}

{% block body %}

    <div class="hero">
        <div class="container-large">
            <h1 class="text-white mb-5 mb-lg-4">Make a Claim</h1>
        </div>
    </div>

    {% set active_tab = 'claimfnol' %}
    {% if current == 'claim-confirm' %}
        {% set active_tab = 'claimfnol-confirm' %}
    {% endif %}

    <div class="claim pb-lg-5">
        <div class="container pb-5">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <div class="cardbox cardbox-100">
                        <div class="cardbox__body">
                            {# NOTE: This is hidden! Remove d-none for testing #}
                            <ul class="nav nav-tabs d-none" id="fnol_sections" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link {% if active_tab == 'claimfnol' %}active{% endif %}"
                                    id="claimfnol_tab"
                                    data-toggle="tab"
                                    href="#tab_claimfnol"
                                    role="tab"
                                    aria-controls="claimfnol"
                                    aria-selected="{% if active_tab == 'claimfnol' %}true{% else %}false{% endif %}">FNOL</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if active_tab == 'claimfnol-confirm' %}active{% endif %}"
                                    id="claimfnol_confirm_tab"
                                    data-toggle="tab"
                                    href="#claimfnol_confirm"
                                    role="tab"
                                    aria-controls="claimfnol_confirm"
                                    aria-selected="{% if active_tab == 'claimfnol-confirm' %}true{% else %}false{% endif %}">CONFIRM FNOL</a>
                                </li>
                            </ul>
                            <div class="tab-content"
                                 id="fnol_sections_content"
                                 data-active="{{ active_tab }}">
                                <div class="tab-pane {% if active_tab == 'claimfnol' %}active{% endif %}"
                                     id="claimfnol"
                                     role="tabpanel"
                                     aria-labelledby="claimfnol_tab">
                                    {{ form_start(claim_form, {'attr': {
                                        'data-toggle': 'validator',
                                        'class': 'validate-form',
                                        'data-client-validation': form_client_validation
                                    }}) }}
                                        <div id="form-step-one" class="collapse show multi-toggle">
                                            <div class="form-group">
                                                {{ form_label(claim_form.policyNumber, 'Please select phone to claim') }}
                                                {{ form_widget(claim_form.policyNumber, { 'attr': {'class': 'form-control'}}) }}
                                                <div class="with-errors">{{ form_errors(claim_form.policyNumber) }}</div>
                                                <div class="with-errors">{{ form_errors(claim_form) }}</div>
                                            </div>
                                            <div class="d-md-flex justify-content-md-end">
                                                <button id="phone-select-btn" type="button" class="btn btn-success btn-block-xs" data-toggle="collapse" data-target=".multi-toggle">Continue</button>
                                            </div>
                                        </div>
                                        <div id="form-step-two" class="collapse multi-toggle multi-toggle-two">
                                            <div class="form-group">
                                                {{ form_label(claim_form.type, 'What happened?') }}
                                                {{ form_widget(claim_form.type, { 'attr': {'class': 'form-control'}}) }}
                                                <div class="with-errors">{{ form_errors(claim_form.type) }}</div>
                                            </div>
                                            <div class="d-md-flex justify-content-md-between">
                                                <button type="button" class="btn btn-outline-primary btn-block-xs" data-toggle="collapse" data-target=".multi-toggle">Back</button>
                                                <button id="form-step-two-btn" type="button" class="btn btn-success btn-block-xs" data-toggle="collapse" data-target=".multi-toggle-two" disabled="disabled">Continue</button>
                                            </div>
                                        </div>
                                        <div id="form-step-three" class="collapse multi-toggle-two multi-toggle-three">
                                            <div id="damage-policies" class="hideme">
                                                <div class="alert-danger p-4 mb-4 rounded">
                                                    <h2 class="h4 mb-4">Sorry, but your policy does not cover you for lost or stolen devices.</h2>
                                                    <p>Here are some basic tips that can help you:</p>
                                                    <ul>
                                                        <li class="mb-2">Lock the device using <a href="https://android.com/find" target="_blank" rel="noopener noreferrer">android.com/find <i class="far fa-external-link-alt"></i></a> or <a href="https://icloud.com/find" target="_blank" rel="noopener noreferrer">icloud.com/find <i class="far fa-external-link-alt"></i></a>.</li>
                                                        <li class="mb-2">Call your network provider to blacklist your phone as soon as possible!</li>
                                                        <li class="mb-2">Ask them to provide both proof of blacklisting and proof of usage documents as you will need these to file your claim.</li>
                                                        <li class="mb-2">If stolen, get a crime reference number from your local police station.</li>
                                                        <li>If you lost your phone, also declare it online at <a href="https://www.immobilise.com/" target="_blank" rel="noopener noreferrer">Immobilise.com <i class="far fa-external-link-alt"></i></a>.</li>
                                                    </ul>
                                                </div>
                                                <button type="button" class="btn btn-outline-primary btn-block-xs" data-toggle="collapse" data-target=".multi-toggle-two">Back</button>
                                            </div>
                                            <div id="other-policies">
                                                <div class="form-group">
                                                    {{ form_label(claim_form.network, 'My network is?') }}
                                                    {{ form_widget(claim_form.network, { 'attr': {'class': 'form-control'}}) }}
                                                    <div class="with-errors">{{ form_errors(claim_form.network) }}</div>
                                                </div>
                                                <div class="d-md-flex justify-content-md-between">
                                                    <button type="button" class="btn btn-outline-primary btn-block-xs" data-toggle="collapse" data-target=".multi-toggle-two">Back</button>
                                                    <button id="form-step-three-btn" type="button" class="btn btn-success btn-block-xs" data-toggle="collapse" data-target=".multi-toggle-three" disabled="disabled">Continue</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="form-step-four" class="collapse multi-toggle-three">
                                            <div class="alert-info p-4 mb-4 rounded">
                                                <h2 class="h4 mb-4">Let’s Get Started</h2>
                                                <p>Let us guide you through the process so we can get your claim approved as soon as possible. What will happen?</p>
                                                <ol>
                                                    <li class="mb-2">Fill out this form and provide all necessary documents so that our Claims team can approve your claim as quickly as possible.</li>
                                                    <li>We will contact you within a few hours by phone, please enter a valid telephone number below. Please note contact will be made during our operating hours.</li>
                                                </ol>
                                            </div>
                                            <div class="form-group">
                                                {{ form_widget(claim_form.signature, { 'attr': {'placeholder': 'Type in your full name to sign this document', 'class': 'form-control'}}) }}
                                                <small class="form-text">Sign above: I, {{ username }}, am providing all accurate and truthful information. I understand that failure to do so will invalidate my claim and could lead to me being prosecuted 🖋️</small>
                                                <div class="with-errors">{{ form_errors(claim_form.signature) }}</div>
                                                <input type="hidden" value="{{ username }}" id="username_signature">
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md form-group">
                                                    {{ form_label(claim_form.name) }}
                                                    {{ form_widget(claim_form.name, { 'attr': {'class': 'form-control', 'placeholder': 'First name Last name'}}) }}
                                                    <div class="with-error">{{ form_errors(claim_form.name) }}</div>
                                                </div>
                                                <div class="col-md form-group">
                                                    {{ form_label(claim_form.email) }}
                                                    {{ form_widget(claim_form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Same email as your account'}}) }}
                                                    <div class="with-errors">{{ form_errors(claim_form.email) }}</div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md form-group">
                                                    {{ form_label(claim_form.phone, 'Best number to reach you on?') }}
                                                    {{ form_widget(claim_form.phone, { 'attr': {
                                                        'class': 'form-control',
                                                        'value': user_number
                                                    }}) }}
                                                    <small class="form-text">Only use your current mobile number if your phone is damaged, but able to receive calls</small>
                                                    <div class="with-errors">{{ form_errors(claim_form.phone) }}</div>
                                                </div>
                                                <div class="col-md form-group">
                                                    {{ form_label(claim_form.timeToReach, 'What\'s the best time to call?') }}
                                                    <div class="input-group time-picker"
                                                         id="time_picker_one"
                                                         data-target-input="nearest">
                                                        {{ form_widget(claim_form.timeToReach, { 'attr': {
                                                            'class': 'form-control datetimepicker-input error-after',
                                                            'data-target': '#time_picker_one',
                                                        }}) }}
                                                        <div class="input-group-append"
                                                             data-target="#time_picker_one"
                                                             data-toggle="datetimepicker">
                                                            <div class="input-group-text"><i class="fal fa-clock fa-fw"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="with-errors">{{ form_errors(claim_form.timeToReach) }}</div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md form-group">
                                                    {{ form_label(claim_form.when, 'It happened on') }}
                                                    <div class="input-group date-picker"
                                                         id="date_picker_one"
                                                         data-target-input="nearest">
                                                        {{ form_widget(claim_form.when, { 'attr': {
                                                            'class': 'form-control datetimepicker-input date_mask',
                                                            'data-target': '#date_picker_one',
                                                        }}) }}
                                                        <div class="input-group-append"
                                                             data-target="#date_picker_one"
                                                             data-toggle="datetimepicker">
                                                            <div class="input-group-text"><i class="fal fa-calendar fa-fw"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="with-errors">{{ form_errors(claim_form.when) }}</div>
                                                </div>
                                                <div class="col-md form-group">
                                                    {{ form_label(claim_form.time, 'At around') }}
                                                    <div class="input-group time-picker"
                                                         id="time_picker_two"
                                                         data-target-input="nearest">
                                                        {{ form_widget(claim_form.time, { 'attr': {
                                                            'class': 'form-control datetimepicker-input date_mask',
                                                            'data-target': '#time_picker_two',
                                                        }}) }}
                                                        <div class="input-group-append"
                                                             data-target="#time_picker_two"
                                                             data-toggle="datetimepicker">
                                                            <div class="input-group-text"><i class="fal fa-clock fa-fw"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="with-errors">{{ form_errors(claim_form.time) }}</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(claim_form.where, 'Where did it happen?') }}
                                                {{ form_widget(claim_form.where, { 'attr': {'class': 'form-control', 'placeholder': 'e.g at home, at work, out shopping etc.'}}) }}
                                                <div class="with-errors">{{ form_errors(claim_form.where) }}</div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md form-group">
                                                    {{ form_label(claim_form.message, 'What exactly happened?') }}
                                                    {{ form_widget(claim_form.message, { 'attr': {
                                                        'class': 'form-control',
                                                        'rows': '10',
                                                        'placeholder': 'In as much detail as you can remember what has happened to the device'
                                                    }}) }}
                                                    <small class="form-text text-right" id="claim_message_length"></small>
                                                    <div class="with-errors">{{ form_errors(claim_form.message) }}</div>
                                                </div>
                                            </div>
                                            <div class="d-md-flex justify-content-md-between">
                                                <button type="button" class="btn btn-outline-primary btn-block-xs" data-toggle="collapse" data-target=".multi-toggle-three">Back</button>
                                                {{ form_widget(claim_form.submit, { 'label': 'Start my claim', 'attr': {'class': 'btn btn-success  btn-block-xs'}}) }}
                                            </div>
                                        </div>
                                    {{ form_end(claim_form) }}
                                </div>
                                <div class="tab-pane {% if active_tab == 'claimfnol-confirm' %}active{% endif %}"
                                     id="claimfnol_confirm"
                                     role="tabpanel"
                                     aria-labelledby="claimfnol_confirm_tab">
                                    {% if current == 'claim-confirm' %}
                                        {% if warn_pay %}
                                            <div class="alert-danger p-4 mb-4 rounded">
                                                <h2 class="h4 text-danger mb-4">Warning loss/theft claims</h2>
                                                <p>Please note that as your policy is less than a month old you are required to pay up the remainder of your policy on all loss or theft claims before the claim can be processed.</p>
                                                <p>More information can be found in the T&amp;Cs in your policy documentation.</p>
                                            </div>
                                        {% endif %}
                                        {{ form_start(claim_confirm_form) }}
                                            <div class="h5 mb-4">I, {{ username }} confirm that:</div>
                                            <div class="form-group">
                                                {{ form_widget(claim_confirm_form.checkTruthful, {
                                                    'label': 'I acknowledge that should I provide false or inaccurate information this will constitute insurance fraud, which is a criminal offence. I agree the information I have provided is to the best of my knowledge and I understand that I could be prosecuted if fraud is identified.',
                                                    'attr': {'class':'custom-control-input'}}
                                                ) }}
                                                <div class="with-errors">{{ form_errors(claim_confirm_form.checkTruthful) }}</div>
                                            </div>
                                            <div class="form-group d-md-flex justify-content-md-between">
                                                <a id="claim_back_btn"
                                                   href="#"
                                                   data-tab-to="#claimfnol_tab"
                                                   class="btn btn-outline-primary show-tab btn-block-xs mr-md-2">Back</a>
                                                {{ form_widget(claim_confirm_form.submit, {'label': 'Proceed to next step', 'attr': {'class': 'btn btn-success   btn-block-xs'}}) }}
                                            </div>
                                        {{ form_end(claim_confirm_form) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Page Modals #}
    {% include 'AppBundle:User:claimModals.html.twig' %}

    {% if active_tab == 'claimfnol' %}
        <div class="modal fade"
             id="claim_warning_modal"
             tabindex="-1" role="dialog"
             aria-labelledby="claim_warning_modal"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Important info</h5>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li class="mb-2">Lock the device using <a href="https://android.com/find" target="_blank" rel="noopener noreferrer">android.com/find <i class="far fa-external-link-alt"></i></a> or <a href="https://icloud.com/find" target="_blank" rel="noopener noreferrer">icloud.com/find <i class="far fa-external-link-alt"></i></a>.</li>
                            <li class="mb-2">Call your network provider to blacklist your phone as soon as possible!</li>
                            <li class="mb-2">Ask them to provide both proof of blacklisting and proof of usage documents as you will need these to file your claim.</li>
                            <li class="mb-2">If stolen, get a crime reference number from your local police station.</li>
                            <li class="mb-2">If you lost your phone, also declare it online at <a href="https://www.immobilise.com/" target="_blank" rel="noopener noreferrer">Immobilise.com <i class="far fa-external-link-alt"></i></a>.</li>
                            <li>Please note, <strong>claims can only be made within 28 days of the incident.</strong> if you're unsure of what to do please <strong>get in touch</strong>.</li>
                        </ul>

                        <div class="text-center">
                            <a href="#"
                               class="btn btn-danger "
                               data-dismiss="modal"
                               aria-label="Close">Understood</a></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascriptsPage %}
    {{ encore_entry_script_tags('user') }}
    {{ encore_entry_script_tags('user-claim') }}
{% endblock %}
