{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}
{% set distraction_free = 1 %}

{% block title %}so-sure - Make a claim
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    'components/animate.css/animate.min.css'
    '@AppBundle/Resources/public/sass/page/claim.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}


{# {% block nav %}{% endblock %} #}

{% block body %}

    <section id="claim-form-container" class="section--pad background-off-white">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <p class="lead text-center">Thank you for submitting your claim for <span class="h4">{{ claim.type }}</span> for your <span class="h4">{{ phone }}</span> with IMEI <span class="h4">{{ claim.policy.imei }}</span>. </p>

                    <p class="text-center">We will get in touch with you on the <span class="h4">{{ claim.policy.user.mobileNumber }}</span> {{ time }}.</p>

                    <ul class="list-inline text-center">
                        <li>
                            <a href="{{ path('user_home') }}" class="btn btn-blue btn-pad ">Get back to your account</a>
                        </li>
                        <li>
                            <a id="withdraw-claim" href="#" class="btn btn-green btn-pad " data-toggle="modal" data-target="#withdrawModal">Withdraw my claim</a>
                        </li>
                    </ul>

                    {{ form_start(claim_form, {'attr': {'data-toggle': 'validator', 'class': 'validate-form', 'id':'claim-form', 'data-client-validation': form_client_validation }}) }}

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group {% if form_errors(claim_form.when) %}has-error{% endif %}">
                                <label class="h4">It happened on <span class="req">*</span></label>
                                {{ form_widget(claim_form.when, { 'attr': {'class': 'form-control date_mask', 'placeholder': 'Date (DD/MM/YYYY)'}}) }}
                                <div class="help-block with-errors">{{ form_errors(claim_form.when) }}</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group {% if form_errors(claim_form.time) %}has-error{% endif %}">
                                <label class="h4">At around <span class="req">*</span></label>
                                {{ form_widget(claim_form.time, { 'attr': {'class': 'form-control'}}) }}
                                <div class="help-block with-errors">{{ form_errors(claim_form.time) }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 text-center">
                            {% for file in claim.proofOfUsageFiles %}
                                <p><a href="{{ s3DownloadLink(file.bucket, file.key) }}">{{ file.fileName }}</a> (Uploaded {{ file.created|date }})</p>
                            {% endfor %}
                            <div class="form-group {% if form_errors(claim_form.proofOfUsage) %}has-error{% endif %}">
                                <label class="h4">Proof of usage <span class="req">*</span></label>
                                {{ form_widget(claim_form.proofOfUsage, { 'attr': {'class': 'form-control'}}) }}
                                <div class="help-block with-errors">{{ form_errors(claim_form.proofOfUsage) }}</div>
                            </div>
                        </div>
                    </div>

                    {% if picture_of_phone is defined and picture_of_phone %}
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            {% for file in claim.damagePictureFiles %}
                                <p><a href="{{ s3DownloadLink(file.bucket, file.key) }}">{{ file.fileName }}</a> (Uploaded {{ file.created|date }})</p>
                            {% endfor %}
                            <div class="form-group {% if form_errors(claim_form.pictureOfPhone) %}has-error{% endif %}">
                                <label class="h4">Picture of damaged phone <span class="req">*</span></label>
                                {{ form_widget(claim_form.pictureOfPhone, { 'attr': {'class': 'form-control'}}) }}
                                <div class="help-block with-errors">{{ form_errors(claim_form.pictureOfPhone) }}</div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if proof_of_barring is defined and proof_of_barring %}
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            {% for file in claim.proofOfBarringFiles %}
                                <p><a href="{{ s3DownloadLink(file.bucket, file.key) }}">{{ file.fileName }}</a> (Uploaded {{ file.created|date }})</p>
                            {% endfor %}
                            <div class="form-group {% if form_errors(claim_form.proofOfBarring) %}has-error{% endif %}">
                                <label class="h4">Proof of barring <span class="req">*</span></label>
                                {{ form_widget(claim_form.proofOfBarring, { 'attr': {'class': 'form-control'}}) }}
                                <div class="help-block with-errors">{{ form_errors(claim_form.proofOfBarring) }}</div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if proof_of_purchase is defined and proof_of_purchase %}
                        <div class="row">
                            <div class="col-xs-12 text-center">
                            {% for file in claim.proofOfPurchaseFiles %}
                                <p><a href="{{ s3DownloadLink(file.bucket, file.key) }}">{{ file.fileName }}</a> (Uploaded {{ file.created|date }})</p>
                            {% endfor %}
                                <div class="form-group {% if form_errors(claim_form.proofOfPurchase) %}has-error{% endif %}">
                                    <label class="h4">Proof of purchase <span class="req">*</span></label>
                                    {{ form_widget(claim_form.proofOfPurchase, { 'attr': {'class': 'form-control'}}) }}
                                    <div class="help-block with-errors">{{ form_errors(claim_form.proofOfPurchase) }}</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="form-group">
                                {{ form_widget(claim_form.confirm, { 'label': 'Update', 'attr': {'class': 'btn btn-blue btn-lg'}}) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(claim_form) }}

                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}
    <div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 60%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title sr-only">Withdraw Claim</h4>
                </div>
                <div class="modal-body text-center">
                    <h4>Are you sure you want to withdraw your claim?</h4>
                    <p><a href="{{ path('withdraw_claimed_policy', {'policyId': claim.policy.id}) }}" class="btn btn-red btn-pad ">Withdraw my claim</a></p>
                </div>
            </div>
        </div>
    </div>
    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/moment/moment.min.js'
    'components/jquery-mask-plugin/jquery.mask.min.js'
    'components/jquery-validation/jquery.validate.min.js'
    '@AppBundle/Resources/public/js/Default/jqueryValidatorMethods.js'
    '@AppBundle/Resources/public/js/Default/claim.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
