{% extends 'base_portal.html.twig' %}

{# Set vars #}
{% set body_class = '' %}
{% set quote_mode = true %}

{% block title %}Complete | so-sure{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/pos.css') }}">
{% endblock %}

{% block gtm_data %}
    ,
    'policy': {
        'id': '{{ policy.id }}'
    },
    'affilinet': {
        'rate': {% if policy.getPremiumPlan == 'monthly'%}1{% elseif policy.getPremiumPlan == 'yearly' %}2{% else %}-1{% endif %},
        'gwp': {% if policy.getPremiumPlan == 'monthly'%}{{ policy.premium.gwp }}{% elseif policy.getPremiumPlan == 'yearly' %}{{ policy.premium.yearlyGwp }}{% else %}0{% endif %}
    },
    {% if has_visited_welcome_page is defined and has_visited_welcome_page == false %}
        'ecommerce': {
            'purchase': {
                'products': [{
                    'id': '{{ policy.phone.id }}',
                    'name': '{{ policy.phone.make }} {{ policy.phone.model }}',
                    'price': '{% if policy.getPremiumPlan == 'monthly'%}{{ policy.premium.gwp }}{% elseif policy.getPremiumPlan == 'yearly' %}{{ policy.premium.yearlyGwp }}{% endif %}',
                    'brand': '{{ policy.phone.make }}',
                    'category': '{{ policy.phone.make }}',
                    'variant': '{{ policy.phone.memory }}GB',
                    'quantity': 1
                }]
            }
        },
        'transactionId': '{{ policy.policyNumber }}',
        'transactionTotal': {% if policy.getPremiumPlan == 'monthly'%}{{ policy.premium.gwp }}{% elseif policy.getPremiumPlan == 'yearly' %}{{ policy.premium.yearlyGwp }}{% endif %},
        'transactionProducts': [{
            'name': '{{ policy.phone.make }} {{ policy.phone.model }}',
            'sku':  '{{ policy.phone.id }}',
            'category': '{{ policy.phone.make }}',
            'price': {% if policy.getPremiumPlan == 'monthly'%}{{ policy.premium.gwp }}{% elseif policy.getPremiumPlan == 'yearly' %}{{ policy.premium.yearlyGwp }}{% endif %},
            'quantity': 1
        }]
    {% endif %}
{% endblock %}

{% block body %}

    <section class="portal d-flex align-items-center justify-content-center">
        <div class="portal__inner w-75">
            <div class="text-center">
                <div class="h4 text-white mb-4">Congratulations {{ policy.user.firstname }}, your brand new <span>{{ policy.phone.make }} {{ policy.phone.model }}</span> is now covered.</div>
                <div class="h4 text-white mb-4">We will send your policy documents to your email.</div>
                <div class="h4 text-white mb-4">Don't forget to download our app to share and earn rewards. You should recieve a download link via text shortly.</div>
                <a href="#" class="btn btn-success btn-block-xs">Finish</a>
            </div>
        </div>
        <span class="portal__phone__background animated fadeInLeft"></span>
        <span class="portal__money__background animated jackInTheBox"></span>
    </section>

{% endblock %}

{% block footer %}{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/pos.js') }}"></script>
{% endblock %}
