{% extends 'base.html.twig' %}

{% block body %}

<section class="user-homepage--content section--pad">
<div class="container">

    <div class="row">

        <div class="row">
            <div class="col-md-12">
                <h1>Who do you trust?</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                {% for friend in friends %}
                    <div class="col-xs-12 col-md-3">
                        <div class="trust">
                        <p>{{ friend['name'] }} <a href="https://www.facebook.com/search/people/?q={{ friend['name'] }}" target="_blank" rel="noopener noreferrer"><span class="fa fa-search"></span></a></p>
                        <p><img class="trust-photo" src="{{ friend['picture']['url']|replace({'http:': 'https:' }) }}" /></p>
                        <p><a href="{{ path('user_post', {id: friend['id']}) }}" class="btn btn-success">Trust this friend</a></p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
</section>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/user.scss'%}
    <link rel="stylesheet" href="{{ asset_url }}"> {% endstylesheets %}
{% endblock %}


