{% extends 'base_rebrand.html.twig' %}

{% block body %}

<h1>Who do you trust?</h1>

<ul class="list-unstyled">
    {% for friend in friends %}
        <li>
            <img class="trust-photo" alt="{{ friend['name'] }}" src="{{ friend['picture']['url']|replace({'http:': 'https:' }) }}" />
            {{ friend['name'] }} <a href="https://www.facebook.com/search/people/?q={{ friend['name'] }}" target="_blank" rel="noopener noreferrer"><span class="fa fa-search"></span></a>
            <a href="{{ path('user_post', {id: friend['id']}) }}" class="btn btn-success btn-sm">Trust this friend</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}


