{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'user' %}
{% set robots_noindex = true %}
{% set user_mode = true %}
{% set small_footer = true %}

{% block title %}Welcome {{ app.user.firstname }} 🎉 | so-sure{% endblock %}

{# Set Meta #}
{% if feature_enabled('referral') %}
    {% set og_title = '1 Month FREE Phone Insurance thanks to ' ~ app.user.firstname %}
    {% set og_description = 'Check out so-sure to get 1 month free phone insurance immediately + excellent perks: low priced premium and excess, 2nd hand phone insurance, up to 80% cash back, and much more!' %}
    {% set og_image = cdn_url ~ '/images/rebrand/og/so-sure_og-referral.jpg' %}
{% else %}
    {% set og_title = 'Sign up and save' %}
    {% set og_description = 'Hey, check out so-sure, a fun new company. Better & up to 80% cheaper phone insurance.' %}
    {% set og_image = cdn_url ~ '/images/rebrand/og/so-sure_og-image-1.png' %}
{% endif %}

{% if policy.standardSCode is defined and policy.standardSCode %}
    {% set og_url = url('scode', {'code': policy.standardSCode.code}) %}
{% endif %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/user.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/user-dashboard.css') }}">
{% endblock %}

{% block body %}

    {% if policy.policyTerms.isPicSureRequired and policy.picSureStatus != 'approved' %}
        <section class="hero hero-invalid">
            <div class="container-large">
                <h1 class="h2 mb-4 text-white">Almost there 👍</h1>
                <p class="lead mb-4 text-white">Please be aware that your policy will NOT commence until you have verified the condition of phone with our app. Install the app and follow the instructions.</p>
                {% if policy.phone.iTunes %}
                    <a href="{{ apple_download('user-required-account') }}"
                       class="btn btn-success btn-shadow btn-block-xs ga-outbound-click"
                       data-clicklabel="iTunes"
                       target="_blank"
                       rel="noopener noreferrer">
                        <i class="fab fa-apple mr-2 fa-lg"></i> Download the App</a>
                {% endif %}
                {% if policy.phone.googlePlay %}
                    <a href="{{ google_download('user-required-account') }}"
                       class="btn btn-success btn-shadow btn-block-xs ga-outbound-click"
                       data-clicklabel="PlayStore"
                       target="_blank"
                       rel="noopener noreferrer">
                        <i class="fab fa-android mr-2 fa-lg"></i> Download the App</a>
                {% endif %}
            </div>
        </section>
    {% else %}
        <div class="hero">
            <div class="container-large">
                <div class="d-lg-flex align-items-center text-lg-left">
                    <div class="flex-grow-1">
                        {% if policy is defined and policy %}
                            <div class="h5 text-columbia-blue-e fit">MY SO-SURE <span class="mx-2 text-white">|</span> {{ policy.phone.make }} {{ policy.phone.model }}</div>
                        {% endif %}
                        <h1 class="text-white mb-5 mb-lg-4">
                            Welcome, <span class="text-nowrap">{{ app.user.firstname }}</span>
                        </h1>
                        {{ form_start(scode_form, {'attr': {
                            'class': 'w-75 d-none d-lg-block',
                            'autocomplete': 'off'
                        }}) }}
                            <p class="text-white mb-2">
                                {% if code_message is not null %}
                                    {{ code_message }} 👇
                                {% else %}
                                    Already received an invite code?
                                    <span class="text-dodger-blue">
                                        <a href="#"
                                           data-toggle="modal"
                                           data-target="#scode_info"
                                           role="button">
                                            <i class="fal fa-info-circle fa-fw text-columbia-blue-e"></i>
                                        </a>
                                    </span>
                                {% endif %}
                            </p>
                            <div class="custom-input-with-btn">
                                {{ form_widget(scode_form.scode, {'attr': {
                                    'placeholder': 'Enter Code',
                                    'class': 'form-control form-control-white form-control-shadow'
                                }}) }}
                                {{ form_widget(scode_form.submit, {'label': code_button_text, 'attr': {
                                    'class': 'btn btn-success btn-sm'
                                }}) }}
                            </div>
                        {{ form_end(scode_form) }}
                    </div>
                    <div class="d-lg-flex align-items-lg-center justify-content-lg-end">
                        <div class="dashboard-dial"
                             id="reward_pot_dial"
                             data-pot-value="{{ policy.potValue|number_format(2, '.', ',') }}"
                             data-max-pot="{{ policy.maxPot|number_format(2, '.', ',') }}">
                            <div class="dashboard-dial-inner">
                                <div class="dashboard-dial-content">
                                    <div class="h6 mb-1">REWARD POT</div>
                                    <div class="h3 mb-0 text-primary">&pound;{{ policy.potValue|number_format(2, '.', ',') }}</div>
                                </div>
                                <div class="dashboard-dial-content hideme">
                                    <div class="h6 mb-1">CONNECTIONS</div>
                                    <div class="h3 mb-0 text-primary">{{ policy.connections|length }}/{{ max_connections }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-dial-row">
                            <div class="dashboard-dial-cta d-lg-none">
                                <div class="dashboard-dial-cta-inner">
                                    <div class="h3 mb-0 text-white">{{ policy.sentInvitations|length }} 📨</div>
                                    <div class="h6 text-white">INVITES <br> SENT</div>
                                </div>
                            </div>
                            {% set days_total = null %}
                            {% set days_left = 0 %}
                            {% if policy.getCurrentConnectionValues %}
                                {% set days_total = ((policy.getCurrentConnectionValues['end_date'] - policy.getCurrentConnectionValues['start_date']) / 86400) | number_format(0, '.', ',') %}
                                {% set days_left = ((policy.getCurrentConnectionValues['end_date'] - "now"|date('U')) / 86400) | number_format(0, '.', ',') %}
                            {% endif %}
                            {% if policy.potValue == policy.maxPot %}
                                {# If max pot show full and change message #}
                                {% set days_total = 60 %}
                                {% set days_left = 60 %}
                            {% endif %}
                            <div class="dashboard-dial-inside">
                                <div class="dashboard-dial-inside-inner"
                                     id="connection_bonus_dial"
                                     data-bonus-days-total="{{ days_total }}"
                                     data-bonus-days-remaining="{{ days_left }}">
                                    <div class="dashboard-dial-inside-content">
                                        {% if policy.potValue == policy.maxPot %}
                                            <div class="h1 mb-0 text-primary">🥳</div>
                                            <div class="h6 mb-1">WHOOP!</div>
                                            <div class="h6 text-primary"><span class="sub">Full Pot</span></div>
                                        {% else %}
                                            <div class="h3 mb-0 text-primary">{{ days_left }} <span class="h5">DAYS</span></div>
                                            <div class="h6 mb-1">REMAINING</div>
                                            {% if policy.getCurrentConnectionValues %}
                                                {% if policy.getCurrentConnectionValues['teaser']|length > 0 %}
                                                    <div class="h6 text-primary"><span class="sub">Until bonus<br> reduced</span></div>
                                                {% else %}
                                                    <div class="h6 text-primary"><span class="sub">To earn <br> cashback</span></div>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_start(scode_form_two, {'attr': {
                            'class': 'd-lg-none mb-4',
                            'autocomplete': 'off'
                        }}) }}
                            <p class="text-white mb-2">
                                {% if code_message is not null %}
                                    {{ code_message }} 👇
                                {% else %}
                                    Already received an invite code?
                                    <span class="text-dodger-blue">
                                        <a href="#"
                                           data-toggle="modal"
                                           data-target="#scode_info"
                                           role="button">
                                            <i class="fal fa-info-circle fa-fw text-columbia-blue-e"></i>
                                        </a>
                                    </span>
                                {% endif %}
                            </p>
                            <div class="custom-input-with-btn">
                                {{ form_widget(scode_form_two.scode, {'attr': {
                                    'placeholder': 'Enter Code',
                                    'class': 'form-control form-control-white form-control-shadow'
                                }}) }}
                                {{ form_widget(scode_form_two.submit, {'label': code_button_text, 'attr': {
                                    'class': 'btn btn-success btn-sm'
                                }}) }}
                            </div>
                        {{ form_end(scode_form_two) }}
                        <a href="{{ path('user_invite') }}" class="btn btn-success btn-shadow btn-block-xs d-lg-none">Invite Friends</a>
                    </div>
                </div>
            </div>
        </div>

        {# Set to-dos #}
        {% set toDoOne = false %}
        {% set toDoTwo = false %}
        {% set toDoThree = false %}

        {# Check all to-dos for step 1 #}
        {% if policy is defined and policy and policy.phoneVerified %}
            {% set toDoOne = true %}
        {% endif %}

        {# Check all to-dos for step 2 #}
        {% if policy.picSureStatus != '' and (policy.picSureStatus == 'approved' or policy.picSureStatus == 'preapproved')  %}
            {% set toDoTwo = true %}
        {% endif %}

        {# Check all to-dos for step 3 #}
        {% if policy.sentInvitations|length > 0 and policy.connections|length >= max_connections %}
            {% set toDoThree = true %}
        {% endif %}

        <div class="to-do py-lg-5">
            <div class="container-large py-5">
                <h2 class="mb-5">{{ app.user.firstname }}'s To-Do List 📋</h2>
                <div class="timeline d-lg-none mb-3">
                    <div class="timeline-block {% if toDoOne %}timeline-block-complete-green{% else %}timeline-block-complete{% endif %}">
                        <div class="timeline-point">
                            <i class="far {% if toDoOne %}fa-check{% else %}fa-mobile-android{% endif %} fa-lg fa-fw text-white"></i>
                        </div>
                        <div class="timeline-content">
                            <div class="h6">{% if toDoOne %}Complete{% else %}To-Do{% endif %}</div>
                            <div class="h5 text-primary mb-4">Activate Account</div>
                            <ul class="list-unstyled icn-fa-list {% if not toDoOne %}mb-4{% endif %}">
                                <li class="mb-3">
                                    {% if policy is defined and policy %}
                                        <i class="far fa-check fa-lg fa-fw text-success"></i>
                                    {% else %}
                                        <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                    {% endif %}
                                    Sign up to so-sure
                                </li>
                                <li class="mb-3">
                                    {% if policy.phoneVerified %}
                                        <i class="far fa-check fa-lg fa-fw text-success"></i>
                                    {% else %}
                                        <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                    {% endif %}
                                    Install the app
                                </li>
                                <li class="mb-3">
                                    {% if policy.phoneVerified %}
                                        <i class="far fa-check fa-lg fa-fw text-success"></i>
                                    {% else %}
                                        <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                    {% endif %}
                                    Finish registration on the app
                                </li>
                            </ul>
                            {% if not toDoOne %}
                                {% if policy.phone.iTunes %}
                                    <a href="{{ apple_download('dashboard-mobile-one') }}"
                                       class="btn btn-success btn-block ga-outbound-click"
                                       data-clicklabel="iTunes"
                                       target="_blank"
                                       rel="noopener noreferrer">
                                        <i class="fab fa-apple mr-2 fa-lg"></i> Download the app</a>
                                {% endif %}
                                {% if policy.phone.googlePlay %}
                                    <a href="{{ google_download('dashboard-mobile-one') }}"
                                       class="btn btn-success btn-block ga-outbound-click"
                                       data-clicklabel="PlayStore"
                                       target="_blank"
                                       rel="noopener noreferrer">
                                        <i class="fab fa-android mr-2 fa-lg"></i> Download the app</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="timeline-block {% if toDoTwo %}timeline-block-complete-green{% else %}timeline-block-complete{% endif %}">
                        <div class="timeline-point">
                            <i class="far {% if toDoTwo %}fa-check{% else %}fa-qrcode{% endif %} fa-lg fa-fw text-white"></i>
                        </div>
                        <div class="timeline-content">
                            <div class="h6">{% if toDoTwo %}Complete{% else %}To-Do{% endif %}</div>
                            <div class="h5 text-primary mb-4">Reduce Excess</div>
                            <ul class="list-unstyled icn-fa-list {% if not toDoTwo %}mb-4{% endif %}">
                                <li class="mb-3">
                                    {% if policy.picSureStatus != '' %}
                                        <i class="far fa-check fa-lg fa-fw text-success"></i>
                                    {% else %}
                                        <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                    {% endif %}
                                    Take a phone selfie with the app
                                </li>
                                <li class="mb-3">
                                    {% if policy.picSureStatus == 'approved' or policy.picSureStatus == 'preapproved' %}
                                        <i class="far fa-check fa-lg fa-fw text-success"></i>
                                    {% else %}
                                        <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                    {% endif %}
                                    Confirmation from so-sure
                                </li>
                                <li>
                                    {% if policy.picSureStatus == 'approved' or policy.picSureStatus == 'preapproved' %}
                                        <i class="far fa-check fa-lg fa-fw text-success"></i>
                                    {% else %}
                                        <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                    {% endif %}
                                    Excess reduced by &pound;100
                                </li>
                            </ul>
                            {% if not toDoTwo %}
                                {% if policy.phone.iTunes %}
                                    <a href="{{ apple_download('dashboard-mobile-one') }}"
                                       class="btn btn-success btn-block ga-outbound-click"
                                       data-clicklabel="iTunes"
                                       target="_blank"
                                       rel="noopener noreferrer">
                                        <i class="fab fa-apple mr-2 fa-lg"></i> Download the app</a>
                                {% endif %}
                                {% if policy.phone.googlePlay %}
                                    <a href="{{ google_download('dashboard-mobile-one') }}"
                                       class="btn btn-success btn-block ga-outbound-click"
                                       data-clicklabel="PlayStore"
                                       target="_blank"
                                       rel="noopener noreferrer">
                                        <i class="fab fa-android mr-2 fa-lg"></i> Download the app</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="timeline-block {% if toDoThree %}timeline-block-complete-green{% else %}timeline-block-complete{% endif %}">
                        <div class="timeline-point">
                            <i class="far {% if toDoThree %}fa-check{% else %}fa-pound-sign{% endif %} fa-lg fa-fw text-white"></i>
                        </div>
                        <div class="timeline-content">
                            <div class="h6">{% if toDoThree %}Complete{% else %}To-Do{% endif %}</div>
                            <div class="h5 text-primary mb-4">Earn &pound;{{ policy.maxPot|number_format(0, '.', ',') }} Cashback</div>
                            <ul class="list-unstyled icn-fa-list mb-4">
                                <li class="mb-3">
                                    {% if policy.sentInvitations|length > 0 %}
                                        <i class="far fa-check fa-lg fa-fw text-success"></i>
                                    {% else %}
                                        <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                    {% endif %}
                                    Invite your friends to join so-sure
                                </li>
                                <li class="mb-3">
                                    {% if policy.connections|length >= 1 %}
                                        <i class="far fa-check fa-lg fa-fw text-success"></i>
                                    {% else %}
                                        <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                    {% endif %}
                                    Get 1 month free for each new sign-up
                                </li>
                                <li>
                                    {% if policy.connections|length >= 1 %}
                                        <i class="far fa-check fa-lg fa-fw text-success"></i>
                                    {% else %}
                                        <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                    {% endif %}
                                    Earn &pound;10 in your reward pot for each connection
                                </li>
                            </ul>
                            <a href="{{ path('user_invite') }}" class="btn btn-success btn-block"><i class="fas fa-users mr-2 fa-lg"></i> Invite Friends</a>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-flex justify-content-lg-between">
                    <div class="cardbox cardbox-100 mr-5 {% if toDoOne %}border-success{% else %}cardbox-center-box{% endif %}">
                        {% if not toDoOne %}<div class="cardbox-ribbon"><small>INCOMPLETE</small></div>{% endif %}
                        <div class="cardbox__body">
                            <span class="fa-stack fa-lg mb-2">
                                <i class="fas fa-circle fa-stack-2x {% if toDoOne %}text-success{% else %}text-primary{% endif %}"></i>
                                <i class="fas {% if toDoOne %}fa-check{% else %}fa-mobile-android{% endif %} fa-stack-1x fa-inverse"></i>
                            </span>
                            <div class="mb-2">{% if toDoOne %}Complete{% else %}To-Do{% endif %}</div>
                            <div class="h4 cardbox__title text-primary mb-4">Activate Account</div>
                            <div class="cardbox__text">
                                <ul class="list-unstyled text-left pl-xl-4 icn-fa-list {% if not toDoOne %}mb-4{% endif %}">
                                    <li class="mb-3">
                                        {% if policy is defined and policy %}
                                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                                        {% else %}
                                            <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                        {% endif %}
                                        Sign up to so-sure
                                    </li>
                                    <li class="mb-3">
                                        {% if policy.phoneVerified %}
                                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                                        {% else %}
                                            <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                        {% endif %}
                                        Install the app
                                    </li>
                                    <li>
                                        {% if policy.phoneVerified %}
                                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                                        {% else %}
                                            <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                        {% endif %}
                                        Finish registration on the app
                                    </li>
                                </ul>
                                {% if not toDoOne %}
                                    {% if policy.phone.iTunes %}
                                        <a href="{{ apple_download('dashboard-mobile-one') }}"
                                           class="btn btn-success ga-outbound-click"
                                           data-clicklabel="iTunes"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <i class="fab fa-apple mr-2 fa-lg"></i> Download the app</a>
                                    {% endif %}
                                    {% if policy.phone.googlePlay %}
                                        <a href="{{ google_download('dashboard-mobile-one') }}"
                                           class="btn btn-success ga-outbound-click"
                                           data-clicklabel="PlayStore"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <i class="fab fa-android mr-2 fa-lg"></i> Download the app</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="cardbox cardbox-100 mr-5 {% if toDoTwo %}border-success{% else %}cardbox-center-box{% endif %}">
                        {% if not toDoTwo %}<div class="cardbox-ribbon"><small>INCOMPLETE</small></div>{% endif %}
                        <div class="cardbox__body">
                            <span class="fa-stack fa-lg mb-2">
                                <i class="fas fa-circle fa-stack-2x {% if toDoTwo %}text-success{% else %}text-primary{% endif %}"></i>
                                <i class="fas {% if toDoTwo %}fa-check{% else %}fa-qrcode{% endif %} fa-stack-1x fa-inverse"></i>
                            </span>
                            <div class="mb-2">{% if toDoTwo %}Complete{% else %}To-Do{% endif %}</div>
                            {# TODO: Adjust for agg policy #}
                            <div class="h4 cardbox__title text-primary mb-4">Reduce Excess</div>
                            <div class="cardbox__text">
                                <ul class="list-unstyled text-left pl-xl-4 icn-fa-list {% if not toDoTwo %}mb-4{% endif %}">
                                    <li class="mb-3">
                                        {% if policy.picSureStatus != '' %}
                                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                                        {% else %}
                                            <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                        {% endif %}
                                        Take a phone selfie with the app
                                    </li>
                                    <li class="mb-3">
                                        {% if policy.picSureStatus == 'approved' or policy.picSureStatus == 'preapproved' %}
                                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                                        {% else %}
                                            <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                        {% endif %}
                                        Confirmation from so-sure
                                    </li>
                                    <li>
                                        {% if policy.picSureStatus == 'approved' or policy.picSureStatus == 'preapproved' %}
                                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                                        {% else %}
                                            <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                        {% endif %}
                                        Excess reduced by &pound;100
                                    </li>
                                </ul>
                                {% if not toDoTwo %}
                                    {% if policy.phone.iTunes %}
                                        <a href="{{ apple_download('dashboard-mobile-one') }}"
                                           class="btn btn-success ga-outbound-click"
                                           data-clicklabel="iTunes"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <i class="fab fa-apple mr-2 fa-lg"></i> Download the app</a>
                                    {% endif %}
                                    {% if policy.phone.googlePlay %}
                                        <a href="{{ google_download('dashboard-mobile-one') }}"
                                           class="btn btn-success ga-outbound-click"
                                           data-clicklabel="PlayStore"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <i class="fab fa-android mr-2 fa-lg"></i> Download the app</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="cardbox cardbox-100 {% if toDoThree %}border-success{% else %}cardbox-center-box{% endif %}">
                        {% if not toDoThree %}<div class="cardbox-ribbon"><small>INCOMPLETE</small></div>{% endif %}
                        <div class="cardbox__body">
                            <span class="fa-stack fa-lg mb-2">
                                <i class="fas fa-circle fa-stack-2x {% if toDoThree %}text-success{% else %}text-primary{% endif %}"></i>
                                <i class="fas {% if toDoThree %}fa-check{% else %}fa-pound-sign{% endif %} fa-stack-1x fa-inverse"></i>
                            </span>
                            <div class="mb-2">{% if toDoThree %}Complete{% else %}To-Do{% endif %}</div>
                            <div class="h4 cardbox__title text-primary mb-4">Earn &pound;{{ policy.maxPot|number_format(0, '.', ',') }} Cashback</div>
                            <div class="cardbox__text">
                                <ul class="list-unstyled text-left pl-xl-4 icn-fa-list {% if not toDoThree %}mb-4{% endif %}">
                                    <li class="mb-3">
                                        {% if policy.sentInvitations|length > 0 %}
                                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                                        {% else %}
                                            <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                        {% endif %}
                                        Invite your friends to join so-sure
                                    </li>
                                    <li class="mb-3">
                                        {% if policy.connections|length >= 1 %}
                                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                                        {% else %}
                                            <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                        {% endif %}
                                        Get 1 month free for each new sign-up
                                    </li>
                                    <li class="mb-3">
                                        {% if policy.connections|length >= 1 %}
                                            <i class="far fa-check fa-lg fa-fw text-success"></i>
                                        {% else %}
                                            <i class="far fa-times fa-lg fa-fw text-danger"></i>
                                        {% endif %}
                                        Earn &pound;10 in your reward pot for each connection
                                    </li>
                                </ul>
                                {% if not toDoThree %}
                                    <a href="{{ path('user_invite') }}" class="btn btn-success btn-block-xs "><i class="fas fa-users mr-2 fa-lg"></i> Invite Friends</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cashback py-lg-5">
            <div class="container py-5">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/user/so-sure_group-gravatar.png" width="250px" alt="so-sure group friends" class="lozad">
                <h2 class="text-white fit my-4"><span class="sub text-deep-sky-blue-d">How to connect with friends and</span> <br class="d-lg-none">earn Cashback &amp; Rewards</h2>
                <p class="text-white mb-5">After sending out invites, the friends that choose to insure their phone with so-sure will ba available for you to connect with - for every connection we add &pound;{% if policy.getCurrentConnectionValues %}{% if policy.getCurrentConnectionValues['teaser']|length > 0 %}10{% else %}2{% endif %}{% else %}10{% endif %} to your reward pot - watch the video to find out how it works.</p>
                <div class="d-md-flex justify-content-md-center">
                    <a href="{{ path('user_invite') }}"
                       class="btn btn-success btn-block-xs order-md-2">Invite Friends</a>
                    <a href="#"
                       class="btn btn-outline-deep-sky-blue-d watch-video track-data btn-block-xs order-md-1 mr-md-3"
                       data-event="watch-video-user-dashboard"
                       data-toggle="modal"
                       data-target="#sosure-video-modal"
                       data-src="https://www.youtube.com/embed/2AjD09ZQhQ4">
                        Watch video
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    {# Page Modals #}
    <div class="modal fade"
         id="scode_info"
         tabindex="-1" role="dialog"
         aria-labelledby="scode_info"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="h5 modal-title">Apply your invite or promocode</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">If you have received an invite or a promocode, enter it in the box below. We are constantly trying to give you the best value for money, this is our way to say thank you for being a loyal user!</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/user.js') }}"></script>
    <script src="{{ asset('css-js/user-dashboard.js') }}"></script>
{% endblock %}
