 {% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}
{% set include_emoji = true %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/clipboard/clipboard.min.js'
    'components/jssocials/jssocials.min.js'
    'components/jquery-circle-progress/circle-progress.min.js'
    '@AppBundle/Resources/public/js/User/index.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    'components/jssocials/jssocials.css'
    'components/jssocials/jssocials-theme-flat.css'
    '@AppBundle/Resources/public/sass/page/user.scss'%}
    <link rel="stylesheet" href="{{ asset_url }}"> {% endstylesheets %}
{% endblock %}

{% block body %}

    {% include 'AppBundle:User:userNav.html.twig' %}

    <section class="user-homepage--content section--pad">
        <div class="container">

            <div class="row">
                <div class="col-sm-7 col-md-8 connections-container">
                    {% if policy.canInvite %}
                        <div class="share__box" id="shareBox">
                            <h2 class="h-nom text-center">💰 Sharing is... rewarding</h2>
                            <p class="lead">If you and your friends take good care of your phones and don’t need to claim, we’ll give you up to 80% of your premium back at the end of your policy year.</p>
                            <p class="lead">We've made it easy for you to get started, invite via email, share your unique sign-up link below or invite via social.</p>
                            <div class="row share">
                                <div class="col-md-6">
                                    {# Non-valid entry for autocomplete see: https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion #}
                                    <h3 class="text-center">✉️ Invite via email</h3>
                                    {{ form_start(email_form, {'attr': {'autocomplete': 'nope'}}) }}
                                        <div class="form-group">
                                            {{ form_errors(email_form.email) }}
                                            <div class="input-group">
                                                {{ form_widget(email_form.email, {'attr': {'placeholder': 'Enter their email', 'class': 'form-control'}}) }}
                                                <span class="input-group-btn">
                                                    {{ form_widget(email_form.submit, {'label': 'Invite', 'attr': {'class': 'btn btn-green btn-pad'}}) }}
                                                </span>
                                            </div>
                                        </div>
                                    {{ form_end(email_form) }}
                                </div>
                                <div class="col-md-6">
                                    <h3 class="text-center">🔗 Share this link</h3>
                                    <form>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input name="scode" id="scode" readonly="readonly" type="text" class="form-control" value="{{ policy.standardSCode.shareLink }}">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-blue btn-pad btn-copy"
                                                            data-clipboard-target="#scode"
                                                            data-toggle="tooltip"
                                                            data-placement="bottom"
                                                            >Copy</button>
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-12">
                                    <div id="share-connect"
                                         class="text-center"
                                         data-share-link="{{ policy.standardSCode.shareLink }}"
                                         data-share-text="{{ share_experiment_text }}">
                                        <h4>Invite via:</h4>
                                        <div id="share"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if policy.hasUnconnectedUserPolicies %}
                    <h3 class="text-grey-blue">Connect with your other policies</h3>
                    <div class="user-homepage--section">
                        {{ form_start(unconnected_user_policy_form, {'attr': { 'class': 'form-inline'}}) }}
                            <ul class="media-list">
                                {% for unconnectedPolicy in policy.unconnectedUserPolicies %}
                                <li class="media">
                                    <div class="media-left">
                                        <img src="{{ app.user.getImageUrlFallback }}" class="img-circle" alt="{{ unconnectedPolicy.defaultName }}" width="68px">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            {{ unconnectedPolicy.defaultName }} <br>
                                            <small>
                                                {{ unconnectedPolicy.policyNumber }} <br>
                                                Policy created on {{ unconnectedPolicy.start|date('d M Y H:i', 'Europe/London') }}
                                            </small>
                                        </h4>
                                        <ul class="list-inline">
                                            <li>{{ form_widget(attribute(unconnected_user_policy_form, 'connect_' ~ unconnectedPolicy.id), {'attr': {'class': 'btn btn-green'}}) }}</li>
                                        </ul>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        {{ form_errors(unconnected_user_policy_form) }}
                        {{ form_end(unconnected_user_policy_form) }}
                    </div>
                    {% endif %}
                    {% if policy.user.unprocessedReceivedInvitations|length > 0 %}
                    <h3 class="text-grey-blue">Received invitations</h3>
                    <div class="user-homepage--section">
                        {{ form_start(invitation_form, {'attr': { 'class': 'form-inline', 'autocomplete': 'off'}}) }}
                            <ul class="media-list">
                                {% for invitation in policy.user.unprocessedReceivedInvitations %}
                                <li class="media">
                                    <div class="media-left">
                                        <img src="{{ invitation.inviter.getImageUrlFallback }}" class="img-circle" alt="{{ invitation.inviter.name }}" width="68px">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            {{ invitation.inviter.name }} <br>
                                            <small>
                                                Received on {{ invitation.created|date('d M Y H:i', 'Europe/London') }}
                                            </small>
                                        </h4>
                                        <ul class="list-inline">
                                            <li>{{ form_widget(attribute(invitation_form, 'reject_' ~ invitation.id), {'attr': {'class': 'btn btn-red'}}) }}</li>
                                            <li>{{ form_widget(attribute(invitation_form, 'accept_' ~ invitation.id), {'attr': {'class': 'btn btn-green'}}) }}</li>
                                        </ul>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        {{ form_errors(invitation_form) }}
                        {{ form_end(invitation_form) }}
                    </div>
                    {% endif %}
                    {% if policy.sentInvitations|length > 0 %}
                    <h3 class="text-grey-blue">Sent invitations</h3>
                    <div class="user-homepage--section">
                        {{ form_start(sent_invitation_form, {'attr': { 'class': 'form-inline', 'autocomplete': 'off'}}) }}
                            <ul class="media-list">
                                {% for invitation in policy.sentInvitations %}
                                <li class="media">
                                    <div class="media-left">
                                        <img src="{{ invitation.inviteeImageUrlFallback }}" class="img-circle" alt="{{ invitation.inviteeName }}" width="68px">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            {{ invitation.inviteeName }} <br>
                                            <small>
                                                Sent on {{ invitation.created|date('d M Y H:i', 'Europe/London') }}
                                            </small>
                                        </h4>
                                        <ul class="list-inline">
                                            <li>{{ form_widget(attribute(sent_invitation_form, 'cancel_' ~ invitation.id), {'attr': {'class': 'btn btn-red'}}) }}</li>
                                            <li>{{ form_widget(attribute(sent_invitation_form, 'reinvite_' ~ invitation.id), {'attr': {'class': 'btn btn-green'}}) }}</li>
                                        </ul>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        {{ form_errors(sent_invitation_form) }}
                        {{ form_end(sent_invitation_form) }}
                    </div>
                    {% endif %}
                    {% if policy.connections|length > 0 %}
                    <div class="user-homepage--section">
                        <h3 class="text-grey-blue">Connections</h3>
                        <ul class="list-inline">
                            {% for connection in policy.connections %}
                            <li>
                                <img src="{{ connection.linkedUser.getImageUrlFallback }}"
                                title="{% if connection.linkedUser.id == app.user.id %}{{ connection.linkedPolicy.defaultName }}{% else %}{{ connection.linkedUser.name }}{% endif %}"
                                alt="{{ connection.linkedUser.name }}"
                                class="img-circle coffee-stamp {% if connection.linkedPolicy.hasMonetaryClaimed %}user-has-claimed{% endif %}"
                                data-container="body"
                                data-toggle="popover"
                                data-trigger="hover"
                                data-placement="top"
                                data-content="Connected on {{ connection.date|date('dS M') }}
                                    {# If policy has claimed, pot should be 0, so don't display connection values as confusing #}
                                    {% if not policy.hasMonetaryClaimed and not policy.hasMonetaryNetworkClaim %}
                                        (£{{ connection.totalValue|number_format(2, '.', ',')  }})
                                    {% endif %}
                                    ">
                            </li>
                            {% endfor %}
{#                             {% if policy.canInvite %}
                                <li>
                                    <a id="connect-with" href="#" data-toggle="modal" data-target="#inviteModal"><img src="{{ cdn_url }}/images/alpha/add.png" alt="Add connection" class="img-circle coffee-stamp-add"></a>
                                </li>
                            {% endif %} #}
                        </ul>
                    </div>
                    {% endif %}
{#                     {% if policy.canInvite %}
                        <div class="user-homepage--section">
                            <h3 class="text-grey-blue">Add Connections</h3>
                            <p>Want to add a connection? We've made it easy for you to do so with your very own unique sign up link. <br> Share the link or click 'Add connection' to get started.</p>
                            <p class="text-center"><a id="add-connect" href="#" class="btn btn-blue btn-pad " data-toggle="modal" data-target="#inviteModal"><i class="fa fa-plus" aria-hidden="true"></i> Add connection</a></p>
                        </div>
                    {% endif %} #}

                    {% if friends %}
                        <div class="user-homepage--section">
                            <h3 class="text-grey-blue">Here are your facebook friends you can invite:</h3>
                            <ul class="media-list">
                                {% for friend in friends %}
                                    <li class="media clearfix">
                                        <div class="media-left">
                                            <img class="img-circle" src="{{ friend['picture']['url']|replace({'http:': 'https:' }) }}" width="68px" />
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                {{ friend['name'] }}
                                                <small>
                                                    <a href="https://www.facebook.com/search/people/?q={{ friend['name'] }}" target="_blank" rel="noopener noreferrer"><span class="fa fa-search"></span></a>
                                                </small>
                                            </h4>
                                            <a href="{{ path('user_invite', {policyId: policy.id, facebookId: friend['id']}) }}" class="btn btn-green">Invite this friend</a>
                                        </div>
                                    </li>
                                    <hr>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-5 col-md-4">
                    {% if policy.canInvite %}
                        <div id="scode-box" class="box-border-grey text-center">
                            <h4><strong>
                                {% if scode and scode.standard %}
                                    {{ scode.policy.user }} has invited you!
                                {% else %}
                                    Already received an invite?
                                {% endif %}
                            </strong></h4>
                            <p><small>Enter the unique 8-digit code below and we'll connect you.</small></p>
                            {{ form_start(scode_form, {'attr': {'class': '', 'autocomplete': 'off'}}) }}
                                <div class="form-group">
                                    {{ form_errors(scode_form.scode) }}
                                    <div class="input-group">
                                        {{ form_widget(scode_form.scode, {'attr': {'placeholder': 'Enter code', 'class': 'form-control'}}) }}
                                        <span class="input-group-btn">
                                            {{ form_widget(scode_form.submit, {'label': 'Connect', 'attr': {'class': 'btn btn-green btn-pad'}}) }}
                                        </span>
                                    </div>
                                    <div class="help-block with-errors" id="scode-form-code-err"></div>
                                </div>
                            {{ form_end(scode_form) }}
                        </div>
{#                         <div id="scode-box" class="box-border-grey text-center">
                            <h4>Your invite code</h4>
                            <span class="h2 text-blue">{{ policy.standardSCode.code }}</span>
                        </div> #}
                    {% endif %}
                    <div class="box-border-grey text-center">
                        <h4><strong>Reward Pot</strong></h4>
                        <div id="reward-pot-chart" class="circle-chart-container"
                             data-pot-value="{{ policy.potValue|number_format(2, '.', ',') }}"
                             data-max-pot="{{ policy.maxPot|number_format(2, '.', ',') }}">
                             <div class="circle-chart--value">
                                 <span class="h2 text-blue">£{{ policy.potValue|number_format(2, '.', ',') }}</span><br>
                                 <small>of a max. £{{ policy.maxPot|number_format(2, '.', ',') }}</small>
                             </div>
                        </div>
                    </div>
                    {% if policy.getCurrentConnectionValues %}
                        {% set days_total = ((policy.getCurrentConnectionValues['end_date'] - policy.getCurrentConnectionValues['start_date']) / 86400) | number_format(0, '.', ',') %}
                        {% set days_left = ((policy.getCurrentConnectionValues['end_date'] - "now"|date('U')) / 86400) | number_format(0, '.', ',') %}
                    <div class="box-border-grey text-center">
                        <h4><strong>Connection Bonus</strong></h4>
                        <div id="connection-bonus-chart" class="circle-chart-container"
                             data-bonus-days-total="{{ days_total }}"
                             data-bonus-days-remaining="{{ days_left }}">
                             <div class="{% if policy.getCurrentConnectionValues['teaser']|length > 0 %}circle-chart--full{% else %}circle-chart--value{% endif %}">
                                 <span class="h2 text-red">{{ days_left }}</span><br>
                                 <small class="text-red">days</small><br>
                                 {% if policy.getCurrentConnectionValues['teaser']|length > 0 %}
                                 <small class="circle-chart--full-value">{{ policy.getCurrentConnectionValues['teaser'] }}</small>
                                {% endif %}
                             </div>
                        </div>
                        <p>
                            <small>
                                {% if policy.getCurrentConnectionValues['description']|length > 0 %}
                                    {{ policy.getCurrentConnectionValues['description'] }}
                                {% else %}
                                    Each connection made is worth £10 in the first 2 months and £2 thereafter.
                                {% endif %}
                            </small>
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </section>

    {# Page Modals #}
    {# <div class="modal fade"
         id="inviteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="inviteModal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3 class="text-center">
                        Invite friends
                    </h3>
                </div>
                <div id="modal-connect"
                     class="modal-body text-center"
                     data-share-link="{{ policy.standardSCode.shareLink }}"
                     data-share-text="{{ share_experiment_text }}">
                    <h4>Invite via:</h4>
                    <div id="share"></div>
                </div>
            </div>
        </div>
    </div> #}
    {# End Page Modals #}

{% endblock %}
