{% extends 'base_rebrand.html.twig' %}
{# {% form_theme bacs_form with ['AppBundle:Form:fields.html.twig', 'AppBundle:Form:submit.html.twig'] %} #}

{# Set vars #}
{% set body_class = 'user' %}
{% set user_mode = true %}

{% block title %}so-sure - Welcome back {{ app.user.firstname }}{% endblock %}

{# Set Meta #}
{% set og_title = 'Sign up and save' %}
{% set og_description = 'Hey, I just insured my mobile phone with so-sure. They give you 80% of your cashback if we are connected and don\'t claim!' %}
{% set og_image = cdn_url ~ '/images/rebrand/og/so-sure_og-image-1.png' %}
{% if policy.standardSCode %}
    {% set og_url = url('scode', {'code': policy.standardSCode.code}) %}
{% endif %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/user.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/user-dashboard.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <h1 class="h2 mb-4">Welcome back, {{ app.user.firstname }} 🎉</h1>
                    {% if policy is defined and policy %}
                        {% if policy.user.getValidPolicies(true) | length == 1 %}
                            <div class="h6">Policy: <u>{{ policy.policyNumber }}</u></div>
                        {% else %}
                            <div class="h6">
                                <div class="dropdown">
                                    <a href="#"
                                       class="dropdown-toggle"
                                       id="dropdown_menu_link"
                                       data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        Policy: <u>{{ policy.policyNumber }}</u>
                                        <i class="far fa-chevron-down fa-lg fa-fw ml-1"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown_menu_link">
                                        {% for policyItem in policy.user.getValidPolicies(true) %}
                                            <a href="{{ path('user_policy', {'policyId': policyItem.id}) }}" class="dropdown-item">{{ policyItem.defaultName }} <br> <small>({{ policyItem.policyNumber }})</small></a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="h6"><span class="sub">{{ policy.start|date('jS M Y') }} - {{ policy.end|date('jS M Y') }}</span></div>
                        <div class="h6">📱<span class="sub">{{ policy.phone }}</span></div>
                    {% endif %}
                    {% if policy.connections|length > 0 %}
                        <div class="mt-4">
                            <h5 class="mb-4">My connections</h5>
                            <div class="d-md-flex flex-wrap align-self-center justify-content-start">
                                {% for connection in policy.connections %}
                                    <span>
                                        <img src="{{ connection.linkedUser.getImageUrlFallback }}"  class="rounded-circle connection {% if connection.linkedPolicy.hasMonetaryClaimed %}connection__claimed{% endif %} mr-2 mr-md-4 mb-2 mb-md-4"
                                             alt="{{ connection.linkedUser.name }}"
                                             width="50px"
                                             data-toggle="tooltip"
                                             data-placement="top"
                                             title="
                                                {{ connection.linkedUser.name }} -
                                                Connected on {{ connection.date|date('dS M') }}
                                                {% if not policy.hasMonetaryClaimed and not policy.hasMonetaryNetworkClaim %}
                                                    (£{{ connection.totalValue|number_format(2, '.', ',')  }})
                                                {% endif %}
                                             ">
                                    </span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if policy.canInvite %}
                        <h5 class="mt-4">
                            {% if scode and scode.standard %}
                                {{ scode.policy.user }} has invited you!
                            {% else %}
                                Already received an invite?
                            {% endif %}
                        </h5>
                        <p>Enter the unique 8-digit code below to connect.</p>
                        {{ form_start(scode_form, {'attr': {'class': '', 'autocomplete': 'off'}}) }}
                            <div class="custom-input-with-btn mb-4">
                                {{ form_widget(scode_form.scode, {'attr': {'placeholder': 'Enter code', 'class': 'form-control'}}) }}
                                {{ form_widget(scode_form.submit, {'label': 'Connect', 'attr': {'class': 'btn btn-success btn-square btn-sm'}}) }}
                            </div>
                        {{ form_end(scode_form) }}
                    {% endif %}
                </div>
                <div class="col-12 col-lg-7 offset-lg-1">
                    <div class="d-md-flex mb-4">
                        <h5 class="mb-4">Reward Pot</h5>
                        <div id="reward_pot_chart"
                             class="user-chart mb-4 mx-auto"
                             data-pot-value="{{ policy.potValue|number_format(2, '.', ',') }}"
                             data-max-pot="{{ policy.maxPot|number_format(2, '.', ',') }}">
                            <div class="user-chart__value">
                                <span class="text-dodger-blue h3">&pound;{{ policy.potValue|number_format(0, '.', ',') }}</span>
                                <br><small class="opacity-50">OF &pound;{{ policy.maxPot|number_format(0, '.', ',') }} AVAILABLE</small>
                            </div>
                        </div>
                        {% if policy.getCurrentConnectionValues %}
                            {% set days_total = ((policy.getCurrentConnectionValues['end_date'] - policy.getCurrentConnectionValues['start_date']) / 86400) | number_format(0, '.', ',') %}
                            {% set days_left = ((policy.getCurrentConnectionValues['end_date'] - "now"|date('U')) / 86400) | number_format(0, '.', ',') %}
                            <h5 class="mb-4">Connection Bonus</h5>
                            <div id="connection_bonus_chart"
                                 class="user-chart mb-4  mx-auto"
                                 data-bonus-days-total="{{ days_total }}"
                                 data-bonus-days-remaining="{{ days_left }}">
                                <div class="user-chart__value">
                                    <span class="text-danger h3">{{ days_left }}</span>
                                    <br><small class="opacity-50">DAYS</small>
                                    {% if policy.getCurrentConnectionValues['teaser']|length > 0 %}
                                        <small class="opacity-50">UNTIL BOUNS REDUCED</small>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% if policy.canInvite %}
                        {% if not policy.hasMonetaryClaimed and not policy.hasMonetaryNetworkClaim %}
                            <h5>Earn up to &pound;{{ policy.maxPot|number_format(0, '.', ',') }} cashback by inviting your friends to so-sure</h5>
                            <p>For every person you connect with, we'll add up to &pound;10<sup>*</sup> to your reward pot. If none of you claim, your cash will be returned at the end of your policy year.</p>
                            {% if policy.getCurrentConnectionValues %}
                                {% if policy.getCurrentConnectionValues['description']|length > 0 %}
                                    <p>{{ policy.getCurrentConnectionValues['description'] }}</p>
                                {% endif %}
                                    <p><i><sup>*</sup> Each connection made is worth &pound;10 in the first 2 months and &pound;2 thereafter.</i></p>
                            {% endif %}
                        {% endif %}
                        <div class="d-lg-flex align-items-lg-center mt-lg-3 mb-4">
                            <h5 class="text-zaffre mr-lg-3 mb-lg-0">Invite via social:</h5>
                            {# TODO: Rework icons #}
                            <div id="onboarding_btn_share"
                                 data-share-link="{{ policy.standardSCode.shareLink }}"
                                 data-share-text="Hey, I just insured my mobile phone with so-sure. They give you up to 80% of your cashback if we are connected and don't claim! Here's the link to check them out:">
                            </div>
                        </div>
                        <h5 class="text-zaffre">🔗 Share this link</h5>
                        <div class="custom-input-with-btn mb-4">
                            <input name="scode" id="scode" readonly="readonly" type="text" class="form-control" value="{{ policy.standardSCode.shareLink }}">
                            <div id="scode_share" class="sr-only">Hey, I just insured my mobile phone with so-sure. They give you up to 80% of your cashback if we are connected and don't claim! Here's the link to check them out: {{ policy.standardSCode.shareLink }}</div>
                            <button class="btn btn-primary btn-copy btn-square btn-sm sosure-track"
                                data-clipboard-target="#scode_share"
                                data-toggle="tooltip"
                                data-placement="top"
                                data-event="user-welcome-copy-scode">
                                copy</button>
                        </div>
                        <h5 class="text-zaffre">📨 Invite via email</h5>
                        <form id="invite_form" autocomplete="nope" class="mb-4">
                            <input id="email-csrf" type="hidden" name="csrf" value="{{ csrf_token('invite-email') }}" />
                            <div class="custom-input-with-btn mb-4">
                                <input type="text" class="form-control input-invite" placeholder="Enter email address" name="email_invite" />
                                <button class="btn btn-success btn-square btn-invite btn-sm" data-path="{{ path('json_invite_email') }}">
                                    Invite</button>
                            </div>
                        </form>
                    {% endif %}
                    {% if friends %}
                        <div class="card mb-4">
                            <div class="card-header">
                                <span class="h5">Here are your facebook friends you can invite</span>
                            </div>
                            <ul class="list-group list-group-flush">
                                {% for friend in friends %}
                                    <li class="list-group-item">
                                        <div class="d-md-flex align-items-center">
                                            <img class="d-none d-md-inline rounded-circle mr-2 mr-md-4" src="{{ friend['picture']['url']|replace({'http:': 'https:' }) }}" width="50px" />
                                            <h6 class="flex-grow-1">
                                                {{ friend['name'] }} <br>
                                                <span class="sub mt-2"><a href="https://www.facebook.com/search/people/?q={{ friend['name'] }}" target="_blank" rel="noopener noreferrer">See on facebook</a></span>
                                            </h6>
                                            <a href="{{ path('user_invite', {policyId: policy.id, facebookId: friend['id']}) }}" class="btn btn-primary btn-sm">Invite</a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if policy.hasUnconnectedUserPolicies %}
                        <div class="card mb-4">
                            <div class="card-header">
                                <span class="h5">Connect with your other policies</span>
                            </div>
                            {{ form_start(unconnected_user_policy_form) }}
                                <ul class="list-group list-group-flush">
                                    {% for unconnectedPolicy in policy.unconnectedUserPolicies %}
                                        <li class="list-group-item">
                                            <div class="d-md-flex align-items-center">
                                                <img src="{{ app.user.getImageUrlFallback }}" class="d-none d-md-inline rounded-circle mr-2 mr-md-4" alt="{{ unconnectedPolicy.defaultName }}" width="50px">
                                                <h6 class="flex-grow-1">
                                                    {{ unconnectedPolicy.defaultName }} <br>
                                                    <span class="sub mt-2">{{ unconnectedPolicy.policyNumber }} <br>Policy created on {{ unconnectedPolicy.start|date('d M Y H:i', 'Europe/London') }}</span>
                                                </h6>
                                                {{ form_widget(attribute(unconnected_user_policy_form, 'connect_' ~ unconnectedPolicy.id), {'attr': {'class': 'btn btn-outline-primary btn-sm'}}) }}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {{ form_errors(unconnected_user_policy_form) }}
                            {{ form_end(unconnected_user_policy_form) }}
                        </div>
                    {% endif %}
                    {% if policy.user.unprocessedReceivedInvitations|length > 0 %}
                        <div class="card mb-4">
                            <div class="card-header">
                                <span class="h5">Received invitations</span>
                            </div>
                            {{ form_start(invitation_form) }}
                                <ul class="list-group list-group-flush">
                                    {% for invitation in policy.user.unprocessedReceivedInvitations %}
                                        <li class="list-group-item">
                                            <div class="d-md-flex align-items-center">
                                                <img src="{{ invitation.inviter.getImageUrlFallback }}" class="d-none d-md-inline rounded-circle mr-2 mr-md-4" alt="{{ invitation.inviter.name }}" width="50px">
                                                <h6 class="flex-grow-1">
                                                    {{ invitation.inviter.name }} <br>
                                                    <span class="sub mt-2">Received on {{ invitation.created|date('d M Y H:i', 'Europe/London') }}</span>
                                                </h6>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">{{ form_widget(attribute(invitation_form, 'reject_' ~ invitation.id), {'attr': {'class': 'btn btn-outline-grey btn-sm'}}) }}</li>
                                                    <li class="list-inline-item">{{ form_widget(attribute(invitation_form, 'accept_' ~ invitation.id), {'attr': {'class': 'btn btn-primary btn-sm'}}) }}</li>
                                                </ul>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {{ form_errors(invitation_form) }}
                            {{ form_end(invitation_form) }}
                        </div>
                    {% endif %}
                    {% if policy.sentInvitations|length > 0 %}
                        <div class="card mb-4">
                            <div class="card-header">
                                <span class="h5">Sent invitations</span>
                            </div>
                            {{ form_start(sent_invitation_form) }}
                                <ul class="list-group list-group-flush">
                                    {% for invitation in policy.sentInvitations|reverse %}
                                        <li class="list-group-item">
                                            <div class="d-md-flex align-items-center">
                                                <img src="{{ invitation.inviteeImageUrlFallback }}" class="d-none d-md-inline rounded-circle mr-2 mr-md-4" alt="{{ invitation.inviteeName }}" width="50px">
                                                <h6 class="flex-grow-1">
                                                    {{ invitation.inviteeName }} <br>
                                                    <span class="sub mt-2">Sent on {{ invitation.created|date('d M Y H:i', 'Europe/London') }}</span>
                                                </h6>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">{{ form_widget(attribute(sent_invitation_form, 'cancel_' ~ invitation.id), {'attr': {'class': 'btn btn-outline-grey btn-sm'}}) }}</li>
                                                    <li class="list-inline-item">{{ form_widget(attribute(sent_invitation_form, 'reinvite_' ~ invitation.id), {'attr': {'class': 'btn btn-primary btn-sm'}}) }}</li>
                                                </ul>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {{ form_errors(sent_invitation_form) }}
                            {{ form_end(sent_invitation_form) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {# Page Modal #}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/user.js') }}"></script>
    <script src="{{ asset('css-js/user-dashboard.js') }}"></script>
{% endblock %}
