{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/clipboard/clipboard.min.js'
    'components/jssocials/jssocials.min.js'
    'bundles/app/js/User/index.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block gtm_data %}
    ,
    'policy': {
        'id': '{{ policy.id }}'
    },
    'affilinet': {
        'rate': {% if policy.getPremiumPlan == 'monthly'%}1{% elseif policy.getPremiumPlan == 'yearly' %}2{% else %}-1{% endif %},
        'gwp': {% if policy.getPremiumPlan == 'monthly'%}{{ policy.premium.gwp }}{% elseif policy.getPremiumPlan == 'yearly' %}{{ policy.premium.yearlyGwp }}{% else %}0{% endif %}
    }
{% endblock %}

{% block body %}
    <div class="container reward-pot">
        <p>Nice one, {{ policy.user.firstname }}! Your {{ policy.phone.model }} ({{ policy.phone.memory }}GB) is now insured!</p>
        <p>You’ll receive a confirmation email with the full details of your policy shortly, but here's a summary:</p>
        <p><strong>Your Phone &amp; Payment Schedule</strong></p>
        <p>You own an {{ policy.phone.model }} with {{ policy.phone.memory }}GB of memory and you’ve chosen to pay &pound;{% if policy.getPremiumPlan == 'monthly'%}{{ policy.premium.gwp }}{% elseif policy.getPremiumPlan == 'yearly' %}{{ policy.premium.yearlyGwp }}{% else %}0{% endif %} on a {{ policy.getPremiumPlan }} basis for it to be insured.</p>
        <p><strong>Your Policy Details</strong></p>
        <p>Your phone is now protected against Theft, Loss, Accidental Damage and Breakdown from {{ policy.start|date('jS F Y') }} until {{ policy.end|date('jS F Y') }} (check your policy document for full details).</p>
        <p class="text-right">
            Have an <button type="button" class="btn btn-link" data-toggle="modal" data-target="#scodeModal" style="padding: 0; font-size: 16px;">invitation code</button> from a friend?
        </p>
        {% if policy.user.unprocessedReceivedInvitations|length > 0 %}
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h4>Invitations</h4>
                </div>
                <div class="panel-body">
                    {{ form_start(invitation_form, {'attr': { 'class': 'form-inline'}}) }}
                    <div class="row">
                        {% for invitation in policy.user.unprocessedReceivedInvitations %}
                        <div class="col-md-6">
                             <div class="form-group">
                            <label style="margin-right: 20px">{{ invitation.inviter.name }}</label>
                            {{ form_widget(attribute(invitation_form, 'accept_' ~ invitation.id), {'attr': {'class': 'btn btn-primary'}}) }}
                            {{ form_widget(attribute(invitation_form, 'reject_' ~ invitation.id), {'attr': {'class': 'btn btn-danger'}}) }}
                             </div>
                        </div>
                        {% endfor %}
                    </div>
                    {{ form_errors(invitation_form) }}
                    {{ form_end(invitation_form) }}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Reward Pot</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <p class="text-center" style="padding: 20px;">
                            Here is your Reward Pot. To see who you are connected with, download our <a href="{{ path('sms_app_link') }}">app</a>.
                        </p>
                        <div class="align-center">
                            <div class="doughnut-outer center-block text-center" data-max-connections="{{ policy.maxConnections }}"
                                 data-connections="{{ policy.connections|length }}" data-invites="{{ policy.sentInvitations|length }}">
                                <canvas id="myChart"></canvas>
                                <div class="doughnut-inner">
                                    <h3>£{{ policy.potValue }}</h3>
                                    <h4>Reward Pot Value</h4>
                                    <span>of a maxium of £{{ policy.maxPot }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>Invite Friends</h4>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <p class="text-center" style="padding: 20px;">Just enter their email below and we'll do the rest. Alternatively, open up our app and you can invite them however you'd like.</p>
                    {{ form_start(email_form, {'attr': {'class': 'form-inline'}}) }}
                    <div class="form-group">
                        {{ form_errors(email_form.email) }}
                        {{ form_widget(email_form.email, {'attr': {'placeholder': 'Enter their email'}}) }}
                    </div>
                    {{ form_widget(email_form.submit, {'label': 'Invite', 'attr': {'class': 'btn btn-primary'}}) }}&nbsp;
                    {{ form_end(email_form) }}
                  </div>
                  {% if policy.standardSCode.shareLink %}
                  <div class="row" style="margin-top: 20px">
                    <h4>Share your invite code</h4>
                    <input id="scode" readonly="readonly" type="text" value="{{ policy.standardSCode.code }}">
                    <button class="btn btn-clipboard" data-clipboard-text="{{ policy.standardSCode.shareLink }}" data-toggle="tooltip" data-placement="right"
                            data-share-text="Hey, I've just joined so-sure – better insurance that is up to 80% cheaper if you and your friends don't claim. Finally, makes phone insurance worthwhile! You're careful, connect with me! Download here: {{ policy.standardSCode.shareLink }}. Add my code after you pay: {{ policy.standardSCode.code }}">
                        <i class="fa fa-clipboard"></i>
                    </button>
                    <div id="share"></div>
                  </div>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="scodeModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Already recevied an invite?</h4>
          </div>
          <div class="modal-body">
            <p>Enter the unique 8-digit code below and we'll connect you.</p>
            <form id="scode-form">
                <div class="row">
                    <div class="col-sm-12">
                        <div><input type="text" placeholder="Enter code" id="scode-form-code"></input></div>
                        <div class="help-block with-errors" id="scode-form-code-err"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-success" id="scode-form-submit" data-token="{{ csrf_token('default') }}">Submit</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js" type="text/javascript"></script>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets
'components/jssocials/jssocials.css'
'components/jssocials/jssocials-theme-flat.css'
'@AppBundle/Resources/public/css/User/index.css'
'@AppBundle/Resources/public/css/User/trust.css'
 %}
<link rel="stylesheet" href="{{ asset_url }}">
{% endstylesheets %}
{% endblock %}
