{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/clipboard/clipboard.min.js'
    'components/jssocials/jssocials.min.js'
    'components/jquery-circle-progress/circle-progress.min.js'
    'bundles/app/js/User/index.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'components/jssocials/jssocials.css'
    'components/jssocials/jssocials-theme-flat.css'
    '@AppBundle/Resources/public/css/User/index.css'
    '@AppBundle/Resources/public/css/User/trust.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"> {% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="user-homepage--header">
        <div class="container">
            <div class="col-md-12">
                <img src="http://www.placecage.com/100/100" alt="{{ policy.user.firstname }}" class="img-circle user-img">
                <h2 class="h2 text-white">Welcome back, {{ policy.user.firstname }}!</h2>
                <span class="text-white"><em>Phone model</em></span>
            </div>
        </div>
    </section>

    <section class="user-homepage--nav scroll">
        <div class="container">
            <nav id="user-homepage--nav">
                <ul class="nav nav-pills scroll">
                    <li role="presentation" class="active"><a href="#">User Home</a></li>
                    <li role="presentation"><a href="#">Personal Info</a></li>
                    <li role="presentation"><a href="#">Payment Details</a></li>
                </ul>
            </nav>  
        </div>
    </section>

    <section class="user-homepage--content section--pad">
        <div class="container">

   {#      <p class="text-right">
            Have an <button type="button" class="btn btn-link" data-toggle="modal" data-target="#scodeModal" style="padding: 0; font-size: 16px;">invitation code</button> from a friend?
        </p> #}            
            
            <div class="row">
                <div class="col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
                    {% if policy.user.unprocessedReceivedInvitations|length > 0 %}
                        <h4><strong>Invitations</strong></h4>
                        {{ form_start(invitation_form, {'attr': { 'class': 'form-inline'}}) }}
                            <ul>
                                {% for invitation in policy.user.unprocessedReceivedInvitations %}
                                <li>
                                    {{ invitation.inviter.name }}
                                    {{ form_widget(attribute(invitation_form, 'accept_' ~ invitation.id), {'attr': {'class': 'btn btn-primary'}}) }}
                                    {{ form_widget(attribute(invitation_form, 'reject_' ~ invitation.id), {'attr': {'class': 'btn btn-danger'}}) }}                                    
                                </li>
                                {% endfor %}
                            </ul>
                        {{ form_errors(invitation_form) }}
                        {{ form_end(invitation_form) }}                        
                    {% endif %}
                    <div class="box-border-grey text-center">
                        <h4><strong>My Connections</strong></h4>
                    </div>
                </div>
                <div class="col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
                    <div class="box-border-grey text-center">
                        <h4><strong>My Reward Pot</strong></h4>
                        <div id="reward-pot-chart" class="circle-chart-container" 
                             data-pot-value="{{ policy.potValue }}"
                             data-max-pot="{{ policy.maxPot }}">
                             <div class="circle-chart--value">
                                 <span class="h2 text-blue">£{{ policy.potValue }}</span><br>
                                 <small>of a max. £{{ policy.maxPot }}</small>
                             </div>
                        </div>
                    </div>
                    <div class="box-border-grey text-center">
                        <h4><strong>Connection Bonus</strong></h4>
                        <div id="connection-bonus-chart" class="circle-chart-container" 
                             data-bonus-days-total="60"
                             data-bonus-days-remaining="11">
                             <div class="circle-chart--value">
                                 <span class="h2 text-red">11</span><br>
                                 <small class="text-red">days left!</small>
                             </div>
                        </div>     
                        <p><small>Each connection made is worth £10 in the first 2 months and £2 thereafter.</small></p>                   
                    </div>
                </div>
            </div>

        </div>
    </section>
    
    
    {# Page Modals #}

    <div class="modal fade" 
         id="scodeModal" 
         tabindex="-1" 
         role="dialog" 
         aria-labelledby="scodeModal" 
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3 class="text-center">
                        {% if scode %}
                            {{ scode.policy.user }} has invited you!
                        {% else %}
                            Already recevied an invite?
                        {% endif %}                        
                    </h3>
                </div>
                <div class="modal-body">
                    <p>Enter the unique 8-digit code below and we'll connect you.</p>
                    <form id="scode-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter code" id="scode-form-code" value="{% if scode %}{{ scode.code }}{% endif %}">
                            <div class="help-block with-errors" id="scode-form-code-err"></div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success btn-rounded" id="scode-form-submit" data-token="{{ csrf_token('default') }}">Submit</button>
                        </div>
                    </form>                    
                </div>
            </div>
        </div>
    </div>  

    {# End Page Modals #}

    

{% endblock %}