{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/clipboard/clipboard.min.js'
    'components/jssocials/jssocials.min.js'
    'components/jquery-circle-progress/circle-progress.min.js'
    'bundles/app/js/User/index.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'components/jssocials/jssocials.css'
    '@AppBundle/Resources/public/css/Default/modal.css'        
    'components/jssocials/jssocials-theme-minima.css'
    '@AppBundle/Resources/public/css/User/index.css'
    '@AppBundle/Resources/public/css/User/trust.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"> {% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="user-homepage--header">
        <div class="container">
            <div class="col-md-12">
                <img src="http://www.placecage.com/100/100" alt="{{ policy.user.firstname }}" class="img-circle user-img">
                <h2 class="h2 text-white">Welcome back, {{ policy.user.firstname }}!</h2>
                <span class="text-white"><em>Phone model</em></span>
            </div>
        </div>
    </section>

    <section class="user-homepage--nav">
        <div class="container">
            <nav id="user-homepage--nav">
                <ul class="nav nav-pills scroll">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">Personal Info</a></li>
                    <li role="presentation"><a href="#">Payment Details</a></li>
                </ul>
            </nav>  
        </div>
    </section>

    <section class="user-homepage--content section--pad">
        <div class="container">          
            
            <div class="row">
                <div class="col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
                    {% if policy.user.unprocessedReceivedInvitations|length > 0 %}
                        <h4><strong>Invitations</strong></h4>
                        {{ form_start(invitation_form, {'attr': { 'class': 'form-inline'}}) }}
                            <ul>
                                {% for invitation in policy.user.unprocessedReceivedInvitations %}
                                <li>
                                    {{ invitation.inviter.name }}
                                    {{ form_widget(attribute(invitation_form, 'accept_' ~ invitation.id), {'attr': {'class': 'btn btn-primary'}}) }}
                                    {{ form_widget(attribute(invitation_form, 'reject_' ~ invitation.id), {'attr': {'class': 'btn btn-danger'}}) }}                                    
                                </li>
                                {% endfor %}
                            </ul>
                        {{ form_errors(invitation_form) }}
                        {{ form_end(invitation_form) }}                        
                    {% endif %}
                    <div class="box-border-grey coffee-card text-center">
                        <h4><strong>My Connections</strong></h4>
                        <ul class="list-inline">
                            <li><img src="http://www.placecage.com/70/70" alt="Nic Cage" class="img-circle"></li>
                            <li><img src="http://www.fillmurray.com/70/70" alt="Bill Murray" class="img-circle"></li>
                            <li><img src="http://www.stevensegallery.com/70/70" alt="Steven Segal" class="img-circle"></li>
                            <li><a href="#" id="connect-with">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                            </a></li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="box-border-grey text-center">
                                <h4><strong>
                                    {% if scode %}
                                        {{ scode.policy.user }} has invited you!
                                    {% else %}
                                        Already recevied an invite?
                                    {% endif %}                                         
                                </strong></h4>
                                <p><small>Enter the unique 8-digit code below and we'll connect you.</small></p>
                                <form id="scode-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter code" id="scode-form-code" value="{% if scode %}{{ scode.code }}{% endif %}">
                                        <div class="help-block with-errors" id="scode-form-code-err"></div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-success btn-rounded" id="scode-form-submit" data-token="{{ csrf_token('default') }}">Connect</button>
                                    </div>
                                </form>                                               
                            </div>                             
                        </div>
                        {# {% if policy.standardSCode.shareLink %} #}
                        <div class="col-md-6" >   
                            <div id="connect-with-box" class="box-border-grey text-center">                         
                                <h4><strong>Share your invite code</strong></h4>
                                <form class="form-inline">

                                    <div class="input-group">
                                        <input id="scode" readonly="readonly" type="text" class="form-control" value="{{ policy.standardSCode.code }}">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary btn-clipboard" 
                                                    data-clipboard-text="{{ policy.standardSCode.shareLink }}" 
                                                    data-toggle="tooltip" 
                                                    data-placement="right"
                                                    data-share-text="Hey, I've just joined so-sure – better insurance that is up to 80% cheaper if you and your friends don't claim. Finally, makes phone insurance worthwhile! You're careful, connect with me! Download here: {{ policy.standardSCode.shareLink }}. Add my code after you pay: {{ policy.standardSCode.code }}">
                                                <i class="fa fa-clipboard"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                                <div id="share"></div>  

                                <div class="text-break text-grey">
                                    <div class="line"></div>OR<div class="line"></div>
                                </div>   
                                <h4><strong>Email an invite!</strong></h4>
                                <p><small>Just enter their email below and we'll do the rest. Alternatively, open up our app and you can invite them however you'd like.</small></p>
                                {{ form_start(email_form, {'attr': {'class': ''}}) }}
                                <div class="form-group">
                                    {{ form_errors(email_form.email) }}
                                    {{ form_widget(email_form.email, {'attr': {'placeholder': 'Enter their email', 'class': 'form-control'}}) }}
                                </div>
                                {{ form_widget(email_form.submit, {'label': 'Invite', 'attr': {'class': 'btn btn-success btn-rounded'}}) }}&nbsp;
                                {{ form_end(email_form) }}                                                       
                            </div>                  
                        </div>
                        {# {% endif %}  #}
                    </div>
 
                </div>
                <div class="col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
                    <div class="box-border-grey text-center">
                        <h4><strong>My Reward Pot</strong></h4>
                        <div id="reward-pot-chart" class="circle-chart-container" 
                             data-pot-value="{{ policy.potValue }}"
                             data-max-pot="{{ policy.maxPot }}">
                             <div class="circle-chart--value">
                                 <span class="h2 text-blue">£{{ policy.potValue }}</span><br>
                                 <small>of a max. £{{ policy.maxPot }}</small>
                             </div>
                        </div>
                    </div>
                    <div class="box-border-grey text-center">
                        <h4><strong>Connection Bonus</strong></h4>
                        <div id="connection-bonus-chart" class="circle-chart-container" 
                             data-bonus-days-total="60"
                             data-bonus-days-remaining="11">
                             <div class="circle-chart--value">
                                 <span class="h2 text-red">11</span><br>
                                 <small class="text-red">days left!</small>
                             </div>
                        </div>     
                        <p><small>Each connection made is worth £10 in the first 2 months and £2 thereafter.</small></p>                   
                    </div>
                </div>
            </div>

        </div>
    </section>
    
    
    {# Page Modals #}

{#     <div class="modal modal-middle fade" 
         id="scodeModal" 
         tabindex="-1" 
         role="dialog" 
         aria-labelledby="scodeModal" 
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3 class="text-center">
               
                    </h3>
                </div>
                <div class="modal-body">



                </div>
            </div>
        </div>
    </div> #}  

    {# End Page Modals #}

    

{% endblock %}