{% extends 'base.html.twig' %}

{% set white_logo = true %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/typeahead.js/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/user.scss'%}
    <link rel="stylesheet" href="{{ asset_url }}"> {% endstylesheets %}
{% endblock %}


{% block body %}
    <section class="user-invalid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-white h2">Oops! Looks like you haven't purchased a policy with us yet...</h1>
                    <p class="lead text-light-blue">Select your phone below and follow the steps to get your phone covered with us.</p>
                </div>
                <div class="col-md-12">
                    {{ render(controller('AppBundle:Default:selectPhoneMake', {'type':'other_pages'})) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
