{% extends 'base_rebrand.html.twig' %}
{# {% form_theme bacs_form with ['AppBundle:Form:fields.html.twig', 'AppBundle:Form:submit.html.twig'] %} #}

{# Set vars #}
{% set body_class = 'user' %}
{% set user_mode = true %}

{% block title %}so-sure - Welcome back {{ app.user.firstname }}{% endblock %}


{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/user.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container-large">
            {% if app.user.canPurchasePolicy %}
                {% if app.user.policies|length > 0 %}
                    <h1 class="h2 mb-4">You don't have any active polices.</h1>
                {% else %}
                    <h1 class="h2 mb-4">Oops! Looks like you haven't purchased a policy with us yet...</h1>
                {% endif %}
                <p>Head to the <a href="{{ path('homepage') }}">homepage</a> to get a quote.</p>
            {% elseif app.user.canPurchasePolicy(false) %}
                <h1 class="h2 mb-4">You've reached the maximum number of allowed policies.</h1>
                <p><a href="{{ path('about_how_to_contact_so_sure') }}"><u>Contact us</u></a> for more details.</p>
            {% else %}
                <h1 class="h2 mb-4">Sorry, but you are not able to purchase a policy.</h1>
                <p><a href="{{ path('about_how_to_contact_so_sure') }}"><u>Contact us</u></a> for more details.</p>
            {% endif %}
        </div>
    </section>

    {# Page Modal #}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/user.js') }}"></script>
{% endblock %}
