{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@AppBundle/Resources/public/css/Default/homepage.css'
        '@AppBundle/Resources/public/css/User/index.css'
        '@AppBundle/Resources/public/css/User/trust.css'
        '@AppBundle/Resources/public/css/Default/selectPhoneMake.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
  <section class="user-invalid background-image-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Oops! Looks like you haven't purchased a policy with us yet...</h1>
                <p class="lead">Select your phone below and follow the steps to get your phone covered with us.</p>
            </div>
            <div class="col-md-12">
                    {{ render(controller('AppBundle:Default:selectPhoneMake')) }}
            </div>
        </div>
    </div>
  </section>
{% endblock %}
