{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'oboarding' %}
{% set onboarding_mode = true %}
{% set include_emoji = true %}
{% set intercom_enabled = false %}
{# {% set starling = false %} #}
{% set hide_devbar = true %}

{% block title %}Welcome to Social Insurance{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/onboarding.css') }}">
{% endblock %}

{% block gtm_data %}
    ,
    'policy': {
        'id': '{{ policy.id }}'
    },
    'affilinet': {
        'rate': {% if policy.getPremiumPlan == 'monthly'%}1{% elseif policy.getPremiumPlan == 'yearly' %}2{% else %}-1{% endif %},
        'gwp': {% if policy.getPremiumPlan == 'monthly'%}{{ policy.premium.gwp }}{% elseif policy.getPremiumPlan == 'yearly' %}{{ policy.premium.yearlyGwp }}{% else %}0{% endif %}
    },
    {% if has_visited_welcome_page is defined and has_visited_welcome_page == false %}
        'transactionId': '{{ policy.policyNumber }}',
        'transactionTotal': {% if policy.getPremiumPlan == 'monthly'%}{{ policy.premium.gwp }}{% elseif policy.getPremiumPlan == 'yearly' %}{{ policy.premium.yearlyGwp }}{% endif %},
        'transactionProducts': [{
            'name': '{{ policy.phone.name }}',
            'sku':  '{{ policy.phone.make }}-{{ policy.phone.model }}',
            'category': '{{ policy.phone.make }}',
            'price': {% if policy.getPremiumPlan == 'monthly'%}{{ policy.premium.gwp }}{% elseif policy.getPremiumPlan == 'yearly' %}{{ policy.premium.yearlyGwp }}{% endif %}
        }]
    {% endif %}
{% endblock %}

{% block body %}

    <section class="onboarding">
        {% if device_category() == 'Desktop' or device_category() == 'Tablet'  %}
            <div class="onboarding-nav__desktop">
                <div class="onboarding-nav__inner active py-4">
                    <div class="onboarding-nav__number h6 mb-0">1</div>
                    <a href="#onboarding-carousel" class="onboarding-controls__btn" data-slide-to="0">
                        <div class="onboarding-nav__title h6 ml-3 mb-0">Welcome to so-sure</div>
                    </a>
                </div>
                <div class="onboarding-nav__inner py-4">
                    <div class="onboarding-nav__number h6 mb-0">2</div>
                    <a href="#onboarding-carousel" class="onboarding-controls__btn" data-slide-to="1">
                        <div class="onboarding-nav__title h6 ml-3 mb-0">Reduce Excess by 60%</div>
                    </a>
                </div>
                <div class="onboarding-nav__inner py-4">
                    <div class="onboarding-nav__number h6 mb-0">3</div>
                    <a href="#onboarding-carousel" class="onboarding-controls__btn" data-slide-to="2" data-secondary-page="3">
                        <div class="onboarding-nav__title h6 ml-3 mb-0">Invite and get cashback</div>
                    </a>
                </div>
                <div class="onboarding-nav__inner py-4">
                    <div class="onboarding-nav__number h6 mb-0">4</div>
                    <a href="#onboarding-carousel" class="onboarding-controls__btn" data-slide-to="4">
                        <div class="onboarding-nav__title h6 ml-3 mb-0">Policy Details</div>
                    </a>
                </div>
            </div>
        {% endif %}
        <div id="onboarding-carousel"
             class="carousel slide"
             data-ride="carousel"
             data-interval="false"
             data-wrap="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="onboarding__item pt-4 px-4 mx-lg-auto">
                        <div class="onboarding__image">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="so-sure - Welcome" width="180px">
                        </div>
                        <div class="onboarding__body">
                            <h2 class="h4 text-primary mb-3">{{ policy.user.firstname }}, You're all covered 🎉</h2>
                            <p class="mb-4">
                                Thanks for choosing so-sure, your payment is setup. You’ll shortly receive a text link to download our app.
                                Through the app you can reduce excess and earn cashback. Lorem ipsum dolor sit amet adipiscing elit.
                            </p>
                            {% if device_category() == 'Mobile' %}
                                {% if policy.phone.iTunes %}
                                    <a href="{{ apple_download('onboarding-mobile-one') }}"
                                       class="btn btn-primary btn-block-xs ga-outbound-click"
                                       data-clicklabel="iTunes"
                                       target="_blank"
                                       rel="noopener">
                                        Download our App</a>
                                {% endif %}
                                {% if policy.phone.googlePlay %}
                                    <a href="{{ google_download('onboarding-mobile-one') }}"
                                       class="btn btn-primary btn-block-xs ga-outbound-click"
                                       data-clicklabel="PlayStore"
                                       target="_blank"
                                       rel="noopener">
                                        Download our App</a>
                                {% endif %}
                            {% else %}
                                <a href="#"
                                   class="btn btn-primary"
                                   role="button"
                                   data-target="#onboarding-carousel"
                                   data-slide="next">Next <i class="far fa-long-arrow-right fa-lg ml-2"></i></a>

                                <div class="mt-4 sms-btn">
                                    <a href="#" class="link-subtle sms-btn">Re-send my app link</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="onboarding__item pt-4 px-4 mx-lg-auto">
                        <div class="onboarding__image">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-qr.png" alt="so-sure - Verify your phone" width="180px">
                        </div>
                        <div class="onboarding__body">
                            <h2 class="h4 text-primary mb-3">Reduce your excess by 60%</h2>
                            <p class="mb-4">
                                After downloading the so-sure app you’ll be able to use our in-app validation to reduce your
                                excess. Nulla sed quam risus. Suspendisse potenti. Maecenas molestie egestas amet scelerisque enim rutrum et.
                            </p>
                            {% if device_category() == 'Mobile' %}
                                {% if policy.phone.iTunes %}
                                    <a href="{{ apple_download('onboarding-mobile-one') }}"
                                       class="btn btn-primary btn-block-xs ga-outbound-click"
                                       data-clicklabel="iTunes"
                                       target="_blank"
                                       rel="noopener">
                                        Download our App</a>
                                {% endif %}
                                {% if policy.phone.googlePlay %}
                                    <a href="{{ google_download('onboarding-mobile-one') }}"
                                       class="btn btn-primary btn-block-xs ga-outbound-click"
                                       data-clicklabel="PlayStore"
                                       target="_blank"
                                       rel="noopener">
                                        Download our App</a>
                                {% endif %}
                            {% else %}
                                <a href="#"
                                   class="btn btn-primary"
                                   role="button"
                                   data-target="#onboarding-carousel"
                                   data-slide="prev">
                                   <i class="far fa-long-arrow-left fa-lg ml-2"></i>
                                   Back
                           </a>
                                <a href="#"
                                   class="btn btn-primary"
                                   role="button"
                                   data-target="#onboarding-carousel"
                                   data-slide="next">Next <i class="far fa-long-arrow-right fa-lg ml-2"></i></a>

                                <div class="mt-4 sms-btn">
                                    <a href="#" class="link-subtle">Re-send my app link</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="onboarding__item pt-4 px-4 mx-lg-auto">
                        <div class="onboarding__image">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_friends-connect.png" alt="so-sure - Invite your friends and get  rewarded" width="180px">
                        </div>
                        <div class="onboarding__body">
                            <h2 class="h4 text-primary mb-3">Invite friends and earn &pound;100</h2>
                            {% if device_category() == 'Mobile' %}
                                <p class="mb-4">
                                    For every person you connect with, we’ll add £10 to your reward pot. If neither of you claim,
                                    your cash will be returned at the end of the policy year. For more information on how it works watch our video lorem ipsum.
                                </p>
                            {% else %}
                                <p class="mb-4">
                                    For every person you connect with, we’ll add £10 to your reward pot. If neither of you claim, your cash will be returned at the end of
                                    the policy year. For more information on how it works
                                    <a href="#"
                                       class="watch-video"
                                       data-event="watch-video-index-hero"
                                       data-toggle="modal"
                                       data-target="#sosure-video-modal"
                                       data-src="https://www.youtube.com/embed/QEskwqsNgrQ">
                                        <u>watch our video</u>
                                    </a>lorem ipsum.
                                </p>
                            {% endif %}
                            {% if device_category() != 'Mobile' %}
                                <a href="#"
                                   class="btn btn-primary"
                                   role="button"
                                   data-target="#onboarding-carousel"
                                   data-slide="prev">
                                   <i class="far fa-long-arrow-left fa-lg ml-2"></i>
                                   Back
                               </a>
                            {% endif %}

                            <a href="#"
                               class="btn btn-success btn-block-xs"
                               role="button"
                               data-target="#onboarding-carousel"
                               data-slide="next">Let's get inviting <i class="far fa-long-arrow-right fa-lg ml-2"></i></a>
                            {% if device_category() == 'Mobile' %}
                                {# TODO: Add video once live - change the link to embed one #}
{#                                 <a href="#"
                                   class="btn btn-outline-primary watch-video btn-block-xs"
                                   data-event="watch-video-index-hero"
                                   data-toggle="modal"
                                   data-target="#sosure-video-modal"
                                   data-src="https://www.youtube.com/embed/QEskwqsNgrQ">
                                    <i class="far fa-play-circle fa-lg opacity-50 mr-1"></i>
                                    How it works
                                </a> #}
                            {% else %}
                                <a href="#"
                                   class="btn btn-outline-grey ml-md-2 opacity-50"
                                   role="button"
                                   data-target="#onboarding-carousel"
                                   data-slide-to="4">Skip step</a>

                                <div class="mt-4 sms-btn">
                                    <a href="#" class="link-subtle">Re-send my app link</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="onboarding__item pt-4 px-4 mx-lg-auto">
                        <div class="onboarding__image">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_reward-pot.png" alt="so-sure - Choose how you’d like to invite" width="180px">
                        </div>
                        <div class="onboarding__body">
                            <h2 class="h4 text-primary mb-4">Choose how you’d like to invite</h2>
                            <p class="mb-4">Entesque dolor praesent volutpat elit vehicula pretium placerat. Nam download app sagittis, hendrerit lore in hac habitasse platea.</p>
                            <div class="d-lg-flex justify-content-lg-center">
                                <h5 class="text-left text-zaffre d-lg-none">📨 Invite via email</h5>
                                {{ form_start(email_form, {'attr': {'autocomplete': 'nope'}}) }}
                                    <div class="custom-input-with-btn mb-4">
                                        {{ form_widget(email_form.email, {'attr': {'placeholder': 'Enter email address', 'class': 'form-control'}}) }}
                                        {{ form_widget(email_form.submit, {'label': 'invite', 'attr': {'class': 'btn btn-success btn-square btn-sm'}}) }}
                                    </div>
                                    {{ form_errors(email_form.email) }}
                                {{ form_end(email_form) }}
                                <h5 class="text-left text-zaffre d-lg-none">🔗 Share this link</h5>
                                <div class="custom-input-with-btn mb-4 ml-lg-4">
                                    <input name="scode" id="scode" readonly="readonly" type="text" class="form-control" value="{{ policy.standardSCode.shareLink }}">
                                    <button class="btn btn-primary btn-copy btn-square  btn-sm sosure-track"
                                        data-clipboard-target="#scode"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        data-event="user-welcome-copy-scode"
                                            >copy</button>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-flex align-items-lg-center mt-lg-3">
                            <h5 class="text-zaffre mr-lg-3 mb-lg-0">Invite via social:</h5>
                            {# TODO: Rework icons #}
                            <div id="onboarding-btn--share"
                                 data-share-link="{{ policy.standardSCode.shareLink }}"
                                 data-share-text="{{ share_experiment_text }}">
                            </div>
                        </div>
                        {% if device_category() == 'Desktop' or device_category() == 'Tablet'  %}
                            <a href="#"
                               class="btn btn-primary"
                               role="button"
                               data-target="#onboarding-carousel"
                               data-slide="prev">
                               <i class="far fa-long-arrow-left fa-lg ml-2"></i>
                               Back
                           </a>
                            <div class="mt-4">
                                <a href="#"
                                   class="btn btn-outline-grey ml-md-2 opacity-50"
                                   role="button"
                                   data-target="#onboarding-carousel"
                                   data-slide-to="4">Skip step</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="onboarding__item pt-4 px-4 mx-lg-auto">
                        <div class="onboarding__body">
                            <h2 class="h3 text-primary mb-3">Thanks for choosing <span class="text-nowrap">so-sure</span> 😊</h2>
                            <div class="summary-cardbox">
                                <div class="summary-cardbox__header">
                                    <h4 class="text-primary mb-0">Policy Summary</h4>
                                </div>
                                <div class="summary-cardbox__body d-lg-flex align-items-lg-center">
                                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_holding-phone.png" alt="so-sure - super quick cover" width="160px" class="d-none d-lg-inline mr-4">
                                    <div class="summary-cardbox__body-sub">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <h5 class="text-primary">Phone:</h5>
                                                <p>{{ policy.phone.make }} {{ policy.phone.model }} ({{ policy.phone.memory }}GB)</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <h5 class="text-primary">Policy number:</h5>
                                                <p>{{ policy.policyNumber }}</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <h5 class="text-primary">Cost:</h5>
                                                <p>
                                                    {% if policy.getPremiumPlan == 'monthly'%}
                                                        &pound;{{ policy.premium.monthlyPremiumPrice(app.user.additionalPremium)|number_format(2, '.', ',') }} per month
                                                    {% elseif policy.getPremiumPlan == 'yearly' %}
                                                        &pound;{{ policy.premium.yearlyPremiumPrice(app.user.additionalPremium)|number_format(2, '.', ',') }} a year
                                                    {% else %}
                                                        Unknown
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="col-lg-6">
                                                <h5 class="text-primary">Start/End Date:</h5>
                                                <p>{{ policy.start|date('d/m/y', 'Europe/London') }} - {{ policy.end|date('d/m/y', 'Europe/London') }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="summary-cardbox__cta">
                                    <a href="{{ s3DownloadLink(policy_terms_file.bucket, policy_terms_file.key) }}">
                                        Download policy details
                                        <i class="fal fa-download ml-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% if device_category() == 'Desktop' or device_category() == 'Tablet'  %}
                            <div class="mt-5">
                                <a href="#"
                                   class="btn btn-primary"
                                   role="button"
                                   data-target="#onboarding-carousel"
                                   data-slide-to="2">
                                   <i class="far fa-long-arrow-left fa-lg ml-2"></i>
                                   Back
                               </a>
                                <a href="{{ path('fos_user_security_login') }}"
                                   class="btn btn-outline-primary"
                                   role="button">
                                   Customer login <i class="far fa-long-arrow-right fa-lg ml-2"></i></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if device_category() == 'Mobile' %}
                <div class="onboarding-controls__mobile p-4 d-flex justify-content-between align-items-center">
                    <ol class="carousel-indicators">
                        <li data-target="#onboarding-carousel" class="active"></li>
                        <li data-target="#onboarding-carousel"></li>
                        <li data-target="#onboarding-carousel"></li>
                        <li data-target="#onboarding-carousel"></li>
                        <li data-target="#onboarding-carousel"></li>
                    </ol>
                    <a href="#onboarding-carousel"
                       id="onboarding-btn--prev"
                       class="onboarding-controls__btn"
                       role="button"
                       data-slide="prev">
                       BACK
                   </a>
                   <a href="#onboarding-carousel"
                      id="onboarding-btn--prev-skip"
                      class="onboarding-controls__btn"
                      role="button"
                      data-slide-to="2">
                      BACK
                  </a>
                    <a href="#onboarding-carousel"
                       id="onboarding-btn--next"
                       class="onboarding-controls__btn"
                       role="button"
                       data-slide="next">
                       NEXT
                   </a>
                    <a href="#"
                       id="onboarding-btn--skip"
                       class="onboarding-controls__btn opacity-50 btn-hide"
                       role="button"
                       data-target="#onboarding-carousel"
                       data-slide-to="4">
                       SKIP
                   </a>
                    <a href="{{ path('fos_user_security_login') }}"
                       id="onboarding-btn--login"
                       class="onboarding-controls__btn btn-hide"
                       role="button">
                       LOGIN
                   </a>
                </div>
            {% endif %}
        </div>
    </section>

    {# Pixels #}
    {% if environment == 'prod' %}
        <img src="https://pubads.g.doubleclick.net/activity;xsp=4375795;ord={{ random(999999999) }}?" width=1 height=1 border=0/>

        {% if has_visited_welcome_page is defined and has_visited_welcome_page == false %}
            <img src='https://www.tagserve.com/saleServlet?MID=357&PID=513&CRID=&ORDERID={{ policy.id }}&ORDERAMNT=10&NUMOFITEMS=1&CUR=GBP' border='0' width='1' height='1'>
        {% endif %}
    {% endif %}

{% endblock %}

{% block footer %}
    {# TODO: Fix footer #}
{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/onboarding.js') }}"></script>
{% endblock %}
