{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/user.scss'%}
    <link rel="stylesheet" href="{{ asset_url }}"> {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'AppBundle:User:userNav.html.twig' %}

    {% set active_tab = 'card' %}
    {% if form_errors(bacs_form.accountName) or form_errors(bacs_form.sortCode) or form_errors(bacs_form.accountNumber) or form_errors(bacs_form.soleSignature) %}
        {% set active_tab = 'bacs-setup' %}
    {% elseif bacs and bacs.isValid %}
        {% set active_tab = 'bacs-setup-confirm' %}
    {% elseif app.request.get('_route') == 'user_payment_details_bacs' %}
        {% set active_tab = 'bacs-setup' %}
    {% elseif user.paymentMethod and user.paymentMethod.type == 'bacs' %}
        {% set active_tab = 'bacs' %}
    {% endif %}

    <div class="tab-content">
        <div id="tab-card" class="tab-pane fade in {% if active_tab == 'card' %}active{% endif %}">
            {% include 'AppBundle:User:cardDetails.html.twig' %}
        </div>
        <div id="tab-bacs" class="tab-pane fade in {% if active_tab == 'bacs' %}active{% endif %}">
            {% include 'AppBundle:User:bacsDetails.html.twig' %}
        </div>
        <div id="tab-bacs-setup" class="tab-pane fade in {% if active_tab == 'bacs-setup' %}active{% endif %}">
            {% include 'AppBundle:User:bacsSetupDetails.html.twig' %}
        </div>
        <div id="tab-bacs-setup-confirm" class="tab-pane fade in {% if active_tab == 'bacs-setup-confirm' %}active{% endif %}">
            {% include 'AppBundle:User:bacsSetupConfirm.html.twig' %}
        </div>
    </div>

    {% if policy.premiumPlan == 'monthly' %}
    <div class="modal fade" id="billingModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(billing_form) }}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Request Billing Date Change</h4>
                </div>
                <div class="modal-body">
                <p>Please change my billing date from the {{ policy.billing|date('jS','Europe/London') }} to the {{ form_widget(billing_form.day) }} each month.</p>
                <p>Note the following:</p>
                <ul>
                    <li>You can't be behind in your payments. We will be unable to change your billing date until your account has a £0 balance.</li>
                    <li>If the request day is earlier than the current day, you will be billed immediately for this month (e.g. today is the 15th, your payment is currently due on the 30th, but you want to change to the 1st. This month, you will be billed on the 15th, but next month will be on the 1st).</li>
                    <li>If you request to change the date close to when the payment is due, you may need to wait an additional month before we're able to change the payment date.</li>
                </ul>
                </div>
                <div class="modal-footer">
                    {{ form_widget(billing_form.update, {'label': 'Change billing date', 'attr': {'class': 'btn btn-danger confirm-usertoken-clear'}}) }}
                </div>
                {{ form_end(billing_form) }}
            </div>
        </div>
    </div>
    {% endif %}

    {% include 'AppBundle::Default/directDebitGuaranteeModal.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/jquery-mask-plugin/jquery.mask.min.js'
    '@AppBundle/Resources/public/js/User/payment.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
