{% extends 'base_rebrand.html.twig' %}
{% form_theme bacs_form with ['AppBundle:Form:fields.html.twig', 'AppBundle:Form:submit.html.twig'] %}

{# Set vars #}
{% set body_class = 'user' %}
{% set user_mode = true %}

{% block title %}so-sure - Welcome back {{ app.user.firstname }}{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/user.css') }}">
{% endblock %}

{% block body %}

    {# Logic for tabs #}
    {% set active_tab = 'payment_card' %}
    {% if form_errors(bacs_form.accountName) or form_errors(bacs_form.sortCode) or form_errors(bacs_form.accountNumber) or form_errors(bacs_form.soleSignature) %}
        {% set active_tab = 'bacs_setup' %}
    {% elseif bacs and bacs.isValid %}
        {% set active_tab = 'bacs_setup_confirm' %}
    {% elseif app.request.get('_route') == 'user_payment_details_bacs' %}
        {% set active_tab = 'bacs_setup' %}
    {% elseif policy.hasPolicyOrUserBacsPaymentMethod %}
        {% set active_tab = 'payment_bacs' %}
    {% endif %}

    <section class="hero">
        <div class="container">
            {# NOTE: This is hidden! Remove d-none for testing #}
            <ul class="nav nav-tabs d-none" role="tablist">
                <li class="nav-item">
                    <a class="nav-link {% if active_tab == 'payment_card' %}active{% endif %}"
                    id="payment_card_tab"
                    data-toggle="tab"
                    href="#payment_card"
                    role="tab"
                    aria-controls="payment_card"
                    aria-selected="{% if active_tab == 'payment_card' %}true{% else %}false{% endif %}">Payment Card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_tab == 'payment_bacs' %}active{% endif %}"
                       id="payment_bacs_tab"
                       data-toggle="tab"
                       href="#payment_bacs"
                       role="tab"
                       aria-controls="payment_bacs"
                       aria-selected="{% if active_tab == 'payment_bacs' %}true{% else %}false{% endif %}">Payment Bacs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_tab == 'bacs_setup' %}active{% endif %}"
                       id="bacs_setup_tab"
                       data-toggle="tab"
                       href="#bacs_setup"
                       role="tab"
                       aria-controls="bacs_setup"
                       aria-selected="{% if active_tab == 'bacs_setup' %}true{% else %}false{% endif %}">Bacs Setup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_tab == 'bacs_setup_confirm' %}active{% endif %}"
                       id="bacs_setup_confirm_tab"
                       data-toggle="tab"
                       href="#bacs_setup_confirm"
                       role="tab"
                       aria-controls="bacs_setup_confirm"
                       aria-selected="{% if active_tab == 'bacs_setup_confirm' %}true{% else %}false{% endif %}">Bacs Setup Confirm</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane {% if active_tab == 'payment_card' %}active{% endif %}"
                     id="payment_card"
                     role="tabpanel"
                     aria-labelledby="payment_card_tab">
                    {% include 'AppBundle:User:cardDetails.html.twig' %}
                </div>
                <div class="tab-pane {% if active_tab == 'payment_bacs' %}active{% endif %}"
                     id="payment_bacs"
                     role="tabpanel"
                     aria-labelledby="payment_bacs_tab">
                    {% include 'AppBundle:User:bacsDetails.html.twig' %}
                </div>
                <div class="tab-pane {% if active_tab == 'bacs_setup' %}active{% endif %}"
                     id="bacs_setup"
                     role="tabpanel"
                     aria-labelledby="bacs_setup_tab">
                    {% if policy %}
                        {% include 'AppBundle:User:bacsSetupDetails.html.twig' %}
                    {% endif %}
                </div>
                <div class="tab-pane {% if active_tab == 'bacs_setup_confirm' %}active{% endif %}"
                     id="bacs_setup_confirm"
                     role="tabpanel"
                     aria-labelledby="bacs_setup_confirm_tab">
                    {% if policy %}
                        {% include 'AppBundle:User:bacsSetupConfirm.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}
    {% if policy and policy.premiumPlan == 'monthly' %}
        <div class="modal fade"
             id="billing_modal"
             tabindex="-1" role="dialog"
             aria-labelledby="billing_modal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Request Billing Date Change</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fal fa-times text-white"></i>
                        </button>
                    </div>
                    {{ form_start(billing_form) }}
                        <div class="modal-body">
                            <p>Please change my billing date from the <strong>{{ policy.billing|date('jS','Europe/London') }}</strong> to the {{ form_widget(billing_form.day) }} each month.</p>
                            <p><strong>Note the following:</strong></p>
                            <ul>
                                <li class="mb-2">You can't be behind in your payments. We will be unable to change your billing date until your account has a £0 balance.</li>
                                <li class="mb-2">If the request day is earlier than the current day, you will be billed immediately for this month (e.g. today is the 15th, your payment is currently due on the 30th, but you want to change to the 1st. This month, you will be billed on the 15th, but next month will be on the 1st).</li>
                                <li class="mb-2">If you request to change the date close to when the payment is due, you may need to wait an additional month before we're able to change the payment date.</li>
                            </ul>
                            <div class="form-group text-center">
                                {{ form_widget(billing_form.update, {'label': 'Change billing date', 'attr': {'class': 'btn btn-danger confirm-usertoken-clear'}}) }}
                            </div>
                        </div>
                    {{ form_end(billing_form) }}
                </div>
            </div>
        </div>
    {% endif %}

    {% include 'AppBundle::Purchase/_directDebitModal.html.twig' %}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/user.js') }}"></script>
    <script src="{{ asset('css-js/user-purchase-bacs.js') }}"></script>
{% endblock %}
