{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'user' %}
{% set robots_noindex = true %}
{% set user_mode = true %}
{% set small_footer = true %}
{% set pic_width = '100px' %}
{% if device_category() == 'Desktop' %}
    {% set pic_width = '150px' %}
{% endif %}


{% block title %}Policies | so-sure{% endblock %}


{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/user.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/user-dashboard.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container-large">
            <h1 class="h2 text-white mb-5 mb-lg-4">My Policies</h1>
        </div>
    </section>

    <section class="policies pb-lg-5">
        <div class="container-large pb-5">
            {% for policyItem in user.getDisplayablePoliciesSorted %}
                <div class="cardbox cardbox-100 cardbox-no-smallscreen-border mb-5">
                    <div class="cardbox__body cardbox-divider d-flex align-items-center justify-content-start justify-content-lg-between py-lg-1">
                        {% if policyItem.phone.iTunes %}
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_apple.png" width="{{ pic_width }}" alt="Apple iPhone" class="lozad">
                        {% elseif policyItem.phone.googlePlay %}
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_android.png" width="{{ pic_width }}" alt="Android Phone" class="lozad">
                        {% else %}
                            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/phones/generic/so-sure_half-phone.png" width="{{ pic_width }}" alt="Phone" class="lozad">
                        {% endif %}
                        <div class="ml-2 ml-lg-4 flex-grow-1 d-lg-flex align-items-lg-start">
                            <div class="h5">
                                <a href="{{ path('user_policy', {'policyId': policyItem.id}) }}"
                                   title="{{ policyItem.phone }}">
                                    {{ policyItem.phone.make }} {{ policyItem.phone.model }}<br><small class="sub">{{ policyItem.policyNumber }}</small>
                                </a>
                            </div>
                            <span class="badge badge-pill {% if policyItem.status == 'active' %}badge-success{% else %}badge-danger{% endif %} ml-lg-2">{{ policyItem.status }}</span>
                            {% if policyItem.isPicSurePolicy %}
                                <span class="badge badge-pill {% if policyItem.isPicSureValidated %}badge-success{% else %}badge-danger{% endif %} ml-lg-2"><i class="far {% if policyItem.isPicSureValidated %}fa-check{% else %}fa-times{% endif %} fa-fw"></i> Validated</span>
                            {% endif %}
                        </div>
                        <div class="h5 d-none d-lg-block mb-0"><i class="fal fa-calendar fa-lg fa-fw text-primary mr-2"></i> {{ policyItem.start|date('dS M Y') }} - {{ policyItem.end|date('dS M Y') }}</div>
                    </div>
                    <div class="cardbox-divider d-none d-lg-flex excess">
                        <div class="excess-item text-left flex-fill">
                            {% if policyItem.policyTerms.isPicSureRequired and not policyItem.isPicSureValidated %}
                                <p>Your cover does NOT start till you validate your phone, find out how <a href="{{ path('faq') }}#the-so-sure-app-and-pic-sure">here</a>.</p>
                            {% elseif not policyItem.isPicSureValidated %}
                                <p>Validate your phone to reduce your excess, find out how <a href="{{ path('faq') }}#the-so-sure-app-and-pic-sure">here</a>.</p>
                            {% endif %}
                            {% if policyItem.getPolicyTermsFiles|length > 0 %}
                                <a href="{{ s3DownloadLink(policyItem.getPolicyTermsFiles[0].bucket, policyItem.getPolicyTermsFiles[0].key) }}" class="btn btn-outline-primary mr-2"><i class="fal fa-file-download text-primary fa-fw"></i> Policy Terms</a>
                            {% endif %}
                            {% if policyItem.getPolicyScheduleFiles|length > 0 %}
                                <a href="{{ s3DownloadLink(policyItem.getPolicyScheduleFiles[0].bucket, policyItem.getPolicyScheduleFiles[0].key) }}" class="btn btn-outline-primary"><i class="fal fa-file-download text-primary fa-fw"></i> Policy Schedule</a>
                            {% endif %}
                            {% if policyItem.displayRepurchase %}
                                <a href="{{ path('user_repurchase_policy', {'id': policyItem.id }) }}" class="btn btn-success ">Repurchase Policy</a>
                            {% endif %}
                        </div>
                        <div class="excess-item flex-fill">
                            {% if policyItem.policyTerms.isPicSureRequired and not policyItem.isPicSureValidated %}
                                <div class="h2 text-primary">&pound;{{ policyItem.premium.picsureExcess.damage|number_format(0, '.', ',') }}</div>
                            {% else %}
                                <div class="h2 text-primary">&pound;{{ policyItem.getCurrentExcess.damage|number_format(0, '.', ',') }}</div>
                            {% endif %}
                            Excess for Accidental <br> Damage/Breakdown
                        </div>
                        <div class="excess-item flex-fill">
                            {% if policyItem.policyTerms.isPicSureRequired and not policyItem.isPicSureValidated %}
                                <div class="h2 text-primary">&pound;{{ policyItem.premium.picsureExcess.loss|number_format(0, '.', ',') }}</div>
                            {% else %}
                                <div class="h2 text-primary">&pound;{{ policyItem.getCurrentExcess.loss|number_format(0, '.', ',') }}</div>
                            {% endif %}
                            Excess for <br> Loss
                        </div>
                        <div class="excess-item flex-fill">
                            {% if policyItem.policyTerms.isPicSureRequired and not policyItem.isPicSureValidated %}
                                <div class="h2 text-primary">&pound;{{ policyItem.premium.picsureExcess.theft|number_format(0, '.', ',') }}</div>
                            {% else %}
                                <div class="h2 text-primary">&pound;{{ policyItem.getCurrentExcess.theft|number_format(0, '.', ',') }}</div>
                            {% endif %}
                            Excess for <br> Theft
                        </div>
                    </div>
                    <div class="cardbox__body cardbox-divider d-lg-none">
                        <span class="h6 mb-0"><i class="fal fa-calendar fa-lg fa-fw text-primary mr-2"></i> {{ policyItem.start|date('dS M Y') }} - {{ policyItem.end|date('dS M Y') }}</span>
                    </div>
                    <div class="cardbox__body cardbox-divider d-lg-none">
                        {% if policyItem.policyTerms.isPicSureRequired and not policyItem.isPicSureValidated %}
                            <p>Your cover does NOT start till you validate your phone, find out how <a href="{{ path('faq') }}#the-so-sure-app-and-pic-sure">here</a>.</p>
                        {% elseif not policyItem.isPicSureValidated %}
                            <p>Validate your phone to reduce your excess, find out how <a href="{{ path('faq') }}#the-so-sure-app-and-pic-sure">here</a>.</p>
                        {% endif %}
                        <div class="row">
                            {% if policyItem.getPolicyTermsFiles|length > 0 %}
                                <div class="col">
                                    <a href="{{ s3DownloadLink(policyItem.getPolicyTermsFiles[0].bucket, policyItem.getPolicyTermsFiles[0].key) }}" class="btn btn-outline-primary btn-block"><i class="fal fa-file-download text-primary fa-fw d-none"></i> <span class="d-none">Policy</span> Terms</a>
                                </div>
                            {% endif %}
                            {% if policyItem.getPolicyScheduleFiles|length > 0 %}
                                <div class="col">
                                    <a href="{{ s3DownloadLink(policyItem.getPolicyScheduleFiles[0].bucket, policyItem.getPolicyScheduleFiles[0].key) }}" class="btn btn-outline-primary btn-block"><i class="fal fa-file-download text-primary fa-fw d-none"></i> <span class="d-none">Policy</span> Schedule</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if policyItem.displayRepurchase %}
                        <div class="cardbox__body cardbox-divider d-lg-none">
                            <a href="{{ path('user_repurchase_policy', {'id': policyItem.id }) }}" class="btn btn-success  btn-block">Repurchase Policy</a>
                        </div>
                    {% endif %}
                    <div class="cardbox__body cardbox-divider cardbox-flex d-lg-none">
                        {% if policyItem.policyTerms.isPicSureRequired and not policyItem.isPicSureValidated %}
                            Excess for Accidental Damage/Breakdown <strong>&pound;{{ policyItem.premium.picsureExcess.damage|number_format(0, '.', ',') }}</strong>
                        {% else %}
                            Excess for Accidental Damage/Breakdown <strong>&pound;{{ policyItem.getCurrentExcess.damage|number_format(0, '.', ',') }}</strong>
                        {% endif %}
                    </div>
                    <div class="cardbox__body cardbox-divider cardbox-flex d-lg-none">
                        {% if policyItem.policyTerms.isPicSureRequired and not policyItem.isPicSureValidated %}
                            Excess for Loss <strong>&pound;{{ policyItem.premium.picsureExcess.loss|number_format(0, '.', ',') }}</strong>
                        {% else %}
                            Excess for Loss <strong>&pound;{{ policyItem.getCurrentExcess.loss|number_format(0, '.', ',') }}</strong>
                        {% endif %}
                    </div>
                    <div class="cardbox__body cardbox-divider cardbox-flex d-lg-none">
                        {% if policyItem.policyTerms.isPicSureRequired and not policyItem.isPicSureValidated %}
                            Excess for Theft <strong>&pound;{{ policyItem.premium.picsureExcess.theft|number_format(0, '.', ',') }}</strong>
                        {% else %}
                            Excess for Theft <strong>&pound;{{ policyItem.getCurrentExcess.theft|number_format(0, '.', ',') }}</strong>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    {# Page Modal #}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/user.js') }}"></script>
{% endblock %}
