{% extends 'AppBundle:User:baseRenewPolicy.html.twig' %}

{% block actions %}
    <div class="checkout--step">
        <div class="container">
            <form>
                <div class="form-step">
                    <div class="form-group">
                        <a href="#"
                           class="btn btn-green btn-block btn-pad"
                           data-toggle="modal"
                           data-target="#renewModal">Renew my policy</a>
                    </div>
                    <div class="form-group">
                        {% if policy.potValue > 0 %}
                            <a href="{{ path('user_renew_custom_policy', {'id': policy.id}) }}" class="btn btn-blue btn-block btn-pad">Make changes or get your pot back in cash?</a>
                        {% else %}
                            <a href="{{ path('user_renew_custom_policy', {'id': policy.id}) }}" class="btn btn-blue btn-block btn-pad">Make changes?</a>
                        {% endif %}
                    </div>
                </div>
                <p><small>Our pricing may have increased slightly. This is largely due to the government mandated increase in IPT to 12% in June 2017.  Your premium last year was
                {% if policy.getPremiumPlan == 'monthly' %}
                    <span class="text-blue">£{{ renew.getMonthlyPremiumPrice }}</span> per month.
                {% else %}
                    <span class="text-blue">£{{ renew.getYearlyPremiumPrice }}</span> per year.
                {% endif %}
                </small></p>
            </form>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal modal-purchase modal-policy fade"
         id="renewModal"
         tabindex="-1"
         role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title text-blue">Before you proceed! <br>Please confirm the following are correct:</h3>
                </div>
                <div class="modal-body">
                    <div class="modal-body__review">
                        {{ form_start(renew_form, {'attr': {'data-toggle': 'validator', 'class': ''}}) }}
                        <ol>
                            <li>I am a resident of the United Kingdom.</li>
                            <li>I have read &amp; understood the <a class="policy-doc-toggle" href="#policy-doc">so-sure policy document</a>.</li>
                        </ol>
                        <p>Please be advised that if you confirm that the above is true and we later discover that it isn’t, your claim might get denied.</p>
                        <div class="form-group">
                            {{ form_widget(renew_form.renew, {'label': 'Renew my policy', 'attr': {'class': 'btn btn-green btn-block btn-pad'}}) }}
                        </div>
                        {{ form_end(renew_form) }}
                    </div>
                    <div id="#policy-doc" class="modal-body__policy-doc" style="display:none;">
                        <button type="button" class="close policy-doc-toggle" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ render(controller('AppBundle:ApiView:policyLatestTerms', {'policy_key': policy_key, 'maxPotValue':  phone.getCurrentPhonePrice.maxPot })) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
