{% extends 'AppBundle:User:baseRenewPolicy.html.twig' %}

{% block actions %}

    {% if policy.potValue > 0 %}
        <div class="payment--step">
            <div class="payment--step-inner clearfix">
                <h4>Would you like to use your pot to renew?<br>
                <small>(Select an option below)</small></h4>
                <div class="payment--btn payment--btn-two payment--btn-left" id="payment--reward">
                    <div class="payment--btn-inner" id="payment--monthly">
                        <span class="amount">Yes</span><br>
                        <span class="billed">Use reward pot</span>
                    </div>
                </div>
                <div class="payment--btn-or">
                    OR
                </div>
                <div class="payment--btn payment--btn-two payment--btn-right" id="payment--cashback">
                    <div class="payment--btn-inner">
                        <span class="amount">No</span><br>
                        <span class="billed">I want cashback</span>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="payment--step">
        <div class="payment--step-inner clearfix">
            <h4>How would you like to pay?<br>
            <small>(Select an option below)</small></h4>
            {% if app.user.allowedMonthlyPayments %}
                <div class="payment--btn {% if app.user.allowedMonthlyPayments and app.user.allowedYearlyPayments %} payment--btn-two payment--btn-left {% endif %}" id="payment--adjusted-monthly" data-value="{{ renew.getAdjustedStandardMonthlyPremiumPrice|number_format(2, '.', ',') }}|12|1">
                    <div class="payment--btn-inner {% if not app.user.allowedYearlyPayments %} payment--btn-inner-single {% endif %}">
                        <span class="billed visible-xs">Monthly <br></span>
                        <span class="amount">£{{ renew.getAdjustedStandardMonthlyPremiumPrice|number_format(2, '.', ',') }}
                        <span class="hidden-xs">a month</span><br></span>
                        <small class="visible-xs">Billed on {{ policy.getPendingCancellation|date('jS') }} of each month</small>
                        <small class="hidden-xs">You will be billed on the {{ policy.getPendingCancellation|date('jS') }}  of each month</small>
                    </div>
                </div>
            {% endif %}
            {% if app.user.allowedMonthlyPayments and app.user.allowedYearlyPayments %}
                <div class="payment--btn-or">
                    OR
                </div>
            {% endif %}
            {% if app.user.allowedYearlyPayments %}
                <div class="payment--btn {% if app.user.allowedMonthlyPayments and app.user.allowedYearlyPayments %} payment--btn-two payment--btn-right {% endif %}" id="payment--adjusted-yearly" data-value="{{ renew.getAdjustedYearlyPremiumPrice|number_format(2, '.', ',') }}|1|1">
                    <div class="payment--btn-inner {% if not app.user.allowedMonthlyPayments %} payment--btn-inner-single {% endif %}">
                        <span class="billed visible-xs">Yearly <br></span>
                        <span class="amount">£{{ renew.getAdjustedYearlyPremiumPrice|number_format(2, '.', ',') }}
                        <span class="hidden-xs">a year</span><br></span>
                        <small class="visible-xs">Billed on date of purchase</small>
                        <small class="hidden-xs">You will be billed for the year on {{ policy.getPendingCancellation|date('jS M') }}</small>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="checkout--step">
        <div class="container">
            <form>
                <div class="form-group">
                    <a id="renew--continue-btn"
                       href="#"
                       data-toggle="modal"
                       data-target="#renewModal"
                       class="btn btn-green btn-block btn-pad">Continue</a>
                    {% if policy.potValue > 0 %}
                        <a id="renew--continue-cashback-btn"
                           href="#"
                           data-toggle="modal"
                           data-target="#renewCashbackModal"
                           class="btn btn-green btn-block btn-pad">Continue</a>
                    {% endif %}
                </div>
                {% if policy.potValue > 0 %}
                    <div class="form-group">
                        <a href="#" data-toggle="modal" data-target="#cashbackModal" class="btn btn-blue btn-block btn-pad">Don't renew, just get cashback</a>
                    </div>
                {% endif %}
                <div class="form-group">
                    <a href="{{ path('user_renew_policy', {'id': policy.id}) }}" class="btn btn-blue-hollow btn-block btn-pad">Back</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block modals %}
<div class="modal modal-purchase fade"
     id="renewModal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-blue">Before you proceed! <br>Please confirm the following are correct:</h3>
            </div>
            <div class="modal-body">
                {{ form_start(renew_form, {'attr': {'data-toggle': 'validator', 'class': ''}}) }}
                <ol>
                    <li>I am a resident of the United Kingdom.</li>
                    <li>I have read &amp; understood the so-sure policy document.</li>
                </ol>
                <p>Please be advised that if you confirm that the above is true and we later discover that it isn’t, your claim might get denied.</p>
                <div class="form-group">
                    {{ form_widget(renew_form.renew, {'label': 'Renew my policy', 'attr': {'class': 'btn btn-green btn-block btn-pad'}}) }}
                </div>
                {{ form_end(renew_form) }}
            </div>
        </div>
    </div>
</div>
<div class="modal modal-purchase fade"
     id="renewCashbackModal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-blue">Before you proceed! <br>Please confirm the following are correct:</h3>
            </div>
            <div class="modal-body">
                {{ form_start(renew_cashback_form, {'attr': {'data-toggle': 'validator', 'class': ''}}) }}
                <ol>
                    <li>I am a resident of the United Kingdom.</li>
                    <li>I have read &amp; understood the so-sure policy document.</li>
                </ol>
                <p>Please be advised that if you confirm that the above is true and we later discover that it isn’t, your claim might get denied.</p>
                <div class="form-group">
                    {{ form_widget(renew_cashback_form.accountName, {'attr': {'placeholder': 'Account Name', 'class': 'form-control'}}) }}
                    <div class="help-block with-errors">{{ form_errors(renew_cashback_form.accountName) }}</div>
                </div>
                <div class="form-group cashback--item">
                    {{ form_widget(renew_cashback_form.sortCode, {'attr': {'placeholder': 'Sort Code', 'class': 'form-control'}}) }}
                    <div class="help-block with-errors">{{ form_errors(renew_cashback_form.sortCode) }}</div>
                </div>
                <div class="form-group cashback--item">
                    {{ form_widget(renew_cashback_form.accountNumber, {'attr': {'placeholder': 'Account Number', 'class': 'form-control'}}) }}
                    <div class="help-block with-errors">{{ form_errors(renew_cashback_form.accountNumber) }}</div>
                </div>
                <div class="form-group">
                    {{ form_widget(renew_cashback_form.renew, {'label': 'Renew my policy', 'attr': {'class': 'btn btn-green btn-block btn-pad'}}) }}
                </div>
                {{ form_end(renew_cashback_form) }}
            </div>
        </div>
    </div>
</div>

<div class="modal modal-purchase fade"
     id="cashbackModal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-blue">Request cashback</h3>
            </div>
            <div class="modal-body">
                <p>
                    Please use this form to request cashback. Note that it will take 30-45 days
                    from the end of your policy before the bacs transfer will be sent.
                </p>
                {{ form_start(cashback_form, {'attr': {'data-toggle': 'validator', 'class': ''}}) }}
                <div class="form-group cashback--item">
                    {{ form_widget(cashback_form.accountName, {'attr': {'placeholder': 'Account Name'}}) }}
                    <div class="help-block with-errors">{{ form_errors(cashback_form.accountName) }}</div>
                </div>
                <div class="form-group cashback--item">
                    {{ form_widget(cashback_form.sortCode, {'attr': {'placeholder': 'Sort Code'}}) }}
                    <div class="help-block with-errors">{{ form_errors(cashback_form.sortCode) }}</div>
                </div>
                <div class="form-group cashback--item">
                    {{ form_widget(cashback_form.accountNumber, {'attr': {'placeholder': 'Account Number'}}) }}
                    <div class="help-block with-errors">{{ form_errors(cashback_form.accountNumber) }}</div>
                </div>
                <div class="form-group">
                    {{ form_widget(cashback_form.cashback, {'label': 'Request cashback', 'attr': {'class': 'btn btn-success btn-block btn-arrow-right'}}) }}

                </div>
                {{ form_end(cashback_form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
