{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'user' %}
{% set robots_noindex = true %}
{% set user_mode = true %}
{% set small_footer = true %}

{% block title %}Renew Your Policy | so-sure{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/user.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/user-renew.css') }}">
{% endblock %}

{% block body %}

    <div class="hero">
        <div class="container-large">
            <div class="row align-items-lg-center justify-content-lg-start">
                <div class="col-lg-6">
                    {% if policy is defined and policy %}
                        <div class="h5 text-columbia-blue-e fit">{{ policy.phone.make }} {{ policy.phone.model }} <span class="mx-2 text-white">|</span> {{ policy.policyNumber }}</div>
                    {% endif %}
                    <h1 class="h2 text-white mb-5 mb-lg-4">Renew Your Policy</h1>
                    <a href="{{ path('user_renew_custom_policy', {'id': policy.id}) }}"
                       class="btn btn-outline-deep-sky-blue-d btn-block-xs mr-md-2">Make Changes</a>
                    <a href="#"
                       class="btn btn-success btn-block-xs"
                       data-toggle="modal"
                       data-target="#renew_modal">Renew My Policy</a>
                </div>
                <div class="col-md-6 offset-md-3 col-lg-3 offset-lg-0">
                    <div class="cardbox cardbox-100 cardbox-opacity mb-4 mr-lg-4">
                        <div class="cardbox__body text-center">
                            <div class="h6 text-white cardbox__title">
                                {% if policy.potValue > 0 %}
                                    💰 Using Cashback
                                {% else %}
                                    Renewal Price
                                {% endif %}
                            </div>
                            <div class="cardbox__text">
                                <div class="h3">
                                    {% if policy.getPremiumPlan == 'monthly' %}
                                        &pound;{{ renew.getAdjustedStandardMonthlyPremiumPrice|number_format(2, '.', ',') }}
                                    {% else %}
                                        &pound;{{ renew.getAdjustedYearlyPremiumPrice|number_format(2, '.', ',') }}
                                    {% endif %}
                                </div>
                                <div class="h6 mb-0">
                                    {% if policy.getPremiumPlan == 'monthly' %}
                                        <span class="sub text-columbia-blue-e">per month</span>
                                    {% else %}
                                        <span class="sub text-columbia-blue-e">per year</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if policy.potValue > 0 %}
                    <div class="col-md-6 offset-md-3 col-lg-3 offset-lg-0">
                        <div class="cardbox cardbox-100 cardbox-opacity mb-4 mr-lg-4">
                            <div class="cardbox__body text-center">
                                <div class="h6 text-white cardbox__title">📈 Without Cashback</div>
                                <div class="cardbox__text">
                                    <div class="h3">
                                        {% if policy.getPremiumPlan == 'monthly' %}
                                            &pound;{{ renew.getMonthlyPremiumPrice|number_format(2, '.', ',') }}
                                        {% else %}
                                            &pound;{{ renew.getYearlyPremiumPrice|number_format(2, '.', ',') }}
                                        {% endif %}
                                    </div>
                                    <div class="h6 mb-0">
                                        {% if policy.getPremiumPlan == 'monthly' %}
                                            <span class="sub text-columbia-blue-e">per month</span>
                                        {% else %}
                                            <span class="sub text-columbia-blue-e">per year</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="renew">
        <div class="container-large py-5">
            <p class="mb-5">
                {% if renew.getMonthlyPremiumPrice < policy.premium.getMonthlyPremiumPrice %}
                    We have great news. Your renewal premium is less than last year's premium of
                {% else %}
                    From time to time so-sure reviews its pricing to ensure we are charging the right price for a device in relation to the cost of repairs and replacement. This means your premium may move up or down at renewal. We always try to ensure we remain competitive and we never offer new customers better prices than those we offer to existing customers or any other type of introductory discounts. <u>Your premium last year was
                {% endif %}
                {% if policy.getPremiumPlan == 'monthly' %}
                    &pound;{{ policy.premium.getMonthlyPremiumPrice|number_format(2, '.', ',') }} per month.
                {% else %}
                    &pound;{{ policy.getYearlyPremiumPrice|number_format(2, '.', ',') }} per year.
                {% endif %}</u>
            </p>
        </div>
    </div>

    {# Page Modals #}
    <div class="modal fade"
         id="renew_modal"
         tabindex="-1" role="dialog"
         aria-labelledby="renew_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Please confirm the following are correct</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(renew_form, {'attr': {'data-toggle': 'validator', 'class': ''}}) }}
                        <p>Please be advised that if you confirm that the below is true and we later discover that it isn’t, your claim might get denied.</p>
                        <ol class="mb-5">
                            <li class="mb-3">My phone is in full working condition and my screen is not cracked</li>
                            <li class="mb-3">I am a resident of the United Kingdom</li>
                            <li class="mb-3">I have read &amp; understood the <a href="{{ cdn_url }}/files/so-sure_sample_policy_doc_v{{ policy.policyTerms.getVersionNumber }}.pdf" target="_blank" rel="noopener noreferrer"><u>policy document here</u></a></li>
                        </ol>
                        <div class="form-group text-center">
                            {{ form_widget(renew_form.renew, {'label': 'Renew', 'attr': {'class': 'btn btn-success btn-block-xs'}}) }}
                        </div>
                    {{ form_end(renew_form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/user.js') }}"></script>
    <script src="{{ asset('css-js/user-renew.js') }}"></script>
{% endblock %}
