{% extends 'AppBundle:User:baseRenewPolicy.html.twig' %}

{% block titleArea %}

    <h1 class="h2"><span class="title-top">Thank you for renewing your policy <br class="visible-xs">with so-sure.</span></h1>

    {% if policy.hasCashback %}
        <h4 class="text-center">
            Your cashback request was received and will be processed <span class="text-blue">28-45</span> days after your policy has ended.
        </h4>
    {% endif %}

    <h4 class="text-center">You will continue to be protected against theft, loss, and accidental damage.</h4>

    <p class="lead text-center">Your policy
        <span class="h4 text-blue">{{ policy.policyNumber }}</span>
        is scheduled to be renewed on
        <span class="h4 text-blue">{{ policy.nextPolicy.start|date("d/m/Y") }}</span>.
    </p>

    {# Maybe these lines could be combined someway ???? #}
    <p class="lead text-center">
        {% if policy.nextPolicy.getPremiumPlan == 'monthly' %}
            Your monthly payment is <span class="text-blue h4">£{{ policy.nextPolicy.premium.adjustedStandardMonthlyPremiumPrice|number_format(2, '.', ',') }}</span>
            {% if policy.nextPolicy.premium.hasAnnualDiscount %}
                (includes your pot reward discount of <span class="text-blue h4">£{{ policy.nextPolicy.premium.getMonthlyDiscount|number_format(2, '.', ',') }}</span> each month)
            {% endif %}
        {% else %}
            Your annual payment is <span class="text-blue h4">£{{ policy.nextPolicy.premium.adjustedYearlyPremiumPrice|number_format(2, '.', ',') }}</span>
            {% if policy.nextPolicy.premium.hasAnnualDiscount %}
                (includes your pot reward discount of <span class="text-blue h4">£{{ policy.nextPolicy.premium.annualDiscount|number_format(2, '.', ',') }}</span> for the year)
            {% endif %}
        {% endif %}
    </p>

{% endblock %}

{% block content %}
    {% if renew_connections_form.renewalConnections|length > 0%}
        <h4 class="text-center">Make sure that you continue to get your pot reward next year by re-inviting all your existing connections.</h4>
    {% endif %}
{% endblock %}

{% block actions %}
    {{ form_start(renew_connections_form) }}
    {% if renew_connections_form.renewalConnections|length > 0%}
        <div class="connections">
            <div class="connections__list">
                {% for renewalConnection in renew_connections_form.renewalConnections %}
                    <div class="connections__user connections__user--selected">
                        {{ form_row(renewalConnection.renew) }}
                        <img src="{{ renewalConnection.vars.data.linkedUser.getImageUrlFallback }}"     style="width: 50px"
                             title="{{ renewalConnection.vars.data.linkedUser.name }}"
                             alt="{{ renewalConnection.vars.data.linkedUser.name }}"
                             class="
                            {% if not renewalConnection.vars.data.linkedPolicy.hasMonetaryClaimed %}
                                img-circle coffee-stamp
                            {% else %}{% endif %}" />
                        <span class="">{{ renewalConnection.vars.data.linkedUser.name }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="checkout--step">
            <div class="container">
                <div class="form">
                    <div class="form-group">
                        {{ form_widget(renew_connections_form.save, {'attr': {'class': 'btn btn-green btn-block btn-pad'}}) }}
                    </div>
                    <div class="form-group">
                        <a href="{{ path('user_home') }}" class="btn btn-blue-hollow btn-block btn-pad">Back</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="checkout--step">
            <div class="container">
                <div class="form">
                    <div class="form-group">
                        <a href="{{ path('user_home') }}" class="btn btn-blue-hollow btn-block btn-pad">Back</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {{ form_end(renew_connections_form) }}
{% endblock %}
