{% extends 'base_rebrand.html.twig' %}
{# {% form_theme bacs_form with ['AppBundle:Form:fields.html.twig', 'AppBundle:Form:submit.html.twig'] %} #}

{# Set vars #}
{% set body_class = 'user' %}
{% set user_mode = true %}

{% block title %}so-sure -  Renew your policy{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/user.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/user-renew.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container">
            <h1 class="h2 mb-4">Renew your policy 🤗</h1>
            <div class="d-lg-flex justify-content-lg-between mb-4">
                <div class="cardbox cardbox-100 mb-4 mr-lg-4">
                    <div class="cardbox__body">
                        <h5 class="cardbox__title">
                            Renewing your
                        </h5>
                        <div class="cardbox__text">
                            <div class="h4">
                                {{ policy.phone.make }} {{ policy.phone.model }}
                                {% if policy.phone.memory %}<span class="sub">{{ policy.phone.memory }}GB</span>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cardbox cardbox-100 mb-4 mr-lg-4">
                    <div class="cardbox__body">
                        <h5 class="cardbox__title">
                            {% if policy.potValue > 0 %}
                                Using your Reward Pot 💰
                            {% else %}
                                Renewal Price
                            {% endif %}
                        </h5>
                        <div class="cardbox__text">
                            <div class="h3">
                                {% if policy.getPremiumPlan == 'monthly' %}
                                    &pound;{{ renew.getAdjustedStandardMonthlyPremiumPrice|number_format(2, '.', ',') }} <span class="sub">per month</span>
                                {% else %}
                                    &pound;{{ renew.getAdjustedYearlyPremiumPrice|number_format(2, '.', ',') }} <span class="sub">per year</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if policy.potValue > 0 %}
                    <div class="cardbox cardbox-100 mb-4">
                        <div class="cardbox__body">
                            <h5 class="cardbox__title">
                                Without Reward Pot 📈
                            </h5>
                            <div class="h3">
                                {% if policy.getPremiumPlan == 'monthly' %}
                                    &pound;{{ renew.getMonthlyPremiumPrice|number_format(2, '.', ',') }} <span class="sub">per month</span>
                                {% else %}
                                    &pound;{{ renew.getYearlyPremiumPrice|number_format(2, '.', ',') }}  <span class="sub">per year</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <p class="mb-4">
                {% if renew.getMonthlyPremiumPrice < policy.premium.getMonthlyPremiumPrice %}
                    We have great news. Your renewal premium is less than last year's premium of
                {% else %}
                    From time to time so-sure reviews its pricing to ensure we are charging the right price for a device in relation to the cost of repairs and replacement. This means your premium may move up or down at renewal. We always try to ensure we remain competitive and we never offer new customers better prices than those we offer to existing customers or any other type of introductory discounts. <u>Your premium last year was
                {% endif %}
                {% if policy.getPremiumPlan == 'monthly' %}
                    &pound;{{ policy.premium.getMonthlyPremiumPrice|number_format(2, '.', ',') }} per month.
                {% else %}
                    &pound;{{ policy.getYearlyPremiumPrice|number_format(2, '.', ',') }} per year.
                {% endif %}</u>
            </p>
            {# if there is only a single option (e.g. yearly payments w/no cashback), then no need for custom page #}
            {% if policy.potValue > 0 %}
                <a href="{{ path('user_renew_custom_policy', {'id': policy.id}) }}"
                   class="btn btn-outline-primary btn-block-xs mr-md-2">Make changes</a>
            {% else %}
                <a href="{{ path('user_renew_custom_policy', {'id': policy.id}) }}"
                   class="btn btn-outline-primary btn-block-xs mr-md-2">Make changes</a>
            {% endif %}
            <a href="#"
               class="btn btn-success btn-block-xs"
               data-toggle="modal"
               data-target="#renew_modal">Renew my policy</a>
        </div>
    </section>

    {# Page Modals #}
    <div class="modal fade"
         id="renew_modal"
         tabindex="-1" role="dialog"
         aria-labelledby="renew_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Please confirm the following are correct</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(renew_form, {'attr': {'data-toggle': 'validator', 'class': ''}}) }}
                        <p>Please be advised that if you confirm that the below is true and we later discover that it isn’t, your claim might get denied.</p>
                        <ol>
                            <li class="mb-3">My phone is in full working condition and my screen is not cracked</li>
                            <li class="mb-3">I am a resident of the United Kingdom</li>
                            <li class="mb-4">I have read &amp; understood the <a href="{{ cdn_url }}/files/so-sure_sample_policy_doc_v12.pdf" target="_blank" rel="noopener noreferrer"><u>policy document here</u></a></li>
                        </ol>
                        <div class="form-group">
                            {{ form_widget(renew_form.renew, {'label': 'Renew my policy', 'attr': {'class': 'btn btn-success btn-square btn-block-xs'}}) }}
                        </div>
                    {{ form_end(renew_form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/user-renew.js') }}"></script>
{% endblock %}
