{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'user' %}
{% set user_mode = true %}

{% block title %}so-sure -  Don't Renew my Policy{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/user.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/user-renew.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container-large">
            <h1 class="h2 mb-4">We’re sorry you’re leaving 😔</h1>
            <p class="lead">Are you sure you want to leave us?</p>
            <p class="lead">Your phone will no longer be covered against Water damage, cracked screens, loss and theft!</p>
            {% if policy.hasCashback %}
                <p class="lead mb-4">Your cashback request was received and will be processed <u>28-45</u> days after your policy has ended.</p>
            {% endif %}
            <a href="{{ path('user_policy', {'policyId': policy.id }) }}"
               class="btn btn-outline-primary btn-block-xs mr-md-2">I'm sure</a>
            <a href="{{ path('user_renew_retry_policy', {'id': policy.id }) }}"
               class="btn btn-success btn-block-xs">I'd like to renew my policy</a>
        </div>
    </section>

    {# Page Modals #}


{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/user-renew.js') }}"></script>
{% endblock %}
