{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/dot/doT.min.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeSearch.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeDropdown.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}
    <section class="section--pad">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if app.user.hasBacsPaymentMethod %}
                        {% if app.user.paymentMethod.bankAccount.isMandateInProgress %}
                            <h1 class="text-center">Pending Direct Debit Setup</h1>
                            <p class="lead text-center">We're curently setting up your direct debit. Please come back in a few days.</p>
                        {% elseif app.user.paymentMethod.bankAccount.isMandateInvalid %}
                            {# TODO: Allow user to re-setup bacs #}
                            <h1 class="text-center">Invalid Mandate</h1>
                            <p class="lead text-center">Your BACS mandate is either cancelled or failed. Please email <a href="mailto:support@wearesosure.com">support@wearesosure.com</a>.</p>
                        {% else  %}
                            <h1 class="text-center">Payment is processing</h1>
                            <p class="lead text-center">Your BACS mandate has been setup, and we are currently processing your payment.</p>
                        {% endif %}
                    {% elseif webpay_action and webpay_reference and amount > 0 %}
                        <h1 class="text-center">Unpaid Policy</h1>
                        <p class="lead text-center">Your policy is not up to date on your payments. Click below to pay the outstanding due of £{{ amount|number_format(2, '.', ',') }}.</p>
                        {% if bacs_feature %}
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">
                                {% if not app.user.hasBacsPaymentMethod %}
                                    <a href="{{ path('user_payment_details_bacs') }}" class="btn btn-green btn-block btn-pad ">Change to direct debit</a>
                                {% else %}
                                    <a href="{{ path('user_payment_details_bacs') }}" class="btn btn-green btn-block btn-pad ">Update direct debit details</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">&nbsp;</div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">
                                <form action="{{ webpay_action }}" method="post" id="webpay-form">
                                    <div class="form-group">
                                        <input  id="Reference" name="Reference" type="hidden" value="{{ webpay_reference }}">
                                        <input type="submit" class="btn {% if bacs_feature %}btn-default{% else %}btn-green{% endif %} btn-block btn-pad " value="Proceed to card payment">
                                    </div>
                                </form>
                            </div>
                        </div>
                  {% elseif amount == 0 %}
                      <h1 class="text-center">Policy Payment</h1>
                      <p class="lead text-center">Your policy is paid to date.</p>
                      <p class="lead text-center">Return to your <a href="{{ path('user_home') }}">user homepage</a>.</p>
                  {% else %}
                      <h1 class="text-center">Unpaid Policy</h1>
                      <p class="lead text-center">Sorry, we're having technical issues. Please <a href="#" class="open-intercom">contact us</a></p>
                  {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class="hidden-xs section--pad">&nbsp;</section>
{% endblock %}
