{% extends 'base.html.twig' %}

{% set white_logo = true %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/typeahead.js/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/user.scss'%}
    <link rel="stylesheet" href="{{ asset_url }}"> {% endstylesheets %}
{% endblock %}

{% block body %}
    <section class="user-invalid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-white h2">Unpaid Policy</h1>
                    {% if webpay_action and webpay_reference and amount > 0 %}
                    <p class="lead text-light-blue">Your policy is not up to date on your payments. Click below to pay the outstanding due of £{{ amount|number_format(2, '.', ',') }}.</p>
                    <form action="{{ webpay_action }}" method="post" id="webpay-form">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <input  id="Reference" name="Reference" type="hidden" value="{{ webpay_reference }}">
                                <input type="submit" class="btn btn-success " value="Proceed to payment">
                            </div>
                        </div>
                    </form>
                  {% elseif amount == 0 %}
                    <p>Your policy is paid to date.</p>
                  {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
