{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/dot/doT.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}
    <section class="section--pad">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Unpaid Policy</h1>
                    {% if webpay_action and webpay_reference and amount > 0 %}
                        <p class="lead text-center">Your policy is not up to date on your payments. Click below to pay the outstanding due of £{{ amount|number_format(2, '.', ',') }}.</p>
                        <form action="{{ webpay_action }}" method="post" id="webpay-form">
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <div class="form-group">
                                        <input  id="Reference" name="Reference" type="hidden" value="{{ webpay_reference }}">
                                        <input type="submit" class="btn btn-green btn-block btn-pad " value="Proceed to payment">
                                    </div>
                                </div>
                            </div>
                        </form>
                  {% elseif amount == 0 %}
                        <p class="lead text-center">Your policy is paid to date.</p>
                  {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class="hidden-xs section--pad">&nbsp;</section>
{% endblock %}
