{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'user-unpaid' %}
{% set robots_noindex = true %}
{% set user_mode = true %}
{% set small_footer = true %}
{% set show_card = false %}
{% set show_bacs_setup = false %}
{% set show_bacs_retry = false %}
{% set judo_btn_text = 'Update my card details' %}

{% block title %}
    so-sure
    {% if unpaid_reason == 'unpaid_paid' %}
        - Policy Payment
    {% elseif unpaid_reason == 'unpaid_bacs_mandate_pending' %}
        - Pending Direct Debit Setup
    {% elseif unpaid_reason == 'unpaid_bacs_payment_pending' %}
        - Payment is processing
    {% elseif unpaid_reason == 'unpaid_bacs_mandate_invalid' %}
        - Invalid Direct Debit
    {% elseif unpaid_reason == 'unpaid_bacs_payment_failed' %}
        - Payment failed
    {% elseif unpaid_reason == 'unpaid_bacs_payment_missing' %}
        - Payment missing
    {% elseif unpaid_reason == 'unpaid_card_expired' %}
        - Card Expired
    {% elseif unpaid_reason == 'unpaid_card_payment_failed' %}
        - Unpaid Policy
    {% elseif unpaid_reason == 'unpaid_card_payment_missing' %}
        - Unpaid Policy
    {% else %}
        - Unknown payment problem
    {% endif %}
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/user-unpaid.css') }}">
{% endblock %}

{% block body %}

    <section class="d-flex flex-column justify-content-center align-items-center">
        <div class="container-large">
            <div class="text-center pt-5 pb-3">
                {% if unpaid_reason == 'unpaid_paid' %}

                    {# ALREADY PAID #}
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="so-sure" width="180px">
                    <h1 class="h2 mb-4">Policy paid up to date</h1>
                    <p>Return to your <a href="{{ path('user_home') }}">user homepage</a>.</p>
                    {# END - ALREADY PAID #}

                {# DIRECT DEBIT / BACS #}
                {% elseif unpaid_reason == 'unpaid_bacs_mandate_pending' %}

                    {# MANDATE PENDING #}
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="so-sure" width="180px">
                    <h1 class="h2 mb-4">Direct Debit setup pending</h1>
                    <p>We're currently setting up your direct debit. Please come back in a few days.</p>
                    {# END - MANDATE PENDING #}

                {% elseif unpaid_reason == 'unpaid_bacs_payment_pending' %}

                    {# PAYMENT PENDING #}
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="so-sure" width="180px">

                    <h1 class="h2 mb-4">Payment is processing</h1>
                    <p>We are currently processing your Direct Debit payment.</p>
                    {# END - PAYMENT PENDING #}

                {% elseif unpaid_reason == 'unpaid_bacs_mandate_invalid' %}

                    {# MANDATE FAILED OR CANCELLED #}
                    {% set show_bacs_setup = true %}
                    {% if not policy.canBacsPaymentBeMadeInTime %}
                        {% set show_card = true %}
                    {% endif %}
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_card-reader.png" alt="so-sure" width="180px">
                    <h1 class="h2 mb-4">Direct Debit invalid </h1>
                    <p>Your Direct Debit is either cancelled or has failed.</p>
                    {# END - MANDATE FAILED OR CANCELLED #}

                {% elseif unpaid_reason == 'unpaid_bacs_payment_failed' %}

                    {# PAYMENT FAILED #}
                    {% set show_bacs_retry = true %}
                    {% if not policy.canBacsPaymentBeMadeInTime %}
                        {% set show_card = true %}
                    {% endif %}
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_card-reader.png" alt="so-sure" width="180px">
                    <h1 class="h2 mb-4">Payment failed</h1>
                    <p class="lead">Your last Direct Debit payment failed and your policy is in danger of being cancelled.</p>
                    {# END - PAYMENT FAILED #}

                {% elseif unpaid_reason == 'unpaid_bacs_payment_missing' %}

                    {# PAYMENT MISSING #}
                    {% set show_bacs_setup = true %}
                    {% set show_bacs_retry = true %}
                    {% if not policy.canBacsPaymentBeMadeInTime %}
                        {% set show_card = true %}
                    {% endif %}

                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_card-reader.png" alt="so-sure" width="180px">
                    <h1 class="h2 mb-4">Payment missing</h1>
                    <p class="lead">Your account has not been paid up to date and your policy is in danger of being cancelled.</p>
                    {# END - PAYMENT MISSING #}

                {# CARD / JUDO PAY #}
                {% elseif unpaid_reason == 'unpaid_card_expired' %}

                    {# CARD EXPIRED #}
                    {% set show_card = true %}
                    {% if policy.canBacsPaymentBeMadeInTime and bacs_feature %}
                        {% set show_bacs_setup = true %}
                    {% endif %}

                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_card-reader.png" alt="so-sure" width="180px">

                    <h1 class="h2 mb-4">Card Expired</h1>
                    <p>We were unable to take payment because your card ending <strong>{{ policy.getCardPaymentMethod.cardLastFour }}</strong> has expired.</p>

                    {% if not show_bacs_setup %}
                        <p>To avoid your policy being cancelled update your card details and pay the outstanding balance of <strong>&pound;{{ amount|number_format(2, '.', ',') }}</strong> now.</p>
                    {% endif %}

                    {# END - CARD EXPIRED #}

                {% elseif unpaid_reason == 'unpaid_card_payment_failed' %}

                    {# PAYMENT FAILED #}
                    {% set show_card = true %}
                    {% if policy.canBacsPaymentBeMadeInTime and bacs_feature %}
                        {% set show_bacs_setup = true %}
                    {% endif %}

                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_card-reader.png" alt="so-sure" width="180px">
                    <h1 class="h2 mb-4">Payment Failed</h1>
                    <p>We were unable to take payment because your card ending <strong>{{ policy.getCardPaymentMethod.cardLastFour }}</strong> was declined.</p>
                    <p>To avoid your policy being cancelled update your card details and pay the outstanding balance of <strong>&pound;{{ amount|number_format(2, '.', ',') }}</strong> now.</p>
                    {# END - PAYMENT FAILED #}

                {% elseif unpaid_reason == 'unpaid_card_payment_missing' %}

                    {# PAYMENT MISSING #}
                    {% set show_card = true %}
                    {% if policy.canBacsPaymentBeMadeInTime and bacs_feature %}
                        {% set show_bacs_setup = true %}
                    {% endif %}

                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_card-reader.png" alt="so-sure" width="180px">
                    <h1 class="h2 mb-4">Payment Failed</h1>
                    <p>We were unable to take payment of <strong>&pound;{{ amount|number_format(2, '.', ',') }}</strong> because your account appears to missing payment details</p>
                    <p>To avoid your policy being cancelled update your card details and pay the outstanding balance now.</p>
                    {# END - PAYMENT MISSING #}

                {% elseif unpaid_reason == 'unpaid_payment_method_missing' %}

                    {# PAYMENT MISSING #}
                    {% set show_card = true %}
                    {% if policy.canBacsPaymentBeMadeInTime and bacs_feature %}
                        {% set show_bacs_setup = true %}
                    {% endif %}

                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_card-reader.png" alt="so-sure" width="180px">
                    <h1 class="h2 mb-4">Payment missing</h1>
                    <p class="lead">Your account has not been paid up to date and your policy is in danger of being cancelled.</p>
                    {# END - PAYMENT MISSING #}

                {% else %}

                    {# UNPAID_BACS_UNKNOWN, UNPAID_CARD_UNKNOWN, UNPAID_UNKNOWN #}
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_card-reader.png" alt="so-sure" width="180px">
                    <h1 class="h2 mb-4">Payment problem</h1>
                    <p>Please <a href="mailto:support@spam.so-sure.net" class="mailto open-intercom">contact us</a>.</p>
                    {# END - UNPAID_BACS_UNKNOWN, UNPAID_CARD_UNKNOWN, UNPAID_UNKNOWN #}

                {% endif %}
            </div>
        </div>
    </section>

    {% if show_card %}
        {% if show_bacs_setup %}
            {% set judo_btn_text = 'Continue to card payment' %}
        {% else %}
            {% set judo_btn_text = 'Proceed to card payment' %}
        {% endif %}
    {% endif %}

    <section class="d-flex flex-column justify-content-center align-items-center">
        <div class="container">
            <div class="text-center pb-5">

                {# IF CAN RETRY BACS #}
                {% if show_bacs_retry %}
                    {% if policy.canBacsPaymentBeMadeInTime and policy.hasPolicyOrUserBacsPaymentMethod and (policy.getPolicyOrUserBacsBankAccount.isMandateSuccess or policy.getPolicyOrUserBacsBankAccount.isMandateInProgress) %}
                        <p>We need your permission to take &pound;{{ amount|number_format(2, '.', ',') }} from your account ({{ policy.getPolicyOrUserBacsBankAccount }}). Once you have given us permission, your payment will be scheduled as soon as possible (within 3 business days).</p>
                        {{ form_start(form, {'attr': {'id': 'reschedule-bacs-form'}})  }}
                            <div class="form-group">
                                {{ form_widget(form.reschedule, {'attr': {'class': 'btn btn-success'}}) }}
                            </div>
                        {{ form_end(form) }}
                    {% else %}
                        <p>Sorry, there is not enough time to retry a Direct Debit payment before your policy will expire.</p>
                        {% if not show_card %}
                            <p>Please <a href="mailto:support@spam.so-sure.net" class="mailto open-intercom">contact us</a>.</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {# END - IF CAN RETRY BACS #}
                {# IF CAN SETUP BACS #}
                {% if show_bacs_setup %}
                    {% if policy.canBacsPaymentBeMadeInTime %}
                        <p>
                            {% if not policy.hasPolicyOrUserBacsPaymentMethod %}
                                <p>To avoid your policy being cancelled update your card details and pay the outstanding balance now of <strong>&pound;{{ amount|number_format(2, '.', ',') }}</strong>.</p>
{#                                 <p><strong>Why not switch to Direct Debit?</strong></p>
                                <img src="{{ cdn_url }}/images/direct-debit-logo.svg" alt="Direct Debit" width="120px" class="mb-4">
                                <p>It helps avoid a lot of the problems with debit/credit card payments…</p>
                                <p>…and only takes seconds to setup!</p>
                                <a id="setup-bacs-link" href="{{ path('user_payment_details_bacs') }}" class="btn btn-success">Switch to Direct Debit</a> #}
                            {% else %}
                                <a id="update-bacs-link" href="{{ path('user_payment_details_bacs') }}" class="btn btn-success">Update Direct Debit details</a>
                            {% endif %}
                        </p>
                    {% else %}
                        {% if not show_card %}
                            <p>Please <a href="mailto:support@spam.so-sure.net" class="mailto open-intercom">contact us</a>.</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {# END - IF CAN SETUP BACS #}
                {% if show_card and amount > 0 %}
                    {% if card_provider == 'judo' %}
                      {% if webpay_action and webpay_reference %}
                        <form action="{{ webpay_action }}" method="post" id="webpay-form">
                            <div class="form-group">
                                <input  id="Reference" name="Reference" type="hidden" value="{{ webpay_reference }}">
                                {% if show_bacs_setup and policy.canBacsPaymentBeMadeInTime %}
                                    {# <p class="mt-4 mb-0">Rather pay by card?</p> #}
                                    <p class="mt-4 mb-0">Pay by card</p>
                                {% endif %}
                                <input type="submit" class="{% if show_bacs_setup and policy.canBacsPaymentBeMadeInTime %}btn-simple-link{% else %}btn btn-success{% endif %}" value="{{ judo_btn_text }}">
                            </div>
                        </form>
                      {% endif %}
                    {% else %}
                        <form class="payment-form" method="POST"
                              data-public-key="{{ checkoutApiKey(policy) }}"
                              data-customer-email="{{ app.user.email }}"
                              data-value="{{ convert_to_pennies(amount) }}"
                              data-url="{{ url('purchase_checkout_unpaid', {'id': policy.id, 'pennies': convert_to_pennies(amount) }) }}"
                              data-csrf="{{ csrf_token('checkout') }}"
                              data-currency="GBP"
                              data-payment-mode="cards"
                              data-card-form-mode="cardTokenisation"
                              data-debug-mode="{% if environment != 'prod' %}true{% else %}false{% endif %}"
                              data-title="Pay outstanding balance"
                              data-subtitle="Please enter your card details now">
                            <div class="form-group">
                                <input type="submit" class="btn btn-success btn-card-pay" value="Pay now">
                            </div>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>

    {# Components #}
    {% include 'AppBundle::Components/_loadingScreen.html.twig' with { 'loading_term': 'Processing...' } %}

    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}
    {% if environment == 'prod' %}
        <script src="https://cdn.checkout.com/js/checkout.js"></script>
    {% else %}
        <script src="https://cdn.checkout.com/sandbox/js/checkout.js"></script>
    {% endif %}
    <script src="{{ asset('css-js/user-unpaid.js') }}"></script>
{% endblock %}
