    <section class="user-homepage--header">
        <div class="container">
            <div class="col-md-12">
                <div class="user-homepage--header-inner">
                    <img src="{{ app.user.getImageUrlFallback }}" alt="{{ app.user.firstname }}" class="img-circle user-img">
                    <h2 class="text-light-blue">Welcome back, {{ app.user.firstname }}!</h2>
                    {# TODO: put policy in session #}
                    {% if policy is defined and policy %}
                        {% if policy.user.getValidPolicies(true) | length == 1 %}
                        <div class="h3 text-white">{{ policy.phone }}</div>
                        <div class="h5 text-light-blue">IMEI: <strong>{{ policy.imei }}</strong></div>
                        {% else %}
                        <div class="dropdown policy-dropdown-list">
                            <a href="#"
                               class="dropdown-toggle h3 text-white"
                               type="button"
                               id="policyDropdownList"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="true"
                               title="Switch policy">
                                <span class="text-nowrap">{{ policy.phone }} <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                            </a>
                            <div class="h5 text-light-blue">IMEI: <strong>{{ policy.imei }}</strong></div>
                            <ul class="dropdown-menu policy-dropdown" aria-labelledby="policyDropdownList">
                                <li class="dropdown-header">My policies</li>
                                {% for policyItem in policy.user.getValidPolicies(true) %}
                                    <li>
                                        <a href="{{ path('user_policy', {'policyId': policyItem.id}) }}">
                                            {{ policyItem.defaultName }} ({{ policyItem.policyNumber }})
                                        </a>
                                    </li>
                                {% endfor %}
                                {# <li role="separator" class="divider"></li> #}
                                {# <li><a href="">Add another policy?</a></li> #}
                            </ul>
                        </div>
                        {% endif %}
                        <h5 class="text-light-blue">
                            Policy:
                            {% if policy.status == 'expired' or policy.status == 'expired-claimable' %}<del>{% endif %}
                             <strong>{{ policy.policyNumber }}</strong> ({{ policy.start|date('dS M Y') }} - {{ policy.end|date('dS M Y') }})</h5>
                            {% if policy.status == 'expired' or policy.status == 'expired-claimable' %}</del>{% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="user-homepage--nav">
        <div class="container">
            <nav id="user-homepage--nav">
                <ul class="nav nav-pills scroll">
                    <li role="presentation" class="{% if app.request.get('_route') == 'user_home' or app.request.get('_route')  == 'user_policy' %}active{% endif %}">
                        {% if policy is defined and policy %}
                            <a href="{{ path('user_policy', {'policyId': policy.id}) }}">Home</a>
                        {% else %}
                            <a href="{{ path('user_home') }}">Home</a>
                        {% endif %}
                    </li>
                    {% if (policy is defined and policy) or app.user.getLatestPolicy %}
                    <li role="presentation" class="{% if app.request.get('_route') == 'user_contact_details' or app.request.get('_route') == 'user_contact_details_policy'  %}active{% endif %}">
                        {% if policy is defined and policy %}
                            <a href="{{ path('user_contact_details_policy', {'policyId': policy.id}) }}">Contact Details</a>
                        {% elseif app.user.getLatestPolicy %}
                            <a href="{{ path('user_contact_details') }}">Contact Details</a>
                        {% endif %}
                    </li>
                    {% endif %}
                    {% if (policy is defined and policy) or app.user.getLatestPolicy %}
                    <li role="presentation" class="{% if app.request.get('_route') == 'user_payment_details' or app.request.get('_route') == 'user_payment_details_policy' %}active{% endif %}">
                        {% if policy is defined and policy %}
                            <a href="{{ path('user_payment_details_policy', {'policyId': policy.id}) }}">Payment Details</a>
                        {% elseif app.user.getLatestPolicy %}
                            <a href="{{ path('user_payment_details') }}">Payment Details</a>
                        {% endif %}
                    </a></li>
                    {% endif %}
                    <li role="presentation" class="{% if app.request.get('_route') == 'user_policy_list' or app.request.get('_route') == 'user_policy_list_policy' %}active{% endif %}">
                        {% if policy is defined and policy %}
                            <a href="{{ path('user_policy_list_policy', {'policyId': policy.id}) }}">My Policies</a>
                        {% else %}
                            <a href="{{ path('user_policy_list') }}">My Policies</a>
                        {% endif %}
                    </a></li>
                    {% if policy is defined and policy %}
                        {% if policy.displayRenewal %}
                            <li id="user-homepage--nav-renew" role="presentation" class="{% if app.request.get('_route') == 'user_renew_policy' or app.request.get('_route') == 'user_renew_policy_any' or app.request.get('_route') == 'user_renew_custom_policy' %}active{% endif %}"><a href="{{ path('user_renew_policy', {'id': policy.id }) }}">Renew your policy</a></li>
                        {% endif %}
                    {% endif %}
                    <li role="presentation">
                        {% if policy is defined and policy %}
                            <a href="{{ path('claimed_policy', {'policyId': policy.id}) }}">Make a claim</a>
                        {% else %}
                            <a href="{{ path('claim_policy') }}">Make a claim</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </section>
