    <section class="user-homepage--header">
        <div class="container">
            <div class="col-md-12">
                <div class="user-homepage--header-inner">
                    <img src="{{ app.user.getImageUrlFallback }}" alt="{{ app.user.firstname }}" class="img-circle user-img">
                    <h2>Welcome back, {{ app.user.firstname }}!</h2>
                    {# TODO: put policy in session #}
                    {% if policy is defined %}
                        <div class="clearfix">
                            <h3 class="text-blue">
                                {{ policy.phone }}
                                <div class="btn-group switch-policy">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Switch policy <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu">
                                    {% for policyItem in policy.user.getPolicies %}
                                        <li>
                                            <a href="{{ path('user_policy', {'id': policyItem.id}) }}">
                                                Phone name
                                            </a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </h3>
                            <h5>Policy: <strong>{{ policy.policyNumber }}</strong> ({{ policy.start|date('dS M Y') }} - {{ policy.end|date('dS M Y') }})</h5>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="user-homepage--nav">
        <div class="container">
            <nav id="user-homepage--nav">
                <ul class="nav nav-pills scroll">
                    <li role="presentation" class="{% if app.request.get('_route') == 'user_home' %}active{% endif %}"><a href="{{ path('user_home') }}">Home</a></li>
                    {# <li role="presentation"><a href="#">Personal Info</a></li> #}
                    <li role="presentation" class="{% if app.request.get('_route') == 'user_card_details' %}active{% endif %}"><a href="{{ path('user_card_details') }}">Payment Details</a></li>
                </ul>
            </nav>
        </div>
    </section>
