    <section class="user-homepage--header">
        <div class="container">
            <div class="col-md-12">
                <img src="{{ app.user.getImageUrlFallback }}" alt="{{ app.user.firstname }}" class="img-circle user-img">
                <h2 class="text-white">Welcome back, {{ app.user.firstname }}!</h2>
                {# TODO: put policy in session #}
                {% if policy is defined %}
                <h3 class="text-light-blue">{{ policy.phone }}</h3>
                <h5 class="text-light-blue">Policy: {{ policy.policyNumber }} ({{ policy.start|date('dS M Y') }} - {{ policy.end|date('dS M Y') }})</h5>
                {% endif %}
                {# <span class="text-white"><em>Policy:</em> {{ policy.policyNumber }} ({{ policy.start|date('d M Y') }} - {{ policy.end|date('d M Y') }})</span> #}
                {# <br /><span class="text-white"><em>Phone:</em> {{ policy.phone }}</span> #}
            </div>
        </div>
    </section>

    <section class="user-homepage--nav">
        <div class="container">
            <nav id="user-homepage--nav">
                <ul class="nav nav-pills scroll">
                    <li role="presentation" class="{% if app.request.get('_route') == 'user_home' %}active{% endif %}"><a href="{{ path('user_home') }}">Home</a></li>
                    {# <li role="presentation"><a href="#">Personal Info</a></li> #}
                    <li role="presentation" class="{% if app.request.get('_route') == 'user_card_details' %}active{% endif %}"><a href="{{ path('user_card_details') }}">Payment Details</a></li>
                </ul>
            </nav>
        </div>
    </section>
