{% extends 'base.html.twig' %}

{% set white_logo = true %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/vimeo-player-js/player.min.js'
    '@AppBundle/Resources/public/js/Default/index.js'
    '@AppBundle/Resources/public/js/Default/modalVideo.js'  %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/user.scss'%}
    <link rel="stylesheet" href="{{ asset_url }}"> {% endstylesheets %}
{% endblock %}


{% block gtm_data %}
    ,
    'policy': {
        'id': '{{ policy.id }}'
    },
    'affilinet': {
        'rate': {% if policy.getPremiumPlan == 'monthly'%}1{% elseif policy.getPremiumPlan == 'yearly' %}2{% else %}-1{% endif %},
        'gwp': {% if policy.getPremiumPlan == 'monthly'%}{{ policy.premium.gwp }}{% elseif policy.getPremiumPlan == 'yearly' %}{{ policy.premium.yearlyGwp }}{% else %}0{% endif %}
    }
{% endblock %}

{% block body %}

    <section class="user-welcome--info">
        <div class="container">
            <h1 class="text-center text-white">Welcome to so-sure {{ policy.user.firstname }}</h1>
            <p class="lead text-center text-white">You'll receive a confirmation email with full details of your policy shortly, but here's a summary:</p>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="box-border-grey">
                        <h3>Cover</h3>
                        <ul class="list-unstyled lead">
                            <li>Your <strong>{{ policy.phone.make }} {{ policy.phone.model }} ({{ policy.phone.memory }}GB)</strong> is now insured!</li>
                            <li>Your policy number is <strong>{{ policy.policyNumber }}</strong></li>
                            <li>Your phone is now protected against Theft, Loss, Accidental Damage and Breakdown 😄</li>
                        </ul>
                        <ul class="list-inline text-center">
                            <li><a data-toggle="modal" data-target="#policy-modal" class="btn btn-primary ">Policy Details</a></li>
                            <li><a href="{{ path('user_home') }}" class="btn btn-primary ">Go to my account</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="box-border-grey">
                        <h3>Cost</h3>
                        <ul class="list-inline">
                            <li>
                                You have chosen to pay
                                &pound;{% if policy.getPremiumPlan == 'monthly'%}{{ policy.premium.monthlyPremiumPrice|number_format(2, '.', ',') }} per month
                                {% elseif policy.getPremiumPlan == 'yearly' %}{{ policy.premium.yearlyPremiumPrice|number_format(2, '.', ',') }} for your policy
                                {% else %}Unknown{% endif %}
                                and your policy is in effect from {{ policy.start|date('jS F Y') }} until {{ policy.end|date('jS F Y') }}.
                            </li>
                            {% if policy.user.paymentMethod.cardType is defined %}
                            <li>
                                {% if policy.getPremiumPlan == 'monthly'%}
                                    Your card {{ policy.user.paymentMethod.cardType }} (ending in {{ policy.user.paymentMethod.cardLastFour }}) will be billed &pound;{{ policy.premium.monthlyPremiumPrice|number_format(2, '.', ',') }} every month on the {{ policy.billing|date('jS') }}.
                                {% elseif policy.getPremiumPlan == 'yearly' %}
                                    Your card {{ policy.user.paymentMethod.cardType }} (ending in {{ policy.user.paymentMethod.cardLastFour }}) was billed &pound;{{ policy.premium.yearlyPremiumPrice|number_format(2, '.', ',') }}.
                                {% endif %}
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="start-saving section--pad">
        <div class="row">
            <h2 class="text-center text-light-blue">Together we're better.<br/>Start Sharing&nbsp;&nbsp;<span class="fa fa-arrow-right" aria-hidden="true"></span>&nbsp;&nbsp;Start Saving</h2>
        </div>
    </section>

    <section class="user-welcome--steps">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="box-border-grey">
                        <h3>1. Download our Award Winning App</h3>
                        <p class="lead">Install the app and login to start saving money!</p>
                        {% if policy.phone.isITunes %}
                        <div class="download-btn center">
                            <a class="ga-outbound-click" data-clicklabel="iTunes" href="{{ apple_download('welcome') }}" target="_blank"><img src="{{ cdn_url }}/images/icons/badge-app-store-dark.svg" alt="Download so-sure on the App Store" />
                            </a>
                        </div>
                        {% endif %}
                        {% if policy.phone.isGooglePlay %}
                        <div class="download-btn text-center">
                            <a class="ga-outbound-click" data-clicklabel="PlayStore" href="{{ google_download('welcome') }}" target="_blank"><img src="{{ cdn_url }}/images/icons/badge-google-play-dark.svg" alt="Get so-sure on Google Play" />
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="box-border-grey">
                        <h3 class="text-center">2. Sign up friends &amp; connect</h3>
                        <p class="lead text-center">Get up to 80% cashback <br>Watch our video below to learn more. 📺👀</p>
                        <div class="explainer-video-thumb">
                            <a class="explainer-video-view-thumb" data-toggle="modal" data-target="#modal-fullscreen">
                                <img src="{{ cdn_url }}/images/home/explainer-video/explainer-video-frame-2.png" class="img-responsive">
                            </a>
                        </div>
                        <p class="text-center">
                        <a href="{{ path('user_home') }}" class="btn btn-primary ">3. Go to my account to get started</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal modal-fullscreen fade"
         id="policy-modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="So-Sure Policy Terms"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3>So-Sure Policy Terms</h3>
                </div>
                <div class="modal-body modal-policy">
                    {{ render(controller('AppBundle:ApiView:policyTerms', {'id': policy.id, 'policy_key': policy_key, 'maxPotValue':  policy.maxPot, 'include': true })) }}
                </div>
            </div>
        </div>
    </div>

    {# Page Modals #}

    {% include 'AppBundle::Default/modalVideo.html.twig' %}

{% endblock %}
