{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}

{% block title %}so-sure - learn more{% endblock %}
{% block meta %}
    <meta name="description" content="For a small monthly fee your phone is covered for theft, loss, accidental damage and unauthorised usage."/>
    <meta name="keywords" content="mobile insurance, phone insurance, mobile phone insurance, cheap mobile phone insurance, cheap phone insurance, cheap mobile insurance, better phone insurance, better mobile phone insurance"/>
    {# TODO #}
    {# <link rel="canonical" href="{{ url('quote_make_model', {'make': phone.make, 'model': phone.encodedModel}) }}" /> #}

    <meta property="og:video" content="https://cdn.so-sure.com/video/explainer-subtitle-640.mp4" />
    <meta property="og:video:secure_url" content="https://cdn.so-sure.com/video/explainer-subtitle-640.mp4" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="640" />
    <meta property="og:video:height" content="360" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle//Resources/public/sass/page/userWelcome.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="section--pad user-welcome--intro">
        <div class="container">
            <h1 class="text-white text-center">Welcome to so-sure, {{ policy.user.firstname }}</h1>
            <p class="lead text-white text-center">You'll receive a confirmation email with full details of your policy shortly, but here's a summary:</p>
            <div class="policy-roundup">
                <div class="policy-roundup--inner">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <img src="{{ cdn_url }}/images/library_phones/so-sure_phone-placeholder.png" alt="{{ policy.phone.make }} - {{ policy.phone.model }}">
                        </div>
                        <div class="col-sm-8">
                            <ul class="list-unstyled">
                                <li class="h4 h-light">Your <strong>{{ policy.phone.make }} {{ policy.phone.model }}</strong> in now insured!</li>
                                <li class="h4 h-light">Your policy number is <strong>{{ policy.policyNumber }}</strong></li>
                                <li class="h4 h-light">Your phone is now protected against: <br> <strong>Theft</strong>, <strong>Loss</strong>, <strong>Accidental Damage</strong> and <strong>Breakdown</strong>.</li>
                                {# <li class="h4 text-red">Is your phone already damaged? <a href="#">Click here</a></li> #}
                            </ul>
                        </div>
                    </div>
                    <h4 class="text-center h-light">Here’s a few links to help you get started:</h4>
                    <div class="row text-center">
                        <div class="col-sm-4">
                            <a data-toggle="modal" data-target="#policy-modal" class="btn btn-blue btn-block btn-pad">Policy details</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="{{ path('user_home') }}" class="btn btn-blue btn-block btn-pad">Account page</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#"
                               class="btn btn-green btn-block btn-pad scroll-to"
                               data-scroll-to-anchor="#how-to-get-cashback">
                               How to get cashback</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="how-to-get-cashback" class="section--pad section--arrow user-welcome--how-to-get-cashback">
        <div class="container">
            {% include 'AppBundle::Default/_howToGetCashback.html.twig' %}
        </div>
    </section>

    <section class="section--pad section--arrow user-welcome--slider">
        <div class="container">
            Reward slider
            {# TODO #}
            {# {% include 'AppBundle::Default/_rewardSlider.html.twig' %} #}
        </div>
    </section>

    <section class="section--pad section--arrow section--arrow__off-white user-welcome--effective-monthly-premium">
        <div class="container">
            {% include 'AppBundle::Default/_effectiveMonthlyPremium.html.twig' %}
        </div>
    </section>

    <section class="section--pad user-welcome--video">
        <div class="container">
            {% include 'AppBundle::Default/_explainerVideo.html.twig' %}
        </div>
    </section>

    <section class="section--pad user-welcome--download">
        <div class="container">
            {% include 'AppBundle::Default/_appDownload.html.twig' %}
        </div>
    </section>

    {# Page Modals #}
    {# {% include 'AppBundle::Default/modalQuote.html.twig' with {'selectPhoneMakeType': 'learn-more', 'phoneId': phone.id} %} #}
    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/typeahead.js/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    'components/rangeslider.js/rangeslider.min.js'
    '@AppBundle/Resources/public/js/Default/index.js'
    '@AppBundle/Resources/public/js/Default/animations.js'
    '@AppBundle/Resources/public/js/Default/sliderNew.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
