{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}

{% block title %}so-sure - learn more{% endblock %}
{% block meta %}
    <meta property="og:video" content="{{ cdn_url }}/video/explainer-subtitle-640.mp4" />
    <meta property="og:video:secure_url" content="{{ cdn_url }}/video/explainer-subtitle-640.mp4" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="640" />
    <meta property="og:video:height" content="360" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle//Resources/public/sass/page/userWelcome.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block gtm_data %}
    ,
    'policy': {
        'id': '{{ policy.id }}'
    },
    'affilinet': {
        'rate': {% if policy.getPremiumPlan == 'monthly'%}1{% elseif policy.getPremiumPlan == 'yearly' %}2{% else %}-1{% endif %},
        'gwp': {% if policy.getPremiumPlan == 'monthly'%}{{ policy.premium.gwp }}{% elseif policy.getPremiumPlan == 'yearly' %}{{ policy.premium.yearlyGwp }}{% else %}0{% endif %}
    },
    {% if has_visited_welcome_page is defined and has_visited_welcome_page == false %}
        'transactionId': '{{ policy.policyNumber }}',
        'transactionTotal': {% if policy.getPremiumPlan == 'monthly'%}{{ policy.premium.gwp }}{% elseif policy.getPremiumPlan == 'yearly' %}{{ policy.premium.yearlyGwp }}{% endif %},
        'transactionProducts': [{
            'name': '{{ policy.phone.name }}',
            'sku':  '{{ policy.phone.make }}-{{ policy.phone.model }}',
            'category': '{{ policy.phone.make }}',
            'price': {% if policy.getPremiumPlan == 'monthly'%}{{ policy.premium.gwp }}{% elseif policy.getPremiumPlan == 'yearly' %}{{ policy.premium.yearlyGwp }}{% endif %}
        }]
    {% endif %}
{% endblock %}

{% block body %}

    <section class="section--pad user-welcome--intro">
        <div class="container">
            <h1 class="text-white text-center">Welcome to so-sure, {{ policy.user.firstname }}</h1>
            <p class="lead text-white text-center">Your <strong>{{ policy.phone.make }} {{ policy.phone.model }}</strong> is now protected against Theft, Loss, Accidental Damage and Breakdown. You'll receive a confirmation email with full details of your policy shortly, but here's a summary:</p>
            <div class="policy-roundup">
                <div class="policy-roundup--inner">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <img src="{{ cdn_url }}/images/library_phones/so-sure_phone-placeholder.png" alt="{{ policy.phone.make }} - {{ policy.phone.model }}">
                        </div>
                        <div class="col-sm-8">
                            <ul class="list-unstyled">
                                <li class="h4 h-light">
                                    Phone:<br>
                                    <strong>{{ policy.phone.make }} {{ policy.phone.model }} {{ policy.phone.memory }}GB</strong>
                                </li>
                                <li class="h4 h-light">
                                    Policy number:<br>
                                    <strong>{{ policy.policyNumber }}</strong>
                                </li>
                                <li class="h4 h-light">
                                    Cost:<br>
                                    {% if policy.getPremiumPlan == 'monthly'%}
                                        <strong>&pound;{{ policy.premium.monthlyPremiumPrice(app.user.additionalPremium)|number_format(2, '.', ',') }}</strong> per month
                                    {% elseif policy.getPremiumPlan == 'yearly' %}
                                        <strong>&pound;{{ policy.premium.yearlyPremiumPrice(app.user.additionalPremium)|number_format(2, '.', ',') }}</strong> a year
                                    {% else %}
                                        Unknown
                                    {% endif %}
                                </li>
                                <li class="h4 h-light">
                                    Start/End Date:<br>
                                    <strong>{{ policy.start|date('jS F Y', 'Europe/London') }}</strong> - <strong>{{ policy.end|date('jS F Y', 'Europe/London') }}</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {# <h4 class="text-center h-light">Here’s a few links to help you get started:</h4> #}
                    <div class="policy-roundup--share">
                        <h2 class="text-blue">Sharing is... rewarding</h2>
                        <p class="lead">Get &pound;{{ policy.connectionValue }} in your Reward Pot for every friend you connect with. <a href="#" class="scroll-to text-nowrap" data-scroll-to-anchor="#how-to-get-cashback">See how it works</a>.</p>
                        <label for="scode" class="sr-only">Share this link:</label>
                        <div class="input-group">
                            <input name="scode" id="scode" readonly="readonly" type="text" class="form-control" value="{{ policy.standardSCode.shareLink }}">
                            <span class="input-group-btn">
                                <button class="btn btn-blue btn-pad btn-copy sosure-track"
                                        data-clipboard-target="#scode"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        data-event="user-welcome-copy-scode"
                                        >Copy</button>
                            </span>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-4">
                            <a data-toggle="modal"
                               data-target="#policy-modal" class="btn btn-blue-hollow btn-block btn-pad">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i> Policy details</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="{{ path('user_policy', {'policyId': policy.id }) }}" class="btn btn-blue-hollow btn-block btn-pad"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Account page</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#"
                               class="btn btn-blue-hollow btn-block btn-pad scroll-to"
                               data-scroll-to-anchor="#how-to-get-cashback">How do I get cashback?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section--pad user-welcome--pic-sure section--arrow section--arrow__lightest-blue">
        <div class="container">
            <h3>Download our handy app - reduce your excess!</h3>
            <p>Validate your phone using our pic-sure technology, this not only helps us recognise your phone is in good working order and not already damaged but <mark class="background-white text-uppercase">reduces your excess by half!</mark> <br>Help us stamp out fraud, reduce claims times and reduce costs to give that saving back to you.</p>
            <table class="table hidden-xs">
                <thead>
                    <tr>
                        <td width="50%" class="h3 contrast">Excess <u>without</u> pic-sure</td>
                        <td width="50%" class="h3 sosure">Excess <u>with</u> pic-sure</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="contrast" align="middle" valign="middle">
                            <span class="text-blue h1">£150</span><br>
                            FOR THEFT/LOSS/ACCIDENTAL DAMAGE/BREAKDOWN
                        </td>
                        <td class="sosure" align="middle" valign="middle">
                            <span class="text-blue h1">£50</span><br>
                            FOR ACCIDENTAL DAMAGE/BREAKDOWN <br><br>
                            <span class="text-blue h1">£70</span><br>
                            FOR THEFT/LOSS
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table visible-xs">
                <thead>
                    <tr>
                        <td width="100%" class="h3 contrast">Excess <u>without</u> pic-sure</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="contrast" align="middle" valign="middle">
                            <span class="text-blue h1">£150</span><br>
                            FOR THEFT/LOSS/ACCIDENTAL DAMAGE/BREAKDOWN
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table visible-xs">
                <thead>
                    <tr>
                        <td width="100%" class="h3 sosure">Excess <u>with</u> pic-sure</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="sosure" align="middle" valign="middle">
                            <span class="text-blue h1">£50</span><br>
                            FOR ACCIDENTAL DAMAGE/BREAKDOWN <br><br>
                            <span class="text-blue h1">£70</span><br>
                            FOR THEFT/LOSS
                        </td>
                    </tr>
                </tbody>
            </table>
            {% if policy.phone.googlePlay or policy.phone.iTunes %}
                <div class="app-link">
                    {% if policy.phone.iTunes %}
                        <a class="ga-outbound-click"
                           data-clicklabel="iTunes"
                           href="{{ apple_download('user-welcome') }}"
                           target="_blank"><img src="{{ cdn_url }}/images/user/app_download_welcome_apple.png" alt="Available at the AppleStore" class="img-responsive">
                        </a>
                    {% endif %}
                    {% if policy.phone.googlePlay %}
                        <a class="ga-outbound-click"
                           data-clicklabel="PlayStore"
                           href="{{ google_download('user-welcome') }}"
                           target="_blank"><img src="{{ cdn_url }}/images/user/app_download_welcome_android.png" alt="Get it on Google Play" class="img-responsive">
                       </a>
                    {% endif %}
                </div>
                <p>You can also add additional phones, invite and connect or get in touch when you need us most.</p>
            {% else %}
                <div class="app-link">
                    <img src="{{ cdn_url }}/images/user/app_download_welcome_other_os_2x.png" alt="Other OS" class="img-responsive">
                    <p class="non-iosandroid">For non-iOS or Android phones, please <a href="#" class="open-intercom">click here</a> to chat to us for further instructions on how to validate your phone.</p>
                </div>
            {% endif %}
        </div>
    </section>

    <section id="how-to-get-cashback" class="section--pad section--arrow user-welcome--how-to-get-cashback">
        <div class="container">
            {% include 'AppBundle::Default/_howToGetCashback.html.twig' %}
        </div>
    </section>

    <section class="section--pad section--arrow user-welcome--slider">
        <div class="container">
            {# Set vars for slider #}
            {% set max_connections = policy.maxConnections %}
            {% set connection_value = policy.ConnectionValue %}
            {% set max_pot = policy.MaxPot %}
            {% set annual_premium = policy.premium.yearlyPremiumPrice(app.user.additionalPremium) %}
            {# Include reward slider hide title #}
            {% include 'AppBundle::Default/_rewardSlider.html.twig' with { show_title: false} %}
        </div>
    </section>

    <section class="section--pad section--arrow section--arrow__off-white user-welcome--effective-monthly-premium">
        <div class="container">
            {% include 'AppBundle::Default/_effectiveMonthlyPremium.html.twig' %}
        </div>
    </section>

    <section class="section--pad user-welcome--video">
        <div class="container">
            {% include 'AppBundle::Default/_explainerVideo.html.twig' %}
        </div>
    </section>

    {# Page Modals #}
    <div class="modal modal-new fade"
         id="policy-modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="So-Sure Policy Terms"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3>So-Sure Policy Terms</h3>
                </div>
                <div class="modal-body modal-policy">
                    {{ render(controller('AppBundle:ApiView:policyTerms', {'id': policy.id, 'policy_key': policy_key, 'maxPotValue':  policy.maxPot, 'include': true })) }}
                </div>
            </div>
        </div>
    </div>

    {% if user_modal_welcome is defined and user_modal_welcome == 'welcome-modal' %}
        <div class="modal modal-new fade"
             id="welcome-modal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="welcome-modal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="h2 text-blue text-center">You’ve made a great choice</h3>
                    </div>
                    <div class="modal-body">
                        <p class="lead text-center">Just to make you feel even better about your policy, here's some feel-good info:</p>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{ cdn_url }}/images/user/welcome_modal_my_bank_.svg" class="img-center">
                                <div class="h4 text-center">Banks</div>
                                <p>Often you're not covered immediately or for loss/theft (with us you are). Banks can take 7-14 days to get you back on your feet. Can you live without your phone for that long?</p>
                            </div>
                            <div class="col-md-4">
                                <img src="{{ cdn_url }}/images/user/welcome_modal_home_insurance_.svg" class="img-center">
                                <div class="h4 text-center">Home insurance</div>
                                <p>Unlikely to get you up and running with a replacement phone the next working day (unlike us). Plus home insurance usually has high excess of £200 or more (with us its as low as £50) and might well increase your excess next year if you make a claim, ouch, we won't.</p>
                            </div>
                            <div class="col-md-4">
                                <img src="{{ cdn_url }}/images/user/welcome_modal_cheap_insurance_.svg" class="img-center">
                                <div class="h4 text-center">Cheap Insurance</div>
                                <p>Yes, we may be slightly more expensive than some of the independent insurers out there, but our claims process is super simple, hassle free and we only decline 3% of claims.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <a href="#" class="btn btn-blue btn-block btn-pad btn-big-text" data-dismiss="modal">Right choice, indeed!</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <p><small>Plus we're upfront and honest and don't hide behind small print, that's why our customer satisfaction rates are better than Apples (so-sure's NPS is 73, apples is 72 - how good is that?).</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/dot/doT.min.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    'components/clipboard/clipboard.min.js'
    'components/rangeslider.js/rangeslider.min.js'
    '@AppBundle/Resources/public/js/Default/animations.js'
    '@AppBundle/Resources/public/js/Default/sliderNew.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeSearch.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeDropdown.js'
    '@AppBundle/Resources/public/js/User/welcome.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
