{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}

{% block title %}so-sure - learn more{% endblock %}
{% block meta %}
    <meta property="og:video" content="{{ cdn_url }}/video/explainer-subtitle-640.mp4" />
    <meta property="og:video:secure_url" content="{{ cdn_url }}/video/explainer-subtitle-640.mp4" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="640" />
    <meta property="og:video:height" content="360" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle//Resources/public/sass/page/userWelcome.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block gtm_data %}
    ,
    'policy': {
        'id': '{{ policy.id }}'
    },
    'affilinet': {
        'rate': {% if policy.getPremiumPlan == 'monthly'%}1{% elseif policy.getPremiumPlan == 'yearly' %}2{% else %}-1{% endif %},
        'gwp': {% if policy.getPremiumPlan == 'monthly'%}{{ policy.premium.gwp }}{% elseif policy.getPremiumPlan == 'yearly' %}{{ policy.premium.yearlyGwp }}{% else %}0{% endif %}
    }
{% endblock %}

{% block body %}

    <section class="section--pad user-welcome--intro">
        <div class="container">
            <h1 class="text-white text-center">Welcome to so-sure, {{ policy.user.firstname }}</h1>
            <p class="lead text-white text-center">Your <strong>{{ policy.phone.make }} {{ policy.phone.model }}</strong> is now protected against Theft, Loss, Accidental Damage and Breakdown. You'll receive a confirmation email with full details of your policy shortly, but here's a summary:</p>
            <div class="policy-roundup">
                <div class="policy-roundup--inner">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <img src="{{ cdn_url }}/images/library_phones/so-sure_phone-placeholder.png" alt="{{ policy.phone.make }} - {{ policy.phone.model }}">
                        </div>
                        <div class="col-sm-8">
                            <ul class="list-unstyled">
                                <li class="h4 h-light">
                                    Phone:<br>
                                    <strong>{{ policy.phone.make }} {{ policy.phone.model }} {{ policy.phone.memory }}GB</strong>
                                </li>
                                <li class="h4 h-light">
                                    Policy number:<br>
                                    <strong>{{ policy.policyNumber }}</strong>
                                </li>
                                <li class="h4 h-light">
                                    Cost:<br>
                                    {% if policy.getPremiumPlan == 'monthly'%}
                                        <strong>&pound;{{ policy.premium.monthlyPremiumPrice(app.user.additionalPremium)|number_format(2, '.', ',') }}</strong> per month
                                    {% elseif policy.getPremiumPlan == 'yearly' %}
                                        <strong>&pound;{{ policy.premium.yearlyPremiumPrice(app.user.additionalPremium)|number_format(2, '.', ',') }}</strong> a year
                                    {% else %}
                                        Unknown
                                    {% endif %}
                                </li>
                                <li class="h4 h-light">
                                    Start/End Date:<br>
                                    <strong>{{ policy.start|date('jS F Y', 'Europe/London') }}</strong> - <strong>{{ policy.end|date('jS F Y', 'Europe/London') }}</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h4 class="text-center h-light">Here’s a few links to help you get started:</h4>
                    <div class="row text-center">
                        <div class="col-sm-4">
                            <a data-toggle="modal"
                               data-target="#policy-modal" class="btn btn-blue-hollow btn-block btn-pad">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i> Policy details</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="{{ path('user_policy', {'policyId': policy.id }) }}" class="btn btn-blue-hollow btn-block btn-pad"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Account page</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#"
                               class="btn btn-blue-hollow btn-block btn-pad scroll-to"
                               data-scroll-to-anchor="#how-to-get-cashback">How do I get cashback?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="how-to-get-cashback" class="section--pad section--arrow user-welcome--how-to-get-cashback">
        <div class="container">
            {% include 'AppBundle::Default/_howToGetCashback.html.twig' %}
        </div>
    </section>

    <section class="section--pad section--arrow user-welcome--slider">
        <div class="container">
            {# Set vars for slider #}
            {% set max_connections = policy.maxConnections %}
            {% set connection_value = policy.ConnectionValue %}
            {% set max_pot = policy.MaxPot %}
            {% set annual_premium = policy.premium.yearlyPremiumPrice(app.user.additionalPremium) %}
            {# Include reward slider hide title #}
            {% include 'AppBundle::Default/_rewardSlider.html.twig' with { show_title: false} %}
        </div>
    </section>

    <section class="section--pad section--arrow section--arrow__off-white user-welcome--effective-monthly-premium">
        <div class="container">
            {% include 'AppBundle::Default/_effectiveMonthlyPremium.html.twig' %}
        </div>
    </section>

    <section class="section--pad user-welcome--video">
        <div class="container">
            {% include 'AppBundle::Default/_explainerVideo.html.twig' %}
        </div>
    </section>

    <section class="section--pad user-welcome--download">
        <div class="container">
            {% include 'AppBundle::Default/_appDownload.html.twig' with { 'phone': policy.phone, 'location': 'user-welcome' } %}
        </div>
    </section>

    {# Page Modals #}
    <div class="modal modal-fullscreen fade"
         id="policy-modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="So-Sure Policy Terms"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3>So-Sure Policy Terms</h3>
                </div>
                <div class="modal-body modal-policy">
                    {{ render(controller('AppBundle:ApiView:policyTerms', {'id': policy.id, 'policy_key': policy_key, 'maxPotValue':  policy.maxPot, 'include': true })) }}
                </div>
            </div>
        </div>
    </div>
    {# End Page Modals #}

    <!-- Offer Conversion: So Sure [UK] -->
    <img src="https://t.wowtrk.com/SL9e7" width="1" height="1" />
    <!-- // End Offer Conversion -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/dot/doT.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    'components/rangeslider.js/rangeslider.min.js'
    '@AppBundle/Resources/public/js/Default/index.js'
    '@AppBundle/Resources/public/js/Default/animations.js'
    '@AppBundle/Resources/public/js/Default/sliderNew.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
