{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'quote' %}
{% set quote_mode = 1 %}

{% block title %}Welcome to Social Insurance{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/welcome.css') }}">
{% endblock %}

{% block body %}

    <section class="welcome">
        <div class="d-lg-flex">

            <div class="welcome__details__container">
                <div class="welcome__details px-4 pb-4 px-lg-5 pb-lg-0">
                    <h1 class="text-white mb-4">
                        {{ policy.user.firstname }}, <span class="sub">welcome to so-sure!</span>
                    </h1>
                    <p class="text-white mb-4">Your {{ policy.phone.make }} {{ policy.phone.model }} is now protected against Theft, Loss, Accidental Damage and breakdown. You’ll receive your policy shortly via email.</p>
                </div>
            </div>

            {# TODO: Curve #}

            <div class="welcome__cover__container p-4 py-lg-5">
                <div class="welcome__cover">
                    COVER
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/welcome.js') }}"></script>
{% endblock %}
