{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'welcome' %}
{% set quote_mode = 1 %}
{% set include_emoji = 1 %}

{% block title %}Welcome to Social Insurance{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/welcome.css') }}">
{% endblock %}

{% block body %}

    <section class="qpw">
        <div class="d-flex flex-column flex-lg-row">

            {# Main Content #}
            <div class="qpw__main__container order-3 order-lg-1">
                <div class="qpw__main px-4 px-lg-5">
                    <h1 class="text-white mb-4">
                        {{ policy.user.firstname }}, <span class="sub">welcome to <span class="text-nowrap">so-sure!</span></span>
                    </h1>
                    <p class="text-white mb-5">Your <strong>{{ policy.phone.make }} {{ policy.phone.model }}</strong> is now protected against Theft, Loss, Accidental Damage and breakdown. You’ll receive your policy shortly via email.</p>
                </div>
            </div>

            {# Curve Desktop #}
            <div class="qpw__curve order-2">
                <svg class="d-block d-lg-none" preserveAspectRatio="xMinYMin meet" viewBox="0 0 750 117" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Artboard" fill="#FFFFFF" fill-rule="nonzero">
                            <g transform="translate(375.000000, 58.500000) scale(1, -1) translate(-375.000000, -58.500000) ">
                                <g id="Page-1">
                                    <g id="Group">
                                        <g id="---BG---">
                                            <path d="M0,40 C124,13.33333 248.66667,0 374,0 C499.33333,0 624.66667,13.33333 750,40 L750,117 L0,117 L0,40 Z" id="Rectangle"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <svg class="d-none d-lg-block" preserveAspectRatio="xMinYMin meet" viewBox="0 0 57 846" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-12.000000, 0.000000)" fill="#FFFFFF">
                            <path d="M69,0 L69,846 L68,846 C30.6666667,705 12,564 12,423 C12,282 31,141 69,0 Z" id="Rectangle-3"></path>
                        </g>
                    </g>
                </svg>
            </div>

            {# Sub Content #}
            <div class="qpw__sub__container order-1 order-lg-3">
                <div class="qpw__sub px-4 pb-4 pt-5 p-lg-5">
                    SUB
                </div>
            </div>

        </div>
    </section>

    {# Page Modals #}
    <div class="modal fade"
         id="policy_doc"
         tabindex="-1" role="dialog"
         aria-labelledby="policy_doc"
         aria-hidden="true"
         data-url="{{ url('latest_policy_terms', {'policy_key': policy_key, 'maxPotValue':  policy.maxPot, 'include': true, 'noH1': true }) }}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Your Policy Document</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div id="policy_doc_body" class="modal-body">
                    <div class="policy-content"></div>
                    <div id="policy_doc_loader" class="text-center">
                        <i class="fas fa-circle-notch fa-spin fa-2x text-primary"></i>
                        <a href="#" id="policy_doc_reload" class="btn btn-outline-primary" style="display:none;">Reload</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Pixels #}
    {% if environment == 'prod' %}
        <img src="https://pubads.g.doubleclick.net/activity;xsp=4375795;ord={{ random(999999999) }}?" width=1 height=1 border=0/>

        {% if has_visited_welcome_page is defined and has_visited_welcome_page == false %}
            <img src='https://www.tagserve.com/saleServlet?MID=357&PID=513&CRID=&ORDERID={{ policy.id }}&ORDERAMNT=10&NUMOFITEMS=1&CUR=GBP' border='0' width='1' height='1'>
        {% endif %}
    {% endif %}

{% endblock %}

{% block footer %}
    {# TODO: Fix footer #}
{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/welcome.js') }}"></script>
{% endblock %}
