{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'bundles/app/js/User/index.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block gtm_data %}
    ,
    'policy': {
        'id': '{{ policy.id }}'
    },
    'affilinet': {
        'rate': {% if policy.getPremiumPlan == 'monthly'%}1{% elseif policy.getPremiumPlan == 'yearly' %}2{% else %}-1{% endif %},
        'gwp': {% if policy.getPremiumPlan == 'monthly'%}{{ policy.premium.gwp }}{% elseif policy.getPremiumPlan == 'yearly' %}{{ policy.premium.yearlyGwp }}{% else %}0{% endif %}
    }
{% endblock %}

{% block body %}
    <div class="container user-info">
        <h1 class="text-center">Welcome to so-sure {{ policy.user.firstname }}</h1>
        <p class="text-center">You'll receive a confirmation email with full details of your policy shortly, but here's a summary:
        </p>
        <div class="col-md-6">
            <div class="small-card">
                <div class="row">
                    <h4>Cover</h4>
                    <p class="title">Your {{ policy.phone.make }} {{ policy.phone.model }} ({{ policy.phone.memory }}GB) is now insured!</p>
                    <p class="subtitle">Your phone is now protected against Theft, Loss, Accidental Damage and Breakdown.</p>
                    <p class="actions">
                        <a class="btn btn-success btn-rounded">Your Policy Schedule</a>
                        <a data-toggle="modal" data-target="#policyModal" class="btn btn-success btn-rounded">Policy Details</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="small-card">
                <div class="row">
                    <h4>Cost</h4>
                    <p class="title">
                        You have chosen to pay
                        &pound;{% if policy.getPremiumPlan == 'monthly'%}{{ policy.premium.monthlyPremiumPrice|number_format(2, '.', ',') }} per month 
                        {% elseif policy.getPremiumPlan == 'yearly' %}{{ policy.premium.yearlyPremiumPrice|number_format(2, '.', ',') }} for your policy
                        {% else %}Unknown{% endif %}
                        and your policy is in effect from {{ policy.start|date('jS F Y') }} until {{ policy.end|date('jS F Y') }}.
                    </p>
                    <p class="info text-blue">
                        {% if policy.getPremiumPlan == 'monthly'%}
                            Your card {{ policy.user.paymentMethod.cardType }} (ending in {{ policy.user.paymentMethod.cardLastFour }}) will be billed &pound;{{ policy.premium.monthlyPremiumPrice|number_format(2, '.', ',') }} every month on the {{ policy.expectedBillingDate|date('jS') }}.
                        {% elseif policy.getPremiumPlan == 'yearly' %}
                            Your card {{ policy.user.paymentMethod.cardType }} (ending in {{ policy.user.paymentMethod.cardLastFour }}) was billed &pound;{{ policy.premium.yearlyPremiumPrice|number_format(2, '.', ',') }}.
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="start-saving section--pad alt-brand-gradient">
        <div class="row">
            <h2 class="text-center">Together we're better.<br/>Start Sharing&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>&nbsp;&nbsp;Start Saving</h2>
        </div>
    </section>

    <section class="download-apps section--pad">
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center"><span class="badge">1</span> Download our Award Winning App</h3>
                <p class="lead text-center">Install the app and login to start saving money!</p>
                {% if policy.phone.isITunes %}
                <div class="download-btn center">
                    <a class="ga-outbound-click" data-clicklabel="iTunes" href="{{ apple_download('welcome') }}" target="_blank"><img src="{{ cdn_url }}/images/icons/download-badge-app-store-dark.svg" alt="Download so-sure on the App Store"></img>
                    </a>
                </div>
                {% endif %}
                {% if policy.phone.isGooglePlay %}
                <div class="download-btn center">
                    <a class="ga-outbound-click" data-clicklabel="PlayStore" href="{{ google_download('welcome') }}" target="_blank"><img src="{{ cdn_url }}/images/icons/download-badge-google-play-dark.svg" alt="Get so-sure on Google Play"></img>
                    </a>
                </div>
                {% endif %}
            </div>
             <div class="col-md-6">
                    <h3 class="text-center"><span class="badge">2</span> Sign up friends and connect for up to 80% cash back</h3>
                    <p class="lead text-center">Watch our video below to learn more. 📺👀</p>
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                        <div class="explainer-video-thumb">
                            <a class="explainer-video-view-thumb" data-toggle="modal" data-target="#modal-fullscreen">
                                <img src="{{ cdn_url }}/images/home/explainer-video/explainer-video-frame-2.png" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </section>

    <div class="modal modal-policy fade" id="policyModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Policy</h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('AppBundle:ApiView:policyLatestTerms', {'policy_key': policy_key, 'maxPotValue':  policy.maxPot })) }}
                </div>
            </div>
        </div>
    </div>

    {% include 'AppBundle::Default/modalVideo.html.twig' %}

{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets
'@AppBundle/Resources/public/css/User/index.css'
 %}
<link rel="stylesheet" href="{{ asset_url }}">
{% endstylesheets %}
{% endblock %}
