{% extends 'admin_claims_base_rebrand.html.twig' %}
{% form_theme email_form with ['AppBundle:Form:fields.html.twig', 'AppBundle:Form:inline-choice.html.twig'] %}
{% form_theme sms_form with ['AppBundle:Form:fields.html.twig', 'AppBundle:Form:inline-choice.html.twig'] %}

{# Set vars #}
{% set body_class = 'admin-opt-outs' %}

{% block title %}so-sure - Opt Outs{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
   {#  <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}"> #}
{% endblock %}

{% block body %}

    <section class="py-4 px-md-4">
        <div class="container-fluid">
            {# TODO: Heading area #}
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">Opt Outs</h1>
            </div>
            {# TODO: Controls area #}
            <div class="card card-page-filter mb-5">
                <div class="card-body">
                    <a href="#"
                       class="btn btn-primary btn-square mr-md-2"
                       data-toggle="modal"
                       data-target="#add_email_modal">
                       <i class="fal fa-envelope fa-fw"></i> Add email</a>
                    <a href="#"
                       class="btn btn-primary btn-square mr-md-2"
                       data-toggle="modal"
                       data-target="#add_sms_modal">
                       <i class="fal fa-phone fa-fw"></i> Add SMS</a>
                </div>
            </div>
            {% if optouts|length == 0 %}
                <p class="mb-5">No opt outs found</p>
            {% else %}
                <div class="table-responsive-sm mb-5">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Category</th>
                                <th>Location</th>
                                <th>Date</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for optout in optouts %}
                                <tr>
                                    <td>{% if optout.email is defined %}{{ optout.email }}{% endif %}</td>
                                    <td>{% if optout.mobile is defined %}{{ optout.mobile }}{% endif %}</td>
                                    <td>{{ optout.categories|json_encode }}</td>
                                    <td>{{ optout.location }}</td>
                                    <td>{{ optout.created|date }}</td>
                                    <td>{{ optout.notes }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </section>

    {# Page Modals #}
    <div class="modal fade"
         id="add_email_modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="add_email_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Email OptOut</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(email_form) }}
                        <div class="form-group">
                            {{ form_label(email_form.email, 'Email') }}
                            {{ form_widget(email_form.email, {'attr': {'class': 'form-control'}}) }}
                            <div class="with-errors">{{ form_errors(email_form.email) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_label(email_form.categories, 'Categories') }}
                            {{ form_widget(email_form.categories, {'attr': {'class': ''}}) }}
                            <div class="with-errors">{{ form_errors(email_form.categories) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_label(email_form.notes, 'Notes') }}
                            {{ form_widget(email_form.notes, {'attr': {'class': 'form-control'}}) }}
                            <div class="with-errors">{{ form_errors(email_form.notes) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_widget(email_form.update, {'label': 'Add', 'attr': {'class': 'btn btn-success btn-square'}}) }}
                        </div>
                    {{ form_end(email_form) }}
                </div>
            </div>
        </div>
    </div>

    {# Page Modals #}
    <div class="modal fade"
         id="add_sms_modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="add_sms_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add SMS OptOut</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(sms_form) }}
                        <div class="form-group">
                            {{ form_label(sms_form.mobile, 'Mobile') }}
                            {{ form_widget(sms_form.mobile, {'attr': {'class': 'form-control'}}) }}
                            <div class="with-errors">{{ form_errors(sms_form.mobile) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_label(sms_form.categories, 'Categories') }}
                            {{ form_widget(sms_form.categories, {'attr': {'class': ''}}) }}
                            <div class="with-errors">{{ form_errors(sms_form.categories) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_label(sms_form.notes, 'Notes') }}
                            {{ form_widget(sms_form.notes, {'attr': {'class': 'form-control'}}) }}
                            <div class="with-errors">{{ form_errors(sms_form.notes) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_widget(sms_form.update, {'label': 'Add', 'attr': {'class': 'btn btn-success btn-square'}}) }}
                        </div>
                    {{ form_end(sms_form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsPage %}
   {# <script src="{{ asset('css-js/company.js') }}"></script> #}
{% endblock %}
