{% extends 'admin_claims_base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/Admin/month.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container" style="padding-bottom: 200px;">

    <div class="row">
        <div class="col-md-6">
            <h1>Scheduled Payments {{ month }} / {{ year }}</h1>
            <h4>Total: £{{ total|number_format(2, '.', ',') }} <i class="fa fa-question-circle" title="Total of payments that are either successful or scheduled" style="cursor: pointer"></i></h4>
        </div>
    <form class="month-form form-inline" method="POST" autocomplete="off">
            <div class="col-md-4">
                <div class="form-group" style="padding-top: 15px;">
                    <div class="input-group date month" data-url="{{ path('admin_scheduled_payments') }}">
                        <input name="scheduled-payments" type='text' class="form-control" value="{{month}}-{{year}}" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-success"><i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#judo">Judo</a></li>
        <li role="presentation"><a href="#bacs">Bacs</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="judo">
            <div class="row">
                {#<h4>Total: £{{ totalJudo|number_format(2, '.', ',') }} <i class="fa fa-question-circle" title="Total of payments that are either successful or scheduled" style="cursor: pointer"></i></h4>#}
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Policy</th>
                            <th>Type</th>
                            <th>Scheduled Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Card</th>
                        </tr>
                        {% for scheduledPayment in scheduledPayments if scheduledPayment.policy.validPolicy and not scheduledPayment.policy.hasPolicyOrUserBacsPaymentMethod %}
                            {% set isExpired = false %}
                            {% if scheduledPayment.policy.user and
                                scheduledPayment.policy.getPolicyOrPayerOrUserJudoPaymentMethod and
                                scheduledPayment.policy.getPolicyOrPayerOrUserJudoPaymentMethod.isCardExpired(end) %}
                                {% set isExpired = true %}
                            {% endif %}
                            <tr class="{% if scheduledPayment.status == 'failed' %}danger{% elseif isExpired %}warning{% endif %}">
                                <td>
                                    {% if not scheduledPayment.policy.isBillablePolicy %}<del>{% endif %}
                                    <a href="{{ path('admin_policy', {'id': scheduledPayment.policy.id }) }}">
                                        {{ scheduledPayment.policy.policyNumber }}
                                    </a>
                                    {% if not scheduledPayment.policy.isBillablePolicy %}</del>{% endif %}
                                    {% if scheduledPayment.policy.status == 'unpaid' %}
                                        <i class="fa fa-warning"
                                           title="Policy is unpaid. Unless payment is made, policy will be automatically cancelled on {{ scheduledPayment.policy.getPolicyExpirationDate|date('d M Y H:i', 'Europe/London') }}"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if scheduledPayment.type == 'scheduled' %}
                                        <i class="fa fa-clock-o" title="Scheduled Payment"></i>
                                    {% elseif scheduledPayment.type == 'rescheduled' %}
                                        <i class="fa fa-refresh" title="Re-Scheduled Payment"></i>
                                    {% else %}
                                        {{ scheduledPayment.type }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if scheduledPayment.status == 'cancelled' %}
                                        <del>
                                    {% endif %}
                                    {{ scheduledPayment.scheduled | date('d M Y H:i', 'Europe/London')  }}
                                    {% if scheduledPayment.status == 'cancelled' %}
                                        </del>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if scheduledPayment.status == 'cancelled' %}
                                        <del>
                                    {% endif %}
                                    £{{ scheduledPayment.amount |number_format(2, '.', ',') }}
                                    {% if scheduledPayment.status == 'cancelled' %}
                                        </del>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ scheduledPayment.status }}
                                </td>
                                <td>
                                    {% if scheduledPayment.policy.hasPolicyOrUserPaymentMethod %}
                                        {{ scheduledPayment.policy.getPolicyOrUserPaymentMethod }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="bacs">
            <div class="row">
                {#<h4>Total: £{{ totalBacs|number_format(2, '.', ',') }} <i class="fa fa-question-circle" title="Total of payments that are either successful or scheduled" style="cursor: pointer"></i></h4>#}
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>Policy</th>
                        <th>Type</th>
                        <th>Scheduled Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Bacs</th>
                    </tr>
                    {% for scheduledPayment in scheduledPayments if scheduledPayment.policy.validPolicy and scheduledPayment.policy.hasPolicyOrUserBacsPaymentMethod %}
                        <tr class="{% if scheduledPayment.status == 'failed' %}danger{% endif %}">
                            <td>
                                {% if not scheduledPayment.policy.isBillablePolicy %}<del>{% endif %}
                                    <a href="{{ path('admin_policy', {'id': scheduledPayment.policy.id }) }}">
                                        {{ scheduledPayment.policy.policyNumber }}
                                    </a>
                                    {% if not scheduledPayment.policy.isBillablePolicy %}</del>{% endif %}
                                {% if scheduledPayment.policy.status == 'unpaid' %}
                                    <i class="fa fa-warning"
                                       title="Policy is unpaid. Unless payment is made, policy will be automatically cancelled on {{ scheduledPayment.policy.getPolicyExpirationDate|date('d M Y H:i', 'Europe/London') }}"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if scheduledPayment.type == 'scheduled' %}
                                    <i class="fa fa-clock-o" title="Scheduled Payment"></i>
                                {% elseif scheduledPayment.type == 'rescheduled' %}
                                    <i class="fa fa-refresh" title="Re-Scheduled Payment"></i>
                                {% else %}
                                    {{ scheduledPayment.type }}
                                {% endif %}
                            </td>
                            <td>
                                {% if scheduledPayment.status == 'cancelled' %}
                                <del>
                                    {% endif %}
                                    {{ scheduledPayment.scheduled | date('d M Y H:i', 'Europe/London')  }}
                                    {% if scheduledPayment.status == 'cancelled' %}
                                </del>
                                {% endif %}
                            </td>
                            <td>
                                {% if scheduledPayment.status == 'cancelled' %}
                                <del>
                                    {% endif %}
                                    £{{ scheduledPayment.amount |number_format(2, '.', ',') }}
                                    {% if scheduledPayment.status == 'cancelled' %}
                                </del>
                                {% endif %}
                            </td>
                            <td>
                                {{ scheduledPayment.status }}
                            </td>
                            <td>
                                {% if scheduledPayment.policy.hasPolicyOrUserPaymentMethod %}
                                    {{ scheduledPayment.policy.getPolicyOrUserPaymentMethod }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if scheduledPayments.count > 0 %}
        <div class="d-flex justify-content-center mb-5">
            {{ pagerfanta(pager, 'twitter_bootstrap4') }}
        </div>
    {% endif %}

</div>
{% endblock %}

{% block footer %}{% endblock %}
