{% set indent_width = "5%" %}
{% set text_width = "30%" %}
{% set amount_width = "10%" %}
{% set combined_width = "35%" %}
<h4>Underwriting for {{ data.start|date('M Y', 'Europe/London') }}</h4>
{% if not data.allowed %}
<h2 style="color: red">PRELIMINARY RESULTS - Monthly period must be over 1 year ago</h2>
{% endif %}
<table class="table table-striped" style="{% if not data.allowed %}background-color: red{% endif %}">
    <tr class="info">
        <td colspan="4">Premium</td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">Premium Recieved</td>
        <td width="{{ amount_width }}">£{{ data.premiumReceived|number_format(2, '.', ',') }}</td>
        <td></td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">Premium Outstanding</td>
        <td width="{{ amount_width }}">£{{ data.premiumOutstanding|number_format(2, '.', ',') }}</td>
        <td></td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}"><strong>Total Premium</strong></td>
        <td width="{{ amount_width }}"><strong>£{{ data.premiumTotal|number_format(2, '.', ',') }}</strong></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;</td>
    </tr>
    <tr class="info">
        <td colspan="4">Claims</td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">Cost of Claims</td>
        <td width="{{ amount_width }}">(£{{ data.claimsCost|number_format(2, '.', ',') }})</td>
        <td></td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">Claims Reserves</td>
        <td width="{{ amount_width }}">£{{ data.claimsReserves|number_format(2, '.', ',') }}</td>
        <td></td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}"><strong>Claims Total</strong></td>
        <td width="{{ amount_width }}"><strong>£{{ data.claimsTotal|number_format(2, '.', ',') }}</strong></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;</td>
    </tr>
    <tr class="info">
        <td colspan="4">Ratios</td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">Overall Loss Ratio</td>
        <td width="{{ amount_width }}">{{ data.lossRatioOverall|number_format(1, '.', ',') }}</td>
        <td></td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">Earned Loss Ration</td>
        <td width="{{ amount_width }}">{{ data.lossRatioEarned|number_format(1, '.', ',') }}</td>
        <td></td>
    </tr>
</table>
