{% extends 'admin_claims_base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'admin-affiliates' %}

{% block title %}Offers - {{ phone }}{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
   {#  <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}"> #}
{% endblock %}

{% block body %}

    <section class="py-4 px-md-4">
        <div class="container-fluid">
            {# Heading area #}
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">Offer Prices - {{ phone }}</h1>
            </div>
            <a href="{{ path('admin_phones') }}">Return to Phones</a>
            {# Controls area #}
            <div class="card card-page-filter mb-5">
                <div class="card-body">
                    <a href="#"
                       class="btn btn-primary"
                       data-toggle="modal"
                       data-target="#offer_form_modal"><i class="fal fa-plus fa-fw"></i> New Offer</a>
                </div>
            </div>
            {# Content area #}
            <h2>Active Offers</h2>
            <div class="table-responsive-sm mb-5">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Created</th>
                            <th>Pricing Stream</th>
                            <th>GWP</th>
                            <th>Excess (Damage/Theft)</th>
                            <th>Picsure Approved Excess (Damage/Theft)</th>
                            <th>Policies / Users</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for offer in phone.activeOffers %}
                            <tr>
                                <td>{{ offer.name }}</td>
                                <td>{{ offer.created|date('Y-m-d') }} by TODO: Create Name Here</td>
                                <td>{{ offer.price.stream }}</td>
                                <td>{{ offer.price.gwp }}</td>
                                <td>{{ offer.price.excess.damage }} / {{ offer.price.excess.theft }} </td>
                                <td>{{ offer.price.picsureExcess.damage }} / {{ offer.price.picsureExcess.theft }}</td>
                                <td>{{ offer.policies|length }} / {{ offer.users|length }}</td>
                                <td>
                                    <button title="View Users and Policies"
                                            type="button"
                                            class="btn btn-primary btn-sm mb-2 mr-2"
                                            data-toggle="modal"
                                            data-target="#details_modal"
                                            data-offer="{{ offer.id }}"
                                            data-source="{{ path('admin_offer_details', {'id': offer.id}) }}">
                                        <i class="far fa-microscope fa-fw"></i>
                                    </button>
                                    <button title="Add User"
                                            type="button"
                                            class="btn btn-warning btn-sm mb-2 mr-2"
                                            data-toggle="modal"
                                            data-offer="{{ offer.id }}"
                                            data-target="#user_modal">
                                        <i class="far fa-plus-square fa-fw"></i>
                                    </button>
                                    <form action="{{ path('admin_offer_able', {'id': offer.id}) }}" method="post">
                                        <input type="hidden" name="able" value="disable"/>
                                        <button title="Deactivate"
                                                type="submit"
                                                class="btn btn-danger btn-sm mb-2 mr-2">
                                            <i class="far fa-power-off fa-fw"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h2>Past Offers</h2>
            <div class="table-responsive-sm mb-5">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Created</th>
                            <th>Pricing Stream</th>
                            <th>GWP</th>
                            <th>Excess (Damage/Theft)</th>
                            <th>Picsure Approved Excess (Damage/Theft)</th>
                            <th>Policies / Users</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for offer in phone.inactiveOffers %}
                            <tr>
                                <td>{{ offer.name }}</td>
                                <td>{{ offer.created|date('Y-m-d') }} by TODO: Create Name Here</td>
                                <td>{{ offer.price.stream }}</td>
                                <td>{{ offer.price.gwp }}</td>
                                <td>{{ offer.price.excess.damage }} / {{ offer.price.excess.theft }} </td>
                                <td>{{ offer.price.picsureExcess.damage }} / {{ offer.price.picsureExcess.theft }}</td>
                                <td>{{ offer.policies|length }} / {{ offer.users|length }}</td>
                                <td>
                                    <button title="View Users and Policies"
                                            type="button"
                                            class="btn btn-primary btn-sm mb-1 mr-2">
                                        <i class="far fa-microscope fa-fw"></i>
                                    </button>
                                    <form action="{{ path('admin_offer_able', {'id': offer.id}) }}" method="post">
                                        <input type="hidden" name="able" value="enable"/>
                                        <button title="Reactivate"
                                                type="submit"
                                                class="btn btn-danger btn-sm mb-2 mr-2">
                                            <i class="far fa-power-off fa-fw"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    {# Page Modals #}
    {% include 'AppBundle::Admin/adminConfirmModalNew.html.twig' with {
        'route': 'AppBundle:AdminEmployee:offerForm',
        'id': 'offer_form_modal',
        'params': {'id': phone.id, 'phone': phone},
        'title': 'Create New Offer',
        'size': 'modal-lg'
    } %}

    {# Details Modal#}
    <div class="modal fade"
         id="details_modal"
         tabindex="-1" role="dialog"
         aria-labelledby="details_modal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Offer Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="details-spinner spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <h4 class="details-title"></h4>
                    <ul class="details-list"></ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {# Add User Modal#}
    <div class="modal fade"
         id="user_modal"
         tabindex="-1" role="dialog"
         aria-labelledby="details_modal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add User To Offer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ path('admin_offer_add_user') }}" method="post">
                        <input id="add_user_offer_id" name="offer_id" type="hidden" />
                        <input name="user_email" type="email" />
                        <button type="submit" class="btn btn-primary btn-sm mb-2 mr-2">Add user</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/confirm-modal.js') }}"></script>
    <script src="{{ asset('css-js/offer.js') }}"></script>
{% endblock %}
