{% extends 'admin_claims_base_rebrand.html.twig' %}
{% form_theme form with ['AppBundle:Form:fields.html.twig', 'AppBundle:Form:submit.html.twig'] %}

{# Set vars #}
{% set body_class = 'admin-users' %}

{% block title %}so-sure - Users{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
   {#  <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}"> #}
{% endblock %}

{% block body %}

    <section class="py-4 px-md-4">
        <div class="container-fluid">
            {# TODO: Heading area #}
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">Users</h1>
                <a href="#"
                   class="btn btn-primary btn-square"
                   data-toggle="modal"
                   data-target="#add_user_modal">
                    <i class="fal fa-plus fa-fw"></i> Add User
                </a>
            </div>
            {# TODO: Controls area #}
            <div class="card card-page-filter mb-5">
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': ''}}) }}
                        <div class="form-row">
                            <div class="form-group col-md">
                                {{ form_label(form.firstname, 'Firstname: ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
                                <div class="with-errors">{{ form_errors(form.firstname) }}</div>
                            </div>
                            <div class="form-group col-md">
                                {{ form_label(form.lastname, 'Lastname: ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
                                <div class="with-errors">{{ form_errors(form.lastname) }}</div>
                            </div>
                            <div class="form-group col-md">
                                {{ form_label(form.mobile, 'Mobile Number: ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.mobile, {'attr': {'class': 'form-control'}}) }}
                                <div class="with-errors">{{ form_errors(form.mobile) }}</div>
                            </div>
                            <div class="form-group col-md">
                                {{ form_label(form.email, 'Email: ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                <div class="with-errors">{{ form_errors(form.email) }}</div>
                            </div>
                            <div class="form-group col-md">
                                {{ form_label(form.postcode, 'Postcode: ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.postcode, {'attr': {'class': 'form-control'}}) }}
                                <div class="with-errors">{{ form_errors(form.postcode) }}</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md">
                                {{ form_label(form.dob, 'Birthday: ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.dob, {'attr': {'class': 'form-control dob', 'placeholder': 'dd/mm/yyyy'}}) }}
                                <div class="with-errors">{{ form_errors(form.dob) }}</div>
                            </div>
                            <div class="form-group col-md">
                                {{ form_label(form.facebookId, 'Facebook ID: ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.facebookId, {'attr': {'class': 'form-control'}}) }}
                                <div class="with-errors">{{ form_errors(form.facebookId) }}</div>
                            </div>
                            <div class="form-group col-md">
                                {{ form_label(form.sosure, 'so-sure Users: ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.sosure, {'attr': {'class': 'form-control'}}) }}
                                <div class="with-errors">{{ form_errors(form.sosure) }}</div>
                            </div>
                            <div class="form-group col-md">
                                {{ form_label(form.id, 'ID: ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.id, {'attr': {'class': 'form-control'}}) }}
                                <small class="form-text">User object ID</small>
                                <div class="with-errors">{{ form_errors(form.id) }}</div>
                            </div>
                            <div class="form-group col-md">
                                <label for="">Sanctions:</label>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        {{ form_label(form.allSanctions, 'Sanctions: ', {'label_attr': {'class': 'sr-only'}}) }}
                                        {{ form_widget(form.allSanctions, {'label': 'All', 'attr': {'class': 'custom-control-input'}}) }}
                                        {{ form_errors(form.allSanctions) }}
                                    </li>
                                    <li class="list-inline-item">
                                        {{ form_label(form.waitingSanctions, 'Sanctions: ', {'label_attr': {'class': 'sr-only'}}) }}
                                        {{ form_widget(form.waitingSanctions, {'label': 'Waiting', 'attr': {'class': 'custom-control-input'}}) }}
                                        {{ form_errors(form.waitingSanctions) }}
                                    </li>
                                    <li class="list-inline-item">
                                        {{ form_widget(form.search, {
                                            'label': 'Search',
                                            'fa': 'far fa-search fa-fw',
                                            'left': true,
                                            'attr': {
                                                'class': 'btn btn-success btn-square'
                                            }}) }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
            {# TODO: Content area #}
            <h2 class="h3 mb-3">{{ pager.nbResults }} Results</h2>
            {% if users.count == 0 %}
                <p class="mb-5">No users found</p>
            {% else %}
                <div class="table-responsive-sm mb-5">
                    <table class="table table-striped table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Has Policy?</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Facebook</th>
                                <th>User Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{% if user.hasPolicy %}Yes{% else %}-{% endif %}</td>
                                    <td>{{ user.firstname }} {{ user.lastname }}</td>
                                    <td>
                                        {% if is_granted('ROLE_EMPLOYEE') %}
                                            <a href="{{ path('admin_user', {'id': user.id }) }}">{{ user.email }}</a>
                                        {% else %}
                                            {{ user.email }}
                                        {% endif %}
                                    </td>
                                    <td>{{ user.mobileNumber }}</td>
                                    <td>{% if user.facebookId | length > 0 %}Yes{% else %}No{% endif %}</td>
                                    <td>{% if user.locked %}locked{% elseif user.enabled %}enabled{% else %}disabled{%endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if users.count > 0 %}
                <div class="d-flex justify-content-center mb-5">
                    {{ pagerfanta(pager, 'twitter_bootstrap4') }}
                </div>
            {% endif %}

        </div>
    </section>

    {# Page Modals #}
    <div class="modal fade"
         id="add_user_modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="add_user_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(email_form) }}
                        <div class="form-group">
                            {{ form_label(email_form.email, 'Email') }}
                            {{ form_widget(email_form.email, { 'attr': { 'class': 'form-control' }}) }}
                            <div class="with-errors">{{ form_widget(email_form.email) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_widget(email_form.create, {'label': 'Create User', 'attr': {'class': 'btn btn-success btn-square'}}) }}
                        </div>
                    {{ form_end(email_form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/admin-users.js') }}"></script>
{% endblock %}
