{% set indent_width = "5%" %}
{% set text_width = "30%" %}
{% set amount_width = "10%" %}
{% set combined_width = "35%" %}
<h4>so-sure Scheme P&L for {{ data.start|date('M Y', 'Europe/London') }} - {{ data.end|date('M Y', 'Europe/London') }}</h4>
{% if not data.allowed %}
<h2 style="color: red">PRELIMINARY RESULTS - Quarterly period must be over 1 year ago</h2>
{% endif %}
<table class="table table-striped" style="{% if not data.allowed %}background-color: red{% endif %}">
    <tr class="info">
        <td colspan="4">Income</td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">Gross Written Premium</td>
        <td width="{{ amount_width }}">£{{ data.gwp|number_format(2, '.', ',') }}</td>
        <td></td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">Coverholder commission</td>
        <td width="{{ amount_width }}">(£{{ data.coverholderCommission|number_format(2, '.', ',') }})</td>
        <td></td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">AFL brokerage fee</td>
        <td width="{{ amount_width }}">(£{{ data.brokerCommission|number_format(2, '.', ',') }})</td>
        <td></td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}"><strong>Net Premium</strong></td>
        <td width="{{ amount_width }}"><strong>£{{ data.net|number_format(2, '.', ',') }}</strong></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;</td>
    </tr>
    <tr class="info">
        <td colspan="4">OUTGO</td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">Reward Pot</td>
        {# Value is reward pot paid to customer - the ipt rebate #}
        <td width="{{ amount_width }}">(£{{ data.rewardPotExcludingIptRebate|number_format(2, '.', ',') }})</td>
        <td>No claims bonus premium rebate net of IPT rebate</td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">Net cost of claims</td>
        <td width="{{ amount_width }}">(£{{ data.claimsCost|number_format(2, '.', ',') }})</td>
        <td></td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">Claims reserves</td>
        <td width="{{ amount_width }}">(£{{ data.claimsReserves|number_format(2, '.', ',') }})</td>
        <td></td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">Deficit</td>
        {# TODO: Store historical data and include #}
        <td width="{{ amount_width }}">-</td>
        <td></td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">Underwriter's return</td>
        <td width="{{ amount_width }}">(£{{ data.underwriterReturn|number_format(2, '.', ',') }})</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2" width="{{ combined_width }}"><strong>Profit to share</strong></td>
        <td width="{{ amount_width }}"><strong>£{{ data.profit|number_format(2, '.', ',') }}</strong></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;</td>
    </tr>
    <tr class="info">
        <td colspan="4">Profit Share</td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">for Salva</td>
        <td width="{{ amount_width }}">£{{ data.profitSalva|number_format(2, '.', ',') }}</td>
        <td>40% of Policy profit</td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">for so-sure</td>
        <td width="{{ amount_width }}">£{{ data.profitSoSure|number_format(2, '.', ',') }}</td>
        <td>60% of Policy profit</td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;</td>
    </tr>
    <tr class="info">
        <td colspan="4">Net Writen Premium</td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">Gross Written Premium</td>
        <td width="{{ amount_width }}">£{{ data.gwp|number_format(2, '.', ',') }}</td>
        <td></td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">Coverholder commission</td>
        <td width="{{ amount_width }}">(£{{ data.coverholderCommission|number_format(2, '.', ',') }})</td>
        <td>£10 per policy sold</td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">Reward Pot incl IPT rebate</td>
        {# Value is reward pot paid to customer #}
        <td width="{{ amount_width }}">(£{{ data.rewardPot|number_format(2, '.', ',') }})</td>
        <td>No claims bonus premium rebate (incl IPT rebate)</td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}"><strong>Net Written Premium</strong></td>
        <td width="{{ amount_width }}"><strong>£{{ data.netWrittenPremium|number_format(2, '.', ',') }}</strong></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="4">&nbsp;</td>
    </tr>
    <tr class="info">
        <td colspan="4">Underwriter's Return</td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">Underwriter preferred return</td>
        <td width="{{ amount_width }}">£{{ data.underwriterPreferredReturn|number_format(2, '.', ',') }}</td>
        <td>8% Net Written Premium</td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}">AFL brokerage fee</td>
        <td width="{{ amount_width }}">(£{{ data.brokerCommission|number_format(2, '.', ',') }})</td>
        <td>72p per policy</td>
    </tr>
    <tr>
        <td width="{{ indent_width }}"></td>
        <td width="{{ text_width }}"><strong>Underwriter's return</strong></td>
        <td width="{{ amount_width }}"><strong>£{{ data.underwriterReturn|number_format(2, '.', ',') }}</strong></td>
        <td></td>
    </tr>
</table>
