{% extends 'admin_claims_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/AdminEmployee/company.js'
        '@AppBundle/Resources/public/js/Admin/confirmModal.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container" style="margin-bottom: 50px">
    <div class="row">
        <div class="col-md-8">
            <h2>Affiliates</h2>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#affiliateForm" style="margin-top: 20px">
                <i class="fa fa-plus"></i> New Affiliate
            </button>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
        <table class="table table-stripped" width="100%">
            <tr>
                <th>Name</th>
                <th>CPA</th>
                <th>Days</th>
                <th>Charge Model</th>
                <th>Renewal Days</th>
                <th>Campaign Source</th>
                <th>Lead Source</th>
                <th>Lead Source Details</th>
                <th>Sanctions</th>
            </tr>
            {% for company in companies %}
                <tr>
                    <td width="20%">
                            <a href="{{ path('admin_affiliate_charge', {'id': company.id }) }}">{{ company.name }}</a>
                    </td>
                    <td width="10%">£{{ company.cpa|number_format(2, '.', ',') }}</td>
                    <td width="10%">{{ company.days }}</td>
                    <td width="10%">{{ company.chargeModel }}</td>
                    <td width="10%">{{ company.renewalDays }}</td>
                    <td width="10%">{{ company.campaignSource }}</td>
                    <td width="10%">{{ company.leadSource }}</td>
                    <td width="10%">{{ company.leadSourceDetails }}</td>
                    <td width="40%">
                        {% if company.sanctionsChecks|length == 0%}
                            No checks run
                        {% endif %}
                        {% for check in company.sanctionsChecks %}
                            Ran: {{ check|date }}
                        {% endfor %}
                        <br />
                        {% if company.sanctionsMatches|length == 0%}
                            No matches
                        {% endif %}
                        {% for match in company.sanctionsMatches %}
                            {% if match.manuallyVerified %}
                            Confirmed not match: <del>{{ match.sanctions.company }} ({{ match.distance }})</del>
                            {% else %}
                            Possible match: {{ match.sanctions.company }}  ({{ match.distance }})
                            {% endif %}
                            <br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>
    {% include 'AppBundle::Admin/adminConfirmModal.html.twig' with {'route': 'AppBundle:AdminEmployee:affiliateForm', 'policy': company, 'id': 'affiliateForm', 'title': 'Create New Affiliate'} %}
</div>
{% endblock %}
