{% extends 'admin_claims_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/Admin/month.js'
        '@AppBundle/Resources/public/js/staticTabs.js'
        '@AppBundle/Resources/public/js/Admin/confirmModal.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="container">

        {# Error Message #}
        {% if error is defined %}
            <h3>Error: {{ error }}</h3>
        {% else %}

            <h1 class="row">{{ affiliate.name }}</h1>

            {# Navigation Tabs #}
            <ul id="tabs" class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item {% if overview is defined %}active{% endif %}">
                    <a href="{{ path('admin_affiliate_overview', {'id': affiliate.id}) }}">Overview</a>
                </li>
                <li class="nav-item {% if charges is defined %}active{% endif %}">
                    <a href="{{ path('admin_affiliate_charge', {'id': affiliate.id}) }}">Monthly Charges</a>
                </li>
                <li class="nav-item {% if pending is defined %}active{% endif %}">
                    <a href="{{ path('admin_affiliate_pending', {'id': affiliate.id}) }}">Pending Aquisitions</a>
                </li>
                <li class="nav-item {% if potential is defined %}active{% endif %}">
                    <a href="{{ path('admin_affiliate_potential', {'id': affiliate.id}) }}">Potential Aquisitions</a>
                </li>
                <li class="nav-item {% if lost is defined %}active{% endif %}">
                    <a href="{{ path('admin_affiliate_lost', {'id': affiliate.id}) }}">Lost Aquisitions</a>
                </li>
            </ul>

            {# overview tab #}
            {% if overview is defined %}
                <div class="col-md-6">
                    <h2>Affiliate Parameters</h2>
                    <table class="table table-striped">
                        <tr><td>CPA</td><td>{{ affiliate.cpa }}</td></tr>
                        <tr><td>Charge Model</td><td>{{ affiliate.chargeModel }}</td></tr>
                        <tr><td>Days</td><td>{{ affiliate.days }}</td></tr>
                        <tr><td>Renewal Days</td><td>{{ affiliate.renewalDays }}</td></tr>
                        <tr><td>Campaign Source</td><td>{{ affiliate.campaignSource }}</td></tr>
                        <tr><td>Lead Source</td><td>{{ affiliate.leadSource }}</td></tr>
                        <tr><td>Lead Source Details</td><td>{{ affiliate.leadSourceDetails }}</td></tr>
                        <tr>
                            <td>Promotion</td>
                            <td>
                                {% if affiliate.promotion %}
                                    <a href="{{ path('admin_promotion', {'id': affiliate.promotion.id }) }}">{{ affiliate.promotion.name }}</a>
                                {% else %}
                                    <p>No Promotion</p>
                                {% endif %}
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#promotionForm"><i class="fa fa-plus"></i> Update Promotion</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <h2>Revision History</h2>
                    <table class="table table-striped">
                        {% for note in affiliate.notesList|reverse %}
                            <tr>
                                <td>{{ note.notes }}</td>
                                <td>{{ note.userName }}</td>
                                <td>{{ note.date|date('d/m/Y H:i') }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% include 'AppBundle::Admin/adminConfirmModal.html.twig' with {'route': 'AppBundle:AdminEmployee:affiliatePromotionForm', 'policy': affiliate, 'id': 'promotionForm', 'title': 'Set Promotion'} %}
                {# TODO: refactor admin confirm modal to make it not have a variable called policy. #}


            {# charges tab #}
            {% elseif charges is defined %}
                <div class="row">
                    <h2 class="col-md-6">Charges for {{month}} / {{year}}</h2>

                    {# month form #}
                    <form id="monthForm" class="month-form form-inline" style="padding-top: 15px;" method="POST">
                        <div class="form-group col-md-6">
                            Report Month:
                            <div class="input-group date month" data-url="{{ path('admin_affiliate_charge', {'id': affiliate.id}) }}">
                                <input type='text' class="form-control" value="{{month}}-{{year}}" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-success"><i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                {# Summary Table #}
                <div class="row">
                    <h3>Summary</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr><th>CPA</th><th>Total Charges</th><th>Total Cost</th><th>Charge Model</th></tr>
                        </thead>
                        <tr>
                            <td>£{{ affiliate.cpa|number_format(2, '.', ',') }}</td>
                            <td>{{ charges|length }}</td>
                            <td>£{{ cost|number_format(2, '.', ',') }}</td>
                            <td>{{ affiliate.chargeModel }}</td>
                        </tr>
                    </table>
                </div>


                {# paid charges table #}
                <div class="row">
                    <h3>Charges</h3>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead><tr><th>Date</th><th>User</th></tr></thead>
                            <tbody>
                                {% for charge in charges %}
                                    <tr>
                                        <td>{{ charge.createdDate|date }}</td>
                                        <td>
                                            {% if charge.user %}
                                                <a href="{{ path('admin_user', {'id': charge.user.id }) }}">{{ charge.user.name }}</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            {# pending users table #}
            {% elseif pending is defined %}
                <div class="row">
                    <h2>Pending Aquisitions</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead><tr><th>CPA</th><th>Total Pending Aquisitions</th><th>Total Cost Pending</th><th>Charge Model</th></tr></thead>
                            <tbody>
                                <tr>
                                    <td>£{{ affiliate.cpa|number_format(2, '.', ',') }}</td>
                                    <td>{{ pending|length }}</td>
                                    <td>£{{ pending|length * affiliate.cpa }}</td>
                                    <td>{{ affiliate.chargeModel }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h2>Details</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead><tr><th>User</th><th>Start Date</th><th>Days Until Aquisition</th></tr></thead>
                            <tbody>
                                {% for user in pending %}
                                    <tr>
                                        <td><a href="{{ path('admin_user', {'id': user.id }) }}">{{ user.name }}</a></td>
                                        <td>{{ user.getFirstPolicy.getStart|date }}</td>
                                        <td>{{ days[user.getId] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            {# potential users table #}
            {% elseif potential is defined %}
                <div class="row">
                    <h2>Potential Aquisitions</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead><tr><th>Total Potential Aquisitions</th></tr></thead>
                            <tbody><tr><td>{{ potential|length }}</td></tr></tbody>
                        </table>
                    </div>
                    <h3>Details</h3>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead><tr><th>User</th></tr></thead>
                            <tbody>
                                {% for user in potential %}
                                    <tr>
                                        <td><a href="{{ path('admin_user', {'id': user.id }) }}">{{ user.name }}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            {# lost users table #}
            {% elseif lost is defined %}
                <div class="row">
                    <h2>Lost Aquisitions</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead><tr><th>Total Lost Aquisitions</th></tr></thead>
                            <tbody><tr><td>{{ lost|length }}</td></tr></tbody>
                        </table>
                    </div>

                    <h3>Details</h3>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead><tr><th>User</th></tr></thead>
                            <tbody>
                                {% for user in lost %}
                                    <tr><td><a href="{{ path('admin_user', {'id': user.id }) }}">{{ user.name }}</a></td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                {# properties tab #}
                <h1>This is the properties tab hell yeah enjoy</h1>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
