{% extends 'admin_claims_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/Admin/month.js'
        '@AppBundle/Resources/public/js/staticTabs.js'

    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="container">

        <!-- Error Message -->
        {% if error is defined %}
            <h3>Error: {{ error }}</h3>
        {% else %}

            <!-- Navigation Tabs -->
            <ul id="tabs" class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item {% if charges is defined %}active{% endif %}">
                    <a href="{{ path('admin_affiliate_charge', {'id': affiliate.id}) }}">{{ affiliate.name }}'s Monthly Charges</a>
                </li>
                <li class="nav-item {% if immatureUsers is defined %}active{% endif %}">
                    <a href="{{ path('admin_affiliate_immature', {'id': affiliate.id}) }}">{{ affiliate.name }}'s Immature Users</a>
                </li>
            </ul>

            <!-- charges tab -->
            {% if charges is defined %}
                <h1 class="col-md-6">{{ affiliate.name }} charges for {{month}} / {{year}}</h1>

                <!-- configuration form -->
                <!-- method="POST" is actually a work around so the form does not add ? to end of url,
                     the form does not post anything -->
                <form id="monthForm" class="col-md-6 month-form form-inline" method="POST">
                    <div class="form-group">
                        Report Month:
                        <div class="input-group date month" data-url="{{ path('admin_affiliate_charge', {'id': affiliate.id}) }}">
                            <input type='text' class="form-control" value="{{month}}-{{year}}" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-success"><i class="fa fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Summary Table -->
                <div class="row">
                    <h2>Summary</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr><th>CPA</th><th>Total Charges</th><th>Total Cost</th></tr>
                        </thead>
                        <tr>
                            <td>£{{ affiliate.cpa|number_format(2, '.', ',') }}</td>
                            <td>{{ charges|length }}</td>
                            <td>£{{ cost|number_format(2, '.', ',') }}</td>
                        </tr>
                    </table>
                </div>


                <!-- paid charges table -->
                <div class="row">
                    <h2>Charges</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead><tr><th>Date</th><th>User</th></tr></thead>
                            <tbody>
                                {% for charge in charges %}
                                    <tr>
                                        <td>{{ charge.createdDate|date }}</td>
                                        <td>
                                            {% if charge.user %}
                                                <a href="{{ path('admin_user', {'id': charge.user.id }) }}">{{ charge.user.name }}</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}


            <!-- immature users table -->
            {% if immatureUsers is defined %}
                <div class="row">
                    <h1>{{ affiliate.name }} Immature Affiliate Users</h1>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead><tr><th>Start Date</th><th>Days Until Maturation</th><th>User</th></tr></thead>
                            <tbody>
                                {% for user in immatureUsers %}
                                    <tr>
                                        <td>{{ user.getFirstPolicy.getStart|date }}</td>
                                        <td>{{ user.getFirstPolicy.daysToMaturation(30) }}</td>
                                        <td><a href="{{ path('admin_user', {'id': user.id }) }}">{{ user.name }}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
