{% extends 'admin_claims_base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'admin-policy-breakdown' %}

{% block title %}so-sure - Policy Breakdown{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
   {#  <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}"> #}
{% endblock %}

{% block body %}

    <section class="py-4 px-md-4">
        <div class="container-fluid">
            {# TODO: Heading area #}
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">Policy Breakdown</h1>
            </div>
            {# TODO: Controls area #}
            <div class="card card-page-filter mb-5">
                <div class="card-body">
                    <a class="btn btn-info btn-square mr-md-2"
                       target="_blank"
                       href="{{ path('admin_policy_breakdown_print') }}"
                       rel="noopener noreferrer">
                        <i class="fa fa-print fa-fw"></i></a>
                </div>
            </div>
            {# TODO: Content area #}
            <div class="table-responsive-sm mb-5">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Make</th>
                            <th>Total</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item, value in data.makes %}
                        <tr>
                            <td>{{ item }}</td>
                            <td>{{ value }}</td>
                            <td>{{ (100 * value / data.total) | number_format(1, '.', ',') }}%</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="table-responsive-sm mb-5">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Phone</th>
                            <th>Total</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in data.phones %}
                        <tr>
                            <td>{{ item.phone }}</td>
                            <td>{{ item.count }}</td>
                            <td>{{ (100 * item.count / data.total) | number_format(1, '.', ',') }}%</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}
    {# <script src="{{ asset('css-js/homepage.js') }}"></script> #}
{% endblock %}
