{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/moment/moment.min.js'
        'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js'
        '@AppBundle/Resources/public/js/Admin/banking.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container" style="margin-bottom: 50px">
<div class="row">
    <div class="col-md-8">
        <h2>Connections</h2>
    </div>
    <div class="col-md-4">
        <a href="{{ path('admin_connections_print')}}"><i class="fa fa-print fa-large" style="margin-top: 15px;"></i></a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th style="width: 10%">Policy Number</th>
                <th>Policy Inception Date</th>
                <th>Number of Connections</th>
                <th>Connection Date 1</th>
                <th>Connection Date 2</th>
                <th>Connection Date 3</th>
                <th>Connection Date 4</th>
                <th>Connection Date 5</th>
                <th>Connection Date 6</th>
                <th>Connection Date 7</th>
                <th>Connection Date 8</th>
            </tr>
            {% set total = 0 %}
            {% for policy in data %}
                {% set total = total + policy.connection_count %}
                <tr>
                    <td style="width: 10%" class="{% if policy.isCancelled %}bg-danger{% endif %}">
                        <a href="{{ path('admin_policy', {'id': policy.id }) }}">{{ policy.number }}</a>
                    </td>
                    <td>{{ policy.date }}</td>
                    <td>{{ policy.connection_count }}</td>
                    {% for connection in policy.connections_details %}
                        <td class="{% if connection.value == 0 %}bg-danger{% endif %}">{{ connection.date }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr></tr>
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td>{{ total }}</td>
            </tr>
        </table>

    </div>
</div>
</div>
{% endblock %}
