{% extends 'admin_claims_base_rebrand.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/admin.scss'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="bg-info" style="border-radius: 10px; padding: 10px;">
    <h4 class="text-center"><strong>Search IMEI</strong></h4>
    {{ form_start(form, {'attr': {'class': 'form-inline'}})  }}
        <div class="row">
            <div class="form-group col-sm-10">
                {{ form_label(form.imei, 'IMEI', {'label_attr': {'class': 'col-sm-2'}}) }}
                {{ form_errors(form.imei) }}
                {{ form_widget(form.imei, {'attr': {'class': 'col-sm-10'}}) }}
            </div>
            <div class="form-group">
              <div class="col-sm-2 text-center">
                {{ form_widget(form.search, {'label': 'Search', 'attr': {'class': 'btn btn-success'}}) }}
              </div>
            </div>
        </div>
    {{ form_end(form) }}
    </div>

    <h2>History</h2>
    {% if not history or history|length == 0 %}
    <div class="row-fluid">
        <h3>No records found</h3>
    </div>
    {% else %}
    <div class="row-fluid">
        <div class="col-md-11">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Version</th>
                        <th>Policy</th>
                        <th>Version Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for record in history %}
                        <tr>
                            <td>{{ record.version }}</td>
                            <td>
                                <a href="{{ path('admin_policy', {'id': record.objectId }) }}">{% if record.data.policyNumber %}{{ record.data.policyNumber }} / {% endif %}{{ record.objectId }}</a>
                            </td>
                            <td>
                                {{ record.loggedAt | date}}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    <h2>Charges</h2>
    {% if not charges or charges|length == 0 %}
    <div class="row-fluid">
        <h3>No records found</h3>
    </div>
    {% else %}
    <div class="row-fluid">
        <div class="col-md-11">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Charge</th>
                        <th>Policy</th>
                        <th>User</th>
                        <th>Charge Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for charge in charges %}
                        <tr>
                            <td>{{ charge.type }}</td>
                            <td>
                                {% if charge.policy %}
                                <a href="{{ path('admin_policy', {'id': charge.policy.id }) }}">{% if charge.policy.policyNumber %}{{ charge.policy.policyNumber }} / {% endif %}{{ charge.policy.id }}</a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if charge.user %}
                                    {% if charge.user.id %}
                                        <a href="{{ path('admin_user', {'id': charge.user.id }) }}">{{ charge.user.name }}</a>
                                    {% else  %}
                                            {{ charge.user.name }}
                                    {% endif %}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {{ charge.createdDate | date}}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

</div>


{% endblock %}
