{% extends 'admin_claims_base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'admin-imei' %}

{% block title %}so-sure - Admin IMEI lookup{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
   {#  <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}"> #}
{% endblock %}

{% block body %}

    <section class="py-4 px-md-4">
        <div class="container-fluid">
            {# TODO: Heading area #}
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">Admin IMEI Lookup</h1>
            </div>
            {# TODO: Controls area #}
            <div class="card card-page-filter mb-5">
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'form-inline'}})  }}
                        <div class="form-group">
                            {{ form_label(form.imei, 'Search IMEI: ', {'label_attr': {'class': 'mr-md-2'}}) }}
                            {{ form_widget(form.imei, {'attr': {'class': 'form-control mr-md-2'}}) }}
                            <div class="with-errors">{{ form_errors(form.imei) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.search, {'label': 'Search', 'attr': {'class': 'btn btn-success ml-md-2'}}) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
            {# TODO: Content area #}
            <h2 class="h3 mb-3">History</h2>
            {% if not history or history|length == 0 %}
                <p class="mb-5">No records found</p>
            {% else %}
                <div class="table-responsive-sm mb-5">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>Version</th>
                                <th>Policy</th>
                                <th>Version Date</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for record in history %}
                            <tr>
                                <td>{{ record.version }}</td>
                                <td>
                                    <a href="{{ path('admin_policy', {'id': record.objectId }) }}">{% if record.data.policyNumber %}{{ record.data.policyNumber }} / {% endif %}{{ record.objectId }}</a>
                                </td>
                                <td>
                                    {{ record.loggedAt | date}}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            <h2 class="h3 mb-3">Charges</h2>
            {% if not charges or charges|length == 0 %}
                <p class="mb-5">No records found</p>
            {% else %}
                <div class="table-responsive-sm mb-5">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Charge</th>
                                <th>Policy</th>
                                <th>User</th>
                                <th>Charge Date</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for charge in charges %}
                            <tr>
                                <td>{{ charge.type }}</td>
                                <td>
                                    {% if charge.policy %}
                                    <a href="{{ path('admin_policy', {'id': charge.policy.id }) }}">{% if charge.policy.policyNumber %}{{ charge.policy.policyNumber }} / {% endif %}{{ charge.policy.id }}</a>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if charge.user %}
                                        {% if charge.user.id %}
                                            <a href="{{ path('admin_user', {'id': charge.user.id }) }}">{{ charge.user.name }}</a>
                                        {% else  %}
                                                {{ charge.user.name }}
                                        {% endif %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {{ charge.createdDate | date}}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}
    {# <script src="{{ asset('css-js/homepage.js') }}"></script> #}
{% endblock %}
