{% extends 'admin_claims_base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'admin-home' %}

{% block title %}so-sure - admin home{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
   {#  <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}"> #}
{% endblock %}

{% block body %}

    <section class="py-4 px-md-4">
        <div class="container-fluid">
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">Admin Home</h1>
                <form action="" class="form-inline">
                    <div class="form-group">
                        {# TODO: Add copy #}
                        <label for="" class="mr-3">
                            <i class="fal fa-info-circle mr-2" title="Actually Random Imei of the second, but...This imei passes luhn, and should only be used for test purposes"></i> Random IMEI of the day:
                        </label>
                        <input type="text" value="{{ randomImei }}" class="form-control">
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md">
                    <h5 class="mb-4">General</h3>
                    <div class="list-group admin-list-group mb-4">
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_policies') }}">
                            <i class="fal fa-file-pdf fa-fw mr-3"></i> Policies
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_users') }}">
                            <i class="fal fa-users fa-fw mr-3"></i> Users
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_company') }}">
                           <i class="fal fa-briefcase fa-fw mr-3"></i> Companies
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_phones') }}">
                            <i class="fal fa-mobile fa-fw mr-3"></i> Phones
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_claims') }}">
                            <i class="fal fa-exchange fa-fw mr-3"></i> Claims
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_rewards') }}">
                            <i class="fal fa-thumbs-up fa-fw mr-3"></i> Rewards
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_picsure') }}">
                            <i class="fal fa-qrcode fa-fw mr-3"></i> pic-sure
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_imei') }}">
                            <i class="fal fa-search fa-fw mr-3"></i> IMEI Lookup
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_detected_imei') }}">
                            <i class="fal fa-bullseye fa-fw mr-3"></i> Detected IMEI
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_affiliate') }}">
                            <i class="fal fa-trophy fa-fw mr-3"></i> Affiliates
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_optimise_csv') }}">
                            <i class="fal fa-table fa-fw mr-3"></i> Optimise CSV
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_promotions') }}">
                            <i class="fal fa-gift fa-fw mr-3"></i> Promotions
                        </a>
                        <a class="list-group-item list-group-item-action"
                               href="{{ path('admin_annual_postcodes') }}">
                            <i class="fal fa-envelope fa-fw mr-3"></i> Annual Only Postcodes
                        </a>
                    </div>
                </div>
                <div class="col-md">
                    <h5 class="mb-4">Reporting</h3>
                    <div class="list-group admin-list-group mb-4">
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_kpi') }}">
                           <i class="fal fa-balance-scale fa-fw mr-3"></i> KPI
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_reports') }}">
                            <i class="fal fa-chart-area fa-fw mr-3"></i> Reports
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_connections') }}">
                            <i class="fal fa-handshake fa-fw mr-3"></i> Connections
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_optout') }}">
                           <i class="fal fa-envelope-square fa-fw mr-3"></i> OptOuts
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_scheduled_payments') }}">
                           <i class="fal fa-calendar-check fa-fw mr-3"></i> Scheduled Payments
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_policy_breakdown') }}">
                           <i class="fab fa-apple fa-fw mr-3"></i> Policy Breakdown
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_payments') }}">
                           <i class="fal fa-pound-sign fa-fw mr-3"></i> Card Payments
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_quarterly_pl') }}">
                           <i class="fal fa-chart-pie fa-fw mr-3"></i> Quarterly P&amp;L
                        </a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_underwriting') }}">
                           <i class="fal fa-chart-bar fa-fw mr-3"></i> Underwriting
                        </a>
                    </div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-md">
                        <h5 class="mb-4">Accounts</h3>
                        <div class="list-group admin-list-group mb-4">
                            <a class="list-group-item list-group-item-action"
                               href="{{ path('admin_accounts') }}">
                               <i class="fal fa-money-bill-wave-alt fa-fw mr-3"></i> Accounts
                            </a>
                            <a class="list-group-item list-group-item-action"
                               href="{{ path('admin_banking') }}">
                               <i class="fal fa-university fa-fw mr-3"></i> Banking
                            </a>
                            <a class="list-group-item list-group-item-action"
                               href="{{ path('admin_charge') }}">
                               <i class="fal fa-credit-card-front fa-fw mr-3"></i> Charges
                            </a>
                            <a class="list-group-item list-group-item-action"
                               href="{{ path('admin_invoices') }}">
                               <i class="fal fa-file-invoice fa-fw mr-3"></i> Invoices
                            </a>
                            <a class="list-group-item list-group-item-action"
                               href="{{ path('admin_cashback') }}">
                               <i class="fal fa-hand-holding-usd fa-fw mr-3"></i> Cashback
                            </a>
                            <a class="list-group-item list-group-item-action"
                               href="{{ path('admin_chargeback') }}">
                               <i class="fal fa-reply fa-fw mr-3"></i> Chargebacks
                            </a>
                            <a class="list-group-item list-group-item-action"
                               href="{{ path('admin_bacs') }}">
                               <i class="fal fa-sliders-h fa-fw mr-3"></i> Bacs
                            </a>
                            <a class="list-group-item list-group-item-action"
                               href="{{ path('admin_policy_validation') }}">
                                <i class="fal fa-clipboard-check fa-fw mr-3"></i> Policy Validation
                            </a>
                        </div>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_EMPLOYEE') %}
                    <div class="col-md">
                        <h5 class="mb-4">System</h3>
                        <div class="list-group admin-list-group mb-4">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="list-group-item list-group-item-action"
                                   href="{{ path('admin_admin_users') }}">
                                   <i class="fal fa-user-lock fa-fw mr-3"></i> Admin Users
                                </a>
                                <a class="list-group-item list-group-item-action"
                                   href="{{ path('admin_rate_limits') }}">
                                   <i class="fal fa-hand-paper fa-fw mr-3"></i> Rate Limits
                                </a>
                                <a class="list-group-item list-group-item-action"
                                   href="{{ path('admin_feature_flags') }}">
                                   <i class="fal fa-flag fa-fw mr-3"></i> Feature Flags
                                </a>
                                <a class="list-group-item list-group-item-action"
                                   href="{{ path('admin_picsure_ml') }}">
                                   <i class="fal fa-robot fa-fw mr-3"></i> Picsure ML
                                </a>
                            {% endif %}
{#                             <a class="list-group-item list-group-item-action"
                               href="{{ path('admin_sixpack_tests') }}">
                               <i class="fal fa-vial fa-fw mr-3"></i> Running tests
                            </a> #}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}
    {# <script src="{{ asset('css-js/homepage.js') }}"></script> #}
{% endblock %}
