{% extends 'admin_claims_base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'admin-home' %}

{% block title %}so-sure - admin home{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
   {#  <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}"> #}
{% endblock %}

{% block body %}

    <section class="p-4 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h5 class="mb-4">General</h3>
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_policies') }}">
                            <i class="fal fa-file-pdf mr-3"></i> Policies</a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_users') }}">
                            <i class="fal fa-users mr-3"></i> Users</a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_connections') }}">
                            <i class="fal fa-handshake-alt mr-3"></i> Connections</a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_scheduled_payments') }}">
                           <i class="fal fa-calendar mr-3"></i> Scheduled Payments</a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_policy_breakdown') }}">
                           <i class="fab fa-apple"></i>
                           <i class="fab fa-android mr-3"></i> Policy Breakdown</a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_payments') }}">
                            <i class="fal fa-pound-sign mr-3"></i> Payments</a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_quarterly_pl') }}">
                           <i class="fal fa-chart-pie mr-3"></i> Quarterly P&amp;L</a>
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('admin_underwriting') }}">
                            <i class="fal fa-chart-bar mr-3"></i>Underwriting</a>
                    </div>
                </div>
                <div class="col-md">
                    <h5 class="mb-4">Reporting</h3>
                    <div class="list-group">
                    </div>
                </div>
                {# {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-md">
                        <h5 class="mb-4">Accounts</h3>
                        <div class="list-group">
                        </div>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_EMPLOYEE') %}
                    <div class="col-md">
                        <h5 class="mb-4">System</h3>
                        <div class="list-group">
                            {% if is_granted('ROLE_ADMIN') %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %} #}
            </div>
        </div>
    </section>
    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}
    {# <script src="{{ asset('css-js/homepage.js') }}"></script> #}
{% endblock %}
