{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/moment/moment.min.js'
        'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js'
        '@AppBundle/Resources/public/js/Admin/charge.js'
        '@AppBundle/Resources/public/js/AdminEmployee/kpi.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container" style="margin-bottom: 50px">

<div class="row">
    <div class="col-md-6">
        <h1>so-sure KPI</h1>
    </div>
</div>
    <div class="row">
        <div class="col-md-11">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                    <th></th>
                    {% for week in weeks %}
                        <td>{{ week.start_date|date('d M Y') }} - {{ week.end_date|date('d M Y') }}</td>
                    {% endfor %}
                    </tr>
                    </thead>
                    {# dump(weeks) #}
                    <tbody>
                        <tr>
                            <td>Avg Policy Price [KPI: 14]</td>
                            {% for week in weeks %}
                                <td>£{{ (week.total.data['newPoliciesAvgPremium'] / 52) |number_format(2, '.', ',') }}
                                ({{ week.total.data['newPoliciesAvgPremium'] }} / 52)</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Run Rate Premium</td>
                            {% for week in weeks %}
                                <td>£{{ week.total.data['totalRunRate'] |number_format(2, '.', ',') }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total Policies [KPI: 17]</td>
                            {% for week in weeks %}
                                <td>{{ week.total.data['newPolicies'] - week.total.data['endingEndingPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>New Policies [KPI: 21]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['newPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Cancellations - Upgrades
        <i style="cursor: pointer" class="fa fa-warning" data-toggle="popover" data-placement="bottom" data-html="true"
           title="Cancellation data only" data-content="Currently, this only affect the cancellation data shown and not the new policies"></i>
                            </td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['endingUpgradePolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Cancellations - User Requested [KPI: 30]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['endingUserRequestedPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Cancellations - Unpaid [KPI: 31]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['endingUnpaidPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Cooloffs [KPI: 32]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['endingCooloffPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Approved Claims [KPI: 36]
                                    <span class="badge" title="Days delayed - requires input by davies so may be missed">-3 (approx)</span>
                            </td>
                            {% for week in weeks %}
                                <td>{{ week.period['approvedClaims']['total'] }}
                                    <i class="fa fa-clock-o" title="Value is delayed"></i>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Approved Claim Freq (avg weekly)</td>
                            {% for week in weeks %}
                                <td>{{ (100 * week['freq-claims']) | number_format(1, '.', ',') }}%</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td># Invitations - Email [KPI: 42]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['newInvitationPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td># Invitations - SCode [KPI: 43]</td>
                            {% for week in weeks %}
                                <td>{% if week['mixpanel-invite-someone'] is defined %}{{ week['mixpanel-invite-someone'] }}{% else %}unknown - see mixpanel{% endif %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td># Connections [KPI: 44]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['newActiveConnections'] - week.period.data['newEndedConnections'] }} ( Active: {{ week.period.data['newActiveConnections'] }} - Ending: {{ week.period.data['newEndedConnections'] }} )</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total Connections [KPI: 45 - just validate]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['totalActiveConnections'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total Site Visitors [KPI: 157]</td>
                            {% for week in weeks %}
                                <td>{{ week['mixpanel-total-site-visitors'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Quote Page UK [KPI: 158]</td>
                            {% for week in weeks %}
                                <td>{{ week['mixpanel-quotes-uk'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Landing Page UK [KPI: 159]</td>
                            {% for week in weeks %}
                                <td>{% if week['mixpanel-landing-uk'] is defined %}{{ week['mixpanel-landing-uk'] }}{% else %}unknown - see mixpanel{% endif %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Click Buy Now [KPI: 160]</td>
                            {% for week in weeks %}
                                <td>{% if week['mixpanel-click-buy-now'] is defined %}{{ week['mixpanel-click-buy-now'] }}{% else %}unknown - see mixpanel{% endif %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Receive Personal Details [KPI: 161]</td>
                            {% for week in weeks %}
                                <td>{{ week['mixpanel-receive-personal-details'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Apple App Installs [KPI: 192]
                                    <span class="badge" title="Days delayed">-4</span>
                            </td>
                            {% for week in weeks %}
                                <td>
                                    {{ week['install-apple'] }}
                                    <i class="fa fa-clock-o" title="Value is delayed"></i>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Google App Installs [KPI: 193]
                                    <span class="badge" title="Days delayed">-4</span>
                            </td>
                            {% for week in weeks %}
                                <td>
                                    {{ week['install-google'] }}
                                    <i class="fa fa-clock-o" title="Value is delayed"></i>
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
