{% extends 'admin_claims_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/moment/moment.min.js'
        'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js'
        '@AppBundle/Resources/public/js/AdminEmployee/kpi.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container" style="margin-bottom: 50px">

    <div class="row">
        <div class="col-md-6">
            <h1>so-sure KPI</h1>
        </div>
        <form id='kpi-form' method="POST">
            <div class="col-md-2">
                <div class="form-group" style="padding-top: 15px;">
                    <div class='input-group date' id='kpi'>
                        <input name="kpi" type='text' class="form-control" value="{{ now|date('d-m-Y') }}" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" style="padding-top: 15px;">
                    <button class="btn btn-primary">Adjust date</button>
                <a href="{{ previous_page }}"><i class="fa fa-arrow-left"></i></a>
                <a href="{{ next_page }}"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-11">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                    <th></th>
                    {% for week in weeks %}
                        <td>Ending <b>{{ week.end_date_disp|date('d M Y') }}</b><br>
                            <small>{{ week.start_date|date('d M Y') }} - {{ week.end_date_disp|date('d M Y') }}</small>
                        </td>
                    {% endfor %}
                    </tr>
                    </thead>
                    {# dump(weeks) #}
                    <tbody>
                        <tr>
                            <td>Run Rate Premium [KPI: 12]</td>
                            {% for week in weeks %}
                                <td>£{{ week.total.data['totalRunRate'] |number_format(2, '.', ',') }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Avg Policy Price [KPI: 16]</td>
                            {% for week in weeks %}
                                <td>£{{ (week.total.data['newPoliciesAvgPremium'] / 52) |number_format(2, '.', ',') }}
                                ({{ week.total.data['newPoliciesAvgPremium'] }} / 52)</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Active Policies [KPI: 20]</td>
                            {% for week in weeks %}
                                {# as upgrades will be included in new and taken off ending is the same as if using adjUpgrade on both #}
                                <td>{{ (week.total.data['newPolicies'] - week.total.data['endingEndingPolicies']) }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>New Policies [KPI: 50] (excludes upgrades)</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['newPoliciesAdjUpgrade'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Policy Upgrades [KPI: 54]
                            </td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['endingUpgradePolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Policy Expired [KPI: 57]
                            </td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['endingExpiredPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Policy Renewed [KPI: 58]
                            </td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['endingPoliciesRenewed'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total Cancellations - User Requested [KPI: 70]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['endingUserRequestedPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total Cancellations - Unpaid [KPI: 71]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['endingUnpaidPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total Cooloffs [KPI: 72]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['endingCooloffPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total Cancellations - Other [KPI: 73]</td>
                            {% for week in weeks %}
                                <td>{{ (week.period.data['endingActualFraudPolicies'] + week.period.data['endingSuspectedFraudPolicies'] + week.period.data['endingBadRiskPolicies'] + week.period.data['endingDispossessionPolicies'] + week.period.data['endingWreckagePolicies']  )}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Undesired Cancellations - User Requested [KPI: 77]</td>
                            {% for week in weeks %}
                                <td>{{ (week.period.data['endingUserRequestedPolicies'] - week.period.data['desiredEndingUserRequestedPolicies']) }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Undesired Cancellations - Unpaid [KPI: 78]</td>
                            {% for week in weeks %}
                                <td>{{ (week.period.data['endingUnpaidPolicies'] - week.period.data['desiredEndingUnpaidPolicies']) }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Undesired Cooloffs [KPI: 79]</td>
                            {% for week in weeks %}
                                <td>{{ (week.period.data['endingCooloffPolicies'] - week.period.data['desiredEndingCooloffPolicies']) }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Undesired Cancellations - Other [KPI: 80]</td>
                            {% for week in weeks %}
                                <td>{{ ( week.period.data['endingActualFraudPolicies'] + week.period.data['endingSuspectedFraudPolicies'] + week.period.data['endingBadRiskPolicies'] + week.period.data['endingDispossessionPolicies'] + week.period.data['endingWreckagePolicies']  - week.period.data['desiredEndingActualFraudPolicies'] - week.period.data['desiredEndingSuspectedFraudPolicies'] - week.period.data['desiredEndingBadRiskPolicies'] - week.period.data['desiredEndingDispossessionPolicies'] - week.period.data['desiredEndingWreckagePolicies'] ) }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>FNOL Claims [KPI: 84]
                                    <span class="badge" title="Days delayed - requires input by davies so may be missed">-3 (approx)</span>
                            </td>
                            {% for week in weeks %}
                                <td>{{ week.period['claims']['total'] }}
                                    <i class="fa fa-clock-o" title="Value is delayed"></i>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Approved Claims [KPI: 86]
                                    <span class="badge" title="Days delayed - requires input by davies so may be missed">-3 (approx)</span>
                            </td>
                            {% for week in weeks %}
                                <td>{{ week.period['approvedClaims']['total'] }}
                                    <i class="fa fa-clock-o" title="Value is delayed"></i>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Approved Claim Freq (avg weekly)</td>
                            {% for week in weeks %}
                                <td>{{ (100 * week['freq-claims']) | number_format(1, '.', ',') }}%</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td># Invitations - Email & SMS [KPI: 93]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['newInvitationPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td># Viewed Invitations - Email [KPI: 94]</td>
                            {% for week in weeks %}
                                <td>{% if week['mixpanel-view-invitation-email'] is defined %}{{ week['mixpanel-view-invitation-email'] }}{% else %}unknown - see mixpanel{% endif %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td># Viewed Invitations - SMS [KPI: ??]</td>
                            {% for week in weeks %}
                                <td>{% if week['mixpanel-invite-someone'] is defined %}{{ week['mixpanel-invite-someone'] }}{% else %}unknown - see mixpanel{% endif %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td># Invitations - SCode [KPI: 95]</td>
                            {% for week in weeks %}
                                <td>{% if week['mixpanel-invite-someone'] is defined %}{{ week['mixpanel-invite-someone'] }}{% else %}unknown - see mixpanel{% endif %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td># Viewed Invitations - SCode [KPI: 96]</td>
                            {% for week in weeks %}
                                <td>{% if week['mixpanel-view-invitation-scode'] is defined %}{{ week['mixpanel-view-invitation-scode'] }}{% else %}unknown - see mixpanel{% endif %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td># New Connections [KPI: 97]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['newActiveConnections'] - week.period.data['newEndedConnections'] }} ( Active: {{ week.period.data['newActiveConnections'] }} - Ending: {{ week.period.data['newEndedConnections'] }} )</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td># Total Connections [KPI: 99]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['totalActiveConnections'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td># Total Unique Policies w/Connections [KPI: 100]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['newTotalPoliciesWithConnections'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>New Policies via Invitation [KPI: 146]</td>
                            {% for week in weeks %}
                                <td>{{ (week.period.data['newInvitationPolicies'] + week.period.data['newSCodePolicies']) }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>App New Policy Holders [KPI: 147]</td>
                            {% for week in weeks %}
                                <td>{% if week['mixpanel-purchase-policy-app-attrib'] is defined %}{{ week['mixpanel-purchase-policy-app-attrib'] }}{% else %}unknown - see mixpanel{% endif %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total Site Visitors [KPI: 266]</td>
                            {% for week in weeks %}
                                <td>{{ week['mixpanel-total-site-visitors'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Quote Page UK [KPI: 267]</td>
                            {% for week in weeks %}
                                <td>{{ week['mixpanel-quotes-uk'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>CPC Quote Page [KPI: 268]</td>
                            {% for week in weeks %}
                                <td>{% if week['mixpanel-cpc-quotes-uk'] is defined %}{{ week['mixpanel-cpc-quotes-uk'] }}{% elseif week['mixpanel-landing-uk'] is defined %}{{ week['mixpanel-landing-uk'] }}{% else %}unknown - see mixpanel{% endif %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>CPC Manufacturer Page [KPI: 269]</td>
                            {% for week in weeks %}
                                <td>{% if week['mixpanel-cpc-manufacturer-uk'] is defined %}{{ week['mixpanel-cpc-manufacturer-uk'] }}{% else %}unknown - see mixpanel{% endif %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>CPC Competitors Page [KPI: 270]</td>
                            {% for week in weeks %}
                                <td>{% if week['mixpanel-cpc-competitors-uk'] is defined %}{{ week['mixpanel-cpc-competitors-uk'] }}{% else %}unknown - see mixpanel{% endif %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Click Buy Now [KPI: 271]</td>
                            {% for week in weeks %}
                                <td>{% if week['mixpanel-click-buy-now'] is defined %}{{ week['mixpanel-click-buy-now'] }}{% else %}unknown - see mixpanel{% endif %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Receive Personal Details [KPI: 272]</td>
                            {% for week in weeks %}
                                <td>{{ week['mixpanel-receive-personal-details'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Apple App Installs [KPI: 310]
                                    <span class="badge" title="Days delayed">-4</span>
                            </td>
                            {% for week in weeks %}
                                <td>
                                    {{ week['install-apple'] }}
                                    <i class="fa fa-clock-o" title="Value is delayed"></i>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Google App Installs [KPI: 311]
                                    <span class="badge" title="Days delayed">-4</span>
                            </td>
                            {% for week in weeks %}
                                <td>
                                    {{ week['install-google'] }}
                                    <i class="fa fa-clock-o" title="Value is delayed"></i>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td># of Total Policies that are Cancelled w/approved Claim (Payment owed)</td>
                            {% for week in weeks %}
                                <td>{{ week['kpi-cancelled-payment-owed'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td># of Policies Paid that were Cancelled w/approved Claim (Payment owed)</td>
                            {% for week in weeks %}
                                <td>{{ week['kpi-cancelled-payment-paid'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total # pic-sure unstarted policies (pic-sure policy, but no upload)</td>
                            {% for week in weeks %}
                                <td>{{ week['kpi-picsure-unstarted-policies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total # pic-sure approved policies</td>
                            {% for week in weeks %}
                                <td>{{ week['kpi-picsure-approved-policies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total # pic-sure pre-approved (renewals) policies</td>
                            {% for week in weeks %}
                                <td>{{ week['kpi-picsure-preapproved-policies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total # pic-sure rejected policies</td>
                            {% for week in weeks %}
                                <td>{{ week['kpi-picsure-rejected-policies'] }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
