{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/moment/moment.min.js'
        'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js'
        '@AppBundle/Resources/public/js/Admin/charge.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container" style="margin-bottom: 50px">

<div class="row">
    <div class="col-md-6">
        <h1>so-sure KPI</h1>
    </div>
</div>
    <div class="row">
        <div class="col-md-11">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                    <th></th>
                    {% for week in weeks %}
                        <td>{{ week.start_date|date('d M Y') }} - {{ week.end_date|date('d M Y') }}</td>
                    {% endfor %}
                    </tr>
                    </thead>
                    {# dump(weeks) #}
                    <tbody>
                        <tr>
                            <td>Avg Policy Price [KPI: 14]</td>
                            {% for week in weeks %}
                                <td>£{{ (week.total.data['newPoliciesAvgPremium'] / 52) |number_format(2, '.', ',') }}
                                ({{ week.total.data['newPoliciesAvgPremium'] }} / 52)</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total Policies [KPI: 17]</td>
                            {% for week in weeks %}
                                <td>{{ week.total.data['newPolicies'] - week.total.data['endingEndingPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>New Policies [KPI: 21]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['newPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Cancellations  [KPI: 29]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['endingUserRequestedPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Cooloffs [KPI: 30]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['endingCooloffPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Approved Claims [KPI: 34]</td>
                            {% for week in weeks %}
                                <td>{{ week.period['approvedClaims']['total'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Invitations [KPI: 40]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['newInvitationPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Connections [KPI: 41]</td>
                            {% for week in weeks %}
                                <td>{{ week.period['new_connections'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total Site Visitors [KPI: 144]</td>
                            {% for week in weeks %}
                                <td>{{ week['mixpanel-total-site-visitors'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Quote Page UK [KPI: 145]</td>
                            {% for week in weeks %}
                                <td>{{ week['mixpanel-quotes-uk'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Receive Personal Details [KPI: 146]</td>
                            {% for week in weeks %}
                                <td>{{ week['mixpanel-receive-personal-details'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Google App Installs</td>
                            {% for week in weeks %}
                                <td>{{ week['install-google'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Apple App Installs</td>
                            {% for week in weeks %}
                                <td>{{ week['install-apple'] }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
