{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/moment/moment.min.js'
        'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js'
        '@AppBundle/Resources/public/js/Admin/charge.js'
        '@AppBundle/Resources/public/js/AdminEmployee/kpi.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container" style="margin-bottom: 50px">

    <div class="row">
        <div class="col-md-6">
            <h1>so-sure KPI</h1>
        </div>
        <form id='kpi-form' method="POST">
            <div class="col-md-2">
                <div class="form-group" style="padding-top: 15px;">
                    <div class='input-group date' id='kpi'>
                        <input name="kpi" type='text' class="form-control" value="{{ now|date('d-m-Y') }}" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" style="padding-top: 15px;">
                    <button class="btn btn-primary">Adjust date</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-11">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                    <th></th>
                    {% for week in weeks %}
                        <td>{{ week.start_date|date('d M Y') }} - {{ week.end_date|date('d M Y') }}</td>
                    {% endfor %}
                    </tr>
                    </thead>
                    {# dump(weeks) #}
                    <tbody>
                        <tr>
                            <td>Avg Policy Price [KPI: 14]</td>
                            {% for week in weeks %}
                                <td>£{{ (week.total.data['newPoliciesAvgPremium'] / 52) |number_format(2, '.', ',') }}
                                ({{ week.total.data['newPoliciesAvgPremium'] }} / 52)</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Run Rate Premium [KPI: 16]</td>
                            {% for week in weeks %}
                                <td>£{{ week.total.data['totalRunRate'] |number_format(2, '.', ',') }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Active Policies [KPI: 19]</td>
                            {% for week in weeks %}
                                {# as upgrades will be included in new and taken off ending is the same as if using adjUpgrade on both #}
                                <td>{{ week.total.data['newPolicies'] - week.total.data['endingEndingPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>New Policies [KPI: 24] (adjusted for Upgrades)</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['newPoliciesAdjUpgrade'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total Cancellations - User Requested [KPI: 35]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['endingUserRequestedPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total Cancellations - Unpaid [KPI: 36]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['endingUnpaidPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total Cooloffs [KPI: 37]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['endingCooloffPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total Cancellations - Other [KPI: 38]</td>
                            {% for week in weeks %}
                                <td>{{ (week.period.data['endingActualFraudPolicies'] + week.period.data['endingSuspectedFraudPolicies'] + week.period.data['endingBadRiskPolicies'] + week.period.data['endingDispossessionPolicies'] + week.period.data['endingWreckagePolicies']  )}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Undesired Cancellations - User Requested [KPI: 40]</td>
                            {% for week in weeks %}
                                <td>{{ (week.period.data['endingUserRequestedPolicies'] - week.period.data['desiredEndingUserRequestedPolicies']) }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Undesired Cancellations - Unpaid [KPI: 41]</td>
                            {% for week in weeks %}
                                <td>{{ (week.period.data['endingUnpaidPolicies'] - week.period.data['desiredEndingUnpaidPolicies']) }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Undesired Cooloffs [KPI: 42]</td>
                            {% for week in weeks %}
                                <td>{{ (week.period.data['endingCooloffPolicies'] - week.period.data['desiredEndingCooloffPolicies']) }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Undesired Cancellations - Other [KPI: 43]</td>
                            {% for week in weeks %}
                                <td>{{ ( week.period.data['endingActualFraudPolicies'] + week.period.data['endingSuspectedFraudPolicies'] + week.period.data['endingBadRiskPolicies'] + week.period.data['endingDispossessionPolicies'] + week.period.data['endingWreckagePolicies']  - week.period.data['desiredEndingActualFraudPolicies'] - week.period.data['desiredEndingSuspectedFraudPolicies'] - week.period.data['desiredEndingBadRiskPolicies'] - week.period.data['desiredEndingDispossessionPolicies'] - week.period.data['desiredEndingWreckagePolicies'] ) }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Policy Upgrades [KPI: 45]
                            </td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['endingUpgradePolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>FNOL Claims [KPI: 48]
                                    <span class="badge" title="Days delayed - requires input by davies so may be missed">-3 (approx)</span>
                            </td>
                            {% for week in weeks %}
                                <td>{{ week.period['claims']['total'] }}
                                    <i class="fa fa-clock-o" title="Value is delayed"></i>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Approved Claims [KPI: 50]
                                    <span class="badge" title="Days delayed - requires input by davies so may be missed">-3 (approx)</span>
                            </td>
                            {% for week in weeks %}
                                <td>{{ week.period['approvedClaims']['total'] }}
                                    <i class="fa fa-clock-o" title="Value is delayed"></i>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Approved Claim Freq (avg weekly)</td>
                            {% for week in weeks %}
                                <td>{{ (100 * week['freq-claims']) | number_format(1, '.', ',') }}%</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td># Invitations - Email [KPI: 56]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['newInvitationPolicies'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td># Viewed Invitations - Email [KPI: 57]</td>
                            {% for week in weeks %}
                                <td>{% if week['mixpanel-view-invitation-email'] is defined %}{{ week['mixpanel-view-invitation-email'] }}{% else %}unknown - see mixpanel{% endif %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td># Invitations - SCode [KPI: 58]</td>
                            {% for week in weeks %}
                                <td>{% if week['mixpanel-invite-someone'] is defined %}{{ week['mixpanel-invite-someone'] }}{% else %}unknown - see mixpanel{% endif %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td># Viewed Invitations - SCode [KPI: 59]</td>
                            {% for week in weeks %}
                                <td>{% if week['mixpanel-view-invitation-scode'] is defined %}{{ week['mixpanel-view-invitation-scode'] }}{% else %}unknown - see mixpanel{% endif %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td># Connections [KPI: 60]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['newActiveConnections'] - week.period.data['newEndedConnections'] }} ( Active: {{ week.period.data['newActiveConnections'] }} - Ending: {{ week.period.data['newEndedConnections'] }} )</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total Connections [KPI: 61 - just validate]</td>
                            {% for week in weeks %}
                                <td>{{ week.period.data['totalActiveConnections'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>New Policies via Invitation [KPI: 105]</td>
                            {% for week in weeks %}
                                <td>{{ (week.period.data['newInvitationPolicies'] + week.period.data['newSCodePolicies']) }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total Site Visitors [KPI: 197]</td>
                            {% for week in weeks %}
                                <td>{{ week['mixpanel-total-site-visitors'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Quote Page UK [KPI: 198]</td>
                            {% for week in weeks %}
                                <td>{{ week['mixpanel-quotes-uk'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>CPC Quote Page [KPI: 199]</td>
                            {% for week in weeks %}
                                <td>{% if week['mixpanel-cpc-quotes-uk'] is defined %}{{ week['mixpanel-cpc-quotes-uk'] }}{% elseif week['mixpanel-landing-uk'] is defined %}{{ week['mixpanel-landing-uk'] }}{% else %}unknown - see mixpanel{% endif %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>CPC Manufacturer Page [KPI: 200]</td>
                            {% for week in weeks %}
                                <td>{% if week['mixpanel-cpc-manufacturer-uk'] is defined %}{{ week['mixpanel-cpc-manufacturer-uk'] }}{% else %}unknown - see mixpanel{% endif %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Click Buy Now [KPI: 201]</td>
                            {% for week in weeks %}
                                <td>{% if week['mixpanel-click-buy-now'] is defined %}{{ week['mixpanel-click-buy-now'] }}{% else %}unknown - see mixpanel{% endif %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Receive Personal Details [KPI: 202]</td>
                            {% for week in weeks %}
                                <td>{{ week['mixpanel-receive-personal-details'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Apple App Installs [KPI: 233]
                                    <span class="badge" title="Days delayed">-4</span>
                            </td>
                            {% for week in weeks %}
                                <td>
                                    {{ week['install-apple'] }}
                                    <i class="fa fa-clock-o" title="Value is delayed"></i>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Google App Installs [KPI: 234]
                                    <span class="badge" title="Days delayed">-4</span>
                            </td>
                            {% for week in weeks %}
                                <td>
                                    {{ week['install-google'] }}
                                    <i class="fa fa-clock-o" title="Value is delayed"></i>
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
