{% extends 'admin_claims_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/AdminEmployee/payments.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container" style="margin-bottom: 50px">

    <div class="row">
        <div class="col-md-6">
            <h1>Card Payments for {{ month }} / {{ year }}</h1>
        </div>
        <form id='payments-form' method="POST">
        <div class="col-md-2">
            <div class="form-group" style="padding-top: 15px;">
                <div class='input-group date' id='payments'>
                    <input name="banking" type='text' class="form-control" value="{{month}}-{{year}}" />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" style="padding-top: 15px;">
                <button class="btn btn-primary">View Month</button>
            </div>
        </div>
        </form>
    </div>

    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#checkout">Checkout</a></li>
        <li role="presentation"><a href="#judo">Judo</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="judo">
            <table>
                <tr>
                    <th width="15%">Day</th>
                    <th width="15%">Web Overall</th>
                    <th width="15%">Web Standard</th>
                    <th width="15%">Web Unpaid</th>
                    <th width="15%">Web Remainder</th>
                    <th width="15%">Web (unique/eventual paid Policy)</th>
                    <th width="15%">Token</th>
                    <th width="15%">Mobile</th>
                    <th width="15%">ApplePay</th>
                </tr>
                {% for i in 1..31 %}
                    <tr>
                        <td width="15%">{{i }}</td>
                        <td width="15%">{{ judo[i]['web']['success'] }} / {{ judo[i]['web']['total'] }} ({{ (judo[i]['web']['success_percent']*100)|number_format(0, '.', ',') }}%)</td>
                        <td width="15%">{{ judo[i]['web-standard']['success'] }} / {{ judo[i]['web-standard']['total'] }} ({{ (judo[i]['web-standard']['success_percent']*100)|number_format(0, '.', ',') }}%)</td>
                        <td width="15%">{{ judo[i]['web-unpaid']['success'] }} / {{ judo[i]['web-unpaid']['total'] }} ({{ (judo[i]['web-unpaid']['success_percent']*100)|number_format(0, '.', ',') }}%)</td>
                        <td width="15%">{{ judo[i]['web-remainder']['success'] }} / {{ judo[i]['web-remainder']['total'] }} ({{ (judo[i]['web-remainder']['success_percent']*100)|number_format(0, '.', ',') }}%)</td>
                        <td width="15%">{{ judo[i]['policy']['success'] }} / {{ judo[i]['policy']['total'] }} ({{ (judo[i]['policy']['success_percent']*100)|number_format(0, '.', ',') }}%)</td>
                        <td width="15%">{{ judo[i]['token']['success'] }} / {{ judo[i]['token']['total'] }} ({{ (judo[i]['token']['success_percent']*100)|number_format(0, '.', ',') }}%)</td>
                        <td width="15%">{{ judo[i]['mobile']['success'] }} / {{ judo[i]['mobile']['total'] }} ({{ (judo[i]['mobile']['success_percent']*100)|number_format(0, '.', ',') }}%)</td>
                        <td width="15%">{{ judo[i]['apple-pay']['success'] }} / {{ judo[i]['apple-pay']['total'] }} ({{ (judo[i]['apple-pay']['success_percent']*100)|number_format(0, '.', ',') }}%)</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div role="tabpanel" class="tab-pane active" id="checkout">
            <table>
                <tr>
                    <th width="15%">Day</th>
                    <th width="15%">Web Overall</th>
                    <th width="15%">Web Standard</th>
                    <th width="15%">Web Unpaid</th>
                    <th width="15%">Web Remainder</th>
                    <th width="15%">Web (unique/eventual paid Policy)</th>
                    <th width="15%">Token</th>
                    <th width="15%">Mobile</th>
                    <th width="15%">ApplePay</th>
                </tr>
                {% for i in 1..31 %}
                    <tr>
                        <td width="15%">{{i }}</td>
                        <td width="15%">{{ checkout[i]['web']['success'] }} / {{ checkout[i]['web']['total'] }} ({{ (checkout[i]['web']['success_percent']*100)|number_format(0, '.', ',') }}%)</td>
                        <td width="15%">{{ checkout[i]['web-standard']['success'] }} / {{ checkout[i]['web-standard']['total'] }} ({{ (checkout[i]['web-standard']['success_percent']*100)|number_format(0, '.', ',') }}%)</td>
                        <td width="15%">{{ checkout[i]['web-unpaid']['success'] }} / {{ checkout[i]['web-unpaid']['total'] }} ({{ (checkout[i]['web-unpaid']['success_percent']*100)|number_format(0, '.', ',') }}%)</td>
                        <td width="15%">{{ checkout[i]['web-remainder']['success'] }} / {{ checkout[i]['web-remainder']['total'] }} ({{ (checkout[i]['web-remainder']['success_percent']*100)|number_format(0, '.', ',') }}%)</td>
                        <td width="15%">{{ checkout[i]['policy']['success'] }} / {{ checkout[i]['policy']['total'] }} ({{ (checkout[i]['policy']['success_percent']*100)|number_format(0, '.', ',') }}%)</td>
                        <td width="15%">{{ checkout[i]['token']['success'] }} / {{ checkout[i]['token']['total'] }} ({{ (checkout[i]['token']['success_percent']*100)|number_format(0, '.', ',') }}%)</td>
                        <td width="15%">{{ checkout[i]['mobile']['success'] }} / {{ checkout[i]['mobile']['total'] }} ({{ (checkout[i]['mobile']['success_percent']*100)|number_format(0, '.', ',') }}%)</td>
                        <td width="15%">{{ checkout[i]['apple-pay']['success'] }} / {{ checkout[i]['apple-pay']['total'] }} ({{ (checkout[i]['apple-pay']['success_percent']*100)|number_format(0, '.', ',') }}%)</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>
{% endblock %}
