{% extends 'admin_claims_base.html.twig' %}

{% macro display_actions(phone) %}
  <button title="Alternatives" type="button" class="btn {% if phone.suggestedReplacement %}btn-info{% elseif phone.replacementPrice > 0 %}btn-info{% else %}btn-primary{% endif %}" data-toggle="modal" data-target="#alternativeModal"
      data-query="{% if is_granted('ROLE_EMPLOYEE') %}{{ path('admin_phone_alternatives', {'id': phone.id}) }}{% else %}{{ path('claims_phone_alternatives', {'id': phone.id}) }}{% endif %}"
      data-phone="{{ phone.toAlternativeArray()|json_encode }}"
      {% if phone.replacementPrice > 0 %}disabled="disabled"{% endif %}
      ><i class="fa fa-book"></i></button>
  <button title="Add Pricing" type="button" class="btn btn-primary" data-toggle="modal" data-target="#phoneModal"
      data-update="{{ path('admin_phone_price', {'id': phone.id}) }}"
      data-ipt-rate="{{ phone.currentIptRate }}"
      data-salva-standard="{{ phone.getSalvaBinderMonthlyPremium }}"
      data-salva-min="{{ phone.getSalvaMiniumumBinderMonthlyPremium }}"
      data-phone="{{ phone.toPriceArray()|json_encode }}"><i class="fa fa-gbp"></i></button>
  <button title="Edit Phone Details" type="button" class="btn {% if phone.description|length > 0 or phone.funFacts|length > 0 %}btn-primary{% else %}btn-info{% endif %}" data-toggle="modal" data-target="#detailsModal"
      data-update="{{ path('admin_phone_details', {'id': phone.id}) }}"
      data-phone="{{ phone.toDetailsArray()|json_encode }}"><i class="fa fa-pencil"></i></button>
  <button title="Deactive Phone" type="button" class="btn btn-warning phone-active" data-token="{{ csrf_token('default') }}"
          data-active="{{ path('admin_phone_active', {'id': phone.id}) }}"><i class="fa fa-power-off"></i></button>
  <button title="(Un)Highlight Phone" type="button" class="btn {% if phone.highlight %}btn-danger{% else %}btn-warning{% endif %} phone-highlight" data-token="{{ csrf_token('default') }}"
          data-highlight="{{ path('admin_phone_highlight', {'id': phone.id}) }}"><i class="fa fa-flash"></i></button>
  <button title="Notify users there will be a delay with claims due to the phone being new and in high demand" type="button"
          class="btn {% if phone.isNewHighDemand %}btn-danger{% else %}btn-warning{% endif %} phone-newhighdemand" data-token="{{ csrf_token('default') }}"
          data-newhighdemand="{{ path('admin_phone_newhighdemand', {'id': phone.id}) }}">
        <i class="fa fa-gift"></i></button>
{% endmacro display_actions %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    'components/datatables.net-bs/dataTables.bootstrap.min.css'
    '@AppBundle/Resources/public/sass/page/admin.scss'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/datatables.net/jquery.dataTables.min.js'
        'components/datatables.net-bs/dataTables.bootstrap.min.js'
        '@AppBundle/Resources/public/js/tabs.js'
        '@AppBundle/Resources/public/js/AdminEmployee/phone.js'
        '@AppBundle/Resources/public/js/Claims/phoneAlternativesModal.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% import _self as this %}
{% block body %}
<div class="container">
    <div class="bg-info" style="border-radius: 10px; padding: 10px;">
    <div class="row">
      <div class="col-sm-5">
        <h4 class="text-center"><strong>Phones</strong></h4>
      </div>
      <div class="col-sm-7">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-success"  data-toggle="modal" data-target="#newPhoneModal">
              <i class="fa fa-plus"></i> Upcoming phone
            </button>
            {% if is_granted('ROLE_ADMIN') %}
              <button class="btn btn-success"  data-toggle="modal" data-target="#additionalPhonesModal">
                  <i class="fa fa-refresh"></i> Import phones
              </button>
            {% endif %}
            <button class="btn btn-success"  data-toggle="modal" data-target="#checkPriceModal">
              <i class="fa fa-calculator"></i> Premium
            </button>
              <a href="{{ path('admin_phones_download') }}" target="_blank" rel="noopener noreferrer" class="btn btn-success">
                  <i class="fa fa-download"></i> Phone Links
              </a>
          </div>
      </div>
    </div>
    <div class="row">
    {{ form_start(form) }}
        <div class="form-group col-sm-8">
            {{ form_label(form.os, 'Os', {'label_attr': {'class': 'col-sm-2'}}) }}
            {{ form_errors(form.os) }}
            {{ form_widget(form.os, {'attr': {'class': 'col-sm-10 os'}}) }}
        </div>
        <div class="form-group col-sm-4">
            {{ form_label(form.active, 'Active', {'label_attr': {'class': 'col-sm-4'}}) }}
            {{ form_errors(form.active) }}
            {{ form_widget(form.active, {'attr': {'class': 'col-sm-6'}}) }}
        </div>
        <div class="form-group col-sm-3">
            {{ form_label(form.rules, 'Business rules', {'label_attr': {'class': 'col-sm-6'}}) }}
            {{ form_errors(form.rules) }}
            {{ form_widget(form.rules, {'attr': {'class': 'col-sm-6'}}) }}
        </div>
        <div class="form-group col-sm-3">
            {{ form_label(form.make, 'Make', {'label_attr': {'class': 'col-sm-4'}}) }}
            {{ form_errors(form.make) }}
            {{ form_widget(form.make, {'attr': {'class': 'col-sm-8'}}) }}
        </div>
        <div class="form-group col-sm-3">
            {{ form_label(form.model, 'Model', {'label_attr': {'class': 'col-sm-4'}}) }}
            {{ form_errors(form.model) }}
            {{ form_widget(form.model, {'attr': {'class': 'col-sm-8'}}) }}
        </div>
        <div class="form-group col-sm-3">
          <div class="col-sm-2 col-sm-offset-3 text-center">
            {{ form_widget(form.search, {'label': 'Search', 'attr': {'class': 'btn btn-success'}}) }}
          </div>
        </div>

    {{ form_end(form) }}
    </div>
  </div>
  <form style="margin: 20px 0;">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="active"><a href="#financial">Financial</a></li>
      <li role="presentation"><a href="#device">Device</a></li>
      <li role="presentation"><a href="#replacement">Replacement</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="financial">
            <div class="table-responsive">
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Phone</th>
                        <th>Monthly Premium</th>
                        <th>Binder Monthly Premium (Min)</th>
                        <th>Yearly Premium</th>
                        <th>Max Pot / Max Connections</th>
                        <th>Policy Profit ({{ expected_claim_frequency * 100 }}% Claims)
                          <i class="fa fa-question" title=""></i>
                        </th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for phone in phones %}
                      {% set phoneProfit = phone.policyProfit(expected_claim_frequency, consumer_payout, ipt_rebate) %}
                        <tr {% if not phone.active %}class="danger"{% endif %}>
                            <td><a href="{{ path('quote_phone', {'id': phone.id}) }}">{{ phone }}</a>
                            {% if phone.shouldBeRetired %}<span class="text-danger"><i class="fa fa-time" title="{{ phone.monthAge }} months old"></i></span>{% endif %}
                            </td>
                            {% if phone.currentPhonePrice %}
                            <td>
                              £{{ phone.currentPhonePrice.monthlyPremiumPrice|number_format(2, '.', ',') }}
                              {% if phone.previousPhonePrices | length > 0 %}
                                <i class="fa fa-history" style="cursor: pointer" title="{{ phone.getPreviousPhonePricesAsString }}"></i>
                              {% endif %}
                              {% if phone.futurePhonePrices | length > 0 %}
                                <i class="fa fa-level-up" style="cursor: pointer" title="{{ phone.getFuturePhonePricesAsString }}"></i>
                              {% endif %}
                            </td>
                            <td>
                              £{{ phone.getSalvaBinderMonthlyPremium|number_format(2, '.', ',') }}
                              (£{{ phone.getSalvaMiniumumBinderMonthlyPremium|number_format(2, '.', ',') }})
                            </td>
                            <td>£{{ phone.currentPhonePrice.yearlyPremiumPrice|number_format(2, '.', ',') }}</td>
                            <td>£{{ phone.currentPhonePrice.maxPot|number_format(2, '.', ',') }} /
                            {{ phone.currentPhonePrice.maxConnections }}</td>
                            <td><span class="{% if phoneProfit > 0 %}text-success{% else %}text-warning{%endif %}">
                            {% if phoneProfit is null %}unknown{% else %}{{ phoneProfit|number_format(2, '.', ',') }}{% endif %}
                            </span>
                            </td>
                            {% else %}
                              <td>-</td>
                              <td>
                                {% if phone.getSalvaBinderMonthlyPremium %}-
                                {% else %}
                                  <b>No possible binder!</b>
                                {% endif %}
                              </td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                            {% endif %}
                            <td width="202px">
                              {{ this.display_actions(phone) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="pagerfanta">
                {{ pagerfanta(pager, 'twitter_bootstrap3') }}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="device">
            <div class="table-responsive">
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Phone</th>
                        <th>Devices</th>
                        <th>Os</th>
                        <th>Processor</th>
                        <th>Ram</th>
                        <th>SSD Slot</th>
                        <th>Physical Screen</th>
                        <th>Screen Resolution</th>
                        <th>Camera</th>
                        <th>4G</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for phone in phones %}
                        <tr {% if not phone.active %}class="danger"{% endif %}>
                            <td>{{ phone }}</td>
                            <td><span title="{{ phone.devices|join(", ") }}">{{ phone.devices|length }}</span></td>
                            <td>{{ phone.osString }}</td>
                            <td>{{ phone.processorSpeed }}Mhz ({{ phone.processorCores }} cores)</td>
                            <td>{{ phone.ram }} MB</td>
                            <td>{% if phone.ssd %}Yes{%else%}No{%endif%}</td>
                            <td>{{ phone.screenPhysicalInch }}" ({{ phone.screenPhysical }} mm)</td>
                            <td>{{ phone.screenResolution }}</td>
                            <td>{{ phone.camera }} MP</td>
                            <td>{% if phone.lte %}Yes{%else%}No{%endif%}</td>
                            <td width="202px">
                              {{ this.display_actions(phone) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="pagerfanta">
                {{ pagerfanta(pager, 'twitter_bootstrap3') }}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="replacement">
            <div class="table-responsive">
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Phone</th>
                        <th>Initial Price</th>
                        <th>Replacement Price</th>
                        <th>Suggested Replacement Phone</th>
                        <th>Age</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for phone in phones %}
                        <tr {% if not phone.active %}class="danger"{% endif %}>
                            <td>{{ phone }}</td>
                            <td>£{{ phone.initialPrice|number_format(2, '.', ',') }}</td>
                            <td>
                                {% if phone.suggestedReplacement %}
                                    £{{ phone.suggestedReplacement.replacementPrice|number_format(2, '.', ',') }}
                                    <i class="fa fa-info-circle" title="Replacement Price for suggested {{ phone.suggestedReplacement }}"></i>
                                    {% if phone.suggestedReplacement.initialPrice > phone.initialPrice + 30 %}
                                      <i class="fa fa-warning" title="Suggested replacement phone is more than £30 than original (£{{ phone.suggestedReplacement.initialPrice - phone.initialPrice }})"></i>
                                    {% endif %}
                                {% elseif phone.replacementPrice > 0 %}
                                    £{{ phone.replacementPrice|number_format(2, '.', ',') }}
                                {% endif %}
                            </td>
                            <td>
                                {% if phone.suggestedReplacement %}
                                    {{ phone.suggestedReplacement }}
                                {% elseif phone.replacementPrice %}
                                  Direct replacement available
                                {% endif %}
                            </td>
                            <td><span class="{% if phone.shouldBeRetired %}text-danger{% else %}text-muted{% endif %}">{{ phone.monthAge }} months</span></td>
                            <td width="152px">
                              {{ this.display_actions(phone) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="pagerfanta">
                {{ pagerfanta(pager, 'twitter_bootstrap3') }}
            </div>
        </div>
    </div>
  </form>
</div>

    {% include 'AppBundle::Claims/phoneAlternativesModal.html.twig' %}

    <div class="modal fade" id="phoneModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document" style="width: 60%;">
        <div class="modal-content">
          <form id="phone-update-form" class="form-horizontal" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">New phone</h4>
          </div>
          <div class="modal-body">
            <table id="prices" width="100%" cellspacing="0" class="table-striped"></table>
            <hr class="strong" />
            <h4>Add new price</h4>

              <div class="row">
                <div class="col-sm-6">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title">Dates</h3>
                      </div>
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <label for="phone-gwp" class="control-label col-sm-3">
                                      {# from tech perspective, 1 second, from business perspective 1 business day #}
                                    <i class="fa fa-warning" title="Must be in the future.  However, it can take up to 10 minutes after the date/time entered before policy prices will be guarenteed due to possible purchaes in progress."></i>&nbsp;
                                    From:
                                  </label>
                                  <div class="col-sm-9">
                                    <div class='input-group date' id='phone-from-group'>
                                      <input type="text" class="form-control" id="phone-from" name="from" required="required">
                                      <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                      </span>
                                    </div>
                                      <br>
                                      Must be <strong>{{ one_day|date("F j, Y H:i", "Europe/London") }}</strong> or later <br>
                                      (1 business day)
                                  </div>
                                </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <label for="phone-gwp" class="control-label col-sm-3">To:</label>
                                  <div class="col-sm-9">
                                    <div class='input-group date' id='phone-to-group'>
                                      <input type="text" class="form-control" id="phone-to" name="to">
                                      <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title">Price</h3>
                      </div>
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-sm-12">
                                  <div class="form-group">
                                      <label for="phone-gwp" class="control-label col-sm-3">Desired Premium:</label>
                                      <div class="col-sm-9">
                                          <div class="input-group has-warning has-feedback">
                                    <span class="input-group-addon">
                                      <span>£</span>
                                    </span>
                                              <input title="This field does not save and will only calculate the GWP field if calculate is clicked"
                                                     type="text" class="form-control" id="phone-desired-premium" name="desired-premium">
                                              <span class="input-group-btn">
                                                <button type="button" id="phone-desired-premium-btn" class="btn btn-success">Calc GWP</button>
                                              </span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label for="phone-gwp" class="control-label col-sm-3">GWP:</label>
                                <div class="col-sm-9">
                                  <div class="input-group">
                                    <span class="input-group-addon">
                                      <span>£</span>
                                    </span>
                                    <input type="text" class="form-control" id="phone-gwp" name="gwp">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <label for="phone-premium" class="control-label col-sm-3">Premium:</label>
                                  <div class="col-sm-9">
                                    <div class="input-group">
                                      <span class="input-group-addon">
                                        <span>£</span>
                                      </span>
                                      <input type="text" class="form-control" id="phone-premium" name="premium" readonly="true" disabled="disabled">
                                    </div>
                                      <br>
                                      <label for="phone-premium" class="control-label col-sm-6">Salva Std/Min:</label>
                                      <div class="col-sm-6">
                                          <label class="control-label" id="phone-salva" name="salva"></label>
                                      </div>

                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="phone-notes" class="control-label col-sm-2">Notes</label>
                        <div class="col-sm-10">
                          <textarea class="control-label" id="phone-notes" name="notes" style="width:100%;text-align: left;"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Excess</h3>
                        </div>
                        <div class="panel-body">
                          <div class="row">
                              <div class="col-sm-12">
                                  Ability to adjust excess coming in the future. For now, default excess of:
                                  {{ policyTerms.getDefaultExcess }} will be used.
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">pic-sure Excess</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    Ability to adjust excess coming in the future. For now, default pic-sure approved excess of:
                                    {{ policyTerms.getDefaultPicSureExcess }}  will be used.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="token" value="{{ csrf_token('default') }}" />
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document" style="width: 60%;">
        <div class="modal-content">
        <form id="details-update-form" class="form-horizontal" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Edit Phone Details</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-8 col-offset-2">
                <div class="form-group">
                  <label for="details-description" class="control-label col-sm-2">Description</label>
                  <div class="col-sm-10">
                    <textarea class="control-label" id="details-description" name="description" style="width:100%;text-align: left;"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-offset-2">
                <div class="form-group">
                  <label for="details-fun-facts" class="control-label col-sm-2">Fun Facts</label>
                  <div class="col-sm-10">
                    <textarea class="control-label" id="details-fun-facts" name="fun-facts" style="width:100%;text-align: left;"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="row">
                <div class="col-sm-8 col-offset-2">
                    <div class="form-group">
                        <label for="details-canonical-path" class="control-label col-sm-2">Canonical Path</label>
                        <div class="col-sm-10">
                            <input type="text" class="control-label" id="details-canonical-path" name="canonical-path" placeholder="/mobile-insurance/iphone-7" style="width:100%;text-align: left;"></input><br>
                            This will set the canonical path on the quote page as well as adjust the sitemap entries.
                        </div>
                    </div>
                </div>
            </div>
          <div class="modal-footer">
            <input type="hidden" name="token" value="{{ csrf_token('default') }}" />
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="checkPriceModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 60%;">
            <div class="modal-content">
                <form id="check-price-form" class="form-horizontal" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Calculate monthly premium based on original phone price</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-8 col-offset-2">
                                <div class="form-group">
                                    <label for="details-description" class="control-label col-sm-6">Enter original phone price</label>
                                    <div class="col-sm-6">
                                        <input type="number" class="control-label" id="check-initial-price" name="initial-price" style="width:100%;text-align: left;"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-offset-2">
                                <div class="form-group">
                                    <label for="details-fun-facts" class="control-label col-sm-6">Calculated monthly premium</label>
                                    <div class="col-sm-6">
                                        <input type="text" readonly class="control-label" id="check-calculated-premium" name="calculated" style="width:100%;text-align: left;"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-token="{{ csrf_token('default') }}" id="checkPremiumButton">Calculate Premium</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="newPhoneModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document" style="width: 60%;">
        <div class="modal-content">
        {{ form_start(new_phone) }}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">New Phone Details</h4>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="form-group col-sm-4">
                    {{ form_label(new_phone.make, 'Make') }}
                </div>
                <div class="form-group col-sm-4">
                    {{ form_errors(new_phone.make) }}
                    {{ form_widget(new_phone.make) }}
                </div>
                <div class="form-group col-sm-4">
                    {% for make in makes %}<span class="small">{{ make }}</span> {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    {{ form_label(new_phone.model, 'Model') }}
                </div>
                <div class="form-group col-sm-4">
                    {{ form_errors(new_phone.model) }}
                    {{ form_widget(new_phone.model) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    {{ form_label(new_phone.os, 'OS') }}
                </div>
                <div class="form-group col-sm-4">
                    {{ form_errors(new_phone.os) }}
                    {{ form_widget(new_phone.os) }}
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <p>Remember to set active afterwards!</p>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            {{ form_widget(new_phone.add, {'attr':{'class': 'btn btn-success'}}) }}
          </div>
        {{ form_end(new_phone) }}
        </div>
      </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="modal fade" id="additionalPhonesModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document" style="width: 60%;">
        <div class="modal-content">
        {{ form_start(additional_phones) }}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Additional Phones</h4>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                  <p>Please select the file of additional phones to load into the database.</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    {{ form_label(additional_phones.file, 'File') }}
                </div>
                <div class="form-group col-sm-4">
                    {{ form_errors(additional_phones.file) }}
                    {{ form_widget(additional_phones.file) }}
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            {{ form_widget(additional_phones.load, {'attr':{'class': 'btn btn-success'}}) }}
          </div>
        {{ form_end(additional_phones) }}
        </div>
      </div>
    </div>
    {% endif %}
{% endblock %}
