{% extends 'admin_claims_base_rebrand.html.twig' %}
{% form_theme picsure_search_form with ['AppBundle:Form:fields.html.twig', 'AppBundle:Form:submit.html.twig'] %}

{# Set vars #}
{% set body_class = 'admin-pic-sure' %}

{% block title %}pic-sure{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
   {#  <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}"> #}
{% endblock %}

{% block body %}

    <section class="py-4 px-md-4">
        <div class="container-fluid">
            {# TODO: Heading area #}
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">pic-sure - {{ status }}</h1>
            </div>
            {# TODO: Controls area #}
            <div class="card card-page-filter mb-5">
                <div class="card-body">
                    {{ form_start(picsure_search_form, {'attr': {'class': 'form-inline'}}) }}
                        <label class="mr-md-2">Type: </label>
                        {{ form_widget(picsure_search_form.status, {'attr': {'class': 'form-control'}}) }}
                        {{ form_widget(picsure_search_form.search, {'attr':{'class':'btn btn-success btn-block-xs mt-2 mt-md-0 ml-md-2'}}) }}
                    {{ form_end(picsure_search_form) }}
                </div>
            </div>
            {% if policies|length == 0 %}
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>No records found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th width="20%">User</th>
                                <th width="20%">Phone</th>
                                <th width="10%">Status</th>
                                <th width="30%">Submitted</th>
                                <th width="20%">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for policy in policies %}
                                {# TODO: Set table row colour based of ML score eventually #}
                                <tr>
                                    {# Policy #}
                                    <td><a href="{{ path('admin_policy', {'id': policy.id}) }}">{{ policy.policyNumber }}</a></td>
                                    {# Fraud Check #}
                                    <td>{{ policy.phone }}</td>
                                    <td>
                                        {% if policy.picSureCircumvention is null %}
                                            <i class="fal fa-clock fa-lg" title="Pre anti-fraud check" data-toggle="tooltip" data-placement="top"></i>
                                        {% elseif policy.picSureCircumvention == true %}
                                            <i class="fal fa-exclamation-triangle fa-lg" title="Possible Fraud i.e. too many attempts to do pic-sure and imei upload was too long, check events in mixpanel" data-toggle="tooltip" data-placement="top"></i>
                                        {% elseif policy.picSureCircumvention == false %}
                                            <i class="fal fa-thumbs-up fa-lg" title="No Fraud Detected" data-toggle="tooltip" data-placement="top"></i>
                                        {% endif %}
                                    </td>
                                    {# Submitted image(s) #}
                                    <td>
                                        {% for file in policy.getPolicyPicSureFiles %}
                                            <a href="{{ path('admin_picsure_image', {'file': file.key }) }}"
                                               class="no-style"
                                               data-fancybox="{{ policy.policyNumber }}"
                                               data-caption="
                                                {% if 'picsure-status' in file.getMetadata()|keys %}
                                                    {% if 'picsure-ml-status' in file.getMetadata()|keys and 'picsure-ml-confidence' in file.getMetadata()|keys %}
                                                        {{ file.getMetadata()['picsure-ml-status']|capitalize }} with confidence {{ file.getMetadata()['picsure-ml-confidence']*100.0|number_format(2, '.', ',') }}&percnt;
                                                    {% else %}
                                                        {% if 'undamaged' in file.getMetadata()['picsure-ml-score']|keys %}
                                                            undamaged ({{ (file.getMetadata()['picsure-ml-score']['undamaged']*100.0)|number_format(0, '.', ',') }}&percnt;)
                                                        {% endif %}

                                                        {% if 'invalid' in file.getMetadata()['picsure-ml-score']|keys %}
                                                            invalid ({{ (file.getMetadata()['picsure-ml-score']['invalid']*100.0)|number_format(0, '.', ',') }}&percnt;)
                                                        {% endif %}

                                                        {% if 'damaged' in file.getMetadata()['picsure-ml-score']|keys %}
                                                            damaged ({{ (file.getMetadata()['picsure-ml-score']['damaged']*100.0)|number_format(0, '.', ',') }}&percnt;)
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                               ">
                                                <img src="{{ path('admin_picsure_image', {'file': file.key }) }}" width="40px" height="40px" class="mb-1">
                                            </a>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% if policy.picSureStatus == 'manual' %}
                                            <a href="{{ path('admin_picsure_approve', {'id': policy.id}) }}"
                                               class="btn btn-success btn-confirm btn-sm mb-1 mr-md-2"
                                               title="Approve pic-sure"
                                               >
                                               <i class="far fa-check fa-lg fa-fw"></i>
                                               <span class="sr-only">Approve</span></a>
                                            <a href="#"
                                               class="btn btn-warning btn-sm mb-1 mr-md-2"
                                               title="Invalidate pic-sure"
                                               data-toggle="modal"
                                               data-target="#invalid_modal"
                                               data-policy-number="{{ policy.policyNumber }}"
                                               data-submit="{{ path('admin_picsure_invalid', {'id': policy.id}) }}">
                                               <i class="far fa-exclamation-triangle fa-lg fa-fw"></i>
                                               <span class="sr-only">Invalid</span></a>
                                            <a href="{{ path('admin_picsure_reject', {'id': policy.id}) }}"
                                               class="btn btn-danger btn-sm btn-reject mb-1 mr-md-2"
                                               title="Reject Damaged pic-sure"
                                               >
                                               <i class="far fa-times fa-lg fa-fw"></i>
                                               <span class="sr-only">Damaged</span></a>
                                        {% else %}
                                            <span>-</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if policies.count > 0 %}
                <div class="d-flex justify-content-center mb-5">
                    {{ pagerfanta(pager, 'twitter_bootstrap4') }}
                </div>
            {% endif %}

        </div>
    </section>

    {# Page Modals #}
    <div class="modal fade"
         id="invalid_modal"
         tabindex="-1" role="dialog"
         aria-labelledby="invalid_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Invalid pic-sure</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="invalid-picsure-form" method="post">
                        <div class="form-group">
                            <label for="message">Choose feedback:</label>
                            <select id="invalid_picsure_options" class="form-control">
                                <option value="">Please choose...</option>
                                <option value="Please retry so that the whole screen is clearly visible, your fingers should not obscure the screen">Please retry so that the whole screen is clearly visible, your fingers should not obscure the screen</option>
                                <option value="Please retry so the whole screen is clearly visible">Please retry so the whole screen is clearly visible</option>
                                <option value="Please hold your phone a bit further away from the mirror so that the whole screen is visible">Please hold your phone a bit further away from the mirror so that the whole screen is visible</option>
                                <option value="Please hold your phone a bit closer to the mirror so that your screen is clearly visible">Please hold your phone a bit closer to the mirror so that your screen is clearly visible</option>
                                <option value="Please remove your screen protector so your screen is clearly visible">Please remove your screen protector so your screen is clearly visible</option>
                                <option value="Please remove your phone case so your screen is clearly visible">Please remove your phone case so your screen is clearly visible</option>
                                <option value="Please use a cleaner reflective surface for validation">Please use a cleaner reflective surface for validation</option>
                                <option value="Please contact us so we can help you with the validation of your phone">Please contact us so we can help you with the validation of your phone</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="message">Message to send to user:</label>
                            <textarea type="text"
                                      class="form-control"
                                      id="message"
                                      name="message"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Invalidate pic-sure</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/picsure.js') }}"></script>
{% endblock %}
