{% extends 'admin_claims_base.html.twig' %}

{% block body %}
<div class="container" style="margin-bottom: 50px">
<div class="row">
    <div class="col-md-8">
        <h2>pic-sure - {{ status }}</h2>
    </div>
</div>
    <div class="bg-info text-center" style="border-radius: 10px; padding: 20px; margin-bottom: 20px;">
        {{ form_start(picsure_search_form) }}
        <div class="row">
            <div class="col-md-8">
                {{ form_widget(picsure_search_form.status) }}
            </div>
            <div class="col-md-4">
                {{ form_widget(picsure_search_form.search, {'attr':{'class':'btn btn-info'}}) }}
            </div>
        </div>
        {{ form_end(picsure_search_form) }}
    </div>

{% if policies|length == 0 %}
    <h4>No policies</h4>
{% endif %}
{% for policy in policies %}
<div class="row">
    <div class="col-md-3">
        <h4><a href="{{ path('admin_policy', {'id': policy.id}) }}">{{ policy.policyNumber }}</a></h4>
    </div>
    <div class="col-md-7">
        {% if policy.picSureStatus == 'manual' %}
        <a class="btn btn-success"
                href="{{ path('admin_picsure_approve', {'id': policy.id}) }}"><i class="fa fa-check"></i> Undamaged</a>
        <a class="btn btn-warning"
                href="{{ path('admin_picsure_invalid', {'id': policy.id}) }}"><i class="fa fa-question"></i> Invalid Photo</a>
        <a class="btn btn-danger"
                href="{{ path('admin_picsure_reject', {'id': policy.id}) }}"><i class="fa fa-minus"></i> Damaged</a>
        {% elseif policy.picSureStatus == 'approved' %}
            Approved at: {{ policy.picSureApprovedDate | date}}
        {% endif %}
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12 text-center">
        {% if policy.picsureCircumvention is not null %}
            {% if policy.picsureCircumvention == true %}
                <span class="fa fa-exclamation-triangle"> Possible Fraud (i.e. too many attempts to do pic-sure and imei upload was too long, check events in mixpanel) <span class="fa fa-exclamation-triangle"></span></span>
            {% elseif policy.picsureCircumvention == false %}
                <span class="fa fa-thumbs-up"> No Fraud Detected <span class="fa fa-thumbs-up"></span></span>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    {% for file in policy.getPolicyPicSureFiles %}
    <div class="col-md-12 text-center">
            {% if 'picsure-ml-score' in file.getMetadata()|keys %}
            <p>
                <span style="padding: 15px 16px; margin-right: 16px; border-radius: 16px;
                {% if 'picsure-ml-status' in file.getMetadata()|keys and 'picsure-ml-confidence' in file.getMetadata()|keys %}
                    {% if file.getMetadata()['picsure-ml-status'] == "undamaged" %}
                        background-color: rgba(91,162,45,{{ file.getMetadata()['picsure-ml-confidence']|number_format(2, '.', ',') }});
                    {% elseif file.getMetadata()['picsure-ml-status'] == "invalid" %}
                        background-color: rgba(255,215,38,{{ file.getMetadata()['picsure-ml-confidence']|number_format(2, '.', ',') }});
                    {% elseif file.getMetadata()['picsure-ml-status'] == "damaged" %}
                        background-color: rgba(255,102,102,{{ file.getMetadata()['picsure-ml-confidence']|number_format(2, '.', ',') }});
                    {% endif %}
                    "><strong>ML Testing:</strong> {{ file.getMetadata()['picsure-ml-status']|capitalize }}
                    with confidence {{ file.getMetadata()['picsure-ml-confidence']*100.0|number_format(2, '.', ',') }}&percnt;
                {% else %}
                ">ML Testing:
                {% endif %}
                |
                {% if 'undamaged' in file.getMetadata()['picsure-ml-score']|keys %}
                    undamaged ({{ (file.getMetadata()['picsure-ml-score']['undamaged']*100.0)|number_format(0, '.', ',') }}&percnt;) 
                {% endif %}
                {% if 'invalid' in file.getMetadata()['picsure-ml-score']|keys %}
                    invalid ({{ (file.getMetadata()['picsure-ml-score']['invalid']*100.0)|number_format(0, '.', ',') }}&percnt;) 
                {% endif %}
                {% if 'damaged' in file.getMetadata()['picsure-ml-score']|keys %}
                    damaged ({{ (file.getMetadata()['picsure-ml-score']['damaged']*100.0)|number_format(0, '.', ',') }}&percnt;) 
                {% endif %}
                </span>
                <a class="btn btn-primary" href="{{ path('admin_picsure_ml_predict', {'id': file.getId()}) }}"><i class="fa fa-refresh"></i> Re-run</a>
            {% endif %}
            </p>
            {% if 'picsure-status' in file.getMetadata()|keys %}
                File Status: {{ file.getMetadata()['picsure-status'] }}
                {% if 'picsure-status-date' in file.getMetadata()|keys %}
                    on {{ file.getMetadata()['picsure-status-date'] }}
                {%  endif %}
                {% if 'picsure-status-user-name' in file.getMetadata()|keys %}
                    by {{ file.getMetadata()['picsure-status-user-name'] }}
                {% endif %}
                <br/>
            {% endif %}
            <a href="{{ s3DownloadLink(file.bucket, file.key) }}" target="_blank">
                <i class="fa fa-external-link"></i> {{ file.key }}
                {% if policy.picSureStatus == 'manual' %}
                <br>
                <img src="{{ path('admin_picsure_image', {'file': file.key }) }}" style="max-width: 100%">
                {% endif %}
            </a>
    </div>
    {% endfor %}
</div>
<hr style="border-bottom: 3px solid black">
{% endfor %}
</div>

    {% if policies.count > 0 %}
    <div class="pagerfanta text-center">
        {{ pagerfanta(pager, 'twitter_bootstrap3') }}
    </div>
    {% endif %}
{% endblock %}
