{% extends 'admin_claims_base_rebrand.html.twig' %}
{% form_theme picsure_search_form with ['AppBundle:Form:fields.html.twig', 'AppBundle:Form:submit.html.twig'] %}

{# Set vars #}
{% set body_class = 'admin-pic-sure' %}

{% block title %}so-sure - pic-sure{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
   {#  <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}"> #}
{% endblock %}

{% block body %}

    <section class="py-4 px-md-4">
        <div class="container-fluid">
            {# TODO: Heading area #}
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">pic-sure - {{ status }}</h1>
            </div>
            {# TODO: Controls area #}
            <div class="card card-page-filter mb-5">
                <div class="card-body">
                     {{ form_start(picsure_search_form, {'attr': {'class': 'form-inline'}}) }}
                        <div class="form-group">
                            <label class="mr-md-2">Type: </label>
                            {{ form_widget(picsure_search_form.status, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(picsure_search_form.search, {'attr':{'class':'btn btn-success btn-square ml-md-2'}}) }}
                        </div>
                     {{ form_end(picsure_search_form) }}
                </div>
            </div>
            {% if policies|length == 0 %}
                <p class="mb-5">No records found</p>
            {% else %}
                <div class="table-responsive-sm mb-5">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>User</th>
                                <th>Fraud check</th>
                                <th>Submitted image(s)</th>
                                <th>Status</th>
                                <th>Machine learning</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for policy in policies %}
                                <tr>
                                    {# Policy #}
                                    <td><a href="{{ path('admin_policy', {'id': policy.id}) }}">{{ policy.policyNumber }}</a></td>
                                    {# Fraud Check #}
                                    <td>
                                        {% if policy.picSureCircumvention is null %}
                                            <small><i class="fal fa-clock"></i> Pre anti-fraud check</small>
                                        {% elseif policy.picSureCircumvention == true %}
                                            <small><i class="fal fa-exclamation-triangle"></i> Possible Fraud (i.e. too many attempts to do pic-sure and imei upload was too long, check events in mixpanel) </small>
                                        {% elseif policy.picSureCircumvention == false %}
                                            <small><i class="fal fa-thumbs-up"></i> No Fraud Detected</small>
                                        {% endif %}
                                    </td>
                                    {# Submitted image(s) #}
                                    <td>
                                        {% for file in policy.getPolicyPicSureFiles %}
                                            {% if policy.picSureStatus == 'manual' %}
                                                <a href="{{ path('admin_picsure_image', {'file': file.key }) }}"
                                                   class="no-style"
                                                   data-fancybox
                                                   data-caption="{{ policy.policyNumber }}">
                                                    <img src="{{ path('admin_picsure_image', {'file': file.key }) }}" width="40px">
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    {# Status #}
                                    <td>
                                        {% for file in policy.getPolicyPicSureFiles %}
                                            {% if 'picsure-status' in file.getMetadata()|keys %}
                                                <small>
                                                    File Status: {{ file.getMetadata()['picsure-status'] }}
                                                    {% if 'picsure-status-date' in file.getMetadata()|keys %}
                                                        on {{ file.getMetadata()['picsure-status-date'] }}
                                                    {%  endif %}
                                                    {% if 'picsure-status-user-name' in file.getMetadata()|keys %}
                                                        by {{ file.getMetadata()['picsure-status-user-name'] }}
                                                    {% endif %}
                                                </small>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    {# Machine learning scoree #}
                                    <td>
                                        {% for file in policy.getPolicyPicSureFiles %}
                                            {% if 'picsure-ml-score' in file.getMetadata()|keys %}
                                                <small>
                                                    {{ file.getMetadata()['picsure-ml-status']|capitalize }} with confidence {{ file.getMetadata()['picsure-ml-confidence']*100.0|number_format(2, '.', ',') }}&percnt;
                                                </small>
                                            {% else %}
                                                <small>
                                                    {% if 'undamaged' in file.getMetadata()['picsure-ml-score']|keys %}
                                                        undamaged ({{ (file.getMetadata()['picsure-ml-score']['undamaged']*100.0)|number_format(0, '.', ',') }}&percnt;)
                                                    {% endif %}
                                                    {% if 'invalid' in file.getMetadata()['picsure-ml-score']|keys %}
                                                        invalid ({{ (file.getMetadata()['picsure-ml-score']['invalid']*100.0)|number_format(0, '.', ',') }}&percnt;)
                                                    {% endif %}
                                                    {% if 'damaged' in file.getMetadata()['picsure-ml-score']|keys %}
                                                        damaged ({{ (file.getMetadata()['picsure-ml-score']['damaged']*100.0)|number_format(0, '.', ',') }}&percnt;)
                                                    {% endif %}
                                                </small>
                                                <a class="btn btn-primary" href="{{ path('admin_picsure_ml_predict', {'id': file.getId()}) }}"><i class="fa fa-refresh"></i> Re-run</a>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    {# Actions #}
                                    <td>
                                        {% if policy.picSureStatus == 'manual' %}
                                            <a class="btn btn-success btn-square btn-sm mr-2"
                                               href="{{ path('admin_picsure_approve', {'id': policy.id}) }}">Approve</a>
                                            <a href="#"
                                               class="btn btn-warning btn-square btn-sm mr-2"
                                               data-toggle="modal"
                                               data-target="#invalidModal"
                                               data-policy-number="{{ policy.policyNumber }}"
                                               data-submit="{{ path('admin_picsure_invalid', {'id': policy.id}) }}">Invalid</a>
                                            <a class="btn btn-danger  btn-square btn-sm"
                                               href="{{ path('admin_picsure_reject', {'id': policy.id}) }}">Damaged</a>
                                        {% else %}
                                            <small>-</small>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}
    {# <script src="{{ asset('css-js/homepage.js') }}"></script> #}
{% endblock %}
