{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="margin-bottom: 50px">
<div class="row">
    <div class="col-md-8">
        <h2>pic-sure Manual Processing</h2>
    </div>
</div>
{% if policies|length == 0 %}
    <h4>Nothing in the manual approval queue</h4>
{% endif %}
{% for policy in policies %}
<div class="row">
    <div class="col-md-3">
        <h4><a href="{{ path('admin_policy', {'id': policy.id}) }}">{{ policy.policyNumber }}</a></h4>
    </div>
    <div class="col-md-4">
        {% for file in policy.getPolicyPicSureFiles %}
            <a href="{{ s3DownloadLink(file.bucket, file.key) }}">{{ file.key }}</a>
        {% endfor %}
    </div>
    <div class="col-md-5">
        <a class="btn btn-success"
                href="{{ path('admin_picsure_approve', {'id': policy.id}) }}"><i class="fa fa-check"></i> Undamaged</a>
        <a class="btn btn-warning"
                href="{{ path('admin_picsure_invalid', {'id': policy.id}) }}"><i class="fa fa-question"></i> Invalid Photo</a>
        <a class="btn btn-danger"
                href="{{ path('admin_picsure_reject', {'id': policy.id}) }}"><i class="fa fa-minus"></i> Damaged</a>
        
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
