{% extends 'admin_claims_base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'admin-promotion' %}

{% block title %}Promotion{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
   {#  <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}"> #}
{% endblock %}

{% block body %}

    <section class="py-4 px-md-4">
        <div class="container-fluid">
            {# TODO: Heading area #}
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">Promotion - {{ promotion.name }}</h1>
            </div>
            {# TODO: Content area #}
            <div class="table-responsive-sm mb-5">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Start</th>
                            <th>Active</th>
                            <th>Period</th>
                            <th>Required Invitations</th>
                            <th>Claims</th>
                            <th>Reward</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ promotion.start|date("d/m/Y")}}</td>
                            <td>{{ promotion.active ? 'Active' : 'Inactive'}}</td>
                            <td>{{ promotion.conditionPeriod }}</td>
                            <td>{{ promotion.conditionInvitations }}</td>
                            <td>{{ promotion.conditionAllowClaims ? 'Allowed' : 'Not Allowed' }}</td>
                            <td>
                                <strong>{{ promotion.reward }}</strong>
                                {% if promotion.reward == 'pot' %}£{{ promotion.rewardAmount }}{% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Policies</h3>
            <div class="table-responsive-sm mb-5">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>User</th>
                            <th>Policy</th>
                            <th>Start</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for participation in promotion.participating %}
                            <tr class="{% if not promotion.active %}warning{% endif %}">
                                <td><a href="{{ path('admin_user', {'id': participation.policy.user.id }) }}">{{ participation.policy.user.name }}</a></td>
                                <td><a href="{{ path('admin_policy', {'id': participation.policy.id }) }}">{{ participation.policy.policyNumber ?: 'N/A' }}</a></td>
                                <td>{{ participation.start|date("d/m/Y H:i") }}</td>
                                <td>{{ participation.status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    {# Page Modals #}


{% endblock %}

{% block javascriptsPage %}
    {# <script src="{{ asset('css-js/homepage.js') }}"></script> #}
{% endblock %}
