{% extends 'admin_claims_base_rebrand.html.twig' %}
{% form_theme promotionForm with ['AppBundle:Form:fields.html.twig', 'AppBundle:Form:submit.html.twig'] %}

{# Set vars #}
{% set body_class = 'admin-promotions' %}

{% block title %}Promotions{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
   {#  <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}"> #}
{% endblock %}

{% block body %}

    <section class="py-4 px-md-4">
        <div class="container-fluid">
            {# TODO: Heading area #}
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">Promotions</h1>
            </div>
            {# TODO: Controls area #}
            <div class="card card-page-filter mb-5">
                <div class="card-body">
                    <a href="#"
                       class="btn btn-primary"
                       data-toggle="modal"
                       data-target="#company_modal">
                        <i class="fal fa-plus fa-fw"></i> New Promotion </a>
                </div>
            </div>
            {# TODO: Content area #}
            <div class="table-responsive-sm mb-5">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Period</th>
                            <th>Invites Required</th>
                            <th>Claims</th>
                            <th>Reward</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for promotion in promotions %}
                        <tr class="{% if not promotion.active %}table-warning{% endif %}">
                            <td><a href="{{ path('admin_promotion', {'id': promotion.id }) }}">{{ promotion.name }}</a></td>
                            <td>{{ promotion.conditionPeriod }} days</td>
                            <td>{{ promotion.conditionInvitations }}</td>
                            <td>{% if promotion.conditionAllowClaims %}Allowed{% else %}Not Allowed{% endif %}</td>
                            <td>
                                {{ promotion.reward }}
                                {% if promotion.reward == 'pot' %} - &pound;{{ promotion.rewardAmount }}{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    {# Page Modals #}
    <div class="modal fade"
         id="company_modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="company_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Promotion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(promotionForm) }}
                        <div class="form-group">
                            {{ form_label(promotionForm.name, 'Name', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(promotionForm.name, {'attr': {'class': 'form-control'}}) }}
                            <div class="with-errors">{{ form_errors(promotionForm.name) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_label(promotionForm.conditionPeriod, 'Period', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(promotionForm.conditionPeriod, {'attr': {'class': 'form-control'}}) }}
                            <div class="with-errors">{{ form_errors(promotionForm.conditionPeriod) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_label(promotionForm.conditionInvitations, 'Required Invitations', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(promotionForm.conditionInvitations, {'attr': {'class': 'form-control'}}) }}
                            <div class="with-errors">{{ form_errors(promotionForm.conditionInvitations) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_widget(promotionForm.conditionAllowClaims, {
                                'label': 'Allow claims',
                                'attr': {'class':'custom-control-input'}}
                            ) }}
                            <div class="with-errors">{{ form_errors(promotionForm.conditionAllowClaims) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_label(promotionForm.reward, 'Reward', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(promotionForm.reward, {'attr': {'class': 'form-control'}}) }}
                            <div class="with-errors">{{ form_errors(promotionForm.reward) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_label(promotionForm.rewardAmount, 'Reward Amount', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(promotionForm.rewardAmount, {'attr': {'class': 'form-control'}}) }}
                            <div class="with-errors">{{ form_errors(promotionForm.rewardAmount) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_widget(promotionForm.next, {'attr': {'class': 'btn btn-success'}, 'label': 'Add Promotion'}) }}
                        </div>
                    {{ form_end(promotionForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsPage %}
    {# <script src="{{ asset('css-js/homepage.js') }}"></script> #}
{% endblock %}
