{% extends 'admin_claims_base_rebrand.html.twig' %}
{% form_theme rewardForm with ['AppBundle:Form:fields.html.twig', 'AppBundle:Form:submit.html.twig'] %}

{# Set vars #}
{% set body_class = 'admin-rewards' %}

{% block title %}so-sure - Admin Rewards{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
   {#  <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}"> #}
{% endblock %}

{% block body %}

    <section class="py-4 px-md-4">
        <div class="container-fluid">
            {# TODO: Heading area #}
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">Rewards</h1>
            </div>
            {# TODO: Controls area #}
            <div class="card card-page-filter mb-5">
                <div class="card-body">
                    <a href="#"
                       class="btn btn-primary btn-square"
                       data-toggle="modal"
                       data-target="#reward_modal"><i class="fal fa-plus fa-fw"></i> New Bonus Type </a>
                </div>
            </div>
            {# TODO: Content area #}
            <div class="table-responsive-sm mb-5">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Bonus Type</th>
                            <th>Code</th>
                            <th>Value</th>
                            <th>Used</th>
                            <th>Total</th>
                            <th>Limit</th>
                            <th>Expires</th>
                            <th>Add manually</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reward in rewards %}
                            <tr>
                                <td>{{ reward.user.name }} ({{ reward.user.email }})</td>
                                <td>{% if reward.sCode %}{{ reward.sCode.code }}{% else %}n/a{% endif %}</td>
                                <td>{% if reward.defaultValue %}£{{ reward.defaultValue|number_format(2, '.', ',') }}{% else %}n/a{% endif %}</td>
                                <td>{{ reward.connections|length }}</td>
                                <td>£{{ reward.potValue|number_format(2, '.', ',') }}</td>
                                <td>{% if reward.usageLimit %}{{ reward.usageLimit }}{% else %}n/a{% endif %}</td>
                                <td>{% if reward.expiryDate %}{{ reward.expiryDate|date('d-m-T H:i') }}{% else %}n/a{% endif %}</td>
                                <td>
                                    <a href="#"
                                       class="btn btn-primary btn-square btn-sm"
                                       data-user-name="{{ reward.user }}"
                                       data-reward-id="{{ reward.id }}"
                                       data-toggle="modal"
                                       data-target="#connect_modal"
                                       title="Add bonus to user"
                                    ><i class="fas fa-user fa-fw"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    {# Page Modals #}
    <div class="modal fade"
         id="reward_modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="reward_modal"
         aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add reward bonus type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(rewardForm) }}
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    {{ form_label(rewardForm.firstName, 'First Name *') }}
                                    {{ form_widget(rewardForm.firstName, {'attr': {'class': 'form-control'}}) }}
                                    <div class="with-errors">{{ form_errors(rewardForm.firstName) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(rewardForm.lastName, 'Last Name *') }}
                                    {{ form_widget(rewardForm.lastName, {'attr': {'class': 'form-control'}}) }}
                                    <div class="with-errors">{{ form_errors(rewardForm.lastName) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(rewardForm.email, 'Email *') }}
                                    {{ form_widget(rewardForm.email, {'attr': {'placeholder':'Suggested @so-sure.net', 'class': 'form-control'}}) }}
                                    <div class="with-errors">{{ form_errors(rewardForm.email) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(rewardForm.code, 'SCode *') }}
                                    {{ form_widget(rewardForm.code, {'attr': {'placeholder':'8 character scode', 'class': 'form-control'}}) }}
                                    <div class="with-errors">{{ form_errors(rewardForm.code) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(rewardForm.defaultValue, 'Default Value *') }}
                                    {{ form_widget(rewardForm.defaultValue, {'attr': {'placeholder':'Default amount to add', 'class': 'form-control'}}) }}
                                    <div class="with-errors">{{ form_errors(rewardForm.defaultValue) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(rewardForm.policyAgeMin, 'Policy Age Min') }}
                                    {{ form_widget(rewardForm.policyAgeMin, {'attr': {'class': 'form-control', 'placeholder': 'Min policy age'}}) }}
                                    <div class="with-errors">{{ form_errors(rewardForm.policyAgeMin) }}</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    {{ form_label(rewardForm.policyAgeMax, 'Policy Age Max') }}
                                    {{ form_widget(rewardForm.policyAgeMax, {'attr': {'class': 'form-control', 'placeholder': 'Max policy age'}}) }}
                                    <div class="with-errors">{{ form_errors(rewardForm.policyAgeMax) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(rewardForm.usageLimit, 'Usage Limit') }}
                                    {{ form_widget(rewardForm.usageLimit, {'attr': {'class': 'form-control', 'placeholder': 'Limit the code i.e. 10 people'}}) }}
                                    <div class="with-errors">{{ form_errors(rewardForm.usageLimit) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(rewardForm.expiryDate, 'Expiry Date *') }}
                                    <div class="input-group date-picker"
                                         id="date_picker_one"
                                         data-target-input="nearest">
                                        {{ form_widget(rewardForm.expiryDate, { 'attr': {
                                            'class': 'form-control datetimepicker-input date_mask',
                                            'data-target': '#date_picker_one',
                                        }}) }}
                                        <div class="input-group-append"
                                             data-target="#date_picker_one"
                                             data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fal fa-calendar fa-fw"></i></div>
                                        </div>
                                    </div>
                                    <div class="with-errors">{{ form_errors(rewardForm.expiryDate) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(rewardForm.termsAndConditions, 'Terms & Conditions') }}
                                    {{ form_widget(rewardForm.termsAndConditions, { 'attr': {
                                        'class': 'form-control',
                                        'rows': '5',
                                        'placeholder': 'Enter terms....'
                                    }}) }}
                                    <div class="with-errors">{{ form_errors(rewardForm.termsAndConditions) }}</div>
                                </div>
                                <div class="form-group d-flex">
                                    <div class="mr-2">
                                        {{ form_widget(rewardForm.hasNotClaimed, {
                                            'label': 'Require No Claims',
                                            'attr': {'class':'custom-control-input'}}
                                        ) }}
                                    </div>
                                    <div class="mr-2">
                                        {{ form_widget(rewardForm.hasRenewed, {
                                            'label': 'Require Renewed Policy',
                                            'attr': {'class':'custom-control-input'}}
                                        ) }}
                                    </div>
                                    <div class="mr-2">
                                        {{ form_widget(rewardForm.hasCancelled, {
                                            'label': 'Require Cancelled Policy',
                                            'attr': {'class': 'custom-control-input'}}
                                        ) }}
                                    </div>
                                    <div class="with-errors">{{ form_errors(rewardForm.hasNotClaimed) }}</div>
                                    <div class="with-errors">{{ form_errors(rewardForm.hasRenewed) }}</div>
                                    <div class="with-errors">{{ form_errors(rewardForm.hasCancelled) }}</div>
                                </div>
                                <div class="form-group text-right">
                                    {{ form_widget(rewardForm.next, {'label': 'Create', 'attr': {'class': 'btn btn-success btn-square'}}) }}
                                </div>
                            </div>
                        </div>
                    {{ form_end(rewardForm) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="connect_modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="connect_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Bonus To User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(connectForm) }}
                        <div class="form-group">
                            {{ form_label(connectForm.email, 'Email') }}
                            {{ form_widget(connectForm.email, { 'attr': { 'class': 'form-control' }}) }}
                            <div class="with-errors">{{ form_errors(connectForm.email) }}</div>
                        </div>
                        <h5>Warning! If user has multiple policies, currently implementation will add bonus to each policy!</h5>
                        <div class="form-group">
                            {{ form_label(connectForm.amount, 'Bonus Amount') }}
                            {{ form_widget(connectForm.amount, { 'attr': { 'class': 'form-control' }}) }}
                            <div class="with-errors">{{ form_errors(connectForm.amount) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_widget(connectForm.rewardId) }}
                            {{ form_widget(connectForm.next, {'label': 'Connect', 'attr': {'class': 'btn btn-success btn-square'}}) }}
                        </div>
                    {{ form_end(connectForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/rewards.js') }}"></script>
{% endblock %}
