{% block body %}

    {{ form_start(form) }}
    <div class="modal-body">
        <div class="container-fluid">
            <div class="form-row">
                <div class="col">
                    <p>Are you sure you want to update this Serial Number? Common cases for this would be:</p>
                    <div class="list-group cases">
                        <a class="list-group-item list-group-item-action">User mistyped their Serial Number during purchase</a>
                        <a class="list-group-item list-group-item-action">Voucher was issued by the claims team</a>
                        <a class="list-group-item list-group-item-action">User had a warranty issue that was handled outside the claims process - same make/model, just different Serial Number.</a>
                        <a class="list-group-item list-group-item-action bg-danger"><span class="text-danger">Upgraded device - within binder price</span></a>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" required> I've read the list of common reasons above
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" required> If it is not a common reason, I have verified the exception is allowed
                    </label>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-xs-6">
                    <label>Current Serial Number</label>
                    <p>{{ policy.serialNumber }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <label>New Serial Number</label>
                    {{ form_widget(form.serialNumber, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-row">
                <label>Justification</label>
                {{ form_widget(form.note, {'attr': {'class': 'form_note form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="modal-footer">
        {{ form_widget(form.update, { 'attr': {'class': 'btn btn-danger', 'disabled': 'true'} }) }}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    {{ form_end(form) }}

{% endblock %}
