{% extends 'admin_claims_base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'admin-sixpack-tests' %}

{% block title %}so-sure - Sixpack Tests{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
   {#  <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}"> #}
{% endblock %}

{% block body %}

    <section class="py-4 px-md-4">
        <div class="container-fluid">
            {# TODO: Heading area #}
            <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-3">
                <h1 class="h2">Sixpack Tests</h1>
            </div>
            {# Controls area #}
{#             <div class="card card-page-filter mb-5">
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'form-inline'}})  }}
                        <div class="form-group">
                            {{ form_label(form.imei, 'Search IMEI: ', {'label_attr': {'class': 'mr-md-2'}}) }}
                            {{ form_widget(form.imei, {'attr': {'class': 'form-control mr-md-2'}}) }}
                            <div class="with-errors">{{ form_errors(form.imei) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.search, {'label': 'Search', 'attr': {'class': 'btn btn-success btn-square ml-md-2'}}) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div> #}
            {# Content area #}
            {% if allTests|length == 0 %}
                <p class="mb-5">No tests were found in the list of experiments</p>
            {% else %}
                <div class="table-responsive-sm mb-5">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Available tests</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for testName,alternatives in allTests %}
                                <tr>
                                    <td>{{ testName }}</td>
                                    <td>{{ alternatives|join(', ') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}
    {# <script src="{{ asset('css-js/homepage.js') }}"></script> #}
{% endblock %}
