{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}
{% set split_mode = true %}

{% block title %}so-sure - All I want for Christmas is a new phone{% endblock %}

{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
{% endblock %}

{% block body %}

    <section class="blog">
        <div class="d-lg-flex">

            {# Main Content #}
            <div class="blog__main__container">
                <div class="blog__main px-4 px-lg-5">
                    <article>
                        <header class="mb-5">
                            <hgroup>
                                <div class="breadcrumbs">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="{{ path('blog_index') }}">Blog</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="fal fa-angle-right"></i>
                                        </li>
                                        <li class="list-inline-item">
                                            All I want for Christmas is a new phone
                                        </li>
                                    </ul>
                                </div>
                                <h1 class="text-primary mb-4">All I want for Christmas is a new phone</h1>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <div rel="author">Susan</div>
                                    </li>
                                    <li class="list-inline-item">|</li>
                                    <li class="list-inline-item">
                                        <time>Dec 17, 2018</time>
                                    </li>
                                </ul>
                            </hgroup>
                        </header>
                        <p>It’s that time of year.</p>
                        <p>Time to cram a tree into the back of your car and hope it isn’t too dishevelled by the time you get it home. Time to run around the shops like a headless turkey as you scramble to buy presents for your family without bankrupting yourself. And maybe, just maybe, it’s time to treat yourself to a shiny new phone.</p>
                        <p>Christmas tends to be a bumper period for phone brands, as people splash out on new deals. If you’re in the market for a phone - for yourself or a special person in your life - it pays to shop around. There are loads of juicy deals to choose from at this time of year, so if your current provider tries to pressure you into renewing, press the pause button and look around at what’s out there.</p>
                        <p>The good news is that the major handset manufacturers have converged in price, with Apple recently launching the more affordable <a href="https://www.apple.com/uk/iphone-xr/" target="_blank" rel="noopener noreferrer">iPhone XR</a> in order to compete with the likes of the <a href="https://www.samsung.com/uk/smartphones/galaxy-s9/" target="_blank" rel="noopener noreferrer">Samsung S9</a> and the <a href="https://store.google.com/gb/product/pixel_3?hl=en-GB" target="_blank" rel="noopener noreferrer">Google Pixel 3</a>. To give you a sense of prices, the following are deals currently available with the EE network exclusively via <a href="https://www.uswitch.com/mobiles/compare/christmas-phone-deals/" target="_blank" rel="noopener noreferrer">uSwitch</a>.</p>
                        <h2>Apple iPhone XR 64GB</h2>
                        <ul>
                            <li>No upfront cost</li>
                            <li>24 month contract</li>
                            <li>45GB data</li>
                            <li>&pound;43 per month</li>
                        </ul>
                        <h2>Samsung Galaxy S9 64GB</h2>
                        <ul>
                            <li>No upfront cost</li>
                            <li>24 month contract</li>
                            <li>20GB data</li>
                            <li>&pound;31 per month</li>
                        </ul>
                        <h2>Google Pixel 3 64GB</h2>
                        <ul>
                            <li>No upfront cost</li>
                            <li>24 month contract</li>
                            <li>45GB data</li>
                            <li>&pound;43 per month</li>
                        </ul>
                        <p>Gone are the days when 12-month contracts were the norm, more’s the pity. Today, if you want to benefit from the best deals you need to take out a 24-month contract. Whilst you end up with a higher quality handset and a less eye-watering monthly bill, you still have to pay off the value of the phone over the two-year term of the contract, which means you’re exposed to a fair bit of financial risk. To avoid getting landed with a massive bill if your phone is lost, stolen or damaged, it’s vital to get quality phone insurance.</p>
                        <p>You probably think insurance is a bit, well, boring, and it’s much more fun to be writing to Father Christmas whilst scoffing down minced pies and guzzling far too much mulled wine. So we’ll keep this brief.</p>
                        <p>If you can’t live (or function) without your phone, and you can’t afford to buy a replacement model worth up to &pound;1000 if it gets lost, stolen or damaged, then insurance is a must. We’ve already published a <a href="{{ path('what_to_look_out_for_when_buying_phone_insurance') }}">handy guide to the basics of buying insurance</a>, so if in doubt, check it out.</p>
                        <p>So, what are your options? We may be biased, but we believe that so-sure is the greatest phone insurance provider in the world, ever. That’s because we offer a load of brilliant features that other providers don’t. This isn’t a coincidence - we’ve built our business and designed our insurance to <a href="{{ path('money') }}">stand out from the crowd</a> and offer customers the service they deserve.</p>
                        <p>Here’s a quick overview of how we’re different:</p>
                        <ul>
                            <li>We understand how stressful and inconvenient it can be when something happens to your phone, which is why we aim to get you back up and running quickly after your claim is approved, typically within 24-72 hours. Other providers can take up to 7 days, which, let’s face it, is a non-starter.</li>
                            <li>We're the only insurance brand in the UK to offer up to 80% cash back at the end of the policy year, powered by our unique approach to social insurance. If you think this sounds too good be true, it isn't. If you and your connections don't make a claim we return up to 80% of your premium back. It's that simple.</li>
                            <li>We include loss, theft and accidental damage as standard in our policies. Most insurers don’t cover loss as standard and charge you an extra &pound;1-3 per month.</li>
                            <li>We also insure second-hand phones, cover phones for up to 3 years from purchase, and we’re the only company to offer up to &pound;100 off your excess if you can prove your phone isn't damaged using our app. It's as simple as taking a selfie of your phone.</li>
                        </ul>
                        <p>So, if you’re looking to get a new phone this Christmas, shop around and have a think about insurance. It’s easy to just say yes to the insurance policy suggested by the person selling you the phone, or buy the cheapest deal you can find on a price comparison website. But it pays to do some digging and look for insurance that really works for you.</p>
                        <p>We designed <a href="{{ path('homepage') }}">so-sure</a> with that in mind. And we hope you’ll give us a go this Christmas.</p>
                        <footer></footer>
                    </article>
                    <nav><a href="{{ path('blog_index') }}">Back</a></nav>
                </div>
            </div>

            {# Sub Content #}
            <div class="blog__sub__container d-none d-lg-flex justify-content-lg-start">
                {# Curve Desktop #}
                <div class="blog__curve">
                    <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 69 846" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="3.0-so-sure-(Price-&amp;-Payment)">
                                <path d="M0,0 L69,0 C31,140 12,280.666667 12,422 C12,563.333333 31,704.666667 69,846 L0,846 L0,0 Z" id="Rectangle-2" fill="#FFFFFF"></path>
                                <path d="M69,0 L69,846 L68,846 C30.6666667,705 12,564 12,423 C12,282 31,141 69,0 Z" id="Rectangle-3" fill="#E5F4FF"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="blog__sub px-4 pb-4 pt-5 p-lg-5">
                    <div class="blog__nav">
{#                         <div id="blog-nav" class="list-group mb-5">
                            <a class="list-group-item list-group-item-action" href="#top-questions"><i class="far fa-angle-right fa-lg mr-2"></i> Top Questions</a>
                            <a class="list-group-item list-group-item-action" href="#the-so-sure-app-and-pic-sure"><i class="far fa-angle-right fa-lg  mr-2"></i> The so-sure app</a>
                            <a class="list-group-item list-group-item-action" href="#social-insurance-and-reward-pot"><i class="far fa-angle-right fa-lg  mr-2"></i> Social Insurance &amp; Reward Pot</a>
                            <a class="list-group-item list-group-item-action" href="#the-insurance-policy"><i class="far fa-angle-right fa-lg  mr-2"></i> The Insurance Policy</a>
                            <a class="list-group-item list-group-item-action" href="#claims"><i class="far fa-angle-right fa-lg  mr-2"></i> Claims</a>
                            <a class="list-group-item list-group-item-action" href="#payments-and-cancellations"><i class="far fa-angle-right fa-lg  mr-2"></i> Payments &amp; Cancellations</a>
                            <a class="list-group-item list-group-item-action" href="#about-us"><i class="far fa-angle-right fa-lg  mr-2"></i> About us</a>
                        </div> #}
                        {# <a id="back-to-top-blog" href="#" class="btn btn-outline-dodger-blue"><i class="far fa-arrow-up mr-2"></i> Back to top</a> #}
                    </div>

                </div>
            </div>

        </div>
    </section>

{% endblock %}

{% block footer %}
    {# TODO: Fix footer #}
{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/blog.js') }}"></script>
{% endblock %}
