{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}
{% set include_get_a_quote = true %}

{% block title %}Best Waterproof Phone Cases 2020 | so-sure{% endblock %}

{% block meta %}
    <meta name="description" content="Discover the best waterproof phone cases for a range of handsets and outdoor pursuits, including surfing, snorkelling or kayaking."/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}
{% set og_title = 'Best Waterproof Phone Cases 2020 | so-sure' %}
{% set og_description = "Discover the best waterproof phone cases for a range of handsets and outdoor pursuits, including surfing, snorkelling or kayaking." %}
{% set og_image = cdn_url ~ '/images/rebrand/blog/best-waterproof-phone-cases-1.jpg' %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/content-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="cp py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="cp__content blog__contents">
                        <article>
                            <header class="mb-5">
                                <hgroup>
                                    <div class="breadcrumbs">
                                        <ul class="list-inline"
                                            vocab="https://schema.org/"
                                            typeof="BreadcrumbList">
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('homepage') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Home</span>
                                                </a>
                                                <meta property="position" content="1">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('blog_index') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Blog</span>
                                                </a>
                                                <meta property="position" content="2">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <span property="name">Best Waterproof Phone Cases</span>
                                                <meta property="position" content="3">
                                            </li>
                                        </ul>
                                    </div>
                                    <h1 class="text-primary mb-4">Best Waterproof Phone Cases</h1>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <div rel="author">Susan</div>
                                        </li>
                                        <li class="list-inline-item">|</li>
                                        <li class="list-inline-item">
                                            <time>Apr 14, 2020</time>
                                        </li>
                                    </ul>
                                    {% include 'AppBundle::Blog/Includes/blogShareLinks.html.twig' %}
                                </hgroup>
                            </header>
                            <div class="blog__contents">
                                <img src="{{ cdn_url }}/images/onexone.png"
                                     data-src="{{ cdn_url }}/images/rebrand/blog/best-waterproof-phone-cases-1.jpg"
                                     alt="Phone dropped in water"
                                     class="img-fluid lozad mb-5">
                                <p>Today, the technological trauma triggered by smartphone loss or damage is widespread. And it's little surprise, as we store so much of our lives - photos, directions, personal details - on our 6-by-3-inch companions. But despite their increasing importance, just under a quarter of Brits (24%) admit to having <a href="https://www.mintel.com/press-centre/technology-press-centre/smashing-times-24-of-uk-smartphone-owners-have-broken-their-screen-in-the-past-two-years" target="_blank" rel="noopener noreferrer">broken their phone's screen</a> in the past two years, while 38% of us consider <a href="https://www.mintel.com/press-centre/technology-press-centre/smashing-times-24-of-uk-smartphone-owners-have-broken-their-screen-in-the-past-two-years" target="_blank" rel="noopener noreferrer">waterproofing a key smartphone feature</a>.</p>
                                <p>Nevertheless, research from analyst IDC revealed that <a href="https://inews.co.uk/news/technology/around-11-smartphones-ruined-water-year-531326" target="_blank" rel="noopener noreferrer">11%</a> of smartphones in the whole of Western Europe, including the UK, France and Germany, sustain damage caused by water every year. Clearly, we're not equipping ourselves against the perils of H&#8322;O!</p>
                                <p>But we're here to stem the tide, so put the rice back in the cupboard and browse our list of the best waterproof phone cases on the market.</p>
                                <h2>Best Overall Case</h2>
                                <h3><a href="https://www.amazon.co.uk/s?k=OUNNE+iPhone+7+Plus%2F8+Plus+Waterproof+Case%2C+Underwater+Full+Sealed+Cover+Snowproof+Shockproof+Dirtproof+IP68+Certified+Waterproof+Case+for+iPhone+7+Plus%2F8+Plus+5.5inch&i=electronics&creativeASIN=B06ZZLN49G&imprToken=gU5BuI0Ou9Nnpca0-pvXHA&linkCode=g13&tag=dotdash21-21" target="_blank" rel="noopener noreferrer">Ounne iPhone Waterproof Case</a></h3>
                                <p>Designed for the iPhone 7 and 8 Plus, Ounne's iPhone Waterproof Case offers premium features at an affordable price. Featuring intelligent air bubble elimination, the case seals the entire phone for protection against water, snow and debris, while its attached IP-68 rating means it can withstand up to 6 feet of water for up to 30 minutes without sustaining any damage.</p>
                                <p>The Ounne boasts a number of impressive features beyond waterproofing, too, including reinforced shock and drop protection boosted by durable TPU materials. And despite its robust protective features, touchscreen functionality and signal reception remain unimpeded, keeping you connected and fully protected wherever your journey takes you. And with its included lanyard, you can keep your phone safe without confining it to your bag, pocket or purse.</p>
                                <h2>Best Budget Case</h2>
                                <h3><a href="https://www.amazon.co.uk/Floatable-Waterproof-Vansky-Eco-friendly-Construction/dp/B01H1L5SMU" target="_blank" rel="noopener noreferrer">Vansky Floatable Waterproof Phone Case</a></h3>
                                <p>Featuring ample room to accommodate Apple's Plus sized iPhones, as well as similarly shaped Androids (up to 5.7" screen), Vansky's Floatable Waterproof Case is a worthy budget entry.</p>
                                <p>Boasting IPX8-certification, this floatable case can withstand submergence in depths up to 100 feet for 30 minutes, while remaining fully functional – including the camera. An innovative locking system provides further protection during water-based pursuits, such as surfing, snorkelling and kayaking.</p>
                                <p>The Vansky protects your device when you're not scuba-snapping too, courtesy of its reinforced TPU construction. And it's practical when you're on the move, thanks to its external audio jack that allows you to make calls and listen to your favourite media while your phone is in its case. A secure strap lanyard is also provided, making it quick and easy to access your phone at any time.</p>
                                <h2>Best Multifunction Case</h2>
                                <h3><a href="https://www.amazon.co.uk/Universal-Waterproof-JOTO-CellPhone-Motorola/dp/B01N0X41XD" target="_blank" rel="noopener noreferrer">JOTO Waterproof Phone Pouch Case</a></h3>
                                <p>JOTO's budget all-rounder accommodates any smartphone up to six inches diagonally, making it ideal for those seeking a little extra room for essentials like credit cards, cash or a slim card case.</p>
                                <p>The clear window on both the front and rear enables full phone functionality while the case is equipped, and the simple snap and lock access point safeguards against water, dust and debris.</p>
                                <p>Again, the JOTO is credited with IPX8 level protection, meaning it can withstand depths up to 100 feet for up to 30 minutes. And with 14 unique colours to choose from at just &pound;5.99 each, you'll be spoilt for choice when it comes to personalising your handset.</p>
                                <h2>Best Slim Fit Case</h2>
                                <h3><a href="https://www.amazon.co.uk/PUNKCASE-Waterproof-Shockproof-Dirtproof-Snowproof-Clear/dp/B0711C8FLZ" target="_blank" rel="noopener noreferrer">Punkcase Galaxy S8 Plus Waterproof Case</a></h3>
                                <p>While many waterproof cases get the job done, they often do so by adding excessive bulk to your smartphone - this isn't the case with the Punkcase. Developed for the Samsung S8 Plus series, the case adds mere millimetres of bulk while retaining IP68 certification and maintains 30 minutes of full functionality when submerged in water up to 6.6ft.</p>
                                <p>These impressive credentials are supplemented by MIL-STD 810F military-grade protection against dust and debris, as well as shock and drop protection up to 6 feet.</p>
                                <p>It also comes with a handy kickstand that allows you to position your phone upright, enabling media viewing and recording wherever your journey takes you.</p>
                                <p>Despite your best efforts to protect your phone from the elements, water damage can often breach the most robust defences. Therefore, we recommend bolstering your smartphone protection by investing in a <a href="{{ path('phone_insurance') }}">comprehensive phone insurance plan</a>. Starting at just &pound;3.25 per month, can you really afford not to?</p>
                            </div>
                            <nav><a href="{{ path('blog_index') }}" class="btn btn-outline-primary btn-sm"><i class="far fa-long-arrow-left fa-fw"></i> Back</a></nav>
                            <footer class="my-4">
                                {% include 'AppBundle::Blog/Includes/blogFooterCta.html.twig' %}
                            </footer>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/content-pages.js') }}"></script>
{% endblock %}
