{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}

{% block title %}Best Phone Cases For Protection | so-sure{% endblock %}

{% block meta %}
    <meta name="description" content="Keep your handset safe with our picks of the best phone cases, whether you're looking for pure protection or good looks too."/>
{% endblock %}
{% set og_title = 'Best Phone Cases For Protection | so-sure' %}
{% set og_description = "Keep your handset safe with our picks of the best phone cases, whether you’re looking for pure protection or good looks too." %}
{% set og_image = cdn_url ~ '/images/rebrand/blog/best-phone-cases-1.jpg' %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/content-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="cp py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="cp__content blog__contents">
                        <article>
                            <header class="mb-5">
                                <hgroup>
                                    <div class="breadcrumbs">
                                        <ul class="list-inline"
                                            vocab="https://schema.org/"
                                            typeof="BreadcrumbList">
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('homepage') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Home</span>
                                                </a>
                                                <meta property="position" content="1">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('blog_index') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Blog</span>
                                                </a>
                                                <meta property="position" content="2">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <span property="name">Best Phone Cases 2020</span>
                                                <meta property="position" content="3">
                                            </li>
                                        </ul>
                                    </div>
                                    <h1 class="text-primary mb-4">Best Phone Cases 2020</h1>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <div rel="author">Susan</div>
                                        </li>
                                        <li class="list-inline-item">|</li>
                                        <li class="list-inline-item">
                                            <time>Feb 5, 2020</time>
                                        </li>
                                    </ul>
                                </hgroup>
                            </header>
                            <div class="blog__contents">
                                <img src="{{ cdn_url }}/images/onexone.png"
                                     data-src="{{ cdn_url }}/images/rebrand/blog/best-phone-cases-1.jpg"
                                     alt="Man Charging Phone"
                                     class="img-fluid lozad mb-5">
                                <p>While <a href="{{ path('phone_insurance') }}">phone insurance</a> is the perfect solution to avoiding unexpected costs when your phone gets damaged, phone cases can add an extra layer of protection which minimises your risk of needing to claim.</p>
                                <p>With each new major phone release, there are thousands of accessories that flood the market within weeks, usually including a huge choice of phone cases. With that many phone cases available, there’s always bound to be one that suits your needs, but how are you supposed to choose it?</p>
                                <p>Figuring out what you want your case to be best suited to is the first step in making your decision. Depending on your requirements, you might be looking for one that matches your style, waterproofs your handset, or offers the absolute best protection from bumps and drops.</p>
                                <p>We've compiled a list of some of the best phone cases judged on both protectivity and looks, so that you can choose a case that protects your phone without compromising its design.</p>
                                <h2>Best protective phone cases</h2>
                                <h3><a href="https://www.otterbox.co.uk/en-gb/defender-series?scid=OB-EU-UK-TSA-cpc-06794&gclid=CjwKCAiAgqDxBRBTEiwA59eEN9MFzUuB7J_5ymyRn6tEHAvdkYYQW0jY-5TLic5Vi80bDmIzLT8NqBoCT5EQAvD_BwE&gclsrc=aw.ds" target="_blank" rel="noopener noreferrer">Otterbox Defender</a></h3>
                                <img src="{{ cdn_url }}/images/onexone.png"
                                     data-src="{{ cdn_url }}/images/rebrand/blog/best-phone-cases-2.jpg"
                                     alt="Otterbox Defender"
                                     class="img-fluid lozad mb-5">
                                <p>Compatible with Apple, Samsung and Android smartphones, the Otterbox Defender protects your phone against drops and dust, as well as safeguarding your screen from scratches and cracks. This is well known to be one of the most protective phone cases on the market, made from reinforced polycarbonate and silicone to absorb impact. It even comes with port covers to prevent your phone's sockets from getting dirty. If the bulky phone case isn’t for you, but you still want the reassurance of a protective phone case, Otterbox has a whole host of more streamlined designs to choose from.</p>
                                <h3><a href="https://uk.mous.co/" target="_blank" rel="noopener noreferrer">Mous Limitless 2.0</a></h3>
                                <img src="{{ cdn_url }}/images/onexone.png"
                                     data-src="{{ cdn_url }}/images/rebrand/blog/best-phone-cases-3.jpg"
                                     alt="Mous Limitless 2.0"
                                     class="img-fluid lozad mb-5">
                                <p>The Mous Limitless 2.0 case is ideal for those who require a more slimline design but don’t want to compromise on protection. Available in five different real-material designs, choose the one that best suits your look. We like the Walnut, but it’s also available in aramid fibre, bamboo, black leather or shell. A particularly good feature is its ability to be used with AutoAlign magnetic accessories. The flex mount and vent mount provide handsfree usage, whilst the card wallet will keep your bank cards close to hand.</p>
                                <h2>Best looking phone cases</h2>
                                <h3><a href="https://case-mate.com/" target="_blank" rel="noopener noreferrer">Casemate x Rifle Paper Co. Case</a></h3>
                                <img src="{{ cdn_url }}/images/onexone.png"
                                     data-src="{{ cdn_url }}/images/rebrand/blog/best-phone-cases-4.jpg"
                                     alt="Casemate x Rifle Paper Co. Case"
                                     class="img-fluid lozad mb-5">
                                <p>Casemate phone cases are extremely tough without looking boringly utilitarian. They come with a lifetime warranty and up to 10-foot drop protection, as well as wireless charging compatibility as standard. Available in a huge variety of colours and designs, the company often collaborates with other brands and designers to come up with the most stunning designs. Its collaboration with the Rifle Paper Co. resulted in particularly stylish cases that balance aesthetics with protection.</p>
                                <h3><a href="https://nudient.co.uk/" target="_blank" rel="noopener noreferrer">Nudient Thin Case</a></h3>
                                <img src="{{ cdn_url }}/images/onexone.png"
                                     data-src="{{ cdn_url }}/images/rebrand/blog/best-phone-cases-5.jpg"
                                     alt="Nudient Thin Case"
                                     class="img-fluid lozad mb-5">
                                <p>Nudient stocks some of the best phone cases on the market. This Swedish brand has good Scandinavian design at its heart – the cases are super thin and available in a wide range of muted colours or transparent finishes. Made from hard plastic, the cases are coated in rubber to provide extra grip, and they help protect the camera and buttons as well as your phone’s body against scratches, dirt, bumps and water damage. The Nudient Thin is so popular because of its ultra-minimal design. If you want a case that has the least possible impact on your phone’s appearance, weight, and feel, this one’s worth considering.</p>
                                <h2>Best eco-friendly phone cases</h2>
                                <h3><a href="https://www.wildcase.co/shop-cases" target="_blank" rel="noopener noreferrer">Wild Case</a></h3>
                                <img src="{{ cdn_url }}/images/onexone.png"
                                     data-src="{{ cdn_url }}/images/rebrand/blog/best-phone-cases-6.jpg"
                                     alt="Wild Case"
                                     class="img-fluid lozad mb-5">
                                <p>Wildcase is a 100% biodegradable phone case made in Britain from bioplastic and bamboo. If you’re eco-conscious, this could be the perfect case for you. Not only does it contain no plastic whatsoever, Wild also donates 5-10% of its profits to The Ocean Cleanup – a charity working hard to remove plastic from the sea. What’s more, free wildflower seeds are sent out with each purchase. Alongside all this, the phone case will also protect your screen, buttons and ports with its raised bezel, and the slim design with its soft matt texture supports wireless charging. What’s not to like?</p>
                                <h3><a href="https://pelacase.com/" target="_blank" rel="noopener noreferrer">Pela Case</a></h3>
                                <img src="{{ cdn_url }}/images/onexone.png"
                                     data-src="{{ cdn_url }}/images/rebrand/blog/best-phone-cases-7.jpg"
                                     alt="Pela Case"
                                     class="img-fluid lozad mb-5">
                                <p>The Pela case is 100% biodegradable and compostable, and is available in a huge range of designs and colours. Pela has thought of everything – not only will the case protect your phone from a 20 foot drop, it will also look after buttons and ports, and the company has pioneered a zero waste liquid-hardening screen protector called <a href="https://pelacase.com/pages/the-big-problem-with-phone-screen-protectors" target="_blank" rel="noopener noreferrer">Canopy</a>. What's more, 1% of its profits go back to environmental causes through the organisation 1% For The Planet.</p>
                            </div>
                            <nav><a href="{{ path('blog_index') }}" class="btn btn-outline-primary btn-sm"><i class="far fa-long-arrow-left fa-fw"></i> Back</a></nav>
                            <footer class="my-4">
                                {% include 'AppBundle::Blog/Includes/blogFooterCta.html.twig' %}
                            </footer>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/content-pages.js') }}"></script>
{% endblock %}
