{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}
{% set split_mode = true %}

{% block title %}so-sure - Dirty Tricks To Watch Out For When Buying Insurance{% endblock %}

{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
{% endblock %}

{% block body %}

    <section class="blog">
        <div class="d-lg-flex">

            {# Main Content #}
            <div class="blog__main__container">
                <div class="blog__main px-4 px-lg-5">
                    <article>
                        <header class="mb-5">
                            <hgroup>
                                <div class="breadcrumbs">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="{{ path('blog_index') }}">Blog</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="fal fa-angle-right"></i>
                                        </li>
                                        <li class="list-inline-item">
                                            Dirty Tricks To Watch Out For When Buying Insurance
                                        </li>
                                    </ul>
                                </div>
                                <h1 class="text-primary mb-4">Dirty Tricks To Watch Out For When Buying Insurance</h1>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <div rel="author">Susan</div>
                                    </li>
                                    <li class="list-inline-item">|</li>
                                    <li class="list-inline-item">
                                        <time>Oct 8, 2018</time>
                                    </li>
                                </ul>
                            </hgroup>
                        </header>
                        {# image #}
                        <p>The insurance industry has a bad rep, for good reason.</p>
                        <p>We started <a href="{{ path('homepage') }}">so-sure</a> to address this with a new kind of insurance, one that’s affordable, reliable and fair. We hope that by drawing your attention to the dirty tricks being pulled by insurers we can help you get the cover you need and deserve.</p>
                        <p>People are tired of paying expensive premiums and then being denied what’s owed to them by insurers when they claim. Indeed, the Daily Mail recently ran a feature entitled, <em>“The phone insurers who won't pay out”</em>, flagging this issue and detailing the crafty exclusions insurers insert into policy documents to wriggle out of paying claims.</p>
                        <p>The article goes into some depth regarding the exclusions in many insurance policies. It names and shames quite a few insurers and brokers, including Cover My, Insurancefair, Better Buy Insurance, Debenhams Gadget Insurance, HomeRescueCo, ZugarZnap, Tinhat, Gadgetinsurance.com and i-Digital. We’re glad to say so-sure does not appear in this list, because our phone insurance is inclusive and our documentation is easy to understand and fair.</p>
                        <p>Over 300 people commented on the article and the vast majority were disillusioned and angry about trying to claim. One reader seemed to sum up the general feeling when they wrote:</p>
                        <p><em>“This is hardly news, insurance companies always rig the odds in their favour when inserting exclusions. The whole policy is rigged in their favour based on their calculations of likelihood of claim and costs per claim, and they charge you based upon this, knowing they are going to be quids in ultimately.”</em></p>
                        <p>The article pays particular attention to mobile phone insurance, our speciality at <a href="{{ path('homepage') }}">so-sure</a> and something that’s very close to our hearts. With top-end handsets becoming more and more pricey (the recently launched iPhone XS Max 512GB is the most expensive phone ever at &pound;1,449), mobile insurance is a big deal.</p>
                        <p>It’s also a big financial commitment. Insurance can cost over a hundred pounds a year, rising to several hundred if you include other devices on one policy. So it’s essential that your insurance policy does what it says on the tin in order to justify the cost. Otherwise, you're simply throwing money down the drain.</p>
                        <p>Premium handsets are serious investments and protecting them is an important part of everyday financial planning. One in ten people insure their device against theft, accidental damage and technical faults. But are you actually covered for everything you think you are?</p>
                        <p><a href="https://www.dailymail.co.uk/money/news/article-6207371/The-phone-insurers-wont-pay-friends-over.html" target="_blank" rel="noopener noreferrer">Research firm Defaqto</a> analysed 150 different mobile phone insurance policies and identified 25 common exclusions that could prevent claims being paid or make it harder to claim. It found:</p>
                        <ul>
                            <li>One in five policies failed to cover theft.</li>
                            <li>About one in three policies won’t meet the cost of unauthorised calls or data, leaving you with a whopping great bill if someone rinses your calls or data.</li>
                            <li>Two-thirds of policies ban you from making a claim for a certain period — often several weeks — after taking out a policy. Which is just totally crazy.</li>
                        </ul>
                        <p>This checks out with our experiences. Policy documentation is rammed with Ts&amp;Cs that the vast majority of people don’t have time to read, and wouldn’t fully understand if they did since they’re so technical and obscure. This is something we don’t do at so-sure, and something we will never do.</p>
                        <p>Theft is an important part of any phone insurance policy. The problem is that many insurance policies don’t include theft as standard or when they do, they can be quite unreasonable about the conditions they require to pay you.  Policyholders are left wondering whether they are actually covered for theft, or only mugging and other serious crimes… That’s wrong.</p>
                        <p>Accidental damage is also another risk for phone users. Many insurers claim to cover you for accidents, but to insist you take ‘all precautions’ to prevent them from happening. The very nature of an accident is that it’s accidental! One can take reasonable precautions but ‘all’ precautions? If we took all precautions at all times, we wouldn’t need the insurance.</p>
                        <p>At so-sure, we are clear about what is covered: loss, theft, accidental damage and out of warranty breakdown. All we ask is that customers take reasonable care of their phone. What we mean is that customers, using common sense, should take care of their property. If in doubt ask yourself “Would I  have left a pile of &pound;600 in cash there and expect to find it when I return?” If the answer is no, then you should not leave your phone there either. Of course, we will take in consideration the specifics of your situation as, after all, we are here to have your back if a misfortune happens!</p>
                        <p>As the Daily Mail points out,<em>“thousands of people are paying for 'unfair' mobile phone insurance policies with up to 40 exclusions littering the small print.”</em> As we’ve seen, these exclusions can include not keeping your mobile in arm's reach, allowing rain to damage it, or losing it after after having one drink. Claims are being refused for tonnes of tenuous reasons, lining the pockets of insurers and failing phone users who thought they were covered.</p>
                        <p>To rehabilitate the image of the industry and restore trust in the process of getting covered and making a claim, we need to rethink the entire concept of insurance. <a href="{{ path('homepage') }}">so-sure</a> is a new type of insurer that you can actually rely on. We protect you when you need to claim and reward you when you don't. <a href="{{ path('homepage') }}">Find out more here</a>.</p>
                        <footer></footer>
                    </article>
                    <nav><a href="{{ path('blog_index') }}">Back</a></nav>
                </div>
            </div>

            {# Sub Content #}
            <div class="blog__sub__container d-none d-lg-flex justify-content-lg-start">
                {# Curve Desktop #}
                <div class="blog__curve">
                    <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 69 846" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="3.0-so-sure-(Price-&amp;-Payment)">
                                <path d="M0,0 L69,0 C31,140 12,280.666667 12,422 C12,563.333333 31,704.666667 69,846 L0,846 L0,0 Z" id="Rectangle-2" fill="#FFFFFF"></path>
                                <path d="M69,0 L69,846 L68,846 C30.6666667,705 12,564 12,423 C12,282 31,141 69,0 Z" id="Rectangle-3" fill="#E5F4FF"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="blog__sub px-4 pb-4 pt-5 p-lg-5">
                    <div class="blog__nav">
{#                         <div id="blog-nav" class="list-group mb-5">
                            <a class="list-group-item list-group-item-action" href="#top-questions"><i class="far fa-angle-right fa-lg mr-2"></i> Top Questions</a>
                            <a class="list-group-item list-group-item-action" href="#the-so-sure-app-and-pic-sure"><i class="far fa-angle-right fa-lg  mr-2"></i> The so-sure app</a>
                            <a class="list-group-item list-group-item-action" href="#social-insurance-and-reward-pot"><i class="far fa-angle-right fa-lg  mr-2"></i> Social Insurance &amp; Reward Pot</a>
                            <a class="list-group-item list-group-item-action" href="#the-insurance-policy"><i class="far fa-angle-right fa-lg  mr-2"></i> The Insurance Policy</a>
                            <a class="list-group-item list-group-item-action" href="#claims"><i class="far fa-angle-right fa-lg  mr-2"></i> Claims</a>
                            <a class="list-group-item list-group-item-action" href="#payments-and-cancellations"><i class="far fa-angle-right fa-lg  mr-2"></i> Payments &amp; Cancellations</a>
                            <a class="list-group-item list-group-item-action" href="#about-us"><i class="far fa-angle-right fa-lg  mr-2"></i> About us</a>
                        </div> #}
                        {# <a id="back-to-top-blog" href="#" class="btn btn-outline-dodger-blue"><i class="far fa-arrow-up mr-2"></i> Back to top</a> #}
                    </div>

                </div>
            </div>

        </div>
    </section>

{% endblock %}

{% block footer %}
    {# TODO: Fix footer #}
{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/blog.js') }}"></script>
{% endblock %}
