{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}
{% set include_get_a_quote = true %}

{% block title %}Dirty Tricks To Watch Out For When Buying Insurance - Blog | so-sure{% endblock %}

{% block meta %}
    <meta name="description" content="In short, a disruptive technology is something that transforms a historically expensive product, which only a few people with a lot of money and a lot of skill have access to, by making it more affordable and available to a wider group of people."/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}

{% set og_title = 'Dirty Tricks To Watch Out For When Buying Insurance - Blog | so-sure' %}
{% set og_description = "In short, a disruptive technology is something that transforms a historically expensive product, which only a few people with a lot of money and a lot of skill have access to, by making it more affordable and available to a wider group of people." %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/content-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="cp py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="cp__content">
                        <article>
                            {% include 'AppBundle::Blog/Includes/blogFixedCta.html.twig' with { 'type': 'phone' } %}
                            <header class="mb-5">
                                <hgroup>
                                    <div class="breadcrumbs">
                                        <ul class="list-inline"
                                            vocab="https://schema.org/"
                                            typeof="BreadcrumbList">
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('homepage') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Home</span>
                                                </a>
                                                <meta property="position" content="1">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('blog_index') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Blog</span>
                                                </a>
                                                <meta property="position" content="2">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <span property="name">Dirty Tricks To Watch Out For When Buying Insurance</span>
                                                <meta property="position" content="3">
                                            </li>
                                        </ul>
                                    </div>
                                    <h1 class="text-primary mb-4">Dirty Tricks To Watch Out For When Buying Insurance</h1>
                                    <div class="blog__info_share">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <div rel="author">Susan</div>
                                            </li>
                                            <li class="list-inline-item">|</li>
                                            <li class="list-inline-item">
                                                <time>Oct 8, 2018</time>
                                            </li>
                                        </ul>
                                        {% include 'AppBundle::Blog/Includes/blogShareLinks.html.twig' %}
                                    </div>
                                </hgroup>
                            </header>
                            <div class="blog__contents">
                                {# image #}
                                <p>The insurance industry has a bad rep, for good reason.</p>
                                <p>We started <a href="{{ path('homepage') }}">so-sure</a> to address this with a new kind of insurance, one that’s affordable, reliable and fair. We hope that by drawing your attention to the dirty tricks being pulled by insurers we can help you get the cover you need and deserve.</p>
                                <p>People are tired of paying expensive premiums and then being denied what’s owed to them by insurers when they claim. Indeed, the Daily Mail recently ran a feature entitled, <em>“The phone insurers who won't pay out”</em>, flagging this issue and detailing the crafty exclusions insurers insert into policy documents to wriggle out of paying claims.</p>
                                <p>The article goes into some depth regarding the exclusions in many insurance policies. It names and shames quite a few insurers and brokers, including Cover My, Insurancefair, Better Buy Insurance, Debenhams Gadget Insurance, HomeRescueCo, ZugarZnap, Tinhat, Gadgetinsurance.com and i-Digital. We’re glad to say so-sure does not appear in this list, because our phone insurance is inclusive and our documentation is easy to understand and fair.</p>
                                <p>Over 300 people commented on the article and the vast majority were disillusioned and angry about trying to claim. One reader seemed to sum up the general feeling when they wrote:</p>
                                <p><em>“This is hardly news, insurance companies always rig the odds in their favour when inserting exclusions. The whole policy is rigged in their favour based on their calculations of likelihood of claim and costs per claim, and they charge you based upon this, knowing they are going to be quids in ultimately.”</em></p>
                                <p>The article pays particular attention to mobile phone insurance, our speciality at <a href="{{ path('homepage') }}">so-sure</a> and something that’s very close to our hearts. With top-end handsets becoming more and more pricey (the recently launched iPhone XS Max 512GB is the most expensive phone ever at &pound;1,449), mobile insurance is a big deal.</p>
                                <p>It’s also a big financial commitment. Insurance can cost over a hundred pounds a year, rising to several hundred if you include other devices on one policy. So it’s essential that your insurance policy does what it says on the tin in order to justify the cost. Otherwise, you're simply throwing money down the drain.</p>
                                <p>Premium handsets are serious investments and protecting them is an important part of everyday financial planning. One in ten people insure their device against theft, accidental damage and technical faults. But are you actually covered for everything you think you are?</p>
                                <p><a href="https://www.dailymail.co.uk/money/news/article-6207371/The-phone-insurers-wont-pay-friends-over.html" target="_blank" rel="noopener noreferrer">Research firm Defaqto</a> analysed 150 different mobile phone insurance policies and identified 25 common exclusions that could prevent claims being paid or make it harder to claim. It found:</p>
                                <ul>
                                    <li>One in five policies failed to cover theft.</li>
                                    <li>About one in three policies won’t meet the cost of unauthorised calls or data, leaving you with a whopping great bill if someone rinses your calls or data.</li>
                                    <li>Two-thirds of policies ban you from making a claim for a certain period — often several weeks — after taking out a policy. Which is just totally crazy.</li>
                                </ul>
                                <p>This checks out with our experiences. Policy documentation is rammed with Ts&amp;Cs that the vast majority of people don’t have time to read, and wouldn’t fully understand if they did since they’re so technical and obscure. This is something we don’t do at so-sure, and something we will never do.</p>
                                <p>Theft is an important part of any phone insurance policy. The problem is that many insurance policies don’t include theft as standard or when they do, they can be quite unreasonable about the conditions they require to pay you.  Policyholders are left wondering whether they are actually covered for theft, or only mugging and other serious crimes… That’s wrong.</p>
                                <p>Accidental damage is also another risk for phone users. Many insurers claim to cover you for accidents, but to insist you take ‘all precautions’ to prevent them from happening. The very nature of an accident is that it’s accidental! One can take reasonable precautions but ‘all’ precautions? If we took all precautions at all times, we wouldn’t need the insurance.</p>
                                <p>At so-sure, we are clear about what is covered: loss, theft, accidental damage and out of warranty breakdown. All we ask is that customers take reasonable care of their phone. What we mean is that customers, using common sense, should take care of their property. If in doubt ask yourself “Would I  have left a pile of &pound;600 in cash there and expect to find it when I return?” If the answer is no, then you should not leave your phone there either. Of course, we will take in consideration the specifics of your situation as, after all, we are here to have your back if a misfortune happens!</p>
                                <p>As the Daily Mail points out,<em>“thousands of people are paying for 'unfair' mobile phone insurance policies with up to 40 exclusions littering the small print.”</em> As we’ve seen, these exclusions can include not keeping your mobile in arm's reach, allowing rain to damage it, or losing it after after having one drink. Claims are being refused for tonnes of tenuous reasons, lining the pockets of insurers and failing phone users who thought they were covered.</p>
                                <p>To rehabilitate the image of the industry and restore trust in the process of getting covered and making a claim, we need to rethink the entire concept of insurance. <a href="{{ path('homepage') }}">so-sure</a> is a new type of insurer that you can actually rely on. We protect you when you need to claim and reward you when you don't. <a href="{{ path('homepage') }}">Find out more here</a>.</p>
                            </div>
                            <nav><a href="{{ path('blog_index') }}" class="btn btn-outline-primary btn-sm"><i class="far fa-long-arrow-left fa-fw"></i> Back</a></nav>
                            <footer class="my-4">
                                {% include 'AppBundle::Blog/Includes/blogFooterCta.html.twig' %}
                            </footer>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/content-pages.js') }}"></script>
{% endblock %}
