{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}

{% block title %}Disruptive Technology - what is it? - Blog | so-sure{% endblock %}

{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/content-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="cp py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="cp__content">
                        <article>
                            <header class="mb-5">
                                <hgroup>
                                    <div class="breadcrumbs">
                                        <ul class="list-inline"
                                            vocab="https://schema.org/"
                                            typeof="BreadcrumbList">
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('homepage') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Home</span>
                                                </a>
                                                <meta property="position" content="1">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('blog_index') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Blog</span>
                                                </a>
                                                <meta property="position" content="2">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <span property="name">Disruptive Technology - what is it?</span>
                                                <meta property="position" content="3">
                                            </li>
                                        </ul>
                                    </div>
                                    <h1 class="text-primary mb-4">Disruptive Technology - what is it?</h1>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <div rel="author">Fiona</div>
                                        </li>
                                        <li class="list-inline-item">|</li>
                                        <li class="list-inline-item">
                                            <time>Jun 29, 2018</time>
                                        </li>
                                    </ul>
                                </hgroup>
                            </header>
                            <div class="blog__contents">
                                <p>In short, a disruptive technology is something that transforms a historically expensive product, which only a few people with a lot of money and a lot of skill have access to, by making it more affordable and available to a wider group of people.</p>
                                <p>The term was first brought to public attention in 1995 by a Harvard Professor named <a href="https://hbr.org/2015/12/what-is-disruptive-innovation" target="_blank" rel="noopener noreferrer">Clayton M. Christensen</a>.</p>
                                <p>This level of innovation is usually so huge that it completely eradicates the previous incumbent (in some cases very quickly). The reasons behind this usually being that the technology offers exponentially better performance, while being produced at a markedly lower cost. Before you know it the new technology is everywhere!</p>
                                <h2>Historic Precedent</h2>
                                <p>Disruptive Technology… it’s not a new thing.</p>
                                <p>While this may all sound like some new-fangled modern concept, it’s actually something that has been going on for some time. There are loads of historic examples of disruptive technology. Things such as the first horse powered agricultural machines disrupted the need for field workers. The same applies to the first <a href="http://www.boldride.com/ride/1917/ford-model-t" target="_blank" rel="noopener noreferrer">Ford Model T</a>, which did for horse-power what the horse did for manual labour.</p>
                                <p>While these two inventions may have benefited two totally different industries, they both had something in common — they were wildly better than anything that had come before (and a price that was actually affordable for the masses). People quickly adopted them and soon enough, they replaced their predecessors.</p>
                                <h2>Modern Day Disruptors</h2>
                                <p>You are using a disruptive technology each time you ‘Netflix &amp; Chill’ 😉</p>
                                <p>While you may think that some of this is ancient history, there’s a wealth of products and services (that you probably use) which are changing and disrupting the world around you. The most obvious one is probably <a href="https://www.netflix.com/gb/" target="_blank" rel="noopener noreferrer">Netflix</a>, but other companies such as <a href="https://www.airbnb.com/" target="_blank" rel="noopener noreferrer">Airbnb</a>, <a href="https://getmondo.co.uk/" target="_blank" rel="noopener noreferrer">Mondo</a> and <a href="https://www.uber.com/gb/en/" target="_blank" rel="noopener noreferrer">Uber</a> have changed the way we travel, bank and rent movies. 2016 really is a golden age for innovation as companies start to value and incorporate the millennial generation’s idea of what a good service should be.</p>
                                <h2>What Does The Future Hold?</h2>
                                <p>Is this the doctor of the future?</p>
                                <p>The future is really, really exciting. There are so many products in development that will rapidly change the way that we live. For example, IBM’s Watson will revolutionise the medical profession — soon enough, we could value a computer’s diagnosis over a human doctors. One of the more immediate disruptions will happen once self-driving cars are approved for use on our roads. Long-distance lorry driving will become a thing of the past as there will be no need for the drivers.</p>
                                <p>While this may seem like a lot of people will lose their jobs due to incoming disruptive technology, it simply isn’t the case. Historically, disruption does not reduce the amount of jobs. In fact, it creates them. We simply cannot conceive of the jobs of the future. However, what we do know is that in the past, disruption has always created them.</p>
                                <p>During the industrial revolution, luddites thought that the new machines would end their jobs and way of life. That wasn’t exactly the case, while some people couldn’t work in the cotton factories anymore, people were still needed to produce and manage these machines and that’s where their existing skills were put to use. The same happened to the field workers during the medieval age. While people’s concerns are realistic, there is great hope for a future where many dangerous or repetitive jobs will be performed by robots.</p>
                                <h2>Jobs Have Always Changed</h2>
                                <p>It would have been impossible to imagine people driving in villages such as this but it happened.</p>
                                <p>If you think about it, there used to be a time where it would be impossible to imagine any village that didn’t have a cobbler or a farrier (a person with the skills of both a blacksmith and a vet who looks after horses feet). However, time moves on and machines evolve — horses aren’t the predominant way of getting around anymore, cars are. Hence why we don’t need as many cobblers or farriers as we used to, we now need more mechanics. As technology changes, so do the jobs that go along with it.</p>
                                <p>However, it would be remiss of us to say that whatever happens, people will be okay. There are going to be a lot of people out there who either have to retrain or retire and finding a solution needs to become part of the national consciousness.</p>
                                <p>One solution that a lot of people are suggesting is ‘basic income’. This is where governments provide a monthly allowance to cover people’s essential expenses such as food, clothing and housing. Countries such as Switzerland, Holland and Canada have already started to seriously consider enacting it within the next year or so. The idea is that robots would generate money (<a href="https://www.weforum.org/agenda/2015/06/the-radical-solution-to-robots-taking-our-jobs/" target="_blank" rel="noopener noreferrer">automation is expected to add .7 trillion each year to the world economy</a>), which could used to provide basic income to those it displaces.</p>
                                <p>Whatever happens, it’s clear that we need to have a solution ready for when automation does happen — before it might be too late.</p>
                            </div>
                            <nav><a href="{{ path('blog_index') }}" class="btn btn-outline-primary btn-sm"><i class="far fa-long-arrow-left fa-fw"></i> Back</a></nav>
                            <footer class="my-4">
                                {% include 'AppBundle::Blog/Includes/blogFooterCta.html.twig' %}
                            </footer>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/content-pages.js') }}"></script>
{% endblock %}
