{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}
{% set include_get_a_quote = true %}

{% block title %}Google’s Pixel 3 takes on Apple’s iPhone XS - Blog | so-sure{% endblock %}

{% block meta %}
    <meta name="description" content="In the latest instalment of the fight for smartphone supremacy, we’re welcoming Apple again into the ring with its latest release, the iPhone XS. Its challenger this month is the mighty Google and their Pixel 3, which is yet to be released but one of the worst kept secrets in phone history thanks to its alleged availability on the Russian black market."/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}

{% set og_title = 'Google’s Pixel 3 takes on Apple’s iPhone XS - Blog | so-sure' %}
{% set og_description = "In the latest instalment of the fight for smartphone supremacy, we’re welcoming Apple again into the ring with its latest release, the iPhone XS. Its challenger this month is the mighty Google and their Pixel 3, which is yet to be released but one of the worst kept secrets in phone history thanks to its alleged availability on the Russian black market." %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/content-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="cp py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="cp__content">
                        <article>
                            {% include 'AppBundle::Blog/Includes/blogFixedCta.html.twig' with { 'type': 'phone' } %}
                            <header class="mb-5">
                                <hgroup>
                                    <div class="breadcrumbs">
                                        <ul class="list-inline"
                                            vocab="https://schema.org/"
                                            typeof="BreadcrumbList">
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('homepage') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Home</span>
                                                </a>
                                                <meta property="position" content="1">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('blog_index') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Blog</span>
                                                </a>
                                                <meta property="position" content="2">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <span property="name">Google’s Pixel 3 takes on Apple’s iPhone XS</span>
                                                <meta property="position" content="3">
                                            </li>
                                        </ul>
                                    </div>
                                    <h1 class="text-primary mb-4">Google’s Pixel 3 takes on Apple’s iPhone XS</h1>
                                    <div class="blog__info_share">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <div rel="author">Susan</div>
                                            </li>
                                            <li class="list-inline-item">|</li>
                                            <li class="list-inline-item">
                                                <time>Sep 24, 2018</time>
                                            </li>
                                        </ul>
                                        {% include 'AppBundle::Blog/Includes/blogShareLinks.html.twig' %}
                                    </div>
                                </hgroup>
                            </header>
                            <div class="blog__contents">
                                {# image #}
                                <p><a href="{{ path('samsungs_note_9_takes_on_apples_iphone_x') }}">Last month on the blog</a>, we took a close look at the heavyweight battle between the Samsung Note 9 and Apple’s, iPhone X.</p>
                                <p>In the latest instalment of the fight for smartphone supremacy, we’re welcoming Apple again into the ring with its latest release, the iPhone XS. Its challenger this month is the mighty Google and their Pixel 3, which is yet to be released but one of the worst kept secrets in phone history thanks to its alleged availability on the Russian black market.</p>
                                <p>To save you the trouble, we’ve done the hard work and worked out which one of these tech giants deserves your hard earned cash.</p>
                                <h2>The basics</h2>
                                <p>First things first, let’s get into the nuts and bolts.</p>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="h6">Pixel 3</th>
                                            <th class="h6">iPhone XS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="h6">Thickness</td>
                                            <td>7.9mm</td>
                                            <td>7.7mm</td>
                                        </tr>
                                        <tr>
                                            <td class="h6">Size</td>
                                            <td>145mm x 68mm</td>
                                            <td>143cm x 70mm</td>
                                        </tr>
                                        <tr>
                                            <td class="h6">Screen Size</td>
                                            <td>5.5 inches</td>
                                            <td>5.8 inches</td>
                                        </tr>
                                        <tr>
                                            <td class="h6">Storage</td>
                                            <td>64GB</td>
                                            <td>64GB</td>
                                        </tr>
                                        <tr>
                                            <td class="h6">Battery Capacity</td>
                                            <td>2915 mAh</td>
                                            <td>2658 mAh</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>The Pixel 3 is a bit chunkier but, remarkably, the iPhone’s screen is the bigger, giving an impressive 5.8 inches of coverage.</p>
                                <p>So if you want a lighter phone with more screen size, the iPhone is the one for you. The Pixel 3 does have a slightly larger battery, so if you’re one of those people who is on their phone all day, that might be something to consider if you don’t want to be ‘that’ person who carries a charger.</p>
                                <p><strong>Verdict:</strong> The iPhone’s lighter but bigger screen wins this one.</p>
                                <h2>Specification</h2>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="h6">Pixel 3</th>
                                            <th class="h6">iPhone XS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="h6">Processor</td>
                                            <td>Snapdragon 845</td>
                                            <td>A12 Bionic</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>Bigger screen… and bigger on the inside, too, as Apple’s A12 Bionic, an upgrade of about 15% extra power on the A11 in the iPhone X, continues to dominate its rivals when it comes down to specification and pure power. That extra power comes at the expense of less battery too as this operating system is far more efficient.</p>
                                <p>The Snapdragon 845 processor in the Pixel 3 is remains one of the fastest Android devices around, but it simply can’t compete with the incredibly powerful iPhone XS. Like the Samsung Note, the Pixel 3 does its best to get close but, in short, doesn’t get even close.</p>
                                <p><strong>Verdict:</strong> Apple’s A12 all the way.</p>
                                <h2>Looks and Design</h2>
                                <p>As mentioned, the Pixel 3 is one of the most leaked phones in phone history and the pictures that the top reviewers online have seen haven’t gone down too well. That’s thanks to the fact that it has a large notch in the top of the handset and a huge bezel somewhere near to the bottom, which doesn’t make it sound too slick and smooth, does it?</p>
                                <p>Obviously, the front panel is top to bottom glass, and finished with ultra-premium design but if the leaked pictures are to be believed, then it’s not looking great for Google. Having said that, we won’t know for certain until the actual phone is released on October 9th. It might all be a Google-led hoax to put us off the scent.</p>
                                <p>The iPhone XS clearly looks like the older, perhaps slightly suaver brother of the X and the 8, with a crowd pleasing all metal body and soft round corners. Apple clearly know what we like - and they’re prepared to keep giving it to us. On release, the UK will only get a limited choice of 3 colours, but the beautiful, simple design continues to impress.</p>
                                <p><strong>Verdict:</strong> Apple do what they do well. Google - if true - have dropped the ball here.</p>
                                <h2>Camera</h2>
                                <p>When deciding what phone to buy nowadays, the camera is all important. Vital, in fact, given the importance that we all place on photography/Instagram.</p>
                                <p>The iPhone XS camera is really solid, much like the X, it does feel a little unremarkable. Improvements to the processor, moving from the A11 to the A12, have apparently brought some strong gains in the camera too but the camera does feel like an area where Apple are clearly not really targeting dominance. Thus it gives their rival an opportunity to steal market share.</p>
                                <p>And Google takes advantage with a terrific camera on the Pixel 3. The camera on the Pixel 2 was widely lauded as being one of the best cameras in smartphone history and, if even the improvements are going to be small, it’s thought that the Pixel 3 will be even better.</p>
                                <p><strong>Verdict:</strong> If Google have improved the best smartphone camera ever, they win this one.</p>
                                <h2>Special Features</h2>
                                <p>Seemingly slightly pointless but truly awesome, the iPhone XS can be submerged in water for 2:30 minutes at a depth of 2 metres and still come up ringing! It’s also got an extended battery life that is an upgrade on the X and the largest battery in history of the iPhone.</p>
                                <p>The Pixel 3 is offering wireless charging, which seems genuinely useful to me, and a very cool ‘Active Edge’ system that unlocks the phone just by squeezing it. There are also rumours of a ‘Super Selfie’ mode, involving two front facing camera sensors and an extra wide angle lens.</p>
                                <p><strong>Verdict:</strong> A draw. If you like selfies, Google. If you like throwing your phone in the sea, Apple.</p>
                                <h2>Value for Money</h2>
                                <p>In short, neither are cheap but one is heck of a lot more expensive than the other.</p>
                                <p>The XS starts at &pound;999 and can cost a whopping &pound;1,349 for the top end versions.</p>
                                <p>The Pixel 3 pricing has yet to be confirmed but judging by the fact that the Pixel 2 launched at a middling &pound;649, it&rsquo;s likely that the Pixel 3 won&rsquo;t be much more.</p>
                                <p><strong>Verdict:</strong> How Apple think they can charge that much for a phone is beyond some commentators. But that doesn’t mean no one will buy it. Google wins this one.</p>
                                <h2>The Verdict</h2>
                                <p>It’s not even a close run thing this time round. Apple romp to victory in almost every category, save the camera, where we expect Google to offer something very special.</p>
                                <p>To reiterate, this is based on leaked reports of the Pixel 3, but the rumours usually aren’t wrong. In power, size, design and features, the imperious Apple iPhone XS sweeps the board.</p>
                                <p>The only area where Google truly wins out is price, which, let’s face it, is pretty key. The XS could cost you twice as much as the Pixel 3. Whether it is twice as good, remains to be seen.</p>
                            </div>
                            <nav><a href="{{ path('blog_index') }}" class="btn btn-outline-primary btn-sm"><i class="far fa-long-arrow-left fa-fw"></i> Back</a></nav>
                            <footer class="my-4">
                                {% include 'AppBundle::Blog/Includes/blogFooterCta.html.twig' %}
                            </footer>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/content-pages.js') }}"></script>
{% endblock %}
