{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}

{% block title %}Introducing Social Insurance - Blog | so-sure{% endblock %}

{% block meta %}
    <meta name="description" content="Social insurance is often referred to as a revolutionary new type of insurance. A sea-change shift in the way that consumers and insurers approach risk."/>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/content-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="cp py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="cp__content">
                        <article>
                            <header class="mb-5">
                                <hgroup>
                                    <div class="breadcrumbs">
                                        <ul class="list-inline"
                                            vocab="https://schema.org/"
                                            typeof="BreadcrumbList">
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('homepage') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Home</span>
                                                </a>
                                                <meta property="position" content="1">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('blog_index') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Blog</span>
                                                </a>
                                                <meta property="position" content="2">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <span property="name">Introducing Social Insurance</span>
                                                <meta property="position" content="3">
                                            </li>
                                        </ul>
                                    </div>
                                    <h1 class="text-primary mb-4">Introducing Social Insurance</h1>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <div rel="author">Susan</div>
                                        </li>
                                        <li class="list-inline-item">|</li>
                                        <li class="list-inline-item">
                                            <time>Sep 10, 2018</time>
                                        </li>
                                    </ul>
                                </hgroup>
                            </header>
                            <div class="blog__contents">
                                {# image #}
                                <p>Social insurance is often referred to as a revolutionary new type of insurance. A sea-change shift in the way that consumers and insurers approach risk.</p>
                                <p>But social insurance is actually very old. It’s been around for donkey’s years, but overlooked in favour of complicated, asymmetric commercial models that punish consumers whilst lining the pockets of the insurance industry.</p>
                                <p>Not any more. Social insurance is back, and it’s going to be massive.</p>
                                <h2>What is Social Insurance?</h2>
                                <p>Social insurance involves consumers and insurers coming together to pool risk. It harks back to the coffee houses of 17th Century London, when ship owners would get together to discuss problems and mutualise risks.</p>
                                <p>Over time, an industry which began life as something simple, intuitive and fair became complex, confusing and frankly, unfair. The modern insurance industry is hard for insurance professionals to understand, let alone consumers. It’s characterised by implausibly long value chains, high costs that are passed onto end customers in the form of rising premiums, painful processes and a chronic lack of transparency. Insurers fail to communicate on a basic, human level, leaving customers in the dark as to how insurance can actually improve their lives. And how they make their money.</p>
                                <p>Social insurance is an antidote to all that. It simplifies the insurance process, reducing friction and increasing efficiency. The end result is a service which is both better and cheaper for consumers.</p>
                                <h2>How Does Social Insurance Actually Work?</h2>
                                <p>Social insurance represents a complete departure from the traditional insurance model, whereby risk is centralised. Instead, it relies on peers coming together to decentralise risk, leveraging the power of informed individuals to lower costs and improve outcomes for everyone.</p>
                                <p>By reducing overheads, social insurance lowers premiums passed onto end customers.And crowdsourcing data through communities enables social insurance platforms to make better risk assessments by allowing customers to shape the risk profile of the pool by only referring people they know and trust. Social insurance also has the potential to reward positive group behaviours by refunding premiums.</p>
                                <p>Social insurance isn’t simply an excuse for insurance companies to outsource marketing, risk management and underwriting. It’s a beautifully simple way to align the interests of insurers and the people they insure. Just as sharing economy startups like Airbnb and Uber have transformed inefficient industries like hospitality and transportation, social insurance is transforming the antiquated insurance industry.</p>
                                <h2>So, Why Now? What's Changed?</h2>
                                <p>If social insurance is so great, why isn’t it more popular?</p>
                                <p>Until now, we have lacked the ability to successfully assess and pool risk at scale. In recent years, technology has changed that.</p>
                                <p>Increased computing power, the Internet, smartphones, social media, even blockchain and artificial intelligence…. these technologies enable social insurance providers to reach large numbers of consumers, assess risk and handle claims. And they give consumers the power to access insurance in a direct, user-friendly way.</p>
                                <p>Which is why social insurance is taking off, in a big way. Accenture reports there were <a href="https://insuranceblog.accenture.com/insurtech-the-testing-ground-for-p2p-and-social-insurance" target="_blank" rel="noopener noreferrer">16 launch announcements from social insurance startups in 2015</a>, more than the previous 5 years combined. Names like <a href="https://www.iamagazine.com/magazine/read/2016/08/01/will-peer-to-peer-insurance-startups-disrupt-the-industry" target="_blank" rel="noopener noreferrer">Friendsurance, InsPeer and Guevara, Lemonade</a> and of course, <a href="{{ path('homepage') }}">so-sure</a> are driving social insurance forward, attracting large scale investment and loyal followings amongst consumers.</p>
                                <h2>What’s Next for Social Insurance?</h2>
                                <p>Until now, the insurance industry has been built for insurance companies, by insurance companies. Social insurance changes all that. Its built for consumers, by consumers. Millennials are responding to this message, because they tend to seek out ethical, transparent companies. But social insurance isn’t just for the young, it’s for everyone.</p>
                                <p>Right now the biggest challenge facing social insurance is a lack of awareness and we have much work to do in order to convince consumers that insurance doesn't have to be boring, stressful and unreliable. Social insurance makes finding, buying and using insurance effortless, intuitive and fair. And it has the potential to restore trust in an entire industry.</p>
                            </div>
                            <footer></footer>
                        </article>
                        <nav><a href="{{ path('blog_index') }}">Back</a></nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/content-pages.js') }}"></script>
{% endblock %}
