{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}

{% block title %}so-sure - Introducing Social Insurance{% endblock %}

{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
{% endblock %}

{% block body %}

    <section class="blog">
        <div class="d-lg-flex">

            {# Main Content #}
            <div class="blog__main__container">
                <div class="blog__main px-4 px-lg-5">
                    <article>
                        <header class="mb-5">
                            <hgroup>
                                <div class="breadcrumbs">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="{{ path('blog_index') }}">Blog</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="fal fa-angle-right"></i>
                                        </li>
                                        <li class="list-inline-item">
                                            Introducing Social Insurance
                                        </li>
                                    </ul>
                                </div>
                                <h1 class="text-primary mb-4">Introducing Social Insurance</h1>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <div rel="author">Susan</div>
                                    </li>
                                    <li class="list-inline-item">|</li>
                                    <li class="list-inline-item">
                                        <time>Sep 10, 2018</time>
                                    </li>
                                </ul>
                            </hgroup>
                        </header>
                        {# image #}
                        <p>Social insurance is often referred to as a revolutionary new type of insurance. A sea-change shift in the way that consumers and insurers approach risk.</p>
                        <p>But social insurance is actually very old. It’s been around for donkey’s years, but overlooked in favour of complicated, asymmetric commercial models that punish consumers whilst lining the pockets of the insurance industry.</p>
                        <p>Not any more. Social insurance is back, and it’s going to be massive.</p>
                        <h2>What is Social Insurance?</h2>
                        <p>Social insurance involves consumers and insurers coming together to pool risk. It harks back to the coffee houses of 17th Century London, when ship owners would get together to discuss problems and mutualise risks.</p>
                        <p>Over time, an industry which began life as something simple, intuitive and fair became complex, confusing and frankly, unfair. The modern insurance industry is hard for insurance professionals to understand, let alone consumers. It’s characterised by implausibly long value chains, high costs that are passed onto end customers in the form of rising premiums, painful processes and a chronic lack of transparency. Insurers fail to communicate on a basic, human level, leaving customers in the dark as to how insurance can actually improve their lives. And how they make their money.</p>
                        <p>Social insurance is an antidote to all that. It simplifies the insurance process, reducing friction and increasing efficiency. The end result is a service which is both better and cheaper for consumers.</p>
                        <h2>How Does Social Insurance Actually Work?</h2>
                        <p>Social insurance represents a complete departure from the traditional insurance model, whereby risk is centralised. Instead, it relies on peers coming together to decentralise risk, leveraging the power of informed individuals to lower costs and improve outcomes for everyone.</p>
                        <p>By reducing overheads, social insurance lowers premiums passed onto end customers.And crowdsourcing data through communities enables social insurance platforms to make better risk assessments by allowing customers to shape the risk profile of the pool by only referring people they know and trust. Social insurance also has the potential to reward positive group behaviours by refunding premiums.</p>
                        <p>Social insurance isn’t simply an excuse for insurance companies to outsource marketing, risk management and underwriting. It’s a beautifully simple way to align the interests of insurers and the people they insure. Just as sharing economy startups like Airbnb and Uber have transformed inefficient industries like hospitality and transportation, social insurance is transforming the antiquated insurance industry.</p>
                        <h2>So, Why Now? What's Changed?</h2>
                        <p>If social insurance is so great, why isn’t it more popular?</p>
                        <p>Until now, we have lacked the ability to successfully assess and pool risk at scale. In recent years, technology has changed that.</p>
                        <p>Increased computing power, the Internet, smartphones, social media, even blockchain and artificial intelligence…. these technologies enable social insurance providers to reach large numbers of consumers, assess risk and handle claims. And they give consumers the power to access insurance in a direct, user-friendly way.</p>
                        <p>Which is why social insurance is taking off, in a big way. Accenture reports there were <a href="https://insuranceblog.accenture.com/insurtech-the-testing-ground-for-p2p-and-social-insurance" target="_blank" rel="noopener noreferrer">16 launch announcements from social insurance startups in 2015</a>, more than the previous 5 years combined. Names like <a href="https://www.iamagazine.com/magazine/read/2016/08/01/will-peer-to-peer-insurance-startups-disrupt-the-industry" target="_blank" rel="noopener noreferrer">Friendsurance, InsPeer and Guevara, Lemonade</a> and of course, <a href="{{ path('homepage') }}">so-sure</a> are driving social insurance forward, attracting large scale investment and loyal followings amongst consumers.</p>
                        <h2>What’s Next for Social Insurance?</h2>
                        <p>Until now, the insurance industry has been built for insurance companies, by insurance companies. Social insurance changes all that. Its built for consumers, by consumers. Millennials are responding to this message, because they tend to seek out ethical, transparent companies. But social insurance isn’t just for the young, it’s for everyone.</p>
                        <p>Right now the biggest challenge facing social insurance is a lack of awareness and we have much work to do in order to convince consumers that insurance doesn't have to be boring, stressful and unreliable. Social insurance makes finding, buying and using insurance effortless, intuitive and fair. And it has the potential to restore trust in an entire industry.</p>
                        <footer></footer>
                    </article>
                    <nav><a href="{{ path('blog_index') }}">Back</a></nav>
                </div>
            </div>

            {# Sub Content #}
            <div class="blog__sub__container d-none d-lg-flex justify-content-lg-start">
                {# Curve Desktop #}
                <div class="blog__curve">
                    <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 69 846" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="3.0-so-sure-(Price-&amp;-Payment)">
                                <path d="M0,0 L69,0 C31,140 12,280.666667 12,422 C12,563.333333 31,704.666667 69,846 L0,846 L0,0 Z" id="Rectangle-2" fill="#FFFFFF"></path>
                                <path d="M69,0 L69,846 L68,846 C30.6666667,705 12,564 12,423 C12,282 31,141 69,0 Z" id="Rectangle-3" fill="#E5F4FF"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="blog__sub px-4 pb-4 pt-5 p-lg-5">
                    <div class="blog__nav">
{#                         <div id="blog-nav" class="list-group mb-5">
                            <a class="list-group-item list-group-item-action" href="#top-questions"><i class="far fa-angle-right fa-lg mr-2"></i> Top Questions</a>
                            <a class="list-group-item list-group-item-action" href="#the-so-sure-app-and-pic-sure"><i class="far fa-angle-right fa-lg  mr-2"></i> The so-sure app</a>
                            <a class="list-group-item list-group-item-action" href="#social-insurance-and-reward-pot"><i class="far fa-angle-right fa-lg  mr-2"></i> Social Insurance &amp; Reward Pot</a>
                            <a class="list-group-item list-group-item-action" href="#the-insurance-policy"><i class="far fa-angle-right fa-lg  mr-2"></i> The Insurance Policy</a>
                            <a class="list-group-item list-group-item-action" href="#claims"><i class="far fa-angle-right fa-lg  mr-2"></i> Claims</a>
                            <a class="list-group-item list-group-item-action" href="#payments-and-cancellations"><i class="far fa-angle-right fa-lg  mr-2"></i> Payments &amp; Cancellations</a>
                            <a class="list-group-item list-group-item-action" href="#about-us"><i class="far fa-angle-right fa-lg  mr-2"></i> About us</a>
                        </div> #}
                        {# <a id="back-to-top-blog" href="#" class="btn btn-outline-dodger-blue"><i class="far fa-arrow-up mr-2"></i> Back to top</a> #}
                    </div>

                </div>
            </div>

        </div>
    </section>

{% endblock %}

{% block footer %}
    {# TODO: Fix footer #}
{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/blog.js') }}"></script>
{% endblock %}
