{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}

{% block title %}Mobile Phone Insurance Buying Guide - Blog | so-sure{% endblock %}

{% block meta %}
    <meta name="description" content="Insurance is dull and boring. We know. For exactly that reason, we’ve put together some handy info to help guide you through the mind numbingly dull world of insurance for your phone."/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/content-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="cp py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="cp__content">
                        <article>
                            <header class="mb-5">
                                <hgroup>
                                    <div class="breadcrumbs">
                                        <ul class="list-inline"
                                            vocab="https://schema.org/"
                                            typeof="BreadcrumbList">
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('homepage') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Home</span>
                                                </a>
                                                <meta property="position" content="1">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('blog_index') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Blog</span>
                                                </a>
                                                <meta property="position" content="2">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <span property="name">Mobile Phone Insurance Buying Guide</span>
                                                <meta property="position" content="3">
                                            </li>
                                        </ul>
                                    </div>
                                    <h1 class="text-primary mb-4">Mobile Phone Insurance Buying Guide</h1>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <div rel="author">Sam</div>
                                        </li>
                                        <li class="list-inline-item">|</li>
                                        <li class="list-inline-item">
                                            <time>Jun 29, 2018</time>
                                        </li>
                                    </ul>
                                </hgroup>
                            </header>
                            <div class="blog__contents">
                                {# image #}
                                <p>Insurance is dull and boring. We know. For exactly that reason, we’ve put together some handy info to help guide you through the mind numbingly dull world of insurance for your phone.</p>
                                <h2>What is insurance?</h2>
                                <ul>
                                    <li>Insurance is a protection against something unfavourable happening. Nobody wants bad things to happen, or even expects them to happen. But when they do, insurance is there to make sure you’re not left out of pocket.</li>
                                    <li>Mobile phones are a huge part of modern day life - we spend our lives with them and half our lives using them. We invest heavily in the handset and would be lost without it.</li>
                                </ul>
                                <h2>Do you need insurance?</h2>
                                <p>Well that depends on whether you could:</p>
                                <ol>
                                    <li>Live without your phone if it was lost or stolen or</li>
                                    <li>Afford to buy a replacement model of up to &pound;1000?</li>
                                </ol>
                                <h4>What type of insurance should I look for?</h4>
                                <p>Am I covered with my home insurance? My bank account? Should I go with my mobile network or with a specialist insurance company? All very good and valid questions….</p>
                                <h4>Home Insurance</h4>
                                <p>Home and contents policies usually will cover mobile phones, so yes in short, you’re probably covered. BUT… It may cover you only for loss or damage that occurs inside the property. Dropped it outside or had it pickpocketed? Chances are, you won’t be covered. Whatsmore, if you do need to claim, your premium for next years insurance will undoubtedly rise.</p>
                                <h4>Bank Accounts</h4>
                                <p>Some packaged bank accounts now offer phone insurance as part of a monthly fee. If you’re one of those lucky customers then great, the benefits can be useful. However, as the insurance aspect isn’t core to their model, their service times can be woefully slow and their excesses high.</p>
                                <h4>Mobile Network</h4>
                                <p>Ever noticed when you buy a contract, your network immediately recommends insurance. Of course it’s a wise idea, but as you’re in the buying mindset, it makes it quite an easy sell even at the hyper-inflated prices they charge. Mobile networks typically only allow you to insure a device until around 30 days post purchase so if your phone isn’t brand new, they don’t want to know.</p>
                                <h4>Independent Phone Insurance</h4>
                                <p>Here you’re paying a provider for specialist phone insurance. The advantages here are that the companies can typically provide insurance far cheaper than the mobile networks and offer lower excesses. Whilst the market will vary, you can find providers who can offer a low excess AND deliver you a new phone the next working day.</p>
                                <h4>Is it true insurance companies try to avoid paying out?</h4>
                                <p>Insurance generally has a bad rap. Its an industry trusted less than banks, and bankers created the entire financial crisis. A new wave of insurer has emerged on the market to exploit the gap in the market for good, honest insurance, but there are ways you can protect yourselves.</p>
                                <h4>T&amp;Cs</h4>
                                <p>Terms &amp; Conditions. Pages and pages of loopholes and clauses which can be designed to be a get out of jail free card for insurers who don’t want to pay out. We’re not saying to go over them with a fine tooth comb, but choose an insurer who isn’t afraid to be honest, open and upfront about what’s in their terms. It also helps if they’re written in plain and simple English.</p>
                                <h4>Reviews</h4>
                                <p>Chances are, if a company are trying to catch you out, they’ve caught someone else out doing the same. Check out the companies reviews on TrustPilot, Google, Facebook etc. Also check out how they deal with customer issues to help understand if they actually care.</p>
                                <p>We hope this has been of help, if you are interested in protecting your phone visit our site to <a href="{{ path('homepage') }}">get a quote</a>.</p>
                            </div>
                            <nav><a href="{{ path('blog_index') }}" class="btn btn-outline-primary btn-sm"><i class="far fa-long-arrow-left fa-fw"></i> Back</a></nav>
                            <footer class="my-4">
                                {% include 'AppBundle::Blog/Includes/blogFooterCta.html.twig' %}
                            </footer>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/content-pages.js') }}"></script>
{% endblock %}
