{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}

{% block title %}The Most Durable Rugged Smartphones | so-sure{% endblock %}

{% block meta %}
    <meta name="description" content="With the rugged smartphone market in full swing, we share our top seven durable handset recommendations that’ll keep you connected, whatever the weather."/>
{% endblock %}
{% set og_title = 'The Most Durable Rugged Smartphones | so-sure' %}
{% set og_description = "With the rugged smartphone market in full swing, we share our top seven durable handset recommendations that’ll keep you connected, whatever the weather." %}
{% set og_image = cdn_url ~ '/images/rebrand/blog/most-durable-phones-1.jpg' %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/content-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="cp py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="cp__content blog__contents">
                        <article>
                            <header class="mb-5">
                                <hgroup>
                                    <div class="breadcrumbs">
                                        <ul class="list-inline"
                                            vocab="https://schema.org/"
                                            typeof="BreadcrumbList">
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('homepage') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Home</span>
                                                </a>
                                                <meta property="position" content="1">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('blog_index') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Blog</span>
                                                </a>
                                                <meta property="position" content="2">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <span property="name">Most Durable Phones</span>
                                                <meta property="position" content="3">
                                            </li>
                                        </ul>
                                    </div>
                                    <h1 class="text-primary mb-4">Most Durable Phones</h1>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <div rel="author">Susan</div>
                                        </li>
                                        <li class="list-inline-item">|</li>
                                        <li class="list-inline-item">
                                            <time>Jan 17, 2020</time>
                                        </li>
                                    </ul>
                                </hgroup>
                            </header>
                            <div class="blog__contents">
                                <img src="{{ cdn_url }}/images/onexone.png"
                                     data-src="{{ cdn_url }}/images/rebrand/blog/most-durable-phones-1.jpg"
                                     alt="Phone on pebble beach"
                                     class="img-fluid lozad mb-5">
                                <p>Looking for a smartphone that effortlessly handles the elements? Our top seven durable phone choices feature anti-impact technology, extreme weather functionality, and in some cases, flagship phone performance.</p>
                                <p>The best durable smartphones are element-proof. This means they’re typically dustproof and waterproof, as well as being sturdy enough to withstand drops, knocks, and all manner of other shocks, making them ideal for people who work or pursue hobbies in the great outdoors.</p>
                                <p>All our selections have undergone stringent IP68 assessments to ensure they meet standards for protection against extreme temperatures, shock, dust, and water.</p>
                                <h2>AGSAM X3</h2>
                                <img src="{{ cdn_url }}/images/onexone.png"
                                     data-src="{{ cdn_url }}/images/rebrand/blog/most-durable-phones-3.jpg"
                                     alt="AGSAM X3"
                                     class="img-fluid lozad mb-5">
                                <h3>Specifications</h3>
                                <table class="table mb-5">
                                    <tbody>
                                        <tr>
                                            <td>Weight</td>
                                            <td>200g</td>
                                        </tr>
                                        <tr>
                                            <td>Dimensions</td>
                                            <td>167.5 x 81.5 x 10.5mm</td>
                                        </tr>
                                        <tr>
                                            <td>OS</td>
                                            <td>Android 8.1 Oreo</td>
                                        </tr>
                                        <tr>
                                            <td>Screen</td>
                                            <td>5.99in Full-HD+ (2160x1080) 18:9 display with Gorilla Glass 5</td>
                                        </tr>
                                        <tr>
                                            <td>RAM</td>
                                            <td>6/8GB</td>
                                        </tr>
                                        <tr>
                                            <td>Storage</td>
                                            <td>64/128GB storage, MicroSD up to 128GB</td>
                                        </tr>
                                        <tr>
                                            <td>Battery</td>
                                            <td>4,100mAh battery; quick Charge 3.0 (includes wireless charging)</td>
                                        </tr>
                                        <tr>
                                            <td>Camera</td>
                                            <td>12Mp + 24Mp Sony dual-lens AI camera and a 20Mp selfie camera</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>The AGM X3 takes its rightful place at the top of the rugged smartphone pile, due to its blend of durability, elegance and premium features. This svelte, yet rugged handset features localised support and boasts components that rival current flagship models.</p>
                                <p>The X3 also features the patented ‘Armoured Madman Design’, which establishes its IP68 rating and MIL-STD-810G military certification. These features ensure optimal performance at extreme temperatures (between -30-60°C) and waterproof functionality up to 1.5m deep for up to half an hour.</p>
                                <h2>CAT S61</h2>
                                <img src="{{ cdn_url }}/images/onexone.png"
                                     data-src="{{ cdn_url }}/images/rebrand/blog/most-durable-phones-2.jpg"
                                     alt="CAT S61"
                                     class="img-fluid lozad mb-5">
                                <h3>Specifications</h3>
                                <table class="table mb-5">
                                    <tbody>
                                        <tr>
                                            <td>Weight</td>
                                            <td>250g</td>
                                        </tr>
                                        <tr>
                                            <td>Dimensions</td>
                                            <td>163 x 78 x 13mm</td>
                                        </tr>
                                        <tr>
                                            <td>OS</td>
                                            <td>Android 8.1 Oreo</td>
                                        </tr>
                                        <tr>
                                            <td>Screen</td>
                                            <td>Super bright 5.2” Display – FHD (1920 x 1080) IPS, auto switch support and wet-finger/glove-on working technology. Includes Gorilla Glass 5</td>
                                        </tr>
                                        <tr>
                                            <td>RAM</td>
                                            <td>4GB</td>
                                        </tr>
                                        <tr>
                                            <td>Storage</td>
                                            <td>64GB, expandable via microSD card</td>
                                        </tr>
                                        <tr>
                                            <td>Battery</td>
                                            <td>4500mAh; quick charge 4.0 compatible</td>
                                        </tr>
                                        <tr>
                                            <td>Camera</td>
                                            <td>16MP autofocus with PDAF (rear) Dual LED fixed focus flash (front)</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>Succeeding the hugely popular CAT S60, the S61 refines rather than rethinks; enhancing its predecessor’s stellar features to produce another industry leading rugged smartphone. CAT’s latest iteration boasts a more powerful thermal imaging sensor, a sharper laser measuring tool and a more refined ambient air sensor.</p>
                                <p>Be warned; the CAT S61 isn’t the shy, retiring type, having been unashamedly built for toughness. If the Samsung Galaxy S10 and iPhone 11 are likened to smartphone sports cars, the S61 is closer to an armoured truck. In fact, the rubberised back panel feels more like a car tyre than a smartphone chassis! But this is no accident; the S61 is built to both IP68 and IP69 standards and can survive drops of up to 1.8m – directly onto concrete.</p>
                                <p>And that’s not all - the raised ridge around the screen reinforces its durability, while its operating range of between -25-55°C enables uninterrupted functionality in the worst weather conditions.</p>
                                <p>Despite its rugged, reinforced construction, it’s best to err on the side of caution by adding <a href="{{ path('phone_insurance_make_model', {'make': 'Cat', 'model': 'S61'}) }}">CAT S61 insurance</a> to your handset package. After all – if you need a phone this tough, you probably have more reason than most to need it in full working order!</p>
                                <h2>Doogee S90</h2>
                                <img src="{{ cdn_url }}/images/onexone.png"
                                     data-src="{{ cdn_url }}/images/rebrand/blog/most-durable-phones-5.jpg"
                                     alt="Doogee S90"
                                     class="img-fluid lozad mb-5">
                                <h3>Specifications</h3>
                                <table class="table mb-5">
                                    <tbody>
                                        <tr>
                                            <td>Weight</td>
                                            <td>302g</td>
                                        </tr>
                                        <tr>
                                            <td>Dimensions</td>
                                            <td>170 x 80 x 15mm</td>
                                        </tr>
                                        <tr>
                                            <td>OS</td>
                                            <td>Android 8.1 Oreo</td>
                                        </tr>
                                        <tr>
                                            <td>Screen</td>
                                            <td>6.18 inches</td>
                                        </tr>
                                        <tr>
                                            <td>RAM</td>
                                            <td>6GB</td>
                                        </tr>
                                        <tr>
                                            <td>Storage</td>
                                            <td>128GB, expandable via microSD card</td>
                                        </tr>
                                        <tr>
                                            <td>Battery</td>
                                            <td>5050 mAh</td>
                                        </tr>
                                        <tr>
                                            <td>Camera</td>
                                            <td>16+8MP (rear), 8 MP (front)</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>With a tagline of the ‘Versatile Unbreakable Smartphone’, the Doogee S90 certainly has a lot to live up to – and it succeeds in almost every way. </p>
                                <p>Renouncing svelte aesthetics for old-school flap cover ports, thick rubber bumpers and visible chassis screws, the S90 features a reinforced construction that allows it to be submerged 1.5m deep for up to two weeks, while its IP69K certification means it can withstand high pressure steam jet cleaning. It’s even freezeproof. </p>
                                <p>What’s more, the S90 includes numerous handy add-ons that attach to the rear panel. These include a walkie talkie module, wireless charger, night vision camera, gamepad and a huge 5,000mAh battery, making it a rugged all-rounder worthy of your consideration.</p>
                                <h2>Blackview BV5500</h2>
                                <img src="{{ cdn_url }}/images/onexone.png"
                                     data-src="{{ cdn_url }}/images/rebrand/blog/most-durable-phones-4.jpg"
                                     alt="Blackview BV5500"
                                     class="img-fluid lozad mb-5">
                                <h3>Specifications</h3>
                                <table class="table mb-5">
                                    <tbody>
                                        <tr>
                                            <td>Weight</td>
                                            <td>225g</td>
                                        </tr>
                                        <tr>
                                            <td>Dimensions</td>
                                            <td>75.5 x 152.2 x 14 mm</td>
                                        </tr>
                                        <tr>
                                            <td>OS</td>
                                            <td>Android 8.1 Oreo</td>
                                        </tr>
                                        <tr>
                                            <td>Screen</td>
                                            <td>5.5 inches</td>
                                        </tr>
                                        <tr>
                                            <td>RAM</td>
                                            <td>2GB</td>
                                        </tr>
                                        <tr>
                                            <td>Storage</td>
                                            <td>16GB, expandable storage via microSD</td>
                                        </tr>
                                        <tr>
                                            <td>Battery</td>
                                            <td>4400 mAh, Li-Polymer</td>
                                        </tr>
                                        <tr>
                                            <td>Camera</td>
                                            <td>8MP (rear), 5MP (front)</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>The Blackview BV5500 represents another affordable China-made option that packs numerous features under its reinforced military grade chassis. Features include a large 5.5’’ display, powerful battery, polycarbonate construction and Android 8.1 Oreo. This rugged handset is ideal for outdoor workers and hobbyists alike.</p>
                                <h2>Ulefone Armor 6</h2>
                                <img src="{{ cdn_url }}/images/onexone.png"
                                     data-src="{{ cdn_url }}/images/rebrand/blog/most-durable-phones-7.jpg"
                                     alt="Ulefone Armor 6"
                                     class="img-fluid lozad mb-5">
                                <h3>Specifications</h3>
                                <table class="table mb-5">
                                    <tbody>
                                        <tr>
                                            <td>Weight</td>
                                            <td>268g</td>
                                        </tr>
                                        <tr>
                                            <td>Dimensions</td>
                                            <td>13.2 x 166 x 83mm</td>
                                        </tr>
                                        <tr>
                                            <td>OS</td>
                                            <td>Android 8.1 Oreo</td>
                                        </tr>
                                        <tr>
                                            <td>Screen</td>
                                            <td>6.2-inch capacitive multi-touch screen</td>
                                        </tr>
                                        <tr>
                                            <td>RAM</td>
                                            <td>6GB</td>
                                        </tr>
                                        <tr>
                                            <td>Storage</td>
                                            <td>128GB, expandable up to 256GB with SD card</td>
                                        </tr>
                                        <tr>
                                            <td>Battery</td>
                                            <td>5000 mAh Lithium-Polymer</td>
                                        </tr>
                                        <tr>
                                            <td>Camera</td>
                                            <td>16MP (rear), 13+8MP (front)</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>Ulefone continues to push boundaries in the durable smartphone sphere, with the Armor 6 neatly encapsulating their forward-thinking engineering.</p>
                                <p>Structurally tough and intelligent within, the latest Armor iteration is perfect for those seeking a durable handset that effortlessly handles the elements. It’s waterproof, drop-proof, shockproof and dustproof – establishing the Armor 6 as a rugged, durable smartphone that’ll accompany you in the most demanding environments.</p>
                                <p>And the features don’t end there. It’s also equipped with a Gorilla Glass Full HD+ display, wireless charging, a dual lens camera, and IP68 certification - making this an affordable, flagship feature rugged smartphone.</p>
                                <h2>Samsung XCover 4</h2>
                                <img src="{{ cdn_url }}/images/onexone.png"
                                     data-src="{{ cdn_url }}/images/rebrand/blog/most-durable-phones-6.jpg"
                                     alt="Samsung XCover 4"
                                     class="img-fluid lozad mb-5">
                                <h3>Specifications</h3>
                                <table class="table mb-5">
                                    <tbody>
                                        <tr>
                                            <td>Weight</td>
                                            <td>172g</td>
                                        </tr>
                                        <tr>
                                            <td>Dimensions</td>
                                            <td>146.2 x 73.3 x 9.7mm</td>
                                        </tr>
                                        <tr>
                                            <td>OS</td>
                                            <td>Android 9.0 Pie, 8.1 Oreo or 7.0 Nougat</td>
                                        </tr>
                                        <tr>
                                            <td>Screen</td>
                                            <td>5 inches</td>
                                        </tr>
                                        <tr>
                                            <td>RAM</td>
                                            <td>2GB</td>
                                        </tr>
                                        <tr>
                                            <td>Storage</td>
                                            <td>16GB, expandable up to 256GB with microSDXC card</td>
                                        </tr>
                                        <tr>
                                            <td>Battery</td>
                                            <td>2800 mAh</td>
                                        </tr>
                                        <tr>
                                            <td>Camera</td>
                                            <td>13MP (rear), 5MP (front)</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>Traditionally associated with sleek, industry leading designs, Samsung’s latest entry sees the electrical powerhouse take on the rugged smartphone market – and the results are impressive.</p>
                                <p>Despite being the lowest priced phone on our list, the XCover 4 effortlessly blends sophisticated aesthetics with a reinforced construction that meets both IP68 and Mil-STD 810G standards.</p>
                                <p>Aside from its svelte, yet rugged build, the XCover 4 keeps your hands warm and dry during use, thanks to its 100% glove-compatible intuitive display; and you’ll never get caught short while working outdoors, courtesy of its 2800mAh battery.</p>
                                <p>The XCover 4 runs Android’s latest OS, allowing you to install all your favourite apps, while its sophisticated dual camera lets you capture those special moments at the touch of a button.</p>
                                <h2>OnePlus 5T</h2>
                                <img src="{{ cdn_url }}/images/onexone.png"
                                     data-src="{{ cdn_url }}/images/rebrand/blog/most-durable-phones-8.jpg"
                                     alt="OnePlus 5T"
                                     class="img-fluid lozad mb-5">
                                <h3>Specifications</h3>
                                <table class="table mb-5">
                                    <tbody>
                                        <tr>
                                            <td>Weight</td>
                                            <td>162g</td>
                                        </tr>
                                        <tr>
                                            <td>Dimensions</td>
                                            <td>156.1 x 75 x 7.3mm</td>
                                        </tr>
                                        <tr>
                                            <td>OS</td>
                                            <td>Android Nougat 7.1</td>
                                        </tr>
                                        <tr>
                                            <td>Screen</td>
                                            <td>6 inches</td>
                                        </tr>
                                        <tr>
                                            <td>RAM</td>
                                            <td>6/8GB</td>
                                        </tr>
                                        <tr>
                                            <td>Storage</td>
                                            <td>64/128GB</td>
                                        </tr>
                                        <tr>
                                            <td>Battery</td>
                                            <td>3,300 mAh</td>
                                        </tr>
                                        <tr>
                                            <td>Camera</td>
                                            <td>16+20MP (rear), 16MP (front)</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>If you’re looking for a smartphone that isn’t quite military grade but will still be around for the long haul, the OnePlus 5T is our go-to handset. Featuring heat and scratchproof Gorilla Glass 5 and a hard aluminium oxide exterior, the 5T resists bends, bumps and scratches, so you can rest assured it won’t get damaged in your pocket. One thing you should bear in mind, however, is that this handset’s not waterproof. But don’t let that put you off, as we offer specialist cover for the <a href="{{ path('phone_insurance_make_model', {'make': 'OnePlus', 'model': '5T'}) }}">OnePlus 5T</a> that covers against accidental damage as well as theft.</p>
                                <h2>Make a regular smartphone durable with insurance</h2>
                                <p>If you don’t want durability to be your main deciding factor in buying a new phone - and aren’t quite as excited about military grade phones as you are about iMessage - comprehensive phone insurance is your best bet.</p>
                                <p>At so-sure, we insure the vast majority of market-leading smartphone models, giving you peace of mind that repairs and replacements are covered with low excess payments starting from just &pound;50.</p>
                            </div>
                            <footer></footer>
                        </article>
                        <nav><a href="{{ path('blog_index') }}">Back</a></nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/content-pages.js') }}"></script>
{% endblock %}
