{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}

{% block title %}Mobile World Congress - Blog | so-sure{% endblock %}

{% block meta %}
    <meta name="description" content="The Mobile World Congress is the biggest mobile phone event of the year and is popping off next Monday in the beautiful city of Barcelona. The event is pretty much Christmas for people like us (we love mobile phones!)."/>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/content-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="cp py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="cp__content">
                        <article>
                            <header class="mb-5">
                                <hgroup>
                                    <div class="breadcrumbs">
                                        <ul class="list-inline"
                                            vocab="https://schema.org/"
                                            typeof="BreadcrumbList">
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('homepage') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Home</span>
                                                </a>
                                                <meta property="position" content="1">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('blog_index') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Blog</span>
                                                </a>
                                                <meta property="position" content="2">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <span property="name">Mobile World Congress</span>
                                                <meta property="position" content="3">
                                            </li>
                                        </ul>
                                    </div>
                                    <h1 class="text-primary mb-4">Mobile World Congress</h1>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <div rel="author">Fiona</div>
                                        </li>
                                        <li class="list-inline-item">|</li>
                                        <li class="list-inline-item">
                                            <time>Jun 29, 2018</time>
                                        </li>
                                    </ul>
                                </hgroup>
                            </header>
                            <div class="blog__contents">
                                <p>Hallelujah! It’s that time of year again. <a href="https://www.mwcbarcelona.com/" target="_blank" rel="noopener noreferrer">Mobile World Congress</a> is the biggest mobile phone event of the year and is popping off next Monday in the beautiful city of Barcelona. The event is pretty much Christmas for people like us (we love mobile phones!).</p>
                                <h2>#Samsung</h2>
                                <p>Can Samsung recover from their Note 7 fiasco?</p>
                                <p>The South Korean tech giant is usually the big story at each MWC. However, the fact that they aren’t going to be the big story, kind of is the big story…</p>
                                <p>We’re all well versed in the <a href="http://bgr.com/2017/01/02/galaxy-note-7-explosion-investigation/" target="_blank" rel="noopener noreferrer">story behind the disastrous Note 7</a> and how building a new phone that is prone to setting itself on fire isn’t really a great business strategy.</p>
                                <p>One of the big reasons for the Note 7 fiasco was that Samsung tried to push the tech behind the phone to the absolute limit. They were rushing engineers into delivering a battery that would outperform their rivals. However, the problem was that while the battery charged faster and lasted for longer, it was also really flammable.</p>
                                <p>This year, Samsung have decided to take their time while building the Galaxy S8 as releasing another faulty phone would be fairly disastrous. Hence why they aren’t rushing to put out a new phone in time for #MWC</p>
                                <h2>Can LG steal the headlines?</h2>
                                <p>Now that Samsung have essentially abstained from their regular MWC throne, these guys are now in pole position to make a big splash at the upcoming conference. The company have decided to quit on their dreams of making the first popular modular phone and are expected to go back to their roots with the G6.</p>
                                <h2>#An iPhone killer?</h2>
                                <p>The lackluster iPhone 7 provides a real opportunity for Android.</p>
                                <p>As Apple prefer not to get involved in the MWC madness, the usual question that people ask before the show is “Will there be an iPhone killer?”. With the latest iPhone offering not exactly setting the world on fire (headphone jacks are good), the whole Android community is completely aware that this year is a massive opportunity to finally win the battle for hearts and minds in the phone war.</p>
                                <h2>It's back!</h2>
                                <p>Unbelievably, the Nokia 3310 is making a comeback. Arguably the most iconic phone of all time, this seemingly indestructible beauty is set to make a splash at MWC.</p>
                                <p>Nokia have had some hard times as of late and were more affected than anyone by the iPhones endless dominance. However, they do still have a reputation as a very innovative, thoughtful company and they have started to put themselves back in the picture by manufacturing new versions of their classic phones. The 3310 is being marketed as a nearly indestructible phone with a never ending battery life.</p>
                                <p>There are a lot of phones out there which can’t do either of those things so it’ll be really fascinating to see whether the MWC audience takes to it or not.</p>
                            </div>
                            <nav><a href="{{ path('blog_index') }}" class="btn btn-outline-primary btn-sm"><i class="far fa-long-arrow-left fa-fw"></i> Back</a></nav>
                            <footer class="my-4">
                                {% include 'AppBundle::Blog/Includes/blogFooterCta.html.twig' %}
                            </footer>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/content-pages.js') }}"></script>
{% endblock %}
