{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}
{% set include_get_a_quote = true %}

{% block title %}iPhone SE2 Rumour Hub | Release Date, Price, Design | so-sure{% endblock %}

{% block meta %}
    <meta name="description" content="The iPhone SE2 is being touted as Apple's first release of the decade, and their maiden venture into the mid-priced smartphone market. Find out more here."/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}
{% set og_title = 'iPhone SE2 Rumour Hub | Release Date, Price, Design | so-sure' %}
{% set og_description = "The iPhone SE2 is being touted as Apple's first release of the decade, and their maiden venture into the mid-priced smartphone market. Find out more here." %}
{% set og_image = cdn_url ~ '/images/rebrand/blog/new-iphone-se2-rumour-hub-1.jpg' %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/content-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="cp py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="cp__content blog__contents">
                        <article>
                            <header class="mb-5">
                                <hgroup>
                                    <div class="breadcrumbs">
                                        <ul class="list-inline"
                                            vocab="https://schema.org/"
                                            typeof="BreadcrumbList">
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('homepage') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Home</span>
                                                </a>
                                                <meta property="position" content="1">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('blog_index') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Blog</span>
                                                </a>
                                                <meta property="position" content="2">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <span property="name">New iPhone SE2 Rumour Hub</span>
                                                <meta property="position" content="3">
                                            </li>
                                        </ul>
                                    </div>
                                    <h1 class="text-primary mb-4">New iPhone SE2 Rumour Hub</h1>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <div rel="author">Susan</div>
                                        </li>
                                        <li class="list-inline-item">|</li>
                                        <li class="list-inline-item">
                                            <time>Mar 4, 2020</time>
                                        </li>
                                    </ul>
                                    {% include 'AppBundle::Blog/Includes/blogShareLinks.html.twig' %}
                                </hgroup>
                            </header>
                            <div class="blog__contents">
                                <img src="{{ cdn_url }}/images/onexone.png"
                                     data-src="{{ cdn_url }}/images/rebrand/blog/new-iphone-se2-rumour-hub-1.jpg"
                                     alt="iPhone SE2 Rumours"
                                     class="img-fluid lozad mb-5">
                                <p>Apple currently sells six iPhone models; however, the range lacks a smaller, budget handset for devotees of the 4in iPhone SE, which was discontinued in September 2018. The iPhone 8 comes closest to matching the iPhone SE's specs, but at &pound;479, it's outside of most casual users' budgets. There are growing rumours, however, that an <a href="{{ path('phone_insurance_make_model', {'make': 'apple', 'model': 'iphone-se-(2020)'}) }}">iPhone SE2</a> is set to plug the mid-priced gap and become Apple's first smartphone of the 2020s.</p>
                                <h2>iPhone SE2 rumours at a glance</h2>
                                <ul>
                                    <li>iPhone 8-style design</li>
                                    <li>4.7in display</li>
                                    <li>A13 chip</li>
                                    <li>3GB of RAM</li>
                                    <li>64GB of internal storage</li>
                                    <li>An <a href="https://www.macworld.co.uk/news/iphone/iphone-se2-3500611/#antenna" target="_blank" rel="noopener noreferrer">updated LCP antenna</a> for improved wireless performance</li>
                                    <li>Space Grey, Red and Silver finishes</li>
                                    <li>Face ID omitted in favour Touch ID</li>
                                    <li>Priced around &pound;399.99</li>
                                </ul>
                                <p>In this post, we'll review and analyse the current crop of rumours surrounding the newest Apple iPhone, including its rumoured release date, price, design, technical specs, and more.</p>
                                <h2>iPhone SE2 Release Date</h2>
                                <p>There's a considerable bank of evidence suggesting that the iPhone SE2 will launch in March 2020, coinciding with Apple's annual <a href="https://www.macworld.co.uk/news/apple/next-apple-event-3658198/" target="_blank" rel="noopener noreferrer">spring event</a> and coming exactly three years after the release of the original iPhone SE.</p>
                                <p>Equipped with intel from Apple's Asian supply chain, TF International Securities analyst <a href="https://www.macrumors.com/roundup/ming-chi-kuo/" target="_blank" rel="noopener noreferrer">Ming-Chi Kuo</a> states that Apple will <a href="https://www.macrumors.com/2019/10/03/kuo-iphone-se-2-early-2020/" target="_blank" rel="noopener noreferrer">'launch the more affordable iPhone SE 2 in 1Q20'</a>, going on to say that it'll <a href="https://www.macrumors.com/2019/10/03/kuo-iphone-se-2-early-2020/" target="_blank" rel="noopener noreferrer">'be the best upgrade choice'</a> for an estimated 100m users who still use the iPhone 6 and 6 Plus.</p>
                                <p>This view was corroborated by a <a href="https://www.bloomberg.com/news/articles/2020-01-21/new-low-cost-iphone-said-to-enter-mass-production-in-february" target="_blank" rel="noopener noreferrer">Bloomberg report</a> in January 2020, which claimed suppliers would begin assembling a new budget iPhone in February 2020, basing the conjecture on sources 'familiar with Apple's roadmap'.</p>
                                <h3>Coronavirus disruption</h3>
                                <p>These predictions, however, were made before the outbreak of the coronavirus in China, which is likely to delay Apple's plans to roll out the 2020 iPhone in March.</p>
                                <p>Moreover, <a href="https://www.bloomberg.com/news/articles/2020-01-28/apple-supply-chain-braces-for-disruption-from-coronavirus" target="_blank" rel="noopener noreferrer">Bloomberg</a> claims that Apple has 10,000 direct employees in China, as well as several million third-party manufacturer workers. Industry veteran Patrick Moorhead of <a href="http://www.moorinsightsstrategy.com/" target="_blank" rel="noopener noreferrer">Moor Insights &amp; Strategy</a> says he 'can't imagine a scenario where the supply chain isn't disrupted', fuelling speculation that its release date may indeed be pushed back.</p>
                                <h2>iPhone SE2 Price Rumours</h2>
                                <p>Before the discontinuation of the iPhone SE in 2018, the 32GB model cost &pound;379, while the 128GB version retailed at &pound;479 &ndash; placing it in the same price bracket as the iPhone 8, which starts at &pound;479 for the 64GB version.</p>
                                <p>Ming-Chi Kuo estimates that the new iPhone SE2 will be priced at $399, which would translate to around &pound;399 based on Apple's typical formula.</p>
                                <p>Back in 2018, the Chinese newspaper <a href="https://www.theverge.com/2019/9/4/20848859/apple-iphone-se2-low-cost-iphone-rumor-spec-date" target="_blank" rel="noopener noreferrer">Economic Daily News</a> claimed Apple was preparing to launch its first mid-priced smartphone in 2020, specifically targeting the low-end market in China and India. This sounds plausible in light of recent market share gains made by Chinese manufacturers Huawei and Xiaomi, and the ever-present Korean manufacturer, Samsung.</p>
                                <h2>iPhone SE2 Design Rumours</h2>
                                <h3>Colour</h3>
                                <p>According to Kuo, the three rumoured finishes are space grey, silver and red. Again, this seems plausible considering the original iPhone SE's colour line up of space grey, silver, gold and rose gold.</p>
                                <h3>Form factor</h3>
                                <p>In late 2019, Kuo stated that, <a href="https://www.macrumors.com/2019/10/03/kuo-iphone-se-2-early-2020/" target="_blank" rel="noopener noreferrer">'for the most part, the form factor design and hardware spec are similar to the iPhone 8's'</a>. This will be music to the ears of those looking to upgrade to a new iPhone with streamlined features and significantly less bulk. However, those seeking a more compact iPhone may be disappointed as this suggests the new iteration will have roughly the same dimensions as the iPhone 8.</p>
                                <p>There is, however, a sliver of hope for those hoping the iPhone SE2 will be closer in size to the original iPhone SE than the iPhone 8. Chinese news site <a href="https://xw.qq.com/" target="_blank" rel="noopener noreferrer">Tencent.com</a>, for example, reported in early 2018 that the <a href="https://xw.qq.com/cmsid/20180219A0Q3MX00" target="_blank" rel="noopener noreferrer">new iPhone SE 2 would have a similar design to the original SE, but with a larger 4.2'' display</a>. And despite the purported screen enlargement, it would still be smaller than the iPhone 8's 4.7'' display, thus befitting the SE (small edition) moniker.</p>
                                <h2>iPhone SE2 Camera Rumours</h2>
                                <p>The most credible current rumours claim that the iPhone SE2 will be equipped with a retina flash FaceTime camera (either 5MP or 7MP), replacing the iPhone SE's 1.2MP version. Aside from this significant improvement, the SE2 is likely to retain most of the original's specs, such as its f/2.2 aperture 12MP camera</p>
                                <h2>iPhone SE2 Specification Rumours</h2>
                                <p>We've covered the iPhone SE2's purported design, but what does the rumour mill think it'll have under the hood?</p>
                                <h3>Processor</h3>
                                <p>According to Kuo's <a href="https://www.macrumors.com/2019/10/28/iphone-se-2-production-january-launching-march/" target="_blank" rel="noopener noreferrer">October 2019 research note</a>, the SE2 will adopt an A13 processor supplemented by 3GB of RAM. For context, the original iPhone SE featured the A9 chip and had 2GB RAM.</p>
                                <p>Technophiles rejoice; the A13 is the same processor currently powering the latest batch of iPhones, namely the iPhone 11, 11 Pro and 11 Pro Max, so you'll be getting a serious bit of kit should this rumour materialise.</p>
                                <p>However, as with any discussion about Apple's next iPhone, there are reports that contradict Kuo's plausible predictions.  Way back in 2017, for instance, popular tech website <a href="https://www.tekz24.com/" target="_blank" rel="noopener noreferrer">Tekz24.com</a> reported that the iPhone SE2 will use the A10 Fusion chip found in the iPhone 7; <a href="https://xw.qq.com/cmsid/20180219A0Q3MX00" target="_blank" rel="noopener noreferrer">a rumour corroborated by Tencent.com</a>.</p>
                                <p>Either way, we'll work around the clock to keep you updated on all the latest rumours surrounding Apple's newest iPhones!</p>
                            </div>
                            <nav><a href="{{ path('blog_index') }}" class="btn btn-outline-primary btn-sm"><i class="far fa-long-arrow-left fa-fw"></i> Back</a></nav>
                            <footer class="my-4">
                                {% include 'AppBundle::Blog/Includes/blogFooterCta.html.twig' %}
                            </footer>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/content-pages.js') }}"></script>
{% endblock %}
