{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}
{% set include_get_a_quote = true %}

{% block title %}Samsung Galaxy S11/Galaxy S20 Rumours, News & Leaks | so-sure{% endblock %}

{% block meta %}
    <meta name="description" content="Due to launch February 11th, learn everything you need to know about the Galaxy S11/Galaxy S20 in our rumour hub!"/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}
{% set og_title = 'Samsung Galaxy S11/Galaxy S20 Rumours, News & Leaks | so-sure' %}
{% set og_description = "Due to launch February 11th, learn everything you need to know about the Galaxy S11/Galaxy S20 in our rumour hub!" %}
{% set og_image = cdn_url ~ '/images/rebrand/og/so-sure_og-samsung.jpg' %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/content-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="cp py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="cp__content blog__contents">
                        <article>
                            {% include 'AppBundle::Blog/Includes/blogFixedCta.html.twig' with { 'type': 'phone' } %}
                            <header class="mb-5">
                                <hgroup>
                                    <div class="breadcrumbs">
                                        <ul class="list-inline"
                                            vocab="https://schema.org/"
                                            typeof="BreadcrumbList">
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('homepage') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Home</span>
                                                </a>
                                                <meta property="position" content="1">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('blog_index') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Blog</span>
                                                </a>
                                                <meta property="position" content="2">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <span property="name">Samsung Galaxy S11 (S20) Rumours &amp; News</span>
                                                <meta property="position" content="3">
                                            </li>
                                        </ul>
                                    </div>
                                    <h1 class="text-primary mb-4">Samsung Galaxy S11 (S20) Rumours &amp; News</h1>
                                    <div class="blog__info_share">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <div rel="author">Susan</div>
                                            </li>
                                            <li class="list-inline-item">|</li>
                                            <li class="list-inline-item">
                                                <time>Jan 24, 2020</time>
                                            </li>
                                        </ul>
                                        {% include 'AppBundle::Blog/Includes/blogShareLinks.html.twig' %}
                                    </div>
                                </hgroup>
                            </header>
                            <div class="blog__contents">
                                <img src="{{ cdn_url }}/images/onexone.png"
                                     data-src="{{ cdn_url }}/images/rebrand/og/so-sure_og-samsung.jpg"
                                     alt="Samsung - so-sure"
                                     class="img-fluid lozad mb-5">
                                <p>The Samsung Galaxy S line of smartphones is Samsung's flagship line, with 1-3 new models released every year since 2010. The Galaxy S series has featured some hugely popular handsets such as the Galaxy S8 and S10, with its latest hotly anticipated iteration due to launch on February 11th.</p>
                                <p>In secret meetings held at <a href="https://www.ces.tech/" target="_blank" rel="noopener noreferrer">CES2020</a>, Samsung CEO DJ Koh introduced the new series as the Galaxy S20 line, according to <a href="https://www.ajunews.com/view/20200109174600112" target="_blank" rel="noopener noreferrer">South Korean sources</a>, bypassing the S11-19 monikers to align with the 2020s</p>
                                <p>We're expecting there to be three different models released in 2020 – an S11e, S11, and S11+, or if reports of out Korea hold weight, the S20, S20e, and S20+.</p>
                                <p>While they're sure to feature slight differences in form factor, specifications, and features, we'll just be collating all of the rumours and news about the main model – the S11/S20. For the purpose of this article, we'll be referring to Samsung's expected flagship device as the S11.</p>
                                <p>With that in mind, here's everything we know about the Samsung Galaxy S11 so far.</p>
                                <h2>Samsung Galaxy S11 Release Date</h2>
                                <p>The Samsung Galaxy S11 launch event is set for Tuesday 11th February 2020 in San Francisco, mirroring the month and venue of 2019's Galaxy S10 launch. This means we're likely to see the S11 hit stores in early March. For context, the Galaxy S10 was made available for general sale on 8th March 2019, nine days after the official launch.</p>
                                <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Say hello to a whole new Galaxy. Unpacked on February 11, 2020 <a href="https://twitter.com/hashtag/SamsungEvent?src=hash&amp;ref_src=twsrc%5Etfw">#SamsungEvent</a> <a href="https://t.co/ln1pqt2vu7">pic.twitter.com/ln1pqt2vu7</a></p>&mdash; Samsung Mobile (@SamsungMobile) <a href="https://twitter.com/SamsungMobile/status/1213671462990540801?ref_src=twsrc%5Etfw">January 5, 2020</a></blockquote>
                                <h2>Samsung Galaxy S11 Price Rumours</h2>
                                <p>There's no confirmed price for the Galaxy S11 yet, but as it's Samsung's latest flagship, we’d expect it to command a premium price tag starting from around &pound;700-&pound;800 for the lowest storage size.</p>
                                <p>This would put it in-line with other flagships such as the recently released iPhone 11, which retailed at &pound;729.99 on release. It would also be a similar price to the Samsung Galaxy S10 on its release last year, starting at &pound;799.</p>
                                <h2>Samsung Galaxy S11 Design Rumours</h2>
                                <p>Renders of the rumoured S11 design have revealed a number of potential design elements, from a 5-lens camera to greater physical dimensions. See below for a quickfire roundup of the latest S11 design rumours.</p>
                                <p>Renders suggest the S11 will have 6.7" screen, increasing to 6.9" for the +, with both models having smaller bezels than the S10. It’s also said to have a slightly larger form factor than the S10, with dimensions of 161.9 x 73.7 x 7.8mm for the regular model. The much maligned holepunch cut out may be jumping from back to front, with many suggesting that the front facing camera may now include Samsung's divisive lens feature. And if recent renders are to be believed, the back of the phone will feature 5 camera lenses, resulting in a similar appearance to the iPhone 11. Colourways are purported to be blue, black and grey.</p>
                                <h2>Samsung Galaxy S11 Camera Rumours</h2>
                                <p>There are plenty of exciting rumours about the S11 camera, including suggestions of a 5-lens camera as we’ve mentioned above.</p>
                                <p>Early predictions also mention 5x optical zoom and 8k video recording abilities, while speculative murmurs suggest a <a href="https://www.techradar.com/uk/news/samsung-galaxy-s11-could-have-a-space-zoom-feature-for-out-of-this-world-photos" target="_blank" rel="noopener noreferrer">'Space Zoom'</a> astrophotography feature and <a href="https://www.techradar.com/uk/news/a-cutting-edge-samsung-galaxy-s10-lite-feature-is-likely-to-land-on-galaxy-s11-too" target="_blank" rel="noopener noreferrer">industry leading optical image stabilisation</a></p>
                                <h2>Samsung Galaxy S11 Specification Rumours</h2>
                                <p>The rumoured chipset for the S11 is the recently unveiled Snapdragon 865, the average rating of which beats any other handset on the market. If this rumour is true, the whole S11 series will likely feature 5G functionality as standard.</p>
                                <p>Recent postulations suggest the S11 will include a base 12GB RAM, although that number could increase to 16GB and beyond, underscoring the device’s potential range topping specs.</p>
                                <p>The latest Samsung Galaxy Note omitted both the headphone port and Bixby button - a trend we expect to continue with the S11. Freeing up this space, however, could see the inclusion of a larger battery, or pared down, sleeker dimensions.</p>
                                <p>Many leaks reveal 'Picasso' to be Samsung's codename for the S11, in keeping with the company's tendency to name their devices after artists (the Galaxy Note 10 was named da Vinci). This would be particularly apt for the S11, given its purported facial recognition upgrade, and the fact Picasso was renowned for his portraits.</p>
                                <p>A final speculative rumour suggests that the S11 may include a spectrometer, which is a device used to determine an object's chemical composition. And while this would certainly push smartphone innovation in the right direction, we feel this feature is a little far-fetched and niche to be rolled out as part of Samsung's flagship smartphone range.</p>
                            </div>
                            <nav><a href="{{ path('blog_index') }}" class="btn btn-outline-primary btn-sm"><i class="far fa-long-arrow-left fa-fw"></i> Back</a></nav>
                            <footer class="my-4">
                                {% include 'AppBundle::Blog/Includes/blogFooterCta.html.twig' %}
                            </footer>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/content-pages.js') }}"></script>
{% endblock %}
