{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}
{% set include_get_a_quote = true %}

{% block title %}Starling Bank and so-sure team up to offer mobile phone insurance - Blog | so-sure{% endblock %}

{% block meta %}
    <meta name="description" content="Starling Bank today welcomes so-sure, the pioneering start-up mobile insurance company, to its in-app Marketplace. The partnership will mean that Starling customers will now be able apply for mobile phone insurance within minutes, directly from their Starling app."/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}

{% set og_title = 'Starling Bank and so-sure team up to offer mobile phone insurance - Blog | so-sure' %}
{% set og_description = "Starling Bank today welcomes so-sure, the pioneering start-up mobile insurance company, to its in-app Marketplace. The partnership will mean that Starling customers will now be able apply for mobile phone insurance within minutes, directly from their Starling app." %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/content-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="cp py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="cp__content">
                        <article>
                            {% include 'AppBundle::Blog/Includes/blogFixedCta.html.twig' with { 'type': 'phone' } %}
                            <header class="mb-5">
                                <hgroup>
                                    <div class="breadcrumbs">
                                        <ul class="list-inline"
                                            vocab="https://schema.org/"
                                            typeof="BreadcrumbList">
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('homepage') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Home</span>
                                                </a>
                                                <meta property="position" content="1">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('blog_index') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Blog</span>
                                                </a>
                                                <meta property="position" content="2">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <span property="name">Starling Bank and so-sure team up to offer mobile phone insurance</span>
                                                <meta property="position" content="3">
                                            </li>
                                        </ul>
                                    </div>
                                    <h1 class="text-primary mb-4">Starling Bank and so-sure team up to offer mobile phone insurance</h1>
                                    <div class="blog__info_share">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <div rel="author">Susan</div>
                                            </li>
                                            <li class="list-inline-item">|</li>
                                            <li class="list-inline-item">
                                                <time>Oct 9, 2018</time>
                                            </li>
                                        </ul>
                                        {% include 'AppBundle::Blog/Includes/blogShareLinks.html.twig' %}
                                    </div>
                                </hgroup>
                            </header>
                            <div class="blog__contents">
                                {# image #}
                                <p>Starling Bank today welcomes so-sure, the pioneering start-up mobile insurance company, to its in-app Marketplace. The partnership will mean that Starling customers will now be able apply for mobile phone insurance within minutes, directly from their Starling app.</p>
                                <p>so-sure offers fast, reliable and simple mobile phone insurance in a market that is often seen as opaque and complex. so-sure declines less than 4% of claims – far lower than the traditional insurance industry.</p>
                                <p>so-sure are also disrupting the insurance market by introducing ‘social insurance’. The concept allows customers to connect their policy with friends and family members who also have a policy with so-sure. As long as no one you are connected to makes a claim, the customer will get up to 80% of their premium back at the end of the policy year.</p>
                                <p>What's more, so-sure offers one simple policy with no hidden terms and covers you for loss, theft, accidental damage, out of warranty breakdown and more.</p>
                                <p>Starling’s in-app Marketplace, launched in February 2018, offers its customers direct access to financial services and products securely on their phone. Starling has existing partnerships with pension provider PensionBee, digital investing services Wealthsimple and Wealthify, mortgage broker Habito, travel insurance provider Kasko, life insurance provider Anorak, and receipts and loyalty partner Flux.</p>
                                <p>Starling are targeting 25 marketplace partners by the end of the year.</p>
                                <h2>Megan Caywood, Chief Platform Officer, Starling Bank said:</h2>
                                <p><em>“Through our Marketplace, we want to enable our customers to manage their whole financial life in one place. As a mobile only bank, we understand the need for affordable mobile phone insurance, so partnering with so-sure was a natural fit. so-sure share our ethos of putting the customer first and are another example of our commitment to partnering with disruptors that are working to improve customers lives through intuitive products and fair and transparent pricing.”</em></p>
                                <h2>Dylan Bourguignon, CEO of so-sure, said:</h2>
                                <p><em>“People just don’t trust insurance companies.  Insurance is too expensive and when you need to claim, the current system makes it really difficult. We wanted to create an insurance policy that provides an amazing claims experience if something happens to your phone. And, have fantastic rewards if you and your friends/family don’t claim.”</em></p>
                                <p><strong>For more information please contact:</strong> starlingbank@pagefield.co.uk</p>
                                <h2>About Starling Bank</h2>
                                <p>Starling Bank built the UK’s first mobile-only current account from scratch. We believe everyone should be able to enjoy a healthy financial life — that means giving our customers access to a mobile market of products and services that best fit their financial needs, giving them the tools to make mindful money decisions.</p>
                                <p>We’re a fintech business with a banking licence, fully regulated by the FCA and PRA, and were granted a banking licence by the Bank of England in July 2016. Our app, available for Android and iOS, was launched to the public in May 2017. Starling Bank is directly connected to major payment schemes, including Faster Payments, and MasterCard. For more information please visit: <a href="https://www.starlingbank.com/" target="_blank" rel="noopener noreferrer">Starling Bank</a> or contact media@starlingbank.com</p>
                                <h3>About so-sure</h3>
                                <p>so-sure already has a loyal following of customers, who earn rewards for each friend that takes up a mobile phone insurance policy and can receive up to 80% of the value of their premium back each year if nobody claims.</p>
                                <p>In recent months the insurtech landscape has undergone significant expansion, and so-sure is leading the charge with a paradigm-shifting offering and a host of innovative features.</p>
                                <p>so-sure reduces excesses for customers by employing patent pending anti-fraud AI technology to detect and deter fraud. It also uses new claim processing technology that has reduced average claim processing time from days to hours.</p>
                                <p>The platform takes advantage of beautiful design to make it easy for someone to buy an insurance policy, supported by simple Ts&amp;Cs that cover customers for loss, theft, damage, accidental damage, out of warranty breakdown and accessories. Its online claims process is simple and hassle free, backed up by superb customer service.</p>
                            </div>
                            <nav><a href="{{ path('blog_index') }}" class="btn btn-outline-primary btn-sm"><i class="far fa-long-arrow-left fa-fw"></i> Back</a></nav>
                            <footer class="my-4">
                                {% include 'AppBundle::Blog/Includes/blogFooterCta.html.twig' %}
                            </footer>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/content-pages.js') }}"></script>
{% endblock %}
