{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}

{% block title %}The Weird And Wonderful Origins Of Insurance - Blog | so-sure{% endblock %}

{% block meta %}
    <meta name="description" content="Insurance dates back as far as 3000 BC, when Chinese traders distributed goods amongst many vessels to cross rough seas. They understood insurance in its simplest form."/>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
    <link rel="stylesheet" href="{{ asset('css-js/content-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="cp py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="cp__content">
                        <article>
                            <header class="mb-5">
                                <hgroup>
                                    <div class="breadcrumbs">
                                        <ul class="list-inline"
                                            vocab="https://schema.org/"
                                            typeof="BreadcrumbList">
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('homepage') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Home</span>
                                                </a>
                                                <meta property="position" content="1">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <a href="{{ path('blog_index') }}"
                                                   class="text-primary"
                                                   property="item"
                                                   typeof="WebPage">
                                                   <span property="name">Blog</span>
                                                </a>
                                                <meta property="position" content="2">
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-angle-right"></i>
                                            </li>
                                            <li class="list-inline-item"
                                                property="itemListElement"
                                                typeof="ListItem">
                                                <span property="name">The Weird And Wonderful Origins Of Insurance</span>
                                                <meta property="position" content="3">
                                            </li>
                                        </ul>
                                    </div>
                                    <h1 class="text-primary mb-4">The Weird And Wonderful Origins Of Insurance</h1>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <div rel="author">Susan</div>
                                        </li>
                                        <li class="list-inline-item">|</li>
                                        <li class="list-inline-item">
                                            <time>Aug 20, 2018</time>
                                        </li>
                                    </ul>
                                </hgroup>
                            </header>
                            <div class="blog__contents">
                                {# image #}
                                <p><em>“An ounce of prevention is worth a pound of cure.”</em></p>
                                <p>Benjamin Franklin’s famous words are an apt starting point for a look at the long, colourful history of insurance.</p>
                                <p>The way that humans seek to manage risk and limit losses hasn’t changed much in millennia. In fact, the idea that you can pay to spread risk and lower potential costs is almost as old as civilisation itself.</p>
                                <h2>Babylonian Beginnings</h2>
                                <p>Insurance dates back as far as 3000 BC, when Chinese traders distributed goods amongst many vessels to cross rough seas. They understood insurance in its simplest form.</p>
                                <p>Evidence of the first written policy is found engraved on a Babylonian obelisk. <a href="https://avalon.law.yale.edu/ancient/hamframe.asp" target="_blank" rel="noopener noreferrer">The Hammurabi Code</a> is history’s first written law, dating from 1750 BC. Amongst the famous examples ("If a man has destroyed the eye of a man, they shall destroy his eye”) and the extreme (“If a son strike his father, his hands shall be hewn off”) the code states that if a trader pays a premium to a loan counterparty, he shouldn’t have to pay the loan back if goods were lost to flooding or stolen. Insurance was born... King Hammurabi of Babylonia decreed it so!</p>
                                <h2>Greeks and Romans Build on Babylonia</h2>
                                <p>As with many modern concepts, the Greeks and Romans copied and stole and improved what the Chinese and Babylonians had started.</p>
                                <p>Building upon Babylonian theory, the ingenious Greeks produced shipping insurance tables that reflected the time of year, so explorers and merchants could insure against the seasons.</p>
                                <p>The kind-hearted Romans were the first to devise health and life insurance, creating <a href="https://reliantinsurance.ca/" target="_blank" rel="noopener noreferrer">‘benevolent societies’</a>, or gilds, which were collectives that paid funeral costs and cared for the deceased’s family. This was the earliest version of the insurance cover that Michael Parkinson advertises, weekday mid-afternoons on ITV4!</p>
                                <h2>Maritime Trade Limits Their Losses</h2>
                                <p>The next significant development in insurance occurred in the 1300s, when growing trade by the Italian merchants of Genoa, Venice and Florence also led to a boom in insurance.</p>
                                <p>Sale contracts were used, whereby a trader purchased a ship and a cargo before a voyage, but he was obligated to provide cash until both the ship and merchandise reached their destination. The ship’s seller was paid a premium by the trader for the course of the contract.</p>
                                <p>Modern insurance, involving premiums, terms and interest, was now in play, and the first insurance policy was issued in Genoa in 1343. Belissima!</p>
                                <h2>The Spark That Lit The Modern Insurance Fire</h2>
                                <p>Before the 1600s, insurance was mainly confined to the sea. Land-based insurance didn’t take off until a catastrophic event brought the ideas of risk and loss into focus.</p>
                                <p>In September 1666, <a href="https://www.historic-uk.com/HistoryUK/HistoryofEngland/The-Great-Fire-of-London/" target="_blank" rel="noopener noreferrer">The Great Fire</a> destroyed 15,000 London buildings. Despite the loss of life being relatively small (only 6 deaths were recorded), wary Londoners feared another blaze. Sensing demand, maritime underwriters formed insurance companies that offered fire insurance, too.</p>
                                <p>Using maths based upon Pascal's triangle, more complex and accurate forms of life insurance followed, developed by comet-spotter <a href="https://en.wikipedia.org/wiki/Edmund_Halley" target="_blank" rel="noopener noreferrer">Edmund Halley</a>, who created the first <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/birthsdeathsandmarriages/lifeexpectancies/bulletins/nationallifetablesunitedkingdom/previousReleases" target="_blank" rel="noopener noreferrer">life table</a> in 1693.</p>
                                <h2>Edward Lloyd’s Coffee Shop</h2>
                                <p>London’s insurance sector as we know rose from the ashes of The Great Fire, driven by one man in particular, who founded the most powerful insurance firm on earth.</p>
                                <p>The act of issuing insurance policies sprung from the same collection of London coffee shops that also acted as the first British stock exchange. In the early 1700s, London was the fulcrum of global trade, with the Empire expanding and goods being shipped back and forth the world over.</p>
                                <p><a href="https://www.lloyds.com/about-lloyds/history/historic-heroes-of-lloyds/edward-lloyd" target="_blank" rel="noopener noreferrer">Edward Lloyd’s</a> coffee shop on Tower Street became the only meeting spot for traders and ship owners wanting to arrange insurance for journeys and cargoes. <a href="https://www.lloyds.com/" target="_blank" rel="noopener noreferrer">Lloyds</a> of London was born, guided by its Latin motto, “fidentia” which translates as, “confidence”.</p>
                                <h2>Insuring the States</h2>
                                <p>Modern insurance was prevalent in Europe but not so much “across the pond”. President-to-be Benjamin Franklin did his bit to make sure that prevention trumped cure throughout America, lowering the risk of fire and loss through the creation of <a href="https://cogswellinsurance.com/newsletter.html?title=the-beginnings-of-the-insurance-industry-143" target="_blank" rel="noopener noreferrer">perpetual insurance</a>, adding to his list of inventions that includes bifocals, catheters, electricity and lightning rods.</p>
                                <p>In 1752, Franklin founded America’s <a href="https://1752.com/" target="_blank" rel="noopener noreferrer">first public insurance company</a>. It contributed toward fire prevention and educated about fire hazards. It also refused to insure buildings that were a fire risk, such as wooden houses. This led to huge improvements in the way buildings were built and increased safety for inhabitants. It likely saved millions of lives.</p>
                                <h2>The Next Chapter</h2>
                                <p>Thanks to the development and application of technology throughout the 20th Century, we are now faced with a plethora of insurance options. Look out for our feature on these modern developments - from Franklin onwards - in a future blog post.</p>
                                <p>It’s vital that we remember how the principles of insurance haven’t changed in thousands of years. Innovations developed by everyone from the Babylonians to Benjamin Franklin have improved the way insurance is delivered, but the principles of premium, risk and loss remain.</p>
                                <p>As predicted by Benjamin Franklin, we are risk averse creatures. We prefer prevention to cure. Hence, the popularity of insurance continues to grow and we’re very proud at <a href="{{ path('homepage') }}">so-sure</a> to be shaping the future of this colourful and historic industry.</p>
                            </div>
                            <nav><a href="{{ path('blog_index') }}" class="btn btn-outline-primary btn-sm"><i class="far fa-long-arrow-left fa-fw"></i> Back</a></nav>
                            <footer class="my-4">
                                {% include 'AppBundle::Blog/Includes/blogFooterCta.html.twig' %}
                            </footer>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/content-pages.js') }}"></script>
{% endblock %}
