{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}
{% set split_mode = true %}

{% block title %}so-sure - The Internet Of Things{% endblock %}

{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
{% endblock %}

{% block body %}

    <section class="blog">
        <div class="d-lg-flex">

            {# Main Content #}
            <div class="blog__main__container">
                <div class="blog__main px-4 px-lg-5">
                    <article>
                        <header class="mb-5">
                            <hgroup>
                                <div class="breadcrumbs">
                                    <ul class="list-inline"
                                        vocab="https://schema.org/"
                                        typeof="BreadcrumbList">
                                        <li class="list-inline-item"
                                            property="itemListElement"
                                            typeof="ListItem">
                                            <a href="{{ path('homepage') }}"
                                               class="text-primary"
                                               property="item"
                                               typeof="WebPage">
                                               <span property="name">Home</span>
                                            </a>
                                            <meta property="position" content="1">
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="fal fa-angle-right"></i>
                                        </li>
                                        <li class="list-inline-item"
                                            property="itemListElement"
                                            typeof="ListItem">
                                            <a href="{{ path('blog_index') }}"
                                               class="text-primary"
                                               property="item"
                                               typeof="WebPage">
                                               <span property="name">Blog</span>
                                            </a>
                                            <meta property="position" content="2">
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="fal fa-angle-right"></i>
                                        </li>
                                        <li class="list-inline-item"
                                            property="itemListElement"
                                            typeof="ListItem">
                                            <span property="name">The Internet Of Things</span>
                                            <meta property="position" content="3">
                                        </li>
                                    </ul>
                                </div>
                                <h1 class="text-primary mb-4">Blog title</h1>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <div rel="author">Fiona</div>
                                    </li>
                                    <li class="list-inline-item">|</li>
                                    <li class="list-inline-item">
                                        <time>Jun 29, 2018</time>
                                    </li>
                                </ul>
                            </hgroup>
                        </header>
                        <p>You’ve probably heard of the Internet of Things (IoT) even if you only have a passing interest in new technology. However, for those that haven’t, it’s essentially a system of interconnected ‘things’ or devices, which are able to send each other information without human instruction. ‘Things’ is quite a loose term and can mean anything from household appliances, such as dishwashers to more advanced things such as cars and vehicles.</p>
                        <p>So why should we care? <a href="http://www.mckinsey.com/business-functions/business-technology/our-insights/the-internet-of-things-the-value-of-digitizing-the-physical-world" target="_blank" rel="noopener noreferrer">Well, the potential for these connected things is staggering</a> and soon enough, <a href="http://www.gartner.com/newsroom/id/3165317" target="_blank" rel="noopener noreferrer">the Internet of Things will infiltrate every part of our lives</a>. In business terms, this is obviously huge news for a multitude of industries, not least the insurance industry and in particular these 3 major sectors…</p>
                        <h4>1. Health Insurance</h4>
                        <p>Health insurance startup has received a lot of interest lately</p>
                        <p>The Health Insurance industry is fairly modern by insurance standards with many incumbents adopting tech-led approaches to administering their policies and with disruptors, such as <a href="https://www.hioscar.com/" target="_blank" rel="noopener noreferrer">Oscar</a>, looking to change the market it’s an exciting time for the sector (and hopefully us, the customer). However, things like Wearable Tech (one part of the IoT) could give this sector an extra dimension.</p>
                        <p>Forget Apple Watches and <a href="https://www.internethealthmanagement.com/2016/08/01/fitbit-hires-online-retail-veteran-run-digital-healthcare/" target="_blank" rel="noopener noreferrer">Fitbits</a>, the wearable tech of the future will (hopefully) be less gimmicky, more intuitive and won’t make you look like a bit of a dork. They’ll passively monitor essential things such as our heart rate and weight, automatically <a href="http://www.insurancejournal.com/news/national/2015/05/06/367014.htm" target="_blank" rel="noopener noreferrer">feeding the data back to our insurance company</a>, who will then be able to make smart recommendations such as visits to the doctor’s, diet tips and additional exercise.</p>
                        <p>This may sound all a bit too intrusive, but given the strain that exists on health services globally, combined with the obesity epidemic and an aging population, we’re pretty sure it will all be worth it.</p>
                        <p>As a result, insurance providers will be able to give healthier, safer people more cost-effective premiums as a result and incentivise those that that perhaps need more encouragement by giving them access to data from which they can make actionable decisions upon to improve their health.</p>
                        <h4>2. Home Insurance</h4>
                        <p>An Englishman’s home is his castle, so why not protect it?!</p>
                        <p>This is another biggie — the home insurance market is one of the biggest globally and is <a href="http://www.ibisworld.co.uk/market-research/home-insurance.html" target="_blank" rel="noopener noreferrer">second only to auto-insurance</a>. However, the current model is pretty much the same as it’s always been — you get your house and the possessions inside it protected from things such as theft, damage and accidents for an agreed fee.</p>
                        <p>However, with IoT, homeowners will not only be able to get cheaper premiums in the way that is similar to health insurance (e.g. passive monitoring and actionable advice), they will also be able to prevent some of the bad accidents that could happen within your home.</p>
                        <p>For example, some boilers, also called <a href="http://www.dailymail.co.uk/sciencetech/article-2712274/No-cold-showers-Smart-boiler-knows-break-call-engineer.html" target="_blank" rel="noopener noreferrer">Smart Boilers</a>, can now measure water flow and relay it back to the insurance company. This gives the boiler the capability to sense by itself whenever the pipes are close to bursting and shut down the water accordingly. Also, there are leak detection devices such as <a href="Leakbot" target="_blank" rel="noopener noreferrer">Leakbot</a>, so between these you’ll never return home to a flooded house again!</p>
                        <p>Leakbot — scary looking, but might save you from a flooded house.</p>
                        <p>Things like this should mean less accidents, less damage and as a result, less claims. Not wanting to point out the obvious, but less claims will mean that premiums and insurance policies are much, much cheaper. This is great news for both the customer and the insurance provider.</p>
                        <h4>3. Auto-Insurance</h4>
                        <p>This guy (Elon Musk) could be about to change the way we use cars forever 👍</p>
                        <p>As we mentioned earlier, <a href="https://www.abi.org.uk/~/media/Files/Documents/Publications/Public/2014/Key%20Facts/ABI%20Key%20Facts%202014.pdf" target="_blank" rel="noopener noreferrer">auto-insurance is the largest sector of the insurance industry</a>. One of the reasons for this is that it is legally required of anyone who drives a car. Maintaining the status quo is of utmost importance to the insurance industry and auto-insurance is no different.</p>
                        <p>That said, this doesn’t mean that it is impervious from disruption, particularly with the prospect of the IoT being applied.</p>
                        <p>Currently, the majority of insurers assess whether a person is a good driver by making a number of assumptions based on their age, sex and locale. In an era, full of innovative technology (and driverless cars), this seems like a fairly luddite and frankly unfair practice.</p>
                        <p>Thanks to the telematics and advances in smart phone technology, insurers can now monitor the way that people drive and assess their individual risk. Aggressive drivers can now be admonished for their carelessness and careful drivers can be rewarded through the reduction of their premiums. If you think about it, this makes perfect sense.</p>
                        <p>The Internet of Things is going to totally change insurance and might be one of the key factors in bringing a relatively staid industry into the modern era. However, it won’t just be technology that changes insurance. New disruptive ideas such as peer-to-peer and social insurance will be essential for bringing it into the 21st century.</p>
                        <footer></footer>
                    </article>
                    <nav><a href="{{ path('blog_index') }}">Back</a></nav>
                </div>
            </div>

            {# Sub Content #}
            <div class="blog__sub__container d-none d-lg-flex justify-content-lg-start">
                {# Curve Desktop #}
                <div class="blog__curve">
                    <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 69 846" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="3.0-so-sure-(Price-&amp;-Payment)">
                                <path d="M0,0 L69,0 C31,140 12,280.666667 12,422 C12,563.333333 31,704.666667 69,846 L0,846 L0,0 Z" id="Rectangle-2" fill="#FFFFFF"></path>
                                <path d="M69,0 L69,846 L68,846 C30.6666667,705 12,564 12,423 C12,282 31,141 69,0 Z" id="Rectangle-3" fill="#E5F4FF"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="blog__sub px-4 pb-4 pt-5 p-lg-5">
                    <div class="blog__nav">
{#                         <div id="blog-nav" class="list-group mb-5">
                            <a class="list-group-item list-group-item-action" href="#top-questions"><i class="far fa-angle-right fa-lg mr-2"></i> Top Questions</a>
                            <a class="list-group-item list-group-item-action" href="#the-so-sure-app-and-pic-sure"><i class="far fa-angle-right fa-lg  mr-2"></i> The so-sure app</a>
                            <a class="list-group-item list-group-item-action" href="#social-insurance-and-reward-pot"><i class="far fa-angle-right fa-lg  mr-2"></i> Social Insurance &amp; Reward Pot</a>
                            <a class="list-group-item list-group-item-action" href="#the-insurance-policy"><i class="far fa-angle-right fa-lg  mr-2"></i> The Insurance Policy</a>
                            <a class="list-group-item list-group-item-action" href="#claims"><i class="far fa-angle-right fa-lg  mr-2"></i> Claims</a>
                            <a class="list-group-item list-group-item-action" href="#payments-and-cancellations"><i class="far fa-angle-right fa-lg  mr-2"></i> Payments &amp; Cancellations</a>
                            <a class="list-group-item list-group-item-action" href="#about-us"><i class="far fa-angle-right fa-lg  mr-2"></i> About us</a>
                        </div> #}
                        {# <a id="back-to-top-blog" href="#" class="btn btn-outline-dodger-blue"><i class="far fa-arrow-up mr-2"></i> Back to top</a> #}
                    </div>

                </div>
            </div>

        </div>
    </section>

{% endblock %}

{% block footer %}
    {# TODO: Fix footer #}
{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/blog.js') }}"></script>
{% endblock %}
