<table width="100%" class="table-comparison table-comparison-carousel light-table d-table d-md-none mx-auto animated fadeInUp">
    <thead>
        <tr>
            <th width="50%" class="blue-gradient">
                <img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-dark.svg" class="img-fluid" alt="so-sure">
            </th>
            <th width="50%" class="b4">
                <a href="#" class="td-prev-btn"><i class="fal fa-angle-left fa-3x text-columbia-blue-e"></i></a>
                <div class="td-container">
                    {% if affiliate_page is defined %}
                        <span class="td-swap td-active">
                            {{ competitor[competitor1]['name']|raw }}
                        </span>
                        <span class="td-swap">
                            {{ competitor[competitor2]['name']|raw }}
                        </span>
                        {% if competitor3 is defined %}
                            <span class="td-swap">
                               {{ competitor[competitor3]['name']|raw }}
                            </span>
                        {% endif %}
                    {% else %}
                        <span class="td-swap td-active">
                            {{ competitor['PYB']['name']|raw }}
                        </span>
                        <span class="td-swap">
                            {{ competitor['GC']['name']|raw }}
                        </span>
                        <span class="td-swap">
                            {{ competitor['LICI']['name']|raw }}
                        </span>
                    {% endif %}
                </div>
                <a href="#" class="td-next-btn"><i class="fal fa-angle-right fa-3x text-columbia-blue-e"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Time to repair / replace after approval</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <strong>24 - 72</strong> <div>hours</div>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_24_72_hours"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="wh">
                <div class="td-container">
                    {% if affiliate_page is defined %}
                        <span class="td-swap td-active">
                            {{ competitor[competitor1]['days']|raw }}
                        </span>
                        <span class="td-swap">
                            {{ competitor[competitor2]['days']|raw }}
                        </span>
                        {% if competitor3 is defined %}
                            <span class="td-swap">
                                {{ competitor[competitor3]['days']|raw }}
                            </span>
                        {% endif %}
                    {% else %}
                        <span class="td-swap td-active">
                            {{ competitor['PYB']['days']|raw }}
                        </span>
                        <span class="td-swap">
                            {{ competitor['GC']['days']|raw }}
                        </span>
                        <span class="td-swap">
                            {{ competitor['LICI']['days']|raw }}
                        </span>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Up to 80% Cashback at end of policy year</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_cashback"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="wh">
                <div class="td-container">
                    {% if affiliate_page is defined %}
                        <span class="td-swap td-active">
                            <i class="far {{ competitor[competitor1]['cashback'] }} fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far {{ competitor[competitor2]['cashback'] }} fa-2x"></i>
                        </span>
                        {% if competitor3 is defined %}
                            <span class="td-swap">
                                <i class="far {{ competitor[competitor3]['cashback'] }} fa-2x"></i>
                            </span>
                        {% endif %}
                    {% else %}
                        <span class="td-swap td-active">
                            <i class="far {{ competitor['PYB']['cashback'] }} fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far {{ competitor['GC']['cashback'] }} fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far {{ competitor['LICI']['cashback'] }} fa-2x"></i>
                        </span>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Loss, Theft &amp; Accidental Damage included as standard</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_comprehensive"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="wh">
                <div class="td-container">
                    {% if affiliate_page is defined%}
                        <span class="td-swap td-active">
                            <i class="far {{ competitor[competitor1]['cover'] }} fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far {{ competitor[competitor2]['cover'] }} fa-2x"></i>
                        </span>
                        {% if competitor3 is defined %}
                            <span class="td-swap">
                                <i class="far {{ competitor[competitor3]['cover'] }} fa-2x"></i>
                            </span>
                        {% endif %}
                    {% else %}
                        <span class="td-swap td-active">
                            <i class="far {{ competitor['PYB']['cover'] }} fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far {{ competitor['GC']['cover'] }} fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far {{ competitor['LICI']['cover'] }} fa-2x"></i>
                        </span>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Insure second hand phones</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
            </td>
            <td class="wh">
                <div class="td-container">
                    {% if affiliate_page is defined %}
                        <span class="td-swap td-active">
                            <i class="far {{ competitor[competitor1]['oldphones'] }} fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far {{ competitor[competitor2]['oldphones'] }} fa-2x"></i>
                        </span>
                        {% if competitor3 is defined %}
                            <span class="td-swap">
                                <i class="far {{ competitor[competitor3]['oldphones'] }} fa-2x"></i>
                            </span>
                        {% endif %}
                    {% else %}
                        <span class="td-swap td-active">
                            <i class="far {{ competitor['PYB']['oldphones'] }} fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far {{ competitor['GC']['oldphones'] }} fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far {{ competitor['LICI']['oldphones'] }} fa-2x"></i>
                        </span>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Cover for phones purchased up to</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <strong>3 years</strong> <div>from purchase</div>
            </td>
            <td class="wh">
                <div class="td-container">
                    {% if affiliate_page is defined %}
                        <span class="td-swap td-active">
                            {{ competitor[competitor1]['phoneage']|raw }}
                        </span>
                        <span class="td-swap">
                            {{ competitor[competitor2]['phoneage']|raw }}
                        </span>
                        {% if competitor3 is defined %}
                            <span class="td-swap">
                                {{ competitor[competitor3]['phoneage']|raw }}
                            </span>
                        {% endif %}
                    {% else %}
                        <span class="td-swap td-active">
                            {{ competitor['PYB']['phoneage']|raw }}
                        </span>
                        <span class="td-swap">
                            {{ competitor['GC']['phoneage']|raw }}
                        </span>
                        <span class="td-swap">
                            {{ competitor['LICI']['phoneage']|raw }}
                        </span>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Save up to £100 off your excess</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_excess_50"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="wh">
                <div class="td-container">
                    {% if affiliate_page is defined and affiliate_page != 'vouchercodes' %}
                        <span class="td-swap td-active">
                            <i class="far {{ competitor[competitor1]['saveexcess'] }} fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far {{ competitor[competitor2]['saveexcess'] }} fa-2x"></i>
                        </span>
                        {% if competitor3 is defined %}
                            <span class="td-swap">
                                <i class="far {{ competitor[competitor3]['saveexcess'] }} fa-2x"></i>
                            </span>
                        {% endif %}
                    {% else %}
                        <span class="td-swap td-active">
                            <i class="far {{ competitor['PYB']['saveexcess'] }} fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far {{ competitor['GC']['saveexcess'] }} fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far {{ competitor['LICI']['saveexcess'] }} fa-2x"></i>
                        </span>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Trustpilot rating</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </td>
            <td class="wh">
                <div class="td-container">
                    {% if affiliate_page is defined %}
                        <span class="td-swap td-active">
                            {% for i in 1..competitor[competitor1]['trustpilot'] %}
                                <i class="fas fa-star"></i>
                            {% endfor %}
                        </span>
                        <span class="td-swap">
                            {% for i in 1..competitor[competitor2]['trustpilot'] %}
                                <i class="fas fa-star"></i>
                            {% endfor %}
                        </span>
                        {% if competitor3 is defined %}
                            <span class="td-swap">
                                {% for i in 1..competitor[competitor3]['trustpilot'] %}
                                    <i class="fas fa-star"></i>
                                {% endfor %}
                            </span>
                        {% endif %}
                    {% else %}
                        <span class="td-swap td-active">
                            {% for i in 1..competitor['PYB']['trustpilot'] %}
                                <i class="fas fa-star"></i>
                            {% endfor %}
                        </span>
                        <span class="td-swap">
                            {% for i in 1..competitor['GC']['trustpilot'] %}
                                <i class="fas fa-star"></i>
                            {% endfor %}
                        </span>
                        <span class="td-swap">
                            {% for i in 1..competitor['LICI']['trustpilot'] %}
                                <i class="fas fa-star"></i>
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table class="table-comparison light-table d-none d-md-block mx-auto mt-lg-5 animated fadeInUp">
    <thead>
        <tr>
            <th width="24%" class="wh text-left"><span class="h5 text-primary">Features</span></th>
            <th width="19%" class="blue-gradient"><img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-dark.svg" class="img-fluid" alt="so-sure"></th>
            {% if affiliate_page is defined %}
                <th width="19%" class="b4 bs-l">{{ competitor[competitor1]['name']|raw }}</th>
                <th width="19%" class="b4">{{ competitor[competitor2]['name']|raw }}</th>
                {% if competitor3 is defined %}
                    <th width="19%" class="b4">{{ competitor[competitor3]['name']|raw }}</th>
                {% endif %}
            {% else %}
                <th width="19%" class="b4 bs-l">{{ competitor['PYB']['name']|raw }}</th>
                <th width="19%" class="b4">{{ competitor['GC']['name']|raw }}</th>
                <th width="19%" class="b4">{{ competitor['LICI']['name']|raw }}</th>
            {% endif %}
    </thead>
    <tbody>
        <tr>
            <td class="bb1 text-left"><strong>Time to repair / replace after approval</strong></td>
            <td class="b2">
                <strong>24 - 72</strong> <div>hours</div>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_24_72_hours"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            {% if affiliate_page is defined %}
                <td class="bb1 bs-l">{{ competitor[competitor1]['days']|raw }}</td>
                <td class="bb1">{{ competitor[competitor2]['days']|raw }}</td>
                {% if competitor3 is defined %}
                    <td class="bb1">{{ competitor[competitor3]['days']|raw }}</td>
                {% endif %}
            {% else %}
                <td class="bb1 bs-l">{{ competitor['PYB']['name']|raw }}</td>
                <td class="bb1">{{ competitor['GC']['name']|raw }}</td>
                <td class="bb1">{{ competitor['LICI']['name']|raw }}</td>
            {% endif %}
        </tr>
        <tr>
            <td class="wh text-left"><strong>Up to 80% Cashback at end of policy year</strong></td>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_cashback"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            {% if affiliate_page is defined %}
                <td class="wh bs-l">
                    <i class="far {{ competitor[competitor1]['cashback'] }} fa-2x"></i>
                </td>
                <td class="wh">
                    <i class="far {{ competitor[competitor2]['cashback'] }} fa-2x"></i>
                </td>
                {% if competitor3 is defined %}
                    <td class="wh">
                        <i class="far {{ competitor[competitor3]['cashback'] }} fa-2x"></i>
                    </td>
                {% endif %}
            {% else %}
                <td class="wh bs-l">
                    <i class="far {{ competitor['PYB']['cashback'] }} fa-2x"></i>
                </td>
                <td class="wh">
                    <i class="far {{ competitor['GC']['cashback'] }} fa-2x"></i>
                </td>
                <td class="wh">
                    <i class="far {{ competitor['LICI']['cashback'] }} fa-2x"></i>
                </td>
            {% endif %}
        </tr>
        <tr>
            <td class="bb1 text-left">
                <strong>Loss, Theft &amp; Accidental Damage included as standard</strong>
            </td>
            <td class="b2">
                <i class="far fa-check fa-2x"></i>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_comprehensive"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            {% if affiliate_page is defined %}
                <td class="bb1 bs-l">
                    <i class="far {{ competitor[competitor1]['cover'] }} fa-2x"></i>
                </td>
                <td class="bb1">
                    <i class="far {{ competitor[competitor2]['cover'] }} fa-2x"></i>
                </td>
                {% if competitor3 is defined %}
                    <td class="bb1">
                       <i class="far {{ competitor[competitor3]['cover'] }} fa-2x"></i>
                    </td>
                {% endif %}
            {% else %}
                <td class="bb1 bs-l">
                    <i class="far {{ competitor['PYB']['cover'] }} fa-2x"></i>
                </td>
                <td class="bb1">
                    <i class="far {{ competitor['GC']['cover'] }} fa-2x"></i>
                </td>
                <td class="bb1">
                   <i class="far {{ competitor['LICI']['cover'] }} fa-2x"></i>
                </td>
            {% endif %}
        </tr>
        <tr>
            <td class="wh text-left"><strong>Insure second hand phones</strong></td>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
            </td>
            {% if affiliate_page is defined %}
                <td class="wh bs-l">
                    <i class="far {{ competitor[competitor1]['oldphones'] }} fa-2x"></i>
                </td>
                <td class="wh">
                    <i class="far {{ competitor[competitor2]['oldphones'] }} fa-2x"></i>
                </td>
                {% if competitor3 is defined %}
                    <td class="wh">
                        <i class="far {{ competitor[competitor3]['oldphones'] }} fa-2x"></i>
                    </td>
                {% endif %}
            {% else %}
                <td class="wh bs-l">
                    <i class="far {{ competitor['PYB']['oldphones'] }} fa-2x"></i>
                </td>
                <td class="wh">
                    <i class="far {{ competitor['GC']['oldphones'] }} fa-2x"></i>
                </td>
                <td class="wh">
                    <i class="far {{ competitor['LICI']['oldphones'] }} fa-2x"></i>
                </td>
            {% endif %}
        </tr>
        <tr>
            <td class="bb1 text-left"><strong>Cover for phones purchased up to</strong></td>
            <td class="b2"><strong>3 years</strong> <div>from purchase</div></td>
            {% if affiliate_page is defined %}
                <td class="bb1 bs-l">{{ competitor[competitor1]['phoneage']|raw }}</td>
                <td class="bb1">{{ competitor[competitor2]['phoneage']|raw }}</td>
                {% if competitor3 is defined %}
                    <td class="bb1">{{ competitor[competitor3]['phoneage']|raw }}</td>
                {% endif %}
            {% else %}
                <td class="bb1 bs-l">{{ competitor['PYB']['phoneage']|raw }}</td>
                <td class="bb1">{{ competitor['GC']['phoneage']|raw }}</td>
                <td class="bb1">{{ competitor['LICI']['phoneage']|raw }}</td>
            {% endif %}
        </tr>
        <tr>
            <td class="wh text-left"><strong>Save up to £100 off your excess</strong></td>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_excess_50"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            {% if affiliate_page is defined %}
                <td class="wh bs-l">
                    <i class="far {{ competitor[competitor1]['saveexcess'] }} fa-2x"></i>
                </td>
                <td class="wh">
                    <i class="far {{ competitor[competitor2]['saveexcess'] }} fa-2x"></i>
                </td>
                {% if competitor3 is defined %}
                    <td class="wh">
                        <i class="far {{ competitor[competitor3]['saveexcess'] }} fa-2x"></i>
                    </td>
                {% endif %}
            {% else %}
                <td class="wh bs-l">
                    <i class="far {{ competitor['PYB']['oldphones'] }} fa-2x"></i>
                </td>
                <td class="wh">
                    <i class="far {{ competitor['GC']['oldphones'] }} fa-2x"></i>
                </td>
                <td class="wh">
                    <i class="far {{ competitor['LICI']['oldphones'] }} fa-2x"></i>
                </td>
            {% endif %}
        </tr>
        <tr>
            <td class="bb1 text-left"><strong>Trustpilot rating</strong></td>
            <td class="b2">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </td>
            {% if affiliate_page is defined %}
                <td class="bb1 bs-l">
                    {% for i in 1..competitor[competitor1]['trustpilot'] %}
                        <i class="fas fa-star"></i>
                    {% endfor %}
                </td>
                <td class="bb1">
                    {% for i in 1..competitor[competitor2]['trustpilot'] %}
                        <i class="fas fa-star"></i>
                    {% endfor %}
                </td>
                {% if competitor3 is defined %}
                    <td class="bb1">
                        {% for i in 1..competitor[competitor3]['trustpilot'] %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                    </td>
                {% endif %}
            {% else %}
                <td class="bb1 bs-l">
                    {% for i in 1..competitor['PYB']['trustpilot'] %}
                        <i class="fas fa-star"></i>
                    {% endfor %}
                </td>
                <td class="bb1">
                    {% for i in 1..competitor['GC']['trustpilot'] %}
                        <i class="fas fa-star"></i>
                    {% endfor %}
                </td>
                <td class="bb1">
                    {% for i in 1..competitor['LICI']['trustpilot'] %}
                        <i class="fas fa-star"></i>
                    {% endfor %}
                </td>
            {% endif %}
        </tr>
    </tbody>
</table>
<p class="updated-text text-center mt-2"><small><em>Information checked on  November 18 2018</em></small></em>
