<table width="100%" class="table-comparison table-comparison-carousel light-table d-table d-md-none mx-auto">
    <thead>
        <tr>
            <th width="50%" class="blue-gradient">
                <img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-dark.svg" class="img-fluid" alt="so-sure">
            </th>
            <th width="50%" class="b4">
                <a href="#" class="td-prev-btn"><i class="fal fa-angle-left fa-3x text-columbia-blue-e"></i></a>
                <div class="td-container">
                    <span class="td-swap td-active">
                        {{ competitor['protectyourbubble']['name']|raw }}
                    </span>
                    <span class="td-swap">
                        {{ competitor['loveitcoverit']['name']|raw }}
                    </span>
                    <span class="td-swap">
                        {{ competitor['insurance2go']['name']|raw }}
                    </span>
                </div>
                <a href="#" class="td-next-btn"><i class="fal fa-angle-right fa-3x text-columbia-blue-e"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center"><strong>Up to 80% no claims cashback every policy year</strong></td>
        </tr>
        <tr>
            <td class="wh">
                {{ competitor['sosure']['cashback']|raw }}
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_cashback"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">{{ competitor['protectyourbubble']['cashback']|raw }}</span>
                    <span class="td-swap">{{ competitor['loveitcoverit']['cashback']|raw }}</span>
                    <span class="td-swap">{{ competitor['insurance2go']['cashback']|raw }}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center"><strong>Excess from</strong></td>
        </tr>
        <tr>
            <td class="wh"><strong>{{ lowest_excess }}</strong></td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">{{ competitor['protectyourbubble']['excess']|raw }}</span>
                    <span class="td-swap">{{ competitor['loveitcoverit']['excess']|raw }}</span>
                    <span class="td-swap">{{ competitor['insurance2go']['excess']|raw }}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center"><strong>Theft/Loss: time to replace after approval</strong></td>
        </tr>
        <tr>
            <td class="wh">{{ competitor['sosure']['timeToRepair']|raw }}</td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">{{ competitor['protectyourbubble']['timeToReplace']|raw }}</span>
                    <span class="td-swap">{{ competitor['loveitcoverit']['timeToReplace']|raw }}</span>
                    <span class="td-swap">{{ competitor['insurance2go']['timeToReplace']|raw }}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center"><strong>Damage: how to send and time to repair from receipt</strong></td>
        </tr>
        <tr>
            <td class="wh">{{ competitor['sosure']['timeToRepair']|raw }}</td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">{{ competitor['protectyourbubble']['timeToRepair']|raw }}</span>
                    <span class="td-swap">{{ competitor['loveitcoverit']['timeToRepair']|raw }}</span>
                    <span class="td-swap">{{ competitor['insurance2go']['timeToRepair']|raw }}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center"><strong>New or used phones insured?</strong></td>
        </tr>
        <tr>
            <td class="wh">{{ competitor['sosure']['oldPhones']|raw }}</td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">{{ competitor['protectyourbubble']['oldPhones']|raw }}</span>
                    <span class="td-swap">{{ competitor['loveitcoverit']['oldPhones']|raw }}</span>
                    <span class="td-swap">{{ competitor['insurance2go']['oldPhones']|raw }}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center"><strong>Maximum age of phone since purchase</strong></td>
        </tr>
        <tr>
            <td class="wh">{{ competitor['sosure']['phoneAge']|raw }}</td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">{{ competitor['protectyourbubble']['phoneAge']|raw }}</span>
                    <span class="td-swap">{{ competitor['loveitcoverit']['phoneAge']|raw }}</span>
                    <span class="td-swap">{{ competitor['insurance2go']['phoneAge']|raw }}</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table class="table-comparison light-table d-none d-md-block mx-auto mt-lg-5">
    <thead>
        <tr>
            <th width="24%" class="wh text-left"><span class="h5 text-primary">Features</span></th>
            <th width="19%" class="blue-gradient"><img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-dark.svg" class="img-fluid" alt="so-sure"></th>
            <th width="19%" class="b4 bs-l">{{ competitor['protectyourbubble']['name']|raw }}</th>
            <th width="19%" class="b4">{{ competitor['loveitcoverit']['name']|raw }}</th>
            <th width="19%" class="b4">{{ competitor['insurance2go']['name']|raw }}</th>
    </thead>
    <tbody>
        <tr>
            <td class="bb1 text-left"><strong>Up to 80% no claims cashback every policy year</strong></td>
            <td class="b2">
                {{ competitor['sosure']['cashback']|raw }}
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_cashback"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="bb1 bs-l">{{ competitor['protectyourbubble']['cashback']|raw }}</td>
            <td class="bb1">{{ competitor['loveitcoverit']['cashback']|raw }}</td>
            <td class="bb1">{{ competitor['insurance2go']['cashback']|raw }}</td>
        </tr>
        <tr>
            <td class="wh text-left"><strong>Excess from</strong></td>
            <td class="b2a"><strong>{{ lowest_excess }}</strong></td>
            <td class="wh bs-l">{{ competitor['protectyourbubble']['excess']|raw }}</td>
            <td class="wh">{{ competitor['loveitcoverit']['excess']|raw }}</td>
            <td class="wh">{{ competitor['insurance2go']['excess']|raw }}</td>
        </tr>
        <tr>
            <td class="bb1 text-left"><strong>Theft/Loss: time to replace after approval</strong></td>
            <td class="b2">{{ competitor['sosure']['timeToReplace']|raw }}</td>
            <td class="bb1 bs-l">{{ competitor['protectyourbubble']['timeToReplace']|raw }}</td>
            <td class="bb1">{{ competitor['loveitcoverit']['timeToReplace']|raw }}</td>
            <td class="bb1">{{ competitor['insurance2go']['timeToReplace']|raw }}</td>
        </tr>
        <tr>
            <td class="wh text-left"><strong>Damage: how to send and time to repair from receipt</u></strong></td>
            <td class="b2a">{{ competitor['sosure']['timeToRepair']|raw }}</td>
            <td class="wh bs-l">{{ competitor['protectyourbubble']['timeToRepair']|raw }}</td>
            <td class="wh">{{ competitor['loveitcoverit']['timeToRepair']|raw }}</td>
            <td class="wh">{{ competitor['insurance2go']['timeToRepair']|raw }}</td>
        </tr>
        <tr>
            <td class="bb1 text-left"><strong>New or used phones insured?</strong></td>
            <td class="b2">{{ competitor['sosure']['oldPhones']|raw }}</td>
            <td class="bb1 bs-l">{{ competitor['protectyourbubble']['oldPhones']|raw }}</td>
            <td class="bb1">{{ competitor['loveitcoverit']['oldPhones']|raw }}</td>
            <td class="bb1">{{ competitor['insurance2go']['oldPhones']|raw }}</td>
        </tr>
        <tr>
            <td class="bb1 text-left"><strong>Maximum age of phone since purchase</strong></td>
            <td class="b2">{{ competitor['sosure']['phoneAge']|raw }}</td>
            <td class="bb1 bs-l">{{ competitor['protectyourbubble']['phoneAge']|raw }}</td>
            <td class="bb1">{{ competitor['loveitcoverit']['phoneAge']|raw }}</td>
            <td class="bb1">{{ competitor['insurance2go']['phoneAge']|raw }}</td>
        </tr>
    </tbody>
</table>
<p class="updated-text text-center mt-2"><small><em>Info correct as of Sep 2nd 2021 - data taken on a first phone covered basis
</em></small></p>