<table width="100%" class="table-comparison table-comparison-carousel light-table d-table d-md-none mx-auto animated fadeInUp">
    <thead>
        <tr>
            <th width="50%" class="blue-gradient">
                <img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-dark.svg" class="img-fluid" alt="so-sure">
            </th>
            <th width="50%" class="b4">
                <a href="#" class="td-prev-btn"><i class="fal fa-angle-left fa-3x text-columbia-blue-e"></i></a>
                <div class="td-container">
                    <span class="td-swap td-active">
                        Protect Your Bubble
                    </span>
                    {% if table_content is defined and table_content == 'topcashback' %}
                        <span class="td-swap">
                            Gadget <br> Cover
                        </span>
                        <span class="td-swap">
                            Simplesurance
                        </span>
                    {% elseif table_content is defined and table_content == 'quidco' %}
                        <span class="td-swap">
                            Gadget <br> Cover
                        </span>
                        <span class="td-swap">
                            CloudCover
                        </span>
                    {% elseif table_content is defined and table_content == 'vouchercodes' %}
                        <span class="td-swap">
                            Endsleigh
                        </span>
                    {% elseif table_content is defined and table_content == 'reward-gateway' %}
                        <span class="td-swap">
                            Endsleigh
                        </span>
                        <span class="td-swap">
                            Simplesurance
                        </span>
                    {% else %}
                        <span class="td-swap">
                            Gadget <br> Cover
                        </span>
                        <span class="td-swap">
                            Loveit<br>coverit <br>.co.uk
                        </span>
                    {% endif %}
                </div>
                <a href="#" class="td-next-btn"><i class="fal fa-angle-right fa-3x text-columbia-blue-e"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Time to repair / replace after approval</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <strong>24 - 72</strong> <div>hours</div>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_24_72_hours"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">
                        <strong>1 - 5</strong> days <div>depending on stock</div>
                    </span>
                    {% if table_content is defined and table_content == 'topcashback' %}
                        <span class="td-swap">
                            <strong>5 - 7</strong> <div>working days</div>
                        </span>
                        <span class="td-swap">
                            <strong>3 - 5</strong> <div>working days</div>
                        </span>
                    {% elseif table_content is defined and table_content == 'quidco' %}
                        <span class="td-swap">
                            <strong>5 - 7</strong> <div>working days</div>
                        </span>
                        <span class="td-swap">
                            <strong>3 - 5</strong> <div>working days</div>
                        </span>
                    {% elseif table_content is defined and table_content == 'vouchercodes' %}
                        <span class="td-swap">
                            <strong>1 - 5</strong> <div>working days</div>
                        </span>
                    {% elseif table_content is defined and table_content == 'reward-gateway' %}
                        <span class="td-swap">
                            <strong>1 - 5</strong> <div>working days</div>
                        </span>
                        <span class="td-swap">
                            <strong>3 - 5</strong> <div>working days</div>
                        </span>
                    {% else %}
                        <span class="td-swap">
                            <strong>5 - 7</strong> <div>working days</div>
                        </span>
                        <span class="td-swap">
                            <strong>1 - 5</strong> <div>working days</div>
                        </span>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Up to 80% Cashback at end of policy year</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_cashback"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">
                        <i class="far fa-times fa-2x"></i>
                    </span>
                    {% if table_content is defined and table_content == 'topcashback' %}
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    {% elseif table_content is defined and table_content == 'quidco' %}
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    {% elseif table_content is defined and table_content == 'vouchercodes' %}
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    {% elseif table_content is defined and table_content == 'reward-gateway' %}
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    {% else %}
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Loss, Theft &amp; Accidental Damage included as standard</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_comprehensive"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">
                        <i class="far fa-times fa-2x"></i>
                    </span>
                    {% if table_content is defined and table_content == 'topcashback' %}
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    {% elseif table_content is defined and table_content == 'quidco' %}
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    {% elseif table_content is defined and table_content == 'vouchercodes' %}
                        <span class="td-swap">
                            <i class="far fa-check fa-2x"></i>
                        </span>
                    {% elseif table_content is defined and table_content == 'reward-gateway' %}
                        <span class="td-swap">
                            <i class="far fa-check fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    {% else %}
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Insure second hand phones</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
            </td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">
                        <i class="far fa-times fa-2x"></i>
                    </span>
                    {% if table_content is defined and table_content == 'topcashback' %}
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    {% elseif table_content is defined and table_content == 'quidco' %}
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    {% elseif table_content is defined and table_content == 'vouchercodes' %}
                        <span class="td-swap">
                            <i class="far fa-check fa-2x"></i>
                        </span>
                    {% elseif table_content is defined and table_content == 'reward-gateway' %}
                        <span class="td-swap">
                            <i class="far fa-check fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    {% else %}
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Cover for phones purchased up to</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <strong>3 years</strong> <div>from purchase</div>
            </td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">
                        <strong>6 months</strong> <div>from purchase</div>
                    </span>
                    {% if table_content is defined and table_content == 'topcashback' %}
                        <span class="td-swap">
                            <strong>18 months</strong> <div>from purchase</div>
                        </span>
                        <span class="td-swap">
                            <strong>6 months</strong> <div>from purchase</div>
                        </span>
                    {% elseif table_content is defined and table_content == 'quidco' %}
                        <span class="td-swap">
                            <strong>18 months</strong> <div>from purchase</div>
                        </span>
                        <span class="td-swap">
                            <strong>6 months</strong> <div>from purchase</div>
                        </span>
                    {% elseif table_content is defined and table_content == 'vouchercodes' %}
                        <span class="td-swap">
                            <strong>3 years</strong> <div>from purchase</div>
                        </span>
                    {% elseif table_content is defined and table_content == 'reward-gateway' %}
                        <span class="td-swap">
                            <strong>3 years</strong> <div>from purchase</div>
                        </span>
                        <span class="td-swap">
                            <strong>6 months</strong> <div>from purchase</div>
                        </span>
                    {% else %}
                        <span class="td-swap">
                            <strong>18 months</strong> <div>from purchase</div>
                        </span>
                        <span class="td-swap">
                            <strong>3 years</strong> <div>from purchase</div>
                        </span>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Save up to £100 off your excess</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_excess_50"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">
                        <i class="far fa-times fa-2x"></i>
                    </span>
                    {% if table_content is defined and table_content == 'topcashback' %}
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    {% elseif table_content is defined and table_content == 'quidco' %}
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    {% elseif table_content is defined and table_content == 'vouchercodes' %}
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    {% elseif table_content is defined and table_content == 'reward-gateway' %}
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                    {% else %}
                        <span class="td-swap">
                            <i class="far fa-times fa-2x"></i>
                        </span>
                        <span class="td-swap">
                           <i class="far fa-times fa-2x"></i>
                        </span>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Trustpilot rating</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>
                    {% if table_content is defined and table_content == 'topcashback' %}
                        <span class="td-swap">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="td-swap">
                            <i class="fas fa-star"></i>
                        </span>
                    {% elseif table_content is defined and table_content == 'quidco' %}
                        <span class="td-swap">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="td-swap">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                    {% elseif table_content is defined and table_content == 'vouchercodes' %}
                        <span class="td-swap">
                            <i class="fas fa-star"></i>
                        </span>
                    {% elseif table_content is defined and table_content == 'reward-gateway' %}
                        <span class="td-swap">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="td-swap">
                            <i class="fas fa-star"></i>
                        </span>
                    {% else %}
                        <span class="td-swap">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="td-swap">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                    {% endif %}
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table class="table-comparison light-table d-none d-md-block mx-auto mt-lg-5 animated fadeInUp">
    <thead>
        <tr>
            {% if table_content is defined and table_content == 'topcashback' %}
                <th width="24%" class="wh text-left"><span class="h5 text-primary">Features</span></th>
                <th width="19%" class="blue-gradient"><img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-dark.svg" class="img-fluid" alt="so-sure"></th>
                <th width="19%" class="b4 bs-l">Protect Your Bubble</th>
                <th width="19%" class="b4">Gadget <br> Cover</th>
                <th width="19%" class="b4">Simplesurance</th>
            {% elseif table_content is defined and table_content == 'quidco' %}
                <th width="24%" class="wh text-left"><span class="h5 text-primary">Features</span></th>
                <th width="19%" class="blue-gradient"><img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-dark.svg" class="img-fluid" alt="so-sure"></th>
                <th width="19%" class="b4 bs-l">Protect Your Bubble</th>
                <th width="19%" class="b4">Gadget <br> Cover</th>
                <th width="19%" class="b4">CloudCover</th>
            {% elseif table_content is defined and table_content == 'vouchercodes' %}
                <th width="40%" class="wh text-left"><span class="h5 text-primary">Features</span></th>
                <th width="20%" class="blue-gradient"><img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-dark.svg" class="img-fluid" alt="so-sure"></th>
                <th width="20%" class="b4 bs-l">Protect Your Bubble</th>
                <th width="20%" class="b4">Endsleigh</th>
            {% elseif table_content is defined and table_content == 'reward-gateway' %}
                <th width="24%" class="wh text-left"><span class="h5 text-primary">Features</span></th>
                <th width="19%" class="blue-gradient"><img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-dark.svg" class="img-fluid" alt="so-sure"></th>
                <th width="19%" class="b4 bs-l">Protect Your Bubble</th>
                <th width="19%" class="b4">Endsleigh</th>
                <th width="19%" class="b4">Simplesurance</th>
            {% else %}
                <th width="24%" class="wh text-left"><span class="h5 text-primary">Features</span></th>
                <th width="19%" class="blue-gradient"><img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-dark.svg" class="img-fluid" alt="so-sure"></th>
                <th width="19%" class="b4 bs-l">Protect Your Bubble</th>
                <th width="19%" class="b4">Gadget <br> Cover</th>
                <th width="19%" class="b4">Loveit <br> coverIt.co.uk</th>
            {% endif %}
    </thead>
    <tbody>
        <tr>
            <td class="bb1 text-left"><strong>Time to repair / replace after approval</strong></td>
            <td class="b2">
                <strong>24 - 72</strong> <div>hours</div>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_24_72_hours"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="bb1 bs-l"><strong>1 - 5</strong> days <div>depending on stock</div></td>
            {% if table_content is defined and table_content == 'topcashback' %}
                <td class="bb1"><strong>5 - 7</strong> <div>working days</div></td>
                <td class="bb1"><strong>3 - 5</strong> <div>working days</div></td>
            {% elseif table_content is defined and table_content == 'quidco' %}
                <td class="bb1"><strong>5 - 7</strong> <div>working days</div></td>
                <td class="bb1"><strong>3 - 5</strong> <div>working days</div></td>
            {% elseif table_content is defined and table_content == 'vouchercodes' %}
                <td class="bb1"><strong>1 - 5</strong> <div>working days</div></td>
            {% elseif table_content is defined and table_content == 'reward-gateway' %}
                <td class="bb1"><strong>1 - 5</strong> <div>working days</div></td>
                <td class="bb1"><strong>3 - 5</strong> <div>working days</div></td>
            {% else %}
                <td class="bb1"><strong>5 - 7</strong> <div>working days</div></td>
                <td class="bb1"><strong>1 - 5</strong> <div>working days</div></td>
            {% endif %}
        </tr>
        <tr>
            <td class="wh text-left"><strong>Up to 80% Cashback at end of policy year</strong></td>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_cashback"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="wh bs-l"><i class="far fa-times fa-2x"></i></td>
            {% if table_content is defined and table_content == 'topcashback' %}
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
            {% elseif table_content is defined and table_content == 'quidco' %}
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
            {% elseif table_content is defined and table_content == 'vouchercodes' %}
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
            {% elseif table_content is defined and table_content == 'reward-gateway' %}
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
            {% else %}8
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
            {% endif %}
        </tr>
        <tr>
            <td class="bb1 text-left">
                <strong>Loss, Theft &amp; Accidental Damage included as standard</strong>
            </td>
            <td class="b2">
                <i class="far fa-check fa-2x"></i>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_comprehensive"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="bb1 bs-l"><i class="far fa-times fa-2x"></i></td>
            {% if table_content is defined and table_content == 'topcashback' %}
                <td class="bb1"><i class="far fa-times fa-2x"></i></td>
                <td class="bb1"><i class="far fa-times fa-2x"></i></td>
            {% elseif table_content is defined and table_content == 'quidco' %}
                <td class="bb1"><i class="far fa-times fa-2x"></i></td>
                <td class="bb1"><i class="far fa-times fa-2x"></i></td>
            {% elseif table_content is defined and table_content == 'vouchercodes' %}
                <td class="bb1"><i class="far fa-check fa-2x"></i></td>
            {% elseif table_content is defined and table_content == 'reward-gateway' %}
                <td class="bb1"><i class="far fa-check fa-2x"></i></td>
                <td class="bb1"><i class="far fa-times fa-2x"></i></td>
            {% else %}
                <td class="bb1"><i class="far fa-times fa-2x"></i></td>
                <td class="bb1"><i class="far fa-times fa-2x"></i></td>
            {% endif %}
        </tr>
        <tr>
            <td class="wh text-left"><strong>Insure second hand phones</strong></td>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
            </td>
            <td class="wh bs-l"><i class="far fa-times fa-2x"></i></td>
            {% if table_content is defined and table_content == 'topcashback' %}
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
            {% elseif table_content is defined and table_content == 'quidco' %}
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
            {% elseif table_content is defined and table_content == 'vouchercodes' %}
                <td class="wh"><i class="far fa-check fa-2x"></i></td>
            {% elseif table_content is defined and table_content == 'reward-gateway' %}
                <td class="wh"><i class="far fa-check fa-2x"></i></td>
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
            {% else %}
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
            {% endif %}
        </tr>
        <tr>
            <td class="bb1 text-left"><strong>Cover for phones purchased up to</strong></td>
            <td class="b2"><strong>3 years</strong> <div>from purchase</div></td>
            <td class="bb1 bs-l"><strong>6 months</strong> <div>from purchase</div></td>
            {% if table_content is defined and table_content == 'topcashback' %}
                <td class="bb1"><strong>18 months</strong> <div>from purchase</div></td>
                <td class="bb1"><strong>6 months</strong> <div>from purchase</div></td>
            {% elseif table_content is defined and table_content == 'quidco' %}
                <td class="bb1"><strong>18 months</strong> <div>from purchase</div></td>
                <td class="bb1"><strong>6 months</strong> <div>from purchase</div></td>
            {% elseif table_content is defined and table_content == 'vouchercodes' %}
                <td class="bb1"><strong>3 years</strong> <div>from purchase</div></td>
            {% elseif table_content is defined and table_content == 'reward-gateway' %}
                <td class="bb1"><strong>3 years</strong> <div>from purchase</div></td>
                <td class="bb1"><strong>6 months</strong> <div>from purchase</div></td>
            {% else %}
                <td class="bb1"><strong>18 months</strong> <div>from purchase</div></td>
                <td class="bb1"><strong>3 years</strong> <div>from purchase</div></td>
            {% endif %}
        </tr>
        <tr>
            <td class="wh text-left"><strong>Save up to £100 off your excess</strong></td>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_excess_50"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="wh bs-l"><i class="far fa-times fa-2x"></i></td>
            {% if table_content is defined and table_content == 'topcashback' %}
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
            {% elseif table_content is defined and table_content == 'quidco' %}
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
            {% elseif table_content is defined and table_content == 'vouchercodes' %}
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
            {% elseif table_content is defined and table_content == 'reward-gateway' %}
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
            {% else %}
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
                <td class="wh"><i class="far fa-times fa-2x"></i></td>
            {% endif %}
        </tr>
        <tr>
            <td class="bb1 text-left"><strong>Trustpilot rating</strong></td>
            <td class="b2">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </td>
            <td class="bb1 bs-l">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </td>
            {% if table_content is defined and table_content == 'topcashback' %}
                <td class="bb1">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </td>
                <td class="bb1">
                    <i class="fas fa-star"></i>
                </td>
            {% elseif table_content is defined and table_content == 'quidco' %}
                <td class="bb1">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </td>
                <td class="bb1">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </td>
            {% elseif table_content is defined and table_content == 'vouchercodes' %}
                <td class="bb1">
                    <i class="fas fa-star"></i>
                </td>
            {% elseif table_content is defined and table_content == 'reward-gateway' %}
                <td class="bb1">
                    <i class="fas fa-star"></i>
                </td>
                <td class="bb1">
                    <i class="fas fa-star"></i>
                </td>
            {% else %}
                <td class="bb1">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </td>
                <td class="bb1">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </td>
                {% endif %}
        </tr>
    </tbody>
</table>
