{# Cover Modal #}
<div class="modal modal-new fade and carousel slide"
     id="cover-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="so-sure"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="modal-body--left text-center">
                                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                         data-src="{{ cdn_url }}/images/homepage/so-sure_theft.svg"
                                         alt="so-sure cover - Theft"
                                         width="200px">
                                    <h3>Theft</h3>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="modal-body--right">
                                    <p class="center-xs">Theft happens when someone takes your phone from you using either force or deception. It’s defined in our policy document as:</p>
                                    <p class="text-center"><mark>"The physical removal of the mobile phone without the consent of the owner and with the intention of depriving the owner of it permanently."</mark></p>
                                    <p>We expect you to be <span class="text-blue">'taking reasonable care'</span> of your mobile phone. That means:</p>
                                   <ul>
                                        <li>Not knowingly leaving your mobile phone somewhere it is likely to be lost, stolen or Accidental Damaged. If in doubt for Loss or Theft, ask yourself "would I leave a pile of &pound;400 in cash there and expect to find it when I return?"</li>
                                        <li>If you need to leave your mobile phone somewhere then we expect you to lock it away out of sight if at all possible. If you cannot lock it away then you must leave it with someone you trust or concealed out of sight in a safe place</li>
                                    </ul>
                                    <p>What aren't you covered for?</p>
                                    <ul>
                                        <li>Excess: You need to pay a contribution every time you make a successful claim</li>
                                        <li>More than two claims for Loss and/or Theft in any policy year</li>
                                        <li>Theft, Loss, Accidental Damage or Breakdown where you have knowingly put your mobile phone at risk and/or you have not taken care of it</li>
                                    </ul>
                                    <p class="center-xs text-blue">If you follow the above, we will have your back if your phone gets stolen!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="modal-body--left text-center">
                                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                         data-src="{{ cdn_url }}/images/homepage/so-sure_loss.svg"
                                         alt="so-sure cover - Loss"
                                         width="200px">
                                    <h3>Loss</h3>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="modal-body--right">
                                    <p class="center-xs">Our policy document defines loss as:</p>
                                    <p class="text-center"><mark>"The mobile phone has been accidentally left behind by you and you are permanently deprived of its use and unable to locate the mobile phone."</mark></p>
                                    <p>We expect you to be <span class="text-blue">'taking reasonable care'</span> of your mobile phone. That means:</p>
                                    <ul>
                                        <li>Not knowingly leaving your mobile phone somewhere it is likely to be lost, stolen or Accidental Damaged. If in doubt for Loss or Theft, ask yourself "would I leave a pile of &pound;400 in cash there and expect to find it when I return?"</li>
                                    </ul>
                                    <p>What aren't you covered for?</p>
                                    <ul>
                                        <li>Excess: You need to pay a contribution every time you make a successful claim</li>
                                        <li>More than two claims for Loss and/or Theft in any policy year</li>
                                        <li>Theft, Loss, Accidental Damage or Breakdown where you have knowingly put your mobile phone at risk and/or you have not taken care of it</li>
                                    </ul>
                                    <p class="center-xs text-blue">If you follow the above, we will have your back if your phone gets lost!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="modal-body--left text-center">
                                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                         data-src="{{ cdn_url }}/images/homepage/so-sure_accidental_damage.svg"
                                         alt="so-sure cover - Accidental Damage"
                                         width="200px">
                                    <h3>Accidental Damage</h3>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="modal-body--right">
                                    <p class="center-xs">Accidental damage is when something happens to your property that is completely out of your control. It’s defined in our policy document as:</p>
                                    <p class="text-center"><mark>"Physical harm that impairs the normal function of your mobile phone."</mark></p>
                                    <p>Examples of accidental damage:</p>
                                    <ul>
                                        <li>Spillages</li>
                                        <li>Damage caused by children</li>
                                        <li>Damage caused by pets</li>
                                        <li>Electrical surges</li>
                                    </ul>
                                    <p>What isn't covered:</p>
                                    <ul>
                                        <li>Cosmetic damage</li>
                                        <li>Damage resulting from you putting your phone at risk</li>
                                        <li>Damage caused before the insurance policy</li>
                                        <li>Excess: You need to pay a contribution every time you make a successful claim</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="modal-body--left text-center">
                                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                         data-src="{{ cdn_url }}/images/homepage/so-sure_out_of_warranty_breakdown.svg"
                                         alt="so-sure cover - Out fo Warranty Breakdown"
                                         width="200px">
                                    <h3>Out of Warranty Breakdown</h3>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="modal-body--right">
                                    <p class="center-xs">Our policy does not provide cover for problems with your mobile phone that are covered by the manufacturer warranty. If your mobile phone does develop a fault whilst still under warranty you should follow the warranty returns process as specified by the manufacturer.</p>
                                    <p class="center-xs">However, if you do experience Out of Warranty Breakdown, which is defined in our policy document as:</p>
                                    <p class="text-center"><mark>"Sudden failure of the mobile phone attributable to a defect within the mobile phone preventing normal function of your mobile phone."</mark></p>
                                    <p class="center-xs">then we are here to help!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="modal-body--left text-center">
                                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                         data-src="{{ cdn_url }}/images/homepage/so-sure_unauthorised_network_charges.svg"
                                         alt="so-sure cover - Unauthorised Network Charges"
                                         width="200px">
                                    <h3>Unauthorised Network Charges</h3>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="modal-body--right">
                                    <p class="center-xs">We cover you for up to &pound;1,000 of unauthorised network changes. Unauthorised usage applies when you have either lost your phone or had it stolen and it is then used without your knowledge or permission. It’s defined in our policy document as:</p>
                                    <p class="text-center"><mark>"Unauthorised network charges (calls, texts, data) as a result of someone else using your mobile phone without consent"</mark></p>
                                    <p>So, if your mobile phone has been used without your consent after it has been lost or stolen, we will pay those charges incurred for 24 hours from the time of Loss or Theft, as long as:</p>
                                    <ul>
                                        <li>You notify your network within 24 hours of the Theft/Loss </li>
                                        <li>Your Loss or Theft claim for your mobile phone is approved </li>
                                        <li>The SIM card is registered to you or your family member, or to the business or an employee for these charges to be covered.</li>
                                        <li>You provide the copy of an itemised bill</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="modal-body--left text-center">
                                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                         data-src="{{ cdn_url }}/images/homepage/so-sure_accessories.svg"
                                         alt="so-sure cover - Accessories"
                                         width="200px">
                                    <h3>Accessories</h3>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="modal-body--right">
                                    <p>Accessory claims are covered up to &pound;100 including VAT. Accessories include, but are not limited to:</p>
                                    <ul>
                                        <li>Chargers</li>
                                        <li>Protective cases</li>
                                        <li>Stands</li>
                                        <li>Headphones</li>
                                        <li>Memory cards</li>
                                        <li>Carrying cases</li>
                                        <li>Speakers</li>
                                        <li>Data cables</li>
                                    </ul>
                                    <p>Replacement of any Accessories that were accidentally lost, stolen or Accidentally Damaged at the same time as your mobile phone or if we replace your mobile phone with a different make or model and can no longer use your existing Accessories.</p>
                                    <p>A claim under this section is subject to your Loss or Theft claim for your mobile phone being approved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#cover-modal" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#cover-modal" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="modal-footer">
                <ul class="list-inline hidden-xs hidden-sm">
                    <li>
                        <a href="#"
                           data-slide-to="0"
                           data-target="#cover-modal"
                           class="btn btn-blue-hollow">Theft</a>
                    </li>
                    <li>
                        <a href="#"
                           data-slide-to="1"
                           data-target="#cover-modal"
                           class="btn btn-blue-hollow">Loss</a>
                    </li>
                    <li>
                        <a href="#"
                           data-slide-to="2"
                           data-target="#cover-modal"
                           class="btn btn-blue-hollow">Accidental Damage</a>
                    </li>
                    <li>
                        <a href="#"
                           data-slide-to="3"
                           data-target="#cover-modal"
                           class="btn btn-blue-hollow">Breakdown</a>
                    </li>
                    <li>
                        <a href="#"
                           data-slide-to="4"
                           data-target="#cover-modal"
                           class="btn btn-blue-hollow">Network Charges</a>
                    </li>
                    <li>
                        <a href="#"
                           data-slide-to="5"
                           data-target="#cover-modal"
                           class="btn btn-blue-hollow">Accessories</a>
                    </li>
                </ul>
                <button type="button" class="btn btn-blue-hollow visible-xs-inline-block" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>
{# Cover Modal #}
