<section class="section--pad section--arrow learn-more--how-to-get-cashback">
    <div class="container">
        <h3>How do I get cashback?</h3>
        <p>Here at so-sure, we like to reward people who are sensible with their phones.</p>
        <p class="visible-xs visible-sm">Tap to find out more:</p>
        <p class="hidden-xs hidden-sm">Hover on the steps to find out more:</p>

        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="cashback-step">
                    <img src="{{ cdn_url }}/images/animations/start-frame-1.png" data-src="{{ cdn_url }}/images/animations/1sc.gif" class="img-responsive img-animation">
                    <span class="h4 text-blue">Get instant cover</span>
                    <p class="text-blue">Sign up in minutes online or download the app</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="cashback-step">
                    <img src="{{ cdn_url }}/images/animations/start-frame-2.png"  data-src="{{ cdn_url }}/images/animations/2sc.gif" class="img-responsive img-animation">
                    <span class="h4 text-blue">Invite friends &amp; family</span>
                    <p class="text-blue">Share your unique code online or in app</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="cashback-step">
                    <img src="{{ cdn_url }}/images/animations/start-frame-3.png"  data-src="{{ cdn_url }}/images/animations/3sc.gif" class="img-responsive img-animation">
                    <span class="h4 text-blue">Get connected</span>
                    <p class="text-blue">Earn £10 per connection for the first two months</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="cashback-step">
                    <img src="{{ cdn_url }}/images/animations/start-frame-4.png"  data-src="{{ cdn_url }}/images/animations/4sc.gif" class="img-responsive img-animation">
                    <span class="h4 text-blue">Collect annual cashback</span>
                    <p class="text-blue">When you and your connections don’t claim</p>
                </div>
            </div>
        </div>
    </div>
</section>
