<h3 class="phone-title text-center">
    <span class="text-blue">Insurance for a</span>
    <div class="dropdown memory-dropdown-list">
        <a href="#"
           class="dropdown-toggle"
           type="button"
           id="memoryDropdownList"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="true">
            {{ phone }}
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu memory-dropdown" aria-labelledby="memoryDropdownList">
            {% if phones | length > 1 %}
                <li class="dropdown-header">Select alternate model</li>
                {% for phone_mem in phones if phone_mem.id != phone.id %}
                    <li>
                        <a href="{{ path('learn_more_make_model_memory', {'make': phone_mem.make, 'model': phone_mem.encodedModel, 'memory': phone_mem.memory}) }}" class=""> {{ phone.model }} - {{ phone_mem.memory }}GB</a>
                    </li>
                {% endfor %}
                <li role="separator" class="divider"></li>
            {% endif %}
            <li><a href="#" data-toggle="modal" data-target="#quoteModal"> I have a different phone</a></li>
        </ul>
    </div>
</h3>

<h4 class="text-center">Effective monthly premium after cashback:<br><small>(Cashback paid out end of policy year)</small></h4>


{# Set the start friends amount #}
{% if max_connections is divisible by(2) %}
  {% set start_friends = max_connections / 2 %}
{% else %}
  {% set start_friends = 3  %}
{% endif %}

{# Set the amount of cashback #}
{% set start_value = start_friends * connection_value %}

{# If greater than max pot, pot max is start value #}
{% if start_value > max_pot %}
    {% set start_value = max_pot %}
{% endif %}

{# Start amount and work out monthly #}
{% set start_premium = annual_premium - start_value %}
{% set monthly_premium = start_premium / 12 %}

<div class="reward-slider">

    <div class="slide-me">
        <img src="{{ cdn_url }}/images/quote-page/so-sure_arrow-slide-me.svg" alt="">
    </div>

    <output for="range" class="rewardslider__output">
        <span id="premium" class="h3 text-white">£{{ monthly_premium|number_format(2, '.', ',') }}</span><br>
        <small class="text-nowrap">per month</small>
    </output>
    <input type="range"
           id="reward-slider"
           min="0"
           max="{{ max_connections }}"
           value="{{ start_friends }}"
           data-maxpot="{{ max_pot }}"
           data-connection-value="{{ connection_value }}"
           data-premium="{{ annual_premium }}"
           data-monthly-premium="{{ monthly_premium }}">
</div>
<h4 class="text-blue text-center">Number of connections</h4>
