<h3 class="phone-title text-center">
    {{ policy.phone.make }} {{ policy.phone.model }} {{ policy.phone.memory }}GB
</h3>

<h4 class="text-center">Effective monthly premium after cashback:<br><small>(Cashback paid out end of policy year)</small></h4>



{# {% set start_friends = max_connections / 2 %} #}
{# {% set start_value = start_friends * connection_value %} #}

{# If greater than max pot, pot max is start value #}
{# {% if start_value > policy.maxPot %} #}
    {# {% set start_value = policy.maxPot %} #}
{# {% endif %} #}

{# Start amount and work out monthly #}
{# {% set start_premium = policy.premium.yearlyPremiumPrice - start_value %} #}
{# {% set monthly_premium = start_premium / 12 %} #}

<div class="reward-slider">

    <div class="slide-me">
        <img src="{{ cdn_url }}/images/quote-page/so-sure_arrow-slide-me.svg" alt="">
    </div>

    <output for="range" class="rewardslider__output">
        {# <span id="premium" class="h3 text-white">£{{ monthly_premium|number_format(2, '.', ',') }}</span><br> #}
        <small class="text-nowrap">per month</small>
    </output>
    <input type="range"
           id="reward-slider"
           min="0"
           {# max="{{ max_connections }}" #}
           {# value="{{ start_friends }}" #}
           data-maxpot="{{ policy.maxPot }}"
           {# data-connection-value="{{ connection_value }}" #}
           data-premium="{{ policy.premium.yearlyPremiumPrice }}"
           {# data-monthly-premium="{{ monthly_premium }}" #}
           >
</div>
<h4 class="text-blue text-center">Number of connections</h4>
