<div class="row">
    <div class="col-md-12 text-center">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ cdn_url }}/images/homepage/so-sure_theft.svg" alt="Theft" width="140px">
                <h4 class="media-heading">Theft</h4>
            </div>
            <div class="col-sm-4">
                <img src="{{ cdn_url }}/images/homepage/so-sure_loss.svg" alt="Loss" width="140px">
                <h4 class="media-heading">Loss</h4>
            </div>
            <div class="col-sm-4">
                <img src="{{ cdn_url }}/images/homepage/so-sure_accidental_damage.svg" alt="Accidental Damage" width="140px">
                <h4 class="media-heading">Accidental Damage</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ cdn_url }}/images/homepage/so-sure_out_of_warranty_breakdown.svg" alt="Out of Warranty Breakdown" width="140px">
                <h4 class="media-heading">Out of Warranty Breakdown</h4>
            </div>
            <div class="col-sm-4">
                <img src="{{ cdn_url }}/images/homepage/so-sure_unauthorised_network_charges.svg" alt="Unauthorised Network Charges" width="140px">
                <h4 class="media-heading">Unauthorised Network Charges <br> <small>up to &pound;1000</small></h4>
            </div>
            <div class="col-sm-4">
                <img src="{{ cdn_url }}/images/homepage/so-sure_accessories.svg" alt="accessories" width="140px">
                <h4 class="media-heading">Accessories <br> <small>up to &pound;100</small></h4>
            </div>
        </div>
    </div>
</div>
