<div class="row">
    <div class="col-sm-6">
        <div class="media">
            <div class="media-left media-middle">
                <img src="{{ cdn_url }}/images/homepage/so-sure_theft.svg" alt="Theft" width="120px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Theft</h4>
                <p>We hate thieves as much as you do! We've got your back</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="media">
            <div class="media-left media-middle">
                <img src="{{ cdn_url }}/images/homepage/so-sure_loss.svg" alt="Loss" width="120px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Loss</h4>
                <p>The unexplained loss, usually at the pub! We've got your back</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="media">
            <div class="media-left media-middle">
                <img src="{{ cdn_url }}/images/homepage/so-sure_accidental_damage.svg" alt="Accidental Damage" width="120px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Accidental Damage</h4>
                <p>Dropped it down the loo? Dropped it while walking into someone? We've got your back</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="media">
            <div class="media-left media-middle">
                <img src="{{ cdn_url }}/images/homepage/so-sure_out_of_warranty_breakdown.svg" alt="Out of Warranty Breakdown" width="120px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Out of Warranty Breakdown</h4>
                <p>We've got your backn for cover outside of your warranty period</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="media">
            <div class="media-left media-middle">
                <img src="{{ cdn_url }}/images/homepage/so-sure_unauthorised_network_charges.svg" alt="Unauthorised Network Charges" width="120px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Unauthorised Network Charges</h4>
                <p>We've got your back for up to &pound;1000 of charges you shouldn't be paying</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="media">
            <div class="media-left media-middle">
                <img src="{{ cdn_url }}/images/homepage/so-sure_accessories.svg" alt="accessories" width="120px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Accessories</h4>
                <p>We've got your back for theft or loss of accessories up to &pound;100</p>
            </div>
        </div>
    </div>
</div>
