{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row-fluid">
        <div class="col-xs-12 col-md-6">
                <h2>Welcome to So-Sure</h2>
                <p>
                <a href="{{ path('purchase') }}" class="btn btn-success">Buy Now</a>    
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <img class="phone" src="{{ cdn_url }}/images/iphone.png">
          <img class="phone" src="{{ cdn_url }}/images/nexus.png">
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/css/Default/alpha.css'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}