{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'make-a-claim' %}

{% block title %}Make a Claim | so-sure{% endblock %}
{% block meta %}
    <meta name="description" content="Is your phone lost, stolen or broken? Start your claim online with So Sure for a fast and pain-free cliams process. Learn more about each step here."/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/make-a-claim.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container-large">
            <div class="row">
                <div class="col-lg-8">
                    <div class="hero__intro">
                        <div class="breadcrumbs">
                            <ul class="list-inline"
                                vocab="https://schema.org/"
                                typeof="BreadcrumbList">
                                <li class="list-inline-item"
                                    property="itemListElement"
                                    typeof="ListItem">
                                    <a href="{{ path('homepage') }}"
                                       class="text-columbia-blue-e"
                                       property="item"
                                       typeof="WebPage">
                                       <span property="name">Home</span>
                                    </a>
                                    <meta property="position" content="1">
                                </li>
                                <li class="list-inline-item text-white">
                                    <i class="fal fa-angle-right text-white"></i>
                                </li>
                                <li class="list-inline-item text-white"
                                    property="itemListElement"
                                    typeof="ListItem">
                                    <span property="name">Make a claim</span>
                                    <meta property="position" content="2">
                                </li>
                            </ul>
                        </div>
                        <h1 class="mb-4 text-white fit">Make a claim</h1>
                        <h2 class="h4 text-columbia-blue-e">Firstly, is your phone lost or stolen?</h2>
                        <p class="text-white mb-4">To help speed up your claim if you've had your phone stolen or lost, please call your network to <strong>block your phone</strong> then request both <strong>proof of barring</strong> and <strong>proof of usage documents</strong>. Finally get a <strong>crime reference number</strong> from your local police station. If lost, you can also declare it online at <a href="https://www.reportmyloss.com/uk/register" class="text-nowrap text-white" target="_blank" rel="noopener noreferrer"><u>Report My Loss</u></a>.</p>
                        <h3 class="text-columbia-blue-e">Ready to claim?</h3>
                    </div>
                    <div class="hero__controls pb-3">
                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-success btn-block-xs">Login to start your claim</a>
                    </div>
                </div>
                <div class="col-lg-4 d-none d-lg-block">
                    <div class="hero__illustration">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/misc/so-sure_broken-phone-hero.png" alt="so-sure - social insurance" class="lozad d-block mx-auto" width="260px">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="claims py-lg-5">
        <div class="container-large py-5">
            <h2 class="h3 mb-3 text-primary">How the claims process works</h2>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="claims__step">
                        <div class="claims__number d-flex justify-content-center align-items-center h4 text-primary">1</div>
                        <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_make-a-claim.png" alt="so-sure - Make a claim" width="180px" class="lozad">
                    </div>
                    <h3 class="h5 text-primary">Launch your claim online</h3>
                    <p class="mb-5">Is your phone lost, stolen or broken? Claiming with so-sure is easy, fast and pain-free. Get started using the form above</p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="claims__step">
                        <div class="claims__number d-flex justify-content-center align-items-center h4 text-primary">2</div>
                        <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_claims-team.png" alt="so-sure - Review claim" width="180px" class="lozad">
                    </div>
                    <h3 class="h5 text-primary">Review Claim</h3>
                    <p class="mb-5">Our UK based claims team will review your claim and reach out with a request for any further details or documents</p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="claims__step">
                        <div class="claims__number d-flex justify-content-center align-items-center h4 text-primary">3</div>
                        <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_delivery.png" alt="so-sure - Approve claim" width="180px" class="lozad">
                    </div>
                    <h3 class="h5 text-primary">Approve Claim</h3>
                    <p class="mb-2">Once approved, we take your excess payment over the phone and aim to repair or replace your phone within 24-72 hours</p>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/make-a-claim.js') }}"></script>
{% endblock %}
