{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}

{% block title %}so-sure - Make a claim
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/homepage.scss'
    '@AppBundle/Resources/public/sass/page/corporate.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{# {% block nav %}{% endblock %} #}

{% block body %}


    <section class="corporate-hero" id="hero-welcome">
        <div class="corporate-hero-inner">
            <h1 class="text-blue">Don't worry. We’ve got you covered.</h1>
            <p class="lead">Let us guide you through the process so we can get your claim approved and a replacement phone to you ASAP.</p>
            <p class="lead">If you had your phone stolen or lost, please call your network to block your phone and get a crime reference number from your local police station. For loss you can also declare online <a href="https://www.reportmyloss.com/uk/register" target="_blank">Report My Loss</a>.</p>
        </div>
    </section>

    {# Claims procss #}
    <section class="section--pad homepage--claims-process">
        <div class="container">
            <h2 class="text-blue">Our hassle-free claims process</h2>
            <p class="lead">When something bad happens to your phone:</p>
            <div class="row">
                <div class="col-md-4">
                    <span class="large-no large-no--arrow">1</span>
                    <h4 class="h3 text-blue">Contact Claims Team</h4>
                    <p class="text-left">Let us know what happened. You can do this by <a href="#" class="text-nowrap scroll-to" data-scroll-to-anchor="#claim-form">filling in the form below</a>, or calling our claims team on 0344 856 0852 <small>(local rates apply)</small></p>
                </div>
                <div class="col-md-4">
                    <span class="large-no large-no--arrow">2</span>
                    <h4 class="h3 text-blue">Review Claim</h4>
                    <p class="text-left">Our UK based claims team will review your claim and reach out with a request for any further details or documents (if necessary). We aim to do this within a matter of hours during UK business hours.</p>
                </div>
                <div class="col-md-4">
                    <span class="large-no">3</span>
                    <h4 class="h3 text-blue">Approve Claim</h4>
                    <p class="text-left">Once your claim is approved, we take your excess payment over the phone and aim to get a replacement phone in the next working day. If you prefer to have your phone repaired, it may take more time.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="claim-form-container" class="section-corporate section-corporate-form section-corporate-pad section-corporate-pad-both">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <h2 class="text-blue text-center">Please enter your email address to start your claims process.</h2>

                    {{ form_start(claim_email_form, {'attr': {'data-toggle': 'validator', 'class': 'validate-form', 'id':'claim-email-form', 'data-client-validation': form_client_validation }}) }}
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="form-group {% if form_errors(claim_email_form.email) %}has-error{% endif %}">
                                    <label for="">Email <span class="req">*</span></label>
                                    {{ form_widget(claim_email_form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Same email as your account'}}) }}
                                    <div class="help-block with-errors">{{ form_errors(claim_email_form.email) }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="form-group">
                                    {{ form_widget(claim_email_form.submit, { 'label': 'Continue', 'attr': {'class': 'btn btn-blue btn-lg'}}) }}
                                </div>
                            </div>
                        </div>
                    {{ form_end(claim_email_form) }}

                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}
    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/moment/moment.min.js'
    'components/jquery-mask-plugin/jquery.mask.min.js'
    'components/jquery-validation/jquery.validate.min.js'
    '@AppBundle/Resources/public/js/Default/jqueryValidatorMethods.js'
    '@AppBundle/Resources/public/js/Default/claim.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
