{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'faq' %}
{% set itemscope = true %}
{% set itemtype = 'https://schema.org/FAQPage' %}

{% block title %}Frequently Asked Questions | so-sure{% endblock %}

{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/content-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="cp py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="cp__content">
                        <div class="breadcrumbs">
                            <ul class="list-inline"
                                vocab="https://schema.org/"
                                typeof="BreadcrumbList">
                                <li class="list-inline-item"
                                    property="itemListElement"
                                    typeof="ListItem">
                                    <a href="{{ path('homepage') }}"
                                       class="text-primary"
                                       property="item"
                                       typeof="WebPage">
                                       <span property="name">Home</span>
                                    </a>
                                    <meta property="position" content="1">
                                </li>
                                <li class="list-inline-item text-white">
                                    <i class="fal fa-angle-right text-zaffre"></i>
                                </li>
                                <li class="list-inline-item text-zaffre"
                                    property="itemListElement"
                                    typeof="ListItem">
                                    <span property="name">FAQ</span>
                                    <meta property="position" content="2">
                                </li>
                            </ul>
                        </div>
                        <div class="text-zaffre h3 mb-0">so-sure help</div>
                        <h1 class="text-primary mb-4">Frequently Asked Questions</h1>
                        <p class="mb-5">We all need a little extra info sometimes, that's why we've put together this handy FAQ section for you! Can't find what you're looking for? Then don't hesitate to ask via <a href="#" class="open-intercom">live chat</a> {{ support_hours }} or by emailing us at <a href="mailto:support@spam.so-sure.net" class="mailto append-email">support</a>.</p>

                        <h2 id="top-questions" class="text-primary mt-5 mb-4">Top Questions</h2>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Why should I use you? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>Unlike other insurers, we're less focused on profit, and more focused on giving customers value.  Our mission is to make insurance better and cheaper for honest people,  and that's why we've developed clever anti-fraud tech that makes your life easier. Plus we're the only insurer that gives you <a href="#social-insurance-and-reward-pot">money back</a>.</p>
                                        <ul class="mb-0">
                                            <li class="mb-2">Instant cover from purchase</li>
                                            <li class="mb-2">We aim for 24-72 hour replacement or repair once your claim is approved</li>
                                            <li class="mb-2">Hassle-Free Claims</li>
                                            <li class="mb-2">Low excess from just &pound;50</li>
                                            <li class="mb-2">Insure mobiles up to 3 years old</li>
                                            <li class="mb-2">No proof of purchase required upfront, or at all when you use our anti-fraud technology</li>
                                            <li>Rewards when you and your connections don't claim - up to 80% of your premium back</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    How much is excess? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>Our excess is as low as &pound;50 for accidental damage and &pound;70 for loss &amp; theft when you validate your phone with our app.</p>
                                        <p>Download our app and prove to us your device is in good working order and the screen isn't cracked by taking a selfie of your phone!</p>
                                        <p><strong>Depending on your policy, validating your phone may be mandatory.</strong></p>
                                        <p class="mb-0">Excess levels vary by make, model and memory size and might be higher for latest, most-expensive new handsets.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    What is an IMEI number and how do I find out the IMEI of my mobile phone? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>The IMEI (International Mobile Equipment Identification) number of your mobile phone is a unique identification code that is specific to your mobile phone.  If you change your mobile phone, it is important that you call us so we can update your policy with the correct details.</p>
                                        <h4 class="h6 text-zaffre">For Android users:</h4>
                                        <p>The easiest way to find your phone’s IMEI number if you’re on an Android device is to simply dial <mark>*#06#</mark>.</p>
                                        <p>If you’re still having trouble, then you should be able to find it in <mark>Settings &gt; About phone &gt; Status &gt; IMEI information</mark>.</p>
                                        <p>Your serial number will be on the Status screen.</p>
                                        <p class="mb-0">If requested by support, you can take a screenshot on most Android phones by holding the volume down and the power buttons for 1-2 seconds. The screen should flash and the photo can be found in your photos app.</p>
                                        <h4 class="h6 text-zaffre">For iOS (Apple) users:</h4>
                                        <p>Unfortunately, as we need your serial number on iOS you can’t just dial a number (although dialing the same number as above will reveal your IMEI number).</p>
                                        <p>As such you can find both numbers by going to <mark>Settings &gt; General &gt; About</mark>.</p>
                                        <p>If you’re using our app (or if requested by support), you can take a screenshot by pressing the <mark>Sleep/Wake</mark> and <mark>Home</mark> buttons at the same time until you see the screen flash quickly.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Do you cover other gadgets like laptops? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        No, sorry we only cover mobile phone insurance.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    I bought a used phone/my friend gave me an older phone can I still insure it? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        Yes we are able to insure second-hand phones provided they are in full working condition, without any damage, and less than 3 years old.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Do you have a discount for annual payments? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        Yes! If you pay yearly, you get one month free. In addition to that, you can add money to your reward pot by connecting with friends and family to earn up to 80% cashback.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Is there an age limit on the mobile phone I want to insure? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        The phone you want to insure must be <mark>less than 3 years old</mark> from when your policy begins.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Can I insure a mobile phone I bought from eBay or another auction site? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>Yes, you can take out insurance on a <a href="{{ path('phone_insurance_second_hand') }}">second hand</a> phone.</p>
                                        <p class="mb-0">The phone bought needs to have originally been sold into the UK or European Union market prior your purchase (e.g. we don't insure models sold in China).</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Do you cover phones that have been purchased outside of the UK? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        We only cover phones where the original manufacturer sold that model in the United Kingdom or European Union.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Are the replacement handsets brand new? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        We know how we can get attached to our phones so we will repair where we can. If your approved claim requires a mobile phone replacement (e.g. Theft), we will do our best to replace it with an identical fully refurbished device. We normally can. However, should this not be possible we will replace it with a fully refurbished or new item of a comparable specification or the equivalent value. Please be aware that it may not always be possible to replace your mobile phone with the same colour.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    How long will this take to get my mobile device repaired? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        Your screen is cracked, no worries, we've got your back.
                                        We aim to repair your device within 24-72 hours once your claim is approved, however some repairs may take a little longer. Rest assured we are obsessed about getting you up and running quickly that's why it will be a few additional days compared to a few weeks with some of our competition.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    What is the warranty on refurbished devices? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p class="mb-0">All refurbished devices come with a warranty provided by the supplier of that refurbished phone. This warranty varies by device and supplier, but all phones come with a minimum warranty of three months and over 80% of supplied phones have a 12 month warranty.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 id="the-so-sure-app-and-pic-sure" class="text-primary mt-5 mb-4">The so-sure app</h2>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Where can I download the app? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>You can download the so-sure app from the Apple App store of the Google Play store, just click on the relevant store for you below:</p>
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <a class="ga-outbound-click"
                                                   data-clicklabel="iTunes"
                                                   href="{{ apple_download('') }}"
                                                   target="_blank"
                                                   rel="noopener noreferrer">
                                                   <img src="{{ cdn_url }}/images/icons/app-store-original.svg" alt="Download so-sure on the App Store" /></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="ga-outbound-click"
                                                   data-clicklabel="PlayStore"
                                                   href="{{ google_download('') }}"
                                                   target="_blank"
                                                   rel="noopener noreferrer">
                                                   <img src="{{ cdn_url }}/images/icons/google-play-original.svg" alt="Get so-sure on Google Play" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Validate your phone with our app <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <ol class="mb-0">
                                            <li class="mb-2">Open the so-sure app</li>
                                            <li class="mb-2">In the top left corner you will see 3 horizontal lines, this is the menu, tap this</li>
                                            <li class="mb-2">In the open menu tap 'pic-sure validation'</li>
                                            <li class="mb-2">In the next screen read the instructions and click start now</li>
                                            <li class="mb-2">A pop-up will appear asking for permission to use the phones camera, tap 'OK'</li>
                                            <li class="mb-2">On the next screen will be instructions on how to complete the process, tap 'NEXT' in the bottom right corner.</li>
                                            <li class="mb-2">The new screen will describe what the QR code will do, when you understand tap 'NEXT' in the bottom right corner</li>
                                            <li class="mb-2">Then the QR code will appear on the screen and you will be able to take the picture in the mirror</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Handy tips for validating your phone <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>Hold your phone approximately 10cm/4in away from the mirror and keep it steady. Your phone will vibrate once the phone is in the correct position. Make sure to keep it still. When you feel a second vibration, the photo has been taken. Done.</p>
                                        <p>If you don’t feel the vibration, make minor adjustments to the position of the phone, go slowly back and forth, you can tilt the phone slightly as well. You should also see a little preview from the camera when the phone is hold up so make sure the camera is seeing the QR Code.</p>
                                        <p class="mb-0">Then review the photo that is displayed, ensure that your entire phone is visible and if it is submit the photo otherwise try the process again.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    How much is my excess if I validate? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>Our excess is as low as &pound;50 for accidental damage and &pound;70 for loss &amp; theft when you validate your phone with our app.</p>
                                        <p>Download our app and prove to us your device is in good working order and the screen isn't cracked by taking a selfie of your phone!</p>
                                        <p>So, if something unfortunate happens and you haven't validated your phone with our app you will need to pay up to &pound;100 extra for any loss, damage or theft claims.</p>
                                        <p class="mb-0">Excess levels vary by make, model and memory size and might be higher for latest, most-expensive new handsets.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    What happens if my device gets rejected? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>If your picture is rejected this is because your phone screen is damaged, or we cant see the picture clearly.  If it is clearly damaged your policy will be immediately cancelled as buying a insurance policy with a pre-damaged phone is a fraud and an offense.</p>
                                        <p class="mb-0">If we can't see the picture clearly you will get an invalid notification with feedback on what went wrong. You would then need to try again, making sure you are in a brightly lit room and your mirror and the lens of your phone is clean.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 id="social-insurance-and-reward-pot" class="text-primary mt-5 mb-4">Social Insurance &amp; Reward Pot</h2>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    What is the Reward Pot? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>The reward pot is basically a <mark>group no claims bonus</mark>.  For each person that buys insurance with us and connects together, for example You buy a policy and invite your mum to buy.  She buys a policy and then you connect, each of you receive up to &pound;10 into your reward pots.</p>

                                        <div class="h4 text-zaffre">4 people connected to you = &pound;40 in your reward pot, £10 in each of theirs.</div>

                                        <div class="h4 text-zaffre">8 people connected = &pound;80 in your reward pot, £10 in each of theirs.</div>

                                        <p class="mb-0">If neither you nor your connected friends claim, we will payout to you the value of your reward pot at the end of the policy year.</p>

                                        {# TODO: When built #}
                                        {# <p>You can see our calculator here {insert new calculator}</p> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Is the money back with the reward pot guaranteed? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        It depends on if you and your social circle make a claim. If none of you claim the money is guaranteed, however if someone makes a claim there may be no money left in the reward pot.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Can anyone connect to anyone? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        Yes, that is the beauty of social insurance, you can have as many connections as you like, as long as they have a policy with so-sure.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    How do I make connections to people? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        Once you buy a policy its super easy to make connections either through our app or via SMS, email or WhatsApp.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Do I need to connect to get money back? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        Yes, we exist to make insurance better and with us that means being social and connecting in groups of careful people.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Do I need to connect to have so-sure's insurance policy? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        No, if you want to fly solo that is completely fine, you will still have fantastic cover and great customer service should you need to make a claim.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 id="the-insurance-policy" class="text-primary mt-5 mb-4">The Insurance Policy</h2>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Why should I cancel my policy if my phone was already damaged? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>When you purchased your policy, you confirmed that your phone was in full working condition and without a cracked screen. If you failed to disclose the state of your phone accurately, we may exercise our right to cancel the policy and will report any instance of fraud to the police. We take fraud very seriously and do prosecute. If you think you might have purchased your policy by mistake, you can cancel your policy today and we will fully refund your premium.</p>
                                        <p class="mb-0">If you are in any doubt, please email <a href="mailto:support@spam.so-sure.net" class="mailto append-email">support</a> or contact us on our <a href="#" class="open-intercom">live chat</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    What am I covered for? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>We believe that trust starts by us being clear with you about what is covered and what is not covered. If you have a valid claim we’ll have your back and we won't hide behind the small print unlike some insurance providers do.</p>
                                        <p>We have one policy that covers you for:</p>
                                        <ul class="mb-0">
                                            <li class="mb-2">Loss &amp; Theft</li>
                                            <li class="mb-2">Accidental Damage</li>
                                            <li class="mb-2">Out of warranty breakdown</li>
                                            <li class="mb-2">Travel globally travel for up to 90 days</li>
                                            <li class="mb-2">Accessories up to &pound;100 with a loss or theft claim</li>
                                            <li class="mb-0">Unauthorised network charges up to &pound;1000 related to approved loss or theft claim, as long as your network was notified within 24hrs of the loss or theft</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    What's not covered? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>Excess: You need to pay a contribution every time you make a successful claim, see about more excess in the section below.</p>
                                        <p>You are limited to 2 replacement phones for valid claims due to loss and/or theft in any one policy year.</p>
                                        <p>Theft, loss, accidental damage or breakdown where you have knowingly put your mobile phone at risk and/or you have not taken care of it.</p>
                                        <p>If in doubt ask yourself "Would I have left a pile of &pound;400 in cash there and expect to find it when I return?"" If the answer is no, then you should not leave your phone there either. Of course, we will take in consideration the specifics of your situation as, after all, we are here to have your back if a misfortune happens.</p>
                                        <p class="mb-0">For further details on all of the above, please refer to the full <a href="{{ cdn_url }}/files/so-sure_sample_policy_doc_v{{ policy_doc_version }}.pdf" target="_blank" rel="noopener noreferrer">policy terms and conditions</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    What is accidental damage? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>Essentially accidental damage is when something happens to your property that is completely out of your control. Usually, it is something that other insurance companies try to add-on to your existing plan - which is pretty weird - how can you be expected to prevent something that is out of your control?</p>
                                        <p>Examples of accidental damage:</p>
                                        <ul class="mb-0">
                                            <li class="mb-2"><strong>Spillages:</strong> this is one of the most common causes for an accidental damage claim. You would think that people would stop dropping their phones in pints but they never seem to learn.</li>
                                            <li class="mb-2"><strong>Damage by children:</strong> You are protected even if they aren’t your children! You can’t really hold a child responsible for their actions. Insurance against accidental damage protects you from kids breaking your stuff.</li>
                                            <li class="mb-2"><strong>Damage caused by pets:</strong> We all love animals but they do sometimes have a tendency to break our stuff. It would be prudent to get insurance if you have pets.</li>
                                            <li class="mb-0"><strong>Electrical surges:</strong> Incredibly unlikely but it does happen (especially during lightning storms). A power overload can permanently damage a phone.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    What's not classed as accidental damage? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <ul class="mb-0">
                                            <li class="mb-2"><strong>Cosmetic damage:</strong> If your device has a few scratches but still works perfectly then we can't repair or replace it. Normal wear and tear falls under the same category.</li>
                                            <li class="mb-2"><strong>Damage resulting from you putting your phone at risk:</strong> If you do something like leaving your phone behind on the train then we can’t really be responsible.</li>
                                            <li class="mb-0"><strong>Damage caused before the insurance policy:</strong> We might be great but we’re not that great. Replacing a phone for damage that was caused before we started looking after you doesn’t make much sense.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0">
                                    Upgrade my policy <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4">
                                    <h5>I have a new phone, can I upgrade my policy?</h5>
                                    <p>Yes! If you purchased a policy after the 1st of January 2020, you can now upgrade automatically from your dashboard.</p>
                                    <p class="mb-4">If you purchased a phone before the 1st January 2020, please use our <a href="#" class="open-intercom">live chat</a> and we’ll sort this out manually.</p>
                                    <h5>How much will it cost?</h5>
                                    <p class="mb-4">When you upgrade your phone, we will provide a new quote and calculate the remainder of the policy. A new policy and schedule will be sent to you, these documents will always be available to you in your dashboard as well.</p>
                                    <h5>Will I keep the reduced excess price?</h5>
                                    <p class="mb-4">No. We were able to reduce the excess on your old phone because you showed us that it was in great working order via the ‘phone selfie’ in our app. You will need to validate your new phone in the same way in order to reduce the excess on your upgraded policy.</p>
                                    <h5>Is my old phone still covered?</h5>
                                    <p class="mb-4">No, as your upgraded policy is for your new phone, the old phone won’t be covered anymore. If you want both phones to be covered, you should keep your current  policy and buy another one for the new phone.</p>
                                    <h5>Do I keep my connections and reward pot on the upgraded policy?</h5>
                                    <p class="mb-0">Yes, all your connections and your reward pot will remain valid. Note that we may need to adjust the maximum cashback amount as this is depending on your annual policy. </p>
                                </div>
                            </div>
                        </div>

                        <h2 id="claims" class="text-primary mt-5 mb-4">Claims</h2>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    How do I make a claim? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>Our claims process is as easy as 1,2,3...</p>
                                        <ol class="mb-0">
                                            <li class="mb-2">Get your claim started quickly by using <a href="{{ path('claim') }}">our online portal</a></li>
                                            <li class="mb-2">Our UK based claims team will review your claim and call you with a request for any further details or documents (if necessary). We aim to do this within a matter of business hours</li>
                                            <li class="mb-2">Once your claim is approved, we take your excess payment over the phone and aim to repair or replace your phone within 24-72 hours. Some repairs can take longer (e.g. water damage) but we will be as fast as possible</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Do I need to provide proof of purchase if I make a claim? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>If you validate your phone's state using our app, prior to your claim, you do not need a proof of purchase. If you don't do this, you must have a proof of purchase for your mobile phone if you wish to make a claim.</p>
                                        <p>The proof of purchase must provide evidence that you own the phone and that the phone is within the 3 year age limit i.e has been purchased in the last 3 years.  The proof of purchase must include the make, model and IMEI number of your mobile phone.  If you cannot provide this evidence, your claim may be rejected.</p>
                                        <p>If you do not have a receipt or were never issued with a one, i.e your phone was free as part of a contract, you will need to provide evidence of the original order and/or contract under which the mobile phone was supplied.</p>
                                        <p class="mb-0">If you cannot provide this evidence, and have not validated your phone with pic-sure, your claim may be rejected.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    How long will it take for my claim to be processed? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>Thats a great question. We aim to process your claim as quickly as possible, within 2 hours is our best. <mark>However, please note that we cannot begin to process a claim until we have received all the requested supporting documentation. During the processing of the claim, we might ask you for additional documentation</mark>.</p>
                                        <p>Not fully providing all the required supporting documentation will delay the assessment of your claim, which will delay the repair or replacement.</p>
                                        <p class="mb-0">Once we have the fully completed claim form and all required supporting documentation, we aim to assess your claim within 24-72 hours and we will then let you know whether your claim has been authorised or not.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    What kind of supporting document may I need? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>Some of the most common documents are:</p>
                                        <ul class="mb-0">
                                            <li class="mb-2"><mark>Proof of purchase unless you validated your phone with our app</mark></li>
                                            <li class="mb-2"><mark>Usage report from your network</mark></li>
                                            <li class="mb-0"><mark>Police report if stolen or lost</mark></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 id="payments-and-cancellations" class="text-primary mt-5 mb-4">Payments &amp; Cancellations</h2>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    I'm paying monthly. How and when will I be charged? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        We will automatically bill you every month using the same credit/debit card , or you can set up a Direct Debit when you purchased the policy with. We use the same day of the month as when you purchased your policy, i.e. 16th of every month <mark>except for the 29th, 30th, or 31st, where we will bill you on the 28th of each month</mark>.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    If I pay annually do I get a discount? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        Yes! If you pay yearly, you get one month free. In addition to that, you can add money to your reward pot by connecting with friends and family to earn up to 80% cashback.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    I got an email about payment failed but my details have not changed, what should I do? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        If you have a failed payment email from us and you have not changed your banking details please email us at <a href="mailto:support@spam.so-sure.net" class="mailto append-email">support</a> or contact us on our <a href="#" class="open-intercom">live chat</a> so we advise you.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Can I change the date of my Direct Debit if I pay monthly? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        We are currently unable to change the billing date if the payment method is Direct Debit.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    I want to cancel my policy how do I do it? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        If you would like to cancel your policy please contact us on our <a href="#" class="open-intercom">live chat</a> or email <a href="mailto:support@spam.so-sure.net" class="mailto append-email">support</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Can I cancel my policy if I have a successful claim? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        No sorry you can't, if you have had a successful claim with us, then <mark>you are bound by the policy contract and terms and conditions and must pay until your policy has expired which is a period of 1 year</mark>. If your claim is in review, you can withdraw your claim and cancel your policy.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Can I cancel my policy if I haven't made a claim? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        Yes you can, we get that circumstances change. If you would like to cancel your policy simply contact us on our <a href="#" class="open-intercom">live chat</a> or email <a href="mailto:support@spam.so-sure.net" class="mailto append-email">support</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    What is the cool-off period? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <mark>By law you have 14 days in which to change your mind and get a full refund</mark>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    If I have moved how do I inform you of my new address? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        To amend your personal details including change of address please contact us on our <a href="#" class="open-intercom">live chat</a> or email <a href="mailto:support@spam.so-sure.net" class="mailto append-email">support</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 id="about-us" class="text-primary mt-5 mb-4">About us</h2>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Who is so-sure? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>We're here because consumers deserve better when it comes to insurance.</p>
                                        <p class="mb-0">When we launched so-sure in 2016, we wanted to revolutionise the industry by making insurance fairer, reliable and rewarding for honest consumers all over the world.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    Our vision and mission <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>Our vision is to turn the insurance industry on its head by giving our customers the service they deserve. Provide a new, revolutionary social insurance concept that is significantly cheaper for careful groups of families and friends. We're here protecting customers when they claim and rewarding them when they don't.</p>
                                        <p>Our concept is inspired by the origins of insurance. Back in the seventeenth century - when the concept of insurance was born out of the ship-owner community - insurance was how it should be. It was a time when insurance was designed around the customer, if no-one claimed, you got your money back, and if one of the ships went down, everyone chipped in.</p>
                                        <p>But as the world changed, so too did the insurance industry. Companies started to care less about the customer and more about profits. And in turn, trust in insurance providers plummeted.</p>
                                        <p class="mb-0">At so-sure, we’re on a mission to restore the essence of what insurance was – and make it even better.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    How are you different from traditional insurance companies? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>Traditional insurers exist to make big fat profit margins.  They keep the money that they don't pay out on claims. This means whenever they pay a claim, the lose profit.  This is why getting your claim approved and paid is so very painful... they want to keep your money.</p>
                                        <p>so-sure has been designed differently.  Our whole business is built around putting you, the customer, first. That's why we decline less than 4% of claims because we believe insurance should have your back when you need it and also reward you for being careful.</p>
                                        <p class="mb-0">We also treat the money you pay as your money, and we believe that people are better together, and that's why we've created insurance that’s social and gives money back when there’s no claims.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    What is social insurance? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        We believe that people are better together, we also believe that most customers are honest and will help a friend or family member in need. So when you connect your policy with friends and family and no-one claims, we'll give you up to 80% of your premium back at the end of your policy year. We call this our Reward Pot. Last year we paid thousands back to our lovely customers. Its how insurance should be, and we’re the only ones in the UK doing this.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    How do you make money? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        We take a small fee from the monthly payments. The rest is yours, and we will give you up to 80% of that money back if you and your connections don't claim. The profit we make goes into making our customer service and technology even better, and in the future we hope to make insurance even cheaper for our customers.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanding-cardbox mb-4"
                             itemscope
                             itemprop="mainEntity"
                             itemtype="https://schema.org/Question">
                            <div class="expanding-cardbox__body">
                                <h3 class="h5 expanding-cardbox__title text-zaffre mb-0"
                                    itemprop="name">
                                    How do I contact so-sure? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                                </h3>
                                <div class="expanding-cardbox__expand mt-4"
                                     itemscope
                                     itemprop="acceptedAnswer"
                                     itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>We are online, you can contact us via:</p>
                                        <ul class="mb-0">
                                            <li class="mb-2"><a href="#" class="open-intercom">Live chat</a> <mark>{{ support_hours }}</mark></li>
                                            <li class="mb-2">Live chat is not available on bank holidays.</li>
                                            <li class="mb-2">Emailing us at <a href="mailto:support@spam.so-sure.net" class="mailto append-email">support</a></li>
                                            <li class="mb-2">If you have a claim you can call our claims team on <a href="tel:{{ support_number }}">{{ support_number }}</a> <small>local rates apply</small></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-none d-lg-block">
                    <div class="px-4 pb-4 pt-5 p-lg-5">
                        <div class="cp__nav">
                            <div id="faq-nav" class="list-group mb-5">
                                <a class="list-group-item list-group-item-action" href="#top-questions"><i class="far fa-angle-right fa-lg mr-2"></i> Top Questions</a>
                                <a class="list-group-item list-group-item-action" href="#the-so-sure-app-and-pic-sure"><i class="far fa-angle-right fa-lg  mr-2"></i> The so-sure app</a>
                                <a class="list-group-item list-group-item-action" href="#social-insurance-and-reward-pot"><i class="far fa-angle-right fa-lg  mr-2"></i> Social Insurance &amp; Reward Pot</a>
                                <a class="list-group-item list-group-item-action" href="#the-insurance-policy"><i class="far fa-angle-right fa-lg  mr-2"></i> The Insurance Policy</a>
                                <a class="list-group-item list-group-item-action" href="#claims"><i class="far fa-angle-right fa-lg  mr-2"></i> Claims</a>
                                <a class="list-group-item list-group-item-action" href="#payments-and-cancellations"><i class="far fa-angle-right fa-lg  mr-2"></i> Payments &amp; Cancellations</a>
                                <a class="list-group-item list-group-item-action" href="#about-us"><i class="far fa-angle-right fa-lg  mr-2"></i> About us</a>
                            </div>
                            <a id="back-to-top-faq" href="#" class="btn btn-outline-dodger-blue"><i class="far fa-arrow-up mr-2"></i> Back to top</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/content-pages.js') }}"></script>
{% endblock %}
