<section id="faq" class="section--pad background-white">
    <div class="container">
        <h2 class="text-center">FAQs</h2>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <div class="panel-group" id="faq-accordion" role="tablist" aria-multiselectable="true">
                    {# Policy #}
                    <h3>Policy</h3>
                    <div class="panel panel-default">
                        <div class="panel-heading sosure-track"
                             id="policyOne"
                             role="button"
                             data-toggle="collapse"
                             data-parent="#faq-accordion"
                             data-event="faq"
                             href="#collapseOne"
                             aria-expanded="true"
                             aria-controls="collapseOne">
                            <h4 class="panel-title">
                                What are your policy terms and conditions?
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="policyOne">
                            <div class="panel-body">
                                Click <a href="#" data-toggle="modal" data-target="#policy-modal" id="policy-modal-trigger" class="text-underline">here</a> to view the full terms &amp; conditions of the policy.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading sosure-track"
                             id="policyTwo"
                             role="button"
                             data-toggle="collapse"
                             data-parent="#faq-accordion"
                             data-event="faq"
                             href="#collapseTwo"
                             aria-expanded="true"
                             aria-controls="collapseTwo">
                            <h4 class="panel-title">
                                What is covered and what is not covered by the policy?
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="policyTwo">
                            <div class="panel-body">
                                We believe that trust starts by us being clear with you about what is covered and what is not covered under your policy. If you have a valid claim we will pay and will not try to hide behind the small print unlike some of our competitors would do.
                                <h4 class="text-underline">What is covered?</h4>
                                <ul>
                                    <li>Theft of your mobile phone</li>
                                    <li>Accidental Damage to your mobile phone</li>
                                    <li>Outside of warranty breakdown (including faults) of your mobile phone</li>
                                    <li>Loss of your mobile phone</li>
                                    <li>up to £1,000 of unauthorised network changes related to approved loss or theft claim, as long as your network was notified within 24hrs of the loss or theft</li>
                                    <li>Accessory claims (up to £100 including VAT) related to approved loss or theft claim</li>
                                    <li>We aim to replace or repair your phone the next working day.</li>
                                </ul>
                                <h4 class="text-underline">What is not covered?</h4>
                                <ul>
                                    <li>Excess: You need to pay a contribution every time you make a successful claim. If you have successfully validated your phone via our pic-sure process (in our app) to prove that your phone is in good condition without a cracked screen, then your Excess amount is £50 except for loss and theft where the excess is £70. For non pic-sure validated policies, the excess is £150.</li>
                                    <li>You are limited to 2 replacement phones for valid claims due to loss and/or theft in any one policy year</li>
                                    <li>Theft, loss, accidental damage or breakdown where you have knowingly put your mobile phone at risk and/or you have not taken care of it.  What we mean here is you must take care of your property and we ask you to use common sense in taking care of it. If in doubt ask yourself “Would I have left a pile of £500 in cash there and expect to find it when I return?” If the answer is no, then you should not leave your phone there either. Of course, we will take in consideration the specifics of your situation as, after all, we are here to have your back if a misfortune happens.</li>
                                </ul>
                                For further details on all of the above, please refer to the full <a href="#" data-toggle="modal" data-target="#policy-modal" id="policy-modal-trigger" class="text-underline">policy terms and conditions</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading sosure-track"
                             id="policyThree"
                             role="button"
                             data-toggle="collapse"
                             data-parent="#faq-accordion"
                             data-event="faq"
                             href="#collapseThree"
                             aria-expanded="true"
                             aria-controls="collapseThree">
                            <h4 class="panel-title">
                                Do you have a phone number?
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="policyThree">
                            <div class="panel-body">
                                Our claims team can be reached 24/7 on <a href="tel:01133209722">0113 320 9722</a>. If you wish to inquire about anything else, email us on <a href="mailto:support@wearesosure.com">support@wearesosure.com</a> providing your contact details and someone from the team will call you back.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading sosure-track"
                             id="policyFour"
                             role="button"
                             data-toggle="collapse"
                             data-parent="#faq-accordion"
                             data-event="faq"
                             href="#collapseFour"
                             aria-expanded="true"
                             aria-controls="collapseFour">
                            <h4 class="panel-title">
                                How much is excess?
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="policyFour">
                            <div class="panel-body">
                                If you have successfully validated your phone via our pic-sure process (in our app) to prove that your phone is in good condition without a cracked screen, your excess is as follows:
                                <ul class="list-unstyled">
                                   <li>- £50 for Accidental Damage and Breakdown</li>
                                   <li>- £70 for Theft and Loss</li>
                               </ul>
                               Otherwise, your excess is £150.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading sosure-track"
                             id="policyFive"
                             role="button"
                             data-toggle="collapse"
                             data-parent="#faq-accordion"
                             data-event="faq"
                             href="#collapseFive"
                             aria-expanded="true"
                             aria-controls="collapseFive">
                            <h4 class="panel-title">
                                Do you cover tablets/gadgets/watches?
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="policyFive">
                            <div class="panel-body">
                                Sorry, we only insure mobile phones at the moment. But watch this space.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading sosure-track"
                             id="policySix"
                             role="button"
                             data-toggle="collapse"
                             data-parent="#faq-accordion"
                             data-event="faq"
                             href="#collapseSix"
                             aria-expanded="true"
                             aria-controls="collapseSix">
                            <h4 class="panel-title">
                                I bought a used phone / I was given a phone. Are you able to insure it?
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="policySix">
                            <div class="panel-body">
                                Yes we are able to insure second-hand phones provided they are in full working condition, without any damage, and less than 3 years old.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading sosure-track"
                             id="policySeven"
                             role="button"
                             data-toggle="collapse"
                             data-parent="#faq-accordion"
                             data-event="faq"
                             href="#collapseSeven"
                             aria-expanded="true"
                             aria-controls="collapseSeven">
                            <h4 class="panel-title">
                                Do you have a discount for annual payments?
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="policySeven">
                            <div class="panel-body">
                                Our Reward Pot allow us to give you the best possible pricing, so we do not provide annual discounts.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading sosure-track"
                             id="policyEight"
                             role="button"
                             data-toggle="collapse"
                             data-parent="#faq-accordion"
                             data-event="faq"
                             href="#collapseEight"
                             aria-expanded="true"
                             aria-controls="collapseEight">
                            <h4 class="panel-title">
                                I'm paying monthly. How and when will I be charged?
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="policyEight">
                            <div class="panel-body">
                                We will automatically bill you every month using the same credit/debit card you purchased the policy with. We use the same day of the month as when you purchased your policy, i.e. 16th of every month (except for the 29th, 30th, or 31st, where we will bill you on the 28th).
                            </div>
                        </div>
                    </div>
                    {# End Policy #}
                    {# Reward Pot #}
                    <h3>Reward Pot</h3>
                    <div class="panel panel-default">
                        <div class="panel-heading sosure-track"
                             id="policyNine"
                             role="button"
                             data-toggle="collapse"
                             data-parent="#faq-accordion"
                             data-event="faq"
                             href="#collapseNine"
                             aria-expanded="true"
                             aria-controls="collapseNine">
                            <h4 class="panel-title">
                                How does the Reward Pot work?
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="policyNine">
                            <div class="panel-body">
                                Simplest way to explain the Reward Pot is a “group no claims bonus”. We give you the chance to connect with friends and family. For each one that buys insurance with us and connects with you, we'll add up to £10 to both you and your friend/family member’s Reward Pots. Your Reward Pot for the {{ phone }} can reach up to £{{ max_pot }} (e.g. 80% of your annual policy price). If neither you nor your friends/family claim in the year, we will payout to you the value in the Reward Pot. Click <a href="#"
                                         class="scroll-to"
                                         data-scroll-to-anchor="#cashback-card">here</a> to explore our calculator that can show you all the various scenarios.
                                <br><br>
                                We recommend watching this short video which explains it further.
                                <div class="embed-container">
                                    <iframe src="https://player.vimeo.com/video/185840373" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading sosure-track"
                             id="policyTen"
                             role="button"
                             data-toggle="collapse"
                             data-parent="#faq-accordion"
                             data-event="faq"
                             href="#collapseTen"
                             aria-expanded="true"
                             aria-controls="collapseTen">
                            <h4 class="panel-title">
                                What happens to my Reward Pot, if one person in my group claims?
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="policyTen">
                            <div class="panel-body">
                                We’ve created a calculator to illustrate this. Click <a href="#"
                                         class="scroll-to"
                                         data-scroll-to-anchor="#cashback-card">here</a> to explore various scenarios.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading sosure-track"
                             id="policyEleven"
                             role="button"
                             data-toggle="collapse"
                             data-parent="#faq-accordion"
                             data-event="faq"
                             href="#collapseEleven"
                             aria-expanded="true"
                             aria-controls="collapseEleven">
                            <h4 class="panel-title">
                                Is there a minimum or maximum size of my Reward Pot group?
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="policyEleven">
                            <div class="panel-body">
                                There is no minimum size of your Reward Pot group: you can decide not to connect to anyone and still enjoy the benefits of a fully insured phone, but then you won’t get up to 80% of your money back at the end of the year. The {{ phone }} is limited to a maximum of {{ max_connections }} Reward Pot connections. If you have {{ max_connections }} connections and none of you claim, you can get  back at the end of your policy year, every year you have a so-sure policy.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading sosure-track"
                             id="policyElevenRP"
                             role="button"
                             data-toggle="collapse"
                             data-parent="#faq-accordion"
                             data-event="faq"
                             href="#collapseElevenRP"
                             aria-expanded="true"
                             aria-controls="collapseElevenRP">
                            <h4 class="panel-title">
                                Do I need to connect to the same people forever/every year?
                            </h4>
                        </div>
                        <div id="collapseElevenRP" class="panel-collapse collapse" role="tabpanel" aria-labelledby="policyElevenRP">
                            <div class="panel-body">
                                We've made it easy for you to adjust your connections at the end of every year when your policy is up for renewal.
                            </div>
                        </div>
                    </div>
                    {# End Reward Pot #}
                    {# Claims #}
                    <h3>Claims</h3>
                    <div class="panel panel-default">
                        <div class="panel-heading sosure-track"
                             id="policyTwelve"
                             role="button"
                             data-toggle="collapse"
                             data-parent="#faq-accordion"
                             data-event="faq"
                             href="#collapseTwelve"
                             aria-expanded="true"
                             aria-controls="collapseTwelve">
                            <h4 class="panel-title">
                                Will I get a brand new phone if my claim is approved?
                            </h4>
                        </div>
                        <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="policyTwelve">
                            <div class="panel-body">
                                {% if replacement is defined and replacement == 'twentyfour-seventy-two' %}
                                    We understand how inconvenient it is to be without your phone. Thus if your device is damaged or broken, we will aim to repair it within 72 hours, or in times when it takes longer, we will provide you within 72 hours a replacement phone. If your phone is lost or stolen, we will provide you with a replacement phone within 72 hours. Your replacement phone may be new or refurbished; rest assured the refurbished phone will look like new and work exactly the same. Regardless, your replacement phone will be covered under your existing policy.
                                {% else %}
                                    We understand how inconvenient it is to be without your phone. Thus if your device is damaged or broken, we will aim to repair it the next working day, or in times when it takes longer, we will provide you with a next working day replacement phone. If your phone is lost or stolen, we will provide you with a replacement phone next working day. Your replacement phone may be new or refurbished; rest assured the refurbished phone will look like new and work exactly the same. Regardless, your replacement phone will be covered under your existing policy.
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading sosure-track"
                             id="policyThirteen"
                             role="button"
                             data-toggle="collapse"
                             data-parent="#faq-accordion"
                             data-event="faq"
                             href="#collapseThirteen"
                             aria-expanded="true"
                             aria-controls="collapseThirteen">
                            <h4 class="panel-title">
                                How long before I get a replacement phone?
                            </h4>
                        </div>
                        <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="policyThirteen">
                            <div class="panel-body">
                                Once a claim is approved, we aim to have a replacement phone in your hand {% if replacement is defined and replacement == 'twentyfour-seventy-two' %}in the next 24-72 hours{% else %}the next working day{% endif %}.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading sosure-track"
                             id="policyFourteen"
                             role="button"
                             data-toggle="collapse"
                             data-parent="#faq-accordion"
                             data-event="faq"
                             href="#collapseFourteen"
                             aria-expanded="true"
                             aria-controls="collapseFourteen">
                            <h4 class="panel-title">
                                How long before my phone is repaired?
                            </h4>
                        </div>
                        <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="policyFourteen">
                            <div class="panel-body">
                                {% if replacement is defined and replacement == 'twentyfour-seventy-two' %}
                                    Once a claim is approved, we aim to repair your phone within 72 hours. If we aren’t able to do so, we will aim to have a replacement phone in your hand within 72 hours.
                                {% else %}
                                    Once a claim is approved, we aim to repair your phone the next working day. If we aren’t able to do so, we will aim to have a replacement phone in your hand the next working day.
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {# End Claims #}
                </div>

            </div>
        </div>
    </div>
</section>
