<section id="faq" class="section--pad background-white">
    <div class="container">
        <h2 class="text-center">FAQs</h2>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <div class="panel-group" id="faq-accordion" role="tablist" aria-multiselectable="true">

                    <h3>Reward Pot</h3>

                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingOne" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">
                                How does the Reward Pot work?
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>Simplest way to explain the Reward Pot is a “group no claims bonus”. We give you the chance to connect with friends and family. For each one that buys insurance with us and connects with you, we'll add up to £10 to both you and your friend/family member’s Reward Pots. Your Reward Pot for the  {{ phone }} can reach up to £{{ max_pot }} (e.g. 80% of your annual policy price). If neither you nor your friends/family claim in the year, we will payout to you the value in the Reward Pot. Click here to explore our calculator that can show you all the various scenarios.</p>

                                <p>We recommend watching this short video which explains it further.</p>                         
                                <div class="embed-container">
                                    <iframe src="https://player.vimeo.com/video/185840373" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>    
                                </div>       
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingTwo" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <h4 class="panel-title">
                                What happens to my Reward Pot, if one person in my group claims?
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>We’ve created a calculator to illustrate this. Click here to explore various scenarios.</p>
                                <div class="col-sm-8 col-md-6">
                                                 
                                </div>                                
                            </div>
                        </div>
                    </div>  


                    <h3>Policy Info</h3>

                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingThree" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            <h4 class="panel-title">
                                Is there a minimum or maximum size of my Reward Pot group?
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p>There is no minimum size of your Reward Pot group: you can decide not to connect to anyone and still enjoy the benefits of a fully insured phone, but then you won’t get up to 80% of your money back at the end of the year. The {{ phone }} is limited to a maximum of {{ max_connections }} Reward Pot connections. If you have {{ max_connections }} connections and none of you claim, you can get  back at the end of your policy year, every year you have a so-sure policy.</p>         
                            </div>
                        </div>
                    </div>    
                </div>

            </div>
        </div>
    </div>
</section>