  <div class="section footer">
    <div class="container">
      <div class="row">
        <div class="one-third column">
          <p class="terms-link">so-sure &copy; 2016 | <a class="terms" href="{{ path('terms') }}">cookies + privacy</a></p>
        </div>
        <div class="one-third column">
          <p><a href="https://twitter.com/wearesosure"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="https://www.facebook.com/wearesosure"><i class="fa fa-facebook fa-2x"></i></a></p>
        </div>
        <div class="one-third column">
          <p><a class="button" href="{{ path('jobs') }}">We are hiring!</a></p>
        </div>
      </div>
    </div>
  </div>

  <div id="ss-root" data-fb-id="{{ fb_appid }}" data-fb-pixel-id="{{ fb_pixel_id }}"
       data-google-analytics="{{ google_analytics }}"
       data-heap-id="{{ heap_id }}"></div>

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- Site JS -->
  <script src="/js/site.js"></script>
  <!-- Optimzely -->
  <script src="//cdn.optimizely.com/js/4833800075.js"></script>

  <!-- Smootch -->
  <script src="https://cdn.smooch.io/smooch.min.js"></script>
  <script>
    Smooch.init({appToken: 'aa83ed9x7259nh17sl5px0oga'});
  </script>
