  <div class="section footer">
    <div class="container">
      <div class="row">
        <div class="one-third column">
          <p class="terms-link">
            so-sure &copy; 2016 | <a href="//www.iubenda.com/privacy-policy/7805295" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
          </p>
        </div>
        <div class="one-third column">
          <p class="social-links">
            <a href="https://blog.wearesosure.com"><i class="fa fa-medium fa-2x"></i></a>
            <a href="https://www.facebook.com/wearesosure"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="https://twitter.com/wearesosure"><i class="fa fa-twitter fa-2x"></i></a>
          </p>
        </div>
        <div class="one-third column">
          <p><a class="button" href="{{ path('jobs') }}">We are hiring!</a></p>
        </div>
      </div>
    </div>
  </div>

  <div id="ss-root" data-fb-id="{{ fb_appid }}" data-fb-pixel-id="{{ fb_pixel_id }}"
       data-google-analytics="{{ google_analytics }}"
       data-heap-id="{{ heap_id }}"
       {% if fb_pixel_event is defined %}data-fb-pixel-event="{{ fb_pixel_event }}"{% endif %}
       ></div>

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- Site JS -->
  <script src="/js/site.js"></script>
  <!-- Optimzely -->
  <script src="//cdn.optimizely.com/js/4833800075.js"></script>

  <!-- Facebook Pixel Code
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id={{ fb_pixel_id }}&ev=PageView&noscript=1" /></noscript>
  {% if fb_pixel_event is defined %}
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id={{ fb_pixel_id }}&ev={{ fb_pixel_event }}&noscript=1" /></noscript>
  {% endif %}

  <!-- Smootch -->
  <script src="https://cdn.smooch.io/smooch.min.js"></script>
  <script>
    Smooch.init({appToken: 'aa83ed9x7259nh17sl5px0oga', emailCaptureEnabled: true, customText: {settingsText: 'In case we\'re slow to respond you can leave us your email & we\'ll get back to you as soon as possible. Thanks.'}});
  </script>
