<section class="hero hero-search-container" id="get-quote">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="hero-search clearfix">
                    <div class="hero-search--left">
                        <a href="{{ path('quote_make', {'make':'Apple'}) }}"><img src="{{ cdn_url }}/images/home/search/so-sure_search-iPhone.svg"
                               data-orig-src="{{ cdn_url }}/images/home/search/so-sure_search-iPhone.svg"
                               data-hover-src="{{ cdn_url }}/images/home/search/so-sure_search-iPhone-hover.svg"
                               alt="Apple iPhone Insurance"
                               class="image-swap"></a>
                    </div>
                    <div class="hero-search--right">
                        <a href="{{ path('quote_make', {'make':'Samsung'}) }}"><img src="{{ cdn_url }}/images/home/search/so-sure_search-samsung.svg"
                                 data-orig-src="{{ cdn_url }}/images/home/search/so-sure_search-samsung.svg"
                                 data-hover-src="{{ cdn_url }}/images/home/search/so-sure_search-samsung-hover.svg" alt="Samsung Insurance"
                                 class="image-swap"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <h1>The insurance revolution is here</h1>
                <h3 class="text-light-blue">Mobile phone insurance is finally worthwhile</h3>
                <ul class="list-unstyled fa-list-bullet">
                    <li class="text-white"><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i> Up to 40% cheaper than traditional insurers</li>
                    <li class="text-white"><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i> 24-72 hours once your claim is approved</li>
                    <li class="text-white"><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i> Get cashback when no claims</li>
                </ul>
                {{ render(controller('AppBundle:Default:selectPhoneMakeSearch', {'type':'new-homepage'})) }}
            </div>
        </div>
    </div>
</section>
