<section id="how-it-works" class="section--pad">
    <div class="container">
        <h2 class="text-center">How so-sure works</h2>
        <p class="lead text-center" id="hero-description">We designed so-sure to allow you and your friends to get money back when you don't claim.</p>
        <div class="row">
            <div class="col-sm-6 col-md-6 how-it-works--step">
                <img src="{{ cdn_url }}/images/home/illustrations/pngs/slide1-min.png" alt"Get your phone covered for Theft, Loss and Accidental Damage for a small monthly fee" class="img-responsive">
                <div class="h3"><strong>Get your phone covered.</strong></div>
                <p>With our app, it's never been easier to insure your phone against theft, loss &amp; accidental damage. Giving you <a href="{{ path('about_why_we_re_better') }}">great cover</a> in seconds.</p>
            </div>
            <div class="col-sm-6 col-md-6 how-it-works--step">
                <img src="{{ cdn_url }}/images/home/illustrations/pngs/slide2-min.png" alt"Connect with those you trust to build your Reward Pot" class="img-responsive">
                <div class="h3"><strong>Connect to build your Reward Pot.</strong></div>
                <p>Invite those you trust and for each one that also buys insurance with us we'll add up to £10 to both of your Reward Pots. Learn more <a href="{{ path('faq') }}">here</a>.</p>
            </div>
            <div class="col-sm-6 col-md-6 how-it-works--step">
                <img src="{{ cdn_url }}/images/home/illustrations/pngs/slide3-min.png" alt="If you and your friends don't claim you get money back!" class="img-responsive">
                <div class="h3"><strong>Nobody claims? You get money back.</strong></div>
                <p>If none of you make a claim, we’ll give you whatever is in your Reward Pot back at the end of the year. Or roll it to make your insurance super cheap.</p>
            </div>
            <div class="col-sm-6 col-md-6 how-it-works--step">
                <img src="{{ cdn_url }}/images/home/illustrations/pngs/slide4-min.png" alt="If a connection makes a claim, your Reward Pot will help them get their phone back." class="img-responsive">
                <div class="h3"><strong>Someone claims? You help them out.</strong></div>
                <p>If one of your connections makes a claim, <a href="{{ path('faq') }}">your Reward Pot will go towards helping them get their phone back</a>. They’ll do the same if you make a claim.</p>
            </div>
        </div>
    </div>
</section>
