{% if referral != '' %}
    {% set og_title = 'Join today & get rewarded' %}
    {% set og_image = cdn_url ~ '/images/so-sure-welcome.png' %}
{% endif %}
{% extends 'base.html.twig' %}

{% block title %}so-sure - Welcome to Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Download our app now to see how much you could save."/>
    <meta name="keywords" content="mobile phone insurance, social insurance"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/app/css/Default/index.css'
    'bundles/app/css/Default/homepage.css'
    'bundles/app/css/Default/selectPhoneMake.css'
    'bundles/app/css/Default/scrollindicator.css'
    'bundles/app/css/Default/videoOverlay.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/Default/index.js'
    '@AppBundle/Resources/public/js/Default/modalVideo.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}

<!-- Background image https://pixabay.com/en/audience-band-blur-celebration-1867983/ -->

    <section class="hero vertical-align-wrap" id="get-quote">
        <div class="container vertical-align-middle">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-1">
                    <h1 class="">Sometimes it's better to do it with friends</h1>
                    <blockquote class="col-md-8 hidden-xs">
                        <p>Every year, there are 8 million incidents of lost, stolen or damaged phones – that’s 1 every 4 seconds.</p>
                        <footer><em>YouGov/Assurant, 2015</em></footer>
                    </blockquote>
                </div>
                <div class="col-sm-3 col-sm-offset-1 text-left">
                <div class="hero-box">
                    <h3 class"">Most popular phones</h3>
                    <a class="hero-link" href="{{ path('quote_make_model_memory', {'make': 'Apple', 'model': 'iPhone+6S', 'memory': 32}) }}">
                    <div class="row">
                        <img class="col-sm-8" src="{{ cdn_url }}/images/home/phone-logos/iphone_6s_logo_light.svg" height="40"/>
                        <div class="col-sm-4 text-link dark-bg-link">From £{{ i6s_from }}</div>
                        </div>
                    </a>
                    <a class="hero-link" href="{{ path('quote_make_model_memory', {'make': 'Apple', 'model': 'iPhone+7', 'memory': 32}) }}">
                    <div class="row">
                        <img class="col-sm-8" src="{{ cdn_url }}/images/home/phone-logos/apple_iphone_7_logo_light.svg" height="40"/>
                        <div class="col-sm-4 text-link dark-bg-link">From £{{ i7_from }}</div>
                        </div>
                    </a>
                    <a class="hero-link" href="{{ path('quote_make_model_memory', {'make': 'Samsung', 'model': 'Galaxy+S7', 'memory': 32}) }}">
                        <div class="row">
                        <img class="col-sm-8" src="{{ cdn_url }}/images/home/phone-logos/samsung_galaxy_s7_logo_light.svg" height="40"/>
                        <div class="col-sm-4 text-link dark-bg-link">From £{{ s7_from }}</div>
                        </div>
                    </a>
                    </div>
                    <div class="hero-link text-center">
                    <a class="btn btn-success btn-rounded btn-lg" data-toggle="modal" data-target="#quoteModel">
                        Get a quote
                    </a>
                </div>         
            </div>
        </div>
    </section>

    <section class="press">
    <div class="container">
        <div class="col-sm-3 col-md-2">
            <h4 class="footer-press--heading">Featured In</h4>
        </div>
        <div class="col-sm-3 col-md-2">
            <img src="{{ cdn_url }}/images/home/press-images/g@2x.png" alt="The Guardian - Why Facebook and Microsoft say chatbots are the talk of the town" class="img-responsive">
        </div>
        <div class="col-sm-3 col-md-2">
            <img src="{{ cdn_url }}/images/home/press-images/ft@2x.png" alt="Financial Times - Innovation to watch: Friends based insurance" class="img-responsive">
        </div>
        <div class="col-sm-3 col-md-2">
            <img src="{{ cdn_url }}/images/home/press-images/ip@2x.png" alt="Insurance Post - so-sure to launch revolutionary social peer-to-peer mobile insurance app" class="img-responsive">
        </div>
        <div class="col-sm-3 col-md-2">
            <h4 class="footer-press--heading">Awarded by</h4>
        </div>
        <div class="col-sm-3 col-md-2">
            <img src="{{ cdn_url }}/images/home/press-images/di@2x.png" alt="Post Digital Insurance Awards 2016 - so-sure nominated for The New Kid on the Block Award" class="img-responsive">
        </div>
    </div>
</section>

    {% include 'AppBundle::Default/benefits.html.twig' %}

    {% include 'AppBundle::Default/howItWorksVideo.html.twig' %}   

    {% include 'AppBundle::Default/feedbackQuotes.html.twig' %}


    <section class="footer-cta brand-gradient">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-left">
                    <h2>Ready for better phone insurance?</h2>
                    <p class="lead">You can't always have better in life, but you can have better phone insurance.</p>
                </div>
                <div class="col-lg-2 text-center">
                    <a class="btn btn-primary" id="get-quote-btn" data-toggle="modal" data-target="#quoteModel">Get a quote</a>
                </div>
                <div class="col-lg-2 text-center">
                    <a class="btn btn-info" id="open-intercom">Chat with us <i class="fa fa-comments"></i></a>
                </div>
            </div>
        </div>
    </section>

    <div class="modal modal-switching fade" id="switchingModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Want to switch to so-sure?</h2>
                </div>
                <div class="modal-body modal-switching-body">
                    <h4>Switching to so-sure is easy. Just follow these steps:</h4>
                    <ol>
                        <li>Contact your existing insurance provider and request to cancel your policy. Check on their website but often you can email them and, at most, give them a 30 day notice.</li>
                        <li>Download the so-sure app and purchase your new policy from so-sure.</li>
                    </ol>
                    <p class="text-center"><button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Got it!</button></p>
                </div>
            </div>
        </div>
    </div>

    {% include 'AppBundle::Default/modalVideo.html.twig' %}

    <div class="modal fade modal-switching" id="quoteModel" tabindex="-1" role="dialog" aria-labelledby="quoteModelLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                {{ render(controller('AppBundle:Default:selectPhoneMake')) }}
            </div>
            </div>
        </div>
    </div>

{% endblock %}
