{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}
{% set homepage = 1 %}
{% set useDropdownSearch = 1 %}

{% block title %}so-sure - Welcome to Social Insurance in partnership with Money{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    'components/animate.css/animate.min.css'
    '@AppBundle/Resources/public/sass/page/money.scss'
    '@AppBundle/Resources/public/sass/page/comparisonTable.scss'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="section--pad money__hero">
        <div class="container">
            <h3 class="text-center h-light">in partnership with</h3>
            <img src="{{ cdn_url }}/images/moneycouk.png" alt="Money" class="money-img img-center" width="240px">

            <h1 class="text-blue text-center">See How We Compare On Mobile Insurance <br><small class="h-light">with so-sure, we've got you covered</small></h1>

            {% include 'AppBundle::Default/_comparisonTable.html.twig' %}

            <div class="text-center">
                <a href="#" class="btn btn-green btn-pad btn-lg h2 sosure-track" data-toggle="modal" data-target="#quoteModal" data-event="money-cta">Get Insured</a>
            </div>
        </div>
    </section>

    {# Press #}
    <section class="section--pad money__press">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h5>As featured in</h5>
                    <img src="{{ cdn_url }}/images/moneycouk.png" alt="Money" class="money-img">
                    <ul class="list-inline press-list text-center">
                        <li class="press-img" title="The Guardian - Why Facebook and Microsoft say chatbots are the talk of the town"></li>
                        <li class="press-img" title="Financial Times - Innovation to watch: Friends based insurance"></li>
                        <li class="press-img" title="Insurance Post - so-sure to launch revolutionary social peer-to-peer mobile insurance app"></li>
                        <li class="press-img" title="As seen on Money.co.uk"></li>
                        <li class="press-img" title="Digital Top 50 Awards 2016 - B2C Start-up"></li>
                        {# <li class="press-img" title="Insurance Choice Awards 2017 - ‘Best Insurance App' + 'Innovation of the Year' categories 2017"></li> #}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section--pad money__cover">
        <div class="container">
            <h2 class="text-center">What's Covered</h2>
            {% include 'AppBundle::Default/_whatsCovered.html.twig' %}
        </div>
    </section>

    <section class="section--pad money__cover_next">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ cdn_url }}/images/mobile_mike.svg" alt="Mobile Mike" class="">
                </div>
                <div class="col-md-8">
                    <h2 class="text-blue">Premium Cover. Premium Service</h2>
                    <ul class="list-unstyled">
                        <li>Next working day replacement</li>
                        <li>Cashback when you and your connections don't claim</li>
                        <li>Low excess from just &pound;50 when validated using our app</li>
                        <li>Instant Cover</li>
                    </ul>
                </div>
            </div>
            <div class="text-center">
                <a href="#" class="btn btn-green btn-pad btn-lg h2 sosure-track" data-toggle="modal" data-target="#quoteModal" data-event="money-cta">Get Insured</a>
            </div>
        </div>
    </section>

    <section class="section--pad money__feedback">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="text-center">What Our Customers Say</h3>
                    <div class="speech-bubble animated fadeInLeft clearfix"><mark>Superb service with my first use of so-sure. I couldn't be happier with the way my claim was handled and I got my phone the next day 😁</mark><br><br>
                    <img src="{{ cdn_url }}/images/feedback/so-sure_feedback_temp.png" alt="" class="img-circle" width="120px;">
                    <br><small>Ben Allsopp General Manager, Living in London.</small></div>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}
    {% include 'AppBundle::Default/modalQuote.html.twig' with {'selectPhoneMakeType': 'other_pages'} %}
    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/lozad/lozad.min.js'
    'components/dot/doT.min.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/images.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeSearch.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeDropdown.js'
    '@AppBundle/Resources/public/js/Default/money.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

