{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'home' %}

{% block title %}so-sure - Welcome to Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container container-xtra">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero__intro">
                        <h1 class="mb-4 text-primary">Mobile Insurance <br><span class="sub text-zaffre">that's Simply Better</span></h1>
                        <h4 class="text-primary">Simple terms, pain-free claims, premium cover</h4>
                        <p class="mb-4">We're a new type of insurer that you can rely on. We protect you when you need to claim and reward you when you don't.</p>
                    </div>
                    <div class="hero__controls pb-3">
                        <a href="#" class="btn btn-primary btn-blue-gradient btn-block-xs mr-lg-2 get-a-quote">Get a Quote</a>
                        {# <a href="#" class="btn btn-outline-primary btn-block-xs"><i class="far fa-play-circle fa-lg"></i> Watch our Video</a> #}
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="hero__illustration">
                        <img src="{{ cdn_url }}/images/rebrand/homepage/so-sure_hero-illustration.png" alt="so-sure - social insurance" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="hero__illustration  d-block d-lg-none">
                <img src="{{ cdn_url }}/images/rebrand/homepage/so-sure_hero-illustration.png" alt="so-sure - social insurance" class="img-fluid">
            </div>
            <div class="hero__credbar pt-4">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <img src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar-trustpilot.png" alt="Trustpilot" width="100px">
                    </li>
                    <li class="list-inline-item">
                        <img src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar-money.png" alt="Money" width="100px">
                    </li>
                    <li class="list-inline-item">
                        <img src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar-gocompare.png" alt="GoCompare" width="100px">
                    </li>
                    <li class="list-inline-item">
                        <img src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar-theguardian.png" alt="The Guardian" width="100px">
                    </li>
                    <li class="list-inline-item">
                        <img src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar-ft.png" alt="The Financial Times" width="100px">
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="intro py-lg-5">
        <div class="container container-xtra py-5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-center text-lg-left">
                        <h2 class="h3 mb-3 text-primary">A new kind of insurer</h2>
                        <p class="mb-4">We offer a premium policy at a fantastic price, giving you peace of mind should you need to make a claim</p>
                        <a href="#" class="btn btn-primary btn-blue-gradient btn-block-xs get-a-quote mb-5">Insure your phone in minutes</a>
                    </div>
                </div>
                <div class="col-lg-6 pb-lg-5">
                    <div class="expanding-cardbox expanding-cardbox__icon mb-4">
                        <div class="expanding-cardbox__body">
                            <h5 class="expanding-cardbox__title text-zaffre mb-0">
                                24-72 hour replacement/repair <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                            </h5>
                            <div class="expanding-cardbox__expand mt-4">
                                We understand it’s stressful to be without your phone, that’s why we aim to get you back up and running quickly after your claim is approved
                            </div>
                        </div>
                    </div>
                    <div class="expanding-cardbox expanding-cardbox__icon mb-4">
                        <div class="expanding-cardbox__body">
                            <h5 class="expanding-cardbox__title text-zaffre mb-0">
                                Low excess from just &pound;50 <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                            </h5>
                            <div class="expanding-cardbox__expand mt-4">
                                Our excess is as low as &pound;50 for accidental damage and &pound;70 for loss and theft when you validate your phone with our anti-fraud technology. If you don't validate your phone with our app, the excess is &pound;150
                            </div>
                        </div>
                    </div>
                    <div class="expanding-cardbox expanding-cardbox__icon mb-4">
                        <div class="expanding-cardbox__body">
                            <h5 class="expanding-cardbox__title text-zaffre mb-0">
                                We decline less than 3.5% of claims  <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                            </h5>
                            <div class="expanding-cardbox__expand mt-4">
                                We have our customers backs and we're here to protect you when you need us.  That’s what insurance is for after all
                            </div>
                        </div>
                    </div>
                    <div class="expanding-cardbox expanding-cardbox__icon mb-4">
                        <div class="expanding-cardbox__body">
                            <h5 class="expanding-cardbox__title text-zaffre mb-0">
                                Up to 80% money back <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                            </h5>
                            <div class="expanding-cardbox__expand mt-4">
                                We reward our careful customers.  If you and your connections don’t make a claim we return up to 80% of your premium back at the end of every policy year
                            </div>
                        </div>
                    </div>
                    <div class="expanding-cardbox expanding-cardbox__icon mb-4">
                        <div class="expanding-cardbox__body">
                            <h5 class="expanding-cardbox__title text-zaffre mb-0">
                                Insuring phones up to 3 years old <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                            </h5>
                            <div class="expanding-cardbox__expand mt-4">
                                We’re one of the only ones in the UK that insure older phones and second hand devices
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cover py-lg-5">
        <div class="container container-xtra pt-5">
            <h2 class="h3 mb-3 text-primary text-center">Relax, we’ve got you covered</h2>
            <p class="mb-4 text-center">We replace and repair hundreds of customer phones every month, here's a look at what's covered</p>
            <div class="cover__illustration__mobile text-center d-block d-lg-none">
                <img src="{{ cdn_url }}/images/rebrand/homepage/so-sure_cover-illustration-mobile.png" alt="" width="220px">
            </div>
            <div class="cover__desktop d-none d-lg-block">
                <div class="row">
                    <div class="col-lg-4">
                        <ul class="list-unstyled text-right cover__list">
                            <li class="media">
                                <div class="media-body mb-5">
                                    <h5 class="text-zaffre">International travel</h5>
                                    90 days of globe trotting, from backpacking to business you're covered
                                </div>
                                <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_travel-icn.svg" alt="so-sure - Travel Cover" width="50px" class="ml-3">
                            </li>
                            <li class="media">
                                <div class="media-body mb-5">
                                    <h5 class="text-zaffre">Out-of-warranty breakdowns</h5>
                                    Phone breaks out of warranty, no worries you're covered
                                </div>
                                <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_out-of-warranty-icn.svg" alt="so-sure - Out of Warranty Breakdown" width="50px" class="ml-3">
                            </li>
                            <li class="media">
                                <div class="media-body mb-5">
                                    <h5 class="text-zaffre">Phone up to three years old</h5>
                                    We're one of the only insurers that covers phones up to 3 years old
                                </div>
                                <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_old-phones-icn.svg" alt="so-sure - Phone up to three years old" width="50px" class="ml-3">
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 text-center">
                        <img src="{{ cdn_url }}/images/rebrand/homepage/so-sure_cover-illustration-desktop.png " alt="so-sure - social insurance" class="img-fluid">
                    </div>
                    <div class="col-lg-4">
                        <ul class="list-unstyled cover__list">
                            <li class="media">
                                <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_accidental-damage-icn.svg" alt="so-sure - Accidental damage" width="50px" class="mr-3">
                                <div class="media-body mb-5">
                                    <h5 class="text-zaffre">Accidental damage</h5>
                                    Don't worry we can usually repair this device so its a good as new
                                </div>
                            </li>
                            <li class="media">
                                <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_theft-loss-icn.svg" alt="so-sure - Theft or loss" width="50px" class="mr-3">
                                <div class="media-body mb-5">
                                    <h5 class="text-zaffre">Theft or loss</h5>
                                    Phones been snatched, don't stress we've got your back
                                </div>
                            </li>
                            <li class="media">
                                <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_broken-phone-icn.svg" alt="so-sure - Broken headphone jack" width="50px" class="mr-3">
                                <div class="media-body">
                                    <h5 class="text-zaffre">Accessories</h5>
                                    No tunes, no problem. You're covered up to the value of &pound;100 inc. VAT
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <svg class="d-block d-lg-none" preserveAspectRatio="xMinYMin meet" viewBox="0 0 750 77" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(0.000000, -72.000000)" fill="#E0EFFD">
                    <g transform="translate(-4700.000000, -8443.000000)">
                        <path d="M4700,8515 C4824,8551 4948.66667,8569 5074,8569 C5199.33333,8569 5324.66667,8551 5450,8515 L5450,8592 L4700,8592 L4700,8515 Z" id="Rectangle"></path>
                    </g>
                </g>
            </g>
        </svg>
    </section>

    <section class="cover__mobile d-block d-lg-none">
        <div class="container container-xtra py-5">
            <ul class="list-unstyled">
                <li class="media">
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_travel-icn.svg" alt="so-sure - Travel Cover" width="50px" class="mr-3">
                    <div class="media-body mb-5">
                        <h5 class="text-zaffre">International travel</h5>
                        90 days of globe trotting covered
                    </div>
                </li>
                <li class="media">
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_out-of-warranty-icn.svg" alt="so-sure - Out of Warranty Breakdown" width="50px" class="mr-3">
                    <div class="media-body mb-5">
                        <h5 class="text-zaffre">Out-of-warranty breakdowns</h5>
                        Phone breaks out of warranty, no worries your covered
                    </div>
                </li>
                <li class="media">
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_old-phones-icn.svg" alt="so-sure - Phone up to three years old" width="50px" class="mr-3">
                    <div class="media-body mb-5">
                        <h5 class="text-zaffre">Phone up to three years old</h5>
                        We're one of the only insurers that covers phones up to 3 years old
                    </div>
                </li>
                <li class="media">
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_accidental-damage-icn.svg" alt="so-sure - Accidental damage" width="50px" class="mr-3">
                    <div class="media-body mb-5">
                        <h5 class="text-zaffre">Accidental damage</h5>
                        Don't worry we can usually repair this device so it’s as good as new
                    </div>
                </li>
                <li class="media">
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_theft-loss-icn.svg" alt="so-sure - Theft or loss" width="50px" class="mr-3">
                    <div class="media-body mb-5">
                        <h5 class="text-zaffre">Theft or loss</h5>
                        Phones been snatched, don't stress we've got your back
                    </div>
                </li>
                <li class="media">
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_broken-phone-icn.svg" alt="so-sure - Broken headphone jack" width="50px" class="mr-3">
                    <div class="media-body">
                        <h5 class="text-zaffre">Accessories</h5>
                        No tunes, no problem. You're covered up to the value of &pound;100 inc. VAT
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="why py-lg-5">
        <div class="container container-xtra py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-center text-lg-left">
                        <h2 class="h3 mb-3 text-primary">Mobile insurance with a difference</h2>
                        <p class="mb-4">We provide mobile insurance that’s simple, reasonable and hassle-free, so you can get back to worrying about the big stuff</p>
                        <a href="#" class="btn btn-primary btn-blue-gradient btn-block-xs mx-auto mb-5 get-a-quote">Get a Quote</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="cardbox cardbox-400 mb-5 mx-auto text-center">
                        <div class="cardbox__body">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_wallet-cashback.png" alt="so-sure - Up to 40% cheaper"width="180px">
                            <h5 class="cardbox__title text-dodger-blue">Up to 40% cheaper</h5>
                            <div class="cardbox__text">Save with us, we're up to 40% cheaper than the mobile networks</div>
                        </div>
                    </div>
                    <div class="cardbox cardbox-400 mb-5 mx-auto text-center">
                        <div class="cardbox__body">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-qr.png" alt="so-sure - super quick cover" width="180px">
                            <h5 class="cardbox__title text-dodger-blue">Super Quick Cover</h5>
                            <div class="cardbox__text">In just a few clicks, your phone will be instantly covered for peace of mind</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="cardbox cardbox-400 mb-5 mx-auto text-center">
                        <div class="cardbox__body">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="so-sure - Simple Terms &amp; Conditions" width="180px">
                            <h5 class="cardbox__title text-dodger-blue">Simple Terms &amp; Conditions</h5>
                            <div class="cardbox__text">Our terms and conditions are there to protect you and written in plain English with no complex jargon</div>
                        </div>
                    </div>
                    <div class="cardbox cardbox-400 mx-auto text-center">
                        <div class="cardbox__body">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_claims-team.png" alt="so-sure - Superb Customer Service" width="180px">
                            <h5 class="cardbox__title text-dodger-blue">Superb Customer Service</h5>
                            <div class="cardbox__text">We've built a fantastic customer service team to make sure you have a hassle free claims experience</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="app py-lg-5">
        <div class="container container-xtra py-5">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="h3 mb-3 text-primary text-center text-lg-left">pic-sure <br><span class="text-zaffre">technology that helps you save</span></h2>
                    <div class="app__illustration__mobile d-block d-lg-none my-5">
                        <img src="{{ cdn_url }}/images/rebrand/homepage/so-sure_app-illustration.png" alt="so-sure - pic-sure" class="img-fluid">
                    </div>
                    <p class="text-center text-lg-left mb-2">When validating your phone through our app’s and pic-sure technology it vastly reduces your excess, removes the need for proof of purchase and gives you a speedier claims process.</p>
                    <p class="mb-4 text-center text-lg-left">Your excess is just &pound;50 for accidental damage/breakdown, &pound;70 for loss and theft. Until you validate your phone through our app, the excess is &pound;150 for all claims. What are you waiting for?</p>
                    <a href="{{ path('faq') }}#the-so-sure-app-and-pic-sure" class="btn btn-primary btn-blue-gradient btn-block-xs mr-lg-2">Find out more</a>
                </div>
                <div class="col-lg-6">

                </div>
            </div>
        </div>
    </section>

    <section class="claims py-lg-5">
        <div class="container container-xtra py-5">
            <h2 class="h3 mb-3 text-primary text-center">Our hassle-free claims process</h2>
            <p class="text-center mb-4">As easy as 1, 2, 3</p>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="cardbox cardbox-460 mb-5 mx-auto text-center">
                        <div class="cardbox__body">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_make-a-claim.png" alt="so-sure - Make a claim" width="180px">
                            <h5 class="cardbox__title text-dodger-blue">Launch your claim online</h5>
                            <div class="cardbox__text">Get your claim started quickly by using our online portal <a href="{{ path('claim') }}" class="btn btn-primary btn-blue-gradient btn-block mt-3">Open the claims portal</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="cardbox cardbox-460 mb-5 mx-auto text-center">
                        <div class="cardbox__body">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_claims-team.png" alt="so-sure - Review claim" width="180px">
                            <h5 class="cardbox__title text-dodger-blue">Review Claim</h5>
                            <div class="cardbox__text">Our UK based claims team will review your claim and call you with a request for any further details or documents (if necessary). We aim to do this within a matter of business hours</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="cardbox cardbox-460 mx-auto text-center">
                        <div class="cardbox__body">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_delivery.png" alt="so-sure - Approve claim" width="180px">
                            <h5 class="cardbox__title text-dodger-blue">Approve Claim</h5>
                            <div class="cardbox__text">Once your claim is approved, we take your excess payment over the phone and aim to repair/replace your phone within 24-72 hours. Some repairs can take longer (e.g. water damage) but we will be as fast as possible</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="comparison py-lg-5">
        <div class="container container-xtra pb-5">
            <h2 class="h3 mb-3 text-primary text-center">What makes so-sure better than the rest?</h2>
            <p class="text-center mb-4">Our customers love us – that's why thousands of customers have joined the so-sure family</p>
            <div class="d-lg-flex justify-content-center">
                <table class="table-list mx-md-auto mx-lg-0 mb-5 table-list__insurers">
                    <thead>
                        <tr>
                            <th class="table-list__header h4 text-white">Traditional Insurers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="py-3 px-4">
                                <span class="table-list__icn">4-18 days wait on average*</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3 px-4">
                                <span class="table-list__icn">Cover starts after 14 days</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3 px-4">
                                <span class="table-list__icn">Only phones purchased within  30 days are covered</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3 px-4" valign="middle">
                                <span class="table-list__icn">You'll need to have a law degree  to understand the terms</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3 px-4">
                                <span class="table-list__icn">Unnecessarily expensive</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-list mx-md-auto mx-lg-0 mb-5 table-list__so-sure">
                    <thead>
                        <tr>
                            <th class="table-list__header h4 text-white blue-gradient"><img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-light.svg" width="130px" alt="so-sure"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="py-3 px-4">
                                <span class="table-list__icn table-list__icn-happy"><strong>24-72 hour replace/repair once claim approved</strong></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3 px-4">
                                <span class="table-list__icn table-list__icn-happy"><strong>Immediate cover</strong></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3 px-4">
                                <span class="table-list__icn table-list__icn-happy"><strong>Refurbished and second-hand devices up to 3 years old covered</strong></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3 px-4">
                                <span class="table-list__icn table-list__icn-happy"><strong>Plain English Terms &amp; Conditions</strong></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3 px-4">
                                <span class="table-list__icn table-list__icn-happy"><strong>We’re up to 40% cheaper</strong></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="text-center"><small>*FCA report Dec 2015</small></p>
        </div>
    </section>

    <section class="reviews py-lg-5">
        <div class="container container-xtra py-5">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="h3 mb-4 text-zaffre text-center text-lg-left">Don't just take our <br class="d-inline d-sm-none"> word for it!</h2>
                    <div id="reviews_carousel"
                         class="carousel slide carousel-fade"
                         data-ride="carousel"
                         data-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="reviews__item text-center text-lg-left">
                                    <span class="mt-2">
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                    </span>
                                    <p class="lead py-4">"My so-sure claim was super fast and everyone was really friendly! Based on previous phone insurance experiences, I can honestly say this truly is a revolution"</p>
                                    <div class="reviews__footer mb-4">
                                        <span class="h5 text-zaffre mr-2">Nick B</span> <strong class="text-primary">|</strong> <span class="ml-2">so-sure customer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="reviews__item text-center text-lg-left">
                                    <span class="mt-2">
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                    </span>
                                    <p class="lead py-4">"Very happy with these guys, my phone was badly cracked after a fall, they picked it up, repaired it good as new in 2 days!  Claims team very nice, would highly recommend"</p>
                                    <div class="reviews__footer mb-4">
                                        <span class="h5 text-zaffre mr-2">Tommy P</span> <strong class="text-primary">|</strong> <span class="ml-2">so-sure customer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="reviews__item text-center text-lg-left">
                                    <span class="mt-2">
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                    </span>
                                    <p class="lead py-4">"Only paid 50 quid excess for my iphone X which is fab, app is really easy to use and a lady called kitti was very helpful in the claim and getting me my new phone"</p>
                                    <div class="reviews__footer mb-4">
                                        <span class="h5 text-zaffre mr-2">Paulo R</span> <strong class="text-primary">|</strong> <span class="ml-2">so-sure customer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__controls text-center text-lg-left">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#reviews_carousel"
                                   class="reviews__controls__prev pr-1"
                                   role="button"
                                   data-slide="prev">
                                   <i class="far fa-long-arrow-alt-left fa-2x"></i>
                                   <span class="sr-only">prev</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#reviews_carousel"
                                   class="reviews__controls__next pl-1"
                                   role="button"
                                   data-slide="next">
                                    <i class="far fa-long-arrow-alt-right fa-2x"></i>
                                    <span class="sr-only">next</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="banner blue-gradient py-5">
        <div class="container container-xtra">
            <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
                <div class="mb-4 mb-lg-0 d-lg-flex align-items-lg-center">
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_app-icn.svg" class="d-none d-lg-inline">
                    <div class="banner__text text-center text-lg-left ml-lg-4">
                        <h4 class="text-white">Mobile insurance designed for you</h4>
                        <p class="lead text-white">Cover your phone in minutes </p>
                    </div>
                </div>
                <div class="banner__controls text-center text-lg-left">
                    {# <a href="#" class="btn btn-outline-white btn-block-xs mr-2"><i class="far fa-play-circle fa-lg"></i> Watch our Video</a> #}
                    <a href="#" class="btn btn-white btn-block-xs get-a-quote">Get a Quote</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/homepage.js') }}"></script>
{% endblock %}
