{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}

{% block title %}so-sure - Welcome to Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Download our app now to see how much you could save."/>
    <meta name="keywords" content="mobile phone insurance, social insurance"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/homepageNew.scss'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    {# Hero #}
    <section class="section--pad homepage--hero">
        <div class="container">
            <h1>Smartphone Insurance <br> How it Should Be</h1>
            <ul class="list-unstyled">
                <li>Next working day replacement phone or repair when you claim</li>
                <li>Up to 80% mone back when you don't</li>
            </ul>
            {% if phone %}
                {{ render(controller('AppBundle:Default:selectPhoneMake', {'type':'homepage', 'id': phone.id })) }}
            {% else %}
                {{ render(controller('AppBundle:Default:selectPhoneMake', {'type':'homepage'})) }}
            {% endif %}
        </div>
    </section>

    {# What is so-sure? #}
    <section class="section--pad homepage--what-is-so-sure">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h2>What is so-sure?</h2>
                    <p>Insurance used to be great. It was designed to have your back when something bad happens, not take advantage of your good character. </p>
                    <p>so-sure is going back to insurance's roots, providing you with insurance how it should be. We’re the first truly customer-centric insurance company - one that is less focused on profits and more on creating an all-round value: rewarding customers when they don't claim and providing exceptional service when they do.</p>
                </div>
                <div class="col-md-5">
                    <div class="text-center"><br><br><br><br><br><br>[IMAGE]</div>
                </div>
            </div>
        </div>
    </section>

    {# Press #}
    <section class="section--pad homepage--press">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h4>As Seen In</h4>
                    <ul class="list-inline">
                        <li><img src="{{ cdn_url }}/images/home/press-images/so-sure_the-guardian.svg" alt="The Guardian - Why Facebook and Microsoft say chatbots are the talk of the town" class="img-responsive"></li>
                        <li><img src="{{ cdn_url }}/images/home/press-images/so-sure_financial-times.svg" alt="Financial Times - Innovation to watch: Friends based insurance" class="img-responsive"></li>
                        <li><img src="{{ cdn_url }}/images/home/press-images/so-sure_insurance-post.svg" alt="Insurance Post - so-sure to launch revolutionary social peer-to-peer mobile insurance app" class="img-responsive"></li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <h4>Awards</h4>
                    <ul class="list-inline">
                        {# TODO: Add 2017 #}
                        <li><img src="{{ cdn_url }}/images/home/press-images/so-sure_digital-insurance-awards.svg" alt="Post Digital Insurance Awards 2016 - so-sure nominated for The New Kid on the Block Award" class="img-responsive"></li>
                        <li><img src="{{ cdn_url }}/images/home/press-images/so-sure_digital-top-50.svg" alt="Digital Top 50 Awards 2016 - B2C Start-up" class="img-responsive"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {# Why we're better than the rest #}
    <section class="section--pad homepage--why-we-are-better">
        <div class="container">
            <h2>Why we're better than the rest</h2>
            <div class="row">
                <div class="col-md-5">
                    <div class="text-center"><br><br><br><br><br><br>[IMAGE]</div>
                </div>
                <div class="col-md-7">
                    <ol>
                        <li>
                            <span class="h4">We don’t hide behind the small print and painful claims process</span><br>
                            <span class="p-body">We’re upfront and honest with our customers on what is covered, what is not, and what the claims process looks like. This means that there’s no nasty surprises when you have an issue with your device. You don’t need a law degree to understand our policy - everything is explained in plain English.</span>
                        </li>
                        <li>
                            <span class="h4">If something bad happens, we aim to provide next day repair or replacement</span><br><span class="p-body">As simple as that. It sucks to be without your phone, we understand it and work with a global phone provider and world-class logistics company who help us get a model back in your hands the next working day.</span>
                        </li>
                        <li>
                            <span class="h4">We insure refurbished and second-hand devices up to 3 years old</span><br>
                            <span class="p-body">Doesn’t matter where you got it from, what matters is that you care about it. We are happy to insure any legitimate devices that do not exceed 3 years in age.</span>
                        </li>
                    </ol>
                </div>
            </div>
            <h3>And on top of that, we're still up to 40% cheaper than traditional insurers</h3>
        </div>
    </section>

    {# Cover Details #}

    {# Travel When Abroad #}

    {# What we don't cover #}

    {# How do the reward pot work? #}

    {# Claims procss #}

    {# Comparisson #}

    {# Quotes #}

    {# Page Modals #}

    {# End Page Modals #}

{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/vimeo-player-js/player.min.js'
    'components/typeahead.js/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/index.js'
    '@AppBundle/Resources/public/js/Default/modalVideo.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

