{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}

{% block title %}so-sure - Welcome to Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    'components/animate.css/animate.min.css'
    '@AppBundle/Resources/public/sass/page/homepage.scss'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    {# Hero #}
    <section class="homepage--hero homepage--hero-background">

        <h1 class="homepage--hero-h1">Mobile Insurance <br>That Gives Back</h1>

        <p class="lead">We reward you when you don’t claim, <br class="hidden-xs"> and protect you when you do. Simple.</p>

        {# Phone Search #}
        {% if device_category() == 'Mobile' %}
            {% set select_template = 'AppBundle:Default:selectPhoneMakeDropdown' %}
        {% else %}
            {% set select_template = 'AppBundle:Default:selectPhoneMakeSearch' %}
        {% endif %}
        {% if phone is defined and phone %}
            {{ render(controller(select_template, {
                'type': 'homepage-sticky',
                'id': phone.id
            }|merge(app.request.query.all))) }}
        {% else %}
            {{ render(controller(select_template, {
                'type': 'homepage-sticky',
            }|merge(app.request.query.all))) }}
        {% endif %}
        {# End Phone Search #}

        <div id="hero-character_1"
             class="homepage--hero__character">
            <div class="homepage--hero__tooltip animated tada"
                 data-content="Accidental damage cover, including cracked screen and water damage"></div>
        </div>
        <div id="hero-character_2"
             class="homepage--hero__character">
            <div class="homepage--hero__tooltip"
                 data-content="Worldwide travel cover for trips not exceeding 90 days"></div>
        </div>
        <div id="hero-character_3_and_4"
             class="homepage--hero__character clearfix">
            <div class="left">
                <div class="homepage--hero__tooltip"
                 data-content="Refurbished and second-hand device cover, for phones up to 3 years old"></div>
            </div>
            <div class="right">
                <div class="homepage--hero__tooltip"
                 data-content="Out of warranty breakdown cover"></div>
            </div>
        </div>
        <div id="hero-character_5_and_6"
             class="homepage--hero__character clearfix">
            <div class="left">
                <div class="homepage--hero__tooltip"
                 data-content="Theft and Loss cover as standard"></div>
            </div>
            <div class="right">
                <div class="homepage--hero__tooltip"
                 data-content="Unauthorised network charges cover (up to £1000 inc. VAT)"></div>
            </div>
        </div>
        <div id="hero-character_7"
             class="homepage--hero__character">
            <div class="homepage--hero__tooltip homepage--hero__tooltip__reward"
                 data-content="Next day phone replacement/repair or up to 80% of your money back when you and your friends don't claim"></div>
             </div>
        <div id="hero-character_8"
             class="homepage--hero__character">
            <div class="homepage--hero__tooltip"
                 data-content="Accessories cover (up to £100 inc. VAT) for theft and loss claim"></div>
        </div>
    </section>

    {# Press #}
    <section class="section--pad homepage--press">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="list-inline press-list text-center">
                        <li class="press-img" title="The Guardian - Why Facebook and Microsoft say chatbots are the talk of the town"></li>
                        <li class="press-img" title="Financial Times - Innovation to watch: Friends based insurance"></li>
                        <li class="press-img" title="Insurance Post - so-sure to launch revolutionary social peer-to-peer mobile insurance app"></li>
                        <li class="press-img" title="As seen on Money.co.uk"></li>
                        <li class="press-img" title="Digital Top 50 Awards 2016 - B2C Start-up"></li>
                        <li class="press-img" title="Insurance Choice Awards 2017 - ‘Best Insurance App' + 'Innovation of the Year' categories 2017"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="curved-background curved-background__bg-blue hidden-xs">
        <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 2000 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" fill="#ffffff">
                    <path d="M0,0 L2000,0 L2000,139.921588 C1890.08746,181.703317 1753.08746,201.692115 1589,199.887983 C1424.91254,198.083852 1258.91254,174.763587 1091,129.927189 C918.666667,89.9495926 740,69.9607942 555,69.9607942 C370,69.9607942 185,113.269857 0,199.887983 L0,0 Z" id="Rectangle" transform="translate(1000.000000, 100.000000) scale(-1, 1) translate(-1000.000000, -100.000000) "></path>
                </g>
            </g>
        </svg>
    </div>

    {# Why we're better than the rest #}
    <section class="section--pad homepage--why-we-are-better">
        <div class="container">
            <h2 class="text-center h1 text-blue">Why us?</h2>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p class="lead">We don’t hide behind small print and convoluted processes, we reward you when you don’t claim, and protect you when you do. It’s that simple.</p>
                    <ul class="list-unstyled">
                        <li>
                            <span class="h3 text-blue">Hassle-Free Claims</span>
                            <p class="lead">Our claims process is easy, you can start it through our app, website or speaking with a real human here in the UK! We aim to process your claim as quickly as possible, and we decline less than 3% claims.</p>
                        </li>
                        <li>
                            <span class="h3 text-blue">Next Working Day Replacement</span>
                            <p class="lead">We get that you can't live without your phone. So once your claim is approved, we aim to get a replacement phone in your hands the next working day. If you prefer a repair, it might take 1-2 more days.</p>
                        </li>
                        <li>
                            <span class="h3 text-blue">Rewards</span>
                            <p class="lead">We believe life is better together. That's why we've created insurance that's, well, social. Connect your policy to friends and family and if none of you claim get up to 80% of your money back. No other insurance provider will do this as they are... greedy.</p>
                        </li>
                    </ul>
                </div>
            </div>
 {#            <div class="text-center">
                <a href="#"
                   class="btn btn-blue btn-pad btn-lg scroll-to"
                   data-scroll-to-anchor=".homepage--we-compare-well"><i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i> &nbsp; <strong>We're still up to 40% cheaper than traditional insurers</strong> &nbsp; <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i></a>
            </div> #}
        </div>
    </section>

    <div class="curved-background curved-background__bg-white hidden-xs">
        <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 2000 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" fill="#D7EBFE">
                    <path d="M0,0 L2000,0 L2000,139.921588 C1890.08746,181.703317 1753.08746,201.692115 1589,199.887983 C1424.91254,198.083852 1258.91254,174.763587 1091,129.927189 C918.666667,89.9495926 740,69.9607942 555,69.9607942 C370,69.9607942 185,113.269857 0,199.887983 L0,0 Z" id="Rectangle" transform="translate(1000.000000, 100.000000) scale(-1, 1) translate(-1000.000000, -100.000000) "></path>
                </g>
            </g>
        </svg>
    </div>

    {# Cover Details #}
    <section class="section--pad homepage--cover-details">
        <div class="container">
            <h2 class="h1">We've got you covered</h2>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p class="lead">Unlike most insurers we give you immediate cover, here and abroad (as long as your trips under 90 days) <br class="hidden-xs"> with excess as low as £50 and cover you for:</p>
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="cover-img lozad theft"
                                 data-background-image="{{ cdn_url }}/images/homepage/whats_covered_sprite_2x.png"></div>
                            <h4>Theft <br><small class="hidden-xs">&nbsp;</small></h4>
                        </div>
                         <div class="col-sm-6 col-md-4">
                            <div class="cover-img lozad loss"
                                 data-background-image="{{ cdn_url }}/images/homepage/whats_covered_sprite_2x.png"></div>
                            <h4>Loss <br><small class="hidden-xs">&nbsp;</small></h4>
                        </div>
                      <div class="col-sm-6 col-md-4">
                            <div class="cover-img lozad accidental-damage"
                                 data-background-image="{{ cdn_url }}/images/homepage/whats_covered_sprite_2x.png"></div>
                            <h4>Accidental Damage <br><small>Including cracked screen &amp; water damage </small></h4>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="cover-img lozad breakdown"
                                 data-background-image="{{ cdn_url }}/images/homepage/whats_covered_sprite_2x.png"></div>
                            <h4>Out of Warranty Breakdown <br><small class="hidden-xs">&nbsp;</small></h4>
                        </div>
                       <div class="col-sm-6 col-md-4">
                            <div class="cover-img lozad charges"
                                 data-background-image="{{ cdn_url }}/images/homepage/whats_covered_sprite_2x.png"></div>
                            <h4>Unauthorised Network Charges <br><small >Up to the value of £1000 inc. VAT</small></h4>
                        </div>
                          <div class="col-sm-6 col-md-4">
                            <div class="cover-img lozad accessories"
                                 data-background-image="{{ cdn_url }}/images/homepage/whats_covered_sprite_2x.png"></div>
                            <h4>Accessories <br><small>Up to the value of £100 inc. VAT for theft or loss claims</small></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# pic-sure #}
    <div class="curved-background curved-background__bg-blue hidden-xs">
        <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 2000 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" fill="#ffffff">
                    <path d="M0,0 L2000,0 L2000,139.921588 C1890.08746,181.703317 1753.08746,201.692115 1589,199.887983 C1424.91254,198.083852 1258.91254,174.763587 1091,129.927189 C918.666667,89.9495926 740,69.9607942 555,69.9607942 C370,69.9607942 185,113.269857 0,199.887983 L0,0 Z" id="Rectangle" transform="translate(1000.000000, 100.000000) scale(-1, 1) translate(-1000.000000, -100.000000) "></path>
                </g>
            </g>
        </svg>
    </div>

    <section class="section--pad homepage--pic-sure section--arrow section--arrow__lightest-blue">
        <div class="container text-center">
            <h2 class="h1">Our App and Low Excess</h2>
            <p class="text-left">Our app allows you to validate and insure your phone in a matter of seconds. By using our <strong>pic-sure</strong> technology you can greatly reduce your excess from our standard &pound;150 to just &pound;50 accidental damage/breakdown, &pound;70 for loss and theft, and be covered immediately.</p>
            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/homepage/iphone_x_app_dash.svg" class="lozad" width="300px">
        </div>
    </section>

    <section class="section--pad homepage--pic-sure-steps">
        <div class="container">
            <h3 class="h2 text-center">Here's How it Works</h3>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/homepage/pic-sure_step_1.svg"
                             class="lozad" alt="">
                    <h3>1. Download</h3>
                </div>
                <div class="col-md-4">
                    <div class="pic-sure">
                        <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                             data-src="{{ cdn_url }}/images/homepage/pic-sure_step_2_mirror_frame.svg"
                             class="lozad pic-sure--mirror"
                             alt="Mirror frame">
                        <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                             data-src="{{ cdn_url }}/images/homepage/pic-sure_step_2_phone_back.svg"
                             class="lozad pic-sure--phone-back animated infinite pulse"
                             alt="Phone Back">
                        <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                             data-src="{{ cdn_url }}/images/homepage/pic-sure_step_2_mirror_reflection.svg"
                             class="lozad pic-sure--mirror-reflection"
                             alt="Mirror reflection">
                        <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                             data-src="{{ cdn_url }}/images/homepage/pic-sure_step_2_phone_front_qr.svg"
                             class="lozad pic-sure--phone-front animated infinite pulse"
                             alt="Phone Front">
                    </div>
                    <h3>2. Validate with pic-sure</h3>
                </div>
                <div class="col-md-4">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/homepage/pic-sure_step_3.svg"
                             class="lozad" alt="">
                    <h3>3. Reduce your excess</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p><strong>pic-sure</strong> is our <strong>fraud detection technology</strong> and takes less than 30 seconds to use. Simply download our app, get insured, and then take a phone selfie in the dedicated <strong>pic-sure</strong> section. Once the selfie has been approved, your new and improved excess will be revealed.</p>
                    <p>Our technology helps us avoid pesky fraudsters, who already have a cracked screen when they buy a policy from us.</p>
                    <p>Plus when you need to claim, it makes the process a whole lot quicker. Win win for all!</p>
                </div>
            </div>
            <ul class="list-inline text-center">
                <br>
                <li>
                    <a class="ga-outbound-click"
                       data-clicklabel="iTunes"
                       href="{{ apple_download('homepage-pic-sure') }}"
                       target="_blank">
                        <img src="{{ cdn_url }}/images/icons/app-store-original.svg" alt="Download so-sure on the App Store" /><span class="sr-only">so-sure app - Apple App Store</span>
                    </a>
                </li>
                <li>
                    <a class="ga-outbound-click"
                       data-clicklabel="PlayStore"
                       href="{{ google_download('homepage-pic-sure') }}"
                       target="_blank">
                        <img src="{{ cdn_url }}/images/icons/google-play-original.svg" alt="Get so-sure on Google Play" /><span class="sr-only">so-sure app - Google Play</span>
                   </a>
                </li>
            </ul>
        </div>
    </section>

    <div class="curved-background curved-background__bg-blue hidden-xs">
        <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 2000 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" fill="#ffffff">
                    <path d="M0,0 L2000,0 L2000,139.921588 C1890.08746,181.703317 1753.08746,201.692115 1589,199.887983 C1424.91254,198.083852 1258.91254,174.763587 1091,129.927189 C918.666667,89.9495926 740,69.9607942 555,69.9607942 C370,69.9607942 185,113.269857 0,199.887983 L0,0 Z" id="Rectangle" transform="translate(1000.000000, 100.000000) scale(-1, 1) translate(-1000.000000, -100.000000) "></path>
                </g>
            </g>
        </svg>
    </div>

    {# How do the reward pot work? #}
    <section id="reward-pot" class="homepage--how-does-the-reward-pot-work">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/homepage/so-sure_reward_pot_smile_characters_small.svg"
                         alt="so-sure - reward pot"
                         class="img-responsive img-responsive--center so-sure_piggy_bank lozad">
                </div>
                <div class="col-md-7">
                    <h2 class="h1">Social Rewards, Life's Better Together.</h2>
                    <p class="lead">When you connect your policy with friends and family and no-one claims, we'll give you up to <mark class="background-white">80% of your premium back</mark> at the end of your policy year. Last year we paid thousands back to our lovely customers (need to check this amount). Here's how it works:</p>
                    <ol class="ol--blue-counter">
                        <li class="h3">Once you have a policy download our nifty app</li>
                        <br>
                        <li class="h3">Invite your friends and family in just a few clicks</li>
                        <br>
                        <li class="h3">All careful with your phones for the year and then get cash back. Yes its that simple :)</li>
                    </ol>
                </div>
            </div>
            <p class="lead text-center"><span class="link-text">Any questions just message us on the <a href="#" class="open-intercom">live chat</a></span></p>
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="h3 hidden-xs">Watch our video</span>
                    <div class="video-container">
                        <iframe id="exp-vid" src="https://player.vimeo.com/video/185840373??api=1&player_id=vimeoplayer&title=0&byline=0&portrait=0" width="800" height="450"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section--pad background-lightest-blue">
        <div class="container">
            <div class="app-link text-center">
                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/homepage/pic-sure_phones.png"
                             class="lozad" alt="" width="200px">
                <h3>Available on:</h3>
                <a class="ga-outbound-click"
                   data-clicklabel="iTunes"
                   href="{{ apple_download('homepage-pic-sure') }}"
                   target="_blank">
                    <img src="{{ cdn_url }}/images/icons/app-store-original.svg" alt="Download so-sure on the App Store" /><span class="sr-only">so-sure app - Apple App Store</span>
                </a>
                <a class="ga-outbound-click"
                   data-clicklabel="PlayStore"
                   href="{{ google_download('homepage-pic-sure') }}"
                   target="_blank">
                    <img src="{{ cdn_url }}/images/icons/google-play-original.svg" alt="Get so-sure on Google Play" /><span class="sr-only">so-sure app - Google Play</span>
               </a>
            </div>
        </div>
    </section>

    {# Comparison #}
    <section class="section--pad homepage--we-compare-well">
        <div class="container">
            <h2 class="text-center h1">How we Compare</h2>
            <table class="table hidden-xs">
                <thead>
                    <tr>
                        <td width="50%" class="h3 contrast">Traditional Insurers</td>
                        <td width="50%" class="sosure">
                            <img data-src="{{ cdn_url }}/images/logo/so-sure_so-sure-full-logo-blue-flat.svg"
                                 alt="so-sure"
                                 width="120px"
                                 class="lozad">
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="contrast">4-18 days wait on average</td>
                        <td class="sosure">Next working day replacement</td>
                    </tr>
                    <tr>
                        <td class="contrast">Cover starts after 14 days</td>
                        <td class="sosure">Immediate cover</td>
                    </tr>
                    <tr>
                        <td class="contrast">Only phones purchased within 30 days are covered</td>
                        <td class="sosure">Refurbished and second-hand devices up to 3 years old are covered</td>
                    </tr>
                    <tr>
                        <td class="contrast">You'll need to have a law degree to understand the terms</td>
                        <td class="sosure">Plain English Terms &amp; Conditions </td>
                    </tr>
                </tbody>
            </table>
            <table class="table visible-xs">
                <thead>
                    <tr>
                        <td width="50%" class="h3 contrast">Traditional Insurers</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="contrast">4-18 days wait on average</td>
                    </tr>
                    <tr>
                        <td class="contrast">Cover starts after 14 days</td>
                    </tr>
                    <tr>
                        <td class="contrast">Only phones purchased within 30 days are covered</td>
                    </tr>
                    <tr>
                        <td class="contrast">You'll need to have a law degree to understand the terms</td>
                    </tr>
                </tbody>
            </table>
            <table class="table visible-xs">
                <thead>
                    <tr>
                        <td width="50%" class="sosure">
                            <img data-src="{{ cdn_url }}/images/logo/so-sure_so-sure-full-logo-blue-flat.svg"
                                 alt="so-sure"
                                 width="120px" class="lozad">
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="sosure">Next working day replacement</td>
                    </tr>
                    <tr>
                        <td class="sosure">Immediate cover</td>
                    </tr>
                    <tr>
                        <td class="sosure">Refurbished and second-hand devices up to 3 years old are covered</td>
                    </tr>
                    <tr>
                        <td class="sosure">Plain English Terms &amp; Conditions </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    {# Quotes #}
    <section class="section--pad homepage--feedback" id="customer-feedback">
        <div class="container">
            <h2 class="h1">Happy Customers</h2>
            <div class="row">
                <div class="col-md-4">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/feedback/so-sure_feedback_temp_f.png"
                         alt="Honor B"
                         width="120px" class="lozad">
                    <blockquote>
                        <p>"I used my Reward Pot money to renew my policy and my insurance bill is now cut in half!"</p>
                        <footer>
                            Fiona Brand, London
                        </footer>
                    </blockquote>
                </div>
                <div class="col-md-4">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/feedback/so-sure_feedback_temp.png"
                         alt="Herve N"
                         width="120px" class="lozad">
                    <blockquote>
                        <p>"I was so happy to receive cash back for me and my wife. Love that you guys are giving back, keep it up!"</p>
                        <footer>
                            Jose Romano, London
                        </footer>
                    </blockquote>
                </div>
                <div class="col-md-4">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/feedback/so-sure_feedback_temp.png"
                         alt="Ted E"
                         width="120px" class="lozad">
                    <blockquote>
                        <p>Superb service with my first use of so-sure. I couldn’t be happier with the way my claim was handled and I got my phone the next day."</p>
                        <footer>
                            Ben Allsopp, Buxton
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>

    {# Instant Quote #}
    <section class="homepage--instant-quote">
        <div class="container">
            <h2 class="text-center h1">Get Your Instant Quote</h2>
            {# Phone Search #}
            {% if phone is defined and phone %}
                {{ render(controller('AppBundle:Default:selectPhoneMakeSearch', {
                    'type': 'footer',
                    'id': phone.id
                })) }}
            {% else %}
                {{ render(controller('AppBundle:Default:selectPhoneMakeSearch', {
                    'type': 'footer',
                })) }}
            {% endif %}
            {# End Phone Search #}
            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/homepage/so-sure_form_rocket.svg"
                 class="img-responsive form-rocket lozad" alt="so-sure - rocket">
        </div>
    </section>

    {# Page Modals #}
    {% include 'AppBundle::Default/_coverModals.html.twig' %}
    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/lozad/lozad.min.js'
    'components/dot/doT.min.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/images.js'
    '@AppBundle/Resources/public/js/Default/homepage.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeSearch.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeDropdown.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

