{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}
{% set homepage = 1 %}
{% set useDropdownSearch = 1 %}

{% block title %}so-sure - Welcome to Social Insurance in partnership with eBay{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    'components/animate.css/animate.min.css'
    '@AppBundle/Resources/public/sass/page/ebay.scss'
    '@AppBundle/Resources/public/sass/page/comparisonTable.scss'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="section--pad ebay__hero {% if hero_class is defined and hero_class %}{{ hero_class }}{% else %}ebay__hero_o{% endif %}">
        <div class="container">
            <h1 class="text-center">
                {% if main_title is defined and main_title %}
                    {{ main_title }}
                {% else %}
                    Mobile Insurance you Deserve.
                {% endif %}
            </h1>
            <p class="big-text text-center">Insurance that's reliable, rewarding and altogether better.</p>

            {# TrustBox widget - Mini #}
            <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="588f81d20000ff00059bc1e1" data-style-height="24px" data-style-width="100%" data-theme="dark" style="margin:25px 0 0;">
            <a href="https://uk.trustpilot.com/review/wearesosure.com" target="_blank" rel="noopener noreferrer">Trustpilot</a>
            </div>
            {# End TrustBox widget #}

            <div class="animated slideInLeft">
                {# Phone Search #}
                {% if device_category() == 'Mobile' %}
                    {% set select_template = 'AppBundle:Default:selectPhoneMakeDropdown' %}
                {% else %}
                    {% set select_template = 'AppBundle:Default:selectPhoneMakeSearch' %}
                {% endif %}
                {% if phone is defined and phone %}
                    {{ render(controller(select_template, {
                        'type': 'ebay',
                        'id': phone.id
                    })) }}
                {% else %}
                    {{ render(controller(select_template, {
                        'type': 'ebay',
                    })) }}
                {% endif %}
                {# End Phone Search #}
            </div>

        </div>
    </section>

    {# Press #}
    <section class="ebay__press">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="list-inline text-center">
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_defaqto.svg" alt="Defaqto" title="Defaqto" class="ebay__press_defaqto"></li>
                        {# <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_trustpilot.svg" alt="TrustPilot" title="TrustPilot" class="ebay__press_trustpilot"></li> #}
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_money.svg" alt="Money.co.uk" title="Money.co.uk" class="ebay__press_money"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_go-compare.svg" alt="Go Compare" title="Go Compare" class="ebay__press_gocompare"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_theguardian.svg" alt="The Guardian" title="The Guardian" class="ebay__press_theguardian"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_financial-times.svg" alt="Financial Times" title="Financial Times" class="ebay__press_financialtimes"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section--pad ebay__why section--arrow section--arrow__off-white">
        <div class="container">
            {# <h2 class="text-center">Why so-sure</h2> #}
            <p class="text-center big-text">We’re a new kind of insurer – an insurer that’s focused on people, not profits. We saw an opportunity to make insurance better. So that’s what we did. We provide mobile insurance that’s simple, reasonable and hassle-free, so you can get back to worrying about the big stuff.</p>
        </div>
    </section>

    <section class="section--pad ebay__cover">
        <div class="container">
            <h2 class="text-center">What's Covered</h2>
            {% include 'AppBundle::Default/_whatsCovered.html.twig' %}
        </div>
    </section>

    <section class="section--pad ebay_compare">
        <div class="container">
            <h2 class="text-center">See How We Compare On Mobile Insurance</h2>
            {% include 'AppBundle::Default/_comparisonTableOld.html.twig' %}
        </div>
    </section>

    <section class="section--pad ebay__cover_next">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ cdn_url }}/images/mobile_mike.svg" alt="Mobile Mike" class="">
                </div>
                <div class="col-md-8">
                    <h2 class="text-blue">Premium Cover. Premium Service</h2>
                    <ul class="list-unstyled">
                        <li>24-72 hour replacement once claim approved</li>
                        <li>Cashback when you and your connections don't claim</li>
                        <li>Low excess from just &pound;50 when validated using our app</li>
                        <li>Instant Cover</li>
                        <li>Refurbished and second-hand devices up to 3 years old are covered</li>
                    </ul>
                </div>
            </div>
            <div class="text-center">
                <a href="#" class="btn btn-green btn-pad btn-lg h2 sosure-track" data-toggle="modal" data-target="#quoteModal" data-event="money-cta">Get Insured</a>
            </div>
        </div>
    </section>

    <section class="section--pad ebay_feedback">
        <div class="container">
            <h2 class="text-center">Happy Customers</h2>
            <div id="carousel-feedback" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="speech-bubble clearfix"><mark>The whole experience has been seamless. From losing my phone to getting a replacement the next day and my fixed phone shortly after. Couldn't recommend them enough.</mark>
                        <br><small>Jack Giddens</small></div>
                    </div>
                    <div class="item">
                        <div class="speech-bubble clearfix"><mark>Fantastic product, excellent value for money. Couldn't believe how smooth the whole process has been - these guys aren't your typical insurance company. Their customer service has been brilliant. They obviously care about their customers! I've been recommending to all my friends.</mark>
                        <br><small>Tom Katte</small></div>
                    </div>
                    <div class="item">
                        <div class="speech-bubble clearfix"><mark>Excellent service I had a new phone in 24h delivered at the door</mark>
                        <br><small>Herve N</small></div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-feedback" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-feedback" data-slide-to="1"></li>
                    <li data-target="#carousel-feedback" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </section>

    {# Page Modals #}
    {% include 'AppBundle::Default/modalQuote.html.twig' with {'selectPhoneMakeType': 'other_pages'} %}
    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/lozad/lozad.min.js'
    'components/dot/doT.min.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/images.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeSearch.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeDropdown.js'
    '@AppBundle/Resources/public/js/Default/ebay.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

