{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'home' %}

{% block title %}so-sure - Welcome to Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="hero__intro">
                        <h1 class="pb-3">Mobile insurance <br><span class="sub">designed for you</span></h1>
                        <p class="pb-3">A new type of phone insurance that’s reliable, rewarding and simply better. lorem ipsum dolor amet, so-sure low excess adipiscing et praesent et replacement next day.</p>
                    </div>
                    <div class="hero__controls pb-3">
                        <a href="#" class="btn btn-primary btn-block-xs mr-lg-2">Get a Quote</a>
                        <a href="#" class="btn btn-outline-primary btn-block-xs"><i class="far fa-play-circle"></i> Watch our Video</a>
                    </div>
                </div>
                <div class="col-lg-7 d-none d-lg-block">
                    <div class="hero__illustration pt-lg-0">
                        <img src="{{ cdn_url }}/images/rebrand/ss-hero-illustration-group.svg" alt="so-sure - social insurance" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="hero__illustration d-block d-lg-none py-4">
                <img src="{{ cdn_url }}/images/rebrand/ss-hero-illustration-group.svg" alt="so-sure - social insurance" class="img-fluid">
            </div>
            <div class="hero__credbar pt-4">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <img src="{{ cdn_url }}/images/rebrand/ss-credbar-trustpilot.png" alt="Trustpilot" width="100px">
                    </li>
                    <li class="list-inline-item">
                        <img src="{{ cdn_url }}/images/rebrand/ss-credbar-money.png" alt="Money" width="100px">
                    </li>
                    <li class="list-inline-item">
                        <img src="{{ cdn_url }}/images/rebrand/ss-credbar-gocompare.png" alt="GoCompare" width="100px">
                    </li>
                    <li class="list-inline-item">
                        <img src="{{ cdn_url }}/images/rebrand/ss-credbar-theguardian.png" alt="The Guardian" width="100px">
                    </li>
                    <li class="list-inline-item">
                        <img src="{{ cdn_url }}/images/rebrand/ss-credbar-ft.png" alt="The Financial Times" width="100px">
                    </li>
                </ul>
            </div>
        </div>
        <svg class="d-lg-none d-xl-none" preserveAspectRatio="none" viewBox="0 0 750 2277" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <linearGradient x1="55.7648571%" y1="50.2572323%" x2="-22.393885%" y2="141.737118%" id="linearGradient-1">
                    <stop stop-color="#2493F4" offset="0%"></stop>
                    <stop stop-color="#FFFFFF" offset="100%"></stop>
                </linearGradient>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="1.0-so-sure-(Home---MOBILE)">
                    <g id="---BG---" transform="translate(-7034.000000, -4060.000000)">
                        <g id="BG---swoosh" transform="translate(1523.000000, 0.000000)">
                            <rect id="Rectangle" fill="#DEF0FF" x="4394.55156" y="6334.96126" width="2463.51383" height="1394.03874"></rect>
                            <g id="Group" transform="translate(4351.906921, 4397.909739) rotate(-24.000000) translate(-4351.906921, -4397.909739) translate(1084.906921, 1038.409739)">
                                <path d="M2570.3113,3985.68888 L1354.0508,1893.05569 L7.27595761e-12,2678.24577 L1568.01228,5386.7614 C2307.66104,6662.95264 3941.48859,7097.73264 5217.32991,6357.89536 C5274.35289,6324.82879 5330.69532,6289.38964 5386.1713,6251.5829 C5553.5852,6137.55999 5702.8767,6006.76138 5834.74959,5863.52048 C4722.68375,6120.17496 3527.40227,5639.08084 2925.07408,4599.82468 L2570.3113,3985.68888 Z" id="Combined-Shape" fill="#DEF0FF"></path>
                                <path d="M4618.11147,5.45696821e-12 L3255.20363,790.3254 L4798.10714,3452.4472 C4955.26474,3723.60941 4993.63582,4031.93582 4928.77829,4310.54614 C4869.30369,4565.99358 4723.18585,4796.46178 4498.79213,4949.29093 C4475.12247,4965.34107 4450.84031,4980.73872 4426.515,4994.84298 C3904.23376,5297.70534 3232.96975,5119.05683 2930.17234,4596.60789 L2928.02116,4592.89712 L2925.7986,4589.09005 L2569.58179,3985.85247 L2924.34456,4599.98495 C3526.66612,5639.22949 4721.94427,6120.32029 5834.0151,5863.67743 C6292.21396,5365.95372 6532.83617,4712.66301 6533.21462,4047.63729 L6533.21462,4044.584 C6532.94739,3572.4472 6411.58476,3094.45286 6161.01498,2662.12014 L4618.11147,5.45696821e-12 Z" id="Fill-3" fill="url(#linearGradient-1)" opacity="0.15"></path>
                            </g>
                        </g>
                        <path d="M9117.97919,7384.71109 C9375.17181,7828.49447 9437.96711,8333.10068 9331.82602,8789.07362 C9234.49426,9207.13826 8995.36849,9584.32193 8628.14217,9834.44173 C8589.40613,9860.70935 8549.66774,9885.9091 8509.85872,9908.9921 C7655.13149,10404.6559 6556.58998,10112.2802 6061.05393,9257.24157 L5470.93784,8257.6808 L6051.5166,9262.76845 C7037.23194,10963.5934 8993.33662,11750.9454 10813.2703,11330.9243 C11563.125,10516.351 11956.9097,9447.17708 11957.529,8358.79768 C11957.0917,7581.10278 11758.4785,6798.81846 11348.4143,6091.26383 L9117.97919,7384.71109 Z" id="Fill-3" fill="url(#linearGradient-1)" opacity="0.1" transform="translate(8714.233421, 8766.686943) rotate(15.000000) translate(-8714.233421, -8766.686943) "></path>
                    </g>
                </g>
            </g>
        </svg>
       {#  <svg class="d-lg-none d-xl-none" preserveAspectRatio="none" viewBox="0 0 750 2130" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <linearGradient x1="55.7648571%" y1="50.2572323%" x2="-22.393885%" y2="141.737118%" id="linearGradient-1">
                    <stop stop-color="#2493F4" offset="0%"></stop>
                    <stop stop-color="#FFFFFF" offset="100%"></stop>
                </linearGradient>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="1.0-so-sure-(Home---MOBILE)">
                    <g id="---BG---" transform="translate(-7034.000000, -4060.000000)">
                        <g id="BG---swoosh" transform="translate(1523.000000, 0.000000)">
                            <g id="Group" transform="translate(4351.906921, 4397.909739) rotate(-24.000000) translate(-4351.906921, -4397.909739) translate(1084.906921, 1038.409739)">
                                <path d="M2570.3113,3985.68888 L1354.0508,1893.05569 L7.27595761e-12,2678.24577 L1568.01228,5386.7614 C2307.66104,6662.95264 3941.48859,7097.73264 5217.32991,6357.89536 C5274.35289,6324.82879 5330.69532,6289.38964 5386.1713,6251.5829 C5553.5852,6137.55999 5702.8767,6006.76138 5834.74959,5863.52048 C4722.68375,6120.17496 3527.40227,5639.08084 2925.07408,4599.82468 L2570.3113,3985.68888 Z" id="Combined-Shape" fill="#DEF0FF"></path>
                                <path d="M4618.11147,5.45696821e-12 L3255.20363,790.3254 L4798.10714,3452.4472 C4955.26474,3723.60941 4993.63582,4031.93582 4928.77829,4310.54614 C4869.30369,4565.99358 4723.18585,4796.46178 4498.79213,4949.29093 C4475.12247,4965.34107 4450.84031,4980.73872 4426.515,4994.84298 C3904.23376,5297.70534 3232.96975,5119.05683 2930.17234,4596.60789 L2928.02116,4592.89712 L2925.7986,4589.09005 L2569.58179,3985.85247 L2924.34456,4599.98495 C3526.66612,5639.22949 4721.94427,6120.32029 5834.0151,5863.67743 C6292.21396,5365.95372 6532.83617,4712.66301 6533.21462,4047.63729 L6533.21462,4044.584 C6532.94739,3572.4472 6411.58476,3094.45286 6161.01498,2662.12014 L4618.11147,5.45696821e-12 Z" id="Fill-3" fill="url(#linearGradient-1)" opacity="0.15"></path>
                            </g>
                        </g>
                        <path d="M9117.97919,7384.71109 C9375.17181,7828.49447 9437.96711,8333.10068 9331.82602,8789.07362 C9234.49426,9207.13826 8995.36849,9584.32193 8628.14217,9834.44173 C8589.40613,9860.70935 8549.66774,9885.9091 8509.85872,9908.9921 C7655.13149,10404.6559 6556.58998,10112.2802 6061.05393,9257.24157 L5470.93784,8257.6808 L6051.5166,9262.76845 C7037.23194,10963.5934 8993.33662,11750.9454 10813.2703,11330.9243 C11563.125,10516.351 11956.9097,9447.17708 11957.529,8358.79768 C11957.0917,7581.10278 11758.4785,6798.81846 11348.4143,6091.26383 L9117.97919,7384.71109 Z" id="Fill-3" fill="url(#linearGradient-1)" opacity="0.1" transform="translate(8714.233421, 8766.686943) rotate(15.000000) translate(-8714.233421, -8766.686943) "></path>
                    </g>
                </g>
            </g>
        </svg> #}
        <svg class="d-none d-lg-block d-xl-block" preserveAspectRatio="none" viewBox="0 0 1463 940" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <rect id="path-1" x="0" y="0" width="1463" height="1798"></rect>
                <linearGradient x1="55.7648571%" y1="50.2572323%" x2="-22.393885%" y2="141.737118%" id="linearGradient-3">
                    <stop stop-color="#2493F4" offset="0%"></stop>
                    <stop stop-color="#FFFFFF" offset="100%"></stop>
                </linearGradient>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.15">
                <g id="Artboard">
                    <g id="BG---swoosh">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <g id="Mask"></g>
                        <g id="Group" mask="url(#mask-2)">
                            <g transform="translate(-2.815080, -124.699620) rotate(-24.000000) translate(2.815080, 124.699620) translate(-1912.315080, -2088.699620)">
                                <path d="M1502.42642,2329.81664 L791.484559,1106.57725 L7.27595761e-12,1565.55661 L916.551655,3148.80733 C1348.89922,3894.79922 2303.92194,4148.94793 3049.69064,3716.47935 C3083.02233,3697.15043 3115.95622,3676.43464 3148.38365,3654.33487 C3246.24225,3587.68329 3333.50775,3511.22555 3410.59153,3427.49472 C2760.55466,3577.52095 2061.87568,3296.29953 1709.79623,2688.80698 L1502.42642,2329.81664 Z" id="Combined-Shape" fill="#2594F4"></path>
                                <path d="M2699.42893,5.45696821e-12 L1902.76716,461.981185 L2804.64197,2018.1126 C2896.50544,2176.61926 2918.93453,2356.85008 2881.02329,2519.7105 C2846.25855,2669.03117 2760.84816,2803.75032 2629.68309,2893.08592 C2615.84744,2902.46796 2601.65377,2911.46858 2587.43488,2919.71317 C2282.14534,3096.75 1889.77077,2992.32182 1712.77633,2686.92662 L1711.51889,2684.75751 L1710.21974,2682.5321 L1502,2329.91227 L1709.36981,2688.90067 C2061.44538,3296.38642 2760.12242,3577.60591 3410.1622,3427.58647 C3677.9936,3136.64429 3818.64472,2754.76613 3818.86594,2366.02831 L3818.86594,2364.24352 C3818.70973,2088.25806 3747.76952,1808.8486 3601.30374,1556.13045 L2699.42893,5.45696821e-12 Z" id="Fill-3" fill="url(#linearGradient-3)"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </section>

    <section class="intro bg-bb1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="h4 text-blue2">We're a new kind of insurer</h2>
                </div>
                <div class="col-lg-6">

                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/homepage.js') }}"></script>
{% endblock %}
