{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}
{% set homepage = 1 %}
{% set useDropdownSearch = 1 %}

{% block title %}so-sure - Welcome to Social Insurance in partnership with Starling Bank{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    'components/animate.css/animate.min.css'
    '@AppBundle/Resources/public/sass/page/starling.scss'
    '@AppBundle/Resources/public/sass/page/comparisonTable.scss'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="section--pad starling__hero">
        <div class="container">
            <h1 class="text-center">Mobile Insurance You Deserve.</h1>
            <p class="big-text text-center">We're a new type of insurer that’s reliable, rewarding and all together better.</p>

            <div class="text-center">
                <span class="lead"><small>in partnership with</small></span><br>
                <img src="{{ cdn_url }}/images/homepage/so-sure_starling_bank_logo.svg" alt="Starling Bank" width="300px">
            </div>

            <div class="animated slideInLeft">
                {# Phone Search #}
                {% if device_category() == 'Mobile' %}
                    {% set select_template = 'AppBundle:Default:selectPhoneMakeDropdown' %}
                {% else %}
                    {% set select_template = 'AppBundle:Default:selectPhoneMakeSearch' %}
                {% endif %}
                {% if phone is defined and phone %}
                    {{ render(controller(select_template, {
                        'type': 'ebay',
                        'id': phone.id
                    })) }}
                {% else %}
                    {{ render(controller(select_template, {
                        'type': 'ebay',
                    })) }}
                {% endif %}
                {# End Phone Search #}
            </div>
        </div>
    </section>

    {# Press #}
    <section class="starling__press starling__press_grayscale">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="list-inline text-center">
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_defaqto.svg" alt="Defaqto" title="Defaqto" class="starling__press_defaqto"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_trustpilot.svg" alt="TrustPilot" title="TrustPilot" class="starling__press_trustpilot"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_money.svg" alt="Money.co.uk" title="Money.co.uk" class="starling__press_money"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_go-compare.svg" alt="Go Compare" title="Go Compare" class="starling__press_gocompare"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_theguardian.svg" alt="The Guardian" title="The Guardian" class="starling__press_theguardian"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_financial-times.svg" alt="Financial Times" title="Financial Times" class="starling__press_financialtimes"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {# Cover/Service #}
    <section class="section--pad starling__cover_next section--arrow">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Premium Cover &amp; Service</h2>
                    <ul class="list-unstyled">
                        <li>Next working day replacement</li>
                        <li>Cashback when you and your connections don't claim</li>
                        <li>Low excess from just &pound;50 when validated with pic-sure</li>
                        <li>Instant Cover</li>
                        <li>Refurbished and second-hand devices up to 3 years old are covered</li>
                    </ul>
                </div>
            </div>
            <div class="text-center">
                <a href="#" class="btn btn-starling btn-pad btn-lg h2 sosure-track" data-toggle="modal" data-target="#quoteModal" data-event="money-cta">Get Insured</a>
            </div>
        </div>
    </section>

    {# Why so-sure #}
    <section class="section--pad starling__why section--arrow section--arrow__off-white">
        <div class="container">
            <p class="text-center big-text">We’re a new kind of insurer – an insurer that’s focused on people, not profits. We saw an opportunity to make insurance better. So that’s what we did. We provide mobile insurance that’s simple, reasonable and hassle-free, so you can get back to worrying about the big stuff.</p>
        </div>
    </section>

    <section class="section--pad starling_compare">
        <div class="container">
            <h2 class="text-center">See How We Compare On Mobile Insurance</h2>
            {% include 'AppBundle::Default/_comparisonTable.html.twig' %}
        </div>
    </section>

    <section class="section--pad starling_feedback">
        <div class="container">
            <h2 class="text-center">Happy Customers</h2>
            <div id="carousel-feedback" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="speech-bubble clearfix"><mark>The whole experience has been seamless. From losing my phone to getting a replacement the next day and my fixed phone shortly after. Couldn't recommend them enough.</mark>
                        <br><small>Jack Giddens</small></div>
                    </div>
                    <div class="item">
                        <div class="speech-bubble clearfix"><mark>Fantastic product, excellent value for money. Couldn't believe how smooth the whole process has been - these guys aren't your typical insurance company. Their customer service has been brilliant. They obviously care about their customers! I've been recommending to all my friends.</mark>
                        <br><small>Tom Katte</small></div>
                    </div>
                    <div class="item">
                        <div class="speech-bubble clearfix"><mark>Excellent service I had a new phone in 24h delivered at the door</mark>
                        <br><small>Herve N</small></div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-feedback" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-feedback" data-slide-to="1"></li>
                    <li data-target="#carousel-feedback" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </section>

    {# Page Modals #}
    {% include 'AppBundle::Default/modalQuote.html.twig' with {'selectPhoneMakeType': 'other_pages'} %}
    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/lozad/lozad.min.js'
    'components/dot/doT.min.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/images.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeSearch.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeDropdown.js'
    '@AppBundle/Resources/public/js/Default/starling.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

