{% if referral != '' %}
    {% set og_title = 'Join today & get rewarded' %}
    {% set og_image = cdn_url ~ '/images/so-sure-welcome.png' %}
{% endif %}
{% extends 'base.html.twig' %}

{% set white_logo = true %}

{% block title %}so-sure - Welcome to Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Download our app now to see how much you could save."/>
    <meta name="keywords" content="mobile phone insurance, social insurance"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/homepage.scss'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/dot/doT.js'
    'components/vimeo-player-js/player.min.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/modalVideo.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}

    <section class="hero {% if sixpack == 'phone-image' %} hero-search-container {% endif %}" id="get-quote">
        <div class="container">
            <div class="row">
                {% if sixpack == 'phone-image' %}
                <div class="col-md-5">
                    <div class="hero-search clearfix">
                        <div class="hero-search--left">
                            <a href="{{ path('quote_make', {'make':'Apple'}) }}"><img src="{{ cdn_url }}/images/home/search/so-sure_search-iPhone.svg"
                                   data-orig-src="{{ cdn_url }}/images/home/search/so-sure_search-iPhone.svg"
                                   data-hover-src="{{ cdn_url }}/images/home/search/so-sure_search-iPhone-hover.svg"
                                   alt="Apple iPhone Insurance"
                                   class="image-swap"></a>
                        </div>
                        <div class="hero-search--right">
                            <a href="{{ path('quote_make', {'make':'Samsung'}) }}"><img src="{{ cdn_url }}/images/home/search/so-sure_search-samsung.svg"
                                     data-orig-src="{{ cdn_url }}/images/home/search/so-sure_search-samsung.svg"
                                     data-hover-src="{{ cdn_url }}/images/home/search/so-sure_search-samsung-hover.svg" alt="Samsung Insurance"
                                     class="image-swap"></a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="homepage-hero-text {% if sixpack == 'phone-image' %}col-md-7{% else %}col-md-12{% endif %}">
                    <h1>The insurance revolution is here</h1>
                    <h3 class="text-light-blue">Mobile phone insurance is finally worthwhile</h3>
                    <ul class="list-unstyled fa-list-bullet hidden-xs">
                        <li class="text-white"><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i> Up to 40% cheaper than traditional insurers</li>
                        <li class="text-white"><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i> Next working day replacement or repair</li>
                        <li class="text-white"><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i> Get cashback when no claims</li>
                    </ul>
                    <p class="visible-xs-block lead">Up to 40% cheaper than traditional insurers, Next working day replacement or repair, Get cashback when no claims.</p>
                    {% if phone %}
                        {{ render(controller('AppBundle:Default:selectPhoneMake', {'type':'homepage', 'id': phone.id })) }}
                    {% else %}
                        {{ render(controller('AppBundle:Default:selectPhoneMake', {'type':'homepage'})) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {% include 'AppBundle::Default/press.html.twig' %}

    {% include 'AppBundle::Default/whySoSure.html.twig' %}

    {% include 'AppBundle::Default/saveMoney.html.twig' %}

    {% include 'AppBundle::Default/fasterClaims.html.twig' %}

    {% include 'AppBundle::Default/feedbackQuotes.html.twig' %}

    <section class="footer-cta brand-gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Ready for better phone insurance?</h2>
                    <p class="lead">You can't always have better in life, but you can have better phone insurance.</p>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline">
                        <li><a href="mailto:hello@wearesosure.com" class="btn btn-default-hollow btn-block open-intercom">Chat with us <i class="fa fa-comments"></i></a></li>
                        <li>
                            <a class="btn btn-black btn-block scroll-to"
                               id="get-quote-btn"
                               data-scroll-to-anchor="#get-quote"
                               data-scroll-to-focus="#search-phone">Get a quote</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    {% include 'AppBundle::Default/partnership.html.twig' %}

    {# Page Modals #}

    {% include 'AppBundle::Default/modalVideo.html.twig' %}

    {# {% include 'AppBundle::Default/modalQuote.html.twig' %}     #}

    {# End Page Modals #}

{% endblock %}
