{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'home' %}

{# Set image #}
{% block title %}so-sure - Welcome to Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}">
{% endblock %}

{% block body %}

    <div class="snow"></div>

    <section class="hero">
        <div class="container container-xtra">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero__intro">
                        {% if page_type == 'tastecard' %}
                            <h1 class="mb-4 text-white">soo-yummy <br><span class="sub">FREE tastecard membership worth &pound;79.99</span></h1>
                            <h4 class="text-zaffre">Get a FREE tastecard membership when you buy a policy and share with 5 friends</h4>
                            <p class="mb-4 text-white">
                                So what are you waiting for, get your mobile protected!<br>
                                <a href="#"
                                   class="text-white"
                                   data-toggle="modal"
                                   data-target="#page_terms"
                                   role="button"><small><u>Terms &amp; Conditions</u></small></a>
                            </p>
                        {% elseif page_type == 'phonecase' %}
                            <h1 class="mb-4 text-white">Double Protection <br><span class="sub">for your Mobile </span></h1>
                            <h4 class="text-zaffre">We're giving away FREE cases of your choice worth &pound;19 from our partners at <a href="https://www.layercase.co.uk/" target="_blank" rel="noopener noreferrer" class="text-zaffre h4"><u>LayerCase</u></a>. Hurry while stock lasts!</h4>
                            <p class="mb-4 text-white">
                                <a href="#"
                                   class="text-white"
                                   data-toggle="modal"
                                   data-target="#page_terms"
                                   role="button"><small><u>Terms &amp; Conditions</u></small>
                                </a>
                           </p>
                        {% else %}
                            <h1 class="mb-4 text-white">Mobile Insurance <br><span class="sub">that's Simply Better</span></h1>
                            <h4 class="text-zaffre">Simple terms, pain-free claims, premium cover</h4>
                            <p class="mb-4 text-white">We're a new type of insurer that you can rely on. We protect you when you need to claim and reward you when you don't.</p>
                        {% endif %}
                    </div>
                    <div class="hero__controls pb-3">
                        <a href="#" class="btn btn-white btn-block-xs mr-sm-2 get-a-quote">Get a Quote</a>
                        <a href="#"
                           class="btn btn-outline-white watch-video btn-block-xs"
                           data-event="watch-video-index-hero"
                           data-toggle="modal"
                           data-target="#sosure-video-modal"
                           data-src="https://www.youtube.com/embed/QEskwqsNgrQ">
                            <i class="far fa-play-circle fa-lg opacity-50 mr-1"></i>
                            Watch our Video
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="hero__illustration">
                        <img src="{{ cdn_url }}/images/rebrand/homepage/so-sure_hero-illustration-with-no-shadow.png" alt="so-sure - social insurance" class="img-fluid animated jackInTheBox">
                    </div>
                </div>
            </div>
            <div class="hero__illustration  d-block d-lg-none">
                <img src="{{ cdn_url }}/images/rebrand/homepage/so-sure_hero-illustration-with-no-shadow.png" alt="so-sure - social insurance" class="img-fluid animated jackInTheBox">
            </div>
        </div>
    </section>

    <section class="cred">
        <div class="container container-xtra py-4 d-lg-flex align-items-center justify-content-between">
            {% if page_type == 'tastecard' %}
                <img src="{{ cdn_url }}/images/rebrand/credbar/tastecard/so-sure_credbar-frankie-and-bennys.png" alt="Frankie &amp; Bennys">
                <img src="{{ cdn_url }}/images/rebrand/credbar/tastecard/so-sure_credbar-zizzi.png" alt="Zizzi">
                <img src="{{ cdn_url }}/images/rebrand/credbar/tastecard/so-sure_credbar-strada.png" alt="Strada">
                <img src="{{ cdn_url }}/images/rebrand/credbar/tastecard/so-sure_credbar-giraffe.png" alt="giraffe">
                <img src="{{ cdn_url }}/images/rebrand/credbar/tastecard/so-sure_credbar-bella-italia.png" alt="Bella Italia">
            {% else %}
                <img src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar-trustpilot.png" alt="Trustpilot">
                <img src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar-money.png" alt="Money">
                <img src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar-gocompare.png" alt="GoCompare">
                <img src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar-theguardian.png" alt="The Guardian">
                <img src="{{ cdn_url }}/images/rebrand/credbar/so-sure_credbar-ft.png" alt="The Financial Times">
            {% endif %}
        </div>
    </section>

    <section class="intro py-lg-5">
        <div class="container container-xtra py-5">
            <div class="row">
                {# TODO: Needs copy #}
                <div class="col-md-6 col-lg-4">
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="so-sure - Simple Terms &amp; Conditions" width="180px">
                    <h5 class="text-primary">24-72 hour replace or repair</h5>
                    <p class="mb-5">We aim to replace or repair your phone within 24-72 hours after your claim is approved</p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_wallet-cashback.png" alt="so-sure - Up to 40% cheaper"width="180px">
                    <h5 class="text-primary">Up to 80% money back</h5>
                    <p class="mb-5">Connect with friends and get rewarded when you and your connections don't claim</p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-qr.png" alt="so-sure - super quick cover" width="180px">
                    <h5 class="text-primary">Low excess from just &pound;50</h5>
                    <p class="mb-5">Download the so-sure app and validate your phone to reduce your excess</p>
                </div>
            </div>
            <a href="#" class="btn btn-primary btn-block-xs get-a-quote mb-5">Insure your phone in minutes</a>
        </div>
    </section>

    {# Cover #}
    {% include 'AppBundle::Default/CommonSections/_cover.html.twig' %}

    {# We do things differently #}
    {% include 'AppBundle::Default/CommonSections/_weDoThingsDifferently.html.twig' %}

    <section class="reward py-lg-5">
        <div class="container container-xtra py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-center text-lg-left">
                        <h2 class="h3 mb-3 text-primary">Money back when you don't claim</h2>
                        <p class="mb-4">We are the only mobile phone insurer to offer money back if you and your friends don't claim. What's stopping you? Join the social insurance revolution now!</p>
                        <a href="{{ path('social_insurance') }}" class="btn btn-primary btn-block-xs mx-auto mb-5">Tell me more</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="cardbox cardbox-400 mb-5 mx-auto text-center d-none d-lg-block">
                        <div class="cardbox__body">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_holding-phone.png" alt="so-sure - how it works"width="180px">
                            <h5 class="cardbox__title text-dodger-blue">How it works</h5>
                            <div class="cardbox__text">If you and your friends take good care of your phones and don’t need to claim, we’ll give you up to 80% of your premium back at the end of your policy year</div>
                        </div>
                    </div>
                    <div class="d-block d-lg-none text-center">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_holding-phone.png" alt="so-sure - how it works"width="180px">
                        <h5 class="text-primary">How it works</h5>
                        <p class="mb-5">If you and your friends take good care of your phones and don't need to claim, we’ll give you up to 80% of your premium back at the end of your policy year</p>
                    </div>
                    <div class="cardbox cardbox-400 mb-5 mx-auto text-center d-none d-lg-block">
                        <div class="cardbox__body">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_broken-phone.png" alt="so-sure - be careful" width="180px">
                            <h5 class="cardbox__title text-dodger-blue">Be careful</h5>
                            <div class="cardbox__text">Make a pact with your connections to take good care of your phones throughout the policy period and make no claims</div>
                        </div>
                    </div>
                    <div class="d-block d-lg-none text-center">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_friends-connect.png" alt="so-sure - connect" width="180px">
                        <h5 class="text-primary">Connect</h5>
                        <p class="mb-5">For every person you connect with, we'll add up to &pound;10 to your reward pot. If neither of you make a claim, your cash will be returned to you at the end of the policy year</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="cardbox cardbox-400 mb-5 mx-auto text-center d-none d-lg-block">
                        <div class="cardbox__body">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_friends-connect.png" alt="so-sure - connect" width="180px">
                            <h5 class="cardbox__title text-dodger-blue">Connect</h5>
                            <div class="cardbox__text">For every person you connect with, we'll add up to &pound;10 to your reward pot. If neither of you make a claim, your cash will be returned to you at the end of the policy year</div>
                        </div>
                    </div>
                    <div class="d-block d-lg-none text-center">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_broken-phone.png" alt="so-sure - be careful" width="180px">
                        <h5 class="text-primary">Be careful</h5>
                        <p class="mb-5">Make a pact with your connections to take good care of your phones throughout the policy period and make no claims</p>
                    </div>
                    <div class="cardbox cardbox-400 mx-auto text-center d-none d-lg-block">
                        <div class="cardbox__body">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_rewards.png" alt="so-sure - get rewarded" width="180px">
                            <h5 class="cardbox__title text-dodger-blue">Get rewarded</h5>
                            <div class="cardbox__text">At the end of the policy year, when you and your connections haven’t claimed, your Reward Pot is paid out to you in full. Hooray!</div>
                        </div>
                    </div>
                    <div class="d-block d-lg-none text-center">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_rewards.png" alt="so-sure - get rewarded" width="180px">
                        <h5 class="text-primary">Get rewarded</h5>
                        <p class="mb-5">At the end of the policy year, when you and your connections haven’t claimed, your Reward Pot is paid out to you in full. Hooray!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Claims Process #}
    {% include 'AppBundle::Default/CommonSections/_claimsProcess.html.twig' %}

    <section class="banner banner-dismissible">
        <div class="container py-5">
            <div class="d-lg-flex align-items-lg-center">
                <div class="banner__image">
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon-home.png" alt="so-sure - how it works"width="250px">
                </div>
                <div class="banner__text ml-lg-4">
                    <h2 class="text-white">Home Insurance Coming 2019</h2>
                    <p class="text-columbia-blue-e lead mb-0">Take our survey to be in for a chance to <strong>win a phone cover</strong></p>
                    <p class="text-columbia-blue-e mb-4"><small>*Limited time only, offer ends December 31st 2018, 1 per customer.</small></p>
                    <a href="https://sosure.typeform.com/to/CdsghS"
                       target="_blank"
                       rel="noopener noreferrer"
                       class="btn btn-white sosure-track"
                       data-event="take-survey-banner-clicked"
                       data-event-url="https://sosure.typeform.com/to/CdsghS"
                       data-event-blank="true">
                        Take Survey
                        <i class="far fa-long-arrow-right fa-lg ml-2"></i>
                    </a>
                </div>
            </div>
        </div>
        <button type="button"
                class="banner__close close text-white"
                data-dismiss="banner"
                data-event="take-survey-banner-closed"
                aria-label="Close">
            <i class="fal fa-times fa-lg"></i>
        </button>
    </section>

    {# Reviews #}
    {% include 'AppBundle::Default/CommonSections/_reviews.html.twig' %}

    <section class="banner py-5">
        <div class="container container-xtra">
            <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
                <div class="mb-4 mb-lg-0 d-lg-flex align-items-lg-center">
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_app-icn.svg" class="d-none d-lg-inline">
                    <div class="banner__text text-center text-lg-left ml-lg-4">
                        <h4 class="text-white">Mobile insurance designed for you</h4>
                        <p class="lead text-white">Cover your phone in minutes </p>
                    </div>
                </div>
                <div class="banner__controls text-center text-lg-left">
                    <a href="#"
                       class="btn btn-outline-white watch-video btn-block-xs mr-sm-2"
                       data-event="watch-video-index-bottom-banner"
                       data-toggle="modal"
                       data-target="#sosure-video-modal"
                       data-src="https://www.youtube.com/embed/QEskwqsNgrQ">
                        <i class="far fa-play-circle fa-lg opacity-50 mr-1"></i>
                        Watch our Video
                    </a>
                    <a href="#" class="btn btn-white btn-block-xs get-a-quote">Get a Quote</a>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}
    <div class="modal fade"
         id="page_terms"
         tabindex="-1" role="dialog"
         aria-labelledby="page_terms"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {% if page_type == 'tastecard' %}
                            Free tastecard
                        {% elseif page_type == 'phonecase' %}
                            Free phone case
                        {% endif %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {% if page_type == 'tastecard' %}
                        <h5>Terms and conditions</h5>
                        <p>1 tastecard per new so-sure policyholder (ie have a least one so-sure policy) that shares with 5 friends. Sharing must be done while being logged into the so-sure website as a customer either by web or app as sharing actions are tracked.  Sharing with 5 friends must be completed within 7 days of the promotion ending.</p>
                        <p>Code for the free tastecard will be issued 30-35 days after the policy purchase date and will remain active for 365 days as long the customer’s policy remains active. If the policy is cancelled, so will the Tastecard. All digital cards are personalised to each individual which makes them non-transferrable and not for re-sale.</p>
                        <p>This offer is available to UK residents only. The RRP of a full annual membership to tastecard is &pound;79.99 but you will receive this free of charge as per the terms and conditions stated above. Membership is digital only, an email will be sent following redemption to provide instructions on how to access membership. If you wish to renew your Tastecard when it expires, you need to buy a new code from tastecard.</p>
                        <p>By redeeming the code provided, you agree to these terms and conditions.</p>
                        <p>Promotion valid from 8th January 2019 until 31st February 2019</p>
                    {% elseif page_type == 'phonecase' %}
                        <h5>Terms and conditions</h5>
                        <p>1 case per new so-sure customer. Code for the free Layer Case only issued 14-16 days after the policy purchase date and only if customer has made no claims.</p>
                        <p>Promotion valid from 8th January 2019 until 31st February 2019. so-sure reserves the right to cancel or amend the promotion and these terms and conditions without notice and at anytime.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/homepage.js') }}"></script>å
{% endblock %}
