{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'home' %}

{% block title %}so-sure | Social Mobile Phone Insurance That's Better{% endblock %}
{% block meta %}
    <meta name="description" content="The future of phone insurance has arrived (and it's up to 80% cheaper when you connect with friends & don't claim). Available on hundreds of models from so-sure."/>
{% endblock %}

{% block schema %}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "Organization",
    "url": "https://wearesosure.com/",
    "legalName": "so-sure Ltd",
    "location": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Tower Hamlets",
          "addressRegion": "London",
          "postalCode": "E1 7PT",
          "streetAddress": "114 Whitechapel High Street"
        },
        "name": "Relay Building"
    },
    "logo": "{{ cdn_url }}/images/rebrand/logo/so-sure_logo_square.png",
    "description": "The future of phone insurance has arrived (and it's up to 80% cheaper when you connect with friends & don't claim). Available on hundreds of models from so-sure.",
    "sameAs": ["https://twitter.com/wearesosure", "https://www.facebook.com/wearesosure"]
}
</script>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/homepageB.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">

        <div class="container-large">
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="hero__illustration">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/homepage/so-sure_hero-illustration-with-sky.png" alt="so-sure - social insurance" class="img-fluid lozad animated jackInTheBox">
                    </div>
                </div>
                <div class="col-lg-5 offset-md-2 offset-lg-1">
                    <div class="hero__intro">
                        <h1 class="mb-4 text-white fit">
                            Mobile Insurance<br><span class="sub text-deep-sky-blue-d">that's Simply Better 🇬🇧</span>
                        </h1>
                        <ul class="list-unstyled icn-fa-list mb-5">
                            {% if tabs_usp_exp is defined and tabs_usp_exp == 'tabbed-usp' %}
                                <li class="mb-3 h5 text-white">
                                    <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                                    Full cover from &pound;3.49/month
                                </li>
                            {% endif %}
                            <li class="mb-3 h5 text-white">
                                <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                                Low excess from just &pound;50
                            </li>
                            <li class="mb-3 h5 text-white">
                                <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                                Up to 80% money back
                            </li>
                            <li class="mb-3 h5 text-white">
                                <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                                24-72 hour replace or repair
                            </li>
                            <li class="h5 text-white">
                                <i class="far fa-check fa-lg fa-fw text-deep-sky-blue-d"></i>
                                New, second hand &amp; refurbished phones
                            </li>
                        </ul>
                    </div>
                    <div class="hero__controls pb-3">
                        <a href="#" class="btn btn-success btn-block-xs mr-sm-2 get-a-quote disabled">Get a Quote</a>
                        <a href="#cred"
                           id="watch_tv_advert"
                           class="btn btn-outline-white btn-block-xs">
                            <i class="far fa-play-circle fa-lg opacity-50 mr-1"></i>
                            Watch the Ad
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="hero__illustration d-block d-lg-none mt-4">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/homepage/so-sure_hero-illustration-with-sky.png" alt="so-sure - social insurance" class="img-fluid animated lozad jackInTheBox">
                    </div>
                </div>
            </div>

        </div>
    </section>

    {# Cred #}
    {% include 'AppBundle::Default/CommonSections/_cred.html.twig' %}

    <section class="video d-flex align-items-center justify-content-center">
        <a href="#"
           data-toggle="modal"
           data-target="#sosure-video-modal"
           data-src="https://www.youtube.com/embed/rF6zxVRT5Fc"
           class="watch-video video__play">
            <img src="{{ cdn_url }}/images/onexone.png"
                 data-src="{{ cdn_url }}/images/rebrand/invite/so-sure_invite_reward_video_play_shadow.svg"
                 alt="Play buttonn"
                 class="lozad"
                 width="120px"></a>
        <img src="{{ cdn_url }}/images/onexone.png"
             data-src="{{ cdn_url }}/images/rebrand/video/so-sure_video_background_woman_swoosh.png"
             alt="Woman polaroid swoosh"
             class="lozad video-img">
    </section>

    <section class="knowledge-base">
        <div class="container-large">
            {% include 'AppBundle::Components/_knowledgeBase.html.twig' %}
        </div>
    </section>

    {# Top Manufacturers #}
    {% include 'AppBundle::PhoneInsurance/CommonSections/_topManufacturers.html.twig' %}

    {# Claims Process #}
    {% include 'AppBundle::Default/CommonSections/_claimsProcessB.html.twig' %}

    {# Top Models #}
    {% include 'AppBundle::PhoneInsurance/CommonSections/_topModels.html.twig' %}

    <section class="banner banner-dismissible">
        <div class="container-large py-5">
            <div class="d-lg-flex align-items-lg-center">
                <div class="banner__image">
                    <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon-home.png" alt="Home insurance" width="250px" class="lozad">
                </div>
                <div class="banner__text ml-lg-4">
                    <h2 class="text-white">Home Insurance Coming 2020</h2>
                    <p class="text-columbia-blue-e lead mb-0">Take our survey to be in for a chance to <strong>win a phone cover</strong></p>
                    <p class="text-columbia-blue-e mb-4"><small>*Limited time only, offer ends December 31st 2019, 1 per customer.</small></p>
                    <a href="https://sosure.typeform.com/to/CdsghS"
                       target="_blank"
                       rel="noopener noreferrer"
                       class="btn btn-success track-data"
                       data-event="take-survey-banner-clicked"
                       data-event-url="https://sosure.typeform.com/to/CdsghS"
                       data-event-blank="true">
                        Take Survey
                        <i class="far fa-long-arrow-right fa-lg ml-2"></i>
                    </a>
                </div>
            </div>
        </div>
        <button type="button"
                class="banner__close close text-white"
                data-dismiss="banner"
                data-event="take-survey-banner-closed"
                aria-label="Close">
            <i class="fal fa-times fa-lg"></i>
        </button>
    </section>

    {# Reviews #}
    {% include 'AppBundle::PhoneInsurance/CommonSections/_reviewsB.html.twig' %}

    <section class="banner py-5">
        <div class="container-large">
            <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
                <div class="mb-4 mb-lg-0 d-lg-flex align-items-lg-center">
                    <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_app-icn.svg" class="d-none d-lg-inline lozad" alt="so-sure App Icon">
                    <div class="banner__text text-center text-lg-left ml-lg-4">
                        <h2 class="h4 text-white">Mobile insurance <br class="d-md-none"> designed for you</h2>
                        <p class="lead text-white">Cover your phone in minutes </p>
                    </div>
                </div>
                <div class="banner__controls text-center text-lg-left">
                    <a href="#"
                       class="btn btn-outline-white watch-video btn-block-xs mr-sm-2"
                       data-event="watch-video-index-bottom-banner"
                       data-toggle="modal"
                       data-target="#sosure-video-modal"
                       data-src="https://www.youtube.com/embed/QEskwqsNgrQ">
                        <i class="far fa-play-circle fa-lg opacity-50 mr-1"></i>
                        Watch our Video
                    </a>
                    <a href="#" class="btn btn-success btn-block-xs get-a-quote disabled">Get a Quote</a>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/homepage.js') }}"></script>
    <script src="{{ asset('css-js/homepageB.js') }}"></script>
{% endblock %}
