{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'phone-insurance-homepage' %}
{% set include_get_a_quote = true %}
{% set robots_noindex = is_noindex %}

{% block title %}SO-SURE | Social Insurance That's Better{% endblock %}
{% block meta %}
    <meta name="description" content="The future of insurance has arrived (and it's up to 80% cheaper when you connect with friends & don't claim). Available on hundreds of models from SO-SURE."/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}

{% block schema %}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@graph":
    [
        {
            "@type" : "Organization",
            "url": "https://wearesosure.com/",
            "legalName": "SO-SURE Ltd",
            "location": {
                "@type": "Place",
                "address": {
                  "@type": "PostalAddress",
                  "addressLocality": "City of London",
                  "addressRegion": "London",
                  "postalCode": "EC3V 0EE",
                  "streetAddress": "55 Gracechurch Street"
                },
                "name": "6th Floor"
            },
            "logo": "{{ cdn_url }}/images/rebrand/logo/so-sure_logo_square.png",
            "description": "The future of insurance has arrived (and it's up to 80% cheaper when you connect with friends & don't claim). Available on hundreds of models from SO-SURE.",
            "sameAs": [
                "https://twitter.com/wearesosure",
                "https://www.facebook.com/wearesosure",
                "https://www.instagram.com/wearesosure"
            ]
        },
        {
            "@type" : "WebSite",
            "url": "https://wearesosure.com/"
        }
    ]
}
</script>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container-large">
            <div class="row">
                <div class="col-lg-5">
                    <div class="hero-left">
                        <h1 class="hero-heading">
                            Finally,<br>
                            Insurance That's a
                            <span class="text-nowrap">Win-Win!</span>
                        </h1>
                        <p class="lead text-white">SO-SURE makes it fast and easy to claim when you need us. And when you don’t? We reward you with up to 80% of your premium back.</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-right">
                        <img src="{{ cdn_url }}/images/onexone.png"
                         data-srcset="{{ cdn_url }}/images/rebrand/homepage/so-sure_homepage_hero_couple_moble.png 768w, {{ cdn_url }}/images/rebrand/homepage/so-sure_homepage_hero_couple_desktop.png 992w"
                         alt=""
                         class="img-fluid lozad">
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'AppBundle::Default/CommonSections/_cred.html.twig' %}

    <section class="products py-lg-5">
        <div class="container-large py-5">
            <h2 class="h3 text-primary mb-4 mb-md-2">Get Covered in Minutes</h2>
            <p class="d-none d-md-block mb-4 lead">It only takes a moment to lose or break something. Don’t risk it. <br /> SO-SURE can have you covered in a flash. 🙌</p>
            <div class="products-container">
                <div class="products-item">
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_holding-phone.png"
                         alt="SO-SURE Hand Holding Phone"
                         width="200px">
                    <h3 class="h4 products-item-heading">Mobile Phone Insurance</h3>
                    <h4><span class="sub">From only £{{ from_price }} monthly</span></h4>
                    <p class="text-primary">FREE month when you buy yearly</p>
                    <a href="#" class="btn btn-success get-a-quote disabled mb-2">Get a quote</a><br>
                    <a href="{{ path('phone_insurance') }}" class="btn btn-link">Learn more</a>
                    <p>Get cover for top brands including Apple, Samsung, Google, HTC, Sony, and Huawei.</p>
                </div>
                <div class="products-item">
                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_home_contents.png"
                         alt="SO-SURE Home Contents"
                         width="200px">
                    <h3 class="h4 products-item-heading">Contents Insurance</h3>
                    <h4><span class="sub">From only £2.80 monthly</span></h4>
                    <p class="text-primary">FREE month when you buy yearly</p>
                    <a href="{{ home_contents_funnel }}" class="btn btn-success mb-2">Get a quote</a><br>
                    <a href="{{ path('contents_insurance') }}" class="btn btn-link">Learn more</a>
                    <p>Protect your belongings, from laptops and coffee machines to the food in your freezer.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="why-insure py-lg-5">
        <div class="container-large py-5">
            <h2 class="h3 mb-5">Why Insure with <span class="text-nowrap">SO-SURE?</span></h2>
            <div class="why-insure-content">
                <div class="card box-shadow mr-5 mb-4 w-100">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/homepage/so-sure_contents_one.jpg"
                         class="lozad card-img-top"
                         alt="SO-SURE Fast Claims">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Fast, Fuss-Free Claims</h4>
                        <p class="card-text">Our easy three-step process takes the pain out of claims. And once approved, we aim to have your item repaired or replaced within 24-72 hours.</p>
                        {# <a href="{{ path('phone_insurance') }}" class="btn btn-link">Learn more</a> #}
                    </div>
                </div>
                <div class="card box-shadow mr-5 mb-4 w-100">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/homepage/so-sure_contents_two.jpg"
                         class="lozad card-img-top"
                         alt="SO-SURE Save On Excees">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Save £££ On Your Excess</h4>
                        <p class="card-text">With the SO-SURE app, simply snap a photo of your phone or build your contents insurance inventory and save money on your excess</p>
                        {# <a href="{{ path('phone_insurance') }}" class="btn btn-link">Learn more</a> #}
                    </div>
                </div>
                <div class="card box-shadow mb-4 w-100">
                    <img src="{{ cdn_url }}/images/onexone.png"
                         data-src="{{ cdn_url }}/images/rebrand/homepage/so-sure_contents_three.jpg"
                         class="lozad card-img-top"
                         alt="SO-SURE Reward Pot">
                    <div class="card-body py-4 text-center">
                        <h4 class="h5 text-primary card-title">Up to 80% Cashback</h5>
                        <p class="card-text">When you connect your policy with your friends and family, you can earn up to 80% of your premium back each year if none of you makes a claim.</p>
                        {# <a href="{{ path('phone_insurance') }}" class="btn btn-link">Learn more</a> #}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'AppBundle::Components/_reviews.html.twig' %}

    <section class="app py-lg-5">
        <div class="container-large py-5">
            <h2 class="h3 text-white mb-5">Unlock the Benefits of <span class="text-deep-sky-blue-d text-nowrap">SO-SURE</span> with Our App</h2>
            <div class="app-buttons">
                <div class="app-button">
                    <a href="{{ apple_download('homepage-banner') }}"
                    class="ga-outbound-click"
                    data-clicklabel="iTunes"
                    target="_blank"
                    rel="noopener noreferrer">
                        <span class="sr-only">Download on the AppStore</span>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/homepage/app-store-btn.svg"
                             alt="App Store Button">
                    </a>
                    <div class="app-rating">4.7/5 Rating</div>
                </div>
                <div class="app-button">
                    <a href="{{ google_download('homepage-banner') }}"
                    class="ga-outbound-click"
                    data-clicklabel="PlayStore"
                    target="_blank"
                    rel="noopener noreferrer">
                        <span class="sr-only">Get it on Google Play</span>
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/homepage/google-play-btn.svg"
                             alt="Google Play Button">
                    </a>
                    <div class="app-rating">4.7/5 Rating</div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/homepage.js') }}"></script>
{% endblock %}
