{% if referral != '' %}
    {% set og_title = 'Join today & get rewarded' %}
    {% set og_image = cdn_url ~ '/images/so-sure-welcome.png' %}
{% endif %}
{% extends 'base.html.twig' %}

{% block title %}so-sure - Welcome to Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Download our app now to see how much you could save."/>
    <meta name="keywords" content="mobile phone insurance, social insurance"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/css/Default/index.css'
    '@AppBundle/Resources/public/css/Default/homepage.css'
    '@AppBundle/Resources/public/css/Default/selectPhoneMake.css'
    '@AppBundle/Resources/public/css/Default/scrollindicator.css'
    '@AppBundle/Resources/public/css/Default/modal.css'        
    '@AppBundle/Resources/public/css/Default/videoOverlay.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/vimeo-player-js/player.min.js'        
    '@AppBundle/Resources/public/js/Default/index.js'
    '@AppBundle/Resources/public/js/Default/modalVideo.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}

    <!-- Background image https://pixabay.com/en/audience-band-blur-celebration-1867983/ -->

    <section class="hero" id="get-quote">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <h1>
                        Better &amp; Cheaper <br>
                        <span class="h1-sub">Even greater with friends</span>
                    </h1>
                    <blockquote class="text-left text-grey hidden-xs">
                        <p class="lead">Every year, there are 8 million incidents of lost, stolen or damaged phones – that’s 1 every 4 seconds.</p>
                        <footer><em class="text-grey-blue">YouGov/Assurant, 2015</em></footer>
                    </blockquote>                           
                </div>
                <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">

                    <div class="hero-box">
                        <h2 class="text-white text-center">Most popular phones</h2>

                        <ul class="list-unstyled hero-list">
                            <li>
                                <a class="hero-link" href="{{ path('quote_make_model_memory', {'make': i6s.make, 'model': i6s.getEncodedModel(), 'memory': i6s.memory}) }}">
                                    <img class="" src="{{ cdn_url }}/images/home/phone-logos/iphone_6s_logo_light.svg" width="180" />
                                    <br class="hidden-md hidden-lg">
                                    From £{{ i6s.getCurrentPhonePrice().getMonthlyPremiumPrice() }}
                                </a>                                
                            </li>
                            <li>
                                <a class="hero-link" href="{{ path('quote_make_model_memory', {'make': i7.make, 'model': i7.getEncodedModel(), 'memory': i7.memory}) }}">
                                    <img class="" src="{{ cdn_url }}/images/home/phone-logos/apple_iphone_7_logo_light.svg" width="180"  />
                                    <br class="hidden-md hidden-lg">
                                    From £{{ i7.getCurrentPhonePrice().getMonthlyPremiumPrice() }}
                                </a>
                            </li>
                            <li>
                                <a class="hero-link" href="{{ path('quote_make_model_memory', {'make': s7.make, 'model': s7.getEncodedModel(), 'memory': s7.memory}) }}">
                                    <img class="" src="{{ cdn_url }}/images/home/phone-logos/samsung_galaxy_s7_logo_light.svg" width="180" />
                                    <br class="hidden-md hidden-lg">
                                    From £{{ s7.getCurrentPhonePrice().getMonthlyPremiumPrice() }}
                                </a>
                            </li>
                        </ul>  
                    </div>   
                    <div class="text-center">
                        <a class="btn btn-success btn-rounded btn-lg" data-toggle="modal" data-target="#quoteModel">Get a quote</a>                            
                    </div>    
                </div>                 
            </div>
        </div>
    </section>    

    {% include 'AppBundle::Default/press.html.twig' %}

    {% include 'AppBundle::Default/benefits.html.twig' %}

    {% include 'AppBundle::Default/howItWorksVideo.html.twig' %}   

    {% include 'AppBundle::Default/feedbackQuotes.html.twig' %}

    {% include 'AppBundle::Default/footerCta.html.twig' %}

    <section class="press">
        <div class="container">
            <div class="col-sm-3 col-md-2 col-md-offset-3">
                <h4 class="footer-press--heading">
                    <strong><small>IN PARTNERSHIP WITH</small></strong>
                </h4>
            </div>
            <div class="col-sm-3 col-md-2">
                <img src="{{ cdn_url }}/images/munichre-logo.png" alt="Munich RE">
            </div>    
            <div class="col-sm-3 col-md-2">
                <img src="{{ cdn_url }}/images/salva-logo.png" alt="Salva">
            </div>                        
        </div>
    </section>   

    {# Page Modals #}         

    {% include 'AppBundle::Default/modalVideo.html.twig' %}    

    <div class="modal modal-switching fade" 
         id="switchingModal" 
         tabindex="-1" 
         role="dialog" 
         aria-labelledby="Switch to so-sure" 
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3>Want to switch to so-sure?</h3>
                </div>
                <div class="modal-body">
                    <p><strong>Switching to so-sure is easy. Just follow these steps:</strong></p>
                    <ol>
                        <li>Contact your existing insurance provider and request to cancel your policy. Check on their website but often you can email them and, at most, give them a 30 day notice.</li>
                        <li>Download the so-sure app and purchase your new policy from so-sure.</li>
                    </ol>
                    <p class="text-center"><button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Got it!</button></p>
                </div>
            </div>
        </div>
    </div>      

    {% include 'AppBundle::Default/modalQuote.html.twig' %}    

    {# End Page Modals #}       

{% endblock %}