{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'landing' %}

{% block title %}so-sure - Welcome to Social Insurance with money.co.uk{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/landing.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="container container-xtra">
            <div class="hero__intro">
                <h1 class="mb-2 text-white">Mobile Insurance that's Simply Better</h1>
                <p class="lead text-columbia-blue-e mb-5">See how we measure up</p>
            </div>
            <div class="hero__controls">
                <a href="#" class="btn btn btn-outline-columbia-blue-e btn-block-xs get-a-quote  mb-5">Get Insured  <i class="far fa-arrow-right fa-sm ml-2"></i></a>
            </div>
            {% include 'AppBundle::Default/_comparisonTable.html.twig' %}
            <p class="updated-text mt-2"><em class="text-center"><small>Information checked on September 1st 2018</small></em>
            <div class="hero__partner-logo d-flex justify-content-center align-items-center mt-5">
                <h6 class="text-zaffre mr-3">As seen on:</h6>
                <img src="{{ cdn_url }}/images/moneycouk.png" alt="money.co.uk" width="120px">
            </div>
        </div>
        </p>
        <svg class="d-none d-md-block" preserveAspectRatio="xMinYMin meet" viewBox="0 0 750 77" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(0.000000, -72.000000)" fill="#ffffff">
                    <g id="---BG---" transform="translate(-4700.000000, -8443.000000)">
                        <path d="M4700,8515 C4824,8551 4948.66667,8569 5074,8569 C5199.33333,8569 5324.66667,8551 5450,8515 L5450,8592 L4700,8592 L4700,8515 Z" id="Rectangle"></path>
                    </g>
                </g>
            </g>
        </svg>
    </section>

    <section class="comparison">
        <div class="container container-xtra">
        </div>
    </section>

    <section class="why pb-lg-5">
        <div class="container container-xtra pb-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="why__container">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="so-sure - 24-72 hour replacement" width="180px">
                        <h4 class="text-dodger-blue">24-72 hour replacement</h4>
                        {# <p>We understand it’s stressful to be without your phone, that’s why we aim to get you back up and running quickly after your claim is approved</p> #}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="why__container">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_wallet-cashback.png" alt="so-sure - Up to 80% money back"width="180px">
                        <h4 class="text-dodger-blue">Up to 80% money back</h4>
                        {# <p>We reward our careful customers. If you and your connections don’t make a claim we return up to 80% of your premium back at the end of every policy year</p> #}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="why__container">
                        <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-qr.png" alt="so-sure - Low excess from just £50" width="180px">
                        <h4 class="text-dodger-blue">Low excess from just &pound;50</h4>
                        {# <p>Our excess is as low as &pound;50 for accidental damage and &pound;70 for loss and theft when you validate your phone with our anti-fraud technology. If you don't validate your phone with our app, the excess is &pound;150</p> #}
                    </div>
                </div>
            </div>
            <div class="text-center mt-5">
                <a href="#" class="btn btn-primary btn-block-xs get-a-quote">Get Insured in minutes</a>
            </div>
        </div>
    </section>

    {# Cover #}
    {% include 'AppBundle::Default/CommonSections/cover.html.twig' %}

    {# We do things differently #}
    {% include 'AppBundle::Default/CommonSections/weDoThingsDifferently.html.twig' %}

    <section class="reviews py-lg-5">
        <div class="container container-xtra py-5">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="h3 mb-4 text-zaffre text-center text-lg-left">Don't just take our <br class="d-inline d-sm-none"> word for it!</h2>
                    <div id="reviews_carousel"
                         class="carousel slide carousel-fade"
                         data-ride="carousel"
                         data-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="reviews__item text-center text-lg-left">
                                    <span class="mt-2">
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                    </span>
                                    <p class="lead py-4">"My so-sure claim was super fast and everyone was really friendly! Based on previous phone insurance experiences, I can honestly say this truly is a revolution"</p>
                                    <div class="reviews__footer mb-4">
                                        <span class="h5 text-zaffre mr-2">Nick B</span> <strong class="text-primary">|</strong> <span class="ml-2">so-sure customer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="reviews__item text-center text-lg-left">
                                    <span class="mt-2">
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                    </span>
                                    <p class="lead py-4">"Very happy with these guys, my phone was badly cracked after a fall, they picked it up, repaired it good as new in 2 days!  Claims team very nice, would highly recommend"</p>
                                    <div class="reviews__footer mb-4">
                                        <span class="h5 text-zaffre mr-2">Tommy P</span> <strong class="text-primary">|</strong> <span class="ml-2">so-sure customer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="reviews__item text-center text-lg-left">
                                    <span class="mt-2">
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                        <i class="fas fa-star fa-lg text-primary"></i>
                                    </span>
                                    <p class="lead py-4">"Only paid 50 quid excess for my iphone X which is fab, app is really easy to use and a lady called kitti was very helpful in the claim and getting me my new phone"</p>
                                    <div class="reviews__footer mb-4">
                                        <span class="h5 text-zaffre mr-2">Paulo R</span> <strong class="text-primary">|</strong> <span class="ml-2">so-sure customer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__controls text-center text-lg-left">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#reviews_carousel"
                                   class="reviews__controls__prev pr-1"
                                   role="button"
                                   data-slide="prev">
                                   <i class="far fa-long-arrow-alt-left fa-2x"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#reviews_carousel"
                                   class="reviews__controls__next pl-1"
                                   role="button"
                                   data-slide="next">
                                    <i class="far fa-long-arrow-alt-right fa-2x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}
    {% include 'AppBundle::PhoneInsurance/_policyInfoModals.html.twig' %}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/landing.js') }}"></script>
{% endblock %}
