{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}
{% set homepage = 1 %}

{% block title %}so-sure - Welcome to Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    'components/animate.css/animate.min.css'
    '@AppBundle/Resources/public/sass/page/homepageAB.scss'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    {# Hero #}
    <section class="homepage--hero homepage--hero-background">

        <h1 class="homepage--hero-h1">Mobile insurance <br> designed for you.</h1>
        <p class="lead">A new type of phone insurance that’s reliable, rewarding and simply better.</p>

        {# Phone Search #}
        {% if device_category() == 'Mobile' %}
            {% set select_template = 'AppBundle:Default:selectPhoneMakeDropdown' %}
        {% else %}
            {% set select_template = 'AppBundle:Default:selectPhoneMakeSearch' %}
        {% endif %}
        {% if phone is defined and phone %}
            {{ render(controller(select_template, {
                'type': 'homepage-sticky',
                'id': phone.id
            }|merge(app.request.query.all))) }}
        {% else %}
            {{ render(controller(select_template, {
                'type': 'homepage-sticky',
            }|merge(app.request.query.all))) }}
        {% endif %}
        {# End Phone Search #}

        {# TrustBox widget - Mini #}
        <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="588f81d20000ff00059bc1e1" data-style-height="24px" data-style-width="100%" data-theme="light" style="margin:25px 0 0;">
        <a href="https://uk.trustpilot.com/review/wearesosure.com" target="_blank" rel="noopener noreferrer">Trustpilot</a>
        </div>
        {# End TrustBox widget #}
    </section>

    {# What we are #}
    <section class="section--pad homepage--who-we-are">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="text-blue text-center">Who we are</h2>
                    <h3 class="h-light text-center">We're a new kind of insurer – an insurer that's focused on people, not profits. We saw an opportunity to make insurance better. So that’s what we did. We provide mobile insurance that’s simple, reasonable and hassle-free, so you can get back to worrying about the big stuff.</h3>
                </div>
            </div>
        </div>
    </section>

    {# Press #}
    <section class="homepage__press homepage__press_grayscale">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="list-inline text-center">
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_defaqto.svg" alt="Defaqto" title="Defaqto" class="homepage__press_defaqto"></li>
                        {# <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_trustpilot.svg" alt="TrustPilot" title="TrustPilot" class="homepage__press_trustpilot"></li> #}
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_money.svg" alt="Money.co.uk" title="Money.co.uk" class="homepage__press_money"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_go-compare.svg" alt="Go Compare" title="Go Compare" class="homepage__press_gocompare"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_theguardian.svg" alt="The Guardian" title="The Guardian" class="homepage__press_theguardian"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_financial-times.svg" alt="Financial Times" title="Financial Times" class="homepage__press_financialtimes"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section--pad homepage--we-do-things-differently">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <h2 class="text-blue">We do things differently</h2>
                    <p>We insure devices of up to three years old</p>
                    <p>We reward you when you’re careful and look after you when you need to make a claim. If you don’t make a claim, we return up to 80% of your premium each year... <a class="text-nowrap" href="{{ path('faq') }}?nav=1#social-insurance-and-reward-pot"><strong>find out more</strong></a></p>
                    <p>If you make a claim, we'll get you back up and running with a replacement phone in the 24-72 hours after your claim is approved</p>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <h2 class="text-blue">We've got you covered</h2>
                    <ul class="list-unstyled fa-list-bullet">
                        <li><i class="fa fa-check fa-lg text-green" aria-hidden="true"></i> Loss</li>
                        <li><i class="fa fa-check fa-lg text-green" aria-hidden="true"></i> Theft</li>
                        <li><i class="fa fa-check fa-lg text-green" aria-hidden="true"></i> Accidental damage</li>
                        <li><i class="fa fa-check fa-lg text-green" aria-hidden="true"></i> Out-of-warranty breakdowns</li>
                        <li><i class="fa fa-check fa-lg text-green" aria-hidden="true"></i> International travel</li>
                        <li><i class="fa fa-check fa-lg text-green" aria-hidden="true"></i> Up to 80% cashback every year</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section--pad background-off-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-1">
                    <h2 class="text-blue">We're here if you need us</h2>
                    <p class="lead"><strong>We give you a phone back in your hands within 24-72 hours after your claim is approved.</strong></p>
                    <p>How? We have a proprietary technology, called <a href="#" data-toggle="modal" data-target="#modal-pic-sure"><strong>pic-sure</strong></a>, which allows us to verify the functioning of your phone when you insure it.</p>
                    <p>That means that your claim process is much quicker, your excess is reduced to just &pound;50 for accidental damage and &pound;70 for loss and theft, and you will be treated on the phone with compassion, not an interrogation.</p>
                    <ul class="list-inline text-center">
                        <br>
                        <li>
                            <a class="ga-outbound-click" data-clicklabel="iTunes" href="{{ apple_download('homepage-picsure') }}" target="_blank" rel="noopener noreferrer">
                                <img src="{{ cdn_url }}/images/icons/app-store-original.svg" alt="Download so-sure on the App Store" /><span class="sr-only">so-sure app - Apple App Store</span>
                            </a>
                        </li>
                        <li>
                            <a class="ga-outbound-click" data-clicklabel="PlayStore" href="{{ google_download('homepage-picsure') }}" target="_blank" rel="noopener noreferrer">
                                <img src="{{ cdn_url }}/images/icons/google-play-original.svg" alt="Get so-sure on Google Play" /><span class="sr-only">so-sure app - Google Play</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 hidden-xs">
                    <img src="{{ cdn_url }}/images/homepage/iphone_x_so-sure_app.svg" alt="" width="200px;" class="img-center">
                </div>
            </div>
        </div>
    </section>

    {# Claims procss #}
    <section class="section--pad homepage--claims-process">
        <div class="container">
            <h2 class="text-blue">Our hassle-free claims process...</h2>
            <p class="lead">When something bad happens to your phone:</p>
            <div class="row">
                <div class="col-md-4">
                    <span class="large-no large-no--arrow">1</span>
                    <h4 class="h3 text-blue">Contact Claims Team</h4>
                    <p>Let us know what happened. You can do this by <a href="{{ path('claim') }}" class="text-nowrap"><strong>filling in this form</strong></a>, or <strong>calling our claims team on 0113 320 9722</strong> <small>(local rates apply)</small></p>
                </div>
                <div class="col-md-4">
                    <span class="large-no large-no--arrow">2</span>
                    <h4 class="h3 text-blue">Review Claim</h4>
                    <p>Our UK based claims team will review your claim and reach out with a request for any further details or documents (if necessary). <strong>We aim to do this within a matter of hours during UK business hours</strong>.</p>
                </div>
                <div class="col-md-4">
                    <span class="large-no">3</span>
                    <h4 class="h3 text-blue">Approve Claim</h4>
                    <p>Once your claim is approved, we take your excess payment over the phone and aim to <strong>get a replacement phone in the 24-72 hours after</strong>. If you prefer to have your phone repaired, it may take more time.</p>
                </div>
            </div>
        </div>
    </section>

    {# How do the reward pot work? #}
    <section id="reward-pot" class="section--pad homepage--how-does-the-reward-pot-work">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="text-blue">Money Back when you dont claim</h2>
                    <p class="lead">You can get up to 80% of your premium back at the end of your policy year when you and your friends don’t claim. Why? Our model has been built on sharing the margins with our users... <a href="{{ path('faq') }}#social-insurance-and-reward-pot" class="text-blue"><strong>find out more</strong></a></p>
                    <div class="video-container">
                        <iframe id="exp-vid" src="https://player.vimeo.com/video/185840373??api=1&player_id=vimeoplayer&title=0&byline=0&portrait=0" width="800" height="450"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Comparison #}
    <section class="section--pad homepage--we-compare-well">
        <div class="container">
            <h2 class="text-center text-blue">What makes so-sure better than the rest?</h2>
            <p class="lead text-center">Our customers love us – that’s thousands have joined the so-sure family. <br class="hidden-xs"> But what makes so-sure better than the rest?</p>
            <table class="table hidden-xs">
                <thead>
                    <tr>
                        <td width="50%" class="h3 contrast">Traditional Insurers</td>
                        <td width="50%" class="sosure">
                            <img data-src="{{ cdn_url }}/images/logo/so-sure_so-sure-full-logo-blue-flat.svg"
                                 alt="so-sure"
                                 width="120px"
                                 class="lozad">
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="contrast">4-18 days wait on average</td>
                        <td class="sosure">24-72 hour replacement once your claim is approved</td>
                    </tr>
                    <tr>
                        <td class="contrast">Cover starts after 14 days</td>
                        <td class="sosure">Immediate cover</td>
                    </tr>
                    <tr>
                        <td class="contrast">Only phones purchased within 30 days are covered</td>
                        <td class="sosure">Refurbished and second-hand devices up to 3 years old are covered</td>
                    </tr>
                    <tr>
                        <td class="contrast">You'll need to have a law degree to understand the terms</td>
                        <td class="sosure">Plain English Terms &amp; Conditions</td>
                    </tr>
                    <tr>
                        <td class="contrast">Unnecessarily expensive</td>
                        <td class="sosure">We’re up to 40% cheaper</td>
                    </tr>
                </tbody>
            </table>
            <table class="table visible-xs">
                <thead>
                    <tr>
                        <td width="50%" class="h3 contrast">Traditional Insurers</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="contrast">They make you wait between 4 - 18 days to replace your phone</td>
                    </tr>
                    <tr>
                        <td class="contrast">Their cover takes 14 days to kick in</td>
                    </tr>
                    <tr>
                        <td class="contrast">They only cover shiny new phones</td>
                    </tr>
                    <tr>
                        <td class="contrast">They love jargon</td>
                    </tr>
                    <tr>
                        <td class="contrast">They are expensive</td>
                    </tr>
                </tbody>
            </table>
            <table class="table visible-xs">
                <thead>
                    <tr>
                        <td width="50%" class="sosure">
                            <img data-src="{{ cdn_url }}/images/logo/so-sure_so-sure-full-logo-blue-flat.svg"
                                 alt="so-sure"
                                 width="120px" class="lozad">
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="sosure">24-72 hour replacement once your claim is approved</td>
                    </tr>
                    <tr>
                        <td class="sosure">We cover you from day one</td>
                    </tr>
                    <tr>
                        <td class="sosure">We cover phones up to three years old (and don’t need to see your receipt)</td>
                    </tr>
                    <tr>
                        <td class="sosure">We love keeping communication simple</td>
                    </tr>
                    <tr>
                        <td class="sosure">We’re up to 40% cheaper (yes, you read that right)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    {# Quotes #}
    <section class="section--pad homepage--feedback" id="customer-feedback">
        <div class="container">
            <h2 class="text-blue">Our Customers Love Us</h2>
            <div class="row">
                <div class="col-md-4">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/feedback/so-sure_feedback_honor_b.png"
                         alt="Honor B"
                         width="120px" class="lozad">
                    <blockquote>
                        <p>"Your terms and conditions are so clear and concise it makes the customer feel like you actually care about them"</p>
                        <footer>
                            Honor B.
                        </footer>
                    </blockquote>
                </div>
                <div class="col-md-4">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/feedback/so-sure_feedback_herve_n.png"
                         alt="Herve N"
                         width="120px" class="lozad">
                    <blockquote>
                        <p>"My so-sure claim was super fast and everyone was really friendly! Based on previous phone insurance experiences, I can honestly say this truly is a revolution"</p>
                        <footer>
                            Herve N.
                        </footer>
                    </blockquote>
                </div>
                <div class="col-md-4">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/feedback/so-sure_feedback_ted_e.png"
                         alt="Ted E"
                         width="120px" class="lozad">
                    <blockquote>
                        <p>"After the 1st year, I got 71% money back. I used it to spruce up my new apartment. Never imagined my phone insurance would pay my IKEA bill!"</p>
                        <footer>
                            Ted E.
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>


    {# Instant Quote #}
    <section class="homepage--instant-quote">
        <div class="container">
            <h2 class="text-center text-blue">Get your instant quote</h2>
            {# Phone Search #}
            {% if phone is defined and phone %}
                {{ render(controller('AppBundle:Default:selectPhoneMakeSearch', {
                    'type': 'footer',
                    'id': phone.id
                })) }}
            {% else %}
                {{ render(controller('AppBundle:Default:selectPhoneMakeSearch', {
                    'type': 'footer',
                })) }}
            {% endif %}
            {# End Phone Search #}
        </div>
    </section>

    {# Page Modals #}
    <div class="modal fade"
         id="modal-pic-sure"
         tabindex="-1"
         role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3 class="text-center">Here pic-sure Works</h3>
                </div>
                <div class="modal-body">
                    <ol class="ol--blue-counter ol--blue-counter__line">
                        <li class="clearfix">
                            <img src="{{ cdn_url }}/images/homepage/pic-sure_steps_homepage_1.svg" alt="Get covered in less than 2 minutes through our app or website" class="img-center">
                            <span>Get covered in less than 2 minutes through our app or website</span>
                        </li>
                        <li class="clearfix">
                            <img src="{{ cdn_url }}/images/homepage/pic-sure_steps_homepage_2.svg" alt="Login and validate your phone with pic-sure in seconds" class="img-center">
                            <span>Login and validate your phone with pic-sure in seconds</span>
                        </li>
                        <li class="clearfix">
                            <img src="{{ cdn_url }}/images/homepage/pic-sure_steps_homepage_3.svg" alt="Hooray, your excess is reduced and we know you're honest :)" class="img-center">
                            <span>Hooray, your excess is reduced and we know you're honest :)</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/lozad/lozad.min.js'
    'components/dot/doT.min.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/images.js'
    '@AppBundle/Resources/public/js/Default/homepage.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeSearch.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeDropdown.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
