{% if referral != '' %}
    {% set og_title = 'Join today & get rewarded' %}
    {% set og_image = cdn_url ~ '/images/so-sure-welcome.png' %}
{% endif %}
{% extends 'base.html.twig' %}

{% block title %}so-sure - Welcome to Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Download our app now to see how much you could save."/>
    <meta name="keywords" content="mobile phone insurance, social insurance"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/app/css/Default/index.css'
    'bundles/app/css/Default/scrollindicator.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/Default/index.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <section class="hero light-gradient align-middle">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <h1 class="text-left">Insure your phone with friends.
                                <br>Get up to 80% of your money back.
                            </h1>
                            <div style="padding-top: 20px;">
                                <p class="lead text-left">Introducing so-sure, a better kind of phone insurance that allows you to get up to 80% of your money back when you connect with those you trust &amp; none of you claim.</p>
                            </div>
                            <div class="row" style="padding-top: 20px;">
                                <div class="col-md-12 text-left">
                                    <a class="btn btn-primary" id="get-quote-btn">Get a quote</a>
                                    <a class="btn btn-info" id="learn-more-btn">Learn more
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="explainer-video">
                                <a href="" class="explainer-video-caption" data-toggle="modal" data-target="#modal-fullscreen">
                                    <img src="{{ cdn_url }}/images/home/explainer-video-overlay.png" class="">
                                    <div class="explainer-video-caption-hover"></div>
                                </a>
                              </div>
                                <div class="text-center">
                                        <h6 style="text-transform: uppercase">Discover how Social Insurance works</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="press">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h5 style="text-transform: uppercase">
              Featured in
            </h5>
          </div>
          <div class="col-sm-3">
            <a href="https://www.theguardian.com/technology/2016/sep/18/chatbots-talk-town-interact-humans-technology-silicon-valley" target="_blank"><img src="{{ cdn_url }}/images/home/press-images/guardian.png" alt="The Guardian - Why Facebook and Microsoft say chatbots are the talk of the town"></img></a>
          </div>
          <div class="col-sm-3">
            <a href="https://www.ft.com/content/6755beb8-320c-11e6-bda0-04585c31b153" target="_blank"><img src="{{ cdn_url }}/images/home/press-images/ft.png" alt="Financial Times - Innovation to watch: Friends based insurance"></img></a>
          </div>
          <div class="col-sm-3">
            <a href="http://www.postonline.co.uk/post/news/2466996/so-sure-prepares-to-launch-revolutionary-insurance-model" target="_blank"><img src="{{ cdn_url }}/images/home/press-images/ip.png" alt="Insurance Post - so-sure to launch revolutionary social peer-to-peer mobile insurance app"></img></a>
          </div>
        </div>
      </div>
    </section>

    <section class="benefits" id="benefits">
        <div class="container">
            <div class="row centered">
                <h2 class="text-center">Why we're better</h2>
                <p class="lead text-center" id="hero-description">We're committed to making it as easy as possible for you and your friends to get covered, get rewarded and make a claim.</p>
            </div>
            <div class="row centered">
                <div class="col-md-4">
                    <img src="{{ cdn_url }}/images/home/benefits-icons/safebox.png" alt="You're covered for theft, loss and accidental damage as standard."></img>
                    <h4 class="text-center">You're (actually) covered</h4>
                    <p class="text-center">For a small monthly fee, you're covered for theft, loss and accidental damage. Finally, the peace of mind you've been looking for.</p>
                </div>
                <div class="col-md-4">
                    <img src="{{ cdn_url }}/images/home/benefits-icons/coins.png" alt="We're already 30% cheaper than the networks before you connect with anyone!"></img>
                    <h4 class="text center">It's cheaper</h4>
                    <p class="text center">We're already 30% cheaper than the networks.<br>And you can get up to 80% of your money back when you connect with others and don't claim.</p>
                </div>
                <div class="col-md-4">
                    <img src="{{ cdn_url }}/images/home/benefits-icons/time_passing.png" alt=""></img>
                    <h4 class="text-center">Great service &amp; speedy replacement</h4>
                    <p class="text-center">24/7 UK-based claims support and once your claim is approved, we'll aim to get you a replacement phone the next-working day.</p>
                </div>
            </div>
        </div>
    </section>

    {% include 'AppBundle::Default/howItWorks.html.twig' %}

    <section class="popular-devices" id="get-quote">
        <div class="container">
            <h2>Get a quote</h2>
            <p class="lead text-center" id="hero-description">Find out how much you could save when you insure your phone with us and connect with friends &amp; family.</p>
            <div class="row" id="select-phone">
                <div class="col-sm-12 text-center">
                    <div class="device-select">
                        {{ form_start(form_phone) }}
                        <div class="input-group">
                            {{ form_widget(form_phone.phone, { 'attr': {'class': 'form-control'}}) }}
                            <span class="input-group-btn text-center">
                                {{ form_widget(form_phone.next, {'label': 'Quote me', 'attr': {'class': 'btn btn-primary'}}) }}
                            </span>
                        </div>
                        {{ form_end(form_phone) }}
                    </div>
                </div>
                <p class="text-center">
                    <a href="mailto:hello@wearesosure.com">Don't see your device? Let us know.</a>
                </p>
            </div>
        </div>

        <div class="text-break">
            <div class="line"></div>
            OR
            <div class="line"></div>
        </div>

        <div class="container">
            <p class="lead text-center" id="hero-description">
                Select from our most popular devices.
            </p>
            <div class="row">
                <div class="col-md-4">
                    <div id="device-logo">
                        <img src="{{ cdn_url }}/images/home/phone-logos/Apple_iPhone_7_Logo.svg" alt="Get your iPhone 7 insured today!"></img>
                        <div id="memory-select">
                            <h4>Select memory</h4>
                            <ul>
                                <li>
                                    <a href="{{ path('quote_make_model_memory', {'make': 'Apple', 'model': 'iPhone 7', 'memory': '32'}) }}">32GB</a>
                                </li>
                                <li>
                                    <a href="{{ path('quote_make_model_memory', {'make': 'Apple', 'model': 'iPhone 7', 'memory': '128'}) }}">128GB</a>
                                </li>
                                <li>
                                    <a href="{{ path('quote_make_model_memory', {'make': 'Apple', 'model': 'iPhone 7', 'memory': '256'}) }}">256GB</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="device-logo">
                        <img src="{{ cdn_url }}/images/home/phone-logos/Samsung_Galaxy_S7_logo.svg" alt="Get your Samsung Galaxy S7 insured today!"></img>
                        <div id="memory-select">
                            <h4>Select memory</h4>
                            <ul>
                                <li>
                                    <a href="{{ path('quote_make_model_memory', {'make': 'Samsung', 'model': 'Galaxy S7', 'memory': '32'}) }}">32GB</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="device-logo">
                        <img src="{{ cdn_url }}/images/home/phone-logos/IPhone_6s_Logo.svg" alt="Get your iPhone 6S insured today!"></img>
                        <div id="memory-select">
                            <h4>Select memory</h4>
                            <ul>
                                <li>
                                    <a href="{{ path('quote_make_model_memory', {'make': 'Apple', 'model': 'iPhone 6S', 'memory': '16'}) }}">16GB</a>
                                </li>
                                <li>
                                    <a href="{{ path('quote_make_model_memory', {'make': 'Apple', 'model': 'iPhone 6S', 'memory': '64'}) }}">64GB</a>
                                </li>
                                <li>
                                    <a href="{{ path('quote_make_model_memory', {'make': 'Apple', 'model': 'iPhone 6S', 'memory': '128'}) }}">128GB</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="social-proof">
    <div class="container">
        <h2>Why insurance needs to change</h2>
        <p class="lead text-center" id="hero-description">Don't take our word for it, just look at these disgruntled people. This is why we're commited to giving you the best possible experience.</p>
        <div class="row centered">
            <div class="col-md-4">
                <blockquote class="twitter-tweet" lang="en">
                    <p lang="en" dir="ltr">
                        <a href="https://twitter.com/AskNationwide">@AskNationwide</a>
                        why is your mobile phone insurance claim process via paper and post?
                        <a href="https://twitter.com/hashtag/1980s?src=hash">#1980s</a>
                        <a href="https://twitter.com/hashtag/slow?src=hash">#slow</a>
                        <a href="https://twitter.com/hashtag/needsarethink?src=hash">#needsarethink</a>
                    </p>&mdash; Kerrie Colford (@kerriecolford)
                    <a href="https://twitter.com/kerriecolford/status/684687370843779072">January 6, 2016</a>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote class="twitter-tweet" lang="en">
                    <p lang="en" dir="ltr">Bad service
                        <a href="https://twitter.com/AskLloydsBank">@AskLloydsBank</a>
                        Acc upgrade met with advisor saying &quot;computer says no&quot; just cos I didn&#39;t want your mobile insurance bundled in.</p>&mdash; Tom R. (@Tomptati0n)
                    <a href="https://twitter.com/Tomptati0n/status/614420014419083267">June 26, 2015</a>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote class="twitter-tweet" lang="en">
                    <p lang="en" dir="ltr">incredibly poor ecommerce experience from
                        <a href="https://twitter.com/EE">@EE</a>
                        apparently if you upgrade via the mobile site, they REMOVE your insurance!</p>&mdash; Robert Nicholson (@RobBothan)
                    <a href="https://twitter.com/RobBothan/status/684056441360105472">January 4, 2016</a>
                </blockquote>
            </div>
        </div>
    </div>
</section>

<div class="pre-footer">
    <div class="row">
        <div class="col-sm-6 col-a">
            <h4>
                <a href="http://help.wearesosure.com">Learn More</a>
            </h4>
            <p>Learn more about how Social Insurance works and why you should join us. We also cover all the basics to help you understand exactly what you're paying for.</p>
        </div>

        <div class="col-sm-6 col-b">
            <h4>
                <a href="https://wearesosure.zendesk.com/hc/en-us/articles/207523059-Our-mission">Our Mission</a>
            </h4>
            <p>Insurance is rubbish. We're making it better by returning it to
                <a href="https://blog.wearesosure.com/how-insurance-works-ccba082dcbe#.r4cj6kbnw" target="_blank">how it all started</a>. We call this Social Insurance. First mobile phones, then the world!</p>
        </div>
    </div>
</div>

<div class="modal modal-fullscreen fade" id="modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <div class="responsive-container">
        <iframe src="https://player.vimeo.com/video/185840373?autoplay=1&title=0&byline=0&portrait=0" width="1280" height="720" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
