{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}
{% set homepage = 1 %}

{% block title %}so-sure - Welcome to Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    'components/animate.css/animate.min.css'
    '@AppBundle/Resources/public/sass/page/homepage.scss'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    {# Hero #}
    <section class="homepage--hero homepage--hero-background homepage--hero-background-trustpilot">

        <h1 class="homepage--hero-h1">Mobile insurance <br> designed for you.</h1>
        <p class="lead">A new type of phone insurance that’s reliable, rewarding and simply better.</p>

        {# Phone Search #}
        {% if device_category() == 'Mobile' %}
            {% set select_template = 'AppBundle:Default:selectPhoneMakeDropdown' %}
        {% else %}
            {% set select_template = 'AppBundle:Default:selectPhoneMakeSearch' %}
        {% endif %}
        {% if phone is defined and phone %}
            {{ render(controller(select_template, {
                'type': 'homepage-sticky',
                'id': phone.id
            }|merge(app.request.query.all))) }}
        {% else %}
            {{ render(controller(select_template, {
                'type': 'homepage-sticky',
            }|merge(app.request.query.all))) }}
        {% endif %}
        {# End Phone Search #}

        <div id="hero-character_1"
             class="homepage--hero__character">
            <div class="homepage--hero__tooltip animated tada"
                 data-content="Accidental damage cover, including cracked screen and water damage"></div>
        </div>
        <div id="hero-character_2"
             class="homepage--hero__character">
            <div class="homepage--hero__tooltip"
                 data-content="Worldwide travel cover for trips not exceeding 90 days"></div>
        </div>
        <div id="hero-character_3_and_4"
             class="homepage--hero__character clearfix">
            <div class="left">
                <div class="homepage--hero__tooltip"
                 data-content="Refurbished and second-hand device cover, for phones up to 3 years old"></div>
            </div>
            <div class="right">
                <div class="homepage--hero__tooltip"
                 data-content="Out of warranty breakdown cover"></div>
            </div>
        </div>
        <div id="hero-character_5_and_6"
             class="homepage--hero__character clearfix">
            <div class="left">
                <div class="homepage--hero__tooltip"
                 data-content="Theft and Loss cover as standard"></div>
            </div>
            <div class="right">
                <div class="homepage--hero__tooltip"
                 data-content="Unauthorised network charges cover (up to £1000 inc. VAT)"></div>
            </div>
        </div>
        <div id="hero-character_7"
             class="homepage--hero__character">
            <div class="homepage--hero__tooltip homepage--hero__tooltip__reward"
                 data-content="Next day phone replacement/repair or up to 80% of your money back when you and your friends don't claim"></div>
             </div>
        <div id="hero-character_8"
             class="homepage--hero__character">
            <div class="homepage--hero__tooltip"
                 data-content="Accessories cover (up to £100 inc. VAT) for theft and loss claim">
            </div>
        </div>
    </section>

    {# Press #}
    <section class="homepage__press homepage__press_grayscale">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="list-inline text-center">
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_defaqto.svg" alt="Defaqto" title="Defaqto" class="homepage__press_defaqto"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_trustpilot.svg" alt="TrustPilot" title="TrustPilot" class="homepage__press_trustpilot"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_money.svg" alt="Money.co.uk" title="Money.co.uk" class="homepage__press_money"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_go-compare.svg" alt="Go Compare" title="Go Compare" class="homepage__press_gocompare"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_theguardian.svg" alt="The Guardian" title="The Guardian" class="homepage__press_theguardian"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_financial-times.svg" alt="Financial Times" title="Financial Times" class="homepage__press_financialtimes"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {# What we are #}
    <section class="section--pad homepage--what-is-so-sure">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="text-blue h1 text-center">Who we are</h2>
                    <p class="big-text text-center">We’re a new kind of insurer – an insurer that’s focused on people, not profits. We saw an opportunity to make insurance better. So that’s what we did. We provide mobile insurance that’s simple, reasonable and hassle-free, so you can get back to worrying about the big stuff.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="curved-background curved-background__bg-blue hidden-xs">
        <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 2000 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" fill="#ffffff">
                    <path d="M0,0 L2000,0 L2000,139.921588 C1890.08746,181.703317 1753.08746,201.692115 1589,199.887983 C1424.91254,198.083852 1258.91254,174.763587 1091,129.927189 C918.666667,89.9495926 740,69.9607942 555,69.9607942 C370,69.9607942 185,113.269857 0,199.887983 L0,0 Z" id="Rectangle" transform="translate(1000.000000, 100.000000) scale(-1, 1) translate(-1000.000000, -100.000000) "></path>
                </g>
            </g>
        </svg>
    </div>

    {# Why we're better than the rest #}
    <section class="section--pad homepage--why-we-are-better">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <h2 class="h1 text-blue">We do things differently</h2>
                    <ul class="list-unstyled">
                        <li class="h3 h-light">so-sure aren’t like the old insurance giants who are preoccupied with profits not people – what we say is what you get.</li>
                        <li class="h4 h-light">We insure your long-time-loved devices of up to three years.</li>
                        <li class="h4 h-light">We reward you when you’re careful and look after you when bad stuff happens. If you don’t make a claim, we could return 80% of your premium each year.</li>
                        <li class="h4 h-light">If you make a claim, we’ll get you back up and running with a replacement between 24–72 hours.</li>
                    </ol>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <div class="img-container">
                        <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/homepage/so-sure_balloon_better.svg"
                             class="img-responsive img-responsive--center so-sure_homepage-balloon lozad" alt="We lift you up when something bad happens">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="curved-background hidden-xs">
        <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 2000 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" fill="#d6ebff">
                    <path d="M0,0 L2000,0 L2000,139.921588 C1890.08746,181.703317 1753.08746,201.692115 1589,199.887983 C1424.91254,198.083852 1258.91254,174.763587 1091,129.927189 C918.666667,89.9495926 740,69.9607942 555,69.9607942 C370,69.9607942 185,113.269857 0,199.887983 L0,0 Z" id="Rectangle" transform="translate(1000.000000, 100.000000) scale(-1, 1) translate(-1000.000000, -100.000000) "></path>
                </g>
            </g>
        </svg>
    </div>

    {# Cover Details #}
    <section class="section--pad homepage--cover-details">
        <div class="container">
            <h2 class="h1 text-blue">We've got you covered</h2>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="cover-img lozad theft"
                                 data-background-image="{{ cdn_url }}/images/homepage/whats_covered_sprite_2x.png"></div>
                            <h4>Theft <br><small class="hidden-xs">&nbsp;</small></h4>
                        </div>
                         <div class="col-sm-6 col-md-4">
                            <div class="cover-img lozad loss"
                                 data-background-image="{{ cdn_url }}/images/homepage/whats_covered_sprite_2x.png"></div>
                            <h4>Loss <br><small class="hidden-xs">&nbsp;</small></h4>
                        </div>
                      <div class="col-sm-6 col-md-4">
                            <div class="cover-img lozad accidental-damage"
                                 data-background-image="{{ cdn_url }}/images/homepage/whats_covered_sprite_2x.png"></div>
                            <h4>Accidental Damage <br><small>Including cracked screen &amp; water damage </small></h4>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="cover-img lozad breakdown"
                                 data-background-image="{{ cdn_url }}/images/homepage/whats_covered_sprite_2x.png"></div>
                            <h4>Out of Warranty Breakdown <br><small class="hidden-xs">&nbsp;</small></h4>
                        </div>
                       <div class="col-sm-6 col-md-4">
                            <div class="cover-img lozad charges"
                                 data-background-image="{{ cdn_url }}/images/homepage/whats_covered_sprite_2x.png"></div>
                            <h4>Unauthorised Network Charges <br><small >Up to the value of £1000 inc. VAT</small></h4>
                        </div>
                          <div class="col-sm-6 col-md-4">
                            <div class="cover-img lozad accessories"
                                 data-background-image="{{ cdn_url }}/images/homepage/whats_covered_sprite_2x.png"></div>
                            <h4>Accessories <br><small>Up to the value of £100 inc. VAT for theft or loss claims</small></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="curved-background curved-background__off-white hidden-xs">
        <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 2000 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" fill="#ffffff">
                    <path d="M0,0 L2000,0 L2000,139.921588 C1890.08746,181.703317 1753.08746,201.692115 1589,199.887983 C1424.91254,198.083852 1258.91254,174.763587 1091,129.927189 C918.666667,89.9495926 740,69.9607942 555,69.9607942 C370,69.9607942 185,113.269857 0,199.887983 L0,0 Z" id="Rectangle" transform="translate(1000.000000, 100.000000) scale(-1, 1) translate(-1000.000000, -100.000000) "></path>
                </g>
            </g>
        </svg>
    </div>

    <section class="section--pad background-off-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-1">
                    <h1 class="text-blue">We're here if you need us</h1>
                    <p class="lead"><strong>We give you a phone back in your hands within 24-72hrs.</strong></p>
                    <p>How? We have a proprietary technology, called pic-sure, which allows us to verify the functioning of your phone when you insure it.</p>
                    <p>That means that your claim process is much quicker, your excess gets slashed in half, and you will tbe treated on the phone with compassion, not interrogation.</p>
                </div>
                <div class="col-md-4">
                    <img src="{{ cdn_url }}/images/homepage/pic-sure_steps_homepage_2.svg" class="img-center" width="300px">
                </div>
            </div>
        </div>
    </section>

    <div class="curved-background curved-background__bg-blue hidden-xs">
        <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 2000 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" fill="#F6F7FB">
                    <path d="M0,0 L2000,0 L2000,139.921588 C1890.08746,181.703317 1753.08746,201.692115 1589,199.887983 C1424.91254,198.083852 1258.91254,174.763587 1091,129.927189 C918.666667,89.9495926 740,69.9607942 555,69.9607942 C370,69.9607942 185,113.269857 0,199.887983 L0,0 Z" id="Rectangle" transform="translate(1000.000000, 100.000000) scale(-1, 1) translate(-1000.000000, -100.000000) "></path>
                </g>
            </g>
        </svg>
    </div>

    {# How do the reward pot work? #}
    <section id="reward-pot" class="section--pad background-lightest-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="h1 text-blue">Money Back when you dont claim</h2>
                    <p class="lead">You can get up to 80% of your premium back at the end of your policy year when you and your friends don’t claim. Why? Our model has been built on sharing the margins with our users...</p>
                    <div class="video-container">
                        <iframe id="exp-vid" src="https://player.vimeo.com/video/185840373??api=1&player_id=vimeoplayer&title=0&byline=0&portrait=0" width="800" height="450"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <br>
                    <a href="{{ path('faq') }}#social-insurance-and-reward-pot" class="h3 text-blue text-underline">Find out more</a>
                </div>
            </div>
        </div>
    </section>

    {# Claims procss #}
    <section class="section--pad homepage--claims-process">
        <div class="container">
            <h2 class="h1 text-blue">Our hassle-free claims process...</h2>
            <p class="lead">When something bad happens to your phone:</p>
            <div class="row">
                <div class="col-md-4">
                    <span class="large-no large-no--arrow">1</span>
                    <h4 class="h3 text-blue">Contact Claims Team</h4>
                    <p>Let us know what happened. You can do this by <a href="{{ path('claim') }}" class="text-nowrap"><strong>filling in this form</strong></a>, or <strong>calling our claims team on 0344 856 0852</strong> <small>(local rates apply)</small></p>
                </div>
                <div class="col-md-4">
                    <span class="large-no large-no--arrow">2</span>
                    <h4 class="h3 text-blue">Review Claim</h4>
                    <p>Our UK based claims team will review your claim and reach out with a request for any further details or documents (if necessary). <strong>We aim to do this within a matter of hours during UK business hours</strong>.</p>
                </div>
                <div class="col-md-4">
                    <span class="large-no">3</span>
                    <h4 class="h3 text-blue">Approve Claim</h4>
                    <p>Once your claim is approved, we take your excess payment over the phone and aim to <strong>get a replacement phone in the next working day</strong>. If you prefer to have your phone repaired, it may take more time.</p>
                </div>
            </div>
        </div>
    </section>

    {# Comparison #}
    <section class="section--pad homepage--we-compare-well">
        <div class="container">
            <h2 class="text-center h1 text-blue">What makes so-sure better than the rest?</h2>
            <p class="lead text-center">Our customers love us – that’s why more than 20,000 have joined the so-sure family. <br class="hidden-xs"> But what makes so-sure better than the rest?.</p>
            <table class="table hidden-xs">
                <thead>
                    <tr>
                        <td width="50%" class="h3 contrast">Traditional Insurers</td>
                        <td width="50%" class="sosure">
                            <img data-src="{{ cdn_url }}/images/logo/so-sure_so-sure-full-logo-blue-flat.svg"
                                 alt="so-sure"
                                 width="120px"
                                 class="lozad">
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="contrast">4-18 days wait on average</td>
                        <td class="sosure">Next working day replacement</td>
                    </tr>
                    <tr>
                        <td class="contrast">Cover starts after 14 days</td>
                        <td class="sosure">Immediate cover</td>
                    </tr>
                    <tr>
                        <td class="contrast">Only phones purchased within 30 days are covered</td>
                        <td class="sosure">Refurbished and second-hand devices up to 3 years old are covered</td>
                    </tr>
                    <tr>
                        <td class="contrast">You'll need to have a law degree to understand the terms</td>
                        <td class="sosure">Plain English Terms &amp; Conditions</td>
                    </tr>
                    <tr>
                        <td class="contrast">Unnecessarily expensive</td>
                        <td class="sosure">We’re up to 40% cheaper</td>
                    </tr>
                </tbody>
            </table>
            <table class="table visible-xs">
                <thead>
                    <tr>
                        <td width="50%" class="h3 contrast">Traditional Insurers</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="contrast">They make you wait between 4 - 18 days to replace your phone</td>
                    </tr>
                    <tr>
                        <td class="contrast">Their cover takes 14 days to kick in</td>
                    </tr>
                    <tr>
                        <td class="contrast">They only cover shiny new phones</td>
                    </tr>
                    <tr>
                        <td class="contrast">They love jargon</td>
                    </tr>
                    <tr>
                        <td class="contrast">They are expensive</td>
                    </tr>
                </tbody>
            </table>
            <table class="table visible-xs">
                <thead>
                    <tr>
                        <td width="50%" class="sosure">
                            <img data-src="{{ cdn_url }}/images/logo/so-sure_so-sure-full-logo-blue-flat.svg"
                                 alt="so-sure"
                                 width="120px" class="lozad">
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="sosure">We’ll replace your phone the next working day</td>
                    </tr>
                    <tr>
                        <td class="sosure">We cover you from day one</td>
                    </tr>
                    <tr>
                        <td class="sosure">We cover phones up to three years old (and don’t need to see your receipt)</td>
                    </tr>
                    <tr>
                        <td class="sosure">We love keeping communication simple</td>
                    </tr>
                    <tr>
                        <td class="sosure">We’re up to 40% cheaper (yes, you read that right)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    {% include 'AppBundle::Default/_sectionFeedback.html.twig' %}

    {# Instant Quote #}
    <section class="homepage--instant-quote">
        <div class="container">
            <h2 class="text-center h1">Get your instant quote</h2>
            {# Phone Search #}
            {% if phone is defined and phone %}
                {{ render(controller('AppBundle:Default:selectPhoneMakeSearch', {
                    'type': 'footer',
                    'id': phone.id
                })) }}
            {% else %}
                {{ render(controller('AppBundle:Default:selectPhoneMakeSearch', {
                    'type': 'footer',
                })) }}
            {% endif %}
            {# End Phone Search #}
            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/homepage/so-sure_form_rocket.svg"
                 class="img-responsive form-rocket lozad" alt="so-sure - rocket">
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/lozad/lozad.min.js'
    'components/dot/doT.min.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/images.js'
    '@AppBundle/Resources/public/js/Default/homepage.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeSearch.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeDropdown.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
