{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}
{% set homepage = 1 %}
{% set useDropdownSearch = 1 %}

{% block title %}so-sure - Welcome to Social Insurance in partnership with eBay{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    'components/animate.css/animate.min.css'
    '@AppBundle/Resources/public/sass/page/competitor.scss'
    '@AppBundle/Resources/public/sass/page/comparisonTable.scss'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="section--pad competitor__hero">
        <div class="container">
            <h1 class="text-center text-blue">
                {% if headline is defined and headline %}
                    {{ headline }}
                {% else %}
                    Mobile insurance you deserve.
                {% endif %}
            </h1>
            {% if sub_heading is defined and sub_heading %}
                <p class="big-text text-center">
                    {{ sub_heading }}
                    {% if sub_heading2 is defined and sub_heading2 %}
                        <br> {{ sub_heading2 }}
                    {% endif %}
                </p>
            {% endif %}

            {% include 'AppBundle::Default/_comparisonTableOld.html.twig' %}

            {# TrustBox widget - Mini #}
            <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="588f81d20000ff00059bc1e1" data-style-height="24px" data-style-width="100%" data-theme="light" style="margin:25px 0 0;">
            <a href="https://uk.trustpilot.com/review/wearesosure.com" target="_blank" rel="noopener noreferrer">Trustpilot</a>
            </div>
            {# End TrustBox widget #}

            <div class="text-center">
                <a href="#" class="btn btn-green btn-pad btn-lg h1 sosure-track" data-toggle="modal" data-target="#quoteModal" data-event="money-cta">GET INSURED</a>
            </div>

        </div>
    </section>

    {# Press #}
    <section class="competitor__press">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="list-inline text-center">
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_defaqto.svg" alt="Defaqto" title="Defaqto"></li>
                        {# <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_trustpilot.svg" alt="TrustPilot" title="TrustPilot"></li> #}
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_money.svg" alt="Money.co.uk" title="Money.co.uk"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_go-compare.svg" alt="Go Compare" title="Go Compare"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_theguardian.svg" alt="The Guardian" title="The Guardian"></li>
                        <li><img src="{{ cdn_url }}/images/press/ebay_so-sure_financial-times.svg" alt="Financial Times" title="Financial Times"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {# Whats Covered #}
    <section class="section--pad competitor__cover">
        <div class="container">
            <h2 class="text-center">Protect Your Phone From..</h2>
            {% include 'AppBundle::Default/_whatsCovered.html.twig' %}
        </div>
    </section>


    <section class="section--pad competitor__cover_next">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ cdn_url }}/images/mobile_mike.svg" alt="Mobile Mike" class="">
                </div>
                <div class="col-md-8">
                    <h2>Premium Cover. Premium Service</h2>
                    <ul class="list-unstyled">
                        <li>24-72 hour replacement once claim approved</li>
                        <li>Cashback when you and your connections don't claim</li>
                        <li>Low excess from just &pound;50 when validated using our app</li>
                        <li>Instant Cover</li>
                        <li>Refurbished and second-hand devices up to 3 years old are covered</li>
                    </ul>
                </div>
            </div>
            <div class="text-center">
                <a href="#" class="btn btn-green btn-pad btn-lg h1 sosure-track" data-toggle="modal" data-target="#quoteModal" data-event="money-cta">GET INSURED</a>
            </div>
        </div>
        <div class="section--pad"></div>
    </section>

    {# <div class="section--pad"></div> #}

    {# Page Modals #}
    {% include 'AppBundle::Default/modalQuote.html.twig' with {'selectPhoneMakeType': 'other_pages'} %}
    {# End Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/lozad/lozad.min.js'
    'components/dot/doT.min.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/images.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeSearch.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeDropdown.js'
    '@AppBundle/Resources/public/js/Default/competitor.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

