{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'home' %}
{% set include_get_a_quote = true %}

{% block title %}so-sure | Social Mobile Phone Insurance That's Better{% endblock %}
{% block meta %}
    <meta name="description" content="The future of phone insurance has arrived (and it's up to 80% cheaper when you connect with friends & don't claim). Available on hundreds of models from so-sure."/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}

{% block schema %}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@graph":
    [
        {
            "@type" : "Organization",
            "url": "https://wearesosure.com/",
            "legalName": "so-sure Ltd",
            "location": {
                "@type": "Place",
                "address": {
                  "@type": "PostalAddress",
                  "addressLocality": "Tower Hamlets",
                  "addressRegion": "London",
                  "postalCode": "E1 7PT",
                  "streetAddress": "114 Whitechapel High Street"
                },
                "name": "Relay Building"
            },
            "logo": "{{ cdn_url }}/images/rebrand/logo/so-sure_logo_square.png",
            "description": "The future of phone insurance has arrived (and it's up to 80% cheaper when you connect with friends & don't claim). Available on hundreds of models from so-sure.",
            "sameAs": ["https://twitter.com/wearesosure", "https://www.facebook.com/wearesosure"]
        },
        {
            "@type" : "WebSite",
            "url": "https://wearesosure.com/"
        }
    ]
}
</script>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="alert-strip alert-strip-green h6 p-3 pt-0 mb-4">
            <div class="container-large">🙂 During the lockdown we can still get your phone fixed in just 72 hours</div>
        </div>
        <div class="container-large">
            <h1 class="mb-4 text-white text-center fit">
                <span class="sub text-deep-sky-blue-d">Simply Better</span> Mobile Insurance
            </h1>
            <div class="row">
                <div class="col-md-6 d-none d-md-block">
                    <div class="hero__illustration mt-md-4">
                        <img src="{{ cdn_url }}/images/onexone.png"
                             data-src="{{ cdn_url }}/images/rebrand/homepage/so-sure_hero-illustration-with-no-shadow.png"
                             alt="so-sure - social insurance"
                             class="img-fluid lozad">
                        <div class="hero__badge animated tada">
                            <div class="hero__badge-inner">2 months<br><span class="h5 mb-0">FREE</span><br> when you pay <br>yearly</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1">
                    {% if phone is defined and phone %}
                        {{ render(controller('AppBundle:Search:phoneSearchDropdownCard', { 'type': 'homepage-jc', 'id': phone.id }|merge(app.request.query.all))) }}
                    {% else %}
                        {{ render(controller('AppBundle:Search:phoneSearchDropdownCard', { 'type': 'homepage-jc' }|merge(app.request.query.all))) }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="hero__illustration d-block d-md-none mt-4">
                        <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/homepage/so-sure_hero-illustration-with-no-shadow.png" alt="so-sure - social insurance" class="img-fluid lozad">
                        <div class="hero__badge animated tada">
                            <div class="hero__badge-inner">2 months<br><span class="h5 mb-0">FREE</span><br> when you pay <br>yearly</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Cred #}
    {% include 'AppBundle::Default/CommonSections/_cred.html.twig' %}

    <section class="video d-flex align-items-center justify-content-center">
        <a href="#"
           data-toggle="modal"
           data-target="#sosure-video-modal"
           data-src="https://www.youtube.com/embed/rF6zxVRT5Fc"
           class="watch-video video__play">
            <img src="{{ cdn_url }}/images/onexone.png"
                 data-src="{{ cdn_url }}/images/rebrand/invite/so-sure_invite_reward_video_play_shadow.svg"
                 alt="Play buttonn"
                 class="lozad"
                 width="120px"></a>
        <img src="{{ cdn_url }}/images/onexone.png"
             data-src="{{ cdn_url }}/images/rebrand/video/so-sure_video_background_woman_swoosh.png"
             alt="Woman polaroid swoosh"
             class="lozad video-img">
    </section>

    <section class="knowledge-base">
        <div class="container-large">
            {% include 'AppBundle::Components/_knowledgeBase.html.twig' %}
        </div>
    </section>

    {# Top Manufacturers #}
    {% include 'AppBundle::PhoneInsurance/CommonSections/_topManufacturers.html.twig' %}

    {# Claims Process #}
    {% include 'AppBundle::Default/CommonSections/_claimsProcessB.html.twig' %}

    {# Top Models #}
    {% include 'AppBundle::PhoneInsurance/CommonSections/_topModels.html.twig' %}

    {# Reviews #}
    {% include 'AppBundle::PhoneInsurance/CommonSections/_reviewsB.html.twig' %}

    <section class="banner py-5">
        <div class="container-large">
            <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
                <div class="mb-4 mb-lg-0 d-lg-flex align-items-lg-center">
                    <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_app-icn.svg" class="d-none d-lg-inline lozad" alt="so-sure App Icon">
                    <div class="banner__text text-center text-lg-left ml-lg-4">
                        <h2 class="h4 text-white">Mobile insurance <br class="d-md-none"> designed for you</h2>
                        <p class="lead text-white">Cover your phone in minutes </p>
                    </div>
                </div>
                <div class="banner__controls text-center text-lg-left">
                    <a href="#"
                       class="btn btn-outline-white watch-video btn-block-xs mr-sm-2"
                       data-event="watch-video-index-bottom-banner"
                       data-toggle="modal"
                       data-target="#sosure-video-modal"
                       data-src="https://www.youtube.com/embed/QEskwqsNgrQ">
                        <i class="far fa-play-circle fa-lg opacity-50 mr-1"></i>
                        Watch our Video
                    </a>
                    <a href="#" class="btn btn-success btn-block-xs btn-shadow get-a-quote disabled">Get a Quote</a>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}
    {% include 'AppBundle::PhoneInsurance/_policyInfoModals.html.twig' %}
    {% include 'AppBundle::Default/_modalVideo.html.twig' %}
    {% if feature_enabled('exit-popup') %}
        {% include 'AppBundle::Components/_exitPopup.html.twig' with { 'exit_popup_exp': exit_popup_exp } %}
    {% endif %}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/homepage.js') }}"></script>
{% endblock %}
