{% extends 'base.html.twig' %}

{% block title %}so-sure - iPhone 7 insured with your mobile network?
{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/article.scss' %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="hero brand-gradient">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1>Your {{ phone_name }} is insured with your mobile network. <br> Get a better deal!</h1>
                </div>
            </div>

        </div>
    </section>

    <section class="article-content section--pad">
        <div class="container">

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

                    <p class="lead">We are sure they have the best intentions, but this is how expensive they are:</p>
                    <div class="table-width table-responsive table-bordered">
                        <table class="table">
                            <thead class="background-blue" valign="middle">
                                <tr>
                                    <td align="center" class="text-white">
                                        For {{ phone_name }} <br class="visible-xs"> ({{ phone.memory }}GB) <br> <small>as of <br class="visible-xs"> 13th April 2017</small>
                                    </td>
                                    <td align="center" class="text-white">Price per <br>month</td>

                                    <td align="center" class="text-white">Money back <br> when no <br> claims</td>
                                    <td align="center" class="text-white">
                                        24-72 hour replacement once your claim is approved
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ee">
                                    <td align="center">EE</td>
                                    <td align="center">£12</td>
                                    <td align="center">£0</td>
                                    <td align="center"><i class="fa fa-check fa-lg text-green" aria-hidden="true"></i> &nbsp;</td>
                                </tr>
                                <tr class="vodafone">
                                    <td align="center">Vodafone</td>
                                    <td align="center">£12</td>
                                    <td align="center">£0</td>
                                    <td align="center"><i class="fa fa-check fa-lg text-green" aria-hidden="true"></i>  *</td>
                                </tr>
                                <tr class="o2">
                                    <td align="center">O2 <small><small>(for 128GB)</small></small></td>
                                    <td align="center">£10</td>
                                    <td align="center">£0</td>
                                    <td align="center"><i class="fa fa-check fa-lg text-green" aria-hidden="true"></i> &nbsp;</td>
                                </tr>
                                <tr class="three">
                                    <td align="center">Three</td>
                                    <td align="center">£14</td>
                                    <td align="center">£0</td>
                                    <td align="center"><i class="fa fa-check fa-lg text-green" aria-hidden="true"></i> &nbsp;</td>
                                </tr>
                                <tr class="so-sure" valign="middle">
                                    <td class="h4" align="center">so-sure</td>
                                    <td class="h4" align="center">£{{ phone.currentPhonePrice.monthlyPremiumPrice|number_format(2, '.', ',') }}</td>
                                    <td class="h4" align="center">£{{ phone.currentPhonePrice.maxPot|number_format(2, '.', ',') }}</td>
                                    <td align="center"><strong><i class="fa fa-check text-green fa-lg" aria-hidden="true"></i> &nbsp;</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <em>
                            <small>*Vodafone can take up to 5 working days for damage/breakdown.</small>
                        </em>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <p>If you want a better deal, switch to us. We offer:</p>
                    <ul>
                        <li><strong>Full cover</strong> for theft, loss, accidental damage and breakdown</li>
                        <li><strong>24-72 hour replacement once your claim is approved</li>
                        <li>Insure phones <strong>up to 3 years old</strong></li>
                        <li>Up to <strong>£{{ phone.currentPhonePrice.maxPot|number_format(2, '.', ',') }} cashback</strong> every year when you and your friends don’t claim</li>
                    </ul>
                    <p>We created so-sure to restore trust in insurance. We believe that insurance should not hide behind small print (our terms and conditions are in plain English) and that careful people should get money back.</p> <br><br>

                    <p class="text-center">
                        <a href="#"
                           data-event-url="{{ path('homepage', {'phone': phone.searchQuerystring })}}"
                           data-event="Mobile Network {{ phone }}"
                           class="btn btn-success btn-rounded btn-lg sosure-track">Chose a better deal</a>
                    </p>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
