{% extends 'base.html.twig' %}

{% block title %}so-sure - iPhone 7 insured with Vodafone?
{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/article.scss' %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="hero brand-gradient">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1>{{ phone_name }} insured with Vodafone?</h1>
                </div>
            </div>

        </div>
    </section>

    <section class="article-content section--pad">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>Vodafone may have the best intentions for their insurance customers but we’ve been hearing reports of outrageous wait times after the claim was approved.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="text-center">Here’s one of them</h3>
                    <blockquote>
                        <p>Having been a loyal Vodafone customer for some time I was naturally shocked when they told me that it would take up to two weeks for my damaged phone to be replaced. Terrible service!</p>
                        <footer>
                            Anthony Karibian
                        </footer>
                    </blockquote>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="info">
                                    <td width="30%"></td>
                                    <td width="35%"><strong>Vodafone</strong></td>
                                    <td width="35%"><strong>so-sure</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Price</td>
                                    <td><i class="fa fa-times fa-lg text-red" aria-hidden="true"></i> £12.00 a month</td>
                                    <td><i class="fa fa-check fa-lg text-green" aria-hidden="true"></i> £{{ phone_price }} a month</td>
                                </tr>
                                <tr>
                                    <td>How quickly do you <br> have a phone after a claim?</td>
                                    <td>
                                        <i class="fa fa-times fa-lg text-red" aria-hidden="true"></i> 5 working days for damage <br>
                                        <i class="fa fa-times fa-lg text-red" aria-hidden="true"></i> 7 working days for loss or theft
                                    </td>
                                    <td><i class="fa fa-check fa-lg text-green" aria-hidden="true"></i> 24-72 hour replacement once your claim is approved</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>Next day delivery, comprehensive cover and top customer service should come as standard but unfortunately they often don’t. That’s why so-sure:</p>
                    <ul>
                        <li>only sells full cover: loss, theft, damage, breakdown.</li>
                        <li>provides 24-72 hour replacement once your claim is approved.</li>
                        <li>up to 80% money back when you and your friends don’t claim.</li>
                    </ul>
                    <p>And we’re here to help 24 hours a day, 7 days a week.</p>
                    <p>If you feel like Vodafone or another company aren’t stepping up to the mark then It’s easy to switch: if you bought your policy within the last 14 days then (and haven’t claimed) you can cancel immediately for free, otherwise all you need to do is give them 30 days notice.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="#" data-event-url="{{ quote_route }}"
                       data-event="vodafone-iphone-btn" class="btn btn-success  btn-lg sosure-track">Make the switch</a>
                </div>
            </div>

        </div>
    </section>

    {% include 'AppBundle::Default/feedbackQuotes.html.twig' %}

{% endblock %}
