{% extends 'base.html.twig' %}

{% block title %}so-sure - iPhone 7 insured with your mobile network?
{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Download our app now to see how much you could save."/>
    <meta name="keywords" content="mobile phone insurance, social insurance"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/Default/index.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/article.scss' %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="hero brand-gradient">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1>Your {{ phone_name }} is insured with your mobile network. Get a better deal!</h1>
                </div>
            </div>

        </div>
    </section>

    <section class="article-content section--pad">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <p>We are sure they have the best intentions, but this is how expensive they are:</p>
                    <div class="table-responsive table-bordered">
                        <table class="table">
                            <thead class="background-blue" valign="middle">
                                <tr>
                                    <td width="30%" align="center" class="text-white h4">
                                        For {{ phone_name }} ({{ phone_memory }}) <br> as of 13th April 2017
                                    </td>
                                    <td width="20%" align="center" class="text-white">Price per <br>month</td>

                                    <td width="20%" align="center" class="text-white">Money back <br> when no <br> claims</td>
                                    <td width="20%" align="center" class="text-white">
                                        Next day or <br> Working Day Replacement
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ee">
                                    <td align="center">EE</td>
                                    <td align="center">£12</td>
                                    <td align="center">£0</td>
                                    <td align="center"><i class="fa fa-check fa-lg text-green" aria-hidden="true"></i> &nbsp;</td>
                                </tr>
                                <tr class="vodafone">
                                    <td align="center">Vodafone</td>
                                    <td align="center">£12</td>
                                    <td align="center">£0</td>
                                    <td align="center"><i class="fa fa-check fa-lg text-green" aria-hidden="true"></i>  *</td>
                                </tr>
                                <tr class="o2">
                                    <td align="center">O2 <small><small>(for 128GB)</small></small></td>
                                    <td align="center">£10</td>
                                    <td align="center">£0</td>
                                    <td align="center"><i class="fa fa-check fa-lg text-green" aria-hidden="true"></i> &nbsp;</td>
                                </tr>
                                <tr class="three">
                                    <td align="center">Three</td>
                                    <td align="center">£14</td>
                                    <td align="center">£0</td>
                                    <td align="center"><i class="fa fa-check fa-lg text-green" aria-hidden="true"></i> &nbsp;</td>
                                </tr>
                                <tr class="so-sure" valign="middle">
                                    <td class="h3" align="center">so-sure</td>
                                    <td class="h3" align="center">£{{ phone_price }}</td>
                                    <td class="h3" align="center">£{{ phone_cashback }}</td>
                                    <td align="center"><strong><i class="fa fa-check text-green fa-lg" aria-hidden="true"></i> &nbsp;</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center">
                        <em>
                            <small>*Vodafone can take up to 5 working days for damage/breakdown.</small>
                        </em>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>If you want a better deal, switch to us. We offer:</p>
                    <ul>
                        <li>Full cover for theft, loss, accidental damage and breakdown</li>
                        <li>Next working day replacement or repair</li>
                        <li>Insure phones up to 3 years old</li>
                        <li>Up to £{{ phone_cashback }} cashback every year when you and your friends don’t claim</li>
                    </ul>
                    <p>We created so-sure to restore trust in insurance. We believe that insurance should not hide behind small print (our terms and conditions are in plain English) and that careful people should get money back.</p>

                    <p class="text-center">
                        <a href="#"
                           data-event-url=""
                           data-event="mobile-networks-{{ phone_track }}-btn"
                           class="btn btn-success btn-rounded btn-lg sosure-track">Find out more about so-sure for your {{ phone_name }}</a></p>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
