{% extends 'base.html.twig' %}

{% block title %}so-sure - Better Phone Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Download our app now to see how much you could save."/>
    <meta name="keywords" content="mobile phone insurance, social insurance"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts    
    '@AppBundle/Resources/public/js/Default/index.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/css/Default/index.css'
    '@AppBundle/Resources/public/css/Default/article.css'    
    '@AppBundle/Resources/public/css/Default/modal.css' %}   
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="hero isInsuranceWithVodafoneAllThatItSeems">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12">
                    <h1>Is insurance with Vodafone all that it seems?</h1>
                </div>
            </div>

        </div>
    </section>   

    <section class="article-content section--pad">
        <div class="container">


            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <img src="{{ cdn_url }}/images/articles/vodafone-logo.jpg" alt="Vodafone Logo" class="img-responsive">
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>While we have no doubt that Vodafone have the best intentions when it comes to their insurance offering, they are an established insurance player where delays in providing replacements phones, unfortunately, are very common. We've been hearing reports of unacceptable wait times of up to 2 weeks! In fact, one of them had this to say about his insurance experience with Vodafone.</p>
                </div>
            </div>           

            {% set phone_type = app.request.get('p') %}
            
            {% if phone_type == 'iphone' %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="info">
                                    <td class="h4"><strong>Benefits</strong></td>
                                    <td class="h4"><strong>Vodafone</strong></td>
                                    <td class="h4"><strong>so-sure</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Price</td>
                                    <td>£12</td>
                                    <td>£7.99</td>
                                </tr>
                                <tr>
                                    <td>Next day delivery?</td>
                                    <td>No</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>Unautharised Usage?</td>
                                    <td>No</td>
                                    <td>Yes (up to £1,000)</td>
                                </tr>
                                <tr>
                                    <td>Insure non-Vodafone phones?</td>
                                    <td>No</td>
                                    <td>Insure non-Vodafone phones?</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>         
            {% elseif phone_type == 'samsung' %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="info">
                                    <td class="h4"><strong>Benefits</strong></td>
                                    <td class="h4"><strong>Vodafone</strong></td>
                                    <td class="h4"><strong>so-sure</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Price</td>
                                    <td>£12</td>
                                    <td>£9.99</td>
                                </tr>
                                <tr>
                                    <td>Next day delivery?</td>
                                    <td>No</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>Unautharised Usage?</td>
                                    <td>No</td>
                                    <td>Yes (up to £1,000)</td>
                                </tr>
                                <tr>
                                    <td>Insure non-Vodafone phones?</td>
                                    <td>No</td>
                                    <td>Insure non-Vodafone phones?</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>    
            {% else %}

            {% endif %}


            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <blockquote>
                        <p>Having been a loyal Vodafone customer for some time I was naturally shocked when they told me that it would take up to two weeks for my damaged phone to be replaced. Terrible service!</p>
                        <footer>
                            Anthony Karibian
                        </footer>
                    </blockquote>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>We believe that things like next day delivery, comprehensive cover and top customer service should come as standard. If you feel like Vodafone or another company aren’t giving you any of this then don’t hesitate to get in touch with us.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="h2">Demand more from your insurance</div>
                    <a href="{{ path('homepage') }}" class="btn btn-success btn-rounded">GET A QUOTE</a>
                </div>
            </div>            

        </div>
    </section>

    {% include 'AppBundle::Default/feedbackQuotes.html.twig' %}    

{% endblock %}
