{% set og_title = 'Coming to the US soon!' %}
{% set og_image = cdn_url ~ '/images/so-sure-welcome.png' %}
{% set hide_nav = true %}
{% set hide_footer = true %}
{% extends 'base.html.twig' %}

{% block title %}so-sure - Welcome to Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Coming soon to the US!"/>
    <meta name="keywords" content="mobile phone insurance, social insurance"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/app/css/Default/index.css'
    'bundles/app/css/Default/launch-usa.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/Default/index.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <section class="hero">
        <div class="container">
            <div id="navchange"></div>
            <div class="row" id="welcome">
                <div class="col-md-12">
                    <div>
                        <h1 class="text-center">🇺🇸 🇺🇸 Coming soon to the USA! 🇺🇸 🇺🇸</h1>
                       <h2 class="text-center">Insure with friends.
                        <br>Get up to 80% of your money back.
                       </h2>
                    </div>
                    <div>
                        <h4 class="text-center" id="hero-description">Introducing so-sure, a better kind of insurance that allows you to get up to 80% of your money back when you connect with those you trust &amp; none of you claim.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="get-quote">
            <div class="row">
                <div class="col-sm-12">
                    <div class="device-select">
                        {{ form_start(form_launch) }}
                        <div class="input-group">
                            {{ form_widget(form_launch.email, { 'attr': {'class': 'form-control', 'placeholder': 'Interested? Enter your email so as to be one of the first'}}) }}
                            <span class="input-group-btn">
                                {{ form_widget(form_launch.save, {'label': 'Keep me informed', 'attr': {'class': 'btn btn-primary'}}) }}
                            </span>
                        </div>
                        {{ form_end(form_launch) }}
                    </div>
                </div>
            </div>
            <p class="text-center">
              {{ form_start(form_uk) }}
              {{ form_widget(form_uk.click, {'label': '🇬🇧 🇬🇧 In the UK? Click here to get a quote! 🇬🇧 🇬🇧', 'attr': {'class': 'btn-link'}}) }}
              {{ form_end(form_launch) }}
            </p>
        </div>
    </section>

    <div class="pre-footer footer-social">
        <p>Help us change insurance for good by sharing the love.
            <i class="twa twa-lg twa-heart"></i>
        </p>
        <ul class="share-row">
            <li class="gplus">
                <div class="g-plus" data-action="share" data-annotation="none"></div>
                <script src="https://apis.google.com/js/platform.js" async defer>
                    {
                        lang: 'en-GB'
                    }
                </script>
            </li>
            <li class="twitter-share">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="#" data-hashtags="#" data-related="#">Tweet</a>
            </li>
            <li class="facebook-share">
                <div id="fb-root"></div>
                <script>
                    (function(d, s, id) {
                        var js,
                            fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id))
                            return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=192557904434983";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
                <div class="fb-share-button" data-href="https://facebook.com/wearesosure" data-layout="button" data-mobile-iframe="true"></div>
            </li>
        </ul>
    </div>
</div>

<!-- Analytics -->

  <div id="fb-root"></div>
  <div id="ss-root" data-fb-id="{{ fb_appid }}"
       data-fb-redirect="{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}"
       ></div>

{% endblock %}
