{% set og_title = 'Coming soon to the USA!' %}
{% set og_image = cdn_url ~ '/images/so-sure-welcome.png' %}
{% extends 'base.html.twig' %}

{% block footer %}{% include '::simple_footer.html.twig' %}{% endblock %}
{% block nav %}{% include '::logo_nav.html.twig' %}{% endblock %}

{% block title %}so-sure - Welcome to Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Coming soon to the US!"/>
    <meta name="keywords" content="mobile phone insurance, social insurance"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/usa.scss'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/Default/index.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="hero-usa">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <h1 class="text-center">Insure with friends.
                                    <br>Get up to 80% of your money back.
                                </h1>
                            </div>
                            <div style="padding-top: 20px;">
                                <p class="lead text-center" id="hero-description">Introducing so-sure, a better kind of insurance that allows you to get up to 80% of your money back when you connect with those you trust &amp; none of you claim.</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-md-6 text-right">
                            <a class="btn btn-primary join-waitlist">Looking for Renter's Insurance?
                            </a>
                        </div>
                        <div class="col-md-6 text-left">
                            <a class="btn btn-info join-waitlist">How about Home Owner's Insurance?
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Analytics -->

    <!-- Facebook Pixel -->
    <div id="fb-root"></div>
    <div id="ss-root" data-fb-id="{{ fb_appid }}"
         data-fb-redirect="{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}"
         ></div>

    <!-- Waitlisted.co -->
    <script src="https://waitlisted.co/assets/v2/embed.js" type="text/javascript"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            window.waitlisted.start({domain: "so-sure.app.waitlisted.co", form: "cdff2daedd8bb127e32e6f221d9e22ab"})
        });
    </script>

{% endblock %}
