{% form_theme lead_form '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}

{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}

{% block title %}so-sure - mobile phone insurance for your company
{% endblock %}
{% block meta %}
    <meta name="description" content="Mobile Insurance that's Simply Better, 24-72 hour replace or repair, Low excess from just £50 - New, secondhand & refurbished phones, Up to 80% money back"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        '@AppBundle/Resources/public/sass/page/corporate.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{# {% block nav %}{% endblock %} #}

{% block body %}

    <div class="background-off-white">

        <section class="corporate-hero" id="hero-welcome">
            <div class="corporate-hero-inner">

                <h1 class="text-blue">Mobile phone insurance for your company</h1>
                <p class="lead">24-72 hour replacement or repair once your claim is approved on phones up to 3 years old <br class="hidden-xs"> with up to 80% of your premium back every year.</p>
                <a id="corporate-get-quote"
                   href="#"
                   class="btn btn-green btn-lg scroll-to"
                   data-scroll-to-anchor="#corporate-get-quote-form">Get a quote</a>
                <div class="fom">
                    <a id="fom"
                       href="#"
                       class="scroll-to"
                       data-scroll-to-anchor="#key-benefits">
                       <small>Find out more <br> <i class="fa fa-chevron-down" aria-hidden="true"></i></small>
                    </a>
                </div>

            </div>
        </section>

        <section class="section-corporate section-corporate-pad" id="seen-on">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="seen-on">
                            <strong><small>SEEN ON</small></strong>
                            <img src="{{ cdn_url }}/images/corporate/so-sure_the_guardian.png" alt="The Guardian - Why Facebook and Microsoft say chatbots are the talk of the town">
                            <img src="{{ cdn_url }}/images/corporate/so-sure_financial_times.png" alt="Financial Times - Innovation to watch: Friends based insurance" class="img-responsive">
                            <img src="{{ cdn_url }}/images/corporate/so-sure_insurance_post.png" alt="Insurance Post - so-sure to launch revolutionary social peer-to-peer mobile insurance app" class="img-responsive">
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="section-corporate section-corporate-pad" id="key-benefits">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-blue text-center">We are straight-forward and transparent</h2>
                        <p class="lead text-center">Our terms &amp; conditions are written in plain english and our main benefits include:</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="{{ cdn_url }}/images/corporate/so-sure_replacement_phone.svg" alt="Replacement Phone" class="block-img " width="150" height="150">
                                <p class="lead">A replacement phone in your hands within 24-72 hours once your claim is approved anywhere in the UK and Europe.</p>
                            </div>
                            <div class="col-sm-6">
                                <img src="{{ cdn_url }}/images/corporate/so-sure_older_phones.svg" alt="Old Phone" class="block-img " width="150" height="150">
                                <p class="lead">Second hand or refurbished phone cover on devices up to 3 years old.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="{{ cdn_url }}/images/corporate/so-sure_worldwide_cover.svg" alt="Worldwide Cover" class="block-img " width="150" height="150">
                                <p class="lead">International travel cover on any trip not exceeding 90 days.</p>
                            </div>
                            <div class="col-sm-6">
                                <img src="{{ cdn_url }}/images/corporate/so-sure_group_bonus.svg" alt="Group Bonus" class="block-img " width="150" height="150">
                                <p class="lead">‘Group no claims bonus’ allowing you to get up to 80% of your premium back every year.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="curved-background curved-background__bg-blue hidden-xs">
            <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 2000 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Artboard" fill="#f6f7fb">
                        <path d="M0,0 L2000,0 L2000,139.921588 C1890.08746,181.703317 1753.08746,201.692115 1589,199.887983 C1424.91254,198.083852 1258.91254,174.763587 1091,129.927189 C918.666667,89.9495926 740,69.9607942 555,69.9607942 C370,69.9607942 185,113.269857 0,199.887983 L0,0 Z" id="Rectangle" transform="translate(1000.000000, 100.000000) scale(-1, 1) translate(-1000.000000, -100.000000) "></path>
                    </g>
                </g>
            </svg>
        </div>


        <section class="section-corporate section-corporate-pad background-lightest-blue" id="main-benefits">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <div class="panel panel-pad text-center">
                            <h2 class="text-blue">What is covered</h2>
                            <p class="lead">We expect you to take resonable care of your phone but should something happen our policy covers:</p>
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <img src="{{ cdn_url }}/images/homepage/so-sure_theft.svg" alt="Theft" class="" width="180" height="180">
                                    <h4 class="h-light">Theft</h4>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <img src="{{ cdn_url }}/images/homepage/so-sure_loss.svg" alt="Loss" class="" width="180" height="180">
                                    <h4 class="h-light">Loss</h4>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <img src="{{ cdn_url }}/images/homepage/so-sure_accidental_damage.svg" alt="Accidental Damage" class="" width="180" height="180">
                                    <h4 class="h-light">Accidental Damage <br>inc. water/cracked screen</h4>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <img src="{{ cdn_url }}/images/homepage/so-sure_out_of_warranty_breakdown.svg" alt="Breakdown" class="" width="180" height="180">
                                    <h4 class="h-light">Out of warranty breakdown <br> inc. faults</h4>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <img src="{{ cdn_url }}/images/homepage/so-sure_unauthorised_network_charges.svg" alt="Unauthorised Usage" class="" width="180" height="180">
                                    <h4 class="h-light">Up to £1,000 of <br>unauthorised network charges </h4>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <img src="{{ cdn_url }}/images/homepage/so-sure_accessories.svg" alt="Accessories" class="" width="180" height="180">
                                    <h4 class="h-light">Accessories covered up to <br>the value of £100 inc. VAT</h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="section-corporate section-corporate-pad background-lightest-blue" id="not-covered">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <h2 class="text-blue">Excess</h2>
                        <p class="lead">Our excess is as low as &pound;50 for accidental damage and &pound;70 for loss &amp; theft when you validate your phone with our app.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-corporate section-corporate-pad background-lightest-blue" id="cashback">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <div class="panel panel-pad">
                            <h2 class="text-blue text-center h3">Get up to 80% money back and increase employee engagement</h2>
                            <div class="row text-center cashback-steps">
                                <div class="col-md-4">
                                    <img src="{{ cdn_url }}/images/corporate/so-sure_group_bonus.svg" alt="Group Bonus" class="block-img " width="150" height="150">
                                    <h4 class="h-light">Group your employees in teams of 1-10 people</h4>
                                </div>
                                <div class="col-md-4">
                                    <img src="{{ cdn_url }}/images/corporate/so-sure_smile-logo-150.svg" alt="so-sure logo" class="block-img " width="150" height="150">
                                    <h4 class="h-light">Incentivise them to take care of their phones</h4>
                                </div>
                                <div class="col-md-4">
                                    <img src="{{ cdn_url }}/images/corporate/so-sure_reward.svg" alt="Reward" class="block-img " width="150" height="150">
                                    <h4 class="h-light">Don’t claim and get 80% of your premium back to reward them</h4>
                                </div>
                            </div>
                            <p>Employers maximise savings when they use so-sure as an employee engagement tool as well as a cost saving one. It is easy: use some of the savings to go towards paying for the Team to go out for lunch (if no claims) or drinks (if 1 claim), then not only are the employees incentivised to take care of their phones but they are also brought together around a subject which is not work – which helps employee engagement.</p>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <div class="curved-background curved-background__bg-off-white hidden-xs">
            <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 2000 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Artboard" fill="#D7EBFE">
                        <path d="M0,0 L2000,0 L2000,139.921588 C1890.08746,181.703317 1753.08746,201.692115 1589,199.887983 C1424.91254,198.083852 1258.91254,174.763587 1091,129.927189 C918.666667,89.9495926 740,69.9607942 555,69.9607942 C370,69.9607942 185,113.269857 0,199.887983 L0,0 Z" id="Rectangle" transform="translate(1000.000000, 100.000000) scale(-1, 1) translate(-1000.000000, -100.000000) "></path>
                    </g>
                </g>
            </svg>
        </div>

        <section class="section-corporate section-corporate-pad" id="cashback-example">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <div class="row section-fix">
                            <div class="col-sm-6">
                                <div class="example-cashback-text">
                                    <p class="h3 h-light">Say for a <strong>team of nine</strong> employees each using an <strong>iPhone 6s </strong> device, that would look like this:</p>
                                    <img src="{{ cdn_url }}/images/corporate/so-sure_cheers-arrow.svg" alt="Cheers" class="cheers">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="panel">
                                    <table class="table" width="100%">
                                        <thead>
                                            <tr>
                                                <td align="center" width="50%"># OF CLAIMS</td>
                                                <td align="center" width="50%">PREMIUM BACK</td>
                                            </tr>
                                        </thead>
                                        <tbody align="center">
                                            <tr>
                                                <td>2+</td>
                                                <td>£0</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>£80</td>
                                            </tr>
                                            <tr>
                                                <td class="text-blue h4">0</td>
                                                <td class="text-blue h4">£690.34</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="section-corporate section-corporate-form section-corporate-pad section-corporate-pad-both" id="corporate-get-quote-form">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <h2 class="text-blue text-center">Contact us to get a quote or find out more</h2>

                        {{ form_start(lead_form, {'attr': {'data-toggle': 'validator', 'class': 'validate-form', 'id':'corporate-form', 'data-client-validation': form_client_validation, 'autocomplete': 'off', 'novalidate': 'novalidate'}}) }}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Name <span class="req">*</span></label>
                                        {{ form_widget(lead_form.name, { 'attr': {'class': 'form-control other-inputs'}}) }}
                                        <div class="help-block with-errors">{{ form_errors(lead_form.name) }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Company <span class="req">*</span></label>
                                        {{ form_widget(lead_form.company, { 'attr': {'class': 'form-control other-inputs'}}) }}
                                        <div class="help-block with-errors">{{ form_errors(lead_form.company) }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Phone No. <span class="req">*</span></label>
                                        {{ form_widget(lead_form.phone, { 'attr': {'class': 'form-control other-inputs'}}) }}
                                        <div class="help-block with-errors">{{ form_errors(lead_form.phone) }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Email <span class="req">*</span></label>
                                        {{ form_widget(lead_form.email, { 'attr': {'class': 'form-control other-inputs'}}) }}
                                        <div class="help-block with-errors">{{ form_errors(lead_form.email) }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form_widget(lead_form.phones, { 'attr': {'class': 'form-control'}}) }}
                                        <div class="help-block with-errors">{{ form_errors(lead_form.phones) }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form_widget(lead_form.timeframe, { 'attr': {'class': 'form-control other-inputs'}}) }}
                                        <div class="help-block with-errors">{{ form_errors(lead_form.timeframe) }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Your message <span class="req">*</span></label>
                                        {{ form_widget(lead_form.message, { 'attr': {'class': 'form-control other-inputs', 'rows': '15'}}) }}
                                        <div class="help-block with-errors">{{ form_errors(lead_form.message) }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 col-md-offset-4">
                                    <div class="form-group">
                                        {{ form_widget(lead_form.recaptcha) }}
                                        <div class="help-block with-errors">{{ form_errors(lead_form.recaptcha) }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="form-group">
                                        {{ form_widget(lead_form.submit, { 'label': 'Get in touch', 'attr': {'class': 'btn btn-blue btn-lg'}}) }}
                                    </div>
                                </div>
                            </div>
                        {{ form_end(lead_form) }}

                    </div>
                </div>
            </div>
        </section>

    </div>

    {# Page Modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/moment/moment.min.js'
    'components/jquery-mask-plugin/jquery.mask.min.js'
    'components/jquery-validation/jquery.validate.min.js'
    '@AppBundle/Resources/public/js/Default/jqueryValidatorMethods.js'
    '@AppBundle/Resources/public/js/Default/corporate.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
