{% extends 'base.html.twig' %}
{% block body %}
  <div class="section" style="min-height: 700px;">
    <div class="container text-center">
        <h2 class="section-title">Manage your communication preferences</h2>
        <h4>{{  email }}</h4>

        <h4 style="margin-top: 30px;">Marketing Communications</h4>
        {{ form_start(optin_form) }}
        <div class="row">
            <div class="col-md-12">
                {{ form_label(optin_form.optin) }}
                {{ form_widget(optin_form.optin) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_widget(optin_form.add, {'label': 'Update', 'attr': {'class': 'btn btn-success'}}) }}
            </div>
        </div>
        {{ form_end(optin_form) }}

        <h4 style="margin-top: 50px;">We respect your preferences</h4>
        <h4>In many cases, we use other legal basises under the GDPR to send you communications</h4>

        {{ form_start(optout_form) }}
        <div class="row">
            <div class="col-md-12">
                {{ form_label(optout_form.optout) }}
                {{ form_widget(optout_form.optout) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_widget(optout_form.add, {'label': 'Update', 'attr': {'class': 'btn btn-success'}}) }}
            </div>
        </div>
        {{ form_end(optout_form) }}

    </div>
  </div>

{% endblock %}
