{% extends 'base_rebrand.html.twig' %}
{% form_theme marketing_optout_form with ['AppBundle:Form:fields.html.twig', 'AppBundle:Form:submit.html.twig'] %}
{% form_theme optout_form with ['AppBundle:Form:fields.html.twig', 'AppBundle:Form:submit.html.twig'] %}

{# Set vars #}
{% set body_class = 'opt-out' %}
{% set robots_noindex = true %}

{% block title %}Communication Preferences | so-sure{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/opt-out.css') }}">
{% endblock %}

{% block body %}

    <section class="opt-out">
        <div class="container-large">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1 class="h4 mb-4">Communication preferences for {{ email }}</h1>
                    <div class="cardbox cardbox-100 mb-4">
                        <div class="cardbox__body">
                            <h5 class="mb-3">Marketing Communications:</h5>
                            {{ form_start(marketing_optout_form, { 'attr': {'class': ''}}) }}
                                <div class="form-group mb-4">
                                    {{ form_widget(marketing_optout_form.categories) }}
                                </div>
                                <div class="form">
                                    {{ form_widget(marketing_optout_form.update, {'label': 'Update', 'attr': {'class': 'btn btn-primary btn-block-xs'}}) }}
                                </div>
                            {{ form_end(marketing_optout_form) }}
                        </div>
                    </div>
                    <div class="cardbox cardbox-100">
                        <div class="cardbox__body">
                            <h5 class="mb-3">Preferences:</h5>
                            <p class="mb-4">Beyond marketing communications, we also send emails related to your policy, reward pot, pic-sure and invitations from other members.</p>
                            {{ form_start(optout_form, { 'attr': {'class': ''}}) }}
                                <div class="form-group mb-4">
                                    {{ form_widget(optout_form.categories) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(optout_form.update, {'label': 'Update', 'attr': {'class': 'btn btn-primary btn-block-xs'}}) }}
                                </div>
                            {{ form_end(optout_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/opt-out.js') }}"></script>
{% endblock %}
