{% extends 'base_rebrand.html.twig' %}
{% form_theme form_optout with ['AppBundle:Form:fields.html.twig', 'AppBundle:Form:submit.html.twig'] %}

{# Set vars #}
{% set body_class = 'opt-out' %}
{% set robots_noindex = true %}

{% block title %}Communication Preferences | so-sure{% endblock %}
{% block meta %}
    <meta name="robots" content="noindex">
    <link rel="canonical" href="{{ path('optout') }}" />
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/opt-out.css') }}">
{% endblock %}

{% block body %}

    <section class="opt-out">
        <div class="container-large">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1 class="h4 mb-4">Communication preferences</h1>
                    <div class="cardbox cardbox-100">
                        <div class="cardbox__body">
                            <h5 class="mb-3">Preferences:</h5>
                            <p class="mb-4">Enter your email to receive an email with a link to manage your communication preferences.</p>
                            {{ form_start(form_optout) }}
                                <div class="form-group mb-4">
                                    {{ form_widget(form_optout.email, { 'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group mb-4">
                                    {{ form_widget(form_optout.decline, {'label': 'Email me', 'attr': {'class': 'btn btn-primary'}}) }}
                                </div>
                            {{ form_end(form_optout) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/opt-out.js') }}"></script>
{% endblock %}
