{% extends 'base.html.twig' %}
{% block body %}
  <div class="section hero" style="min-height: 700px;">
    <div class="container text-center">
      {% if is_opted_out %}
        <img class="logo" src="{{ cdn_url }}/images/logo/unhappy-so-sure-smiley.svg" alt="Unhappy so-sure smiley" style="width: 20%; margin-top: 50px;"></img>
        <h2 class="section-title">Sorry, you're leaving us</h2>
        <p class="pre-launch-description">
        {{ email }} is now opted out of {{ category }} email communications from so-sure.
        </p>
        <p>
          Made a mistake?
          {{ form_start(form_optin) }}
            <span class="input-group-btn">
                {{ form_widget(form_optin.add, {'label': 'Opt back in', 'attr': {'class': 'btn btn-success'}}) }}
            </span>
          {{ form_end(form_optin) }}
        </p>
      {% else %}
        <img class="logo" src="{{ cdn_url }}/images/logo/happy-so-sure-smiley.svg" alt="Happy so-sure smiley" style="width: 20%; margin-top: 50px;"></img>
        <h2 class="section-title">Welcome back to so-sure</h2>
        <p class="pre-launch-description">
        Glad you decided to opt back in to {{ category }} email communications, {{ email }}.
        </p>
      {% endif %}
    </div>
  </div>

{% endblock %}
