<div id="dropdown-search"
     class="dropdown-phone-form--homepage"
     data-phones='{{ phones|json_encode|raw }}'>
    {{ form_start(form_phone, { 'attr': { 'autocomplete': 'off', 'class': '' }}) }}
        <div class="row">
            <div class="col-sm-4">
                {{ form_widget(form_phone.make, {
                  'attr': {
                    'class': 'form-control dropdown-phone-form--homepage_make'
                }}) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(form_phone.model, {
                    'attr': {
                        'class': 'form-control dropdown-phone-form--homepage_model',
                        'disabled': 'disabled'
                }}) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(form_phone.memory, {
                    'attr': {
                        'class': 'form-control dropdown-phone-form--homepage_memory',
                        'disabled': 'disabled'
                }}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="form-group">
                    {{ form_widget(form_phone.next, {
                      'label': 'Get a quote',
                      'attr': {
                        'class': 'btn btn-green btn-block btn-pad btn-big-text dropdown-phone-form--homepage_cta'
                    }}) }}
                </div>
            </div>
        </div>
    {{ form_end(form_phone) }}
</div>
