{% set include_emoji = 1 %}
{% extends 'base.html.twig' %}

{% block title %}so-sure -
    {{ phone }}{% endblock %}
{% block meta %}
    <meta name="description" content="For a small monthly fee your phone is covered for theft, loss, accidental damage and unauthorised usage."/>
    <meta name="keywords" content="mobile insurance, phone insurance, mobile phone insurance, cheap mobile phone insurance, cheap phone insurance, cheap mobile insurance, better phone insurance, better mobile phone insurance"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/Default/index.js'
    '@AppBundle/Resources/public/js/Default/modalVideo.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
    'bundles/app/css/Default/index.css' 
    'bundles/app/css/Default/quotePhone.css' 
    'components/seiyria-bootstrap-slider/bootstrap-slider.min.css' 
    'bundles/app/css/Default/connections.css' 
    'bundles/app/css/Default/scrollindicator.css' 
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section id="quote" class="quote-container section--pad">
        <div class="container">

            <div class="h1"><strong>Your quote for your {{ phone }}</strong></div>
            <p class="lead">Delivered to you quicker than you'll get it anywhere else - that's a promise.</p>
                
            <div class="quote-card">
                <div class="row">

                    <div class="col-md-6">
                        <span class="h4"><strong>Device</strong></span>
                        <p>
                            {{ phone }}
                            {% if phones | length > 1 %}
                                    <br>
                                    <small>or do you have:
                                        {% for phone_mem in phones if phone_mem.id != phone.id %}
                                            <a href="{{ path('quote_make_model_memory', {'make': phone_mem.make, 'model': phone_mem.encodedModel, 'memory': phone_mem.memory}) }}" class="btn btn-memory">{{ phone_mem.memory }}GB</a>
                                        {% endfor %}                   
                                    </small>             
                            {% endif %} 
                        </p>
                        <span class="h4"><strong>Covered for</strong></span>
                        <p>Theft, Loss, Accidental Damage &amp; Breakdown <br><a href="#" data-toggle="modal" data-target="#more-info"><small>More details (including excess)</small></a></p>
                        <span class="h1"><strong>£{{ phone_price.monthlyPremiumPrice }}</strong> <small>per month</small></span>
                    </div>

                    <div class="col-md-6">
                        <span class="h4"><strong>AND HERE’S THE COOL BIT…</strong></span>
                        <p>Insure and connect with friends to build a reward pot. At the end of the year, if no one claims, we’ll give you back:</p>
                        <div class="reward-pot"></div>
                    </div>

                </div>
                <div class="quote-card--footer"></div>
            </div>

        </div>
    </section>

    <!-- <section class="background-image-light vertical-align-wrap">
        <div class="container vertical-align-middle">
            <div class="row">
                <div id="quote" class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 view-quote">
                    <div class="panel panel-primary">
                        <div class="row">
                            
                            <div class="col-xs-12 col-md-6 view-quote--left">
                                <p>Device</p>
                                <h4>{{ phone }}</h4>
                                {% if phones | length > 1 %}
                                    <div class="memory-select-text">
                                        Or do you have:
                                        {% for phone_mem in phones if phone_mem.id != phone.id %}
                                            <a href="{{ path('quote_make_model_memory', {'make': phone_mem.make, 'model': phone_mem.encodedModel, 'memory': phone_mem.memory}) }}" class="btn btn-link">{{ phone_mem.memory }}GB</a>
                                        {% endfor %}
                                    </div>
                                {% endif %}                  
                                <p>Monthly Cost</p>
                                <h2>£{{ phone_price.monthlyPremiumPrice }}</h2>
                                <p>What You Could Get Back <a href="#how-it-works"><i class="fa fa-question-circle"></i></a></p>
                                <h4>£{{ phone_price.maxPot }} with {{ phone_price.maxConnections }} connections</h4>
                                <p>Covered for</p>
                                <h4>Theft, Loss, Accidental Damage &amp; Breakdown</h4>
                                <p><a href="#" data-toggle="modal" data-target="#more-info">And more (includes excess information)</a></p>
                                {{ form_start(buy_form) }}
                                    {{ form_widget(buy_form.buy, {'label': 'BUY NOW', 'attr': {'class': 'btn btn-primary btn-rounded view-quote--btn'}}) }}
                                    <a id="how-it-works-btn" class="btn btn-primary btn-rounded btn-hollow view-quote--btn" href="#">How it works</a>
                                {{ form_end(buy_form)}}
                                <div class="visible-xs-block">
                                    {% if phone.isITunes %}
                                    <div>
                                        <h4>OR</h4>
                                        <a class="ga-outbound-click" data-clicklabel="iTunes" href="{{ apple_download('quotepage') }}">
                                            <img src="{{ cdn_url }}/images/icons/app-store-original.svg" alt="Download it on the App Store"></img>
                                        </a> 
                                    </div>
                                    {% endif %}
                                    {% if phone.isGooglePlay %}
                                    <div>
                                        <h4>OR</h4>
                                        <a class="ga-outbound-click" data-clicklabel="PlayStore" href="{{ google_download('quotepage') }}">
                                            <img src="{{ cdn_url }}/images/icons/google-play-original.svg" alt="Get it on Google Play"></img>
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 view-quote--right">
                                <ul class="text-left list-unstyled view-quote-list">
                                    <li>
                                        <h3><i class="fa fa-check-circle fa-lg view-quote--ticks" aria-hidden="true"></i> Get Up to 80% Money Back</h3>
                                        <p>Connect to friends to get up to 80% money back at the end of the year provided none of you claim.</p>
                                    </li>
                                    <li>
                                        <h3><i class="fa fa-check-circle fa-lg view-quote--ticks" aria-hidden="true"></i> 24/7 Claims Support</h3>
                                        <p>We know that accidents can happen at any time. That's why our UK based claims team are here for you whenever you need them.</p>
                                    </li>
                                    <li>
                                        <h3><i class="fa fa-check-circle fa-lg view-quote--ticks" aria-hidden="true"></i> Next-working Day Replacement</h3>
                                        <p>Some insurers can take up to 3 weeks to get you a new phone. We aim to get you a one the next working day once you claim is approved.</p>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 view-quote--footer">
                                <p class="text-center">Not your device? Select another phone <a href="/#get-quote">here</a>.</p>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </section> -->

    <section id="quote-banner" class="banner-sticky banner-sticky-hide">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <h3><small class="hidden-xs">Device</small> <span>{{ phone }}</span></h3>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <h3><span>£{{ phone_price.monthlyPremiumPrice }}</span> <small>a month</small></h3> 
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <a class="btn btn-primary btn-rounded" href="{{ path('purchase') }}">BUY NOW</a>
                </div>
            </div>
        </div>
    </section>

    {% include 'AppBundle::Default/howItWorks.html.twig' %}   

    <section class="footer-cta alt-brand-gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-left">
                    <h2>Still not sure?</h2>
                    <p class="lead">Get in touch, we will usually respond within 2 minutes.</p>
                </div>
                <div class="col-md-2 text-center">
                    <a class="btn btn-primary" id="open-intercom" href="mailto:bjo63djg@incoming.intercom.io">Chat with us <i class="fa fa-comments"></i></a>
                </div>
                <div class="col-md-2 text-center">
                    <a class="btn btn-info" id="help-centre" href="https://help.wearesosure.com" target="_blank">Visit Help Centre <i class="fa fa-info-circle"></i></a>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="more-info" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Coverage Summary</h4>
                </div>
                <div class="modal-body">
                    <h4>What you are covered for?</h4>
                    <p>If you take reasonable care of your phone and don't knowingly put it at risk you are covered for:</p>
                    <ul>
                        <li>Theft</li>
                        <li>Accidental Damage</li>
                        <li>Breakdown (including faults)</li>
                        <li>Loss</li>
                    </ul>
                    <br>
                    <p>In the event of theft or loss you are also covered for:</p>
                    <ul>
                        <li>Unauthorised network charges (up to £1,000 including VAT)</li>
                        <li>Accessories (e.g. headphones - up to £100 including VAT)</li>
                    </ul>
                    <br>
                    <h4>What you are NOT covered for?</h4>
                    <ul>
                        <li>Excess – You need to pay each time you make a successful claim. £50 for Damage or Breakdown. £70 for Theft or Loss.</li>
                        <li>More than two theft or loss claims in the same year.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-buy fade" id="buyModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(lead_form) }}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title text-center">Ready to join the Social Insurance revolution?</h3>
                </div>
                <div class="modal-body text-center">
                    <p class="lead">Just enter your email below to get started!</p>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            {{ form_errors(lead_form.email) }}
                            {{ form_widget(lead_form.email, {'attr': {'placeholder': 'Email address'}}) }}
                            {{ form_widget(lead_form.save, {'label': 'Continue', 'attr': {'class': 'btn btn-primary'}}) }}
                            {{ form_rest(lead_form) }}
                        </div>
                    </div>
                    {{ form_end(lead_form) }}
                    <div class="download-app-modal">
                        <div class="text-break">
                            <div class="line"></div>
                            OR
                            <div class="line"></div>
                        </div>
                        <div class="row" style="padding-bottom: 30px;">
                            <p class="lead">Download our app - it's a little bit easier.</p>
                            <div class="col-md-6 text-right">
                                <a class="ga-outbound-click" data-clicklabel="iTunes" href="{{ apple_download('modal') }}">
                                    <img src="{{ cdn_url }}/images/icons/app-store-original.svg" alt="Download it on the App Store"></img>
                                </a>
                            </div>
                            <div class="col-md-6 text-left">
                                <a class="ga-outbound-click" data-clicklabel="PlayStore" href="{{ google_download('modal') }}">
                                    <img src="{{ cdn_url }}/images/icons/google-play-original.svg" alt="Get it on Google Play"></img>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'AppBundle::Default/modalVideo.html.twig' %}

{% endblock %}
