{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row-fluid">
        <div class="col-xs-12 col-md-8">
            <h2>Select your phone</h2>
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_label(form.phone, 'Phone', {'label_attr': {'class': 'col-sm-1'}}) }}
                    {{ form_errors(form.phone) }}
                    {{ form_widget(form.phone, {'attr': {'class': 'col-sm-5'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.next, {'label': 'Continue', 'attr': {'class': 'btn btn-success'}}) }}
                </div>

            {{ form_end(form) }}
        </div>
        <div class="col-xs-12 col-md-4">
            <h2>
                Policy is <span id="policy-price">unknown - please select a policy</span>
            </h2>
            <h2>We cover you for</h2>
            <ul>
                <li>damage</li>
                <li>loss</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
