{% set include_emoji = 1 %}
{% extends 'base.html.twig' %}

{% block title %}so-sure -
    {{ phone }}{% endblock %}
{% block meta %}
    <meta name="description" content="For a small monthly fee your phone is covered for theft, loss, accidental damage and unauthorised usage."/>
    <meta name="keywords" content="mobile insurance, phone insurance, mobile phone insurance, cheap mobile phone insurance, cheap phone insurance, cheap mobile insurance, better phone insurance, better mobile phone insurance"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/Default/index.js'
    'components/seiyria-bootstrap-slider/bootstrap-slider.min.js'
    'bundles/app/js/Default/slider.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/css/Default/index.css'
    '@AppBundle/Resources/public/css/Default/quotePhone.css'
    'components/seiyria-bootstrap-slider/bootstrap-slider.min.css'
    '@AppBundle/Resources/public/css/Default/connections.css'
    '@AppBundle/Resources/public/css/Default/scrollindicator.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section id="quote" class="quote-container section--pad">
        <h1>Complete cover, best service and money back</h1>
        <div class="quote">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="quote-card">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-8 device">
                                <span class="h3">
                                    <span class="">{{ phone }}</span>
                                </span>               
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 rrp">
                                <span class="h4">
                                    <span class="h4">Retail Value:</span>
                                    <span class="text-blue">
                                        <strong>£{{ phone.initialPrice|number_format(0, '.', ',') }}</strong>
                                    </span> 
                                </span>
                            </div>
                        </div>     
                    </div>                     
                </div>
            </div>

            <div class="row">

               <div class="col-xs-12 col-sm-7 col-md-7">
                    <div class="quote-card">
                        <p class="h4"><strong>Covered for:</strong></p>
                        <ul class="list-unstyled">
                            <li class="h4"><i class="fa fa-check-circle fa-lg text-green" aria-hidden="true"></i> Loss <a type="button" class="" data-toggle="modal" data-target="#more-info"><i class="fa fa-question"></i></a></li>
                            <li class="h4"><i class="fa fa-check-circle fa-lg text-green" aria-hidden="true"></i> Theft <a type="button" class="" data-toggle="modal" data-target="#more-info"><i class="fa fa-question"></i></a></li>
                            <li class="h4"><i class="fa fa-check-circle fa-lg text-green" aria-hidden="true"></i> Accidental Damage</li>
                            <li class="h4"><i class="fa fa-check-circle fa-lg text-green" aria-hidden="true"></i> Breakdown</li> 
                            <li class="h4"><i class="fa fa-check-circle fa-lg text-green" aria-hidden="true"></i> Worldwide Coverage</li>                            
                        </ul>
                        <p class="h4"><strong>So-Sure Benefits:</strong></p>
                        <ul class="list-unstyled">
                            <li class="h4"><i class="fa fa-check-circle fa-lg text-blue" aria-hidden="true"></i> Next Working Day Replacement</li>
                            <li class="h4"><i class="fa fa-check-circle fa-lg text-blue" aria-hidden="true"></i> 24/7 UK Live Support</li>
                            <li class="h4"><i class="fa fa-check-circle fa-lg text-blue" aria-hidden="true"></i> Up to 80% Cashback Every Year</li>
                        </ul>                   
                    </div>
               </div>    

               <div class="col-xs-12 visible-xs-block">
                    <div class="quote-cost text-center">
                        <span class="h1 cost">
                            <strong>£{{ phone_price.monthlyPremiumPrice }}</strong> 
                            <small>per month</small>
                        </span><br>
                        <span>£50 Excess (£70 for Theft &amp; Loss)</span>
                        {#{ form_start(buy_form, {'attr': {'class': 'text-center'}}) }}
                            {{ form_widget(buy_form.buy, {'label': 'BUY NOW', 'attr': {'class': 'btn btn-success btn-rounded btn-block'}}) }}
                        {{ form_end(buy_form)}#}                        
                    </div>                   
               </div>  

                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="quote-card">
                        <p class="h4"><strong>And here's the cool bit...</strong></p>
                        {# set start_friends = phone_price.maxConnections - 1  #}
                        {% set start_friends = 10 %}
                        {% if start_friends > phone_price.maxConnections %}
                            {% set start_friends = phone_price.maxConnections %}
                        {% endif %}
                        {% set start_value = start_friends * connection_value %}
                        {% if start_value > phone_price.maxPot %}
                            {% set start_value = phone_price.maxPot %}
                        {% endif %}
     
                        <p class="">
                            If you connect with 
                            <strong id="num_friends" class="text-blue text-nowrap">
                                {{ start_friends }} friend{% if start_friends > 1 %}s{% endif %}
                            </strong> and no one claims you get  <strong id="money_back" class="text-blue cashback">£{{ start_value }}</strong> cashback every year.                           
                        </p>
                        <input
                            type="text"
                            class="span2"
                            value=""
                            data-slider-min="0"
                            data-slider-max="{{ phone_price.maxConnections }}"
                            data-slider-maxpot="{{ phone_price.maxPot }}"
                            data-slider-step="1"
                            data-slider-value="{{ start_friends }}"
                            data-slider-id="connection-slider"
                            id="slider-value"
                            data-slider-handle="round"
                            data-slider-tooltip="hide"
                            data-slider-connection-value="{{ connection_value }}"/>

                        <div class="quote-tip">
                           <small>Fewer connections? Alter the slider to see what you could still get!</small>
                        </div>                             
                    </div>  
                    <div class="">
                        <p class="h4"><strong>Or do you have the:</strong></p>
                            {% if phones | length > 1 %}
                                    {% for phone_mem in phones if phone_mem.id != phone.id %}
                                            <a href="{{ path('quote_make_model_memory', {'make': phone_mem.make, 'model': phone_mem.encodedModel, 'memory': phone_mem.memory}) }}" class="btn btn-memory btn-sm">{{ phone_mem.memory }}GB</a>
                                    {% endfor %}                                  
                            {% endif %}                            
                        </p>                        
                        Select another phone <a href="{{ path('homepage') }}#get-quote"><strong>here</strong></a>.
                    </div>               
                </div>

                <div class="col-sm-12 col-md-12 hidden-xs">
                    <div class="quote-cost text-center">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <span class="h1 cost">
                                    <strong>£{{ phone_price.monthlyPremiumPrice }}</strong> 
                                    <small>per month</small>
                                </span><br>
                                <small>£50 Excess (£70 for Theft &amp; Loss)</small>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                {{ form_start(buy_form, {'attr': {'class': ''}}) }}
                                    {{ form_widget(buy_form.buy, {'label': 'BUY NOW', 'attr': {'class': 'btn btn-success btn-rounded btn-block'}}) }}
                                {{ form_end(buy_form)}}  
                            </div>                            
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="quote-banner" class="banner-sticky banner-sticky-hide">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <h3><small>Device</small> <span>{{ phone }}</span></h3>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <h3><span>£{{ phone_price.monthlyPremiumPrice }}</span> <small>/month</small></h3>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">

                    {{ form_start(buy_form_banner) }}
                        {{ form_widget(buy_form_banner.buy, {'label': 'BUY NOW', 'attr': {'class': 'btn btn-success btn-rounded'}}) }}
                    {{ form_end(buy_form_banner)}}

                </div>
            </div>
        </div>
    </section>

    {{ render(controller('AppBundle:Default:sosureCompared')) }}

    {% include 'AppBundle::Default/feedbackQuotes.html.twig' %}    

<!--     <section class="footer-cta alt-brand-gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-left">
                    <h2>Still not sure?</h2>
                    <p class="lead">Get in touch, we will usually respond within 2 minutes.</p>
                </div>
                <div class="col-md-2 text-center">
                    <a class="btn btn-primary" id="open-intercom" href="mailto:bjo63djg@incoming.intercom.io">Chat with us <i class="fa fa-comments"></i></a>
                </div>
                <div class="col-md-2 text-center">
                    <a class="btn btn-info" id="help-centre" href="https://help.wearesosure.com" target="_blank">Visit Help Centre <i class="fa fa-info-circle"></i></a>
                </div>
            </div>
        </div>
    </section> -->

    <div class="modal fade" id="more-info" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">In the event of theft or loss you are also covered for:</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>Unauthorised network charges (up to £1,000 including VAT)</li>
                        <br>
                        <li>Accessories (e.g. headphones - up to £100 including VAT)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-buy fade" id="buyModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(lead_form) }}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title text-center">Ready to join the Social Insurance revolution?</h3>
                </div>
                <div class="modal-body text-center">
                    <p class="lead">Just enter your email below to get started!</p>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            {{ form_errors(lead_form.email) }}
                            {{ form_widget(lead_form.email, {'attr': {'placeholder': 'Email address'}}) }}
                            {{ form_widget(lead_form.save, {'label': 'Continue', 'attr': {'class': 'btn btn-primary'}}) }}
                            {{ form_rest(lead_form) }}
                        </div>
                    </div>
                    {{ form_end(lead_form) }}
                    <div class="download-app-modal">
                        <div class="text-break">
                            <div class="line"></div>
                            OR
                            <div class="line"></div>
                        </div>
                        <div class="row" style="padding-bottom: 30px;">
                            <p class="lead">Download our app - it's a little bit easier.</p>
                            <div class="col-md-6 text-right">
                                <a class="ga-outbound-click" data-clicklabel="iTunes" href="{{ apple_download('modal') }}">
                                    <img src="{{ cdn_url }}/images/icons/app-store-original.svg" alt="Download it on the App Store"></img>
                                </a>
                            </div>
                            <div class="col-md-6 text-left">
                                <a class="ga-outbound-click" data-clicklabel="PlayStore" href="{{ google_download('modal') }}">
                                    <img src="{{ cdn_url }}/images/icons/google-play-original.svg" alt="Get it on Google Play"></img>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
