{% set include_emoji = 1 %}
{% extends 'base.html.twig' %}

{% block title %}so-sure -
    {{ phone }}{% endblock %}
{% block meta %}
    <meta name="description" content="For a small monthly fee your phone is covered for theft, loss, accidental damage and unauthorised usage."/>
    <meta name="keywords" content="mobile insurance, phone insurance, mobile phone insurance, cheap mobile phone insurance, cheap phone insurance, cheap mobile insurance, better phone insurance, better mobile phone insurance"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/seiyria-bootstrap-slider/bootstrap-slider.min.js'
    'bundles/app/js/Default/slider.js'
    '@AppBundle/Resources/public/js/Default/index.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/app/css/Default/index.css' 'bundles/app/css/Default/quotePhone.css' 'components/seiyria-bootstrap-slider/bootstrap-slider.min.css' 'bundles/app/css/Default/connections.css' 'bundles/app/css/Default/scrollindicator.css' %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    <section class="view-quote">
        <div class="container">
            <h1 class="text-center">Your Quote</h1>
            <div class="row">
              <div class="panel panel-primary">
                <div class="col-md-12">
                <div class="col-md-6">
                    <div class="quote-panel-left">
                        <div class="row">
                            <div class="col-md-12">
                                <span>
                                    <p>Device</p>
                                    <h4>{{ phone }}</h4>
                                    <br>
                                    <p>Monthly Cost</p>
                                    <h4>£{{ phone_price.monthlyPremiumPrice }}</h4>
                                    <br>
                                    <p>Covered for</p>
                                    <h4>Theft, Loss &amp; Accidental Damage</h4>
                                    <p>
                                        <a href="#" data-toggle="modal" data-target="#more-info">More information</a>
                                    </p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="quote-panel-right">
                        <div class="row">
                            <div class="col-md-12">
                                <span>
                                    {% set start_friends = phone_price.maxConnections - 1 %}
                                    {% set start_value = start_friends * connection_value %}
                                    {% if start_value > phone_price.maxPot %}
                                        {% set start_value = phone_price.maxPot %}
                                    {% endif %}

                                    <h4>AND HERE'S THE COOL BIT</h4>
                                    <div class="row reward-pot">
                                        <div class="col-sm-4" style="padding-top: 35px;">
                                            <p class="text-left" style="margin-bottom: -10px;">
                                                Connect with
                                            </p>
                                            <h3 class="text-left">
                                                <span id="num_friends" style="color: #3399FF">{{ start_friends }}
                                                    friends</span>
                                            </h3>
                                        </div>
                                        <div class="col-md-8">
                                            <p class="text-left" style="padding-top: 30px;">
                                            <form>
                                                <input
                                                    type="text"
                                                    class="span2"
                                                    value=""
                                                    data-slider-min="0"
                                                    data-slider-max="{{ phone_price.maxConnections }}"
                                                    data-slider-maxpot="{{ phone_price.maxPot }}"
                                                    data-slider-step="1"
                                                    data-slider-value="{{ start_friends }}"
                                                    data-slider-id="connection-slider"
                                                    id="slider-value"
                                                    data-slider-handle="round"
                                                    data-slider-connection-value="{{ connection_value }}"/>
                                                &nbsp;
                                            </form>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row row-centered">
                                        <div class="col-md-6">
                                            <p class="text-left" style="padding-top: 30px;">
                                              At the end of the year, if no one claims, we'll give you back:
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-centered">
                                            <div id="money_back" class="circle">£{{ start_value }}</div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 30px; padding-bottom: 10px;">
                <div class="col-sm-12">
                  <p class="text-center">
                    <a class="btn btn-primary" id="get-started">Let's get started</a>
                  </p>
                </div>
              </div>
                <div class="row" style="border-top: 2px solid #efefef; font-size: 14px; padding-top: 10px;">
                <div class="col-sm-12">
                  <p class="text-center">
                    Not your device? Select another phone <a href="/#get-quote">here</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
        <div class="container support-chat">
            <h2 class="text-center">
                Got a question?
            </h2>
            <p class="lead text-center" id="hero-description">
              Ask our team a question below or check out our <a href="help.wearesosure.com">Help Centre</a>.
            </p>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <div id="chat-container" style="height: 500px;">
              </div>
              <div class="col-md-4"></div>
              </div>
            </div>
          </div>
            <div class="container faqs">
              <h3 class="text-center" style="padding-bottom: 30px;">Frequently Asked Questions</h3>
                <div class="row">
                    <div class="col-md-12 text-left">
                        <h4>How does it work?</h4>
                        <p>You still pay £{{ phone_price.monthlyPremiumPrice|number_format(2, '.', ',') }}
                            monthly for a year, but for each friend that also insures with us we’ll
                            <a href="https://help.wearesosure.com/hc/en-us/sections/201888645-Your-Reward-Pot" target="_blank">add up to £10 your Reward Pot</a>.</p>
                    </div>
                    <div class="col-md-12 text-left">
                        <h4>How do I get money back?</h4>
                        <p>If at the end of the year neither you nor your friends have made a claim, you'll get whatever is in your Reward Pot back.</p>
                    </div>
                    <div class="col-md-12 text-left">
                        <h4>What happens if someone claims?</h4>
                        <p>If someone claims, your
                            <a href="https://help.wearesosure.com/hc/en-us/articles/208238165-What-happens-to-my-Reward-Pot-if-someone-claims-" target="_blank">Reward Pot will go towards helping them get their phone back</a>. They’ll do the same if something happens to you.</p>
                    </div>
                    <div class="col-md-12 text-left">
                        <h4>Is this a joke?</h4>
                        <p>No. We just like careful people. If you connect with your friends and you all look after your phones we'll reward you! It's that simple.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="download-now" id="download-now">
    <div class="container">
        <h2>The next bit is via the app</h2>
          <p class="lead text-center" id="hero-description">It makes sense, we are a mobile insurance provider after all!</p>
        {% if is_promo %}
            <p class="lead text-center" id="hero-description">As an added bonus, become one our first 1,000 customers &amp; we'll give you up to
                <strong>£15 for each connection</strong>. You could also get your 1st year of insurance for free!</p>
        {% endif %}
        <div class="row download-app">
            <div class="col-md-6 text-right">
                <a class="ga-outbound-click" href="{{ apple_download('quotepage') }}">
                    <img src="{{ cdn_url }}/images/icons/app-store-original.svg" alt="Download it on the App Store"></img>
                </a>
            </div>
            <div class="col-md-6 text-left">
                <a class="ga-outbound-click" href="{{ google_download('quotepage') }}">
                    <img src="{{ cdn_url }}/images/icons/google-play-original.svg" alt="Get it on Google Play"></img>
                </a>
            </div>
        </div>
    </div>
</div>
</section>

<div class="modal fade" id="more-info" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Coverage Summary</h4>
        </div>
        <div class="modal-body">
            <h4>What you are covered for?</h4>
            <p>If you take reasonable care of your phone and don't knowingly put it at risk you are covered for:</p>
            <ul>
                <li>Theft</li>
                <li>Accidental Damage</li>
                <li>Breakdown (including faults)</li>
                <li>Loss</li>
            </ul>
            <br>
            <p>In the event of theft or loss you are also covered for:</p>
            <ul>
                <li>Unauthorised network charges (up to £1,000 including VAT)</li>
                <li>Accessories (e.g. headphones - up to £100 including VAT)</li>
            </ul>
            <br>
            <h4>What you are NOT covered for?</h4>
            <ul>
                <li>Excess – You need to pay each time you make a successful claim. £50 for Damage or Breakdown. £70 for Theft or Loss.</li>
                <li>More than two theft or loss claims in the same year.</li>
            </ul>
        </div>
    </div>
</div>
</div>

<!-- Smooch Embedded -->
<script src="https://cdn.smooch.io/smooch.min.js"></script>
<script>
    Smooch.init({
    appToken: 'aa83ed9x7259nh17sl5px0oga',
    embedded: true
    });
    Smooch.render(document.getElementById('chat-container'));
</script>

{% endblock %}
