{% set include_emoji = 1 %}
{% extends 'base.html.twig' %}

{% block title %}so-sure -
    {{ phone }}{% endblock %}
{% block meta %}
    <meta name="description" content="For a small monthly fee your phone is covered for theft, loss, accidental damage and unauthorised usage."/>
    <meta name="keywords" content="mobile insurance, phone insurance, mobile phone insurance, cheap mobile phone insurance, cheap phone insurance, cheap mobile insurance, better phone insurance, better mobile phone insurance"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/Default/index.js'
    'components/seiyria-bootstrap-slider/bootstrap-slider.min.js'
    'bundles/app/js/Default/slider.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/app/css/Default/index.css'
    'bundles/app/css/Default/quotePhone.css'
    'components/seiyria-bootstrap-slider/bootstrap-slider.min.css'
    'bundles/app/css/Default/connections.css'
    'bundles/app/css/Default/scrollindicator.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section id="quote" class="quote-container section--pad">

        <h1><strong>Your quote for your {{ phone }}</strong></h1>
        <p class="lead">Delivered to you quicker than you'll get it anywhere else - that's a promise.</p>

        <div class="quote-card">
            <div class="row">

                <div class="col-md-5">
                    <span class="h4"><strong>Device</strong></span>
                    <p>
                        <span class="device">{{ phone }}</span>
                        {% if phones | length > 1 %}
                                <br>
                                <small>or do you have:
                                    {% for phone_mem in phones if phone_mem.id != phone.id %}
                                        <a href="{{ path('quote_make_model_memory', {'make': phone_mem.make, 'model': phone_mem.encodedModel, 'memory': phone_mem.memory}) }}" class="btn btn-memory">{{ phone_mem.memory }}GB</a>
                                    {% endfor %}
                                </small>
                        {% endif %}
                    </p>
                    <span class="h4"><strong>Covered for</strong></span>
                    <p>Theft, Loss, Accidental Damage &amp; Breakdown <br><a href="#" data-toggle="modal" data-target="#more-info"><small>More details (including excess)</small></a></p>
                    <span class="h1"><strong>£{{ phone_price.monthlyPremiumPrice }}</strong> <small>per month</small></span>
                </div>

                <div class="col-md-7">
                    <span class="h4"><strong>AND HERE'S THE COOL BIT... </strong></span>

                    {% set start_friends = phone_price.maxConnections - phone_price.maxConnections + 1  %}
                    {% set start_value = start_friends * connection_value %}
                    {% if start_value > phone_price.maxPot %}
                        {% set start_value = phone_price.maxPot %}
                    {% endif %}

                    <p class="no-of-friends">
                        We give you the free option to invite and connect with:
                    </p>

                    <input
                    type="text"
                    class="span2"
                    value=""
                    data-slider-min="0"
                    data-slider-max="{{ phone_price.maxConnections }}"
                    data-slider-maxpot="{{ phone_price.maxPot }}"
                    data-slider-step="1"
                    data-slider-value="{{ start_friends }}"
                    data-slider-id="connection-slider"
                    id="slider-value"
                    data-slider-handle="round"
                    data-slider-connection-value="{{ connection_value }}"/>

                    <strong id="num_friends">
                        {{ start_friends }} friend
                    </strong>

                    <p>Then at the end of the year, if no one claims, we’ll give you back:</p>

                    <div class="reward-pot">
                        <div id="money_back" class="reward-pot--value">£{{ start_value }}</div>
                    </div>

                </div>

            </div>
<!--             <div class="quote-card--footer"></div>   -->
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <p><a id="how-it-works-btn" class="btn btn-primary btn-rounded btn-hollow btn-quote-card" href="#" role="button">Why we're better</a>
                <a class="btn btn-success btn-rounded btn-quote-card" href="{{ path('purchase') }}" role="button">Insure your phone</a></p>
                <p class="text-center"><small>Not your device? Select another phone <a href="/#get-quote">here</a>.</small></p>
            </div>
        </div>

    </section>

    <section id="quote-banner" class="banner-sticky banner-sticky-hide">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <h3><span>{{ phone }}</span></h3>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <h3><span>£{{ phone_price.monthlyPremiumPrice }}</span><small>/month</small></h3>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
		{{ form_start(buy_form) }}
		    {{ form_widget(buy_form.buy, {'label': 'Insure your phone', 'attr': {'class': 'btn btn-primary btn-rounded'}}) }}
		{{ form_end(buy_form)}}
                </div>
            </div>
        </div>
    </section>

    {% include 'AppBundle::Default/howItWorks.html.twig' %}

    <section class="footer-cta alt-brand-gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-left">
                    <h2>Still not sure?</h2>
                    <p class="lead">Get in touch, we will usually respond within 2 minutes.</p>
                </div>
                <div class="col-md-2 text-center">
                    <a class="btn btn-primary" id="open-intercom" href="mailto:bjo63djg@incoming.intercom.io">Chat with us <i class="fa fa-comments"></i></a>
                </div>
                <div class="col-md-2 text-center">
                    <a class="btn btn-info" id="help-centre" href="https://help.wearesosure.com" target="_blank">Visit Help Centre <i class="fa fa-info-circle"></i></a>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="more-info" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Coverage Summary</h4>
                </div>
                <div class="modal-body">
                    <h4>What you are covered for?</h4>
                    <p>If you take reasonable care of your phone and don't knowingly put it at risk you are covered for:</p>
                    <ul>
                        <li>Theft</li>
                        <li>Accidental Damage</li>
                        <li>Breakdown (including faults)</li>
                        <li>Loss</li>
                    </ul>
                    <br>
                    <p>In the event of theft or loss you are also covered for:</p>
                    <ul>
                        <li>Unauthorised network charges (up to £1,000 including VAT)</li>
                        <li>Accessories (e.g. headphones - up to £100 including VAT)</li>
                    </ul>
                    <br>
                    <h4>What you are NOT covered for?</h4>
                    <ul>
                        <li>Excess – You need to pay each time you make a successful claim. £50 for Damage or Breakdown. £70 for Theft or Loss.</li>
                        <li>More than two theft or loss claims in the same year.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-buy fade" id="buyModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(lead_form) }}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title text-center">Ready to join the Social Insurance revolution?</h3>
                </div>
                <div class="modal-body text-center">
                    <p class="lead">Just enter your email below to get started!</p>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            {{ form_errors(lead_form.email) }}
                            {{ form_widget(lead_form.email, {'attr': {'placeholder': 'Email address'}}) }}
                            {{ form_widget(lead_form.save, {'label': 'Continue', 'attr': {'class': 'btn btn-primary'}}) }}
                            {{ form_rest(lead_form) }}
                        </div>
                    </div>
                    {{ form_end(lead_form) }}
                    <div class="download-app-modal">
                        <div class="text-break">
                            <div class="line"></div>
                            OR
                            <div class="line"></div>
                        </div>
                        <div class="row" style="padding-bottom: 30px;">
                            <p class="lead">Download our app - it's a little bit easier.</p>
                            <div class="col-md-6 text-right">
                                <a class="ga-outbound-click" data-clicklabel="iTunes" href="{{ apple_download('modal') }}">
                                    <img src="{{ cdn_url }}/images/icons/app-store-original.svg" alt="Download it on the App Store"></img>
                                </a>
                            </div>
                            <div class="col-md-6 text-left">
                                <a class="ga-outbound-click" data-clicklabel="PlayStore" href="{{ google_download('modal') }}">
                                    <img src="{{ cdn_url }}/images/icons/google-play-original.svg" alt="Get it on Google Play"></img>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'AppBundle::Default/modalVideo.html.twig' %}

{% endblock %}
