{% extends 'base.html.twig' %}

{% block title %}so-sure - Samsung S7 insured with Vodafone?{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Download our app now to see how much you could save."/>
    <meta name="keywords" content="mobile phone insurance, social insurance"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts    
    '@AppBundle/Resources/public/js/Default/index.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/css/Default/index.css'
    '@AppBundle/Resources/public/css/Default/article.css'    
    '@AppBundle/Resources/public/css/Default/modal.css' %}   
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="hero isInsuranceWithVodafoneAllThatItSeems">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12">
                    <h1>Samsung S7 insured with Vodafone?</h1>
                </div>
            </div>

        </div>
    </section>   

    <section class="article-content section--pad">
        <div class="container">
            
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>Vodafone may have the best intentions for their insurance customers but we’ve been hearing reports of outrageous wait times.</p>
                </div>
            </div>           

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <blockquote>
                        <p>Having been a loyal Vodafone customer for some time I was naturally shocked when they told me that it would take up to two weeks for my damaged phone to be replaced. Terrible service!</p>
                        <footer>
                            Anthony Karibian
                        </footer>
                    </blockquote>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default table-responsive">

                        <table class="table table-bordered">
                            <thead>
                                <tr class="info">
                                    <td width="15%" class="h4"><strong></strong></td>
                                    <td width="42.5%" class="h4"><strong>so-sure 😊</strong></td>
                                    <td width="42.5%" class="h4"><strong>Vodafone 😫</strong></td>
                               </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Price</td>
                                    <td><i class="fa fa-check fa-lg text-green" aria-hidden="true"></i> £7.99 per month</td>
                                    <td><i class="fa fa-times fa-lg text-red" aria-hidden="true"></i> £12 per month</td>                                
                                </tr>
                                <tr>
                                    <td>Next Working Day Replacement?</td>
                                    <td><i class="fa fa-check fa-lg text-green" aria-hidden="true"></i> Yes</td>
                                    <td><i class="fa fa-times fa-lg text-red" aria-hidden="true"></i> 5 working days for damage, 7 working days for loss or theft.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>              

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>We know that things like next day delivery, comprehensive cover and top customer service should come as standard but unfortunately (for the customer) they often don’t. <br> That’s why so-sure:</p>       
                    <ul>
                        <li>only sells one type of cover: full cover: loss, theft, damage, breakdown.</li>
                        <li>provides  next day replacement or repair.</li>
                        <li>up to 80% money back when you and your friends don’t claim.</li>
                    </ul>    
                    <p>And we’re here to help 24 hours a day, 7 days a week.</p>
                    <p>If you feel like Vodafone or another company aren’t stepping up to the mark then It’s easy to switch: <em> if you bought your policy within the last 14 days then you can cancel for free, otherwise all you need to do is give them 30 days notice.</em></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="{{ path('homepage') }}" class="btn btn-success btn-rounded btn-lg">Make the switch</a>
                </div>
            </div>            

        </div>
    </section>

    {% include 'AppBundle::Default/feedbackQuotes.html.twig' %}    

{% endblock %}
