{% set uid = '' %}
{% set formId = 'dropdown-phone-form' %}
{% set buttonText = 'Quote me' %}

{% if type is defined and type == 'purchase-select' %}
    {% set buttonText = 'Select Phone' %}
{% elseif type is defined and type == 'purchase-change' %}
    {% set buttonText = 'Select Phone' %}
{% elseif type is defined and type == 'homepage-sticky' %}
    {% set uid = '-1' %}
    {% set formId = 'dropdown-phone-form' ~ uid %}
{% elseif type is defined and type == 'footer' %}
    {% set uid = '-2' %}
    {% set formId = 'dropdown-phone-form' ~ uid %}
{% else %}
    {% set buttonText = 'Quote me' %}
{% endif %}

<div id="select-phone-data"
     class="dropdown-phone-form"
     data-phones='{{ phones|json_encode|raw }}'
     data-sticky-search="true"
     data-show-single-mem-opt="{% if memoptions is defined and memoptions == 'single-mem-hide-dropdown' %}true{% else %}false{% endif %}">
    {{ form_start(form_phone, { 'attr': { 'id': formId, 'autocomplete': 'off' }}) }}
        <div class="form-group">
            {{ form_widget(form_phone.make, {
              'attr': {
                'class': 'select-phone-option select-phone-make form-control'
            }}) }}
            {{ form_widget(form_phone.model, {
              'attr': {
                'class': 'select-phone-option select-phone-model form-control',
                'style': 'display:none;'
            }}) }}
            {{ form_widget(form_phone.memory, {
                'attr': {
                    'class': 'select-phone-option select-phone-memory form-control',
                    'style': 'display:none;'
            }}) }}
            {{ form_widget(form_phone.next, {
              'label': buttonText,
              'attr': {
                'class': 'btn btn-green btn-block btn-pad select-phone-btn',
                'style': 'display:none;'
            }}) }}
        </div>
    {{ form_end(form_phone) }}
</div>
