{# Set type of form dependant where used or default #}

{# default to #}
{% set secondaryBtn = false %}
{% set buttonText   = 'Quote me' %}
{% set buttonCSS    = 'btn btn-green btn-pad' %}
{% set basePath     = '/phone-insurance/' %}
{% set phonePath    = 'quote_phone' %}
{% set pathSuffix   = '' %}
{% set formID       = 'search-phone-form' %}
{% set formClass    = '' %}
{% if phone %}
  {% set formAction   = path('quote_phone', {'id': phone.id }) %}
{% endif %}

{% if type is defined and type == 'homepage' %}
    {% set secondaryBtn = true %}
    {% set buttonText   = 'Quote me' %}
    {% set buttonCSS    = 'btn btn-success btn-search' %}
    {% set formClass    = 'form-inline' %}
{% elseif type == 'new-homepage' %}
    {% set secondaryBtn = true %}
    {% set formClass    = 'form-inline' %}
{% elseif type == 'old-inline' %}
    {% set buttonCSS    = 'btn btn-success btn-search' %}
    {% set formClass    = 'form-inline' %}
{% elseif type == 'old-block' %}
    {% set buttonCSS    = 'btn btn-success btn-search' %}
{% elseif type == 'new-inline' %}
    {% set formClass    = 'form-inline' %}
{% elseif type == 'purchase-select' %}
    {% set buttonText = 'Select Phone' %}
    {% set buttonCSS    = 'btn btn-green btn-block btn-pad' %}
    {% set basePath = '/select-phone/purchase-select/' %}
{% elseif type == 'purchase-change' %}
    {% set buttonText = 'Select Phone' %}
    {% set buttonCSS    = 'btn btn-green btn-block btn-pad' %}
    {% set basePath = '/select-phone/purchase-change/' %}
{% elseif type == 'learn-more' %}
    {# TODO - Add route action back to learn more #}
    {% set buttonText   = 'Learn more' %}
    {% set phonePath    = 'learn_more_phone' %}
    {% set buttonCSS    = 'btn btn-green btn-block btn-pad' %}
    {% if phone %}
      {% set formAction   = path('learn_more_phone', {'id': phone.id }) %}
    {% endif %}
    {% set pathSuffix   = '/learn-more' %}
{% endif %}

<div id="select-phone-data" data-phones='{{ phones|json_encode|raw }}'>

    <form method="get"
          id="{{ formID }}"
          {% if phone %}
            action="{{ formAction }}"
          {% endif %}
          data-base-path="{{ basePath }}"
          data-path-suffix="{{ pathSuffix }}"
          class="{{ formClass }}">
        <div class="form-group">
            <input type="text"
                   class="required search-phone-text search-phone"
                   placeholder="Find your phone (e.g. iPhone 7)"
                   autocomplete="off"
                   value="{% if phone %}{{ phone }}{% endif %}" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn {{ buttonCSS }}">{{ buttonText }}</button>
        </div>
        {% if secondaryBtn == true  %}
            {# TODO #}
            <div class="form-group">
                <a id="find-out-more"
                   href="#" class="btn btn-link-white scroll-to hidden-xs"
                   data-scroll-to-anchor="#why-so-sure">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i> LEARN MORE
                </a>
            </div>
        {% endif %}
    </form>

    {% if type is not defined or not type  %}
        <p><a href="mailto:hello@wearesosure.com" class="btn btn-link text-black open-intercom"><i class="fa fa-comments"></i> Don't see your device? Let us know.</a></p>
    {% endif %}

    <div id="loading-search-phone" class="text-center so-sure-loading">
        <p><small>loading...</small></p>
    </div>

</div>
