{# Set type of form dependant where used or default #}
{# if basepath or formID is changed - change PurchaseControllerTest test cases #}

{# default to #}
{% set uid          = 'search-phone-form' %}
{% set buttonText   = 'Instant Quote' %}
{% set buttonCSS    = 'btn btn-blue btn-pad btn-block' %}
{% set basePath     = '/phone-insurance/' %}
{% set phonePath    = 'quote_phone' %}
{% set pathSuffix   = '' %}
{% set formID       = '' %}
{% set formClass    = 'form-inline--homepage select-phone-form' %}
{% set placeholder  = 'Find your phone e.g. iPhone 8 Plus...' %}

{% if phone %}
  {% set formAction   = path('quote_phone', {'id': phone.id }) %}
{% endif %}

{% if type is defined and type == 'homepage' %}
    {% set formID = 'search-phone-form-homepage' %}
    {% set uid    = '-1' %}
{% elseif type is defined and type == 'homepage-sticky' %}
    {% set formID = 'search-phone-form-homepage' %}
    {% set uid    = '-1' %}
    {% set stickySearch = true %}
{% elseif type is defined and type == 'ebay' %}
    {% set formID = 'search-phone-form-homepage' %}
    {% set uid    = '-1' %}
    {% set placeholder = 'Find your phone to get a quote' %}
{% elseif type is defined and type == 'starling' %}
    {% set formID = 'search-phone-form-homepage' %}
    {% set uid    = '-1' %}
    {% set placeholder = 'Find your phone to get a quote' %}
{% elseif type == 'purchase-select' %}
    {% set basePath = '/select-phone-search/purchase-select/' %}
{% elseif type == 'purchase-change' %}
    {% set basePath = '/select-phone-search/purchase-change/' %}
{% elseif type == 'learn-more' %}
    {# TODO - Add route action back to learn more #}
    {% set buttonText   = 'Learn more' %}
    {% set phonePath    = 'learn_more_phone' %}
    {% set buttonCSS    = 'btn btn-green btn-block btn-pad' %}
    {% if phone %}
      {% set formAction   = path('learn_more_phone', {'id': phone.id }) %}
    {% endif %}
    {% set pathSuffix   = '/learn-more' %}
{% elseif type is defined and type == 'footer' %}
    {% set formID    = 'search-phone-form-footer' %}
    {% set uid    = '-2' %}
{% endif %}

<div id="select-phone-data"
     class="search-phone-form search-phone-form--homepage"
     data-sticky-search="true">

    <form method="get"
          id="{{ formID }}{{ uid }}"
          {% if phone %}
            action="{{ formAction }}"
          {% endif %}
          data-base-path="{{ basePath }}"
          data-path-suffix="{{ pathSuffix }}"
          class="{{ formClass }}"
          autocomplete="off">

        <input type="text"
             id="search-phone{{ uid }}"
             class="required search-phone-text search-phone"
             placeholder="{{ placeholder }}"
             value="" />
    </form>

    {# TODO: Move to footer #}
    {% include 'AppBundle::Default/loadingWidget.html.twig' with { 'class': 'loading-overlay-widget--show'} %}
</div>
