{# Set type of form dependant where used or default #}
{# if basepath or formID is changed - change PurchaseControllerTest test cases #}

{# default to #}
{% set uid          = 'search-phone-form' %}
{% set buttonText   = 'Instant Quote' %}
{% set buttonCSS    = 'btn btn-blue btn-pad btn-block' %}
{% set basePath     = '/phone-insurance/' %}
{% set phonePath    = 'quote_phone' %}
{% set pathSuffix   = '' %}
{% set formID       = '' %}
{% set stickySearch = false %}
{% set formClass    = 'form-inline--homepage select-phone-form' %}

{% if phone %}
  {% set formAction   = path('quote_phone', {'id': phone.id }) %}
{% endif %}

{% if type is defined and type == 'homepage' %}
    {% set formID = 'search-phone-form-homepage' %}
    {% set uid    = '-1' %}
{% elseif type is defined and type == 'homepage-sticky' %}
    {% set formID = 'search-phone-form-homepage' %}
    {% set uid    = '-1' %}
    {% set stickySearch = true %}
{% elseif type is defined and type == 'footer' %}
    {% set formID    = 'search-phone-form-footer' %}
    {% set uid    = '-2' %}
{% endif %}

<div id="select-phone-data{{ uid }}"
     class="search-phone-form search-phone-form--homepage"
     data-sticky-search="{{ stickySearch }}">

    <form method="get"
          id="{{ formID }}{{ uid }}"
          {% if phone %}
            action="{{ formAction }}"
          {% endif %}
          data-base-path="{{ basePath }}"
          data-path-suffix="{{ pathSuffix }}"
          class="{{ formClass }}"
          autocomplete="off">

        <input type="text"
             id="search-phone{{ uid }}"
             class="required search-phone-text search-phone"
             placeholder="Find your phone e.g. iPhone 8 Plus..."
             value="" />
    </form>

    {# TODO: Move to footer #}
    {% include 'AppBundle::Default/loadingWidget.html.twig' with { 'class': 'loading-overlay-widget--show'} %}
</div>
