<div id="select-phone-data" data-phones='{{ phones|json_encode|raw }}'>
    {% if type is defined and type == 'purchase-select' %}
        {% set buttonText = 'Select Phone' %}
        {% set basePath = '/select-phone/purchase-select/' %}
    {% elseif type is defined and type == 'purchase-change' %}
        {% set buttonText = 'Select Phone' %}
        {% set basePath = '/select-phone/purchase-change/' %}
    {% else %}
        {% set buttonText = 'Quote me' %}
        {% set basePath = '/phone-insurance/' %}
    {% endif %}
    {% if type == 'homepage' or type == 'other_pages' or type == 'makelanding' %}
        <form method="get" id="search-phone-form" {% if phone %}action="{{ path('quote_phone', {'id': phone.id }) }}"{% endif %} data-base-path="{{ basePath }}" class="form-inline">
            <div class="form-group">
                <input type="text" class="required search-phone-text" id="search-phone" placeholder="Find your phone e.g. iPhone 7" value="{% if phone %}{{ phone }}{% endif %}" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn {% if type == 'homepage' or type == 'other_pages' %} btn btn-success btn-search {% else %} btn-green btn-pad {% endif %}">{{ buttonText }}</button>
            </div>



            {% if type == 'homepage' or type == 'makelanding' %}
                <div class="form-group">
                    <a id="find-out-more"
                       href="#" class="btn btn-link-white scroll-to hidden-xs"
                       data-scroll-to-anchor="#why-so-sure">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i> LEARN MORE
                    </a>
                </div>
            {% endif %}
        </form>
    {% elseif type == 'learn_more' %}
        form here
    {% else %}
        <form {% if type == 'inline' %} class="form-inline" {% endif %}  method="get" id="search-phone-form" {% if phone %}action="{{ path('quote_phone', {'id': phone.id }) }}"{% endif %} data-base-path="{{ basePath }}">
            <div class="form-group">
                <input type="text" class="required search-phone-text" id="search-phone" placeholder="Find your phone e.g. iPhone 7" value="{% if phone %}{{ phone }}{% endif %}" />
            </div>
            <button type="submit" class="btn btn-green {% if type != 'inline' %} btn-block {% endif %}   btn-pad">{{ buttonText }}</button>
        </form>
    {% endif %}

    {% if type is not defined or not type  %}
        <p><a href="mailto:hello@wearesosure.com" class="btn btn-link text-black open-intercom"><i class="fa fa-comments"></i> Don't see your device? Let us know.</a></p>
    {% endif %}

    <div id="loading-search-phone" class="text-center">
        <p><small>loading...</small></p>
    </div>

</div>
