    <div id="select-phone-data" data-phones='{{ phones|json_encode|raw }}'>
        {% if type is defined and type == 'modal' %}
            {% set buttonText = 'Select Phone' %}
            <h2>Change your phone</h2>
        {% else %}
            {% set buttonText = 'Quote me' %}
            <h2>Get a quote</h2>
            <p class="lead text-center" id="hero-description">Find out how much you could save when you insure your phone with us and connect with friends &amp; family.</p>
        {% endif %}
        <div class="row" id="select-phone">
            <div class="col-sm-12 text-center">
                <div class="device-select">
                    {{ form_start(form_phone) }}
                    <div class="input-group">
                      <ul>
                        <li>
                          {{ form_widget(form_phone.make, { 'attr': {'class': 'select-phone-dropdown select-phone-make'}}) }}
                        </li>
                        <li>
                          {{ form_widget(form_phone.phoneId, { 'attr': {'class': 'select-phone-dropdown select-phones'}}) }}
                        </li>
                        <li>
                          <span class="input-group-btn text-center">
                              {{ form_widget(form_phone.next, {'label': buttonText, 'attr': {'class': 'btn btn-primary btn-rounded'}}) }}
                          </span>
                        </li>
                      </ul>
                    </div>
                    {{ form_end(form_phone) }}
                </div>
            </div>
            {% if type is not defined or type != 'modal' %}
            <p class="text-center">
                <a href="mailto:hello@wearesosure.com">Don't see your device? Let us know.</a>
            </p>
            {% endif %}
        </div>
    </div>
