<div id="select-phone-data" class="dropdown-phone-form dropdown-phone-form--homepage" data-phones='{{ phones|json_encode|raw }}'>
    {% if type is defined and type == 'purchase-select' %}
        {% set buttonText = 'Select Phone' %}
    {% elseif type is defined and type == 'purchase-change' %}
        {% set buttonText = 'Select Phone' %}
    {% else %}
        {% set buttonText = 'Quote me' %}
    {% endif %}

    {{ form_start(form_phone) }}
        <div class="form-group">
            <span id="phone" class="h4"></span>
        </div>
        <div class="form-group">
            {{ form_widget(form_phone.make, {
              'attr': {
                'class': 'select-phone-make form-control'
            }}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form_phone.model, {
              'attr': {
                'class': 'select-phone-model form-control animated pulse',
                'style': 'display:none;'
            }}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form_phone.memory, {
                'attr': {
                    'class': 'select-phone-memory form-control animated pulse',
                    'style': 'display:none;'
                }}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form_phone.next, {
              'label': buttonText,
              'attr': {
                'class': 'btn btn-green btn-block btn-pad animated pulse',
                'style': 'display:none;'
            }}) }}
        </div>
    {{ form_end(form_phone) }}
</div>
