{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}

{% block title %}so-sure Sitemap
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/homepage.scss'
    '@AppBundle/Resources/public/sass/page/corporate.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{# {% block nav %}{% endblock %} #}

{% block body %}
    {% set prev_path = '' %}
    <div class="container">
        <div class="col-md-12">
            <h1>Sitemap</h1>
            <ul class="list-unstyled">
                {% for entity in entities %}
                    {% set path = path_info(entity.url)['dirname'] %}
                    {% if path != prev_path %}
                        </ul>
                        {% if path != "http:" and path != "https:" %}
                            <h2>{{ path|translateSitemapUrl() }}</h2>
                        {% endif %}
                    <ul class="list-unstyled">
                    {% endif %}
                    {% set prev_path = path %}
                    <li><a href="{{ entity.url }}">{{ entity.description ?? entity.url|translateSitemapUrl() }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

