{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'sitemap' %}
{% set prev_path = '' %}

{% block title %}Sitemap | so-sure{% endblock %}
{% block meta %}

{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/content-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="cp py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="cp__content">
                        <h1 class="mb-4 text-primary">Sitemap</h1>
                        <ul class="list-unstyled">
                            {% for entity in entities %}
                                {% set path = path_info(entity.url)['dirname'] %}
                                {% if path != prev_path %}
                                    </ul>
                                    {% if path != "http:" and path != "https:" %}
                                        <h2 class="h4 mb-2">{{ path|translateSitemapUrl() }}</h2>
                                    {% endif %}
                                <ul class="list-unstyled mb-4">
                                {% endif %}
                                {% set prev_path = path %}
                                <li class="mb-2"><i class="fal fa-link fa-fw"></i> <a href="{{ entity.url }}">{{ entity.description ?? entity.url|translateSitemapUrl() }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 d-none d-lg-block">
                    <div class="px-4 pb-4 pt-5 p-lg-5 text-center">
                        <div class="cp__nav">
                            <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_contract.png" alt="so-sure - contract" width="200px" class="d-block mx-auto">
                            <h2 class="text-dodger-blue mb-5">Sitemap 🗺️</h2>
                            <a id="back-to-top-faq" href="#" class="btn btn-outline-dodger-blue"><i class="far fa-arrow-up mr-2"></i> Back to top</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/content-pages.js') }}"></script>
{% endblock %}

