{% extends 'base.html.twig' %}

{% block title %}so-sure - Text me the app{% endblock %}

{% block body %}

<section class="section--pad login" id="text-app">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <img class="logo" src="{{ cdn_url }}/images/logo/happy-so-sure-smiley.svg" style="width: 10%;"></img>
                <h1 style="margin-top: 30px; color: #202532 !important;">Get a download link sent to your phone!</h1>
                <p>Enter your phone number below and we'll text you a link to the correct app store.</p>
                <div class="pre-launch-description">
                    {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">+44</div>
                            {{ form_widget(form.mobileNumber, {'attr': {'class': 'form-control'}}) }}
                            <div class="input-group-btn">
                            {{ form_widget(form.sms, {'label': 'Text me a link', 'attr': {'class': 'btn btn-primary'}}) }}
                            </div>
                        </div>
                    </div>
                    <p style="margin-top: 10px"><i>One text per phone number. UK Numbers only.</i></p>
                    {{ form_end(form) }}
                </div>

                <section class="download-now" id="download-now">
                    <h2>The next bit is via the app</h2>
                    <p class="lead text-center" id="hero-description">It makes sense, we are a mobile insurance provider after all!</p>
                    <div class="row download-app">
                        <div class="col-md-6 text-right">
                            <a class="ga-outbound-click" data-clicklabel="iTunes" href="{{ apple_download('quotepage') }}">
                                <img src="{{ cdn_url }}/images/icons/app-store-original.svg" alt="Download it on the App Store"></img>
                            </a>
                        </div>
                        <div class="col-md-6 text-left">
                            <a class="ga-outbound-click" data-clicklabel="PlayStore" href="{{ google_download('quotepage') }}">
                                <img src="{{ cdn_url }}/images/icons/google-play-original.svg" alt="Get it on Google Play"></img>
                            </a>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</section>

{% endblock %}
