{% extends 'base.html.twig' %}

{% block body %}
  <div class="section hero">
    <div class="container text-center">
      <img class="logo" src="{{ cdn_url }}/images/logo/happy-so-sure-smiley.svg" style="width: 10%;"></img>
      <h1 class="section-title" style="margin-top: 30px;">Get a download link sent to your phone!</h1>
      <p>Enter your phone number below and we'll text you a link to the correct app store.</p>
      <div class="pre-launch-description" style="margin-bottom: 100px;">
        {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">+44</div>
                {{ form_widget(form.mobileNumber, {'attr': {'class': 'form-control'}}) }}
              <div class="input-group-btn">
                  {{ form_widget(form.sms, {'label': 'Text me a link', 'attr': {'class': 'btn btn-primary'}}) }}
              </div>
            </div>
          </div>
          <p style="margin-top: 10px"><i>One text per phone number. UK Numbers only.</i></p>
        {{ form_end(form) }}
        </div>
    </div>
  </div>
</div>
{% endblock %}
