{% extends 'base.html.twig' %}
{% block title %}so-sure - Text me the app{% endblock %}
{% block body %}
  <div class="login" id="text-app">
    <div class="container text-center">
      <img class="logo" src="{{ cdn_url }}/images/logo/happy-so-sure-smiley.svg" style="width: 10%;"></img>
      <h1 style="margin-top: 30px; color: #202532 !important;">Get a download link sent to your phone!</h1>
      <p>Enter your phone number below and we'll text you a link to the correct app store.</p>
      <div class="pre-launch-description">
        {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">+44</div>
                {{ form_widget(form.mobileNumber, {'attr': {'class': 'form-control'}}) }}
              <div class="input-group-btn">
                  {{ form_widget(form.sms, {'label': 'Text me a link', 'attr': {'class': 'btn btn-primary'}}) }}
              </div>
            </div>
          </div>
          <p style="margin-top: 10px"><i>One text per phone number. UK Numbers only.</i></p>
        {{ form_end(form) }}
        </div>
    <div id="app-store">
        <div class="row download-app">
            <div class="text-break-dark">
                <div class="line-dark"></div>
                or
                <div class="line-dark"></div>
            </div>
            <div class="col-md-6 text-right">
                <a class="ga-outbound-click" href="{{ apple_download('text-me-the-app') }}">
                    <img src="{{ cdn_url }}/images/icons/download-badge-app-store-dark.svg" alt="Download so-sure on the App Store"></img>
                </a>
            </div>
            <div class="col-md-6 text-left">
                <a class="ga-outbound-click" href="{{ google_download('text-me-the-app') }}">
                    <img src="{{ cdn_url }}/images/icons/download-badge-google-play-dark.svg" alt="Get so-sure on Google Play"></img>
                </a>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
