{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'social-insurance' %}
{% set include_get_a_quote = true %}

{% block title %}Social Insurance | so-sure{% endblock %}
{% block meta %}
    <meta name="description" content="Mobile Insurance that's Simply Better, 24-72 hour replace or repair, Low excess from just £50 - New, second hand & refurbished phones, Up to 80% money back"/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/social-insurance.css') }}">
{% endblock %}

{% block body %}

    <section class="hero">

        {# Toasts #}
        {% include 'AppBundle::Components/_trustpilotToasts.html.twig' %}

        <div class="container-large">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero__intro">
                        <div class="breadcrumbs">
                            <ul class="list-inline"
                                vocab="https://schema.org/"
                                typeof="BreadcrumbList">
                                <li class="list-inline-item"
                                    property="itemListElement"
                                    typeof="ListItem">
                                    <a href="{{ path('homepage') }}"
                                       class="text-columbia-blue-e"
                                       property="item"
                                       typeof="WebPage">
                                       <span property="name">Home</span>
                                    </a>
                                    <meta property="position" content="1">
                                </li>
                                <li class="list-inline-item text-white">
                                    <i class="fal fa-angle-right text-white"></i>
                                </li>
                                <li class="list-inline-item text-white"
                                    property="itemListElement"
                                    typeof="ListItem">
                                    <span property="name">Social Insurance</span>
                                    <meta property="position" content="2">
                                </li>
                            </ul>
                        </div>
                        <h1 class="mb-4 text-white fit">
                            <span class="sub">An insurance company,</span><br>
                            giving you money back.<br>
                            <span class="sub">Sorry, what!?</span>
                        </h1>
                        <p class="mb-4 text-white">By joining forces with your most careful friends and family, you could see up to 80% of your insurance premium reimbursed to you every year. Yes, really!</p>
                    </div>
                    <div class="hero__controls mb-5">
                        <a href="#" class="btn btn-success btn-block-xs btn-shadow mr-sm-2 get-a-quote disabled">Get a Quote</a>
                        <a href="#"
                           class="btn btn-outline-white watch-video btn-block-xs"
                           data-event="watch-video-social-insurance-hero"
                           data-toggle="modal"
                           data-target="#sosure-video-modal"
                           data-src="https://www.youtube.com/embed/2AjD09ZQhQ4">
                            <i class="far fa-play-circle fa-lg opacity-50 mr-1"></i>
                            How it works
                        </a>
                    </div>
                </div>
            </div>
            <div class="hero__illustration-mobile d-block d-lg-none text-center">
                <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/rewardpot/so-sure_hero-illustration-reward-pot-mobile.png" alt="so-sure - social insurance" class="img-fluid lozad opacity-75">
            </div>
        </div>
        <div class="hero__illustration-desktop d-none d-lg-block">
            <img src="{{ cdn_url }}/images/onexone.png" data-src="{{ cdn_url }}/images/rebrand/rewardpot/so-sure_hero-illustration-reward-pot-desktop.png" alt="so-sure - social insurance" class="img-fluid lozad">
        </div>
    </section>

    {# Cred #}
    {% include 'AppBundle::Default/CommonSections/_cred.html.twig' %}

    <section class="intro py-lg-5">
        <div class="container-large py-5">
            <h2 class="h3 mb-5 text-primary">Here’s how it works</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="intro__step">
                        <div class="intro__number d-flex justify-content-center align-items-center h4 text-primary">1</div>
                        <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_connect.png" alt="so-sure - Start Connecting" width="180px" class="lozad">
                    </div>
                    <h3 class="h5 text-primary">Start Connecting</h3>
                    <p class="mb-5 text-zaffre">Invite as many people as you want. Your mum, dad, grandparents, or your mate Bob. You then decide who you want to connect to. Do you know who's really careful 😉?</p>
                </div>
                <div class="col-lg-4">
                    <div class="intro__step">
                        <div class="intro__number d-flex justify-content-center align-items-center h4 text-primary">2</div>
                        <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_holding-phone.png" alt="so-sure - Be careful" width="180px" class="lozad">
                    </div>
                    <h3 class="h5 text-primary">Be Careful</h3>
                    <p class="mb-5 text-zaffre">Easy as that, don't break or lose your phone, or make any claims throughout the policy year. Oh, and make sure your connections do the same</p>
                </div>
                <div class="col-lg-4">
                    <div class="intro__step">
                        <div class="intro__number d-flex justify-content-center align-items-center h4 text-primary">3</div>
                        <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_reward-pot.png" alt="so-sure - Get Rewarded" width="180px" class="lozad">
                    </div>
                    <h3 class="h5 text-primary">Get Rewarded</h3>
                    <p class="mb-2 text-zaffre">At the end of the year, when you and your connections haven’t claimed, your
                    <a href="#what-is-the-reward-pot-text"
                       data-cardbox-target="#what-is-the-reward-pot"
                       data-cardbox-anchor="#what-is-the-reward-pot-text">Reward Pot</a>
                    is paid out to you</p>
                </div>
            </div>
            <a href="#" class="btn btn-primary btn-block-xs mt-3 get-a-quote disabled ">Get Insured in minutes</a>
        </div>
        <div class="intro__background d-none d-lg-block">
            <img data-src="{{ cdn_url }}/images/rebrand/misc/so-sure_money-right-cut.png" alt="so-sure - Money Back" width="180px" class="d-fk-none lozad">
            <img data-src="{{ cdn_url }}/images/rebrand/misc/so-sure_money-right.png" alt="so-sure - Money Back" width="250px" class="d-none d-fk-inline lozad">
        </div>
    </section>

    <section class="history">
        <div class="container-large py-5">
            <div class="d-lg-flex align-items-lg-center py-lg-5">
                <div class="history__img">
                    <img data-src="{{ cdn_url }}/images/rebrand/rewardpot/so-sure_insurance-history.png" alt="so-sure - Where it all started" class="img-fluid lozad">
                </div>
                <div class="history__text mb-5 ml-lg-5">
                    <h2 class="h3 mb-4 text-primary">Where it all started</h2>
                    <p class="mb-5 text-zaffre">Insurance back in the 17th century was built for the people, but the focus slowly shifted to profits - often at the expense of the customer. We're restoring insurance back to its origins. We think you should pay for insurance when you need it and get some money back when you don't. Connecting with your friends and family is a great place to start.</p>
                    {# TODO: Add video to page simply use the embed url from youtube and replace the data attr #}
                    {# <a href="#"
                       class="btn btn-primary watch-video btn-block-xs"
                       data-event="watch-video-index-hero"
                       data-toggle="modal"
                       data-target="#sosure-video-modal"
                       data-src="https://www.youtube.com/embed/QEskwqsNgrQ">
                        <i class="far fa-play-circle fa-lg opacity-50 mr-1"></i>
                        How it works
                    </a> #}
                </div>
            </div>
            <div class="d-lg-flex align-items-lg-center py-lg-5">
                <div class="history__img order-lg-2">
                    <img data-src="{{ cdn_url }}/images/rebrand/rewardpot/so-sure_reward-pot.png" alt="so-sure - When can I access the cash" class="img-fluid lozad">
                </div>
                <div class="history__text mr-lg-5 order-lg-1">
                    <h2 class="h3 mb-4 text-primary">When can I access the cash?</h2>
                    <p class="mb-5 text-zaffre">Great question. If your connections don’t claim during the year, the reward pot will be paid out to everyone at the end of each person’s policy year. Some of customers use the money to reduce their monthly payments in the next policy year, and others spend it on themselves 🍾</p>
                    <a href="#" class="btn btn-primary btn-block-xs mr-sm-2 get-a-quote disabled ">Get a Quote</a>
                </div>
            </div>
        </div>
    </section>

    <section class="faq py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-center text-lg-left">
                        <h2 class="h3 mb-3 text-primary">Reward Pot <br><span class="sub">FAQs</span></h2>
                        <p class="mb-4">Here's the top questions we get asked.</p>
                        <a href="{{ path('faq') }}#social-insurance-and-reward-pot" class="d-none d-md-block btn btn-primary btn-block-xs mx-auto mb-5">I have more Q's</a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div id="what-is-the-reward-pot" class="expanding-cardbox expanding-cardbox-white mb-4">
                        <div class="expanding-cardbox__body">
                            <h3 class="h5 expanding-cardbox__title text-zaffre mb-0">
                                What is the Reward Pot? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                            </h3>
                            <div class="expanding-cardbox__expand text-zaffre mt-4">
                                <p id="what-is-the-reward-pot-text">The reward pot is basically a <mark>group no claims bonus</mark>. For each person that buys insurance with us and connects together, for example You buy a policy and invite your mum to buy. She buys a policy and then you connect, each of you receive up to &pound;10 into your reward pots.</p>

                                <div class="h6">4 people connected to you = &pound;40 in your reward pot, &pound;10 in each of theirs.</div>

                                <div class="h6">8 people connected = &pound;80 in your reward pot, &pound;10 in each of theirs.</div>

                                <p class="mb-0">If neither you nor your connected friends claim, we will payout to you the value of your reward pot at the end of the policy year.</p>
                            </div>
                        </div>
                    </div>
                    <div class="expanding-cardbox expanding-cardbox-white mb-4">
                        <div class="expanding-cardbox__body">
                            <h3 class="h5 expanding-cardbox__title text-zaffre mb-0">
                                Is the money back with the reward pot guaranteed? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                            </h3>
                            <div class="expanding-cardbox__expand text-zaffre mt-4">
                                It depends on if you and your social circle make a claim. If none of you claim the money is guaranteed, however if someone makes a claim there may be no money left in the reward pot.
                            </div>
                        </div>
                    </div>
                    <div class="expanding-cardbox expanding-cardbox-white mb-4">
                        <div class="expanding-cardbox__body">
                            <h3 class="h5 expanding-cardbox__title text-zaffre mb-0">
                                Can anyone connect to anyone? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                            </h3>
                            <div class="expanding-cardbox__expand text-zaffre mt-4">
                                Yes, that is the beauty of social insurance, you can have as many connections as they like until your reward pot is worth 80% of the value of your insurance premium. For example if policy is &pound;100, you can have maximum 8 connections (&pound;80 / 80%).
                            </div>
                        </div>
                    </div>
                    <div class="expanding-cardbox expanding-cardbox-white mb-4">
                        <div class="expanding-cardbox__body">
                            <h3 class="h5 expanding-cardbox__title text-zaffre mb-0">
                                How do I make connections to people? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                            </h3>
                            <div class="expanding-cardbox__expand text-zaffre mt-4">
                                Once you buy a policy its super easy to make connections either through our app or via SMS, email or WhatsApp.
                            </div>
                        </div>
                    </div>
                    <div class="expanding-cardbox expanding-cardbox-white mb-4">
                        <div class="expanding-cardbox__body">
                            <h3 class="h5 expanding-cardbox__title text-zaffre mb-0">
                                Do I need to connect to get money back? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                            </h3>
                            <div class="expanding-cardbox__expand text-zaffre mt-4">
                                Yes, we exist to make insurance better and with us that means being social and connecting in groups of careful people.
                            </div>
                        </div>
                    </div>
                    <div class="expanding-cardbox expanding-cardbox-white mb-4">
                        <div class="expanding-cardbox__body">
                            <h3 class="h5 expanding-cardbox__title text-zaffre mb-0">
                                Do I need to connect to have so-sure's insurance policy? <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                            </h3>
                            <div class="expanding-cardbox__expand text-zaffre mt-4">
                                No, if you want to fly solo that is completely fine, you will still have fantastic cover and great customer service should you need to make a claim.
                            </div>
                        </div>
                    </div>
                    <a href="{{ path('faq') }}#social-insurance-and-reward-pot" class="d-md-none btn btn-primary btn-block-xs mx-auto mb-5">I have more Q's</a>
                </div>
            </div>
        </div>
        <div class="faq__background d-none d-md-block">
            <img data-src="{{ cdn_url }}/images/rebrand/misc/so-sure_money-left.png" alt="so-sure - Money Back" width="250px" class="lozad">
        </div>
    </section>

    {# Reviews #}
    {% include 'AppBundle::PhoneInsurance/CommonSections/_reviewsB.html.twig' %}

    {# Page Modals #}
    {% include 'AppBundle::Default/_modalVideo.html.twig' %}

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/social-insurance.js') }}"></script>
    <script src="{{ asset('css-js/phone-insurance.js') }}"></script>
{% endblock %}
