{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{# {% set new_footer = 1 %} #}


{% block title %}so-sure - SO-SURE vs Halifax Phone Insurance
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        '@AppBundle/Resources/public/sass/page/competitors.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="section--pad background-white section-intro">
        <div class="container">
            <h1 class="text-blue text-center">SO-SURE vs Halifax Phone Insurance</h1>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p class="text-center"><span class="big-text">At so-sure we believe in keeping things real. We don’t want to hide behind any marketing gimmicks or fancy numbers.</span></p>
                    <div class="text-center">
                        <a href="#"
                           class="btn btn-green btn-lg btn-pad btn-big-text"
                           data-toggle="modal"
                           data-target="#quoteModal">Get a Quote</a>
                    </div>
                </div>
            </div>
        </div>
        {# Curve #}
        <svg class="curved-background background-lightest-blue hidden-xs hidden-sm" viewBox="0 0 500 150" preserveAspectRatio="xMinYMin meet">
            <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#ffffff;"></path>
        </svg>
        {# End Curve #}
    </section>

    <section class="section--pad background-lightest-blue section-table">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p class="lead text-center">Which is why we thought we’d just lay out the facts bare and simple. The rest is up to you.</p>
                    <div class="panel table-responsive">
                        <table class="table" width="100%">
                            <thead>
                                <tr>
                                    <td></td>
                                    <td align="center" class="h4" width="28%">SO-SURE</td>
                                    <td align="center" class="h4" width="28%">Halifax</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-off-white">Cover for loss, theft, damage, and breakdown</td>
                                    <td align="center" class="tick-background">Yes</td>
                                    <td align="center" class="tick-background">Yes</td>
                                </tr>
                                <tr>
                                    <td class="background-off-white">Cover for unauthorised calls, texts or data made on a missing device</td>
                                    <td align="center" class="tick-background">Yes</td>
                                    <td align="center" class="cross-background">No</td>
                                </tr>
                                <tr>
                                    <td class="background-off-white">Replacement time (loss/theft)</td>
                                    <td align="center">1 working day</td>
                                    <td align="center">1-3 working days</td>
                                </tr>
                                <tr>
                                    <td class="background-off-white">Replacement time (damage/breakdown)</td>
                                    <td align="center">1 working day</td>
                                    <td align="center">1-3 working days</td>
                                </tr>
                                <tr>
                                    <td class="background-off-white">Up to 80% cashback every year</td>
                                    <td align="center" class="tick-background">Yes</td>
                                    <td align="center" class="cross-background">No</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="background-lightest-blue">
        <div class="container">
            <div class="text-center">
                <a href="#"
                   class="btn btn-green btn-pad btn-lg btn-big-text"
                   data-toggle="modal"
                   data-target="#quoteModal">Get a Quote</a>
            </div>
        </div>
    </section>

    <section class="section--pad background-lightest-blue text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-pad">
                        <span class="h2 text-blue">SO-SURE benefits</span>
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <img src="{{ cdn_url }}/images/library_benefits/so-sure_next-working-day.svg" width="150" height="150" alt="so-sure - 24-72 hour replacement or repair once claim approved">
                                <h4 class="h-light">24-72 hour replacement or repair once claim approved</h4>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <img src="{{ cdn_url }}/images/library_benefits/so-sure_connections.svg" width="150" height="150" alt="so-sure - Cash back when you and your friends don’t claim">
                                <h4 class="h-light">Cash back when you and your friends don’t claim</h4>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <img src="{{ cdn_url }}/images/library_benefits/so-sure_call-center-staff.svg" width="150" height="150" alt="so-sure - 24/7 Live Support">
                                <h4 class="h-light">24/7 Live Support</h4>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <img src="{{ cdn_url }}/images/library_benefits/so-sure_instant-cover.svg" width="150" height="150" alt="so-sure - Instant cover when you buy your policy">
                                <h4 class="h-light">Instant cover when you buy your policy</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section--bottom background-lightest-blue text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="text-center">
                        <a href="#"
                           class="btn btn-green btn-pad btn-lg btn-big-text"
                           data-toggle="modal"
                           data-target="#quoteModal">Get a Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {# Page Modals #}

    {% include 'AppBundle::Default/modalQuote.html.twig' with {'selectPhoneMakeType': ''} %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/dot/doT.min.js'
    'components/corejs-typeahead/typeahead.bundle.min.js'
    'components/fuse.js/fuse.min.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeSearch.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMakeDropdown.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

