{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}{{ invitation.inviterName }} wants to connect with you on so-sure.{% endblock %}
{% block body %}
	{{ macros.start_table() }}
		<h1>
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		</h1>
		<div style="font-size: 14px; text-align: left;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
		   Great news! Your friend, <strong>{{ invitation.inviterName }}</strong>, wants to connect with you on so-sure.
			  <br>
			  <strong>Open your so-sure app to connect with them!</strong></span><br>
			  &nbsp;
		   </div>
		</div>
	{{ macros.end_table() }}
	{{ macros.email_button_table(invitation.link, "Accept Invitation", "Accept Invitation")}}
{% endblock %}
