{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}{{ invitation.inviterName }} invited you to join so-sure - don't leave them hanging!{% endblock %}
{% block body %}
	{{ macros.start_table() }}
		<h1>
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		</h1>
		<div style="font-size: 14px; text-align: left;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
			  Hey, <strong>{{ invitation.inviterName }}</strong>, invited you to join so-sure – sign-up today and we'll reward both of you!<br><br>
		   </div>
		</div>
	{{ macros.end_table() }}
	{{ macros.email_button_table(invitation.link, "Accept Invitation", "Accept Invitation")}}
{% endblock %}
