{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}{{ invitation.inviteeName }} declined your invitation! &#x1f62d;{% endblock %}
{% block body %}
	{{ macros.start_table() }}
		<h1>
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		</h1>
		<div style="font-size: 14px; text-align: left;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">Hmm, looks like your friend, <strong>{{ invitation.inviteeName }}</strong>, didn't accept your invitation.<br>
			  Maybe invite some of your better friends? ;)</span><br>
			  &nbsp;
		   </div>
		</div>
	{{ macros.end_table() }}
	{{ macros.email_button_table(branch_share_url, "Invite Other Friends", "Invite Other Friends")}}
{% endblock %}
