{% extends 'base.html.twig' %}

{% form_theme starling_form 'AppBundle:Form:submit.html.twig' %}

{# Set vars #}
{% set new_footer = 1 %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/js-cookie/js.cookie.js'
    '@AppBundle/Resources/public/js/Ops/ops.js'
    %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container">
    <section class="section--pad">
        <h3>Pages to manually verify when updating design</h3>
        <h4>Cookie warning</h4>
        <ul class="list-inline">
            <li>
                <a id="clearcookies" href="#" class="btn btn-success">Clear Cookies</a>
            </li>
        </ul>
        <h4>Any login status</h4>
        <ul>
            <li>
                <a href="{{ url('homepage') }}">Home</a>
            </li>
            <li>
                <a href="{{ url('quote_make_model', {'make':'apple','model':'iphone+6s'}) }}">Quote</a>
            </li>
            <li>
                {% if upcoming_phone %}
                <a href="{{ url('quote_make_model', {'make': upcoming_phone.makeCanonical,'model': upcoming_phone.modelCanonical, 'force': 'old'}) }}">Quote - Upcoming Phone (old)</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url('quote_make_model', {'make': upcoming_phone.makeCanonical,'model': upcoming_phone.modelCanonical, 'force': 'split'}) }}">Quote - Upcoming Phone (split)</a>
                {% else %}
                    No Upcoming Phone in DB
                {% endif %}
            </li>
            <li>
                <a href="{{ url('phone_insurance_water_damage') }}">SEO Phone Pages (several other similiar)</a>
            </li>
            <li>
                <a href="{{ url('learn_more_make_model', {'make':'Apple','model':'iPhone+6S'}) }}">Learn More</a>
            </li>
        </ul>

        <h4>Logged out required</h4>
        <ul>
            <li>
                <a href="{{ url('scode', {'code':scode}) }}">SCode Invitiation</a>
            </li>
            <li>
                <a href="{{ url('invitation', {'id':invitation.id}) }}">Email Invitiation</a>
            </li>
        </ul>

        <h4>Admin login required</h4>
        <ul>
            <li>
                {% if cancelled_policy %}
                    <a href="{{ url('user_invalid_policy') }}?_impersonate={{ cancelled_policy.user.email }}">User Policy Invalid</a> <b>(auto impersonate {{ cancelled_policy.user.email }}</b>
                {% else %}
                    No User Invalid Policy
                {% endif %}
            </li>
            <li>
                {% if cancelled_fraud_policy %}
                    <a href="{{ url('user_invalid_policy') }}?_impersonate={{ cancelled_fraud_policy.user.email }}">User Policy Invalid (Fraud) - no additonal purchase</a> <b>(auto impersonate {{ cancelled_fraud_policy.user.email }}</b>
                {% else %}
                    No User Invalid Policy (fraud)
                {% endif %}
            </li>
            <li>
                {% if valid_multiple_policy %}
                    <a href="{{ url('user_home') }}?_impersonate={{ valid_multiple_policy.user.email }}">User Home - Multiple Policy</a> <b>(auto impersonate {{ valid_multiple_policy.user.email }})</b>
                {% else %}
                    No User Home - Multiple Policy
                {% endif %}
            </li>
            <li>
                {% if valid_policy_monthly %}
                    <a href="{{ url('user_home') }}?_impersonate={{ valid_policy_monthly.user.email }}">User Home - Monthly</a> <b>(auto impersonate {{ valid_policy_monthly.user.email }})</b>
                {% else %}
                    No User Home - Monthly
                {% endif %}
            </li>
            <li>
                {%  if unpaid_valid_policy_monthly %}
                    <a href="{{ url('user_home') }}?_impersonate={{ unpaid_valid_policy_monthly.user.email }}">User Home - Monthly (Unpaid)</a> <b>(auto impersonate {{ unpaid_valid_policy_monthly.user.email }})</b>
                {% else %}
                    No Monthly unpaid policy available
                {% endif %}
            </li>
            <li>
                {% if valid_policy_annual %}
                    <a href="{{ url('user_home') }}?_impersonate={{ valid_policy_annual.user.email }}">User Home - Annual</a> <b>(auto impersonate {{ valid_policy_annual.user.email }})</b>
                {% else %}
                    No user home - annual
                {% endif %}
            </li>
            <li>
                {% if invitation %}
                    <a href="{{ url('user_home') }}?_impersonate={{ invitation.inviter.email }}">User Home - Sent Invitation</a> <b>(auto impersonate {{ invitation.inviter.email }})</b>
                {% else %}
                    No user home - send invitations
                {% endif %}
            </li>
            <li>
                {% if claimed_policy %}
                    <a href="{{ url('user_home') }}?_impersonate={{ claimed_policy.user.email }}">User Home - Unable to invite (w/Claimed Policy)</a> <b>(auto impersonate {{ claimed_policy.user.email }})</b>
                {% else %}
                    No user home - unable to invite
                {% endif %}
            </li>
            <li>
                {%  if multipay_policy %}
                    <a href="{{ url('user_home') }}?_impersonate={{ multipay_policy.user.email }}">User Home - Multipay</a> <b>(auto impersonate {{ multipay_policy.user.email }})</b>
                {% else %}
                    No Mulitpay policy available
                {% endif %}
            </li>
            <li>
                {% if expired_policy_nocashback %}
                <a href="{{ url('user_policy', {'policyId': expired_policy_nocashback.id }) }}?_impersonate={{ expired_policy_nocashback.user.email }}">User Home - Expired Policy No Cashback</a> <b>(auto impersonate {{ expired_policy_nocashback.user.email }})</b>
                {% else %}
                    No expired policy (no cashback) available
                {% endif %}
            </li>
            <li>
                {% if expired_policy_cashback %}
                <a href="{{ url('user_policy', {'policyId': expired_policy_cashback.id }) }}?_impersonate={{ expired_policy_cashback.user.email }}">User Home - Expired Policy Cashback</a> <b>(auto impersonate {{ expired_policy_cashback.user.email }})</b>
                {% else %}
                    No expired policy (cashback) available
                {% endif %}
            </li>
            <li>
                {% if fully_expired_policy_nocashback %}
                <a href="{{ url('user_policy', {'policyId': fully_expired_policy_nocashback.id }) }}?_impersonate={{ fully_expired_policy_nocashback.user.email }}">User Home - Fully Expired Policy No Cashback</a> <b>(auto impersonate {{ fully_expired_policy_nocashback.user.email }})</b>
                {% else %}
                    No fully expired policy (no cashback) available
                {% endif %}
            </li>
            <li>
                {% if fully_expired_policy_cashback %}
                <a href="{{ url('user_policy', {'policyId': fully_expired_policy_cashback.id }) }}?_impersonate={{ fully_expired_policy_cashback.user.email }}">User Home - Fully Expired Policy Cashback</a> <b>(auto impersonate {{ fully_expired_policy_cashback.user.email }})</b>
                {% else %}
                    No fully expired policy (cashback) available
                {% endif %}
            </li>
            <li>
                <a href="{{ url('user_welcome') }}?_impersonate={{ valid_policy.user.email }}">User Welcome</a> <b>(auto impersonate {{ valid_policy.user.email }})</b>
            </li>
            <li>
                {% if unpaid_policydiscount_policy %}
                    <a href="{{ url('user_home') }}?_impersonate={{ unpaid_policydiscount_policy.user.email }}">User Unpaid w/Policy Discount Page</a> <b>(auto impersonate {{ unpaid_policydiscount_policy.user.email }})</b>
                {% else %}
                    No policy unpaid w/policy discount available
                {% endif %}
            </li>
            <li>
                {% if policy_cancelled_payment_owed %}
                <a href="{{ url('user_home') }}?_impersonate={{ policy_cancelled_payment_owed.user.email }}">User Home Page Redirect (Policy Cancelled & Payment Owed)</a> <b>(auto impersonate {{ policy_cancelled_payment_owed.user.email }})</b>
                {% else %}
                    No policy cancelled w/payment owed available
                {% endif %}
            </li>
            <li>
                {% if valid_remainder_policy %}
                <a href="{{ url('purchase_remainder_policy', {'id': valid_remainder_policy.id }) }}?_impersonate={{ valid_remainder_policy.user.email }}">User Remainder Payment Page</a> <b>(auto impersonate {{ valid_remainder_policy.user.email }})</b>
                {% else %}
                    No remainder policy available
                {% endif %}
            </li>
            <li>
                {% if picsure_approved_policy %}
                <a href="{{ url('user_policy_list') }}?_impersonate={{ picsure_approved_policy.user.email }}">User Policy List pic-sure Approved</a> <b>(auto impersonate {{ picsure_approved_policy.user.email }})</b>
                {% else %}
                    No pic-sure approved policy available
                {% endif %}
            </li>
            <li>
                {% if picsure_rejected_policy %}
                <a href="{{ url('user_policy_list') }}?_impersonate={{ picsure_rejected_policy.user.email }}">User Policy List pic-sure Rejected</a> <b>(auto impersonate {{ picsure_rejected_policy.user.email }})</b>
                {% else %}
                    No pic-sure rejected policy available
                {% endif %}
            </li>
            <li>
                {% if non_picsure_policy %}
                    <a href="{{ url('user_policy_list') }}?_impersonate={{ non_picsure_policy.user.email }}">User Policy List non-pic-sure policy</a> <b>(auto impersonate {{ non_picsure_policy.user.email }})</b>
                {% else %}
                    No non-picsure policy
                {% endif %}
            </li>
        </ul>
        <h4>Unpaid</h4>
        <ul>
            {% for paymentOnTime in ['ontime', 'outoftime'] %}
                {% for unpaid_reason in unpaid_reasons %}
                    <li>
                        {% if unpaid_policies_for_display[paymentOnTime][unpaid_reason] is defined %}
                            <a href="{{ url('user_home') }}?_impersonate={{ unpaid_policies_for_display[paymentOnTime][unpaid_reason].user.email }}">User Unpaid Page ({{ unpaid_reason }} - {{ paymentOnTime }})</a> <b>(auto impersonate {{ unpaid_policies_for_display[paymentOnTime][unpaid_reason].user.email }})</b>
                        {% else %}
                            No policy unpaid available ({{ unpaid_reason }} - {{ paymentOnTime }})
                        {% endif %}
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>

        <h4>Renewals</h4>
        <ul>
            <li>
                {% if valid_renewal_policy_monthly_no_pot %}
                    <a href="{{ url('user_home') }}?_impersonate={{ valid_renewal_policy_monthly_no_pot.user.email }}">User Renewal Monthly No Pot - Home Page</a> <b>(auto impersonate {{ valid_renewal_policy_monthly_no_pot.user.email }})</b>
                {% else %}
                    No renewal policy (monthly without pot) available
                {% endif %}
            </li>
            <li>
                {% if valid_renewal_policy_yearly_no_pot %}
                    <a href="{{ url('user_home') }}?_impersonate={{ valid_renewal_policy_yearly_no_pot.user.email }}">User Renewal Yearly No Pot - Home Page</a> <b>(auto impersonate {{ valid_renewal_policy_yearly_no_pot.user.email }})</b>
                {% else %}
                    No renewal policy (yearly without pot) available
                {% endif %}
            </li>
            <li>
                {% if valid_renewal_policy_yearly_only_no_pot %}
                    <a href="{{ url('user_home') }}?_impersonate={{ valid_renewal_policy_yearly_only_no_pot.user.email }}">User Renewal Yearly (Restricted) No Pot - Home Page</a> <b>(auto impersonate {{ valid_renewal_policy_yearly_only_no_pot.user.email }})</b>
                {% else %}
                    No renewal policy (yearly restricted without pot) available
                {% endif %}
            </li>
            <li>
                {% if valid_renewal_policy_monthly_with_pot %}
                    <a href="{{ url('user_home') }}?_impersonate={{ valid_renewal_policy_monthly_with_pot.user.email }}">User Renewal Monthly With Pot - Home Page</a> <b>(auto impersonate {{ valid_renewal_policy_monthly_with_pot.user.email }})</b>
                {% else %}
                    No renewal policy (monthly with pot) available
                {% endif %}
            </li>
            <li>
                {% if valid_renewal_policy_yearly_with_pot %}
                    <a href="{{ url('user_home') }}?_impersonate={{ valid_renewal_policy_yearly_with_pot.user.email }}">User Renewal Yearly With Pot - Home Page</a> <b>(auto impersonate {{ valid_renewal_policy_yearly_with_pot.user.email }})</b>
                {% else %}
                    No renewal policy (yearly with pot) available
                {% endif %}
            </li>
            <li>
                {% if valid_renewal_policy_yearly_only_with_pot %}
                    <a href="{{ url('user_home') }}?_impersonate={{ valid_renewal_policy_yearly_only_with_pot.user.email }}">User Renewal Yearly (Restricted) With Pot - Home Page</a> <b>(auto impersonate {{ valid_renewal_policy_yearly_only_with_pot.user.email }})</b>
                {% else %}
                    No renewal policy (yearly restricted with pot) available
                {% endif %}
            </li>
        </ul>

        <h4>Other pages</h4>
        <ul>
            <li>
                <a href="{{ url('about_home') }}">About Us Page</a>
            </li>
            <li>
                <a href="{{ url('about_how_to_contact_so_sure') }}">Contact Us Page</a>
            </li>
            <li>
                <a href="{{ url('mobile_phone_insurance_for_your_company') }}">Company page</a>
            </li>
            <li>
                <a href="{{ url('purchase_cancel', {'id': valid_policy.id}) }}">Cancel policy</a>
            </li>
            <li>
                <a href="{{ url('claim') }}">Make a claim page</a>
            </li>
            <li>
                <a href="{{ url('launch_usa') }}">USA Page</a>
            </li>
            <li>
                <a href="{{ cdn_url }}/files/so-sure_sample_policy_doc_v10.pdf" target="_blank" rel="noopener noreferrer">Sample policy terms</a>
            </li>
        </ul>

        <h4>Error pages</h4>
        <ul>
            <li>
                <a href="/_error/403">403</a>
            </li>
            <li>
                <a href="/_error/404">404</a>
            </li>
            <li>
                <a href="/_error/500">500</a>
            </li>
            <li>
                <a href="/_error/503">503</a>
            </li>
            <li>
                <a href="{{ path('ops_exception') }}">Varnish Exception Page</a>
            </li>
        </ul>


        <h4>Landing pages</h4>
        <ul>
            <li>Bank
                <a href="{{ url('think_your_iPhone-7_is_insured_by_your_bank') }}">iPhone 7</a>
            </li>
            <li>Vodafone
                <a href="{{ url('samsung_s7_insured_with_vodafone') }}">Samsung S7</a>
                <a href="{{ url('google_pixel_insured_with_vodafone') }}">Pixel</a>
                <a href="{{ url('iphone_SE_insured_with_vodafone') }}">iPhone SE</a>
                <a href="{{ url('iphone_6_insured_with_vodafone') }}">iPhone 6</a>
                <a href="{{ url('iphone_6s_insured_with_vodafone') }}">iPhone 6S</a>
                <a href="{{ url('iphone_7_insured_with_vodafone') }}">iPhone 7</a>
                <a href="{{ url('iphone_7_plus_insured_with_vodafone') }}">iPhone 7+</a>
            </li>
            <li>Network
                <a href="{{ url('samsung_s7_insured_with_your_mobile_network') }}">Samsung S7</a>
                <a href="{{ url('google_pixel_insured_with_your_mobile_network') }}">Pixel</a>
                <a href="{{ url('iphone_SE_insured_with_your_mobile_network') }}">iPhone SE</a>
                <a href="{{ url('iphone_6_insured_with_your_mobile_network') }}">iPhone 6</a>
                <a href="{{ url('iphone_6s_insured_with_your_mobile_network') }}">iPhone 6S</a>
                <a href="{{ url('iphone_7_insured_with_your_mobile_network') }}">iPhone 7</a>
                <a href="{{ url('iphone_7_plus_insured_with_your_mobile_network') }}">iPhone 7+</a>
            </li>
        </ul>
        <h4>External</h4>
        <ul>
            <li><a href="http://test.protectyourgadget.com/quote/" target="_blank" rel="noopener noreferrer">GoCompare / Protect your gadget</a>
                <form method="POST" action="{{ path('api_external_gocompare_deeplink') }}">
                    <input type="hidden" name="reference" value="{{ active_phone.id }}">
                    <input type="text" name="first_name" placeholder="First Name" value="{{ fake.first }}">
                    <input type="text" name="surname" placeholder="Last Name" value="{{ fake.last }}">
                    <input type="email" name="email_address" placeholder="email" value="{{ fake.email }}">
                    <input type="text" name="dob" placeholder="DOB (YYYY-MM-DD)" value="{{ fake.dob }}">
                    <br>
                    <input type="text" name="house_no" placeholder="House Number">
                    <input type="text" name="address_1" placeholder="Address 1" value="{{ fake.line1 }}">
                    <input type="text" name="address_2" placeholder="Address 2" value="{{ fake.line2 }}">
                    <input type="text" name="address_3" placeholder="Address 3">
                    <input type="text" name="address_4" placeholder="Address 4">
                    <input type="text" name="postcode" placeholder="Postcode" value="{{ fake.postcode }}">
                    <br>
                    <button type="submit" class="btn btn-success">Register user</button>
                </form>
            </li>
        </ul>
        <h4>OAuth/Bearer Api</h4>
        <ul>
            <li>
                Oauth request inbound
                <a href="{{ oauthStarlingUrl }}">Request Starling summary access</a>
            </li>
            <li>User Welcome w/Starling Session
                <ol>
                    <li>
                        Ensure logged in as admin
                    </li>
                    <li>
                        {% if not valid_policy_monthly.user.enabled %}<del>{% endif %}
                        <a href="{{ url('ops_pages') }}?_impersonate={{ valid_policy_monthly.user.email }}">Ops</a> <b>(auto impersonate {{ valid_policy_monthly.user.email }})</b>
                        {% if not valid_policy_monthly.user.enabled %}</del> (user not enabled){% endif %}
                    </li>
                    <li>
                        {{ form_start(starling_form) }}
                        {{ form_widget(starling_form.set, {'fa': 'fa fa-bank', 'right': true, 'left' : true, 'attr': {'class': 'btn btn-success'}, 'label': 'Set Session Vars' }) }}
                        {{ form_end(starling_form) }}
                    </li>
                </ol>

            </li>
            <li>Bearer Api:
                <form id="bearer-form">
                    <input type="text" name="bearer" id="bearer-token">
                    <input type="button" class="btn btn-success" id="bearer-submit" value="Query User Api">
                </form>
            </li>
            <p>The resulting 'code' (from the oauth/auth URL) can be used with
                <code title="see: src/AppBundle/DataFixtures/MongoDB/d/Oauth2/LoadOauth2Data.php">client_secret=...</code> and <code>grant_type=authorization_code</code> to get a bearer token.
                You can also get the token via Postman for API tests, or create your own by writing a
                <code title="example: App\Tests\Controller\BearerApi\BearerTest::testAuthenticatedComplexUser()">\App\Tests\Traits\Oauth::newOauth2AccessToken()</code> record yourself.</p>
        </ul>
    </section>
</div>
{% endblock %}

{# {% block footer %}{% endblock %} #}
